<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.New_htmlMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.entity.New_html">
        <id column="try_catch_id" property="try_catch_id" />
        <result column="directory_id" property="directory_id" />
        <result column="sort" property="sort" />
        <result column="novel_title" property="novel_title" />
        <result column="crt_date" property="crt_date" />
    </resultMap>

</mapper>
