<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.New_htmlMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.entity.New_html">
        <result column="new_html_id" property="new_html_id" />
        <result column="sort" property="sort" />
        <result column="novel_title" property="novel_title" />
        <result column="novel_directory" property="novel_directory" />
        <result column="novel_directory_url" property="novel_directory_url" />
        <result column="novel_directory_content" property="novel_directory_content" />
        <result column="crt_date" property="crt_date" />
    </resultMap>

</mapper>
