<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第17章：又撞鬼了</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第17章：又撞鬼了
</div>
<div class="bookname">
	<h1>第17章：又撞鬼了</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第17章：又撞鬼了<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹愣了一下，小跑儿两步追上山伢子，揪着他的衣袖使劲儿一扯，把山伢子扯转了身，唬着脸大声嚷道：“你怎么这样儿啊？我一个小姑娘，这大晚上的你让我一个人走回去，碰到坏人怎么办呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子让张小莹怼得发了蒙，实际上这一路走来，别说人，连个鬼影儿都没有，但山伢子人实在，觉得张小莹说得在理，说道：“行，那我送你回去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两人往回走，走没几步，看到一个又高又壮的男人走了过来，应该是同车的人，张小莹问道：“大叔，派车来了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人看着张小莹，突然一把揪住张小莹，扯着她向旁边的林子就走。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹尖叫道：“你干什么？放开我！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子愣住了，片刻后醒过味儿来，追着喊道：“放开她！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人回身一脚踹在山伢子肚子上，把山伢子踹得倒退了五六步，仰面摔在地上，男人扯着张小莹就走。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子来了火气，也不觉得疼，一骨碌爬起来，冲上去用头撞向那个男人的后腰。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人被撞得一趔趄，回头骂道：“小X崽子你找死啊？赶紧滚，要不然我弄死你！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子大声呵斥道：“你放开她！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人露出一抹不屑的笑意，扯着张小莹又走，张小莹哭喊道：“叔儿你放过我吧，我才十六岁，叔儿我求你了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子再一次冲上去，这次没用头撞，因为撞完了他也不好受，而是用伞尖儿杵向男人的后腰。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊！”男人大叫一声，右手揪着张小莹，左手捂着后腰转回身来，一脚踹向山伢子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一次山伢子有了防备，往旁边一闪身躲了过去，然后又用伞尖儿去杵男人的肚子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人也有了防备，一甩手把张小莹搡向山伢子，两人撞到一块儿，摔倒在地上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人走过来骑在山伢子身上，左手按着山伢子的脖子，右手抡圆了抽山伢子嘴巴。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一巴掌下去，山伢子脑袋嗡的一声，鼻子里和嘴里有了血腥气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹扑上来薅男人的衣服，带着哭腔儿喊道：“你放开他！放开他！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子动不了，男人的手像铁钳子一样，怎么也掰不开，而且被按得有点儿憋气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人一巴掌接一巴掌地抽山伢子嘴巴，山伢子被打急了，破口大骂：“我入你娘！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹张嘴去咬男人的肩膀，男人一甩胳膊就把张小莹扫飞了出去，摔在一米多远的地上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子感觉胸口有一团火在烧，伸手掏向男人裆里，用力一捏。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊……”男人惨叫着歪倒在一旁，山伢子三两下儿推开他，爬起来一脚接一脚朝男人肚子上踢。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹却站了起来，沉默的看着山伢子，直到山伢子发现自己的胸口亮着红光，才猛然惊觉，退了两步，警惕的看着张小莹。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹平淡地说道：“你是第一个肯为我拼命的人……不过我很好奇，你身上带着什么东西？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;倒在地上的男人化成了一团黑气，缓缓的消散了，张小莹向山伢子走了过来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你别过来！”山伢子双手握着伞，用伞尖儿对着她，神情紧张。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹停住，看着山伢子说道：“如果那天我能遇到你，真的跟你同路，或许我就不会被人害死了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完，抬起手臂指着路的远方说道：“顺着路走，一个小时左右就能到钰县，记住，你能看见普通人看不见的东西，下回上车的时候儿看清楚，别像个傻子一样。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子愣住，难道他上错了车？刚想问，张小莹却消失了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子抱着伞转着圈儿找了一遍，空旷的山路上只有他一个人，风在呼号，雪在飘洒，哪里有晴空朗月。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子后背发凉，撒腿跑了起来，风在耳边呼号的声音，好似恶鬼的呼喊，山伢子心里越发的害怕，忍不住就开始叫媚姌。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“伢子！山伢子！”呼喊的声音迅速接近。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子停住脚步，转回身，看到媚姌向他飘来，那一瞬间，山伢子的心墙崩塌了，哭着扑向媚姌，声嘶力竭地喊道：“姌姨，我又撞鬼了……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚姌搂住他，抚着他的头安慰道：“没事儿，别怕，你怎么在这儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子抽泣着把送方友同回家的事儿，和碰上张小莹的事儿都说了一遍。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚姌蹙眉道：“这个徐四也是，怎么不叫我陪你去呐？你肯定是上错车了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”山伢子点头，他也觉得自己是上错车了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚姌说道：“行了，别哭了，风大雪大的，别再把脸冻伤了，赶紧走吧，我陪着你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一路走，媚姌把张小莹的事儿讲给山伢子听，其实张小莹在这条山路上徘徊一年多了，徐四没有管她，一方面是觉得她可怜，十六岁的女孩儿惨遭毒手，虽然凶手已经在半年前被枪毙了，但张小莹的怨气还没有散。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;另一方面，张小莹虽然搞事情，但并没有真正害人，只是把她经历的事儿演给能看到的活人看，徐四说这也是一种化解怨气的方法，让她再闹腾几年，慢慢儿消解了怨气再说。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“姌姨，那我能不能也送张小莹回家？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚姌笑得有些古怪，问道：“你为什么想送她回家？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“四叔说方友同是被执念困在了死亡地点，那张小莹也是吧？我琢磨着，要是送她回家，她是不是就没事儿了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦……”媚姌脸上那古怪的笑意消失了，说道：“她跟方友同不一样，方友同是横死，她却是惨死。方友同是‘生’的执念，而张小莹却是‘恨’的怨念，如果送她回家就能解决问题，徐四早就送她回家了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子低下头，他不懂这么多道道儿，就是想着谁都应该想回家。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚姌又说道：“另外，张小莹是厉阴，不是一般的冤鬼，处理她的事一定要谨慎，否则很容易惹出祸端来，那样就事与愿违了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“啥是厉阴？”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>