<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第113章：帅哥儿</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第113章：帅哥儿
</div>
<div class="bookname">
	<h1>第113章：帅哥儿</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第113章：帅哥儿<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;打鬼的人没有回答，而是手插着兜儿，双膝微屈，直接跳上了一侧的房顶。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;惊鸿一瞥，那是一个少年，半长的头发遮着左边的眼睛，右边的眼睛狭长而明亮，瓜子脸，皮肤白得不太正常，也不知道是不是因为光线的关系。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹咋呼道：“哇！帅哥儿！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊扭脸愕然看着她，张小莹说道：“怎么了？我不能看帅哥儿啊？我又不能给山伢子做老婆。再说了，我就是能给他做老婆，就不能看师哥儿了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“不是，是我没想到你这么花痴。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹嗤道：“哪能跟你比呀，你男朋友那么好。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊脱口说道：“我没男朋友。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹瞪着她，古芊芊这才想起来，她跟张小莹说过她有男朋友，眼珠儿转了转，想不出解释的话，就转向虎哥问道：“哎，刚才那人为什么打你？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虎哥哭丧着脸答道：“我也不知道啊，我走得好好儿的，他突然从背阴儿里蹿出来把我踹倒，然后就往死里踢我，我问他啥他都不回答。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹扯古芊芊，瞪着她问道：“你没男朋友，为什么跟我说有男朋友？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊唬着脸答道：“我就算嫁不出去，你也别想，你那个宝贝你自己留着吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹笑着问道：“我说什么了就急眼啊？我不就是问个原因嘛，怎么就招来你这一通不愿意呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嘟了下嘴，又对虎哥说道：“起来，跟我们回去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虎哥哀求道：“小姑奶奶们，你们就放了我吧，我也没干啥呀。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹一脚踹过去，踹在虎哥的嘴上，虎哥闷哼一声，用手捂住嘴看着张小莹。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹黑着脸斥道：“你还想干啥？你这张臭嘴就足够让你灰飞烟灭了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虎哥低下头，古芊芊说道：“你必须跟我回去，向饭店的人证明，你跟我没关系。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虎哥突然抬起头看着古芊芊说道：“就是你让我在饭店闹事儿的，你咋不承认呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊愣住，慌着看张小莹，急道：“我没有！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹微微眯眼，看着虎哥说道：“没想到你脑子转得还挺快，你想让我们俩打起来，你好趁机逃跑是吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊瞬间醒悟，怒道：“狡诈，真不是个东西！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹嗤了一声，说道：“你看他这个样儿，能是个什么东西。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虎哥指着古芊芊对张小莹说道：“就是她！我发誓，就是她让我去饭店闹事儿的！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹对古芊芊说道：“贼咬一口，入骨三分，他这样咬你，你说不清，山伢子那个牛脾气也不会听你解释，至少一时半会儿不会听你解释。可是我又很喜欢你，不想看到你跟山伢子顶着……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹沉默，古芊芊看着张小莹，不知道张小莹是什么打算，但很明显，张小莹的话没说完。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹想了一会儿，说道：“你灭了他吧，省得麻烦。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊和虎哥同时张大了眼睛，虎哥瞪着眼珠子嚷张小莹：“你哪头儿的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹答道：“我哪头儿的重要吗？你只需要知道，我跟你不是一头儿的就行了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊盯着张小莹问道：“你说真的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹眯眼一笑，答道：“我做人做鬼都没什么原则，谁对我好我就帮谁，我看谁顺眼就帮谁，反正我也是被人害死的，不会在意任何与我无关的人或鬼。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虎哥跳起来转身，张小莹快他一步闪到他面前，一脚踹在他裆里。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虎哥惨叫着跪在了地上，双手捂着下体，头抵在地上，张小莹笑眯眯地对古芊芊说道：“高度正合适，你要不要试试？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱着眉头咬住了嘴唇儿，张小莹说道：“别皱眉，我当年要是有今天的狠劲儿，可能就不会被人害死了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊迟疑着说道：“可是，也不能就这样无缘无故地灭掉一只鬼吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹说道：“怎么是无缘无故？他诬陷你，想挑拨咱们打起来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虎哥咬着牙说道：“我说实话，没人指使我，我就是想收点儿保护费，我生前就是收保护费的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹问道：“你怎么死的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虎哥答道：“警察打黑，我拒捕，还砍伤了警察，逃跑时被警察开枪打死的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹厉声斥道：“以后不要再到饭店来，否则你就永远消失！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虎哥连声答应：“是，是，我知道了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹斥道：“滚！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虎哥费力地站起来，往前蹭了两步，张小莹一脚踹过去，再次斥道：“快滚！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虎哥捂着下体跑掉了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹拉住古芊芊的手说道：“行了，事儿办完了，我送你回家。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊心里对张小莹的好感又提升了，握着她的手走了一段路，问道：“你为什么不跟山伢子结冥婚？他那么喜欢你，你只要点头，他肯定愿意的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹仰头看了看夜空，片刻后转头看着古芊芊问道：“你有没有喜欢的人？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊浅笑着摇了摇头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹说道：“等哪天你有了真心喜欢的人，跟我换位思考一下，再想想你今天的这个问题。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”古芊芊答应，但不太明白张小莹的意思，换位思考？跟人也许可以换位思考，跟鬼怎么换位思考？有些事是一样的吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过古芊芊没有问，而是转了话题，问道：“小莹姐，你觉得刚才打鬼的那个人……会是什么人？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹反问道：“他有灵石吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊摇头，答道：“没注意。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹古怪地笑，问道：“那你注意什么了？也在看帅哥儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊严肃地说道：“没有，我见他打鬼的时候下手那么狠，我怕他看见你也会来打你，我只是专注地准备跟他动手。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹笑容一滞，伸手搂住她说道：“傻丫头，你都没学过功夫，怎么跟人家打架呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嘟了下嘴，答道：“当时没想那么多，反正咱俩都有灵石嘛，再说，我又不是鬼，他还能打我吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹摇头，意味深长地说道：“那可真不一定。”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>