<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第517章：不说</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第517章：不说
</div>
<div class="bookname">
	<h1>第517章：不说</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第517章：不说<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一直没有失去自主意志，每个人说的话他都听得很清楚，虽然对唐召义喜欢古芊芊这个事实较恼火，但他也承认洪拓说得有道理。,。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;涌入身体的热流已经变淡了，山伢子松开了手，身的红光迅速褪去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;见红光消散，韩慕灵没有急着走，而是警惕地观察山伢子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“妈，我没事儿，我是……把他吸干了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵皱眉，其他人走了过来，看到欧阳埁已经变成了一具干尸。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;没人说话，都盯着地的干尸，山伢子心里说不清是个什么感觉，只是不停地眨着眼睛。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓问山伢子：“你刚才什么感觉？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“是有股热流顺着手臂进到身体里，‘挺’舒服的，我没控制住。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓又问道：“你现在有什么感觉？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子沉默了片刻，感应了一下，答道：“没感觉。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧突然问道：“你在仙茗山遇到的干尸，是不是是这个样子？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯！”山伢子重重地点头，答道：“是，是这个样子。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊问道：“他的魂呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子猛然醒悟，都这么半天了，魂怎么没浮起来，蹲下身扒开欧阳埁的眼皮看了看，然后用诧异的目光扫视众人，说道：“没了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵皱了下眉头，说道：“没了更好，省得麻烦，你们走吧，我叫人来善后。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;回饭店的路，古芊芊跟霍晓荧隔一会儿观察山伢子一下，山伢子说道：“我没事儿，你们不用担心，我是心里有点儿别扭。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两人不说话，虽然本来是要‘弄’死欧阳埁，但山伢子‘弄’死欧阳埁的方法太特异了，把人吸成干尸？这算哪‘门’子的功法？山伢子跟谁学的？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过霍晓荧和古芊芊都没有问，因为很明显山伢子自己对这件事也很震惊，管他呐，选择了一个人是选择了一种生活方式，不管是康庄大道，还是绝路险峰，只要自己还是既得利益者，要坚定地走下去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杨‘玉’蝶的事，山伢子不让霍晓荧管了，反正唐召义有怜香惜‘玉’的闲心，让他去管好了，最重要的原因，山伢子觉得欧阳埁的事只是开了个头儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他真的没想‘弄’死欧阳埁，虽然他想‘弄’死，但他真不是故意‘弄’死的，对于这场意外，山伢子理不清头绪，但欧阳埁是不会这么白死的，莫家尚且折腾了多半年，凭欧阳埁的本事，恐怕他的家族势力更大、更麻烦。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓回了趟‘门’派，把这件事告诉了掌‘门’道清，两人一起翻各种藏书典籍，最终却一无所获。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;道清给出两个可能‘性’让洪拓自己选择，一是火行石吸收了欧阳埁的命力、法力、气血。二是山伢子自主‘性’地生出了一种吸收转化的功法。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓皱眉问道：“真的可以自主生出功法？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;道清答道：“天地鸿‘蒙’，万物同源，这没什么可怪的，只是很难做到而已，你这个小朋友……不一般呐！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;过了两天，山伢子缓过劲儿来，才想起来问霍晓荧，那个长生是怎么回事儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧告诉他和古芊芊，她被打落黄泉以后，顺着路走遇见了长生，当时长生坐在地，背靠着那堵矮墙，满脸的忧伤凄楚。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧走过去问他，怎么才能离开这里，长生反问她为什么要离开，既然是鬼，又进了黄泉，怎么又想离开？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧不知道为什么，对长生有一种莫名的信任感，把自己的情况告诉了长生。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;长生说试验一下，如果山伢子肯下来找她，回去，否则，还不如去投胎转世，再入轮回。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“停！”古芊芊不高兴地瞪着霍晓荧说道：“我不听了，我去找四婶儿，你好好儿跟伢子说吧，反正我是小老婆。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完站起身走了，霍晓荧有些尴尬，她有很多话不能说，所以截去了一大段，她这种跳跃式的陈述，连她自己都觉得别扭。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子也没拦古芊芊，等古芊芊走了以后，搂住霍晓荧轻声问道：“到底怎么了？能跟我说说吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧靠在他怀里，轻声说道：“我不想让你们知道我想起了什么，反正当时我是不想回来了，也不完全是因为芊芊，但是长生劝我，说宿世轮转之，爱恨情仇皆是缘分。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“他在我身施了术，让你不能招我回去，说如果你肯下来找我，让我放下过往，跟你欢度一世，如果你不能或是不肯下来找我，随我去留，时限是七天。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧‘露’出笑容，看着山伢子说道：“我没想到，不到半天你来了，更没有想到，芊芊也会陪着你来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉说道：“你咋会没想到呐？不论前世是啥样儿，今生咱们是夫妻呀。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧凑到他‘唇’边啄了一下，娇俏地说道：“前世也是。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子满眼惊喜地看着她，霍晓荧抢先说道：“你别问我，我不会告诉你的，长生说，无论是谁，也不管是得道成仙，还是重入轮回，迟早会想起过往，到时候你自然知道了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子又皱眉，霍晓荧又说道：“如果我告诉你了，让你不要告诉芊芊，你怎么办？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子张了下嘴，但没有发生声音，只是把眉头皱得更紧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“对吧？芊芊要是问你，你不说是对她不忠，说了是对我不忠，猪八戒照镜子，里外不是人，还不如压根儿不知道。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;打烊回了家，古芊芊拉着山伢子睡觉，搂着山伢子的脖子撒娇：“老公~告诉我，我姐跟你说什么了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“她不告诉我。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊瞬间冷了脸，嗔道：“那屋儿睡去！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子把她压在身下，笑着说道：“我没骗你，晓荧说了，她不能告诉我，否则你问我，我要是不说，是对你不忠，要是说了，是对她不忠，还不如压根儿不知道。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉，这话真对，可是……古芊芊闹腾：“哎呀~烦死了！到底怎么回事嘛，你去问！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子笑着说道：“没用的，她不想说的事，谁也问不出来，别‘浪’费时间了……”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>