<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第174章：求人</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第174章：求人
</div>
<div class="bookname">
	<h1>第174章：求人</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;??&quot;第174章：求人<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一觉醒来，徐四洗漱之后就盘坐在床上闭目打坐，姜悦玲也不敢吵他，就去山伢子的卧室找张小莹，两人一人一个耳机看鬼片儿，吓得姜悦玲死死地抱着张小莹。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹嗔道：“你够了啊！你自己就是鬼。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜悦玲不放手，声音发颤地说道：“你还是厉阴呐，电影里的鬼比你可怕十倍！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四在那屋儿喊道：“别吵吵！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四心情浮躁，用心找？怎么用心找啊？从来就没试过，怎么知道什么样的感觉算是找着了啊？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;电话响，山伢子打来的，徐四接起来直接吼道：“干啥？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一愣，蒙住了，徐四又吼道：“说话！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“我在火车上，回莫林市。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四问道：“就这事儿啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊。”山伢子答应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四直接挂断了电话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹推开门儿，说道：“干爹，要不去找一下灵姨吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四叹了口气，答道：“芊芊高考呐，你灵姨哪有心思啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹说道：“那就等两天儿呗，反正八卦镜又不是冰激凌，搁两天儿也化不了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”徐四心不在焉地答应了一声，又说道：“你去玩儿吧，我再试试。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子晚上七点多到的家，张小莹惊喜地搂住他的脖子嗔道：“回来怎么也不告诉我一声儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子轻声答道：“我给师父打电话，他好像在生气，我就没敢再给你打，怕你电话一响，师父再呲哒你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹眯眼笑，拉着山伢子进屋儿，姜悦玲说道：“嫁了吧，好得都快跟一个人儿似的了，还别扭什么呀。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹斜着眼儿瞪了姜悦玲一眼，拉着山伢子进了卧室。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;听完张小莹的话，山伢子皱起了眉头，用心找？那怎么找？也没说个法子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹轻声问道：“你说我给芊芊打个电话行不行？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子摇头，说道：“没用，芊芊跟韩姨都不懂法术，要不……我给屈老打个电话？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹点头：“也行。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子又问道：“那用不用先问问师父啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹琢磨了一下，轻声问道：“你怕干爹好面子啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子愕然问道：“你咋还叫上干爹了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹答道：“他让我叫的，想孩子想疯了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子笑，说道：“那你不就是我小师妹了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹搥了他一下儿，嗔道：“说正事儿呐，你给我正经点儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子咧了咧嘴，一边儿揉着软肋一边儿问道：“师父干啥呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹答道：“坐佛呐，坐一天了，中午连饭都没吃。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子站起来说道：“我去问问。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;到了徐四房门口儿，山伢子轻轻地敲了两下门，徐四在屋里问道：“啥事儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“师父我回来了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“废话！”徐四明显肝火冲顶。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子轻轻推开门，看到徐四盘坐在床上，一脸的煞气，就轻声说道：“师父，要不我给屈老打个电话问问？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四没说话，腮帮子鼓了两下，像是在暗暗咬牙。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子等了一会儿，又说道：“师父……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹一把将他扯到身后，然后伸手关上了房门。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“你干啥呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“猪脑子，跟我回屋儿。”张小莹扯着他向大门走。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子又问道：“上哪儿去？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹恶狠狠地龇牙，轻声斥道：“闭嘴！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;下了楼，张小莹才用手戳着山伢子脑袋说道：“十八了，还不长心眼儿，饭桶一个！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，说道：“啥事儿啊？你又骂我。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹说道：“干爹没说话，却暗暗咬牙，为啥？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子琢磨了一下，答道：“不知道。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹气乐了，说道：“我知道神仙为啥来渡你了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“为啥？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹吼道：“因为你傻！让你干啥就只知道干啥，从来不用脑子想，把你这种傻子捡回去，又好教又好管，实在修不成仙，还能烧茶煮饭，打扫庭院！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子不高兴了，就说是把她当媳妇儿一样看待，可总这么骂，心里也不痛快。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹嘟了嘟嘴，扳着他的脸扭过来，看着他嗔道：“脑子不好使，脾气倒不小，好了，我错了，我以后尽量不骂你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹告诉山伢子，徐四心里有气，首先，在靠山镇，徐四的名号就是镇山石，根本就不可能有人敢抢他的东西。但此一时彼一时，到了莫林市，突然间威风扫地，搁谁都会心里难受。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其次，要去求人。以前不知道，但打从认识山伢子，张小莹就没见过徐四求人，这个落差比威风扫地更严重。但不求人又不行，自己找不回来，徐四已经努力了一天了，除了脾气越来越大之外，啥都没改变。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以徐四不说话，不说话的意思就是默许，让山伢子以晚辈的身份去请屈长寿帮忙儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子明白了，掏出手机说道：“我给屈老打电话。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹一把抢过电话，张了下嘴，然后闭上眼睛压了压火儿，说道：“你跟屈长寿差两辈儿，又是求人家帮忙儿，应该去当面儿说，打个车，我陪你去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈长寿一如既往的和蔼、慈祥、热情，听完山伢子的话，屈长寿给山伢子解释，所说的万物有灵，这个‘灵’字的含义很广，并不是单纯就指灵魂的意思。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;灵，更贴切的说法应该是‘性状及能量源’，当然，道家讲究悟性，而且道家比较牛，所以道家管这个叫灵，就这么传承下来了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说到这里，屈长寿停顿了一下，呵呵一笑，又说道：“有人说万物有灵是外国的哲学家提出的，其实道家在很久很久以前就有过这样的论证，只不过道家太过于超然物外了，真正的道家不喜欢跟凡人说废话，你信就信，不信就拉倒，人家没有闲工儿夫给你解释，更不会跟你争论什么。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子若有所思地点头，来渡他的那位老神仙就是这样，他说不愿意修仙，人家立马就放他回来了，再想找都没地儿找去。&quot;<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;，更多精彩阅读，哦。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;手机站:
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>