<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第599章：催眠</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第599章：催眠
</div>
<div class="bookname">
	<h1>第599章：催眠</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第599章：催眠<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“催眠术不是得面对面才能使用吗？那天天有人给她催眠，她自己不知道啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“催眠术也是从法术演变而来的，高端的催眠术其实已经近乎于法术了，只要催眠一次，可以长时间起作用，甚至被催眠者都不知道自己被催眠了。,。请看最全！的小说!”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“如果是催眠术的话，那应该不是素茗吧？他那么高的法力，应该不屑于去学催眠术吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“这可不一定，催眠术咋了？别把窝头不当干粮，催眠术也厉害着呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“要真是催眠术的话，咱妈认识一位心理医生，应该带‘花’梦容去看看。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧对山伢子说道：“你去跟‘花’梦容说。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子愕然问道：“咋说呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧答道：“实话实说，说带她看心理医生。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子站起来往外走，到‘门’口又转回身说道：“我想起一事儿，催眠对魂力觉醒有没有帮助？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧说道：不行，魂力觉醒需要‘肉’身强悍，如果用催眠术强行促使魂力觉醒，你们的‘肉’身承受不了过剩的法力，极有可能会爆裂。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子答应一声，开‘门’出去了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊跟霍晓荧对视一眼，问安婧：“你说啥了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子回到包间，‘花’梦容正捧着菜盆喝汤，一见他进来，连忙放下菜盘，满脸尴尬地嗔道：“不会敲‘门’呐？一点礼貌都没有！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，不是喝个汤被看见了嘛，美‘女’是爱矫情，说道：“那什么……你……等会儿，我还得问一下。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子转身又走了，回套房问古芊芊：“什么时间去看呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊拿出手机打给韩慕灵，问完之后说道：“工作日早九点到晚十一点，哪天都行。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子又回了包间，问‘花’梦容：“你哪天有空儿，我媳‘妇’儿带你去看心理医生。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;‘花’梦容瞬间冷了脸，瞪着他不说话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子赶紧解释：“不是，你听我说，刚才我们分析了一下……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子把刚才他们分析的情况说了一遍，‘花’梦容的脸‘色’缓和了下来，说道：“后天下午吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;定好了时间，山伢子回套房跟古芊芊说，古芊芊嗔道：“我不去！我哪有那闲工夫，你自己带着去吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉问道：“那你跟家待着呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嗔道：“什么叫待着？我修炼不行啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“别招她了，我陪你去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;XX心理研究心，杜医师，男‘性’，四十岁左右，五官棱角分明，个子很高，身材适，短发偏分，说话气十足，态度温和。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;‘交’谈的时候‘花’梦容有点儿紧张，握着山伢子的手不放，山伢子虽然有些尴尬，但出于怜香惜‘玉’的心态，也没有推开她的手。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;听完了山伢子的叙述，杜医师微微皱眉，静默了一会儿才看着山伢子说道：“我是心理医生，从专业角度来讲，我认为你才应该接受治疗。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧和‘花’梦容同时失笑，山伢子皱眉，杜医师又说道：“不过你岳母给我打电话的时候说得很清楚，虽然我不是很相信，但我会用我的专业技能尝试一下。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完又看着‘花’梦容说道：“作为医生，我有责任提醒你，接受催眠以后，你的意识不受自己控制，可能会说出很多隐‘私’问题，你确定要让石先生一起听吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;‘花’梦容有些迟疑地看着山伢子，山伢子诚恳地说道：“这件事只有我有办法解决，我必须知道所有的细节。你放心，我是好人，我绝对不会泄‘露’你的隐‘私’。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;‘花’梦容又纠结了一会儿，才对杜医师说道：“我确定。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杜医师说道：“那好，你躺到沙发，我给你催眠。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;催眠的过程既简单又迅速，山伢子还没看明白，杜医师说道：“你可以提问了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子茫然问道：“咋问呐？问啥呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杜医师想了一下，问道：“你想知道什么细节？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“我想知道她是不是碰了什么人，是谁给她催眠的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杜医师摇了摇头，说道：“这个问题太笼统了，无法得到准确的答案。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“问她第一次见到你是什么时候。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子刚要开口问，‘花’梦容却木讷地说道：“X月15号，我下班以后去了食味小厨，那天他穿着一件紧身无袖T恤，身材健美，长得也很高大帅气，只是可惜工作不太好……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;‘花’梦容絮絮叨叨地说着她初见山伢子时的心理状态，杜医师皱着眉头听，他不理解的是，为什么没有人提问，‘花’梦容自己说开了？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子却明白，‘花’梦容是听到了他跟霍晓荧的对话，可能是被催眠的原因吧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧走到沙发旁边，看着‘花’梦容问道：“虽然你觉得石庆山的工作不好，但你心里是喜欢他的，对吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;‘花’梦容答道：“对。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧又问道：“那你吃完了饭去哪儿了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;‘花’梦容答道：“直接回家了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧又问道：“回家以后你做什么了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;‘花’梦容答道：“洗澡，然后看了会儿电视，再然后看书学X语。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杜医师皱紧了眉头，问山伢子：“请问，你是在用心灵感应对她提问吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊……”山伢子纠结了一下，答道：“算是吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧想了一下，问道：“你知道你长得很漂亮吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;‘花’梦容答道：“知道。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧又问道：“那你为什么没有男朋友？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;‘花’梦容答道：“没有遇到合适的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧又问道：“你父母呐？你为什么自己一个人住？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;‘花’梦容答道：“我不是一个人住，我父母都出差了，爸爸去X国参加研讨会，妈妈去京都进修。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧又问道：“你没有大学吗？你是做什么工作的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;‘花’梦容答道：“我不喜欢学，我觉得学校教的东西太杂了，我只喜欢学习各国语言，包括古代语言，我在XX语言研究所班，是我爸爸给我找的工作，给一位导师做助理。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;的小说站！
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>