<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第274章：玩儿消失</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第274章：玩儿消失
</div>
<div class="bookname">
	<h1>第274章：玩儿消失</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第274章：玩儿消失<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尚亚坤紧张地问道：“小龙哥，你不会跟我收房租吧？咱可是兄弟呀！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙斥道：“有你什么事儿，一边儿待着去！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧跟山伢子说：“让他租去，反正咱也不用那套房，搁着也是搁着，老有人住还能长人气儿，没啥不好的，等将来爹跟天心要来再说。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子对潘小龙说道：“你折腾吧，将来我爹和天心来的时候，你给我腾出来就行。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙两眼放光地说道：“那必须的！师兄，你多少钱租给我？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧抢着说道：“让他看着给，但租房合同必须签好，免得万一出了事儿，你空口无凭。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，说道：“待会儿你跟他说吧，我都不懂，这么着传话儿也累得慌。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙跟霍晓荧一起用白眼儿翻他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿笑出声儿来，霍晓荧回头嗔道：“笑什么笑，可是你找了个精明的！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿走过来拉住霍晓荧，坠后山伢子几步，才凑到她耳边轻声说道：“换呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧斜眼儿看她，桃花儿笑：“你又不愿意，还那么啰嗦。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嘟嘴，桃花儿说她：“你这算不算矫情？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;去了扎纸黄的房子，潘小龙各屋蹿着看，边看边叨咕：“这房子有点儿老啊……是集暖吗？物业费多少钱？冬天暖气怎么样？这个地段儿好不好？周围有没有大型写字楼？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧斥道：“闭嘴！老娘们儿，谁有闲工儿夫知道这些事儿，自己查去！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙说道：“张小莹，你过来，咱俩谈谈合同。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“不用签合同，刚才我想了一下，你给我写个字据，这个房子我借给你住。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙皱眉，问道：“你啥意思？怕担事儿啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧答道：“对呀，你这人不靠谱儿，我们家也不差那俩钱儿，房子借给你，爱怎么折腾随你便，出了事儿你自己担着。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙说道：“你知道这房子一个月能租多少钱吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧答道：“我知道，但我没那闲心，伢子更没那闲心，你少废话，要么写字据，要么就拉倒。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙大声说道：“师兄，你听见了，这可是你媳妇儿说的啊，可不是我存心占你便宜。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”山伢子心不在焉的答应，翻看着一本影集。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;影集是在床底下找到的，用一块儿花布包着，上面落满了灰，看起来有年头儿没动过了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;影像的前三页都是三个人的合照，一对夫妻跟一个孩子，但是从第四页开始，就只是一个人的照片，少年、青年、中年、老年。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一页一页地看，心里逐渐开始发酸，为什么一个人要活得这么孤单？这样一个孤单的人，留给他一套房子，还有倾尽毕生心血的手艺，那他是不是应该学好、用好？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“看什么呐？”霍晓荧走过来坐在山伢子身边，歪着头看了他一眼，伸出手指沾了一下他的眼角，问道：“咋了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子把影集往她腿上放了放，答道：“黄老的影集。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧从后往前翻，翻到三人的合照时，霍晓荧又看山伢子，说道：“你想干什么我都支持你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子摇头，说道：“不想干什么，就是想抽时间把黄老留下的手艺练好。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“我去学扎纸，你好好儿在饭店当班儿，我去学还方便，我学完了回来教你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子愕然看着她，霍晓荧说道：“就是手工嘛，你小时候没做过呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子摇头，答道：“没有。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧笑，说道：“我教你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;收拾完屋子回到饭店，霍晓荧问史晋：“洪拓回来没有？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;史晋摇头，霍晓荧皱眉嘟囔道：“潜逃了？探听着什么消息了？昨天也没说啥呀。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿说道：“他不是坏人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧看着她问道：“你是告诉我，还是说给你自己听？什么都是他自己说的，咱们谁知道他底细？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿皱眉，脸色有点儿阴暗。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;史晋说道：“不至于吧？又没到上班儿时间，人家还不能出去溜溜吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嗤道：“桃花儿在这儿，他上哪儿溜去？再说了，去哪儿溜能溜一天呐？他又不是活人，还是个男的，你会出去溜一天吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;史晋表情复杂地变换了几回脸色，转身走了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿明显郁闷了，这人也是，去哪儿怎么也不说一声儿？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;晚十点半，洪拓还是没有回来，桃花儿心里着急，却又不敢说，双手攥在一起用力地搓，坐立不安。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧走过来，握住她的手劝慰道：“不用担心，他那么大个人，不会有事儿的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿看着霍晓荧，眼神中有凄楚也有疑惑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“我呐……岁数虽然不大，但经的事儿却很多，所以有点儿草木皆兵，其实我也仔细想了，他跟我们八杆子打不着，犯不上削尖了脑袋往上凑，他应该就是单纯为了你才来做服务员的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿愁眉不展，说道：“你说他能走哪儿？也不跟人说一声儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嗤笑道：“你还有脸说别人？上回你不也是走了好几天才回来吗？你知道伢子他爹多担心你吗？天天从地里回来，就搬个小板凳儿坐院子里等着。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿咬住了嘴唇儿，纠结了一会儿才说道：“嫂子，我想回家陪李叔儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧沉默了片刻，拉着她走到一张桌子边坐下，说道：“我知道你有孝心，但毕竟人鬼殊途，况且我觉得吧……有天心在爹身边儿就行了，爹要是觉得闷，他可以再找个老伴儿嘛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿沉默着点头，霍晓荧说得也对。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我回来了。”洪拓出现在楼梯口儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿沉着脸瞪着他，洪拓赶紧走过来坐下，看着桃花儿说道：“我回了趟师门，本来想着中午就能回来，没想到耽搁到现在，着急了吧？是我不对，下回我再出门儿，就跟史晋或是老齐说一声儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿依然沉着脸，但眼中已经有了笑意。
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>