<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第287章：憨不等于傻</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第287章：憨不等于傻
</div>
<div class="bookname">
	<h1>第287章：憨不等于傻</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;&quot;第287章：憨不等于傻<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧唬着脸轻扇山伢子的脸，嗔道：“今天才想起来跟我说实话？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子嘿嘿笑了两声，答道：“以前不敢说嘛，怕你一生气跑了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子告诉霍晓荧，其实漂亮女孩儿谁都喜欢，所谓爱美之心人皆有之，只要不傻不苶，肯定会活动心思。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;最开始的时候，山伢子是动过这个心思，但是夏歆雨太柔弱了，真不合适，他们这差不多跟刀尖儿上舔血一样的过日子，拉上个瓷娃娃一样的大姑娘，除了累赘啥也干不了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“扯淡！”霍晓荧嗔道：“芊芊不是更娇气？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“那不一样，芊芊娇气是后来才发现的，一开始她多虎啊！说干架就干架，而且灵姨也厉害呀。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧问他：“是歆雨爸妈找你谈过之后，你才彻底绝了对歆雨的念想吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子又嘿嘿笑了两声，点头答道：“嗯！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧乜斜着他斥道：“就知道你是装相儿！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子笑，伸手要关灯，霍晓荧攥住他手腕说道：“别动！想蒙混过关呐？我问你，是不是想连歆雨也娶了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，反问道：“你觉得可能吗？媳妇儿，就你这聪明脑瓜儿，难道不明白灵姨是怎么想的吗？能让我娶你，是古家最大的让步了，如果我不是火行石宿主，我就是只给芊芊提鞋，灵姨都不会答应。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧愕然看着山伢子，这是她认识的那个山伢子吗？别是鬼上身了吧？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子又说道：“我是憨，可我不傻，好多事儿我当时反应不过来，可过后我会想啊。你说我一山沟儿里出来的穷小子，要钱没钱，要关系没关系，人家芊芊是什么人，就算没有灵石，人家也是娇生惯养的大小姐，为啥愿意给我当媳妇儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子叹了口气，沉默了一会儿才接着说道：“芊芊喜欢我只是一个前提，但真正能决定结果的人是灵姨，你想想，灵姨三番四次地把芊芊关在家里，手机也关机，这还不明显吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧抚着他的脸说道：“伢子，芊芊可没你想得这么复杂，她很单纯的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“我知道，她要不单纯，也不会喜欢我，还是那个话，除了火行石，我啥都没有，她喜欢我，一个原因应该是我替她挡了一次劫难，另一个原因，可能是觉得我对你好，她觉得我踏实。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“灵姨也是为芊芊好，毕竟她是芊芊的妈妈。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子笑了笑，说道：“这个我也懂，就像歆雨的父母一样，都是为孩子好嘛，只不过歆雨的父母是想远离我，而灵姨是想接近我。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子顿了一下，看着霍晓荧说道：“芊芊去钰县，让你戴水行石，而后主动提出让咱们结婚，这应该都是灵姨授意的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“灵姨在那时候就怀疑你是木行本质了，水火虽然可以既济，但始安终乱，你是木行，水成木，木生火，这样就稳定了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“而且水克火，芊芊是大小姐，我是土包子，我肯定得惯着她，将来不说当牛做马，可也差不到哪儿去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子吁了口气，幽幽说道：“古家现在也是势单力孤，咱们一没背景，二没权势，不仅是单纯好交往，而且更好控制。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧瞠目结舌地看着山伢子，山伢子这番话惊着她的，能想到这个层面，已经不单纯是把事情相通，而是想透了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧看着他郑重地问道：“那你对芊芊的感情是真的吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“是真的呀，白捡一漂亮媳妇儿，不是挺好的嘛？原来我是怕你伤心，所以我没打算跟谁好，也就是对歆雨活动了一下心思，可后来你不是说你想要孩子吗？那……歆雨的父母不愿意，灵姨愿意，那我就跟芊芊好呗。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;手机站:
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>