<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第236章：别跟别人比</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第236章：别跟别人比
</div>
<div class="bookname">
	<h1>第236章：别跟别人比</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第236章：别跟别人比<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙皱着眉头粗重地叹气，连师父都娶了个年轻漂亮的女鬼做媳妇，就他没人要，犯太岁是怎么着？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子劝道：“小龙哥，练功不要急，欲速则不达。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“达你妹！”潘小龙说道：“我是愁媳妇儿！你看你跟师父美的，你再看看我！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，说道：“那你找女朋友啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙嚷道：“找谁？舒静跟了沐航，歆雨因为恨你，把我都拉黑了，你说我还找谁？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧斥道：“你上学认识那么多女孩儿，你为啥不找？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙嚷道：“媳妇儿能随便找吗？那你咋不给你老公随便找一个呐？为啥就盯上芊芊了？还把歆雨给甩了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧瞪眼要揍他，被山伢子抱住，劝道：“都结婚了，别再像孩子一样斗气了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;门拉开，姜悦玲说道：“都进来，你们师父叫你们呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子对潘小龙说道：“进去吧，师父叫呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我知道！”潘小龙跟吃了枪药似的：“门都开了，当然是叫进去！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子也不跟他计较，抱着霍晓荧，连拉带拽地进了经理办公室。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子心里明白，潘小龙不是个气人有，笑人无的人，只不过，潘小龙一直觉得自己很优秀，至少是比山伢子优秀，结果现在样样都比不上山伢子，难免心里屈得慌。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四着重嘱咐霍晓荧，把所有的注意事项都讲清，然后让霍晓荧跟山伢子走了，又让姜悦玲出去，问潘小龙：“你咋回事儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙低着头，有点儿心虚地答道：“中午饭吃多了，食火旺。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“没行下春风，望不来秋雨，伢子能有今天，那是命，命是天定的，谁都没办法，就像沐航，一生下来就是有钱人家的公子，就像伢子和芊芊，一生下来就是灵石宿主。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙说道：“我知道。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你不知道。”徐四接着说道：“有句老话儿，叫心比天高，命比纸薄，说得就是你这种人。你觉得你样样都比伢子强，但你根本不知道伢子到底有多强，今天我就跟你说句实话，他已经比我都强了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙愕然抬起头看着徐四，徐四说道：“很多事情你不知道，在你看来，伢子还是那个憨货，但实际上，他早就化茧成蝶了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四看着潘小龙，郑重地说道：“我告诉你，你记住喽，你不要跟任何人比，就跟你自己比，今天比昨天强，今年比去年强，刹下心来，踏踏实实地修炼，认认真真地交朋友，你会得到你应该得到的一切。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子跟霍晓荧又到了卢自强家，屋里还是那么黑，山伢子照了顶棚照地面，发现在客厅通往卧室的小门廊正中的地板上，有一个玻璃球大小的黑色图案。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子赶紧照下来，直接发给徐四，然后又一边照着地板，一边走向阳台，到窗帘边，‘唰’的一声扯开厚窗帘，阳光陡然照进了屋里。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“呜……”纤细而低沉的呜咽声，山伢子和霍晓荧同时回头，看到几缕微弱的烟气升起，在强烈的光线中化为乌有。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧让山伢子站到客厅灯底下，然后飘起来踩着山伢子的肩膀，说道：“低头。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子低下头，霍晓荧用灰铲子一通铲，把顶棚上的图案全都铲掉了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一边糊拉头发一边问道：“为啥非得让我在底下接灰呀？你飘着不就能铲吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嘟嘴，说道：“飘着累嘛，反正就是点儿灰，回家洗个澡不就行了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子说道：“你飘着还累呀，我都不知道。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧帮他把肩膀上的灰掸了掸，说道：“魂力和体力是一样的，虽然比体力要持久，但也还是会累。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子若有所思，眨巴了两下眼睛，霍晓荧扇他，嗔道：“又想啥呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“我在想，要是这样的话，那碰上一个厉鬼，就保存体力跟它耗，耗得久了就能打过了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧脸上一红，原来是她自己想歪了，嗔道：“别扯犊子了，不花体力你拿啥跟它耗？赶紧查卧室去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，边走边说道：“咋叫扯犊子呐？我说得不是正事儿吗？虽然想得不太周到吧……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“闭嘴！”霍晓荧更尴尬了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子停步，一脸恍然地问道：“刚才你想啥呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“讨厌！讨厌！讨厌！”霍晓荧红着脸捶他，山伢子嘿嘿笑，一个阴冷的声音突然响起：“滚回家秀恩爱去！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;火行石亮起红光，两人同时看过去，赵美蓉黑着脸站在北边卧室门口。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子从兜里掏出铜钱剑甩直，赵美蓉露出一抹阴笑，一步迈到了那个玻璃球大小的图案上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵美蓉消失了，眼前的景物陡然开始扭曲，整个空间荡起了水波纹，所有能看到的东西都在忽忽悠悠地颤动着，空间开始膨胀。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧用左手握住山伢子的左手，转过身问道：“你那边看到什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“卧室和厕所。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“拿剑劈。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问：“往哪儿劈？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧答道：“除了你和我，想往哪儿劈往哪儿劈。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一剑挥出去，‘嘭’的一声，整个空间都颤动了一下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧斥道：“没吃饭呐？还是这段儿时间把体力都耗没了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子脸上一红，收摄心神，火行石红光大盛，铜钱剑也瞬间通体发红。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;再一剑挥出，‘呲’的一声轻响，就像用极快的剪刀截纸发出的声音，整个空间像撒了气的皮球一样，明显的收缩，片刻后，景物恢复了正常的样子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“怎么可能！为什么会这样？”赵美蓉满脸惊愕地看着山伢子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧转回身，嘲讽地说道：“外国的这种破烂货，也就你觉得管用。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵美蓉倏然退回了北边的卧室，厉声斥道：“有种进来！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子刚一迈步，霍晓荧扯了他一下，轻声说道：“别轻敌，稳着点儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”山伢子答应，缓步走向门帘，用铜钱剑挑起门帘，看到卧室里一片漆黑。
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>