<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第659章：住店</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第659章：住店
</div>
<div class="bookname">
	<h1>第659章：住店</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第659章：住店<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊微笑着答道：“咱们又不是去旅游，咱们要横越乌拉山脉，那个地方普通人是过不去的，所以不会有人查护照。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子嘿嘿一笑，开车上路。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;开了小半天，日落时下了高速，进了庆喜市区，这是位于莫林市东北方向的一座小城市，天还没有黑透，街面上已经不见了行人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;按照导航到了一个商务酒店，山伢子要六人间，前台服务员很热情，跟山伢子说六人间太贵，他们只有四个人，要个四人间就足够了，而且房间里都有床帘，间距也很大。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子没法解释，只能坚持要六人间，服务员却变得有些言辞闪烁，说只剩一个六人间，而且是在楼层角落里，位置不好。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“没事儿，我们只是路过，就是睡个觉，睡醒了就走。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;服务员很不情愿地拿了房卡，然后拿了一支筷子长的香，说道：“那间房很久没人住了，你们先在沙发上坐一会儿，我去熏下房间。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“你光拿个香有啥用？你这是一支香，不是敬神用，你还得拿个小碗儿，碗里装上米，把香插在碗里，放在房间门口或是西南角，你要不懂就别瞎弄，反倒容易招事儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;服务员愕然看着山伢子，问道：“请问您是？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“我就是个过路的，懂点儿乱七八糟的东西，把门卡给我。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;服务员目光异样地将门卡递给山伢子，山伢子接过门卡说道：“不管听见什么动静，都别过来敲门，听见没？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;服务员愕然问道：“那你们”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“你不用管，要是明天中午十二点我们还没下来退房，你就报警。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”服务员有些木讷地答应，目送他们一行人上了楼梯。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;服务员倒没有瞎说，这间房的确是在四楼最里边，打开门，扑面一股焚香的味道，进了屋开了灯，看到床铺整洁，也没有感觉到过重的阴气或是什么特异的气息。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容抱着安婧的胳膊说道：“陪我去洗手间。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧说道：“自己去，又不是在野外。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容嗔道：“我害怕，你陪我去！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧跟着她朝洗手间走，山伢子说道：你怎么这么惯着她？她又不是小孩儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧头也不回地怼道：那你说她呀，她是你徒弟。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子不说话了，坐到靠门的床上说道：“我睡这张床。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧嗔道：就会说我。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊扫视房间，进门处是个向内的凹陷，六张床四横两竖，门对面的墙上挂着一幅一米多长，半米高的人物抽象画。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊一向欣赏不来这种画风，更何况现在觉醒了魂力，就更对这种画风接受无能了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过这幅画却引起了古芊芊的注意，画上是个少女，不好看，而且脸都被风吹散了，但一双眼眸却异常的晶亮。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊问道：“你们谁懂现代画？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容在洗手间大声答应：“我！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧调侃道：“她还真是有用哈。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊微笑着说道：“我就说可惜了嘛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“啥可惜了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嗔道：“女人之间说话，你少打听，有你什么事儿！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李绣娘怯懦地低声说道：“你怎可对相公如此无礼。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧失笑，说道：“昨晚上不是跟你说了吗，时代不同了，再说了，你又不知道我们在说什么。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李绣娘低下头，退到角落里。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧皱眉，走过去把她拉到床边，说道：“别跟个受气小媳妇儿似的，好像我们欺负你一样，你睡这张床，我睡你旁边。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”李绣娘点头答应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容从洗手间出来，唤道：“师母。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊指了下墙上的画，说道：“我觉得她的眼睛有问题。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容仔细地看了看，说道：“是不太对劲，通常来讲，眼睛画得这么亮，一般是画人物的侧脸，主要是为了表现眼睛的神采，而这幅画得是正面，而且还是这种发散式的画风，眼睛应该模糊处理才对，否则就太突兀了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊点头，回身对山伢子说道：“夫君，你把这幅画摘下来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子走过来，站在侧面掀开一条缝看了看，画是挂在上面两根钉子上的，就转到正面，将画托了下来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;墙上有一个血手印，很顶多是五岁孩子的手大小。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容抱住了安婧的胳膊，古芊芊对山伢子说道：“夫君，把画挂回去吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子答应一声，把画挂回去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容小声儿问道：“师母，那是什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“还不好说，先去吃饭吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;到酒店配套的餐厅吃了饭，回到房间休息，将近夜里十一点，突然听到一阵哗哗的响动，花梦容跳下床直接扑到安婧身上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧抱着她说道：“别怕，是隔壁的声音。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子倾耳听了片刻，站起来开门出去，到隔壁拍门。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;门拉开，一个四十多岁的男人上下打量山伢子一眼，横鼻子冷眼地问道：“干嘛？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“你们太吵了，根据法律规定”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“滚！”男人骂道：“我吵你妈，我在我屋里打麻将，你嫌吵就滚大街上睡去！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子面无表情地看着他，男人瞪眼骂道：“还他妈不滚？等老子削你呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;又一个男人走到门口，说道：“跟一个傻生什么气，赶紧的，都等着你呐，你要真把他整残废了，不得去局子啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;门咣的一声摔上，山伢子刚要转身，突然眼前一花，一股阴风扫过，屋里立刻响起了惨叫声。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧紧跟着穿门而入，看到四个男人都倒在了血泊中，李绣娘全身都被黑气包裹着，披头散发，黑指甲露出了袖口。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧皱眉，这么残暴，是对伢子的爱？还是她自身的怨气无法宣泄，在遇到刺激后产生应激反应？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧唤道：“绣娘。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李绣娘倏然转回身，目光阴冷地盯着霍晓荧，嘴微微张着，有黑气在口中萦绕。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧退了一步，试探着说道：“我是你的主母，你还认识我吗？”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>