<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第520章：黑旗刀阵</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第520章：黑旗刀阵
</div>
<div class="bookname">
	<h1>第520章：黑旗刀阵</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第520章：黑旗刀阵<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子催动了两次法力，那些透明的刀片被急速地弹开，但并没有碰到那些黑旗就飞了回来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子仔细观察，刀片是顺时针旋转，而黑旗却是逆时针展开，这应该是一个阵法。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一边催动着法力护身，一边琢磨怎么破阵，那个声音似乎不耐烦起来，厉声说道：“我看你能撑到什么时候！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子回敬道：“你要真有本事就不用废话了，连个脸都不敢露，扯什么王八犊子！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那个声音骂道：“小杂种！你杀了我孙子，我要把你碎尸万段！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子骂道：“你是杂种！你全家都是杂种！你孙子是不是欧阳埁那个瘪犊子？妈了个X的，他牛X哄哄的直接把我媳妇儿打落黄泉，我跟我另一个媳妇儿生魂出窍，下到黄泉才把人找回来！我还不该杀他吗？我就后悔没问他家里还有哪个瘪犊子，我杀你全家都不冤！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子并不是有意拖延时间，他在消耗法力，拖延时间对他来说，有百害而无一利，只不过，这些话他憋在心里很久了，不吐不快。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那个声音没再回应，黑旗突然都静止了，像用绳子连起来了一样，连点儿颤抖都没有，但是透明的刀片却旋转得更加猛烈。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子感受到挤压的力度，那些刀片在拼命地往红光里钻，想要突破红光的阻碍。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子强行向前踏步，他觉得黑旗才是关键，黑旗就像是罐子，而他被关在罐子里，不把罐子打破，光跟罐子里的东西较劲，那只能是白费力气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一步踏出，压力陡升，刀片旋转的圆形轨迹被挤偏，但依然紧擦着红光在旋转，不知是不是心理作用，山伢子似乎看到了刀片在红光上擦出的火花。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子没敢再向前迈步，因为压力太大，他害怕冒然再迈一步，会在相互作用力的条件下，帮助刀片突破红光的防御。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对峙着，山伢子发现刀片以一种奇怪的轨迹飞速地旋转着，按理说，他挤了一步，刀片应该重新调整轨迹才对，但事实并非如此，身前的刀片紧擦着红光，而身后的刀片却跟他的身体产生了约有一步的距离。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子猜测，刀片是受黑旗的影响，黑旗没有移动位置，所以刀片也不能移动。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刚转完念头，感觉眼前一花，刀片的轨迹恢复了正常，但是并没有看到黑旗移动。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，缓慢地转了一圈，发现刀片与黑旗间的距离好像又一致了，那就是说，黑旗带动刀片重新调整了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;妈X的！山伢子在心里暗骂，这应该是个杀阵，但杀不了他，就改成消耗他的法力，这样下去很危险，可是对方能够调整阵形，就算他再怎么费力，恐怕也接近不了黑旗。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子不知道的是，控制这样一个杀阵，所要消耗的法力，一点儿都不比他少。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;十天前，欧阳埁的爷爷欧阳垚听闻噩耗，自己最喜欢，最有出息，最能继承家学的孙子欧阳埁被人杀了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳家也是无名观弟子后羿，所学所传，同样也是无名观功法，但是，在第四代时，欧阳家的祖上远游，结识了一名苗疆女子，两人一见钟情，苗疆女子做了欧阳家第一个妾室。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;也因此，欧阳家多了两种法力，寄魂术与梦杀术。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;寄魂术，并不是将自己的魂附在别人身上，而是在无力回天之时，用自己的魂做为标记，标记仇人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;苗疆的规矩，有恩必偿，有仇必报！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而梦杀术则是以生魂入梦的方式，进入仇人的梦境，直接杀仇人的生魂。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;听到噩耗之后，欧阳垚一口气堵在膻中，七天才缓过来，缓过来的第一件事，就是找魂记，找到之后，欧阳垚就从京都赶来了莫林。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳垚发觉魂记一直在一个地方徘徊，就去了食味小厨，见到了山伢子，还吃了顿饭。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;让欧阳垚感到意外的是，山伢子太年轻了，这么年轻的一个人，也看不出有什么特别，他有本事杀了欧阳埁？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳垚并不是胸怀正义，怕杀错了人，而是怕中圈套。天下之大，处处卧虎藏龙，寄魂术与梦杀术并不是多么高明的法术，保不齐是有人用一个年轻人设下圈套，想要铲除他们欧阳家。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳垚连着来了两天，发现山伢子就是个傻子，一个开饭店的竟然不记人，他连着来了两天，山伢子看他的眼神都跟看陌生人一样。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;直到昨天晚上，余秦岭和余小丽去找山伢子，山伢子当时发了火儿，胸口的火行石亮了，欧阳垚才恍然明白，原来他是火行石宿主！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;知道了之后，欧阳垚就更想不通了，大家是同门，而且山伢子是宿主，他为什么要杀欧阳埁？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;素茗这一回做得更谨慎，他只撺掇欧阳埁，除了欧阳埁之外，欧阳家没人知道山伢子是火行石宿主。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳埁也只跟家里说，他是来莫林旅游的，虽然家里人也表示过怀疑，因为往北方来应该选冬天，看雪嘛，夏天往北边走干嘛？要说赏花赏月，京都的风景更好。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是家人也没阻拦，旅游嘛，想去哪儿就去哪儿呗。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳埁生性桀骜不驯，这跟他的天赋有关系，天生就有鬼眼，一睁开眼睛，看见过世的祖母就笑，三岁就主动跟着欧阳垚打坐，七岁就能一掌拍碎红砖，一拳打折指头厚的木板。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不仅如此，欧阳埁还极其聪明，从十一岁起听说祖上的来历后，就遍读家传古籍，十四岁时提出一个理念。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个理念就是，五行石是祖师尸解而得，究其本源，就是个能量源，借由本门功法催动，获得祖师先天灵气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果是这样的话，是不是可以用其他的能量源代替？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个理念得到欧阳垚的赞同，派人四处寻找奇石古石，而欧阳埁也不负所望，终于在二十岁那年，第一次冲灵成功！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳垚几乎每天都在说，老天爷开恩，欧阳家世代行善，终得善果。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;然而，欧阳埁并不满足，因为再好的古石奇石，也终究不是火行石，不是祖师的遗物，虽然有能量，却没有祖师的灵气。
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>