<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第798章：灵异事件</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第798章：灵异事件
</div>
<div class="bookname">
	<h1>第798章：灵异事件</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第798章：灵异事件<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;女鬼名叫熊莉，那个禽兽叫景昆仑，两人是同一个公司的，上下级关系，熊莉二十七岁，景昆仑三十五岁，两人好了快三年了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一次来度假的原因，是熊莉让景昆仑给一个最后期限，她年纪越来越大，等不起了，如果景昆仑不离婚，她就要找别人了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;景昆仑是为了哄她，才带她来度假，还特意给她买了这身裙子，结果熊莉死在了度假村的房间里，景昆仑却不知去向。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“死了人，肯定会有人报警……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我知道。”熊莉打断山伢子，说道：“我看到警察了，我是说景昆仑不见了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“那肯定是被警察抓走了嘛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;熊莉说道：“没有，我的遗体还没有火化，警察说还没有抓到凶手。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉问道：“你不是跟景昆仑一起来的吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;熊莉答道：“是啊，可是警察调查了，说我死的时候，景昆仑在回玉州的路上，还说有高速收费站的摄像头拍到他了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“他把你灌醉了，然后自己开车回家？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;熊莉尖声嚷道：“是啊！他就是个禽兽！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“你不要激动，既然有证据，那就不是他杀的你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;熊莉嚷道：“那你说是谁？度假村到处是摄像头，除了他，没人进过我们的房间！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“不是只有人才能杀人，你现在就是鬼，应该明白这世上还有很多不能被证明的事物存在。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;熊莉一愣，随即又尖声嚷道：“就是那个禽兽杀的我！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“你想吃点儿什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;熊莉愣住，山伢子问道：“四天了，你不饿吗？刚死的鬼一定会饿得难受。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;熊莉反问道：“鬼也能吃东西吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子站起来说道：“你坐一会儿，我去给你做个菜。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;去了厨房，山伢子把情况告诉了安婧，古芊芊下来找他，因为度假村是她家的，居然刚开始营业就出了命案，这可不是个好兆头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子怀疑是有鬼闹事，古芊芊给韩慕灵打电话，问韩慕灵为什么不告诉他们。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵说度假村还住着很多客人，而且警方一直在调查，不想让他们出现在警方视线中，况且现有的证据不足以证明是灵异事件，还需要进一步调查。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子做了一道奈何忘归，古芊芊跟着他一起到了大堂，熊莉吃了一口菜之后，再一次流出了血泪。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊看着她微微皱眉，通过安婧跟山伢子说：血泪不仅是证明她死得冤，而且在死时命魂受到了冲击，光凭这一点，就可以证明是灵异事件。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子愕然说道：刚才她就流过一次血泪了，我忘了说了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊上了楼，又给韩慕灵打电话，听说熊莉流得是血泪，韩慕灵问道：“你们打算几个人去？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“我跟伢子去就行了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵说道：“我跟刘经理说一声，你们到那儿找刘正，你们对外的身份是公司内部调查员。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;打完了电话，古芊芊跟霍晓荧说：“姐，咱们一起去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“我又帮不上忙，不去了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“万一有鬼呐？万一警察也在场呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“让卿琴去吧，她比我厉害。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊叹气，真是山伢子说的那个话，霍晓荧现在一点儿心气儿都没有了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴说道：“我不去，伢子说了，我就捣乱行。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“爱去不去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊转身下楼了，还是让山伢子跟霍晓荧说吧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;到楼下，古芊芊对熊莉说道：“我们明天就去度假村调查情况，你跟着我们，可能还需要你配合。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;熊莉用不信任的目光看着古芊芊说道：“你又不是警察，你说调查就调查啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“度假村是我家的，集团总裁是我妈。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;熊莉愣住，片刻后尖声嚷道：“你们得赔我爸妈钱！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“赔偿问题要有法律依据，如果警方给出结果，是度假村的责任，肯定会赔偿你家。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;熊莉嚷道：“那我要不是被人杀的呐？我就白死了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“你不是很肯定是景昆仑杀的你吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;熊莉噎住，片刻后嚷道：“赔钱！否则我要你们的命！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊和山伢子一同失笑，熊莉嚷道：“笑什么？很好笑吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“你知道我们是法师吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;熊莉咬了咬牙，嚷道：“我去闹腾你们家的度假村，让你们做不了生意！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊脸色一沉，冷声说道：“那样的话，你就没机会知道是谁害死你了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;熊莉瞪着古芊芊，又一次流下了血泪。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“这样吧，如果确定是灵异事件，而且不是因为你个人原因招来的杀身之祸，我会以匿名的方式相应地给予你父母经济补偿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;熊莉嚷道：“我能招什么杀身之祸？我就是上班回家！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“你跟有妇之夫有染，很难说到底是什么情况，调查清楚就知道了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;熊莉沉默，古芊芊对山伢子说道：“你上去吧，我想让我姐跟咱俩一起去度假村，但是她说不去，我要她去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子点头，站起身走了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;熊莉用异样的目光看着古芊芊，古芊芊说道：“还有心情八卦别人的事？赶紧吃吧，吃完了我会把你收进魂瓶里，明天带你去度假村。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;熊莉嚷道：“凭什么？你凭什么收我？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“凭我是法师，凭你进了这个饭店就跑不了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子上了楼，拉着霍晓荧进了房间，霍晓荧一脸不高兴地说道：“有必要吗？明明有比我厉害的人，何必非得要我去？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子搂着她问道：“是不是要一直这么闹腾？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧委屈地看着他说道：“我哪闹腾了？我就是实事求是嘛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子斥道：“你还没闹腾？打从芊芊魂力觉醒之后，你就各种不高兴，现在连有事儿都不管了，你还像个元配吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嗔道：“元配有屁用？帮不上忙还净添乱。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;(本章完)
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>