<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第542章：做自己</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第542章：做自己
</div>
<div class="bookname">
	<h1>第542章：做自己</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第542章：做自己<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;第二天，潘小龙睡过了，直到刘大洋打来电话，才把他吵醒。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;迷迷糊糊地接了电话，也不在意上课迟到或是缺勤，挂了电话还想再眯一会儿，猛然醒悟过来，梓航呐？怎么没叫他？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙扑棱坐起来，唤道：“媳妇儿？媳妇儿！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;没有回应，潘小龙打赵梓航的手机，但没有接听，又打山伢子手机，关机！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙瞬间想歪了，又打霍晓荧的手机，吼道：“梓航呐？山伢子呐？山伢子的手机为啥关机了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧平淡地说道：“梓航昨天晚上被鬼给绑架了，要挟伢子在三天内做五十把砍刀烧给他们，昨天我们去扎纸店，你睡得跟死猪一样，所以就没叫你。我怕你今天一睡醒就给伢子打电话，所以把伢子的手机关了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;顿了一下，霍晓荧用异样的语气问道：“潘小龙，你在想什么？脏心烂肺！就算你不信伢子，也不信梓航吗？梓航要是那么轻浮，也不会答应嫁给你了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙皱眉，霍晓荧直接挂了电话。潘小龙又打，但是霍晓荧不接了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙坐在床上沉思，他太自卑了，但也不能完全怪他，事实证明，每个见过山伢子的女孩儿，都会喜欢山伢子，他只是忽略了一点，梓航已经跟他结婚了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;活在别人的阴影里，真的很难受，其实自己的情商和智商都不低，只是一牵扯到山伢子，就自乱阵脚了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;师父说得对，山伢子从来不跟别人比，也不在意别人用什么眼光看他，跟霍晓荧也好，跟古芊芊也好，都是实心实意地为人处事，最后水到渠成，山伢子从来不曾刻意地要求过什么，即使对霍晓荧死缠烂打，也是本着一份真情实意，半点不掺杂别的什么情绪。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;昨天在办公室，徐四这样说：“我知道，伢子是你的梦魇，但你不要跟他比，因为就算你倾尽一生的时间和精力，也只会被他越甩越远。我建议你把伢子当成一个榜样，向他学习，不管是什么事，都向他学习。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙记得自己反问：“那我还有自己吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四也反问他：“什么是自己？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说，人是组成社会的最小个体，无论你多么强大，都需要倚靠其他人，因为你不是能够造物的神，就算是神，也要倚靠天地万物的灵气，甚至是人的供奉和信仰。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;做自己，是一个很抽象、很模糊的概念。大道无为，万法归宗，往往需要先放弃自己，才能找到自己。不要为了做自己，而去刻意地改变自己。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;昨天，潘小龙觉得师父的话像绕口令，可今天，他突然明白，为了跟山伢子争竞，他早就不是他自己了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;曾经的他，热情、细腻，会察言观色，能洞悉人心，可是当山伢子也有了这些能力之后，他刻意地往反方向走，变得自私、傲慢、自以为是。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;就好像霍晓荧对山伢子忠贞不渝，他不去想山伢子为霍晓荧做过多少事，只想着山伢子先认识霍晓荧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;就好像古芊芊、夏歆雨、龚钰丹，他不想着山伢子付出了多少，只想着山伢子是火行石宿主。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;就好像黄老把一切都留给了山伢子，他不去想黄老为什么这么做，而只是想如果他能见到黄老，他也有机会得到黄老的青睐。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;就好像赵梓航不接电话，山伢子关机，他不想是不是有什么危险，只想到赵梓航跟山伢子好了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙哭了，从什么时候起，自己变成了这样的人？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;午后，邢宽跟龚钰丹到店的时候，看到潘小龙铺了一柜台的麦秆，还有画好的纸样子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹问道：“你要干嘛呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙答道：“昨天晚上梓航被绑架了，对方要挟伢子在三天内做五十把刀烧给他们，我提前准备一下。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两人一惊，邢宽拿出手机打给山伢子，问道：“梓航被绑架了，你怎么不告诉我？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“问你媳妇儿，我开车呐，一会儿就到，先挂了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢宽挂了电话看龚钰丹，龚钰丹脸上一红，嗔道：“看我干嘛！赶紧用冥器袋焐材料！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢宽拿出冥器袋往里装材料，潘小龙问道：“我能跟着扎吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢宽答道：“可以，这个不是手机，需要的……嗯……可以。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙点了点头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹皱眉，邢宽刚才说话没注意，其实已经明确说出潘小龙法力低了，以潘小龙的性格，应该立刻炸锅才对。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹问潘小龙：“你没事儿吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙看了他一眼，眼神极其干净，答道：“没事儿，就是想赶紧做出来，好把梓航赎回来，我担心她受惊吓，这都过了大半天了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完，潘小龙就盯着冥器袋沉默。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹觉得浑身别扭，停了一会儿，没话找话地问道：“你吃饭了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙摇了下头，答道：“上火，不想吃。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哎你没事儿吧？”龚钰丹有点儿抓狂，说道：“梓航不会有事的！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”潘小龙沉静地答应，说道：“我要是有鬼眼就好了，或者我能警醒点儿，梓航就不会被鬼抓走了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹扯着邢宽出来，走远了些，说道：“你看看他，是不是被什么东西上身了，我怎么觉得他跟变了个人似的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢宽笑，说道：“人总会长大的嘛，他还能老是一副没心没肺的样子吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹皱眉问道：“他真没事儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;半个小时后，山伢子三人到了扎纸店，看到潘小龙正在仔细地糊纸刀，霍晓荧现身出来，嘲讽道：“出息了，知道干活儿了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙没说话，专注地糊着纸缝，像没听见一样，弄得霍晓荧一阵尴尬，问龚钰丹：“我显形了吧？你能看见我吧？能听见我说话吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹轻声答道：“我们来的时候他就这样，我怀疑他被什么东西附身了，但是邢宽说他没事儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子拿起材料开始扎，说道：“小龙哥，你不用太担心，梓航不会有事的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”潘小龙答应，说道：“有你在，我不担心。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;：。：
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>