<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第384章：气色转好</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第384章：气色转好
</div>
<div class="bookname">
	<h1>第384章：气色转好</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第384章：气色转好<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人说道：“如果你有什么疑虑的话，那这件事也可以到此为止，反正天底下又不是只有你们莫家是仙茗山传人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震西看着黑衣人，他虽然这么说，但并没有要离开的意思，问道：“到此为止？那我怎么办？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人答道：“你已经死了，该去哪儿去哪儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震西再次暴怒，伸手掐向黑衣人的脖子，但是手却停在了半空中，不仅是手，整个身体都不能动了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震西惊恐地瞪着黑衣人，黑衣人平淡地说道：“你觉得你白死了，可是你的父亲、你的儿子、还有你弟弟，不是都死了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震西怒道：“还不都是因为你！都是因为你说火行石宿主不是孙家传人，要不然怎么会有这件事？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人冷笑，说道：“心比天高，命比纸薄，自己没本事还要怨别人，我只是告诉你们家，石庆山不是孙家后人，我说过让你们去抢火行石吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震西噎住，黑衣人接着说道：“你们家要抢，我来帮你，反倒被你怨怼，可见你们莫家太过自以为是，该有此劫。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人站了起来，莫震西还是不能动，眼见黑衣人绕开他要走，莫震西慌着说道：“你别走啊！你把我定住，你又要走，我怎么办？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;背后响起关门声，莫震西突然往前一冲，整个人摔在沙发上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子给秦润之打了电话，因为他受了伤，所以秦瑶已经一个星期没吃上肉了，来了以后嘟着嘴，不高兴地说道：“大哥哥，你怎么说不在就不在呀？我都饿了一个星期了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子微笑，答道：“我被人打了，受伤了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦瑶眨着眼睛问道：“谁打你？我爷爷认识警察，让警察抓他！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子笑，说道：“不用了，我把打我的人打跑了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦润之用关切地目光看着山伢子问道：“没什么事儿吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“没事儿，上楼坐吧，我去端肉汤。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;端来肉汤和饭菜，山伢子伸出手说道：“瑶瑶，把手给我，我摸摸凉不凉。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦瑶摘下手套，把手放在山伢子的掌心里，忽闪着大眼睛看着山伢子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子感应了一下，她身上的阴气已经轻得多了，松开手微笑着说道：“你很快就会好了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯！”秦瑶笑着答应，说道：“我长胖了点儿，已经不那么难看了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看着她，的确，脸蛋儿圆润了些，说道：“是啊，瑶瑶最漂亮了，再多吃几回肉汤，就更好看了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦瑶眯眼笑，山伢子微笑着说道：“快吃吧，小心烫。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好。”秦瑶笑眯眯地答应，摘下另一只手套，开始吃饭。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问秦润之：“秦先生，这段时间，家里没什么异常吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦润之答道：“没有，瑶瑶也一天比一天气色好了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;顿了一下，秦润之掏出两捆钱，站起来说道：“石先生，我上网查了一下，我也不懂，上回也没问价钱，您也不说，我就按……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“秦先生。”山伢子打断了他，说道：“我不是指着这个赚钱的，你们来饭店吃饭，就像找医生开药一样，不用另外算钱。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦润之说道：“这不合适，护身符的钱一定要给。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子失笑，说道：“那也不用给这么多啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦润之说道：“我上网查了，别的大师都是收这么多，您就拿着吧，要不我这心里也过意不去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子笑了笑，说道：“那好吧，恭敬不如从命，不过有言在先，我拿了这个钱，瑶瑶吃的东西就归我管，我就不能再要饭钱了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦润之也笑了，点头说道：“好，石先生，您真是一个好人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;晚上十一点过后，上回跟着秦瑶的那只鬼走进了饭店，径直走到山伢子面前，黑着脸问道：“你是不是非得管闲事？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子左右看了看，低声说道：“跟我上楼。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完转身要走，鬼却厉声说道：“上什么楼！就在这儿说！你是怕让活人看见对吧？那你就别管闲事！否则我就让你在这儿干不成！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好。”山伢子转回身，掏出手机发短信，发给了洪拓。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子为了练手儿，给店里的所有鬼都扎了手机，虽然不如霍晓荧的好看，但好在能用。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓直接从天花板坠下来，落在了那只鬼身后。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“就是他，整楼上去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完转身，那只鬼猛然回身，洪拓一伸手掐住了他的脖子，拖着他跟着山伢子上楼了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;到了套房里，山伢子一边画符一边说道：“等会儿啊……马上……就好。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓问他：“你还现画符啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是啊。”山伢子答道：“以前都是跟着师父，师父那个黄包儿里有现成儿的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓掐着鬼走近了些，看了一眼，说道：“用血画符？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊。”山伢子拿起符吹了吹，答道：“我只有符纸，没有朱砂墨。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓看了一眼符咒，说道：“定魂符？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“对呀，我怕他跑喽。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“你早说啊，不用画符。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;拱拓左手掐诀，念了一句咒语，然后往那只鬼胸口拍了一下，随即松开手，说道：“行了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子愕然看着那只鬼，那保鬼保持着被掐脖子的姿势，两只脚尖点着地，脸向上扬着，两只胳膊还抬着，两只手虚握在脖子前面。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“这是什么法术？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓答道：“定身咒，对活人也管用。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子两眼放光地说道：“教教我呗。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“行啊。”洪拓答应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那只鬼嚷道：“放开我！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓右手掐诀，念了一句咒语，然后伸手在那只鬼嘴上抹了一下，那只鬼瞪圆了眼珠子，呜呜了两声，说不出话来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“这又是什么法术？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓答道：“禁言咒。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓给山伢子讲解了一个多小时，那只鬼就那样定了一个多小时，然后山伢子又用他试了三回，最后解除禁言咒后，那只鬼破口大骂：“你妈了个x的！我x你妈！”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>