<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第602章：寻找异世界的人</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第602章：寻找异世界的人
</div>
<div class="bookname">
	<h1>第602章：寻找异世界的人</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;.&nbsp;&nbsp;&nbsp;&nbsp;，最快更新深夜鬼食堂最新章节！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;第602章：寻找异世界的人<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;开车去鬼市，古芊芊掉着脸不说话。山伢子记着霍晓荧的叮嘱，也不敢吭声儿，装做没事儿似的闷着头开车。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;十几分钟后，古芊芊急眼了，搥山伢子的座椅靠背。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说她：“傻呀？手不疼啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊跺着脚嚷道：“你看他呀，连个屁都不放！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子装做无辜地问道：“又咋了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嚷道：“你说咋了？你今天在下面干什么呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子理直气壮地答道：“干活儿啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嚷道：“你干什么活儿？你平常也干活儿，怎么今天就这么长时间不露面？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“今天人多，一忙活就忘了，师父不在了，店里都指着我，我还不太适应。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊愣住，眨了眨眼，扭头瞪着霍晓荧问道：“你教他的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧笑，说道：“什么我教他的，他这么大的人了，说个话还要人教？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊伸手拍了下安婧的肩膀，安婧回头，古芊芊问道：“你教他的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧快速地摇头，山伢子说道：“关婧婧什么事，她都不会说话。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧皱眉，这个憨货，告诉他解释就是掩饰，怎么就不明白呐？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嗔道：“她是不会说话，可她能跟你说话，而且别人还听不见，就是她教你的！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧说山伢子：你可真够笨的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;然后这一路上，古芊芊就没消停过。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;到了地方，把车停在路边，霍晓荧对古芊芊说：“你跟婧婧待在车里，我和伢子进去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嘟嘴，说道：“我也想进去看看。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧哄她：“鬼市不是活人应该去的地方，照理来说，连伢子都不应该进去，听话，跟婧婧在车里待着。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧转回头看着古芊芊说道：“待着。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊伸手掐她的脸，安婧愕然张大了眼睛，古芊芊说道：“我姐就这么掐我，我是你姐，我就这么掐你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子笑，推开车门说道：“钥匙我不拿了啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刚要下车，后面有灯光，一辆车开了过来，停在了他们车后面。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子立刻紧张起来，安婧也推开车门，握住了秋霜剑的剑柄，霍晓荧把古芊芊按到座位下面的空当里。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;后面的车关了灯、熄了火，下来一个戴眼镜的男人，看上去四十来岁的样子，个子不高，身材偏瘦，长相普通，满脸胡渣子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子下了车，看着那个男人，右手背在身后，暗暗运气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人看着山伢子问道：“这么晚了，你到这儿来干什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子反问道：“你是警察吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人答道：“不是。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“那我干什么跟你有什么关系？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人笑了笑，说道：“对不起，我不太礼貌，我只是好奇而已。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人说完就转身走到车后面，打开了后备箱。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子绕开些走过去，看到他从后备箱里拿出一个手提箱。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;见山伢子走过来，男人说道：“我是一名科学家，我来这里做实验。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，问道：“做什么实验？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人关上后备箱，锁了车，然后才看着山伢子说道：“关于能量场的实验，你对异世界持什么观点？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“什么异世界？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人答道：“就是在咱们生存的世界之外的世界。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子又问道：“你是说平行空间吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人笑了笑，说道：“就算是吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完拎着手提箱向鬼市入口的方向走去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧下了车，问山伢子：“他能用仪器检测到鬼市入口的能量？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“我不懂科学，跟着他看看吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧到车边对古芊芊和安婧说道：“你俩出来，离车远点儿，注意周围的动静，我跟伢子过去看看。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那个男人走到离鬼市入口很近的地方才停下，把手提箱放在地上，然后打开。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看到箱子里有一个铁质的仪器，仪器上面有一个指针表盘，还连着一个看上去像花撒的东西。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人拿起那个像花撒的东西，然后打开仪器的开关，表盘上的指针开始摆动。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人举着花撒在空中来回晃悠，看着表盘上的指针说道：“这里有一个很强的能量场，我在检测它准确的位置。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，想了想问道：“检测到又能怎么样？能量场又不是实物，看不见摸不着的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人看着山伢子，眼神兴奋地说道：“你不懂，能量是可以看到的，但要通过仪器才能看到。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“就算看到又能怎么样？不就是能量吗？还能用来当汽油烧吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人笑着摇头，说道：“有能量场，就说明有特殊物质，但是这里是一片荒地，不可能有什么特殊的物质，而且我这个仪器检测的能量也不是通常意义上的能量，这里的能量场，很可能就是异世界的边缘，就好像传说中的结界，其实那就是空间壁垒，唉……跟你说你也理解不了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧笑着摇头，山伢子又问道：“你为什么要找异世界？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人像看怪物一样看着山伢子，说道：“为什么？在所有人的认知里，生存的世界只有一个，如果我能找到异世界的出入口，那就证明了平行空间的存在，甚至是证明了传说中的地府或是天堂，那将是本世纪最伟大的发现！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉看着他，半晌后说道：“你慢慢儿找吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完转身就走，霍晓荧跟着山伢子往回走，回到古芊芊身边，古芊芊问道：“什么情况？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“一个搞科学研究的疯子，吃饱了撑的要找异世界，咱们先回去吧，明天晚上再来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧问道：“要不要我去教训他一下？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“他脑子不正常，你去教训他，他不仅不会害怕，还会觉得自己发现了新大陆，让他自己折腾去吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“那也不用回去，不就是进去跟干爹他们说一声儿嘛，我自己去就行了，你们跟这儿等我。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，他想再见徐四一面。
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>