<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第563章：实话</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第563章：实话
</div>
<div class="bookname">
	<h1>第563章：实话</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第563章：实话<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊把DV递给山伢子，山伢子看了最后一段视频，视频里根本不像高建峰自己说的那样，完全没有被下‘药’的样子，一进了房间把颜‘玉’扑倒在‘床’，而且急不可耐地撕扯颜‘玉’的衣服，最后被颜‘玉’翻过来一拳捶晕了。!<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子又把前面几段录像看了，发现高建峰属于主动型的，而且有暴力倾向，问道：“邢‘女’士，你有没有想过，高建峰可能是被颜‘玉’施了术？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢洁岚答道：“没想过，他是这样的人，他对我也是这样。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子把DV放下，霍晓荧却问道：“既然你之前已经有很多证据了，为什么还要让颜‘玉’去做一次？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢洁岚答道：“我不想跟他打官司，颜‘玉’说我的命数不能打官司，打官司准输，而之前那些‘女’人都是付钱的，他也不怕我知道，只有颜‘玉’出马，才能‘逼’他按我的要求离婚。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊问道：“婚都离了，你也得到你想要的了，为什么还要赶尽杀绝？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢洁岚答道：“因为石大师带高建峰离开了莫林市，我跟他的运势断开了，颜‘玉’说如果他不死，我要加倍还他。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊看山伢子，山伢子微微皱眉，倒是他把高建峰推了死路。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嗤笑一声，看着邢洁岚说道：“你说的话，我全都不相信。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢洁岚皱眉，说道：“我有证据，这证据总假不了吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“是因为这个证据。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说，离婚都这么久了，高建峰死了都几个月了，这个DV还留着，为什么？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对于一个在婚姻受到创伤的‘女’人来说，这些证据恰恰是心底的伤疤，留着它解闷儿呀？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;留着它只有一个目的，是在将来有用的时候，来辅助证明自己是弱势，是受害者。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧用审视的目光看着邢洁岚，问道：“你把一切的可能都预计到了吧？或者，是那个颜‘玉’教你这样做的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢洁岚咬住了嘴‘唇’，霍晓荧嘲讽着说道：“你把自己说得太惨了，惨到已经不真实了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢洁岚倔强地说道：“我说得都是实话！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是吗？”霍晓荧一闪身到了邢洁岚身后，抬手扇了她后脑勺一下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;再次提问，邢洁岚说出了真相，这几段视频，只有颜‘玉’那段是假的，那次是颜‘玉’对高建峰施了术，目的是在颜‘玉’走后，邢洁岚需要人帮忙的时候，给能帮她的人看。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而高建峰这些出轨行为，是源于邢洁岚的压力，因为邢洁岚是高建峰心目的‘女’神，跟邢洁岚在一起，高建峰始终保持着一种供奉的心态，所以他要找别的‘女’人减压。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢洁岚可以理解这种行为，但不能接受，所以要跟高建峰离婚，才有了颜‘玉’出马的事情。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而邢洁岚跟高建峰离婚时，给高建峰留了一部分资产，并且警告过高建峰，不要再想着挣大钱，甚至还直白地告诉过高建峰，他的好运气已经没有了，只是高建峰不相信，总想东山再起，才落到最后的那种下场。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;颜‘玉’在回到莫林后，调查了山伢子，知道他是火行石宿主。虽然颜‘玉’不怕山伢子，但也没有必要招惹山伢子，妖修不易，即使是向邢洁岚报恩，也不能把自己数百年的修为搭进去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以颜‘玉’没来得及给邢洁岚再找一个下家，匆匆离开了，但是在走之前告诉邢洁岚，如果有一天发现自己的运势开始下滑，一定要来找山伢子，而且一定要带着这个DV。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子哑然失笑，说道：“这个妖‘精’还真看得起我。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧皱眉，又问邢洁岚：“颜‘玉’走时，你什么都没有问吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢洁岚木讷地答道：“问了，我问她如果石大师帮不了我怎么办。她说如果石大师帮不了我，让我纸醉金‘迷’地过一段日子，把钱‘花’光了之后吃‘药’自杀，免得在阳间受苦受罪，受人凌辱。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;三人一同皱眉，这叫什么话？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“你让她醒过来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧又扇了邢洁岚后脑勺一下，邢洁岚猛一点头，片刻后眼眸变得清澈，一脸茫然地看着山伢子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“你怎么开始倒霉了？说来听听。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢洁岚赶紧告诉山伢子，她接了一笔订单，总价三百多万，可是运输的火车出了事故，所有的货都损坏了，虽然有保险，但赔付需要时间，最主要的，客户那边是不听解释的，不能按时‘交’货，要双倍赔偿，而且还会失去信誉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢洁岚说，这件事是最大的一件事，里外里她赔了将近五百万，其实从颜‘玉’离开以后，她小问题不断，什么崴着脚啊，丢钱包啊，开车剐蹭或是被碰瓷儿啊，甚至走在大街，都能从别的什么地方吹来‘花’盆砸脚面。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“呵呵……”霍晓荧很不厚道地笑出声儿来，随即想起自己是显形状态，连忙收敛笑意，有些尴尬地清咳了一声。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢洁岚看着山伢子说道：“我一直没敢来找你，我知道我自己做的事见不得人，可是……如果只是这些小意外，哪怕是让我残废了，我都认了，可这一单赔了一年的净收益，我承受不了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嗤道：“还不是舍不得富贵生活。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢洁岚看着她问道：“古小姐，恕我冒昧，换作是你，你能舍得吗？你生来好命，当然不会明白我这种下层人的苦，我是不好，可我也是用我自己跟高建峰换的，我不是没有付出要回报，我但凡有你一半的好命，我都不会做这样的事，也不可能嫁给高建峰那样的人！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊抿了下嘴‘唇’，没再说话，邢洁岚说得也有道理，她是不了解邢洁岚这种人的苦，她含着金钥匙出生，该谈恋爱的时候遇到了山伢子，是不应该以这种高高在的姿态去谴责邢洁岚。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子诚恳地说道：“邢‘女’士，我并不是不想帮你，我跟高建峰不认不识，更何况他现在连魂都灭了，我没有必要为他报仇。我说的也是实话，我只会抓鬼，不懂风水和命数的事。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;的小说站！
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>