<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第166章：成仙</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第166章：成仙
</div>
<div class="bookname">
	<h1>第166章：成仙</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;“年轻人，不要害怕，我没有恶意，你跟我来一下。”温润而慈祥的声音在耳边响起，像幽谷中的回声一样。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子睁开眼，看到一片青山绿水，不远处站着一位老人，鹤发童颜，头上戴着道冠，身上穿着道袍，左手托着一把银丝拂尘，正看着他慈祥地微笑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，老道说道：“不必惊慌，贫道与你有缘，但碍于世俗之人难以理解，为避免不必要的麻烦，所以将你的命魂引来此处，年轻人，可愿与我同行一段路程？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子转着圈儿看了看，估摸着自己是走不出这里了，就面对着老道问道：“道长如何称呼？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老道微微一笑，答道：“这个不急，我带你去看云涛翻涌，日月更替，沧海桑田。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，说道：“道长，那我得在幻境里待多久啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老道答道：“此间如梦，不过是须臾之间。放心吧，耽误不了你的事儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完，老道转身向远处走去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子又回头看了看，迟疑了一下才向老道追去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可是，山伢子本想追上老道，但无论跑得多快也追不上，老道看似散步一样，却总在他前面那么远的距离，没变过。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子站住了，老道却走得远了些，山伢子又追，又回到那个距离上，还是死活追不上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子再次站住，问道：“道长，你啥意思啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老道停住脚，转回身看着他，微笑着说道：“这段距离，是你自己的心境，并非是我有意为之。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，说道：“我不明白。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“无妨。”老道转身又走，说道：“追上又如何？追不上又如何？世人穷尽一生之力，都在为名利二字忙碌，却总有一些你看得到，却得不到的东西，在你的前路上勾着你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子答应了一声，他这回没有跑着追，因为发现就算走着也还是这么远的距离。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老道停步回身，看着山伢子问道：“哦是什么意思？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“您说话我答应，没什么意思啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老道哑然失笑，山伢子却皱起了眉头，因为老道停下了，而他还在走，可两人之间的距离还是那么远，并没有缩短。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子停住了，说道：“道长，有事儿就直说吧，我不想跟你去看这看那了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老道微笑着问道：“怎么？就因为追不上我，便心生烦躁，不愿坚持了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“道长，你这话说得有点儿不地道。你自己说的，是把我的命魂叫来这里，那这个地方肯定是你做主。你又说这段儿距离是我的心境，直说了吧，我不明白，我觉得就是你施了法。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老道微笑着说道：“你不明白，是因为你灵魄未开，你跟我走，或许来日便可跳出三界外，不在五行中，享天地之寿，得五色之气。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“您老是说成仙吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老道点头，答道：“不错。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子又问道：“您老刚才说‘或许’对吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老道微一皱眉，山伢子接着说道：“那就是可能成仙，也可能成不了仙，对吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老道点头，看着山伢子的目光有些异样。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“我小时候儿听村儿里的老人们讲过神话故事，说有个人上山打柴，看见两个老头儿下棋，那人就站在旁边儿看，结果等看完了棋，再回家时，自己的孙子都老得快要死了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老道再一次哑然失笑，问道：“你如何理解这个故事？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“我觉得吧，这个人有缘无分，有仙缘却成不了仙，反倒白白的浪费了几十年的时间。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老道摇头，说道：“若不一试，怎知能否成仙？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“那他的老婆孩子招谁惹谁了？一个大活人上山打柴，然后就失踪了，他老婆孩子直到老死都是活不见人，死不见尸，他们犯了什么错儿？为什么要受这样的罪？就因为这个人有仙缘吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这回老道是实实在在地皱起了眉头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“仙长，我知道你十有八九是神仙，你放我回去吧，我没想成仙，估摸着也成不了仙，我还得给我爹和师父养老送终呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老道沉默片刻，洒然一笑，说道：“我本将心向明月，奈何明月照沟渠……也罢！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子忽悠一下醒过来，猛然坐起身，脑袋撞到了车顶上，疼得哎哟一声。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹连忙跟着起身，一边儿给他揉一边儿问道：“咋了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“没事儿，被叫魂儿了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“叫魂儿了？”张小莹惊道：“怎么会？灵石没发光儿啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完转头，发现对面下铺的老人不见了，脱口说道：“那个老头儿呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“哪个老头儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹皱眉，指着对面下铺说道：“就是对面儿下铺的老头儿啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子也皱眉，问道：“对面儿有人吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹一愣，突然嚷道：“对面儿没人吗？那我见鬼了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子探出头去，看到潘小龙枕着被子在玩儿手机，就问道：“小龙哥，对面儿铺有人吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙眼睛盯着手机屏幕，不耐烦地答道：“没人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子扭回身子看着张小莹。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹蒙了，那老头儿是什么东西？潘小龙看不见也就算了，山伢子也没看见！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那老头儿是鬼吗？还是比鬼更厉害的东西？总不会是神仙吧？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子眨巴了两下眼睛，轻声说道：“小莹，刚才我被一位仙长叫去了，说要带我成仙，我不干，他就放我回来了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啥？”张小莹瞪圆了眼睛：“成仙？你为啥不干？你脑袋让驴踢了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“你先别急着骂我呀，我成仙了你咋办？我爹我弟弟，还有我师父，他们咋办？再说了，那位仙长说得是‘或许’，不是一准儿能成仙。他让我跟他走，回头我成不了仙，他拍拍屁股飞走了，我咋整？我不是瞎耽误工儿夫吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子顿了一下，又说道：“就算能成仙，我也舍不得你，除非他能让你也成仙。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;，更多精彩阅读，等你来发现哦。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;手机站:
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>