<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第303章：黑衣人</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第303章：黑衣人
</div>
<div class="bookname">
	<h1>第303章：黑衣人</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第303章:黑衣人<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四一愣，鬼出现身上发冷的情况，一般都是跟尸骨有关系，况且姜悦玲就在自己身边，她没有中术的表征。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道:“没事儿，你别害怕，应该是跟你的尸骨有关系，我明天打电话问问，这也有段时间了，该有结果了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”姜悦玲点头答应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧并没有叫着史晋一块儿送古芊芊回家，而是让古芊芊打了辆车。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;到了古家，进了密室，霍晓荧把洪拓说的话，包括排阵演练和告诉山伢子真相，还有山伢子他们回程时碰上的情况，以及他们几个人的分析全都告诉了韩慕灵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵沉默了好一会儿才说道:“芊芊可以上阵，你可能把你的真实身份告诉山伢子，但我不赞同高调处理你的身份，毕竟现在有夏歆雨，先观察她一段时间再说。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完又沉默，霍晓荧明白，要判定是屈长寿施术有困难，因为一没有动机，二没有证据，况且大家还要协同处理老鬼的事。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道:“干妈，我先回去了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵点头，说道:“回去吧，我再好好想想。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧出来，跟梅姨要回婚书，然后走了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵对古芊芊说道:“累了一天，早点儿睡吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”古芊芊答道:“妈妈晚安，梅姨晚安。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊上楼以后，韩慕灵坐在沙发上推演相关事件，虽然分析结果指向屈长寿，但屈长寿为什么要这样做？完全没有道理，倒是如果有人想陷害屈长寿，这样做才能说得通。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可问题是，谁会陷害屈长寿，又为什么要陷害屈长寿？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“噹噹。”敲门声。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵微一皱眉，是谁这么晚了还来？难道是霍晓荧又想起什么事儿回来？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;梅姨要去开门，韩慕灵说道:“你去守着芊芊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是。”梅姨答应一声，转身上楼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“噹噹。”又敲了两下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵直觉上断定不是霍晓荧，走到门廊处问道:“哪一位？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;门外一个低沉的声音答道:“有些重要的事要跟韩小姐当面说。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵伸出手，遥控着门锁扭开，然后用内劲吸着门拉开。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;门外站着一个人，戴着黑色的棒球帽，黑色的口罩，穿一身黑衣，黑色运动鞋。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是你？”韩慕灵无数次地听人提起黑衣人，没想到今晚，黑衣人主动找上门来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人问道:“你认识我吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵答道:“很多人提起过你，只是不知道你的姓名，我们给你取了一个代称，叫黑衣人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人说道:“去密室谈吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵微一皱眉，既然是密室，肯定是不能让外人知道的，黑衣人怎么会知道？难道他又抓了霍晓荧？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过不能问，一问就会显得心虚。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵面无表情地说道:“跟我来吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵坦然转身，黑衣人若想动手，没必要登门造访，而且还提到密室，所以韩慕灵心里有九成儿把握，黑衣人不是来寻仇或是搞事的，应该是真的有重要的事情要说。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;进到密室，韩慕灵向沙发摊手，说道:“请坐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人依言走过去坐下，而韩慕灵关上门后，却站在门口，看着黑衣人说道:“时间不早了，有话请直说。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人低着头，以这样的角度，是看不到韩慕灵脸上的表情，甚至看不到韩慕灵上半身的动作。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人低沉地说道:“你小名儿叫奴奴，你的生日是xx年xx月xx日，你父亲叫……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵皱起了眉头，心跳开始加速，黑衣人所说的这些，有很多都是**。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完了关于韩慕灵的事，黑衣人沉默了片刻，又开始说古芊芊，从韩慕灵怀孕开始，说到古芊芊出生。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵斥问道:“你到底是谁！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人抬起头，说道:“慕灵，我是木苍，我现在是活尸。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;收工回家，霍晓荧拿出婚书，笑眯眯地问山伢子:“现在看还是睡醒了再看？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，拿过婚书打开，愣住。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧赶紧黏上身，撒着娇轻声说道:“你以前又憨又傻的，我不敢告诉你嘛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看着她问道:“师父、灵姨，还有芊芊都知道吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”霍晓荧乖巧地答应，用嘴唇蹭他的嘴唇。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子别开头嗤了一声，合上婚书丢在床头柜上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嗔道:“转过来！尥什么蹶子，你以前什么脑子你自己不知道啊？你开窍了也没告诉我啊？这么大的事我敢随便说吗？我家人都死光了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子赶紧抱住她，面带愧疚地说道:“我逗你呐，我不生气，晓荧，我就是你的家人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哼。”霍晓荧撅嘴掉脸子地说道:“反正你跟芊芊也是板儿上钉钉了，大不了我就走，投不了胎我就四海为家。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，说道:“明明是你不信任我，咋还成了你有理了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧推他，嗔道:“放开！我这就走！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子勒住她斥道:“别闹了！再闹我真生气了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊……”霍晓荧闭着眼睛开始哭。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，说道:“咋还哭了？我也没说啥呀，媳妇儿，媳妇儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧流出了眼泪，她一开始是装的，但嚎了两声，从她记事儿起的所有事情一股脑的涌上心间，不由得悲从中来，假哭瞬间变成了真哭。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看着她，突然顺着她的脸颊舔了一下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧一愣，睁开眼睛看着他，问道:“你干啥？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道:“人的眼泪是咸的，我尝尝鬼的眼泪啥味儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“讨厌！讨厌！讨厌！”霍晓荧一边哭一边捶他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜悦玲在门外说道:“干嘛呐？不睡觉闹腾什么呐？伢子，你别招小莹了啊，你师父要骂人了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，看着霍晓荧小声儿嗔道:“满意了吧？谁都说我，你闹腾也是我的错。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嘟嘴，山伢子亲了她一下，哄道:“好了，睡觉吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;九点不到，霍晓荧手机响，是韩慕灵打来的，霍晓荧接起电话，韩慕灵说道:“晓荧，来家里一趟，我有话跟你说。”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>