<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第189章：木行石</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第189章：木行石
</div>
<div class="bookname">
	<h1>第189章：木行石</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;&quot;第189章：木行石<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;从订票到上火车，张小莹一直沉默着，终于琢磨出一点儿头绪来，山伢子的性子直，而且脑子不活。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果直接问他喜欢谁，他肯定会说‘我喜欢你’这句话，所以得换个方式问。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹突然转头看着山伢子问道：“你喜欢歆雨吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，张小莹说道：“你回避不了，歆雨的样子你也看见了，越拖越麻烦。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“我喜欢你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹这回没发火儿，因为已经预见到了这种情况，平静地说道：“我知道，你一直都是喜欢我的，我是问你，喜不喜欢歆雨。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“我喜欢你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹咬了咬牙，说道：“找扇呐是吧？喜欢不喜欢歆雨！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子叹了口气，低下头答道：“歆雨应该过正常的生活，不能跟我搅在一起。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹嗤道：“我就应该跟你搅在一起啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一脸委屈地说道：“那你都已经搅进来了，就在一起呗，她不是还没搅进来嘛，就别往里搅了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹点头，说道：“芊芊也搅进来了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，说道：“你一提她我就头疼。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹问道：“为啥？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子摇头，答道：“不知道，其实……我有点儿怕她。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹一愣，接口问道：“就像当初怕我一样？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”山伢子点头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹恍然明白了好多事儿，过往的情景连续在脑海中回放，其实从一开始，山伢子对夏歆雨的态度就很明确，夏歆雨就是个小妹妹。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而古芊芊却不同，从一开始两人就是水火不容，那次坐坛，古芊芊有危险，山伢子毫不犹豫地收了法力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然事后山伢子嘴硬，不承认是为了保护古芊芊，只说是不想连累人，还气势汹汹地说古芊芊坏话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可当古芊芊推门儿进来时，山伢子的反应像老鼠见了猫似的，就跟当初他惹自己生气时一样。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹明白了，山伢子喜欢的人是古芊芊，只不过是因为她在中间横着，所以山伢子感觉不到自己内心的感情。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;或者是能感觉到，却不敢往那方面想，因为她还在，山伢子会认为，不管他喜欢谁，都是对她的不忠。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹长出了一口气，整明白了山伢子的心思，她突然想起来，其实无论是她还是山伢子，都没有向夏歆雨承诺过什么，还好还好。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过张小莹突然有点儿失落，古芊芊跟她很像，心窄，容不下别人，不可能像夏歆雨那样大度。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹倒进山伢子怀里，山伢子抱住她问道：“累了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”张小莹闭上了眼睛，说道：“眯一会儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哎！哎！”潘小龙提醒山伢子：“到上铺躺着抱去，你看你那个样子，跟个幻想型精神病儿似的，让别人看见了不得害怕呀？赶紧上去！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古家，韩慕灵端着一杯红酒站在落地窗边，看着外面的夜色。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;梅姨走到韩慕灵身边，轻声说道：“小姐，十几年了，芊芊也长大了，你是不是也该考虑一下自己的事情了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵浅笑着摇头，幽幽说道：“芊芊又不是障碍，如果有人能代替木苍，我当年也就不会千挑万选了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;梅姨沉默了一会儿，又说道：“小姐，有件事我瞒了你十几年，我本来不想说的，想把这个秘密带进棺材里，可是……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;梅姨欲言又止。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵转过身看着她，说道：“咱们三十多年的姐妹，有话就直说，不要吞吞吐吐的，你知道我最讨厌别人这样。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;梅姨从兜儿里掏出一个小布袋儿，从里面倒出一颗青绿色，圆柱形的石头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵惊得退了一步，愕然看着梅姨。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;梅姨说道：“小姐，不是我，我没有理由折腾山伢子他们，更不可能懂木行法术。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵皱紧了眉头，半晌才问道：“十几年了？哪儿来的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;梅姨答道：“姑爷书桌最下面的抽屉有个暗格儿，姑爷走了一年多以后，我怕里面长虫子，喷药时无意中发现的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;‘啪’的一声，韩慕灵手中的红酒杯掐碎了，她生气是因为古木苍瞒着她，如果当时告诉她，她就可以跟他联手御敌，甚至是斩草除根，可能就不会让她守寡这么多年了！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;梅姨看韩慕灵的手，虽然这双手可以开碑裂石，但毕竟也是肉长的，玻璃碴儿可不是碎石块儿，容易剌手。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵甩了下手上的酒，把疑似木行石的那块儿石头拿到手里，快步走回客厅中央，对着吊灯仔细地看。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;联想到最近这段时间发生的事情，韩慕灵九成儿可以认定，这块石头就是木行石，但古木苍是怎么得来的？恐怕不是好来的吧？否则怎么会连她都瞒着？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;梅姨轻声说道：“小姐，芊芊也开始修炼了，火行石也现世了，现在五行石再次聚齐，我不敢不说了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵握着木行石坐在了沙发上，微微眯着眼睛，半晌才轻声说道：“当我问你谁更适合芊芊时，你说应该让芊芊自己选，其实咱们都知道，老实又敢玩儿命的人最招小女孩儿喜欢，你心里是认准山伢子的，所以你才那么说，对吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;梅姨轻声答道：“是，小姐，金虽能克木，但金生水，水生木，这个环里，木气最盛。而水生木，木生火，水克火，这个环里，虽然火气最盛，但山伢子肯定会对芊芊言听计从，甚至是当牛做马。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵看着她，梅姨说道：“芊芊也是喜欢山伢子的，如果芊芊不喜欢，我也就不说这话了，肯定不能为了这个就逼着芊芊嫁给他。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵问道：“你觉得是木苍害了霍家，现在霍家人回来报仇？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;梅姨答道：“不是。霍家失踪上百年了，跟姑爷的岁数儿对不上，我并不在意木行石是怎么来的，我只是考虑现有的问题。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵沉默了一会儿，突然看着她问道：“你刚才跟我说，让我考虑自己的事情，你该不是想劝我嫁给徐四吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;梅姨哑然失笑，说道：“小姐，我再怎么为芊芊着想，也不能拿你做垫背呀。”&quot;<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;，更多精彩阅读，等你来发现哦。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;手机站:
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>