<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第383章：长尸斑了</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第383章：长尸斑了
</div>
<div class="bookname">
	<h1>第383章：长尸斑了</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;，精彩小说免费！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;第383章：长尸斑了<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵也皱眉，而且心里有点儿泄气，不管是莫震西还是莫震南，他都已经成为了一头孤狼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孤狼不仅狡猾，而且极其凶残！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可是，韩慕灵不明白，莫震南是掌门，为什么要选择成为孤狼呐？没道理呀。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吃晚饭的时候，古木苍对山伢子说道：“伢子，我们给你买了台摩托车，最迟后天就能送来，你以后骑摩托车上下班，自行车不仅是累，而且很难瞬间加速。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“谢谢爸妈。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵说道：“我让人砍了莫震南儿子二十刀，但是莫震南一点儿动静儿也没有。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子三人一同愕然看着韩慕灵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵说道：“我不仅是当妈的，还是金诀掌的掌门人，自己孩子让人欺负了，我要是连个声儿都不出，人家以为我是纸老虎。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子答应，低着头吃饭。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧心里舒服了很多，好在有个好妈。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍说道：“我们分析了一下，觉得有可能是莫震西占了莫震南的肉身。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;三人又一同愕然看着古木苍。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍说道：“实在是太巧了，莫震西跑来拼命，回去后死了，然后莫震南醒了，你们还记得吧？那天在饭店，莫震西说他三弟让人拘了生魂。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“肯定是黑衣人干的，他到底想干什么呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍摇头，说道：“不好说，反正……加点儿小心吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“幸亏我不爱逛街，要不然出门儿都成麻烦事儿了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;没人说话，因为都觉得心里堵得慌。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子想得是怎么能找着莫震南，必须弄死他！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵想得是怎么对付黑衣人，总让他在背后这样为所欲为，今天捅咕这个，明天捅咕那个，这不是个事儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧问道：“爸，你们以前有没有试过把五行石搁一块儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍看着她说道：“火行石消失了三百年，因为伢子才现世。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“对……”霍晓荧皱了下眉，她把这茬儿给忘了，又问道：“咱们要不要把五行石搁一块儿，看看有啥效果没。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍琢磨了一会儿，说道：“可以试一下。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“妈，你给屈叔叔打电话问问吧，姬淋洛说，屈彦锋带着土行石出国了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵皱眉，斥道：“真够不靠谱儿的！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;第二天，摩托车送来，比徐四那辆漂亮得不知道哪儿去了，山伢子兴奋地骑上在院子里兜了两圈儿，然后回屋打了声招呼，就骑着摩托车去饭店了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说他：“也不在家多养两天。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“待不住。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四笑话他：“真是穷命，给你个金窝都待不住。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子嘿嘿笑，问道：“师父，店里没啥事儿吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“没事儿。”徐四说道：“他在半道儿上截你，就是不想惹上官司，他不会来店里闹事儿的，怕咱报警。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“师父，我想了好几天了，想不通，你说他这是为啥呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子觉得，莫震南这次是真想要他的命，可问题是，真把他杀了，抢了火行石，有啥用？其他四家谁会承认他？而且韩慕灵肯定会动用一切人脉找他，而且找着他就得弄死他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果说是想把五行石都抢走，那为什么是莫震南？黑衣人自己怎么不抢？莫震西被他三拳两脚就给打死了，莫震南也厉害不到哪儿去吧？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四点头，说道：“我这两天也琢磨这个事儿来着，我也是想不通。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子把古木苍的分析告诉了徐四，然后说道：“我觉得……会不会是他这个肉身有问题，所以才这么急吼吼地想抢火行石。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这我也说不好。”徐四摇头叹气，转而低声说道：“不过你记住，如果他再找上你，你一定要把他的魂灭掉，总让他这么折腾，不是个事儿，咱这日子没法儿过了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯！”山伢子重重地点头，他心里也是这么想的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;xx酒店客房，莫震西对着浴室的镜子，看着脸上、身上浮现的尸斑，气得脸色发青。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这根本就不是黑衣人说的移魂，这就是活尸！而且七魄即将散掉，很快肉身就会开始腐烂！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他居然这么轻易就相信了黑衣人，自己送上门儿去找死，然后当了个活尸！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震西一拳砸在镜子上，‘啪’的一声脆响，镜子碎裂，看到有血珠崩起来，而他却没有感觉到疼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震西心里难受，太不值得了，平白无故就这么死了……不对！不是平白无故，都是因为莫震东！如果不是他整天想着抢掌门的位置，自己也不会轻易就相信黑衣人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震西从浴室出来，骇然看到黑衣人坐在沙发上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震西脱口惊道：“你怎么进来的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人没有回答，而是问道：“你怎么长尸斑了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“废话！”莫震西暴怒，厉声斥道：“我正要问你呐！我怎么会长尸斑了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人问道：“你弟弟的身体……是不是有什么毛病？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震西一愣，以前好像听莫震南说过，说肝不好。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震西说道：“好像是肝不好。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人说道：“你过来，我摸摸。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震西迟疑了一下才走过来，看着黑衣人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人伸出手，却停在莫震西身前一寸处，然后一只漆黑的手从肉身的手中伸出来，摸上了莫震西的肚子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;摸了一会儿，黑衣人收回手，说道：“肝坏了，这具肉身死了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震西质问道：“那怎么办！那我不是白死了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人平静地说道：“不是还有你大哥呐嘛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震西愣住，突然觉得不对劲儿，用狐疑的目光看着黑衣人问道：“你到底想干什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人平静地答道：“帮你呀。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“帮我？”莫震西退了两步，打从知道火行石的下落后，不到半年的时间，爹死了，儿子死了，弟弟死了，自己也死了，现在莫家只剩下大哥莫震东和小妹莫小北了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人真的是想让他们莫家抢到火行石吗？还是变着法儿的想要灭掉他们莫家？
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>