<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第177章：我问谁</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第177章：我问谁
</div>
<div class="bookname">
	<h1>第177章：我问谁</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;&quot;第177章：我问谁<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子等了将近二十分钟，还不见张小莹回来，心里猛然间生出一丝恐惧，赶紧打张小莹的手机，却没有了声音。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子瞬间慌了神儿，在客厅里转了好几圈儿，才醒悟过来，赶紧打给古芊芊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹肯定是出事儿了，既然是江边，那古芊芊好歹是水行石的宿主，应该能帮上忙儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹已经看不到光，也分不清上下左右，火行石的光芒也只是包裹着她的魂体，半点不能外溢，而且光芒越来越暗，像是即将熄灭的炭火。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹心里很清楚，她能撑到现在，是火行石在保护她，如果没有火行石制造的这一层屏障，她可能早就被水鬼打散了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嘿嘿嘿嘿……”阴冷的笑声再次响起，一个暗哑的声音说道：“看你还能撑多久。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个时候儿，张小莹反倒不害怕了，而是愤怒，异常的愤怒！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹大声问道：“你连个脸儿都不敢露吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那个声音反问道：“有这个必要吗？等你身上的红光消失，你就会被撕成碎片，就算你看见我的脸，又有什么用呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹怒吼道：“我知道是谁！是图黛玉！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那个声音沉默了片刻，说道：“你知道又能怎么样？别说是你们的火行石，就算是水行石、土行石到了这里，也都没有用。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹冷笑一声，说道：“你知道的不少啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那个声音挑衅似的说道：“比你知道得多。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹又问道：“为什么要杀我？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那个声音答道：“给那师徒俩一个教训，让他们知道，莫林市还轮不到他们充大个儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹厉声说道：“你知道杀了我会有什么后果吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“呵呵呵呵……”笑声里满是嘲讽与不屑，那个声音说道：“你以为五行世家可以只手遮天吗？真不愧是村儿里出来的土鳖，天真得要死。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这句话把张小莹说蒙了，愣了一会儿，猛然想起她给屈长寿打电话，提到图黛玉时，屈长寿的语气是那样儿的，现在仔细品味一下，屈长寿似乎还有些忌惮……说忌惮可能太过了，但至少是不愿意跟图黛玉敌对。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那个声音又说道：“怪就怪你们这帮人没见过世面，什么事儿都敢招惹。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一道急流再次冲向张小莹，火行石的光芒强努着亮了一下，随即暗淡了下去，而且收缩到张小莹的胸口。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;急流打在张小莹身上，巨大的冲击力将张小莹冲飞了出去，蓦然间，一股气息从张小莹的心窝生发，瞬间遍布整个魂体，火行石陡然亮起耀眼的光芒，像爆炸一样猛然绽开。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;红光辐射到十几米的距离，一个头发跟身子一样长的水鬼出现在张小莹的正前方，发青的脸上布满了惊恐的神色。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹突然感觉到水的束缚消失了，缩起身子，双脚猛然向后一蹬，像离弦的箭一样冲向了水鬼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊！”水鬼惊叫，脖子被张小莹掐紧，随着张小莹向水面冲去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;水鬼奋力地挣扎，用力地拍打张小莹的手臂，惊慌地喊叫：“怎么会这样？这么大的水，火行石为什么还有这么大的能量？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹冲出了水面，甩手将水鬼抛向空中，大声说道：“你问我，我问谁！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;水鬼的头发突然散开，像一张大网一样，劈头盖脸地朝张小莹扣来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹冲向了头发的中心，因为中心的尽头，肯定是水鬼的脑袋！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊……”水鬼惨叫着摔向岸边。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹像回旋的燕子一样俯冲下来，在水鬼落地之前就骑到了水鬼的身上，左右开弓一通暴捶！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;梅姨开着车，拉着古芊芊和山伢子赶到江边时，看到张小莹正在疯了一样打水鬼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而水鬼在呼天抢地的喊叫：“救命啊！打死人了！来人呐！救我啊……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹身上的红光像夕阳一样，红彤彤的，远处有一些人拿着手机冲着张小莹，应该是看到了红光，但不知道是怎么回事儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子要过去，古芊芊一把拉住他，说道：“别过去，你会把那些人引过来的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子用不解的眼神看着古芊芊，古芊芊解释道：“对于未知的东西，人的第一反应是害怕，但如何你过去了，你就成了第一个吃螃蟹的人，而好奇心理和从众心理会让那些人都跑过来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子点头，一边儿掏手机一边儿说道：“不愧是上过学的人呐，就是懂得多。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉，看着他嗔道：“你是夸我还是损我？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“夸你。”山伢子拨了张小莹的手机。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊使劲儿白了山伢子一眼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;电话通了，但是张小莹不接电话，还在疯狂地打水鬼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，扭脸儿看古芊芊，问道：“现在咋办？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊瞪他，山伢子说道：“你瞪我干啥？你不让我过去，打电话她又不接，那我不得问你咋办啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊白了他一眼，想了想，用手握住水行石，轻声唤道：“小莹姐……小莹姐……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹跟古芊芊说过，山伢子戴着火行石的时候，在心里叫她，她能听见。所以古芊芊也想尝试一下，反正眼下这个情况，也没有更好的办法了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唤了十几声，张小莹停住了，身上的红光开始收缩，水鬼还在哭喊：“救命啊……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹又一拳捶在水鬼捂着脸的手上，厉声斥道：“闭嘴！吵死了！你不是要弄死我吗？喊什么救命啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“呜……”水鬼哭得既凄惨又伤心，打从做了水鬼，又当了图黛玉的弟子之后，真没挨过这样儿的揍。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹身上的红光消失了，拖着水鬼向山伢子走来，到了近前，将水鬼摔在地上，用脚踩住，说道：“他想弄死我，好在火行石激发了我的心脉……我有心脉吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子摇头，答道：“不知道。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不管了。”张小莹脚上用力，看着水鬼问道：“八卦镜在哪儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;水鬼答道：“水底下。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“废话！”张小莹狠跺了一脚，水鬼大声惨叫，喊道：“别打了！就是在水底下嘛！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹看着山伢子说道：“我不敢带他下水，咋办？”&quot;<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;，更多精彩阅读，等你来发现哦。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;手机站:
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>