<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第471章：结界边缘</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第471章：结界边缘
</div>
<div class="bookname">
	<h1>第471章：结界边缘</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第471章：结界边缘<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;走了三天，经停两个城市，第四天中午进了天府境内，又走到晚上，开进了一片荒地，远远地看到连绵起伏的山脉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;车停稳，韩慕灵叫下车，古芊芊诧异道：“这是什么地方啊？直接就进山呐？不住酒店呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵说她：“你是来旅游的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嘟着嘴报怨：“那也不用这么艰苦吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵斥道：“在家的时候就属你闹腾，刚到这儿，还没走路呐就嫌艰苦，这座山是没开发过的，我给你现盖酒店呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嘟着嘴下了车。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵对两名门人说道：“你们先走吧，回来时我提前给你们打电话。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;五人分别背上行装、水粮和露营帐篷，向仙茗山开拔。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一直走到月上中天，古芊芊把背包往地上一扔，嗔道：“不走了！累死了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵皱眉，嗔恼古木苍：“你生的好闺女！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍笑着答道：“闺女嘛，又没出过远门儿，可以理解。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如此走走停停，按照采茶人手绘的线路图，寻着采茶人留下的标记，三天后，五人找到了古仙茶树。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;站在树下，山伢子仰着头眺望，他还是不能理解，怎么就能让一棵小小的种子，在短短的几十秒内长成这么高大粗壮的树。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;到了这个时候，古芊芊又兴奋了，催着山伢子赶紧找无名观。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子仔细地回想了一下，然后朝着东北方向走去，凭着印象走了十几分钟，发现树木突然稠密起来，而且感觉到轻微的法力波动。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子停住脚，四下里张望，说道：“这里应该是布有结界吧？我感觉到法力波动，而且这些树长得也太密了点儿，不太合常理吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“我心里害怕。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子扭头看她，刚想问她怕啥，古木苍接口说道：“我心里也害怕，有种再往前走一步，就会灰飞烟灭的感觉。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦……”山伢子迟疑了片刻，说道：“那咱们回家吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍跟韩慕灵一同失笑，最有可能跟祖师有关联的人是山伢子，而最不上心追溯历史，总打退堂鼓的恰恰就是山伢子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵问山伢子：“对于找无名观这件事，你到底是怎么想的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子坦率地答道：“其实我找不找都行，几百上千年的事儿了，有关系没关系的，反正日子还得这样过嘛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说，如果没有危险，那就当是旅游了，如果有危险，那就趁早回家，免得节外生枝。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍说道：“你没搞清楚，咱们不是来找能证明你跟无名观有关系的证据，而是想找到无名观，看看里面是否还留有典籍，或者是无名观这个道观，是否具有可以辅助你们修炼的灵气。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子挠头，说道：“可您跟晓荧不是心里害怕嘛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍说道：“都到这儿了，总要试一试，如果真的出现危险，再跑也来得及，总不能仅仅是凭一种感觉，直接就放弃吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“对呀。”古芊芊这会儿才说道：“我背着大包走了三天，好歹让我看一眼观门吧？要不然岂不是白辛苦？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看韩慕灵，问道：“妈，你害怕吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵答道：“我什么感觉都没有，心里既没有害怕，也没有感觉到法力波动，我想，可能因为我是十足十的外人，所以才什么都感觉不到，我只是觉得这些树长得这么稠密有点儿不正常。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子想了想，把火行石从衣服里抻出来露在外面，又从背包里把短剑拿出来，握在左手里，然后才说道：“那咱们再往前走走看看吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;看到山伢子直奔一棵树走过去，古芊芊刚想叫他，却看到山伢子走进了树里。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊一愣，随即笑着说道：“原来是幻像啊，这有什么意义啊……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊一头撞在树干上，眼前一片金星乱冒。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哎呀……”古芊芊摔坐在地上，双手相叠捂着额头，霍晓荧赶紧搂住她哄道：“撞疼了吧？来我看看。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊不松手，龇牙咧嘴地问道：“你看见伢子走进树里没？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧答道：“看见了，他之前说过的，说在梦里就是从树上穿过去的，可是你怎么过不去呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我哪知道！”古芊芊没好气儿地说道：“你去试试！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵赶紧阻拦道：“别试！芊芊过不去，肯定有问题，咱们待在一起，等伢子出来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧掏出手机打给山伢子，等了一会儿说道：“手机没声音。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍说道：“这里可能是结界的边缘，伢子应该已经进入结界了，可是芊芊怎么进不去呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵走到那棵树前，伸手去摸那棵树，在手即将碰到树身的时候，那棵树突然消失了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“糟了！”韩慕灵下意识的脱口惊呼，山伢子是从这棵树走过去的，现在树消失了，山伢子还能回来吗？或者说，山伢子即使能走出来，还能回到他们所在的这个地方吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这么大一座山，想找几个人，基本跟大海掏针差不多！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嗔道：“这货！吃的喝的还有帐篷，他全背走了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子穿过树之后走了十几步，猛然察觉背后没了脚步声，赶紧回身，发现人都不见了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子心里一阵发慌，纵声喊道：“晓荧！芊芊！爸！妈！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“何人在此喧哗？”一个带着铁锈般的阴冷声音响起。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子寻着声音看过去，看到一个人从地底下冒了出来，惊诧之余，山伢子才发现，这不是一个人，而是一具穿着道袍，手提长剑的干尸。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;干尸的头发和道袍上全是土，整张脸皱得像个骷颅，道袍穿在身上松松垮垮，脖子细得一把就能攥住，两排发黑的牙齿露在外面，光着同样皱得像劈柴似的脚。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子心里发慌，下意识地拔出了短剑，他这是自保心理的作用，毕竟对方是一具干尸，而且手里还拿着剑，虽然生锈了吧，可不见得砍不死人呐！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不知道是不是山伢子拔剑的行为刺激了干尸，干尸突然身形一晃，眨眼间到了山伢子面前，一剑刺向山伢子咽喉。
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>