<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第205章：炒菜</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第205章：炒菜
</div>
<div class="bookname">
	<h1>第205章：炒菜</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;&quot;第205章：炒菜<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子倒是没忘了做饭，一边儿切肉一边儿问方友同：“叔儿，你找我师父有事儿啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;方友同答道：“我媳妇儿病了，得了个怪病，头发一把一把的掉，上医院也看了，吃药打点滴，就是不见好，中医也看了，说是肾气弱，元气泄得厉害，吃了几副药也不管事儿，我就想找四哥问问，我怕我媳妇儿是中邪了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“叔儿，你是鬼，如果婶子中邪了，你应该知道。所谓的中邪，都是有鬼啥的闹腾，活人看不见，但是你能看见。如果你没见着啥东西，那婶子就是病了，找我师父没用。我师父只会做饭，不会看病。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹走了过来，看了眼菜板儿，问道：“葱爆羊肉？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”山伢子答应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹又问道：“大早上的吃葱爆羊肉？你想把芊芊道：“去歇着吧，马上就好。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊摇头，说道：“我看你炒菜。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙走过来说道：“就这么点儿啊？光给你俩媳妇儿吃啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉，张小莹说道：“别搭理他，他就是嘴贱，越搭理他越来劲。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说潘小龙：“你说话注意点儿，那边儿有卖包子的，你去买几个不就行了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“有异性没人性。”潘小龙翻了个白眼儿，对尚亚坤说道：“走，咱出去吃去！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”尚亚坤答应一声，跟着潘小龙走了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说古芊芊：“离远点儿，你这露着胳膊露着腿的，让油崩上就得起泡。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”古芊芊答应，看了他一眼，退了两步。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子左手放在炉子旁边，火焰蹿起，顷刻间炒锅冒起青烟，山伢子倒上油，将羊肉下进去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊看着他翻炒，问道：“你没有注入法力吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子扭脸儿看她，答道：“我是火，你是水，能行吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“试试呗。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，说道：“这能随便儿试吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“我妈跟我说了，你跟我姐在研究鬼食，你想过没有，炖汤用得水多，阴寒性比较重，你的法力还不够，如果是炒菜，会不会更容易些？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一愣，他倒没想过这个，因为他做的饭，潘小龙跟尚亚坤也得吃，所以他只是炖一锅汤跟张小莹喝。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹说道：“对呀！我在鬼市跟师公吃的都是炒菜。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊又说道：“我应该没事儿，我克你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子点头，说道：“行，那我试试。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完，让法力加注在炒勺上，炒勺瞬间发红，古芊芊又说道：“你应该借用灵石的能量，不是光靠你自身的法力。”&quot;
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>