<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第715章：不走</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第715章：不走
</div>
<div class="bookname">
	<h1>第715章：不走</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第715章：不走 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵天河摇头，还是一脸严肃地说道：“一般人不会像你这样想问题。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子不想继续这个话题，问道：“左边的门开了吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“没！”赵天河说道：“都砸死人了，哪还敢再开呀，用木桩子顶上了，怕倒。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子沉默，他其实也只是猜测，因为那段录音里总是半什么半什么的，所以他才想到阴阳的问题。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵天河问道：“是应该把左边的门拆掉吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“我都是乱想乱猜的，这种事情还得是领导做主，我来这儿就是陪着我媳妇儿。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵天河叹了口气，其实他缠着山伢子聊天儿，就是觉得山伢子不正常，媳妇儿来工作嘛，为啥非得跟着？ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;跟着也就算了，大下雨天的坐在帐篷外面，表忠心也不用这么个表法吧？况且很明显是花梦容黏着山伢子，山伢子不用这么自虐。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这里面肯定有事儿！但问题是人家啥都不说。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵天河想了想，问道：“想去看看不？我带你去啊？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子摇头，花梦容的安全比他的好奇心重要，况且明天要开主墓室，早晚能看到，不用这么着急，说道：“不去，我得守着我媳妇儿。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵天河说道：“这能有啥事儿啊？你看这四周也没有什么高坡，你也不用担心什么泥石流，我们跟这儿待了快俩月了，也没见有什么猛兽，没事儿！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子还是摇头，说道：“事儿总会在掉以轻心的时候找上门儿来，没事儿最好，万一有事儿，说啥都晚了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵天河盯着山伢子，低声问道：“你是怕有鬼对吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子眼眸一滞，而后干笑了两声，说道：“你喝多了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵天河说道：“我是有点儿上头，那是因为我心里害怕，我没喝多，我脑子清醒着呐！你说了阴阳生死，你力气这么大，你冒着雨在这儿坐着，你就是害怕有鬼。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;帐篷里，四个女生围住花梦容，蒋茗芳轻声说道：“老实交代，你老公到底是什么人？你跟他怎么认识的？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容答道：“你们真无聊，赶紧睡觉吧。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卢小丽嗔道：“睡什么睡呀，冷得透心凉。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她一说冷，所有人都抱着膀子糊拉胳膊，花梦容大声喊道：“老公！我冷！冻得睡不着！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;四个女生同时伸手掐花梦容，田静嗔道：“你有老公，我们怎么办？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容说道：“你们两人一个被窝嘛。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子在外面问道：“我能进去吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;蒋茗芳按开野营灯，说道：“进来吧。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子在外面脱了雨衣和鞋，用雨衣把鞋盖上，然后才进了帐篷，花梦容抱着双臂看着他嘟嘴，山伢子坐到她身边，靠在帐篷柱上，把她搂进怀里。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只一会儿工夫，花梦容就缓了过来，掩着嘴打了个哈欠，说道：“我困了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子扶着她躺下，说道：“睡吧。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;蒋茗芳说道：“是我的错觉吗？我怎么感觉他进来以后，帐篷里都没那么冷了？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卢小丽说道：“我也感觉他身上有股热气，像个火炉子似的，你看梦容，就抱了一会儿，脸色都红润了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容闭着眼睛说道：“别闲聊了，热乎了就睡觉呗，关灯。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;蒋茗芳嗔道：“有老公了不起啊，牛哄哄的。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完关了灯，又说道：“还真是热乎了，大暖男，你往里点儿呗？到梦容这边来，让我们也沾沾你的光。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子从花梦容身上翻过去，在另一边躺下，枕着胳膊刚想跟安婧说话，蒋茗芳突然咋呼道：“就是他身上的热气。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说着按开野营灯，伸手抓住山伢子的胳膊，诧异道：“你身上怎么这么热！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一脸尴尬地动了动胳膊，脱开她的手，说道：“我也不知道，可能跟我练武术有关系吧？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容坐起来嗔道：“烦死了，睡不睡觉啊？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;蒋茗芳说道：“都围过来，让大暖男睡中间，梦容，你斜过来。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯~”花梦容一脸不高兴地嚷道：“我老公又不是炉子！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子抱着她挪动了一下，哄着她说道：“行了，快躺下吧。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;重新折腾完关了灯，山伢子才把从赵天河那里得来的情况告诉了安婧，等了一会儿，安婧说道：你猜得应该没错，这个墓肯定有古怪。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：那咱走吧？ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧答道：等下。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;过了一会儿，安婧说道：不走，得把墓里的情况搞清楚，尤其是那些文字，卿琴说可能是某种修炼魂魄的方法。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：明天开主墓室，万一整出老鬼来咋办？ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;又过了一会儿，安婧说道：芊芊姐说了，随缘而遇，随遇而安，咱们就算走了，他们也是要开主墓室的，救人一命胜造七级浮图，何况你那儿有那么多活人，看情况吧。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子沉默，安婧又问道：梦容还好吧？现在只有五度。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：没事儿，已经睡了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧说道：你也早点儿睡吧，明天要么没事儿，要么就是出大事儿。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一觉醒来，不到早晨七点，山伢子坐起来，轻手轻腿地出了帐篷，雨已经不下了，山林中雾蒙蒙的，空气里有泥土的潮气和草木的气味。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子举起双臂用力伸展，这一宿睡得极其难受，被一堆女生围在中间，他动都不敢动一下，也没睡踏实，这会儿身子骨发硬。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵天河小跑着过来，拉住山伢子就要走，却没有扯动山伢子。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“干啥呀？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵天河小声说道：“死人了，跟我走。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子还是不动，说道：“不行，我得守着我媳妇儿。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵天河皱眉，一脸无奈地说道：“叫你媳妇儿一块儿。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子转身进了帐篷，轻推花梦容：“媳妇儿，醒醒。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯~”花梦容翻了个身，没睁眼。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子凑到她耳边轻声说道：“听话，起来跟我走，有事儿。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容猛然睁开眼睛，一脸惊慌地瞪着山伢子，山伢子轻声说道：“别怕，来，起来。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;出了帐篷，山伢子才告诉花梦容情况，两人跟着赵天河到了保安公司的住地。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;(本章完)
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>