<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第720章：六丁阴神</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第720章：六丁阴神
</div>
<div class="bookname">
	<h1>第720章：六丁阴神</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第720章：六丁阴神 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沉默了好一会儿，安婧问卿琴：要不要把李绣娘放出来？ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴答道：不用，收她进魂瓶时芊芊不是说了嘛，这次的事很棘手，没法照应她。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧沉默，卿琴又说道：你别乱好心，李绣娘的问题很严重。再说了，就算是冤枉了她，她也是被人骗了，反正有伢子嘛，让伢子补偿她就行了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧点了点头，卿琴又说道：对了，差点儿忘了，你跟芊芊说，墓道里那个屏风有问题，让她查看一下。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧告诉了古芊芊，古芊芊拉着山伢子走回那堵墙边，她也觉得这个弯拐得别扭，怎么会左边有路，而右边没路呐？ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;就是卿琴说的，这样修建，阳极盛而阴不足，别说是墓穴，就是活人的房子也不能这样修建。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊伸手在屏风墙上敲了敲，又在侧边墙敲了敲，皱皱眉，又拔出秋霜剑，倒握着剑柄在两面墙上都敲了敲，然后说道：“夫君，这面墙比屏风薄，后面好像是空的。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看着她问道：“夫君？不是表哥吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊笑着轻捶了他一下，嗔道：“你是以梦容未婚夫身份来的，难道要让别人知道梦容给你做小啊？你不要脸，梦容还要脸呐。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子笑，问道：“打碎这面墙？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊摇头，说道：“这上面这么多文字，你让婧婧拿着照相机来一下，先让梦容翻译，看看是什么意思。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“你直接叫呗，你不是也跟她标记了嘛。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊看他，山伢子问道：“为什么不告诉我？这还有什么讲究吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊微笑着答道：“没什么讲究，就是怕你知道了，会让婧婧取消跟你的标记，不过现在不怕了，你也知道她喜欢你。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子笑，搂住她要亲，古芊芊嗔道：“没正形，强敌在侧，你还有这闲心？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子还是亲了她一下，轻声说道：“咋了，我就算脱了裤子，也不影响打架嘛。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊笑，突然冒出一个念头，但这个念头只是一闪，说道：“别闹了，我让婧婧来了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;照了照片，花梦容翻译了一个多小时，安婧又帮着按现代语言习惯整理通顺，才念给古芊芊听：右侧通道之所以封闭，是为了避免六丁阴神被阳气冲撞，六丁阴神护卫王墓，不让坏人和盗墓者进入，凡进入者必会被阴气侵蚀。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;等到王（不知道是什么王）轮转之后，在此冥文前尝试调度六丁阴神，如果不能调度，王须重入轮转的工具，继续修炼，直到能调度六丁阴神为止。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧是同时对古芊芊和山伢子两人说的，两人面面相觑，山伢子轻声问道：“什么轮转工具？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊摇头，手按在墙上感应了一下，轻声说道：“这里面不可能是真正的六丁阴神，应该是惨死被封印的厉鬼，是给那个阴阳面驱使用的，但肯定是能量巨大，所以阴阳面还调动不了，否则咱俩恐怕也不是对手。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子又轻声问道：“那货缩回去，是不是又进那个什么轮转工具了？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊摇头，答道：“我也不知道，夫君莫急，等人手来了咱们便托起石门，进去一看便知。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“她们什么时候能来？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“最迟明天这个时候也就该到了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“那现在等于是既没事儿又没危险了？”山伢子露出邪魅的笑容，古芊芊一愣，随即羞笑着轻声嗔道：“又没正形，不准！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子抱住她，轻声说道：“你说不准就不准呐？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊连忙说道：“夫君！他趁机出来怎么办？你不怕看，我可不能被他看到。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子撅嘴，说道：“我觉得他肯定不会出来，他一见到你就缩回去了，肯定知道自己不是你的对手，肯定回那个什么轮转工具了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊笑嗔道：“那也不行！梦容没跟你好吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子抱着她不撒手，说道：“那不一样嘛，我想你了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊幽幽一叹，捧着他的脸嗔道：“你当年若能如此，何致我奔波苦熬七百年。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“你当年长大的时候，我已经油尽灯枯了，让你当寡妇啊？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊一愣，随即嗔道：“你总有理可说！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;日落山尖，花梦容轻声问安婧：“他们在里面干什么？反正媚影她们还没来，为什么不出来待着？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧轻声答道：“他们得堵着那只厉鬼。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容嘟嘴，说道：“看不见他们，我心里发慌。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧宽慰她：“放心吧，芊芊姐七百年的法力，不会有事的。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其他四名女生从别的渠道知道了事情的大概，谁也不敢招惹花梦容，除了吃东西的时候招呼一声，其他的时间都是沉默着各做各的事。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吃完晚饭，赵天河来了，问花梦容：“梦容姑娘，这会儿方便吗？方老师和张老师想跟你聊聊文字的事情，如果方便的话，他们请你跟安姑娘一起过去一趟。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好。”花梦容拿着资料站起来，卿琴说道：“让保安队长亲自来叫，肯定是要背着人问伢子的情况，说话要当心啊。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容点了下头，拉着安婧，跟着赵天河走了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵天河带着两人去了保安公司的住地，进了一个布置成会议室的帐篷，里面只有方久年和张晨两个人，方久年坐在长桌的顶端，张晨坐在里侧第一个椅子上，两人面前都放着茶杯。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容招呼道：“方老师，张老师。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;方久年说道：“梦容来了，快过来坐，安姑娘也坐。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧浅笑了一下，跟着花梦容走过去坐下。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵天河转到张晨旁边坐下，说道：“我先通报一下情况，法医已经来过了，吴兵的尸体也运走了，初步检查结果，一半身体是严重烧伤，另一半身体是严重脱水，但具体原因不明，需要回去后做进一步检查。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容看安婧，安婧面无表情，这没什么可奇怪的，阴阳面是阴阳共生，一边是阳，一边是阴，阳为火，阴为水，吴兵应该是同时被抓住了双手，被吸干了命力和魂魄。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;(本章完)
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>