<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第31章：一问三不知</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第31章：一问三不知
</div>
<div class="bookname">
	<h1>第31章：一问三不知</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第31章：一问三不知<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四琢磨了一会儿，又问李小山：“你这次回家来，有没有进过山？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李小山点头，答道：“进过，头年的时候儿进山了一趟，采了几袋子山货，准备过完年带出去卖了，四叔你不知道，现在咱这山货可稀罕了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一提到挣钱，李小山两眼放光，嘴就停不下来，徐四也不拦他，一边儿听他说一边琢磨，难道不是鬼，是在山里冲撞了黄大仙儿或是白大仙儿之类的？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可想想又不对，通常被大仙儿冲身是不会说话的，而那个撞客说话条理清楚，应该是鬼才对。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四问李小山：“你在外面有没有刨过坟地？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四会这么问，是因为李小山跟着施工队，造房子这种事儿，在哪儿盖都有可能。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李小山眼神有点儿闪烁，答道：“头年的活儿倒是在坟地边儿上，但是我没刨，现在都不用人刨了，都是挖掘机，我一直想学开那玩意儿，但是老板不搭理我。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四看着他，总觉得他知道是怎么回事儿，就是不说。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“小山，那个撞客可说了，说你知道是怎么回事儿，你要不跟我说实话，他还得闹腾你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李小山皱紧了眉头，看着徐四说道：“四叔，你不就是干这个的吗？你咋还能让他拿住呐？你收了他不就完了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四嗤笑一声，说道：“你说得倒轻巧，我连因果缘由都没搞清楚，你是让我跟他硬碰硬啊，你给我多少钱？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一提钱，李小山的脸色就不太好看了，说道：“四叔，我这一年到头儿也挣不了几个钱，你看这……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四哑然失笑，这可真叫不是一家人，不进一家门，李小山比他爹还甚，他爹只是抠门儿，他都已经到了舍命不舍财的程度。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“行吧，既然你什么都不知道，那我也没处下手，先这样儿吧，你回家歇着去吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李小山一愣，随即苦着脸问道：“四叔，你要多少钱？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四脸色渐冷，说道：“我跟你要钱了吗？我的意思只是说，你什么都不告诉我，我不可能为了救你去跟一个不明底细的撞客硬拼。你的命是命，我的命不是命？你的事儿你都不操心，我还操哪门子的心？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李小山有点儿发慌，急切地说道：“四叔，我真的什么也没干！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四耐着性子解释道：“我没非得说你干了什么，那你说，你什么都不知道，那个撞客也没跟我说是怎么回事儿，你说你让我咋着？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李小山皱紧了眉头，琢磨了一会儿问道：“四叔，我晚上能跟你家睡吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四笑了，说道：“行，你可以在我家睡，但我得收房钱，不过话又说回来，你躲得了初一，躲得过十五吗？你总不能一辈子在我家睡吧？你不娶媳妇儿了？你不去打工了？对了，我倒忘了问了，你回家前闹过吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李小山抬起双手搓脸，搓了两下儿后长出了口气，答道：“闹没闹过不知道，我跟工友们睡工棚，没听工友说我晚上闹腾，不过我总觉得头发蒙。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四点头，工棚里都是青壮年男子，阳气极重，所以那只鬼闹腾不太起来，可李小山回了家之后，没有了阳气的保护，所以就闹得凶了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是徐四没有给李小山解释，因为很明显，李小山是在刻意隐瞒什么，而且又是个守财奴，如果徐四给他解释，他很可能更不说实话，直接跑回工棚去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;活人聚集时的阳气虽然重，但不是绝对的，而且李小山也不能一辈子住工棚，况且这件事现在不解决，可能不出半个月就会要了李小山的命，成天吃土谁受得了？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;退一步来讲，李小山自己作死了没什么，但所谓恶鬼无心，李小山很可能连累别的工友。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;况且这只鬼踩进了徐家的地盘儿，要是让他把李小山弄死了，那徐家祖祖辈辈的脸面可就都掉地上了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“你先回去，他再闹腾……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“那不成！”李小山不等徐四说完就嚷开了：“他再闹腾我还受得了吗？你赶紧想办法抓他呀！你不能不管啊！你们徐家不就是干这个的吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;‘啪’的一声，徐四一拍桌子站了起来，李小山愣住，李大头推门儿进来，训斥李小山：“兔崽子，怎么跟你四叔说话呐？没大没小的，赶紧向你四叔认错儿！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“不必了，你儿子一问三不知，这样的事儿我没法儿管，你们走吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李大头赶紧陪笑脸儿，说道：“他四叔，你别跟他一般见识。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完又照着李小山后脑勺儿扇了一巴掌，斥道：“让你不好好儿上学，连个话都不会说！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李小山脸色尴尬地说道：“四叔，你别生气，我这是吓得，我脑子不转筋了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四又坐下，说道：“我也不是跟你计较，你什么都不知道，那个撞客也不跟我说是什么缘由，我连他是谁，是什么东西都不知道……我也真是没法儿弄，只能等他再来找你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李小山皱眉，李大头问道：“他四叔，你不能给画个符啥的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“画符治标不治本，咱得知道是什么事儿，好想办法彻底解决。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李大头说道：“你把那玩意儿收了，不就彻底解决了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四看着他说道：“你说得轻巧，还没等我探他的底呐，他就跑了，我上哪儿收他去？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子心里有气，聊了大半天，说了一车的话，可李家爷俩儿谁都不提给钱，这人咋这抠儿呐？这不仅是求四叔办事儿，这是找四叔救命呐！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但山伢子只敢用眼睛剜李家爷俩儿，不敢说话，因为四叔说了，他还没有资格说话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李家爷俩儿都没了话说，李大头掏出一沓儿钱，数出十张放在桌面儿上，陪着笑脸儿说道：“他四叔，你多费心。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四点了点头，说道：“你们先回去，再有事儿赶紧来找我。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李家父子一同答应，然后离开了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;看着两人出门儿，徐四低声对山伢子说：“这一千块钱是他们爷俩儿的脸面，我要是再不收下，就有点儿太过分了，但你记住，这样的事儿，怎么也得要两万块钱。”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>