<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第380章：跟着鬼</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第380章：跟着鬼
</div>
<div class="bookname">
	<h1>第380章：跟着鬼</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第380章：跟着鬼<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子回到饭店没一会儿，秦润之打来电话，说秦瑶吐了，吐得是一堆黑乎乎的东西，但是胃没有疼，气色看着反倒好了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“秦先生，我要打个电话，先挂了，一会儿给你回电话。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;挂断了电话，山伢子打给韩慕灵，把秦瑶的情况说了一下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵告诉山伢子，呕吐物为黑色，有两种可能，一种可能是淤血，如果是淤血的话，这么小的孩子就淤成这样，恐怕药石无功，很难治好了，毕竟医术不是仙术。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;另一种可能是阴毒，如果是阴毒的话，那就是个好现象，是喝了山伢子做的肉汤之后，将阴毒排了出来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;分辨的办法就是闻气味，臭而不腥就是淤血，腥气盖过臭气就是阴毒。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵告诉山伢子，如果是淤血，他就不要再管了，管不好就会惹祸上身。如果是阴毒，那就可以接着管，但还是只能喝汤，而且做汤的火力也不能太大，因为孩子太小，体质太弱，虚不受补，整过火儿了反倒要命。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“妈，秦先生说他孙女的气色看着反倒好了些。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵说道：“回光返照的时候气色也会好很多，你有可能是给她排了阴毒，也有可能是给她送了魂。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦……”山伢子答应，说道：“我知道了，那我挂了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;挂了电话，山伢子心情忐忑地打给秦润之，问道：“秦先生，您孙女的呕吐物腥不腥？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦润之答道：“很腥，可她没吃鱼呀。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子松了口气，说道：“那是体内的阴毒，我跟您解释不清楚，这样，您明天带您孙女再来一趟，我给她再做一盆肉汤喝。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好。”秦润之答应，说道：“谢谢。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;挂断了电话，山伢子莫名的感觉欣慰，或许是他有希望能救一个孩子的命吧？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;没过多久，手机又响，还是秦润之打来的，山伢子右眼皮跳了两跳，心情紧张地按了接听键。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦润之说道：“石先生，不好意思，我想问一下，我知道你们饭店夜间营业，但是您在饭店吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“我在饭店，我的班儿就是下午到凌晨。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“那太好了。”秦润之的语气透着一丝兴奋，说道：“瑶瑶说她饿了，还想吃肉汤，我现在可以带她去饭店吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子心放下了，答道：“可以，我等你们。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一个来小时，秦润之带着秦瑶来了，一进门儿，秦瑶就高兴地唤道：“大哥哥！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子微笑，答道：“瑶瑶乖，你的脸色好多了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯！”秦瑶说道：“我觉得肚子里暖乎乎的，而且很饿很饿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子笑着对秦润之说道：“坐吧，肉汤已经做好了，我去端。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“谢谢。”秦润之拉着秦瑶走到桌边坐下，说道：“我还是吃素烧茄子，另外，肉汤也算钱吧，不能总让您破费呀。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“没事儿。”山伢子的目光停在一只鬼的身上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这只鬼是跟爷孙俩前后脚进的门，山伢子以为是来吃饭的鬼，所以也没在意，但没想到，他跟着爷孙俩走到了阳间界，而且站在桌边。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;鬼用灰白的眼珠盯着山伢子，阴冷地说道：“别管闲事儿！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子微一皱眉，对秦润之说道：“秦先生，还是到楼上坐吧，这个位置离门太近，客人出来进去的有风。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“也好。”秦润之站了起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“跟我来吧。”山伢子看了那只鬼一眼，转身向楼梯走去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;上了二楼，山伢子到包间儿门口看了一眼，见里面没人，转身说道：“坐这里吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊？”秦润之有些意外，就他们爷孙两人，为什么要坐包间儿啊？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是秦润之没有问，顺从地答应道：“好。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;进了包间儿，那只鬼也跟了进来，山伢子没搭理他，因为如果他想害这爷孙俩，应该不用这么跟着，所以还是先去给秦瑶拿肉汤。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;到厨房交待人做素烧茄子，然后端着肉汤和一碗小米粥回到包间儿，放到桌子后说道：“瑶瑶，喝点儿小米粥，对胃好。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯！”秦瑶扬着脸笑，一边摘手套一边说道：“谢谢大哥哥。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那只鬼突然向秦瑶问了口气，秦瑶打了个冷战，山伢子转到鬼身边，抬手一巴掌扇过去，直接把鬼打进了墙里面。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦润之一愣，山伢子说道：“有东西跟着你们。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦润之瞬间两眼发直。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子转回身，伸手按在秦瑶的头顶上，将一缕内息送进她的百会穴。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦瑶精神一振，挺直了身子说道：“好热呀，大哥哥，你的手掌好热呀。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子收回手问道：“还冷吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦瑶摇头，答道：“不冷了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子微笑着说道：“那就吃饭吧，小心烫。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯！”秦瑶答应，拿起汤匙开始吃饭。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦润之用询问的目光看着山伢子，山伢子走到包间儿门口，示意秦润之出来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦润之走到门口，又回头看秦瑶。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“不用担心，我看着她。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦润之点头，走到门外，山伢子侧站在包间儿门口，眼睛盯着秦瑶，低声问道：“秦先生，瑶瑶的父母不在国内吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦润之答道：“瑶瑶五岁的时候，他们两口子出车祸死了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子并不惊讶，因为已经想到了，又问道：“瑶瑶发病之前，您有没有觉得家里特别的冷？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦润之回想了一下，答道：“没有，家里很正常，我记得那天瑶瑶突然发起高烧，我连夜送她去医院，打了一宿的点滴。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子转回头看着秦润之问道：“那您有没有害死过人？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“没有！”秦润之不自觉地提高了音调，但随即恢复平和：“我开了间公司，做得是正经生意，别说害死人，我连猫狗都没害死过。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，这算怎么回事儿？难道是冲撞了？这鬼也是，给了一嘴巴居然就不回来了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦润之低沉地说道：“石先生，我这几年常梦见一个人，是我年轻的时候认识的人，他已经死了快三十年了。”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>