<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第655章：得问问</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第655章：得问问
</div>
<div class="bookname">
	<h1>第655章：得问问</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第655章：得问问<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊看霍晓荧，霍晓荧说道：“你问。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊看着李绣娘说道：“李绣娘，将头发捋开。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李绣娘答道：“我被妖法禁锢，双手不听使唤。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“你既已去过城隍庙，难道无人替你解除妖法吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李绣娘答道：“神官说，自然有人替我解除，若无人替我解除，让我再回城隍庙。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊微一皱眉，钟离愁问道：“这是啥意思？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“我要是认她，至少得替她查冤报仇，当然得先替她解除妖法……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦……”钟离愁抢着说道：“你要是不认她，城隍那儿给你记一笔，对吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“这我不知道了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容说道：“她说是是啊？咱们不用去城隍庙问问吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧附和道：“是啊，这么容易相信，那是个鬼能说自己跟伢子有关系了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“呵呵……”钟离愁笑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容问道：“大叔，你笑什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁答道：“我笑你们俩，人家伢子的两个正牌儿老婆都还没说话，你俩倒先急眼了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;章嫦香搥了钟离愁一拳，安婧抿着嘴低下头，花梦容脸色发红地嗔道：“为老不尊，龌龊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“话只要说得对，不必强调说话者的身份，她们俩说得对，这件事是要查证一下。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁又呵呵一笑，说道：“芊芊还真是变了个人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;章嫦香又搥了他一拳，钟离愁皱眉说道：“你总搥我干啥？你多大手劲儿心里没数儿啊？再把我搥漏了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;章嫦香嗔道：“你少说话，你一个长辈，当着伢子他们的面这么贫，你也好意思？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊拿起魂瓶，将李绣娘收进去，然后对霍晓荧说道：“姐姐，咱俩去城隍庙问问。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所有人一愣，霍晓荧问道：“人家能搭理咱吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“去了才知道。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”霍晓荧站了起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子突然说道：“不行，芊芊不能去！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊看着他，山伢子说道：“你是抢胎转生的，万一这是陷阱，是为了勾着你去销案呐？我跟晓荧去，我是事主，晓荧是我明媒正娶的冥妻，我俩去问。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊微笑，说道：“我陪你们去，我不进去是了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧站起来说道：“我也去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“你留下，保护梦容。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容说道：“我也去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“你别去了，你这么香，再让人把你炖了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子接口说道：“原来这股香气是你身的呀？我还以为是师婶呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容笑眯眯地答道：“师母已经给我解开封禁了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁问道：“梦容也是妖吗？怎么嫦香还香？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;没人说话，古芊芊答道：“她不是妖，是人，只不过能力特殊而已。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁问道：“什么能力？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊坦率地说道：“不能告诉你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁一愣，古芊芊对山伢子说道：“走吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;三人离开，钟离愁问花梦容：“你有什么能力？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容答道：“师母不让说。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁嗔道：“拿我当外人呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容答道：“等师母回来您问她好了，别难为我做小辈的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁又问古木苍：“老古，你家孩子有什么能力？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵说道：“孩子的事不要管，我累了，你也不是外人，我不陪你了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完起身楼了，古木苍笑着说道：“都不是外人，我也去休息了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁嗤道：“一个鬼还要休息，嫌我多事儿直说呗，我回饭店了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子开着车，按照古芊芊的指引往郊区走，真正的城隍庙不是市区里人工修建的祭祀场所，而是像鬼市一样，有一个自己的特殊空间。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;远远地看到一片耀眼的金光，金光是一院庄严透着阴森的古代式建筑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子靠边停了车，对古芊芊说道：“你跟这儿等我们。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嫣然而笑，说道：“这也太远了，夫君过虑了，再近些，我只要不靠近那片金光好了，再者说，真要想拿我归案，恐怕也不会等到我魂力觉醒吧？这多费事呀。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子抬手挠了挠头，这话对，抓古芊芊可抓素雪容易得太多了，真是关心则乱。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;开车到了近处，看到一个两层楼那么高的大鬼，扛着一把一个正常人还要长一些的钢刀，在院子外面晃悠。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子踩住刹车，愕然问道：“这啥玩意儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧茫然答道：“不知道，我没来过。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“是夜游神，城隍治下的鬼差。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子答应，熄了火，说道：“你跟车等着。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊又叮嘱道：“他虽然是鬼差，但你跟他搭话时，最好称呼他为神将。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”山伢子答应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;下了车，夜游神便瞪着铜铃一样的眼睛看着山伢子和霍晓荧，见两人向城隍庙走来，便闷声喝道：“生人止步！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子拱手说道：“这位神将，有一只女鬼找我，说是受城隍神官指引，我不知真假，所以来问问。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夜游神问道：“你可是石庆山？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子心里咯噔一下，看来这事儿是准了，答道：“是。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夜游神又问道：“找你的女鬼可是披发红衣？受妖法禁锢？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子叹了口气，答道：“是。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夜游神说道：“回去吧，你有话问她便是。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊走了过来，说道：“敢问神将，李绣娘若能代城隍传话，还要判官与神将何用？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夜游神环眼一瞪，斥道：“汝是何人？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“古芊芊，石庆山今世的未婚妻，我要面见城隍治下判官。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夜游神不屑地哼了一声，刚要说话，却看到古芊芊周身溢出氤氲紫气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夜游神一愣，瞪着古芊芊静默半晌，说道：“稍候，待我通报一声。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完，夜游神转身，变成了一个孩童般的小鬼，跑进了城隍庙。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧感叹道：“果然是三界之内，强者为尊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊笑了笑，没有说话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;/bk
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>