<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第134章：遗嘱</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第134章：遗嘱
</div>
<div class="bookname">
	<h1>第134章：遗嘱</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第134章：遗嘱<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;三人到了扎纸黄家门口儿，屈敬龙敲门，没敢太用力，毕竟已经是凌晨了，就算不怕惊着扎纸黄，也怕吵着邻居。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;敲了六回门，等了五分钟，屈敬龙皱起了眉头，虽说扎纸黄年纪大了，可耳不聋眼不花，况且老年人觉轻，有点儿动静儿就能醒。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈敬龙觉得不对劲儿，问山伢子：“身上带符纸了吧？给我一张空白的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子从口袋里掏出一张空白符纸递给屈敬龙。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊问道：“屈叔叔，你怎么知道他带着符纸？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈敬龙一边撕着符纸一边儿答道：“要不说你什么都不懂，来救人连符纸都不带？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嘟嘴。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈敬龙撕了个纸人儿，然后右手掐诀，念了一句咒语，将纸人儿激活，从门缝儿挤了进去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;片刻后，门锁打开，屈敬龙拉开门进屋，轻声唤道：“黄老？我是屈敬龙。黄老？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;没人回应，古芊芊伸手去按电灯开关，屈敬龙连忙阻止道：“别动！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊一愣，屈敬龙说道：“你们俩站在这儿不要动，什么都不要碰，听见没有？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子点头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊却皱眉，问道：“屈叔叔，怎么了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈敬龙没回答，走到卧室门口看了一眼，然后赶紧走回来说道：“黄老好像是过去了，快出去，我报警。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一愣，说道：“救人呐，我这个灵石能救人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊反应过来，扯着山伢子往外走，边走边小声儿说道：“黄爷爷岁数儿大了，又没个亲人，也不知道他什么时候过去的，万一你救不了，咱们私闯民宅，这事儿可就说不清了，快出去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;到了门外，把门锁好，屈敬龙先打电话报警，说是老人一个人在家，敲不开门，然后又打电话叫了救护车。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;警察来得很快，还带着一个困得哈欠连天的锁匠，让锁匠开锁的工儿夫，警察问屈敬龙：“你们这大晚上的，什么情况？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈敬龙答道：“这个老爷子姓黄，是扎纸匠，他一般都是晚上接生意，您也知道，信这个的人都有点儿古怪，所以我们大半夜的来找他。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”警察点头，这个解释很合理，信仰嘛，不管怎么说，要尊重别人的信仰。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;门打开，警察先进去，片刻后喊道：“快叫救护车！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈敬龙连忙跑进去，答道：“叫了，怎么了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;扎纸黄歪倒在地上，看样子像是从椅子上侧着摔下来的，桌上有张纸，上面歪七扭八的写着几个字：我的东西给石庆山。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;警察问道：“你们认识石庆山吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一愣，接口答道：“我就叫石庆山。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;警察皱眉，开始打量三个人，问道：“你们跟这位老人是什么关系？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈敬龙指着古芊芊说道：“这是我侄女儿，他是我侄女儿的男朋友，这不是因为快高考了嘛，之前他们俩来找过黄老爷子，想让黄老爷子给算算，能不能考个好大学，黄老爷子看上石庆山了，想收他做弟子。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;警察眉头皱得更紧，这都什么乱七八糟的，考学跟算命扯一块儿，这不是病急乱投医吗？还收徒弟？有大学不上，干扎纸这行儿？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过这些话也不方便说，而且警察有点儿不太愿意搭理这仨人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;救护车很快到了，两名急救人员跑上来，检查后对警察说道：“应该是突发心梗，这个岁数儿了，很正常，人已经……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;急救人员看屈敬龙，问道：“您是家属？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈敬龙答道：“我不是，这位老爷子没亲人，就他一个人儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;警察对急救人员说道：“你跟我说吧，我是这个区的片儿警。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;急救人员说道：“老人已经走了，没有抢救的必要了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;警察点头，说道：“来，搭把手儿，把老爷子抬到床上去，我刚才没敢动，怕有什么情况。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;把扎纸黄的遗体抬到床上，警察对急救人员说道：“辛苦了，剩下的事儿交给我吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;急救人员问道：“出诊费怎么办？这位老人就一个人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;警察掏钱包，说道：“我掏吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈敬龙说道：“我来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“黄爷爷说把他的遗物都给石庆山，应该让石庆山掏。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子答应，从兜儿里掏出一把钱，问古芊芊：“多少钱？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊这个恨呐！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;自己长得比电影儿明星还漂亮，‘男朋友’居然是个憨货，连个钱包都没有，还问她多少钱，她又不是急救人员，她哪知道多少钱？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;急救人员说道：“出诊费四十，没有抢救，十二公里，一共七十六块。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈敬龙拿了二百块钱塞到急救人员手里，说道：“大半夜的，买个汉堡吃吧，多了也不敢给，怕你们犯纪律，就这样儿吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;急救人员走了，警察说道：“老人留下这几个字，也算是遗嘱了，石庆山，你接受这个遗嘱吗？你要是接受的话，老人的后事你就操办吧，你明天拿着死亡证明到派出所去一趟，我给你开证明。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，他还得找小莹呐，哪有时间办后事，可人死这么大的事儿，扎纸黄又留了遗嘱，他要是不接受，是不是太没人味儿了？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈敬龙说道：“接受，我是他叔儿，我说话算数儿，辛苦您了，这个……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈敬龙又拿出二百块钱要塞给警察，警察说道：“你这是干什么，我是警察，警察为人民服务不收钱。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈敬龙说道：“我知道，这大半夜的，买点儿夜宵儿吃。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;警察说道：“我们单位管饭。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完又对山伢子说道：“记得明天去派出所儿啊，开证明这事儿不能耽误。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗳。”山伢子答应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;警察走了，屈敬龙叹了口气，看着山伢子说道：“天有不测风云，人有旦夕祸福，你别太着急了，你放心，黄老的后事我帮你办，还得通知姬家一声儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子心里着了火一样，扎纸黄死了，小莹怎么办？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;琢磨了一会儿，山伢子问屈敬龙：“叔儿，黄老的魂儿有神识吗？”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>