<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第559章：第二次吸收</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第559章：第二次吸收
</div>
<div class="bookname">
	<h1>第559章：第二次吸收</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第559章：第二次吸收<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;回到莫林市以后，山伢子、古芊芊和霍晓荧立刻开始阅读素雪的笔记。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一共是三十四本，但时间跨越却在一百年以，所以这并不是日记，而是心情随笔。字里行间写满了回忆和落寞，山伢了看得心疼，古芊芊看得牢骚满腹，霍晓荧看得直皱眉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;用了几天时间，把所有的笔记都看完，也没有找到任何有用的线索。想想也是，重要的事情也不会写在面，更不会堂而皇之地放在遗体旁边。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧问古芊芊：“你法力提升了不少吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊茫然答道：“不知道，没什么感觉。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧看了山伢子一眼，说道：“你俩打一架。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好啊。”古芊芊站起来，她这两天看笔记看得心里堵得慌，正愁没处撒气呐。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子搂住她，古芊芊恨恨地推他，但山伢子搂得紧，古芊芊没推开，狠捶了他两下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“你心情烦躁，还是别调运法力了，容易努着。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊张口咬他肩膀，山伢子咬牙忍着，霍晓荧站起身出去了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;见霍晓荧下来，韩慕灵问道：“有什么线索吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“没有。”霍晓荧坐到沙发，一脸无奈地说道：“全都是心情随笔。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵平静地点了点头，这种结果显而易见，换了是谁也不会把重要的事情写在笔记里，算曾经记录了下来，也不会放在身边，毕竟无名观还是能够被人找到的，更何况还有一个素茗。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵说道：“不用纠结了，该来的总会来，该知道的迟早会知道。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”霍晓荧声调消沉地答应，不知道为什么，解决了干尸的问题，进到了无名观，找到了素雪的遗体，古芊芊有了珠链和古剑，还吸收了法力，这些都是应该高兴的事，可霍晓荧却觉得心里很沉重。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵问霍晓荧：“你没事儿吧？我看你心情不好，有没有什么话想跟我说？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧答道：“没事儿，可能是看素雪的笔记看的，有点儿受影响。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵微微皱了皱眉，选择了沉默，他们三个的事已经超出了父母干预的范畴，这是千年轮回的结果，韩慕灵觉得自己还是不要插手为好。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;入夜，山伢子再次听到有人叫他的名字，一睁眼，一柄钢刀当头劈来。山伢子周身骤然溢出红光，钢刀被猛然弹开，欧阳垚踉跄着退了好几步，才勉强站稳。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子红着双眼站了起来，厉声斥道：“你还有完没完？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳垚脸色阴霾地说道：“杀了你完了，一命抵两命，还便宜你了呐！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完再次冲来挥刀劈落，山伢子抬手接住刀刃，红光迅速通过刀身向欧阳垚的魂体蔓延。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳垚一惊，用力回抽，想把刀夺回去，但无论如何用力，钢刀都是纹丝不动。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;红光已经包裹住欧阳垚的双臂，感觉到灼痛，欧阳垚才猛然醒悟，但是此时再想放手后撤已经来不及了，他的双手被一股强大的吸力吸附在刀柄，红光迅速将他整个魂体包裹住。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊……”欧阳垚惨叫，眼睁睁看着钢刀和自己的手臂化作了烟气，被吸入山伢子的掌心，而他一动都不能动。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子双眼血红，胸膛急促地起伏，心里有种说不出的快感。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳垚愤怒而惊恐地大声质问：“你到底是什么东西！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子猛然坐起来，愣愣地盯着对面的墙，好半天才回过神来，扭头看到古芊芊睡得很沉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子心惊肉跳，这已经是第二次了，欧阳埁是这样，欧阳垚也是这样，这是无名观的功法？还是他出了什么问题？万一哪天不小心，把芊芊或是晓荧吸收了怎么办？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子轻轻地下地，给古芊芊盖好，然后穿好衣服出了门，到霍晓荧门外轻声唤道：“媳妇儿，出来一下，我有事儿跟你说。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;片刻后霍晓荧拉开门，问道：“怎么了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“去楼下说。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧微一皱眉，回头对赵梓航说道：“你先看吧，不用等我。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”赵梓航答应一声，霍晓荧出来把门关，拉着山伢子下楼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;到客厅坐下，也没开灯，山伢子把刚才梦的事告诉霍晓荧，霍晓荧皱眉问道：“你有没有什么不好的感觉？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子苦着脸答道：“没有，是感觉太好了，所以我害怕呀，你说我不会入魔吧？万一哪天要是伤着你和芊芊怎么办？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“那怎么办？认倒霉呗。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子嗔道：“说正事儿呐，还开玩笑！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“谁跟你开玩笑了？我说得是实话，你都不知道怎么办？我哪知道啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子满脸纠结的琢磨了一会儿，说道：“不行，我还得去无名观。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧叹气，说道：“别折腾了，无名观什么都没有，你去了又有什么用？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉说道：“我怕伤着你和芊芊呐！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧宽慰他：“不会的，我跟芊芊又不会与你为敌，算吵个架绊个嘴，你也不至于对我俩下杀手吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子依然皱着眉头，问道：“那我要是入魔了呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧坦然答道：“入魔入魔呗，你入了魔，我俩也跟你一条心，穷碧落下黄泉，刀山火海陪你闯。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子心头一热，将她拥入怀，霍晓荧抚着他的后背说道：“好了，别想那么多，船到桥头自然直，千年轮转咱们都过来了，没什么过不去的坎儿，快去睡觉吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子摇头，说道：“我不去，我心里没底，在我搞清楚状况之前，你俩都别跟我睡，今天我睡沙发，明天我再收拾一个房间。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“睡什么沙发呀，我跟梓航又不睡觉，我带她去芊芊房里，你回咱俩屋睡去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你俩屋。”古芊芊出现在楼梯，板着脸嗔道：“我屋是我屋，那屋是你俩的屋？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧笑着说道：“矫情鬼怎么醒了？你听见这一句话是吗？欧阳垚又用梦杀术想杀伢子，但是被伢子吸收了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;/bk
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>