<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第239章：原因</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第239章：原因
</div>
<div class="bookname">
	<h1>第239章：原因</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;&quot;第239章：原因<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;火行石停止了抽打，但那条被当作鞭子的红线，却依然悬浮在恶灵身前，忽上忽下地晃荡着。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧问道：“为什么要召唤你？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;恶灵答道：“为了给世间带来无尽的黑暗和混乱！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧问道：“怎么送你回去？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;恶灵凶狠地说道：“我既然来到人间，就不可能回去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“那就没办法了，如果不能把你送回去，就只能消灭你了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那条红线猛然开始兴奋地舞动，恶灵惊叫道：“我可以做你的仆人！请收留我吧！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧轻抚着火行石说道：“不要这么急躁，你怎么可以这么贪杀呐？他是外国的恶灵，最好是能送他回去，如果在这里杀掉，我怕会惹来不必要的麻烦。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;火行石暗淡了下去，那条红线也耷拉了下去，像个失望的孩子，被禁止做喜欢做的事一样。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧不知道怎么哄火行石，总不能说‘给你买糖吃’吧？只能对恶灵说道：“我不要仆人，就算要，也不是你这种。我再问你一遍，怎么送你回去，如果你不回答，或是还要继续固执，那我就只能消灭你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;火行石再次亮起红光，分外艳丽，那条红线也再次开始舞动。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧猛然醒悟，她跟恶灵一直是在用外语交谈，火行石居然也能听懂！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;恶灵盯着霍晓荧，虽然他没有眼珠，但山伢子和霍晓荧都能感受到他怨毒的目光。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“还是问问灵姨吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧想了想，从山伢子背上跳下来，掏出手机打给韩慕灵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵说道：“你想得太多了，西方的驱魔人也是把恶灵直接干掉，很少有能用什么法阵送回去的，咱们就更找不到头绪了，你要是怕给地府惹麻烦，就斩灭吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧问道：“不会损阴德什么的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵答道：“西方的恶灵基本都是精神病，到阳间就是单纯的祸祸，比咱们那儿的恶鬼还烦人，再说了，他是西方的，跑到东方去嘚瑟，斩灭他也没人管。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧心里有底了，挂断了电话说道：“斩灭。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不等山伢子反应，火行石骤然亮起红光，那条红线一甩，将恶灵坚着劈成了两半儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;与鬼不同的，恶灵没有化成黑气，被劈开后还惨叫了几秒钟，然后突然燃起火焰，整个身体瞬间烧没了，连灰儿都没剩下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;火行石收回了所有的红线，红光也暗淡了下去，山伢子问霍晓荧：“我再拘一次赵美蓉？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”霍晓荧点头答应，看来赵美蓉也没啥了不得的，刚才居然吓跑了，还厉阴呐。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子再次施法，火行石的光芒更加的红亮，霍晓荧皱眉，感觉火行石特别喜好杀戮，这事儿正常吗？应该问谁？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵美蓉刚一现身，火行石就发出红线，将赵美蓉缠住，而且是勒得紧紧的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵美蓉惊慌地喊叫：“你们凭什么杀我？我报仇有错吗？你！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵美蓉怒视着霍晓荧：“你这么厉害，也不是好死的吧？你报没报仇？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧伸手轻抚火行石，看着赵美蓉说道：“报不报仇的单说，我问你，为什么要召唤国外的恶灵？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵美蓉立刻哑火儿了，霍晓荧说道：“没关系，有啥说啥，反正恶灵已经被灭掉了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵美蓉一脸震惊地问道：“你们居然能灭掉恶灵？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧不耐烦地说道：“时间不早了，赶紧说正事儿吧，我们还要回饭店干活儿呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵美蓉问道：“你们可以不杀我吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧笑，也懒得跟她废话，说道：“可以不杀你，但也不能留你在阳间晃荡，得把你打落黄泉。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵美蓉嚷道：“那不行！我杀了三个人，如果你们把我送去地府，我就要受苦受罪了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧微微皱眉，想了想才问道：“你召唤恶灵，是为了把自己变成恶灵？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵美蓉一愣，脱口问道：“你怎么知道的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧答道：“我猜的呀。你知道杀了人以后，到地府会受罚，但你还是杀人献祭，召唤恶灵。对你来说，唯一的好处也就剩下‘不灭’了，你是听说恶灵的能量强大，可以给世间带来永久的黑暗和混乱吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不等赵美蓉回答，霍晓荧又问道：“你到底是怎么死的？是被献祭的吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵美蓉说道：“我告诉你真相，你放了我，行不行？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不行。”霍晓荧摇头，说道：“我只是好奇，其实知不知道真相都没关系。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵美蓉怒斥道：“你们凭什么抓我管我？你们又不是警察！更不是牛头马面！你们凭什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧答道：“我们要挣钱呐，反正你是恶鬼，还是害死了人的恶鬼，通过处理你这种恶鬼来挣钱，既不损阴德，也不伤福泽，一举两得。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵美蓉骂道：“你们不得好死！早晚有一天，你们也会像我一样！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧皱眉，聊了两句，发现赵美蓉根本不值得同情，不管她是怎么死的，到底算不算厉阴，霍晓荧已经没兴趣知道了，对山伢子说道：“我问完了，你处理吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子根本不废话，双手掐诀，一反一正，念诵咒语，一团红光将赵美蓉罩住。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵美蓉怒骂道：“贱x！你早晚灰飞烟灭！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;红光骤然一收，收到了赵美蓉的胸口，成了一个小红点儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧愣住，不是说好打落黄泉吗？怎么斩灭了？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵美蓉化作了黑气，霍晓荧扭头看山伢子，见他脸色阴沉，并没有表现出惊诧，愕然问道：“你把她灭了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”山伢子点头，说道：“这种玩意儿，留着她干啥？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧皱眉，拉着他的手说道：“走吧，回去了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这次的事，让霍晓荧心里感觉到害怕，到底是火行石喜好杀戮，还是山伢子喜好杀戮？会不会跟她也有关系？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;回到饭店，霍晓荧让山伢子去厨房，然后她去找徐四，把情况先说了一遍，然后又把自己的顾虑说了，再然后拿出手机说道：“干爹你先琢磨吧，我给灵姨打电话问问。”&quot;.<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;，更多精彩阅读，等你来发现哦。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;手机站:
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>