<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第669章：猜错了</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第669章：猜错了
</div>
<div class="bookname">
	<h1>第669章：猜错了</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第669章：猜错了<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两名年轻人眼中冒出狼一样的光芒，扭回头，却骇然看到山伢子坐了起来，而花梦容小鸟依人地缩在山伢子怀里，满脸委屈地说道：“师父，他们要欺负我，人家好怕。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“呵呵……”霍晓荧笑着说道：“这丫头还真是个戏精。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李绣娘尴尬地笑了笑，谁都比她大，谁都比她在相公心里的分量重，她谁都不敢得罪，即使是开玩笑，她现在也还搞不清楚尺度，最好的办法就是不说话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两名年轻人眼神惊恐地往后退，贺兰青明也愣住，但片刻后缓过神儿来，嚷道：“怕什么？他吃了那种草药，他不行了，弄死他！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两名年轻人对视一眼，都很犹豫，贺兰青明又喊道：“上啊！弄死他，这个小妞儿今天晚上就归你们了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两名年轻人同时扑向山伢子，山伢子猛然带着花梦容起身，双手成爪，同时扣在两名年轻人的头顶，五彩光芒闪现，将四个人都包裹住。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊……”两名年轻人厉声惨叫，贺兰青明瞪着眼睛看了片刻，猛然翻了个身，手脚并用地逃出了祠堂。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容身酥麻，有种要跟山伢子融为一体的感觉，恍惚间看到山伢子变了模样，俊美得难以形容。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容愕然张大了眼睛盯着山伢子，忍不住踮起脚去吻他的嘴唇，心里有种野性的冲动。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧很担心，因为她亲身体会过被山伢子吸附的感觉，虽然花梦容有肉身保护，但现在的山伢子也不再是那个法力低微的火行石宿主。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;五彩光芒消散，地上只留下两堆衣物，而花梦容搂着山伢子的脖子，吻着他的嘴唇。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧皱眉，嗔道：“以后可千万别跟人说你们是师徒关系，赶紧逐出师门吧，要不然无名观得让人笑话死！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容松开手，退了一步，尴尬地解释道：“他刚才相貌变了，我……我有点儿不受自己控制。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嗤道：“鬼才信你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李绣娘轻声说道：“鬼都不信。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子神色自若，有些事习惯成自然，也就不觉得尴尬了，他现在心里只想弄死贺兰青明。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;见他又抄起杀生刃，霍晓荧一闪身拦住他，说道：“等芊芊她们回来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子咬牙切齿地说道：“我要先弄死刚才那个老X！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“不用你亲自动手，等着看吧，好戏才刚开锣。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰青明跑回贺兰图家，一脸慌张地说道：“太叔公，那小子醒了，小五和小七被他抓住了，他身上还冒出花花绿绿的光。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰图心里咯噔一下，快速回想了一遍整件事，猛然醒悟他们才是被算计了！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰青明急切地问道：“太叔公，现在咋办？你老快拿个主意呀！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰图沉默着，贺兰青明等了片刻，又催促道：“太叔公，快拿个主意呀！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰图一个大嘴巴扇过去，怒斥道：“把嘴闭上！让我清静会儿！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;事情到了这一步，基本已经没有回旋的余地了，反正神女也死了，所谓一不做、二不休！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰图说道：“叫人去拿枪，只要他有凡人的血脉，就能打死他。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰青明皱眉，问道：“那……那个丫头呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰图又一个大嘴巴扇过去，怒斥道：“都这个时候了，还想着裤裆里那点儿事儿！一块儿打死！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰图的反应正好跟霍晓荧预计的相反，霍晓荧以为贺兰图会绑着贺兰青明来请罪，因为山伢子醒了，还把两个年轻人给吸收了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子把花梦容拉到自己身后，问霍晓荧：“这就是你说的好戏？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嗔道：“我哪知道他们这么蠢？我以为贺兰图会绑着贺兰青明来请罪嘛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“这种情况，只能说明他们确信神女已经死了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嗤了一声，对付聪明人要各种算计，对付蠢人只能简单暴力，早知道这是一群蠢人，也就不必费心思了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧对李绣娘说道：“动手，把拿枪的都放倒！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;话音未落，霍晓荧已经冲了出去，转瞬间便将拿枪的人都放倒了，然后转回身瞪着李绣娘斥道：“干嘛呐？看热闹儿呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李绣娘慌着答道：“我怕伤着人，再给相公惹麻烦。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧斥道：“相公先动手杀的人，你刚才没看见呐？笨得像猪一样！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李绣娘低下头，山伢子说霍晓荧：“你挤兑她干嘛，她哪有你那么灵光，不就是猜错了嘛，也不用拿绣娘撒气呀。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;村民本来就万分惊诧，又见山伢子像是对什么人说话，却不见人影，不禁都有些惊慌失措。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“都现身，让他们死个明白。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧倏然回到山伢子身边，对李绣娘说道：“站相公旁边，把你最恐怖的形象展示出来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说完就现了身，村民一阵骚动，不知道霍晓荧是打哪儿来的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但随即，李绣娘以长发垂膝，身穿鲜红嫁衣的形象现身，村民们立刻尖叫着逃蹿，贺兰青明也连滚带爬地跑掉了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问霍晓荧：“你不给她换衣服，就是为了这种情况？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“她不换，她说她还没拜堂呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子答应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“你写个婚书，把冥婚办了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子摇头，说道：“等等吧，我跟芊芊还没结婚呐，有些礼数还是要讲的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧抿着嘴点头，说道：“我忘了，在我这儿，你俩早就是夫妻了，我忘了还得领证儿办婚礼。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“他们又跑了，现在咋办？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧答道：“等着看呗，看他们还能作什么妖。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容说道：“我饿了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧斜眼瞪她，花梦容说道：“你不用吃饭，我得吃呀，我中午就没吃饱，师母不让我吃。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧斥道：“那还不是因为你，为了能跟伢子亲嘴儿就死吃，出门儿在外的，什么都不方便，成天整那些没用的，你就不怕把他憋出毛病来？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“什么呀！”花梦容被戳中了要害，羞得满脸通红，嚷道：“我饿了，我要吃饭！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;更新速度最快赶紧来阅读!
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>