<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第310章：你不去我去</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第310章：你不去我去
</div>
<div class="bookname">
	<h1>第310章：你不去我去</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;，！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;第310章：你不去我去<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“那好啊，那就这么定了吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“那我不上阵，我也不用拿钱。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨皱眉，心疼地说道：“那我也不要了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧笑着说道：“都不要，那就全归我们家了，是吧伢子？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”山伢子点头答应，反正这些事儿，听她的就行了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;演练到五点多钟，离开屈家。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;回家的路上，霍晓荧说道：“歆雨，我们家的钱都给你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨一愣，随即脸红，低下头说道：“我不要。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“干嘛不要？不要白不要，不过你听我说啊，你拿了钱，可不许从家里搬出来，除非是搬去姬家。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨脸红得像晚霞一样，嗔道：“你说什么呀！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一行人说说笑笑回到了饭店，进门后古芊芊招呼潘小龙：“潘小龙，带你朋友一起到楼上开会。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这是霍晓荧的意思，霍晓荧想让尚亚坤也跟着去，因为霍晓荧觉得，单纯地让潘小龙去抢孩子，意图有点儿太明显，还不如让潘小龙和尚亚坤演一场入室抢劫的戏，可能效果会更好。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;到楼上包间儿，霍晓荧和洪拓都现了身，霍晓荧主讲，洪拓重点解释，把方案说了一遍。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙嚷道：“我不去！张小莹！你这是憋着弄死我！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧斥道：“不去就不去呗，你吵吵什么玩意儿！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尚亚坤却问道：“奖金叠加吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙愕然扭头看他，霍晓荧答道：“就是这二十万，他不去就都给你，或者你再找人帮忙儿，那怎么分钱就你说了算。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙说尚亚坤：“你要疯啊？这可是玩儿命的事儿！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尚亚坤说道：“我知道，但是我觉得危险性并不大，我爸妈辛辛苦苦干一年也还剩不下十万，我一天就能挣十万，而且还是为了救人，你要是不去，我还能挣得更多，不信我就去找咱店里的服务生，就给两万，也肯定有人跟我去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊拿出手机拨号儿，片刻后说道：“丹丹，你在哪儿呐……我回国了……嗯，办点儿事儿……我呀……我在我男朋友饭店呐，你来吗……好，一会儿见。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完挂断了电话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙瞪着古芊芊，咬牙切齿地说道：“美人计也没用！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊不理他，跟霍晓荧说：“姐，龚钰丹跟我说，她就喜欢有勇气，心地善良的男人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧斜眼瞪她，嗔道：“你说伢子？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊一怔，扭头对山伢子说道：“你，做饭去，不叫你别上来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子答应一声，站起来要走，潘小龙问道：“师兄，你也想让我去？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“这话我不好说，反正我得去打那只老鬼。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子走了，夏歆雨看姬淋洛，姬淋洛会意一笑，站起来说道：“你们定吧，我跟歆雨等消息。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完又对夏歆雨说道：“我突然想起一个西餐厅，那里的牛排很好吃，我带你去尝尝啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨露出笑意，站起来说道：“洪先生，小莹姐，芊芊姐，那我先走了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙皱眉，很明显夏歆雨跟姬淋洛好上了，潘小龙很闹心，姬淋洛这样的富家公子，又是小白脸儿，他是一点儿竞争机会都没有。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙看尚亚坤，眼神儿不善，山伢子和姬淋洛都走了，这个意思还不明显吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尚亚坤说道：“小龙哥，你去吗？你要是去的话，我给你五万。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啥？”潘小龙蹿儿了，在自己家饭店，自己人的事儿，让尚亚坤反客为主了，这不能忍！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙拍着桌子大声说道：“你给我搞清楚，这是我们家的事儿！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尚亚坤说道：“可是你没答应啊，刚才小莹姐说了，二十万都给我，怎么分钱我说了算。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙看霍晓荧，霍晓荧抢先堵他的嘴：“你自己说不去的，本来我们也就是找你商量，你不去肯定得找别人，现在就是尚亚坤做主，我不能说话不算数啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙瞪着尚亚坤说道：“从明天开始交房租，一个月一千五！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尚亚坤点头，说道：“行，你要去就给你四万。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙张大了眼睛，指着尚亚坤的鼻子说道：“你还来劲了！你自己出去租房子住！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尚亚坤笑，说道：“小龙哥，我逗你玩儿呐，我想让你跟我一块儿去，有你在，我心里踏实，咱俩一人十万。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙有点儿尴尬，说道：“其实我不是为了钱，好歹我也跟我师父学了四年本事，我想赚钱有得是门路。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尚亚坤说道：“我知道，可是我没赚钱的门路，有这十万，至少上大学的钱有了，而且还富余。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙琢磨了一会儿，看向霍晓荧问道：“真给钱？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧皱眉斥道：“我可以蒙你，我犯不着蒙尚亚坤！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙咬牙说道：“行！干了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“说准了，可不能变卦，今天晚上就行动！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙跟尚亚坤同时紧张起来，洪拓说道：“放松点儿，你们不要想鬼的事，而且我们会给你们趟好路，你们只要把那对母子弄出来就行。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙问道：“有没有什么药之类的啊？她要是大喊大叫，或者是抓我咬我咋办？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“大哥，你练了四年功夫，要是连个女人都弄不住，你接碗水呛死算了，还活个什么劲呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙争辩道：“话不能这么说，这毕竟是犯法的事儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“犯什么法？”霍晓荧呛道：“你想干啥呀？说好了是演戏，你把她们母子弄出来，芊芊和歆雨，还有干爹会接应你，干爹会立刻向许冰解释原因，我可告诉你潘小龙，你要真想犯罪，可别拉着我们！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙嚷道：“你说啥呐？啥叫我真想犯罪？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊手机响，说道：“别吵了，龚钰丹应该是到了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完接起电话：“喂？丹丹，你到了……好，你上来吧，我在楼梯口儿等你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙连忙用手梳了下头发，轻声对尚亚坤说道：“这姑娘是介绍给我的！”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>