<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第547章：再探无名观</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第547章：再探无名观
</div>
<div class="bookname">
	<h1>第547章：再探无名观</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第547章：再探无名观<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉嗔道：“你这是胡闹！你又打不过干尸，凭做了个梦，你觉得你能打过干尸了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子解释道：“我回是慌了，其实我要是不慌，不会那么狼狈的，我再去看看，打不过我可以跑嘛，再说，也不一定非得打，兴许还能沟通一下。!”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊瞪他，霍晓荧说道：“不说沟通的事儿，说你打不过，你跑了，洪拓和唐召义怎么办？你是打算用魂瓶带他们进去吧？那跑的时候应该没有时间再把他们收进魂瓶吧？万一他俩出不来怎么办？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“有时间呐，我只要趴在地，或是冲了灵，有时间把他俩收进魂瓶。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧皱眉，这货连这个问题都想好了，琢磨了一下又问道：“那魂瓶要是碎了呐？丢了呐？你回进去，剑鞘和手机，还有装备全丢了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“我用棉布把魂瓶包，缝在胳膊里面的袖子。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嗔道：“你连这个都想好了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”山伢子点头，实诚地说道：“我怕你俩不让我去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊问道：“那他俩要是一进结界灰飞烟灭呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧瞪眼打了她一下，很明显山伢子已经把所有的关节都想好了，这会儿说这种话，是想让山伢子自己去吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“这个不用担心，理论干尸也是灵体，它们能在结界内生存并且活动，鬼也没问题。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧看着山伢子说道：“既然你都想好了，我跟你一块儿去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊愕然扭脸看霍晓荧，霍晓荧说道：“我是鬼，而且你根本进不去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看着霍晓荧说道：“你不能去，你去了，我心里的牵挂重了，你法力又低，只会拖后‘腿’、耽误事儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧张大了眼睛瞪着他，真是本事大了，现在居然敢当面这么说她！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“呵呵……”古芊芊幸灾乐祸的笑出声儿来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧斜了她一眼，嗔道：“不用自己当废物了，很高兴呗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊坦然答道：“对呀。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧又问山伢子：“跟唐召义说了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“还没呐，咱们得先说好，他去不去的其实也不太重要。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧对古芊芊说道：“你给唐召义打电话。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊瞪眼道：“你什么意思啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“算是伢子给他打电话，他也是冲着你才会陪伢子去，明摆着的事儿，你穷矫情什么？用人家还不得让人家心里痛快点儿？是让你打个电话，又没让你干别的，你什么意思啊？你还有啥想法儿是咋的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你才有想法儿！”古芊芊直接蹿儿了，斥道：“霍晓荧！你越来越会挑拨离间了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧笑眯眯地说道：“急什么眼呐，心里有鬼呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“霍晓荧！”古芊芊扑了去，俩人倒在沙发。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓笑，站起来说道：“我出去了，什么时候走，叫我一声行了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子跟着起身，说道：“我去跟师父说一声儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四也没说什么，只是嘱咐山伢子小心再小心。儿大不由娘，况且像山伢子这样的徒弟，徐四感觉自己这个师父当得力不从心。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;转过天又跟古木苍和韩慕灵商量，两人虽然没有反对，但都沉着脸，从本心来讲，两人都不愿意让山伢子去，算要去，也不能现在去，至少应该像古芊芊说得那样，再修炼几年，甚至几十年再去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可是山伢子做的那个梦，恐怕不是简单的梦，而是素茗学会了梦杀术，之所以前半段记得，后半段不记得，有两种可能。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一种可能是素茗学艺不‘精’，还没有熟练掌握梦杀术。另一种可能是为了对抗素茗，山伢子过分地‘激’发潜能，造成了轻微脑损伤，甚至是命魂损伤。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然探查无名观不一定能解决所有问题，但兴许会有所助宜，事有轻重缓急，以眼下的情况来看，算不能解决素茗的烦扰，也可以当作一次试练。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊给唐召义打了电话，韩慕灵安排了人和车，还是回那两人，高一点儿的叫陈术，矮一点儿的叫徐坤，不过这次开得是一辆越野车。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;走之前，两人带着山伢子去了一趟‘射’击俱乐部，让山伢子打了两百发手枪子弹，打得还是移动靶。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子玩儿得很开心，打完靶之后启程路，两人换着开，十四个小时到了仙茗山脚下，天已经黑透了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;下了车搭好帐篷，陈术拿出一把手枪递给山伢子，说道：“姑爷，这是掌‘门’让我从‘射’击俱乐部借来的，你把你的血擦在子弹头，用不最好，还有，最好别‘弄’丢了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦，好。”山伢子点头答应，此时才明白，为什么来之前特意带他去‘射’击俱乐部练习‘射’击。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈术又拿出一盒子弹，说道：“姑爷，你得多放点儿血，把这些子弹都涂，有备无患。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“行。”山伢子拔出短剑，割破左手无名指，往纸杯子里挤了小半杯血。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈术帮着他把子弹都涂血，晾干后装了五个弹匣，‘插’在武装带里，然后帮山伢子系在腰试了一下，说道：“这样行了，希望用不。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;第二天睡醒，山伢子把剑鞘留下了，然后带着洪拓和唐召义山。到了古仙茶树旁边，唐召义张开双臂贴到了树身。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子愕然问道：“你干嘛？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义扭着头看山伢子，反问道：“你感觉不到吗？这棵树的灵气极其强大。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，看洪拓，洪拓仔细地体会了一下，摇了摇头，说道：“我也感觉不到。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义愣住，连忙离开树身，看着茶树问道：“为什么只有我能感觉到？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“可能因为你是老鬼吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“无所谓了，反正是棵树嘛，去无名观吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“等一下。”唐召义抱着双臂，煞有介事地围着茶树转了一圈，又抬头仰望树冠，好一会儿才说道：“不是灵气，是一股强烈的执念。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;的小说站！
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>