<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第275章：驱魔人</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第275章：驱魔人
</div>
<div class="bookname">
	<h1>第275章：驱魔人</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第275章：驱魔人<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“你说回师门就是回师门了？你师门很远吗？你不是会缩地成寸吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓笑着说道：“小莹，你要想问我师门在哪儿就直接问，不用这么拐弯儿抹角的拿话挤兑我，我没什么可隐瞒的，我回去是为了找师父的手记，看看有没有关于五行世家更详细的记载。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦？”霍晓荧一脸不信任的问道：“找着了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓答道：“没有。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“切！”霍晓荧翻了个白眼儿，站起身就走。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“就是因为没找着，所以才耽搁了嘛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是啊是啊。”霍晓荧头也不回地走开。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓报怨道：“你这丫头怎么这样儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿说道：“明天你带她去你师门一趟行吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓拉住桃花儿的手说道：“我没问题，但是她不会跟我去的，至少她得先熟练掌握缩地成寸之后，才会跟我去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿一脸不解地看着他，洪拓大声对霍晓荧说道：“小莹，明天我带你去我师门。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧走过来呛道：“想害我呀？找个没人的地方动手？对了，你不是说要教我缩地成寸吗？啥时候教啊？等过年呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓看着桃花儿说道：“是吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿掩着嘴笑，点了点头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧伸手戳桃花儿额头，嗔道：“还没嫁呐，就跟人合起伙儿来算计我？你俩刚才说什么了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿把刚才两人说的话告诉霍晓荧，霍晓荧看着洪拓说道：“挺有自知之明啊，你……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊……”惨叫声打断了霍晓荧，洪拓一晃身到了楼梯向下的拐弯儿处，说道：“是老齐！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧跟了下去，看到一个外国人双手掐着齐有成的脖子，将齐有成按在桌子上，嘴里在小声儿地叨咕着什么。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓厉声斥道：“放手！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;外国人抬起头，眼神明显有点儿惊愕，但并没有放开齐有成，而是加快了叨咕，史晋从后面蹿了过来，一脚踹在外国人腰上，将外国人踹飞出去，摔在洪拓面前不远处。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧黑着脸倏然到了近前，一伸手掐住外国人的脖子，将外国人举起来，但是对方个子太高，霍晓荧伸直了胳膊，对方的脚也没离地，不仅没离地，还得屈着膝才行。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;外国人瞪着蓝眼珠子，突然伸出双手掐住霍晓荧的脖子，嘴里开始不停地念叨。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧皱眉，这人阳气够重的，被掐住脖子以后，还能反掐她，还有心思念外国经。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧‘噗’地化成黑气，随即重新聚形，一脚将外国人踹了出去，外国人的腿撞到桌沿儿上，从桌子上翻了过去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;阳间界那边的服务生招呼客人：“离远点儿离远点儿，别往跟前儿凑……哎！录像那个，离远点儿！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;有人调侃：“你们饭店够下血本儿的，还找个外国人跑来耍杂技。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;服务生答道：“就这样儿的，卖票你买吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;外国人爬起来的时候，徐四从楼上下来了，看着外国人说道：“朋友，我是这儿的老板，有什么事儿跟我到办公室去说。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;外国人缓缓扫视众人，用标准的国语说道：“我是x国的驱魔人，来东方修行，在下莫汉，未请教？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“跟我去楼上办公室吧，我保证你没事儿，在这儿说话不方便。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫汉沉默了片刻，说道：“好吧，请！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嗤道：“跟哪个二百五学的国语，说话跟穿越了似的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫汉怒视霍晓荧，洪拓冷声说道：“放尊重点儿！是你来踢馆的，我们是正当防卫！况且你被一个小女孩儿打了，还有脸瞪眼睛吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫汉看了洪拓一眼，收回目光，跟着徐四上楼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;到了办公室，徐四请莫汉坐下，说道：“我姓徐，是这个饭店夜市的老板。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;然后指了下姜悦玲，说道：“给你介绍一下，这位是我的妻子，姜女士。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫汉皱眉，徐四又指了下霍晓荧，说道：“她是我女儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;然后又指了下洪拓和史晋，说道：“这两位，一个是我的雇员，一个是我的徒弟。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫汉瞪着徐四说道：“养鬼是不对的！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四问道：“你知道什么叫养鬼吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫汉皱眉，徐四给他解释，不是家里有鬼就叫养鬼，养鬼的定义很纯粹，就是用强大的法力控制鬼，并且让鬼替自己做事，不管是好事还是坏事，这才叫养鬼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;养鬼的前提条件很明确，就是强行控制，徐四并没有控制谁，饭店里的鬼，不管是雇员还是食客，都是自由来去，所以这不叫养鬼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫汉说道：“就算你不是养鬼，但你饭店里的鬼害了人，你又不负责任，还是你错！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四失笑，问道：“你有证据吗？你凭什么说他们害人？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫汉说道：“这不是活人之间的事，这是鬼魂与活人的事，我也不是警察，我检查了受害人，的确是被恶灵攻击过，这就是证据！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧呲儿道：“你脑有病啊？随便找个什么受害人就能栽赃给我们，我还说是你养鬼害人呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不可能！”莫汉愤怒地说道：“我是驱魔人！我有信仰！我不会撒谎！你这是无理取闹！颠倒黑白！欲盖弥彰！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧乐了，说道：“你跑这儿练口语来了？成语说得不错，还会说什么呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说她：“不许胡闹，说正事儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“干爹，这就是个二百五，跟他说不清的，打到他怕就行了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫汉轰然起身，洪拓一伸手按住他的肩膀，举重若轻地将他按回到椅子上，莫汉憋红了脸，始终没能扛过洪拓，只能用震惊的目光看着洪拓。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓收回手，说道：“驱魔人没什么了不起的，不过就是阳气比普通人重一些，会念几句咒语而已，这是东方，有本事的人很多，而且并不局限于活人，请你心平气和地解决问题，否则，我不介意干掉你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫汉说道：“我是主的信徒，你如果干掉我，你会下地狱的！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓笑，说道：“你可以试试。”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>