<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第382章：心里堵得慌</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第382章：心里堵得慌
</div>
<div class="bookname">
	<h1>第382章：心里堵得慌</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第382章：心里堵得慌<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;又一分多钟，山伢子又挨了十几刀，感觉除了脑袋之外，身上就没有不疼的地方。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子把砍刀扔了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他就没练过刀法，抢刀只是下意识的行为，抢了刀以后，心理上就有了依赖，实际上他用刀挥砍，根本就没有章法，而且右手拿刀，左手就不知道咋使唤了，只能闲着，反倒减弱了战斗力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;扔掉砍刀后，山伢子拳脚生风，很快将一群刀手全都打翻在地，虽然又挨了两刀，但比起之前要好得多了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;带着一身的血，山伢子红着眼睛向卡车走去，他早就看到莫震南站在卡车边上，只是一时半会儿冲不过去，山伢子打算弄死他！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而莫震南却拉开车门上了车，开着卡车跑了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震南不傻，山伢子的体力和法力都没有被消耗多少，虽然中刀流血，但他也不是对手。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这次失败了没关系，常言道留得青山在，不怕没柴烧，下回再说。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我入你娘！”山伢子挥着拳头骂，他一身的伤，最主要的是腿受了伤，根本不可能追上卡车。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子给霍晓荧打了电话，霍晓荧开着车来接他，一边哭着一边把他扶上车，又一边哭着一边开车回了家。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊气得脸发白，嘴唇直哆嗦，冲着韩慕灵嚷：“这还有王法吗！就这么让他们三天两头儿的折腾啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵也是脸色铁青，山伢子却说道：“我没事儿，这事儿我自己摆平。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊斥道：“你有病啊！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子不理她，对韩慕灵说道：“妈，你不用管，我心里有数。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍说道：“慕灵，咱俩出去吧，让孩子们自己待会儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嚷道：“妈！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧斥道：“闭嘴！去换水！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉，古木苍和韩慕灵转身走了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;清理完伤口，山伢子被包得像木乃伊似的，握着古芊芊的手哄道：“媳妇儿别生气，我是老爷们儿，哪能有点儿事儿就找家长啊？那样的话，我还怎么给你挣脸面呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嘟着嘴，满脸不高兴，其实她已经想明白了，知道山伢子是怎么想的，但她并不认同这种死要面子活受罪的做法。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧面无表情地说道：“睡吧，芊芊也回屋去睡吧，本来就伤着了，别再熬着了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”古芊芊站起来亲了山伢子一下，然后出去了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子握着霍晓荧的手说道：“我没事儿，你别难受。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嘴唇又发颤，咬牙切齿地说道：“我要杀他全家！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子叹气，说道：“媳妇儿，你是鬼，你要是杀活人全家，那咱俩还能过到头儿吗？就算要杀他全家，也应该我动手啊，是不？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“再说了，是莫震南找人砍我，跟他家人没关系，不能因为他一个人，就把人家一家连锅端呐，不是有那么句话吗，罪不及父母，祸不及妻儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧沉默了片刻，说道：“快睡吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看着她说道：“你答应我，不许惹事儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧咬了咬牙，说道：“知道了，快睡吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子睡着以后，霍晓荧去后院儿找洪拓，洪拓皱眉说道：“都怪我！我要是陪着他一块儿就好了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“不怪你，你又不是保姆，我就是来问问你，我能不能干点儿啥，我心里堵得慌。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿坐在她身边搂着她，劝道：“小莹，你别生气，你要是害了活人，会遭报应的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓问道：“古夫人怎么说？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧叹气，答道：“我妈本来挺生气的，可是伢子不让她管，说这事儿自己摆平。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“对嘛，伢子是大人了，你得尊重他的决定。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧阴沉着脸看他，洪拓又说道：“退一步来讲，就算我陪你去把莫家灭门，可黑衣人还在呀，灭了莫家，还有别家，这是没头儿的事儿，我倒觉得，还是留着莫家好，因为莫家不厉害，要是换家厉害的，伢子更危险。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧收回目光，洪拓说得有道理，不是莫家也会是别人家，因为真正操控这件事的是黑衣人，除非能把黑衣人干掉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“我知道了，我不去找他们了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿说道：“我陪你回去，顺便看看我哥。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”霍晓荧点头答应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵回卧室后就打了电话，让人去教训一下莫家，因为莫震南过分了，如果是他自己来抢火行石，哪怕是莫家有一个人算一个人都来，那都没什么可说的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可莫震南却雇一帮刀手来消耗山伢子的体力，这就已经坏了江湖规矩，所谓你不仁我不义，玩儿心眼儿比手黑，那就试试！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍也没说什么，山伢子年轻气盛好面子，这个可以理解，但做为父母，不能眼看着自己孩子吃亏却无动于衷，这也是面子问题。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两天过去，没有动静儿，韩慕灵觉得奇怪，因为办事的人已经回过话了，说砍了莫震南儿子二十几刀，当然，不可能是致命的，只是一报还一报。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但问题是，莫震南却没有找上门儿来，这有点儿说不通啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍皱着眉头想了好一会儿，说道：“慕灵，你还记得那天咱们去饭店的时候，正好儿赶上莫震西来，他说莫震南的生魂不见了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵神色一变，说道：“后来伢子把他打成重伤，被黑衣人扛走，然后莫震西死了，莫震南醒了，你说会不会是莫震西的魂移到了莫震南的肉身里？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍皱着眉不说话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵拿起电话说道：“我让人去砍莫震西的儿子，反正都是莫家人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“没用的。”古木苍阻止她，说道：“他不会在意的，其实那天我就想说来着，他要是怕报复，就不会这么干了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍分析，莫震西十有**是故意跟山伢子拼命，可能就是想求死，好去占莫震南的肉身，以莫震南的肉身去行使掌门的权力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他既然有这样的算计，甚至可能已经办到了，那他还会在意莫家的人吗？就算把莫家人都砍死，恐怕他也不会难受，反倒可能会让他更加肆无忌惮。
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>