<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第293章：上阵人员</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第293章：上阵人员
</div>
<div class="bookname">
	<h1>第293章：上阵人员</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第293章：上阵人员<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵眼色冰冷地瞪着古芊芊说道：“把嘴闭上！轮不到你做决定。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨轻轻地叹了口气，果然，韩慕灵没有骗她，在古家时，韩慕灵跟她说了很多，着重说的就是她如何看不上山伢子，曾经几次把古芊芊软禁在家里，也是不准出门，手机没收。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;本来夏歆雨觉得韩慕灵是在刻意安慰她，但看刚才那个态度，夏歆雨相信了，韩慕灵说的都是实话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊问道：“妈，如果我爸要上阵，你会在旁边儿看着吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵说道：“那不一样，你和山伢子中间还要有木行，歆雨什么都不懂，刚刚才爆发潜能，她很容易出错，一旦出错，就会影响整个阵法。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“妈，你把我姐忘了吧？她也是木行，而且无论如何都会跟着伢子的，说到底，你只是把我撤下来而已。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈长寿一怔，古芊芊不提，他还真是忘了，对呀，张小莹也是木行。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵脸色铁青，真是女大不中留，留着就是仇！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵斥道：“你知道这个阵法有多不靠谱儿吗？这不是玩儿游戏，这是拿命在赌！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“我不知道什么靠谱儿，什么不靠谱儿。我只知道，没有人可以不付出就能得到回报。我选了伢子，你答应了，我就应该跟伢子祸福与共，生死相随，否则还谈什么恋爱，结什么婚？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵气得手发抖，霍晓荧说古芊芊：“你少说两句，干妈是心疼你，你别不知道好赖，再说了，你本来就是累赘。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊瞪霍晓荧，山伢子说道：“芊芊，你爸肯定不愿意让你妈跟着他上阵。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊吼道：“你闭嘴！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子与她十指相扣，看着她的眼睛说道：“你上阵，我会分心，还不如不带你，打不过我就跑，你不在场，我不用管任何人，自己跑就行了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊跟霍晓荧同时愣住，霍晓荧看向韩慕灵，恍然明白自己误会干妈了，原来干妈想到了这一点，所以才坚持不让古芊芊参与，只不过干妈不能像山伢子这样二了吧唧地把实话说出来，所以才跟古芊芊呛了起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵对着古芊芊和霍晓荧一人剜了一眼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊和霍晓荧一同低下头，古芊芊是后悔跟妈妈呛起来，而霍晓荧却是明白，干妈知道她刚才误会了，甚至知道她心凉了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈长寿呵呵一笑，说道：“山伢子说得对，上阵就要全力以赴，分心肯定是不行的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完看向姬北洋，问道：“你上还是淋洛上？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛看着山伢子，似笑非笑地答道：“我上，我比我爸跑得快。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子笑了笑，姬淋洛也笑了笑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋说道：“我不行，我还没有恢复过来，估计是恢复不过来了，谈个事儿还行，上阵打架，就只能指望淋洛了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好吧。”屈长寿微笑着说道：“那就这样吧，我回去准备一下，明天中午十一点，淋洛和山伢子到我那儿去，咱们先演练一下阵法，小莹也来吧，帮个忙儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧答道：“好。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨突然说道：“我要参加，我想赚钱，小莹姐说打这只鬼有五十万，我不怕死，反正我在最后，不用过别人的气，就算出错也碍不到别人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所有人都皱眉，因为没人可以替夏歆雨做主，也没人可以驳回她的意愿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈长寿说道：“那好吧，明天中午你也来，咱们先演练一下，然后再决定。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈家和姬家走了，夏歆雨也走了，韩慕灵猛然一拍桌子，瞪着古芊芊和霍晓荧斥道：“一对儿饭桶！整天说人家伢子是憨货，你们俩才是榆木脑袋！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊焦虑地说道：“我知道我错了，妈，<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;手机站:
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>