<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第7章：想起来问问</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第7章：想起来问问
</div>
<div class="bookname">
	<h1>第7章：想起来问问</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第7章：想起来问问<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;坐在炕上，山伢子心里发酸，眼圈儿泛红，自己虽说是给四叔帮工，在人家那儿干活儿，可四叔管吃管住，顿顿吃得是好饭好菜，而后爹跟弟弟却只是吃馍和咸菜，弟弟才三岁。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但这也没办法，自己有得吃就不错了，总不能再往家里带吧？没那个道理。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;再过四年，等自己满十八岁，四叔给工钱了，就把工钱都给后爹，让后爹和弟弟吃好点儿，再送弟弟去读书，好好儿读书，别像自己这样，读完小学就不读了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;弟弟叫李天心，名字是山伢子的老师给起的，那回是因为山伢子不上学了，老师来家访，后爹跟娘求着老师给弟弟取个大名儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;弟弟特别依恋山伢子，这也来源于山伢子对他好，宠着他，任哭任闹，任掐任拧，所以一见山伢子回来了，弟弟就蹭过来坐在山伢子怀里。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;后爹说：“伢子，吃了饭早点儿睡，明天起早去坟上，给你娘把纸烧了你就回去，既然是给人家帮工，就不能耽误人家的事儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”山伢子答应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吃完了饭，洗了脸烫了脚，山伢子就躺下了，但是睡不着，因为时间不对，他上的是夜班儿，这会儿正是精神的时候儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;也不知过了多久，刚躺得有了些困意，就感觉门口儿有人，睁开眼，看到后爹的身影站在门口儿，山伢子问道：“爹，你咋还没睡呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;后爹没说话，笔直地向山伢子走来，山伢子心里开始突突，连忙缩到炕里头儿，紧张地盯着后爹。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屋里没有点灯，黑漆漆的也看不到后爹的表情，实际上连是不是后爹都不太好说。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子又问道：“爹，你有事儿啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“有点儿事儿。”是后爹的声音，但山伢子心里却觉得不对劲儿，可为什么不对劲儿，山伢子想不明白。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;后爹坐在炕沿儿上说道：“庆山，爹就想问问，你那块儿石头是怎么回事儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子纳闷儿了，打从跟着娘到了后爹家，后爹一直是叫他‘伢子’，今天怎么突然改口叫他‘庆山’了？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子心里打了个晃儿，后爹闹过撞客，今天回来时路上又被那个穿工作服的鬼撵，山伢子不敢把徐四的话说出来，只是答道：“没什么事儿啊，就是我亲爹临死的时候儿给我的，爹你不是知道吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;后爹又问道：“那你亲爹活着的时候没跟你说点儿啥？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“爹你今天这是咋了？这些事儿你都知道啊，我亲爹成天不着家，最后得了重病死了，我那时候还小，他啥都没跟我说过。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;后爹半天没吭声儿，山伢子问道：“爹，你还有事儿啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“没事儿。”后爹站了起来：“我就是想起来问问，你睡吧，我回屋儿了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗳。”山伢子答应，看着后爹挑帘出去，山伢子靠着墙坐着，眼睛死盯着门口儿，本来就不是睡觉的点儿，让后爹这么一闹腾，山伢子更灵醒了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;就这样盯着门口儿，不知过了多久，山伢子迷迷糊糊的感觉有人推他，一激灵睁开眼，看到李天心在自己面前。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;见他睁开眼，李天心说道：“哥，爹还在睡觉，我要尿尿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子活动了一下酸麻的腿，一边儿往炕边蹭一边儿说道：“哥带你尿去，现在几点了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李天心答道：“不知道。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;抱着李天心出来，看到天已经大亮了，阳光都照进堂屋里来了，昨天晚上后爹还说要起早去烧纸，怎么到这会儿还在睡觉？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子心里有了不好的预感，抱着李天心往后爹屋儿里走，李天心用小手儿打山伢子的脸：“我要尿尿！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“再憋会儿，我去看看爹咋的了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;进了屋儿，看到后爹躺在床上睡得死死的，山伢子凑近了些，听到后爹发出低沉的鼾声，山伢子心里一松，抱着李天心去厕所了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;过了晌午，后爹才醒过来，一迭声地埋怨山伢子：“你咋也不叫我，咋睡到这时候儿了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“我也睡过头儿了，天心要撒尿才把我喊醒了，四叔那个小饭馆儿是晚上营业，白天睡觉，不到天亮我睡不着。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”后爹一边儿穿鞋一边儿说道：“那咱赶紧去你娘坟上，烧完了纸你赶紧回去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;爷仨儿到坟上烧了纸，山伢子就赶着回食味小厨，后爹本来说让山伢子吃了饭再回去，但山伢子说不敢贪黑走夜路了，怕再让人撵，后爹也就没再说什么。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;天黑前，山伢子回到了食味小厨，趁着还没开张，山伢子把碰上那只鬼的事，还有后爹的异常反应告诉了徐四。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四一边儿准备食材一边儿告诉山伢子，那个穿工作服的鬼姓张，是一个厂子的电工，有一次干活儿的时候没弄好，被电给打死了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于山伢子的后爹，应该是上回被山伢子的娘给冲了身，阳气还没缓过来，可能昨晚上被那个张电工给冲了身。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子点头：“是的，我后爹从来不叫我‘庆山’，都是喊我‘伢子’。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“本来过年我还想让你回家，现在这样儿……要不你跟我过年吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“不影响吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四答道：“我就一个人，父母死得早，也没媳妇儿，打从二十多岁开了这个饭馆儿，我年年都是一个人过年。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“四叔，那我以后年年陪你过年。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四浅浅的笑了一下，答道：“好。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;天刚擦黑儿，徐四就开门儿营业了，来了这几天，山伢子发觉徐四开门儿关门儿没准点儿，好像是全看他的心情，就像今天，这还不到六点就开门儿了，而前天到了晚上八点才开门儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过山伢子不问，一个原因是他不爱问东问西的，况且营业时间这种事，还不是老板说了算吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;另一个原因是他已经知道四叔不是一般人，而是有大本事的能人，所以四叔做什么事儿都是有道理的，只不过这其中的道理他还不明白，但日子久了，见得多了，应该就明白了。
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>