<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第390章：更小心</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第390章：更小心
</div>
<div class="bookname">
	<h1>第390章：更小心</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第390章：更小心<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵摇了摇头，说道：“看来是我想错了，或许伢子在梦中看到的一切，都是火行石的记忆，火行石是祖师心脏所化，所以对自身的事情记得比较清楚。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子心里有点儿小小的失望，把水行石还给古芊芊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊接回去戴上，问道：“那我呐？我是不是素雪的转世呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵说道：“你法力这么低，可能性微乎其微。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉嗔道：“是亲生的吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“对了！”山伢子突然想起了秦瑶，问道：“瑶瑶怎么样了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧答道：“好得多了，干爹每天都用安魂汤给她做肉汤，那孩子每回都要说没有你做得好吃。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子笑了笑，师父又得受打击了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子对韩慕灵说道：“妈，经过这回的事，我想明白了，还是您说得对，想解决问题，还得是自己有本事，芊芊不但不能停止修炼法力，还要尽快提高。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵微笑，山伢子接着说道：“我一直想错了，这回黑衣人是想杀了我，因为不是非我不可，我死了，别人也能做宿主，我想这也是他把木行石给夏歆雨的原因，五行石应该是只认活人做宿主。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵问道：“他跟你说，是他拿了木行石？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“没有。”山伢子说道：“我觉得是他拿的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊笑眯眯地说道：“我已经开始修炼了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“你都昏迷半个月多了，谁知道你还能不能醒过来，醒过来还顶不顶用。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍皱眉说道：“你这孩子，说话也太直了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧笑着答道：“没事儿，他性子直，跟他说话不用转弯抹角的，否则他还得费工夫琢磨。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵也说道：“一家人嘛，有什么就说什么，又不是跟外人谈生意，废那么多话干嘛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子又问道：“莫家没再来找事儿吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵答道：“莫震东来过，被我赶走了，但是我把黑衣人的情况，还有他两个弟弟的遭遇告诉他了，而且我还警告他，如果他再跟咱们过不去，下一个死的肯定是他。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子点头，韩慕灵又说道：“不过，你们要更小心。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在山伢子昏迷的这段时间，韩慕灵和古木苍详细推敲了黑衣人的行为，最初大家以为黑衣人是为了试炼山伢子，但这一回黑衣人明显是动了杀机。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然当时并不清楚具体情况，但山伢子昏迷得越久，就越能说明这一次是生死攸关，已经到了要拼命的程度。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以黑衣人其实不是在试炼山伢子，而是在寻找最强的宿主。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;最初的时候，也就是山伢子得到火行石的时候，火行石还处在封印中，所以山伢子的娘会闹腾，靠山镇的张电工会闹腾，直到火行石解封。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;然后黑衣人就在寻找最强的宿主，因为山伢子毕竟是没有根基，没有背景的一个土包子，别说黑衣人，就是整个五行世家，一开始的时候，谁也没拿山伢子当回事儿，只是觉得他阴差阳错得到了火行石而已。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是现在，山伢子不仅能够魂灵相合，还能凭一己之力打跑黑衣人，那么黑衣人的计划就要落空了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;因为黑衣人说过，他不杀宿主，是为了保持五行石的活跃性，也就是说，对于黑衣人来讲，杀五行石宿主犹如探囊取物一般容易。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可黑衣人万万没想到，山伢子可以打败他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然，如果不是因为那天霍晓荧心神不宁，看时间觉得山伢子回来晚了，死活非得叫着古芊芊和洪拓一起去找山伢子的话，那么山伢子打退黑衣人之后就昏迷，黑衣人一样可以杀掉他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子伸手搂住了霍晓荧，古芊芊嗔道：“我那天也着急了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子笑着又搂住了她。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵接着说道：“你这次让黑衣人觉悟了，恐怕他会想办法干掉你，否则你越来越强，他就永远也不可能得到五行石了，所以你们以后要更小心才行。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;三人一同点头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吃完了饭，山伢子给徐四打了电话，说明天再去饭店，徐四嘱咐他好好儿休息，不用急着去饭店，又不是给人打工，这是自家的生意，把身体养好了要紧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;回到卧室，霍晓荧才想起来告诉洪拓和桃花儿，两人赶紧就过来了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓告诉山伢子，他回了一趟门派，掌门说山伢子这一回应该是努着了，就像干活使劲儿使大了，累坏了一样，只不过山伢子是累着命魂了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;掌门还说，法力的提升是一个循序渐进的过程，魂灵相合的概念其实就是道家运用法器的概念。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一开始的时候总说冲灵，因为道家没有冲灵的概念，所以洪拓自己都不明白，以为是五行世家的特有功法，所以也没往深了想。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是现在可以解释了，其实就是把五行石看做是一种法器，道家的法器有很多，从上古至今，不胜枚举。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而运用法器不仅是要靠法力，更重要的是要用魂力，法器认主也是同样的道理，法器的生灵和注灵，其实最根本的目的，就是为了与命魂沟通。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“这就好办了，我教你们如何控制法器和运用法器就行了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嘟嘴，她没有法器，可能用不了多久，她就会变成最弱的，甚至是拖累。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊问洪拓：“那如果是法器的话，鬼也可以用吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓看了霍晓荧一眼，然后看着古芊芊答道：“理论上可以，但五行石毕竟不是真正的法器，它更像是一种能量源，就是仙茗山祖师的能量。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“不对呀，祖师把毕生的功力都传给素雪了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓一愣，愕然问道：“素雪是谁呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子又把他的梦境说了一遍，洪拓问道：“如果醒着让你去，你能找着无名观吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子还没说话，古芊芊抢着说道：“我也要去！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉说道：“媳妇儿，我觉得你是素雪的转世，因为你跟她性子挺像的，听风就是雨。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊瞪着他斥问道：“你在梦里干啥了？”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>