<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第148章：不敢硬拼</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第148章：不敢硬拼
</div>
<div class="bookname">
	<h1>第148章：不敢硬拼</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第148章：不敢硬拼<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵说道：“屈老，现在淋洛是宿主，是让姬大哥来？还是让淋洛来？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈长寿颇为意外，问道：“传给淋洛了？什么时候儿的事儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“有两年了。”韩慕灵的神色有些异样。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那天救了张小莹后，古芊芊回家把屈长寿的话告诉了韩慕灵，但韩慕灵心里还是有疑惑，不过至少屈长寿好歹是解释了一下，当年为什么不教芊芊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈长寿说道：“请他们父子都过来一趟吧，你看是你打电话，还是我打电话？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵说道：“我打电话吧，毕竟这是找到我门儿上的事儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;半个多小时，姬北洋带着姬淋洛来了，一进门儿，姬淋洛就向山伢子扬了下头，山伢子也点了下头回应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊愕然看着姬淋洛，这不就是那天晚上打鬼的那个帅哥儿吗？而且，山伢子好像跟他还认识！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋四十多岁，身材适中，穿着一身儿中山装的改版便服，长圆脸儿，留着寸头，长得不错，浓眉大眼，鼻直口正，标准的大叔型，进门儿先向屈长寿招呼：“屈老。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈长寿说道：“北洋，我岁数大了，不得不麻烦你呀，辛苦了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋谦逊地说道：“屈老言重了，我听您老安排。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈长寿把情况说了一下，姬北洋微微皱眉，说道：“不管是不是霍家后人，既然是木行法术，那我们家就可以克制他。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈长寿说道：“我给你助力。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋说道：“有劳了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;同样的手法，姬北洋却将绿色的火焰变成了红色，继而向亮白转变，但将要变成亮白的时候，姬北洋突然抖手将五阴剑上的黄符甩脱了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;没烧完的黄符落在地上，火焰的颜色迅速转成青绿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈长寿看着姬北洋，姬北洋说道：“有阴气，我怕他借那个小姑娘的气，这样硬拼，先受伤的会是那个被挟持的小姑娘。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子紧张地看徐四，徐四笃定地说道：“没事儿，不用担心。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四表面上沉稳，其实心里早就翻腾开了，他虽然早就知道，在靠山镇之外的广阔世界里，有着无数的法术高手，但真正见到这些人时，却难免还是会感到挫败。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;重新审视整件事，表面上是徐四救了山伢子，帮了山伢子，然而当命运的车轮骤然开始加速，并且毫无预警地驶入一条有进无退，非生即死的险路时，徐四才猛然惊觉，自己跟不上趟儿了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子是块儿好材料，然而徐四却不是能创造鬼斧神工的匠师，或许当初就不应该……不，话也不能这样说，事儿也不能这样想，如果没有当初的接济，又哪来的今天？或许山伢子早就死了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但有一点徐四是可以肯定的，那就是，他其实没有资格做山伢子的师父，充其量他就是个接引人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而此时此刻，徐四也恍然明白了父亲临终时的警训：“小军，守好这一方水土，传承我徐家法术，心要静，性要稳，天下太大，能有一方立足之地就足够了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;果然是书到用时方恨少，事到临头才知难。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;世人说，社会分工不同，对于修炼者来讲，也是如此，有人修长生，有人积阴功，有人练猛术，有人铸法器，山伢子既然是火行石的宿主，恐怕不太适合窝在厨房里做饭吧？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;趁着姬北洋跟屈长寿商量的空当儿，古芊芊凑到韩慕灵身边，张着大眼睛瞪她。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵微笑，知道她在瞪什么，当初她问过，打鬼的少年是谁，韩慕灵回答说不知道，可今天却把姬淋洛叫来了，而且还是金行石的宿主。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过古芊芊问的问题却出乎韩慕灵的意料：“妈，山伢子是不是跟姬淋洛认识？那天你把我关在家里，是不是让姬淋洛去帮山伢子了？所以山伢子虽然第一次冲灵，却好好儿的回来了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵不回答，而是轻声问道：“山伢子和姬淋洛，你喜欢谁？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊的脸上浮现愠色，很不高兴地小声儿嗔道：“天底下的男人都死光了？就剩下他们俩了？我非得在他们俩之中选一个吗？再说了，我才十八岁，且不至于愁嫁呐吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵笑着问道：“那你跟我瞪什么眼呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊恼道：“我瞪眼是因为你骗我！你是我妈，连你都骗我，我还能相信谁？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵淡了笑意，严肃地说道：“我不想让你过早地认识淋洛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嗤了一声，说道：“妈，你也太看不起你女儿了，我不花痴，这种比我长得还好看的小白脸儿是靠不住的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵又笑，看着她轻声问道：“那你是喜欢山伢子喽？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉嗔道：“你要疯啊？你是不是养我养够了？我可以出去打工，自己挣钱自己花！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵笑着说道：“急什么呀，小莹说得真对，你这个毛病太明显了，最好改一改，别一没词儿了就急眼。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊再次张大了眼睛，恼道：“妈！你居然偷听我们说话？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵答道：“怎么了？你们两个女孩子说话，还有什么怕人听的吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嚷道：“当然有！你都听见什么了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她这一嗓子，把所有人的目光都吸引了过来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊抿住了嘴唇儿，尴尬地解释道：“没事儿，我跟我妈说学校的事儿呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋招了招手，说道：“芊芊，你过来一下。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;然后又向山伢子招手，说道：“小石，你也过来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两人走过去，姬北洋对两人说，现在的情况有点儿繁杂，刚才他试探了一下，对方的法力不低，而且发现他用的是金行法术之后，很可能借了张小莹的气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果硬拼的话，很可能会伤着张小莹，所以姬北洋跟屈长寿商量了一下，决定让山伢子坐坛。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我？”山伢子有点儿发蒙。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋又解释了一下，山伢子是火行石宿主，虽然没有修炼过火行法术，但毕竟能量是对的，可以吸取对方的能量。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而古芊芊的工作，则是消减山伢子快速聚集来的能量，以免山伢子控制不住能量的激增而冲灵。
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>