<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第704章：眉间有黑气</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第704章：眉间有黑气
</div>
<div class="bookname">
	<h1>第704章：眉间有黑气</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第704章：眉间有黑气 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容挽着山伢子走进办公室，屋里的三男一女都愣住，愕然看着两人。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容甜蜜地笑着说道：“这是我未婚夫，石庆山，岩石的石，喜庆的庆，山川的山。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那个女孩子先反应过来，笑着说道：“恭喜呀，梦容，你这也太突然了吧？一直连个男朋友都没有，居然直接带个未婚夫来。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容扬着脸看着山伢子说道：“她是我同事，也是好朋友，叫田静，田野的田，安静的静，不是婧婧那个字，就是保持安静的静。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子礼貌地微笑，招呼道：“你好。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你好。”田静笑着答应，走过来站在花梦容旁边，看着山伢子问道：“石先生在哪里高就啊？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子刚要说话，花梦容抢着说道：“就是他嘛，我跟你说过的。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;田静张大了眼睛，惊问道：“那个饭店的领班呐？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一个身材高大，长相帅气的大男孩不屑地嗤了一声。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容脸色一沉，说道：“是老板兼领班。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那个大男孩头不抬眼不睁地说道：“老板还要自己当领班，多大个馆子啊？卖拉面的吧？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;另外两个大男孩都避嫌地低下了头。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容翻了个白眼，看着山伢子说道：“他叫孙学锋，最早跟张老师的，算是我们的大师兄吧，那个叫铁熊，那个叫杨波。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;除了孙学锋，另外两人都在被点到名时，抬起头向山伢子招呼，山伢子也微笑着回应。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;田静觉得尴尬，连忙岔开话题，问道：“梦容，你身上怎么这么香啊？喷得什么香水啊？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容答道：“我未婚夫在X国给我定制的。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哇！”田静夸张地惊呼：“定制？很贵吧？多少钱呐？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容笑眯眯地答道：“一百多万。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“咳……咳……”孙学锋喝水呛着了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哇塞~”田静一脸艳羡，再看山伢子时的眼神变得仰慕，说道：“一百多万买香水，太没天理了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子浅笑了一下，他哪知道香水是什么价啊，当然也就没话可接。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;田静两眼放光地说道：“拿出来给我看看。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容答道：“没带着，放家里了，我是来辞职的。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这话一说出口，三个大男孩同时抬起头来，孙学锋尤其激动，直接站了起来，用质问的语气问道：“为什么要辞职？你不是说过你最爱学习语言，任何事都不能阻止你做这份工作吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子面无表情地看着他，既不是想挑衅，也不是要怼他，因为山伢子理解他，像花梦容这样的天然美女，对于绝大多数人来说，都是一生中可遇而不可求的，能在一起工作是天赐良机，所谓近水楼台先得月，向阳花木易逢春。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然花梦容现在有了未婚夫，但谁知道能不能成呐？即使是结了婚，也还有离婚的可能性，但如果花梦容辞职走了，那无论将来如何，反正孙学锋肯定是没有任何机会了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以山伢子不仅是理解他，还有点儿同情他，这种同情不是得了便宜还要卖乖的心态，而是对身为普通人的怜悯，身为普通人，有太多的‘求不得’，因此这世间才有了怨念。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看他，是因为从一进门就觉得他眉间有黑气，只是他一直侧着脸，山伢子看不清楚，直到这会儿，他面对着花梦容，山伢子才看清楚，他眉间确实盘旋着一团黑气。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这小子冲撞了邪祟。联想到花梦容说那段文字来自一个大墓，山伢子的脸色沉了下来。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容以为山伢子生气了，连忙怼孙学锋：“我辞职跟你有什么关系？我是说过那样的话，可那时候我还不认识我未婚夫，现在我只爱我未婚夫，我要跟他走。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孙学锋瞪着山伢子，眼睛都要瞪出血来了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;田静愕然问道：“走？去哪儿啊？什么时候走啊？不回来了？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子凑到花梦容耳边轻声说道：“我没有生气，你不用这么激动，我是看到孙学锋眉间有黑气，你不是说那段文字来自一个大墓吗？这小子撞邪了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容一愣，看着孙学锋问道：“孙学锋，你下墓了？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;跳跃性的话题把孙学锋问得愣住了，半晌才反应过来，答道：“是啊，对呀！上个星期考古队来人找张老师，说是发现了一个大型古墓，里面有很多古文字，你不是请假了吗？我跟张老师去的。对了，你不能辞职啊，张老师还要让你主管这个课题呐！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容一脸紧张地看着山伢子，问道：“张老师？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子摇了下头，张老师没什么异常。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容松了口气，山伢子搂住她转身，说道：“到外面去，我有话跟你说。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”花梦容乖巧地转过身，等他拉开门，然后走出去。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;门关上，孙学锋恨恨地坐下，牙齿咬得咯咯响。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;田静低声说道：“算了吧，买个香水儿就一百多万，真不是一般人能比的，你看把她美的，嘴都合不拢了，这回请这么多天假，肯定是出国玩儿去了，我要是能碰上这么一个该多好。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嘿嘿……”杨波闷着头笑。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;田静瞪眼斥道：“笑什么？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;铁熊也笑，说道：“一百多万的香水儿，也只能喷在梦容身上。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;田静嗤了一声，翻了个白眼儿，低下头接着看电脑。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;门外，山伢子轻声说道：“如果张老师让你做完这件事再辞职，你就答应他，但条件是我得陪你一起去。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容两眼放光地看着他问道：“你陪我去？你一个人陪我去？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子失笑，抬手捏了一下她的鼻尖，说道：“当然是我一个人陪你去，拖家带口的，你怎么跟张老师解释。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯~”花梦容张开双臂搂住山伢子的脖子，踮起脚尖就吻他的嘴唇。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“咳！”激烈的干咳声响起，张晨走了过来，脸色阴沉地低声训斥道：“这是研究所，注意影响！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容抿着嘴笑，张晨说道：“来我办公室，我有事情跟你们商量。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”花梦容笑着答应，抱住山伢子的胳膊，跟着张晨走向办公室。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;(本章完)
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>