<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第773章：天道观有事</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第773章：天道观有事
</div>
<div class="bookname">
	<h1>第773章：天道观有事</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第773章：天道观有事 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;转眼一月，欧阳垣没来无名观，古芊芊带着媚影和竹青又去了欧阳家，结果欧阳家锁着门，叫门也没人应。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;竹青说道：“属下进去看看。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“不用了，跑了也好，免得麻烦。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚影皱眉问道：“不会有后患吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“但愿没有。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚影不解地看着古芊芊，古芊芊也没给她解释，带着两人回了无名观，见到山伢子后，说道：“欧阳垣跑了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“一个月的时间，都够他跑去国外了，你就是故意放他跑的吧？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊点头答道：“咱们是要强势，但也不能把人往死路上逼，毕竟还有很多无名观后羿，不能让人觉得咱们得理不饶人。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉问道：“现在这些人还不够？还要往回招人？招那老些人干嘛呀？光费干粮了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊失笑，说道：“即使不往回招人，也不能让他们传闲话呀。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这倒是。”山伢子点头。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;停了一会儿，山伢子问道：“不会有什么后患吧？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“后患肯定会有，只是大小的区别，我很奇怪，两个月前你吸收了那个男的，怎么天道观一点儿动静都没有？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“我琢磨着那人可能就不是天道观的，他可能是欧阳家的。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“天道观应该是不会趟这浑水了，我吸收了欧阳垣的法力，就是为了给天道观一个警告。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“不说这些了，说也说不出个啥来，爱咋咋地，我问你个事儿，等饭店整好了，咱咋安排？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊拿出手机，调出设计图给他看。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;饭店是碉楼式设计，两边是圆形碉楼，方便弓箭手全方位防御，一共三层，最上层两边圆形的是静修室，每边都可容纳十二个人环坐，而中间部分是八间独立的房间，都带卫生间，而且整个三层都做了隔音处理。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一层两侧圆形空间是挑空的，直接看到三层的楼板，吊装大型吊灯，做为VIP室使用，中间部分是饭店的主营业区，二层的房间是给妖族住的。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊估计饭店永远都坐不满，因为他们只做鬼的生意，但也不好说，没准儿一传十，十传百，将来还得排队等位呐。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“要弓箭手干啥？咱是开饭店，又不是打仗。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“咱们带着药娘，不比带着和氏璧省心，有备无患嘛。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，沉默了一会儿才说道：“只做鬼的生意，会不会有点儿太浪费了？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“无所谓，我想过了，等你找到合适的接班人，就把整个饭店送给他，他爱怎么折腾就怎么折腾，咱们就可以回山潜心修炼了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子答应，这个条件的确合适，他不可能活多久就开多久的饭店，所以只要传承下去了，就算对得起徐四了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊微笑着问道：“要不要去看看？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子摇头，答道：“到时候就看到了嘛，不折腾。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊笑，说他：“你怎么这么懒。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“不是懒，是不想做无用功，而且我今天从起来就右眼皮跳，总觉得有事儿……要不你给我起一卦？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“测字吧，你说个字，我给你解。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“烦，烦恼的烦。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊微一皱眉，说道：“这卦应在梦容身上，火为心尖，人下为贝，梦容是你的心肝宝贝儿，而这个字的本意又是麻烦，可能天道观会有事儿。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子笑，说道：“你瞎说得还挺有道理。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊一愣，随即笑嗔道：“谁瞎说？这是正经的测字。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“你们都是我的心肝宝贝，为啥就得应在梦容身上？还不是因为她是药娘，天道观要找事儿，肯定是因为梦容，这还用解呀？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嘟着嘴瞪他，似笑非笑地嗔道：“好歹我有七百年道行，你就这么怼我？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子笑，刚要说话，惜音在门外说道：“观主，方便吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱着眉头笑，轻声问古芊芊：“她们都是怎么看我的？这青天白日的，居然问我方不方便？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊笑着轻声答道：“淫棍。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完对惜音说道：“进来吧。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;惜音推门进来，手里竖着拿着一张帖子，说道：“禀观主及夫人，天道观观主陆天承，持拜帖求见观主。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一愣，看着古芊芊说道：“行啊宝贝儿，还真让你给算准了，真是天道观有事儿哈？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊却微皱眉头，问道：“他们来了多少人？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;惜音答道：“观门前只有一个人，属下已经命人去巡山了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊对山伢子说道：“你去迎接他，我在大殿等你。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“我还得迎接他？我不削他就不错了！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嗔道：“犯什么混？欧阳垣把梦容许配给人家，可咱们并不知道人家答没答应，况且人家也不是来抢人的，而是持拜帖求见，人家也是观主，你当然应该去迎接人家。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子站起来往外走，古芊芊又说道：“等下，让惜音跟着你。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子转身问道：“你怕他跟我动手啊？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“不是，他不会跟你动手，让惜音跟着你，是显示你观主的身份，快去吧。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子答应。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;惜音将拜帖交给古芊芊，然后跟着山伢子走了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊把拜帖放到桌面上，然后站远，拔出秋霜剑，用剑尖挑开拜帖，没有什么异样，对安婧说道：跟梦容来我房里找我。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一会儿工夫，两人过来，古芊芊指了下拜帖，说道：“梦容，拿起来抖一抖，看看有没有毒。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容拿起来抖了抖，又用手指蘸了舌尖洇了纸，又放回嘴边舔了一下，说道：“没毒。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完看了一眼拜帖，瞬间就蹿儿了，嚷道：“天道观陆天承？他想干嘛？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“我也不知道，但应该不是来找事儿的，我谅他也没这个胆量，我让伢子去迎接他了，咱们去大殿等着吧。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;(本章完)
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>