<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第129章：遇袭</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第129章：遇袭
</div>
<div class="bookname">
	<h1>第129章：遇袭</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第129章：遇袭<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹鼓了鼓嘴，又不是她主动要的手机，不过话也不能这么说，就答道：“好啊，那你陪我去啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”古芊芊答应，说道：“晚上我去找你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“晚上？”张小莹问道：“你不是快高考了吗？你有时间陪我去靠山镇啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“想什么呐？先去见黄爷爷，借不借还不一定呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”张小莹说道：“明天晚上吧，今天我有事儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊诧异道：“你有什么事儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹答道：“我要去鬼市一趟。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“鬼市？”古芊芊的声音莫名的兴奋：“你是说，真的是鬼待的鬼市？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹问道：“你也想去啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊反问道：“我能去吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹想了一下，答道：“我不知道，要不你问问你妈。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦……”古芊芊的音调儿降了下去，说道：“我待会儿给你回话儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;果不其然，没五分钟，古芊芊打来电话，声调郁闷地说道：“我妈不让我去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;晚上七点多夏歆雨的父亲来了饭店，山伢子有点儿紧张，把他请到了包间儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;坐下后，夏歆雨的父亲说道：“石大师……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“叔儿。”山伢子赶紧说道：“您别叫我大师，我师父都不承认自己是大师，您叫我……嗯，我叫石庆山，您怎么顺嘴儿怎么叫吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨的父亲微笑着说道：“好，庆山，我来是当面儿给你道个歉，上回沐航那孩子着急，也没把话说清楚，静静后来跟我们说了，是你救了歆雨的命，歆雨的妈妈误会你了，对不住啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“没事儿，也的确是因为我，才连累了他们。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨的父亲淡了笑意，说道：“你要非得这么说呐……我也不好反驳你，我觉得吧……歆雨年纪还小，现在学业为重，是吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子点头，说道：“您放心，我不会主动联系她的，其实离我远点儿，对她有好处。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨的父亲微笑着点头，说道：“你能这样说，我就放心了，那你忙吧，我就不打扰了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹从头到尾都盯着夏歆雨的父亲，脸色黑得像铁锅底一样，但她没有说话，因为这种事儿，强求不来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;直到山伢子把夏歆雨的父亲送出门儿，张小莹才恨恨地说道：“什么人呐，自己都说是你救了歆雨的命，还说那些屁话！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子小声儿说道：“姑娘家别骂人，人家心疼自己闺女，这没啥错儿，换了是你爸妈，也不会让你跟我这样的人来往。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹嗤了一声，没说话，山伢子说得对，这是人之常情，没啥可反驳的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“你不是还要去鬼市吗？快去吧，早去早回，别耽误晚上营业，前边儿全指着你忙活呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”张小莹掉着脸答应一声，把灵石摘下来给山伢子戴上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“你戴着呗。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹答道：“我去鬼市，不想招事儿，回来再给我。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜悦玲走过来问道：“小莹，用不用我陪你去？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹想了一下，说道：“算了，头回去不知道是个什么情况，我先自己去吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜悦玲抿着嘴没说话，她是没用，什么事儿都帮不上忙。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹搭了两趟顺风儿车也没到地方，只能步行，边走边嘟囔：“什么破地方！这么远，早知道就让四叔送我来了，连个车都没得坐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;前面有个人靠在树干上，头上戴着棒球帽，帽沿儿压得很低，脸上捂着黑色大口罩儿，穿一身儿深颜色的衣裤，双臂交叉在胸前。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹从他旁边走过，口罩男突然说道：“去鬼市啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹一惊，没想到他能看到自己，更没想到他知道自己去哪儿，转头看他，口罩男已经右手掐诀，左手拿了个小瓶子，说道：“来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一个无形的法力屏障将张小莹包住，张小莹惊问道：“你是谁？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只这一句话，张小莹眼前一黑，周围瞬间安静了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“喂！”张小莹喊，却没有回声，像站在无垠的旷野里，只是暗无天日，不辨八方。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹知道自己是被收进了类似魂瓶的东西里，又喊道：“放我出去！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;晚上九点多，山伢子问徐四：“师父，小莹咋还不回来？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四答道：“挺远的，坐车去来回也得两个多钟头，她七点多才走，就算到那儿就往回返，这时候儿也到不了家呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“可是她手机也打不通，总没声儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四心里咯噔一下，问道：“你有古芊芊电话吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子摇头，早知道会发生这种事儿，他就把古芊芊的电话号码儿存上了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四叹了口气，说道：“你别急，我去一趟古家。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子答应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;将近一个小时后，徐四打来电话，山伢子急着问道：“找着小莹了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四答道：“没找到，你来一下，让芊芊带你去找一位高人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“你在哪儿呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“那位高人叫扎纸黄，小莹的手机就是人家给扎的，人家说了，只见灵石宿主，我没资格。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“那让古芊芊自己去不就行了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四蹿儿了，骂道：“你哪儿那么多废话！现在是小莹丢了，让人家忙活，咱们不跟个人呐？你脑子怎么长的！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答应道：“哦，知道了，师父你别生气，我脑子笨，我就这去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子心里其实是有点儿怵古芊芊，因为古芊芊的脾气跟张小莹很像，而且又是水性灵石的宿主。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子要走，钟离愁说道：“跟你师父说，赶紧回来，要不后厨没人了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗳。”山伢子点头答应，心里挺不高兴，小莹都丢了，师叔就是一门儿心思想着赚钱。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁看他的神色就知道他在想什么，说道：“伢子，我也心疼小莹，我也着急，但不能因为着急就啥正经事儿都不干了。再说了，小莹不一定是丢了，没准儿就是没信号呐，你知道她那个手机归哪个运营商管呐，是不是？稳着点儿，啊？”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>