<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第228章：不参加</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第228章：不参加
</div>
<div class="bookname">
	<h1>第228章：不参加</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;&quot;第228章：不参加<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊轻咬着嘴唇儿，微微皱着眉头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵问道：“你在想什么？过来坐这儿，把你这次跟他们在一起的情况详细告诉我，包括山伢子对你的态度，以及一切细节。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊脸上发红，瞪着韩慕灵，梅姨走过去拉着古芊芊回到沙发边，按着她坐下，笑着说道：“不用不好意思，都是大姑娘了，早晚要嫁人的，不是山伢子也会是别人嘛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嘟了嘟嘴，说道：“渴了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;梅姨笑，说道：“我去煮咖啡，你跟你妈说吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;梅姨走开了，古芊芊低声把这趟出门儿的情况，详细说了一遍，包括山伢子对她的态度和一些做法，还有碰到那两名火行术居士的事儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完之后，古芊芊喊道：“梅姨，咖啡煮好了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;梅姨在厨房答道：“这就来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵沉默着，她最感兴趣的事就是出现两个张小莹，同名同姓很平常，但同名同姓、性别一样、出生日期一样、还都已经死了，不能说这种情况绝对没有，但这种概率有多大？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;怎么就这么巧，让张小莹给碰上了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;另外，张悦欣的表现的确很奇怪，而张小莹单独跟张悦欣谈完以后，态度也有了本质性的改变，从原本为了婚书都可以灭掉另一只鬼的极端，突然转变成不要婚书了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹不是精神病儿，所以这里面肯定有事儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;梅姨把咖啡端过来，古芊芊笑眯眯地说道：“谢谢梅姨。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;梅姨笑，伸手抚了下她的脸蛋儿，然后又走开了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊问韩慕灵：“妈，抑郁症你能治吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵冷淡地答道：“人的精力是有限的，不该操心的事儿不用去操心。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉，说道：“妈……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你给我听好。”韩慕灵打断了她，说道：“你不欠夏歆雨的，咱们不是逼着山伢子抛弃夏歆雨来跟你好，是山伢子把她当妹妹看，也就是说，夏歆雨是一厢情愿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;顿了一下，韩慕灵又说道：“情场如战场，不是你死就是她亡，除非你要不要山伢子都可以，否则你不用管夏歆雨会怎么样，她怎么样都跟你没关系！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我知道……”古芊芊抿了一小口儿咖啡，想了一下才说道：“我是觉得，抑郁症这种病挺可怕的，总是救人一命嘛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵嗤了一声，说道：“张小莹有句话说得非常对，再老实也是男人，你才刚一吐口儿，山伢子就想招儿抱你，这就是男人的本性，你不要让他觉得你有多好心、多大度，咱们能容下张小莹，一个原因，张小莹是鬼，另一个原因，张小莹是木行，否则的话，就凭咱们的家世，还有你的姿色跟学识，咱们连鬼都不能容！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊抿了下嘴唇儿，不再说话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵唤道：“小梅。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;梅姨走过来应道：“小姐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵说道：“找人去查一下张小莹的母亲，叫张悦欣……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嗔道：“你怎么逮谁查谁？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵斥道：“我是要嫁女儿，不是雇员工，我查他们祖宗十八代都是应该的！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嘟嘴，韩慕灵又对梅姨说道：“弓长张，愉悦的悦，欣慰的欣，现住址是育红镇xx小区x号楼x单元302室。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊看着韩慕灵，怪不得刚才问张小莹家的详细住址，原来是为了查人家。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵又对古芊芊说道：“学校我已经给你联系好了，x国xx大学，你还有什么事赶紧办，五天后我陪你飞x国。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“什么！”古芊芊嚷道：“你都不跟我商量一下吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵说道：“在张小莹的事情查清楚以前，你跟山伢子的关系暂缓。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我不！”古芊芊站了起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵说道：“别逼着我用轮椅推着你出国，我可以让你暂时说了不话，也动不了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊扁了嘴要哭，梅姨赶紧搂住她哄道：“听话，小姐也是为你好，再说，四年的时间也不长，一眨眼就过去了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“四年！”古芊芊哭了出来，嚷道：“我有几个四年啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵嗤道：“还腆着脸说自己不愁嫁……小梅，把她关到房间里，不准她出门儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嚷道：“明天伢子跟小莹姐结婚！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵斥道：“你还想去参加婚礼啊？唯恐别人不知道你大度是吗？回房去！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;梅姨搂着古芊芊上楼，边走边哄她：“别哭了，就说是咱们家同意他先娶张小莹的，你也不应该去参加他们的婚礼，那样会显得你不值钱。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊争辩道：“那在伢子家，他们要是结成婚了呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;梅姨说道：“那不一样，你们将来又不在那个小村子过日子，好了，听话，你这些都是小事儿，你乖乖地跟小姐出国，小莹会替你看着山伢子的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵又说道：“把她的手机也给我拿下来！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧把事情单独跟徐四说了，徐四惊得瞠目结舌，暗自庆幸当年自己心善，没有勤儿勤儿地跑去收霍晓荧，否则恐怕等不到遇见山伢子，他就让人给干掉了！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;有了新的情报，当然就会重新分析整件事，对于黑衣人的分析，徐四赞同霍晓荧的观点，尤其黑衣人还把害死霍晓荧的凶手收拾得那么惨。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但对于黑衣人的身份，徐四没有表态，因为各个方面都想不通，都有不合理的地方，只能说，现在知道的信息量还是太少。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;第二天晚上六点多，沐航跟文凯来了，舒静和夏歆雨没来，沐航偷偷告诉山伢子，说夏歆雨现在特别恨山伢子，舒静也一样。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子没说话，反正他只是给沐航打了电话，也没想请舒静和夏歆雨，至于恨不恨的，他也没办法。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;七点多，屈长寿、屈敬龙、姬北洋、姬淋洛都到了，但古芊芊和韩慕灵却还没来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧给古芊芊打电话，手机关机了，就跟山伢子说：“不用等了，芊芊和干妈不会来了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，霍晓荧把他拉到一边，轻声解释道：“这是好事儿，说明干妈是想把芊芊嫁给你，所以她们不来参加咱俩的婚礼，免得显得芊芊不值钱。”&quot;
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>