<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第738章：正在觉醒</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第738章：正在觉醒
</div>
<div class="bookname">
	<h1>第738章：正在觉醒</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第738章：正在觉醒 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;第二天入夜，山伢子听到安婧说话：我们到了，东南方向三里地，带梦容过来吧，免得又惊动活人。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子带着花梦容去找古芊芊，到了地方，花梦容先扑上去抱住了安婧，嘟嘴撒娇着说道：“婧婧，我都想你了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧搂着她笑，说道：“想我干啥，不是有伢子陪你嘛。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容将头枕在她颈边，答道：“那不一样嘛。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，他真是搞不懂花梦容对安婧的这种态度，古芊芊跟霍晓荧也好，但就是比花梦容跟安婧看起来正常。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过山伢子也暗自庆幸，关系好总比关系不好要强得多。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊和霍晓荧不理会花梦容的表现，因为心里很清楚原因，两人一左一右拉着山伢子看。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊问道：“有没有觉得不舒服？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子摇头。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧问道：“想吐吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子失笑，说道：“我又不是怀孕。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧看古芊芊，古芊芊对山伢子说道：“你坐下，我给你查查。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子盘坐下来，古芊芊伸手按在他头顶，花梦容也不跟安婧矫情了，一脸担心地盯着，害怕山伢子出问题。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;十几分钟后，古芊芊收回手，露出别样的笑容，说道：“夫君，你的魂力正在觉醒。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是吗？”山伢子站了起来，皱眉问道：“就凭我脑子里闪现一张图？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊微笑着答道：“那张图可不简单，那是奇门遁甲图，奇门遁甲极其繁杂，别说你没学过，就算学过，也不是几年的时间就能学懂的，而你却在那时能指出方位和克应。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“啥？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊微笑着说道：“别问了，要是让我给你讲，一年也讲不完，你也不见得能听得懂，等你魂力觉醒之后，自然就全都明白了，我还是跟你学的呐。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子点头答道：“好吧。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容问道：“是我的功劳吧？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看她，而古芊芊三人却看山伢子。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容说道：“伢子什么都没说，我是药娘，我的血可以解毒，那跟我上床肯定功效更大，否则芊芊姐也不会先是极力促成我跟伢子好，而后又安排伢子天天陪着我，对吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧和安婧都看着古芊芊，古芊芊微笑着问花梦容：“你不高兴啊？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容眯眼一笑，答道：“高兴啊，老公归我一个人用，怎么会不高兴？我都高兴死了，我就是问问，是不是我的功劳？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊笑而不语，花梦容说道：“芊芊姐，有没有什么功法可以再快一点儿，你教我或是伢子，不用怕我心里不痛快，事实就是如此，如果我不是药娘，那我有什么用呐？你们哪个不是美女？哪个不对伢子真心？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊伸出手搂住她，微笑着说道：“也不是完全为了伢子好，你也受益，原本阴阳双修就是互相的，你应该也能感觉到你的精力比以前旺盛了吧？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯！”花梦容郑重点头。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊又说道：“不过凡事皆不可操之过急，功法是有的，但现在还不能用，用了会伤身，十年以后吧。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”花梦容点头答应，转而问道：“今晚你们谁用？谁陪我睡？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所有人都笑，山伢子皱眉，他成什么了？ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧说道：“我陪你睡。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容回头看她，冲她眨眼睛，安婧不理她，问古芊芊：“今晚去还是明天去？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“明天去吧，不知底细，还是阳气重的时候去稳妥。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好。”安婧答应一声，拉着花梦容说道：“走吧。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容跟着安婧走了，霍晓荧说道：“你俩腻吧，我回山修炼了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“回山？”山伢子愕然看着她。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“你没发现绣娘没来吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子这才反应过来，问道：“她什么情况？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“让芊芊告诉你吧，我来就是看看你有事儿没事儿，你既然没事儿，我就回去了，反正也帮不上忙，还不如抓紧时间修炼呐，走了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完一转身消失了，山伢子张了下嘴，却没来得及说话，神色有些尴尬。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊微笑着说道：“媳妇儿多了就是这样，你顾不过来的，我们自己会调整，你就别操心了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;灵信把帐篷叨下来放在地上，说道：“观主，夫人，我去猎食了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊微笑着答道：“去吧，不要走远。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是。”灵信答应一声，游走了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;亲热之后，古芊芊把她在城隍庙问来的讯息，毫无隐瞒地告诉了山伢子，然后说道：“这些事只有咱们四个和我爸妈知道，我希望你不要告诉婧婧和梦容。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子点头说道：“我明白，有些事当事人不需要知道，知道了反倒会出岔子。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊笑着伏在他身上，山伢子皱眉说道：“可是……我不想娶李绣娘。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊淡了笑意，问道：“为什么？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“上辈子的事儿了，她又是鬼……我觉得不合适。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊撑起身看着他，问道：“我们哪个不是上辈子的事儿？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子认真地答道：“那能一样吗？你们四个都是磕磕绊绊才跟我在一起的，李绣娘是莫名其妙找来的。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“正因为她是莫名其妙找来的，所以才更应该留下她，方便查出幕后的人。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“那我就得娶她呀？那要是以后还有像她这样的找来，我是不是都得娶啊？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉，说道：“我看你挺疼她的呀？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子叹气，说道：“我是男人嘛，她那么可怜，我当然会怜香惜玉了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊斥道：“那你还说让她留在你身边，天塌下来你都替她扛！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子争辩道：“那不是跟你们赌气嘛，谁让你们都不帮我拿主意的。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱紧了眉头，使劲拧了他一把，斥道：“这种事也能赌气的？现在怎么办？事情也问清楚了，你之前又说过那样的话，难道现在赶她走啊？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子嘿嘿笑了两声，搂住她哄道：“你想想办法呗。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我想你妹！”古芊芊又搥了他一拳。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;(本章完)
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>