<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第68章：血书</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第68章：血书
</div>
<div class="bookname">
	<h1>第68章：血书</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第68章：血书<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;听到山伢子说的话，骆小甜一脸茫然，刚想开口问，突然头发被薅住，尖叫着被张小莹扯到沙发边搡倒在沙发上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，张小莹倒真是没打人，可这也不比打人好到哪儿去，这丫头怎么这么霸道？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;骆小甜抱着脑袋尖叫，舒静厉声斥道：“别叫唤了！再叫唤就别问事儿了，回家吧！丢人现眼的玩意儿，早知道你这样儿我们才不陪你来，路上不是给你打过预防针了吗？装什么大尾巴狼！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;骆小甜让舒静骂得急了眼，跳起来嚷道：“谁让你来了？我就是让夏歆雨帮忙儿联系一下，是你们非得跟着一块儿来的！谁丢人现眼了？你不怕鬼那是你没长心，我不能怕鬼吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;舒静嗤了一声，她想来，上回握了沐航的手之后，就喜欢上了那种感觉，她想见沐航，虽然能看出来，沐航喜欢的是夏歆雨，但她也不是没机会。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于夏歆雨为什么也要来，舒静怀疑她是喜欢上了这位相貌忠厚，略有些痴呆的石大师，不过舒静什么也没说，因为石大师身边有只女鬼，跟人抢男朋友还好办，跟鬼抢男朋友，这个难度系数太大，相信夏歆雨不会不仔细考虑的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沐航连忙打圆场，说道：“别吵了，石大师很忙，小莹姐怕吵，骆小甜，其实你不用害怕小莹姐，你越害怕小莹越会不高兴。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子接口说道：“对，就跟狗一样，你越是害怕，它越是要咬你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“说谁呐？”张小莹踢了山伢子一脚。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子疼得一咧嘴，俯身捂腿，说道：“我就是打个比方。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹瞪眼道：“有这么打比方的吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨不留痕迹地皱了下眉头，舒静斜眼儿看着骆小甜挑衅道：“看见了吗？小莹姐连石大师都敢打，有本事你接着叫唤呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;骆小甜瞪着舒静，一时想不出什么词儿来怼回去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沐航说道：“行了，都是人民内部矛盾，石哥很忙的，小莹姐还要追电视剧呐，有什么事儿快说吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;骆小甜从兜儿里掏出一张信纸，放到茶几上，推给山伢子，说道：“石大师，就是这个。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子拿起来展开，上面果然是血淋淋的写着三行字：我喜欢你，你不跟我好，我绝不放过你。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子伸出舌尖儿要去舔血字，张小莹伸手戳他的脑袋，嗔道：“干嘛呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“我不舔一下，我怎么知道是不是血？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹翻白眼儿，把血书拿过来闻了一下，说道：“不是人血，气味儿不对，但肯定是血，就不知道是什么动物的血。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，通常来讲，写血书应该用自己的血，至少是为了表达一种诚意，用动物的血写血书，这是什么意思？难道是某种仪式吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问骆小甜：“谁给你的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;骆小甜答道：“在课桌里发现的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;舒静说道：“既没有抬头，也没有署名，你确定这是给你的吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;骆小甜瞪眼道：“不是给我的，还是给你的？我都说了是在课桌里发现的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;舒静翻着白眼儿说道：“那也可能是放错了地方。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;骆小甜嚷道：“你有病啊？我踩你尾巴了？你干嘛老给我过不去？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;舒静嗤道：“我哪敢跟你过不去呀，你是谁呀，你是大尾巴狼啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“舒静！”骆小甜跳了起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，什么毛病，怎么总吵？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨却置身事外，安静地坐着，低垂着目光不知道在想什么。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹用胳膊肘碰了碰山伢子，说道：“你看夏歆雨，娴静犹如花照水是吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“你说啥？啥玩意儿照水？水咋照？跟水有啥关系？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹横棱着眼睛瞪山伢子，说实话，有时候她也不知道山伢子到底是真傻还是装傻。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;听到山伢子的话，所有人都看着他，舒静跟骆小甜也不吵了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沐航问道：“石哥，你说啥？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“小莹说夏歆雨什么照水，我问她是啥意思。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹黑着脸，让所有人都能听到她的话：“我是说，夏歆雨娴静犹如花照水，这样的女孩儿招人喜欢，惹人怜爱，石大师就是个文盲，他还以为我说夏歆雨撞鬼了呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨浅笑低眉，腮边漫过一抹红霞。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;骆小甜虽然心里害怕，但还是不忘用怨毒的目光狠剜了夏歆雨一眼，在她心里，夏歆雨就是那种假清纯的绿茶表。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子尴尬地解释道：“我没读过多少书，不知道这句话是什么意思，咱们在说血书的事儿，我就自然而然地猜想是不是跟夏歆雨有关系。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹嗤道：“真是对牛弹琴。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沐航看夏歆雨，发觉夏歆雨其实并不关注他，心里有点儿不舒服，问山伢子：“石哥，刚才我看是不是小莹姐把血书拿过去了？这血书有问题吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“小莹说这上面的血不是人血，但肯定是血，就是不知道是什么动物的血。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沐航皱眉道：“这也太没诚意了吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;舒静连忙帮腔儿道：“就是啊，哪有用动物血写血书的？好了，虚惊一场，没事儿了，肯定是谁在搞恶作剧，我想也是嘛，谁会下这么大狠心给你写血书啊，要写也是给歆雨写才值得。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“舒静！”骆小甜咬牙切齿地问道：“你什么意思？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;舒静挑衅地笑，说道：“我的意思很清楚啊，刚才小莹姐都说了，我们歆雨是娴静犹如花照水，怎么？你不同意小莹姐的观点啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这句话问得骆小甜头皮一阵发麻，别的什么话都可以怼回去，唯独这句话，骆小甜不敢吭声儿，只能拿眼睛往死里瞪舒静。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹却懒得理这两人，问山伢子：“要不要问问四叔？是不是某种邪术或是什么仪式性的东西。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子点头，站起来说道：“我出去打个电话。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好。”沐航答应，转脸儿问夏歆雨：“中午想吃什么？上回那个清蒸鲈鱼好吃吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨浅笑了一下，答道：“什么都行，我没有特别的喜好。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沐航说道：“我看你上回挺喜欢吃清蒸鲈鱼的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨又浅笑了一下，没有再答话，她不是很喜欢吃鱼，上回是因为那道菜最贵，所以沐航把那道菜摆到她跟前儿了，而她又不好意思驳沐航的好意，所以才多吃了几口。
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>