<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第256章：见过的场景</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第256章：见过的场景
</div>
<div class="bookname">
	<h1>第256章：见过的场景</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;&quot;第256章：见过的场景<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子依然站在那堵墙前面，盯着自行车看。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿已经反复走了好几遍了，跟山伢子一样，一直往前走，走着走着就看到山伢子杵在墙跟前儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿变得有些急躁，嗔道：“你总看那个自行车儿干嘛呀？你倒是想想怎么离开这儿啊！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子把自行车顺了过来，然后骑上，对桃花儿说道：“坐到后架子上。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿坐上去，伸出一只手臂搂住山伢子的腰，问道：“你要在走廊里骑车呀？你小心点儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子没说话，他是刚刚想到的，为什么这个走廊里什么都没有，偏偏有一辆自行车？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;自行车肯定不是用来看的，是用来骑的，如果骑上自行车，是不是就能离开这个走廊了呐？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;走廊的灯突然亮了起来，原本昏黄的白炽灯，发出了日光灯的亮度，将昏暗的走廊照得格外清楚，但依然看不到尽头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子深呼吸了两下，说道：“坐好！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完使劲儿一蹬自行车，晃悠了两下，骑着向前跑去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿抬起另一只手挡着眼睛，灯光太亮了，晃得她有点儿眩晕。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;走廊没有尽头，但也没再出现挡路的墙，山伢子并不知道自己要去哪里，或者应该说，能去哪里。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子只是不停地蹬着车，心里总有种感觉，快了，就要走出去了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;前方突然发黑，也不知道是因为走廊太亮，还是前面有个大洞，反正山伢子没有停下来观察的想法儿，一股劲儿就冲了过去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;星空，朗月，青草依依，微风习习，远山如黛。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“呀！”桃花儿惊叫。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子连忙用双手按住她搂在腰上的手，问道：“咋了？有人往回拉你吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不是。”桃花儿说道：“咱们骑在马上。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊？”山伢子一愣，这才发觉，果然是骑在马上，而且马还在跑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一忽悠，山伢子拽着桃花儿摔了下来，马跑出一段儿距离才停下，也不回来，低下头吃草。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子先问：“你没事儿吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿答道：“没事儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子松开桃花儿，站起来回头望，夜色如织，一望无际，别说走廊了，连块大点儿的石头都没有。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“这回好，刚才那个走廊好歹地方还小，现在这么大个草原，往哪儿走啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花皱眉，人实诚是好，可太实诚的人，有时候也招人烦。就比如说现在这个情况，张嘴儿就说实话，弄得人心里一点儿指望都没有了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;突然间蹄声远来，眨眼工儿夫，一骑奔马从两人面前闪过，向着远山绝尘而去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两人发愣的工儿夫，蹄声大作，一队人骑着马呼啸而过，追着前面骑马的人远去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一脸茫然地说道：“我真的是在做梦？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿扯着山伢子跑向吃草的马，急道：“快追！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子喊道：“我不会骑马！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我会！”桃花儿翻身上了马背，向山伢子伸出手说道：“快上来！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子搭手借力，跳起了马背，桃花说道：“搂紧我！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子双臂搂住她的腰，桃花儿勒起缰绳，双腿同时踢了下马腹，马嘶鸣一声，狂奔起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子惊奇地发现，马真正跑起来之后也挺稳的，跟骑摩托车差不多。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一直追到山脚下，远远地看到前面的人都下了马，跑进了山林，桃花儿加紧催马赶了过去，到山林边猛然一勒缰绳，马人立起来，山伢子后仰下滑，直接把桃花儿从马背上坠了下来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“快起来！”桃花儿站起来拉山伢子，说道：“追他们。”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>