<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第495章：可以试试</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第495章：可以试试
</div>
<div class="bookname">
	<h1>第495章：可以试试</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第495章：可以试试<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“侯爷误会了，在下之疑虑并非来自侯爷你，在下是有所顾虑，凭我们的本事，如何能对付‘阴’兽和李将军？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义沉默，他虽然说得轻巧，但其实心里也没底，在他看来，最厉害的人是山伢子，可山伢子下不了水，即使能下水，也坚持不了太久，而洪拓和霍晓荧虽然能在水持久，可他们是鬼，光是‘阴’兽很难对付。,。!<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓问道：“侯爷有何谋划，不妨见教在下。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义略显尴尬，说道：“我只是觉得此事不可不慎，实则我也没有太好的办法，所以才来与诸君商议。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓又问道：“那李镇江邀侯爷对付我们，他又是如何谋划的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义答道：“他并不是现在要对付你们，他要等，十年或是二十年，待他觉得时机成熟，才会对付你们。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”洪拓点头，若有所思。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义说道：“洪兄，不可大意，十年或是二十年，不过是弹指一挥间，肘腋之患若不早除，恐生大祸！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“在下明白，在下是另有所虑，既然李镇江现下不愿对付我们，那想引他岸，必然是难加难。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦……”唐召义恍然，原来洪拓想得是这个，也是，如果能把李镇江引岸来，凭山伢子的本事，再加他，想除掉李镇江应该不难。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓又说道：“还有一事，伢子为了救朋友脱身，把火行石给了秦莫家，要等到火行石拿回来才行。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义愕然问道：“是什么样的朋友，竟能不惜将宝物送与他人？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓笑了笑，这也不是什么机密的事，把邢宽跟山伢子的恩怨讲给唐召义听，听完之后，唐召义哑然失笑，摇了摇头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓问道：“侯爷此为何意？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义答道：“听你说了此事，本侯才明了，山伢子不仅是法力高强，且义薄云天，难怪会得佳人垂青。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓皱眉，这个唐召义也真行，三句话不离‘女’人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吃完了饭，唐召义走了，洪拓把山伢子叫到套房，霍晓荧把古芊芊叫了回来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓将唐召义的意图详细说了一遍，霍晓荧说道：“听他扯犊子，咱们怎么跟李镇江打呀？除非他有办法把李镇江引岸来，再说了，算引岸来，一定能除掉李镇江吗？他不会跑吗？他打不过不会下水吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“你想多了，我倒觉得可以试一试，不过先得等火行石回来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧和古芊芊一同用不解的目光看着他，山伢子解释道：“躲不了的事儿别躲了，迎着事儿，当是历练了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说，打从有了火行石，没消停过，他其实一直跟霍晓荧一样，想着能躲躲，最好火行石都能给别人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;然而，一次又一次的事实证明，他躲不了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;既然躲不了，要换一个角度去想，如果他一来勤加修炼，那他娘和弟弟的魂可能不会被灭。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧皱眉说道：“你才想多了，那是什么时候的事儿？那时候火行石还没解封呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“我是说这个意思。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;来到莫林市之后，一有事儿，不是想着躲，是想着跑，可结果呐？幸好没有造成不可挽回的损失。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;还有，听了洪拓转述唐召义的话，山伢子突然有了一种直觉，或许素雪的遗物放在无名观，所以无名观才会有那么厉害的干尸。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看着古芊芊说道：“唐召义说得对，若非转世，这世哪会有一模一样的人，说起来，倒是他先认识你的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你放屁！”古芊芊冷着脸拿白眼儿翻愣他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子笑着说道：“我说是他先认识你，又没说你应该跟他走，你是我媳‘妇’儿，谁敢抢我‘弄’死谁。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊又翻了他一眼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓问道：“你还想去无名观？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子点头，答道：“想去，非常想去。芊芊神游，唐召义见过素雪，无名观有结界和干尸，这一切都不会只是巧合，必然有内在的联系，我觉得，这些事这辈子要是搞不清楚，下辈子还得重头来一回。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“对哦。”霍晓荧若有所思地看着古芊芊说道：“今朝有幸会，宿世轮转急，这两句谶语可能是伢子说的这个意思。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子愕然看着古芊芊问道：“什么谶语？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊眼神闪烁地答道：“不关你事。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉问道：“什么叫不关我事？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊凶巴巴地嗔道：“不关你事是不关你事！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊不想说这件事的原因很繁杂，一方面她心里因为对祖师的爱慕，而对山伢子有负罪感。另一方面，是祖师的谶语不完整，对于重逢这个问题她始终不能释怀。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;从字面来理解，必然是祖师跟她重逢，但是为什么只说了重逢，却没说重逢会发生什么事情？而且也不知道是以什么形式重逢。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看霍晓荧，霍晓荧摆了下手说道：“别问了，闹心着呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子嗤了一声，不让问算了，有什么了不起的！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;十一点多钟，尚亚坤领着张铭回来了，山伢子皱眉，这个尚亚坤也太不会办事儿了，怎么今天领着张铭回来了？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在江边的时候，霍晓荧把张铭打成那样儿，这见了面多尴尬呀？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尚亚坤拉着张铭的手，张铭低着头，山伢子不知道说什么。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尚亚坤乐呵呵地说道：“石哥，我俩都谈开了，她知道错了，你给我俩办个冥婚吧，行吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子点头答道：“行，现在办吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尚亚坤点头说道：“对，现在办。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子去扎纸店拿黄纸，把邢宽和龚钰丹又叫了过来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧虽然有些尴尬，但还是参加了婚礼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子先焚了婚书，然后去厨房做了一桌菜，大家伙儿坐在套房里边吃边聊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尚亚坤告诉山伢子，李镇江是张铭的干爹，年前才认的，因为李镇江说她长得像自己的‘女’儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，问道：“你们现在结婚了，以后打算怎么过呀？”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>