<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第474章：寻仇</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第474章：寻仇
</div>
<div class="bookname">
	<h1>第474章：寻仇</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第474章：寻仇<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哈！”古芊芊兴奋地说道：“妈，你也说我是素雪转世了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵白了她一眼，说道：“有什么好兴奋的？你也没能带法转世，还不是要重头修炼。!”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嗤了一声，开始嘟嘴掉脸子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍岔开话题：“我觉得伢子分析得有道理，干尸只用剑刺他的咽喉，应该是被活人的那口阳气吸引，只是我不明白，为什么伢子冲灵以后，干尸反倒不动手了呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“可能冲灵以后，气息发生了改变。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍摇头，说道：“再怎么改变，那口阳气还是在的，即使它换了位置，干尸也不应该不动手了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;五人边聊边走，走得很快，本来下山山容易，加没了装备，断水断粮，古芊芊也不闹腾了，所以第二天午十点多，五人回到了会合地点。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两名‘门’人已经等在那里，搭好了三顶帐篷，还垒了个简单的炉灶。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;喝了水吃了饭，又睡了一觉，一伙儿人开始返程。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一趟也算没白来，虽然连无名观的影子都没看见，但找到了跟山伢子梦一模一样的仙茶树，还碰到了干尸，这些都可以证明，山伢子的梦是真实的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可惜的是，山伢子把短剑的剑鞘给丢了，还有手机，估计是翻滚的时候从口袋里掉出去了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;回到莫林市，休息了一天，买了手机，自己做了个剑鞘，第二天去饭店班。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;听了山伢子的讲述，徐四像是后怕地说道：“回来好，以后可别再去了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”山伢子嘴答应，但心里却没答应，如果这趟去什么都没有，或者只是一个虚幻的结界，那以后是没有再去的必要了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可正因为碰了干尸，所以山伢子有种直觉，无名观可能隐匿着一个千年的秘密，等着他去挖掘，像火行石找他一样，这是宿命，他没有选择。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只不过，凭他的本事，至少短时间内是不能去了，去了也没用，算不死也得被干尸赶出来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而且他是刚进入结界碰到了干尸，离无名观还远着呐，谁知道再往里走还有什么东西呀。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夜‘色’如织，华灯初，饭店里坐满了客人，山伢子楼楼下的溜达，龚钰丹冲了进来，抓住他说道：“邢宽接了个电话走了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子微一皱眉，掏出手机问道“邢宽电话多少？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹急切地说道：“我打了，他不接！哎？你没他电话吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“我手机丢了，这是新买的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”龚钰丹眨了下眼睛，说道：“陌生号码，对！你给他打。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说着掏出手机，把邢宽的手机号告诉了山伢子，山伢子打了过去，响了两声，邢宽接了起来，声音冷峻地问道：“谁？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“我，山伢子，你什么情况？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢宽愣了一下，问道：“你换手机号了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“丢在仙茗山了，别打岔，你干什么去了？丹丹都急哭了，你有什么事儿连她都不告诉？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢宽说道：“我跟她是亲过嘴，没干别的，如果我不回来了，你劝她再找个好的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“你家里出事儿了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”邢宽答应，说道：“不说了，我要去买票了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“你只当我是老板，没拿我当朋友是吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢宽沉默了一会儿才说道：“我的事自己能解决。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“能解决你不会不辞而别了，连丹丹的电话都不接，你这是没打算再回来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢宽叹了口气，说道：“莫震东抓了我爸妈……我以为他不会这样做，毕竟罪不及父母，祸不及妻儿……他让我回去，估计我算不死也得残废。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“你不会报警啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢宽说道：“警察办案要讲证据，算报失踪也得有个时间前提，而且我本身也不干净，江湖事江湖了，不能惊动官府，对谁都没好处。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“你在哪个车站呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢宽反问道：“问这干嘛？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“我跟你一块儿去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢宽沉默，山伢子又说道：“多个人多条路，我带晓荧一起去，既然是江湖事，那按江湖手段办。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢宽又沉默了一会儿，说道：“我在东站。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;挂了电话，龚钰丹急着问道：“出什么事了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子转身楼，边走边说道：“他家出了点儿事儿，我和晓荧陪他回趟家，等他回来你自己问他。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹猛一扯他，嗔道：“你现在跟我说！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“说你妹！”山伢子瞪眼斥道：“能懂点儿事儿不？是告诉你原因重要，还是我赶过去帮邢宽重要啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹被他吼得一愣，嘟着嘴跟着他了楼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子先跟徐四打了声招呼，然后去套房跟古芊芊和霍晓荧说，让古芊芊开车送他们去东站。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊也没说什么，收拾了东西，提包说道：“走吧，我去跟四叔说一声，送你们去了东站我回家了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹不敢跟山伢子说话，挽着古芊芊胳膊低声说道：“芊芊，我也想去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“去吧，你的车停这儿吧，你跟你爸妈说一声，这几天你去我家跟我住，免得莫震东派人找你麻烦。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这句话提醒了山伢子，转身出去找洪拓，让洪拓先陪他们去一趟东站，等把古芊芊和龚钰丹送回家再回饭店。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一伙儿人到了东站，在候车室看到了邢宽，龚钰丹冲去低声斥道：“你把我当什么人？占完便宜想跑？连声儿招呼都不打？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢宽叹了口气，说道：“等一会儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;然后看着山伢子说道：“真要跟我去吗？那可是莫家的地盘儿，你跟莫家的账我多。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子没有回答这个问题，而是问道：“买票了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢宽答道：“还没。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“咱俩先去买票吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢宽说道：“你把身份证给我，我去买行了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹很生气，她都跟邢宽亲过嘴了，居然还像个外人一样，连他们说话都听不明白，怒冲冲地对古芊芊说道：“咱们回家吧！”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>