<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第506章：没人味儿</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第506章：没人味儿
</div>
<div class="bookname">
	<h1>第506章：没人味儿</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第506章：没人味儿<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义微一皱眉，说道：“算是吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老鬼毫不忌讳地挪到唐召义的桌，看着唐召义说道：“大侠，你能帮我个忙儿吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义哑然失笑，说道：“这家店的小老板姓石，石头的石，你有什么需要帮忙的事儿，你找他说。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老鬼摇头，答道：“没用，他是活人，找他没用。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义皱眉，说道：“他可是法师。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“那也没用。”老鬼又摇头，说道：“我这事儿吧……什么味儿这么香？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老鬼愕然回头，看到霍晓荧端着一盘菜走过来，连忙又吸了吸鼻子，问道：“姑娘，这是什么菜？给我也来一份儿！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧答道：“不好意思，这种菜只给亲近的人吃。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老鬼一拍桌子，嚷道：“这叫什么话！开饭店还分远近呐？来的不都是客吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧看着他，突然嚷道：“找事儿是吧！开饭店咋的？不做你生意行不行！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老鬼被吼得一愣，鉴于‘只给亲近的人吃’这句话，老鬼也没敢跟霍晓荧接着吵，因为他还有事儿想求唐召义。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义拿起筷子吃，吃一口赞一句：“好吃……伢子的手艺又好了许多……真香……好吃……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老鬼馋得直咽口水，跟唐召义商量：“大侠，给我尝一口行不？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说着伸手想从盘子里捏‘肉’吃，被唐召义一巴掌打开，斥道：“别动手动脚的！懂不懂规矩？你不是有事儿要请我帮忙吗？说说，是什么事儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老鬼先叹了口气，又看着盘子里的‘肉’咽了咽口水，说道：“大侠，你一个人也吃不了这么多吧，给我剩两口行不？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义冷了脸，抄起盘子搥到嘴边，稀里呼噜地吃了个干净，最后还‘舔’了‘舔’盘子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧终于忍俊不禁，站在不远处笑出声儿来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义看向霍晓荧，大声说道：“能博美人一笑，足慰平生啊！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧皱眉，对洪拓说道：“这货长了个欠削的脑袋，你听着吧，我回屋儿了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓笑着点头，说道：“去吧，回头我告诉你是什么事儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老鬼看着唐召义皱眉，唐召义放下盘子说道：“我平生只爱三者，美食、美人、兵器，唯此三者不与人，你到底有什么事，说来听听。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老鬼先叹了口气，然后开始说，他叫杨承业，家住XX单位宿舍小区，房子是他年轻时候分的，后来补钱买了全产权，当时没‘花’几个钱，但现在可值了钱了，那套房值两百多万。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可是，杨承业本来身体很好，没想到自己会突发心梗去世，杨家只剩一个十九岁的‘女’孩儿，是杨承业的孙‘女’，杨‘玉’蝶。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杨‘玉’蝶的父母，在她五岁的时候，双双染流行‘性’疾病死亡了，祖孙两人相依为命，本来杨承业是打算等孙‘女’儿结婚的时候，把房子当嫁妆，转到孙‘女’儿名下，可没想到，他居然突发心梗死了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杨承业重重叹息，说道：“古人说得好啊！一生一死，乃知‘交’情。一贫一富，乃知‘交’态。一贵一贱，‘交’情乃见。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;平时笑脸相迎的左邻右舍，在杨承业死后却都变了嘴脸，欺负杨‘玉’蝶一个单身‘女’孩子，不但不帮忙证明杨‘玉’蝶是唯一合法承继人，还说房子是单位的宿舍，让杨‘玉’蝶赶紧搬走。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杨承业眼含泪地说道：“一辈子呀！我这一辈子得了这一套房啊！我孙‘女’才十九岁呀！她还在学呀，她可怎么活呀……这些人但凡还有点儿人味儿，也不能干出这种事儿来呀……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义沉着脸站起来，说道：“你坐这儿等我一会儿，我去去来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗳。”杨承业答应，抬手抹了抹眼泪。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;看到唐召义奔套房去了，洪拓走过来问道：“老爷子，吃点儿什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杨承业问道：“刚才那位大侠吃的菜，能给我来一份儿吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓笑着说道：“老爷子，刚才那姑娘脾气大，你没好脸儿，她也没跟你好好儿说，其实这种菜要有法力才能吃，否则吃了对身体不好，你不是还有心事未了吗？别为了一口吃的耽误了正事儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”杨承业半信半疑地答应，说道：“那来个素炒茄子吧，再来一碗米饭。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“老爷子，你是刚死的新鬼吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杨承业皱眉问道：“咋了？新鬼不让吃饭呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓笑，说道：“好好儿的话，为什么非得呛着说？你要是新鬼，我得给你讲讲规矩，首先是饭钱的问题，你家人给你烧的纸钱，得先拿去兑现成冥币，然后才能消费，另外，人吃饭，鬼食味，你别看刚才那位大侠能往嘴里放，你可不能往嘴里放，只能闻味儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓看着他问道：“我说得这些，你都懂吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杨承业愕然看着洪拓，片刻后从兜里掏出两个金元宝，问道：“这个不能用是吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓点头答道：“不能用，得先拿去兑换所兑换。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杨承业问道：“那你按兑换的价格算钱呗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓微笑着答道：“对不起，本店没这项业务，你出‘门’往北走，十公里之后再向东走，再走三十公里到了，在路边，很好找。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杨承业张大了眼睛，说道：“那么远！你看我都这么大岁数了……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你是鬼。”洪拓打断了他，说道：“鬼是不论岁数的，没有了‘肉’身的阻碍，跟岁数大小没关系，你看我像多大岁数的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杨承业说道：“你二十多岁嘛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“我一百二十多岁。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杨承业一愣，随即踌躇着说道：“可是……我还得等刚才那位大侠，老哥，你通融通融呗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓答道：“你不用等他，他跑不了，我们都是一起的，你先去换钱吧，反正时间还早，你换了钱再回来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杨承业叹了口气，站起身走了，洪拓目送他下了楼，走向套房，刚到‘门’口儿，套房‘门’拉开，霍晓荧看着他问道：“有事儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓反问道：“怎么？唐侯爷把事儿推给你了？”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>