<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第569章：洪拓的分析</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第569章：洪拓的分析
</div>
<div class="bookname">
	<h1>第569章：洪拓的分析</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第569章：洪拓的分析<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一句话勾起了霍晓荧的好奇心，说道：“去，咱走。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓摆了摆手，说道：“待会儿再去，嗯……等半个小时吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧明白了，那个贺立辉肯定是带着姑娘回家了，这种货活得可够滋润的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;等待的时候，霍晓荧把安婧的事告诉了洪拓，洪拓听完之后不置一词。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧不高兴地说道：“喂！我不是跟你汇报情况，我是想听听你的意见。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓失笑，说道：“我是外人，有些话不方便说，而且我还没见着人呐，也没看见事儿呐，要分析也无从下手啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这次换霍晓荧沉默，洪拓问道：“你是不是有什么想法或是顾虑？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧低声说道：“虽然安婧跟伢子说的话都很合情合理，但有一点我想不通。既然素隐门不与常人通婚，那它的门徒应该不会太少。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“芊芊不是生在普通人家，她可是水行石宿主，素隐门不会连五行世家都不关注吧？他们早应该知道芊芊才对，即使不能确定，也总应该有所试探。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“可是这么多年过去了，芊芊都快二十了，素隐门始终无动于衷。我在想，如果不是伢子进到了无名观，素隐门是不是还会保持沉默？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓笑了笑，其实这个问题就是他沉默的根本原因，他是外人，这些话不能从他的嘴里说出来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;正如霍晓荧所说，素隐门是素雪嫡传的门派，自然应该对五行世家了如指掌，然而素隐门却真是‘隐’得可以，五行世家居然没有一个人知道这个门派。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果山伢子没有进到无名观，或许素隐门根本就不会找素雪的传世，换句话说，素雪遗留下来的东西也不会交到古芊芊手中。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然这只是猜测，毕竟安婧也解释了，素雪有遗训，让他们隐秘传承，同时守护遗骸，他们也的确是做到了，只不过安婧的话中有一处语病，她先说素雪祖师容颜未改，后又说素隐门中没有素雪的照片，只是画像。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一处语病，如果不是安婧口误的话，就应该是问题的关键所在。但不论怎样，有一点却是无论如何也说不通的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那就是即使素隐门**奉的是素雪的画像，也应该跟古芊芊极其相似。在五行世家中有一个人跟素雪极其相似，素隐门居然无动于衷，继续保持沉默，这至少可以说明他们根本不想找素雪的转世。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;或者应该说，他们不希望素雪觉醒，又或者是不想让素雪通过他们的努力而觉醒。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那安婧的行为就有了另一种可能的解释，她本来是想拿走秋霜剑和凝心链，但真正去拿的时候，发现她拿不走凝心链，所以在古芊芊吸收凝心链的法力时，她把秋霜剑还了回来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而且安婧在突袭山伢子的时候，如果真的是一掌就将山伢子打晕，或者她有十足的把握杀掉山伢子，那后果真的是不堪设想！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓至今还记得，在无名观时，安婧从他身边跑过，他提醒安婧之后，安婧回眸时那两道阴冷的目光。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧不简单，素隐门更不简单，前路茫茫，吉凶未卜。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;听完了洪拓的分析，霍晓荧皱紧了眉头，回想安婧突袭时的情景，那丫头根本不像是在验证，她就是想打死山伢子，只不过她打不死，又怕山伢子冲灵，所以才放弃。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓又说道：“我习惯把事情往坏处想，其实我分析得也有些偏执，如果真想杀你们，即使安婧做不到，整个素隐门也是能做到的，所以我的分析也有漏洞。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧点头，这倒也是，安婧就已经这么厉害了，素隐门中肯定藏龙卧虎，真想杀他们，必然是易如反掌。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓站起来说道：“走吧，咱俩溜达着去贺立辉家，看看夜景，你也换换脑子。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好。”霍晓荧答应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺立辉家在南城，一个成熟的高档居民社区，从窗户进了房间，看到一男一女相拥着睡在床上，霍晓荧说道：“这货敢把女人往家带，就不怕哪天有人找上门儿来跟他媳妇儿说吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓笑了笑，敢这么干，自然就不会怕，说道：“走，我带你去看他供奉的东西。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;出了卧室，洪拓走到一个房门前，霍晓荧感觉到一股至阴之气，问道：“什么东西这么阴寒？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓穿门而入，霍晓荧跟了进去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这是一个不大的小房间，设计上应该是放杂物用的，但里面只摆了一张供桌，桌上摆着一个龛，龛里有一个巴掌大小的雕像，形貌凶恶，张手翘足，直观上就不是善类。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧问道：“这是什么……像？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓答道：“我也不知道，但肯定不是善岔儿，咱们问问那小子？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧点头答道：“行。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两人回了卧室，霍晓荧把床上那个女人迷住，洪拓把贺立辉拎了起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺立辉惊醒，茫然叫嚷道：“哎？怎么回事？怎么回事？醒醒！快醒醒！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;床上的女人当然醒不过来，贺立辉被洪拓拖到了客厅里，然后扇了他的后脑勺。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧扯了毯子跟出来，丢给洪拓，洪拓给贺立辉裹上，然后问道：“你在杂物间里供的是什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺立辉答道：“全能神。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓问道：“什么是全能神？解释一下。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺立辉答道：“就是能实现一切愿望的神。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓皱眉，霍晓荧问道：“还有这种神吗？那得用什么供奉啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这话霍晓荧就是随口一说，但是贺立辉却答道：“用漂亮女人的血液供奉。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧张大了眼睛，恍然明白这货睡漂亮女人的真正目的，问道：“你老婆知道吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓皱眉失笑，贺立辉却答道：“知道。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓一愣，他老婆居然知道，追问道：“你老婆是知道你供奉全能神，还是知道你搞女人？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺立辉答道：“都知道。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧问道：“你怎么确定谁的血能用？或者是个女人的血就可以？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺立辉答道：“于大师说了，只要是我想睡的女人，就算是美女，血就能用。”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>