<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第811章：不想查了</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第811章：不想查了
</div>
<div class="bookname">
	<h1>第811章：不想查了</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第811章：不想查了 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你等会儿！”张铁嘴情绪激动，说道：“我最烦别人有话不明说，我这人是个直性子，咱们辩一辩，这事儿到底谁对谁不对！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊哑然失笑，谁对谁不对，这是个伪命题，阴阳之事从来都是说不清道不明的，没办法说清到底谁对谁不对。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张铁嘴干的就是算命的活儿，铁口直断，他没错。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘丹霞因为张铁嘴的话而遭受了苦难，向张铁嘴报复，虽然行为上差强人意，但也是其情可悯，所以也不能算错。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;既然双方都没有错，那谁又是对的？ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘丹霞是个孩子，张铁嘴教唆刘家对刘丹霞不好，即使在化解的方法上是对的，可从人性上来讲，也不能算是对的。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而刘丹霞遭受苦难的根源虽然是张铁嘴，可是以这种激烈的行为报复，致使张铁嘴受到实质性的伤害，这也不能说是对的。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说到底，谁都没错，也谁都不对，这怎么辩论？ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看着张铁嘴说道：“你不对。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊跟张铁嘴同时一愣，张铁嘴随即争辩道：“我咋不对？我干的就是算命的活计，我铁口直断，有什么不对？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“我记得有句话，叫云在青天水在瓶，你知道这句话啥意思吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张铁嘴皱眉，古芊芊吟诵道：“练得身形似鹤形，千株松下两函经，我来问道无馀说，云在青天水在瓶……凡事要顺其自然，不可强求，刘家的因果本就是这样的，你偏要强行化解，因此才招来恶报，只能说你是咎由自取。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张铁嘴定定地看了古芊芊一会儿，说道：“你们是法师，换作是你们，怎么化解？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“不化解，化解不了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张铁嘴一愣，山伢子说道：“没有金刚钻，不揽瓷器活儿，世间的因果错综复杂，不是每一种都能化解的，其实轮回以因果的方式循环，本身就是一种化解方法。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张铁嘴沉默半晌，长叹一声，说道：“那孩子都死了，还说这些干啥……没意思。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;离开张铁嘴家，刘丹霞突然叹了口气，幽幽说道：“张爷爷老了很多。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊看她，刘丹霞说道：“算了吧，我不想查了，谢谢你们这么帮我。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊感觉到她的怨念正在消解，但为了保险起见，还是问道：“为什么不想查了？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘丹霞答道：“你们刚才说的，云在青天水在瓶，因果就是这样的，顺其自然吧。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊点了点头，问道：“那你有什么打算？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘丹霞答道：“我能有什么打算，在河里待着呗。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“我建议你去补阳寿，你是水鬼，河里阴气重，待得时间久了，难免不会旧怨复发，一旦害了人，你就从有理变成没理了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉看古芊芊，水鬼不是有‘应事’的权力吗？ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊不理山伢子，又对刘丹霞说道：“总归是做人比做鬼好，你是横死，补阳寿的话，虽然活得时间可能会相对短一些，但应该会有一个幸福美满的人生。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘丹霞说道：“河里的水鬼跟我说，要找到替身才能投胎啊。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“你跟他们不一样，他们要么是自杀，要么是被水鬼找了替身，所以他们要找替身，而你不用，你虽然也是水鬼，但你是横死。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;顿了一下，古芊芊又说道：“如果你愿意补阳寿，我陪你去城隍庙销籍，你可以当面问判官，如果我说得不对，以后你想怎么样就怎么样，我绝对不干涉。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;离仙茗山最近的城隍庙，便是南府市的城隍庙，古芊芊陪着刘丹霞去了那里。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;文判官给刘丹霞销了籍，当面证实了古芊芊的分析，然后让鬼差将刘丹霞带走了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊准备离开，文判官却将她唤住，微笑着问道：“姑娘一身超凡脱俗的法力，不知仙修何处？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊微一皱眉，他怎么这么说话？还从来没有人把法力形容成超凡脱俗，这分明是话里有话。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“仙茗山无名观。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;文判官又问道：“敢问姑娘与无名真君如何称呼？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱紧了眉头，文判官微笑着说道：“我知道姑娘是转生之人，此处没有外人，姑娘但说无妨。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“你问这么多干嘛？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;文判官看着山伢子问道：“这位世兄如何称呼？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“我叫石庆山，是无名真君转世。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;文判官愣住，盯着山伢子，半晌才前言不搭后语地说道：“我叫段灵琳。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子眨了眨眼睛，说道：“你好，久仰。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;段灵琳哑然失笑，古芊芊说道：“我夫君尚未觉醒魂力，神官还是有话直说吧。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;段灵琳一脸惊喜地看着古芊芊问道：“你是素雪？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这回换古芊芊一脸茫然了，她很确定她不认识段灵琳，这是第一次见，可段灵琳……难道是无名真君跟他说的？ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子也醒过味来，问道：“你认识我啊？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;段灵琳说道：“我带你们去一个地方。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧等在外面，她是鬼，如非必要，她不愿意进城隍庙，看到三个人一起出来，问道：“怎么回事儿？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;段灵琳问山伢子：“她是盈袖？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子震惊地看着他反问道：“我跟你很熟啊？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧问古芊芊：“他谁呀？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“文判官段灵琳，好像跟夫君的前世有些渊源。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧斥道：“说人话！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“他俩以前可能认识。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;段灵琳微笑着说道：“好大的脾气，连素雪都怕她三分，那定是盈袖无疑了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“你怎么知道她是盈袖？就算咱俩很熟，就算你见过盈袖，可她也不是长这样儿吧？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;段灵琳说道：“相貌会有变化，但是眼睛不会变。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧问道：“你见过盈袖？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;段灵琳答道：“当年就是我给盈袖销的籍，也是因此结识了无名真君。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧问道：“神官，如果我去投胎转世，还能再以妻子的身份回到我夫君身边吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;(本章完)
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>