<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第413章：叛逃</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第413章：叛逃
</div>
<div class="bookname">
	<h1>第413章：叛逃</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第413章：叛逃<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧对山伢子说道：“你们上楼去谈吧，我看着那桌儿，他们要是敢闹事儿，我就让他们爬着出去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“记得让他们结账。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧哑然失笑，白了他一眼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;上了楼，山伢子给邢宽倒了杯水，然后坐在沙发上看着邢宽，也不提问，邢宽笑了一下，就自己开始说。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;上次跟山伢子打完之后，邢宽就回了奉元市，但是莫震南并不在家，打电话也不接。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;等了几天，结果却听到了莫震南死亡的消息。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢宽就到莫家去服丧，但是莫震东却要以代掌门的身份，按门规责罚他，说是因为他办事不利，才会让莫震南客死异乡。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢宽看着山伢子问道：“你知道是什么责罚吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子眨了下眼睛，半开玩笑半认真地说道：“总不会是废武功吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢宽浅笑了一下，说道：“也差不多，断手断脚。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啥！”山伢子脱口惊呼，说道：“都什么年代了？这是犯法的行为！莫家不懂法啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢宽平静地说道：“警察不是神仙，得有人报警，警察才能办案。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子微微皱眉，本来对于莫家的事，他还心怀愧疚，今天听邢宽说这事儿，那这个莫家不就是黑恶势力吗？难怪老老小小都那么牛，弄死他们就对了！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢宽接着说，莫震东太高估自己了，要说打几个嘴巴踹几脚，可能邢宽冲着授艺之恩也就忍了，可断手断脚？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他才二十一岁，就让人把他弄成末等残废？这是开玩笑呐！别说是一个不相干的人，就算是亲爹也不行啊！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以邢宽把莫震东给揍了，打掉了三颗牙，打折了左手腕，然后就回家了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫家不敢报警，因为他们自己就不干净，所以邢宽不害怕警察来找他，只是担心莫家会背地里下黑手，于是就跟他爸妈商量，他先离开奉元市，等在外面混得稳定了，再把他爸妈接来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“所以你就来莫林找我？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不是。”邢宽摇头，说道：“我是突然想吃你做的菜了，才在莫林下了火车，我本来还想往北走的，结果来的时候看到那个店，店里还有个美女，我觉得这么晚了你还让一个美女看店，肯定是缺人手儿，所以就问问呗。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，邢宽不说他还不觉得，是啊，人家龚钰丹见天儿的从下午看店到凌晨，人家是美女呀，就说不怕有坏人来骚扰，可人家是美女呀！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;难怪霍晓荧会数落他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“你知道我的火行石被人抢了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢宽一愣，反问道：“谁这么牛啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“倒也不是很牛，他抓了我媳妇儿要挟我。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”邢宽眨了下眼睛，说道：“真够不要脸的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“你要多少工资？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢宽答道：“那得看工作时间和工作强度了，你是老板，你先开个价儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子刚要说话，龚钰丹推门进来，山伢子愕然问道：“出什么事了？芊芊呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹嗤道：“我一个人看了那么多天的店，你问过我一声没有？芊芊又会武功又会法术的，就一转磨的工儿夫，瞧把你急的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，是个女人就不讲理，芊芊是他媳妇儿，那能一样吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹对邢宽说道：“不用跟他说了，我也是股东，跟我说就行了，跟我走，回扎纸店谈去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢宽微笑着摇头，说道：“龚姑娘，我得跟石先生谈，我知道，你家一定很有钱，你应该是一位千金大小姐，但你是普通人，我不是只缺一份工作，我还缺一个能避风的港湾。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹皱眉，问道：“你也看不起我？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢宽微笑着答道：“我没有看不起你，我的意思是说，你不懂我们这些人，你不知道我们面对的是什么样的危险。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹皱着眉不说话，因为接不上茬儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“你跟她谈也行，反正该说的话咱们都说了，也就是工作时间、工作范围、工资及福利待遇，还有……包不包吃住的问题，这些事儿龚老板比我明白。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢宽笑了笑，说道：“谢谢。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“不客气，路遥知马力，日久见人心，咱们边走边瞧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好。”邢宽点头答应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹看看山伢子，又看看邢宽，问道：“你俩拍电影呐？说话跟猜谜语似的，你们觉得这样有意思吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子不理她，站起身离开。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;出门儿看到霍晓荧，问道：“怎么不进去？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧答道：“不进去，花痴好不容易找着个顺口儿的，我可不想搅了她的主场。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子笑，拉着她下楼，问道：“你说他俩能在一块儿啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧答道：“不知道，走着瞧呗。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子笑了笑，问道：“那桌儿人走了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”霍晓荧答道：“刚走。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“走了就好，时间也差不多了，我去接芊芊回来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“我去吧，你在这边看着点儿，今天来的鬼有点儿多，而且不知道为什么，我心里有点儿发慌。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子心头一紧，晓荧的直觉一向很准，而且现在年关将近，诸神上天应事，阳间会有一段时间的空窗期，鬼魅邪祟的确经常在这段时间里闹事。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;下了楼，山伢子看向阴间界，今天还真是来得鬼不少，几乎都已经坐满了，这个满指的不是台位，而是座位，也就是说，有些鬼是拼着坐的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个情况是有点儿不对，因为鬼比人还事儿，从开业以来，就没见过鬼拼桌儿坐的，今天有点儿邪性。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;偏巧今天邢宽也来了，邢宽自己说过，他的分身术是黑衣人教的，难道今天要搞事情？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子对霍晓荧说道：“鬼在这边，你跟芊芊就在扎纸店待着吧，如果没事，打烊后我叫你们。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧提醒他：“你已经没有火行石了，你也不会再冲灵了，真要有事，咱们三个在一起更方便，至少要跑也不会跑散了。”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>