<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第9章：打鬼</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第9章：打鬼
</div>
<div class="bookname">
	<h1>第9章：打鬼</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第9章：打鬼<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子用筷子夹了块儿血肠放进嘴里，然后皱着眉头收拾桌子，心里有点儿生气，这么好吃，那个司机连句话都不说，好东西吃多了撑着了？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四问他：“生什么气呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子愣了一下，想说自己没生气，但又觉得不应该对四叔撒谎，正犹豫，徐四又说道：“干咱们这行儿，察言观色是最基本的本事。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“四叔做的菜这么好吃，他连句话都没说，还剩这么多，糟蹋东西！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四问道：“你是在替我报屈，还是心疼东西？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“都是。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“无论做什么事，不一定回回都要人夸，而且你做得再好，也不是谁都会夸你，人心隔肚皮，别人想什么，你是很难一清二楚的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;顿了一下，徐四又说道：“心疼东西是对的，但每个人的饭量不一样，饭馆儿做的量是固定的，有的人吃不饱，有的人吃不了，不能因为人家吃不了，你就怪人家糟蹋东西，无论什么事儿，都要先想‘理’，把‘理’想顺了就明白了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子点头：“我知道了，四叔。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四话锋一转，又说道：“不过这个人，他心里有事儿，还是大事儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看着徐四，徐四说道：“我不知道他有什么事儿，收拾桌子吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;凌晨一点多，张电工又来了，进门儿后看着山伢子笑，山伢子往后躲，喊道：“四叔！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四挑帘儿出来，张电工坐在桌边儿，笑呵呵地说道：“叫唤个啥呀，好像我把你怎么着了似的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“张电工，你以后别来了，我不再做饭给你吃了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张电工笑意一收，用阴冷的目光盯着徐四说道：“徐四，咱们给你面子，你可别不知道自己姓什么。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“我知道我姓什么，我姓徐，你走吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;‘嘭’的一声，张电工拍了下桌子，山伢子感觉整个饭馆儿都跟着晃了一下！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张电工的脸变得焦黑，声音变得浑浊而深沉：“姓徐的，给脸不要脸是吧？我告诉你，识相的就把这小子脖子上那东西给我，否则我拆了你这个小饭馆儿！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子嚷道：“不关四叔的事儿，你冲我来！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张电工扭脸儿对着山伢子，因为他整张脸都是焦黑的，山伢子也看不到他的眼睛。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张电工恶狠狠地说道：“把你脖子上的东西摘下来给我！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子咬住了嘴唇儿，这是他家祖传的灵石，是爹的念想儿，可是……他不能连累四叔，四叔管他吃管他住，还教他做人做事的道理。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子伸手要摘小布袋儿，徐四说道：“想要自己拿呀，让人家摘下来给你，你不敢碰是吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张电工猛然扭脸对着徐四吼道：“把你的嘴闭上！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四又说道：“庆山，男人不能软弱，今天他要你的东西你给了他，明天他要你的命咋办？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你娘！”张电工猛然一掀桌子，长条儿桌子呼地飞了起来，砸向柜台里的徐四。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四往旁边儿一蹿躲开了，‘哗啦啦’一阵响，柜台后面的酒架子被砸坏了，酒瓶子碎了一地，酒水顺着架子往下淌。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四左手掐了个诀，冲向张电工，一拳打向张电工那张焦黑的脸。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张电工毫无防备，因为这么多年，就知道徐四是个开饭馆儿的厨子，都没见他跟人红过脸，所以张电工根本没想过徐四会动手儿，而且还是打鬼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一拳力气不小，直接把张电工打飞出去，穿过墙壁不知道哪儿去了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子震惊地张大了眼睛，愣愣地看着徐四。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“你那块儿石头只要自己不摘下来……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“姓徐的！”徐四的话还没说完，张电工突然从墙壁里冒了出来，一下子把徐四扑倒在地，骑在徐四的身上挥拳就往徐四的脸上打。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四也不躲，也挥拳朝张电工脸上打，一人一鬼就这样在地上骨碌开了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子琢磨徐四刚才没说完的话，只要自己不摘下来……那是不是石头只要在他脖子上挂着，鬼就碰不到？那天晚上张电工撵他，但到最后也没能把他怎么着，应该就是这么回事儿吧？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子向两人扑过去，既然鬼不能碰他，那他去碰鬼会怎么样？况且不管会发生什么事，他都不能眼看着四叔替他打架，而自己却躲在一边儿看热闹，没有这个道理。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子不会打架，就是去抱张电工，胸口陡然亮起红光，张电工刚好翻到上面，被山伢子一把搂住，后背瞬间像被火燎着一样，疼得大叫一声，一甩手把山伢子掀飞了出去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子撞飞了一张桌子，后背疼得像断了一样，一时爬不起来，但让他这一搅和，徐四腾出手来，掐了个诀，直接按在张电工脸上，大声念道：“邪魅恶鬼，即刻退避！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张电工的脸突然红了，像死灰复燃的炭一样，‘嗷儿’一嗓子就跑没影儿了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四爬起来，走到山伢子身边蹲下，问道：“没事儿吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“没事儿。”山伢子咬着牙想爬起来，但后背疼得钻心，胳膊也使不上劲儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四按住他的肩膀说道：“别动，我打电话叫救护车，拉你上医院拍个片子。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不用。”山伢子还想爬起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四严肃地说道：“逞能是没用的，要是落下残疾，你这辈子就完了，我这儿也不养废物。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子不动了，四叔说得对，万一要是落下残疾，那他就成废物了，别说报答四叔，到时候儿还得拖累后爹和弟弟。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四从柜台里面拿出座机打了电话，不大会儿工夫，一辆救护车停在了门口儿，两个穿白大褂儿的男医生走进来，走在前边儿的问道：“四哥，出啥事儿了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四答道：“没啥事儿，我的小伙计不小心撞伤了背，得去医院拍个片子。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;看着满室狼藉，两名医生也没再多问，把山伢子弄到担架上，抬着出门儿了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四跟着出来，锁了门，坐进救护车里。
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>