<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第318章：遗体出问题了</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第318章：遗体出问题了
</div>
<div class="bookname">
	<h1>第318章：遗体出问题了</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;.&nbsp;&nbsp;&nbsp;&nbsp;，最快更新深夜鬼食堂最新章节！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;第318章：遗体出问题了<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊的眼神一瞬间有些慌乱，随即镇定自若地说道：“我家的法术失传了，我就是想拿回来而已！什么姐姐，我是独生女。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义看着她，古芊芊皱眉，问道：“干嘛？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义摇了摇头，说道：“原本就是你家的法术，还给你就是。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子蹭地坐起来，两眼发直地瞪着床对面的墙，霍晓荧撑起身子看着他问道：“怎么了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子扭头，一把将她抱在怀里，问道：“你没事儿吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧将头枕在他肩上，有气无力地答道：“还是有点儿虚，你没事吧？有没有哪里不舒服？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子摘下火行石要给她戴上，嘴里埋怨道：“怎么也不把它拿过去？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧往后躲了一下，说道：“我没什么事儿，就是损耗过大，我不戴了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子嗔道：“戴上！你都这样儿了，还跟我拧巴什么？你忘了上回你差点儿死了，就是火行石救了你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧浅笑了一下，由着他把火行石给自己戴上，但火行石并没有发光。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，拿起火行石拍了两下，说道：“咋回事儿？咋不管用呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“我就是虚，不是要死，它可能不想分给我能量，别折腾了，我得躺会儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子扶着她躺下，问道：“想吃什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧摇头，说道：“给芊芊打个电话，告诉她你醒了，再问问情况，看她回来了没有？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子有点儿茫然，芊芊干嘛去了？但看到霍晓荧疲惫的样子，山伢子也没问，拍了她两下，然后拿起手机打给古芊芊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是古芊芊直接挂断了，没一会儿，响起敲门声，山伢子出去开了门，古芊芊说道：“你醒了，我姐怎么样了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“还是很虚弱，对了，你给她过过气。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”古芊芊答应，直奔卧室。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子关了门，追着她问道：“你去哪儿了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“待会儿再说。”古芊芊进了卧室，走到床另一边，双手叠按在霍晓荧胸口膻中穴上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;水行石亮起白光，霍晓荧身体挺直，周身溢出绿光。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;火行石也跟着亮起了鲜亮的红光，山伢子赶紧把火行石从霍晓荧脖子上摘了下来，握在手里斥道：“要脸吗？你不给晓荧过气，芊芊给她过气，你还想占便宜，有你这样儿的吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;火行石急促地闪着红光，山伢子说道：“咋的？我还冤枉你了呗？你要这样儿，你爱跟谁跟谁去，我还不要你了呐！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧皱眉嗔道：“你总跟它过不去干嘛？好歹它救过我也救过你，你别总这样说它。况且它再有灵性，终归是个物件儿，你不能拿对人的标准来要求它。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;火行石的红光闪得越发的急促。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子把项链戴上，然后把火行石塞到衣服里，爱闪闪去吧，懒得搭理。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;十几分钟之后，霍晓荧说道：“好了，我没事了，宝贝儿辛苦了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊收了法力，笑眯眯地坐在床上，说道：“姐，我跟你说个事儿……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;听完了古芊芊的讲述，霍晓荧皱起了眉头，问道：“他真的走了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊耸了下肩，答道：“反正他是这么说的，走不走的我也管不了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“走了就行，这辈子都别再让我见着他！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊笑眯眯地斜眼儿看他，他还真爱吃醋。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧问古芊芊：“你一宿没睡吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”古芊芊点头，抬手掩嘴打了个哈欠。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“跟这儿睡吧，反正伢子也醒了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好。”古芊芊脱鞋上床，躺下后说道：“姐，跟我妈说一声儿，我睡了啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧拍了拍她，说道：“睡吧，我们出去了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;到了客厅，霍晓荧说道：“你给干爹打电话说一声儿，我给我干妈打电话。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子答应，拿出手机打给徐四。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“你醒了就好，一会儿来饭店再细说吧，正好我也有事儿跟你说。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好，我这就过去。”山伢子挂断了电话，对霍晓荧说道：“你跟家陪着芊芊吧，我先去饭店。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧点了下头，接着跟韩慕灵说话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子到了饭店，把古芊芊带回来的情况说了一遍，徐四说道：“唐召义说得没错，鬼嘛，又不受什么限制，只要不闹事儿，人家爱在哪儿待着都行，这也没什么可紧张的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”山伢子点头答应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“你师娘的遗体出了点儿问题。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子眨了下眼睛，问道：“咋了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四答道：“让人领走了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜悦玲气愤地说道：“我就没家属，领我尸体的人也不是我前男友，我都不认识！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子愕然看着徐四，问道：“师父，你想咋整啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四反问道：“晓荧恢复过来了吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”山伢子点头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“我想让晓荧跟你师娘去找遗体，找到后咱们再商量。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“那行。”山伢子站起来说道：“我回家换晓荧来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四点头，说道：“行，你去吧，我再给晓荧打个电话。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊醒来的时候，看到山伢子坐在桌边扎骨架，而霍晓荧却不见了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊莫名的心里发慌，问道：“我姐呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子吓一哆嗦，手里的麦秆直接掐折了，吁了口气才转回身答道：“去办事儿了，师娘的遗体让人领走了，晓荧陪着去找了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”古芊芊眼神闪烁，蹭到床边，一边穿鞋一边说道：“那我回家了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子把麦秆放到桌上，看着她的背影问道：“怕我吃了你呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊回头瞪他，嗔道：“你说什么！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子站起来，古芊芊赶紧回过头去，心跳得像打鼓一样。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子绕过床坐到她身边，歪着头看她。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊的脸瞬间通红，刚要站起来，却被山伢子抱住，慌着嗔道：“你干嘛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一手搂着她的腰，一手抚上她的脸，看着她的眼睛唤道：“媳妇儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊的气息变得急促，身体变得僵硬，山伢子吻上她的嘴唇，慢慢将她压倒在床上。
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>