<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第246章：我去接你</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第246章：我去接你
</div>
<div class="bookname">
	<h1>第246章：我去接你</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;&quot;第246章：我去接你<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;史晋看着后视镜急道：“别呀，石大师惹你不高兴，你别怪在我头上啊！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嗤道：“人家一定能相中你啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;史晋说道：“那总得见一面儿吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“远着呐，先回家。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;车程近半，史晋又问道：“石大师，您说我能拜四叔为师吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“我不知道，你去问我师父吧。还有，你不用叫我大师，叫我山伢子就行了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;史晋说道：“那多不合适呀。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“你要真能拜师，以后就叫师兄了，如果不能拜师，叫山伢子也没啥，一个称呼而已。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;回到饭店，山伢子向徐四说明了情况，徐四点了点头，山伢子想得没错，虎哥只是欺负鬼，并没有闹腾活人，而且是为了给母亲治病，方法虽不可取，但总是有情可原。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;况且他们虽然是法师，但徐家毕竟是以做鬼食为主的法师，不管就不管吧，反正也把齐有成的坟要回来了，也算是兑现了承诺。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四把齐有成叫进来，也没有多说，只说是帮他把坟要回来了，而且对方保证不再欺负他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;齐有成问徐四：“老板，我还能在这儿当服务员吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四点头答道：“可以呀，但如果你还要继续当服务员的话，咱们就要定个口头协议了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;齐有成说道：“行。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“每月工资二十冥币，全年无休，要干就得按年计算，不能半道儿撂挑子，除非是投胎的时辰到了，同意吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;齐有成答道：“同意。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四点头，说道：“那就这么定了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;齐有成又问道：“我还能在店里住吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四失笑，问他：“那你把坟要回来干嘛？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;齐有成答道：“那好歹是我家嘛。但是天天跑着太远了，累得慌。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四笑着答道：“行，你随意吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;齐有成出去了，史晋问徐四：“四叔，我能拜您为师吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四反问道：“你想跟我学什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;史晋答道：“您教什么我学什么，就算您不放心，什么都不教我，有个名分也好，我在这儿待得也踏实。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四哑然失笑，话能说到这个份儿上，恐怕不是他自己想出来的，这也太对心了吧？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四看向霍晓荧，霍晓荧一脸心虚地站起来说道：“我饿了，我去找伢子。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完也不等徐四说话，直接没入了地板。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四笑着问史晋：“是晓荧教你的吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;史晋脸色尴尬，迟疑着点头，答道：“是，小莹说做师父不容易，徒弟要是造了恶业，师父也会受连累，我是个混混，怕您不放心。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四点头，就知道是霍晓荧教的，说道：“我可以先收你做徒弟，但是，先不教你本事，我得先看看。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;史晋跪下，徐四说道：“先不忙，我也算是有三个徒弟了，现在也有钱有闲了，咱得弄个拜师仪式。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是，听师父的。”史晋又站了起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“你先出去吧，我选个日子，再琢磨琢磨。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是。”史晋答应，出去了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧让山伢子给后爹打电话，又让桃花儿接电话，然后跟桃花儿说史晋。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿诧异道：“真找了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧愕然答道：“那你以为我们诓你呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿扭捏着说道：“那倒不是，只不过……没想到这么快，我都没有心理准备。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧笑她：“你都准备一百多年了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿认真地说道：“没有，这一百多年，我一直在找我爹跟我师哥。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“师哥……”霍晓荧斟酌着这个称谓。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿说道：“你管山伢子应该叫师哥，管潘小龙叫师兄。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”霍晓荧答应，她就觉得这两个称谓有点儿本质上的区别，问道：“我爹好点儿了吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿答道：“基本没什么大碍了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“那你来找我们呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿沉默了片刻，说道：“我没去过大城市，不知道怎么走。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“那我去接你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿犹豫了片刻，说道：“行，那就辛苦你了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“师哥！”霍晓荧跑到厨房找山伢子，把山伢子叫一愣。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“呵呵……”霍晓荧笑得有点儿傻气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子跟她蹭鼻头儿，问她：“又要干嘛？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧答道：“我回去接桃花儿，顺便看看爹和天心。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，说道：“明天我订票，咱俩一块儿回去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“没事儿。”霍晓荧说道：“怕狗咬还不出门儿了？难不成这辈子咱俩都得绑在一块儿出门啊？再说了，你都折腾多长时间了，出外折腾的时间比在饭店的时间都要多了，就说这是自家买卖，也不能总这么吊儿郎当的呀。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子笑，说她：“你总有理。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧在他脸上亲了一下，笑眯眯地说道：“走了，天亮前就回来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;出门奔东北方向，感觉有人跟着自己，霍晓荧拐了个急弯儿，然后躲在了小巷子的背影儿里，等了好一会儿，一只鬼探头探脑地出现在巷子口儿，霍晓荧倏然冲过去，一把掐住鬼的脖子，直接按在墙上，斥问道：“跟着我干啥？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;鬼一脸凶恶地挣扎了两下，发现挣扎不开后，脸色立刻变得谦卑，哀求道：“姑奶奶，是我们大哥让我跟着你，我就是个跑腿儿的，你放了我吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧微微眯眼，问道：“你们大哥是谁？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;鬼答道：“八面鬼。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧微一皱眉，八面鬼？问道：“跟着我干啥？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;鬼答道：“我也不知道，就是让我跟着你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“干啥？干啥？干啥……”霍晓荧问一句打一拳，打得鬼一声接一声的惨叫。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧不明白，八面鬼不是应该找史晋吗？为什么要跟着她？难道是因为她把追史晋的鬼都打了？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;鬼喊道：“别打了！我真的不知道！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧并不停手，还是一拳接一拳地打，突然巷子深处有人说话：“你没有发觉吗？你也比以前暴戾了很多。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧一惊，火行石骤然亮起红光，光芒照亮了巷子，黑衣人出现在巷子深处。&quot;.<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;，更多精彩阅读，等你来发现哦。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;手机站:
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>