<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第432章：不用太在意</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第432章：不用太在意
</div>
<div class="bookname">
	<h1>第432章：不用太在意</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第432章：不用太在意<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓进来的这间房间，就是姬淋洛和夏歆雨的房间，右边床头柜上摆着两人的合影，床上还有毛毛熊，左边床头柜上放着一个巴掌大的首饰盒，发散着微弱的能量。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓皱眉，这么轻易就找到了？这放得也太随意了吧？好歹隐藏一下也是那么个意思嘛。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓走到床头柜前，伸手缓慢地翻开首饰盒，他跟桃花儿说只感应能量，其实是为了让桃花儿放心，他必须看到火行石才行，这是大事儿，不能靠估计，必须眼见为实。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓一直注意着能量的变化，他心里也没底，如果火行石突然能量激增且攻击他，估计他也很难躲开。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过幸好能量没有变化，盒盖掀开，看到里面还盖着一块布，颜色陈旧，布下面透出一呼一吸的红光。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这应该就能确定是火行石了，洪拓又把盒盖盖上，刚要转身离开，火行石的能量却突然激增，红光从盒盖的缝隙溢了出来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓一愣，火行石是有灵性的，他打开盒盖时，火行石没有变化……也不好说，火行石通常是不发光的，可能就是因为知道他来了，所以才发光。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而这会儿又突然能量激增，难道是火行石让他把它带走？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓再次欣开盒盖，火行石急促地闪烁着，洪拓想了一下，轻声说道：“你要是想让我带你走，就熄灭。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;红光瞬间消失，洪拓刚想伸手去拿火行石，听到脚步声，犹豫了一下，轻声说道：“你惊动姬北洋了，我先躲一下。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完盖上盒盖，退出房间。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;片刻后，房门推开，灯点亮，姬北洋走进房间，直接走过来欣开盒盖，意外地发现火行石还在里面。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋琢磨了一下，大声问道：“是晓荧来了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓想了一下，穿墙进到屋里。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋笑得有些尴尬，说道：“原来是洪先生。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“屈彦锋到饭店告诉伢子，说火行石在您家里，我过来看看，免得被人挑拨。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋一愣，随即说道：“是黑衣人逼我们家替他保管火行石，淋洛和歆雨都没有山伢子那样的本事，我们也没办法，只能先求自保。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓答道：“我明白，我们都明白，我只是来查证一下。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋问道：“为什么是屈彦锋告诉你们的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓答道：“他说他接到一个电话，告诉他火行石在您家里。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋皱眉想了一会儿，拿起首饰盒说道：“走吧，咱们去饭店。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧接到洪拓的电话，听完后答道：“知道了，一会儿见。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;挂断了电话，霍晓荧看着姬淋洛说道：“姬叔叔和洪拓正开车过来，带着火行石。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨立刻慌了神儿，紧张地抓住姬淋洛的胳膊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛看向山伢子，说道：“黑衣人逼着我们保管火行石，说是为了维持火行石的活跃性，我要保护歆雨。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子点头，说道：“我明白。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛问道：“你们是怎么知道的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“有人给屈彦锋打了电话，是屈彦锋告诉我们的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨声音发颤地说道：“不是我。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛失笑，抵着她的额头安慰道：“我怎么会怀疑你呐？别这么紧张，没事的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧把夏歆雨搂过来，说道：“放松，没人责怪你们。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“姐姐……”夏歆雨扁了嘴要哭。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧调侃道：“瞧你委屈的，火行石又不是你们抢走的，你们要有那本事倒好了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛往山伢子身边挪动了一下，说道：“既然抢了，为什么又要告诉你，为什么是屈彦锋？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“为了让咱们打起来呗。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛说道：“问题是我俩也打不过你们呐，连你一个人都打不过。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看他，发现他不是在开玩笑，就问道：“你想说啥就直说，我脑子转得不快。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“他想说，黑衣人还是针对你一个人，原本以为抢走了火行石，你会火急火燎地想办法找回来，结果你跟没事儿人似的，所以黑衣人又想把火行石给你送回来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛看着古芊芊说道：“我这么想还有一个原因，歆雨得到木行石的时候，木行石并不是封印状态，但是木行石也消失很久了，所以黑衣人刚抢到火行石就找上我们，目的很明显。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯！”古芊芊点头附和。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧却不以为然，因为她知道，木行石消失的这些年，一直是存放在古家，水能生木，就像黑衣人要把火行石交给夏歆雨的道理是一样的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只不过这个问题不重要，因为肯定是黑衣人给屈彦锋打的电话，不管潜在的目的是什么，前提条件必然是让山伢子拿回火行石。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“我觉得吧，咱们是不是有点儿太在意了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所有人都看他，山伢子解释道：“我是觉得不用管黑衣人怎么想的，咱们只要做到守望相助不就好了？他能用晓荧威胁我，也能用芊芊威胁我，同样的道理，他也能用歆雨威胁淋洛，反过来也可以用淋洛威胁歆雨。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧接口说道：“对，他想拿走五行石很简单，除了火行石之外，他直接抢就行了，咱们不用过多地去分析他的意图，不搭理他反倒更容易让他显露真正的意图。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛点头，说道：“是这个道理，顾虑越多越会恐惧，恐惧会让人犯错，其实黑衣人一直存在，这么多年咱们不是一样活得好好儿的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨怯怯地小声儿说道：“我不想要木行石了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧安慰她：“别害怕，生死有命，富贵在天，很多事都由不得咱们做选择。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子站起来说道：“行了，就这样儿吧，我去做几个菜。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子出去没一会儿，姬北洋来了，霍晓荧打电话把山伢子叫上来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋将首饰盒递给山伢子，有些尴尬地说道：“受人胁迫，情非得已。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子接过首饰盒，说道：“我明白，刚才我们都聊过了，您不用自责，其实都是我惹的麻烦。”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>