<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第261章：忆旧伤怀</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第261章：忆旧伤怀
</div>
<div class="bookname">
	<h1>第261章：忆旧伤怀</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第261章：忆旧伤怀<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿眼中流露出悲悯之色，低下头说道：“怨我没有救你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不。”洪拓的语气有些急促：“不怨你，真的，我是诚心诚意说这话，我真的不怨你，你还是个小姑娘，根本背不动我，况且我当时气力已竭，虽然求救，却也只是畏死之心使然，即使你费力救我，我也撑不到下山，你不必为此自责。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿眼中闪现泪光，洪拓又说道：“倒是你，孤身一人命殒山中，孤苦无依地徘徊百年，天可怜见，苦了你了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿怆然泪下，哽咽着说道：“或许正是因我见死不救，才会受此恶报。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不！”洪拓有些激动，倾着身子看着桃花儿，说道：“你虽未能救我，但你给我诊了脉，还握着我的手对我说，生老病死，人之常情，让我不要害怕。临别之际，你还捧了一捧土撒在我的胸口，说，稍尽绵薄之力，但求自己心安。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿愕然看着他，一百多年了，他要是不提，桃花儿自己都忘了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧带着齐有成，端着菜过来，把手上的清明结放到洪拓面前，然后用布垫着，把奈何忘归放到桃花儿面前，问道：“咋还哭了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿抬手抹泪，笑着摇头，答道：“没事儿，忆旧伤怀罢了，这菜热的时候更香。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧抬手抚了抚她的头，说道：“快吃吧，小心烫。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓笑，鬼只是闻味儿，还什么烫不烫的，不过她一副长姐的模样，洪拓也没说什么，但随即，看到桃花儿夹起菜送进嘴里，洪拓的笑意僵在脸上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿吸着气说道：“好烫好烫，比上回的好吃多了，小莹，你尝尝。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说着夹起一个菜包递向霍晓荧，霍晓荧俯下身张嘴接住，嚼了两下吐出来，说道：“你吃吧，你牙口儿好。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓拧着眉头夹了一个清明结放进嘴里，如同嚼蜡一样，吐出来不解地看着桃花儿问道：“桃花儿，好吃吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿眨眼，霍晓荧说道：“他那个没费功夫。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿恍然，笑着扯了扯霍晓荧的手，说道：“去忙吧，不用管我。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧斜了洪拓一眼，大声对桃花儿说道：“自己当心点儿，人面兽心的人很多！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿笑，洪拓装没听见，盯着奈何忘归问道：“桃花儿，能给我尝尝吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿点头，答道：“吃吧，我一个人也吃不了这么多。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;转脸儿又问霍晓荧：“山伢子不过了？一份儿菜做这么多。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧答道：“给你吃嘛，你是他妹妹，他当然不惜料了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿笑嗔道：“胡说什么呐？我都死了一百多年了，给他当妹妹？合适吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“那你还想当奶奶呀？伢子快十九了，你死的时候儿多大？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿笑：“还有这么算的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧答道：“我们家就这么算，你到了我们家，就得按我们家的算法儿算！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿说道：“好好好，说不过你，听你的，反正辈儿小不吃亏，好吃好用的都得紧着我，我给他当妹妹，给你当小姑子，好了吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧心里松了口气，真怕桃花儿像夏歆雨一样犯轴，不过看眼下这个情况，桃花儿跟洪拓好像有发展的意思。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧又抚了抚桃花儿的头，说道：“我去忙了，有事儿叫我。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”桃花儿笑着答应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧走开了，洪拓感慨道：“世间高人无数，这样一个饭店，竟然也是藏龙卧虎，你刚认的这个哥哥，还不到十九岁，居然能做出让鬼也能吃进嘴里的饭菜，我今天可真是长见识了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿微笑，说道：“伢子哥的法力还不够，咱们能吃，小莹就吃不了，说嚼不动。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“还不到十九啊，已经是天资过人了，想我十九岁那年，才刚把师父教的一套剑法练熟，法力也只是初升真阳而已。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿微笑，静默了一会儿，说道：“能跟我说说你的事吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好。”洪拓连忙答应，似乎正盼着桃花儿问呐。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓生在庄户人家，虽不富裕，倒也没有缺吃少穿。洪拓的父亲是个老实人，心地善良，曾经接济过一位道士，就是洪拓的师父，广明真人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓三岁那年，广明真人找上门儿，告诉洪拓的父亲，说当年受他接济，就是为了验看他的品性，如今孩儿三岁，若是愿意，当随本尊回山，教习道法，修善渡世。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓的父母当然舍不得，而且还害怕对方是拐骗孩子的，广明真人就当场露了一手儿，还说即使这是戏法儿，孩子学会了，将来也算有一技傍身。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;于是洪拓的父母就答应了，让洪拓跟着广明真人去学艺。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓跟着广明真人上了山，晨学文，日练武，晚修道，山中无寒暑，世上几经年，转眼二十年过去，广明真人让他回家探亲。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;也就是这次探亲，洪拓惹上了煞星。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓途经莫林，遇到一个农家汉子在路边嚎哭，此人满头满脸的血污，身边还散落着花红与彩绸。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓便上前询问，原来此人今日迎亲，却不想半道上被人把新娘子抢了去，抢人的是莫林最大的财主，姓史，人称史大官人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“姓史？”桃花儿愕然，问道：“跟史晋同姓？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓有些不好意思地笑了笑，低声说道：“就是他家祖上。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿怔住，洪拓说道：“是我小肚鸡肠，不能向他家先人报复，便寻他的晦气，是我错。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿没说话，却轻轻地摇了摇头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓接着说，听了此事之后，洪拓仗着学了一身本事，便去史家要人，将一众家奴打得落花流水，把新娘子抢了回来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓高高兴兴地回了家，结果不到三日，便有人找来，在街上撞见他，封了他的奇穴，将他截去了老林山。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿看着他问道：“你家在？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓答道：“靠山镇。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿神色变得异样，又问道：“敢请令尊名讳？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓看着桃花儿，答道：“我爹叫洪守地，取意守住自家的土地。”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>