<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第565章：又见美女</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第565章：又见美女
</div>
<div class="bookname">
	<h1>第565章：又见美女</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第565章：又见美女<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧大声说道：“我去！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所有人都看她，霍晓荧连忙更正道：“我是说我也要去查。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓失笑道：“行，咱俩一块儿去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;转而问邢洁岚：“他家在哪儿你知道吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢洁岚尴尬地咬住了嘴唇，摇了摇头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“你可真行，再缺男人也不至于啥都不问就跟人睡吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢洁岚低着头答道：“我不是缺男人……我是害怕。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“那就只能等明天了，把他的公司地址告诉我，相片有吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢洁岚连忙答道：“相片有，在家里，我去拿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“我们跟你去看吧，顺便送你回家。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓和霍晓荧跟着邢洁岚走了，山伢子回套房跟古芊芊说情况，听说霍晓荧跟着去了，古芊芊搂着山伢子撒娇道：“抱抱……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;凌晨结束营业，山伢子开着车回家，走到那个爱出事儿的路段，突然啪的一声，挡风玻璃碎了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子连忙踩住刹车，伏在方向盘上喊道：“趴下！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子怀疑有人向他们开枪，这段路的两旁没有建筑，所以不存在高空坠物的可能性，而如果是靠手劲儿的话，他又没看到视野内有人，因此最可能的是有人开枪。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“不是枪，是个石头子，你看。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子回头，看到霍晓荧手心里托着一颗红枣大小的石头子。山伢子皱眉，换空档拉手刹，然后推开门下车，看到一个袅袅婷婷的身影向他走来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;走近了些，山伢子一愣，这不是在无名观遇到的那个美女吗？她怎么……刚一转念头，美女突然身形一闪，像虚拟的投影扭曲一样，从几米开外突然到了山伢子面前，一掌击向山伢子胸口。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子完全没想到对方突然就动手，所以根本没有任何提防，被打得倒退了五步，噗的喷出一口血。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;美女如影随形，又一掌击向山伢子胸口，山伢子双臂相叠抵住美女的手掌，美女却用左掌一挑，将山伢子的双臂挑开，然后右掌再次击在山伢子胸口。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子似乎听到了胸口发出的咔吧声，张口朝美女脸上喷血，但美女一晃身不见了，霍晓荧被喷了个正着！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊……”霍晓荧发出尖锐的惨叫声，她看到山伢子被打，就从车里冲出来帮忙，本来打算跟山伢子前后夹击那个美女，但事与愿违，被山伢子一口血喷了满脸，瞬间整张脸都在冒烟。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一惊，后背又挨了一记重击，整个人向霍晓荧扑了过去，但山伢子没敢抱霍晓荧，而是一把将霍晓荧推开，自己扑倒在地上，又喷出一口血。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊此时才从车里下来，毕竟她是活人，运作再快也不可能像霍晓荧那样直接穿出来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;眼见山伢子倒地，霍晓荧脸在冒烟，古芊芊一时慌了手脚，正不知道该先干什么，那个美女倏然近身，一掌击在古芊芊胸口。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊被打得像断线的风筝一样飞了出去，摔在远处翻滚了两下，不动了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“芊芊！”山伢子爬起来向古芊芊冲去，却听到背后铮的一声锐鸣，猛然回身，看到那个美女拔出了背后的长剑，架在了霍晓荧的颈边。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你敢！”山伢子疯了一样冲回来，美女却一闪又不见了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一愣神，听到背后有人清咳了一声，山伢子转身，看到那个美女将长剑抵在了古芊芊的心口上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱起了眉头，突然明白过来，这个美女应该没有恶意，否则就凭她的本事，眨眼间就能把他们三人全都干掉，而且当初在仙茗山，她明明抢走了素雪的配剑，最后又还了回来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;见山伢子不动了，美女收起长剑，转身走入了黑暗中。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子赶紧从后备箱里拿出一**矿泉水，往霍晓荧脸上倒，同时用手把她脸上的血擦掉，然后才跑到古芊芊身边，看到古芊芊嘴边有血，已经晕了过去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;回到家，霍晓荧把韩慕灵和古木苍叫了下来，看到古芊芊平躺在沙发上，山伢子瘫坐在地上，韩慕灵什么都没问，赶紧走过来给两人诊脉，确定两人伤得并不重之后，才问霍晓荧：“出什么事儿了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧把事情经过说了一遍，然后问道：“妈，我毁容了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵答道：“没有，你不用担心，伢子的血虽然厉害，但你跟他时常有肌肤之亲，你能承受的程度要比一般的鬼大很多。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧松了口气，却又问道：“那为什么现在还疼啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵答道：“你毕竟是鬼，疼是正常的，等你的阴气水平恢复就好了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”霍晓荧答应，而后又心有余悸地问道：“这人是什么意思啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“我觉得她是为了告诉我，我的本事还不够大，没办法同时保护你们俩。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵说道：“应该不仅如此。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵认为，这个女孩儿能把素雪的配剑还回来，应该是看到古芊芊能吸收珠链中的法力，所以承认古芊芊是素雪的转世。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;由此来推断，这个女孩儿应该跟素雪有关系，她这次突袭山伢子的用意，很可能是认为他们三个人的法力都太低了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊一直在韩慕灵的羽翼下成长，刚成年就认识了山伢子，几乎是二十四小时被贴身保护，以前还可以说古芊芊被封了奇穴，没能好好修炼，但吸收珠链的法力已经有两个多月了，还是没有丝毫长进，这就太过惰懒了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧皱眉嗔道：“懒不懒用她管吗？她算哪条河里的王八？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵说道：“如果她跟素雪有关系，看到芊芊现在是这样的，肯定心里不舒服，就像你们俩对伢子的相貌不满意一样。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧赶紧辩白道：“我没有，我自己也没长成沉鱼落雁的样子。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵没再继续这个话题，说道：“去休息吧，我打电话让人配药。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;三人上了楼，古木苍皱着眉头说道：“即使是好意，这位姑娘的脾气也太过乖戾了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;本章完
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>