<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第596章：族长</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第596章：族长
</div>
<div class="bookname">
	<h1>第596章：族长</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第596章：族长<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;蒙多又纠结了一会儿，轻声说道：“当时黑衣人来时，我在门外值守，我听见黑衣人对风长老和夏拨祭司说，可以让你们知道是他告诉我们的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧点了点头，这样看来，更像是有意栽赃素茗。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;蒙多看着霍晓荧，霍晓荧说道：“有些事牵扯到我们门派内部矛盾，我不能向你解释。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;蒙多点了点头，说道：“我理解。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沉默了一会儿，蒙多又问道：“你们为什么要灭掉我族大祭司的法魂？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧就把事情的始末说了一遍，然后说道：“我们已经烧了一个媾鬼像，所谓开弓没有回头箭，只能把她灭掉。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;蒙多问道：“也就是说，你们知道我们乌拉族，可你们还是灭掉了大祭司。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子突然坐了起来，一伸手扣住了蒙多的头顶，说道：“停车。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧靠边停车，打了双闪，扭头看着蒙多。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子冷声说道：“你刚才情绪激动，没有控制好你的法力，你为什么要隐藏法力？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧接口说道：“你刚才说话的语气明显是在质问，而且你表现出来的气势和之前很不一样。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;蒙多笑了笑，说道：“石大法师，尊夫人离我这么近，你就不怕伤着尊夫人吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“你可以试试，我只要感觉到你调动法力，就会瞬间把你吸成干尸。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“原来是这样。”蒙多恍然说道：“那两具干尸是你造成的，我还奇怪，以为他们死后碰到了什么妖邪之物。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧看着蒙多问道：“你是族长吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;蒙多反问道：“为什么这么问？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧答道：“直觉。刚才你说话时的语气，是那种被人冒犯，受到侮辱的感觉，而且你说‘我们乌拉族’这句话的时候，重音在‘我们’两个字，让我感觉……怎么说呐，感觉乌拉族是你的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;蒙多笑了笑，问山伢子：“石大师，你能不能放开我，这个样子我很别扭。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，霍晓荧说道：“放开他吧，他要想动手，也不用装这么久。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子松了手，在心里问安婧：你们那边没什么事吧？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧答道：没事，你们那边怎么样？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：这个蒙多可能是乌拉族的族长，我和晓荧正在审他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧说道：他为什么要隐瞒身份呐？你们小心点儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：知道，我会小心的，你也小心点儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧答道：放心吧，我保证芊芊姐没事儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：你也不能有事儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧答道：哦。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧问蒙多：“你是族长吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;蒙多点头答道：“是。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧又问道：“你就不怕我们杀了你？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;蒙多答道：“我很想见到石大法师，他能斩杀守棺鬼和虬褫，还能杀死夏拨，我很敬仰他，如果你们要杀我，我愿意拼死一战。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“守棺鬼和虬褫……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“别说没用的。”霍晓荧打断了山伢子，嗔道：“人家是族长，你不会说话就少说话，人家的守棺鬼和虬褫很厉害的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;蒙多笑了笑，却根本不明白霍晓荧的用意，还以为山伢子是要说守棺鬼和虬褫不算什么。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而山伢子却猛然醒悟，蒙多这么说，就说明他根本不知道安婧的本事，而且那个给他们通风报信的黑衣人也不知道安婧的本事，所以他应该把所有的事都揽下来，不应该暴露安婧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧问蒙多：“你到底想干什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;蒙多答道：“讲和，真心诚意的想要讲和，但是夫人你的条件太苛刻了，我……很难答应你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧笑了笑，蒙多说道：“恕我冒昧，夫人用心实在歹毒，你很清楚，既然我们想讲和，那就说明最初的时候，并不是全族人都希望跟你们厮杀，所以很可能杀害你们亲人的行为，是个人行为。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧点头，说道：“对呀，往往心高气傲不听话的，要么是有本事，要么是有身份。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;蒙多点头，说道：“所以你不在乎死的是谁，要么是我族的精英人才，要么就寒了族人的心，你杀人不算，还要诛心。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧一本正经地说道：“最毒妇人心，这句话你没听过吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;蒙多露出一抹苦笑，点了点头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“你也不用抱屈，如果不是我们实力强，现在早就死得连魂儿都不剩了，所以呐……彼此彼此吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;蒙多转回头看着山伢子说道：“石大法师，我们杀了你的亲人，但你也杀了我们族人，还有祭司夏拨，可不可以就此清账，谁也不再追究？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉犹豫，理论上来讲，他也算报了仇了，可毕竟杀害徐四、后爹，还有天心的凶手没有死。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;蒙多又说道：“七名族人不算，夏拨是我族的祭司，身份法力仅次于大祭司，关于大祭司，我可以向你们详细解释一下。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;蒙多说，大祭司可以保留前世的记忆转生，乌拉族有一种秘术，可以躲避地府的轮回，所以大祭司不仅能一直保留魂力和法力，还传承着乌拉族的历史。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子灭掉了大祭司的魂，是对乌拉族历史的灭绝性重创，所以实际上，乌拉族才是损失惨重。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“你们的历史没有文本记录吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;蒙多答道：“有，但是不全，尤其是大祭司所掌握的一些秘术，不会记录下来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，这也能理解，所谓奇货可居，为了稳固自己的身份地位，当然会藏私。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧心里一动，素雪也是坐化，笔记里也提到过乌拉族，那么素雪最终所说的参透轮回之法，会不会跟乌拉族的这种转世秘术有关系？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧问道：“族长，我只是好奇，请问你族的大祭司需要多长时间才能转生？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;蒙多答道：“理论上至少需要一百年的时间，但大多是两百多年才能转生。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧又问道：“那大祭司转生之后，是不是容颜不改？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;蒙多愕然看着霍晓荧，反问道：“你为什么会这么问？”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>