<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第567章：没有问完</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第567章：没有问完
</div>
<div class="bookname">
	<h1>第567章：没有问完</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第567章：没有问完<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧在无名观遇到山伢子等人时，并不能确定山伢子是无名的转世，所以等到山伢子出了结界，她打晕山伢子，抢走了秋霜剑，顺手把杀生刃也拿走了……<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;直到看见古芊芊能吸收凝心链的法力，安婧才又把秋霜剑和杀生刃还回来。但是当年素雪坐化时并没有留下照片，素隐‘门’**奉的只是画像，所以安婧还要再验证一下内力反震。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;问完了这些紧要的，山伢子又问道：“素雪的遗骸为什么不下葬？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧答道：“素雪祖师遗命，素隐‘门’任何人不得为其下葬，说自有人会为她的遗骸下葬。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子点头，素雪得了无名毕生修为，又参透了轮回之法，想必早算到了转世后的事情。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子又问道：“你多大？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧答道：“弟子刚满十八岁。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子惊叹道：“刚十八呀？那你这么厉害！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧答道：“素隐‘门’不与常人通婚，每个人从娘胎里开始受到法力培养，所以弟子年纪虽小，修炼的年头却两位祖师要长，况且弟子从记事起在修炼，没做过其他的事情。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看着她问道：“那你不觉得无聊吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧抿了下嘴‘唇’，迟疑了片刻才答道：“没有素雪祖师，没有素隐‘门’，为完成素雪祖师的遗愿，素隐‘门’弟子必要潜心修炼，以备祖师召唤。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，素雪是可怜，但为了一己之‘私’，却不知道剥夺了多少人的欢乐和自由。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧突然又跪下，说道：“请祖师不要误会，弟子心甘情愿，绝无怨言！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子的眉头皱得更紧，问道：“这都什么年代了，为什么你还是讲这些老规矩？而且我感觉你很害怕的样子。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧低着头答道：“弟子没有害怕，遵五常，守五德，为人之本分。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子抬手挠了挠头，说道：“你起来说话，还有……你说什么……最好说得明白点儿，我……我读书不多……其实我都不知道转了几世了，早不是无名祖师了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧站了起来，低着头说道：“素雪祖师曾说过，祖师你当年将毕生修为都传给了素雪祖师，所以祖师你的魂力很难觉醒。素雪祖师之所以决心重入轮回，不仅仅是为了与祖师你白首不相离，还要唤醒祖师你的魂力。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一愣，问道：“那要是魂力觉醒，我还是我吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧愣了一下，转了转眼珠才答道：“弟子不知，但弟子觉得，觉醒不等于替换或是覆盖，也不应该造成失忆，祖师还应该是祖师，经历过的事总不会忘记。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子若有所思地点头，又问道：“那现在已经确定我们俩是无名和素雪了，你们素隐‘门’接下来要做什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧答道：“听凭祖师差遣。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子又皱眉，差遣什么？又不用打仗，又不用抢地盘儿，有什么可差遣的？但人家这么热情，总不能拒绝吧？那也太不知道好歹了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“你买个手机，回头去饭店把电话号码告诉我们，还有，我会做鬼食，吃了能助长你的功力，你这么厉害，可以天天吃，还有，你别总一说话下跪，这都什么年代了，你这样太过了，跟演戏似的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧点头，等了一会儿，见山伢子不再说话，才说道：“弟子记下了，祖师，弟子法力不济，不能再留在祖师梦，弟子告退。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦！”山伢子惊道：“你咋不早说！快走吧，记得去饭店找我……们。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧嘴边‘露’出一抹似有似无的笑意，退了一步，转身消失了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;眼前的景象迅速模糊，山伢子睁开眼，看到霍晓荧盘‘腿’坐在‘床’角玩儿手机。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;见他醒了，霍晓荧放下手机，爬过来看着他问道：“身疼不疼？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子抱住她，微笑着答道：“没事儿了，芊芊怎么样？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧答道：“她没事儿，她你醒得早，她只了一掌，你了三掌。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“对呀。”山伢子突然想起来，说道：“我忘了问她了，为啥要打我三掌。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧看着他问道：“你说什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子把安婧入梦的事说了一遍，霍晓荧脸‘色’‘阴’晴不定地说道：“她才刚满十八岁，怎么什么都知道？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子挠了挠头，说道：“是啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧又说道：“她也能入梦，你怎么不怀疑她跟欧阳家有关系？她可‘花’梦容更可疑。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子听出事儿不对来了，搂着她笑着说道：“你是不是傻？安婧要是跟欧阳家有关系，咱们还能活得了啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧坐起来扇他脑袋，扇一下说一句：“你不傻！我还不知道你？我告诉你，别动‘花’‘花’肠子，小心我阉了你！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子抱着脑袋争辩道：“我哪有‘花’‘花’肠子？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哼！”霍晓荧嗔道：“明摆着的，素雪还不是你勾来的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子嘿嘿笑，霍晓荧掐着他的脸使劲拧，嗔道：“你给我小心点儿！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子龇牙咧嘴地把她的手扯掉，‘揉’着脸说道：“她找我只是暂时的，等芊芊魂力觉醒，她会跟着芊芊了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“呸！”霍晓荧啐他，嗔道：“还不知道要等到哪年呐！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子搂住她，陪着笑脸说道：“媳‘妇’儿，你先跟芊芊打声招呼。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧翻白眼儿，嗔道：“我不管，你自己说去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子哄道：“你去说吧，芊芊听你的，你看我都受伤了，万一芊芊再蹿儿了，我不得伤加伤啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧双手掐着他的脖子晃他脑袋，斥道：“还说没有‘花’‘花’肠子！看你这猥琐的样子！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子抱紧她，斥道：“好了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧一愣，山伢子轻声说道：“这么强的一个帮手，还有她身后整个素隐‘门’，不要吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嗤了一声，说道：“既然理由正当，为什么你不自己去说，非要我去说？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“芊芊不是还没闹腾够嘛，总是小题大做，无事生非的，跟我闹腾没啥，可人家素隐‘门’为了守护她的遗骸，连娱乐的时间都放弃了，她要是再跟人家鼻子不是鼻子，脸不是脸的，那多伤人呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;的小说站！
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>