<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第75章：道歉2</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第75章：道歉2
</div>
<div class="bookname">
	<h1>第75章：道歉2</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第75章：道歉2<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨有点儿失望，其实吃饭看电影儿的主意是她出的，只是她不好意思说，才让舒静说。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;好不容易有个空档，又不用跟爸妈请示，可没想到，山伢子不去，而且理由极其充分，完全无法辩驳。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹让大家都能听到她的话：“四叔不用你帮忙儿，你的任务是保护好歆雨和静静。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨的脸上重新有了笑容。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;骆小甜却瞪大了眼睛问道：“那我呐？我不是人呐？还是我属于可接受损失？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;舒静不客气地说道：“原本也没想带你玩儿，我天天说有一个人是多余的，你怎么听不懂呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;骆小甜瞪眼说道：“你还有脸说？我是被你们连累的！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;舒静嗤道：“你可真会恶人先告状，明明是你招的事儿，却说是我们连累你？你可真要脸！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沐航劝道：“别吵了，又不是什么了不得的事儿，你俩怎么天天吵？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;俩人都看了沐航一眼，谁都不想跟沐航耍脾气，就互相白了一眼，不理对方了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看张小莹，他现在有点儿拿不准，他觉得应该去医院给师父帮忙儿，可又觉得张小莹说得对，万一王严发现三个女孩儿没上晚自习，找她们怎么办？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹说道：“你给四叔打电话问一下吧，看我说得在不在理。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”山伢子答应，拿出手机打给徐四。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说他：“你都成人了，怎么还这么憨？今天这种情况，你当然应该保护她们，这还用我特意嘱咐你吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子答应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四又说道：“这个事儿我还没想明白，不过我觉得不是闹鬼这么简单，其实你那边儿比我危险，你加点儿小心。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答应：“是，师父。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;挂了电话，山伢子说道：“我错了，小莹说得对，咱们去吃饭吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;舒静斜眼儿看着骆小甜说道：“也带她一起去？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;骆小甜嚷道：“我不去！你满意了吧？我死活都不用你们管！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完转身就走。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子叫她：“骆小甜，我师父说你们都有危险，你别走。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;骆小甜不应声儿，反倒走得更快。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨拉着舒静的手晃了晃，用眼神儿示意舒静叫骆小甜回来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;舒静嗤了一声，看着沐航嗔道：“叫她回来呀，不喜欢也不用看着她找死吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沐航皱眉，心想这丫头嘴真损，而后小跑儿着追向骆小甜。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;晚上快十二点的时候，王严来了医院，进门儿直奔病床，文凯紧张地说道：“你别过来！你站那儿就行了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王严的嘴角露出一抹不屑且阴冷的笑意，说道：“你闹着让我来给你道歉，我来了你又怕我，我好像没踢你脑袋吧？你怎么像白痴一样？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;文凯的脸色变了两变，想骂回去又不敢，他行动自如的时候都打不过王严，更别说现在这个样儿了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王严又嗤笑了一声，扭头看着徐四问道：“你是谁？你为什么总看着我？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四从王严一进门儿就在观察他，但王严身上的阴气并不是很重，不像是鬼上身。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是王严的眼神儿不对，对于一个刚上高一的孩子来说，不可能有这么阴冷残忍的眼神。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四怀疑王严是被人下了降。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;降头这种邪术，源自于古老的巫蛊之术，大多是用动物的骨血或是灵，再配合一些植物施术。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;因为动物的阴气相对较弱，所以作用在人身上就没那么明显，但是后果往往比鬼上身严重。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四问王严：“不是说你爸陪你来吗？你爸呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王严阴冷的答道：“你问得着吗？你是谁呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;文凯很机灵，立刻说道：“他是我四叔，你爸呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王严盯着徐四看了一会儿才答道：“你让我来道歉，问我爸干什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“时间这么晚了，你没有家长陪着，万一有点儿事儿怎么办？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王严说道：“不用你操心。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;转而对文凯说道：“对不起。行了吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;文凯看徐四，徐四琢磨了一下，问王严：“你请了笔仙要弄死沐航？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王严斜了徐四一眼，转身就走。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四嗤了一声，说道：“敢做不敢当吗？我还真是高看你了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王严站住脚转回身，眼中闪过一抹凶光，恶狠狠地问道：“你是谁呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;文凯这会儿胆气壮了不少，因为徐四的问话和态度，让文凯更加确定自己的猜测，这位四叔不是一般人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;文凯说道：“不是跟你说了吗，他是我四叔，你是听力有毛病，还是脑子有毛病？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王严突然冲向文凯，徐四一蹿截住王严。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王严挥拳打向徐四胸口，徐四也挥拳打向王严胸口。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两人几乎同时打中对方，徐四晃了一下，王严退了两步才站稳，眼中划过一抹诧异的神色。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四缓缓调息，他跟王严硬拼一拳，是为了探探王严的底，但他没占着便宜，王严这一拳打得特别重，超出了徐四的预想。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;鬼上身的人向来力气大，但不会大到这种程度，这种程度更像是身体的潜能被激发，而且鬼上身的人都不会有自我意识，不会像王严这样条理清楚。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王严揉了揉胸口，呼出一口气，用挑衅的语气说道：“大叔，你还行吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四答道：“老了，不过对付你还不成问题。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王严微微眯眼，盯了徐四一会儿，突然嘿嘿一笑，说道：“对付我？我就是一个高中学生，你为什么要对付我？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“好歹你也是个爷们儿，敢做不敢认吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王严笑着答道：“我是不是爷们儿跟你有什么关系？别说你是个男的，就算是个女的，就你这岁数儿，我也用不着考虑你对我的看法儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四皱眉，这小子居然不吃将。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王严又对文凯说道：“你让我给你道歉，我已经向你道过歉了，不过你住在这里的医药费我不给，也给不起，我走了，别再骚扰我，否则我就报警，告你敲诈。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王严说完就离开了，文凯不解地问道：“四叔，你……怎么让他就这么走了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四转回身看着他说道：“我能咋？我还能把他绑起来？你没听他说要报警吗？”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>