<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第611章：谁入梦</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第611章：谁入梦
</div>
<div class="bookname">
	<h1>第611章：谁入梦</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第611章：谁入梦<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“我不敢确定，我只是有这种直觉。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧点了点头，说道：“你的直觉很准。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;素茗曾经告诉山伢子，姬家两辈人，灭了孙家、毁了霍家、害了古家，而现在基本已经确定了山伢子和芊芊的转世身份，姬家不会不知道，因为素茗知道，他肯定会告诉姬家，像他把姬家做的事告诉山伢子一样。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬家知道了山伢子和芊芊的真实身份，怎么可能不害怕？所以姬家的嫌疑最大。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓看着霍晓荧，见她只是低头沉思，并没有想解释的意思，明白她是有难言之隐，所以也不问原因，而是问道：“如果真是姬家，怎么办？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧一愣，随即明白洪拓的意思，答道：“有什么怎么办的，夏歆雨是姬淋洛的媳妇儿，她又不是被逼迫，或是被抢去当压寨夫人的，难道她的心还会向着伢子吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“你最好先跟伢子通通气，越有本事的男人，对女人的心越软，历朝历代，许多手掌乾坤，睥睨天下的枭雄，都一样怀着一份怜香惜玉的心肠，甚至会为了女人而失志，乃至倾覆。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”霍晓荧点头答应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;科学男完了香之后躺到了床，闭着眼睛，像在睡觉，又像在养神。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧对洪拓说道：“我盯着他，你回去吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“你回去，你盯着他也不方便，再说，万一背后的人出现呐？你的法力还不够，如果这时候你再出什么意外，伢子肯定会崩溃的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧点了点头，说道：“那辛苦你了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“记得跟伢子通通气。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”霍晓荧点头，然后消失了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;回到饭店，霍晓荧单独把她跟洪拓的分析告诉了山伢子，山伢子良久的沉默，霍晓荧什么都没有问，回套房去了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓一直盯着科学男，后来发现他睡着了，但是洪拓并没有走，给霍晓荧打电话通报了一下情况，坐在地盯着科学男睡觉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;凌晨一点刚过，科学男猛然坐了起来，眼神空洞，但明显是看着洪拓，声音发浑地问道：“你是谁？你在我家干什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓没动地儿，反问道：“你是谁？你想干什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;科学男没有回答，盯着洪拓看了一会儿，直挺挺地倒下，好像又睡着了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓皱眉，拿出手机打给霍晓荧，说道：“你们都过来，带着安婧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;将近一个小时，山伢子等人来了，洪拓对安婧说道：“刚才他突然坐了起来，两眼无神地看着我，问我是谁，我反问他，他没有回答，躺下又睡了。他的这种情况你怎么看？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧琢磨了一下，通过山伢子告诉洪拓，如果科学男真能看到洪拓，那是魂舍的阴气在持续增强。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;之所以说是魂舍内的阴气，是因为科学男本身的阴气水平属于正常范围，结合霍晓荧扇科学男后脑勺没效果，所以安婧觉得是有人在科学男的魂舍里事先注入了过量的阴气，从而阻挡了鬼扇后脑的阴气注入。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉问道：“这有什么区别吗？不都是注入阴气吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓看安婧，安婧说道：“你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓解释道：“阴气瞬间注入会使命魂受到冲击，是咱们通常说的‘晃荡’，所以人才会犯迷糊。但如果是缓慢持续地注入阴气，命魂不会受到冲击，但后果也很严重，要瞬间注入严重得多。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦……”山伢子点了点头，问道：“那你叫我们来是要干啥？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓答道：“安婧是灵语者，她本身有入梦的能力，我想让她进入这个人的梦观察一下。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧点头，说道：我去外面沙发坐下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一回手拉住她，问洪拓：“这个人魂舍里的阴气这么重，婧婧进去没有危险吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧用手推山伢子的手，脸颊微微泛红，说道：快放开，没事儿的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嗔道：“那你说怎么办？你进去？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“是啊，我进去，洪大哥不是会遣魂入梦的法术吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓解释道：“遣魂入梦和自主入梦有很大的区别，简单来说，自主入梦的危险性最小。安婧的法力并不你低多少，所以她进去你进去更安全。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“我在梦里也可以冲灵，次乌拉族截杀我们的时候，我替她挡过黑风斩，她我冲灵时的法力差远了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧又说道：你放手啊，你放开我好不好？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“不放。我又不是想占你便宜，你听我把话说完。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧满脸尴尬地说道：我听你说完，你先放开我。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子放开手，安婧尴尬地退了两步，低着头站在门边。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“你顾虑太多了，我跟芊芊是让你把成了废物，结果事到临头，连个抱佛脚的机会都没有，你想把婧婧也变成我俩这样吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看着霍晓荧说道：“这件事是冲我来的，不能让婧婧去冒险，她的职责是保护芊芊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊和安婧一同皱眉，因为她们觉得山伢子这话说得有些没头没脑，只有霍晓荧和洪拓才知道山伢子话里的真正意思。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧也皱起了眉头，琢磨了一下看洪拓，洪拓说道：“按伢子说的办吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧问道：你什么意思？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：回头我跟你解释，这事说来话长，牵扯到五行世家的仇怨，而且我没有告诉芊芊，不告诉芊芊的原因也很复杂，芊芊的爸爸也是知道的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧愕然，原来还这么复杂。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊突然问道：“这件事的背后黑手，是不是姬家或是屈家？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所有人一同看她，古芊芊瞪着山伢子嗔道：“你真当我傻呐？乌拉族的事跟这个人的事都不会是素茗干的，最有可能的是姬家，你说！这件事是不是跟害死我爸的人，或者是跟害霍家的人有关系？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉说道：“先办正事儿，回家再闹腾。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;转而又对洪拓说道：“洪大哥，去客厅吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;/bk更新最快的小说站！
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>