<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第159章：又见厉阴</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第159章：又见厉阴
</div>
<div class="bookname">
	<h1>第159章：又见厉阴</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第159章：又见厉阴<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四到了杨瑞家，杨瑞已经缓过劲儿来了，问徐四：“咋会这样呐？是她甩的我呀，为啥还回来害我呐？还有，她咋变成那样儿了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“找她来谈谈。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子立刻从包儿里往外掏引魂香。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杨瑞一惊一乍地说道：“那能行吗？她来了不会……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杨瑞顿住，反应过来自己是被吓蒙圈了，人家就是来抓鬼的，当然不会眼睁睁地看着鬼把他掐死。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四点燃了引魂香，说道：“赵美蓉，出来谈谈吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;等了一会儿，没动静儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四皱眉，拿起香盘儿在客厅里转悠，让烟气充满整个客厅，又说道：“有冤当诉冤，有怨须解怨，今生已终了，来世尚可盼，心结若难解，冥尊有公断，莫寻活人事，休做恶孽缘，黄泉路上走，望乡台顶站，前尘成过往，余事何再谈，一碗忘川水，抛却恩与怨，爱恨两相离，但求自心安。赵美蓉，请现身一见。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杨瑞下意识地点头，这样才对嘛，好歹得念叨念叨，像山伢子那样，跟个棍子似的杵着管啥用？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;念叨完等了一会儿，还没动静。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四皱着眉头坐回沙发上，把香盘儿放在茶几上，问杨瑞：“赵美蓉的生日你知道吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;现在的问题严重了，赵美蓉死活不来，这是铁了心要把他们耗走，然后再弄死杨瑞，反正他们不可能时时刻刻守在杨瑞身边。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四只能拘魂了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杨瑞把赵美蓉的生日说了，徐四又问道：“出生的时辰知道吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杨瑞摇头，莫名地感叹了一句：“碰上这种事儿才觉得古代好，娶媳妇儿之前都要算生辰八字。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹嗤道：“扯淡，咋不说还有父母之命，媒妁之言呐？给你配个母猪你也得娶。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子笑，杨瑞听不到张小莹说话，就尴尬地解释道：“我就是发发感慨。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四瞪了张小莹一眼，张小莹嘟了下嘴，山伢子赶紧把笑意收回去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四拿出毛笔和墨盒，把赵美蓉的名字和生日写在黄符上，然后让杨瑞去拿了两个碗，一大一小，大的扣过来，在碗底粘上一根蜡烛，再把黄符点着，丢在小碗里。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四左手掐诀，右手拿着铜钱剑，口中念念有词，片刻工儿夫，一团黑气在茶几上凝聚成形，这一回连杨瑞都能看见。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杨瑞吓得缩成一团儿，紧闭着眼睛不敢看。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹说道：“不对，刚才不是她。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;女鬼瞪着徐四问道：“是你拘我来的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这只女鬼披头散发，两只眼珠发黑，瓜子脸，模样很俊俏，嘴唇儿发紫，身上没有穿衣服，到处是血痕。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当女鬼凝聚成形后，张小莹下意识地伸手去捂山伢子的眼睛。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子已经转向了她，看着她说道：“我不看。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四瞪了他们一眼，这是鬼，而且很明显是厉鬼，就因为没穿衣服就不看？这是拘魂，还能控制得住，要不是拘魂呐？闭着眼睛等死啊？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹也意识到自己和山伢子的愚蠢行为，用手推了山伢子脸一下，嗔道：“你思想真龌龊！这是拘魂，你不看着怎么拘，怎么谈？她要是来打你怎么办？猪脑子！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，刚还伸手来捂他眼睛呐，这会儿又这么说，理都在她那儿了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;女鬼的身上突然溢出黑气，厉声问道：“你们是什么人？为什么把我拘来？说！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子猛然转回头看着女鬼，片刻后又看徐四，见徐四也是皱着眉头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四叫杨瑞：“杨瑞，睁开眼睛看看，她是你女朋友吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;女鬼摇动了一下身体，再次嘶吼道：“放开我！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杨瑞紧闭着眼睛，不动不说话，山伢子从徐四身后的沙发背儿上踩了过去，一把揪住杨瑞的衣领子将他拎起来，先扇一大嘴巴，然后才斥道：“睁开眼睛看看！要不没人管你！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;女鬼根本不给他们时间，开始疯狂地挣扎，身上溢出的黑气越来越浓重，屋子里已经有了腥臭的气味儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四已经等不到杨瑞确认了，这只女鬼是不是杨瑞的前女友已经不重要了，这是一只厉阴，比以前的张小莹，甚至是比媚姌的能量都大，怨气都重！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四换了一个掌诀，用铜钱剑指着女鬼斥道：“赵美蓉！本法师座前，不可造次！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊……”女鬼冲徐四尖声喊叫，一点儿都不给面子，张开的嘴里有一团黑气在浮动。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;火行石发出耀眼的红光，山伢子转过身对着女鬼，女鬼突然停住喊叫，用一双黑亮的眼睛盯着山伢子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹从徐四身后绕过来，躲在了山伢子身后，揪着山伢子的衣服，露出头来看着女鬼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四惹有所思地转了转眼珠，说道：“伢子，你问她。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子瞪着女鬼斥道：“穷折腾啥？有事儿说事儿！你叫什么名儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;意外的，女鬼顺从地答道：“赵美蓉。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看徐四，徐四示意他接着问，山伢子就转回头问道：“你怎么死的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;女鬼的脸瞬间又变得狰狞，火行石陡然一亮，女鬼哆嗦了一下，连身上的黑气都收了回去，低下头答道：“下班回家的时候，被三个男人拖进了地下过街通道，我喊叫，有一个人把我掐死了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，问道：“凶手抓着了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;女鬼缓缓地摇头，然后抬起头看着山伢子问道：“法师，你能帮我找到凶手吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看徐四，人海茫茫，上哪儿去找凶手？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四对女鬼说道：“赵美蓉，我们会尽力帮你找凶手，但是我要先问清楚一些问题，可以吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵美蓉看着徐四反问道：“你想知道什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四想了想，问道：“你死了多久了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵美蓉答道：“半年多了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四又问道：“尸骨在哪儿？已经入土为安了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵美蓉盯着徐四，半晌才答道：“没有，那个通道是废弃的，他们把我掐死以后，就在里面刨了个坑，把我的尸体埋在那里了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四有些意外，皱眉问道：“你是说，害死你的人还带着刨坑儿的工具？”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>