<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第672章：劫后余生</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第672章：劫后余生
</div>
<div class="bookname">
	<h1>第672章：劫后余生</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第672章：劫后余生<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嗤了一声，果然世上最险恶的莫过人心。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰图问道：“我能走了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子反问道：“你想去哪儿啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰图答道：“我去地府投胎呀。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看着霍晓荧，霍晓荧愣了一下，随即反应过来，一伸手扣住贺兰图的头顶。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰图的寿命远超正常人，那他的魂力也必然会比正常人要强很多，将他吸收掉，肯定会极大的助修法力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而且在古芊芊魂力觉醒之后，重新教授了霍晓荧功法，其实当年古家祖上教给唐召义的功法，并不是无名观真正的功法，而是一种变体。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;实际上这种功法名为采纳功，而且会这种功法的人并不多，只有几名弟子得到了真传，其中可能就包括古家的祖先。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;采纳功是无名精研一百三十年才创出的功法，最主要的用途是采纳日月精华和山川灵气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然，不是谁都能一上来就采纳日月精华和山川灵气的，这些气息太过浩瀚，要么是根本采不来，要么就是采来得太多，消化不了，最后把肉身撑爆，所以只能从小处开始采，活人的元气、草木的精气、鬼的魂力、妖魔的法力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;也正因如此，无名传授功法时极其谨慎，除了素雪之外，其他弟子都是考察了好久才传授。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;无名曾对素雪说过，恶人恶鬼、邪魔妖孽必须除掉，但是杀掉太可惜，莫不如吸收之后转为法力，一举两得。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;素雪曾问无名，吸收恶人恶鬼，邪魔妖孽，难道不会侵蚀心智吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;无名答说，心正则诸念皆正，心邪则诸念皆邪，善恶本在一念之间，凡假托于外物之说，皆为借口。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;有了古芊芊的调教，霍晓荧用起来更是得心应手，贺兰图还没来得及喊叫，就被化成了黑气，吸进了霍晓荧的体内。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“我要静修。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“去吧，绣娘去给晓荧护法。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李绣娘愕然问道：“如何护法？请相公明示？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“就是看着她，如果有什么不对劲儿的就叫我。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李绣娘恍然应道：“是。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;村民的斗殴结束了，没有了怒骂声和惨叫声，只剩下女人和孩子的嚎哭声。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容轻声说道：“他们好可怜呀。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子冷漠地答道：“同宗共属，狼狈为奸，没什么可怜的，这是他们的报应。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;女人和老人扶着受伤的年轻人各自散去，没有人多看山伢子一眼，他们怪罪山伢子，却又不敢说出口，只能以沉默表达心中的怨愤，所有人都认为，如果神女不来，就不会发生这样的事。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子把村里的情况告诉了安婧，安婧告诉了古芊芊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉，早知道是这种结局，她也就不必费心费力地帮巨蟒了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧说道：贺兰图已经死了，还有必要帮巨蟒吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：救人救到底，送佛送上西，已经伸了手，怎能中途撤回？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧说道：你受得了吗？就算你法力高强，可也消耗了这么久了，我担心你，我更担心这畜牲渡劫之后，会趁人之危。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：那倒不会，我怎会不遗余力地帮它？我自有分寸，你不必担心。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧不再跟古芊芊说话，对山伢子说道：芊芊姐还在帮巨蟒渡劫，不知道还要多久，要不等晓荧姐静修之后，你们过来吧，反正那个村子也没法住了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：好，开车不？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧答道：开吧，跟村里人都闹翻了，也不用搁在那儿了，况且从村里到山边还好长一段路呐，梦容还是普通人，能少走一段是一段。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：知道了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;天擦黑的时候，山伢子背着花梦容走了过来，安婧看着花梦容，花梦容理直气壮地说道：“我是普通人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧嗤了一声，没理她。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;又过了一个多小时，突然间云开雨住，火圈也熄灭了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;巨蟒死了一样伏在原地，古芊芊长吁一口气，说道：“终于了结了，我饿了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子打开包，拿出一只烤鸡撕开，分别递给古芊芊和安婧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊问道：“村里人给的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“不是，走的时候顺手抓的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嫣然而笑，找了棵树坐下，山伢子赶紧坐在她身边，扳着她的肩膀让她靠在自己身上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧走远了些才坐下，花梦容走过去坐在她身边，扳着她的肩膀说道：“累坏了吧？来，靠我身上。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧笑，撕下鸡翅塞进花梦容嘴里。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;休息了半个小时，巨蟒抬起头来，花梦容惊道：“它还活着呐！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧嗔道：“它要是死了，芊芊姐费这劲干嘛？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;巨蟒转向古芊芊，说道：“你救了我，敢问如何称呼？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊站了起来，整了整衣衫，大声答道：“仙茗山无名观，无名真君座下弟子素雪转世，我叫古芊芊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;巨蟒说道：“多谢古大师。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉，巨蟒又说道：“古姑娘？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊点头，说道：“贺兰图已经死了，是被村民打死的，命魂也被我夫君吸收了，我助你渡劫不易，望你以后莫再伤人性命。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;巨蟒说道：“劫后余生，恍如隔世，多承古姑娘古道热肠，我有一不情之请，不知当讲不当讲。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“但讲无妨。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;巨蟒说道：“古姑娘师从名门，又对我有救命之恩，我愿追随古姑娘左右，但凭差遣。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊？”山伢子脱口惊呼，这东西这么大，古家的别墅都装不下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧也皱眉说道：“芊芊，城里好像不让养这么大的宠物。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;巨蟒连忙说道：“诸位容禀，我虽然不能化为人形，但我可以隐形，而且可以速行，日行千里不在话下。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容问道：“你是说你可以给我们当坐骑？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;巨蟒答道：“我能驮万斤，当然可以给诸位当坐骑。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容各种仔细观察巨蟒，巨蟒侧转了身，说道：“我背上有刺，可以抓扶，况且我速行稳健，绝不会将诸位甩落。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容两眼放光地看着古芊芊，古芊芊问巨蟒：“你吃得多吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;本章完
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>