<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第703章：谈话</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第703章：谈话
</div>
<div class="bookname">
	<h1>第703章：谈话</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第703章：谈话 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花景川一愣，脱口问道：“男朋友？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张晨大声问道：“你不知道梦容有男朋友？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花景川说道：“我给她打个电话问问。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张晨说道：“不用，她就在我这儿，你跟她说！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张晨说完就把电话递向花梦容，一脸责备的表情。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容坦然接过电话，唤道：“爸爸。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花景川问道：“你什么时候有男朋友的？你不是一直跟着古小姐吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容答道：“就是石庆山呐。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花景川愣住，半晌才压低声音，愤怒地斥道：“他不是你师父吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容说道：“爸爸，要不您跟妈妈抽个时间回来一趟，咱们见面说，电话里说不方便。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花景川缓和了一下情绪，问道：“女儿，你告诉爸爸，是不是他们胁迫你？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容说道：“爸爸，或许我不应该这样说，但我有我的感受，他是对我最好的人，我要跟他去天府那边。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花景川低声问道：“你是说……要去无名观？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容答道：“对，但不是现在就去，不过已经开始做前期准备了，所以我就算现在不辞职，迟早也是要辞职的，而且您应该知道，我只有待在他身边才最安全。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花景川沉默，张晨在一旁皱起了眉头，怎么还提到安全问题了？什么情况？ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容又说道：“爸爸，如果有时间的话，您和妈妈还是回来一趟吧，我想跟你们谈谈，平等的、开诚布公的谈一次。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花景川说道：“女儿，爸爸妈妈不是不关心你，我们这么拼命工作赚钱，是想给你打造一个好的物质基础。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容说道：“我知道，我又不是小孩子，你们的苦心我明白，但我跟别人不一样，这一点您也很清楚，而且我现在前所未有地感激你们，如果不是因为我的条件特殊，我也不会遇到石庆山，也不会相信在这个世上，除了你们之外，会有人对我这么好，我是真的很想跟你们谈谈。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花景川声音有些低沉，说道：“我知道了，我跟你妈妈会尽快回去。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容说道：“爸爸，您跟张老师说一下吧，多亏了张老师，我才能做这份工作。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花景川应道：“好。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容双手将电话递向张晨，张晨皱着眉头接过去，虽然他听得有点儿云山雾罩，但有一点儿可以确定，花梦容是把花景川给说通了，不过真正的隐情，恐怕不足为外人道。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“喂？”张晨的声音也很低沉，因为心里难受，花梦容是个好苗子，是语言方面的天才，这样的年轻人可遇而不可求，但研究所即将失去这个天才了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花景川说道：“张哥，梦容的事情让你操心了……” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你等下。”张晨打断了他，对花梦容说道：“你们回避一下。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容挽起山伢子的胳膊将他拉起来，说道：“走，我带你去看看我的办公室。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子向张晨微微鞠躬，说道：“张老师再见。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张晨皱着眉头瞪他，冷淡地答道：“再见。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两人走了，张晨开炮一样说道：“这个石庆山是什么人？怎么还涉及到安全问题？听这小子说话，好像没读过几年书，梦容怎么会看上他？你们家也不缺钱吧？怎么能让梦容跟个暴发户混在一起？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“年轻人思想单纯，你做父亲的要把好关嘛！这样的人怎么能配得上梦容呐？梦容居然还对他言听计从，还要跟着他去天府？那么远的地方，你跟鉴铃能放心啊？你就不怕他将来欺负梦容？甚至是把梦容给坑了？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花景川说道：“张哥，你先不要激动，梦容的事涉及到我们家族问题，有些话不方便告诉你。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张晨说道：“都什么年代了？还家族问题？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花景川说道：“如果按现在这个年代的思想来讲，梦容已经二十一岁了，是大人，咱们都要尊重她的选择。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张晨说道：“你跟我抬杠是不是？梦容是你女儿没错，可她也是我最好的学生！你这个当父亲的不作为，我这个做老师的不能眼睁睁看着她堕落！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花景川说道：“张哥，石庆山的确没上过什么学，但他不是一般人，而且他对梦容很好，我一开始有些诧异，是因为没想到梦容会跟他在一起，你也知道，我跟鉴铃常年不在莫林，有些事梦容也还没来得及跟我们说。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张晨问道：“不是一般人？什么意思？官二代？富二代？星二代？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花景川答道：“法师二代，还是升级版的。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“花景川！”张晨怒道：“你逗我玩儿呐？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花景川说道：“张哥，咱俩十几年的交情，你是个好人，是个值得信任的人，我跟你多说两句。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张晨皱眉，这话听着怎么跟策反一样？说道：“你说吧。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花景川说道：“梦容跟别的孩子不一样，从小到大都没有生过病，连感冒发烧都没有过，而且当年生她的时候，也不是在医院生的，而是在鉴铃的亲戚家，专门从外国请的医疗团队接生的。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张晨皱着眉头问道：“什么意思？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花景川说道：“或许你认为法师这个词是神棍和骗子的代名词，但我可以非常负责任地对你说，石庆山是真正的法师，只有他能保护梦容的人身安全。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张晨沉默了片刻，问道：“你是喝多了，还是用这种胡说八道的方式，为自己没有尽到做父亲的责任开脱？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花景川说道：“梦容是我女儿，没有人比我更希望她能幸福快乐，我对你这种无端的指责很不高兴！而且我跟你说得都是实话，跟你说实话的原因也是你的人品有保证，既然你质疑我的诚信，那咱们就没什么可说的了，再见！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“景川！”张晨说道：“怎么还急眼了？我跟你说，现在有一个重要的考古发现，需要我们研究所配合，我很需要梦容来做这个课题。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花景川冷淡地说道：“那你跟梦容谈就好了，她是你的学生，她也是个好孩子，我想她知道该怎么做，挂了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;(本章完)
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>