<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第740章：都对上了</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第740章：都对上了
</div>
<div class="bookname">
	<h1>第740章：都对上了</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;手机阅读 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;第740章：都对上了 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊坦然答道：“我以秘术转生，继承了前世的修为，我虽然年纪不大，却有七百年的法力。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老道再次震惊地看着古芊芊问道：“世间竟有如此神术？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊摇头，说道：“世间怎会有如此神术？无名观乃世外仙门，你不曾听闻也在情理之中。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老道神色黯淡了下去，幽幽开始述说，他师从XX观，那个法阵叫游魂阵，是XX观七代观主钻研而成，但无人能在阵中修炼成鬼仙，都是上一代观主修炼成鬼煞，下一代观主将其灭掉。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看古芊芊，他不明白为什么下一代观主能灭掉上一代观主，理论上不是应该上一代观主的法力高吗？ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊摇了下头，继续听老道讲。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老道不想自己进入法阵，碰巧捡到了阴阳面的尸身，就用阴阳面来试验。最初的时候，阴阳面还听他的话，帮着做了很多事，老道也挣来了地位和钱财。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是法阵炼出的东西就像恶犬，小的时候听主人的话，但随着长大，它就越来越凶残，最终会向主人露出獠牙。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老道给阴阳面修了墓，设了六丁阴神，实际上那不过是六只煞鬼，而且老道用咒文将六个男童的魂都封住了，在颈后还留了引魂的空白。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;因为阴阳面不懂法术，老道其实从一开始就防备着，就怕有一天被反噬，所以只是炼阴阳面的魂，没有教过他法术。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;后来阴阳面想要读书认字，老道就教他戏文，为得是用戏文吸引阴阳面的精力，免得他要看道学方面的典籍。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;墓建好以后，阴阳面让老道在墓里陪他，老道谎称要做一个护墓冢，护卫这座大墓，这才逃过一劫。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老道的目的只有一个，就是脱胎换骨，修成真仙，他做拔阴斗维持尸身不变，就是为了有朝一日能原样活过来。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可是千百年过去了，他的目的一直都没有达到，而他以魂体修炼，也一样是进境缓慢。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;见他说完了，古芊芊扭脸看着山伢子说道：“人有肉身保护，魂力虽强，但没有肉身，魂体就要直接承受法力冲击，而且成了鬼煞之后，心智会受损，所以下一代观主才能灭掉上一代观主。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子恍然答应。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老道用怪异的目光看着两人，古芊芊也不跟他解释，问道：“你可曾骚扰过那些开墓的活人？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老道答道：“只有一个少年，那天我在外闲逛，看到他正在做龌龊之事，便赏了他一耳光。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“什么龌龊之事？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老道答道：“就是自握阳物，思淫行乱。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子恍然，难怪孙学锋没说这事儿，也难怪他拉个屎都要跑那么远，这种事儿肯定是打死都不会跟别人说的。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊问道：“前天晚上你在何处？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老道答道：“我去大墓转了一圈儿，因为听到那些活人欢呼雀跃，不知出了何事，因此去看看。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊点头，这就都对上了，孙学锋被老道扇了一嘴巴，所以眉间有黑气，而前天晚上老道又去转了一圈，阴气又冲了孙学锋。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊问老道：“阴阳面灭了，你有何打算？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老道起手躬身，问道：“不知可否拜入贵派门下？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“不可。你所行之事恶业太重，无名观不能收你。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老道放下手，一脸不服气地质问道：“你们将法阵搬走，不也是为了炼魂吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“原本是为了炼魂，但听你说完，我已经没那个心思了，回去后，我就会将石盘与石柱毁掉。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老道说道：“那就将五色灵石与五色玉桥还我。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“那不是你的，就算曾经是你的，也被阴阳面抢了去，我们凭本事从阴阳面手中抢来，凭什么给你？你若想要，就得凭本事从我们手里抢。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老道冷哼一声，说道：“毁掉石盘和石柱，却留下五色灵石与五色玉桥，那你随时都可以重建法阵。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“是与不是也与你无关。我方才问你有何打算，是出于一番好意，现在我告诫你，不要去骚扰那些活人，你只要不去骚扰那些活人，我便不来管你，否则阴阳面就是你的下场。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老道阴沉着脸瞪着古芊芊，古芊芊拉住山伢子的手说道：“夫君，咱们走吧。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老道说道：“你们坏了我的树阵！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“我给你设个结界，保你百年无事。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老道说道：“我这里本来千年无事。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊停步回身，看着他说道：“我若灭了你，再焚了你的尸身，便是万年无事了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老道掉着脸不再说话，古芊芊转回身拉着山伢子走出空地，回手设了一道结界。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看了一眼，问道：“你干啥了？没啥区别呀？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊欣喜地笑着说道：“夫君，你的法力又提升了，这跟无名观的结界一样，寻常人是看不穿的，只能看到一片紧密的树木。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是吗？”山伢子邪魅一笑，搂住她说道：“那咱俩回帐篷庆祝一下。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊羞笑着捶他，嗔道：“讨厌。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古墓的事情算是了结了，但古墓的发掘工作却很漫长，山伢子跟花梦容一直待到快过年，把花梦容都待烦了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;因为最初的热情退潮之后，开始想念繁华的都市生活，况且她已经向古芊芊确认过了，她是山伢子提升法力必不可少的媳妇儿，那又何必在这荒山野岭待着？再者说，再有意思的事儿，也有够的时候。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所幸上级领导也考虑到考古队工作辛苦，发了通知，让考古队撤回休整，过完年再继续发掘，于是大家坐上了汽车，回到了莫林市。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而韩慕灵也是言出必行，在会见了花梦容与安婧的父母之后，给山伢子和古芊芊办了一场老式的婚礼。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊穿上鲜红的嫁衣，梳起云鬓，插满金簪，贴上额黄，顶着盖头，牵着红绸，跟山伢子拜了堂，入了洞房。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容的父母和安婧的父母也都到场观礼，他们心里清楚，韩慕灵这样做的用意，就是给他们树个榜样，将来安婧和花梦容的婚礼也是这么办。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;本书来自
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>