<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第356章：捡的</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第356章：捡的
</div>
<div class="bookname">
	<h1>第356章：捡的</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第356章：捡的<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，问道：“你啥时候看书了？我没看见你看书啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嗔道：“你每天睡得跟猪一样，上哪儿看见我看书去？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“石先生？”程月明在门口探了下头，向屋里看了一眼，然后走开，又唤道：“石先生？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧对公孙少君说道：“让他出去，否则你的明公该着急了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;公孙少君点头，挥了下袖子，刚要说话，霍晓荧又说道：“你别设结界了，咱俩到外面谈去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好。”公孙少君说道：“今晚月色极好，不如往楼顶一叙。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧点了点头，其实听她这么说话，霍晓荧也觉得别扭。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子从书房出来，程月明眼神诧异，山伢子解释道：“刚才我碰上您家的鬼了，她施了障眼法，所以您没有看见。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;程月明的眼神变得惶恐，山伢子说道：“不用害怕，她要想害你，你早死了，等不到现在，放松点儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”程月明还是有点儿紧张，下意识地抬手扶了扶眼镜。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“程先生，我想看看您那些画卷，刚才我就是想看画卷时，被您家的鬼阻止了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;程月明皱眉，问道：“您说得那个鬼，是男是女？长什么样子？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“女的，长得很漂亮，穿着古装。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”程月明的表情明显有些失望。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子恍然明白，说道：“不是您的妻子，您妻子去世没几年，不会有这么重的阴气。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;程月明点了点头，走进书房，说道：“我给您拿画卷。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子跟进去，指着一卷画说道：“就看这个。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好。”程月明拿出来，放到桌上展开，是一张古代美女的画像，但是画像上的女人，没有公孙少君漂亮，看着也不像。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子下意识地摇了摇头，程月明问道：“石先生，您见到的女鬼是这画中人？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“不是，比画里漂亮，长得一点儿也不像。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;程月明迟疑了一下，说道：“石先生，嗯……是这样的，画儿这种东西，尤其是古代人物画像，往往不可能跟人物画得非常像，大多是取神韵。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子直白地说道：“那我就不懂了，那个女鬼跟我媳妇儿上楼顶去谈话了，等她们回来，您自己看吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;程月明浅笑了一下，山伢子问道：“程先生，您这画儿是哪儿来的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;程月明答道：“捡的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;程月明告诉山伢子，他妻子刚去世那段时间，他一个人又要工作，又要照顾两个刚出生的孩子，弄得心力憔悴。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;加上思念亡妻，程月明就总会在夜深人静的时候，去离家不远的休闲公园坐一会儿，暂时逃离生活琐事，追忆他与亡妻曾经共度的美好时光。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;有天晚上，月黑风高，本来这样的天气不应该出去，可程月明那天莫名地特别思念亡妻，于是把两个孩子哄睡了之后，还是去了公园。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一路上都没有看到行人，连车都很少，程月明心里感到害怕，不想去了，想回家，万一自己出点儿事儿，两个孩子怎么办？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可每次想转身往回走时，心都会莫名的痛，思念亡妻的情感在心里喷薄欲涌。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以几经辗转，程月明还是去了休闲公园，在他每天坐着的长椅上，看到了这副画卷。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;程月明喜欢字画，这种爱好承接于他的父亲，他现在所拥有的画卷，都是他父亲当年拼了命保存下来的，而且有几副还是名人真迹。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以虽然程月明的日子过得并不是很富余，但也没有动过卖字画的念头，其实那几副好的字画，随便卖一副，就够换一套复式了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;程月明对于鉴定字画有些基础，这副人物画卷，无论是纸质还是画工，都很古朴，至少不会是百年以内的东西。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这么好的东西怎么会丢了呐？谁这么粗心大意。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;程月明奉行的做人准则是，君子爱财，取之有道。将心比心，如果自己丢了这样一副画卷，肯定得急疯了！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以程月明就抱着画卷坐在那儿等，等着失主回来找。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;然而，一个小时过去了，没人来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;快两个小时了，还是没人来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;程月明坐不住了，家里还有两个孩子呐，两个小时的时间太长了，孩子醒了会哭的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;程月明就拿着画卷匆匆回家了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;第二天，程月明把孩子哄睡着后，就拿着画卷去了公园。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;第三天……第四天……第五天……<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;程月明放弃了，不会有人来找了，所以他就把这副画留下了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子琢磨了一下，问道：“那这副画在您家有几年了吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;程月明点头，答道：“快五年了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“您是最近才感觉不对劲儿吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;程月明叹了口气，说道：“这就说来话长了，咱们到客厅坐着说吧，我给您泡壶茶。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;楼顶上，公孙少君告诉霍晓荧，画上的人并不是她，她是在很多年前，为了抗婚自缢而亡的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;偶然的一次机会，公孙少君看见了这副画，当时还是挂在一位少辅的书房里，于是她便附在了画上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;几经战乱，因为有公孙少君的保护，这副画留了下来，在一次民间收藏品展会上，公孙少君见到了程月明，还有他热恋中的未婚妻，段华年。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;公孙少君说，程月明很像她当年爱慕的一位公子，而段华年是个薄命的面相。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那次偶遇之后，公孙少君跟着程月明回了家，而且还常来看望程月明，参加了他的婚礼，看着他们夫妻恩爱，直到段华年去世。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;程月明的痛苦令公孙少君心痛，于是便用了些手段，让收藏仕女图的富豪把卷画丢在了那条长椅上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;迄今已有五年的时间，公孙少君初时只是帮程月明舒缓情绪，常在他熟睡以后，用耳语安慰他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但最近一段时间，程月明和两个孩子都能看见她了，所以才找来了山伢子和霍晓荧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;听完公孙少君的讲述，霍晓荧问道：“那副画值多少钱？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;公孙少君看着她，霍晓荧理直气壮地说道：“你的明公找我们来帮忙，我们不得收钱吗？我们也得吃饭呐……要不把画儿送给我们？”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>