<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第574章：先下手为强</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第574章：先下手为强
</div>
<div class="bookname">
	<h1>第574章：先下手为强</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第574章：先下手为强<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;话音刚落，前方不远处出现了一团绿‘色’的火苗……<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“鬼呀！”于丙权大喊一声，站起来转身跑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;鬼火儿倏然绕到他面前不远处，那个纤细的声音厉声斥道：“站住！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;于丙权猛然停住，纤细的声音说道：“你跑什么？不是说好我带你回那个‘洞’吗？还跑？再跑远点儿，你没力气走回去了，那你可真得死在这老林子里了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;于丙权颤声问道：“你是鬼？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;纤细的声音说道：“我是什么重要吗？重要的应该是我能救你的命吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一句话怼得于丙权没了词，是啊，只要能救他的命，管他是人是鬼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;回到那个‘洞’，于丙权拿了自己的东西又出来，他是实在不敢在‘洞’里待着。出来后，生了火吃了东西，那个纤细的声音才说道：“你进去，棺材里有五个小木像，你把它们拿出来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;于丙权也没问，进去把五个小木像‘摸’了出来，他现在已经破罐子破摔了，宝贝没找着，惊动了一个坐尸，还被鬼给缠了，随便吧，爱咋咋地。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;拿出来之后，那个纤细的声音告诉于丙权，这五个小木像叫媾鬼像，功用是帮人借运，借得是桃‘花’运和财运。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;纤细的声音把借运的方法告诉了于丙权，然后消失了，于丙权至今也不知道它是什么东西。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓问道：“你为什么要跑？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;于丙权答道：“媾鬼像被人偷了，这不是个好兆头，肯定是让懂法术的人盯了，我得跑，免得让人抓住。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓又问道：“你说有五个媾鬼像，你手里有一个，其他三个呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;于丙权答道：“分别卖给了三个人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧问道：“你为什么总搬家？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;于丙权答道：“媾鬼像最多用四年，用过的人，最后都会家破人亡，我怕苦主找我。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧愕然看向洪拓，发现洪拓倒是一脸平静。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓又问于丙权：“那个‘洞’在什么山，怎么走？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;于丙权把详细路线告诉了洪拓，洪拓对霍晓荧说道：“他没用了，你吸他的元阳吧，虽然不多，聊胜于无嘛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好。”霍晓荧二话不说，伸出手扣在于丙权的头顶。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;拿着媾鬼像回了家，洪拓先把情况说了一下，然后告诉山伢子等人，于丙权碰的是一个升天棺。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所谓升天棺，通常意义来讲，是为了死后升天而设计的，但实际，升天棺主要的功能却是‘蒙’蔽地府。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;有道行的人寿数终了，坐棺而死，再用定魂针封住魂舍，把魂留在了尸身里，地府找不到魂，也不能在生死簿勾决，久而久之成了悬案，待到魂修炼到一定时辰，冲破尸身的禁锢，便能化妖化魔了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;于丙权碰到的这件事有些怪，先说这五个媾鬼像，洪拓虽然不知道这是什么东西，但按照数目来看，应该对应的是五脏。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓把红布包的媾鬼像拿出来，是个红‘色’的，洪拓说道：“这是红‘色’的，伢子烧掉的那个是黑‘色’的，对应五脏，红‘色’为心，黑‘色’为肾，其他三个不知道什么颜‘色’，也不知所踪。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓又说，山伢子烧掉黑‘色’的媾鬼像时，那东西发出了‘女’人的尖叫声，洪拓怀疑这个坐尸是‘女’‘性’，而她坐棺的原因恐怕不是为了魂修，而是为了重生。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然重生这种事有点儿扯，但大千世界，无不有，按照已知的线索来分析，重生是最接近真相的一种猜测。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子指着洪拓手里的媾鬼像说道：“这个也烧了吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓摇头，答道：“先不烧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说，这种东西很明显是邪物，光把媾鬼像烧了恐怕不管用，得找着那个坐尸。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧皱眉嗔道：“又给自己招事儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓解释道：“没办法，已经招了。其他三个媾鬼像不知道在哪儿，很有可能被坐尸收回去了，咱们烧了一个，抢了一个，那个坐尸的魂肯定得来找咱们算账。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“找呗，她敢来灭了她！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵说道：“别较劲，洪拓说得对，先下手为强，明天去找那个坐尸。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问洪拓：“这个坐尸很厉害吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓琢磨了一下，答道：“不好说，能‘弄’出这种东西，恐怕不是个简单的角‘色’。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“把安婧叫。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”山伢子立刻点头答应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊搥了他一下，嗔道：“你是不是想带着安婧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉说道：“她是你徒孙。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嗔道：“我还是你徒弟呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵斥道：“别总说没用的，有这闲工儿夫，想想怎么提升法力，连自己的徒孙都打不过，也不嫌丢人！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嘟嘴嗤了一声。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“我得去饭店，我联系不安婧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊跟着站起来说道：“我也去！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧噗嗤一笑，古芊芊嗔道：“你笑什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“没有啊。”霍晓荧摇头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;去了饭店，刚一进‘门’，服务员说道：“石哥，有位姑娘找你，在徐老板办公室，那姑娘好像是个哑巴，只用手机打字，不说话。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊小声儿嗤道：“还‘挺’积极。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说她：“好歹是你的嫡传弟子，人家整个‘门’派为了你枯守两百多年，你至于吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嘟着嘴不说话，至于不至于的单说，说山伢子不让安婧标记，这有问题。谁都不是傻子，为什么不让标记？还不是怕自己的想法被对方知道？那又是什么想法怕对方知道？用脚后跟想都能想明白。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;三人楼，霍晓荧拉着古芊芊刻意坠后几步，凑到她耳边轻声说道：“想和做是两回事，看到美‘女’没想法，那他是有‘毛’病，你别太小心眼儿了，你要搞清楚，你可是安婧的师祖，咱们还得用人家呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”古芊芊点头答应，但还是嘟着嘴，再老实的男人都有‘花’‘花’肠子，真够烦人的！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧扳她的脸，看着她说道：“还掉着脸子？快给爷乐一个。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“讨厌~”古芊芊失笑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;的小说站！
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>