<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第788章：长谈</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第788章：长谈
</div>
<div class="bookname">
	<h1>第788章：长谈</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第788章：长谈 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;电长老愕然看着风长老，既然族长可以作证，那这事儿就是真的了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;电长老问道：“你跟我说，不怕我去向大祭司告密？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;风长老洒然一笑，说道：“你还是没看明白，大祭司让我办事，但事后却连问都不问一声，你也不想想，如果大祭司真想杀人立威，就冲你那天在大殿上磨磨叽叽，她就把你杀了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;电长老愣住，风长老又说道：“大祭司不能放了乌勒，因为乌勒毕竟是杀害石观主亲人的凶手，可是你仔细想想乌勒说的话，是石观主让古夫人教她无名观的修炼之法，这才免了她遭活罪，这说明什么？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;电长老愕然问道：“说明什么？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;风长老答道：“说明大祭司把石观主看透了，石观主是个心软的人，雷长老这个罪魁祸首已经死了，石观主的仇就算是报了，只要不再出乱子，所有的事都会随着时间的流逝而慢慢尘封，不会再有人提了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;电长老猛然站起身，瞪着风长老吼道：“这些话你为什么不早跟我说？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;风长老扬着脸看着他，无奈地说道：“我得观察呀，我不是神，我是人，我得经过长时间的观察才能下结论。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;电长老两眼发直的坐下，风长老又说道：“我放走雷长老的家人，其实也是拿我自己的命，和我家人的命在赌。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;风长老说，卿琴是狠，但他认为，经历了被亲生女儿背叛的事以后，卿琴应该会反省。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当天卿琴虽然让风长老灭掉雷长老一家，但有一个细节却很微妙，就是蒙多对卿琴的质疑。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果卿琴真的是想杀人立威，那蒙多跟电长老都会难逃一死，因为他们两个都算是当面顶撞大祭司，可是卿琴并没有杀人。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以风长老就想，卿琴跟了山伢子，有可能是真爱，也有可能是交易，当然最有可能的是既有真爱，也是交易。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以卿琴实际上还是需要娘家人的，妖族崇拜强者，在这方面山伢子肯定是占绝对优势的，所以妖族不能完全算是卿琴的娘家人，或者应该说卿琴不能完全掌控妖族，而乌拉族则不同。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;首先，卿琴掌握着乌拉族的秘术，其次，乌拉族跟山伢子有仇怨，所以风长老认为，卿琴的立威只是口头上的，只是想让他们觉得，她是有能力并有决心杀人的，但她实际上并不是真的要大开杀戒。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;电长老瞪着他问道：“那你那天晚上又说大祭司有了观主和古夫人，咱们已经没用了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;风长老说道：“这话不是我说的，是火长老说的。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;电长老急赤白脸地说道：“可你也没反对呀！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;风长老提高了声调：“我得想啊，我得观察呀，光看见雨就能下结论吗？咱们还是毛头小伙子吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;电长老沉默，他后悔了，因为乌勒的事，他记恨风长老，所以无论风长老跟他说什么，他都排斥。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但今天这一番话，风长老说得有理有据，而实际上也确是如此，族人打从迁来仙茗山，卿琴再没有提过任何要求，更没有找过事儿。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;风长老又说道：“我刚才下山去找大祭司，大祭司问我为什么对她忠心，我是这样说的……” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;风长老把跟卿琴说的话，一字不差地说给电长老听，电长老愕然看着他问道：“你就不怕她杀了你？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;风长老答道：“不怕，人心其实都一样，大祭司能问出这样的话，就是心里不相信咱们会对她忠心，我实话实说反倒没事，而且……” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;风长老停顿了一下才接着说道：“大祭司赐我转生。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“什么？”电长老张大了眼睛：“你听错了吧？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;风长老答道：“我没听错，大祭司说过几天就教我修炼法身的方法，一旦我练成法身，就让我在无名观转生。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;电长老咬紧了牙关，脸上涌起悔恨的表情，风长老看着他问道：“你到底出去干什么了？其赫，亡羊补牢，为时未晚呐！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;电长老用警惕的目光看着风长老，心里在想，风长老会不会是故意这样说，为得是套他的话，好向卿琴邀功？ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;风长老说道：“如果有事，我劝你即刻去向大祭司请罪，我陪你去，我替你求情，即使我保不住你，至少我能保住你的家人。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;电长老沉默了好一会儿，才声音沉暗地说道：“我找到金剫族了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;房间里，卿琴面沉如水，声音冰冷的问道：“风长老，你要跟我单独禀报，意欲何为？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;风长老跪下，跟电长老并排，说道：“电长老一时糊涂，此事无人知晓，求大祭司法外施恩，饶恕电长老这一回。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴冷哼一声，说道：“不但要杀我，还把药娘也搭上，其心可诛！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;风长老赶紧说道：“大祭司，此事无人知晓，只有属下一人知道，电长老也是诚心悔过，请大祭司法外施恩。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴微眯着眼睛，问道：“你的意思是说，让我当作什么事都没有发生过，让一个勾连外族，蓄谋害我的人继续做长老？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;电长老说道：“属下即刻辞去长老之职，有生之年闭门思过，再不敢存有二心。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴嗤了一声，说道：“做得好好的，突然要退隐，什么说法？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;风长老说道：“乌勒擅自与无名观结仇，大祭司秉公处置，电长老心生怨怼，不愿再为大祭司效力，因此引退，属下定会举荐一名忠勇之人，接替电长老之职。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴嗤笑道：“你这是提前就想好了，我要是不答应呐？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;风长老说道：“大祭司，恕属下直言，法理不过人情，电长老虽然做了错事，但只是因为一时糊涂，并非真心反叛大祭司，况且一旦按族规处置，势必要通告族人，长老反逆非同小可，恐怕会有损大祭司声威。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“另外，乌拉族毕竟是大祭司的娘家，家人犯错，又诚心悔过，还请大祭司网开一面，饶恕电长老，也避免因此事造成不必要的影响。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴咬着牙瞪了电长老半晌，才语气生硬地斥道：“滚！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;(本章完)
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>