<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第247章：教导</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第247章：教导
</div>
<div class="bookname">
	<h1>第247章：教导</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;&quot;第247章：教导<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;静默对视，霍晓荧根本看不见黑衣人的脸，连眼睛都看不见，但能感觉到黑衣人在看着她。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧甩手将那只鬼丢开，说道：“滚，有多远滚多远。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那只鬼头也不回地跑了，霍晓荧问黑衣人：“你是什么人？到底想干什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人答非所问：“你不应该总戴着火行石，你给它的能量太多了，它总是比山伢子强一截，山伢子总也控制不住它，而且它开始依赖你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧皱眉，说道：“我不戴着它，怕被你抓。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人说道：“我要想抓你，你戴着它也没用。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你试试看。”霍晓荧的语气略带挑衅。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人没有答话，退向黑暗中。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧试探着跟进，但黑衣人只在一步之间就消失了，巷子里连个鬼影儿都没有。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧心里直哆嗦，就这么一步的距离，火行石的光线边缘，黑衣人就消失了，她居然都不知道黑衣人是怎么消失的！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧疯跑回饭店，直奔厨房，从后面抱住了正在切菜的山伢子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子停下手，扭着头问道：“咋了？你是在哆嗦吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”霍晓荧点头，说道：“我遇到黑衣人了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啥！”山伢子脱口惊呼，把厨房里的人都吓了一跳。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧皱眉，嗔道：“你能不能遇事儿稳当点儿，老这么一惊一乍的，出去说。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子嗔道：“我还不是因为担心你！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“知道知道，老公最好啦。”霍晓荧双手拉着他，一边倒退着往外走，一边给他陪笑脸儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;从后门出去，到了饭店后巷，霍晓荧把黑衣人的话告诉了山伢子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，黑衣人这是在教他们吗？那干嘛不直接来教啊？这么藏着掖着的啥意思啊？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧把火行石摘下来，山伢子说道：“不行！你要回家，跑这么远的路，你再戴一回。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“我觉得吧……他不会让我有事儿的，至少不会再有事儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问她：“什么意思？什么叫再有事儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧答道：“我不是死了吗？他不是往死里收拾害死我的人吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子恍然点头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧将火行石戴到山伢子脖子上，火行石却突然亮起红光，伸出一条红线缠住了霍晓荧的手腕。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两人同时皱眉，霍晓荧伸手轻抚火行石，哄道：“听话，伢子才是你真正的宿主，你不能总跟着我呀。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子却突然说道：“小莹，会不会是他抓不了你，所以骗你？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧愣住，琢磨了一会儿，反问道：“他还抓我干嘛？我又不去投胎，我跟你都结婚了，而且……我相信他说的话，他要是想抓我，我就是戴着火行石也没用。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子点了点头，心情有些沉重，虽然他跟小莹的法力都有了明显的提升，但还是感觉自己跟砧板上的肉一样，任人宰割。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧伸手解红线，边解边说道：“听话，你都多大岁数儿了？怎么还能像小孩子一样任性呐？快放开我，我还要去接桃花儿呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;火行石的红光突然就熄灭了，那条红线也没有收回去，而是直接碎掉了，碎得像烟花绚烂后的尘屑一样，消散在半空中。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧无奈地叹了口气，火行石这个样子，让她更相信黑衣人说的话了，对山伢子说道：“行了，我走了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧走了，山伢子转身准备回厨房，突然感觉到阴气，山伢子扭头，看到一只鬼出现在巷子深处。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这只鬼穿着板儿正的西装，梳着平整的分头，个子不低，身材匀称，长得很酷，棱角分明。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子转正了身对着他，问道：“有事儿吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;鬼礼貌地微笑，说道：“自我介绍一下，我姓洪，洪水的洪，叫洪拓，开拓的拓，我有个绰号，叫八面鬼。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;火行石亮起了红光，洪拓却保持着微笑，说道：“法师，我不是来挑衅的，我是来跟你谈判的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“怎么谈？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“请问您可以保证史晋不回鬼市吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，呛着说道：“鬼市是你家开的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓微笑着说道：“或许您不习惯这样的谈话方式，没关系，那咱们换一种方式交谈。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;顿了一下，洪拓说道：“我知道史晋的父母是谁，如果史晋还要回去抢地盘儿，而你们又帮他对付我，那我就会对他的父母下手。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“我可以告诉你，我师父不希望史晋再当混混，不过……如果你敢对他的父母下手，我保证让你灰飞烟灭！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓笑，说道：“法师，其实这件事很简单，这是我们鬼之间的问题，他是混混，我也是混混，抢地盘儿而已，谁厉害谁就是老大，如果你们不参与，我也不会去找活人麻烦，其实那样做，对谁都没好处，您说对吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“我只能把你的话转告给史晋，毕竟你们的事儿我不是很清楚，我没法儿跟你保证什么。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓微笑着说道：“我可以跟史晋当面谈，只要您不帮着他阴我就行。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子恍然明白，他说要对史晋是父母下手，是提前打预防针儿，实际上他就是来找史晋的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“可以，跟我来吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“不好意思，我还是在这儿等吧，麻烦您把史晋叫出来，咱们就在这儿谈，如果有什么意外，我逃跑也方便。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱了下眉，不过他这话说得也在理，就答道：“行，那你等会儿，我去叫他。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子去叫史晋，多了个心眼儿，带着史晋从正门出来，绕到后面的小巷，而且是他自己走在前面。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子担心洪拓下绊子，万一他把史晋叫来，洪拓突然对史晋下手，把史晋弄死，然后跑回鬼市一猫，他上哪儿找去？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;看到两人从外面绕过来，洪拓心领神会地笑了，说道：“没想到，以法师您的年纪，做事竟然能如此的滴水不漏，洪某佩服。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，觉得他这话像骂人，就冷淡地说道：“谈吧，抓点儿紧，待会儿我们就要干活儿了。”&quot;
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>