<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第484章：应该学着办事</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第484章：应该学着办事
</div>
<div class="bookname">
	<h1>第484章：应该学着办事</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第484章：应该学着办事<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵梓航摇头，说道：“我没想掐死他，我感觉他是个普通人，是阳气一般人重，但是他不怕我，所以……我想吓唬吓唬他……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嗤笑道：“你倒‘挺’有闲心哈？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵梓航低下头，霍晓荧也没再深说这个问题，实际一个‘女’孩子有意愿主动去招惹一个男人，十有**是心里意这个男人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧问道：“尚亚坤是张铭害死的吗？还是你们俩一起害死的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵梓航连忙摇头，说道：“我没有害人，今天张铭引着一个男生跳了楼，我不知道是不是你们说的那个叫尚亚坤的人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧问道：“她为什么要害尚亚坤？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵梓航答道：“张铭说那个男生长得像她以前的男朋友。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，这可真是倒霉催的，因为长得像某个人，把命给丢了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“张铭跟尚亚坤在哪儿？你为什么在学校里晃‘荡’？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵梓航回答山伢子的问题，尚亚坤死了以后非常愤怒，要打张铭，但没有打过，被张铭用头发捆起来了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尚亚坤说他认识法师，而且是很厉害的法师，于是张铭捆着尚亚坤躲到江里去了，让赵梓航到学校观察动静。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵梓航看到潘小龙进了档案馆，觉得他肯定是想查旧案，想把他吓跑，没想到潘小龙也有法力，还把她给抓住了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧拉住赵梓航的手，微笑着说道：“梓航，帮个小忙，去告诉张铭，说学校一切正常，根本没有法师。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵梓航皱眉说道：“这还不到一天，她不会相信的，她疑心特别重，而且……我不想回去……她现在有那个男生，好不容易把我放出来，我不想再回去了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“赵梓航，尚亚坤是唯一可以证明你没有害他的人，如果不能把尚亚坤救出来，你不能自证清白，我们也不会相信你，那我要把你送去地府。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵梓航一愣，随即脸‘色’发黑地瞪着山伢子，潘小龙抢着说道：“可你也不能证明她害了坤子啊，你不能因为你法力高冤枉人呐！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧眼神不善地看着潘小龙，斥道：“那这事儿你自己办好了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“自己办自己办！”潘小龙站起来大声说道：“我去找张铭的档案，我不信我治不了她！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完大步走向‘门’口，赵梓航问道：“你找档案想干嘛？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙停步回身，看着她答道：“找她生日，家庭住址，最好能知道她的骨灰在哪儿，我要拘她的魂。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵梓航说道：“我知道她的骨灰在哪儿，她带我去看过。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙眸子一亮，说道：“那你带我去找她的骨灰。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵梓航皱眉，迟疑着说道：“你能打过她吗？她我厉害得多。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙瞪眼斥道：“什么话！我咋收拾你的？这么快忘了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵梓航嗔恼地瞪他，潘小龙走过来拉住她的手，说道：“跟我走！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子站起来说道：“我陪你去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不用！”潘小龙梗着脖子拒绝：“我也跟师父学了五年了，我自己能办！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，霍晓荧说道：“自己能办自己办吧，有事儿打电话啊，好走不送。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙冷哼一声，拉着赵梓航走了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看着霍晓荧说道：“这事儿恐怕不像赵梓航说得这么简单，首先……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你不用说。”霍晓荧打断他，说道：“我明白，一个五年的水鬼，在水边把人拖下水很容易，但想勾着活人跳楼却很难。要么是赵梓航隐瞒实情，要么是赵梓航不知实情。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉看着她，既然知道事情不简单，为什么还让潘小龙意气用事？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“他算是你儿子，也总要自己学着办事，你放心吧，我跟洪拓跟着他，没意外我们不‘露’面儿了，要是有意外，至少能保他不死。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“姐，你注意赵梓航，我总觉得她有所隐瞒。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧答应：“我知道，我走了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧走了，古芊芊对山伢子说道：“这事儿你别掺和，潘小龙喜欢赵梓航，可能想娶她做冥妻，无论最后的结果是什么，都让潘小龙自己做主。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子愕然看着古芊芊，问道：“那要是赵梓航也有份害死尚亚坤呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“所以我让你别跟着掺和呀，让潘小龙自己做主。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，说道：“鬼要是害了人……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“想想姌姨。”古芊芊直接打断了他，说道：“你不是判官，你是个厨子，去值班儿去吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子恍然忆起，媚姌曾经害人无数，差点儿连师父都被她‘弄’死，但师爷还是保住了姌姨，或许是慈悲，或许仅仅是因为看着顺眼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙拉着赵梓航出了饭店，大步向学校方向走，走到光线偏暗的地方，突然感觉手一空，再回头时，赵梓航不见了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙皱眉，刚要骂脏话，肩膀被人拍了一下，一回头，赵梓航一个大嘴巴扇过来，打得潘小龙转了个圈儿，两眼一阵发黑，听到赵梓航嗔道：“让你掐我！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙捂着脸低声说道：“有种你现身。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;话音刚落，突然‘裤’裆一紧，赵梓航现身出来，跟他脸对脸，手捏着他下体那个东西，凶巴巴地说道：“让你掐我。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙额头渗出了冷汗，说道：“轻点儿，我这个跟你那个不一样，捏坏了没法儿用了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“呸。”赵梓航啐他，说道：“你保证，以后不许欺负我。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙吸着气说道：“我都看不见你，咋欺负你呀？别捏了！再捏爆了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哼！”赵梓航松开手退了一步。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙捂着裆跳了两下，说道：“你不是处儿了吧？居然好意思抓这里。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵梓航又一个大嘴巴扇过来，斥道：“嘴怎么这么贱！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“‘操’！”潘小龙捂住了脸。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵梓航又踢了他小‘腿’一脚，嗔道：“嘴干净点儿！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙嚷道：“你管我？你是我啥人？”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>