<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第426章：人与鬼同</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第426章：人与鬼同
</div>
<div class="bookname">
	<h1>第426章：人与鬼同</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第426章：人与鬼同<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四沉默，潘小龙的身份确实有点儿尴尬，即不算外人，也不算自家人，而且潘小龙的资质太差，其实练与不练，没什么太大的分别，与其耗费几十年苦心，不如把有限的时间用来干点儿更实际的事情。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“先不要告诉小龙了，咱们先练着吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好。”山伢子点头，说道：“我去叫洪拓来教师父和师娘，我说不明白。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好。”徐四笑着点头，明白山伢子的心思，其实一套功法有什么说不明白的，山伢子所顾虑的，无非是徒弟不能反过来教师父而已。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子去叫了洪拓，然后下楼去转悠，八点来钟的时候，秦润之和秦瑶来了，一进门，秦瑶就向山伢子扑过来，喊道：“大哥哥！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子笑，伸出手，但秦瑶却抱住了山伢子的双腿，扬着脸看着山伢子，说道：“大哥哥，我要走了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子微一皱眉，看向秦润之，秦润之说道：“我要带瑶瑶去国外，我在X国买了个酒庄。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子点头，轻轻推开秦瑶，蹲下来看着她，微笑着说道：“大哥哥不能去送你了，预祝你一路顺风。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦瑶撅起了嘴，眼中有了泪光，说道：“我以后见不着大哥哥了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子笑，直接转了话题，问道：“今天想吃什么？大哥哥给你做，然后陪着你吃。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯！”秦瑶用力点头，说道：“我想吃一道能永远记住大哥哥的菜。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子心里一动，微笑着答道：“好，你跟爷爷先坐，大哥哥去做菜。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;回到厨房，山伢子沉思了一会儿，择取食材，开始改刀。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧走了进来，站在旁边看了一会儿，问道：“奈何忘归？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”山伢子点头，说道：“能让鬼放下执念，也应该能让人放下执念。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“她还是个孩子，出国待上两年，就什么都忘了，这道菜做给一个孩子吃，不怕吃出毛病啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子扭头看她，霍晓荧说道：“史晋告诉我的，他听到瑶瑶跟你说的话，看出你神色有异，让我来看看。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子笑了笑，说道：“只是放安魂烫，不会加入法力，即使不管用，也不会吃坏身体，瑶瑶还是有些气虚，安魂汤还可以用。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嗤笑一声，摇了摇头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看她一眼，问道：“咋了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧靠着他的肩头说道：“想起第一次见到你，你跟个土猴儿似的，没想到现在这么招人待见。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子亲了她一下，调侃道：“高兴吧，说明你很有眼光。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嗤笑一声，说道：“丹丹刚才打电话，说今天扎纸店的生意特别好，她跟邢宽都觉得有点儿奇怪。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“生意好……有啥奇怪的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“年过了，清明还早，又没有发生什么疫情，几十个人买烧纸，不奇怪吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“几十个人？”山伢子一愣，他是从钱上理解生意好，以为今天又来了个像王星那样的大户，万没想到是几十个人来买烧纸，这是有点儿奇怪了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧看着他点头，又补充道：“而且都是上岁数的人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，问道：“上岁数的人咋了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嗔道：“又不动脑子了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“我这不是手里有活儿嘛，你想透了就跟我说呗，又不是教孩子，还非得我自己想。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧笑，说道：“上岁数的人，有可能是烧给父母，也有可能是烧给孩子，而且他们怎么会集中来咱们店里买烧纸？咱这个店年前才开张的，也没打过广告，有点儿邪性吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子点了点头，霍晓荧又说道：“我跟邢宽把方圆一公里都检查过了，没有发现异常情况，暂时只能认为是凑巧了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子沉默着做菜，因为他想不明白，买烧纸撮什么堆儿？是有人捣乱吗？这东西又不存在什么质量问题，难道还能假一赔十吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;想不通，先做菜，瑶瑶还等着呐。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;做好了菜，端上去，山伢子坐在旁边看着秦瑶吃，秦瑶一开始还总是看山伢子，但是吃了两个菜包以后，秦瑶看山伢子的眼神就发生了变化。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子站起来说道：“瑶瑶慢慢吃，我去忙了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好。”秦瑶点头答应，很有礼貌地说道：“谢谢大哥哥，大哥哥再见。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦润之一愣，他在国外买酒庄，要带秦瑶出国，有很大一部分原因，是秦润之知道秦瑶喜欢山伢子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这么大岁数的过来人，怎么会不明白孩子的心情，如果山伢子没有媳妇儿，秦润之不介意他比秦瑶大一轮。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但问题是，这么优秀的人，怎么可能没媳妇儿？就算暂时没媳妇儿，多少人等着往上扑呐，哪有时间等秦瑶长大？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可山伢子对秦瑶有救命之恩，秦瑶只要还在莫林，就肯定会经常闹着来吃饭，所以秦润之要带秦瑶出国。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;因为时间可以磨灭热情，时间可以尘封记忆，时间可以改变心绪。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只是秦润之没有想到，秦瑶在家哭了整整一个年，而今晚吃了几口菜之后，明显对山伢子没兴趣了，这个有点儿太神奇了吧？别是下了什么药，把他孙女给吃傻了吧？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦润之不放心，跟着山伢子走开了些，轻声说道：“石先生，您知道，瑶瑶喜欢您，可她……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦润之顿住，因为不知道怎么说才合适。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“您放心吧，我没给瑶瑶下药，那道菜的名字叫奈何忘归，可以让人和鬼都放下执念，喜欢与爱，其实都是执念。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦润之一惊问道：“那她不会连我这个爷爷都不认了吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子失笑，答道：“不会的，极其强烈的情感才会成为执念，而且菜的功效也不可能像电影里的忘情水一样，喝下去人就成傻子了。瑶瑶只是对我没那么大的性趣了，并不是不认识我啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦……”秦润之恍然点头，问道：“那就是说，也可以不带瑶瑶出国了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“您还是带她走的好。”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>