<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第181章：青出于蓝2</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第181章：青出于蓝2
</div>
<div class="bookname">
	<h1>第181章：青出于蓝2</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第181章：青出于蓝2<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四的沉静如水，让图黛玉特别难受，而且不知道怎么收场。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果徐四接着跟他斗火儿，那无论输赢，图黛玉至少要跟徐四打一场。可徐四不跟他斗火儿了，那人家的徒弟打赢了，图黛玉还有啥话说？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徒弟打输了师父上？那是打人家徒弟呀？还是打人家师父？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;打徒弟掉价，打师父没资格，所以图黛玉卡在这儿了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四也知道图黛玉卡在这儿了，平静地说道：“图大师，对不住了，小孩子下手没轻重，是我管教不严，您多担待，我们要找八卦镜了，您行个方便吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;图黛玉攥紧了拳头，这种事儿不怕顶着干，所谓同行儿是冤家，顶着干反倒更痛快，不是你死就是我亡，活着的人是赢家。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可徐四不顶着干，而是退了一步，让了三分，图黛玉要是再顶着，那就成了他没素质，没气量，没里没面儿，没脸没皮了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;图黛玉回身，看到许三丈爬了起来，岳松山也上了岸，图黛玉冷哼一声，骂道：“没用的东西！丢人现眼！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完转身就走，许三丈和岳松山都用怨毒的眼神儿瞪了山伢子一眼，跟着图黛玉走了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子还在揉左脸，张小莹看到图黛玉一伙儿人走了，赶紧伸手给山伢子揉，边揉边问道：“疼不疼啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“疼。”山伢子有点儿委屈。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹俯下身，在他脸上亲了一口，笑眯眯地说道：“好了，不疼了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子扁着嘴说道：“还疼，再亲一口。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁说道：“干啥呐？撒娇儿呐？赶紧起来找八卦镜！要亲要啃回家再说。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四目送着图黛玉三人，见他们走到路边儿，上了一辆挺高级的小轿车开走了，徐四心里很清楚，这件事不算完，图黛玉还得找麻烦。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说找麻烦都是客气的，没准儿都得你死我亡地斗一场！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子站起来，拿出画好的追灵符，看徐四。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“你来吧，徒弟本来就应该比师父强，要是一代不如一代，技艺怎么发扬光大，师门怎么声名远播。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子答应一声，转过身面对着江面，祭起了追灵符，当追灵符飞向水面之时，张小莹倏然跟了过去，跃入了江水中。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;远处，屈长寿放下了望远镜，转身对韩慕灵说道：“我是真没想到石庆山会这么冲动，我教他追灵符和招灵符的用法，真的是出于一片好心。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵说道：“屈老，您误会了，我对石庆山只是感激，没有别的，我请您来，仅仅是怕他们师徒撑不住，希望您老能从中调解，但现在看来，石庆山的本事超出我的想像。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈长寿微笑着点头，说道：“是啊，石庆山的潜力还是很大的，否则火行石也不会选择他。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵说道：“辛苦您了，咱们走吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈长寿点头，边走边说道：“老图这个人心眼儿不大，这件事恐怕只是刚开了个头儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵回应道：“双方已经势成水火，想调解恐怕也不太可能了，静观其变吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈长寿问道：“芊芊怎么没来？小孩子像她这么不喜欢凑热闹的可挺少见的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵浅笑了一下，答道：“在家练功呐，说练好了功夫，将来能给石庆山帮忙儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈长寿呵呵一笑，说道：“这丫头倒是挺有心的，慕灵，你相中谁了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵答道：“芊芊还小，说这话还早，过两年再说吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈长寿又说道：“我们家彦锋虽然比芊芊大三岁，不过还没有女朋友，是不是找个机会让他们俩认识一下？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵微微一怔，看着屈长寿问道：“彦锋回国了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈长寿答道：“前天回来的，说是想家了，而且碰到点儿事儿，回来找我问问，要在家待一段儿时间。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”韩慕灵微笑着答应，却没有说别的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈长寿又说道：“既然芊芊打算开始修炼了，用不用我教啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵微笑着答道：“那敢情好，您老能给芊芊开蒙，她会少走很多弯路。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈长寿说道：“那明天我让敬龙去接芊芊，到我家住上一段时间，反正芊芊不是已经考完了嘛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵浅笑了一下，点头答道：“是考完了，那就辛苦屈老了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹用了将近半个小时，把八卦镜捞了出来，徐四说道：“给伢子吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;转而对山伢子说道：“从今天起，八卦镜就传给你了，明天开始，我教你八卦镜的用法。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看张小莹，他觉得师父心气儿散了，可又不敢说，怕自己说错话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹把八卦镜放到山伢子手里，说道：“发什么傻？干爹不是说了嘛，徒弟就应该比师父强。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子答应，又看了徐四一眼，把八卦镜装进兜儿里。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵回到家，一下车，古芊芊就跑了过来，问道：“怎么样？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵答道：“还好，山伢子的实力超出了我的想像，但麻烦还没有彻底解决。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊问道：“手机可以还我了吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵答道：“可以，不过明天你要去屈家，屈老会教你法术，在你开学之前，你没有时间出去玩儿了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”古芊芊有点儿不情愿，但也知道不能拒绝，毕竟是她自己要求学的，眼下来讲，屈长寿是最好最合适的老师。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵又说道：“屈彦锋回来了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊眨了眨眼睛，问道：“他回来跟我有什么关系？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵答道：“屈老希望你跟他有关系。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊张大了眼睛，问道：“这是教我法术的条件吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵皱眉道：“当然不是！我怎么可能答应这种条件？我就是告诉你一声儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”古芊芊答应，说道：“手机还我。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵嗤道：“养活孩子有什么用？翅膀还没长硬呐，心就飞到别人那儿去了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊争辩道：“什么呀，现在是网络信息时代，你把我手机没收了，我都快无聊死了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵嗤笑一声，转身向房门走，突然说道：“对了，今天我看到张小莹亲了石庆山一下，不过是亲在脸上。”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>