<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第535章：没有参照物</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第535章：没有参照物
</div>
<div class="bookname">
	<h1>第535章：没有参照物</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第535章：没有参照物<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“借运的法术咱们没人懂，我师弟也不太懂，咱们都是半懂半猜，反正对方是这么做了，肯定有这样做的道理。!”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子点头，说道：“你不用陪着我了，我这儿没事儿，对方既然报了警，是想把我困在这儿，你回去查一下邢洁岚。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“伢子。”洪拓看着他说道：“我觉得对方是在警告你，让你不要再多管闲事。既然高建峰已经死了，魂也灭了，而对方没来找你，只是报了警，这件事应该到此为止了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一愣，洪拓又说道：“你想想，高建峰都没了，你还查邢洁岚干什么？你还找施术的人干什么？你还能为高建峰争回什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子恍然点头，答道：“我明白了，你回去吧，我在这儿待两天儿，配合警方调查。不过……还是让唐召义守着芊芊和晓荧，等我回去再说。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好。”洪拓点头答应，说道：“那我回去了，有事儿打电话。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓回到家，说了山伢子的决定，古芊芊掉起了脸子。过分的爱护等同于羞辱，她这么废物吗？时时刻刻得要人保护着？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义自然是难掩惊喜之‘色’，虽然不敢笑，但眼神情态无一不是欣喜若狂。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧搂着古芊芊哄道：“又矫情？伢子也不光说你呀，还有我呐，他是让唐召义保护咱们俩呀。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嗤道：“他能！我也是宿主好吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧笑，说道：“合着我不是霍家嫡传？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃‘花’儿诧异道：“为这掉脸子呀？你可真行！越惯越矫情，我哥对你多好呀，含在嘴里怕化了，捧在手里怕摔了，你还不领情？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嗔道：“我又不是孩子！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃‘花’儿说道：“那你会啥？你像我哥那样冲个灵给我看看。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“去去去。”霍晓荧说桃‘花’儿：“别添‘乱’。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃‘花’儿嘟着嘴嗤了一声。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊还是掉着脸子，这样不是个事儿，她也是宿主，怎么能像个废物一样？更何况她还是克山伢子的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;倒不是要跟自己老公争竞什么，但也不能总这样吧？不能冲锋陷阵没关系，可也不能拖后‘腿’呀。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊问霍晓荧：“姐，你说为什么我进不去无名观的结界？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧眨了眨眼睛，反问道：“你觉得你进了无名观能变厉害是吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯！”古芊芊郑重的点头，说道：“我觉得，如果我真是素雪转世，那我的法力应该没有觉醒。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧皱眉，洪拓说道：“有这个可能。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧瞪洪拓，嗔道：“捣什么‘乱’？无名观里有干尸！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义附和道：“是，捣什么‘乱’！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃‘花’儿嗔道：“你才捣‘乱’！谁不知道你那点儿心思？我小嫂一旦厉害了，以后用不着你了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉，霍晓荧说道：“话也不能这么说，唐侯爷怎么说也是五百年的老鬼，咋都能用得着。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是！”唐召义对桃‘花’儿说道：“好歹我你岁数大，法力高吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃‘花’儿白了他一眼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓笑着说道：“我也没有鼓励芊芊现在去无名观，只是赞同芊芊的想法儿而已，咱们有一个算一个，没有伢子更厉害的，连他都差点儿在无名观丢了命，咱们更没戏。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧接口对古芊芊说道：“是，这事儿再说吧，不管你高兴不高兴，要进无名观，还是得靠伢子打头阵，他现在连一个干尸都打不过，你想‘逼’着他去送死啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嗔道：“我哪有那么说！你不要挑事儿！你这个恶毒的大老婆！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哎呀~你敢这么跟我说话？”霍晓荧咯吱她，两人嘻嘻哈哈地闹了起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;傍晚时分，邢洁岚接到了奉元市警方的电话，告诉她高建峰死亡的消息，问她是否愿意去一趟奉元市认领尸体，因为她是唯一可以联系的人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢洁岚答应了，说第二天坐飞机过去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;挂断了电话，颜‘玉’微笑着说道：“给他收尸入殓，也算仁至义尽了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢洁岚没说话，跟异类无法沟通，它们不懂人类的感情。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;入夜，山伢子在睡梦再次听到有人唤他的名字，空旷而纤细，不是欧阳垚的声音。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子睁开眼，发现自己站在一片旷野之，天不见日月星辰，地是无边无际的绿草，没有山水树木。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，什么参照物都没有，根本辨不清方向，这是什么情况？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;等了一会儿，什么都没有发生，山伢子开始转着圈儿看，大声问道：“谁呀？出来呀！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;没有人回应，山伢子的声音也显得很空旷。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;又等了一会儿，山伢子迈步向前走，人在无聊的时候都会选择无目的‘性’的溜达。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是刚走了两步，山伢子猛然警觉，他想起了黑旗刀阵，梦杀术都应该有一个源点，如果离开了源点，恐怕算不被梦的东西杀掉，也很难再离开梦境，尤其像这种一望无际的草原，连个参照物都没有，更是有去无回！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子退回原处，他突然醒悟，有人将他唤醒，却不再搭理他，是为了让他自己远离源点。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“妈X的！”山伢子骂了一句，盘膝坐下，又骂道：“‘操’！有点儿智商都用在害人了，什么‘鸡’X玩意儿！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子闭眼睛练功，但心绪有些烦‘乱’，忍不住又吼道：“我不离开源点！王八犊子！我看你能把我咋地！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;还是没人回应，却感觉到了力场震动，山伢子睁开眼睛，骇然看到无名观的干尸向他走了过来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子心头一颤，跳起来想跑，但还是刚跑出两步立刻醒悟，这是梦的幻象，不可能是真的无名观干尸。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子转回身又走回到源点，警惕地瞪着干尸，虽然这是幻象，但也不能掉以轻心，像黑旗刀阵一样，这是会要命的！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而且，山伢子现在可以确定，这次入梦的人应该是素茗，因为欧阳垚不太可能知道无名观干尸，否则凭欧阳垚的本事，他应该活不到现在。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;的小说站！
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>