<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第339章：争位</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第339章：争位
</div>
<div class="bookname">
	<h1>第339章：争位</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;&quot;第339章：争位<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震乾嘿嘿冷笑，不紧不慢地说道：“听说韩慕灵美艳无双，虽然已晋不惑之年，但看起来却依然青春靓丽……震西，你不会是见色起意……嘿嘿……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震坤帮腔儿道：“震西好这口儿，要不然也不会在外面弄个儿子出来，还把相好儿跟别人生的儿子也带进门来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震西脸色阴沉地说道：“两位堂兄知道自己在说什么吗？说我好色我承认，暗指我谋害父亲？这样的罪名也能随便安的吗？我若有心谋害父亲，还能让你们活着说我的风凉话？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两人脸色一变，莫泓英说道：“你们都不小了，也都是有家室的人，这种无聊的玩笑就不要开了，免得伤了自家人的和气。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;三人都沉着脸，莫小北问道：“大伯，我二哥的话能不能做数儿？是不是谁能拿回火行石，谁就做掌门？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震东抢着说道：“胡闹！我是长子，父位子承，我才是掌门！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震乾说道：“不错，父位子承，掌门之位是我爸让给二叔的，我才是真正的长子，且轮不到你呐！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震东冷哼一声，说道：“什么让不让的，掌门之位，向来是有能者居之。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震西说道：“那就比武吧，谁赢了谁做掌门。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫小北说道：“那不公平，你们都比我岁数大，练功的年头儿比我多！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震南始终没吭声儿，只是坐在那儿喝茶，眼观鼻，鼻观口，口观心，一副超然世外的样子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫泓英看着他问道：“震南，你怎么不说话？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震南答道：“我没什么可说的，不管是论长幼，还是论法力武功，我都做不了掌门，我就是听听，你们商量就行了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫泓英又问道：“你对火行石怎么看？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震南笑了笑，答道：“大伯，几百上千年的事，谁能说得准呐，再说了，那个石庆山虽然没什么背景，可谁又能肯定的说，他就一定不是孙家的后人？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震东斥问道：“你这话是什么意思？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震南笑着说道：“大哥，何必这么激动呐？咱们这不是商量呐吗？我说句话你就这样，那还让不让我说了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震东皱眉，莫泓英说道：“震南说得有道理，几百年的传承，姻亲无数，说不定那个石庆山的祖上跟孙家联过姻。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震东说道：“那个石有财不是说了嘛，火行石是他捡的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震南说道：“大哥，捡不捡的不重要，重要的是火行石认了主。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震西看着莫震南问道：“那你的意思是，不要火行石了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震南笑，答道：“二哥，我的意思重要吗？我的意思如果重要，也就没这事儿了，咱爸也就不会死了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所有人都沉默，莫震南又说道：“从一开始，我就说这件事要慎重，虽然那个石庆山没有背景，可他毕竟已经是火行石的宿主，我就说应该查查他现在的人际关系，不要急着找上门去，结果呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震南站了起来，说道：“我还约了人喝茶打牌，我先走了，你们商量出结果，告诉我一声就行了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;客厅里又一次陷入了沉寂。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震南出门上了车，刚打着火儿，车头前出现一个人，黑衣黑帽黑口罩。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震南看着黑衣人，见黑衣人不动弹，就按下车窗，说道：“朋友，有什么事吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人用沙哑低沉的声音答道：“想跟你聊聊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震南笑了笑，说道：“行啊，上来吧，咱们找个地方喝两杯。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人拉开副驾的门坐上来，说道：“不麻烦了，你该去哪儿就去哪儿，我就说几句话，说完你就把我放下。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好。”莫震南系上安全带，开动车子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人问道：“你想当掌门吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震南微笑着答道：“我排行老三，人又懒，武功法力还不及我大哥，更没法跟我二哥比，兴许再过几年，我小妹都会超过我了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人说道：“掌门不是杀手，当掌门靠的是脑子。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震南笑，问道：“我当掌门，对阁下有什么好处？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人答道：“暂时没有。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震南又问：“那有什么条件？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人答道：“抢火行石。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震南微一皱眉，扭头看了黑衣人一眼，转回头问道：“你知道韩慕灵吗？她可是金诀掌的掌门人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人说道：“抢东西并不一定非得动用武力，往往用脑子才更稳妥。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震南沉默了一会儿，问道：“我能问问，阁下是什么人吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人说道：“仙茗山无名观，占地不过四五亩，月圆方见路，风起无踪影，门上一块匾，匾上无字，两侧一副联，上联写，天地无名，包容三界。下联书，阴阳无名，生发万物。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震南靠边停车，扭头看着黑衣人问道：“你也是仙茗山弟子？你是哪一行的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“本为一门，何分五行？”黑衣人推开车门，下车走了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫思哲跟荆少华找了家ktv，叫了两个公主，要了两打儿啤酒加一个大果盘儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两人心里都很憋屈，不光是因为事儿没办成，家族开会也不让他们参加，说他们是外人，没资格。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;荆少华就不说了，实打实的外人，可莫思哲毕竟是莫震西的儿子，虽然是私生子，但终归是血脉相承。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;包间的门推开，黑衣人端着果盘走了进来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫思哲一皱眉，问道：“这是你们的新工服吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人将果盘放到茶几上，在沙发的另一端坐下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫思哲坐直了身子，看着黑衣人问道：“你是什么人？知道我是谁吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人用沙哑的声音答道：“知道，你是莫震西的私生子，连家族会议都没资格参加，只能在这里喝酒撒气。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫思哲咬牙，攥紧了拳头，荆少华也跟着怒视黑衣人，但两人心里还是有数儿的，知道对方敢找上门来叫板，肯定是有备而来，所以轻易不能动手。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫思哲问道：“你是什么人？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人答道：“我是什么人不重要，我就是来问问你们，想不想找回面子？”&quot;
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>