<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第193章：报应</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第193章：报应
</div>
<div class="bookname">
	<h1>第193章：报应</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;&quot;第193章：报应<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你！”潘小龙指着山伢子，一脸凶恶地说道：“就是你，说得就是你，你有仨媳妇儿，你不是人！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子懒得理他，转身离开，先给张小莹发了个短信，告诉她吴大壮到医院来了，然后插上耳机，把手机托在手里，问吴大壮：“你咋想的？我说没说过，不让你祸害活人？你不但不听，还更厉害了，你故意的是吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;戴耳机装着打电话这招儿，还是跟古芊芊学的，有一回古芊芊用手机听歌儿，正听着，有人给她打电话，古芊芊直接用耳机就接了电话，山伢子才想到这个主意。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;小护士推着护理车从山伢子身边儿走过，自言自语的说道：“还以为什么重要的事儿呐，不就是打个电话嘛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，现在的人都啥毛病，不说别人两句心难受是咋的？就不怕祸从口出，招惹是非吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吴大壮瞪着山伢子说道：“我就是咽不下这口气！我也没把他咋着，你把我抓起来圈了好几天，好不容易放出来了，你媳妇儿还对我又打又骂的，我不服！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子刚要说话，吴大壮又抢着说道：“你们也不是什么好玩意儿，逮不着死人就欺负活人，我来了，你要咋着就咋着，但你们别再去欺负我闺女，当心遭雷劈！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，按照潘小龙的计划，只是装成看见吴大壮，然后让吴桂花说出吴大壮的骨灰在哪儿，怎么就是欺负呐？潘小龙干啥了？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问吴大壮：“怎么欺负你闺女了？是打人了还是骂人了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吴大壮说道：“那小子装着能看见我，把我闺女都吓哭了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子心里陡然蹿起一股火儿，家里还一堆事儿呐，跑这么老远，听这个老鬼说这些屁话！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子转身喊道：“潘小龙！把伞给我拿来！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你小点儿声！”又是刚才那个小护士，还是推着护理车，瞪着山伢子，用手指着走廊上挂的牌子说道：“肃静！这是医院！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子瞪着她怼道：“你声儿也不小！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;小护士推着护理车往前走，一路走一路扭着头瞪山伢子，直到脖子实在扭不过来了，才转回头去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙拿着八卦伞过来，递给山伢子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吴大壮气哼哼地说道：“收吧，碰到你们，我算是倒了八辈子血霉了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子也懒得跟他掰扯，四下看了看没人，直接把吴大壮收进了八卦伞里。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙问道：“完事儿了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯”山伢子点头答应，夹着八卦伞，把耳机和手机整理好装起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙又问：“你没问问他，他为啥这牛逼的，你都警告过他了，他还敢祸害尚亚坤。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“他说咽不下这口气。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“他还咽不下这口气？”潘小龙说道：“你就是嘴笨，你……别在这儿说了，等回去的，我跟他好好儿掰扯掰扯。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刚说完，潘小龙手机响了，是尚亚坤的父亲，一接起来，尚亚坤的父亲就问道：“小龙，你在哪儿呐？我在市场找你一圈儿了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙赶紧说道：“我回医院了，对不住啊叔儿，我把您给忘了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尚亚坤的父亲说道：“没事儿，我这就回去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;挂断了电话，潘小龙问山伢子：“订回去的票吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子刚要点头答应，就看见护士推着一个轮床过来，山伢子往旁边儿躲了一下，发现潘小龙没动地儿，就说道：“小龙哥，往边儿上点儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙像没听见一样，眼睛跟着轮床转，等轮床推过去，潘小龙才目光呆滞地看着山伢子说道：“吴桂花。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一愣，刚才他只是扫了一眼，轮床上躺着个人，戴着氧气面罩，吊着点滴，没想到是吴桂花，问道：“她咋这样儿了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我哪知道！”潘小龙声音发颤，撇下山伢子向轮床追去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹走了过来，样子有些疲惫，山伢子问道：“咋了这是？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹拉着他靠在窗台上，然后自己坐到窗台上，靠着他说道：“我跟着吴桂花，可没想到，刚跑出市场，她就让车给撞了，我一直在救她，幸亏你把火行石给我戴着。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，问道：“胳膊腿儿啥的没事儿吧？吴大壮说她自己带着个孩子。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹答道：“胳膊腿儿倒是没事儿，撞着腰了，少说也得在医院躺仨月。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子面色晦暗，张小莹说道：“你别瞎琢磨，我跟你说，这是她家的报应，要不是吴大壮一门儿心思害人，也就没这事儿了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子叹了口气，话虽然是这么说，但毕竟是因为他们才把吴桂花吓得乱跑，要是不乱跑，也就不会让车撞着了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;过了一会儿，潘小龙急火火地回来，瞪着山伢子问道：“小莹呐？我刚想起来，她跟着吴桂花来着。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹说道：“我在呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙嚷道：“你咋整的？咋还让车给她撞了呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹也嚷道：“你穷叫唤啥？她自己跟疯了一样跑，关我屁事！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙抓着山伢子的胳膊，眼神惊慌地看着山伢子问道：“是我吓得不？这事儿怪我不？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，张小莹说道：“不怪你，这是她家的报应，吴大壮要是不害人，也就没这事儿了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙缓了口气，松开了山伢子的胳膊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱着眉头想了一会儿，说道：“我想不通，自己的爹有啥可害怕的？又没亲眼看见，至于吓得跟疯了似的跑吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹眨了眨眼睛，说道：“女人胆子小嘛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子缓缓摇头，又说道：“吴大壮跟我说，他在祸害尚亚坤之前本来是要走的，是因为吴桂花不能给尚亚坤家送菜了，吴大壮才没走。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹问道：“你想说啥呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“吴大壮说他是喝卤水死的，这是自杀吧？自杀的人可以马上去投胎吗？好像没这规矩吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙说道：“别琢磨破案的事儿了，咱赶紧订票回去吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说着掏出手机要订票，山伢子说道：“不能走，不管咋说，这事儿都跟咱们有关系，她一个女人带着一个半大孩子，现在出了这样的事儿，咱不能一拍屁股就走人。”&quot;
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>