<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第753章：先商量</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第753章：先商量
</div>
<div class="bookname">
	<h1>第753章：先商量</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第753章：先商量 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊？”花梦容站了起来，问道：“被谁吃了？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚影答道：“说是一个男人，属下派人跟着三号山精去抓了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉想了一下，说道：“今晚是绣娘的洞房花烛夜，除非有人打上门来，否则不能打扰夫君。媚影，你去门口等着，抓来了把人绑在观门外面，把嘴堵上，派人看守，明天再说。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚影应道：“是。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧皱眉问道：“一只山精而已，至于吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“能吃掉山精，绝不会是凡人，既然不是凡人，就该清楚，仙茗山一草一木皆为无名观所有，他今天吃了一只山精你不管他，明天他就敢来拆你的门，捣你的灶！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧叹气，说道：“怎么修仙比当凡人还麻烦。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“当凡人有警察保护你的合法权益，修仙就只能靠自己，谁让夫君当初为了你重入轮回呐。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧斥道：“放屁！明明是为了你，把好好儿的一个无名观给拆散了！他要是不留下五行石，至于这样吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚影尴尬地低声说道：“属下告退。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容拉着安婧说道：“困了，拍拍倒倒。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧站起来轻声嗔道：“你怎么总跟个小孩儿似的，我比你还小呐。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯~”花梦容抱着她的胳膊，扯着她走了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊笑，搂住霍晓荧的胳膊撒娇道：“人家也要拍拍倒倒。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧白了她一眼，伸手戳她额头，斥道：“别总想把这个屎盆子扣我脑袋上，自己顶着吧！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;第二天早晨，李绣娘换下了嫁衣，穿上了霍晓荧给她买的便服，满脸幸福地服侍山伢子洗漱。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子心里有些愧疚，他跟李绣娘圆房，是想在不写婚书的前提下，尽快消解李绣娘的怨气，然后送她去投胎。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李绣娘是一个温柔顺从的女人，真不知道造了什么孽，才会有这样的因果报应。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洗漱完拉开门，看到惜音站在门外，山伢子愕然问道：“你什么时候来的？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;惜音答道：“睡醒就来了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子尴尬地干咳了一声，低头凑近她耳边轻声说道：“以后不用来，有事儿我就叫你了，那个……” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子有点儿说不出口，惜音答道：“属下明白，其实今天是有事，十号山精被人吃了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啥？”山伢子瞪圆了眼睛，好不容易有个长脑子的山精，居然让人给吃了，皱眉问道：“谁吃的？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;惜音答道：“一个外人，绑在观门外面呐，就等……” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不等惜音把话说完，山伢子已经向前院走去，惜音赶紧跟着他，李绣娘慌着跑到古芊芊门口，轻拍房门说道：“夫人，相公去前院了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子怒气冲冲地走到一半，突然停了下来，惜音差点儿撞他身上。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子缓了缓，他又冲动了，昨天自己刚说的，很多人的祸福甚至性命都掌握在他手里，今天一听十号山精被吃了，立刻就想冲出去打人，这样不行，咋也得先跟古芊芊商量一下。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;惜音问道：“观主？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子转回身问道：“什么情况？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;惜音答道：“夫人说昨夜是李夫人洞房花烛，不宜搅扰，命人将那个外人绑在了观门外，堵了嘴令其不得出声。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“绑一宿了？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;惜音答道：“是。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“回去，先跟芊芊商量一下。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊没想到山伢子起这么早，一般就算醒了，也还得再折腾一回，看来山伢子是真不喜欢李绣娘。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧在另一个屋里把花梦容揪起来，花梦容一脸烦躁地嚷道：“干嘛呀？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧说道：“伢子起来了，你忘了，昨天晚上还绑了一个人呐。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容嗔道：“关我屁事？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完又倒下，片刻后猛然坐起来问道：“几点了？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧答道：“七点多点儿。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容愕然说道：“怎么起这么早？他跟我一块儿睡时，醒了还得再折腾我一回呐。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧轻声说道：“别说这种话，让绣娘听见不好，快起来。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子进了古芊芊的房间，问道：“这事儿怎么整合适？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊反问道：“你怎么想的？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“我很生气，好不容易有个长脑子的山精，一天不到就被吃了，我想打人。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊问道：“你生气，只是因为十号山精有脑子？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子怔了怔，想了一下才说道：“仙茗山一草一木都归无名观所有，十号山精是我的属下，而且它吃过灵血，跟别的山精不同，那人不吃别的山精，专吃它，也应该是因为它跟别的山精不同。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“既然明显不同，又是人家山中的灵物，他想吃就吃，根本就是没把无名观放在眼里。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看着她说道：“我不知道什么尺度合适，也不知道应该按什么程序办。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“他能吃山精，肯定不是普通人，如果说程序，那就是先问他的师门，然后派人去他的师门送帖子，让他的师长来领人，并且要当面教训他一顿，让他长记性。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“那要是对方不好说话呐？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“夫君，不必顾虑太多，你昨天那股子豪迈劲儿挺好的。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，问道：“不是应该以理服人，以德服人吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊失笑，问他：“你听谁说的？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“电视里都这么演的啊。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊咯咯地笑出声来，说道：“艺术嘛，来源于生活而高于生活，修仙界跟人世间的武林差不多，通常都是谁厉害谁当老大，至于什么以理服人，以德服人的方式，要等到有一定的威望和实力后才管用，像咱们现在这样，咱们想以理服人，就怕人家不跟咱们讲理。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子点头，说道：“先把这件事处理了，然后你得好好儿给我讲讲怎么办事儿。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊微笑着应道：“好。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子站起身说道：“走，找他去。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊拉住他，说道：“不是找他去，是去大殿，你是观主，是有身份的人，整个仙茗山你最大，你怎么能亲自去观门外找他或者是打他？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;(本章完)
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>