<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第519章：不后悔</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第519章：不后悔
</div>
<div class="bookname">
	<h1>第519章：不后悔</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第519章：不后悔<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧皱眉，余秦岭到底还是死了，问道：“他来了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。 ”山伢子走过来坐下，又问道：“你俩到底咋了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嗔道：“我俩看别人了，不想跟你过了，但是又有点儿舍不得你，行了吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊笑，山伢子皱眉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧问道：“人呐？余秦岭呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“让我撵走了，我是来看看你们，顺带说一声儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“撵走了？”两人都愕然看着他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子先说余秦岭的死亡原因，余秦岭不是自己来的，还跟着一个女鬼，叫余小丽，是她害死余秦岭五个人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;余小丽在一家歌厅做酒品销售，用余小丽自己的话说，她是卖脸不卖身。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那天余秦岭五个人去歌厅唱歌，余秦岭看余小丽了，说俩人一个姓，这是缘分，非要带余小丽去开房，余小丽不干，他们五个轮番灌余小丽酒。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;为了脱身，余小丽只能一边给男朋友发信息让来接，一边跟余秦岭他们喝，喝多了，回家的时候跟男朋友吵起来，一激动从过街天桥跳下去摔死了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;重点在于，余小丽死了以后，碰到了一个全身穿黑衣服的人，给了她法力，教她怎么报仇。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉道：“怎么哪儿都有他？他到底想干什么呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子嗤笑一声，摇了摇头，说道：“不知道，你爸说过，一人做局，十人难解。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这个不重要，反正素茗一向是见缝扎针地跟咱们过不去，倒是你……”霍晓荧看着山伢子问道：“余小丽害死五个人，你怎么不管？那丫头长得很好看吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉斥道：“她再好看还能有你俩好看？我是不想管！余秦岭他们是活该，说他们死有余辜都不过分！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧看着他，恐怕理由不会这么简单吧？问道：“还生气呐？你不是把欧阳埁都弄死了嘛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子沉默了片刻，说道：“都他妈是扯犊子，什么能力越大，责任越大，我费劲巴拉的管这管那，我得着什么好儿了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“欧阳埁那个瘪犊子，说把你打落黄泉打落黄泉，他凭什么？凭他法力你高？还是凭鬼不能闹腾活人？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子有些激动，眼睛微微发红，骂道：“X他妈的！我这是把你找回来了，我要找不回来呐？我算弄死他八回又有啥用？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧微笑着倚进他怀里，搂住了他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子抱着她平静了一会儿，突然问道：“你俩看谁了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两人一块儿笑，古芊芊说道：“看祖师了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子嗤道：“你俩是闲的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完站起来说道：“我去盯班儿了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子走了，古芊芊说道：“姐，我觉得他不是后悔了，他只是要让自己变强，才能保护咱俩。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯！”霍晓荧郑重点头，她一开始想得太偏激了，如果祖师后悔了，完全没必要散功，其实她那么想，主要还是因为素雪杀了她的前世。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“姐~”古芊芊又眼泪巴擦地黏来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧搂住她，笑着说道：“别矫情了，已经发生的事改变不了，这辈子做小老婆是对你的惩罚。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊眯眼笑，霍晓荧心里舒服了，原本重点不是古芊芊，只要山伢子不后悔，别说前世被古芊芊杀了，算这辈子也被她杀了又能怎样？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;祖师的谶语说，今朝有幸会，宿世轮转急，人的一生太短了，何必执着那么多没用的事情？更何况长生对她说得是后会有期，而对山伢子说得却是有缘再会。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;或许，素雪用毕生的修为做了什么手脚，要带着祖师再次跳出轮回，那霍晓荧只能再孤单的轮转。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;否则她这一世，为什么虽然还能与山伢子相遇，却提前做了鬼？想到这个问题，霍晓荧又开始心痛，使劲儿拧古芊芊的脸，古芊芊惨叫道：“疼！疼！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧手一顿，突然问道：“素茗不是你安排的吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊一愣，先把她的手推开，问道：“我安排他什么？安排他折腾咱们，杀山伢子？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“对……”霍晓荧想起来了，那回素茗是真动了杀心，都把山伢子的生魂抓出来了，只是没想到山伢子还能反抗。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;素茗不会是素雪安排来帮助山伢子的，素茗肯定有他自己的目的，很可能素茗能认准山伢子，还是因为古芊芊，因为古芊芊跟素雪长得一模一样。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉问道：“什么对呀？你又想到什么了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧把自己想的跟她说了，古芊芊骂道：“王八犊子！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;打烊、回家、洗漱、睡觉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子听到有人叫他的名字，声音苍老厚重，好似空谷回声。山伢子睁开眼，蓦然看到数面黑旗，旗杆有胳膊粗，旗有图案，但因为光线太暗，看不清画得是什么。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;感觉不到风，但黑旗却像在狂风抖展，而且烈烈作响。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子转了一圈，发现自己被十三杆黑旗围在了间，这些黑旗不仅是样子怪，连抖展的方向都很怪，他感觉不到的风像是转着圈儿在刮，因为每一杆黑旗都是展向左边的旗杆，旗面形成了一个圆形的屏障。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子低头，火行石没在脖子，他又入梦了？还是被叫魂儿了？他法力已经不低了，怎么还能让人叫魂儿？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“石庆山！”突然响起的声音，如雷霆般响彻苍穹：“血债血偿！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;本来感觉不到的风，骤然间像刀子一样刮到身，山伢子毫无防备，瞬间身多了无数道细小的伤口。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子连忙调运法力，一层极淡的红光罩住全身，那个声音不屑地说道：“凭这点儿本事，要不是有火行石，死的那个必然是你！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至少这句话让山伢子明白了对手的身份，这是来替欧阳埁报仇的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊……”山伢子无意识地呐喊，身的红光骤然变亮，双眼发红，看到有无数的透明刀片，在他身体周围顺时针旋转，击打在红光之，被弹开后又回来，像一群伺机而动的狼，寻找着他的破绽。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;/bk
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>