<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第197章：原谅</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第197章：原谅
</div>
<div class="bookname">
	<h1>第197章：原谅</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第197章：原谅<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子恶狠狠地说道：“他要真想给小莹出气，就应该灭了这个王八犊子！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完又狠狠一脚踹向郑大山。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊！”郑大山惨叫一声，再次蜷缩在地上，抱着脑袋喊道：“别打！别打……那人说了，让我今天来这儿等这个姑娘，还给了我一把钱，说让我买烟抽，还说这个姑娘要是原谅我，他就放我去投胎，要是不原谅我，今天就是我的死期。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子等人同时一惊，异口同声地问道：“黑衣人在哪儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郑大山答道：“不知道，他给了我钱之后就走了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“那你就没用了！”山伢子一把抄起黄包儿，伸手进去掏铜钱剑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙连忙后退。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹冲上去抱住山伢子，说道：“伢子，老话儿说杀人不过头点地，他杀了我，他也被枪毙了，这事儿算完了，我原谅他，让他走吧，好不好？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子愕然瞪着张小莹，张小莹扬着脸儿看着他说道：“没有他，咱俩也碰不上，就算碰上了，也不见得就能像现在这样儿，他只是杀了我，而他也认了罪伏了法，一报还一报，我跟他两清了，而且他死后还受了这么多年的罪，这事儿算完了，啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子拧着眉毛咬着牙，张小莹伸手抚他的脸，说道：“听话，别再多造杀孽，咱们还有更重要的事儿商量，别跟他耽误工儿夫了，让他走吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子低下头，抵住她的额头，粗重地喘气，潘小龙冲着郑大山斥道：“没听见啊？小莹说原谅你了，赶紧走啊，等着过年呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郑大山手脚并用地爬起来，跑向卷帘门，穿门而去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹紧紧地抱住山伢子，嘴边带着笑意，眼泪无声地滑落。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙干咳了一声，说道：“我先睡了啊，你俩不管干什么，都小点儿声儿啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹骂道：“滚犊子！就冲你这臭德行，你这辈子连女神的边儿都碰不着！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;关了灯，张小莹伏在山伢子胸口，看着他说道：“伢子，我真不知道那个黑衣人是谁，也不知道他为什么要这样对我。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“我知道，这种人心眼儿太多，他算计的事情，咱们想不明白。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹问道：“那你咋想的，跟我说说。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子想了想，说道：“那你不许说我笨，或者说我猪脑子。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹笑，伸着头在他嘴唇儿上亲了一下，笑着说道：“不说。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子的眼神儿有了变化，抱住她要翻身，张小莹打了他一下，嗔道：“记住我说过的话，我碰你是喜欢，你碰我是耍流氓，快说你是咋想的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一脸失望地叹了口气，枕着胳膊说道：“我也没咋想，我就是觉得吧，他对咱们就像驯狗一样，做对了就给块儿肉，做错了就踹两脚。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹皱着眉头琢磨了一会儿，山伢子这话也对，一开始张小莹觉得黑衣人是从她开始布局，但如果按火行石出现的时间来算，那黑衣人布局的时候儿，可能她还没出生呐。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;或许只是凑巧了，她死在靠山镇通往钰县的山路上，又是厉阴，黑衣人觉得她早晚有用处，又或者单纯的是一种看不过眼就伸把手儿的念头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所谓谋事在人，成事在天，又或许黑衣人在收拾郑大山的时候，没有想过她会跟山伢子有今天。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;会法术的人嘛，多少都会有积功德的念头，或许当初帮她，只不过是出于积功德的想法。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于不让她去投胎，还教她法术，或许是因为她跟山伢子已经走到了这一步，她已经成为牵制山伢子最有效的棋子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;或许她想得太多了，倒不如山伢子这样简单直白地去想，反而更接近真相。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子轻拍她的脸，问道：“想什么呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹微笑着摇头，答道：“可能是我想得太多了……对了，歆雨给我打电话了，我告诉她咱们要在钰县待一段儿时间，她挺失落的，你明天给她打个电话吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，说道：“我觉得这样不好，我又没那个想法儿，总抻着人家算怎么回事儿啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹说道：“我知道这样不好，可你又没有女朋友，你还能不让人家喜欢你吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“我有你啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹说道：“我是鬼啊。这是歆雨见过我，要不然你跟她说，她会相信吗？再说了，她又不像芊芊那样，她根本就不介意我留在你身边。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，张小莹又说道：“我刚才说得不对，芊芊比歆雨的占有欲强，说明她比歆雨更喜欢你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“睡觉吧，我不想说这些事儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹问道：“那你明天给歆雨打电话吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不打。”山伢子闭上了眼睛。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹瞪着他，但山伢子没再睁眼，好一会儿，张小莹鼓着嘴叹了口气，嗔道：“真服了你了，跟倔驴似的！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;另一边，齐有成到经理室找徐四，问道：“法师，你答应帮我把我的坟要回来，啥时候儿去啊？我都干了好几天服务员了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四答道：“你先不要着急，我估摸着，抢你坟的事儿没那么简单，我现在又惹上了地头蛇，你得等我先把自己的事儿整利索，然后再说你的事儿，要不然，我就算给你要回来，等我走了，他们还得抢回去，而且还得打你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;齐有成叹气，徐四说道：“我不让你白干，我给你发工钱，我有冥币，而且是兑换过的冥币。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;齐有成看着他问道：“给多少？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四答道：“一个月二十块。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;齐有成想了一下，二十块也算可以了，当然不可能跟活人的工资比，他也兑换过冥币，家里人一年才给烧一次，一次也就烧十几二十块钱的，多了能烧个三十五十的，一个月就挣二十，不少了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;于是点头答应，说道：“那行，不过法师，您可得想着点儿我的事儿啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四点头，说道：“你放心吧，我不会诓你的，我既然答应了你，早晚会给你办的，你先去干活儿吧，我要打个电话。”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>