<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第509章：泼妇</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第509章：泼妇
</div>
<div class="bookname">
	<h1>第509章：泼妇</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第509章：泼妇<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘东树的老婆瞪着霍晓荧，突然举起手要扇霍晓荧，同时骂道：“你个X养的小犊子！我……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧一伸手掐住她的脖子，潘东树的老婆瞬间瞪圆了眼睛，两只手攥住了霍晓荧的手腕，整张脸迅速地变红，眼底也开始充血。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义皱眉，说道：“晓荧，差不多行了，别弄死人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧松了松劲儿，潘东树的老婆大口地喘息，霍晓荧等她喘上两口，又掐紧了她的脖子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老女人奋力地扭回头，瞪着还跪在地上的潘东树，艰难地骂道：“窝囊废……你倒是……帮帮我呀。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘东树看着霍晓荧，霍晓荧黑着脸瞪着他，半晌，潘东树突然抱头痛哭，喊道：“我在做梦！在做梦！快醒过来吧！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧一甩手，把老女人摔在地上，阴冷地说道：“上一辈人的事，不应该传给下一辈人……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧顿住，因为她说完这两句话，突然想到她的家仇和古木苍的问题，上一辈人的事，真的不应该传给下一辈人吗？如果真是这样，为什么自古就说父债子偿？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘东树的老婆站了起来，虽然不敢再冲霍晓荧动手，却依然满脸凶狠地质问道：“你是谁？我们两家的恩怨，跟你有什么关系？你管得着吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧脾气不好，老女人要是不这么说话，兴许霍晓荧琢磨一会儿还能缓和过来，但老女人一呛，霍晓荧又蹿儿了，甩手一个大嘴巴扇过去，厉声斥道：“我最烦你这种老娘们儿，让我碰上了我就管到底，今天我把话撂在这儿，你再敢欺负杨玉蝶，我就弄死你全家。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“来呀！”老女人跳起来，嚷道：“把我们弄死了正合适，大家都是鬼，看谁打得过谁！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘东树跳了起来，扇了他老婆一个大嘴巴，骂道：“别他妈叫唤了！想死你死去，别拉着我跟儿子！妈了个X的就你能闹腾，你不就是想把房子占了给儿子结婚用吗？现在都闹鬼了，这房子还能要吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老女人捂着脸骂道：“我X你妈的潘东树！我为了谁呀？我还不是为了这个家！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两人开始对骂，楼上楼下都有人出来嚷：“干嘛呐？你们不睡觉别人还睡觉呐！别他妈吵吵了！再吵吵报警抓你们！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘东树老婆就楼上楼下的跟人对骂，嚷得整个楼道嗡嗡的！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧皱眉，老娘们儿撒泼是挺闹心的，也不能真弄死她，难怪杨承业死活不找山伢子帮忙，这要是山伢子来了，只有两条路，一是弄死这个老女人，二是被这个老女人骂吐血。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杨玉蝶悠悠醒了过来，她刚才被霍晓荧冲身晕了过去，睁开眼看到了杨承业，杨玉蝶愣了片刻，扑上来想抱杨承业，却穿过了杨承业的魂体，扑到了唐召义的身上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义顺势抱住了她，杨玉蝶吓得赶紧从唐召义的怀里挣脱出来，转身看着杨承业哭道：“爷爷，你带我走吧，我不想活了，我活不下去了，呜……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杨承业咬牙切齿地看着唐召义说道：“侯爷，你给我点儿法力，让我弄死这个老娘们儿！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义摇头，说道：“你不明白，鬼轻易不能害人，除非你有莫大的冤屈，且害死你的人罪大恶极，那样才能得到某种许可，向害你的人报仇，这种……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义扫了一眼潘东树夫妇，说道：“这就是家长里短的小事，其实就是玉蝶太软弱了，像他们这样闹腾，完全可以打电话报警，或者是去法院申请禁止令。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杨承业皱眉说道：“玉蝶是个单身姑娘，她咋跟人打官司呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义失笑道：“你们现代的人都怎么想的？搁在我们那个年代，十四五岁就嫁人了，十六七岁就当娘了，她都十九了，怎么就不能跟人打官司？再说了，正因为她是个单身姑娘，这么被人欺负才更会得到同情和保护。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧突然薅住潘东树老婆的头发，将她的脑袋使劲撞上墙壁！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;第一下，潘东树的老婆惨叫。第二下，没了声息。第三下，血迸溅得满墙都是！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义连忙攥住霍晓荧的手腕，惊问道：“你干嘛呐？真要杀人呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧松了手，黑着脸看着软倒在地的老女人，阴冷地说道：“这种泼妇连警察都拿她没办法，她又没犯什么大罪，不能打不能骂的，调解也不会有用，干脆灭了省心！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义叹了口气，霍晓荧的脾气太大了，不愧是木行本质，现身出来对潘东树说道：“赶紧把你媳妇儿弄回家，以后别再欺负玉蝶，否则弄死你们全家！听见没有？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘东树连忙点头，抱起他老婆上半身，拖着下楼了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杨玉蝶看着霍晓荧说道：“姐姐，你带我走吧，我真的不想活了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧冷声说道：“就你这样的，做了鬼也得被人欺负，你是不是傻？那个老娘们儿大晚上来砸你家门，你不会报警吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杨玉蝶委屈地答道：“我报过一回警，可警察走了她又来，站在门外骂，骂得特别难听。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧叹了口气，斜眼看着唐召义说道：“我说什么来着，警察拿这种泼妇也没办法。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义撇着嘴摇头，说道：“不知道你们这个年代是怎么回事儿，搁在我们那会儿，像这种女人肯定会被掌嘴收监的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嗤道：“你们那时候还有皇上呐，你们那时候还草菅人命呐，你们那时候还作威作福呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义笑着摇了摇头，对杨玉蝶说道：“姑娘，你可以去法院起诉，申请禁止令。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“没用，楼上楼下住着，那老娘们儿在自己家开着窗户骂也是一样的，合着法院不会派人把她嘴缝上吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义皱眉叹气，霍晓荧说得对，活人还真是制不了这个泼妇，看来也只能打到她害怕才行。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧对杨玉蝶说道：“回去睡觉吧，把门锁好。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杨玉蝶看着杨承业哭：“爷爷……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧斥道：“你爷爷死了！以后你也见不着他了，你要自己坚强地活着，回去睡觉！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;：。：
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>