<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第728章：创造条件</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第728章：创造条件
</div>
<div class="bookname">
	<h1>第728章：创造条件</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第728章：创造条件 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧说道：“他们看见伢子抱芊芊姐了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容眨了眨眼睛，反应过来，说道：“看见就看见呗，反正这次的事完了我就辞职了，管他们怎么想呐。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧失笑，说道：“你倒心大。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容说道：“幸亏我跟你们在一起了，要不然这回我准得死在这儿！其实伢子让我辞职的时候，我心里还有点儿舍不得，现在我是一分钟都不想在这儿待着！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊微笑，说道：“你还不能走，你要把整个古墓里的文字都翻译好。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”花梦容嘟嘴答应。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊又说道：“解决完这些恶鬼，我们就走了，让伢子陪着你，那个帐篷也留给你们用，省得伢子还要淋雨，而且我也不喜欢他跟不相干的女人睡在一起。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容两眼放光，那就是说，她能有好长一段时间跟山伢子独处。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一脸尴尬地解释道：“我没跟不相干的女人睡在一起，那天晚上冷，她们说我身上热……” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊瞪着他，安婧说道：闭嘴吧，非得招得芊芊姐打你才算完？ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子顿住，看了安婧一眼，古芊芊嗤了一声，又要进去，山伢子拉住她说道：“我进去。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嗔道：“你进去干嘛？你法力比我高吗？你懂得比我多吗？你知道怎么办吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，古芊芊甩开他的手斥道：“跟外面待着，那么大个子，也不嫌地方小挤得慌。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容用眼神询问安婧，安婧拉着她走远了些，在她耳边轻声说道：“你也是，干嘛拉着伢子跟那些女人睡一个帐篷，你真以为芊芊姐大方到伢子跟谁睡都行吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容一脸委屈地轻声说道：“那伢子要守着我嘛。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧轻声斥道：“还犟嘴？你又不是第一回出现场，就不知道让伢子带帐篷吗？非得跟别人挤着睡？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容嘟着嘴答道：“我错了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;墙里封着六具尸体，都是半大的男孩儿，但死法都不一样，第一个算是相对舒服的死法。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尸体上的咒文是锢魂用的，写满全身，只在后颈上留有一块空白，古芊芊琢磨了一下，这块空白的位置和大小，刚好可以画上魂渠，把魂引出来。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊不太明白，既然用这么残忍的手段杀掉六个孩子，为什么要留下引魂的位置呐？ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;难道说做这件事的人是被强迫的？他故意留下引魂的位置，好让后世的人能把这些孩子的魂引出来超度？又或许，这六个孩子能够还原真相？ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;因为没想到会收魂，所以没带魂瓶，霍晓荧又跑回家拿了趟魂瓶，古芊芊把六个孩子的魂引了出来，然后嘱咐花梦容，一定要把古墓里所有的文字都找全，不能有任何遗漏。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容愕然说道：“那就得跟着考古队发掘，这么大的古墓，可能要好几个月的时间，甚至是一年半载。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊微笑着问她：“有什么不好吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容诚恳地答道：“对我当然好，我巴不得时间越长越好，可伢子的事就耽误了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“有什么可耽误的，他回去也是天天守着那个饭店，连个练功的时间都没有，正好在这儿陪着你，还能静下心来练功。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧说道：“要不让伢子回去，我留下来陪你。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容说道：“你不行，你法力太低，芊芊姐可以，你带伢子回去吧。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧失笑，本来想戏弄她，结果反倒被她戏弄了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴问古芊芊：“咱们是回家还是去仙茗山？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“去仙茗山，回家也没事做。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“你不上学了？你还没毕业呐。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉说道：“那有什么用啊？瞎耽误工夫，我打从魂力觉醒后就没上过课，一天要听那么长时间的课，我用那时间修炼多好呐。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧叹气，说她：“败家玩意儿，花那么多钱，说扔就扔了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊笑着说道：“他肯定得给我毕业证书，咱这么多人，这么多手段，想拿个毕业证书还不容易吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“非得天天跟这儿待着吗？隔段时间来一趟不就行了吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容嘟着嘴看他，古芊芊说道：“必须天天跟这儿待着，这么大的墓，谁知道还有没有别的什么东西。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容说道：“就是！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子点了点头，没再说话。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊指着一个小背包说道：“这个留给你。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看了一眼，问道：“啥呀？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊白了他一眼，说道：“自己看不就知道了，我们走了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;送走古芊芊等人，山伢子回到帐篷里打开小背包，看到里面全是避孕套，就呵呵一笑，用灵印问安婧：咋弄了这么多避孕套？ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧过了一会儿才答道：芊芊姐说怕你不够用又忍不住，还说第一个男孩必须由她生，嫡庶有别。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子愕然，古芊芊看起来不讲究，实际上什么都要讲究。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧又说道：芊芊姐让我告诉你，不用省着，如果这些还不够用，让你提前跟我说，晓荧姐会给你送的。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子尴尬地答道：知道了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧问古芊芊：你让他们待在那儿，就是为了给伢子创造条件吧？ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“是啊，要是回了家，他哪能天天守着梦容啊？幸亏有这件事，否则我还真不知道怎么安排才好。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴恍然说道：“你是用梦容为炉，要让伢子聚气凝丹呐？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“对呀，没有比这更快的方法了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴笑着问道：“你就不怕哪天梦容知道了会心里不痛快？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“有什么不痛快？夫君都让给她独占了，还要怎样？再说，是她要死要活的追着我家夫君，又不是我将她绑来的。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧用手背碰了古芊芊的手一下，古芊芊看她，霍晓荧向安婧斜了下眼睛。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊扭头，看到安婧低着头，神色间有些惆怅，便用灵印说道：我当你是自己人，所以说什么话都不避着你，知己者，贵在交心，凡事皆有因果，无须自寻烦恼。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;(本章完)
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>