<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第377章：骷髅病鬼</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第377章：骷髅病鬼
</div>
<div class="bookname">
	<h1>第377章：骷髅病鬼</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第377章：骷髅病鬼<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵认为，山伢子经历的一切，都是黑衣人刻意安排的，从伢子娘的死，到火行石解封。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子分析得很有道理，现在五行石全数集齐，黑衣人完全可以全部抢走，没有人能阻挡他，可黑衣人没有这样做，反而找了莫家来不停地骚扰山伢子，即使在莫泓杰被火行石烧成灰之后，还是锲而不舍地找麻烦。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以，让古芊芊暂停修炼法力是对的，邢宽是水行，又受过黑衣人的指点，说不准下一回就会来抢水行石。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊争辩道：“那他要是来抢，我法力低不是更加无法阻挡吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“要抢早抢了，你一直没什么法力。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊唬着脸，在桌子底下踢了山伢子一脚。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一咧嘴，说道：“实事求是嘛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍说道：“伢子说得对，要抢早抢了，那就先这样，芊芊先暂时停止修炼法力，但是武功一定要尽快提高。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵说古芊芊：“就你练得早，就你练不好。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我要上学呀！你不是让我拿文凭吗？”古芊芊掉着脸一推餐具，站起来说道：“不吃了！去饭店。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;下午，姬淋洛带着夏歆雨来了饭店，山伢子把自己的想法说了，姬淋洛看着夏歆雨说道：“要不你也先不要修炼法力了，好吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨想了想说道：“我差得还远吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“我妈说了，女人不用自己拼命，嫁对人就行了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨抿嘴一笑，说道：“好吧，那我也暂停修炼。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子低声说道：“我还有个想法，如果莫家再来找我要火行石，我就给他们。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“不行，火行石不会离开的，你想想莫泓杰，火行石有自己的意识，不会跟别人走的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛也说道：“我知道你想变个路数，但这样不行，你不能主动给，因为咱们并不能确定黑衣人是什么用意。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“万一他不是试炼你，而是觉得你的法力提升太快，跟我们达不到平衡，想换个人做宿主，那你主动给出去，不就正中黑衣人的下怀了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子抬手挠了挠头，说道：“也对。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊突然说道：“该死的混蛋屈彦锋，他是不是把土行石带到国外去了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛问道：“你想干嘛？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“我想把五行石放到一起，看看会不会有什么反应或是变化。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“不用看，要是能有反应，黑衣人早就拿走了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛和夏歆雨一同点头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“屈彦锋是宿主，他跑去国外，那还怎么守望相助？他家有私人飞机吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛笑了笑，摇了摇头，说道：“我觉得灵姨的分析有道理，或许祖辈们不希望咱们再过那种腥风血雨的日子，所以……现在的五行石，可能跟当年的五行石不一样了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“我觉得吧，如果黑衣人真的是想把五行石合并，他肯定得让屈彦锋回来，咱们不用操这闲心。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛说道：“你们能不能帮我跟灵姨说说，我也想学金诀掌。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“你自己去说呀，还用我们帮你说？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛答道：“早几年我爸跟灵姨说过，灵姨不教我。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“此一时彼一时，你带着歆雨去我家，再跟我妈说一次，我觉得十有**我妈会答应。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“行。”姬淋洛点头，问山伢子：“说完了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“说完了，你们走吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;入夜，第一批客人进店，山伢子看到一个白发苍苍的老者，半扶半抱着一个看个头儿只有十一、二岁的小女孩儿走了进来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老者穿着得体的西装，打着领带，小女孩儿却裹得像个包子一样，只露着一张骷髅病鬼似的脸，如果不是身上那件鲜红的羽绒服，和脚上那双绣花棉鞋，还真不好分辨男女。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子装做随意溜达，刻意地接近这一老一少，感应到小女孩儿的身上有极重的阴气，要么是邪祟缠身，要么就是即将油尽灯枯。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;服务生过来点餐，山伢子接过菜单，示意服务生去别桌，然后将菜单放在桌上，站在桌子旁边等着。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;小女孩儿并没有脱掉羽绒服，而且手上还戴着厚厚的手套，老者给她翻菜单，满目慈爱地看着她。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;小女孩儿问道：“七情会是什么菜呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“全是素菜搁一块儿炒的，如果你特别怕冷的话，吃这个不合适。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;小女孩儿扬起脸看着山伢子说道：“医生不让我吃肉，说我消化不了，可我太想吃肉了，我都有两年没吃过一口肉了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老者看着山伢子问道：“小伙子，为什么说怕冷吃素菜不合适？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“怕冷怕成这样，是阳气太弱，内寒太重，素菜偏凉，越吃越寒，最终积重难返，嗯……对身体不好。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老者叹了口气，苦笑了一下，停了一会儿又问道：“可她吃肉消化不了，一吃就胃疼，还吐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子随口编瞎话儿：“我爷爷九十多的时候，也是吃肉消化不了，医生也不让吃肉，可他又馋肉，我爹就给他熬肉汤喝，后来把肉都熬成碎沫了，我爷爷就着汤喝下去，倒也没啥事儿，还多活了几年。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老者看着小女孩儿，眼神中满是凄楚，想了一会儿才问山伢子：“你们这儿有炖得特别烂的肉汤吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;小女孩儿两眼放光，满脸期盼地看着山伢子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“有，但不在菜单上，您点菜吧，我送您一盆肉汤。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老者露出微笑，说道：“谢谢。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;点完了单，山伢子去了厨房，拿了一块肉放在案板上，拍了三掌，将肉筋拍碎，然后放到锅里煮熟，再挑出来放在案板上，用刀将肉抹成肉泥，再放回锅里调味儿，放了半勺儿安魂汤。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;端上桌之后，山伢子站在不远处看着，小女孩儿贪婪地喝着肉汤，老者眼神关切，每每欲言又止。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子明白，这是一种难言的情绪，怕小女孩儿吃多了不好，但又不忍心阻止她。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;因为，心里已经放弃了。
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>