<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第89章：没人在意</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第89章：没人在意
</div>
<div class="bookname">
	<h1>第89章：没人在意</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第89章：没人在意<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吃饭的时候，张小莹问徐四：“四叔，咱们搬去哪儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四答道：“莫林市。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子和张小莹一同看着徐四，张小莹问道：“去了一趟就想搬到大城市去？咱们到那儿干啥呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四答道：“我有个朋友在莫林市，也开了一家食味小厨，但不给鬼做饭，我前两天儿跟他联系了一下，他愿意让我去，他管白天，咱管夜里。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子不经意露出笑容，张小莹照他腰眼儿上拧了一把，嗔道：“笑什么？贼兮兮的样子，想啥呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子呲牙咧嘴地答道：“我想起来沐航给我买的那种冰激凌了，以后天天都能吃到了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹微微脸红，还以为他抱了自己尝着甜头儿，这会儿听说要去莫林市，想起夏歆雨来了呐，看来是自己想法儿太多了，嗔道：“吃货，除了吃你还能干点儿啥？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子不敢吭声儿，因为刚才一激动抱了她，被她这通收拾。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“伢子，明天我去买火车票，你回家跟你后爹说一声儿，咱们后天就走。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“后天？”山伢子一愣，还是急茬儿的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“我单蹦儿一个人，房子是自己的，跟谁也说不着。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子答应，心里突然有点儿舍不得，不自觉地环顾四周。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹捶了山伢子一拳，嗔道：“吃饭！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹想得多，山伢子尚且舍不得，那徐四更加的舍不得，张小莹不想让山伢子的表现，引得徐四伤心。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吃完了饭回屋儿，张小莹坐在桌边看电影儿，山伢子站在窗前看着外面的雨，还别说，看得久了，还真觉得挺有意思的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹说道：“刚办的宽带，用了还不到一个月，钱白交了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“还不是你闹着要看电影儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹嚷道：“我哪知道要搬走啊？办宽带的时候儿四叔又不说！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子瞄了她一眼，见她又黑了脸，就没再说话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一只鬼从前店穿了过来，是姜悦玲，山伢子愣住，转身往外走，张小莹跟着站了起来，穿墙而出，问道：“你怎么死了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜悦玲吓一哆嗦，愣愣地看着张小莹，反问道：“咱们认识吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子转出来，问道：“姐，你咋死了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜悦玲愕然问道：“你能看见我？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四也出来了，招呼着到前边儿店里坐下，姜悦玲先问道：“你们是法师？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四答道：“算是吧，你自杀了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”姜悦玲点头答道：“吃药喝酒。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四皱眉，她昨天脸上并没有死气，自杀应该也是临时决定的，问道：“为什么一定要死呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜悦玲幽幽叹了口气，而后又自嘲地笑了笑，说道：“没人在意我，甚至我想跟这个小弟多说两句话，他也没时间，说要赶着回来当主厨。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子心里猛的一抽儿，这不等于是他害死姜悦玲吗？如果他当时跟着姜悦玲上楼，听她倒倒苦水，那她就不会死了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“喂！”张小莹不乐意了，嗔道：“自己想死别怨别人，跟你不认不识的，凭啥在意你？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜悦玲看看张小莹，又看看山伢子，然后将目光锁定在张小莹脸上，说道：“小妹妹，你长得真漂亮，你死之前就认识这个小弟吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹一愣，姜悦玲说道：“看来你们不认识，那你为什么会在这儿？想必是因为他在意你，而且是很在意你吧？一样的道理，在你那儿是道理，在我这儿就不是道理了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹被怼得没话儿，咬住了嘴唇儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜悦玲浅笑了一下，说道：“不用这样儿，我也不是想跟你争竞什么，每个女人都希望自己是最幸运的那一个，江山为聘，百里红妆……可事实上，绝大多数的女人都没有这个福气。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我电影儿还没看完呐。”张小莹转身走了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四问道：“你来我这儿有啥事儿吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜悦玲答道：“没什么事，就是昨天在这里吃了最后的晚餐，心心念念地想再来看看，没想到你们是法师，我变成鬼都能被你们看见。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子有些愧疚，说道：“姐，我再给我做顿饭吃吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜悦玲问道：“我还能吃饭？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“能，人吃饭，鬼食味。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”姜悦玲恍然说道：“所以你们这个餐馆儿叫食味小厨，对吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子点头，徐四皱眉说道：“你这么聪明的一个人，怎么就想不开呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜悦玲苦笑了一下，叹了口气，对山伢子说道：“还是小炒肉吧，我还想吃那个菜。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好。”山伢子答应，站起来问徐四：“师父，加安魂汤吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四点头答道：“加吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子去后厨做菜，姜悦玲问徐四：“法师，我不明白，我决定自杀，是因为我放不下那段感情，每到夜晚就会心如刀绞，可现在我已经没有心了，为什么还是心如刀绞？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四摇头，指着自己的心口说道：“你有心，它就在这儿，跟你活着的时候儿一样。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜悦玲叹了口气，沉默了一会儿才洒然一笑，说道：“无所谓了，反正死都死了，也挺好，不用再忙着挣房钱、挣饭钱，一了百了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四问道：“你没有家人吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜悦玲摇头，说道：“我是个孤儿……确切的说，我是被遗弃的。我应该有家人，但我不认识他们，也不知道他们在哪里。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四微微皱眉，问道：“那你的遗体怎么办？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜悦玲哑然失笑，说道：“法师，你不会是让我自己去处理遗体吧？我死都死了，还管遗体干什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四也笑了，说道：“我不是那个意思，我的意思是说，需不需要我帮你联系什么人？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜悦玲淡了笑意，幽幽说道：“没有人可以联系，没人在意我，我本不该活在这个世上，连父母都不要我，我就是个多余的人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四叹了口气，想了一下，说道：“有啥想说的，就跟我念叨念叨吧，昨天我们不是不爱搭理你，是觉得你精神有点儿不正常，要是你昨天能正常点儿，哪怕是打把伞来，我们也不会那么不近人情的。”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>