<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第77章：影响</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第77章：影响
</div>
<div class="bookname">
	<h1>第77章：影响</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第77章：影响<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;自古以来，人们对血月的出现就是众说纷纭，有的说是要闹灾，有的说是要动乱，到了现代，科学家说这是一种自然奇观，是同时符合了各种苛刻条件而形成的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但对于阴阳术来讲，血月只代表一件事，就是阴阳二气混乱。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子走到屋外，看到一轮巨大的血月挂在半空中，近得仿佛伸手就能摸到一样。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子的胸口亮起了红光，一道细得几乎肉眼不可见的红线射向了血月。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹惊道：“伢子！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子盯着胸口答道：“我没事儿，这是咋回事儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“咣咣咣！”有人用力敲院门。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沐航皱眉，门口儿有对讲机，谁这么没素质，还敲得这么响。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“咣咣咣！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“咣咣咣！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沐航回到客厅，用对讲机问道：“谁呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对讲机里传来阴冷的声音：“我是王严，找你聊聊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沐航心里陡然发慌，喊道：“石哥！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子让沐航开门，王严走进来，盯着山伢子的胸口问道：“这是什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子反问道：“你有事儿吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王严突然双眼发红，冲向山伢子照着胸口就是一拳。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子猝不及防，直接被打倒在地，滑出一米多远。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹在王严冲上来时就扑向王严，却从王严的身体上穿了过去，没能阻止王严打到山伢子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;四叔说过，如果鬼的能量低于对手，是不能对肉身构成影响的，更谈不上伤害。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“沐航！”张小莹蹿到沐航身后大声叫他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊？”沐航猛然回头，吹灭了左肩上的阳火。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹冲上了沐航的身，蹿过去一脚踹在王严腰上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一脚张小莹使足了力气，可王严却只是踉跄了两步，随即转回身，抬腿一脚踹向张小莹肚子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹没有躲，想试试王严到底有多大的力道，竟然能把山伢子一拳打倒。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一脚踹上，沐航的身体飞了起来，张小莹也从沐航的身体里飞了出来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沐航摔在地上晕了过去，张小莹滑出好几米远，心里突然生出一丝恐惧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子站了起来，刚才那一拳正好打在灵石上，现在胸口除了疼和发闷之外，还热得发烫。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王严再次向山伢子冲过来，还是一拳打向山伢子前胸。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子双手一合，左手扣住王严的右手腕，右手扣住王严的肘弯，借力退了一步，同时两膀较力，把王严从自己头顶扔了过去，远远的摔在地上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王严直接从地上弹了起来，再次向山伢子冲来，还是一拳打向山伢子胸口。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子使出同样的招数，依然有效，王严再次被扔了出去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹松了口气，王严虽然力气极大，但不会功夫，只会一味蛮干。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹再次冲上沐航的身，站了起来，她刚才就不应该试探王严的力气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王严这一次没有立刻起来，而是翻了个身，双手撑在地上缓了一会儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹和山伢子一同走向王严，王严站了起来，红着眼睛发出一声怒吼，举着拳头向山伢子冲来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹一晃身闪到王严旁边，抬脚踢在王严左小腿上，王严向前扑倒，山伢子飞起一脚，踢在王严前胸上，把王严踢飞起来，在半空中翻了个跟头，脸朝下摔在地上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这几年山伢子练武，张小莹也跟着学，虽然有一搭没一搭，但肯定比普通人强，再加上她本身是鬼，手、眼、身、法、步不用练就比活人快。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王严这一次摔得更重，在地上趴了一会儿才站起来，再次怒吼着向山伢子冲来，然后再次被两人配合着踢飞出去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子有点儿担心，这么个打法儿，万一把王严打死了怎么办？即使王严被冲身了，但筋骨和内脏的承受能力也是有极限的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹脑子里突然闪过一个念头，不会是灵石影响了王严吧？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;再一次把王严踢飞出去，张小莹对山伢子说道：“你走远点儿，我怀疑是灵石影响了王严。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉道：“会吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹嗔道：“少废话，没见他只打你，像没看见我一样吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子答应，问道：“那我去哪儿啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王严又站了起来，张小莹没好气儿地嚷道：“我管你去哪儿，离开这儿！快点儿！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王严又冲上来，张小莹扑上去抱住王严，把他摔倒在地，扭着胳膊用膝盖顶住后背，山伢子向院门儿跑去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吃完了饭，舒静和夏歆雨手拉着手回寝室，她们的寝室空了一周后，因为各种检查检测都正常，所以又重新使用，本来老师还怕她们不愿意，但除了陈美云有抵触情绪之外，剩下的三个女孩儿都没意见，弄得陈美云还掉了一天的脸子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;推开门，骇然看见骆小甜吊在房间正中央，翻着两个白眼珠子，舌头吐出老长，两个手腕上全是血，地上还流了一大滩。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;还没等夏歆雨惊叫出来，就猛然浑身一颤，随即眼珠儿发白，转身掐住了舒静的脖子，将舒静顶在门框上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“歆……雨……”舒静呼吸困难，想掰开夏歆雨的手，可平时弱不禁风的夏歆雨，此时两手竟像铁钳一样，而舒静又不想用脚踹她，怕把她踹坏了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊……”陈美云回到门口儿，瞪着屋子里的骆小甜尖叫。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尖叫声引来了好多人，一名女生上来想把夏歆雨拉开，但怎么也拉不开，另一名女生也上来帮忙，费了好大的力气才把夏歆雨拉开，舒静瘫坐在地上，捂着脖子大声咳嗽，而后大口喘气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;有人去叫了舍管王老师，王老师上来的时候，舒静已经缓过来了，而夏歆雨却晕了过去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;舒静抱着夏歆雨喊道：“叫救护车！快打电话叫救护车！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子跑出沐航家很远才停住脚，正琢磨这个距离是不是太远了，手机突然响了起来，掏出来看到是夏歆雨的号码，就接了起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刚‘喂’了一声，舒静就急切地说道：“石哥，歆雨她撞……她出事儿了，你跟沐航快来XX医院！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子愣住，舒静又喊道：“听见没有啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦！听见了。”山伢子举着电话向沐航家跑去。
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>