<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第314章：打赌</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第314章：打赌
</div>
<div class="bookname">
	<h1>第314章：打赌</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第314章：打赌<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙让尚亚坤先出去，然后扯着许冰往外走，将要走出门，潘小龙突然感觉到背后有一股恶寒袭来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而自己薅着许冰头发的手腕，被一只软滑的手攥住，而且一攥之下，感觉像被铁箍勒住一样，手因剧痛而失去了力道，松开了许冰的头发。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙回头，看到许冰用左手攥着他的手腕，一双漆黑的眼珠子对着他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“放下孩子。”许冰的声音变得苍老而低沉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙丢下道具刀，龇牙咧嘴地掰许冰的手腕，又被霍晓荧这个乌鸦嘴说中了，老鬼插手了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尚亚坤站在门外，瞪着眼珠子看着许冰，许冰阴冷地说道：“把孩子给我。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尚亚坤傻眼了，开会的时候他听霍晓荧说过，危险就是老鬼上活人身，而且是指不定上谁的身。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;现在许冰说话的声音是个老头儿，那就应该是老鬼上了她的身吧？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;就在尚亚坤迟疑的时候，许冰握着潘小龙的手腕扭了一下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊……”潘小龙感觉骨头好像裂了，发疯一样喊道：“把孩子给他！快点儿给他！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦！”尚亚坤夹着胡小冬的双腋，打算交给许冰。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“等等！”洪拓出现在尚亚坤身边，抬手挡住了胡小冬，指着潘小龙对许冰说道：“孩子可以给你，但你得把他放了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嘿嘿嘿嘿……”许冰笑得阴森而干涩，说道：“我就觉得这两个人不对劲儿，两个壮少男子，竟弄不住一个女人家，原来是假装的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙说道：“不关我的事，是他们让我假装的，你放了我吧！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许冰冷哼一声，甩手将潘小龙丢向洪拓，不屑地说道：“软骨头，杀你还怕脏了我的手。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓接住潘小龙，魂体晃了一下，许冰嗤笑一声，说道：“功夫还不错，何须这般下作。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓答道：“无意偷袭暗算，唯恐伤及这对母子性命。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许冰沉默了一会儿，问道：“你是鬼差？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓摇头，许冰嘴角微微上挑，说道：“既非鬼差，何故因我而费神？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓反问道：“尊驾在此，意欲何为？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许冰答道：“收些天元精气，助我修为。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓又问道：“之后呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许冰迈上一步，脸上浮现一层黑气，说道：“休要啰嗦，不如你我作赌，任你唤人助阵，若胜我，我自去，若胜不得我，无论生死，休再纠缠！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“正有此意，我等五人，结阵以待，恭请前辈指教。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许冰嗤笑一声，说道：“何处？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓答道：“请随我来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许冰一晃，软倒在地，一个书生打扮的年轻人现出形来，五官清秀，身材修长，头戴玉冠，横插金簪，身穿锦袍，腰悬玉玦。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓微一皱眉，拱手说道：“敢请先生名讳？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;书生傲然答道：“殷平侯唐召义。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“失敬，请随我来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;看到洪拓带着唐召义过来，山伢子等人都紧张了起来，刚才是因为听到了潘小龙非人的惨叫声，所以洪拓才过去看看，没想到带回来一只鬼，看这穿着打扮，应该就是许冰家的那只老鬼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;到了近前，洪拓对徐四说道：“徐先生，许女士晕倒了，潘小龙跟尚亚坤还在里面，您带着芊芊和歆雨去照看一下。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四看了一眼唐召义，答道：“好。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义气定神闲，看着古芊芊说道：“姑娘如此清丽脱俗，想来不是寻常人家吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉，看着他不说话，唐召义呵呵一笑，说道：“若在当年，本侯宁愿倾尽所有，也要迎娶姑娘为妻。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子斥道：“扯什么犊子呐？洪先生，这货咋回事儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义抢着说道：“我与洪先生作赌，胜者为王。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子斥道：“说人话，我听不懂！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义优雅一笑，看着古芊芊说道：“娇花蒙尘，佳人错许，痛煞人心呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊冷声说道：“逞口舌之利，非君子所行，王权富贵，不过是过眼云烟，世间最难得两心相许，天地可为证，日月可为鉴。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“更何况自古英雄不问出处，有志亦不在年高，侯爷如此妄自尊大，轻慢于他人，倒显得小肚鸡肠，没趣得紧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，下意识地看徐四，读书少是不行，人家说话都听不太明白。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义呵呵一笑，说道：“在下唐召义，敢问姑娘芳名？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊反问道：“知道我的名字，你就会认输离开吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义一怔，沉默了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊愣了，难道真的会为了知道她的名字而离开吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义的神色变了几变，看着古芊芊说道：“我与洪先生有约在先，不好因姑娘而废止……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“我没意见。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义不理洪拓，接着说道：“但姑娘若能见告芳名，我可对姑娘的心上人手下留情。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子有点儿急眼，斥道：“你还手下留情？就怕你活不过今晚！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义的目光陡然转向山伢子，脸上浮现煞气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊一步迈到山伢子面前，用身体挡住山伢子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，一把推开古芊芊斥道：“老爷们儿说话，你跟着捣什么乱？上一边儿去！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊被推得一趔趄，霍晓荧赶紧扶住她。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊满脸委屈地要掉眼泪，霍晓荧赶紧哄道：“别生气，他不是故意的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义微微眯眼，看看霍晓荧，又看看古芊芊，然后看着山伢子说道：“兄台好福气呀，真真是羡煞旁人！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子拧着眉头，就不能把舌头捋顺了好好儿说话吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“少废话！要打就动手！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓赶紧说道：“不能在这里打，找个没人的空地再打。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子瞪着唐召义，唐召义微微一笑，说道：“你们选地方，我跟你们走。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛伸手拍了山伢子一下，说道：“上车。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子又瞪了唐召义片刻，才转身上车。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧对古芊芊说道：“别生气啊，等我们回来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完也跟着上了车，古芊芊走上一步，轻声对唐召义说道：“我叫古芊芊。”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>