<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第191章：找人</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第191章：找人
</div>
<div class="bookname">
	<h1>第191章：找人</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;&quot;第191章：找人<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许三丈说不出话来，两眼充血地瞪着赵美蓉，图黛玉让他砸掉徐四收魂的容器，一方面是为了让徐四肝儿疼，因为收魂的容器需要焙炼，耗费精力甚至是精血，另一方面，就是为了给徐四找事儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是没想到，徐四还真收了厉鬼，但厉鬼没找徐四的事儿，却来找他的事儿！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵美蓉就那样掐着脖子举着许三丈，渐渐的，许三丈感觉胸腔剧痛，全身发麻，脑袋发涨，胳膊也耷拉了下来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;正当许三丈眼前发黑，胸腔已经感觉不到疼痛的时候儿，赵美蓉突然松了手，许三丈摔在地上，停了片刻后，才大口地吸气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;等到许三丈把气儿喘匀，赵美蓉身体笔直地俯下来，脸对着脸，阴冷地说道：“你给我办一件事，我就饶你不死。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许三丈盯着赵美蓉，虽然心里害怕，但意识清醒。毕竟他是图黛玉的徒弟，即使从来没有见到过鬼，也很确信鬼的存在，所以不会像普通人那样吓得失去理智。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许三丈说道：“那得看是什么事儿，能办的我肯定给你办，办不了的，你就是弄死我，我也还是办不了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这就是理智的作用，很多人因为害怕，为了保命，会什么都答应，实际上，答应了无能为力的事，最终的结果只会更惨。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“呵呵……”赵美蓉诡异的笑了两声，然后缓慢地直起身，说道：“你帮我找三个人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许三丈问道：“有名有姓儿吗？别是无头案，那我可没地儿找去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“有！”赵美蓉恶狠狠地说道：“不光是有名有姓，还有地址，你只要把他们挨个儿带来给我就行！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一觉醒来，山伢子他们到了钰县，打了个‘摩的’直奔县医院。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尚亚坤的父母都在，因为潘小龙提前打了招呼。见了面儿，潘小龙先把尚亚坤的父母叫出病房，把吴大壮闹腾尚亚坤的原因先说了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尚亚坤的父母很震惊，完全没有想到，竟然是为了这么点儿事儿！这也太过分了吧？换送菜的是因为宋磊，也就是开车送菜的那个，他的菜不但价格便宜，而且品种齐全。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;再说他们家也不是单独就换了吴桂花，而是把所有的散户都换掉了，只包给宋磊一个人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙煞有介事地给尚亚坤的父母解释，说这就叫恶鬼无心，为什么这么说呐，因为这人活着的时候儿不咋地，又没什么本事，所以他憋屈。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;死了以后，突然发现没人能管他了，他就开始自我膨胀了，活着的时候儿不敢干的事儿也敢干了，而且干了也没人能把他怎么着，于是就想怎么着就怎么着。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙解释得通俗易懂，尚亚坤的父亲看着山伢子问道：“石大师，既然是恶鬼，你为啥还要放他呐？幸好我家小坤只是擦伤，这要是……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“呜……”尚亚坤的母亲哭了起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹抬手给了潘小龙一巴掌，用纤细的声音骂道：“显你明白啊？成事不足，败事有余，三q值到底的二货！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子倒也不怵，解释道：“法师也不能随心所欲，在没有确凿的证据能证明鬼害人之前，不能张嘴儿就说人家是恶鬼，更不能想打就打，想杀就杀，要不然也会减我的功德，甚至还会有恶报，这就跟警察抓坏人一样，不能想抓谁就抓谁，得有证据才行。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”尚亚坤的父亲恍然点头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙用诧异的目光看山伢子，行啊！士别三日，当刮目相看，没想到师兄居然长进了，现在能说会道儿的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹笑眯眯地看着山伢子，还是徐四说得对，再笨的人，耳濡目染，迟早也会开窍儿的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尚亚坤的父亲问道：“那这回算有证据了吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”山伢子点头，说道：“不过用招魂的方式肯定是招不来的，因为我放他的时候儿警告过他，让他不要再害人，现在只能用拘魂的方式，可是我不知道他的生辰八字，你们知道他的骨灰埋在哪儿吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尚亚坤的父亲皱着眉头说道：“没什么交情的人，哪知道他的骨灰埋哪儿啊？这种事儿也不好直接问吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙问道：“叔儿，你带我去找吴桂花，我有办法。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尚亚坤的父亲问道：“啥办法？你要直接问啊？那人家能告诉你吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙答道：“您放心吧，我先跟我师兄商量一下。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完拉着山伢子走开了两步，小声儿嘀咕了一会儿，然后走回来跟尚亚坤的父亲说道：“叔儿，让我师兄陪阿姨守着亚坤，您带我去找吴桂花，现在就去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尚亚坤的父亲点头答道：“行。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“等我一下，我去趟厕所。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完拉着张小莹去了厕所，把火行石摘下来戴到张小莹脖子上，嘱咐道：“别打太狠啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”张小莹点头答应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“真乖，亲一下。”山伢子很自然地捧起她的脸，在她嘴唇儿上亲了一下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹一愣，随即脸色发红地嗔道：“学坏真快！一出溜儿就下去了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙跟着尚亚坤的父亲去了菜市场，潘小龙让尚亚坤的父亲在远处给他指认了吴桂花，然后自己过去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;走着，潘小龙说道：“小莹，待会儿别打太狠啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹说道：“怎么才算不狠？你说的，得见血才行。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙说道：“我就是提醒你，悠着点儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹没再说话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;到了菜摊儿前，潘小龙指着白菜问道：“白菜怎么卖？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吴桂花答道：“五毛一斤。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙嚷道：“你这菜咋这贵呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吴桂花让他嚷得一愣，说道：“都是这个价儿啊，我的菜不比别人的贵，要不我也卖不出去啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙不理吴桂花，指着吴桂花旁边儿说道：“你这老爷子咋说话呐？我就说了个贵，你咋还骂人呐？你挺大个岁数儿……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹一拳捶在潘小龙脸上，这是事先商量好的，当潘小龙说到‘挺大个岁数儿’时，让张小莹给他一拳，还得见血。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙猛地一扬头，鼻血喷了出来，脱口骂道：“我~操！”&quot;
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>