<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第144章：心气儿散了</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第144章：心气儿散了
</div>
<div class="bookname">
	<h1>第144章：心气儿散了</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第144章：心气儿散了<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啥！”听说张小莹不辞而别，山伢子一嗓子吼得徐四和钟离愁耳朵生疼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四一把薅住转身要走的山伢子，问道：“你要干啥？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“我找她去！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四训斥道：“你小点儿声儿！我不聋！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁用双手掌心反复按着耳朵说道：“你们爷俩儿都小点儿声儿，要不你们出去说去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四对山伢子说道：“小莹走了几个小时了，你追不上了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子瞪着徐四吼道：“你咋就让她走了呐？她又不是姌姨！又不是你的女人！你凭啥让她走？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;‘啪’的一声脆响，徐四扇了山伢子一个大嘴巴，厉声斥道：“小莹是为了你好！你要像个爷们儿！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子冷静下来，也不觉得脸上疼，因为心里搅着劲儿的疼，疼得快要喘不过气儿来了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子颓废地坐在椅子上，徐四松了手。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁看看山伢子，又看看徐四，说道：“那个……我插句嘴啊，伢子，小莹是你的女人？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子没理他，也不知道是不愿意搭理他，还是根本就没听见。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四斜眼儿瞪钟离愁，钟离愁呵呵一笑，站起来说道：“你们爷俩儿聊，我先回去睡觉了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁走了，徐四把火行石递给山伢子，说道：“小莹要去投胎，这是喜事儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子哭了出来，捂着脸，声音发闷。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四叹了口气，坐在他旁边的椅子上，继续劝道：“聚散随缘，迟早是要走的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子哽咽着说道：“都怪我，我要不说娶她，她就不会走了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四拍了拍山伢子的肩膀，又叹了口气，说道：“你先歇两天儿吧，缓过劲儿再干活儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹没有直接离开莫林市，而是去了古芊芊家。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;听了张小莹的决定，古芊芊扁了嘴，眼泪不自觉地顺着脸颊流下来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;从小到大有过很多朋友，但只有张小莹，让古芊芊觉得是真朋友，可就像歌里唱的一样，好花不常开，好景不常在。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹却笑，搂着她说道：“聚散随缘，兴许来世咱们还能见面，只不过就是你不认识我，我也不记得你而已。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你别说了……”古芊芊抱住了她，心里有一万个不愿意，却不能说出口，因为谁都没有资格阻止别人去投胎转世。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹抚着她的后背说道：“芊芊，咱们虽然认识的时间不长，但是我想把山伢子托付给你，他这个人……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不！”古芊芊猛然找到了不让张小莹离开的理由，直起身看着张小莹，倔强地说道：“我认识他是谁呀？他又不是你儿子，你跟我托不着孤，要管你自己管，我管不着！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹笑，说道：“好~你管不着就不用管了，但你总得听我把话说完吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯”古芊芊急得直跺脚：“你怎么这样儿啊……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹又抱住她，接着刚才的话往下说：“他其实并不傻，只是不愿意动脑子，而且认死理儿。我也不是让你天天看着他，就是让你在他有难的时候儿伸把手儿，帮帮他，别让他把自己坑死了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊扁着嘴不搭茬儿，张小莹跟她抵着额头，轻声说道：“把我救回来那天晚上，我看见了，他抱着我的时候儿，你吃醋了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊一惊，大声说道：“没有！就他那种土包子，瞎子才会看上他！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹微笑，说道：“芊芊，你有一个毛病，一撒谎就爱骂人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉，张小莹笑着说道：“伢子是个实心眼儿，对谁好就是对谁好，我给你腾地儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊又羞又恼，嗔道：“你胡说什么呀？我跟他水火不容！你别说得好像是我把你赶走了似的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹站了起来，微笑着说道：“不是你赶我走，是我自己要走，我不走，不仅耽误他，还会连累他。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;顿了一下，张小莹又说道：“反正我把地儿腾出来了，占不占的随你吧，我走了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊攥着她的手不放，说道：“你天亮前也到不了家，我明天去买票，我送你回家。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹摇头，说道：“送君千里，终须一别，我能搭顺风车，不用你送……芊芊，有缘再见。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子并没有听徐四的，而是带上钱跑去了火车站，买了去周县的票，因为徐四说了，张小莹要先送她爷爷回家。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四没有再阻拦，因为心里很清楚，山伢子追不上张小莹了，也见不着了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜悦玲问徐四：“小莹为什么一定要走啊？让伢子娶她当大老婆不就行了吗？反正是鬼，等以后有合适的人了，山伢子再娶就是了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四摇了摇头，没说话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其实徐四心里明白，张小莹这么坚决的要走，主要原因并不是山伢子想娶她，而是因为她没有自己想像的那么厉害，心气儿散了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不管是人是鬼，要是没了心气儿，也就跟废物差不了太多了，顶多也就剩下生活能自理而已。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以张小莹要走，她是个要强的孩子，不想给山伢子当累赘。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子买了车票，坐上火车，靠着窗户准备眯一会儿，突然感觉到一股阴气，睁开眼，看到一个人正往对面的座位上坐。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个人戴着黑色棒球帽，脸上还捂着黑色的口罩儿，穿一身儿黑色的衣裤。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一下就灵醒了，这个人的打扮跟抓张小莹的那人一样，是同一个人吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对方的帽沿儿压得很低，山伢子根本看不到他的眼睛，甚至都不好说对方是男是女，但从身材上看，应该是个男的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;‘咣当’一下，火车开动了，山伢子盯着对方看，但对方从坐下后就保持着一个姿势，一动不动。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;盯了一会儿，山伢子的困劲儿又上来了，心想算了吧，爱咋咋地，先眯一觉再说。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一闭上眼，就感觉忽悠一下，眼前陡然一亮，山伢子站在一片茂密的山林里。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子纳闷儿，自己怎么会在这儿？看了看山势，非常陡峭，山伢子顺着坡儿想下山，刚走了几步，就听见有人说话：“交出来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;声音浑厚，语气特别的威严，山伢子不自觉地转过身，向上坡儿走去。
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>