<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第545章：转变</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第545章：转变
</div>
<div class="bookname">
	<h1>第545章：转变</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第545章：转变<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙很快从学校赶过来，徐四负责向他解释，潘小龙说道：“我明白，我自己没本事，连自己的媳‘妇’儿都保护不了，给师兄添麻烦了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四皱眉，虽然潘小龙说话的态度很诚恳，但基于他一贯的表现，这话怎么听都像是在赌气说反话。不过徐四也没说什么，告诉山伢子用追灵符。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子祭出追灵符，还是洪拓、霍晓荧、邢宽三人跟着，倒没飞出多远，都没出市区，落在一栋楼顶，三人直接看见了魂瓶。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢宽撕掉封符，拔开塞子，将赵梓航放了出来，赵梓航满脸惊恐，半晌才看清三人，扑去搂住霍晓荧的脖子，嚎啕大哭，霍晓荧赶紧抚着她的后背安慰她。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢宽把魂瓶揣进兜儿里，问洪拓：“这是什么意思？知道咱们要找，所以提前放在这儿了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓点头，也只有这一种解释。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢宽又问道：“那伙儿鬼怎么办？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓眯着眼睛琢磨了一下，对霍晓荧说道：“你带梓航回去吧，我跟邢宽去找刘磊，有事儿电话联系。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好。”霍晓荧答应一声，搂着赵梓航消失了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;看到霍晓荧带着赵梓航回来，潘小龙心里松了劲儿，不知道为什么，想通了所有事之后，他异常担心赵梓航，怕再也找不回来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵梓航扑到潘小龙怀里哭，潘小龙抱紧了她，抚了抚她的后背，看向霍晓荧问道：“师嫂，我保护不了梓航，能不能让她先跟着你？你教她武功和法术。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧快速眨眼，认识这么多年了，潘小龙头一回这么跟她说话，感觉各种错位。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵梓航抬起头愕然看着潘小龙，潘小龙说道：“我连鬼眼都没有，真有事儿的时候，我现喝符水也来不及，你先跟师嫂学本事，我也好好儿修炼，争取早点儿开了鬼眼。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵梓航抚着他的脸，看着他的眼睛问道：“你没事儿吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹挽着古芊芊的胳膊说道：“看吧，他媳‘妇’儿都觉得他有问题。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙不理龚钰丹，看着赵梓航说道：“我没事儿，是因为这回你被绑架，我突然想通了很多事情，我跟邢宽和伢子也说了，我没时间看店，先得完成学业，还要好好儿练功，扎纸店的股份我也不要了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊！”古芊芊惊叫，所有人都看向她。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊瞪着龚钰丹嗔道：“干嘛呀？你掐我干嘛？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹笑眯眯地答道：“我想掐自己来着，没注意掐错了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙又问霍晓荧：“师嫂，可以吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧皱眉，心说这货是打算以后都这样儿了吗？答道：“可以。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵梓航皱眉道：“那你呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙说道：“我回学校住，没事儿，我每天晚来饭店看你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完，潘小龙转向徐四说道：“师父，时间不早了，我得回学校了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四点头答应：“去吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙又向霍晓荧说道：“师嫂，辛苦了，谢谢。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊。”霍晓荧答应，有点儿‘蒙’。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙又对赵梓航说道：“听师嫂的话，我走了，明天下了课我过来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”赵梓航皱着眉头答应，说道：“我送你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不用了。”潘小龙斩钉截铁地说道：“你记住！要么跟晓荧在一块儿，要么跟芊芊在一块儿，在你练成晓荧现在这身本事前，千万别一个人待着，记住没有？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”赵梓航嘟着嘴答应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙又对古芊芊说道：“给你们添麻烦了，真不好意思，可我是真的没本事。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊也皱眉，这种大拧胯式的转变真让人受不了，让人有种想冲去一脚把他踹倒，打到他恢复原样为止的冲动！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“我送你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”潘小龙点头答应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙走了，霍晓荧问徐四：“干爹，你跟他说啥了？他咋变这样儿了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说她：“他以前那样儿你烦他，他现在这样儿你又受不了，还有你合适的时候吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嘟嘴，古芊芊说道：“不是合不合适的问题，他这样太吓人了，像鬼身一样。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四站起来说道：“你们‘女’孩子是事儿多，行了，这样吧，我回办公室了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓领着邢宽到了刘磊那伙儿鬼待的废弃厂房，一见两人进来，刘磊立刻迎了来，直接傲慢地说道：“你们来干什么？那小妞儿不在这儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓哑然失笑，人也好鬼也罢，‘欲’望跟智商不成正，容易被人骗，甚至是利用。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘磊一见到他们能说这种话，说明在绑架赵梓航之前做过调查，至少是见过他跟邢宽，可是，做过调查还敢招惹他们，只能倚仗两种可能，一种是自身强，一种是帮他的人强。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但事实证明，这两种可能都不存在，刘磊让梁鑫带人打了，刀也被抢了，帮他的人把装着赵梓航的魂瓶放到了没人的楼顶，所以说，刘磊是个缺心眼儿的‘混’‘混’。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓倏然近身，一拳打在刘磊肚子，刘磊惨叫一声弯腰，洪拓随手薅住了他的头发，扯着往外走。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;大部分鬼都惊呆了，有三个鬼叫嚷着冲来，邢宽身形一闪，三个鬼几乎同时倒飞出去，摔在远处翻滚嚎叫。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘磊叫嚣道：“你们不怕我灭了那个小妞儿吗！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓不说话，邢宽照着刘磊屁股踹了一脚，把刘磊踹得跪在了地，但洪拓并没有停下，拖着他继续往外走。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;好多鬼反应过来，大声叫嚣着跟在后面，但是没人敢冲来。邢宽停步回身，拔出短刀反握在手里，调运法力，冷口冷面地说道：“谁再敢跟着，我灭了他。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一瞬间鸦雀无声，所有的鬼都闭嘴站住脚。邢宽缓缓地扫视了一遍这些鬼，然后转过身往外走。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;有一只鬼又跟着走，走了几步之后，邢宽倏然回身，短刀脱手飞出，穿过那只鬼的‘胸’膛，旋转着飞回邢宽手里。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那只鬼猝然停步，低下头愕然看着自己‘胸’口出现的‘洞’，缓缓化作黑气消散。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;的小说站！
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>