<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第750章：主位</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第750章：主位
</div>
<div class="bookname">
	<h1>第750章：主位</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第750章：主位 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;回到无名观，山伢子让卿琴带着灵信去古家，把剩下的蛟龙尸首驮回来，要分给妖族吃。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴用询问的目光看着他，山伢子解释道：“原来我是怕盘子太大收不拢，但人算不如天算，谁知道会发生这样的事，既然我已经说了与她们死生相托，祸福与共，那就不能再藏私。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴问道：“那梦容的灵血呐？也不能藏私吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子笑着说道：“别抬杠好吗？梦容又不是造血机器，最多再加上四大长老，这就是极限了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴踮起脚，凑到他耳边轻声说道：“我现在想做你家老六了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子无声微笑，说道：“先去把我安排的事办好。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴笑着嗤了一声，飘上灵信的背脊，又看了山伢子一眼才对灵信说道：“走吧。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子又对古芊芊等人说道：“刚惹完事儿，咱们得在这里多待段时间，暂时不回去了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊~”花梦容嘟嘴，山伢子笑着说道：“反正这里也没网，连电都没有，你就别想着玩儿了，跟着芊芊修炼吧。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”花梦容不太情愿地答应。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子对惜音说道：“选二十人留下，其他人回去继续建造营地，另外，从营地到无名观要修驰道，宽度要能十人并肩奔跑。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;惜音应道：“是。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子又对媚影说道：“绮梦山有山精，仙茗山也应该有，你跟竹青去抓几个回来，十个就够。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊问道：“夫君，你要做什么？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“让它们做耳目，它们数量巨大，遍布山林，没有比它们更合适的耳目了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“山精是不会像妖族这样忠心的，而且它们向来不可信。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“天下熙熙，皆为利来，天下攘攘，皆为利往。无名观附近看不到山精，应该是它们不敢靠近，如果我允许它们靠近，甚至是可以进入无名观吸收灵气，这就是一个大好处。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“另外还有梦容，我可以允许它们待在梦容身边，闻梦容身上的香气，这又是一个大好处。还有赏罚，尽心尽力的，可以得到一滴灵血，撒谎撂屁的，就会被吃掉。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊看着他，想哭，他终于要撑起她的那片天了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚影问道：“观主，十个会不会太少了？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;竹青白了她一眼，媚影瞪她，竹青说道：“一转十，十传百，观主让咱们抓的只是传话的，你那个脑袋里全是浆糊吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚影跺脚嗔道：“观主你看她呀！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子笑着说道：“她说得对呀，我就说你杂心太重嘛。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚影嘟嘴，山伢子微笑着说道：“好了，别耍性子了，人家竹青又没说错话，我能怎么样？快去吧。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”媚影笑眯眯地答应，扭头又瞪了竹青一眼。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;竹青嗤道：“懒得理你，走吧。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两人走后，山伢子对彩舞说道：“你去营地，那里不能没有首领，另外告诉妖族，山精是同盟，不能吃。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;彩舞应道：“是。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安排完，山伢子进了大殿，站在主位前沉默，古芊芊等人陪在他身边站了半晌，霍晓荧忍不住问道：“咋了？灵光回去了？不知道该干啥了？又开始发呆了？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子微笑，扭头看着她答道：“我是在想，这个座位就像是龙椅，一旦坐上去，很多人的祸福，甚至是性命就攥在我手里了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧愕然看着他，山伢子又说道：“我在反省，今天有点儿太冲动了，但我不是后悔带人去救你，而是不应该带上整个妖族。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我没有必要因为纯清观这么个小道观就完全展现实力，人应该懂得藏匿，就像那个老不正经的道阳真人，他就很会藏匿。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊愕然问道：“夫君何意？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“养不教，父之过，教不严，师之惰。玄纯子做事这么霸道，真的跟道阳真人一点儿关系都没有吗？无非是咱们的势力大，而且他觉得我性子混，真敢拆了他的道观，否则他能那么卑躬屈膝吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉，素茗躬身说道：“都是弟子的错。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看着他说道：“也不完全是你的错，无名观占着好地方，却没什么能人，当然会让别人惦记。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这么多年都没事儿，无非是谁都不想当出头鸟，因为他们师出无名，一个人来抢，别的人就会打着替无名观讨公道的旗号也来抢，那样就会引发战争。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子沉默了片刻，又说道：“现在好了，咱们自己给了别人来抢的借口，就算你不去找玄纯子，他离咱们最近，迟早他也会自己跑来找事儿的。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;素茗低着头沉默，山伢子又说道：“你不是要静修思过吗？去吧，不用陪着我了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;素茗应道：“弟子告退。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;素茗走了，古芊芊问道：“夫君，你认为纯清观会不会邀集人手来找咱们？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子摇头，答道：“暂时不会，那个老不正经的说了这么一句话，他对玄纯子说，就算无名观与妖邪为伍，又与你何干？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这句话的意思很明显，只是与妖邪为伍，但没有做恶事，他们就还是底气不足，道门广大，容纳万千生灵，到了今天这个时候，谁还敢说不准妖怪修炼？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子嗤了一声，走向主位，边走边说道：“他们能杀的，都是那些没有根基的妖怪，就像咱们在绮梦山杀的那三个妖怪一样，如果他们是哪个门派的弟子，咱们能像没事儿人一样离开吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子走到主位前，转回身坐下，说道：“他们要等咱们犯错，只要咱们不犯错，他们就得干瞪眼看着。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧问古芊芊：“他回不去了吧？以后就这样儿了吧？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊笑着答道：“他本来就应该是这样的。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧撅了撅嘴，说道：“以后不能欺负他了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊笑着说道：“你可以欺负我们呀，你是主母嘛。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧笑，突然转头问李绣娘：“绣娘，相公如此运筹帷幄，威风八面，你不高兴吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;(本章完)
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>