<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第623章：望天</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第623章：望天
</div>
<div class="bookname">
	<h1>第623章：望天</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第623章：望天<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦……”杜云华懵懂地答应，迟疑着说道：“那麻烦你了。 ”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不麻烦。”古芊芊双手掐诀，念动咒语，杜云华被一团白光罩住，缓缓变淡，直至消失。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧用手机打字：芊芊姐，你刚才说得话都是真的吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊问道：“什么话？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧打字：是关于枉死之人投胎的事。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“我不知道啊，我猜的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧愕然看着她，古芊芊说道：“我没骗她呀，我说得是可能、也许、据我所知，我没说一定是那样啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧叹了口气，古芊芊嗔道：“你什么意思？有话直说。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧打字：你真是总有理。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嗔道：“什么叫我总有理？谁跟你说的？是伢子还是我姐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧打字：你刚才问得不细，那个十一娘为什么让杜云华来饭店找李云华？她又是怎么知道伢子不在饭店？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊一愣，旋即嗔道：“你刚才怎么不说？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧打字：是你在办事，我不能干扰你。既然要学着办事，必然会有疏漏，算是神仙，偶尔也会犯错。所谓吃一堑长一智，不犯错的人都是不干事的人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嘟了嘟嘴，问道：“那现在怎么办？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧打字：问李云华，去找十一娘，看看她是何方神圣。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉说道：“我去找啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧打字：我陪你去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊咬着嘴唇纠结了一会儿，才恶狠狠地说道：“行，咱俩去！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容哭累了，却还是抱着山伢子不松手，山伢子哄她：“回家吧，时间也不早了，还下着雨，你明天不班儿啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容摇头，山伢子又说道：“做不成恋人可以做朋友啊，买卖不成仁义在嘛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容抬起头愕然看着他，霍晓荧嗔道：“什么乱七八糟的，别满嘴跑舌头，没化少拽。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子尴尬地向花梦容解释道：“我的意思是说，你以后可以常去饭店吃饭，咱们还能见着，而且你长得这么漂亮，身边肯定不缺追求者，嗯……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子不知道还能说啥，习惯性地又看霍晓荧，花梦容突然松开山伢子，退了两步，看着霍晓荧的方向，眼神慌乱地问道：“你为什么看那边？是不是晓荧姐在呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“跟她说我不在，你只是养成了这种习惯。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“没有，我这是习惯性的，因为晓荧总是陪在我身边，不过今天她没来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容的脸色缓和下来，拿掉头的衣服递向山伢子，说道：“你回去吧，不用送我了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子拿过衣服又披到她头，说道：“那怎么成，这都几点了？你家也不远，走两步到了，快走吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容抿着嘴转身，双手撑着衣服往前走，山伢子跟着她，将到小区门口时，看到一个人站在路边，仰着头看着天，也没有打伞。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容只是低着头走路，没看到那个人，除了看路的意识之外，全部的心思都用在考虑以后要不要再跟山伢子见面。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子却刻意地观察了一下那个站在路边的人，发现他张着嘴，嘴里有水涌出来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一把将花梦容拉到自己身后，花梦容一趔趄，愕然问道：“怎么了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“前面那个人好像有问题，你走我后面。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容这才注意到前方路边有个人，看了看问道：“他不打伞也算了，为什么张着嘴望天啊？他是在喝雨水吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧越过山伢子，想过去看看，山伢子制止道：“你别过去，我去看，你守着梦容。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容瞪大了眼睛，用责怪的眼神看山伢子，山伢子装没看见，向路边那个人走去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“是我不让他告诉你的，你的心情我能理解，在错误的时间碰到对的人，这种痛苦我知道。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容尴尬地低下头，霍晓荧又说道：“不用不好意思，碰到这么大的事儿，总是要发泄一下，今天的事我不介意，也不会跟我家老二说。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容抿了下嘴唇，轻声说道：“谢谢，我保证以后不会发生这样的事了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子走了回来，对霍晓荧说道：“那个人已经死了，魂没了，七魄还在，但是维持不了多久。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧四下里看了看，说道：“是巧合吗？为什么离梦容家的小区这么近？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容说道：“我不认识那个人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“跟我们沾，通常都没好事儿，还是小心点儿的好，走吧，我们陪你回家看看。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;走到单元门口，山伢子跟霍晓荧几乎同时说道：“好重的阴气。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容眨了眨眼睛，她只是感觉有点儿冷，但是下雨的秋天，又是深夜，感觉冷也是很正常的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;了楼，到了门口，阴气更重了，山伢子说道：“钥匙给我。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容掏出钥匙放到他掌心，想了想问道：“你们不是故意吓唬我吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两人同声答道：“不是。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容开始紧张，因为山伢子和霍晓荧连调侃一句的心情都没有，看来事态很严重，可是……为什么？她怎么会招惹阴邪之物？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;开了门，缓缓拉开，阴气顺着门缝挤了出来，山伢子回手拨拉了花梦容一下，把她拨拉到自己身后，问道：“你走的时候没关灯？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容轻声答道：“不记得了，应该是没关，那会儿都天黑了嘛，我在家喝酒的时候肯定要开灯的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子缓慢地将房门拉开，观察了一下才迈步走进去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;客厅的沙发坐着一只鬼，男性，长脸，脸色很黑，身材精瘦，头戴着一顶怪的帽子，很大很沉的样子，像个大便坨一样，穿着一件似铁非铁，像鳞甲一样的长袍。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;鬼用阴冷的目光看着山伢子，说了两句话，山伢子听懂一两个字，问道：“他说得是咱们的话吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容声音发颤地答道：“不……不是……是……是古XX语，他说……凡人……见到本尊……为何不跪拜。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子愕然问道：“古XX？怎么跑咱们这儿来了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;/bk更新最快的小说站！
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>