<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第699章：提前做准备</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第699章：提前做准备
</div>
<div class="bookname">
	<h1>第699章：提前做准备</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第699章：提前做准备 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“我没说你有错，我只是想起了我自己的事。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴一愣，眨了眨眼睛。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子松开手，叹了口气，坐了下来，说道：“我十四岁那年……” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;包间里，古芊芊说道：“吃吧，不用等了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚影和惜音都不敢动筷子，古芊芊又说道：“放心吧，我夫君最会哄女人了，快吃吧。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容抄起筷子就夹了块肉，塞进嘴里后含浑着说道：“好香啊，好久没吃到这么好吃的菜了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧对媚影和惜音说道：“快吃吧，卿琴跟伢子较劲，哪有心思搭理你们呐？就是耍性子的事儿，还至于迁怒到你们头上吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚影跟惜音对视一眼，相继拿起了筷子。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;听完了山伢子的经历，卿琴笑了笑，说道：“你真的是想多了，你觉得那个小鬼依赖我，其实那只不过是假象。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看她，卿琴幽幽说道：“孩子也会依赖母亲，吃饭要你喂，睡觉要你拍，看不见你就会哭闹，可一旦她长大了，有本事了……” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴的眼中有了泪光，山伢子握住她的手攥了攥。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴嫣然一笑，拉着他站起来说道：“走吧，吃饭去，我都好几天没吃过你做的东西了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吃完了饭，山伢子找钟离愁谈，按古芊芊的意思说了，钟离愁沉默了一会儿才说道：“转股份可以，反正你也不差钱儿，就是……小龙行吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子有些不解地看着他，钟离愁说道：“我是这么想的，你们要真去无名观修炼，我想带着嫦香一块儿去，这个店就都给小龙了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;章嫦香看着山伢子问道：“我们能去吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“能去呀，当然能去了，这还有啥不能去的？咱们都是一家人嘛。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;然后又对钟离愁说道：“也没啥不行的，咱也不是现在就走，芊芊那儿还牵扯到她爸妈，还有古家那么多产业，而且我还得教小龙哥手艺。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁点头，说道：“那行，我叫他来，咱爷仨一块儿商量商量。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;晚上八点多，潘小龙带着赵梓航来了，钟离愁似乎也没心情明示暗示，竹筒倒豆子一样，把山伢子的情况和自己的想法一股脑地告诉了潘小龙。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙听完以后愣了半天才问道：“那我这学还用上吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁说道：“上啊，上都上了，就上完呗，好歹拿个文凭嘛。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙皱眉说道：“我是觉得浪费时间。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁说道：“你才多大呀，别整得跟七老八十似的，先让你父母过来，反正你在这儿也有房，等回头我跟你婶儿走了，我那房也给你，我再托人找找关系，把你们家的户口也迁过来，以后你就在莫林发展吧。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙点头答应，说道：“谢谢师叔。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完了事儿，山伢子领潘小龙和赵梓航到套房，让古芊芊给卿琴等人介绍，然后就去盯班儿了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;介绍完，卿琴问古芊芊：“伢子就这么天天在外面站着伺候人呐？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊微笑着问道：“不生气就心疼了？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴坦然说道：“当然心疼啊，这叫什么事儿？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“挣得就是这份钱嘛，开饭店招待客人，这不是很正常的事儿吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊接口说道：“也不完全是为了挣钱，做鬼食也是为了积福报。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧又说道：“他要没学做鬼食，你吃啥？喝西北风去吧。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴嗔道：“臭丫头，你以为我要给你家当老六呐？我告诉你，我是不可能嫁给他的，你少跟我面前摆元配的架子！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哼。”霍晓荧耸了下肩，一脸漠视的态度。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“老六？”潘小龙的目光在众美女脸上扫过，在心里查数儿。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所有人都瞪着他，赵梓航尴尬地搥了潘小龙一下，潘小龙说道：“不是，我没别的意思，我就是不明白，这才几天工夫啊？原来不就是晓荧跟芊芊吗？这怎么都排到老六了？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧和花梦容异口同声地斥道：“关你什么事？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙拉着赵梓航站起来，说道：“是不关我事，我还得回学校，我们先走了，你们聊。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“小龙，没人赶你走。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙微笑着说道：“不是，我真的得回学校，而且我得消化一下师叔跟我说的话，他说要跟着师兄去无名观，把房子和饭店都给我，我还得给我爸妈打电话，反正你们也不是一时半会儿就走，有机会再聊，我们先走了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两人走了，霍晓荧说道：“他还真是转性子了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“人总是会长大的嘛。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴问道：“他谁呀？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“刚才芊芊不是给你介绍了吗？你听什么了？脑子里光顾着心疼伢子了？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴白了她一眼，看着古芊芊，古芊芊说道：“一个凡人，法力有限，比伢子大一岁，跟伢子的师父是同乡，在伢子之后拜的师，以前嘴很贱，特别招人烦，经了几回事儿，现在成熟了许多。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴点头，又白了霍晓荧一眼，霍晓荧嗔道：“就没有你这么问话的，也就芊芊能听懂你的异族意思。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴不理她，对古芊芊说：“这就是做样子，要说积福报，解事比喂饭管用吧？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊看着她点头，答道：“那是自然。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴说道：“这城市里灯红酒绿，人人吃得饱穿得暖，再冤的鬼能冤到哪儿去？莫不如把饭店开到乡野之间，阴僻之处，让那些真正的孤魂野鬼也能吃上饱饭，若有机缘，解了他们的冤怨，福报要比现在大得多吧？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“员工、材料、煤气水电、网络、住宿，这些你想过吗？你别拿两百年前跟现在比好吗？再说了，你才来了一天，连夜市都还没见着呐，出什么馊主意。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴嗔道：“我是踩你尾巴了，还是睡你男人了？你干嘛总跟我杠着？好像你还得求着我才能顺利转生吧？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嗤了一声，说道：“有什么了不起，大不了就不转生了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴微一皱眉，问古芊芊：“她什么意思？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;(本章完)
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>