<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第409章：父亲</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第409章：父亲
</div>
<div class="bookname">
	<h1>第409章：父亲</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第409章：父亲<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“什么？”姬北洋怀疑自己听错了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬洪海表情严肃地重复道：“为了长生。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古往今来，多少王侯将相，多少圣者能人，他们手掌乾坤，叱咤风云，谈笑间翻天覆地，指点间江山易主。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;然而，任谁也逃不过衰老和死亡，纵是锦衣玉食，纵是灵丹妙药，也不能使人长生。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;长生，早已成为人类的一个梦魇，明明知道它遥不可及，却从来不曾失去吸引力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;无名观无名真君，活了六百一十岁，已是地仙的寿数，对于常人来讲，这已经是长生了，而且是长生不老。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;五行石是无名真君尸解之物，虽然五行石能量巨大，却也不能使宿主长生，哪怕是延缓衰老，或者是多活个二三十年都不行。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是，孙家人却都很长寿，别人家四代同堂都属不易，而孙家竟能九代同堂！而且，孙家从不与另外四家联姻，宁可嫁娶普通人家的子女。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;四家曾联合起来向孙家要说法，但孙家却避门不见，霍家脾气最大，直接找上门儿去打架，但不知道为什么，架没打起来不说，从此霍家再不出声儿，也不与其他三家联合了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那一年战争爆发，姬家就借助军队的力量铲除了孙家，可是，拿到火行石没多久，火行石就自行封印了，不仅如此，因为在夺火行石的时候，姬北洋的祖爷爷还被火行石所伤，没过两年就死了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孙家灭了，火行石封印了，而唯一可能知道真相的霍家，趁着战乱跑了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋的爷爷找了很多年，却始终没有找到霍家的下落，无奈之下，只能把火行石丢在了孙培坤当年坠崖的地方，让它等待它的新宿主。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋愕然问道：“孙家不是三百年前被灭的吗？霍家也消失了一百多年了呀！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬洪海笑着答道：“那不过是你爷爷那一辈人，为了掩盖真相而编造的谎言，因为时间越久，越没人关心事件的真相。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋皱眉问道：“既然是三家联合，何必还要费力地掩盖真相呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬洪海答道：“因为灭了孙家，什么都没得到。更因为除了五行世家之外，还有许多人对五行石虎视眈眈。要骗别人，先得骗自己人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋觉得心寒，就为了长生？孙家人即使长寿，也不过就是多活些年头，至于吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬洪海似乎看穿了姬北洋的心思，说道：“不仅是长生，还有生发万物的法力。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋一愣，这个他听山伢子说过，祖师就是让一粒种子，在须臾间长成了参天大树。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬洪海又说道：“五行石是祖师内脏所化，如果能将五行石全部收到手中，或许能有什么发现。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;看着姬洪海贪婪的眼神，姬北洋莫名的有些害怕，还有些厌恶，冷声说道：“爸，你已经死了几十年了，就算能长生，或者能……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“闭嘴！”姬洪海呵斥着打断了姬北洋，厉声说道：“你的命都是我给你的！你竟敢教训我？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋用厌恶的眼神看着姬洪海，真不敢相信，自己的父亲居然这样贪婪，而且……凶神恶煞！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬洪海平静了一下，问姬北洋：“是谁跟你说了这些事，让你来问我？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋答道：“是一个黑衣人，我不知道他是谁，但我知道他是一具活尸。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬洪海冷笑一声，说道：“我知道他，但我也不知道他是谁，我跟他碰上过两回，谁也不碍谁的事。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“怎么可能？”姬北洋用嘲讽的语气说道：“你们都是想有朝一日，把五行石聚在一起，怎么会谁也不碍谁的事？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬洪海摇了摇头，说道：“他的目的似乎不是要把五行石聚在一起，而是要试验冲灵。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋说道：“我们开会的时候，石庆山说过，他说是黑衣人说的，冲灵实际上是魂灵相合，应该五行石的宿主都能做到，但是……各家的传承中都是严禁冲灵。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“狗屁！”姬洪海嗤之以鼻，说道：“你以为我是怎么死的？我就是试验冲灵才暴毙的！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;冲灵这种事，打从继承了五行石就偶有发生，一开始各家都以为这是借助祖师灵气的方法，直到有人暴毙，大家才惊觉这是一件极其危险的事情。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是，大家都不死心，因为冲灵的威力实在是太大了，几乎可以使法力翻上几倍！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以虽然明知道很危险，各家却依然在尝试，但最终都没有成功，孙家是保持冲灵次数最高的，一百零三次，最后一次冲灵，全身炸裂，筋断骨折。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋皱眉，问道：“为什么你知道这么多事，而我却什么都不知道？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬洪海答道：“因为战乱，各家保留的典籍都遗失了，而且当时你还小，我也没闲工儿夫跟你说这些。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋点了点头，说道：“爸，你能不能告诉我，为什么你都死了几十年了，还要这么折腾？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬洪海说道：“我折腾什么了？我不过就是灭了霍家，杀了古木苍而已，我没有再抢夺五行石啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋说道：“你都死了，为什么还要灭霍家，还要杀木苍？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬洪海咬牙说道：“因为我不能长生，霍家也别想！霍家是唯一有可能知道孙家秘密的人，既然我已经死了，那他们霍家就得给我陪葬！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;缓了一下，姬洪海又说道：“至于古木苍，我本不想杀他，是他自找的，如果他把木行石交给我，再告诉我霍家小杂种的下落，就没他什么事儿了，可他偏要逞英雄当好汉，我又何必留着他？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋看着他，语气警惕地说道：“歆雨也是霍家传人，你不会连她也要杀吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬洪海笑着摇了摇头，说道：“什么霍家传人，真正的霍家传人，给那个山伢子做了冥妻。我不过是跟歆雨的奶奶相识，本来是想帮帮她，遂了她的心愿，让她能跟了那个山伢子，没想到阴差阳错，她倒成了咱家的媳妇儿，不过这也是件好事儿，至少五行石咱们家占了两块儿。”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>