<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第178章：不靠谱儿</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第178章：不靠谱儿
</div>
<div class="bookname">
	<h1>第178章：不靠谱儿</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;??&quot;第178章：不靠谱儿<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子眨着眼睛琢磨，古芊芊说道：“让他在岸边指一个位置，你延着河床横向找。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”山伢子点头附和。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹拎起水鬼走到江边，问道：“在哪儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;水鬼答道：“小姑娘，我得下去才能找到，这么大的江面……哎呀，你别打呀，我说得是实话！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹一拳接一拳地捶他，水鬼一个劲儿的嚎叫。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子向远处看了看，因为没有了红光，那些在远处录像的人也都散去了，山伢子就走过去问张小莹：“咋的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹答道：“他说他得下水才能找到。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，水鬼到了水里，能量肯定会大增，虽然张小莹能打得过他，但如果他要跑的话，估计张小莹也很难控制住他吧？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊突然说道：“不用他带路，灭了他，明天我去买潜水用具，石庆山再用追灵符找一下。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;水鬼愕然扭头瞪着古芊芊，大声问道：“你谁呀？你知道我师父是谁吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嗤了一声，答道：“我是谁跟你说不着，你师父是谁跟我也没关系，你想害死小莹姐，我们灭了你也是一报还一报。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子掏出铜钱剑甩直，要不是顾虑着找八卦镜，他刚才就想砍死这只水鬼，现在古芊芊给出了另一种选择，他再没有不泄恨的理由！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;水鬼惊叫道：“你敢！我师父是……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一剑捅过去，水鬼噗的化成了黑气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊愣住，她就是吓唬水鬼，让他把八卦镜的位置说出来，没想到山伢子真就一剑把水鬼给捅死了，都不带打声儿招呼的！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你傻呀！”古芊芊瞪着山伢子，气得脸发红。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看着古芊芊，一脸无辜地问道：“咋了？你不是说咱们自己找吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊咬着牙，死死地瞪着山伢子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹抚着古芊芊的后背哄道：“别生气，他就这德行，要不你扇他两巴掌，再不行踹他两脚，别把自己气坏了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，这会儿也反应过来了，古芊芊实际上就是吓唬水鬼，其实就算是自己找，也应该让水鬼先给指出一个大概的位置才省事儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只不过水鬼要弄死张小莹，山伢子控制不住心里的火气，所以没想那么多，一听古芊芊说自己找，就立刻痛下杀手。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;梅姨站在不远处，掏出手机打给韩慕灵，说道：“小姐，石庆山把那个水鬼杀了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵沉默了片刻，问道：“确定是图黛玉吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;梅姨答道：“不确定，石庆山根本就没让那只水鬼把话说完。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这个浑小子！”韩慕灵重重地叹气，说道：“把芊芊带回来！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是。”梅姨答应，挂断了电话，走过来说道：“回家吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊看梅姨，梅姨说道：“水鬼已经灭了，庆山今天也不能再用追灵符，这么大一条江，摸一夜恐怕也摸不着。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;三个人都低着头不说话，梅姨看着山伢子问道：“你是回家还是去饭店？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“我去饭店。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;到了饭店，山伢子和张小莹下车，古芊芊也要跟着下车，梅姨说道：“芊芊，时间不早了，咱们回家吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊翻手腕看了眼表，说道：“还不到九点儿，我……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“芊芊。”梅姨打断了她，说道：“你最近又是考试又是帮忙办事，应该好好休息两天。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊抿住了嘴唇，看着梅姨，张小莹趴到车窗上笑着对梅姨说道：“谢谢梅姨，再见。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;梅姨微笑着答道：“再见。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;然后开着车走了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“古芊芊不吃饭呐？都到了门口儿了，咋不进来吃口东西呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹恨恨地瞪了他一眼，转身进门儿了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉问道：“又咋了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊回到家，韩慕灵在客厅坐着，古芊芊坐下问道：“妈，你什么意思？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵反问道：“你什么意思？真看上石庆山了？我不过是让小梅带你回家，你就这样兴师问罪？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉，想了一下才说道：“我刚考完试，放松一下不行吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵笑了笑，说道：“咱俩不用兜圈子，我实话告诉你，你以后少跟石庆山来往。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊大声问道：“为什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵反问道：“为什么一定要来往？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊压着心里的烦躁说道：“妈，你不是说不兜圈子吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵点了点头，说道：“石庆山不靠谱儿，他的确是为你受了伤，我也很感动，但做为一个男人，光有血气之勇是不够的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊咬着嘴唇儿，憋了半天才说道：“我喜欢小莹姐，我就是……我跟石庆山就是普通朋友！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵淡然一笑，说道：“欺人容易，欺心难。你对石庆山的感觉，早就超过了普通朋友的范畴。他这次行事鲁莽，只怕会惹来大祸，就算你跟他只是普通朋友，也应该置身事外才好。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊刚要说话，韩慕灵又抢着说道：“你并不是只代表你自己，你代表的是水行世家，你有错失，全家要跟你一起承担后果，甚至会影响到姬家和屈家，收起你的大小姐脾气，这件事没商量。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊蹭地站起来，大声问道：“图黛玉就那么可怕吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵答道：“人不可怕，麻烦才可怕。退一步来讲，人家只是抢了东西，而石庆山却是灭了人家的弟子，你觉得这样的结果对等吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊争辩道：“是那只水鬼先要害小莹姐的！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵平淡地问道：“小莹灭了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊再次咬住了嘴唇儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵说道：“我教过你，话到嘴边留半句，事占理时让三分，做人做事都要留余地，否则就会冤冤相报。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊气哼哼地琢磨了一会儿，说道：“这件事不一样，是对方先抢了八卦镜，然后又故意想害死小莹姐，只不过是没得逞而已。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵说道：“既然没得逞，就不是事实，但石庆山灭了水鬼却是事实，而且在灭掉之前，也没有留下水鬼要害死小莹的证据。”&quot;<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;，更多精彩阅读，哦。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;手机站:
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>