<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第255章：我们说了算</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第255章：我们说了算
</div>
<div class="bookname">
	<h1>第255章：我们说了算</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;&quot;第255章：我们说了算<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿一愣，随即失笑，转瞬又收了笑意，紧张地说道：“你别把我变小狗儿！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，问道：“啥意思？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿答道：“屈法师说的，这是你的梦境，在你的梦境里你做主，你别把我变成小狗儿，我还得带你出去呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“梦？”山伢子又转回头看那辆自行车，自言处语地说道：“原来我在做梦。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿问道：“你还记得睡觉之前的事吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这话是屈长寿教她的，为的是让山伢子相信这是梦，而不是被叫魂儿了。人做梦的时候，想不起来短时间内的事情，但要是被叫魂儿了，就会什么都记得。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子转回身看着桃花儿，问道：“你不是在我家给我爹和天心调养吗？你咋来了？啥时候儿来的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿说道：“昨天晚上，小荧接我来的，我还吃了你做的奈何忘归。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子眨眼，桃花儿又说道：“你在做梦，所以你不记得刚刚发生的事，跟我走吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，问道：“去哪儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿咬了下嘴唇儿，是啊，去哪儿？怎么才能出去？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“你咋进来的？你咋还能进我的梦呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿答道“是屈法师把我送进来的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿把情况详细说了一下，山伢子眉头皱得更紧，问道：“做梦……应该是梦到自己熟悉的事儿吧？我都不知道这是什么地方？你进来的时候儿，都看见什么了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿摇头，答道：“没看见什么，先是一片黑，然后就看见你冲墙站着。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子琢磨了一会儿，说道：“来，你摸着这个自行车儿，看着我，我往那边儿走。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好。”桃花儿答应，走过来把手放在自行车把上，然后看着山伢子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子往前走，走着走着就不见了，桃花儿心里害怕，喊道：“山伢子？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;没有回应，桃花儿骤然心慌，带着哭腔儿又喊道：“山伢子！你答应我一声儿啊！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我在呐。”山伢子走了回来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿扁了嘴，眼泪滑落，抬手抹了一下，嗔道：“你咋不答应？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“我答应了，你一喊我就答应了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿怔了怔，说道：“我喊了你两声。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子叹了口气，说道：“我就听见一声，就是刚才那声，而且我一直是朝前走，没回过头。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;快一个小时了，山伢子还是沉睡着，一点儿要醒的迹象都没有，霍晓荧坐立不安，忍不住又问屈长寿：“屈老，我真的不能进去吗？桃花儿虽然是过百年的鬼，可她没经过什么事儿，估计脑子也笨，山伢子就更不用说了，俩笨蛋凑一块儿，能出得来吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈长寿不说话，因为不知道说什么，其实他怀疑山伢子这回是受火行石影响，因为本身山伢子没有受伤，不像上两回，都是受了伤才昏迷的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是屈长寿没往火行石那儿扯，因为他虽然怀疑，但说不出什么道理来，还不如就按山伢子的表征来处理，就是魇住了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子手机响，霍晓荧拿起来，看到是古芊芊打来的，今天是两人视频的日子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧挂了电话，转身出去，用自己的手机打给古芊芊，把情况说了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊半天没说话，霍晓荧说道：“你想回来呀？你回来也没用。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“我在想，火行石为什么发光？既然不是被叫了魂儿，那火行石是怎么回事？会不会是火行石把伢子魇住了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧低声说道：“我也这么想，但是屈老连一个字儿都没提火行石。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“他当然不会提，他肯定也想不明
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>