<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第82章：查档案</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第82章：查档案
</div>
<div class="bookname">
	<h1>第82章：查档案</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第82章：查档案<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;快凌晨五点了，舒静趴在病床边，搂着夏歆雨睡着了，突然听见有人叫自己，像是骆小甜的声音，只是有些飘忽不定。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;舒静刚要起来，突然挨了一巴掌，忽悠一下醒过来，感觉有只手按在后颈上，扭头看到山伢子一脸严肃地伸着胳膊，就问道：“你干嘛？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子收回手，小声儿答道：“你被叫魂儿了，我在保护你的魂儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;舒静连忙晃夏歆雨，夏歆雨一激灵醒过来，瞪着大眼睛看着舒静，舒静问道：“歆雨，你没事儿吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨茫然答道：“没事儿啊，我怎么了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;舒静转身又要去晃沐航，被山伢子拉住，说道：“他们俩都没事儿，就是你被叫魂儿了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”舒静答应，但还是伸手去晃沐航，同时叫道：“沐航，醒醒。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，张小莹笑了一声，说道：“关心则乱嘛，很正常。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨看着山伢子问道：“你也没睡一会儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“我不困，天亮了我再睡，没什么事儿，你再睡会儿吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”夏歆雨温婉地答应，闭上了眼睛。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沐航打着哈欠坐起来，问道：“怎么了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;舒静答道：“没事儿，你睡吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沐航皱眉看着舒静，山伢子解释道：“刚才舒静被骆小甜叫魂儿了，她担心你和歆雨，就把你俩都叫醒了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沐航眨了眨眼睛，来了精神，问道：“什么是叫魂儿？为什么只叫舒静的魂儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;舒静抢着说道：“这都不明白？叫魂儿就是把人的魂儿叫走，人就死了呗。只叫我的魂儿，就是因为我跟她不对付呗。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沐航看着舒静问道：“你没事儿吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;舒静微笑着反问道：“你觉得我有没有事儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沐航一边穿鞋一边说道：“是不是你累了一宿，阳气弱啊，我睡醒了，你上床睡一会儿，恢复一下体力。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;舒静笑意更浓，说道：“不用了，我没事儿，床位是你的，我要是躺上去，护士看见该说了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沐航穿好了鞋，站起来说道：“有什么可说的？咱自己花的钱，她还管咱们谁躺在上面吗？快睡会儿吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨坐了起来，看着山伢子说道：“我也睡醒了，你睡会儿吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子摇头，说道：“天还没亮，我不能睡，你多休息，属你体质弱，要不然骆小甜也不会冲你的身。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨说道：“你也不能总这样儿啊，那你还能天天晚上不睡觉吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“我本来就是晚上不睡觉，我师父那个店是晚上营业。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨看着他，山伢子认真地说道：“我不骗你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“傻子。”张小莹翻了个白眼儿，说道：“反正大家都醒了，说点儿正事儿吧，你打算怎么办？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“既然她来叫魂儿，那这事就不会善了，其实一开始她冲上歆雨的身要掐死舒静，就足以说明她怨念极重，我觉得她还会来找咱们的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看了眼手机，皱眉说道：“只是我有点儿不明白，她抓走王严的时候是晚上八点左右，现在都快凌晨五点了，她怎么用了这么长时间才想起来叫魂儿，而且天快亮了，她这会儿叫魂儿也不对呀。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沐航三人都是一脸茫然地看着山伢子，张小莹说道：“这中间发生了什么事，只有骆小甜自己知道，我去一趟学校档案室吧，查一下王严和骆小甜的生日跟家庭住址。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子把灵石摘下来说道：“戴上。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹皱眉说道：“你留着，万一她来找你们怎么办？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“天快亮了，她应该不会来，你戴着灵石就不怕阳气了，就算她来找我们，我还有童子眉呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹笑了笑，接过灵石戴到脖子上，说道：“我去去就回。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子嘱咐道：“别慌，小心点儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;查档案是个细活儿，不像拿件儿衣物那么便捷，所以昨天晚上张小莹并没有提议去查档案，但骆小甜跑来叫魂儿，这可不是好事儿，如果骆小甜这样闹下去，他们就不能被动的等待，必须主动出击，以免夜长梦多。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;借着两次保护夏歆雨和舒静的机会，张小莹已经把整个校园转遍了，她喜欢这个校园，这样的校园，也曾经是她梦寐以求的去处，所以每一个房间，甚至是每一个角落，张小莹都仔细的看过。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;轻车熟路的来到档案室，刚一进门儿，就觉得阴气极重，张小莹倏然飘到屋子中间，远离门和墙，防人的话应该背靠实体，但防鬼就只能这样儿了，背靠实体反倒会被鬼偷袭。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“呵呵呵……”阴冷而诡异的笑声飘忽不定。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹嗤了一声，说道：“脑有病吧？我也是鬼，你还想吓唬我啊？出来！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;骆小甜从一长排档案柜里走了出来，依然是她死时的那副模样，嘴边带着阴冷的笑意，说道：“来查档案呐？不如直接问我吧，省得你还得费事。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好啊。”张小莹故作轻松地说道：“那就请你先给我解释一下，你怎么会知道我要来查档案？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;骆小甜答非所问地说道：“我把王严掐死了，又把他的魂体撕碎了，他已经灰飞烟灭了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹皱眉，骆小甜说道：“灰飞烟灭的意思，就是不管阳间还是阴间，他都不存在了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹说道：“我知道灰飞烟灭的意思，我只是没想到，你会这么残忍。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“残忍？哈哈哈哈……”骆小甜状似疯癫的大笑，半晌才突然收住笑意，瞪着张小莹厉声说道：“我不像你！你有人心疼，所以你的怨念消了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹一愣，做为一个刚死的鬼，怎么会知道这么多？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;骆小甜倏然扑近，一把抓住灵石，直接把小布袋儿从张小莹的脖子上扯了过去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹惊呆了，她怎么能碰灵石？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;灵石发出耀眼的红光，骆小甜的右手像着了火一样，蒸腾着虚幻的烟气，但骆小甜的脸上却没有丝毫痛苦的表情，而是死死地攥着灵石，嘴里无声的念叨着什么。
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>