<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第625章：抓回去</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第625章：抓回去
</div>
<div class="bookname">
	<h1>第625章：抓回去</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第625章：抓回去<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容愕然看着霍晓荧，她觉得霍晓荧是在开玩笑，可霍晓荧的表情又不像。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧逗她，笑眯眯地说道：“你可以让主祭司把你赏赐给我们家伢子呀。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容抿住嘴，因为可以确定霍晓荧是在开玩笑了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“你问问他，是什么封印把他封起来的，又是谁给他下的封印。还有，你身上没什么特别的气息呀，怎么就能解开他的封印呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容说道：“他要咱们回答他的提议。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧斜眼看她，说道：“专攻语言的，是不是都像木讷？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容低下头，微微嘟嘴。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“你告诉他，我要跟他谈判。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”花梦容答应，对主祭司说道：“这位女士要跟你谈判。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;主祭司用不屑的眼神扫了霍晓荧一眼，问道：“她是什么人？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容答道：“她是亡灵御者的妻子，可以代表亡灵御者做决定。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;主祭司用不屑的语气说道：“你们国家的男人真没用，居然让女人代表自己。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容微微皱眉，霍晓荧问道：“他说什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容抿着嘴摇了下头，霍晓荧严肃地说道：“你搞清楚，你只是翻译，你没有筛选过滤的权力，因为你自己解决不了眼下的问题，他说的任何话，你都要如实告诉我们，否则会影响到我们对事态的判断，也可能造成不必要的误会，甚至是产生恶劣的后果。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容点头，说道：“他说咱们国家的男人没用，居然让女人代表自己说话和做决定。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧点了点头，说道：“告诉他，女人也是有能力的，你就是女人，是你解开了他的封印。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容一愣，霍晓荧又严肃地说道：“按原话翻译，不要自己措词，你不够聪明，不能领会我的意图。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”花梦容答应，老实地将原话翻译给主祭司。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;主祭司的目光投向了霍晓荧，说道：“女人，你让我很惊奇，在我的国家里，像你这样的女人非常少见。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“那只能说明你们国家闭门自封，而你也是孤陋寡闻。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;主祭司怒斥道：“女人！不要挑战我的权威！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“我姓霍，你可以称呼我霍女士，或者，我丈夫姓石，你也可以称呼我石夫人，不管你是哪个国家的人，也不管你是什么身份，最基本的教养也是应该有的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;主祭司不屑地说道：“你只是贱民，应该匍匐在我的脚下，教养是给高贵的人的，你不配。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容翻译完这句话，山伢子骂道：“我去你娘的！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“先别急眼，这就是个傻缺，我再问问。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧问道：“你刚才说你被封印了，是怎么回事？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;主祭司答道：“这不是你应该知道的问题，你问得已经够多了，现在回答我，愿意向我效忠吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧答道：“你不配。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;主祭司猛然站了起来，周身溢出黑气，并且飘浮起来，厉声说道：“那你们就没用了！我的女人，站到我这边来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你去死吧！也不撒泡尿照照！你算个什么东西！”花梦容忍半天了，这么嚣张跋扈没家教的人，还真是只在电影里见过！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她是普通人没错，她是比不了古芊芊，可她也不是能随便任人奚落和轻视的！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;主祭司瞪圆了眼睛，挥手向花梦容抓来，山伢子左手一甩打散了黑气，然后右臂一振，将花梦容震开，冲上去一拳将主祭司打飞出去，撞到墙上反弹回来，又紧跟着补上一脚。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;主祭司捂着肚子跪在地上，用难以置信的眼神看着山伢子问道：“你怎么会这么厉害？你不就是个亡灵御者吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看花梦容，花梦容说道：“他骂你是没有教养的贱民，质问你怎么敢动手打他。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子上去一脚踹在主祭司脸上，主祭司再次撞到墙上，然后转身要跑，火行石陡然发出一条红线，缠住了主祭司的脖子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容愕然问道：“这是什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧答道：“这就是火行石，它是有灵性的，它曾经活活烧死一个想害伢子的人，幸好你对伢子没坏心，否则你早就被烧成灰了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容震惊地看着霍晓荧，山伢子问道：“媳妇儿，这货咋整啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“先别弄死他，我还有好多疑问，抓他回去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;然后又对花梦容说道：“你也跟我们回去，一方面我们要审问这货，需要你做翻译。另一方面你在家不安全，至少要等我们把这件事调查清楚才行。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容张大了眼睛看着霍晓荧，眼神中三分诧异，七分惊喜。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧凑到她耳边轻声说道：“别会错意，我老公不会分给你的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容脸上一红，赶紧低下头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊和安婧带着李云华到了十一娘家门口，这是一个农家院，红漆大铁门，一人多高的院墙。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧抬手要拍门，古芊芊连忙拉住她，说道：“太早了吧？会不会吵到别人？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧似笑非笑地看着她，抬手抚了下她的脸，然后重重地拍了两下门。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;等了一会儿，院门拉开，一名壮汉闷声问道：“干什么？大清早的砸门，有毛病啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧一拳打在他肚子上，壮汉怪叫一声倒退了五步，摔坐在地上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊愕然问道：“你怎么直接就动手啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧掏出手机打字：我又不会说话，你又不说话，那你说我怎么办？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊微一皱眉，说道：“我来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧又打字：咱们是来兴师问罪的，不是来走亲戚串门儿的，你别这么小心翼翼的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊点头，迈步进了大门，问那个壮汉：“十一娘在哪儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;壮汉嚷道：“你们是谁呀？干什么的？私闯民宅还打人，我报警抓你们！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊立刻慌了，回头看安婧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧叹了口气，抿嘴一笑，在心里问山伢子：你在哪儿呐？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：快回到饭店了，怎么了？有事儿啊？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧答道：有事儿，我跟芊芊姐来找十一娘，可是……芊芊姐有点儿太软弱了。
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>