<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第194章：决定留下</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第194章：决定留下
</div>
<div class="bookname">
	<h1>第194章：决定留下</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;&quot;第194章：决定留下<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙跟张小莹几乎同声问道：“不走你想干啥？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，潘小龙又说道：“是，是我吓唬她来着，可我也不算完全说瞎话儿啊，她爹吴大壮就是祸害尚亚坤来着，她被车撞了只能怪她自己，就是你刚才说的那个话，自己的亲爹有啥可害怕的？而且又没亲眼看见。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹也说：“我救她是刚好赶上了，可不是出于愧疚，你留下有啥用？这世上糟心的人多了，你管得了几个？我还告诉你，就你挣的那点儿钱，连她的医药费都供不上，你别给自己找事儿啊！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“你们别这么激动，我知道你们说的都有道理，我就是想留下给她做几顿饭，帮她恢复恢复。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹说道：“不认不识的，你给人家送饭，合适吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“尚亚坤他们家跟吴桂花认识啊，我做好饭，让阿姨送去也没啥吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙点头，说道：“那倒也是，做饭你是专家。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹笑眯眯地糊拉山伢子脑袋，说道：“变聪明了哦。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子歪头躲，说道：“你别总跟糊拉狗似的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹扇了他一巴掌，说道：“没有安魂汤，你怎么帮她恢复？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“不一定要安魂汤，按照师公那个方子，只要火力控制得好，普通食材加上法力，也一样可以起到安魂汤的作用，甚至还会有其他的功效。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙瞪着眼珠子问道：“师公？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子点头，潘小龙又问道：“师公？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“对，就是师父的爹。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙说道：“师公不是早死了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“回头再跟你说，不过这件事不能告诉师父。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“为啥？”潘小龙问道：“咋还瞒着师父呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“师公让我做出鬼能吃的菜之前，别把方子的事儿告诉师父，我和小莹都不知道为啥。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹说道：“你要不要跟干爹说一声儿？图黛玉那边儿的事儿还没落听，咱们有时间在这耽误吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“干爹？”潘小龙问道：“啥时候儿成了干爹了？那小莹不就是小师妹了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;没人理潘小龙，山伢子皱眉琢磨了一会儿，说道：“打又不能打，说又没地儿说，我觉得师父也没想好怎么办呐，再说了，师父不是让咱们先把这边儿的事儿整利索吗。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完拿出手机，张小莹拍了他一下，说道：“先别打电话，你要是说实话，师父也得说你没有安魂汤，那方子的事儿你咋说？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“对哦。”山伢子看着她。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹想了一会儿，说道：“这事儿还是不行，咱们耗不起，吴桂花现在也吃不了饭，咋也得等两天，而且咱们也不可能在这儿待上两三个月吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子沉默，潘小龙说道：“沐航家不是挺有钱吗？要不你让他把吴桂花转到莫林市的大医院去？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子愕然看着潘小龙，说道：“小龙哥，人家跟这事儿八杆子打不着，凭啥让人家出钱出力啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙一脸尴尬地说道：“我不是没钱嘛……我要是像他那么有钱，我就把吴桂花转到莫林市去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子明白了，潘小龙还是觉得心里愧疚，不管怎么说，都是因为他，吴桂花才让车给撞了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹沉默了好一会儿，拿出手机打给徐四，把情况说了一下，然后又跟徐四商量了一会儿，挂了电话说道：“我回去，给你拿安魂汤。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，说道：“还得让你跑一趟，师公也是，有啥不能告诉师父的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹说道：“你一准儿能做出来呀？反正我坐火车也不花钱。我刚才想了，正好儿你在这儿多待一段儿时间，可以好好儿研究一下那个方子，也不用变着法儿的背着人了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子点头，这倒也是，不在师父眼皮子底下，怎么折腾都随便儿了，问道：“图黛玉的事儿咋办？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹跳下窗台，说道：“干爹没提，我也没问，反正我要回去，见了面儿再说吧，我走了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹走了，尚亚坤的父亲回来了，潘小龙把他们商量的事儿跟尚亚坤的父母说了一下，尚亚坤的父母都同意，毕竟吴桂花不容易，而且尚亚坤的母亲听完后就去了吴桂花的病房。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尚亚坤说道：“我表姐是记者，可以让她帮吴桂花搞个募捐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙问道：“你还有表姐呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尚亚坤答道：“结婚了，孩子都会走路了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙尴尬地呲儿道：“说啥呐？龌龊！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说要租间短租的房子，尚亚坤的父亲坚持让他们住自己家，最后潘小龙给折了个中，说反正是夏天，他跟山伢子在小超市打地铺，等尚亚坤出院了，也去小超市，仨人儿晚上还能卖东西，一举两得。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这主意的确不错，尚亚坤的父亲也就同意了，但肯定不会让他们打地铺，当即去买了三张折叠床和被褥，不等天黑就送到小超市。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙对尚亚坤的父亲说道：“叔儿，这儿就交给我吧，反正这套活儿我全熟，您赶紧回家歇歇吧，您就每天来补货就行了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尚亚坤的父亲也没太客气，反正都是熟人，就说道：“行，那我就走了，你们想吃啥吃啥，都是自己家东西，要订餐就从收款机里拿钱。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙答应道：“行，您甭管了，赶紧回家歇着吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尚亚坤的父亲走后，山伢子又出去了一趟，买了两个单眼儿的煤炉子、一车煤，还有锅碗瓢盆儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙兴奋地问道：“晚上做啥吃？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“下方便面。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“靠！”潘小龙不乐意了，说道：“你把家伙事儿都预备齐了，就给我下方便面吃？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子斜了他一眼，说道：“我又不是留下来伺候你的，你想吃炒菜，叫外卖呗。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙嚷道：“叫外卖还要你干啥？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子想了一下，说道：“那你去买菜吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙说道：“我去买菜，来人买东西你会收钱呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子瞪他，潘小龙说道：“瞅啥？买米买肉买菜去，赶紧的！”&quot;<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;，更多精彩阅读，等你来发现哦。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;手机站:
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>