<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第1章：腊月初三</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第1章：腊月初三
</div>
<div class="bookname">
	<h1>第1章：腊月初三</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第1章：腊月初三<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一年，山伢子十四岁。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一天，是腊月初三。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;北方的冬天冷到骨子里，尤其是近山的地方，风像刀子一样刮着脸，雪地一眼望不到边际，一脚踩下去能没到膝盖。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子起得很早，天才蒙蒙亮，起这么早做什么呐？当然是干活儿喽。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;驴得喂，天冷，驴不能饿着，还指着它拉磨呐。柴得劈，没有柴别说取暖，连饭都做不成。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;还要进山一趟，这两天放晴了，昨天下半晌儿在兔子窝边儿上支了筐，看看有没有扣着兔子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;爹死得早，娘改嫁了，给后爹又生了个大胖小子，虽然后爹没有不待见山伢子，但山伢子自己得勤快，别让人家说出什么来，人家有自己的儿子，而他却是个拖油瓶儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;娘说，爹是个二溜子，打从年轻的时候儿就不务正业，整天往外跑，经常十天半个月的不着家，最长的一次走了三个月，不知道跟哪个野女人鬼混去了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可爹在临死的时候儿却抓着山伢子的手说：“伢子，爹不是个二溜子，爹也没有跟野女人鬼混，爹是出去找发财的路，想让你和你娘过上好日子。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;爹把一个小布袋子塞到山伢子手里，那是爹一直戴在脖子上面的，小布袋子里装的是一块儿石头，爹说那是祖上传下来的灵石，可以让他们家飞黄腾达。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可娘却说，不知道从哪儿捡来的破石头，整天像个宝一样戴着，还说什么找财路，放着地不种，整天想着天上掉馍馍，这就叫心比天高，命比纸薄。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;爹说，毕竟是祖上传下来的，给伢子留个念想儿吧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;娘没再说什么，拿起布袋子，挂到了山伢子的脖子上。那年，山伢子只有八岁。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子从屋里出来，把门关紧，然后到仓房儿拿几个塑料袋儿塞到鞋里，这东西好，不仅能挡住雪往鞋里灌，还能保暖。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这东西是山伢子在山上捡的，夏天的时候在山里看到一些来爬山的男男女女，那都是城里人，穿得鲜亮，长得俊俏，干净得像画儿里的人儿似的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们把塑料袋儿随手扔了，山伢子就捡回来，想不明白这么好用的东西为什么要扔掉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;挂好了院儿门，山伢子深一脚浅一脚地奔着山走，天冷风寒，但山伢子却走得脸发红，身上发热.<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他打小儿就身体好，十二岁就能抱起一袋子五十斤的面，人家冬天穿得贼厚还嫌冷，他却嫌穿得多了热，就算是三九天儿也就是穿毛衣毛裤，外面罩上一层单衣。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;太阳出来了，照得雪地上亮晶晶的，山伢子走得心里欢实，放开喉咙吼起来：“大山的子孙哟……爱太阳喽……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;远远的就看见昨天支的那个筐扣着，山伢子心里喜滋滋的，后爹说娘这几天就要生了，所以山伢子才想着给娘弄肉吃。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;到了筐边，扒开一点儿缝儿往筐里看，还真扣着一只大肥兔子，身上毛茸茸的，瞪着两只黑亮亮的眼睛缩成一团。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子乐坏了，用小细绳儿把筐盖子绑好，抱着筐连跑带颠儿地往家返。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;家门口儿围着很多人，叔叔伯伯，婶子姨儿的都来了，山伢子人老实，见着人就低头，即便是碰上熟人也这样儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;抱着筐低着头从人堆儿里挤进去，突然听到屋里响起震天响的哭嚎声。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子愣住，抱着筐朝房门走，赶巧李家婶子开门儿出来，看到山伢子愣了一下，问他：“一大清早的，你跑哪儿去了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李家婶子是村儿里的接生婆，来家里看过娘几回，人很利索。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子低着头答道：“我昨天在兔子窝边支了筐，想给我娘扣个兔子吃，扣着了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李家婶子叹了口气，说道：“把筐放下，进屋去看你娘吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子把筐放在门边，推门儿走了进去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;围在院儿门口儿的人群，发出嗡嗡的低语声。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;床上，娘闭着眼睛，盖着被子，后爹搂着弟弟坐在床边的椅子上，哭得上气儿不接下气儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子心里咯噔一下，后爹哭成这样儿，娘怎么也不说他？娘怎么了？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“娘？”山伢子的声音发颤：“娘，我给你扣了只兔子，可肥了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“呜……”后爹的哭声更响了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“娘……”山伢子往床边儿蹭：“娘，我给你扣了只兔子……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;眼泪顺着脸颊往下淌，冰凉冰凉的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;娘走了，后爹说娘最后就想看山伢子一眼，可满村儿都找不着他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子跪在棺材头里磕头，头都磕破了，谁拦也拦不住，直到连磕带哭，昏死了过去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;迷迷糊糊的，听见有人对自己说话，像是娘的声音：“伢子，把你那块儿石头给我，快！快给我！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一激灵醒了过来，发现自己躺在炕上，身上盖着被子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;掀开被子下了地，走到院子里，看到后爹坐在娘的棺材旁边，沉闷地抽着烟袋锅子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;看到山伢子，后爹吐出一口烟，说道：“醒了，锅里给你盖着饼子，还有块儿肉，去吃了吧，是隔壁你刘婶子送来的，我跟你弟弟吃过了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子不吭声儿，跪在火盆儿边，捧一把银锞子撒进火盆儿里，看着锡纸在火炭上扭曲、变黑、着起火来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;后爹叹了口气，说道：“得吃饭，吃了饭才有力气，明天要给你娘下葬呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子闷声答道：“我不饿，留着给爹吃吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;后爹又叹了口气，站起身往屋里走，说道：“我给你拿去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“伢子。”娘的声音。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子抬头，看到娘站在对面，挺着大肚子，用发浑的眼珠儿盯着他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“伢子，把你那块儿石头给我。”娘说着，就伸手朝山伢子的脖子抓来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子傻愣愣地看着娘，胸前的小布袋儿突然亮起了红光，娘‘嗷儿’的一声退开好几步，一脸怒气地嚷道：“我让你把那块儿石头给我！听见没有？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“娘？”山伢子傻愣愣的叫。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;后爹一手端着碗，一手托着烟袋锅子走出来，吐出一口烟说道：“伢子，快吃喽。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子回头看后爹，然后伸手指着娘说道：“爹，娘回来了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“说啥呐？”后爹皱着眉朝院儿门口儿看了一眼，把碗递向山伢子：“拿着，快吃吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子接过碗，回头看娘，娘突然脚不沾地的飘向后爹，跟后爹的身子重合在了一起。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;后爹先是一哆嗦，然后眼珠子就变浑了，举起烟袋锅子照着山伢子脑袋就狠砸了一下，怒气冲冲地嚷道：“我让你把那块儿石头给我！”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>