<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第521章：突破</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第521章：突破
</div>
<div class="bookname">
	<h1>第521章：突破</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第521章：突破<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳埁想要的并不仅仅只是可以冲灵，他想要祖师的灵气，因为他想修仙！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;据家古籍记载，祖师活了六百一十岁，仅在死前才显老态，而其余的时间，一直是处在青壮巅峰状态。!<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这样的状态，不是世人梦寐以求的长生不老吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然远不是什么与天地同寿，与日月同辉，然而，对于寿数只有百余年，甚至不到百年，还要承受衰老过程的人来说，六百年青壮巅峰，足以令人神往了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以，当素茗告诉他，火行石重现人间，而宿主竟然不是无名观后羿之时，欧阳埁毅然决然地选择北！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他要夺回火行石，为无名观正名，也为他自己的千秋大计添砖加瓦。只是可惜，造化‘弄’人，他自以为是个旷世才，却轻易地死在了山伢子手。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在最后一刻，他不甘心，他甚至不曾后悔自己莽撞地将霍晓荧打落黄泉，他只想报仇，因为他欧阳家有梦杀术，凭爷爷的法力，一定可以杀掉山伢子给他报仇！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以他舍弃了命魂，用寄魂术标记了山伢子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳垚在进入山伢子的梦境后，之所以没有立下杀手，还是因为太谨慎了，怕圈套，即使知道山伢子是火行石的宿主，但还是无法相信他能杀得了欧阳埁。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但这种事是这样，机不可失，时不再来，没有立下杀手的后果，是跟山伢子耗了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;耗以后，欧阳垚确认了山伢子有能力杀死欧阳埁，很后悔错失了先手，但也没办法，只能控制着杀阵跟山伢子耗，欧阳垚不相信，他修炼了一辈子，会耗不过一个二十啷当岁的小子？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊……”山伢子突然爆发出雷鸣一样的吼声，周身的红光陡然扩大，将飞速旋转的刀片撞开。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在刀片撞开的一瞬间，山伢子猛然蹿向了一杆黑旗，一伸手抓住了旗杆，而几枚刀片也穿透了红光，刺入了山伢子的肚子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;腹部的剧痛不周身承受的压力，山伢子感觉自己的骨头随时会被挤成粉末，但是山伢子不能松手，否则这通罪白遭了，左手搂着胳膊粗的旗杆，右手握拳一下一下重击在旗杆。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子每打一下，欧阳垚的身子震一下，当打到第十三下时，旗杆无声的折断，而此时坐在五星级酒店套房沙发的欧阳垚，闭着眼睛喷出一片血雾。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;另一边，霍晓荧骑在山伢子身，左右开弓狂扇他嘴巴，今天是她跟山伢子睡一屋，刚睡下没一会儿，她发现山伢子身出现了伤口。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧把家里人都喊起来时，山伢子的腹部开始流血，霍晓荧把他扒得只剩下个‘裤’头，发现他快成血人了，而且血还止不住。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵打电话叫人送血浆来给山伢子输血，霍晓荧把洪拓和桃‘花’儿叫了来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓问了情况以后，愕然说道：“难道是梦杀术？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓也来不及解释，让霍晓荧骑在山伢子身‘抽’他嘴巴，这样做不是为了唤醒山伢子，因为如果真是梦杀术的话，除非山伢子在梦可以脱险，否则根本醒不过来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;‘抽’嘴巴的目的是通过外力震‘荡’命魂，避免命魂深陷梦境，而让霍晓荧‘抽’，是因为霍晓荧是木行，在‘抽’嘴巴的过程，可以将自己的魂力输送给山伢子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子打断一根旗杆后，感觉到压力骤减，同时也感觉到一股能量从虚空进入自己的身体。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子不知道这是怎么回事，仓促之间，认定是火行石感觉到危险，在给他输送能量。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;腹部依然剧痛，在压力减弱之后，腹部的疼痛感更为强烈，山伢子咬着牙越过断掉的旗杆，眼前是一片黑暗。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;身体有些晃动，脚下开始变得虚浮，黑暗没有方向感，越往前走，身后的光线越暗淡，脚下也越虚浮。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子猝然停步，伸手不见五指，前面如果是高楼的边缘，或是悬崖的边缘，那他掉下去会不会摔死？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;腹部的剧痛让他很担忧，因为离开了黑旗刀阵，疼痛的感觉不仅没有减弱消失，反而在持续放大，像真的受伤了一样，那么，他是不是真的受伤了呐？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果他真的受伤了，那他要是从高处掉下去，一定会摔死！这可不是闹着玩儿的！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子转回身，看着黑旗刀阵，虽然圆阵出现了一个缺口，但是刀片还在阵飞速的旋转着。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子咬了咬牙，一步一试探地往回走。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子觉得，他睁开眼睛的时候在阵，那阵的心应该是他梦的入口，如果想出去，应该回到那里，把黑旗刀阵彻底扫掉，或许他能醒过来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不能‘乱’跑，这像一个无垠的黑暗荒漠，一旦远离了入口，恐怕再也出不去了，甚至再也没人能找得到他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳垚没有想到，山伢子居然在梦也可以醒悟，其实山伢子破了阵逃走并不是好事儿，的确是更加凶险，在无边的黑暗，欧阳垚可以做出无限的可能，可以轻易的将山伢子投入万劫不复之地！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;然而，山伢子如果不逃，而是将黑旗刀阵彻底打坏，那他要现身跟山伢子拼命了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;任何事物都是有源点的，所谓一生二，二生三，三生万物，山伢子的直觉很准，阵心是源点，只要不离开源点，欧阳垚不能变化，因为连一生二的机会都没有，又哪来的三生万物？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳垚睁开了眼睛，他放弃了，反正人总得睡觉，这次不成，下次再说，没有必要跟山伢子拼命。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;实际，欧阳垚感觉如果拼命的话，他没什么胜算，不如暂且收兵，重整旗鼓，来日再战。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑旗刀阵突然消失了，山伢子忽悠一下醒过来，听到一声脆响，然后才感觉脸疼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;还没明白是怎么回事，霍晓荧又一个嘴巴扇，古芊芊喊道：“别打了！醒了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧连忙捧住山伢子的脸，紧张地看着他的眼睛，急切地问道：“你怎么样？伢子？伢子！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“唔……”山伢子使劲儿挤了挤眼睛，觉得整张脸火辣辣的疼，还胀得慌，嘴也发木。
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>