<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第330章：事发突然</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第330章：事发突然
</div>
<div class="bookname">
	<h1>第330章：事发突然</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第330章：事发突然<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵根本没理会莫泓杰，而是饶有兴致地看着山伢子，这小子总能在不经意的时候给她惊喜。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这不可能是谁教的，因为谁都预测不到莫泓杰会说什么，除非霍晓荧把所有的可能性都考虑了进去，但他们下来得很快，时间上应该不允许。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵看向霍晓荧，霍晓荧摇了下头，韩慕灵脸上的笑意更浓，还真是山伢子自己想出来的这些话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;看到韩慕灵的表情变化，莫泓杰也反应过来，这些话不可能提前教，因为没人能预料到对方会说什么话，那这个土包子可不简单呐！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫泓杰打了个哈哈，坐下说道：“思哲那小子的命都不值一百万。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵笑了笑，莫泓杰这话的意思很明显，就是舍命不舍财，而且是打定了主意，就算一分钱不赔，也没人敢弄死莫思哲跟荆少华。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过话又说回来，山伢子要得有点儿多，一百万，绝大多数人辛苦一辈子，存款也很难达到一百万，山伢子挨了一刀就跟人家要一百万，是有点儿过分了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫泓杰又说道：“咱们武林中人一向快意恩仇，这样吧，思哲捅了你一刀，等我找着他，带他来见你，你也捅他一刀，一报还一报，这样可以吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子微微皱眉，这是铁公鸡呀，就说他要得有点儿多吧，可没想到这老头子连价儿都不还，这是打算一毛钱不给呀！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧扶着山伢子坐下，看着莫泓杰说道：“老爷子这话说得有点儿霸道吧？你家的人跑来拿刀捅了我老公，凭什么？你们家厉害呀，想捅谁就捅谁，捅完了还耍无赖，一刀还一刀就完事儿了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫泓杰冷了脸，反问道：“一报还一报有什么不可以的吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“可以，但不是这么个还法儿，我老公可没上赶着去招惹你孙子，既然要还，那就把拿刀捅人的那只手剁下来！免得以后再去犯贱捅别人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫泓杰微一眯眼，斜眼看向韩慕灵，韩慕灵垂着目光，端起茶碗喝茶。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫泓杰嘴边挑起一抹冷笑，看着霍晓荧说道：“谈不上什么招惹不招惹，火行石是仙茗山遗物，我莫家是嫡传，你老公八杆子打不着，如果他乖乖把火行石交出来，也就没这事儿了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嗤笑道：“你说话都不带打草稿儿的？你有没有搞清楚，是火行石选了我老公，不是我老公抢了火行石。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫泓杰说道：“刚才韩掌门说了，灵物认主，请你们把火行石拿出来，如果火行石认我为主，那这件事就一笔勾销，可以吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧问道：“怎么才算认主？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫泓杰冷笑着说道：“这还用问吗？那你们又是凭什么认定，石庆山是宿主的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子摘下火行石放到茶几上，说道：“不用说废话了，你想怎么试就试吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫泓杰笑了笑，说道：“还是老爷们儿爽快。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嗤道：“我不是老爷们儿，可我也没有捅完人就玩儿消失。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫泓杰脸色一变，瞪着霍晓荧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子呛道：“你试不试？磨叽啥呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫泓杰冷哼一声，伸手拿起火行石，托在左掌心里，调运法力，但是过了一分多钟，火行石没有任何反应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嗤笑道：“仙茗山嫡传？如今这世道，冒牌儿货还真多哈？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫泓杰眼色如刀地瞪着霍晓荧斥道：“你们做了手脚！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一直没有说过话的古芊芊突然说道：“请问莫掌门，你拿什么证明你们家是仙茗山嫡传？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫泓杰一愣，古芊芊又说道：“时隔千百年，传承数十代，我妈妈凭你一面之词，敬你年长，惜你是同道中人，所以才允许你验证，可如今火行石半点反应都没有，你却还要说是我们做了手脚，见过不要脸的，可没见过像你这么不要脸的！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫泓杰怒道：“放肆！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你放肆！”霍晓荧比他的嗓门儿还大，斥道：“伤人在前，无礼在后，灵物认主，恒古之理，我还是头一回听说能在灵物上做手脚，我们要有这份儿本事，我老公还能让你家那个不肖子孙伤着吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫泓杰‘啪’的一声将火行石摔在茶几上，厉声说道：“这就不是火行石，这就是一块普通的石头。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧刚要说话，火行石陡然亮起耀眼的红光。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫泓杰愣住，霍晓荧嗤道：“还有什么话说？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;直到此时，韩慕灵才再次开口说话：“莫掌门，如果你是冒充仙茗山嫡传，那这件事可就不是你想了结，就能了结的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫泓杰皱紧了眉头，盯着火行石，突然骂道：“背祖之物，不认自家嫡传，却非要与外人牵连，这种破烂货，不要也罢！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;火行石骤然射出一道红光，刺穿了莫泓杰的印堂！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一下发生的太过突兀，所有人都愣住了，眼睁睁看着莫泓杰整个人烧了起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震西惊得倒退了好几步，好半天才惊慌地喊叫道：“爸！救人呐！快救人呐！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊连忙双手掐诀，山伢子伸手要拿火行石，霍晓荧大叫道：“都别动！他已经死了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵也说道：“听晓荧的，都别动！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧又喊道：“火行石！你要烧就把他烧成灰，免得给我妈若麻烦！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;火行石陡然提升了能量，发出赤白的光芒，而莫泓杰的尸体周围也罩上了一层若有若无的白烟。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;热气太盛，韩慕灵站起来退开。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊恍然明白过来，火行石发出红光，射穿了莫泓杰的印堂，那就是直接烧掉了莫泓杰的脑子，莫泓杰在那一瞬间就已经死了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;时代不同了，现在死个人是大事儿，必须要报警，如果烧一半，尸体还能看出形状，那是没办法跟警察解释的，可要是让他烧成灰，就说他是自燃的，警察就算不信，也找不到证据证明是他杀。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而且最重要的问题是，在正常条件下，没有任何方法可以把人烧成灰！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊和霍晓荧一起扶着山伢子退开，莫震西骂道：“你们这帮王八蛋！你们害死我爸！我跟你们没完！”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>