<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第568章：要刻苦修炼</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第568章：要刻苦修炼
</div>
<div class="bookname">
	<h1>第568章：要刻苦修炼</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第568章：要刻苦修炼<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嗤了一声，说道：“行，我去替你说……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子笑，在她脸亲了一口，说道：“媳‘妇’儿最好了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“少贫嘴！”霍晓荧扇了他一巴掌，又白了他一眼，然后转了话题：“你回头还得再问问，好多重要的事你都没问。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“我知道，她法力跟不了，不能再留在我梦里，而且千头万绪的，我一时一会儿的也想不全乎，回头等她去了饭店，咱们一块儿问她。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好吧。”霍晓荧恢复了常态，拱着要起来，说道：“放手，我给你端‘药’去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子抱着她不放，说道：“再抱会儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧斥道：“别嘚瑟！赶紧把伤养好。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;端来了‘药’，山伢子一口气儿喝下去，然后问道：“邢洁岚的事儿怎么样了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧接过碗答道：“你跟芊芊都受了伤，我哪还有心思管她死活？洪拓去办了，回头问他吧。你歇着吧，我去跟芊芊说安婧的事儿去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;到了古芊芊卧室，霍晓荧让赵梓航先出去一下，然后才把安婧的事告诉了古芊芊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嘟了嘟嘴，说道：“用用呗，干嘛还要让她到饭店去吃饭呀，有架打的时候再叫她不好了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说她：“满脑子光想没用的，伢子是什么样的人，你还不清楚吗？他算对谁有好感，顶多也是怜香惜‘玉’，这么强的后援，不得巴结着点儿吗？再说了，为了守着你那具破尸首，人家这两百多年，可是付出了很多哟。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊瞪眼嗔道：“什么叫破尸首？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧笑眯眯地说道：“是破尸首，都干巴成那样儿了，看着恶心。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你讨厌！”古芊芊要跟霍晓荧撕巴，刚一动却牵动了内息，立刻疼得直哎哟。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧笑着搂住她，一边给她‘揉’‘胸’口一边说道：“让你嘚瑟，抻着了吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嗔道：“都怨你！谁让你招我！你要不招我，我能抻着吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧笑，说道：“别闹，正事儿还没说完呐，你说……你当年得许给素隐‘门’多大的好处，他们才能这么忠心的对你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊轻声说道：“我估计吧……可能是承诺带他们修仙。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧点了点头，说道：“我估计也是，那你伤好了以后要刻苦修炼，尽早兑现承诺。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉嘟嘴，霍晓荧说道：“醒醒吧，安婧已经证明了，伢子是没办法永远保护咱们的，归根到底，人还是要靠自己。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦……”古芊芊若有所思地说道：“所以她打了伢子三掌。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“我觉得她是想把伢子也打晕，但是没成功。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊抿嘴叹气，说道：“是啊，哪怕咱俩都能达到伢子那样的实力，安婧也不可能这么轻松得手。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“对呀。”霍晓荧说道：“以后少矫情没用的，抓紧时间修炼吧，别忘了，还有一个素茗躲在暗处挑事儿呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊不屑地嗤了一声，说道：“他根本不是伢子的对手。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“他打不过伢子，还打不过你跟我吗？你拿到了秋霜剑和凝心链，接下来又会出什么幺蛾子，谁能说得准？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉，霍晓荧接着说道：“安婧这次这样做，应该是为了给咱们提醒儿，只不过话不敢直说而已。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊问道：“为什么不敢直说？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧戳她脑‘门’儿，训道：“你傻呀？你跟伢子迟早是会觉醒的，他们还要仰仗你们修仙呐。伴君如伴虎的道理，在哪个圈子都是通用的，人家跟咱们又不是一家人，哪能像直筒子一样，有什么说什么。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”古芊芊嘟着嘴答应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧伏下身，贴在她耳边轻声问道：“唐召义吸元阳的功法你知道吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊一惊，扭脸看着她，霍晓荧轻声说道：“伢子也会吸人和魂的能量，我要想快速提升法力，这个功法是最好的捷径，我又不会去祸害好人，再说了，我也想明白了，强者为尊，要不是你前世有通天的道法，怎么可能由着你来定今生的际遇。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊咬住了嘴‘唇’，她当时跟唐召义把吸元阳的功法要来，本意是想让霍晓荧修炼的，但是这个功法毕竟有些伤天害理，古芊芊担心会造恶业。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“别想了，没有更好的办法，你跟伢子都有魂力可以觉醒，我什么都没有，要是光靠自己修炼，我永远也赶不你们，除非你想甩掉我。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉嗔道：“我没想甩掉你，你别拿话‘激’我，我觉得这事儿得跟伢子商量一下。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“商量什么？你们俩谁能做得了我的主？你跟他说了，反倒增加他的心理负担，你直接把功法告诉我行了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊呛道：“大老婆了不起啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“是了不起！你不告诉我，我找唐召义去问，我叫不来他，我出去找他，找不着不回来，我说得出做得到！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嗔道：“你怎么这样儿啊！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧答道：“我这样儿，告不告诉我？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊唬着脸瞪着她不说话，霍晓荧叹了口气，神‘色’黯淡了下来，幽怨地说道：“在黄泉你也听到了，长生对我说得是后会有期，可对伢子说得却是有缘再会，反正我迟早是要走的，既然我注定要成为你们的累赘，那不如趁早离开。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“行了！”古芊芊斥道：“烦你说这个，我告诉你功法，是福是祸，咱们一起扛！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;凌晨快两点，山伢子和古芊芊都睡熟了，洪拓才回到古家，打电话把霍晓荧叫到了后院，一见面报怨道：“那个姓贺的小子真够能作的，下了班不回家，先约着姑娘吃饭，然后去唱歌，闹腾到这会儿才回家，我溜溜跟了他一整晚。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧笑，既然不是个省油的灯，这也不算作，问道：“他家有什么情况吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓看着霍晓荧点头，说道：“还真有情况，要不要去看看？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;的小说站！
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>