<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第621章：你也能解决</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第621章：你也能解决
</div>
<div class="bookname">
	<h1>第621章：你也能解决</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第621章：你也能解决<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;美食可以安神，但花梦容这顿饭吃得很扎心，感觉自己像一个小丑，在别人面前上演了一场无聊的滑稽表演。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;走在宁静昏黄的街道上，花梦容抱着双臂，心里的痛犹如水面荡漾的涟漪，一波未平，一波又起。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她拒绝让山伢子送她回家，但是古芊芊坚持。她拒绝上山伢子的车，不回头地走上人行道，但是山伢子在后面跟着她。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她不敢回头，怕自己再流泪，更怕自己忍不住，再次投入他的怀中。不知道为什么，在欧阳埥向她坦白之后，她没有向父母控诉，反而是喝了酒跑来找山伢子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;曾经对山伢子那份若有若无的情感，竟然在遭到亲人背叛后突变得刻骨铭心。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她走得很慢，不是因为身体乏力，而是因为舍不得。她很清楚，这是一场离别，这是最后一次与他接近，终点就是她家楼下，甚至只是小区入口。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夜风很凉，天边隐隐响起沉闷的雷声，秋雨静谧地撒落，头顶上突然多了一件衣服。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容愕然停步，扭头看到山伢子的白衬衣，正在被雨水点点滴滴地润湿。抬起头，看着他的脸，花梦容的眼泪又流了出来，猛然抱紧了他，放声痛哭。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在错误的时间遇到正确的人，这是一种惩罚，她到底做了什么恶事，上天要让她承受这样的痛苦？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，扭头看霍晓荧，霍晓荧微笑了一下，她跟着来是不放心花梦容，因为很难分辨花梦容是正常的，还是又被欧阳埥催眠了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“放轻松，我又不是芊芊，我能理解。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子把眉头皱得更紧，其实这么多年，他一直猜不透霍晓荧的心思，经常不知道她是怎么想的，总觉得她跟正常人的思维模式不同。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“你不会懂的，在错误的时间遇到对的人，那种痛苦足以撕心裂肺。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧自己就是在错误的时间遇到对的人，她遇到山伢子时，她已经是鬼了。所幸山伢子对她一往情深，但这一路走来，心中的苦楚，只有她自己最清楚。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;相比较于花梦容，她还算是幸运的，所以霍晓荧可以理解花梦容此时的心情。另外，花梦容是多语言专家，这样的人迟早是会有用的，虽然不可能再让山伢子收老三，但保持信任关系还是有必要的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧又说道：“别像个木头一样，这样大家更尴尬。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子抱紧了花梦容，花梦容身体一颤，哭得更大声了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;凌晨三点了，古芊芊开始打哈欠，打完了哈欠就嘟着嘴看着电脑屏幕，安婧安静地坐在她身边摆弄着手机，其实心里像长了草一样，因为今天古芊芊给花梦容讲他们下黄泉的事，牵动了安婧心里那根原本静止的神经。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“李云华！你给我滚出来！”尖锐而暴戾的女人声音刺激得古芊芊精神一振，拉起安婧就出了门。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;楼下，杜云华站在大门外，满脸血污，全身上下黑气缭绕。李云华躲在洪拓身后，紧张地攥着双手。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊和安婧的出现吸引了许多年轻食客的目光，大多数人都听说过深夜鬼食堂里有极品美女，只是难得一见，今天来吃饭的人算是得偿所愿了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;有人对古芊芊和安婧吹口哨，随即就被史晋甩了一个大嘴巴，打得从椅子上摔了下去，然后就没人再敢看古芊芊和安婧了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊对安婧说道：“叫伢子回来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧打字：你解决不行吗？你也是法师呀。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊瞪着她问道：“你是真心让我试练，还是替伢子找借口，好让他能多跟花梦容待一会儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧皱眉，打字：你把心思多用在修炼上，早日觉醒魂力，带领我们跳脱轮回。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊轻声嗔道：“要是总有人抢你老公，你不着急啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧打字：又抢不走，着什么急？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉，安婧微笑着抬手揉了下她的额头，就像当初古芊芊给她揉额头一样。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊露出微笑，杜云华又在门外喊道：“李云华！滚出来！我知道饭店的法师出去了，别人保不了你，赶紧给我滚出来！谁也别管闲事儿，否则让你们饭店血流成河！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊淡了笑意，这也太嚣张了！而且她怎么知道山伢子出去了？她又凭什么认定饭店只有一个法师？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊对安婧说道：“把她抓到套房去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧点头，左手挡着右手，右手掐法诀，嘴唇微动，杜云华倏然被拉进门来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓始终没出声儿，就是等着看古芊芊管不管，今时不同往日，古芊芊的法力与日俱增，身边又多了一位安婧这样的高手，洪拓不能再越俎代庖了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧并没有做出任何动作，只是用法力控制着杜云华，扯着她上了楼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓暗自惊叹，安婧的手法很精细，山伢子虽然法力高，但绝做不到这样不动声色就能控制住鬼，他自己也不行，果然是学无先后，达者为师。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杜云华纵声嚎叫：“干什么？我是来报仇的！李云华害死了我！你们这是助纣为虐！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;进了套房，古芊芊像个女王一样斜倚在沙发上，面无表情地说道：“吵死了，让她闭嘴。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧甩手扇了杜云华两个大嘴巴，打得杜云华瞪大了眼睛，愕然问道：“你们也是法师？你们饭店不是只有一个法师吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊问道：“谁告诉你的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杜云华怔了怔，突然又喊叫道：“你们这是助纣为虐！李云华害死了我，他活着的时候我拿他没办法，他现在死了，你们凭什么不让我找他报仇？你们跟他是什么关系？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊微一皱眉，安婧走到沙发边拿起了柳条鞭，虚空挥了一下，‘啪’的一声脆响，吓得杜云华一哆嗦，再不敢喊叫。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊看着杜云华说道：“有理不在声高，我们抓你上来，不是因为你要找李云华报仇，而是因为你太嚣张。你给我解释一下，什么叫谁也别管闲事，否则就让我们饭店血流成河？”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>