<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第273章：有套房</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第273章：有套房
</div>
<div class="bookname">
	<h1>第273章：有套房</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第273章：有套房<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多事之秋，防范之心极其重要，洪拓毕竟是个不知底细的，如果问得太勤，恐怕反倒容易落入圈套，被人牵着走。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而且洪拓也是道听途说，对于这个广明真人，韩慕灵自觉也查不到对方的底细，而且避世修炼的门派，还是不招惹为好。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊问道：“妈，有什么要嘱咐我姐的吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵说道：“勤练功，少说话，别管闲事儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;断开连接，古芊芊问韩慕灵：“妈，五行世家的历史，可信程度有多高？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵答道：“很高，我愿意相信这是真的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉，又问道：“那就是说，会有很多人想抢五行石？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵沉默片刻，说道：“我倒是觉得，在最初的时候，是有很多人想抢五行石，但到了现在，恐怕灭掉孙家和霍家的，是姬家或是屈家。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊惊愕道：“你连姬叔叔都怀疑？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵怔了怔，问道：“我为什么不能怀疑他？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“他遇袭受了重伤，这些年一直是你在给他调理身体呀。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵说道：“那你又怎么能确定，他是真的遇袭，而不是在对付霍家时弄得两败俱伤？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊？”古芊芊撅了撅嘴，说道：“妈，我觉得你心理挺阴暗的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵嗤道：“等哪天山伢子要是让人弄死了，连魂儿都找不着，你就知道看谁都像坏人是个什么感觉了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊抿住嘴，走过来坐在沙上，挽住韩慕灵的臂弯，靠着她的肩头说道：“妈，将来让伢子倒插门儿好不好？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵微笑，说道：“他倒想娶你过门儿呐，他拿什么养活你？别说他就是个厨师，就算那个饭店都给他，能挣几个钱。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉，说道：“我有那么败家吗？那么大一个饭店还养活不了我？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵笑，说道：“败不败家单说，就他们那个饭店，干上十年，不吃不喝，能买得起咱家那个院子吗？你知道这栋别墅多少钱吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嘟嘴说道：“广厦千间，夜眠七尺，要那么大地方干嘛？又不跑马。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵笑，说道：“嘴硬是没用的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊转了话题，笑嘻嘻地说道：“妈，姬叔叔很喜欢你哦。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵嗤了一声，说道：“喜欢我的人多了，你管好你自己的事儿就行了，我且用不着你操心呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一觉醒来，去了饭店，史晋找山伢子，说道：“师兄，求你个事儿呗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“行，啥事儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;史晋说道：“听说你会扎纸，给我扎个房子住呗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，实话实说：“我其实不爱弄那个东西，我自己这一摊儿还没琢磨明白，没工夫琢磨扎纸，你找师父给你弄吧，师父弄得好，师父给师娘和小莹都做了个宅子，可好了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;史晋皱眉，就是不想麻烦师父，所以才找师兄的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧对山伢子说道：“不提这事儿我还忘了，黄老的房子不是给你了吗？让潘小龙跟尚亚坤住那边儿去，省得成天占着客厅。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”山伢子点头，他把扎纸黄的事儿忘一干净，那个房子过完了户，连收拾都没收拾，直接就扔到脑后去了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“走。”霍晓荧拉着山伢子就走。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“这就去啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“对呀！”霍晓荧说道：“叫上潘小龙跟尚亚坤，回家拿钥匙搬行李，现在就搬过去，我都快烦死了，大热天的，我晚上想到客厅坐会儿都不行，只能坐在窗台儿上看月亮。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿跟在后面说道：“我也去帮忙。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧一怔停步，说道：“对了，洪拓呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿摇头：“不知道，今天还没见着他呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;史晋说道：“他昨天收了工就走了，跟谁都没打招呼，到这会儿都没回来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“死不了。”霍晓荧拉着山伢子走，说道：“先收拾房子，这事儿比较重要。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;史晋说道：“那我也去帮忙吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿问他：“才下午两点，你受得了外面的阳气吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯……”史晋皱眉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿说道：“你别去了，应该也不需要收拾什么，就是简单弄一下，等他们俩住进去，自己再慢慢儿收拾吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好吧。”史晋也不敢逞能，他是普通的鬼，对于过重的阳气，还是很畏惧的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;下了楼，山伢子跟潘小龙把事情说了，潘小龙咋呼道：“我靠！你还有套房呐？你知道莫林一套房值多少钱吗？你地主啊你是！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“走吧，赶紧去收拾，赶在晚饭上客前回来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“行。”潘小龙叫尚亚坤：“走，我师兄有套房，说给咱俩住，咱以后不用地睡了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尚亚坤说道：“什么‘咱’，明明就是我地睡，你睡沙。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“废什么话！”潘小龙呲儿道：“还想混不想混了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尚亚坤耸了下肩，跟着往外走。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;回家的路上，潘小龙问山伢子：“我说你小子有套房，为啥不把你爹跟天心接来呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“我都把那套房忘了，不过上回我跟我爹说来着，想让他带着天心来莫林，可我爹不愿意来，说他要是来了，家里的地就荒了，还说他就喜欢种地，也舍不得我娘的坟，不过我爹倒是说了，等将来他干不动了，就来找我养老来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“也是。”潘小龙说道：“咱爹是个本分人，肯定愿意在家守着地。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧跟山伢子说：“加小心，他又想拿话套你了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿抿着嘴笑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙停了一会儿，问道：“那你将来结婚用这房吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“我就是暂时借给你住，等你开学了，你就住宿舍去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙嚷道：“张小莹，你是不是又挑拨离间来着？我话还没说完，他就知道拿话堵我。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧斥道：“要点儿脸吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙嚷道：“我咋不要脸了？那房子跟那儿空着多可惜啊？我就是想当个二房东，咋的呀？跟我师兄借个鸡下蛋不行啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问霍晓荧：“啥是二房东？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧答道：“就是你把房子租给他，他再转租给别人，挣差价。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;天才本站地址：。手机版阅读网址：
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>