<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第237章：跑了</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第237章：跑了
</div>
<div class="bookname">
	<h1>第237章：跑了</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;&quot;第237章：跑了<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子挽了个剑花，用铜钱剑卷住门帘，手腕猛然一抖，‘嘭’的一声将门帘扯了下来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是，屋里还是一片漆黑，山伢子掏出手机，打开手电筒往里照了照，光线根本就进不去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉说道：“外国的这种玩意儿，是有点儿意思啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧回头看了一眼南屋的门帘，琢磨了一下，问道：“你练出外气了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“没有。”山伢子想了一下，左手握住了火行石。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在钰县的时候古芊芊就说过，让他要借助火行石的能量，但是山伢子一直没搞明白怎么个借法儿，现在他想试一试。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;火的好处不仅是热，还有光，应该比手机管用吧？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;静修子的视频上说，灵从心，心之所想，意之所往，不管是自身的魂魄，还是外物的灵，都要用意念去沟通。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子静下心来，感觉着左掌心的温度，赵美蓉却在屋里阴笑，挑衅着说道：“不是说外国的东西没用吗？怎么不敢进来啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子无动于衷。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子最大的优点，就是有自知之明。本事不济就是本事不济，从来不逞能，该拼命的时候会去拼命，但不该拼命的时候绝对不去冒险。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是火行石似乎比山伢子暴躁，在赵美蓉挑衅过后，火行石伸出一条红线，缠在了山伢子的右手腕上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子愣了一下，这种情况出现过一次，就是找舒静命魂那次，后来他还琢磨来着，估计是当时情况特别危险，所以火行石才会主动给他借力，那今天也特别危险？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一琢磨，意念就散了，那条红线缩了回去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子突然明白了，这次是他真正做到了借力。刚才赵美蓉挑衅，他虽然表面上无动于衷，实际上心里还是有点儿生气的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;生气这种状态，来自于肝气上升，肝气上升，冲顶心火，他就能借来火行石的能量。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刚转完念头，感觉脖子上一凉，扭头见霍晓灾举着胳膊，用手捂着他的脖子，周身有一层极淡的绿色光晕。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“刚才你是不是生气了？气从肝，我是木行，给你助力。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子愕然问道：“你身上的绿光？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“我是鬼，没有肉身的阻滞，练起来当然比你快得多得多。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子心里说不出有多高兴，真想抱住她搞一下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧突然身子一颤，身上的绿光更亮了些，怔了怔，随即嗔道：“想什么呐？你肾气翻涌，都反推到我身上了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子连忙收摄心神，火行石骤然一亮，伸出一道红线缠住他的右手腕，铜钱剑顷刻间变得火红，像要炼化了一样。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一剑劈了出去，一道剑气呼啸着射进屋里，碎裂声掺杂着赵美蓉的惊叫声，屋里陡然明亮了起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卧室的窗帘碎了，剩下小半截狗啃一样挂在窗帘杆上晃荡，窗户上的玻璃也都碎了，楼下有人骂：“干他妈什么呐！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵美蓉不见了踪影，霍晓荧说道：“南屋也劈开。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子回身，先把门帘挑掉，然后问道：“不用劈了吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧收回手，答道：“不用了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;南屋是亮的，虽然也拉着厚窗帘，但光线能进去，看得清里面的景物。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;南屋是顶棚上画着图案，跟客厅里的一样，北屋却是画在西墙上，有洗脸盆那么大，红色的，图案也不一样。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子拍了照片，又仔细检查了一遍，对霍晓荧说道：“刚才她是惊叫，不是惨叫，应该是没伤着她，现在咋办？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧向窗外看了一眼，太阳快下山了，如果现在去第二个人家里，到那儿再折腾，天就黑了，还是明天再说吧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而且如果把这个邪阵弄明白了，或许不用再往别处跑，直接把赵美蓉拘来就行了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“先回饭店吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看了眼表，说道：“先回家。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧含嗔带笑地瞪他，但也没反对。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;天黑以后，山伢子才回到饭店，把照片传到电脑里，又把情况说了一遍，徐四联系韩慕灵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵告诉徐四，这的确是一个降灵阵，作用是召唤国外的一种恶灵，据说这种恶灵的能量极大，甚至可以毁灭人间。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然，这种说法只是建立在国外的资料基础上，韩慕灵虽然有点儿崇洋媚外，但对于这种说法还是嗤之以鼻的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;跟韩慕灵聊完了以后，徐四对山伢子说道：“找个没人的地方，试着拘一下赵美蓉。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，为什么要说‘试’？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四看他的表情，就知道他在想什么，就给他解释，举例说明，甲乙两个人，甲跟乙说，你来我家吧，甲就来了，这叫招魂。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;甲跟乙说，你来我家吧，甲不来，乙冲到甲家把甲拽到乙家，这叫拘魂。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;甲跟乙说，你来我家吧，甲不搭理乙，乙冲到甲家，连门儿都进不去，这就叫能力不够。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子点头答道：“明白了，我试一下。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子跟霍晓荧出来，招手拦了一辆出租车，坐上车以后，山伢子对司机说道：“去个没人的地方，越偏僻越好。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;司机回头看他，眼神惊恐地说道：“我下班儿了，急着交车，你坐别的车吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧照着司机后脑扇了一巴掌，司机立刻两眼发浑，转过头去开动了车子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉看她，霍晓荧嗔道：“有你那么说话的吗？搁谁不得以为你是打劫的呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子叹了口气，话是这么说，可他要怎么说啊？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“跟干爹说一声儿，你得学开车去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“买个自行车就行了，又方便又省钱。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧黑着脸瞪他，山伢子低下头说道：“学开车。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;到了一个偏僻的地方，霍晓荧凑到司机耳朵旁边说道：“靠边儿停。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;司机听话的靠边儿停了车，山伢子一边掏钱包一边问道：“多少钱？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;司机不回答，双手握着方向盘，目视前方。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“下车，待会儿还得让他拉咱们回去呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉说道：“这样不好吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧答道：“没事儿，又不是不给他钱，下车！”&quot;
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>