<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第696章：鬼灵草</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第696章：鬼灵草
</div>
<div class="bookname">
	<h1>第696章：鬼灵草</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第696章：鬼灵草 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴陪着宝儿一直折腾到凌晨三点多，把四层和三层都折腾遍了，宝儿才意犹未尽地说道：“开始热了，我要回家了，姐姐，咱们明天晚上接着玩儿呀？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴摇头，说道：“我一会儿就走了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;宝儿握紧了她的手指，问道：“你要去哪里呀？回家吗？你家在哪儿啊？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴面容凄楚地叹了口气，说道：“我没有家，四处游荡，走到哪儿算哪儿。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;宝儿眨了眨眼睛，说道：“姐姐，你跟我走吧，咱俩永远在一起玩儿。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴露出一抹笑意，问道：“那你父母会同意吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;宝儿答道：“我没有父母，就我自己，你跟我走吧。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;离开酒店，往东南方向一直走到郊外的一片荒地，宝儿才指着前方说道：“我就住那里。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴问道：“你住这里，为什么跑到那么远的地方去玩儿？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;宝儿答道：“我也不知道，我有一天醒过来就在这里，然后就凭着印象走，就走到那个酒店了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴点头，跟着他往前走，直到宝儿停住说道：“就是这里了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴笑，说道：“这里？四野茫茫，上无片瓦遮顶，下无寸席坐卧，这也算是家呀？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;宝儿眨着眼睛问道：“姐姐，你说什么呀？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴笑，捏着他的脸蛋儿问道：“你待在哪里呀？就在这儿站着吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;宝儿答道：“不是呀，我待在地底下，到白天的时候，上面太热了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完就沉入了地面，然后又露出个头来，哈哈笑了两声，说道：“姐姐，下来呀。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴透过地面，看到一具婴儿的骸骨，埋得很深，在骸骨的心脏部位，长着一棵草，亮着暗红的光。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴说道：“宝儿呀，姐姐突然想起有件事要办，等姐姐办完了事再来找你好吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;宝儿说道：“天都快亮了，你不怕热吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴微笑着答道：“你忘了，姐姐是老鬼呀，不怕热。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;宝儿一脸羡慕地说道：“不怕热真好，我什么时候才能不怕热呀。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴说道：“很快，等姐姐办完事回来，教你一个法子，你很快就不怕热了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“真的！”宝儿一脸兴奋地跳了出来，两只小手死死地抓着卿琴的手，满眼热切地问道：“姐姐真的能教我吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴蹲下身，慈爱地笑着说道：“当然能啊，你乖乖在这里等我回来，好不好？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯！”宝儿用力点头答应。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴拍拍他的头，说道：“下去吧，姐姐很快就回来。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好！”宝儿沉入地面，卿琴一转身消失了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子感觉有人推他，睁开眼，看到卿琴坐在他床边，问道：“你干啥？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴说道：“起来跟我走。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子使劲挤了挤眼睛，缓了缓发蒙的脑袋，问道：“去哪儿？不是……你咋随便进我屋儿呐？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴伸手扯他，嗔道：“废什么话，起来！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子推她的手，说道：“你庄重点儿，芊芊，芊芊？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴打他，嗔道：“叫唤什么？芊芊练功呐，婧婧和梦容睡觉呐，快起来跟我走。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子坐起来，看到古芊芊盘坐在床上，周身罩在紫气之中，而安婧和花梦容的床都拉着床帘，也看不见人，也没动静。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说卿琴：“你出去，我穿衣服。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴媚笑着说道：“我不出去，我就要看着。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉问道：“去哪儿啊？天都没亮呐？再说了，为啥单让我跟你去啊？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴媚笑着答道：“咱俩找个没人的地方亲热一下嘛。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子盘着腿，两手拄着膝盖看着她说道：“你知不知道你说话的方式特别耽误事儿？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴白了他一眼，嗔道：“讨厌……我发现了一棵鬼灵草，你跟我去拿，挺远的，就别折腾别人了，尤其你家老四，又没脚力又娇气。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“鬼灵草是啥玩意儿？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴嗔道：“现在是谁耽误事儿？你快穿衣服！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊闭着眼睛说道：“鬼灵草是好东西，可以提升晓荧姐的能量，有助她早日转生，夫君，你跟卿琴姐去吧。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子答应，开始穿衣服。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴嗤了一声，安婧在床帘里说道：“刚才就说你不行，非说自己有魅力，瞎耽误工夫。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴斥道：“闭嘴！睡你的觉去！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“婧婧，起来跟我一块去。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧答道：“不行，她说了，只带你一个人去，别人要跟着，她就不去了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子摇了摇头，穿好衣服下了地，说道：“走吧。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;上了车，卿琴斜着眼睛瞪山伢子，问道：“刚才你摇头是什么意思？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子打着了火儿，问道：“往哪儿走？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴嗔道：“我问你摇头是什么意思？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子大声说道：“我摇头是因为，你这么大岁数了还像小孩儿一样！往哪儿走？走不走？你不用睡觉，我得睡觉，大半夜的被你折腾起来，我很烦！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴一脸委屈地看着他，伸手指了一下，说道：“往东南方向走，在郊外。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一路上卿琴都没再说过话，即使在需要转弯时，山伢子问她，她也只是伸手指一下而已。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;通常男人对美女都狠不下心来，尤其美女还一脸委屈的时候。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子没话找话地问道：“你能给我讲讲鬼灵草吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不能。”卿琴直接撅了回来。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子失笑，卿琴斜眼瞪他，问道：“你又笑什么？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“我笑，越漂亮的女人脾气越大。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴嗤了一声，眼中有了笑意，嗔道：“我比你的媳妇儿们都漂亮吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“不是一回事儿，你的漂亮是异域风情。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴又嗤了一声，说道：“鬼灵草像药娘一样稀罕，也是千年难得一遇，它只会长在怨气与灵气都极为合适的尸体上。不过它的功用却没有药娘强大，它只对鬼起作用，经常闻鬼灵草的气味，可以提升鬼的能量。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子笑着说道：“咱们还总能碰上好东西哈？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;(本章完)
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>