<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第673章：赐名</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第673章：赐名
</div>
<div class="bookname">
	<h1>第673章：赐名</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第673章：赐名<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一句话把所有人都逗乐了，霍晓荧调侃道：“你家那么有钱，连条蛇都养不起？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊却认真地说道：“它在山中修炼，多数时间都处在静修状态，无需饮食，可要是跟着咱们四处活动，它就得吃东西。它这个体型，怎么给它弄吃的？在家还好说，在外面怎么办？咱们也不可能每次出门都往深山老林里走啊，多数还是在城市里吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;巨蟒说道：“我一天吃一条猪腿就够了，不算多吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所有人愣住，山伢子说道：“吃这么少。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;巨蟒说道：“我内丹已成，其实就算不进饮食，也无大碍，但还是吃一些更有力气。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子点头说道：“那就好办了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“等一下！”花梦容突然醒过味儿来，说道：“它会不会趁你们不注意，突然吞了我？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;巨蟒说道：“吃你是为了延长寿命，可真要是吃了你，我会被古姑娘他们扒皮抽筋，甚至是永不超生，如此得不偿失，我怎敢吃你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容眯眼一笑，说道：“我没问题了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊还在犹豫，巨蟒又说道：“古姑娘，此次渡劫，我本该命丧天雷之下，得遇你乃上天法外施恩，请古姑娘收留我，一来能常在药娘身边沾染香气，二来可受仙门庇护，以渡千年之劫。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“实不相瞒，无名观早已于七百年前没落，我今世的夫君便是当年的无名真君转世，一身法力修为，也在转世之前注入我身，此番若想重整山门，恐怕是千难万险，旷日持久。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;巨蟒伏低了头，因为头太大，所以也不知道它看着谁，反正是对着一众人，说道：“我修炼七百年，始终不能化为人形，皆因未得正法，只是当年受了一些灵气，却也记不得是受哪位高人点化，我愿追随诸位，以图大道。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊看山伢子，山伢子说道：“它要跟你，你看着办就行了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊轻声说道：“你是观主嘛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子却坦然说道：“现在观主的本事不如老婆。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嫣然而笑，巨蟒说道：“观主心胸坦荡，来日必成大业。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子笑着说道：“让你说得好像我要拉杆子造反似的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊微笑着说道：“既然你心诚，那我便不再执拗，只是你受天雷之苦，遍体鳞伤，在此好生休养，待我转来，你再随我回家。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;巨蟒说道：“求药娘一滴灵血，不出两个时辰，我身上的伤便可痊愈。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容愕然问道：“一滴就可以？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;巨蟒答道：“一滴足矣。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容拿出采血针扎了手指，然后伸向巨蟒，巨蟒吐出芯子舔了一下花梦容的手指，然后说道：“多谢药娘。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容收回手说道：“我叫花梦容，你以后叫我容姑娘。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;巨蟒再次说道：“多谢容姑娘。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容换了一根手指，又用采血针扎了一下，然后举向山伢子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子愕然问道：“干嘛？我又没受伤。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容答道：“延年益寿嘛，以后我每天都给你……你们，喝我的血。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，古芊芊抓过花梦容的手，挤了一下，然后用舌尖将血舔走。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧也走了过来，同样挤了一滴血舔走。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容再次将手指举到山伢子嘴边，山伢子含住她的手指吮吸了一下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;月上中天，巨蟒的身上起了一层黑光，古芊芊感应到它的气息，睁开眼，看到它全身的鳞甲油光锃亮，便轻声问道：“你复原了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;巨蟒轻声答道：“多亏了容姑娘的灵血，我已恢复如初了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊点了点头，说道：“我有些事想问你，咱们走远些说吧，免得吵到我夫君休息。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;巨蟒答道：“好。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊走出十几米远，而巨蟒只是掉了个头，尾巴都没动地方。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊问道：“你有名字吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;巨蟒答道：“飞禽走兽，无名无姓，若有幸，请古姑娘赐名。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊想了一下，说道：“以后我叫你灵信吧，灵气的灵，信守承诺的信。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;巨蟒答道：“灵信谢古姑娘赐名。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊又问道：“你吃过多少人？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;灵信答道：“三个。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“三个？”古芊芊愕然看着它，修炼七百年，只吃过三个人？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;灵信答道：“修炼到三百年时，初通人语，想拜一名道长为师，不想那道长斥我为妖孽，险些将我打死，我身受重伤，无力捕猎，不得已，吃了一个上山砍柴的樵夫。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“修炼到四百八十年，一名道士找到了我，为了保全，将他吞了。再就是昨日，贺兰图谎称抓到药娘，我吃了一个少女。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊一脸严肃地说道：“我已经答应让你跟着我，而且给你取名叫灵信，你可不能对我说谎。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;灵信答道：“我绝无虚言，或许古姑娘所见妖修都是伤人无数，但我并没有，自从拜师未果之后，便一直躲在深山中修炼。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;顿了一下，灵信又说道：“我一直未能化成人形，或许就是因为没有食人灵气精血。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊微微点头，既然没有过分地伤人害命，却引来天雷，那只有一个解释，就是这条巨蟒虽是妖修，却积下善福，迟早要化身成龙。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所谓回报越大，风险越高，龙是天神，一个凡间的走兽想成为天神，当然要历尽千辛万苦，甚至是死上千八百回。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一世的相遇，或许是它的善修够了，否则凭它区区七百年的道行，如果没有古芊芊助力，必然会死在天雷之下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但即使如此，待到千年化龙之劫，恐怕也会是难以想像的惊心动魄！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;灵信问道：“古姑娘，日后若遇上恶人，可否将血肉给我吃？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊微笑，原来它竟浑然不知自己的际遇，还是困在妖修的概念中无法自拔，但是古芊芊也不能说破，因为化龙之事太大，如果猜错了，自然会让灵信空欢喜一场。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“既然你是善修，又何必陡增恶业？你是兽类，即使是十恶不赦之人，你吃了也会生恶业，从明日起，我让容姑娘每日给你一滴灵血，助你修炼。”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>