<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第776章：招揽生意</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第776章：招揽生意
</div>
<div class="bookname">
	<h1>第776章：招揽生意</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第776章：招揽生意<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个镇子叫刘江镇，并不是距离仙茗山最近的镇子，之所以选在这里开发，是缘于这个镇子的传说。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;传说这个镇子在几百年前闹过一次厉鬼，有一个叫刘江的人将厉鬼除掉，保住了镇子，所以镇子才改名叫刘江镇。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;事件的原貌已不可考，众说纷纭，但古芊芊勘察过这个镇子的地理情况和阴阳气脉，这个镇子是个汇阴之地。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所谓汇阴之地，就是周围的阴气都向这里聚集，当然，阴气是流动的，如果不流动，那就不是汇阴地，而是积阴地了，只是阴气进得多，出得少，所以这个镇子不管闹什么邪都不奇怪。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;镇上人口不到一万，经济相对落后，古家来这里开发，饭店和养老院只占开发项目中极小的比重，还有酒店、餐饮、娱乐、度假村和影视基地。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这样大手笔的投资，自然得到了当地有关部门的大力支持，所以饭店叫深夜鬼食堂，不做活人生意这么奇葩的事，也没人过问，反正也不犯法，就当是有钱人的恶趣味了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;走在空旷的街道上，两边的路灯亮着昏黄而柔暖的光，本来有关部门是要装大瓦数的电灯，但是韩慕灵以破坏小镇气氛为借口拒绝了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;目的自然很明确，为得是让鬼魂能舒服些，但做为投资方，也要充分考虑活人的安全，毕竟钱投进来了，如果这个地方不安全，怎么会有人来消费呐？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以每隔三十米，就装有一个高清夜视摄像头，全镇无死角，而且监控值班人员，都是韩慕灵亲自挑选的，为得是保守山伢子等人的秘密。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;饭店在镇子的北边，远离居民集中居住区，周围只有几家农户，黑着灯，霍晓荧一路朝镇中心走，卿琴问她：“你要去哪儿啊？刚才不是说就在附近转转吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧回头看她，问道：“一个鬼都没有，你不觉得奇怪吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴答道：“奇怪呀，当然奇怪了，这里是聚阴地，又没有驱邪驱鬼的法阵，不可能没有鬼，就是因为奇怪，我心里才不踏实，你又是个总被人抓的灾星……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你才是灾星！”霍晓荧停步回身，瞪着她嗔道：“我只是法力低外加倒霉，你才是灾星，要不是你，我们也不用折腾到这儿来开店。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴笑着说道：“我本来就是灾星，我被丈夫和女儿逼得走投无路，谁能比我倒霉呀。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧皱眉，卿琴笑着说道：“回去吧，要是万一出点儿事儿，我可担不起这个责任，你要转，就让伢子和芊芊陪你出来转。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;第二天，山伢子去买了八套塑料桌椅，买这么多的原因是古芊芊说夏天可以在外面烤串儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桌子都是长方形的，两张桌子拼起来就足够长了，山伢子忙活了一下午，做了一桌子菜，吃完晚饭就摆到了外面。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子让所有人都回房间待着去，自己拿了把椅子坐在门边等着。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;半个小时过去了，来了一条狗，先围着桌子转，然后冲着山伢子摇尾巴，山伢子拿了块肉丢给它，狗吃完了也不走，在山伢子脚边卧下了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;又过了一个小时，狗觉得无聊了，站起来走了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子叹了口气，连狗都不爱跟这儿待着吗？什么情况？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;有两个人走了过来，山伢子盯着看，结果是两个活人，走到近前看着桌上的菜，一个人说：“好香啊！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;另一个人说：“进去吃点儿夜宵。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“不做活人生意。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两人一愣，一个人问道：“什么叫不做活人生意？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子抬手往上指了一下，说道：“看招牌。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那人抬起头，念道：“深夜鬼食堂……这不就是个噱头吗？你还真做鬼的生意呀？哪儿有鬼呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子不理他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;另一个人问道：“你摆这一桌子菜是做啥呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“祭祀鬼魂，顺便招揽生意。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两人对视一眼，一个人问山伢子：“真有鬼吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“没有，我有精神病。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两人又对视一眼，转身走了，两人心里也犯嘀咕，要么是真有鬼，这是个高人，要么就是个有钱人家的精神病，反正无论是哪种情况，最好是别招惹。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;午夜了，菜早就凉透了，山伢子坐在门边都闻不到菜的香味儿了，就站起来想把菜都热一下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刚站起来，看到远处有一个白影晃了一下，从一处暗影里闪到了另一处暗影里。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子又坐下，这应该是只鬼，别把人家吓跑了，来只鬼不容易。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子都不敢往那处暗影仔细看，怕把鬼吓跑了，等了一会儿，那只鬼没动静，山伢子想了想，说道：“我叫石庆山，是一名法师，会做鬼食，师承靠山镇徐家，我在这里开店，是为了给孤魂野鬼消怨解冤。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完又等了一会儿，暗影里走出一个穿白色长裙的女人，缓慢地向山伢子靠近。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子耐心地等着，等她走近了些才看清楚，是一个女孩，也就十五六岁的样子，身上没有任何血渍和污迹，留着及腰的长发，五官清秀，脸色粉红。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子微一皱眉，问安婧：鬼的脸色怎么是粉红的？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;片刻后安婧答道：煤气熏死的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;哦。山伢子答应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧问道：终于有鬼来了？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：嗯，一个女孩，十五六岁的样子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧说道：别招人家啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子露出无奈的笑意，这事儿闹的，不仅是丈母娘们对他不放心，连媳妇儿们对他也不放心了，说道：让晓荧下来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧说道：我逗你呐，晓荧姐练功呐，你自己盯着吧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;女孩停在了一米开外，山伢子指了下桌上的菜，说道：“吃吧，这些都是鬼食，你都可以吃，就是凉了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;女孩盯着山伢子，缓慢地走到桌子的远端，拿起筷子夹了一片油菜帮儿，试探着放进嘴里。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子也不说话，也不直视她，翘着二郎腿坐着，只用眼角的余光观察女孩。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;女孩吃了一片菜之后就停不下来了，一筷子接一筷子地往嘴里塞，山伢子说道：“慢点儿吃，鬼食都是用法力烘焙的，吃得太快容易伤着。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;(本章完)
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>