<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第332章：黄了</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第332章：黄了
</div>
<div class="bookname">
	<h1>第332章：黄了</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第332章：黄了<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，韩慕灵看着他说道：“火从心，火行本质的人，心气儿自然高，其实你也一样，凭你的本事和年纪，就敢在上次开会时大放厥词，不把屈长寿和姬北洋放在眼里，这也是一种嚣张跋扈的表现。只不过，你不像莫家人这么没家教，而且你心善。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子尴尬地低下头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵接着说道：“所以说，我跟莫震西的口头儿协议不作数儿，莫震西也做不了主，所以你们三个往后都要警醒些，莫家明着不敢招惹咱们，但不代表他们不会背地里下黑手。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊问道：“那咱们就这么被动挨打吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵说道：“不存在什么主动被动，谁也不能因为自身的恐惧，甚至仅仅是疑虑，就对别人痛下杀手。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“势力再大，武力再强，也还是要讲道理，因为不管是天下还是江湖，都有它的规矩，太过嚣张跋扈，必然会引得天怒人怨，最终招来灭顶之灾，莫泓杰就是个例子。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”古芊芊答应，嘟了嘟嘴。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵又说道：“武功方面，我就可以教你们，金诀掌至刚至阳，伢子练反倒更合适，但法术方面我就无能为力了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵问霍晓荧：“拜师的事情有结果了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我问一下。”霍晓荧掏出手机打给徐四，叫来洪拓后说道：“洪先生，我是晓荧啊……什么我咋了？我没咋呀……你才吃错药了呐！我妈说做人不能太嚣张，叫你洪先生还叫错了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵和古芊芊一同失笑，山伢子宠溺地伸出手指刮了一下霍晓荧的脸蛋儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;连吼带骂的问完，挂断了电话，霍晓荧说道：“那货说了，他已经问过他们那个狗屁掌门了，说点拨可以，收徒的不行！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵微笑着点头，看来人家仙山高门不愿意收世俗弟子，怕受牵连，不过能点拨也算不错了，说道：“那就这样吧，也别提拜师的事了，这样你说话还能随意些。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嘟着嘴笑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;休养了一个星期，山伢子的伤口愈合了，于是开始了新的生活模式，上午睡觉，下午去学车，晚上到饭店值班。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊因为开学后要跟着X国的课时走，所以时间上倒跟山伢子合上拍了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧反倒是最先学会开车的，因为有史晋教她，每天凌晨都会开着偷来的车满世界跑两三个小时。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁每天都在饭店待着，无精打彩，唉声叹气，有时候晚上困了，也不回家，就在沙发上睡。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四心里明白，肯定是跟那个上官荷出问题了，本来以为钟离愁会主动跟他说，结果小半个月都过去了，钟离愁跟个闷葫芦似的，一声儿都不吭。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四忍不住了，问他：“到底咋了？整天跟个要死的兔子一样，哪儿哪儿都是耷拉的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四一问，钟离愁瞬间就凄楚了，声音哽咽地告诉徐四，上官荷走了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;经过人为殍地的事，上官荷害怕了，说跟他在一起太危险了，已经把这辈子搭上了，不想把来世也搭上，所以上官荷决定去地府销账，排队投胎。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四叹了口气，劝道：“人各有志嘛，这也是没办法的事情，都是我连累了你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁呛道：“关你屁事，都他妈是弄那个邪阵的人害的！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四又叹了口气，倾着身子拍了拍他的肩膀，说道：“过去了，就放下吧，咱再找合适的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁沉默了一会儿，说道：“师兄，我这两天琢磨来着，我总想好好儿地找个人过日子，你说有这个必要吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四看着他问道：“你想干啥呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁说道：“我也看出来了，我没你跟伢子那么好的命，找不着诚心实意的人……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你说我这个岁数了，有房有车，年收入过百万，算不上钻石王老五，也是个黄金单身汉吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四明白了，说道：“你干什么我不管，也管不着，但有一样儿，你要真想折腾，咱得签个合同，这个店你跟我一人一半，别回头你再让哪个小狐狸精把血本儿给卷了去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁笑，说道：“行，明天我去找律师。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;晚十一点上客，楼下突然一阵吵嚷，钟离愁正好在楼梯边站着，听着动静儿后赶紧下楼，迎面一个女孩儿扑了过来，双手抓住他的两条胳膊，用水汪汪的大眼睛盯着他，慌张地说道：“救我，救救我！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;女孩儿长得美艳绝伦，透着一股发自骨子里的媚气，一米六几的个头儿，长发如瀑，乌亮油黑，柳叶眉，杏核眼，桃腮飘红，樱唇含贝，身上还有一股异香。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老话儿说得好，美艳异于常人，非仙即妖！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁能感觉到她身上异于常人的气息，知道她不是普通人，但女孩儿太过美艳，令人不忍拒绝她的请求，更何况她是在求救。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不等钟离愁说话，一个四十岁左右的男人，穿着一身儿唐装，拎着一把木剑闯了进来，守门儿的服务生皱眉说道：“老板，不是我不拦着，这俩人硬往里闯。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;还是不等钟离愁说话，男人用桃木剑指着钟离愁面前的女孩儿，厉声斥道：“孽畜！还不现形！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吃饭的人都乐呵呵地看着，感觉这个饭店越来越有意思了，这是要上演‘倩女幽魂’呐！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;女孩儿连忙躲到钟离愁背后，双手攥着钟离愁的衣服瑟瑟发抖。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁看着唐装男问道：“你谁呀？干嘛呐？大晚上的撵一姑娘，啥意思？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐装男厉声说道：“她是妖！你肉眼凡胎看不出来，让开！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“去你妈的！”钟离愁已经感知过唐装男的气息，比徐四差远了，所以底气十足地骂道：“现在的人贩子挺牛X呀，还他娘的玩儿上捉妖了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐装男皱眉，随后看到霍晓荧和洪拓从楼梯上下来，愕然退了一步，瞪着钟离愁斥道：“你们养鬼！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“养你妹！”钟离愁这段儿时间正憋得难受，可算找着个发泄的对象，骂道：“你他妈精神病儿吧？什么妖啊鬼的，我们这是主题餐厅，懂吗？主题！赶紧滚，别招我喊人削你！”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>