<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第362章：魂灵相合</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第362章：魂灵相合
</div>
<div class="bookname">
	<h1>第362章：魂灵相合</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第362章：魂灵相合<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子的双眼变得血红，霍晓荧不受控制地被吸向山伢子，水行石突然射出一道黑光，打在霍晓荧身上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊……”霍晓荧惨叫着贴在山伢子身上，魂体瞬间虚了很多。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“姐！”古芊芊惊叫，但无论怎么用手捂，那道黑光都不消失，好像已经嵌入了霍晓荧的魂体。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而山伢子充耳不闻，步履沉重地走向黑衣人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人说道：“居然这么容易就能魂灵相合，看来火行石选中你是有原因的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子挥出一拳，呼的一声，急风骤起，拳还未到，黑衣人的帽子已经飞了出去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人双臂叠在胸口，山伢子的拳头打在黑衣人的手臂上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人倒飞出去，一道黑影离开了肉身，但又以极快的速度回到了肉身里，控制着肉身落地后，又急退了十几步才算站稳。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊大喊：“伢子醒醒！我姐要死了！霍晓荧要死了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子脚步一滞，低下头看着魂体发虚的霍晓荧，此时的霍晓荧紧闭着双眼，手脚都垂吊着，已经没了声息，似乎马上就要灰飞烟灭。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“霍小莹？”黑衣人的语气有些惊讶，问道：“她不是姓张吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;没人理黑衣人，山伢子抱住了霍晓荧，古芊芊用力地拍水行石，边拍边哭着喊道：“停啊！停啊！快停啊！你要害死我姐了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子身上的红光褪去，水行石也收回了黑光，古芊芊扑向山伢子，跟山伢子一同抱住霍晓荧，哭着喊道：“姐！姐你醒醒啊！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子将霍晓荧横抱起来，咬牙切齿地瞪着黑衣人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人却走向莫震西，顺路捡起帽子戴上，然后把莫震西扛起来，头也不回地走掉了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子抱着霍晓荧跑回了家，古木苍惊问道：“怎么了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊伸手按上霍晓荧胸口，水行石刚一发光，古木苍阻止道：“等一等，她魂力太弱，你要是给她灌气，等于是饮鸩止渴！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊一惊缩手，古木苍又说道：“怎么回事儿？快说！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊简略地把经过说了一下，古木苍皱紧了眉头，说道：“让晓荧自己缓一缓，等到魂体坚实之后你再给她灌气。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”古芊芊点头答应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍说道：“你抱晓荧上去，守着她，伢子留下。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊抱着霍晓荧上楼了，古木苍说道：“伢子，你再把事情经过详细跟我说一遍。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子又把事情详细地说了一遍，古木苍问他：“你怎么会这么容易冲灵？你一点儿也克制不了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子摇头，想了想说道：“黑衣人看到我冲灵时，说了这样一句话，他说……居然这么容易就能魂灵相合，这话是啥意思？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“魂灵相合？”古木苍皱眉，思索了一会儿才说道：“魂自然是指你的命魂，灵……难道是火行石的灵？魂灵相合……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍又陷入了沉默，自他学法之日起，便要谨记一句话，心念要平和，戒骄戒躁，为得就是避免冲灵，因为世代相传，冲灵会燃烧宿主的命力，甚至还会被灵石影响心智。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;然而，反观山伢子，一次又一次的冲灵，不但没有什么不好的征兆，反倒法力提升迅猛，甚至借由着冲灵，打伤了一只五百年的老鬼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍看着山伢子，问道：“你这回怎么没昏迷？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一愣，对呀，除了第一次有姬淋洛教他，后面两次冲灵他都昏迷了，这回怎么没事儿？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子摇头，古木苍再次沉默。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;人的肉身有着极强的适应性，或许山伢子已经能承受能量激增的冲击，那么这个百余年来，被五行世家视为洪水猛兽的冲灵，或许正是致使五行世家没落的根本原因。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;魂灵相合，命魂与石灵融合，能量激增，瞬间提升法力，甚至是命力，其实那不是燃烧，而是爆发！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人说，这么容易就能魂灵相合，从这句话可以反推出因果，其实想冲灵也不是件容易的事。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“跟我来。”古木苍起身，走向通往后院儿的侧门。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;到了后院儿，古木苍说道：“你在什么条件下会冲灵？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“急眼的时候。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍琢磨了一下，急眼的时候会冲灵，也就是说，山伢子冲灵并不是自主性的，而是情绪达到一个峰值的时候，由火行石主动与他融合。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那这个事情就更诡异了，因为山伢子根本不是孙家的血脉，为什么火行石这么偏爱他呐？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;或许因为是火行石吧？因为火行石主管心智，或许只有火行石才有这样的效果。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍说道：“你试着再冲一次灵。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，问道：“这咋试啊，我也不会呀。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍想了一下，说道：“你就想，如果当时是黑衣人出手，你们的车可能就不是爆胎那么简单了，很可能直接炸掉，就算有晓荧护着芊芊，可能也会受伤。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子的双眼微微发红，火行石亮起了红光。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍又说道：“人为刀俎，我为鱼肉，或许你能自保，但晓荧和芊芊，甚至是我们所有人，随时都可能被黑衣人杀掉或是灭掉，当有一天，只剩你自己一个人的时候，你会有多么痛苦。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子的眼睛变得血红，火行石发出耀眼的光芒。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍倏然到了山伢子面前，一拳打在山伢子胸口上，将山伢子打飞了出去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是，古木苍同时感受到了反震的能量，并且伴有一股灼热的气息。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子周身罩着一层红光，紧紧地攥着拳头，他现在的内心很矛盾，他知道不能向对方出手，因为对方是芊芊的父亲，但心里又有一种强烈的冲动，想把古木苍打扁。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对！是打扁，不是打倒。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“来呀！”古木苍向山伢子挑衅：“过来打我呀！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子身上的红光更盛，而且已经开始蒸腾起缥缈的热气，但还是站在原地，没有发动攻击。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍又喊道：“动手啊！如果连我都打不过，你怎么保护芊芊？你知道吗？你刚才差点儿害死晓荧！”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>