<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第231章：风平浪静</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第231章：风平浪静
</div>
<div class="bookname">
	<h1>第231章：风平浪静</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第231章：风平浪静<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;天气热了起来，街上的姑娘们都换上了凉爽的夏装，露着圆润的胳膊，还有白花花的大腿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙跟尚亚坤两人蹲在饭店外面，小声儿地对街上来往的姑娘们品头论足。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;因为两人都填报了莫林xx大学，所以尚亚坤让潘小龙带他来莫林市，先熟悉一下这里的生活环境。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙就找钟离愁给他俩安排个事儿干，也算暑期打工了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;冲着徐四的面子，钟离愁答应让他俩当服务员，但两人合起来只能拿一个人的工资，因为饭店不缺人手儿，如果不是看在徐四的面子上，钟离愁根本不会给这份儿钱。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然，工作时间也短，两人只负责中午十一点到下午一点，以及晚上七点到九点这两个时段，其余的时间，爱干啥干啥。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊走了快一个月了，每个星期都会跟山伢子视频一次，有点儿风雨无阻的感觉，而每次视频的时候，霍晓荧都会找借口躲出去干别的事情。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧还偷偷给韩慕灵打电话，说傻小子火力太壮，天天不闲着，她也说不听，怕有事儿，让韩慕灵开个方子给山伢子调补，免得未老先衰，过几年再不顶用了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;齐有成也不提让徐四帮他把坟找回来的事儿，所以徐四也就没问，因为齐有成当服务员干得挺好，住在饭店里也很开心，可能是热闹惯了不想离开，所以坟找不找回来都已经无所谓了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;突然间感觉风平浪静了，徐四还有点儿不适应，每天重复着吃喝拉撒陪媳妇儿的这些事，仿佛又回到了以往那种平静的生活。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这天晚上九点来钟儿，徐四在经理办公室喝茶，姜悦玲跟霍晓荧一人一个耳机，对着电脑屏幕边看电影边吐槽，服务员敲门进来，说道：“徐老板，有人找。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四问道：“人呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;服务员答道：“我让他跟我上来，他不来，说让我先通报一声儿，您让他上来他再上来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四微一皱眉，问道：“谁呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;服务员答道：“他说他叫许三丈。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧抬起了头，看着徐四，徐四对服务员说道：“让他上来吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;服务员走了，徐四对姜悦玲说道：“悦玲，你去厨房，跟伢子待在一起。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好。”姜悦玲摘掉耳机，穿过地板消失了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“正好儿让他赔我电脑钱。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四笑了笑，没说话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;等了一会儿，敲门声又响起，徐四说道：“请进。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;门推开，服务员对许三丈说道：“请进。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四一愣，七月中旬的天气，怕热的都得吹空调了，可许三丈却穿着毛衣，外面还罩着夹克衫，巴掌大的小脸儿惨白，嘴唇儿发紫，不过可以确定，许三丈是活人，不是鬼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许三丈走进来，先向徐四深鞠一躬。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四皱眉，所谓礼下于人，必有所求，不过也没啥，图黛玉已经死了，魂儿也没来闹腾，过去的事儿就过去了，能化干戈为玉帛，总比冤冤相报要好。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四指了下板台外面的椅子，说道：“请坐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧问许三丈：“哎！能看见我吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许三丈没反应，坐在了椅子上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嗤了一声，说道：“原来就是这种货色，真是赶上好年景儿了，这要搁在以前，早让人打得面儿都不敢露了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四心里好笑，图黛玉这伙儿人是有点儿不知天高地厚，当时图黛玉能亲点许三丈代表他向徐四挑战，那就说明许三丈是图黛玉最得意的弟子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可这个最得意的弟子，连鬼眼都没有，而图黛玉还敢以大师自居，还跟个霸王似的，晃着膀子横着走，现在想想，也挺可笑的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你咋了？”徐四不问他有什么事儿，先问他咋了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许三丈告诉徐四，上回他去砸了魂瓶之后，就被厉阴赵美蓉缠上了，帮她抓了她说的那三个人之后还不算完，还缠着许三丈，让许三丈跟她结冥婚。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四问道：“什么三个人？害死她的那三个人？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”许三丈点头答应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四问道：“你怎么找着那三个人的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许三丈答道：“她告诉我名字和地址，我就去把人抓来呀。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啥？”徐四瞪大了眼睛，当初这个赵美蓉可不是这么说的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当初赵美蓉说的是，她下班儿回家，被三个陌生的男人拖进了那个废弃的地下通道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许三丈问道：“咋了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四摇了摇头，问道：“你把人抓回来，她怎么处置的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许三丈摇头，答道：“不知道。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“你别以为你说句不知道，就跟你没关系了，你师父应该教过你，因果循环，善恶有报。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许三丈说道：“赵美蓉说她是报仇，是那三个人合伙儿害了她，就算她说谎，我也只是误信他人，不算我的罪孽。更何况我只是帮她抓人，又没有帮她杀人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四哑然失笑，说道：“那你来找我，就是不想跟她结冥婚呗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许三丈说道：“对呀，你愿意娶个女鬼当媳妇儿吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“我愿意啊，我现在的媳妇儿就是鬼，我徒弟也是娶了鬼做媳妇儿啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四是实话实说，但许三丈却认为徐四是在嘲讽他，反唇相讥道：“不是每个人都像你们师徒这么‘有本事’，连鬼都敢睡。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;‘啪’的一声脆响，许三丈结结实实地挨了一个大嘴巴，打得脑袋嗡的一声，人从椅子上摔下来，坐在地上好一会儿才醒过味儿来，问道：“谁打我？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四答道：“我徒弟的媳妇儿，也是我干闺女，就是你师父想弄死的女鬼，你说话太脏，她不高兴了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许三丈沉默着揉了揉腮帮子，坐回椅子上看着徐四问道：“您是建议我娶她呗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四答道：“我没这么说，刚才只是话儿赶话儿说到那儿了，我顺口一说而已。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许三丈问道：“那您可以帮我解决这件事吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四没有立刻回答，看向霍晓荧，霍晓荧问道：“看我干啥？我的意见很重要吗？”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>