<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第436章：鬼将军</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第436章：鬼将军
</div>
<div class="bookname">
	<h1>第436章：鬼将军</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第436章：鬼将军<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓问道：“你们到底来干什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;鬼带着哭腔儿答道：“就是打砸饭店，别的我什么都不知道，我就是磨道上的驴，只管听喝儿呀。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓问道：“你现在的老大叫什么名字？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;鬼摇头，答道：“不知道，就像你一样，没告诉我们他叫什么名字。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓又问道：“他长什么样儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;鬼答道：“胖胖的，五十多岁，光头大脑袋，比你矮半头。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“走吧。”洪拓松开手，鬼向旁边挪了两步，然后疯跑着离开了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢宽从门里出来，看着洪拓说道：“丹丹双肩阳火灭了，命魂被抓走了，你带我去鬼市。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓微一皱眉，鬼市那么大，怎么找？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢宽催促道：“走啊！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“你先别急，咱们先试着招一下，看能不能把生魂招回来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢宽说道：“我试过了，四叔说肯定是被图黛玉抓走了，是四叔让我找你带我去鬼市。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“行吧，那你去开车。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢宽说道：“我跑着比开车快，你带路。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;会馆，许三丈裹了条大浴巾，把山伢子三人带到了地下室。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;地下室很大，五六十平米，对着门的墙边摆着一个香案，供着图黛玉的灵位，香案上摆着供品，两边各点着一盏铜油灯，香案的正中间有一个白色的骨灰坛。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许三丈指了下骨灰坛说道：“在那儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子走向香案，古芊芊跟着，霍晓荧看许三丈，斥道：“走啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许三丈哀求道：“让我离远点儿行吗？你们要是把我师父招来，我怕我师父直接弄死我。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嗤了一声，向山伢子走过去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊问道：“拿走吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“就在这儿解决。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完双手掐诀，念诵招魂咒语，两盏油灯的火苗陡然变成淡绿色，火行石和水行石同时亮起光芒。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧突然心里发慌，说道：“火苗儿都变绿了，图黛玉有这么大的能量吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;话音方落，一团黑气出现在香案前，霍晓荧急忙拉着古芊芊退了两步，火行石和水行石却突然射出光线，同时打在黑气上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑气骤然炸开，将红、黑两条光线全都炸掉，随即化作一个身材魁梧，穿甲戴盔，手提长剑的将军，脸色黢黑，五官模糊，周身蒸腾着黑气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;咣的一声响，三人一同回头，发现许三丈不见了，而地下室的门被关上了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧骂道：“妈的！又上当了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子被一层红光裹住，古芊芊被一层黑光裹住，霍晓荧紧张得全身僵硬，古芊芊则是浑身发抖，带着哭腔儿颤声说道：“我要找我妈……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“汝等何人，胆敢惊扰本将军！”鬼将军的声音厚重阴冷，带着肃杀之气，听得人从心里往外的发凉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子咬了咬牙，退一步挡住古芊芊和霍晓荧，说道：“对不住，我们招错人了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“放肆！”鬼将军踏前一步，嘭的一声，扬起一圈细尘，他脚下的地面出现了裂纹。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“你俩快走。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“我不走。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“我得冲灵。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧执拗道：“我不走。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“快走！”山伢子猛然转回头，瞪着她嚷道：“你留下有屁用啊！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧一愣，鬼将军双手握剑，呼的一声向山伢子当头劈来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子听到风声，连忙转回头，抬起左臂格挡。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;嘭的一声，剑砍在手臂上，红光陡然一亮，山伢子倒飞出去，把古芊芊和霍晓荧也撞得分别飞向了两边。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子捂着左小臂，额头上渗出了汗珠，左小臂疼得钻心，也不敢动，不知道是不是断了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“伢子！”霍晓荧扑上来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊喊道：“走啊！你想害死伢子啊？你在这儿他敢冲灵吗？你傻了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧一惊反应过来，她是傻了，被鬼将军给吓傻了，眼见鬼将军再次提剑劈来，霍晓荧倏然穿墙离开。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子就地一滚，噹的一声，长剑击在地上，锐音刺耳，火星飞溅。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊站起来，双手掐诀划动咒符，随后双手推出，一道黑光从水行石射出，打向鬼将军。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;鬼将军猛然转身，横剑阻挡，黑光打在剑身上，推着鬼将军平移了一米多远，但古芊芊坚持不住，黑光突然消失，鬼将军虎吼一声，纵身跃起，举剑劈向古芊芊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊……”古芊芊抱着头就跑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;鬼将军落地，手中剑半举不举，扭头看着跑开的古芊芊，不屑地斥道：“妇人！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子站了起来，两眼血红，右手握着左手腕，左手攥拳，缓缓地活动着手腕。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;鬼将军转回身，持剑而立，说道：“莫再躲闪，与本将军一战！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好！”山伢子冲向鬼将军，鬼将军也冲向山伢子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子挥拳，鬼将军挥剑，山伢子被扫飞，左上臂断筋裂骨一样疼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不等山伢子起身，鬼将军凌空跃到，一剑劈下，山伢子就地一滚，这次鬼将军剑未落地，而是中途一转，扫在了山伢子腰上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊……”山伢子疼得忍不住喊了出来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊合身扑向鬼将军，用肩膀将鬼将军撞开数步，然后扑到山伢子身边，护着山伢子骂鬼将军：“要脸吗？手持重剑欺负一个手无寸铁之人，你还敢自称将军？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;鬼将军剑势一收，沉声说道：“允汝等配剑。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嚷道：“哪有剑？你自己看看，这里哪有剑？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;鬼将军还真就转着头扫了一圈，然后说道：“唯女子与小人难养也。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“我们没有剑，这场决斗不公平，你哪儿来的回哪儿去吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“谁人与汝等决斗，本将军要杀汝等不敬之人！”鬼将军双手握剑，再次向古芊芊劈来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;红光炸开，山伢子倏然贴近了鬼将军，一记勾拳打在他下巴上，鬼将军双脚离地倒飞出去，重重地摔在地上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊松了口气，山伢子终于冲灵了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子缓步走向鬼将军，鬼将军翻身起来，双手握剑，问道：“汝是何人？竟有如此神力！”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>