<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第533章：职责问题</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第533章：职责问题
</div>
<div class="bookname">
	<h1>第533章：职责问题</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第533章：职责问题<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;颜玉寻着高建峰的气味，一路找到了火车站软卧候车室，颜玉皱起了眉头，本来以为高建峰要离开，就算是坐火车，也就是坐个硬座，甚至是买张站票。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;软卧候车室？这是有人资助他，还是有人帮他？难不成捡了个钱包？或者是抢劫了？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;颜玉找了个地方坐下，闭上眼睛，将主神游离出身体，附着在一个工作人员身上，查看了售票记录。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;火车上，高建峰一躺下就睡死了，或许他很久没有这样舒服又踏实的睡过觉了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子枕着被子，搂着霍晓荧，轻声问道：“芊芊到底咋了？最近这段时间，说话总是阴阳怪气儿的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧答道：“她觉得你是祖师转世，我是盈袖转世，咱们都变了样子，是为了躲开她。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，说道：“这不是扯淡嘛，长啥样儿还能自己说了算呐？那要能自己说了算，世上的人还不得都长成一个样儿啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“对呀！”霍晓荧猛地坐起来，嚷道：“我咋没想通这个事儿呐！我哄了她十来天了！我得给她打电话！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子拉住她笑着说道：“行了，都这么晚了，芊芊该睡觉了，等咱们回家再说。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧搥他，斥道：“你就是心疼小老婆！她还腆着脸矫情。不行！我必须给她打电话，现在就打！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完甩开山伢子的手，掏出手机打给古芊芊，嚷道：“什么叫我们躲着你？长什么样儿是自己能说了算的吗？要能自己说了算，那这世上的人还不都长成一个样儿了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊被吼得愣住，半晌才反应过来，也嚷道：“我就长得跟素雪一样啊！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧瞪着山伢子说道：“她说她就跟素雪长得一样！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊问道：“你跟伢子说了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧没好气儿地答道：“说了！我烦了！不想天天哄着你了！你还说伢子躲着你，我说要给你打电话，他都说时间晚了，怕吵着你这个只会争宠的小老婆睡觉！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嗤道：“争个屁，他又不是皇帝。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧捶山伢子，斥道：“说话！她说她跟素雪长得一样，你怎么想的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“祖师把毕生的功力都传给了素雪，素雪肯定有办法嘛。再说了，即便我是祖师转世，也轮转了近千年了，我还有啥呀？我还能做人就不错了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧冲着手机嚷道：“听见了没？白痴！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;骂完就挂断了电话，古芊芊皱眉嘟囔道：“你才白痴，神经病，大晚上不睡觉，打电话来吵架。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高建峰直睡到第二天早晨八点多才醒，火车都快要进站了。他有一年多没这样睡过安稳觉了，睡醒之后感觉全身都要散架了一样。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高建峰去洗了把脸，回来后坐在铺上，看着山伢子问道：“兄弟，咱俩不认不识的，你为什么这么帮我？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“职责问题。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子解释说，这就好像有事去找警察一样，警察跟你也不认不识，但是你有事情去找他，他一样会帮你，这就是职责问题。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高建峰用既诧异又不解的目光看着山伢子，山伢子说道：“我是法师，你被人用非正常的手段借了运，这事儿我应该管。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高建峰没再说话，但是心里有点儿不踏实，这跟找警察不一样，找警察不用花钱，但是找法师一般都是要花钱的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他相信山伢子是好人，但是好到这种程度就有点儿奇怪了。其实山伢子完全可以给他买一张票，让他自己离开莫林就行了，最多是再给他一点儿钱作为生活费，没必要跟着一起上火车。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子知道他有疑虑，说道：“你不用担心，我不图你什么，我就是想看看谁把你弄成这个样子。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”高建峰点头，也没有多问，估计山伢子这种人就跟武林高手是一样的，碰上别的高手就想较量一下，或者是认识一下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;到了预定的酒店住下，高建峰对山伢子说：“我明天就去找工作，挣了钱还你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“先不用急着找工作，咱们可能跟这儿呆不了多长时间。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”高建峰答应，虽然他心里有很多疑问，但是他不敢问，他一个身无分文的人，别人管着他吃，管着他住，他要是再问东问西的，是不是有点儿太作死了？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子又说道：“你就在房间呆着，房间里有电话，饿了或者有事儿就给我打电话，别来敲我的门。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好。”高建峰点头答应，霍晓荧含嗔带笑的白了山伢子一眼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;进了房间插上门，霍晓荧推住山伢子说道：“等会儿，你先跟我说，为什么要搭钱搭时间管他的事儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子抱起她放到床上，一边脱衣服一边说道：“我不是说了吗？就是职责问题呀。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧瞪着他嗔道：“真不敢相信你是祖师转世，整天像个饥渴的猴子一样！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子抱住她说道：“祖师咋了？又不是不食人间烟火的神仙，不是一样跟盈袖过日子，连儿子都生了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高建峰躺在床上，枕着两手盯着天花板，回想着他跟邢洁岚在一起时的幸福时光，想着想着就哭了，泪水顺着鬓角滑落。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;蓦然想起离婚后吃的最后一顿晚饭，邢洁岚叮嘱了他三次，让他不要再想着挣大钱，把现有的钱存到银行里，找个踏实的女人好好儿过日子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高建峰猛然坐起来，此时才明白，原来邢洁岚叮嘱他的话另有深意，或许他能安分守己地过日子，就不会落到今天这个下场！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是转念又涌起恨意，邢洁岚这是心里愧疚，所以才会叮嘱他，既然婚都离了，财产也拿走了，为什么不把话说明白？非要等到他一无所有了才说实话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;因为邢洁岚害怕，害怕他也去找法师，把运势抢回来！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;想通了这一点，高建峰咬牙切齿的下了地，也忘了山伢子嘱咐他的话，直接走向房门，要去找山伢子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;拉开门，愕然看到颜玉站在门口，高建峰脱口问道：“怎么是你？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;：。：
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>