<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第499章：水位上涨</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第499章：水位上涨
</div>
<div class="bookname">
	<h1>第499章：水位上涨</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第499章：水位涨<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子什么都没有说，并不是认同洪拓的观点，而是觉得没有必要争论，因为无论是升仙，还是鬼死了去哪儿，这些问题都离他很遥远，至少以他现在的眼界和法力，没资格去讨论这些事情。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是对于杂念和贪欲的问题，山伢子有自己的想法。都说清心寡欲，无欲无求才能修成正果，但是山伢子却觉得，反倒是要有强烈的执念才能修成正果。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;因为山伢子觉得，想成仙这种想法本身是一种执念，甚至可以说是一种妄念，人哪那么容易成仙的？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可是……越不容易、越不现实的事情，越有吸引力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古时的帝王，权倾天下，手掌乾坤，最终还是想要升仙，这可以证明，想升仙是一种七情六欲更强烈的欲念，它要凌驾于七情六欲之！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子回了套房，问古芊芊：“宝贝儿，咱家有道经一类的吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊左右看了看，问道：“你叫我呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“都叫媳妇儿容易混，以后我叫晓荧媳妇儿，叫你宝贝儿，反正晓荧也叫你宝贝儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嗤了一声，山伢子说道：“要不掉过来？我叫你宝贝儿也行。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“算了吧。”霍晓荧翻着白眼儿说道：“你还是叫她吧，我嫌腻。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊笑眯眯地问道：“怎么想起来看了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子把鬼死成聻的事说了一遍，然后提到莫小北，霍晓荧惊问道：“莫小北来了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子扥出火行石说道：“是啊，她来还火行石。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嗔道：“你怎么不叫我们？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子愕然反问道：“叫你们干啥呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嘲讽道：“真行，在我们眼皮子底下，明目张胆地跟别的女人腻了半天，还帮人家办了事，你可真长本事了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊帮腔儿道：“是，难怪一进来叫我宝贝儿，原来是心虚呀。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉说道：“你俩啥毛病，明明挺正常的事儿……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;咣的一声，门被推开，龚钰丹气哼哼地走了进来，还搡了山伢子一把，然后坐在沙发，掉着脸生气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊笑着问道：“怎么了？你老公不举呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹瞪她，突然嚷道：“他跟那个女的肯定有一腿！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊一愣，霍晓荧问道：“莫小北呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹没反应，山伢子帮霍晓荧问道：“你是说莫小北吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你呀！”龚钰丹指着山伢子嚷道：“那个女的要见邢宽，你帮她打电话？你脑畸形也要有个限度好不好！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，原来女人都有毛病。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“呵呵……”古芊芊笑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹嗔道：“笑你妹呀笑！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊笑着嗔道：“笑你妹！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子转身要走，手机突然响起信息音，随后古芊芊和龚钰丹的手机也响了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子微一皱眉，掏出手机，还没等看，龚钰丹嗤道：“又是江水位涨，关我屁事。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊和霍晓荧却一脸惶恐地看着山伢子，莫林段水位暴涨，是不是跟李镇江有关系？一旦要是发了大水，那得死多少人？死的人可都是水鬼呀！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而且水火无情，城区虽然离着远，可谁敢保证水不会过来？况且如果真跟李镇江有关系，那借水屠城也不是不可能！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子表情严肃地说道：“芊芊，叫唐召义，丹丹，叫邢宽把扎纸店关了，赶紧过来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹不知道有什么事儿，还气哼哼地问道：“干嘛？想给我们说和呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“别他妈闹了！”山伢子急赤白脸地吼道：“狗屁都不知道，一天到晚他妈知道穷作！让你干啥干啥！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“芊芊”龚钰丹皱眉扁嘴，转脸想跟古芊芊撒娇，却看到古芊芊双手掐法诀，默念着咒语。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹一愣，连忙拿出手机打给邢宽。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子到办公室跟徐四说，徐四举了下手机说道：“我看到短信了，你现在要去？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子下意识地抚了下胸口，说道：“火行石拿回来了，应该可以吧？至少也得去看看，兴许跟他没关系。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四叹了口气，站起来问道：“有客人吃饭吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“应该没有吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四出来转了一圈儿，告诉员工，关门休息，所有人都回家。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;然后问洪拓：“桃花儿跟你们去吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓答道：“不去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿皱眉说道：“我要去！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓斥道：“你闭嘴！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四让古芊芊带着桃花儿、姜悦玲，还有史晋和齐有成回家，让邢宽送龚钰丹回家。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;史晋说道：“师父，师娘她们回去行了，我一大老爷们儿，算本事不济，站在你们身后助助威风总还是可以的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹慌了神儿，一手拉着古芊芊，一手拉着邢宽，带着哭腔儿问道：“你们要干嘛呀？怎么了这是？大下雨天的，你们要哪儿去啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义现身出来说道：“时逢豪雨，江有阴兽，此城危矣。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊厉声斥道：“你闭嘴！哪儿都有你！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义莞尔一笑，刻意地做了个闭嘴的动作。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹吓一哆嗦，瞪着唐召义问道：“你谁呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义面带微笑地看着龚钰丹，抿着嘴唇摇了摇头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊瞪了唐召义一眼，对龚钰丹说道：“他是一只死了很多年的老鬼。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子对霍晓荧说道：“你也跟着芊芊回家。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧咬了下嘴唇，说道：“我跟你去，我不靠近，我在远处看着，你万一晕倒了，好歹我能把你抢出来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓也说道：“让晓荧去吧，她说得对，离远点儿行了，只要不妨碍你冲灵行。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，古芊芊抱住山伢子，轻声说道：“想着我，别硬拼，我不要你做什么为国为民的英雄好汉，我只要你平平安安地陪我过日子。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹嚷道：“干嘛呀！都有病吧？咱们跑吧？咱们要钱有钱，要本事有本事，跟这儿扯什么犊子啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢宽握着她的手说道：“你不懂，走吧，我先送你回家。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹瞪着眼睛问道：“什么叫先送我回家？你也要去？”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>