<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第590章：我想你</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第590章：我想你
</div>
<div class="bookname">
	<h1>第590章：我想你</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第590章：我想你<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四的追悼会办得很隆重，来了很多人，都是钟离愁的朋友，虽然他们并不认识徐四，但冲着钟离愁的面子，所有人都表现得很悲恸。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁主持了追悼会，说了很多感人肺腑的话，几度哽咽失语。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;火化之后，按照徐四的遗嘱，山伢子将徐四的骨灰撒到了XX江里。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧也回素隐门问了，得到的答案却不尽人意，素雪并没有针对素茗留下什么警示，只是告诫素隐门弟子，无论何时何事，都不要跟素茗有任何牵扯。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;乌拉族再没有出现过，山伢子的悲伤与愤怒无处宣泄，就每天夜里子时，定时定点的在饭店门口打瘦脸男的命魂，打得瘦脸男惨叫不止，吓得很多鬼都不敢来吃饭了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这天晚饭时间，花梦容走进了饭店，眼窝深陷，满脸憔悴，直接走到山伢子面前，神情凄婉地问道：“我可以跟你谈谈吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“你咋了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容扁了嘴，眼圈儿泛红。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，尴尬地说道：“你别哭啊，你要有什么事儿就跟我说……但凡我能帮上忙，我肯定帮你解决。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容哽咽着说道：“我想你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子更尴尬了，慌乱了片刻才说道：“那什么……咱们上楼说吧，行不？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容点头，山伢子转身上楼，对安婧说道：帮个忙，别让芊芊和晓荧出来，我这儿有点事儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧问道：什么事还要背着人？我连话都不会说，怎么阻止她们出去？而且她们也没有想出去的意思，你这么心虚干什么？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：我没，没心虚。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧问道：那你为什么结巴？连心念都乱了，还说不心虚？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：我就多余跟你说。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧说道：你本来就多余跟我说。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子做贼一样带着花梦容进了包间儿，然后把门关上，想了想又觉得不合适，又把门拉开。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容看着他，山伢子尴尬地说道：“坐吧，坐下说。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容坐下，还是看着山伢子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子抬手挠头，目光闪烁地说道：“那个……你是喜欢我吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”花梦容坦然点头答应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，纠结了片刻才又问道：“你长得这么漂亮，为啥喜欢我啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容反问道：“你女朋友也那么漂亮，为什么喜欢你？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子接口说道：“对呀，我有女朋友啊，你……你喜欢我也没用啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容低下头哭，山伢子琢磨了一下，说道：“那个……我给你做个菜吃吧，你先坐一会儿，十几分钟就好。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你别走。”花梦容伸手拉住山伢子，哽咽着说道：“你陪我坐一会儿，我真的好想你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一脸尴尬，如坐针毡似的说道：“咱俩其实就是萍水相逢，也没在一块儿处过，你这是为啥呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容摇头，说道：“我不知道，我就是想你，每天晚上都能梦到你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容开始讲述，打从她见到了古芊芊之后，就决定忘记山伢子，可是从那天晚上开始，她每天都会梦到山伢子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;梦到两人结伴游园，站在石桥上喂池塘里的锦鲤，两人相依相偎，谈笑风声……<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子越听眉头越紧，这些场景怎么那么像西游记里女儿国的桥段呀？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子对安婧说道：让晓荧来三号包间，告诉她，花梦容来了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧没回应，片刻后，霍晓荧穿门而入，看了一眼花梦容揪着山伢子衣袖的手，没说话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容边哭边说，霍晓荧说道：“安慰安慰她。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子用震惊的目光看霍晓荧，霍晓荧呲儿道：“装什么正人君子，大美女哭成这样儿，说得又是跟你有关的事，你就这么无动于衷？别侮辱我的智商和情商好吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子臊眉耷眼地收回目光，伸出手握住花梦容的手。花梦容手一哆嗦，随即紧紧地反握住，哇的一声哭了出来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“我回去了，我在这儿也没用，看不出她有什么问题，咱俩也没法儿说话，还是通过婧婧传话吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子点头，霍晓荧又说道：“她的气息很弱，大恸伤情，赶紧安慰她，别再整出事儿来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子又点头，霍晓荧走了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;回到套房，古芊芊问道：“什么情况？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧答道：“暂时没情况，我跟他说，通过婧婧传话更方便。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊站起来，霍晓荧斥道：“你干嘛？你给我坐下。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊瞪着眼睛说道：“我去洗手间。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧站起来说道：“我陪你去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊掉着脸坐下，霍晓荧也没理她，坐下接着看电视剧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;过了一会儿，古芊芊实在忍不住，嘲讽道：“你可真是三从四德的大老婆啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧头也不抬地答道：“你懂个屁，心思都花在男女之间那点儿事儿上，这个花梦容肯定有问题，无缘无故的就对伢子有这么深的感情，都到了衣带渐宽终不悔，为伊消得人憔悴的地步，肯定是让人施了术。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉说道：“给一个普通人施术干什么？就为了让她来破坏咱们的感情啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧斜眼看古芊芊，安婧开口说道：“色杀。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧白了古芊芊一眼，古芊芊瞪着安婧嗔道：“臭丫头，不会说话，倒什么都懂。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧低下头，霍晓荧斥道：“婧婧不像你这么神经质，连最基本的理智都没有了，我说你是不是在觉醒魂力呀？我怎么觉得你最近有点儿混乱呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊眨了眨眼睛，问道：“我混乱吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“干爹死了，后爹和天心也死了，乌拉族神龙见首不见尾，黑衣人还在四处活动，咱们也不能确定是不是素茗，这么多重要的事你都不走心，一门儿心思担心伢子跟别的女人好了，你还不混乱吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊沉默，霍晓荧又问道：“有没有觉得哪里不舒服？情志上有没有什么不对劲儿的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊瞪霍晓荧，这不废话吗？当然是情志上不对劲，要不怎么会闹腾呐？
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>