<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第371章：圆满解决</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第371章：圆满解决
</div>
<div class="bookname">
	<h1>第371章：圆满解决</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;&quot;第371章：圆满解决<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老鬼还是瞪着山伢子不说话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子把玉佩放下，双手掐起了法诀，闭上了眼睛。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;随着咒语的念诵，老鬼身上出现了白光，魂体逐渐变得透明，将要消失的时候，老鬼愤怒地骂道：“强盗！土匪！你不得好死！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;红线剧烈地颤抖，山伢子的脸变得通红，仿佛要溢出血来，直到老鬼彻底消失，山伢子才猛然喷出一口血雾。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚国伟和王欣慧都惊呆了，龚钰丹捧着山伢子的脸哭喊道：“你怎么了？伢子！伢子你怎么了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子长吁一口气，推开她的手说道：“我没事儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子是在与火行石对抗，老鬼最后骂了山伢子，山伢子感觉到火行石要收紧红线勒死老鬼，所以一边念咒一边用心神与火行石对抗。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他不能总让火行石为所欲为，他是宿主，生杀予夺应该他说了算才对！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹并不介意山伢子推开他，依然伸出手去擦山伢子嘴边的血，眼泪把妆都弄花了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，看着她说道：“我没事儿，我跟你解释不清，但我真的没事儿，你去洗把脸吧，你看着跟鬼似的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹噗嗤一笑，又伸手抹了抹山伢子的嘴，然后站起来去洗手间了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚国伟看着山伢子说道：“石大师，辛苦你了，你真的不要紧吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“我没事儿，鬼已经送去地府了，为了安全起见，阿姨，你还是把所有的玉石都拿来，我挨个儿检查一下。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好。”王欣慧站起来说道：“我去拿。国伟，给石大师泡杯茶。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦！对，对。”龚国伟起身去泡茶。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹洗完脸出来，眼睛还有点儿发红，妆卸掉了，清清秀秀，白白净净，虽然不如古芊芊好看，可也是个美人坯子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子微一皱眉，明明长得很好看，为什么要整天画得像猴儿屁股一样？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过山伢子啥也没说，因为他感觉得出来，龚钰丹绝对不能有一丝一毫的招惹，否则会比夏歆雨更难缠。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹坐回山伢子身边，扭着身子看着山伢子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看她一眼，问道：“你总瞅我干啥？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹答道：“我看你有事儿没事儿，我怕没法儿跟芊芊交代。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“对了。”山伢子掏出手机，说道：“时间挺长的了，我得给芊芊打个电话。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹咬着嘴唇轻叹了一声，转正了身子靠在沙发背上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;挨个检查完玉石，山伢子说道：“没问题，不会再有事儿了，我该回去了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完扭头看着龚钰丹问道：“你去哪儿？用不用我送你？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“用。”龚钰丹不客气地点头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子掏出手机说道：“手机号儿告诉我，外边儿冷，你先在屋里待着，我去开车，开过来给你打电话。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好！”龚钰丹一把抢过山伢子的手机，把自己的手机号存了进去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子走了，龚国伟刻意地说道：“这孩子还挺会疼人的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹笑了笑，说道：“是啊，他就是这样的人，对谁都挺好的，但心里只有芊芊和他的冥妻。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“冥妻！”龚国伟和王欣慧都是一愣。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹摆了摆手，站起来说道：“我走了，我到路边等他去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“丹丹。”王欣慧拿起那块古玉，说道：“事情是石大师解决的，这块玉你拿去吧，要不……我三百块钱卖给你也行。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹笑了笑，这人真会说话，知道掐她的软肋，伸手接过古玉，说道：“谢谢了，不过我没钱，跟我爸要吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好。”王欣慧微笑着答应，轻推龚国伟，说道：“你把丹丹送上车，天晚了，孩子一个人不安全。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“对，对。”龚国伟站起来说道：“我陪你下去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹嗤了一声，说道：“是亲爹吗？还得让人家提醒，我是捡来的吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚国伟尴尬地笑了笑，说道：“行了，爸爸都是五十多的人了，脑子跟不上趟儿了，走吧，别让石大师等急了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹上了车，山伢子按了下喇叭，然后开走，走出一段距离后才问道：“去哪儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹答道：“去饭店。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱着眉头看她一眼，问道：“去饭店干嘛？你不回家睡觉啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹唬着脸答道：“我饿了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子不再说话，龚钰丹也沉默了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;车程近半，龚钰丹突然说道：“我今天的表现，你别跟芊芊说。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“芊芊要是不问，我不会主动说，她要是问，我肯定实话实说，咱俩又没咋，你不就是吓得抱住我胳膊嘛，这是正常反应，有啥怕人知道的？反倒是藏着掖着才容易误会。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹歪头看着山伢子，嘴边带笑地说道：“行啊亲爱的，经验丰富啊！以前有过类似的事儿吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子没说话，因为不想跟她闲聊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹有些尴尬地撇了撇嘴，将目光转向车窗外面，心里莫名的有些伤感。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫家，莫震西重伤不治，莫震南却突然苏醒，两家住在一个大宅院里，莫震南醒来后听说莫震西死了，赶紧跑到二房的院里。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人站在房顶上，手掐着莫震南的生魂，莫震南愕然看着自己的肉身跑进了莫震西的跨院儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人说道：“你现在没用了，你二哥用了你的肉身。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震南一惊转头，胸口突然一胀，随即感觉身体被掏空了，魂体开始变虚。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你到底是谁？”莫震南留下了最后一句话，生魂消散了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震西的命魂进入了莫震南的肉身，当他看到自己的遗体边，他老婆那张冷漠的脸时，他觉得自己的选择是对的，根本不用考虑老婆孩子，或许他老婆早就盼着他死了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震南问道：“二嫂，二哥怎么死的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震西的老婆平淡地答道：“看样子像是被人打死的，死前就说了一个名字，石庆山。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震南有点儿绷不住，语气不善地说道：“二嫂，好歹夫妻一场，你就算不哭两声，也不该这么冷漠吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震西的老婆看着他，半晌才轻声说道：“你失忆了？跟我说这种话？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震南愣住，这话什么意思？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震东一步迈进来，问道：“老二死了？”&quot;
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>