<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第24章：埋了</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第24章：埋了
</div>
<div class="bookname">
	<h1>第24章：埋了</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第24章：埋了<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子找了个带尖儿的石头，三两下儿就在坟旁边刨出个小坑儿，反正灵石也不大，有个坑儿就能埋上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;然后摘下小布袋子，把灵石倒出来放进小坑儿里，盖上土，使劲儿踩了几脚，把土踩实，抹了抹眼泪，蹬上自行车回家了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一路上都觉得不得劲儿，因为脖子上挂个东西习惯了，冷不丁这点儿分量没了，总觉得少点儿什么，心里也不踏实，就在路边儿踅摸了一块儿大小差不多的石头装进了布袋子里。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;回家抱了一会儿弟弟，听后爹说了一会儿话，山伢子又蹬着自行车往回返，天边涌起了黑云，风也变得急躁起来，最不巧的是，往靠山镇返还是顶风儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;风越来越大，山伢子蹬不动了，只能下来推着走。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;天色越发的暗了，暗得不太正常，山伢子心里开始害怕，推着车小跑儿了起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;前面影影绰绰站着几个人，把路堵死了，不知道出了啥事儿，山伢子放慢了脚步，等到走近之后才看清楚，堵路的不是人，而是三个鬼，一个个脸色发黑，眼珠子也是黑的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这三个鬼都是一脸的凶神恶煞，当中的一个厉声问道：“你就是石庆山？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子感觉腿肚子要转筋，看着那只鬼，这只鬼穿着大背心儿、大裤衩子，光着胳膊光着腿，胸口上还插着一把刀，血淋淋的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;旁边一只鬼骂道：“小兔崽子，成哥问你话呐！你是哑巴吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说话的这只鬼年纪不大，瘦高个儿，穿着小背心儿，两条胳膊上画得花里胡哨的，小鼻子小眼儿，长脸儿，脸上血呼啦的，脖子上戴着一条发黑的链子，小背心上也都是血迹。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;另外一只鬼膀大腰圆，光头，没有眉毛，大鼻头儿，大嘴叉儿，招风耳朵大胖脸，光着膀子，胸口画着一个张着嘴打哈欠的虎头，这只鬼干净，身上没有血迹，也没在哪块儿插着刀。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“妈的你是不是哑巴？”瘦高个儿说着就过来用手扒拉山伢子的脑袋。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子下意识的一躲，成哥说道：“就是他，他能看见咱们。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说着把自己胸口上的刀拔了出来，握在手里向山伢子走过来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子丢下自行车往后退，声音有点儿发颤：“你们要干啥？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“干啥？”成哥露出一个诡异的笑容，说道：“听说你身上有个东西会发红光儿，你咋不发光儿呐？发个光儿给哥儿几个瞅瞅。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子没说话，要告诉他们自己把灵石埋了，他们会不会冲上来杀了自己？看这个情况，这三个鬼知道他身上有灵石，所以还不敢立刻动手。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“那东西只在我有危险的时候儿才发红光儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“危险是吧？”成哥皮笑肉不笑，对瘦高个儿说道：“你过去削他。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;瘦猴儿有点儿犹豫：“成哥，我这个……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;成哥一瞪眼，拿刀比划瘦猴儿：“咋的？还要工钱呐？我让你去削他，听明白没？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;瘦猴儿赶紧向山伢子走过来，山伢子往后退，瘦猴儿指着山伢子骂道：“小兔崽子，站那儿，我让你站那儿！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子转身就跑，他得去把灵石挖出来，麻烦就麻烦吧，好歹麻烦不要命啊！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一见他跑，瘦猴儿好像明白了什么，一晃就到了山伢子面前，抬腿一脚踹在山伢子肚子上，骂道：“小兔崽子，你还能跑得过我？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一脚踹得并不疼，只是出其不意，把山伢子踹倒下了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;成哥微微眯起了眼睛，拎着刀走向山伢子，山伢子一骨碌爬起来，又要跑，瘦猴儿一晃又到了山伢子面前，再次抬腿踹向山伢子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一回山伢子有了防备，一把抱住瘦猴儿的腿，然后猛然发力，把瘦猴儿甩向成哥和那个光头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子自己理解，鬼跑得比人快，是因为鬼没有肉身，分量特别轻，但好像还没轻到风一吹就跑的地步，所以山伢子才想出这招儿，把瘦猴儿扔向成哥和光头，阻挡他们一下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是山伢子的劲儿使大了，瘦猴儿尖叫着飞向了半空中，成哥和光头都愣住，仰着脸看着瘦猴儿，被大风刮出去好几十米远。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子也愣了一下，看来风对鬼的影响还是很大的，至少比他想像的要大得多，这要是一个活人被扔上去，绝对刮不出这么远去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子转身又跑，同时在心里喊媚姌，但很快，三个鬼又出现在面前，这一次是光头张着小树干一样粗的胳膊来抱山伢子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;距离太近，山伢子根本收不住脚，一头撞进光头怀里，随即感觉身子像被铁箍勒住了一样。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子感觉要被挤死了，猛然想起认识张小莹那天，他掐了那个男鬼的裆，于是用悬空的脚踢向光头的裆里。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是这一次没有起作用，光头勒得更紧，山伢子疼得忍不住喊出声儿来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;成哥说道：“先别勒死，我还有话要问他。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;光头不再加力，但依然勒得山伢子前胸后背疼，而且喘不上气儿来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;瘦猴儿走过来扇山伢子的脑袋，边扇边骂：“小王八犊子，你再扔我呀？扔我呀……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;成哥问山伢子：“小子，你咋不发光儿呐？这还不算危险吗？非得我拿刀捅你才行吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子扭着头瞪着他，在心里不停的喊媚姌，按说这么半天了，姌姨怎么还不来？难道是因为灵石不在身上，所以姌姨听不见他喊？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子后悔了，为什么要听那个老鬼的？为什么要把灵石埋了？在四叔那儿吃得太好，把心眼儿堵上了？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;瘦猴儿不停地扇山伢子脑袋：“问你呐，为啥不发光儿？赶紧发光儿！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子骂道：“王八犊子！有种单挑！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;瘦猴儿嘲讽的笑着说道：“单挑？武侠片儿看多了吧？拿自己当大侠了？我告诉，就算你真是大侠，落到我们手里，也一样给你整成小鸡子！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子急了，踢不管用，咬行不行？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子张口咬向光头的肩膀，使了很大的劲儿，光头大吼一声，薅住山伢子的头发，把山伢子重重地摔在地上。
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>