<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第201章：肉汤</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第201章：肉汤
</div>
<div class="bookname">
	<h1>第201章：肉汤</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第201章：肉汤<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子没说话，闻就闻吧，反正这老头儿又不是鬼，也不会把味儿闻走了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老头儿睁开眼睛，笑呵呵地说道：“小伙子，你家这汤可真香啊，我是离着大老远，闻着味儿走过来的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱了皱眉，一般来讲，人家这么说了，咋也应该给人家盛一碗尝尝，可他这十天一直在调火力，这汤只是他跟张小莹喝，虽然张小莹喝一回吐一回吧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子不敢给老头儿喝，怕喝出事儿来，他担不起。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“就是普通的肉汤，撒了把盐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹也皱眉，山伢子说得倒是实话，就是两碗清水，几十片儿肉，撒了把盐，但是山伢子在汤里加注了法力，还用法力调整煤炉子的火力，这汤可就不普通了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不想给人家喝，你得把这东西说得金贵点儿，人家就不好意思要了，你说是普通的东西，那人家肯定想尝尝。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;果不其然，老头儿乐呵呵地说道：“是吗？就撒了把盐呐？那咋会这香的？小伙子，给我舀一碗尝尝行不？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，看张小莹，张小莹嗔道：“猪脑子！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子小声儿说道：“科学证明，猪是很聪明的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹嗔道：“科学个屁，你就不科学，你干的事儿也不科学，还跟我讲科学？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老头儿又呵呵一笑，看着山伢子说道：“咋的呀？你不说就是普通的肉汤吗？要不我花钱买一碗行不？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子只能再往回‘找吧’，说道：“老爷子，这汤不值钱，也的确是普通的肉汤，但这是药膳，给病人做的，里面放了药材，您老这么大岁数，我怕您喝了再不受，那我可担不起这事儿啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”老头儿有点儿抓耳挠腮的，寻思了一会儿又说道：“那我给你立个字据，我喝出事儿来不赖你，行不？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹皱眉，说道：“这老头儿要疯啊？至于吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子却能理解，因为他想起了当年刚认识徐四的时候，那个在店外等了两个晚上，要吃大肉面的老大爷。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;人这一辈子，七情六欲样样躲不开，口腹之欲尤其厉害，很多人都说，为了一口吃的不值得，可是细琢磨琢磨，人这一辈子，从头到尾，不都是为了这一口吃的在忙活吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子走到炉子前，盛了小半碗汤递给老头儿，说道：“您慢点儿喝，一口一口的，要是觉得不舒服，就别喝了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好，好。”老头儿脸上带着笑，眼神贪婪地接过碗，用漏风的嘴吹了两下，然后就着碗边儿嘬了一口。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哎哟哟哟……”老头儿烫得直哎哟，但也没舍得把嘬进嘴里的汤吐掉，而是含着吹了两口气，咽了下去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子开始担心，因为汤虽然在火上炖着，但不应该这么烫，他盛的时候儿就用勺子拉长线儿晾了一下儿，端在手里又说了几句话，再交给老头吹了两下，这汤应该没那么烫了才对，老头儿觉得这么烫，应该是他的法力在起作用。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“老爷子……你慢点儿喝！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老头儿一口将剩下的汤都倒进了嘴里，然后左手握拳捶着胸口，一个劲儿地大喘气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹赶紧走上两步，想往老头儿嘴里吹气，帮他凉凉，老头儿却突然咳了起来，很剧烈的咳嗽，咳得人都站不住了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹闪到一边儿，山伢子扶着老头儿，心里发慌，这可咋办？这要是出了人命，他是不是得坐牢啊？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹黑了脸，如果老头儿咳死了，她就把老头儿扛到深山里埋了，来个活不见人，死不见尸！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老头儿越咳越厉害，眼看着满脸通红，有出气儿没进气儿，山伢子一手挽着老头儿，一手摸出手机，想打电话叫救护车。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹厉声说道：“别打电话！你给他拍后背，拍过来就过来了，拍不过来我就去把他埋了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子愕然看着张小莹，张小莹斥道：“瞅啥！拍呀！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子咬了咬牙，揣起手机，右手扶着老头儿，左手轻轻地拍着老头儿的后背。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老头儿开始‘倒气儿’，张小莹斥道：“使点儿劲儿！没吃饭呐！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子‘啪’的拍了一巴掌，老头儿哇的吐出一滩浓痰，腿一软就要跪下，山伢子架着老头儿的胳膊问道：“咋整啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹上去把山伢子推开，扶着老头儿跪在了地上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老头儿吐了得有一分多钟，然后长长地吸了口气，喘息着说道：“舒服……我终于舒服了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看着地上那一小滩粘稠的痰液，心里若有所悟，他的法力是火性的，会不会是把老头儿的痰湿给逼出来了？要是这样的话，那师公这个方子兴许不止是能做鬼食，没准儿还能做药膳！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老头儿喘了一会儿，气儿喘匀了，脸色红润，好像年轻了几岁一样，也没用人扶，自己站了起来，背都没那么驼了，看着山伢子说道：“小伙子，再给我喝点儿行吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子连忙摇头，说道：“您别喝了，刚才都快把我吓死了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老头哀求似的说道：“再给我喝点儿，小伙子，你这药膳做得好啊，我喝了之后可舒服了，你看，我把陈年老痰都吐出来了，哎哟！把你门口儿的地弄脏了，有拖布吧？我给你擦喽。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说着就要进超市，山伢子连忙拦住他，说道：“没事儿，我擦就行了，您呐，赶紧回家歇会儿去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老头儿抓着山伢子的胳膊说道：“小伙子，再给我喝半碗，这么着，我花钱买。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说着又要掏钱，山伢子赶紧说道：“老爷子，您听我说啊，就算是灵丹妙药，一回也不能多吃，吃多了也要命，这药膳也是这个理儿，您呐，回家先歇歇，要是没事儿，您明天再来，明天再喝，行不？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老头琢磨了一下，点头说道：“对，是这个理儿，那行，我明天再来，咱可说好了啊，你可不兴变卦！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子无奈苦笑，点头答应道：“好，我不变卦，您老赶紧回家歇着去吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗳！”老头儿松开山伢子，乐呵呵地转身走了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子没看到老头儿来时什么样儿，但老头儿走的时候，脚步看起来很轻松。
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>