<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第689章：服侍</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第689章：服侍
</div>
<div class="bookname">
	<h1>第689章：服侍</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第689章：服侍 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧停了片刻才斥道：说什么呐！谁吃你的醋？杀了个大魔王就信心爆棚了？把你嘚瑟的！ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴看着安婧问道：“妹子脸怎么红了？哦……我知道了，跟你夫君说话呐吧？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧眼神一慌，大声说道：“他不是我夫君！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴媚笑着说道：“哪天圆了房就是了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧皱起了眉头，古芊芊问道：“怎么了？夫君有什么事？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧答道：“他说媚影骚扰他。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴调笑道：“还说不是？芊芊一问，脱口就答了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧的脸更红了，霍晓荧看着卿琴问道：“你是不是太久没男人，所以总得说点儿男女之间的事解闷儿？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴笑而不语，花梦容问安婧：“媚影骚扰他，你为什么脸红啊？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧瞪着她斥道：“你闭嘴！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“跟夫君好好说，媚影可是长老，别让夫君失礼了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”安婧答应，对山伢子说道：服侍你洗漱的叫媚影，是卿琴手下四大长老之一，我跟梦容早起的时候，也是有人服侍洗漱的，只是没你的规格高，你先将就着，回头芊芊姐会跟你解释的。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：那我还打她不？ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧斥道：你讨厌！你……讨厌！ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子呵呵一笑，媚影回眸看他，问道：“大王因何发笑？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“没事儿，跟我媳妇儿说话呐。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚影嫣然巧笑，淘了手巾要给山伢子擦脸，山伢子仰头躲了一下，说道：“还没洗呐。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚影一怔，山伢子走到水盆边，捧起水哗哗地洗了脸，然后伸手要拿手巾，媚影躲了一下，然后凑近给他仔细地擦，眼中嘴角满是笑意。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“你是长老，怎么还给我擦脸？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚影柔声说道：“大王力斩魔王，救了我等性命，莫说是服侍大王洗漱，只要大王高兴，属下为大王做什么都愿意。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“呵呵……”山伢子干笑了两声，没有接话。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚影嫣然巧笑，又给他擦了手，然后拿起牙刷沾了牙粉递给他。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子接过来说道：“你们还有这个呐。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚影俏笑着答道：“大王以为我们是未开化的蛮族？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子尴尬一笑，说道：“当然不是，我的意思是说，我以为你们妖怪都不刷牙的。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚影歪着头看着他问道：“妖怪就都脏着？一张嘴满口臭气？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉说道：“不是，你们都会法术嘛。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚影绷不住笑，说道：“大王也会法术，而且远胜于属下，大王为何还要刷牙？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子反应过来，媚影是在逗他，就不再说话，转过身刷牙。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚影转到他正面，俏笑着问道：“大王怎么不理属下了？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子含混着答道：“不是啊，我要刷牙。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚影笑，拿起水杯递给他，然后又端起水盆等着。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子使劲蹭了两下，然后漱了口，看着媚影端着水盆离开，然后跟着出门。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚影回头说道：“大王去哪里？属下还要给大王奉膳呐。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“不吃了，我去找芊芊。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完就往卿琴的房子走，媚影端着盆追过来拦住他，一脸委屈地说道：“属下一早去打的野味，慢火烤了多半个时辰，大王不赏脸尝尝吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子微皱着眉头，抬起手挠了挠头，媚影撒娇道：“大王就赏脸尝尝嘛。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子连连点头，说道：“行行，你去拿吧。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚影嫣然而笑，转身快步走开。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子叹了口气，问安婧：什么情况？刷完了牙还得吃饭。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧嗔道：废话，刷完了牙当然要吃饭。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：你们吃了吗？ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧嗔道：你就老实儿待你屋吧。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子回到房间里，片刻工夫，闻到一股甜香，随即看到媚影捧着一个花边儿盘子进来，盘子上码着铜钱大小的肉块，满满一盘子。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚影直接跪在了山伢子面前，捧高盘子笑眯眯地刚要说话，山伢子把盘子拿了过去，然后把她拽起来说道：“你别这样，我不习惯，你刚才给我擦脸我就不习惯，现在这样，我吃不下。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚影甜蜜地笑，又端回盘子，举给山伢子说道：“大王尝尝，我刷了枣花蜜。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子拿起一块放进嘴里，入口温热，外层焦酥，咬破后热气顺着裂口喷出，肉的香味随之涌出，混着蜜的香甜，别有一番风味。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚影看着他问道：“好吃吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”山伢子赞赏地点头，又拿了一块放进嘴里。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚影笑靥如花地说道：“仙姑都说我有做饭的天赋，不知属下能否跟大王学做鬼食？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“你是什么行属？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚影答道：“属下是火狐，应该是火行吧？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子摇了摇头，说道：“我也不知道，不过没关系，试试呗。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚影喜形于色，又跪在山伢子身侧说道：“多谢大王。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉说她：“你怎么又跪下了？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚影答道：“我弯着腰更累，还不如跪着舒服呐。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“你把盘子放下不就完了吗。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚影略显娇蛮地说道：“不，属下要给大王捧着。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;好容易吃完了饭，媚影总算是离开了，山伢子有些气急败坏地对安婧说道：让芊芊过来找我，马上！ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这次安婧没敢顶嘴，过了一会儿，古芊芊推门进来，山伢子唬着脸瞪着她。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊微笑着走过来坐下，看着他问道：“怎么了？媚影服侍得不舒服啊？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子低声斥道：“整什么玩意儿呐这是？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊微笑，搂住他的胳膊，凑到他耳边轻声说道：“妖物向来以强者为尊，接受他们的服侍，便是接纳他们的一种表现，另外，咱们有梦容，药娘千年难得一遇，谁不想雨露均沾？他们当然要先巴结你这个大王嘛。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，看着她不说话。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊又轻声说道：“你放心吧，我不可能给所有的妖怪都喝梦容的血，但四大长老总是要笼络的嘛。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子意味深长地说道：“你真的是变了个人。”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>