<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第307章：救人方案</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第307章：救人方案
</div>
<div class="bookname">
	<h1>第307章：救人方案</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;.&nbsp;&nbsp;&nbsp;&nbsp;，最快更新深夜鬼食堂最新章节！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;第307章：救人方案<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一股阴冷的劲风擦得脸颊生疼，屈彦锋吓得面色发白，直到霍晓荧被洪拓扯回去，才惊恐地叫道：“你干什么？我告诉你！你是鬼，敢向我挑衅，我收了你！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你收了谁？”山伢子和姬淋洛走了进来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧咬着牙，考虑要不要跟山伢子说，却突然响起刚才的对话，所有人的目光都看向夏歆雨的手机。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨干脆把手机举了起来，直到放完录音，夏歆雨才说道：“新家主这么张扬跋扈，我想应该录下来，免得将来说不清。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈彦锋的脸色变了两变，嗤笑一声，说道：“你不是跟淋洛好了吗？还这么惦记着姓石的，合适吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨刚要说话，姬淋洛抢先说道：“屈彦锋，你叫我们来不是为了演练阵法，纯粹是为了找茬儿对吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈彦锋看了一眼夏歆雨手里的手机，不屑一笑，说道：“姬淋洛，实话告诉你吧，对于我来说，打不打这只老鬼都可以，我现在是家主，我完全可以把这座老宅卖掉，然后到国外定居。倒是你们……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈彦锋又看向古芊芊，接着说道：“你们要守着莫林的基业吧？没有我，你们就组不成五行阵，我是在帮你们，对吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊笑了，先看了一眼洪拓，然后看着姬淋洛说道：“我本将心向明月，奈何明月照沟渠。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛哑然失笑，本来是不用屈彦锋的，以洪拓的阵法为基，其实五行全与不全都没有太大的影响，是他主张联合屈彦锋，毕竟屈老尸骨未寒。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可屈彦锋却是这个样子，刚接任家主就如此的嚣张跋扈，最重要的是，他竟然觉得缺了他不行，还借此要挟众人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈彦锋看着古芊芊问道：“你这话是什么意思？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊站了起来，扫了一眼众人，问道：“咱们走吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈彦锋一愣，洪拓和夏歆雨也相继起身，霍晓荧瞪着屈彦锋说道：“这次是给屈老留情面，你给我记住，没下回！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一众人往外走，屈彦锋叫嚣道：“别想着找我爸告状，现在我是家主！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛轻声骂道：“傻缺。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;六个人坐一辆车回饭店，山伢子抱着霍晓荧坐副驾，古芊芊问洪拓：“师父，你做主阵眼行吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“你先别叫我师父，师父不能随便叫……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你怎么这么事儿啊？”霍晓荧打断他，嗔道：“说正事儿！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓失笑，点头说道：“行，我可以做主阵眼。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧问道：“那咱们还用演练吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓答道：“至少还得配合一次，彼此熟悉熟悉。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊拍了下驾驶座，问姬淋洛：“去你家还是去我家？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛答道：“去我家吧，我家近，而且你们还都没去过我家呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨突然说道：“我心里赌得慌。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊伸手抚她后背，说道：“跟那种人生什么气，从今往后都不搭理他就完了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨沉着脸不说话，但还是很生气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“谁有办法，怎么避免那对母子受到伤害？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“我想过一个办法，但是很凶险，要找一个机灵的普通人，骗开许冰家的门，然后冲进去抢孩子，把许冰引出来，然后咱们再对付老鬼。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧接口就说道：“潘小龙合适。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“你都不问怎么凶险的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧答道：“一种可能，在抢孩子的时候，老鬼瞬间上身，把潘小龙掐死。一种可能，老鬼上许冰的身，把潘小龙掐死。一种可能，潘小龙直接被老鬼掐死。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊笑，说道：“姐，你得多恨他不死啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所有人都笑，霍晓荧又补充道：“最坏的一种可能，老鬼上潘小龙的身，被咱们打死。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“看来你把能想到的可能都想到了，那你去问问人家愿不愿意吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我不去。”霍晓荧说道：“我拿不住他，得让芊芊去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊愕然问道：“为什么是我？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧答道：“如果歆雨没跟淋洛好呐，歆雨去说最合适。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨嗔道：“又拐带我？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“明白了，我本来说要给他介绍女朋友来着，我都忘了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“你们在说什么？东一榔头西一棒槌的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛笑着说道：“她们在说，冲冠一怒为红颜。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，想了想才说道：“你们这不是骗人吗？这可是玩儿命的事儿！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“我没骗人啊，我可以给他介绍啊，但成不成的就不归我管了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨说道：“咱们是为了救人吧？万一害了潘小龙，那咱们是救人还是害人？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛给她解释，首先，霍晓荧说的那些凶险有夸大的意味，更偏向于搞笑和活跃气氛。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;实际上，一个普通人冲进家里去抢孩子，老鬼可能根本就不会管，因为他完全没有必要为了这样一件小事就暴露自己。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;修炼五百年可是不易呀！没有胡小东，他可以去找别的孩子，就算胡小东是什么特殊的体质，或者特殊的生辰八字，现代人口这么多，再找一个也不会太费事。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可如果暴露了自己，引来了法力高强的法师，对老鬼来说就是天大的麻烦，那是绝对得不偿失的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以洪拓的这个方法，至少有七成的机会能避免许冰母子受到伤害。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“而且也不白干，许冰答应给五十万，正好儿屈彦锋不参加，余下十万给潘小龙。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“我朋友喜欢猛男，我把我朋友带来，让她跟着受一下刺激，没准儿还真就跟潘小龙成了呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓笑着说道：“你跟你姐还真像，都会拿这种事作文章。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊瞪眼嗔道：“你说什么呐？先前的事儿还没跟你算账呐！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓皱眉，这还说要拜师呐，这要不想着拜师，得什么样儿啊？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛手机响，看了一眼后说道：“都别说话，是屈叔叔打来的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完，用车上的免提接了电话，喂了一声，屈敬龙问道：“淋洛，你们去哪儿了？”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>