<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第244章：虎哥</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第244章：虎哥
</div>
<div class="bookname">
	<h1>第244章：虎哥</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第244章：虎哥<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;将近一个小时，钟离愁才回来，满面春风，一身的香水味儿，进门儿问道：“你跟伢子咋也不去学个车？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“明天就报名，你回来看店。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁说道：“店不用我看，你跟伢子轮班儿去学，把晚上的生意照顾好就行了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“我刚想明白，其实不用师叔去了，路边儿有得是一停就停好几天的车，让史晋随便开一辆去就行了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四斥道：“胡闹！那是盗窃！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧争辩道：“又不是不还回来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四一拍桌子，斥道：“还犟嘴？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嘟着嘴不说话了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁问道：“说啥了？又训闺女。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四摇头，说道：“你别管，你三观不正，你送伢子他们去xx公墓。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哪儿？”钟离愁瞪着眼珠子说道：“xx公墓？你知道来回多少公里吗？是那个姓齐的事儿吧？我不去！又不收钱又没好处，还得搭工儿夫搭油儿钱，我不去！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“你不去他们就得打车去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁说道：“那就打车去啊，咱又不差钱儿，咋的呀？为了省俩钱儿，拿我当司机使啊？我一饭店老板，就值个打车钱？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“真矫情，我们走了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四嘱咐道：“你不许偷车啊！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“知道了知道了。”霍晓荧直接下厨房去找山伢子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;出了饭店大门，霍晓荧扯着山伢子往背阴儿处走，史晋说道：“小莹，四叔不让偷车。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧答道：“不让我偷车，你去偷不就行了？又不是不还。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;史晋笑，不再说话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉说道：“打个车不就行了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧答道：“打车说话不方便，xx公墓很远，要几个小时才能开到呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;找了辆自动档的越野车，开着上了路。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子跟霍晓荧坐在后座，心里有点儿不踏实，问史晋：“你显形了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;史晋答道：“没有，有需要的时候再显形。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子又问道：“那旁边儿的车看咱们，不就是无人驾驶吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;史晋笑着答道：“开着车谁会盯着旁边儿的车看呐，再说他们又不是交警，不用管他们。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，鬼都这么任性吗？万一把别的开车的人吓着，再出了车祸怎么办？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高速拿票儿，交钱，中间加油，都没有出任何差错，很顺利地到了xx公墓停车场。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不年不节，又是太阳快下山的时间，停车场很空，但也不是一辆车都没有。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;下了车，三人往公墓大门走，远远地就看到一个穿红t恤的黄毛儿坐在大门边儿上，抽着烟抖着腿，身边儿还戳着一个牌子，上面写着四个斗大的字，阴宅出租。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧对山伢子说道：“老公，你别过去了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子有点儿不高兴，但还是答应道：“嗯。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;答应完，就向斜方向走去，史晋和霍晓荧朝那个黄毛儿走过去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;离着老远，黄毛儿就盯着霍晓荧看，等走到近前，黄毛儿的眼神儿更是放肆。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;史晋问他：“阴宅怎么租？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黄毛儿斜了史晋一眼，又盯着霍晓荧看，目光专往敏感部位瞟。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧冷着脸忍着，史晋‘刺啦’一声撕开上衣，露出纹身，厉声说道：“问你话呐！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黄毛儿一愣，这才上下打量史晋，打量了一会儿才说道：“哥们儿，你不像孤魂野鬼呀，用不着租房吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;史晋说道：“你管我是什么鬼呐，我就问你怎么租？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黄毛儿伸出右手说道：“五千一个月，要阳间的钱，外加一块冥币。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧已经大概明白是怎么回事儿了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;史晋瞪眼问道：“我上哪儿弄阳间的钱去？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黄毛儿笑了，说道：“哥们儿，你也是混过的，去偷、去抢、去捡，随你便，咋还弄不来阳间的钱？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完又盯着霍晓荧看，一脸邪笑着说道：“咋的？怕老婆知道，在外面单租个房子好办事儿啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧一伸手薅住黄毛儿的黄毛儿，拖着就往回走。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黄毛儿嚷道：“哎！咋回事儿？来人！来人呐！虎哥！有人找事儿！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;听到‘虎哥’，霍晓荧脚步一顿，转回身看到一个彪形大汉带着几只鬼冲了过来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;还真是虎哥，就是刚开业时，跑到饭店闹场子，后来被姬淋洛打的那个虎哥。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;看到霍晓荧，虎哥愣住，他身边的三个鬼却冲着霍晓荧叫嚣，让她赶紧放开黄毛儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧一脚踢在黄毛儿软肋上，黄毛儿撕心裂肺地惨叫起来，三个叫嚣的鬼瞬间没了声音，都看着虎哥。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虎哥有点儿发蒙，憋半天才问道：“你咋来了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧失笑，史晋愕然看着霍晓荧，问道：“你们认识？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧答道：“认识，他到店里闹过事儿，差点儿被打死。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虎哥一脸尴尬地说道：“是为了那个中年人的坟吧？我还给他，保证以后不抢他的了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那回追打齐有成，齐有成一路疯跑，也不知怎么跑的，跑到了食味小厨，当虎哥反应过来的时候儿，为时已晚，齐有成已经进了饭店。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虎哥就带着人回来，躲了好几天，因为知道饭店里有牛逼人和牛逼鬼，怕帮着齐有成来找他算账，结果却风平浪静，虎哥还到饭店侦察过一回，没看到齐有成，就回来接着做他的生意。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可没想到，今天霍晓荧来了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧似笑非笑地看着虎哥，说道：“你倒明白事儿哈？我还啥都没说呐，你就知道怎么解决问题。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虎哥的兄弟都看着虎哥，很难相信像虎哥这种混不吝的人，会对一个小丫头片子低声下气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过，听着黄毛儿的惨叫，看到黄毛儿无论怎么挣扎都挣扎不开，这些鬼也觉得霍晓荧不简单。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虎哥硬着头皮说道：“你们做你们的生意，我做我的生意，八杆子打不着，井水不犯河水，我把坟还给他，你别跟我作对。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦？”霍晓荧露出一抹笑意，突然一脚踢在黄毛儿肚子上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黄毛儿的惨叫声猛然顿住，片刻后更惨烈地叫喊道：“啊……我x你妈呀……”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>