<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第724章：一家子</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第724章：一家子
</div>
<div class="bookname">
	<h1>第724章：一家子</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第724章：一家子 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“先放回去吧，反正瞅他这架势，且走不完呐。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚影把木行石放回去，然后说道：“好奇怪，墓口有了个盗洞他就出来了，咱们这么折腾，他反倒不出来了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“如此看来，他出来并不是因为那个盗洞，而是预定的时间到了，只不过他出来以后，发现自己调动不了六丁阴神，然后才发现了那个盗洞。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子点头说道：“有道理，咱咋办？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“我跟卿琴商量一下。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴从出来后就一直在劝霍晓荧，这次没有胡闹，是真正像个大姐姐一样劝慰霍晓荧，劝得霍晓荧哭天抹泪的。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧说道：“卿琴姐，芊芊姐让你进去，说要跟你商量事儿。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好。”卿琴答应，抚了下霍晓荧的脸说道：“行了，别哭了，伢子又没嫌弃你，你们可真是，一个一个的，都只会跟自己较劲，你们学学梦容，啥本事没有，路都走不远，动不动还得让伢子背着，人家不也天天高兴着呐吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容嗔道：“我怎么没本事了？我能解毒！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴笑着说道：“是啊，你还能解饿呐，万一断了粮，你还能管两天饱饭。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容嘟着嘴瞪她。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴冲她嫣然一笑，站了起来，霍晓荧跟着站起来说道：“我跟你进去。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好。”卿琴又伸手抚了下她的脸，说道：“不哭了啊。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”霍晓荧点头答应。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;进了墓室，听了古芊芊的叙述，卿琴皱起了眉头，说道：“这倒真是麻烦了，他要是不出来，还真不好办。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“让他落在一座桥上，咱们把其他的都拿走，让他在这儿待着吧。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴摇头，说道：“首先，这些石头和玉桥都是稀罕物。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴顿住，看古芊芊，古芊芊点头说道：“是稀罕物，这些石料虽不稀奇，但肯定是以某种方式培炼过，整座古墓刻的都是炼魂的方法，没有刻这些器具的培炼方法，如果咱们想研究，就得灭掉阴阳面，把东西都带走，甚至包括这个圆盘和四个石柱。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴看着山伢子点头，说道：“其次，你拿走了其他的东西，会造成什么样的后果，咱们谁也不清楚，万一哪天他蹦出来找咱们算账，那还是麻烦。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子沉默，其实这些他都想过，他甚至还想出了办法，但他想的办法太过凶险，所以他不说。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“我想让彩舞回仙茗山调人，把整座墓室搬到无名观去。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴摇头，说道：“不行，一来能不能搬得动不好说，二来你真要是搬去了，就得天天看着他，他要是一百年不出来呐？你不干别的了？光跟他耗着呀？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊微一皱眉，卿琴笑着说道：“我知道你心里有办法，只是不能说，最好的办法就是找个可信的人，不，是可信的鬼进去，只有知道了整个阵的运转方式，才能想出破解的办法。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子无意识地张大了眼睛，因为卿琴说的办法，就是他想到的办法，但这个办法太凶险了，而且只有霍晓荧和卿琴是鬼，让谁进去？让霍晓荧进去肯定不行，让卿琴进去也不合适。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哈！”卿琴指着山伢子的脸说道：“原来你也想到这个办法了，怎么？不敢说出来，因为你不能让晓荧进去，太凶险了，让我进去呐，一个是张不开口，再一个，你不想欠我人情，对吧？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子坦然答道：“对，可不可以……” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;话没说完，山伢子猛然闪到圆盘边，抱住了准备跳进去的霍晓荧，然后掐着她后脖梗子骂道：“你他娘的有病啊？我话还没说完呐！你扯什么王八犊子！你就非得跟安婧学？就不能跟梦容学？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧低着头、扁着嘴听他骂，一声都不出。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴愕然看着山伢子，果然还得是元配，说话的方式都不一样，这还是卿琴第一回见山伢子骂自己的女人，上回安婧伤了魂，山伢子都没这么激烈。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊劝道：“夫君，你别……” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你闭嘴！”山伢子火气极大，嚷道：“我把你们惯的！还能有我说话的份儿吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊突然变了脸，凶巴巴地嚷道：“你吵吵什么！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完抓住霍晓荧的手，把霍晓荧扯了过来，又嚷道：“我姐为了谁呀？你有话不能好好儿说吗？再吵吵自己睡去！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴说道：“妹子，他现在不用自己睡了，外面还有两个排队呐。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊跟山伢子互瞪，谁也不理卿琴。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧抚了抚古芊芊的后背，说道：“好了好了，别因为我弄得你俩吵架，是我太心急了，不怪伢子。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴对媚影说道：“看见了吧，这才是一家子，跟外面那俩，多少还是有点儿虚着的，所以我根本就不可能跟他，因为我也挤不进这个小圈子。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子三人都选择无视卿琴，因为卿琴说得对，即使他们能找出话来反驳，但底气也不足，谁都不敢指天誓日地说，接受安婧和花梦容，只是出于她们跟山伢子两情相悦。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子跟古芊芊保持着互瞪的姿势，就像当初在饭店打起来那次一样。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嚷道：“有完没完？都给我消停会儿！要不你俩就打一架，看谁把谁打服了！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊白了山伢子一眼，收回目光侧转了身。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧搂住她哄道：“好了好了，咱不理他，他脑畸形。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子也转过身，盯着那团紫气。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴笑着说道：“你们这是演戏给我看呐，好感动啊……行了，我进去。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子转回身，皱着眉头看着卿琴。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“卿琴姐，我还是觉得应该把这个阵移走。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“还是我进去合适。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子瞪眼斥道：“你放屁！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊立刻瞪眼怼道：“你才放屁！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧斥道：“你俩都给我闭嘴！听我说！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“不用说，你不能进去，我不让你进去，大不了这事儿不管了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“对，东西不要了，咱走。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;(本章完)
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>