<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第419章：撞邪</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第419章：撞邪
</div>
<div class="bookname">
	<h1>第419章：撞邪</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第419章：撞邪<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;五个人陆续回来，徐四指着霍晓荧说道：“看好了，别眨眼，别回头说我变魔术。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;五个人盯着空沙发，都是心情忐忑地瞪着眼珠子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧皱眉，有种被人当猴耍的感觉，说道：“干爹，有这个必要吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四叹了口气，答道：“时代不同了嘛，我也是没办法，你就免为其难吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧黑着脸噗的一下现了身，吓得五个人同时一哆嗦。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四又叹了口气，皱眉看了霍晓荧一眼，都这么大了，婚都结了，还是小孩子脾气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;五个人都两眼发直地看着霍晓荧，眼睛都不带眨一下，霍晓荧又缓缓地变淡，直到消失。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊……啊……”瓜子脸后反劲儿地开始嚎叫，又把其他四个人吓一哆嗦。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四抬起手胡乱地搓脸，以此来遮掩他脸上忍不住的笑意。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;余秦岭伸手拍瓜子脸，大声说道：“别叫了！别叫了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊……啊……”瓜子脸瞪着余秦岭叫，而且叫得更大声，都有了‘冒音儿’。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;‘啪’的一声，余秦岭给了瓜子脸一个嘴巴，瓜子脸这才停止了叫唤，但是眼泪却流了下来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;余秦岭也没再理他，转回头看着徐四问道：“徐老板，你这是什么意思？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四答道：“没别的意思，就是告诉你们，别想宓了我的灵符，我想找你们很容易，比警察容易多了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;余秦岭皱眉，问道：“那我们可以不要灵符吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“可以呀。”徐四痛快地点头，说道：“画灵符很麻烦的，还要消耗法力，你们要是不想要，我倒省事儿了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我要！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我要！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我也要！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“花钱我都买！”属瓜子脸决绝，因为他胆子最小。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四笑了笑，看着余秦岭问道：“你不要是吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;余秦岭赶紧答道：“要！当然要！那个……不好意思啊，麻烦徐老板了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四画驱邪符的时候，潘小龙上了楼，敲办公室的门，古芊芊在里面答道：“进。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙推开门，问道：“你怎么在这屋？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊反问道：“你怎么回来了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙坐下说道：“今晚有长桌宴，我爸妈说我应该回来，毕竟我也是弟子嘛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”古芊芊笑眯眯地答应一声，她也惦记着长桌宴呐，因为对她来说，给鬼设宴真的很新奇。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙往她身边凑了凑，问道：“你看什么呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊微一皱眉，说道：“我看书呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“看什么书呐？”潘小龙笑得有些暧昧，而且又往古芊芊身边挪近了一点儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊蹭地站起来，瞪着潘小龙斥道：“你撞邪了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙一愣，眨了眨眼睛，古芊芊吸了下鼻子，说道：“你待着别动！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完掏出手机打给霍晓荧，说道：“姐，来办公室，快！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;手机还没挂断，霍晓荧就穿门进来，问道：“怎么了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊指着潘小龙说道：“他不对劲儿，我闻着他身上有股奇怪的香味儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜悦玲说道：“他一进来就往芊芊身边凑，别是撞邪了吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧现身出来，一步迈到潘小龙面前，甩手给了潘小龙一个大嘴巴。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我！操！”潘小龙被打了晃了一下，捂着脸嚷道：“干嘛你？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧厉声问道：“还记得刚才的事儿吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙眼眸一滞，想了想才说道：“我……突然很想亲芊芊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧问道：“为什么没有把持住？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊用异样的眼神看着霍晓荧，霍晓荧说道：“男人想亲你太正常了，这还用问原因吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉，潘小龙也皱眉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧又问道：“你开车来的路上带没带人？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙眼珠转了两转，霍晓荧踹了他一脚，斥道：“说实话！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙捂着肚子嚷道：“你有病啊？我又不是你老公，又不是你儿子，你凭啥这么打我？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“废话！”霍晓荧斥道：“你对师嫂欲行不轨，我打死你都不冤！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙皱着眉头，却说不出话来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;有人敲门，古芊芊顺手拉开了门，姬淋洛、夏歆雨、沐航、舒静，四人相继走进来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛吸了下鼻子，问道：“小龙，你喷古龙水了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙答道：“没有。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沐航问道：“你脸怎么红……好像是肿了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧冷声说道：“他要亲芊芊，我扇他来着。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哎呀我去！”潘小龙恼羞成怒，嚷道：“你他妈就不能说我是撞邪了？非得说我要亲芊芊干嘛？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子走进来问道：“你要干啥？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“操……”潘小龙捂住了脸，闷声问道：“你们商量好的是吗？怎么一下子来这么多人？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沐航答道：“是商量好的呀，今天我跟静静订婚，你不是初二才来吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙埋着头摆手，说道：“订婚去吧，我们这儿有事儿说。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧也说道：“你们都去吧，芊芊，叫洪拓过来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所有人往外走，沐航说道：“小龙哥，说完事儿过来吃饭啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙闷着头摆手。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓跟徐四一起进来，徐四问道：“怎么回事儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我撞邪了！”潘小龙抢着说，免得霍晓荧又说他想亲古芊芊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四问道：“撞邪了就想亲芊芊呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“唉……”潘小龙埋下了头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓吸了下鼻子，说道：“四哥，你闻他身上这股味儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四凑近潘小龙，猛吸了下鼻子，脸色一变，看着洪拓说道：“魅鬼？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙猛然抬起头看着徐四，姜悦玲和霍晓荧也看着徐四。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四对洪拓说道：“你来解释一下吧，我怕我说不明白。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好。”洪拓点头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;魅鬼是一种特殊的鬼，不是魑魅魍魉里的那个魅，而是指生前极具个人魅力，死后又对自己的魅力执念极深的一种鬼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这种鬼不分男女，也不害人，但是他们可以影响到人的心智，让人觉得自己特别有魅力，也就是相当于把人的自信心放大数倍。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙的这种行为，不是因为把持不住，而是自信古芊芊会爱上他，所以才会做出那样的举动。
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>