<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第188章：闹心</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第188章：闹心
</div>
<div class="bookname">
	<h1>第188章：闹心</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第188章：闹心<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子想了想，说道：“你本来好好儿的，跟我认识了以后，就被砸伤了头，那还不是我连累的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨认真地说道：“人有三灾六病，该遭劫遭难的时候儿，跟认识谁没关系，我倒觉得幸亏有你，给我做了那些好吃的，让我恢复得又快又好。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹端着药碗，站在门口儿叹了口气，这孩子是没救儿了，这可咋办呐？却听山伢子说道：“你想吃东西，随时都可以来店里，不过有句话我要跟你说，我心里只有小莹。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹一哆嗦，差点儿把药晃出来，刚想推门儿，就听夏歆雨说道：“我知道，小莹姐是你的初恋，你这么专情很难得。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹一愣，想听山伢子说什么，但屋里没了声音，等了一会儿，夏歆雨又问道：“除了小莹姐，你有喜欢的女孩子吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹赶紧推开门，说道：“吃药！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她不能让山伢子回答，不管山伢子怎么回答，都会有麻烦。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨站了起来，眼神有些错愕，因为张小莹一着急，忘了显形，夏歆雨看到的只是一个碗飘在半空中。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹把药碗递到山伢子手里，用纤细的声音说道：“你别乱说话，歆雨因为你都得了抑郁症了，你要是当面儿说不喜欢她或是喜欢芊芊，她有可能会去跳楼。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子愕然看着张小莹，那咋办？就这么不明不白的混着？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹显出形来，大声嗔道：“看什么看？吃药！还让我给你放糖啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子端起碗喝药。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨抿着嘴微笑，张小莹又拿出换洗衣服丢在床上，说道：“喝完了药，洗澡换衣服，一定要换衣服啊！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”山伢子闷头答应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完转身拉着夏歆雨的手说道：“走，咱们去外面坐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨却说道：“你不看着他呀？他刚醒，万一头晕摔着怎么办？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这话把张小莹给说愣了，反应了一会儿才说道：“让潘小龙看着他。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨皱眉，说道：“那人不靠谱儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“行了，你别操心了，走。”张小莹拉着她出门，夏歆雨回头嘱咐山伢子：“洗澡的时候小心点儿，水别调得太热，最好拿个凳子坐着洗。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”山伢子答应，头都不敢抬。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一下午，大家坐在一起聊天儿吃零食，都很开心，除了潘小龙。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙想不通，自己哪点儿比不上山伢子？连舒静都显得跟山伢子很亲，就是没人爱搭理他，到底因为啥呀？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;快五点的时候，舒静叫着夏歆雨离开，夏歆雨嘟着嘴不情不愿，舒静嗔道：“别闹脾气啊，你要还想出门儿，就别给我惹麻烦，你妈妈可是连我都能拒之门外的！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨嘟着嘴站起来，张小莹微笑着哄道：“乖，改天再来，提前给我打电话，免得多跑路，他现在没准儿，指不定什么时候儿就受伤了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”夏歆雨点头，拉着张小莹的手说道：“小莹姐，你看着他点儿，别总让他受伤。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹笑着答应：“知道了，放心吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;三人走后，山伢子和潘小龙几乎是异口同声地问道：“你还让她再来？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹嗔道：“她铁了心，我能说啥？我还能让她别来了，直接跳楼去？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，说道：“至于吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹嗔道：“当然至于！抑郁症，你上网查查去，好多人都是因为得了抑郁症，最后自杀了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，说道：“那也不能这样含混着吧？早晚不得说清楚吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹看着他问道：“你选芊芊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子大声说道：“什么芊芊，我选你！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹抿着嘴叹气，说道：“先哄着歆雨吧，等她病好了再说，幸好芊芊在修炼，不能像以前那样天天来了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，问道：“我刚说的话你没听见呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“听见了，听见了。”张小莹皱着眉坐到了沙发上，随即隐了形，郁闷的沉默着。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙刚要说话，手机响了起来，接起来说了两句，然后举着电话对山伢子说道：“尚亚坤被车撞了，过马路等红灯的时候儿，被那个老鬼推出去了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子愣住，张小莹黑着脸嚷道：“订票！干他去！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹正好儿一肚子邪火儿没地儿发，弄成现在这样儿都是她的错。本以为夏歆雨的父母不同意，而夏歆雨跟山伢子连开始都算不上，这事儿也就这么算了，以后就当普通朋友处，所以才果断转向了古芊芊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可没想到，夏歆雨是这么个轴玩意儿，看这架势，夏歆雨已经认定了山伢子是她的，不仅表现出大度，不介意张小莹的存在，临走时还叮嘱张小莹看着点儿山伢子，别总让山伢子受伤。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这事儿可咋办呐？张小莹都要凌乱了！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;最可气的是山伢子，就死盯着她不放，她是鬼好不好？如果她不是鬼，根本就不可能有这些事儿，早就把生米做成熟饭了，还能让别人想着念着？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;还有那个不知姓名的黑手，精神病儿一样，她要投胎都不让她去！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子愕然看着张小莹，问道：“你又咋了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹瞪着他嚷道：“我闹心！不行啊？订票去！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，说道：“图黛玉的事儿还没……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“那你就先给干爹打电话！”张小莹急眼了：“啥事儿都问我！你是爷们儿我是爷们儿？我是你大老婆啊，还是你娘？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子其实也闹心着呐，只不过他不像张小莹这样随性。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙问道：“咋着啊？我这儿还等着回话儿呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“我先问问师父。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哄你媳妇儿吧。”潘小龙翻了个白眼儿，对电话说道：“先挂了啊，你好好儿养着，我问问我师父，然后给你回话儿……我知道，不会不管你的，放心吧，挂了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙挂断了电话，又给徐四打电话，把情况说了一下，然后挂断电话，对山伢子说道：“师父说让咱们先去把尚亚坤的事儿整干净。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子指了下门口儿的衣架，说道：“我钱包儿在衣服兜儿里，卡在里面，你订票吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;，更多精彩阅读，等你来发现哦。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;手机站:
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>