<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第26章：童子眉</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第26章：童子眉
</div>
<div class="bookname">
	<h1>第26章：童子眉</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第26章：童子眉<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四坐在摩托车上没下来，看着瘦猴儿问道：“候小刚，谁让你们来截我徒弟的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;候小刚低着头不搭腔儿，一副猥琐的样子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四又问大成子：“刘大成，你好歹也算个有里有面儿的人吧？活着的时候也是个讲究人儿，你们三个人截我徒弟一个人，你还能要点儿脸吗？说说，谁让你干这么没脸的事儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘大成喊道：“疼啊！四哥，给我治治。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“疼着吧，你自找的，我这徒弟才十四岁，纯正的童子眉，你也是不长眼，就没人跟你说过童子眉专克阴邪吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一脸不解地看徐四，徐四解释道：“童子眉就是童子血的别称，童子是什么意思你知道吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子点头：“知道，就是小孩子。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四笑了一下，说道：“这么说也对，不过准确的说，应该是没有破身的男性的血。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘大成喊道：“四哥！疼啊，你先跟我治治吧！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四不理他，接着给山伢子解释：“舌尖儿血最厉害，下来是中指血，再下来是血就行，不过像你这样还不懂男女之事的半大孩子，最下乘的血对付他们三个也足够使了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘大成喊道：“是刘老头儿！是刘老头儿让我们来的，他说他让你徒弟把什么东西埋了，让我们弄死你徒弟，永绝后患。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“刘老头儿？”徐四从摩托车上下来，问道：“哪个刘老头儿？刘二梗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘大成答道：“对，就是他，四哥，你给我治治，给我治治吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四掏出一张纸，朝上面吐了口吐沫，然后蹲下，把刘大成身上脸上的童子眉擦掉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘大成仰面朝天地喘着粗气，旁边的铁柱子喊道：“四哥，还有我，给我也治治。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四掉了个头，看着铁柱子说道：“你差点儿勒死我徒弟，我还给你治？治好了让你下回再勒我徒弟？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;铁柱子带着哭腔儿说道：“不敢了，再不敢了，四哥，快给我擦了吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四回头看山伢子，问道：“庆山，给他擦了行吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”山伢子点头，反正他也没吃亏，把铁柱子和刘大成打得够呛。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四给铁柱子擦掉童子眉，铁柱子也跟刘大成一样，四仰八叉的躺着喘粗气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四站起来看着山伢子问道：“你把灵石埋了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子心虚的低下头，徐四问道：“真不想要了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子不说话，徐四又问道：“刘老鬼跟你说啥了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子就把昨天晚上的事儿说了一遍。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四叹了口气，坐在摩托车上，沉默了一会儿才说道：“你是怕给我招事儿对吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子低着头不说话，徐四说道：“我告诉你，这人要是怂，狗都欺负你，你只要是行得正坐得端，就不要怕，没什么可怕的，别说凭他一个刘老鬼，还不能把咱爷俩儿从靠山镇撵出去，就算他有这能耐，天下大了去了，哪儿还没个落脚儿的地方？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子低着头，话是这么说没错儿，可四叔家祖祖辈辈住在靠山镇，要是因为他被撵走，他这辈子都还不上这个情儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四看着刘大成说道：“走吧，咋的？还想再跟我们爷俩儿舞扯舞扯？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘大成站了起来，试探着说道：“四哥，刘老头儿是我远房叔公，你看这事儿……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四答道：“你是混市面儿的，最知道脸面这个东西不能丢，刘二梗都把事儿做到这个份儿上了，你还想让我咋的？当缩头乌龟吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘大成表情尴尬，说道：“四哥，有句话不知该说不该说。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四冷淡地答道：“你要是觉得不该说，那就别说。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘大成愣住，徐四又说道：“我今天不跟你计较，有两个原因。第一，你活着的时候儿给我帮过忙儿，今天这事儿，咱们两清了。第二，你没占着便宜，还间接的让我徒弟知道了童子眉的作用，所以我放你走。但从现在开始，你是鬼，我是会法术的活人，再敢来找事儿，就没情面可讲了，明白吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘大成沉默了片刻，转身消失了，光头和瘦猴儿也相继消失了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四看着山伢子说道：“伢子，你把保命的东西丢了，今天你能活下来，是你运气好，他们应该还是想要你那块儿灵石，否则一上来就把你掐死，你一点儿招儿都没有，根本就没机会发现童子眉的作用。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子深深地低着头，四叔说得对，刘大成他们一直在问他为什么不发光儿，要不然他早就被光头勒死了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他早就后悔了，而且不知道为什么，突然想起了张小莹，还有四叔说的那句话，叫天天不应，叫地地不灵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四又说道：“走，去把灵石挖出来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”山伢子答应，返身要去推自行车。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“先去挖灵石，回来再推车。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗳。”山伢子又转回来，坐到摩托车后座上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四问他：“埋哪儿了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“我娘的坟头儿上。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四叹了口气，蹬着了摩托车，开到坟地，山伢子在坟头边上挖出了灵石。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;拿在手里的那一瞬间，灵石发出淡淡的红光，山伢子回头看着徐四问道：“这是咋回事儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四摇头：“我也不知道，装好吧，别再离身儿了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;回到家，徐四让山伢子洗洗，自己去给山伢子做饭，山伢子到这会儿才觉得浑身疼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吃饭的时候儿徐四告诉山伢子，他本来是怀疑王老鬼在闹腾，可没想到是刘老鬼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四还说，原本他今天就打算去坟地找王老鬼，是因为山伢子说要回家一趟，才没有去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“伢子，咱爷俩儿认识时间不长，我也没好好儿的问过你，你只说想跟我学手艺，但没说过想学法术，是我先入为主的把你当成了徒弟，因为我做的饭，不是光凭厨艺就能做出来的，还要会法术才行。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四顿了一下，又说道：“伢子，你今天跟我说句实话，你想咋着？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子放下筷子，站起来跪在徐四面前，磕头，叫了一声：“师父。”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>