<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第410章：先求自保</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第410章：先求自保
</div>
<div class="bookname">
	<h1>第410章：先求自保</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第410章：先求自保<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋愕然看着姬洪海，说道：“歆雨的身份是屈长寿证实的呀！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬洪海嗤笑道：“欠我人情的人很多，屈长寿只是其中之一，这点儿小忙，他还是愿意帮的，况且，他也不知道歆雨到底是不是霍家传人，即使是我，也不能确定。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋皱紧了眉头，姬洪海摆了摆手，说道：“这都是无关紧要的，你告诉我，那个黑衣人为什么找上你？他想干什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋答道：“他想让我替他保管火行石。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬洪海一脸茫然地问道：“替他保管火行石？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋反问道：“你不知道发生什么事了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬洪海斥道：“我为什么要知道？我灭了霍家之后，就在这里等通知去投胎，我还管阳间的闲事儿干嘛？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋点了点头，心想灭了霍家满门，还等着去投胎，自己这个爹也真是想得开呀。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋把黑衣人抢火行石的事说了一遍，姬洪海沉默了好一会儿才说道：“咱们姬家虽然做过很多不好的事，但你和淋洛是清白的，不能受他的威胁。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋看着姬洪海，觉得父亲像多重人格。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬洪海说道：“你不要觉得我精神有问题，我尝试了很多，也琢磨了很多，新的一代人，应该有一个新的开始。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬洪海说，他琢磨了这几十年，想通了一点，或许只有火行石有着特殊的能量，而非火行本质的人，又不能成为火行石的宿主。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那莫不如去帮助山伢子，把山伢子做为一个试验品，如果山伢子的命够硬，或许最终能把所有的疑问都搞清楚。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;假如山伢子要是升了仙，那也不是坏事，帮助过神仙的人，也必然会有相应的好处。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果山伢子到最后暴毙，那对姬家也没什么损失，反正死的是外人，再找一个火行石宿主就行了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋皱眉说道：“我就是想帮他，我也帮不了啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬洪海说道：“你怎么帮不了，可以假意答应帮黑衣人保管火行石，然后拿去给石庆山嘛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋看着姬洪海问道：“把别人的事硬揽到自己头上，值得吗？能有多大的好处啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬洪海想了一下，说道：“那你自己看着办吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完直接消失了，也不知道是走了，还是进坟了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋就坐在墓边琢磨，黑衣人找上门，不会简单的就是为了威胁，最重要的，无非是歆雨和木行石都在他们家。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不管歆雨是不是霍家传人，毕竟她现在已经是木行石宿主，如果不答应黑衣人的要求，恐怕黑衣人会向歆雨下手！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其实黑衣人说出姬家以前做的那些事，主要的目的并不是威胁，而是给姬北洋一个台阶下，让姬北洋认同一件事，就是他们姬家并不是光明磊落的君子，而是贪婪无耻的小人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;帮不帮山伢子不重要，但夏歆雨是淋洛的媳妇儿，如果连自己家的媳妇儿都不管，那姬家还有什么混头儿？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;况且即使放弃夏歆雨，迟早也会轮到淋洛，到那个时候怎么办？如果他不受黑衣人的威胁，等黑衣人害了夏歆雨，再把这件事告诉淋洛，那他又如何去面对自己的儿子？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋掏出手机打给姬淋洛，说道：“晚上接了歆雨放学，不要出去玩儿了，回家有事儿说。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛顺口问道：“什么事啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“回来就知道了。”姬北洋挂断了电话，这件事不能隐瞒，一家人就要坦诚相见，商量对策，不论结果如何，至少不会落埋怨，不会自家人心里结仇。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;晚上七点，姬淋洛带着夏歆雨回了家，坐下后，姬北洋直接说道：“昨天晚上黑衣人来找我，想让我替他保管火行石。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛和夏歆雨同时愣住，姬北洋说道：“你们先不要说话，听我完整的把话说完。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋把黑衣人说的话，还有姬洪海说的话，原原本本地告诉了两人，最后说道：“事情就是这样，黑衣人找上了门，你们两个都没有石庆山那样的本事，我的意见是，不要把别人的事揽到自己头上来，免得自招晦气。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛问道：“爸，你的意思是答应黑衣人的要求？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋点头，说道：“我不能让他害了你或是歆雨。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨咬着嘴唇皱眉，迟疑着说道：“可是……万一将来让别人知道了……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛答道：“先能自保才能助人，山伢子为了保护张小莹，不惜把火行石交出去，我为了保护你，更不惜与任何人为敌，我问心无愧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨握住他的手，温柔地说道：“我都听你的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋说道：“刚才忘了说了，其实张小莹不姓张，她才是真正的霍家传人，她叫霍晓荧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨愕然转头看着姬北洋，姬北洋说道：“我就是告诉你们，让你们知道而已，反正她已经死了，否则恐怕你也做不了木行石的宿主。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛对夏歆雨说道：“你瞧，他们一直瞒着咱们，所以咱们先求自保也没什么错。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨看着他的眼睛说道：“我是喜欢过山伢子，可我现在是你媳妇儿，你不要觉得我会向着外人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛微笑着说道：“我没那样想啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨嘟嘴说道：“你有，你的眼神告诉我了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋失笑，说道：“好了，事情说完了，你们俩该干嘛就干嘛去吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两人手拉着手站起来，姬北洋又说道：“不要总是贪玩儿，多用心练功，你们两个宿主，不能总让别人威胁咱们家。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两人一同郑重点头，姬淋洛说道：“爸你放心，我们肯定勤奋练功。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;三天后，深夜，黑衣人如约而至，站在凉亭外问道：“有结果了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋反问道：“怎样才能维持火行石的活跃性？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人问道：“你跟你儿子和儿媳妇儿说了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋答道：“当然说了，我不会做那种到最后落埋怨的事儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人说道：“把火行石放在他们俩的房间就行，如果他们俩要出远门儿，超过一个月，就带在身边。”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>