<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第628章：很舒服</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第628章：很舒服
</div>
<div class="bookname">
	<h1>第628章：很舒服</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第628章：很舒服<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧皱眉，看来转话题没用，花梦容自己就会把话题引回去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过想想也是，父母忙，没时间理她，或许长这么大，最要好、最亲的人就是欧阳埥了，结果还被欧阳埥给摆了一道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧坐近了些，伸出手臂搂住她。花梦容一愣，愕然看着霍晓荧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧微笑着说道：“嫌弃我呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容连忙摇头，迟疑了一下才说道：“我喜欢你老公，还跑来纠缠，你为什么还对我这么好？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧想了一下才答道：“或许因为我是鬼吧……或许因为我本来就不能独占伢子……或许因为我能理解你的心情。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容蓦然有些伤感，靠在了霍晓荧颈边，幽幽说道：“为什么是我？为什么小埥不但不告诉我真相，还要利用我？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧搂紧了她，幽幽叹息，为什么？其实很简单，人都是自私的，为了自己的利益，可以出卖、利用任何人，亲兄弟姐妹之间尚且如此，更何况还是拐了弯的亲戚。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧温柔地说道：“因为你漂亮呀，你长得一点儿都不输给我家老二，欧阳埥倒想自己来呐，估计伢子一看见她就够了，她就算哭死，伢子都不带多看她一眼的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容嫣然而笑，抱住了霍晓荧，她知道霍晓荧是在安慰她，但这样的话让人听了心里舒服。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;下午两点多，一行人到了展览馆，当接近主祭司的干尸时，花梦容身上起了一层极淡的白光，山伢子等人都看见了，但花梦容自己却浑然不觉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子着重感觉了一下花梦容身上的气息，问安婧：你什么感觉？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧答道：很舒服，像被喜欢的人抱在怀里的感觉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子点头，古芊芊直接张手从后面抱住了花梦容，一脸惬意地说道：“好舒服啊……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容愕然张大了眼睛，有些抗拒地偏着头，霍晓荧用纤细地声音说道：“你别介意，芊芊最近一段时间在觉醒魂力，像小孩儿一样，不太正常。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容左右看了看，本身来看展览的人就不多，除了他们也没人对干尸感兴趣，所以周围一个人都有。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容小声问道：“芊芊，你怎么了？什么好舒服啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊下巴放在花梦容的肩膀上，近似于呢喃地说道：“你身上的气息好舒服。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧解释道：“你身上出现了一层白光，你自己看不到吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊。”花梦容愕然答应，低下头看了看自己，说道：“什么白光？为什么我自己看不到？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊懒懒地说道：“你是普通人嘛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“她应该不算普通人，真要是普通人，是不可能出现这种情况的，她的潜能可能没有被激发。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”古芊芊无所谓地答应，贴着花梦容的脸，闭上了眼睛。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容倍觉好笑，昨天还高高在上地向她示威，今天却像个孩子一样黏在她身上，果然是不正常。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子小声问道：“你一点儿感觉也没有吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容摇了摇头，脸被古芊芊的头发蹭得有些痒，说道：“芊芊，放开我。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不。”古芊芊搂得更紧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容嘟着嘴看山伢子，山伢子尴尬地伸手拉古芊芊，哄道：“芊芊，别闹了，快放开梦容。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯~”古芊芊闭着眼睛，一脸不高兴的哼哼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧一愣，安婧说道：芊芊姐的状态不太对，快离开这里。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子拉不动古芊芊，古芊芊右手扣着左手腕，左臂勒着花梦容，花梦容已经有点儿呼吸困难了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子了也顾不了那么多，将两人一块抱了起来，在其他人诧异的目光中走向展览馆大门。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;离开干尸三米多远，古芊芊突然说道：“干嘛呐？停下！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子将两人放下，花梦容深长地吸气，古芊芊眨了眨眼睛，问道：“刚才怎么回事儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“你差点儿把梦容勒死，你抱着她不撒手。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉，山伢子看着花梦容问道：“没事儿吧？胸闷不？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容摇了下头，刻意回避了他的目光。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;回家的路上，古芊芊用异样的目光看着花梦容，把花梦容都看毛了，眼神闪烁地问道：“怎么了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“我想起来了，当时我闻到你身上有一股特别的香气，我想吃了你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容吓一哆嗦，霍晓荧连忙说道：“你别听她胡说八道，她说话喜欢夸张。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“我没闻到啊，晓荧、婧婧，你俩闻到了吗”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧摇头，霍晓荧说道：“没闻见，就是感觉她身上的气息温暖平和。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊问安婧：“你是怎么想到会跟干尸有关系的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧打字：你留下的笔记中有过记载，X朝末年，你游历到北方一个小镇，那里有一座药娘庙，里面供奉着一个女子的泥像。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当地人口口相传，曾有一位美丽的女子，生来身上有异香，某年发生了瘟疫，死了很多人，唯独那个女子及其家人没事。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;有个道士路过那里，救治病人时闻到了女子身上的香气，说那女子是千年难得一遇的药娘，她的血肉可以治百病，包括瘟疫。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧停下，古芊芊问道：“怎么了？接着打字啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧问道：“是不是当时的人已经穷凶极恶，把那个女子给杀了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容张大了眼睛，震惊地看着霍晓荧，安婧郑重地点了点头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容惊道：“我也是药娘？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧接着打字：原本那个道士只是想用那女子的血做药引，配制治瘟疫的汤药，但是镇上的人都对那女子恨之入骨，就把女人活着扔进大锅里，煮成了肉汤，全镇的人分着吃了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容一阵犯呕，连忙抬手捂住了嘴。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊也皱紧了眉头，问道：“为什么对她恨之入骨啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“全镇几乎家家都在死人，就她家没事儿，别说是个弱女子，就算是壮汉，也得让人弄死。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子恨恨地说道：“那个道士也够可恶的！”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>