<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第298章：七成儿胜算</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第298章：七成儿胜算
</div>
<div class="bookname">
	<h1>第298章：七成儿胜算</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;&quot;第298章：七成儿胜算<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子把洪拓的情况详细介绍了一下，没有编造，也没有删减。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他把霍晓荧支走，只是为了显示自己的话语权，一个正常的家，就应该是男主外，女主内。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在山伢子看来，小莹是聪明，比他聪明很多，但不能因为小莹聪明，就什么事儿都让小莹抛头露面地冲在前面。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以打从结了冥婚以后，山伢子就一直在琢磨，把以前经历的事，一件一件拿出来琢磨，琢磨所有人说的话，甚至细微到表情，然后再从最后达成的结果反推着分析。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;经过这样的琢磨，山伢子突然发现自己的心变细了，不像以前那样只能看到表面，往往可以体会到一些潜在的东西。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子不知道自己是怎么理解的，但他就是突然间就懂了，就像昨天讨论的时候，他突然就明白了韩慕灵的心思，然后就想通了自己在这个局里的重要性，所以才当着人跟古芊芊说了那些话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而今天，在确定屈长寿的阵法无效后，他立刻就想到了洪拓，让小莹把洪拓请来，事实证明，至少这两次决定，他都是正确的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈长寿微笑着说道：“其实咱们五行世家也是出自道门，只可惜，在千百年的传承当中，很多东西都失传了，万幸你们结识了洪先生，否则这回咱们真就得搬家了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子笑了笑，并没有接话，因为他虽然能想明白，但临场反应能力还不行，所以最好的办法是少说话，多琢磨。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛看着山伢子说道：“山伢子，我追歆雨可以吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子愣了一下，答道：“歆雨跟我没关系。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛笑，不再说话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈长寿微一皱眉，想了一下恍然明白，山伢子的心窍是开了，但他想明白事儿还是得靠琢磨，不是人家一说什么他立刻就能明白。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈长寿笑着说道：“真是羡慕你们呐，你们生在了好时候，这种事儿都能放到明面儿上说，像我年轻的时候，喜欢哪家的姑娘，那都得藏着掖着，生怕别人知道了，被骂不要脸、不正经。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛笑，说道：“时代总是进步的嘛，其实古代也有两情相悦的故事啊，就像那个西厢记，不就是追求恋爱自由的典范嘛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈长寿笑，山伢子却说道：“那都是胡写出来糟改人的，大户人家的小姐哪能随便让人见着，真要有那么个给小姐牵线儿的丫头，早让主家扒了皮了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛笑而不语，屈长寿却明白，姬淋洛是在试探山伢子，刚才说追求夏歆雨，山伢子的回答不仅突兀，而且还有些驴唇不对马嘴，可这会儿说西厢记，山伢子的理解却很别致。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;也就是说，屈长寿的直觉没错，山伢子必须要琢磨才能把事儿整明白。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧走进来说道：“屈老，洪拓请大家到后院儿去，要再试一下。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;直到天黑，所有人都在练习，从最初的吸收发放阵气，到最终的阵形旋转，攻守互助，不仅仅是夏歆雨这个新人觉得惊诧，连屈长寿都体会到了一种新的法术境界。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“现在的问题是……”回到客厅以后，洪拓反倒变得沉暗了许多：“怎么做才能在保证许冰母子安全的前提下，把老鬼引出来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个问题是所有人都没有想过的，所以洪拓一说出这个问题，所有人都沉默了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“我只负责帮你们演练阵法，现在你们的阵法已经成了，不敢说有十成儿的把握，但至少有七成儿胜算，剩下的问题，你们自己商量吧，时间不早了，我得回饭店了，告辞。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子站起来说道：“我也要回去了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说要回去，霍晓荧跟古芊芊也站了起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈长寿说道：“我让司机送你们。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛说道：“还是我送吧，反正一个车就坐下了，洪先生可以自己回去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“那我先走一步，告辞。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“带我，你说过要教我缩地成寸的！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓答道：“行，咱走吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所有人走了，屈长寿回到书房，坐在藤椅上琢磨，洪拓在教完阵法之后，才抛出这个问题，必然是早就看出他的心思了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对于屈长寿来说，从来没有考虑过许冰母子的安危，他的目的只是要除掉那只老鬼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但这不是重点，屈长寿不在意别人对他的评价，尤其是涉及到自身利益的时候，什么人性不人性的，他不考虑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈长寿需要考虑的是洪拓本身的行为，洪拓是道家正宗，通过对山伢子套话，屈长寿也知道了，最初就是洪拓主张除掉老鬼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;为什么？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对于洪拓来说，他完全没有必要来主张这件事，跟他有什么关系？难道是因为那个叫桃花儿的女孩子跟山伢子认了干亲？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个理由会不会太荒诞了？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果不是因为这个理由，那洪拓是怎么想的？从他教习阵法的态度来看，洪拓应该是没有恶意的，否则不可能这样面面俱到地教会所有人布阵行阵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那既然没有恶意，为什么主张管这件事之后，又不再过问这件事，如果山伢子不提出请他来，洪拓就会真的置身事外吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈长寿皱起了眉头，会不会是自己岁数大了，经的事儿多了，所以想得也有点儿多了呐？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓教霍晓荧运用缩地术，霍晓荧学得还不错，这段距离分了五次，用了三分多钟。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;回到饭店上了楼，霍晓荧先去跟徐四打了声招呼，出来后单独叫着洪拓坐到了阴间区。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧问洪拓：“你既然熟悉阵法，为什么不早说？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓答道：“这不是我的地盘儿，这是五行世家的地盘儿，我怎么能喧宾夺主呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嗤了一声，说道：“少蒙我，你教阵法的时候，除了语气随和之外，真没看出来你觉得是在别人的地盘儿上。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓皱眉，双臂交叉拢在胸前。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧指着他说道：“心理学分析，你现在这个姿势，是内心抗拒的表现。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓失笑，说道：“女人太聪明了……不好。”&quot;
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>