<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第394章：找个学徒</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第394章：找个学徒
</div>
<div class="bookname">
	<h1>第394章：找个学徒</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第394章：找个学徒<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郝清风笑了笑，有些苦涩，说道：“木苍，有句话我想问你……你的法力到底有多高？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍反问道：“这个重要吗？咱们是朋友，不是敌人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郝清风看着他，目光中有怨怼的神色，说道：“你一直在给我造成错觉，让我以为自己比你法力高，可实际上，我连你女婿都不如。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍皱眉，抬起手习惯性地搓了搓额头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郝清风说道：“如果你能让我感觉到你的法力一直比我高，至少我会更努力地去修炼，也不会因为沾沾自喜，而虚度了光阴。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍说道：“我是水行石宿主，水之本性为静、为止、为宽、为容。我并不是有意要对你造成影响，我的修炼方法本身就是收敛的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郝清风苦笑了一下，说道：“是，我不应该责怪你，虚度光阴是我自己的错，不应该把责任推到你头上。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沉默了片刻，郝清风又说道：“你走吧，我要练功了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍叹了口气，站起来说道：“清风，你要知道，一个人的法力高低，并不能代表他的修为，宿世轮转，功德才最重要。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郝清风面无表情地说道：“恕不远送。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;回到家，韩慕灵嘲讽着问道：“他答应你悬崖勒马了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍失笑，坐下答道：“我不过是尽朋友之谊，该说的说了，该劝的劝了，我跟他的交情……也到头儿了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵嗤道：“早就该到头儿了，他就不是个什么好东西。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;楼上，山伢子专心地剪着纸钱，霍晓荧坐在旁边看着，问道：“真要开纸扎店呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”山伢子答应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧问道：“你哪有那么多时间啊？再说了，谁看店呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子扭头看她，霍晓荧说道：“我可不给你看店，再说了，哪有让鬼看店的？我还能保持现身状态吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“不是，我咋可能让你去看店嘛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“我就更不可能了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我知道。”山伢子答了一句，看着霍晓荧说道：“你刚才说谁看店，我是突然想到，其实我应该收个学徒，把这个手艺教给他，让他看店卖东西。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧眨了眨眼睛，山伢子又说道：“你不是也说，我没那么多时间嘛，但是黄老的技艺得传下去呀，对吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯……”霍晓荧琢磨，这倒也是个办法，问题是……怎么招人呐？学扎纸不是学武功，更不是学法术，现在还有谁愿意学这个？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;收扎纸学徒，也是可遇而不可求吧？否则黄老也不会死盯上山伢子的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“可以问问潘小龙，他认识的人多。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“对。”山伢子点头，而后又专心地剪纸钱。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙已经在学校混得风生水起了，xx界计算机软件开发技术与应用专业一班龙哥的威名，几乎已经是无人不知，无人不晓。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙骂过嘴贱的，打过手欠的，脑门儿开砖，徒手碎门，百米十秒五，单臂引体向上……<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;反正能出风头的事儿基本都出过了，就剩下英雄救美这个心愿还没有完成。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这天下了课，打了饭回宿舍，收到山伢子的短信，看完以后说道：“兄弟们，我师兄想找个扎纸学徒。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我！”尚亚坤抢着说道：“我报名！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘大洋皱眉问道：“扎纸？就是做那些给死人烧的东西？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙一边吃饭一边点头答道：“对。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘大洋耸了下肩，没再说话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘小刚却问道：“有啥特殊要求吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙看了他一眼，答道：“没说有什么特殊要求……再说了，如今这个年代，谁愿意学扎纸呀？也就是我师兄还弄这些玩意儿，能找着人愿意学就不错了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘小刚朝尚亚坤扬了扬下巴，说道：“坤子就愿意学。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尚亚坤闷头儿吃饭，根本不搭茬儿。他心里明白，山伢子是个再实在不过的人，跟着山伢子准没错儿，他正愁混不进潘小龙这个圈子呐。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;见没人吭声儿，刘小刚说道：“我也报名。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尚亚坤看了刘小刚一眼，刘小刚挑了挑眉毛，一副心照不宣的表情。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘大洋问刘小刚：“你学那玩意儿干嘛呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘小刚反问道：“你还记得上回龙哥跑完之后，坤子问龙哥，他师兄百米几秒吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘大洋愣了一下，答道：“三秒。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘小刚意味深长地说道：“世界纪录还得九秒多，三秒……不是个人呐！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘大洋赶紧对潘小龙说道：“我也报名！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙说道：“后天周六，我带你们去见我师兄。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尚亚坤挺不高兴，虽然是一个宿舍的兄弟，可总也得有个远近亲疏吧？潘小龙这种一视同仁的作法，让尚亚坤心里有点儿堵得慌。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吃完饭刷饭盒的时候，潘小龙跟尚亚坤说：“这事儿不一定成，一个是咱们得上学，也就周末和假期有时间，再一个，别小看扎纸，我师兄学的扎纸手艺，可不是市场里那种随便剪两剪子的样子货，也要看天分的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尚亚坤看着他问道：“那还得选拔呗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“对呀。”潘小龙甩着饭盒的水说道：“缘分缘分，既要有缘，也要有分，缘是因果，分是定数，咱俩认识是缘，能不能跟我师兄学艺，就要看你的天分了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这种事儿，不是我帮你把别人都屏蔽掉就管用的，你要是没天分，我师兄一样会找别人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尚亚坤点头，说道：“是我小心眼儿了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙笑了笑，说道：“不过我可以给你走走后门儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尚亚坤两眼放光地小声儿问道：“啥后门儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙轻声说道：“我先问问我师兄要怎么测试，然后对证下药。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“行！行！”尚亚坤很激动。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙回到宿舍，拿着手机出门儿了，到楼外面给山伢子打电话，问道：“坤子和我同寝的两个兄弟都想跟你学，你都要呐？还是只要一个？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“能通过测试就要。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙问道：“咋测试呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“精神力测试，每人做一个手机，能用就过关。”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>