<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第381章：一车刀手</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第381章：一车刀手
</div>
<div class="bookname">
	<h1>第381章：一车刀手</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第381章：一车刀手<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦润之告诉山伢子，在他不到三十岁的时候，在一家公司做产品销售代表，公司的老板姓赵，叫赵西。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵西当时四十多岁，长得挺气派，个子也高，给人第一眼的印象是有学问、有品味。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是赵西有一个毛病，就是只看学历，不看能力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦润之很努力，但就因为是中专学历，所以一直得不到重视，甚至还被销售部经理抢单。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不被领导重视，还要被欺压，一般人都会选择跳槽，甚至是直接辞职。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但秦润之忍了，因为他能靠着公司的背景积累客户，同时也积累经验。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;因为秦润之想得明白，大多数人都不会一帆风顺的，机遇是给有准备的人的，所以秦润之卧薪尝胆，在公司忍了十年，最终成立了自己的公司。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在这十年里，发生了很多事情，最重要的，莫过于赵西的老婆孩子，因为一场大范围的致命性流感去世了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其实这也是秦润之的一个契机，因为老婆孩子相继去世，赵西精神受了刺激，在长达三年的时间里，没有心情打理公司，而销售经理又是个空有文凭的废物，所以秦润之才能抢到公司高达百分之七十的客户，包括三个能决定公司存亡的大客户。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵西的公司后来倒闭了，据说赵西去旅游散心时出了意外，秦润之也没再关注过以前公司的那些人，因为不仅是没有交情，还有仇怨。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是在儿子媳妇去世后的一个多月，秦润之梦到了赵西，那个梦很奇怪，赵西站在他面前，脸色发黑，神情愤怒地冲他嚷，说秦润之抢了他的生意，秦润之所拥有的一切，本来都应该是他的，还说要让秦润之落到和他一样的下场。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦润之问山伢子：“石先生，商业竞争，我这不算害死人吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不算。”山伢子摇头，挣钱嘛，谁有本事谁挣，客户又不是傻子，不可能帮着秦润之挤兑赵西，生意失败肯定是自己的原因。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;服务生端着饭菜上来，看到两人站在门口儿，就说道：“石哥，饭菜好了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子伸手接过来，说道：“去忙吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;然后对秦润之说道：“您先吃饭吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦润之轻声问道：“石先生，您刚才说有东西跟着我，是什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“是一只鬼，不是跟着你，是跟着瑶瑶。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦润之惊问道：“跟着瑶瑶！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“你先吃饭吧，一句话两句话也说不清楚。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;让秦润之坐下吃饭，山伢子避开秦瑶的视线，用无名指的血画了两张符，吹干后折好，递给秦润之，说道：“这是两张护身符，您跟瑶瑶一人一张带在身上，不要见水，不要见房事，要是有破损，给我打电话，我给你换新的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦瑶伸手跟秦润子要：“爷爷，给我一张。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦润之微笑着递给她一张，秦瑶接过来小心地放进口袋里，看着山伢子问道：“大哥哥，我可以用塑封袋装着吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦……对。”山伢子起身说道：“我去给你们找两个塑封袋。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;直到爷孙俩吃完饭，那只鬼也没有再出现过，山伢子觉得那只鬼十有八九就是赵西，因为他的形象跟秦润之的描述相似。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子告诉秦润之，暂时只能这样，因为那只鬼没再出现过，并且着重嘱咐秦瑶，有什么不舒服一定要说，尤其是突然间发冷，或者是感觉到有凉风，一定要第一时间检查护身符。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;送走了爷孙俩，山伢子到办公室，把情况跟徐四说了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“其实你应该送他们回去，在他家用引魂香叫一下那只鬼，看能不能当面谈谈。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子点头，说道：“是，我一开始也是想这样做，但后来想了一下，我觉得这只鬼十有八九是那个赵西，所以我觉得他不会跟我谈，就算谈了也没用，不如逼着他来找我。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四点头说道：“这样也行，你办事儿你做主。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;打烊收工，山伢子骑着自己车往家返，骑到上回撞树的那条路时，听到身后有汽车发动机的声音，山伢子就往路边让了让，却听到发动机猛然加速的轰鸣声。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子心里咯噔一下，猛然回头，看到一辆卡车冲着自己撞了过来！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子赶紧跳车，卡车已经撞上了自行车的后轮，车把横了过来，打在山伢子的小腿上，山伢子被扫飞了出去，远远地摔在地上，小腿疼得像断了一样。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卡车停在十几米外，从后斗子上跳下来十几个人，都是戴着口罩，手里拿着砍刀，气势汹汹地向山伢子冲过来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子咬着牙站了起来，冲在最前面的一个人挥刀砍向山伢子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子左手一架，顺手扣住了刀柄，抬腿一脚把对方踹飞了出去，但支撑腿因为剧痛没有站稳，自己也摔坐在地上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两名刀手扑上来，一左一右向山伢子挥出砍刀，山伢子抡起砍刀将两柄刀砸开，迅速站了起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;十几名刀手都冲到了近前，围着山伢子狂砍，山伢子一边招架一边突围，因为一瘸一拐，转动不灵活，后背接连挨了两刀。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;火行石亮起了红光，山伢子的双眼也开始变红，每一刀挥出都比前一次更狠。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而这些刀手似乎也是亡命之徒，有几个人被山伢子砍伤后，浑若不觉地继续围攻山伢子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;短短一分多钟，山伢子就挨了七八刀，后背和左腿都中了刀，疼痛冲击着山伢子的意识，火行石越发的明亮。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊……”山伢子感觉心里有一团气出不来，无意识地放声大喊，手中的砍刀带着红光迅猛挥舞，眼前的景物一片血红。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;三名刀手相继被山伢子砍倒，但其他的刀手迅速补上空位，将山伢子死死围住。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震南站在卡车旁边，面无表情地看着这边的打斗，这一车刀手是他花大价钱雇的，目的是为了消耗山伢子的体力，甚至是法力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只要消耗到一定程度，莫震南有信心干掉山伢子，抢走火行石。至于韩慕灵会不会报复，他不在意，想成事儿就不能前怕狼后怕虎，越怕越遭人欺负！
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>