<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第392章：一面之词</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第392章：一面之词
</div>
<div class="bookname">
	<h1>第392章：一面之词</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第392章：一面之词<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嗔道：“别扯犊子！我问你，还不让我跟芊芊出门儿吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子想了一下才答道：“咱还是恢复老样子吧，那天要不是你们赶过来，估计我就被黑衣人弄死了，弄死了不算，他还得占我的肉身。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊手一哆嗦，碗差点儿掉了，一脸后怕地看着山伢子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵说道：“是不能再走单骑了，死了都没人知道。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吃完了饭，山伢子让古芊芊开车，他虽然不觉得头重脚轻了，但开车这么重要的事，还是先不做的好，万一出点儿意外，太不值当的了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;路上，山伢子说道：“等我再缓两天，你俩开车，我还是骑我的摩托车。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊问道：“为什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“咱们分开，黑衣人只能袭击一个目标，而且摩托车快呀，还能走小道儿，要是赶上什么急事儿，比汽车好使。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“也是。”古芊芊点头，说道：“搁着也是浪费。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;到了饭店，直接去办公室，徐四指了下桌面上一个小瓷瓶儿，说道：“这是龙顺天给我的，里面装着那个富商王永利的儿子，王得福的魂。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龙顺天是中午那会儿来的，告诉徐四，昨天晚上九点多，王得福跑去找他，因为他去王永利家抓鬼的时候，王得福见过他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王得福告诉龙顺天，抓他们母子的法师姓郝，是上清门的掌门人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“郝清风？”山伢子皱起了眉头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“怎么哪儿都有他？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四接着说，王得福说，郝清风把他们母子抓了之后，关在一个不见光的容器里，他听到他妈妈惨叫，但无论他怎么叫喊，都没人理他，不知道过了多久，容器突然碎了，他就跑了出来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龙顺天让王得福详细描述了一下他听到的声音，还有魂瓶摔碎后看到的场景。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;据王得福说，当时他在一个不大的小屋子里，只看到地上碎了很多东西，还趴着一个人，没看到他妈妈，他当时很害怕，所以也没敢仔细看就跑了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看着徐四，等着他说哪里扯了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四接着说道：“龙顺天说他试着招了王永利老婆的魂，但是魂没了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“没了？”山伢子知道哪里扯了，一块儿抓的母子俩，娘没了，王得福却是魂瓶摔碎后才跑出来的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;魂瓶是不可能轻易摔碎的，王得福看见的那个趴在地上的人，应该就是郝清风。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王得福还说地上碎了很多东西，那应该都是郝清风摔的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;为什么摔？或许是郝清风当时神智不清。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;为什么神智不清？法师是不会胡乱嗑药的，就算嗑，也只会嗑自己炼制的丹药。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;结合王得福听见他娘惨叫，然后他娘的魂又没了，而郝清风神智不清……难道是郝清风会什么邪术，拿鬼来炼丹？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊惊道：“不会吧！郝叔叔他……不会吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“不好说，没准儿是让咱妈给刺激着了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“本来这种事儿，咱们是不应该过问的，因为不可能找到证据。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四给三人解释，炼魂这种事古来有之，就是将鬼魂的能量炼制成魂丹，至于服食的效果，徐四就不得而知了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这种事除非当场抓住，否则根本不可能找到证据。就像王得福这件事，不管谁去找郝清风，他根本就不会承认。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“他咋不承认？王得福他娘不是没了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嗔道：“你又犯什么傻呀？他不会说是被他灭掉了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“可王得福不是也被他抓了吗？还被装在魂瓶里，还听见他娘惨叫，还看见郝清风趴在地上。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧皱眉叹气，古芊芊说道：“那只是王得福的一面之词，郝清风可以说根本没抓过王得福，你说是信鬼话还是信人话？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉嗔道：“你们俩哪头儿的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嗔道：“这跟哪头儿的有关系吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“先别吵。伢子，你怎么了？别是这回伤着脑子了吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一句话惊得霍晓荧和古芊芊立刻盯着山伢子看。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，抬手挠了挠头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“这个道理很简单，而且我提前就说了，除非是当场抓住，否则根本没有证据指证他，你怎么还是轴住了？难道你认为，还有人在没有任何证据的前提下，会主动承认自己做坏事、用邪术吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱着眉沉默了一会儿，说道：“我脑子有点儿乱。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊关切地说道：“你别想了，歇歇脑子吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子答应，心里有点儿发慌，好不容易开了窍儿，不会又回去吧？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四看着古芊芊说道：“我是想到郝清风是你爸爸的朋友，所以才留下王得福，你们带他回家去见你爸，之后怎么办，你们自己商量就行。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊点头答道：“好。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“师父，龙顺天什么意思？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四答道：“他没什么意思，郝清风抢了他的生意，王永利让他退了款，他很没面子，但是他知道自己惹不起郝清风，所以就带着王得福来找我，如果不是因为郝清风，我也不会管这事儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“芊芊，拿上魂瓶，咱俩现在就回去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“伢子也回去吧，我看你还是得歇两天。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;三人又开着车回家，一进门，看到韩慕灵跟古木苍正在下棋。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;见三人进来，韩慕灵问道：“是跟咱们家有关系的事？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子把魂瓶放在茶几上，把情况说了一下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍皱眉，韩慕灵说道：“不用管他，姓郝的爱干什么干什么，跟咱们没关系，把王得福送去地府吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍说道：“我得去跟他聊聊，毕竟我们是从小一起长大的朋友。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵嗤了一声，说道：“随便你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍拿起魂瓶，将封印解开，把王得福放了出来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这是一个只有十二三岁的男孩儿，一脸的惊慌，眼睛在众人的脸庞上扫来扫去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍说道：“你不要害怕，我就问你几句话，问完就送你去地府。”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>