<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第399章：烧给前女友</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第399章：烧给前女友
</div>
<div class="bookname">
	<h1>第399章：烧给前女友</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第399章：烧给前女友<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人买了八百多块的东西，整整六大包，山伢子给他搁到车里，目送他开车走了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹嗤道：“买这么多东西，家里人死光了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉说她：“你咋说话呐？人家照顾你生意，你还咒人家死全家？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹嘟嘴，争辩道：“他眼睛贼兮兮地看我。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“你长得好看人家才看，你要长得跟猪八戒似的，谁稀的看你？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹笑眯眯地问道：“你觉得我长得好看呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，转身回店。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹乐呵呵地跟在他后面。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子记账，龚钰丹趴在床边看着他，看得山伢子手都发硬，忍不住说她：“你别这样行吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹笑眯眯地问道：“我咋样了？你不能看呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子没词儿了，心里打定了主意，再有人买东西，让霍晓荧陪她来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;第二天，还是午夜，还是那个电话号码，还是那个男人的声音，山伢子觉得奇怪了，叫着霍晓荧，领着龚钰丹去了扎纸店。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这回男人更干脆，掏出钱包，数出一千块钱递给山伢子，说道：“我看你挺懂行的，我是烧给前女友的，你看着给安排吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子接过钱，开始装东西，一边装一边问：“怎么烧这么多啊？您前女友给您托梦了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人没有回答，山伢子就没再问，霍晓荧围着男人转圈儿，对山伢子说道：“他身上有阴气，虽然不重，但不正常。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹看着男人问道：“大哥，你一定是个暖男，对前女友都这么好。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人露出微笑，说道：“也不算了，就是觉得她可怜。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹问道：“你前女友生病了？还是出意外了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人苦笑了一下，答道：“我跟她提分手，她想不开跳楼了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦！”龚钰丹眨了眨眼睛，又问道：“为什么要分手啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人下意识地回避龚钰丹的目光，答道：“不合适。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹想了一下，转了话题，问道：“大哥，你是做什么工作的？你那辆车真漂亮，很贵吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不谈前女友了，男人打开了话匣子，相亲似的介绍自己。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他叫王星，今年三十二岁，单身，在一家公司当销售经理，底薪八千，每月有三到四万的收入，车是公司给租的，每月的租金是六千，自己买了房，两室一厅，精装修。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧皱眉，跟山伢子说：“这货是来相亲的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子笑了笑，龚钰丹有她独有的优势，这些话他肯定是套不出来的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子装好了东西，说道：“王先生，给您搁车里吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦……好。”王星有点儿依依不舍地看了龚钰丹一眼，然后转身出门。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;看着王星开车走了，龚钰丹嗤道：“渣男。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看她，龚钰丹说道：“肯定是穷的时候交的女朋友，现在挣钱多了，就想换个年轻漂亮的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“他身上有阴气，但不是很重。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹说道：“换了是我，我也不甘心，肯定天天缠着他！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“换了是你，他就舍不得分手了，得你说啥是啥。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹没反应，霍晓荧失笑道：“浪费感情。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“晓荧说了，要换了是你，他就舍不得分手了，得你说啥是啥。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹嘻嘻一笑，说道：“亲爱的，你想想办法，让我也能开了阴阳眼，要不然都没法儿跟晓荧姐说话。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“你说得容易，小龙哥练了五年了，也没开阴阳眼，我有啥办法？我要有办法，早就给小龙哥开了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹嗤了一声，转身跑向饭店，大声说道：“不跟你说，我跟芊芊说去！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看着她进了饭店的门，才回扎纸店记账。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“明天姓王的要是再来，你别过来了，我跟丹丹过来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子愕然说道：“我跟龚钰丹没事儿！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧看着他，似笑非笑地说道：“我说你俩有事儿了吗？心里有鬼啊？我就说你别来了，有你在，那个姓王的放不开，你慌什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一脸尴尬地解释道：“我怕你多心……她老是那个样子，还总管我叫亲爱的，也说不听，我也不能真跟她翻脸。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧白了他一眼，嗔道：“行了，赶紧记账吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;回到饭店，古芊芊说道：“伢子，歆雨能力爆发后就有了鬼眼，你说丹丹行不行？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，还真当个事儿啊？答道：“我不知道行不行，我到现在也不知道歆雨受了多少苦，遭了多大罪，我就是觉得吧，龚钰丹……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我怎么就这么不爱听你说话呐？”龚钰丹咝了一声，嗔道：“你叫我一声丹丹能死啊？非得连名带姓的叫，你不怕咬着舌头啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子呛着说道：“你不开鬼眼能死啊？又不用你抓鬼，起什么哄？扯什么犊子？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“他骂我~”龚钰丹搂着古芊芊撒娇。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子翻了个白眼儿，转身出去了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“伢子！”山伢子刚走出来，就听见古芊芊尖叫，连忙回身推开门，问道：“咋了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊指着刚才霍晓荧坐过的地方，满脸焦急地说道：“晓荧不见了！突然一下就消失了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子心里咯噔一下，赶紧拿出手机打电话，但是电话却接不通。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子返身出门，古芊芊问道：“你去哪儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“找洪拓！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊冷静了一下，拿出手机打给韩慕灵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹安静地坐着，神色紧张，她不知道情况有多严重，但是能感觉到很严重。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子跑到洪拓面前，大声说道：“晓荧不见了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;因为声音太大，引得很多吃饭的人都看他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓连忙劝解他：“别激动，咱们去套房说，别慌，越慌越乱。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿也跟了过来，古芊芊说道：“我给我妈打电话了，她说让我爸去找。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子咬牙切齿地说道：“肯定是黑衣人干的！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四推门走进来，他刚才听到山伢子嚷了，说道：“别慌，屈老不是教过你追灵符吗？你用追灵符试一下。”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>