<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第658章：再娶一个</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第658章：再娶一个
</div>
<div class="bookname">
	<h1>第658章：再娶一个</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第658章：再娶一个<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嗤了一声，她其实心里并不针对山伢子，李绣娘是城隍指引来的，如果非要找个人负责，那也应该怪那个害死李绣娘的妖怪，但是做为主母，她有必要为古芊芊说两句公道话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子站在床尾脱衣服，霍晓荧问道：“你干嘛？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“睡觉啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊问道：“李绣娘呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“在晓荧屋里。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嗔道：“那我睡那儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“一起睡嘛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“神经。”霍晓荧闪身下了地，山伢子说道：“别走，我有话说。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;上了床，山伢子把李绣娘的身世说了一遍。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧皱眉问道：“那只妖怪把她定在睡房里看你们行房？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“反正她是这么说的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嗤道：“什么妖怪呀，这么变态！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“那要这么说，是这只妖怪跟李绣娘有仇才对。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“对呀，我也是这样说的，然后她就哭，说她心里苦。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧问道：“再然后呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“她也不说她要咋整，就说让我定夺，我就先让她上你屋休息，我来跟你们商量嘛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧看古芊芊，古芊芊嗔道：“你是主母，你总看我干嘛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧斥道：“现在我是主母了？你让婧婧发毒誓的时候问过我吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊争辩道：“婧婧能一样吗？要是没有婧婧，咱们在牙山就交代了，哪还有现在？不知道哪辈子见了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“你俩小点儿声，大家都能听见。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧搥了山伢子一拳，说道：“商量你妹，就说你咋想的吧！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“我想找到害她的那只妖怪，替她把仇报了，消解掉她的怨气，然后让她去投胎。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊附耳轻声：“夫君，那只妖可是曾与你同床共枕，甚至可能还是琴瑟和鸣，真找到她，你下得了手吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱紧了眉头，霍晓荧问道：“说啥了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊掏出手机打字，然后举给霍晓荧看，霍晓荧也皱起了眉头，说道：“你说得有道理。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;然后掏出手机打字：要不算了吧，别找那只妖了，你还她一世情缘，应该也能消解她的怨气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子叹气，霍晓荧打字：别装相儿了，你又不吃亏。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊打字：妖也不是那么好找的，天下九州，四海八荒，而且无名无姓，连是什么类属都不知道，上哪儿去找啊？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子掏出手机打字：城隍这是啥意思嘛！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧打字：我觉得就是冲着芊芊来的，芊芊是抢胎，没走人家正规程序，但是芊芊又不好惹，所以人家用这事儿来恶心咱们。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊打字：姐姐说得在理。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子鼓了鼓勇气，打字：我再娶一个，你俩真不生气啊？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧抬手一巴掌扇在他后脑勺上，打得山伢子猛一点头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子跟古芊芊同时一愣，霍晓荧说道：“我生气，但没办法，总不能灭了她，那样就太不讲究了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子沉默，前世的事儿，错又不在他，为什么一定要他来承担后果？再说了，真要是再娶一个，应该娶婧婧才对，总得有个先来后到吧？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧嗔道：不睡觉瞎琢磨什么？讨厌！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：你不是也没睡嘛。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧不再说话，山伢子打字：不行，不能娶她，错又不在我，我给她念经消怨。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧起身下地，说道：“随你便。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“上哪儿去？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧答道：“回我屋去陪陪李绣娘，不管最后咋办，别把人家一个人晾着，好像咱们嫌弃人家似的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子没接话，霍晓荧走了，古芊芊靠在他怀里轻声说道：“这事儿先放一放，反正也不是一时半会儿能解决的，咱们先去绮梦山找卿琴。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“带婧婧去吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嫣然而笑，答道：“当然得带呀，她奉命保护我，当然是我去哪儿她去哪儿，快睡吧，明天咱们就启程。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一愣，问道：“这么急？不用准备一下吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊微笑着答道：“不用准备什么，就当作是一次郊游好了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子又问道：“李绣娘咋办？要不要收进魂**里？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“别那样做，她已经很可怜了，带她一起去吧，反正车里也坐得下。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子叹了口气，闭上了眼睛，古芊芊给他盖好被子，然后搂着他的胳膊躺下，问安婧：睡了吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧答道：还没有。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊问道：刚才夫君有没有跟你说什么？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧答道：没有。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：那他刚才想什么没有？我得知道他心里到底是怎么想的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧沉默了片刻才说道：他说前世的事儿，错又不在他，凭什么让他承担后果。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊微微一笑，说道：知道了，睡吧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;停了一会儿，安婧又说道：芊芊姐，我……<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：说吧，刚才我们商量的时候，夫君有须臾间的闪神，应该是在跟你说话，我知道你没跟我说实话，或者没有把话说完。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧说道：我不是有意瞒着你，我只是觉得，嗯……<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：夫君是不是觉得，如果真要再娶一个，应该娶你对吧？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧问道：他跟你说了？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：这么明显的事还用他亲口告诉我吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧沉默，古芊芊说道：睡吧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;第二天起来，山伢子给钟离愁打电话，说他们要去绮梦山。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁问道：“那是什么地方？我都没听过。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“我也不知道，不过芊芊说要自己开车去，应该不远吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁问道：“你那个前世的媳妇儿咋样了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉说道：“我挂了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;从下楼到上车，安婧一直刻意地回避山伢子，山伢子也觉得尴尬，所以也不跟她说话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;上了车之后，古芊芊设置了导航，山伢子愕然问道：“这地方都快到边境了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊微笑着答道：“开车只能到边境，剩下的路要步行。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“要出国呀？不用办护照吗？”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>