<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第240章：魂盒</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第240章：魂盒
</div>
<div class="bookname">
	<h1>第240章：魂盒</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第240章：魂盒<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵告诉霍晓荧，山伢子是个土生土长的山里人，不会是他喜好杀戮，应该是受火行石影响，毕竟火行石隐世三百年，之前孙家经历了什么，没人知道，或许火行石带着孙家人的怨念也说不定。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵还告诉霍晓荧，这种情况没有什么好的解决办法，所幸山伢子是个憨厚的人，还不至于因为火行石的影响而走上邪路，但也要引起高度重视，不能听之任之。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧问：“如果不戴着火行石呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵说道：“这就是问题的核心，不戴着肯定不会受影响，可是山伢子是宿主，又有一个连我都查不出身份的人在盯着你们，如果山伢子不戴着火行石，那你们出去抓鬼，或者碰上突发事件，可能就会有危险。另外，火行石也是山伢子修炼的最佳助力，不戴着火行石，修炼速度至少减缓一倍。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧又问：“跟我有没有关系？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵沉默了片刻才答道：“关系多少会有点儿，但肯定不是最主要的，你不要想得太多，有些事想简单点儿，反倒更容易解决。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;挂断了电话，徐四对这件事的分析就很有些自责的意味了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说：“是我太急功近利了，我觉得伢子的法力已经够了，但却忽略了火行石对伢子心性的影响，毕竟伢子岁数儿还是太小，又没个真正懂行的师父带着。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧不知道说什么，只能听着，徐四又说道：“你也别太担心了，以后有事儿还是我带着伢子办。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”霍晓荧答应，但心里觉得跟办不办事儿没什么大关系。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;第二天，徐四找山伢子谈话，内容是有关魂**的，徐四告诉山伢子，他家传下来的魂**，是很多年前制作的，具体是哪一辈儿人做的，徐四自己也不清楚。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四虽然知道魂**的制作方法，但他却没有亲手做过，而制作魂**又需要很长的时间，光是用法力炼造土坯，就需要几年的时间。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以徐四想让山伢子用扎纸黄留下的扎纸手艺试试，看能不能做出纸制魂**，毕竟现在就需要有个容器来装吴大壮，不能总收在八卦伞里，为了一只鬼把八卦伞给占用了，太不值当了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;魂**的原理其实就是一个小型的结界，用来封住鬼魂。纸这个东西本身是很好的，吸收法力快，密封效果也好，之所以魂**不用纸来做，是因为不能长时间保存，而且容易受潮。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但扎纸黄留下了冥器袋儿，这种法器徐四以前从来没听说过，但功用却很特别，徐四检查过用冥器袋儿装过的纸张，比符纸的强度要大，至少比他所炼制的符纸强度大。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以徐四就想，或许可以用冥器袋儿装过的材料先扎制一个魂**，把吴大壮封起来，这样总是能把八卦伞先腾出来。而且如果可行的话，他也就不用担心再发生事情的时候，没有魂**用了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“葫芦形状咋扎呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四答道：“你先扎个小盒子就行，我试试看能不能用，魂**做成葫芦形状，是为了带着方便，系个绳拴在腰上，咱们搁家使，就不用非得做成葫芦了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子答应，想了一下又问道：“那是留盖儿还是留口儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四愣了一下，问道：“咋留口儿？留口儿不也得有个盖儿吗？要不然能叫密封吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，有些欲言又止。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“有啥说啥。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“留个口儿，所有的缝隙都是糊死的，收了魂之后用符纸把口儿封上，效果会不会比留个盖儿更好？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四尴尬了，干咳了一声，说道：“那就留口儿吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;材料好弄，山伢子出去买了个花圈，拿回家拆掉，然后截好骨架，连同黄纸放进冥器袋儿里，捂了半个小时。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;本来扎纸黄的笔记上说捂十分钟就可以，但这次是要做魂盒，所以山伢子就多捂了会儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;魂盒做好，霍晓荧先进去了一下，出来对山伢子说道：“空间挺大的，就是有点儿吓人，四面八方全是白的，而且特别亮。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问她：“不走口儿能出来吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧眨了下眼，又进去，过了一会儿出来，说道：“出不来，但估计也不会太结实，不知道贴上符会不会提升结界的能量。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“贴符就算了。”山伢子可不想用霍晓荧测试。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;拿给徐四，徐四把吴大壮放出来，吴大壮破口大骂，因为他在八卦伞里能听到外面的声音，知道他女儿被车撞了，只是苦于被束缚在八卦伞里，完全没有办法。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一拳将吴大壮打倒，火行石骤然亮起艳丽的红光，山伢子一脚踩在吴大壮胸口上，再次举起拳头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四厉声斥道：“山伢子！退开！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子咬着牙，腮帮子鼓着，眼神中满是杀意，但毕竟没有冲灵，师父发话还是要听的，所以很不情愿地收回脚退了一步。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吴大壮一脸惊恐地看着山伢子，挨得这一拳虽然疼，但完全比不上心里的那种压迫感。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子跟以前不一样了，山伢子头回见吴大壮时，也打过吴大壮，但那时吴大壮心里不害怕，就是打不过而已。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可是这一次，吴大壮感受到一股强大的压迫感，这种感觉就像要大祸临头一样，心里发慌，头皮发麻，手脚都不听使唤。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;同样的，霍晓荧也感觉到了这种气场，毕竟她也是鬼，而且她比吴大壮还多一种感觉，就是感觉有东西从她的魂体里被吸走，或许在刚才山伢子暴怒时，火行石吸取了她的能量。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧害怕了，会不会在将来的某一天，自己被火行石吸得灰飞烟灭？这事儿必须跟山伢子好好儿谈一谈！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四并没有向吴大壮解释什么，直接将他收进了魂盒里，然后贴上了符纸。其实徐四认为吴大壮这种鬼，就应该打落黄泉，留他这么久，无非是存了一份善念，毕竟吴大壮没有害死人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四拿起魂盒上下左右看了一遍，又放在台灯底下照着看了看，然后把魂盒放在架子上，说道：“等着吧，时间才是检验品质的最好工具。”.<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;，更多精彩阅读，等你来发现哦。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;手机站:
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>