<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第319章：不想去就不去了</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第319章：不想去就不去了
</div>
<div class="bookname">
	<h1>第319章：不想去就不去了</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第319章：不想去就不去了<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我饿了。”古芊芊嘟着嘴，含嗔带笑地看着山伢子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子笑着说道：“我打电话让人送过来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嗔道：“没完了？要人命啊？我回家吃，你该去饭店了，我也该回家了，我都两天一夜没回家了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，不舍地坐起来，一边穿衣服一边说道：“好吧，那我先送你回家。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊坐起来，从后面抱住他，脸贴在他肩上叹了口气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子扭着头，用脸蹭着她的额头说道：“没事儿，暑假不就回来了嘛，虽然是四年，但其实刨了假期，也就三年，再说了，小别胜新婚嘛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊轻笑，说道：“真是开窍儿了，跟人家肚里的蛔虫似的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子转身抱住她，压倒在床上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊笑嗔道：“还来？要疯啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子笑着答道：“老鬼打完了，说话儿你又要走了，大半年见不着呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊回到家时，天已经黑透了，在大门口又跟山伢子拥抱着深吻了三四分钟，才依依不舍地进了家门。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一进到客厅，韩慕灵便似笑非笑地说道：“你知道咱们家大门口儿有监控吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊坦然答道：“知道啊，反正我这辈子跟定他了，有什么不行的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵笑了笑，这样的话，自己当年也跟父母说过，问道：“还想出国留学吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊一怔，随即答道：“我原本就不想去，是你自做主张，也不跟我商量，逼着我去的！你忘了？你还说，如果我不听话，你就用轮椅推着我出国。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵笑，说道：“不用这么怨愤，这次闹老鬼，让我想明白一件事，既然你定了心，这辈子就是跟山伢子了，而且也不打算移居国外，那去不去留学都不重要了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊张大了眼睛，难掩兴奋地坐到沙发上看着韩慕灵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵却突然转了话题，严肃地问道：“有保护措施吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊一愣，眨着眼睛没反应过来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵说道：“你要是怀了孕，就得给我生下来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊瞬间脸红，嗔道：“什么呀！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵翻了个白眼儿，说道：“伢子送你回家，晓荧却没来，这一下午，就你们俩在一起吧？瞧你刚才那不舍的样子，还有现在这股子兴奋劲儿，还能是别的事儿吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊红着脸低下头，韩慕灵说道：“既然不想去，那咱们就不去了，回头我给你联系远程函授，学历还是要拿的，明天你跟伢子商量一下，你俩一起去学车，等拿了驾照，让伢子跟晓荧搬过来住，别总跟他师父那儿瞎混，毕竟还没结婚，好说不好听，别让外人撞见。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”古芊芊羞笑着点头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵白了她一眼，说道：“回房去歇着吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“我还没吃饭呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵一愣，问道：“守着饭店还不管饭呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊笑眯眯地答道：“我怕你担心嘛，没吃饭就赶回来了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“赶回来？”韩慕灵嘲讽着说道：“天都黑透了，这还叫赶回来？那你要是不‘赶’，得什么时候才能回来？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“妈~”古芊芊晃着韩慕灵的胳膊撒娇。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵说道：“小梅，给芊芊做点儿吃的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是，小姐。”梅姨答应，从房间出来，拐进了厨房。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊靠在韩慕灵身上，笑眯眯地说道：“妈，你真好。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵浅笑了一下，说道：“虽然我并不认同没结婚就在一起，但既然已经这样了，就顺其自然吧，所谓人生得意须尽欢，我是过来人，想得明白。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊心里一阵难受，知道妈妈又想爸爸了，便伸手抚着韩慕灵的胸口，靠在她肩头沉默着。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;停了一会儿，韩慕灵又说道：“对了，你梅姨说，收拾书房的时候，找到一个笔记本，是你爸爸当年的练功笔记，放在你床头柜上了，你要认真看。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊有些意外，怎么这么多年了才发现？问道：“在哪儿找着的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵嗤道：“书架的暗格儿里，也不知道他怎么有那么多暗格儿，没准儿哪天还会发现别的什么事儿！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊笑，又问道：“梅姨经常打扫书房？怎么以前没发现？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵随意地答道：“也算歪打正着吧，小梅想着等你上完学就该结婚了，那个书房将来要给伢子用，所以就先规划一下，结果就发现了暗格。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉，说道：“他一个土包子，用什么书房啊？就算要用，那个书房不是挺好的嘛，动它干嘛？不用动。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵说道：“动不动的再说吧，反正得给他腾出一间房来，他不是继承了黄老的手艺嘛，别回头给我堆一屋子纸扎品。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“呵呵……”古芊芊笑，说道：“不会啦，他又不傻。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吃完了饭回到房间，看到床头柜上的笔记本，古芊芊微微皱眉，拿起来翻开。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个笔记本的样式虽然很老，但纸质却很新，古芊芊不明白，这个本子得有二十年了吧？怎么还这么新？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;带着疑惑看内容：修炼水行法术，心要清静，心之清静并非佛家所说的一尘不染，而是道家所说的无为。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;因无为而有为，实际上只要人活着，就不可能做到完全的清静，即使是神佛，也会有思维活动……<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;修法先修身，修身先修心，因有水行石助力，修心之意着重在于自心与水行石之灵的沟通……<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊越看，眉头皱得越紧，这是练功笔记？这分明就是水行术的教科书嘛！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊拿着笔记本出了房间，喊道：“妈？妈！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵答道：“卧室呐！又怎么了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊走到卧室门口，推开门，看到韩慕灵在化妆，愕然问道：“妈……你晚上约了人啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是啊。”韩慕灵随口答应，问道：“你又怎么了？快说。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊笑，倚着门框看着她问道：“妈你找着第二春了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵扭头瞪她，斥道：“什么第二春！我有那么老吗？咱俩一块儿出门，人家都以为我是你姐。”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>