<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第137章：回来了</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第137章：回来了
</div>
<div class="bookname">
	<h1>第137章：回来了</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第137章：回来了<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊不解地问道：“屈老，咱们五行世家不是源出一脉，应该守望相助吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;同样的话，她问过屈敬龙，但屈敬龙的回答有些含混不清，所以话儿赶话儿的，古芊芊又把这个问题提了出来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈长寿沉默了片刻，说道：“你说得没错，原本应该是你说的这样儿，但据我所知，在三百年前……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“屈老。”山伢子打断了屈长寿，他知道做为一个晚辈，这样做很没有礼貌，但他要找小莹啊！现在不是应该先找小莹吗？至于五行世家是怎么个关系，有必要现在说吗？反正都已经过去三百年了，也不差这一会儿了吧？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈长寿说道：“对不住啊，一说就扯远了，现在就开始。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈长寿先将写着张小莹生辰八字的黄纸烧掉，然后拿起招魂铃摇了两下，铃声并不清脆，而是很浑浊，像里面蒙了层纱一样。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;然后，屈长寿拿起一张黄符抛向空中，一把抄起五阴剑，‘唰’的一声刺出去，将黄符穿在剑身上，再放到蜡烛的火苗上点燃。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黄符亮起幽绿的光芒，屈长寿右手持剑平举，左手掐诀，嘴唇儿快速地蠕动。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子认真地看着，屈长寿无论是手法还是功力，都不是他能想像的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊轻声说道：“这不科学，火苗怎么会是绿色的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看了她一眼，轻声答道：“你跟我师弟潘小龙肯定能说到一块儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊看着他的侧脸问道：“你还有师弟呐？怎么我没见过？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子眼睛盯着屈长寿，冷漠地答道：“别吵，我没空儿跟你闲聊天儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;五阴剑上的黄符烧光了，屈长寿用左手两指又捏起一张黄符，手腕一抖，黄符‘嗖’的一声飞出去，擦过蜡烛的火苗，着着火飞向远方，在远方半空中划了道弧线又飞回来，屈长寿‘唰’的一剑刺出，将黄符穿在剑身上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子暗暗地咬了咬牙，别的不说，就刚才这一手儿，师父都做不到。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊却无意识地撇了下嘴，有必要这么卖弄吗？直接穿在剑上再点着不就行了？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黄符再一次烧光，屈长寿放下五阴剑，拿起招魂铃摇了两下，大声说道：“张小莹，速速归来！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一道黑气如箭矢般急飞过来，在法坛前停住，化作张小莹的魂体。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子瞪大了眼睛，不敢相信真的是张小莹回来了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹茫然看着屈长寿，转脸儿看到山伢子，突然间扑向山伢子，一把抱住，放声大哭。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子将她抱得紧紧的，眼泪也不自觉地流了出来，又哭又笑地哄道：“好了好了，没事儿了，没事儿了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊心里莫名的有点儿堵得慌，按说张小莹回来了，这是喜事儿，可自己为什么觉得心里堵得慌？难道自己潜意识里喜欢上了这个二百五傻小子？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不、可、能！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊撇了下嘴，斜眼儿看山伢子，见山伢子把项链摘了下来，戴到张小莹的脖子上，温柔而嗔怪地说道：“以后不许摘下来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”张小莹嘟着嘴答应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊在心里嗤了一声，两人这个样子，还说什么给山伢子找媳妇儿，真是……去找个看不见鬼的媳妇儿吧，要不然还不得憋屈死！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过转念又一想，跟自己有什么关系？真是咸吃萝卜淡操心。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子给屈长寿鞠躬，发自肺腑地说道：“谢谢屈老，您的大恩大德，我永世不忘！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈长寿微笑着说道：“你言重了，不过是因为你还年轻，法力和阅历都不足，否则用不着我插手。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;顿了一下，屈长寿问张小莹：“孩子，抓你的人长什么样儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹答道：“没看见，是个男的，戴着帽子和口罩儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈长寿点了点头，说道：“是啊，存心做恶，又怎么会露脸儿呐，我也是存了侥幸心理。行了，回来了就好，以后可得小心了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”张小莹点头答应，也给屈长寿鞠躬，说道：“谢谢屈老。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈长寿又让屈敬龙送三人回家，先到了饭店，张小莹说要请古芊芊吃饭，但古芊芊一点儿心情都没有，推托说跟着忙活了两天，累了，想回家睡觉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹也不好坚持，目送着屈敬龙的车离开。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;到了厨房，徐四着重问了一下找回张小莹的过程，然后说道：“行了，回来就行了，干活儿吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四心里有疑惑，但不能说。屈长寿能找到并且救回张小莹，说明人家法力高，可这么容易就找回来，有点儿不通情理。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但不论徐四觉得通不通情理，这个情儿还是要领的，不能人家给帮了忙儿，反倒怀疑人家，那样不厚道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可徐四心里就是觉得不稳当。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这次抓走张小莹，对方虽然戴着帽子和口罩儿，但毕竟也算是现身了，可他到底是为了什么呐？有什么目的？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈长寿一出手，张小莹就回来了，那是不是可以说明抓张小莹的人还是很忌惮屈长寿的？如果真的是得罪不起的话，当初为什么又要抓走张小莹呐？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;还有他们这个所谓的五行世家，到底是怎么个弯弯绕儿？一扯还就扯到三百年前去了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过现在至少明白了一些事，这块儿灵石算是有了个说得过去的出处，就是五行石中的火行石，至于五行石是从哪儿来的，估计没人知道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;看到张小莹黏着山伢子，徐四说道：“小莹，出去干活儿去，灾也过了，也没生病，不许偷懒。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹嘟嘴，自己都被抓走了，四叔怎么这么不知道心疼人呐？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但转念一想，突然明白，四叔应该是有话想单独跟山伢子说，就问道：“四叔，你要跟伢子说什么呀？还得背着我？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四失笑，既然被猜到了，也就实话实说：“你太灵，有些话跟你说了，你心眼儿会偏，我只跟伢子说，他心眼儿实，做人做事有规矩，不会给我捅娄子惹麻烦，你先出去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹嗤了一声，不高兴地转身走了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;等到张小莹走出厨房，看不见影儿了，山伢子才小声儿问道：“师父，你也怀疑屈老是吗？”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>