<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第403章：断念</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第403章：断念
</div>
<div class="bookname">
	<h1>第403章：断念</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第403章：断念<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子三人回到卧室，把霍晓荧的骨灰放好，然后在床上抱了一会儿，霍晓荧坐起身说道：“你俩快睡吧，天都快亮了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”山伢子答应，关了灯，搂着古芊芊闭上了眼睛。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧坐在床边，直到两人都睡熟，站起身拿了骨灰，轻轻地开门出来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧到后院儿找洪拓，让洪拓陪她去把骨灰撒了，她不敢自己去，怕再出意外，但骨灰一定要撒掉，因为她的骨灰，让山伢子失去了火行石，她对尸骨的执念也该断了！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓也没有说什么，霍晓荧想得对，其实以她现在的法力，想拘她并不是一件很容易的事，如果不是她对尸骨的执念太深，恐怕黑衣人要大费一番周折。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两人到了江边，霍晓荧捧着自己的骨灰走到江面上，解开袋口，缓缓将骨灰倒进江里。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那一溜灰白的粉末，间或成块状的白骨，还有被江风扬起的粉尘。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧哭了，这是她今生活过的唯一证据，至此，于阳世，她一无所有。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;倒尽了骨灰，霍晓荧黯然撒手，装骨灰的布袋落入江中，随着江水奔腾而去，眨眼间无影无踪。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊……”霍晓荧闭着眼睛嚎叫，心里的郁积好似这奔腾的江水，翻滚不息。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓走到霍晓荧身边，轻轻搂住霍晓荧的肩膀，安慰道：“别太难过了，比起诸多在尘世中混沌轮转的人，咱们已经很幸运了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“屁话！”霍晓荧怼道：“真要是幸运，就不会摊上这种恶心事儿！你脑袋让门挤了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓失笑，她还有心情骂人，说明心结并不重，拍着她的肩头说道：“行了，伢子这么疼你，芊芊跟你像亲姐妹一样，你还想咋？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧抬手抹了把眼泪，扭着头恶狠狠地瞪他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓微笑着说道：“君子报仇，十年不晚，虽然火行石没了，但并不代表伢子跟仙茗山就没有关系了，你们还年轻，前途不可限量。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“对。”霍晓荧的眼神再次坚定起来，说道：“去找无名观，现在就去！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“现在不能去。”洪拓给她解释，黑衣人拿走了火行石，肯定要再找新的宿主，而且各方都得通报，这个时候千万不能玩儿消失。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;况且山伢子新开了扎纸店，初期需要好好打理，再一个，眼瞅着要过年了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“稍安勿躁，至少你也需要冷静两天，然后再做决定。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子睡醒了之后，霍晓荧告诉他，已经把骨灰撒了，山伢子嚷道：“你咋不跟我说一声儿！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“跟你说啥！”霍晓荧嚷道：“早就该撒了！否则也不会变成祸害！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊抱住霍晓荧，两人静默无声，山伢子叹了口气，张开手臂将两人抱在怀里。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;下了楼，韩慕灵告诉三人，已经联系了姬家和屈家，下午在饭店开会。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一点多，姬淋洛带着夏歆雨先来了，夏歆雨一进门就过去抱住霍晓荧，跟古芊芊三人小声说话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛招手把山伢子叫远了些，问道：“没事儿吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“但愿以后都没事儿了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“咋可能嘛。”姬淋洛低声说道：“就算你不是宿主了，芊芊还是，再说了，他只不过是把火行石拿走了，你能确定寄宿关系真的就解除了吗？再说了……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛的声音压得更低：“谁知道有没有所谓的寄宿关系，那你说我爸还活着呐，我咋就能当宿主呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子微一皱眉，姬淋洛这话说得对呀，或许黑衣人只是用祖师遗物阻断了火行石跟他的联系，甚至只是靠着祖师的遗物保护，不被火行石攻击，那个莫泓杰不就是被火行石弄死的吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;门推开，龚钰丹走了进来，直奔山伢子，一脸关切地问道：“亲爱的，没事儿吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“没事儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹浅笑了一下，向姬淋洛点了下头，算是打了招呼，然后去找古芊芊了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛小声儿问道：“这谁呀？你还要收房啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子失笑，答道：“芊芊的闺蜜，龚钰丹，你没见过啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛眼神诧异地问道：“就是整天抹得跟妖精似的那个？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊。”山伢子点头答应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“还真没看出来。”姬淋洛失笑，转而调侃道：“你说这事儿也怪了，我长这样，她就扫了我一眼，你长这样，她管你叫亲爱的，你上辈子是狐狸精啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子笑，说道：“你长得太好看了，给人的第一感觉就是花心、不靠谱儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“也对。”姬淋洛笑着点头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹突然大声说道：“亲爱的，过来给我开鬼眼！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨愕然看着龚钰丹，龚钰丹说道：“看什么？你不是有老公了吗？你老公长得比你都好看，要不咱俩换？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨被怼得说不出话来，霍晓荧说道：“你不用搭理她，她这人就是爱闹。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;下午下班以后，姬北洋和屈敬龙前后脚到了饭店，进来后看到古木苍，两人都极为震惊，三人寒暄了好一会儿，才叫着小辈们谈正事儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;为了让大家都能有个整体的概念，便于分析黑衣人的目的，山伢子详述了他遇到的每一件事情，包括他娘生出鬼胎，被火行石灭掉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨听得瞠目结舌，原来霍晓荧跟她说的事情，还是不太严重的，像这种锥心刺骨的事，霍晓荧压根儿就没跟她说！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹也坐在旁边听，完全明白了这个圈子的可怕，但并没有退缩的念头，心里反倒更觉得兴奋。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对于龚钰丹来说，有幸能接触到这些绝大多数人都接触不到的事情，才算是不白活一回。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;听完了山伢子的讲述，大家一致认为，黑衣人最初就是利用山伢子给火行石解封，但是慢慢地发现控制不了山伢子，所以就想换宿主。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛又重申自己的想法，姬北洋也说道：“淋洛说得对，在我们家的传承中，并不是前任宿主死亡后才能传承。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈敬龙说道：“我家也是，似乎并不存在定向寄宿的问题，黑衣人应该就是把火行石拿走了，他的目的应该就是要切断庆山跟火行石的联系，以免庆山飞跃性地提升法力。”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>