<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第333章：熟人</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第333章：熟人
</div>
<div class="bookname">
	<h1>第333章：熟人</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第333章：熟人<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子从楼梯下来，问道：“师叔，怎么了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁也没回头，瞪着唐装男骂道：“这傻x，拿个破棍子撵这个姑娘，还说咱们养鬼。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看那个女孩儿，女孩儿看了山伢子一眼，突然大惊失色，松开钟离愁的衣服，惊恐地瞪着山伢子倒退。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧扶住了她，女孩儿惊着回头，霍晓荧说道：“不用害怕，他是我老公，我们都是好人，不管你是什么身份，我们都不会歧视你，更不会不问青红皂白就针对你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐装男明白了，其实霍晓荧这话就是说给他听的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐装男放下木剑，压低了声音说道：“原来是同道中人，冲撞勿罪，在下郝清风，未请教？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看钟离愁，钟离愁说道：“上楼说吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一众人上楼，吃饭的人不高兴了，有人说道：“你们咋回事儿？怎么每回戏都演半截？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;没人理他，有人就帮腔儿道：“这叫悬念，就是为了勾着你常来，现在做生意都他妈精得跟鬼似的！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;进了经理办公室，看到古芊芊坐在沙发上看书，郝清风愕然说道：“芊芊，你怎么在这儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所有人一愣，古芊芊抬起头，眼神也有些错愕，站起来说道：“郝叔叔？你怎么来了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“你们认识啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“认识，郝叔叔是我爸的朋友，我爸去世以后，偶尔会来看望我和我妈妈。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊又对郝清风说道：“郝叔叔，他是我……未婚夫，石庆山。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郝清风呵呵一笑，说道：“两年不见，都有未婚夫了，真是长成大姑娘了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那个女孩儿转身要走，霍晓荧一晃身挡住她，说道：“别急，认识不等于就会不辩是非黑白，事儿还是要说明白的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;女孩儿紧张地环顾众人，手足无措，身上的气息变得凌厉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郝清风再次举起木剑对着女孩儿，山伢子却挡在了女孩儿身前，说道：“郝叔叔，有话好好儿说。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郝清风微微眯眼，冷声说道：“她是妖！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“妖也有好坏之分，就像鬼一样，不能因为她是妖，就不问是非对错。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郝清风扭头看着古芊芊问道：“你怎么会看上他？慕灵知道吗？还是你私定终身？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉，说道：“郝叔叔，你这样说话有点儿过分了吧？他是火行石宿主，现在跟我姐，也就是她……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊指了霍晓荧一下，接着说道：“他俩现在都在我家住。再说，伢子也没说错什么呀，不管是什么物种，都有好坏之分。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你姐？”郝清风一脸茫然地看向霍晓荧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧也不说话，面无表情地看着郝清风，两年都没见过面了，估计也没什么太深的交情，而且就冲郝清风这么虎抄抄的，韩慕灵肯定也不会真拿他当朋友。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“晓荧，去看看哪个包间儿空着，人太多了，连个错身的地儿都没有。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好。”霍晓荧转身出去，片刻后回来，说道：“走吧，都去包间儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所有人都出去，山伢子落后两步，轻声问古芊芊：“什么情况？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊轻声答道：“简单来说，他喜欢咱妈，但咱妈烦他，说他脑子一根筋就算了，还总觉得自己很厉害，是个眼高手低，又不听劝的人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“妥了。”山伢子拉着她往外走。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“什么妥了？我告诉你，不许犯浑啊，再怎么说他也是咱爸的朋友，咱们是小辈儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“我知道。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;女孩儿姓章，名叫章嫦香，听这个名字，再加上她身上那股异香的味道，大家心里都有数儿了，她应该是一只麝。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然麝香是雄性分泌物，但她毕竟是妖，又是这个物种，所以身上有异香也不算奇怪。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;章嫦香说，她下山来是为了报仇，因为一个叫吴鹏的人，猎杀了她的哥哥。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郝清风拍案而起，厉声说道：“都听见了吧？她承认自己是妖，也承认自己是来害人的！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧冷声说道：“听见了，吴鹏杀了她哥哥。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郝清风怒视着霍晓荧，斥道：“你认为鬼和妖可以害人吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“说话客气点儿，她是我媳妇儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“什么？”郝清风一愣，随即看着古芊芊厉声问道：“芊芊，这是怎么回事？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊冷淡地答道：“我们家的事，不方便跟您解释。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郝清风又厉声问道：“慕灵知道吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊有点儿蹿儿了，大声说道：“我妈妈当然知道！双阴抱阳你不懂吗？再说了，你又不是我爸，你管得着吗！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郝清风愣住，古芊芊又说道：“我长这么大，我妈都没用这种态度跟我说过话，你凭什么！况且我还是水行石宿主，你知道宿主代表什么吗？你是看不起我们古家吗！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郝清风尴尬了，在他的印象中，古芊芊还是那个小女孩儿，完全忽略了宿主就是家主这个概念，当着这么多人的面，他以长辈的身份，以训斥的态度跟一位家主说话，这是向一个家族挑衅的行为！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郝清风连忙收敛了气焰，低垂着目光说道：“很抱歉，我没有看不起古家的意思，我是你父亲的朋友，我只是关心你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊冷声说道：“一见面我就跟你说了，伢子是我未婚夫，晓荧是我姐，这还有什么不明白的？你是我爸的朋友，难道不知道我是独生女吗？我敬你是长辈，但你也应该自重！我们古家虽然人丁不兴旺，可也不是谁都能居高临下地对我说话！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所有人都瞠目结舌，大家都知道霍晓荧厉害，但没有想到，古芊芊也这么厉害。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;章嫦香仔细打量古芊芊，心里莫名地对她生出好感。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“对不起。”郝清风一脸尴尬地道歉，然后又说道：“但是，妖有害人之心，我辈中人除魔卫道，责无旁贷！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嗤了一声，看着章嫦香问道：“那个吴鹏死了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郝清风瞪着霍晓荧斥道：“你这话是什么意思？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧没搭理他，依然看着章嫦香，等着她回答
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>