<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第443章：长得不像</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第443章：长得不像
</div>
<div class="bookname">
	<h1>第443章：长得不像</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第443章：长得不像<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;果然如山伢子所想，无名在沉默了许久之后，突然搂住了盈袖，说道：“自我初见你时，便知你是我命中的劫数。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;盈袖伏在无名胸口，羞红着脸颊轻声说道：“蒙君一幸，妾不枉此生。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两人进屋了，山伢子在外面站着，他倒是能跟进去，可跟进去干吗？看祖师滚床单儿啊？他没这嗜好。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可问题是，他怎么还在这儿站着？不是应该离开了吗？或者应该换个场景才对呀。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“娘！我们回来了！”欢快的少年声音在身后响起。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子愕然转身，看到一个十几岁的少年，眉清目秀，瓜子脸，穿着长袍，背着弓箭，手里拎着两只野免和三只飞鸟，而他身后跟着的人，骇然便是祖师。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一瞬间蒙了，这是过了十几年？这比电视剧还快呀！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;身后房门响，山伢子再次转身，看到盈袖从屋里出来，虽然风姿犹在，但眉目间已现出了岁月留痕。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子猛然坐起来，把霍晓荧吓一跳，问道：“又梦见什么了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子缓了一会儿才反应过来，问道：“我睡了多久？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧答道：“一天两夜。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“还好。”山伢子松了口气，他可真怕他跟梦里一样，一忽间就过了十几年。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧又问道：“你又梦见什么了？火行石亮了一天一夜。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子低头看火行石，此时已经熄灭了，答道：“我梦见祖师跟一个叫盈袖的女人在一起，还生了一个儿子。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊？”霍晓荧愕然看着他，好半天才说道：“祖师在世上有血脉流传？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子摇头，说道：“不知道，我看见他儿子了，但是……不知道最后怎么样了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“把你的梦跟我说说，说详细点儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子就把梦里的情景描述了一遍，霍晓荧听完后琢磨了一会儿，说道：“祖师娘自己不愿意修仙，那她肯定也不会让她儿子修仙，祖师在世上肯定有血脉流传。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“你太武断了，万一……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“没有万一。”霍晓荧打断了他，说道：“女人的心思你不懂，就冲祖师那么孤单，祖师娘也不会让她儿子修仙的，肯定会让她儿子重入尘世，去过正常人的生活。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子挠了挠头，但没再争辩，本来就是没影儿的事儿，何必争论呐。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧突然满眼热切地问道：“祖师娘像我吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一愣，答道：“不像，咋会像你呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧的眼神暗淡了下去，山伢子赶紧说道：“她没你长得好看。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“闭嘴！”霍晓荧白了他一眼，二百五！根本就不是好不好看的问题。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;芊芊跟素雪长得一模一样，如果她跟盈袖长得一样，或者是很相似，那么对霍晓荧来说是个安慰，也能更倾向于证明山伢子是祖师的转世。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;另外，山伢子在看到她失望的眼神后说这么一句话，只能说明山伢子是在有意哄她，祖师说盈袖美得像幻中仙子，都能破了祖师的修行，而据芊芊说，祖师好看得让人流口水，那盈袖怎么可能还不如她长得好看？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“白痴！”霍晓荧越想越气，抬手扇了山伢子脑袋一巴掌。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子捂着脑袋皱眉看她，这回倒没生气，因为像祖师那样牛X的人物，都被女人攥得死死的，那他还算个屁呀。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧生了一会儿闷气，说道：“我去看过许三丈了，他跟个没事儿人似的，估计是又跟图黛玉设好了什么套儿，等着咱们去钻呐，你能行吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“能行。”山伢子咬着牙答应，这会一定得弄死许三丈！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧又说道：“洪拓有重要信息，下楼吧，我叫他跟桃花儿过来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子答应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;叫上古芊芊下楼，古木苍先问道：“伢子，你真的能做到以气化形吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一脸茫然地看着古木苍，古木苍解释道：“就是你砍死鬼将军的那把剑，是你凭空弄出来的吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子眨了眨眼睛，霍晓荧愕然问道：“你不会忘了吧？你还记得鬼将军吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子眼神儿发直，想了一会儿才答道：“记得……可是……我不记得怎么……是我把他杀了对吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所有人都看着山伢子，洪拓说道：“可能最后以气化形的时候，消耗了太多的精神力，短暂失忆，或者当时处在某种无意识状态，都是有可能的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍和韩慕灵一同点头，或许这更能说明，山伢子的确是做到了以气化形，只是他本身的能力原本是达不到的，但迫于当时的情势，不知怎么就骤然提升了精神力，所以很可能对大脑造成了局部损伤。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵说道：“咱们有话快说吧，说完了我带伢子和芊芊去医院照片子。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“我还照啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵说她：“有科技手段为什么不利用？你怎么那么排斥上医院？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“不喜欢医院的味道。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“先说正事儿吧，有人去找了我师兄……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓把他从道清那里得到的消息说了一遍，其实主要就是说给山伢子听，因为在山伢子昏迷的时候，洪拓已经跟其他人都沟通过了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵说道：“我们认为，这个素茗，有可能就是黑衣人，而他这么反复无常，跟神经病似的做法，应该是为了掩盖其真正的目的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“不算我，我认为他就是神经病。他抢了火行石，然后找不到宿主，就想用火行石引发五行世家内斗。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“素雪……素茗……”山伢子念叨这两个名字。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊伸出手指敲他的脸，问道：“怎么了？想不起来素雪是谁了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看她，又转头看霍晓荧，问道：“你觉得潘小龙是神经病吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧一愣，山伢子说道：“他喜欢你，也喜欢芊芊，他跟我较劲不是一年两年了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所有人都很意外，因为都没往这方面想。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊愕然问道：“你的意思是说……他喜欢我啊？”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>