<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第342章：等等看看</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第342章：等等看看
</div>
<div class="bookname">
	<h1>第342章：等等看看</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第342章：等等看看<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫小北追了出来，拦住莫震南问道：“三哥，你什么意思？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震南一脸不解地问道：“什么我什么意思？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫小北说道：“大哥跟二哥打起来了，你怎么一声不吭就走？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震南嗤笑，说道：“他们打起来，跟我有什么关系？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫小北问道：“你不觉得奇怪吗？莫思哲跟荆少华为什么会去莫林市？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震南笑了笑，说道：“我不关心，跟我没关系。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“三哥！”莫小北唬着脸说道：“你能不能别总这个样子？好歹是家里人的事吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震南说道：“我关心又能怎么样？有人听我的吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫小北咬牙，沉默了片刻，问道：“三哥，你觉得莫思哲这件事是谁做的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震南答道：“又没见着遗体，只是知道死了，哪会知道是谁做的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫小北又问道：“那你说他们为什么会去莫林市？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震南失笑，反问道：“你干嘛总问我呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫小北坦然答道：“因为我妈说，家里只有你一个明白人，有事一定要问你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震南微笑着摇头，说道：“小北，你是女孩子，年纪又小，无论怎么样，你都当不上掌门。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我知道。”莫小北压低了声音，说道：“我没想当掌门，我去争，是因为你不争，我不希望别人当上掌门，咱爸走了，我跟我妈没了依靠，如果再让别人当上掌门，我跟我妈可能就要净身出户了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震南沉默了片刻，说道：“你想多了，大哥虽然脾气不太好，但也不至于六亲不认，毕竟你是爸的亲生女儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫小北看着他问道：“你觉得大哥能争过二哥吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震南再次沉默，莫小北压低声音问道：“莫思哲他们去莫林市，是不是你安排的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震南皱眉，问道：“你怎么会这么想？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫小北低声答道：“因为莫思哲是二哥的软肋，如果莫思哲懂事听话，那就没问题，可现在恰恰相反，他不但去惹事，还把命送了，二哥想争掌门，先得把这件事解释清楚。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震南微笑着拍了拍莫小北的肩头，说道：“不是我，我虽然很讨厌那个孩子，但是我指挥不动他。不过你说得对，这件事够二哥喝一壶的，我去喝茶了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;饭店的损失并不大，也没有被勒令停业整顿，因为虽然事故原因不明，但现场情况很明显，是受到外界震荡造成的，饭店也是受害方。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过定做玻璃需要时间，所以钟离愁决定暂停营业，毕竟不能让客人坐在透风的饭店里吃饭，那不成了大排档了吗。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子等人还是来了饭店，把莫思哲跟荆少华死亡的消息告诉了徐四和钟离愁，也说了韩慕灵的分析。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四叹了口气，没有说话，昨天晚上他就觉得不对劲儿，因为钟离愁心思比较细密，在装修的时候就考虑过玻璃的问题，怕有人喝多了撒酒疯，砸碎玻璃伤着人，所以整个饭店用得都是钢化玻璃。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;以一次震荡，就将一楼所有的钢化玻璃全都震碎，而且还伤了人，这种法力强度不是莫思哲这种货色能达到的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;因为钢化玻璃破碎后，形成的是钝角细碎颗粒，极其不容易伤到人，伤到人的唯一解释就是碎颗粒在冲击波的作用下，通过高速运动造成的线性擦伤。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四赞同韩慕灵的分析，这是人为设局，但这个局怎么看，都不像是针对他们的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是，虽然不是针对他们的，可他们毕竟也是局中的一分子，否则也不会牵连进去，问题仅仅是，莫思哲和荆少华的作用是什么？他们的作用又是什么？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁倒是一副无所谓的样子，坐在章嫦香身边，眉眼带笑地夸奖章嫦香，说要不是有章嫦香，根本就找不着施法的人，说的话甜腻到让所有人都觉得尴尬。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看着徐四说道：“师父我错了，咱现在应该咋办？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四笑了笑，说道：“火从心，你心气儿高也很正常，现在的局面不明朗，还是要沉住气，静观其变，很多时候，一动不如一静，咱先等等看看。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一等，就等到开学了，潘小龙跟尚亚坤都被莫林科大录取，该去报到了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;报到前一天的晚上，钟离愁特意嘱咐山伢子做一桌硬菜，说是要欢迎潘小龙跟尚亚坤。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;本来潘小龙还挺不好意思，结果开席以后，钟离愁却给潘小龙泼了一盆冷水。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁的话很直白，说潘小龙眼比风筝高，手比马扎儿低，同样都是弟子，跟山伢子没法比。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙拧着眉头争辩，说山伢子比自己天分高，而且不用上学。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁笑，说道：“就一样，咱们这一门的功法都在做菜上，你告诉我，为啥你不想去厨房帮忙儿，非要当服务员？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙眼珠子乱转，钟离愁说道：“我替你说，当服务员能见着客人，你是想着哪天能泡上个白富美，对吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙说道：“师叔，您这是给我开席呐，还是开课啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁说道：“要不是你管我叫师叔，我才懒得说你，我今天说你，是因为你要开学了，你岁数也不小了，心思也该长大了，到了学校别再犯这毛病。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙掉着脸不说话，尚亚坤问道：“钟叔儿，我们放假还能来打工吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁说道：“放假你不回家呀？爹妈生养一回，翅膀还没长硬呐，就不着家了？我今天给你们办这个欢送宴，就是告诉你们，别再来了，跟我这儿啥也捞不着，该干嘛就干嘛去，懂吗？来，开吃！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;饭吃到一半，章嫦香突然吸了吸鼻子，然后抬手掩着口鼻说道：“好臭，小莹，是那个人的气味儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧一愣，楼下响起惨叫声，一群人赶紧冲出套房，跑下楼梯。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;楼下，莫思哲掐着一个小男孩儿的脖子，将小男孩儿举在半空中，一个少妇哭喊着扑上来，却被荆少华一脚踹开，摔得远远的，想挣扎着起来，胳膊腿却使不上力气。
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>