<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第424章：一梦入神机</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第424章：一梦入神机
</div>
<div class="bookname">
	<h1>第424章：一梦入神机</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;&quot;第424章：一梦入神机<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉，心里有种异样的情愫在迅猛地滋生，眼前这个帅哥……不对，帅哥都不能形容他的俊美，必须用美男这个词。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;眼前这个美男，给她的感觉竟然是欲火中烧！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊咬紧了嘴唇，她是在做梦吗？可是……感觉美男跟她可以互动啊，而且这么真实……难道是跟伢子一样，她被水行石带入了深层记忆？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可是她怎么会有深层记忆？水行石是祖师的……等会儿，这人是？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊试探着问道：“我是谁？你又是谁？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;美男眼眸一滞，随即微微一笑，三分斥责，七分宠溺地说道：“为师无名，你是为师的弟子，素雪。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊脑袋嗡的一声，他真的是祖师！祖师长得这么美，好想睡一下啊……不对，怎么只想到这个？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊站起来，四下环顾，身周尽是苍松翠柏，远处云涛翻涌，晚霞如锦。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;无名看着她，问道：“素雪，你方才神游何处？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉，想了想答道：“师父，我失忆了，想不起来是怎么回事了，师父能告诉我吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;无名面色微嗔，斥道：“越大越没规矩，皆因为师太过骄纵于你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊用审视的眼神看着无名，心里算不出这是什么情况，说是梦吧？可明明祖师是在跟她对话，而她说的话也都是自己想说的，并没有变成另外一个人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可要说不是梦的话，难道她穿越了？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;无名微微俯身，偏着头看她，古芊芊与他对视，心里突然涌起一股冲动，忍不住凑向他的嘴唇。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;无名退了一步，眼眸中划过一丝诧异的神色，古芊芊尴尬地低下头，脸蓦然间发烫。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;无名沉默了好一会儿，说道：“你坐下。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊依言坐下，无名又说道：“盘膝而坐，五心朝天。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊摇头，说道：“我做不到五心朝天，我左腿盘不上去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;无名微微一笑，说道：“那便盘膝而坐吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊盘膝坐好，无名在她对面盘膝坐下，看着她说道：“一梦入神机，身魂两相依，今朝有幸会，宿世轮转急，传汝通天法，续吾百年息，待到重逢日……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;无名顿住，嘴边笑意渐浓。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊愕然看着他，说道：“师父，还有一句。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;无名微笑，说道：“为师传你功法，你要好生修炼。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子和霍晓荧回来的时候，古芊芊裹着浴巾盘坐在床上，周身罩在一层白光之中，水行石同样也亮着白光，但不像火行石那样一呼一吸，而是持续的亮着。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子指着古芊芊，用诧异的眼神看霍晓荧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧轻声说道：“你看我有啥用？我也不知道她这是咋回事儿……应该是练功呐吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子就坐在床边的地下看着古芊芊，从晚上八点多，一直盯到凌晨三点，中间吃了一碗泡面，上了一回厕所。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊身上的白光渐渐褪去，山伢子站了起来，但还是不敢惊动她。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;又等了将近二十分钟，古芊芊才缓缓睁开双眼，直愣愣地看着山伢子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子轻手轻腿地坐在床边，看着她问道：“媳妇儿，你没事儿吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊盯着山伢子，半晌才问道：“我是谁？你又是谁？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子心里咯噔一下，咽了口干沫才说道：“你是古芊芊，我是石庆山，你是我媳妇儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊伸出双臂搂住山伢子的脖子，吻上他的嘴唇，状似饥渴地吮吸。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧张大了眼睛，片刻后转身出去了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子搂着古芊芊，抚着她光滑的后背，古芊芊伏在山伢子胸口，略显急促地喘息着。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子轻声问道：“你今天这是咋了？像变了个人似的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊摇了下头，不回答。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子逗她：“要不要再来一次？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好啊！”古芊芊骑到他身上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;第二天，三人返程，霍晓荧拉着古芊芊坐在后座上，侧着身看着她。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊鼓着嘴，不好意思地低着头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“说说吧，到底咋回事儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊轻声答道：“回去再跟你说好不好？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧点头，说道：“也行。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;回到家，把山伢子赶回屋歇着，古芊芊把自己神游的事告诉了霍晓荧，之所以说是神游，因为古芊芊认为，那不是个梦，尤其是祖师说的那几句谶语。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“一梦入神机……”霍晓荧琢磨了好半天，轻声说道：“少一句，而且明显是没说完，那会不会是……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧也认为，古芊芊应该是神游了，或许当时素雪在修炼，所以古芊芊就神游到她的肉身里去了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而祖师也发现她不是素雪，但似乎是算出了什么，所以才说了七句谶语，之所以少一句，应该是祖师算不出来重逢之后到底会怎么样，所以根本没法儿说。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊问道：“谁跟谁重逢？祖师和素雪吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧点头，张大了眼睛说道：“你是素雪，伢子是祖师？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“怎么可能？”古芊芊皱眉说道：“姬淋洛是祖师的可能性都要比伢子大很多。再说了，素雪得了祖师毕生功力，她不会成仙吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“你傻了？伢子上回梦到祖师，祖师说他六百一十岁，已经活到了地仙的寿数，也就是说，即使成仙，也是有寿数的，素雪除非可以飞升，否则从那时候到现在，没准儿都死了几个过儿了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊咬着嘴唇沉默。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧轻声问道：“祖师长得比姬淋洛还好看？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”古芊芊点了两次头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧坏笑着说道：“所以你醒过来以后，就拿伢子去火？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“什么呀~”古芊芊皱眉说道：“是因为少了一句谶语，我心里害怕，其实我也觉得是祖师算不出来，或者是结局不好，所以祖师才没有把谶语说完。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“但是，不管我是不是素雪，我肯定是那个要重逢的人，否则祖师也不会对着我说。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧收起玩闹的心思，郑重地点了点头，说道：“你说得对，这次神游不能确定你是素雪的转世，但可以确定，祖师要与你重逢，那你觉得，伢子是不是祖师的转世？”&quot;
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>