<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第433章：要骨灰</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第433章：要骨灰
</div>
<div class="bookname">
	<h1>第433章：要骨灰</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;&quot;第433章：要骨灰<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋尴尬地笑了笑，没再说话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子翻开首饰盒，火行石亮起红光，山伢子掀开布片，把火行石拿出来戴到脖子上，火行石熄灭了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋说道：“那块布也是黑衣人的，用来包火行石的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子想起那天晚上的情景，黑衣人就是用一块布包住了火行石的，于是拿起布片展开，这是一块形状不规则的布片，两巴掌大小，长条形的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“这像是从衣服上撕下来的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子将布片递向洪拓，说道：“你看看。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓试探着伸手，毕竟这是黑衣人用来包火行石的，不好说这块布有没有什么特殊的能力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧抢先捏住了布片，停了一下才转手递向洪拓，说道：“没事儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓有点儿尴尬，霍晓荧说道：“既然是包火行石的，我连火行石都能戴，肯定比你安全。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓笑了笑，接过布片，对着灯光仔细地看了一会儿，说道：“就是从衣服上撕下来的，而且这块布有年头儿了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“会不会是祖师的衣物？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“我也是这么想的，能隔断火行石的自主攻击，应该是祖师遗物。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓将布片递还给山伢子，说道：“即使是无名观祖师的遗物，估计也只是对五行石起作用，没有其他的用途。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子举着首饰盒问姬北洋：“叔儿，这个盒儿是谁的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋答道：“也是黑衣人的，你都留着吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“行。”山伢子答应，把布片放进首饰盒里，然后站起来说道：“叔儿你坐会儿，我去做菜。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋也站了起来，说道：“我回去了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“姬叔叔，吃点儿夜宵再回去吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋微笑着答道：“我不吃了，人上了岁数，晚上要少食，而且我在这儿，你们也拘束，我回去了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“我送您。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;第二天中午，山伢子把情况详细地告诉了古木苍和韩慕灵，古木苍说了一些自己的看法，大概意思也是赞同山伢子的观点，不用太在意黑衣人想干什么。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;因为在意也没有用，以黑衣人的本事来讲，他们根本就是防不胜防，倒是图黛玉这件事应该优先、尽快解决掉，聚魂桩、魅鬼，下回还不知道是什么东西呐。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵却从始至终保持沉默，直到山伢子三人走了以后，韩慕灵才对古木苍说道：“姬家肯定有把柄落在黑衣人的手里。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍看着他，韩慕灵解释道：“如果只是出于安全考虑，姬北洋完全不必要这么被动，即使不能跟伢子他们说，也应该跟咱俩通个气，至少能保证万一出现意外，他们家不会背上污名。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍沉默了一会儿，说道：“不管是什么把柄，应该都不是现有的两代人做的，从能力上来讲，他们能做的事有限。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵问道：“那为什么姬北洋情愿受胁迫而不留后手呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍又沉默了一会儿，摇了摇头，说道：“人心难测，很难说得准，现在我倒是觉得晓荧说得对，应该先追溯五行石的历史。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵又说道：“数百年的传承，几经战乱，恐怕无论要找什么，都不会是容易的事。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍笑了笑，说道：“算了，别费神了，一人做局，十人难解，顺其自然吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子三人到了饭店后，山伢子跟徐四开车去找许三丈。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如今许三丈已经是会馆负责人了，穿得西装笔挺，头发也梳得油光铮亮，还配了一个妖艳的女秘书。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四和山伢子走进办公室，许三丈连忙站起身笑脸相迎，伸着手说道：“徐大师，稀客稀客，快请坐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许三丈只搭理徐四，而对山伢子正眼儿都不看一下，山伢子心里明白，这小子记仇，因为在江边初次相见，他差点儿把许三丈打死。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;坐下后，许三丈让秘书去冲咖啡，徐四说道：“不麻烦了，我们这次来，是想请你把图黛玉的骨灰给我们。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许三丈一愣，愕然问道：“徐大师，您这是什么意思？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四就把聚魂桩和魅鬼的事说了一遍。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许三丈笑得有些不自然，坐在老板椅上琢磨了一会儿，说道：“如果是我师父回来了，应该来找我呀，会不会是那个魅鬼说谎？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子嗤了一声，说道：“你师父的名头有多响？是个人就知道他吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许三丈还是没看山伢子，对徐四说道：“徐大师，实不相瞒，自从我师父遇害之后，我就再没见过他，我也试着招过他的魂，但是根本招不到。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子又说道：“你连鬼眼都没有，你招魂有用吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许三丈有点儿要蹿儿，眼神不善地瞪向山伢子，冷声说道：“我师父有法力，我虽然没有鬼眼，但我师父可以显形啊！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四问道：“许先生，你是不愿意把图黛玉的骨灰给我们，对吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许三丈缓和了一下神色，微笑着说道：“徐先生，仅凭您一面之词，就要我师父的骨灰，您不觉得有些过分吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“那我这么说吧，现在有人指认图黛玉在我的饭店捣乱，还准备对付我们，我们想先发制人，就得向你要图黛玉的骨灰，如果你不给我这个面子，我就只能先对付你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许三丈一愣，随即皱起了眉头，徐四说道：“我只是借用一下，用完了就还给你，那是骨灰，我留着它有什么用？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许三丈点了点头，说道：“那好吧，但是现在不行，我师父的骨灰不是葬在公墓里，而是葬在会馆后院儿，我得找人挖出来才能给你们……你们明天来拿吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好。”徐四站起来说道：“那就麻烦你了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不客气。”许三丈点头示意。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;回家的路上，山伢子问徐四：“师父，不能就在他后院儿拘魂吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四答道：“可以呀，但是白天不行，天黑以后你带洪拓来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“那要不要跟许三丈说一声，让他不用找人挖坟了。”&quot;
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>