<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第16章：车坏了</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第16章：车坏了
</div>
<div class="bookname">
	<h1>第16章：车坏了</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第16章：车坏了<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;从靠山镇到钰县并不远，但因为是晚班车，所以开车的时候儿天就已经擦黑儿了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;车上的人也不算多，还有空位，山伢子心里有点儿激动，这是他头一回坐汽车，座位软软乎乎，车开起来忽忽悠悠，不仅舒服，还挺有意思。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;靠山镇的名字，来源于它座落在群山之中，所以从靠山镇到钰县，要走很长一段儿盘山路。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;天黑路滑，司机开得也慢，晃悠了二十多分钟，山伢子居然有点儿犯困了，按说这个时间正是精神的时候，因为这个时间，食味小厨差不多该开门儿营业了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子抬起手搓了搓脸，好容易坐汽车出趟远门，他可不想睡着了，扭脸儿看车窗，想看看外面的景儿，可车窗上结了霜，又因为车厢里开着灯，所以根本看不到外面，只看到自己的倒影。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不知道为什么，山伢子觉得自己的倒影很陌生，感觉那不是自己，而是别的什么人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子瞪着车窗里的倒影看，看了一会儿，倒影的嘴角儿慢慢向上挑起，逐渐露出一个诡异的笑容。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子心里咯噔一下，自己没笑啊，为什么倒影在笑？还笑得这么难看……山伢子以为自己眼花了，使劲挤了挤眼睛，又用手揉了两下，再睁开眼晴看，倒影还是保持着那个诡异的笑脸。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子想转回头，可心里又不踏实，但要是一直这么盯着，什么时候是个头儿啊？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;或许是想多了，自己吓自己。这样想着，山伢子扭回了头，一缕纤细的声音钻进耳朵里：“石庆山……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一激灵，谁在叫他？没睡觉也能叫魂儿吗？还是他其实已经睡着了，现在是在做梦？要不车窗上的倒影怎么会笑？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“喂！”一个清脆的声音在身边响起。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一哆嗦，猛然抬起头，看到一张青春靓丽的俏脸，留着半长不短的黑发，眉眼如画，穿着乳白色长羽绒服，脸蛋儿红扑扑的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;女孩儿明媚的笑着，问他：“都什么年代了，你怎么还用样式这么老旧的伞？风大点儿就吹跑了。再说了，现在是冬天，又不下雨，你一个男孩子，还要打着伞遮雪吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;顿了一下，女孩儿的眼神有了些变化，轻声问道：“你是伪娘吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子家虽然没有电视，但别人家有电视，为了显摆，经常叫着全村人去看电视，所以山伢子知道这个词的含义，当时就涨红了脸，大声说道：“我家是做手工艺，这是拿给客户看的样品。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦！呵呵呵呵……”女孩儿笑得很欢快，说道：“我看你也不像，长得这么粗犷。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子向车厢内扫了一眼，居然没人搭理他们，都在自己的座位上歪着，山伢子心里打了个突儿，人都应该喜欢看热闹儿吧？他刚才嚷那么大声儿，为什么没人往这边儿看？这女的不会是鬼吧？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;想到这一层，山伢子不再理那个女孩儿，停着头靠着椅背儿，但也不敢闭上眼睛装睡觉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;女孩儿却坐在了山伢子身边，满脸笑意地看着他说道：“人儿不大，脾气还不小，我不就是随口一问吗？至于就生气了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子不看她，语调儿平淡地答道：“我没生气。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;女孩儿问道：“那你为什么不理我了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“我又不认识你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;女孩儿咯咯一笑，说道：“我叫张小莹，你叫什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“石庆山。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;见山伢子不爱搭理自己，张小莹嗤了一声，翻了个白眼儿，靠在椅背儿上，从背包儿里拿出一包零食撕开，用纤细的手指拈着吃。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一边儿盯着自己的胸口，一边儿用眼角的余光观察张小莹，灵石没有发光，至少说明没有危险，就算张小莹是鬼，应该也跟姌姨一样，不会害他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;车子又走了一个多小时，突然抖了几下，车厢里的灯灭了，车子慢慢的停了下来，司机骂了一句脏话，然后转回头大声说道：“对不住啊！车坏了，离钰县还有五公里，大家伙儿走过去吧，再派车来至少也得两个小时，别再把大家伙儿冻坏了，走走还能热乎儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;有人不高兴地说道：“你说得轻巧，我带着几十斤的大包儿，怎么走啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;司机答道：“带着重物的可以等，我这就打电话联系调度，让公司再派车来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;顿了一下，司机又问道：“有没有人要下车？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹对山伢子说道：“咱俩走吧？别跟这儿冻着了，五公里也就走一个小时，咱俩路上还能聊聊天儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子不说话，用戒备的眼神瞄了她一眼，答道：“我不认识路。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哈……”张小莹笑出声儿来，说道：“就一条路，顺着走不就行了，跟我走吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完站起来，大声招呼道：“司机师傅，我们下车。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;司机打着电话，没有回答，却按了开门的按钮，前面的车门打开了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹伸手扯了下山伢子的衣袖儿，说道：“走吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子迟疑了一下，拿起油纸伞跟着她下了车。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子跟张小莹下车的理由有两个。一个理由是走一个小时比冻两个小时要好得多。另一个理由是张小莹说话司机能听到，总不会司机也是鬼吧？所以张小莹是活人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;星稀月朗，两人顺着路往前走，张小莹用手捂着脸，只露着眼睛看路，走了十几分钟，张小莹突然停住脚说道：“我后悔了，太冷了，咱们回车里去吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，这人咋回事儿，想一出儿是一出儿，说道：“你回去吧，我还有事儿要办呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;四叔说方友同是被执念困在了出车祸死亡的地点，只要带着他离开那个地点，到达钰县后，方友同自己就能回家了，所以只要走到钰县，把方友同放出来就算完事儿了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子又不怕冷，没有张小莹跟着，他反倒走得还快，赶紧到钰县，先让方友同带他去长途车站，买张票，在候车室待一宿，明天一早就能回家了，在车上睡一觉，到家以后啥都不耽误。
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>