<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第680章：重逢</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第680章：重逢
</div>
<div class="bookname">
	<h1>第680章：重逢</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第680章：重逢<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊……”四臂煞神狂吼，士可杀不可辱的概念，在哪个圈子都是一样的。手机端 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;四臂煞神挥起九环刀斩落，其实他根本看不清古芊芊，四个古芊芊连成了一个圈，感觉有无数个古芊芊在眼前乱晃。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊并不是有意要激怒的，是真的觉得他的样子很好笑，没想到四臂煞神这么容易冲动了，正所谓歪打正着，也算是时运高吧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊在四臂煞神的右后侧提剑纵步，一剑刺向四臂煞神的右下臂的末端。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊在围着四臂煞神转圈儿的时候观察到一个细节，四臂煞神的四条胳膊并不完全能够得心应手的使用，两条下臂要臂迟缓一些，虽然不明显，但是有差别。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尤其在四臂煞神挥落九环刀时，古芊芊看到他的右下臂出现了须臾的阻滞，须臾是很短的时间单位，但在高手眼，这须臾之间，便可以定胜负了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊……”四臂煞神惨叫，整个右下臂掉落在地。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊没敢留手，因为不明底细，况且使用分身术消耗的法力巨大，她不敢再试探，所以这一剑用了十成的功力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;四臂煞神狂吼着追赶砍断他手臂的古芊芊，而实际古芊芊已经换到了他身后，一剑横扫，将四臂煞神的两条腿齐着膝盖斩断。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“贱人耍诈！”四臂煞神壮硕的身躯向前扑倒，却在着地前猛然翻身，将三柄兵刃同时掷向古芊芊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你是不长记性。”古芊芊又到了四臂煞神的后面，这次是脑袋后面。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一剑刺出，四臂煞神的三条手臂同时一僵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊！”绿莹失声惊呼，怎么都没有想到，威风赫赫的四臂煞神，竟然如此轻易地被古芊芊斩杀。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊抽回秋霜剑，甩了一下，虽然剑身并没有血迹，然后左手悬在四臂煞神的胸口，将四臂煞神的妖丹吸了出来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;灵信凑了过来，用鼻端轻贴古芊芊的手背。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊微笑着说道：“这一颗先不给你，既然我已下了杀手，这一战再所难免，少不了你的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;灵信应道：“是。那这只妖的尸身？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“你吃了吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;灵信一口将四臂煞神的尸身吞掉，然后又去找那两条小腿和胳膊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊托着妖丹转回身，看着瞠目结舌的绿莹问道：“你真的等了我三年？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;绿莹愣愣地看着古芊芊，好一会儿才突然反应过来，连忙单膝跪下，低着头说道：“属下万不敢胡言，仙姑可以作证。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊微笑着说道：“好，辛苦你了，这颗妖丹给你吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;绿莹猛然抬起头看着古芊芊，满脸惊喜地问道：“当真？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;随即又惊觉失态，连忙双膝跪地，叩头说道：“多谢法师恩赏。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊微笑着说道：“罢了，起来吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;绿莹直起身，低着头高举双手，古芊芊将妖丹放在她手掌，然后问道：“能化得了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;绿莹微一迟疑，古芊芊说道：“吃了吧，我助你便是。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“多谢法师！”绿莹喜不自胜，连忙吞下妖丹，然后盘膝坐下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊左手按在她头顶，将真气徐徐注入她的体内。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;灵信把四臂煞神的四件兵刃都捡了回来，古芊芊微笑着问道：“你捡这些做什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;灵信把兵刃放在地，答道：“我看观主拿的是一柄凡剑，这妖怪的兵刃材质极佳，将来可以为观主炼制趁手的兵刃。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊微笑，说道：“有心了，不过你得背着。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;灵信张了张嘴，古芊芊问它：“你是在笑吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;灵信问道：“很难看吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊微笑着答道：“还好。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;约莫一刻钟，绿莹睁开眼睛，古芊芊收回手问道：“化尽了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;绿莹翻身跪在古芊芊面前，满眼晶莹地说道：“多谢法师恩赏，大恩大德，绿莹没齿不忘！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完又要叩头，古芊芊扶住她肩头说道：“罢了，举手之劳而已，不必如此，快带我去见卿琴吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;了东叠峰，看到一处山寨，碎石垒墙，荆木为门，门两侧各有一个箭楼，门方有一条横道，四名劲装女子背着铁胎弓，间隔一致地站在面。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;绿莹脆声喊道：“速报仙姑！素雪法师来了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;寨门应声向内拉开，门四名女子一同抱拳躬身，齐声说道：“恭迎法师。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊从灵信背跳下来，刚走到灵信头前，看到卿琴出现在寨门处，像当年一样，祼着肩，露着腰，光着腿，俏丽的脸青春洋溢，如瀑的秀发随风飘舞。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴离着老远嗔道：“你这个死丫头！我等了你足足二百三十一年，你死哪儿去了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊蓦然胸口一热，往事历历涌心间，双眼发酸，视线变得模糊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴走到近前，一手搂住古芊芊的腰，一手托着她的下颌，媚笑着说道：“哎哟~还是这么爱哭，我瞧瞧样子变了没有……嗯，还好还好。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊哽咽着唤道：“姐姐，多谢你了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴媚笑着说道：“谢我作甚？倒是我该谢你，三百年的约定，你竟未食言，真应了你那句千金一诺，生死不悔的誓言，来来来，我有好多话要跟你说。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完松开古芊芊的腰，握住她的手，十指相扣，扭脸看着灵信问道：“是座骑还是朋友？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;灵信答道：“座骑。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“朋友。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴咯咯一笑，说道：“那是宠物喽，过来我摸摸头。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;灵信听话地伏下头凑过来，卿琴伸出戴着花环的手摸了一下，微一皱眉，问道：“几百年了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;灵信答道：“七百年。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴又问道：“不能化成人形？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;灵信答道：“不能。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴看着古芊芊问道：“哪儿来的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“途经我国两界山，它受天雷之劫，我助了它一臂之力，此事说来话长。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴指着绿莹说道：“她与你的……嗯……叫什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;灵信和古芊芊同时答道：“灵信。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴说道：“绿莹与灵信同属，绿莹……你好像变了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;/bk
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>