<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第807章：目击者</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第807章：目击者
</div>
<div class="bookname">
	<h1>第807章：目击者</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第807章：目击者 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看着刘丹霞问道：“你找我们是什么意思？想让我们帮你杀人呐？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘丹霞答道：“她害死了我，为什么她能活得好好的？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“你能证明是她害死你的吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘丹霞说道：“还用证明吗？桥上就两个人，不是她把我推下去的，还能是谁？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“也可能是鬼呀。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘丹霞问道：“那为什么推我不推她？为什么我死了她活着？总归是她提议来河边玩的吧？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，歪理也是理，而且常常歪理很难扳正。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊问刘丹霞：“你在附近看到过山精吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘丹霞一脸茫然地问道：“那是什么东西？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“山中的一种小精魄，一般都是这么大，圆滚滚的，发绿光。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘丹霞问道：“那不是鬼火吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊问道：“在哪边？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘丹霞往身后的山林一指，答道：“这边。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“跟我来。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘丹霞这种人脑子一根筋，从交谈中就能感觉得出来，她认定的事情，除非有铁一样的证据，否则很难改变她的想法。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过可以确定，附近有山精出现，但刘丹霞认为那是鬼火。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;鬼火是鬼在移动的过程中产生的一种能量转化，活人能看见鬼火，但是鬼看不见，鬼看见的只是鬼，所以刘丹霞看见的‘鬼火’肯定就是山精。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;找山精的过程中，古芊芊又问刘丹霞：“在你之后，还有人掉进河里吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘丹霞答道：“没有。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊微觉诧异，追问了一句：“真的没有？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘丹霞没好气儿地答道：“我死了，就有人整修了索桥，他们要是早点儿整修，我就不用死了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊没说话，因为不想跟她争论，她怨气重，争论只会使她更暴躁。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;实际上不管是什么桥，都是用来走的，不是让人坐在边儿上玩的，古人云，君子不立危墙之下，说得就是人应该主观意识上远离危险。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘丹霞既不是低能儿，也不是岁数太小不懂事，所以她的死，她自己要负至少一半以上的责任。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;远远地看到一只山精，古芊芊手掐法诀轻轻一招，山精被吸了过来，尖叫道：“救命啊！饶命啊！不要吃我啊！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“你别怕，我是仙茗山无名观的。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;之所以这么说，是因为这里的山林依然还属于仙茗山范围。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山精问道：“你叫什么名字？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“我叫古芊芊。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山精接口叫道：“原来是古夫人呐！吓死我了，吓死我了，还以为要被吃了呐。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊微笑着问道：“你知道我？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山精答道：“知道知道，有同伴传话了，说无名真君回来了，前事一概不究，如果发现有什么特异的情况就去无名观禀报，还能得到奖赏，古夫人，是真的吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“是真的……” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘丹霞突然冷声打断了古芊芊：“你找这东西就是为了聊天啊？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山精尖叫道：“大胆！放肆！敢对古夫人无礼，你就不怕灰飞烟灭吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘丹霞皱眉，古芊芊失笑道：“我没那么凶。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山精说道：“你是不凶，可是无名真君凶啊，你现在是她娘子，有人对你无礼，他肯定会痛下杀手的。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“不至于。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山精问山伢子：“你谁呀？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“我就是无名真君。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山精说道：“你不是，你长得这么丑，怎么可能是无名真君，你敢占古夫人便宜，我要去禀报！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完就跑，山伢子皱眉，总被自己的前世打脸，这事儿也挺闹心的。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊笑着把它招回来，说道：“他真的是无名真君，不过是转世而已。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘丹霞又说道：“你们要聊到什么时候？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子斥道：“你给我搞清楚，我们不是来帮你杀人的，实际上我们已经很确定你有害人的想法，完全可以立刻将你打落黄泉。我们帮你查找真相，是想消解你的怨气，给你一个更好的选择，别以为我们欠你的！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘丹霞下意识地退了一步，因为山伢子身上的气息变得凛冽。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山精说道：“观主饶命啊，不知者不怪罪，我不是有意贬损观主。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊微笑着说道：“没事儿，他不会跟你计较这种小事的，我问你，这个女鬼你见过没有？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山精答道：“见过，几年前被一个鬼推进河里淹死的。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你胡说！”刘丹霞突然暴怒，嚷道：“我不是被鬼推下去的！我是被缪晓丽推下去的！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山精尖叫道：“你才胡说！我看见了！我天天在这附近转，你就是被一只鬼推进河里的，你敢说我对观主和古夫人撒谎，我弄死你！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完就向刘丹霞冲去，古芊芊一伸手抓住了它，刘丹霞不认识山精，也不知道它其实就是虚张声势，所以吓得连连后退。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“别闹腾，我问你，在这个女孩被害死以后，你还见过那只鬼吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山精答道：“没见过，可能是个过路的。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊微微皱眉，过路的？一个过路的鬼，为什么要害死一个小女孩？ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘丹霞又嚷道：“它瞎说，什么过路的鬼，就是缪晓丽把我害死的！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我弄死你！”山精直接撞在了刘丹霞脸上，因为古芊芊在琢磨，所以没来得及阻止。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘丹霞吓一跳，但随即反应过来，这种小东西的能量小得可怜，于是立时变了脸，伸手抓向山精。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子抬手一挡，顺势在她肩上推了一下，将她推出一米多远，山精赶紧飘回到古芊芊脸旁边，尖叫道：“吓死我了！吓死我了！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘丹霞用怨毒的目光瞪着山伢子，山伢子冷声说道：“它只是个山精，天生地养之物，没什么能量，也没有伤着你，你没必要下狠手。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘丹霞同样冷声说道：“我看你们也不打算帮我。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完转身飘走，山伢子手掐法诀，古芊芊说道：“算了，让她走吧。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“你不怕她害人？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“要害早害了，先让她缓和一下情绪。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;(本章完)
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>