<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第579章：到达目的地</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第579章：到达目的地
</div>
<div class="bookname">
	<h1>第579章：到达目的地</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第579章：到达目的地<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子等人是日落后才到的，还亏得是安婧精通罗盘，否则要靠山伢子的话，忙到天黑也找不着洞口的位置。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧跟山伢子说，他们这一路太顺利了，没有碰到任何阻碍，感觉像是大祭司在等着他们来一样。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子点头，他也是这样想的，既然有守护者，还找过于丙权把媾鬼像拿出去，那不会不知道他们进山。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“你打算怎么整？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧说道：你们在外面等着，我进去把尸首拖出来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，这通常是他的台词，摇头说道：“不行，你们在外面等着，我进去把尸首拖出来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧用异样的眼神看他，山伢子梗着脖子说道：“我要是冲灵，你不一定能打得过我。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧收回目光琢磨了一下，说道：那你有事大声喊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉看他，安婧又说道：大祭司很厉害，不是普通的鬼怪，她生前是半人半妖，你不要为了面子逞能。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子瞪她：跟谁说话呐？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧看着他：跟你，你魂力尚未觉醒，还不是祖师，再说，你要是死在洞里，得等下一世了，你无所谓，别人怎么办？你不应该只为你自己活着。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧看看山伢子，又看看安婧，问道：“你俩是在吵架吗？这可真方便哈，连嘴都不用张能吵架。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧拿出手机准备打字，山伢子说道：“行了，别磨叽了，都跟外面待着！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完从背包里拿出杀生刃和手电筒，走进了山洞。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧皱眉，霍晓荧说道：“他这样儿，日子长了你知道了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“他是牛脾气，跟他说话得拐点儿弯，要不然他准跟你顶起来，尤其是涉及到男人的面子问题。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧用手机打字：面对生死，面子还重要吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“很重要。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“对于男人来说，很重要。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧皱紧了眉头，古芊芊伸手抚她的额头，说道：“别这样皱眉，会长皱纹的，女人要懂得保养。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧愕然看着她，古芊芊说道：“看什么？修仙也好，做凡人也罢，本身的属性还能改了呀？女人是要懂得保养嘛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山洞的进深并不是很大，只是有点儿矮，山伢子要猫着腰走，因为黑，手电的光线极其明亮，人还在通道里，已经看到了那个坐棺，但是以当前的视角，看不见坐棺里有没有尸首，反正是没盖子，像个有棱角的洗澡桶一样。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子琢磨了一下，退了出来，霍晓荧问他：“咋了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“洞口太低，跑都没法儿跑，我得把洞口挖开。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;随后又感叹：“第一次自己出门办事儿，想得不周到，应该带把锹来的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“那可是大工程，反正天已经黑了，先做饭吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子做饭，安婧拿着剑去砍树，一剑挥出，‘嚓’的一声轻响，一棵半人粗的树直接被斩断。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊和霍晓荧相继动容，古芊芊问道：“你那是什么剑？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧说道：是素隐门锻造的剑，很普通。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子告诉了古芊芊，古芊芊嘟了嘟嘴，没再问。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧对着树干一通削，削成一把锹的样子，说道：凑合着用吧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好，总用手挖省力气。”山伢子微笑着答应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧看他：你想用手挖？为什么要用手挖？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“不用手挖用什么？用剑挖呀？那不把剑整坏了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧对安婧说道：“他天生穷命，总以为东西人值钱，你不用理他。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧笑了笑，拿着木铲过来坐下，坐了片刻，又拿着木铲站起来，到洞口边开挖。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“你别弄了，明天我挖行了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧答道：闲着也是闲着，又不费力气，早解决早回家，我不喜欢待在深山老林里，什么都不方便。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子笑了笑，心想还挺事儿的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧立刻回头瞪他，说道：我不事儿，深山老林是不方便。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子眯眼笑，说道：忘了你能知道我在想什么。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧转回头接着挖，古芊芊捡起一小块土坷垃，丢到山伢子脸。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子饭还没做好，看到安婧已经快挖到一半了，叫她：“安婧，别挖了，再挖你进去了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧倒退着出来，说道：是不能再挖了，还剩多少？一半？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“差不多，也一半吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧说道：“吃完饭你挖，我在你前面保护你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“行。”山伢子答应，说道：“歇歇吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉，男女之间没有纯友谊，得给安婧找个对象，说道：“姐，我要厕所。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“又去？”霍晓荧皱眉，有什么话不能等回家再说啊？真当别人都傻呐？水喝得又不多，却总要厕所，肾虚呀？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊不依不饶，拉着霍晓荧走。走远了之后，霍晓荧说她：“有啥话不能等回家再说？跟个小孩儿被抢了糖似的，瞧你这点儿出息。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嘟嘴说道：“给她找个男朋友。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧斥道：“那玩意儿能好找吗？你当是龚钰丹呐？凭她的法力跟武功，咋也得是姬淋洛那样儿的才行吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“不管，你给她找。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧皱眉叹气，嗔道：“真是欠你的！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“你是欠我的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“咝……”纤细的声音在附近响起。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧一惊，赶紧四下找，却没有看到东西。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊慌着问道：“什么东西，是蛇吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“回去，注意脚下，我在你背后，慢慢走。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊抱着霍晓荧的胳膊，发出婴儿似的呓语声。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“镇定点儿，走。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子做好了饭，摆好桌后看向古芊芊走去的方向，喊道：“好了没？饭做好了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊！”古芊芊的尖叫声。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一惊，安婧已然冲了过去，山伢子赶紧也冲过去，看到霍晓荧拖着古芊芊往回走，安婧横着剑在一旁保护。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子惊问道：“咋了？咋整的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;/bk更新最快的小说站！
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>