<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第354章：估计错误</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第354章：估计错误
</div>
<div class="bookname">
	<h1>第354章：估计错误</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第354章：估计错误<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震南再一次露出不屑的笑意，一天的时间？一天的时间能干什么？就算决定要抢火行石，也不是一天的时间能布置好的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这样的威胁太儿戏了，根本做不到的事情，还会有人去做吗？就算是绑匪要赎金，也会考虑到金主筹钱的时间，就给一天的时间，这分明就是气急了乱咬嘛。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;再者说，给一天时间干什么呀？也没说干什么，那应该干什么？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一天，日落，日出。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震南一早出了家门，跟着上班的人流挤上了地铁，先去公园散步，然后去茶楼喝茶，吃了午饭后，按约定的时间到朋友家打牌。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;打了八圈儿之后，莫震南觉得有些乏了，就起身告辞，看看下班的时间还早，就又回了茶楼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;依然是那个靠窗的位置，只是今天莫名的有些心慌，莫震南安慰自己，或许是潜意识里有些担心，毕竟黑衣人挺鬼祟的，再怎么说也是威胁嘛。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一盏茶喝到了底，心慌的感觉不但没有消失，反倒更严重了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震南叫服务员结账，他不想等下班高峰了，他想回家，不知道为什么，突然很想老婆孩子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;地铁里的人已经开始多了，莫震南靠着车门边的扶手，心情越发的急躁，恨不得一步踏进家门。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不知道为什么，今天感觉所有人都在用异样的目光看他，即使是擦肩而过的人，莫震南也能感觉到对方异样的目光。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;车到站，莫震南急匆匆地出了地铁站，打了一辆车。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他家离地铁站还有一段距离，走路的话通常需要半个小时，他平常不着急，总是溜达着，可今天不一样，所以才打车。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;司机很不高兴，等了一个多小时，却拉上一个距离这么近的乘客，也就是个起步价，所以从开车就不停地报怨，说现在生意不好做。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震南心里开始蹿火儿，怒斥道：“你跟我说得着吗？你干的就是这份工作，谁他妈赚钱不辛苦？不愿意干回家待着去，没人拿枪逼着你干！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;司机急眼了，把车一停，回头骂道：“你给我滚下去！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震南也是一肚子邪火儿，一把薅住司机的头发，直接将司机从后门拖下了车，然后一通暴打，直到打得司机没了声息才算完事儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刚停了手，警察就来了，莫震南愿意接受处罚和赔钱，因为看到警察的那一刻，他突然心不慌了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可是，刚坐上警车，就听到黑衣人沙哑的声音：“一天的时间到了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震南感觉忽悠一下，自己就站在了警车外面，随即一只无形的手掐住了自己的脖子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震南想喊，但只能发出嗬嗬的声音，眼睛以最大角度搜寻，却看不见黑衣人，而警察却在用电台呼叫，说有人突然昏迷了，让赶紧派一辆救护车来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;心里陡然升起一股凉意，莫震南恍然明白，自己是生魂出窍了！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;再次听到黑衣人沙哑的声音：“你以为你自己有利用价值，这个没有错，但问题是，你把自己的利用价值估计得太高了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊别扭了两天，逐渐开朗了起来，像个小女孩儿一样腻着古木苍又说又笑，而且也不跟山伢子去饭店了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子理解归理解，但心里难免有点儿失落。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧劝他：“芊芊等了十几年，终于父女重逢，你将就两天儿吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子没说话，他表现得有这么明显吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;十一点开始上客，进来一个三十多岁的男人，戴着黑边眼镜，领着两个五六岁的孩子，一个男孩儿，一个女孩儿，长得都很漂亮。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人径直走向山伢子，问道：“你是领班儿吧？我找钟老板，我是他朋友。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子答道：“您好，钟老板不在，您有什么事儿吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人皱眉，说道：“我打他电话，说不在服务区，怎么也不在店里？他去哪儿了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子又问道：“请问您有什么事吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人把眉头皱得更紧，说道：“我的事只能跟钟老板说，跟你说没有用，你也不会相信的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“我是他师侄，除了借钱之外，您有什么事情都可以跟我说，我师叔现在不方便。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人愣了一下，盯着山伢子重复道：“师侄？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子第三次问道：“请问您有什么事？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人扫了一眼大堂，山伢子说道：“跟我去楼上吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子直接把男人领到了套房里，这间套房现在归霍晓荧和古芊芊了，一进门，男人就冲霍晓荧微笑点头，说道：“打扰了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;然后又跟两个孩子说道：“一柱，一弦，叫姐姐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两上孩子同声唤道：“姐姐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧愕然看着山伢子，问道：“什么情况？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子指着霍晓荧问男人：“您能看见她？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人瞬间眼露惊恐之色，山伢子赶紧说道：“别怕，她是我媳妇儿，我保证你们的安全。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人有些手足无措，山伢子说道：“您来找我师叔，应该就是为了灵异事件吧？您跟您的孩子都能看见鬼，说明你们的阴气过重，坐下说吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧让开，离得远远的，男人领着孩子坐到沙发上，两个孩子很乖巧，也不说话，眼睛也不乱看。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧去厨房拿了一盘水果，让山伢子拿给两个孩子吃。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人的紧张情绪慢慢缓和下来，先做自我介绍，他叫程月明，两个孩子是双胞胎，男孩儿叫程一柱，女孩子儿叫程一弦。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子也做了自我介绍，然后程月明告诉山伢子，最近半个多月，他总能在半梦半醒的时候看到一个白衣女人，一开始程月明以为是自己工作太劳累，出现了幻觉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是昨天晚上，程一弦跑来找他，说有个穿白裙子的姐姐在家里转悠，孩子害怕。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;程月明这才觉得不对劲儿，给钟离愁打电话也打不通，他上午已经来过一次了，服务员告诉他，钟离愁好多天没来饭店了，就算来也是晚上才来，而且就算不来，晚上饭店有管事儿的，于是程月明晚上又来了。
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>