<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第797章：记名弟子</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第797章：记名弟子
</div>
<div class="bookname">
	<h1>第797章：记名弟子</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第797章：记名弟子 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;江溟眼中见泪，平定了一会儿才问道：“你们是什么人？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“我夫君是仙茗山无名观，无名真君转世，只是魂力尚未觉醒，我叫古芊芊，前世是我夫君嫡传弟子。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;江溟浅笑了一下，黯然说道：“真好。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，扭脸看古芊芊，听到安婧说话：她说你跟芊芊姐能再续前缘真好，她想她师兄了，猪头！ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子争辩道：猪很聪明的！ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧说道：没错，就是不通人情世故。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊向惜音招了下手，惜音从大门走进来，古芊芊说道：“上楼去吧。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;惜音答道：“是。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊又对山伢子说道：“去做菜吧，奈何忘归，金玉桥，回魂汤。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好。”山伢子答应一声，站起身走了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊坐到了江溟对面，江溟看着她说道：“你不灭掉我，我还是要用活人冢修炼，否则我抑制不住过盛的阴气。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊问道：“你师从何门何派？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;江溟答道：“井东县朝清观。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊回想了一下，那是一个小道观，能出这样两个人实在是不容易，可惜这两人都命丧此地。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“你听说过无名观吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;江溟摇头，答道：“我是江流儿，所以师父给我取名江溟，我死时不到十七岁。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊点了下头，说道：“无名观避世隐修，道法精深，如果你愿意，可以拜在我名下，做我的记名弟子，我教你修炼之法，可以将阴气转为罡气，助你修成鬼仙，然后便可带法转世。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;江溟愕然看着古芊芊，问道：“我噬鬼无数，还能转世？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“你虽行大恶之事，却因大善之心，我相信地府自有公断，况且你若入了我无名观，他们多少要顾忌一些。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;江溟震惊地看着古芊芊，说道：“这么厉害！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊轻咬了下嘴唇，说道：“七百年前是这样，现在不行，但很快就行了，反正你想修成鬼仙，至少也还得二三百年。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;江溟仔细打量了古芊芊一会儿，然后咬住了嘴唇。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊问道：“看我年纪小，不好意思拜我为师呀？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;江溟不说话，古芊芊说道：“我是带法转生的，魂力也觉醒了，我有七百年的道行。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;江溟声音纤细地说道：“那你也是个小姑娘。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊想了一下，说道：“我师兄是个老鬼，我还有个师侄，也是鬼，要不我带你回山，你拜我师兄为师。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;江溟问道：“那我还能吃到你夫君做的菜吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“可以呀，你拜了师，我来教你，以后你就跟着我们吧。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;江溟脸现诧异，问道：“你就这么相信我？不怕我害你们？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊微笑着答道：“你会知道我们有多大本事的，到时候你自然就明白了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完，古芊芊骤然释放法力，江溟吓得倏然退到了墙角，惊魂不定地瞪着古芊芊。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊笑着说道：“要不你还是拜我为师吧，省得拐弯了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;江溟平静了一会儿，走回桌边，向着古芊芊跪下，叩头说道：“弟子江溟，拜见师父。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子做好了菜端上来，古芊芊说道：“江溟，拜见师丈。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;江溟站起来，退后一步，冲着山伢子跪下，叩头说道：“弟子江溟，拜见师丈。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子愕然看着古芊芊，古芊芊说道：“我要助她修成鬼仙，再加上无名观记名弟子的名号，替她挡罪消业。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子点头，说道：“起来吧。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;小年夜，山伢子一如既往地坐在靠窗的位置，虽然江溟不再吃鬼，但镇上的鬼也就那么一两个，而且总在饭店外面徘徊，也不敢进来，所以山伢子一如既往的闲。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;突然感应到极重的怨气，山伢子扭头看向窗外，看到一个红影飘了过来，近了些，看清是一个穿着红衣低胸长裙的女鬼。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子微一皱眉，这都快过年了，怎么穿着这身儿死的？不冷吗？要么就是外来的，不是死在镇子上的，否则就冲她这么重的怨气，早就被江溟给吃了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;女鬼的五官很精致，比较艳俗的那种，身材很好，凸凹有致，脾气很大，一进门就尖声嚷道：“鬼食堂是什么意思？你们能看见我吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一名妖族美女拿着菜单走过来，说道：“欢迎光临，随便坐。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;女鬼一愣，盯着妖族美女问道：“你是法师？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;妖族美女看山伢子，女鬼跟着转头，问山伢子：“你是法师？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“是，你是来吃饭的，还是有事儿？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;女鬼迈步就冲山伢子走来，直走到桌边才站定，瞪着山伢子说道：“我被人害死了，你帮我报警！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“首先，我不能帮你报警，因为……” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;女鬼猛然一拍桌子，尖声叫道：“我让你帮我报警！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两名妖族美女向这边走来，山伢子摆了摆手，示意她们不必紧张，怨气这么重的鬼，情绪激动很正常，不能不让她说话，不让她说话只会增加她的怨气。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;女鬼回头瞪妖族美女，山伢子说道：“姑娘，看我，她们你更惹不起。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;女鬼猛然回头，怨毒地瞪着山伢子，瞪了一会儿，两道殷红的血泪，顺着她青紫的脸庞流了下来。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“你不仅有怨气，死得还挺冤，你让我替你报警，我得先问问你的情况，可以吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;女鬼抬手抹了下眼泪，说道：“四天前，我跟我……” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;女鬼顿住，停了一会儿，咬牙切齿地说道：“我跟那个禽兽来这里新建的度假村度假，他把我灌醉了，然后把我掐死了！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“你先告诉我，你叫什么名字，那个禽兽叫什么名字。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;女鬼瞪着山伢子不说话，山伢子说道：“你让我替你报警，我怎么说？我说有个女鬼找到我，让我告诉你们，有一个禽兽把她掐死了，你觉得警察会不会认为我是精神病？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;女鬼的目光缓和了下来，山伢子说道：“先坐下，反正你已经死了，那个禽兽跑不了，坐下慢慢说。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;(本章完)
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>