<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第571章：要跑</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第571章：要跑
</div>
<div class="bookname">
	<h1>第571章：要跑</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第571章：要跑<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺立辉说道：“你快收拾一下去公司吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;女人娇萌的嘟嘴，坐在他身边，抱着他的胳膊说道：“都中午了，还去什么呀，今天我陪你好不好？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺立辉勉强笑了笑，说道：“去洗漱吧，咱们出去吃饭。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧一路跟着两人，直到下午两点，贺立辉才把那个女人支走，然后开着车出了市区。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刚开出市区没一会儿，贺立辉的手机响，是个陌生的号码，还是国外打来的。贺立辉用车内免提接起来，对方用文快速地说了几句话，没等贺立辉反应，对方就挂断了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧没太听明白，但中心意思好像是说贺立辉他老婆出事儿了。但是贺立辉并没有慌乱，也没有打电话，像没事儿人一样开着车继续行驶。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;大约开了四十分钟，到了一个镇子上，贺立辉把车停在路边，然后徒步走上一条小路。延着小路走了十几分钟，到了一个农家院的门前。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺立辉抬手敲门，等了一会儿，门里有人问道：“谁呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺立辉答道：“我找于大师。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;门里的人又问道：“有什么事？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺立辉答道：“全能神被人偷了，我老婆在国外也出事儿了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;门里没了动静，贺立辉催促道：“开门呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;没人回应，贺立辉又敲门，还是没人回应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺立辉急躁起来，一边敲门一边喊：“于大师！我是贺立辉！开门呐！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;门里有人厉声斥道：“别敲了！找错门儿了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺立辉一愣，说道：“没找错门啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;门里人斥道：“这是你家还是我家？告诉你找错门了，你就是找错门了，赶紧走，否则别怪我不客气！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺立辉急了，退后一步，然后抬腿向门踹去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;咔的一声，门没有踹开，但好像被踹裂了，贺立辉弯着腰用双手捏着自己的大腿根儿，咬着牙缓劲儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;院门拉开，一个五大三粗的男人，双手握着一把铁锹走出来，满脸的凶神恶煞。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺立辉一瘸一拐地往后退，惊慌地说道：“你干吗？我告诉你，打人犯法！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;粗犷的汉子怒骂道：“你娘的！你踹我家门不犯法啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;骂完抡起铁锹就拍贺立辉，贺立辉抱着头跑，边跑边杀猪一样喊道：“来人呐！杀人了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;粗犷的汉子抡着铁锹把贺立辉追出一里多地才回来，嘴里还骂骂咧咧的。霍晓荧站在院门旁边看着他，但他连眼角都没斜一下，回到门里关上了门。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧站在院门口琢磨，贺立辉肯定没找错门儿，那就是一听神像被偷，岳晓荷又出了事儿，这个于大师就不认账了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧拿出手机打给洪拓，让洪拓来找她，虽然刚才那个男的看不见她，但很难说于大师有没有什么古怪，她毕竟是鬼，碰上法师还是要谨慎些。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;十几分钟，洪拓找了来，说道：“这地方还真偏，情况怎么样了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧答道：“贺立辉没再回来，院子里也没人出来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓问道：“你想干什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧答道：“这种货专门害人，我要吸他的元阳。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“那就进去吧，躲在这么个偏僻的地方，出了事儿就不认账，肯定也没多大能耐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好。”霍晓荧答应一声，然后飘了起来，往院子里看了看说道：“院子还挺大，没人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓穿门而入，霍晓荧越过墙头落到院子里，两人向正房走去，将将走近，一个苍老的声音说道：“快收拾，咱得赶紧走。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;另一个粗犷的声音问道：“为啥要走啊？咱这住得好好儿的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;苍老的声音说道：“你不懂，赶紧收拾吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;粗犷的声音开始絮叨：“我也没打着他啊，我就是吓唬吓唬他，哪就非得走，刚收拾停当，这才消停了几天儿啊……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;苍老的声音斥道：“你穷叨叨什么！让你收拾就赶紧收拾！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧看洪拓，洪拓想了想，大声说道：“于大师在家吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;没人应声，洪拓想了想，伸手推了下门，苍老的声音立刻惊慌地斥问道：“谁！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那个粗犷的汉子拉开门看了一眼，说道：“没人，可能是风。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;苍老的声音斥道：“哪儿来的风？把门都吹开了，那得多大风？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;粗犷的汉子不高兴了，大声说道：“那你自己来看！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;听到哚哚两声，等了一会儿，一个头发稀疏花白的老头出现在门口，拄着双拐，左小腿齐着膝盖断了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这老头个子很小，还没霍晓荧高，小鼻子小眼，骨瘦如柴，形容猥琐，留着两绺老鼠胡须，但是双目却精光闪烁。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓和霍晓荧都瞪着他，但是他却转着眼珠看了一圈儿，然后扭头对那个粗犷的汉子说道：“赶紧收拾，我有种不好的预感。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;粗犷的汉子哼了一声，转身回去了，而老头却站在门口又看了一会儿，才转身回去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧皱眉说道：“他连咱们都看不见，还能做出有功效的神像？不会是捡的吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓点头，他也是这么想的，看这老头的身材和眼神，像是个盗墓的，没准那个神像是从墓里拿出来的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“进去看看，你先别急着动手。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“我看他也没多少元阳了，倒是那个傻大个儿阳气挺重，看看他俩是啥关系，要是同伙儿的话，就把傻大个吸了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两人进了屋，看到傻大个儿在那儿翻箱倒柜，老头坐回床上，两个木拐靠在床边。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;傻大个儿边倒腾边说：“我说老于头儿，你都奔七十的人了，你还有几年活头儿？你也挣了不少钱了，要我说，这回咱们找个好地儿去好好儿享几年福吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;于老头没说话，沉着一张巴掌宽的瘦脸，用阴冷的目光盯着傻大个的后背。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;傻大个儿倒腾了大半个钟头，把要带走的东西都用绳子捆好，然后坐在椅子上看着于老头说道：“老于头儿，有个事儿我得跟你商量一下，你说你都土埋半截了，万一哪天你要是一觉没醒来，我咋办？你是不是先把钱给我啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;本章完
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>