<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第176章：扔江里了</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第176章：扔江里了
</div>
<div class="bookname">
	<h1>第176章：扔江里了</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;&quot;第176章：扔江里了<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子回屋后，头一沾枕头就睡着了，做了一溜够的梦，似是而非的人，混杂不清的声音，反正是啥也没记住。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;再睁开眼时，天还亮着，但有点儿暗，屋里没人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子坐起来，头还有点儿蒙蒙的，缓了一下才喊道：“小莹？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“来了！”张小莹大声答应，旋即推开门进来，问道：“头还疼吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“没事儿了。”山伢子答应，看到古芊芊站在门口儿，挨着门框看着他，便问道：“你咋又来了？你不用考试啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉，张小莹连忙说道：“你不用担心她考试，你昏迷两天半了，芊芊都考完了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊翻着白眼儿嗤了一声，真是猪脑子，好心都说不出好话来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子站起来，突然打了个晃，张小莹连忙扶住，皱眉说道：“怎么了这是？别是伤着脑子了吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊也惊了一下，但强忍着没过来，问道：“你哪儿不舒服？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子闭紧了眼睛稳当了一会儿，答道：“没事儿，估计是躺得时间长了，缓一会儿就好了，小莹，我饿了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊抢着说道：“你陪着他吧，我去热饭。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊离开，张小莹轻声说道：“芊芊一早打电话，我说你又昏迷了，她就来了，还给你带的药，不过不对症，就没给你吃。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子莫名地有点儿心虚，问道：“师父呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹答道：“去饭店了，这都快六点了。对了，干爹让我告诉你，别玩儿命，东西没有人值钱，说找不回来就不要了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子没说话，但心里打定了主意，不但得把八卦镜找回来，还得算账！他不能白挨这一下儿！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊咬着手指走到门口儿，含混着问道：“在哪儿吃？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹笑她：“多大了还吃手指头？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嗔道：“谁吃手指头，我烫着了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹嗔道：“干点儿活儿就要工钱，笨死你算了！过来我看看。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嘟着嘴把手伸给张小莹，张小莹捧着她的手吹气，山伢子从床头柜里拿出一小盒儿烫伤膏，递给张小莹说道：“抹点儿这个就不疼了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊看着他问道：“你也烫着过？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”山伢子答应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊又问道：“你是火行石宿主，也怕烫？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“我也是肉长的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嗤了一声，白了他一眼，说道：“饭菜都在厨房呐，自己拿去吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吃完了饭，山伢子又画追灵符，张小莹问他：“能不能让符跑得慢点儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看着她反问道：“你想干啥？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹答道：“我跟着它，看它去哪儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子摇头，说道：“那不行，你有危险咋办？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹答道：“我跑啊，我又不会自己冲进去跟人打架，我就是跟着追灵符去确认地点。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子琢磨了一下，说道：“我试试吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊问道：“需要我做什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“你回家吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊瞪他，张小莹说道：“伢子是为你好，说不定今天就得打起来，你又不会功夫，帮不上忙儿，先回家吧，事儿办完了我给你打电话。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊一言不发地站起身走了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹直送到大门口儿，关上门后走回来嗔道：“你说话能不能别这么简单直接的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子抬头看她，问道：“那咋说？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹答道：“像我那样说，把你心里想的都说出来，说清楚，要不然好心也没好报。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子答应一声，又低下头画符。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹无奈地叹了口气，坐在了他身边。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;画好了符，山伢子摘下火行石给张小莹戴上，说道：“有危险赶紧跑。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”张小莹答应，站起身走到窗边。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子跟过去，推开窗户，将追灵符祭起来，然后闭上眼睛开始念咒，追灵符飞了出去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子着重控制追灵符的速度，倒真能控制得住，就是感觉脑子里有种说不出的感觉，像有根儿绳在里面勒着。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子以为自己控制得很慢了，但实际上，张小莹是飞奔着在追赶追灵符。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一次追灵符跑了好远，在山伢子的脑海里，看到了很多陌生的场景，最终在脑袋里定格儿的画面，是一片黑水。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子睁开眼睛，第一时间给张小莹打电话，问道：“你在哪儿呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹答道：“xx江边儿上，那个王八蛋肯定是把八卦镜扔江里了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“你先回来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好。”张小莹答应一声，挂断了电话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹揣起电话转身，江面上突然翻起浪花，一道水流像蛇一样倏然冲过来，卷住张小莹的腰，猛然将她拉进了水里。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;火行石骤然绽出红光，将张小莹包裹住，但漆黑的水下，即使是火行石的光芒，也只能局限在一米左右的范围内。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹想浮上水面，但有一股大力压着她，将她不停地压向水的深处。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹奋力地挣扎，但越是挣扎，下沉的速度越快，而火行石的光芒，也随着她的陷落，逐渐地收缩。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹慌乱地掏出手机，但拨了号儿以后，却没有声音。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹明白了，她已经被压得太深了，没有信号儿了，可她想不通，怎么阴间的手机还得靠信号儿啊？哪个运营商负责的？按说阴间的手机，不是应该阴气越重，信号儿越强吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹收起手机，大声喊道：“谁呀？有种拉我下水，没种现身吗？滚出来！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嘿嘿嘿……”阴冷的笑声飘忽不定，感觉四面八方全都有。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹骂道：“淹死的傻x！就会躲在水里使阴招儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一道急流从右后方射来，张小莹想躲，但身体被水困着，不仅仅是不灵活，似乎这水就是枷锁，将她不松不紧地束缚着。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;火行石又亮了一些，但也只是强弩之末的挣扎，在这又深又暗的江水里，火行石没有了生杀予夺的威风。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;急流不偏不倚地打在张小莹的右腰上，张小莹一边在水里翻滚，一边大声骂道：“没脸见人的水鬼！只会偷袭的王八！有种跟我上水面去！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;又一道急流冲了过来，打在张小莹肚子上，张小莹迅速地向水底沉下去。&quot;<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;，更多精彩阅读，等你来发现哦。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;手机站:
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>