<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第622章：报应不爽</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第622章：报应不爽
</div>
<div class="bookname">
	<h1>第622章：报应不爽</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第622章：报应不爽<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杜云华眼神闪烁地说道：“我看见饭店里有别的鬼，我是吓唬他们的，我不知道饭店里还有法师。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊问道：“你怎么知道李云华在饭店？谁告诉你的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杜云华转身想跑，但刚到门口，就被安婧拘了回来，然后一鞭子抽在身上，杜云华尖锐的惨叫。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“你堵着我们饭店门口叫嚣，就想这么走？我们是做鬼食生意的，让你这么走了，我们的脸面还要不要了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杜云华看着古芊芊不说话，古芊芊说道：“你这个样子，我看不清你的表情，你先变回正常的模样。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杜云华还是看着古芊芊不说话，也没有什么改变，安婧又一鞭子抽过去，杜云华想躲却没躲开，反倒因为躲闪，被抽得摔倒在地上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杜云华愤怒地嚷道：“法师了不起啊？凭什么随便打人？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊平淡地说道：“第一，你不是人。第二，是你堵着我们饭店门口挑事儿。第三，法师就是了不起，你要有本事就不会挨打了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杜云华被噎了没话，古芊芊说道：“现在告诉我，是谁让你来饭店的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杜云华站了起来，眼珠转了两转，安婧又举起柳条鞭，杜云华赶紧说道：“是十一娘让我来的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊一愣，十一娘？就是帮李云华‘请神’的十一娘？问道：“你们到底是怎么回事？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杜云华告诉古芊芊，原本她死于车祸，心里想着终于解脱了，可没想到，李云华到她的坟前说了那样一番话，她才知道是李云华故意把她害死的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然她有怨气，但她杀不了李云华，只能在李云华睡觉的时候影响李云华，让他做噩梦。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是做噩梦并不能把李云华怎么样，直到李云华去找十一娘，杜云华才有了掐死李云华的机会。只是很可惜，十一娘被她的助手打晕了，杜云华眼睁睁看着李云华逃掉了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过杜云华找到了一个突破口，就是十一娘，十一娘可以跟鬼魂沟通，身上的阳气比普通人要弱，所以杜云华就缠上了十一娘。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一开始十一娘想了很多办法来摆脱杜云华，但都未能奏效，有两次还险些死掉，所以十一娘放弃抵抗，开始配合杜云华来对付李云华。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;十一娘用她的‘专业’知识帮助杜云华‘提升’法力，让杜云华可以对李云华进行耳语，同时能增加对李云华梦境的影响力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊问道：“怎样增加影响力？具体是怎么做的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杜云华答道：“就是长期往李云华的魂舍里输入我的气。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊哑然失笑，李云华真的只是一个独立的个案，错误的巧合，实在是因为他们碰到的事太多了，所以才会变得草木皆兵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧用手机打字：晓荧姐说过，要让李云华给伢子当科学顾问，并且保证他在投胎前的人身安全。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊看完之后想了一下，对杜云华说道：“你还要怎么报仇？李云华已经死了，你还能怎么样？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杜云华恶狠狠地答道：“我要让他永世不得超生！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊笑着说道：“你想多了，永世不得超生这句话，往往只是一种发泄负面情绪的说法，实际上真能做到让鬼魂永世不得超生的，只有那些拥有大罗金仙以上法力的神仙才可以，你就算把李云华的魂体撕裂，顶多两百年的时间，他也还是会重新聚魂，而你则会因为杀鬼受到地府惩罚，影响你转世投胎。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;顿了一下，古芊芊又说道：“实际上我很怀疑你有没有杀鬼的能力，杀鬼和杀人完全不是一回事，普通人的肉身很脆弱，有很多种方式可以破坏，致其死亡。但是鬼的魂体却很坚实，并不是谁想杀鬼就能杀掉的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杜云华问道：“你说这些是什么意思？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“我是在给你分析利弊。你是枉死，来世会有相应的福报作为补偿，李云华是杀害你的凶手，他现在已经死了，你的仇也算报了，如果你去地府销案，会有一个不错的投胎机会。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“但是！”古芊芊加重了语气：“如果你执念不消，非要跟李云华继续纠缠，甚至是用非正常手段致使李云华魂体消散，那你的福报就会转为恶业，你可能会下地狱受苦。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杜云华看着古芊芊，脸上的血污退掉，露出本来面目，眼神茫然地问道：“真的？你没骗我？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嗤笑了一声，说道：“我为什么要骗你？我跟李云华又没关系。既然你知道他死了，那你也应该知道，就是我姐杀死他的，本来我们以为他是冲我们来的，谁成想这只是一个误会。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杜云华皱着眉头沉默，古芊芊停了片刻又说道：“其实这也应该算是天理昭彰，报应不爽，他非得来招惹我们，本来我们最近麻烦就多，他又神神秘秘一副找事儿的样子，否则我们才懒得搭理他呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杜云华看着古芊芊问道：“你是说，我的仇不报了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“你怎么死脑筋呐？什么叫不报了？你的仇已经报了，只不过不是你自己报的仇，是阴差阳错，我们替你报了仇。李云华杀了你，我姐杀了李云华，你死了，李云华也死了，你俩一样了，明白吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杜云华黯然点头，说道：“那你是说，我应该去地府报道了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“对呀。”古芊芊点头，说道：“枉死之人不同于正常死亡的人，据我所知，地府会为枉死之人开辟一条便捷通道，让枉死之人尽快投胎。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杜云华眨了眨眼睛，问道：“投胎之后，就不会记得以前的事了吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“那是肯定的，你会有一个新的人生，因为因果业报，我觉得你将会拥有一个幸福美满的人生。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杜云华缓缓点头，半晌才说道：“那好吧，我走了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好！”古芊芊笑眯眯地说道：“我送你吧，方便一些。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杜云华愕然问道：“你送我？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“是啊，我是法师嘛，我可以作法送你去地府，省得你走路了。”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>