<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第759章：女奴</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第759章：女奴
</div>
<div class="bookname">
	<h1>第759章：女奴</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第759章：女奴 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;雷长老皱眉，卿琴又说道：“四大长老和五方祭司都是家族传承，我不是迁怒，是你们都有罪。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;雷长老大声说道：“你也是灭了上一任大祭司！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴答道：“你说得对，但你不知道吗？我不是乌拉族人，我是被抢来的，我是荆罗族人。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;雷长老愣住，卿琴哈哈大笑，笑过之后，卿琴用玩味的目光看着雷长老说道：“我接任之后，第一件事就是灭掉荆罗族，你们的祖先得了财宝和女人，当然要替我保守这个秘密。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;顿了一下，卿琴又说道：“而且……帮一个外族人灭了自己的大祭司，说出去也不好听嘛。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;雷长老的眼神迷茫了，奉一个外族的女人为大祭司，怎么会这样？ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴又说道：“你们的祖先帮着古雅想灭掉我，无非也是因为这个秘密。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完看着山伢子说道：“他是杀害你亲人的始作俑者，他的法力也不低，你吸收他吧？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;雷长老一惊回神，山伢子却已经到了他面前！ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;雷长老一掌击向山伢子胸口，山伢子侧身，右手扣住他手腕，左手握拳，用小臂打断了他的胳膊。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊……”雷长老惨叫。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子抬腿一脚，又踹断了雷长老的右腿。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;雷长老惨叫着跪在地上，山伢子伸手扣住了他的顶门。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴扭脸看着古芊芊说道：“心狠手辣，我最喜欢这种男人。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嗤道：“你有病。伢子不是你一个人的，你以后不要蛊惑他。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴嗤了一声，转回头看着山伢子。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吸收完雷长老，山伢子调息了片刻，问道：“接下来怎么办？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴答道：“不怎么办，等着他们再来。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;天黑了，蒙多知道雷长老回不来了，卿琴是不会留雷长老吃饭的，而且也不可能谈这么长时间。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是蒙多还是试着招了一下雷长老的魂，然后声音沉暗地说道：“雷长老的魂被灭了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;风长老叹了口气，幽幽说道：“不管是两百年，还是三百年，我一定要让你们付出代价。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所有人都看他，风长老又叹了口气，说道：“这是当年卿琴临走前说的话，我祖父一直没想明白，为什么是两百年、三百年？这个时间段有什么说法吗？现在我知道了，卿琴要等的，就是无名观。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;蒙多问道：“卿琴原本就认识石庆山？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;风长老摇头，说道：“应该不是石庆山，应该是一个叫素雪的女人，我忘了，得回去查一下我家的记事簿。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;火长老说道：“秘术是为了攻守，咱们迁入中原已有百余年，早就没有杀伐争斗了，还有必要找上门去送死吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;风长老问道：“你知道咱们为什么要迁入中原吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;火长老不耐烦地说道：“你有什么话就说，没人像你们家那么有闲心，什么事儿都拿笔记下来，上百年的事情了，我上哪儿知道去？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;风长老说道：“当时的情况，一方面是害怕卿琴回来报复，另一方面是古雅虽然学到了秘术，却没有卿琴那样的天赋，要知道，卿琴服侍前任大祭司将近七十年，而古雅才学了不到二十年。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;顿了一下，风长老看着火长老说道：“争斗从来都没有停止过，没有大祭司和秘术，乌拉族迟早要灭族。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;蒙多问道：“六族为什么要争斗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;风长老答道：“因为选不出首领，谁都不服谁。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;蒙多沉默，风长老又说道：“不是六族，是七族，还有一个荆罗族，被灭掉了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“灭掉了？”所有人都很诧异地看着风长老。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;风长老沉默了好一会儿，才像下定了决心似地说道：“灭掉了，卿琴接任大祭司后，第一件事就是灭掉了她自己的母族。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“什么！”三人一同惊呼，蒙多问道：“卿琴不是咱们族人？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;风长老点头，微眯着眼睛说道：“族史上写的是，卿琴是本族人，自愿服侍大祭司，深得大祭司宠爱和信任，才在大祭司升天以后接任大祭司之位。但实际上，卿琴是从荆罗族抢来的女奴。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;蒙多厉声问道：“一个女奴怎么会做了本族的大祭司？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;风长老答道：“因为前任大祭司的暴虐，也因为我们祖先的贪婪。当然，也因为卿琴既有心机又有天赋。她将大祭司服侍得极其顺心，而且比以往更加暴虐，又用荆罗族的财宝和女人许愿，最终坐上了大祭司的位置。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;电长老皱眉问道：“她真的灭掉了她的母族？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;风长老答道：“鸡犬不留，片瓦不存……她甚至亲手将荆罗族族长刚出生的孙女，当着荆罗族族长的面，榨成血酒喝下。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;蒙多后背一阵发凉，问道：“为什么？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;风长老闭上眼睛，似乎在回忆，过了一会儿才说道：“她的原话是……天神保佑让我活到今天，因为你们的无能，让我成为了敌人的玩物，让我忍受常人不能忍受的屈辱和痛苦。那你们就是我的敌人，这就是你们的报应，但是我要感谢你们，因为你们的价值，成就了我的尊位。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;火长老皱眉说道：“这个女人这么狠？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;风长老点头，说道：“所以我说，不论如何，咱们都要付出代价，咱们能做的，只是想办法把代价降到最低。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所有人沉默，良久，电长老问道：“她会回来做大祭司，或者是交出秘术吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;风长老看着蒙多说道：“得把云洛和乌勒叫来。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;电长老瞪眼怒斥道：“你想干什么？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;风长老平静地说道：“卿琴一生都在做交易，她说她是石庆山的人，想必是也跟石庆山做了交易，如果她以秘术交换，那咱们就要立刻按照她的要求去做，否则就会被灭族。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;电长老怒斥道：“乌勒是我的孙女！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;风长老也怒斥道：“那也是因为你没有管教好她！没有大祭司和族长的命令就擅自行动，这是她自找的！为了乌拉族，谁也不能例外！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;火长老嚷道：“反叛大祭司是灭门之罪！自己都保不住了，还管得了别人吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;(本章完)
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>