<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第301章：情况不明</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第301章：情况不明
</div>
<div class="bookname">
	<h1>第301章：情况不明</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;&quot;第301章：情况不明<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨瞪着他的后脑勺儿说道：“不知道你在说什么。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛看了一眼后视镜，微笑着说道：“我能感觉到你的气息变化，你现在的气场轻微颤动，应该是在自责。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨皱眉，问道：“你还能感觉到别人的气场？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛答道：“你也可以，只不过你还不会，别着急，我慢慢教你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨沉默，过了一会儿才问道：“你这么快就放下了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛答道：“必须两个人才能合适的事，一个人努力有什么用？不放下能怎么样？那不是更讨人嫌吗？弄到最后连朋友都没得做，不是更加的不值吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨无声地叹了口气，是啊，说得有道理。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;走了大概十分钟，古芊芊问道：“咱们是不是在原地踏步？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不可能。”山伢子摇头，回头看了一眼，说道：“咱们可以原地踏步，车不行。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“那咱们就是在绕圈儿走。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱了皱眉，说道：“这倒是有可能。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊回身示意姬淋洛停车，然后大声说道：“熄火儿！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛熄了火儿，但没有下来，只是把头从车窗里伸了出来，问道：“什么情况？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“别说话。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊闭上眼睛，好一会儿，才睁开眼睛问道：“你们有没有听见什么声音？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“风声。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”姬淋洛点头附和。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨探出头来说道：“我好像听见水流声。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“对。”古芊芊伸手一指，说道：“我也听见水流声，在那个方向。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子闭上眼睛听了一会儿，睁开眼睛说道：“我还是听不见。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛说道：“我也听不见，女人属阴，她俩能听见，咱俩听不见，这很正常。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;然后又说道：“歆雨，咱们也下车吧，发动机的声音太大，咱们还是走路吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨问道：“车不要了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛答道：“总会天亮的，放在这儿也丢不了，再回来找呗。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”夏歆雨答应，推开门下了车。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一手拉着古芊芊，一手举着手机，说道：“不开车也好，咱们就不用非得延着路走了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“对。”姬淋洛附和，向夏歆雨伸出手说道：“来，我领着你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨没有应声，却伸出手握住了姬淋洛的手。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;四人朝着水流声的方向走，山伢子和古芊芊都举着手机照路，姬淋洛和夏歆雨跟在后面。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“停。”古芊芊站住脚，说道：“这回听见了吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子和姬淋洛一同答道：“没有。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨说道：“听着像喷泉。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“咱们布阵吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“布什么阵？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“咱们是四个人，当然是四象阵。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，又问道：“洪拓教你的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“举一反三嘛，我跟歆雨能布两仪阵，原理都差不多。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛问道：“为什么要布阵？是防御还是攻击？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“如果咱们是被结界罩住了，或许可以打开结界。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛说道：“如果设置结界的人法力很高，咱们在结界内发动阵气，就相当于是在铁罐子里点炮仗，罐子可能没大事儿，但里面的东西会炸得粉碎。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉，看山伢子，山伢子问姬淋洛：“那你说怎么办？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛说道：“我先试试，不行再说。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完牵着夏歆雨的手递向古芊芊，古芊芊赶紧把手机装进兜里，拉住了夏歆雨的手。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛从兜里掏出一把折叠小刀，翻开后在左手掌上划了一道口子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨下意识地攥了一下古芊芊的手，古芊芊安慰道：“没事的，咱们这种人的恢复能力远超普通人，不会留疤的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨浅笑了一下，没有说话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛把刀丢在地上，然后用右手食指沾着左手的血虚空画符，红色的血符就那样凭空生成，像画在一张隐形的纸上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨张大了眼睛，一眨不眨地看着那个符。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛双手掐诀，喝道：“破！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;血符应声松散，落在地上，成了一小滩血。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“这是啥意思？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛皱紧了眉头，他没碰上过这种情况，他刚才画的是破界符，理论上就算他们没有置身于结界之中，破界符也应该会爆开，而不是松散得像顺着墙流下来的水一样。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛向三人解释了一遍，然后很茫然地说道：“我也不知道这是啥意思。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所有人都沉默，停了一会儿，山伢子说道：“从车到这里，距离也不算短了，如果要设置结界的话，应该是圆的或是方的吧？不会是长条的吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛明白山伢子的意思，但为了让夏歆雨也明白，就答道：“对，所谓结界，就是用法力创造出来一个空间，不太可能是长条的，那样太费事，而且如果设置结界的人，法力高到那种程度，完全可以直接把咱们干掉，没有必要这样做。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“如果咱们结阵，朝来路的方向发放阵气，应该不会被炸到吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛答道：“我只能说，理论上不会，因为我遇到的事件也不多，没什么经验可谈。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“我看还是算了吧，给我姐打电话，让她带着洪拓来找咱们吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“我下车就看过了，没信号儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“别管有没有信号，打一个试试。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子开了免提，按住了键盘一号键，片刻后拨了霍晓荧的手机号，响了两声，电话里传来霍晓荧的声音：“喂？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子有些诧异，古芊芊说道：“姐，我们迷路了，快带洪拓来救我们。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧急着问道：“伢子呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“我在呐，我们都没事儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“给四叔发个定位。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“好，那我……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不用了。”姬淋洛说道：“恢复正常了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子抬起头，看到周围一片明亮，身边就是个喷水池，哗哗的水声还很悦耳。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧问道：“咋了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“不用来了，我们没事儿了。”&quot;
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>