<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第810章：查无所获</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第810章：查无所获
</div>
<div class="bookname">
	<h1>第810章：查无所获</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第810章：查无所获<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘丹霞答道：“你头七那天下午。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘老头说道：“那天我没回家，我跟老陈头下棋来着。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完拍了拍隔壁的墓碑，喊道：“老陈头，出来一下！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老陈头出来，说道：“我就说你吧，非得听张铁嘴的，孩子现在来找你了吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘老头说道：“你别扯那闲篇儿，你告诉小霞，我头七那天是不是跟你下了一天的棋。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老陈头说道：“是，头天他输了，不服气，说非要赢我，结果把自己的头七都给忘了，也没回家看看。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘老头叹了口气，说道：“谁说不是呐，过了那个点儿，就进不了家门儿了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一愣，头七回魂是一个定规，因为新亡之魂在头七那天的能量最大，而且有家人接引，所以能迈过家里的门槛。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但过了头七，尤其没了家人的接引，一般没冤没怨的鬼，是很难跨过门槛的。如果刘老头连进家门的能量都没有，他是不可能把刘丹霞推进河里的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是山伢子并没有说出来，做为第三方，他要尽可能用证据说话，而不是凭自己的猜测和臆想。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老陈头问道：“没我什么事儿了吧？我回去了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘老头答道：“你回去吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老陈头回去了，刘老头看着刘丹霞说道：“小霞，我是不会害你的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘丹霞不说话，她愿意相信，但古芊芊说得对，一面之词不能做定论。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧先回来的，证实了刘老头的话，刘老头在临终前特意嘱咐刘丹霞的父亲，不要让刘丹霞披麻戴孝，说自己对不起孩子，没脸让孩子给自己披麻戴孝。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;没一会儿，古芊芊带着那只山精回来了，山精证明不是刘老头干的，而且说它从来就没见过刘老头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;事情又回到了源点，真是过路的鬼吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“不早了，回家睡觉吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”古芊芊答应，对刘丹霞说道：“今天先这样吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘丹霞问道：“我可以跟我爷爷待一会儿吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“当然可以，我不会限制你的自由的，你愿意在哪儿待着都行。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“你的坟也在这儿，你爸说在你爷爷的右边，离得不远，你可以自己去找找，我警告你，你是横死，本身是无辜的，千万不要害人，否则有理也变没理了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘丹霞看了她一眼，没说话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;回到饭店，古芊芊问山伢子：“是不是想到了什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子点头答道：“是，我觉得应该去问问那个张铁嘴。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊问道：“他一个懂行的，能干害人的事吗？不怕报应啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“报复嘛，反正我要是让人浇了一壶开水，我肯定得弄死他。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊点了点头，说道：“明天去问问吧，反正问他很方便。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;第二天，一行人去找张铁嘴，古芊芊让霍晓荧自己先进去，霍晓荧进去了一会儿，出来说道：“他看不见我。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，连鬼都看不见，那就不可能指使鬼去害人，看来张铁嘴也不是凶手。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊问刘丹霞：“你浇了他一壶开水，他知道吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘丹霞答道：“我是晚上来的，爬到他家房顶上，等着他起夜的时候浇的，浇完我就跑了，他应该不知道是我。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊点头，说道：“来都来了，进去问问吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;敲门，等了一会儿，张铁嘴拉开门出来，六十岁上下的年纪，右半边脸有明显的烫伤，头发少了好大一块。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张铁嘴走到院门前，看着山伢子和古芊芊说道：“算卦啊？今天我心神不宁，算不了，明天再来吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊扭脸看霍晓荧，霍晓荧说道：“我捅咕了他两下，怕他是装着看不见我。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“我们是法师，调查刘丹霞的死因，找你问问情况。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张铁嘴皱眉问道：“刘丹霞是谁？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“刘家的大闺女，四年前掉河里淹死了，你说她是刘家的债主，让刘家对她不好。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦……”张铁嘴想起来了，打开院门说道：“进屋说吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊略觉诧异，张铁嘴什么都不问就让他们进屋，难道是心里有鬼？还是因为他本身就是算命的，不方便质疑他们法师的身份？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;进了屋，张铁嘴请两人坐下，然后自己不坐，看着山伢子问道：“你怎么证明你是法师？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊失笑，她想得没错，张铁嘴靠算命过活，他不能在院门口跟他们理论，免得被街坊四邻看见。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子摊开手掌，手掌中生出一团火焰。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张铁嘴说道：“江湖戏法儿而已，不足为证。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊伸出手指轻轻一挑，茶几上的茶盘飘了起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张铁嘴皱眉，问道：“你们真是法师？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子失笑，问道：“凭啥她弄的你就信，我弄的你就说是戏法儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张铁嘴坐下，答道：“这茶盘是我的，她手没碰到茶盘，做不了假，你那个是在自己手上弄的，在早江湖上撂地赚钱的人，大多都会这种戏法儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子笑着摇了摇头，张铁嘴问道：“刘家大闺女的事儿，你们为啥来问我？要问啥呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊问道：“你知道是谁往你身上浇得开水吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张铁嘴一愣，随即醒悟，反问道：“是那个小丫头片子干的？我……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张铁嘴硬忍住了，古芊芊知道他想骂人，但刘丹霞已经死了，所谓死者为大，懂阴阳之事的人都明白这个道理，轻易不骂死人，免得招晦气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张铁嘴神色怨愤的沉默了好一会儿，才稍稍缓和了情绪，咬着牙说道：“我铁口直断，为人消灾避祸，竟然遭这种报应！真是……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“我不是要跟你争论什么，但有句话我要说，所谓天机不可泄露，你有这份天资，能窥探天机，但不应该直白地说出来，毕竟凡事皆有因果，有些事可以化解，有些事却化解不了，强求只能是损人不利己。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张铁嘴不服气地问道：“你啥意思？让我撒谎骗人吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊叹了口气，说道：“我不想跟你争论，将来你自然会明白，我们没什么可问的了，告辞。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;(本章完)
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>