<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第670章：绑了</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第670章：绑了
</div>
<div class="bookname">
	<h1>第670章：绑了</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第670章：绑了<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧斥道：“吃什么吃！哪有东西吃？他们的东西你还敢吃吗？伢子现在有工夫做饭吗？饿着吧，胸那么大，且饿不死呐。手机端 ”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容皱眉，嘟囔道：“胸大也有罪呀。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“不是有罪，是该死！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰青明跑回贺兰图家，气不接下气地说道：“鬼、鬼、鬼……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰图皱眉斥道：“别慌！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰青明深吸了口气，缓了一缓才说道：“那小子身边有两个女鬼，把咱们的人都放倒了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰图脸色大变，问道：“枪呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰青明答道：“枪掉了，人都躺下了，不知道死没死。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰图又问道：“你怎么知道是鬼？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰青明答道：“那小子先说了一句话，说都现身吧，然后他身边冒出来两个女娃，一个长得挺好看，另一个头发这老长，挡着脸，穿着红衣服，那肯定是鬼！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰图突然暴怒，双手捶着椅子扶手嚷道：“怎么会这样！他不是吃了那种草药了吗？为什么不管用？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰青明没敢接话，不想再挨大嘴巴了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰图目光呆滞地沉默了好一会儿才说道：“把人都叫，跟他们拼了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;全村的人，不分男女老少，但凡能动换的都集到贺兰图院外，然后簇拥着贺兰图向祠堂走去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;看到村民又来了，山伢子走到门口，站在屋檐下，面无表情地看着他们。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰图既没有穿雨衣，也没有打伞，淋得像落汤鸡一样，脚步略显蹒跚地走到了近前。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子微微扬头，俯视着贺兰图。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰图厉声说道：“把贺兰青明绑了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰青明一愣，两个年轻人来扭住他胳膊，一个年轻人拿出早准备好的绳子，将贺兰青明绑了起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰青明挣扎着喊叫：“太叔公，你这是干什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰图不理贺兰青明，又往前走了两步，跪在了地，叩了个头，然后双手撑着地，大声说道：“贺兰青明丧心病狂，冲撞仙人，小人虽不知情，却罪责难逃，请神仙老爷降罪！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧笑嘻嘻地说道：“对嘛，这才是我说的好戏开锣嘛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰青明怒吼道：“贺兰图！你个老不死的！是你指使我干的？你要吃药娘的肉！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰图不理贺兰青明，只是跪在山伢子面前，低着头，一副逆来顺受的样子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰贞（贺兰图曾孙）走到贺兰青明面前，左右开弓扇贺兰青明大嘴巴子，几下之后，贺兰青明口鼻淌血，却仍然骂道：“贺兰图！你个老王八！你全家都不得好死！贺兰贞，你个姑娘养的，你老婆偷汉子生下个野种，连手都张不开！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰贞抄起一根木棍，搂头向贺兰青明打过去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子挥手打出一道掌风，将贺兰贞连人带棍一起打飞出去，摔进人堆里。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰青明愣住，贺兰贞爬起来，双手横托着木棍，一脸凶狠地瞪着山伢子，但没敢吭声儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子指着贺兰青明说道：“过来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰青明咬了咬牙，反正死在谁手里都是死，总归是逃不过，还不如拉着贺兰图垫背，于是一晃膀子，大声说道：“放开！没听见让我过去吗？你们想当着神仙的面儿杀人灭口吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;扭着他的两个年轻人相继松了手，贺兰青明大步走向山伢子，但途一拐，蹿到贺兰图身边，抬腿一脚踹在贺兰图脑袋，把贺兰图踹倒在地。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊……”贺兰贞举着木棍冲来，又被山伢子一掌打飞。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子很怪贺兰贞居然没有骂脏话，估计是因为都沾亲带故，骂别人等于是骂自己吧？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰青明有了山伢子撑腰，胆气也壮了，一脚接一脚地往贺兰图身踹，踹得贺兰图大声惨叫。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;没有人来阻止，不知道是因为看到山伢子打飞了贺兰贞，还是因为都想看到贺兰图挨打。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰图喊道：“仙长……仙长救命啊……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“住手。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰青明听若不闻，还往贺兰图身踹。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一闪身到了近前，‘嚓’的一声轻响，血光乍现，贺兰青明的右腿被斩断。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊……”贺兰青明是摔倒后才反应过来，因为山伢子出手太快。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容猛然抬起手捂住了嘴，满脸震惊地瞪着大眼睛。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“习惯好了，伢子一向是这样的，谁敢碰他的女人，或者是打他女人的主意，他恶鬼还要狠。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容扭脸看着霍晓荧，愕然问道：“你说我是她的女人？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嗤道：“亲也亲了，抱也抱了，你还咬嚼字儿的有劲吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容咬住了嘴唇，暧昧地笑着低下了头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子左掌喷出火焰，把贺兰青明的伤口烧焦。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰青明惨叫了十几秒，晕了过去，但很快又被雨水浇醒，再次翻滚着惨叫。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子面无表情地走回屋檐下，转回身看着贺兰青明。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰图心头发颤，哆嗦着爬起来跪好，说道：“仙长，小人确实不知情，所有的事，都是贺兰青明背着我做的，还请仙长明察秋毫。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子平淡地说道：“等他叫唤够了再说，你要是跪累了起来吧，不用弄这些假招子。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰图突然醒悟过来，贺兰青明说山伢子身边有鬼，如果是真的，很可能他跟贺兰青明说的话，早被鬼听去了，所以山伢子才会是这种态度，所以刚才贺兰青明踹他时，山伢子没有及时阻止。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰图抬起头，微眯着眼睛看着山伢子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子面无表情地与他对视。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰图站了起来，说道：“有一事要禀告仙长，据我族人回报，神女和婧姑娘都被山的巨蟒吞了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子平淡地说道：“我也有一事要告诉你，婧姑娘会使用幻术，你那两个族人看到的是幻象。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰图愣住，山伢子嗤笑一声，又说道：“既然是神女，怎么可能轻易被妖怪吃掉？算打不过，总也跑得掉吧？这么简单的道理你都想不明白，你那个脑袋里装的是浆糊吗？还是你太过自以为是，做事根本不过脑子。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;/bk
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>