<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第778章：有疑点</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第778章：有疑点
</div>
<div class="bookname">
	<h1>第778章：有疑点</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第778章：有疑点 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子叹了口气，这也是他不够强的一个重要证明，如果他足够强的话，霍晓荧就不用倒掉自己的骨灰了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;女孩用疑惑的目光看着山伢子，山伢子说道：“没什么，想起了一件以前的事，那个女鬼在哪儿？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;女孩答道：“东南方向有个制衣厂，那里在早是乱葬岗。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，制衣厂？那应该有很多工人，鬼煞在那里待着，制衣厂没事儿吗？ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;女孩问道：“你现在去吗？我可以给你带路，但是我不能太靠近，那个女鬼特别凶。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子摇了下头，说道：“现在不去，你吃吧，等你吃完我就收拾了睡觉。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;女孩又吃了两口，斜了山伢子一眼，问道：“要是来你这儿吃饭，用什么结账？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“不用结账。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;女孩诧异地问道：“那你怎么过活呀？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“以前我跟着我师父的时候，白天做活人生意，晚上做鬼的生意，用活人生意的钱养活自己，但现在我媳妇儿觉得那样太辛苦，她家有钱，所以不在乎一个饭店的支出，就是积功德。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;女孩露出一抹似有似无的笑意，轻声说道：“有钱真好。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子刚要开口，女孩像是突然反应过来，问道：“你媳妇儿？就是刚才那个鬼姐姐吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“她是老大，我说得是老二，实际上我有六个媳妇儿，三个活人三个鬼。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;女孩张大了眼睛看着他，山伢子笑得有些尴尬，说道：“很奇怪是吧……是挺奇怪的。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;女孩收回目光，说道：“我吃饱了，谢谢你，我……你要是去找那个女鬼，用不用我带路？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“你又要走了？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;女孩点头，答道：“我得躲到别处去，过段时间再回来，希望到时候你还在这里，还能吃到你做的鬼食。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子点了点头，站起来对楼上喊道：“惜音！收拾桌子。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“来了！”惜音在二楼答应。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;女孩看着山伢子说道：“我叫江溟。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子转过身看着她说道：“我叫石庆山，石头的石，喜庆的庆，山川的山。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;女孩浅笑了一下，说道：“我姓江河的江，溟是北溟有鱼，其名为鲲那个溟。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子答应。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;江溟盯着他看了片刻，说道：“你还没有说，用不用我带路。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦！”山伢子反应过来，说道：“不用，我自己去找就行了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;江溟的眼眸中闪过一抹失望的神色，说道：“那我走了，再见。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子点头，应道：“再见。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;目送她远去，听到霍晓荧在身后说道：“又勾搭上一个？你小子桃花运爆棚啊。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子不说话，拉住她的手，进了门上楼梯，霍晓荧问道：“怎么了？是开不起玩笑，还是有什么事？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“上楼说。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;到古芊芊房里，山伢子把他跟江溟的对话，一字不差地重复了一遍，然后问道：“你们觉得有没有问题？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧愕然问道：“有什么问题？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“我也不觉得有问题，你觉得有什么问题？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱着眉头琢磨了一会儿，说道：“我也不觉得有问题，可为什么我就是感觉她有问题呐？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧问道：“哪方面的问题？身材？相貌？声音？死亡原因？故事背景？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“声音，她说话时声音特别轻，一开始我以为她是害怕，但她的声音一点儿都不发颤，后来她说话稍微大声了些，但给我的感觉是在刻意压抑着。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“整个镇子都没有鬼，唯独她今天来了，的确有点儿不正常，你觉得她能量怎么样？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“一般，连厉鬼都算不上，应该是没有什么怨气。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊沉默，霍晓荧说道：“或许她隐藏了自己的气息。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊摇头，解释说，隐藏气息不仅需要有正宗的修炼方法，还要心平气和，但只要是有怨煞之气的鬼，即使有正宗的法门修炼，也做不到心平气和，所以根本不可能隐藏住气息。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“那她可能就是那个厉鬼的手下，来咱们这儿探听消息的。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊又沉默了一会儿，说道：“既然她没有多大的能量，也就不必太多关注她的身份，倒是那个厉鬼，待在活人聚集的地方却不闹事，有点儿奇怪。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“咱们要去看看吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“去，现在就去，咱俩去。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子点头，霍晓荧说道：“那我就不去添乱了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;从房间出来，山伢子对惜音说道：“我跟芊芊出去一趟，你守着梦容和婧婧。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;惜音应道：“是。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子又去敲卿琴的门，卿琴拉开门问道：“怎么了？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“跟我们去找厉鬼。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”卿琴答应。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;开着车上路，卿琴说道：“有什么话就说吧。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子笑问道：“你怎么知道我有话跟你说？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴答道：“从咱们认识，我就是一打架就往后缩，除非不得已，否则我才不会凑热闹，你叫我一起去找厉鬼，难道是脑畸形又发作了？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“我想问问，能不能在晓荧转生的时候，让她忘掉今生的事，但能记得咱们。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴答道：“你说的这是自相矛盾的话，她今生的事跟咱们密不可分，怎么可能做到让她忘了事儿却记得人？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊问道：“夫君，你在想什么？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“在你魂力觉醒之前，晓荧是真正的老大，可现在你看看她，一点儿心气儿都没有了，我是想让她丢掉这些负面情绪，开始一个新的人生。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴说道：“那简单，去投胎吧。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子愕然回头看她，卿琴说道：“看路！开着车回什么头？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子转回头看着路，问道：“你说真的？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴答道：“只有投胎才能忘掉所有的事，等她法力高到能魂力觉醒的时候，也已经是很厉害的高手了，就算再想起这些事，也不会再有什么心理阴影。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;(本章完)
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>