<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第493章：直如弦</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第493章：直如弦
</div>
<div class="bookname">
	<h1>第493章：直如弦</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第493章：直如弦<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“赶紧给他俩把冥婚办了，潘小龙那张破嘴，我担心夜长梦多。手机端m.”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子失笑，说道：“行，等他伤养好，我……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不用等他伤养好。”霍晓荧打断山伢子，说道：“刚才我问过他俩的意见了，这去给他俩办了。芊芊送他去的是‘私’立医院，是你回检查身体住的那间病房，叫所有人，趁着赵梓航还五‘迷’三道的，今天给他俩把事儿办了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“行。”山伢子笑着答应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;到扎纸店拿了黄纸，叫所有人，一起去了医院，给潘小龙和赵梓航先办了冥婚仪式，徐四承诺等潘小龙伤好之后，在饭店再办一次婚礼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;仪式办完以后，其他人都走了，潘小龙把山伢子留下，询问尚亚坤的情况，山伢子如实告诉了他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙骂道：“‘操’！早知道这样，我都多余管他！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧斥道：“说话不用脑子的？你不管他，哪儿认识梓航去？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“也是哈？”潘小龙看着赵梓航笑，赵梓航白了他一眼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙对山伢子说道：“行了，没事儿了，我也算是因祸得福，你们走吧，我们要‘洞’房了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵梓航甩手给了他一嘴巴，斥道：“又嘴贱！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙皱眉说道：“媳‘妇’儿，当着外人，你多少得给我留点儿面子。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“留你妹！”赵梓航唬着脸嗔道：“欠‘抽’的货！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子莞尔一笑，拉着古芊芊跟霍晓荧走了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;回到饭店套房，意外地看到唐召义坐在屋里，洪拓也在。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，古芊芊赶紧说道：“我没找他。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义站了起来，向山伢子拱手说道：“庆山兄，别来无恙。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子拱了下手，冷淡地答道：“侯爷夤夜造访，不如所为何事？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嘴角带笑地看着山伢子，行啊，现在也会拽词儿了，还说得有模有样的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊转身又出去，头也不回地说道：“我去找四婶儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子站在‘门’口看着唐如义，也不关‘门’，一副要送客的架势。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“伢子，唐侯爷是为了江那个老鬼来的，你先坐下，听唐侯爷说说情况。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看了洪拓一眼，回手关了‘门’，然后边朝沙发走边说道：“侯爷请坐吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义面带微笑地坐下，看着山伢子，等山伢子坐下之后才说道：“江那个老鬼叫李镇江，与我同朝为官，曾是镇守北地的一名将军。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，又是一个将军，回在许三丈的会馆碰一个将军。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“你们这些老鬼怎么都不去投胎呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义反问道：“你不知道入了鬼道的鬼，是可以躲劫的吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子反问道：“我应该知道吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义又反问道：“不应该吗？你不是法师吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子也反问道：“谁告诉你法师应该知道？你是法师吗？你知道法师应该知道什么吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“呵呵……”唐召义笑，山伢子嗤了一声。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓跟霍晓荧一同皱眉，这两人可真称得是‘不是冤家不聚头’。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“唐侯爷，还是先说说李镇江的事吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好。”唐召义笑着点头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义说，江里的那个怪物叫‘咆’，原身是一条龙鱼，经年累月积聚‘阴’气，变成了‘阴’兽，供李镇江驱使。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;咆是李镇江给龙鱼起的名字，因为它的吼声巨大，在一个多小时以前，唐召义听见了咆的吼声，所以赶到了江边。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子面无表情地看着他问道：“你不是离开莫林了吗？你耳力不错呀。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义笑了笑，不接话茬，接着说李镇江。李镇江当年奉命镇守朴奎，也是现在的鹤城市，麾下‘精’兵十万，虎踞雄关十三载，令敌酋寸步难进！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;然而，久居边疆，远离京师，又手握重兵，难免会让圣担忧，佞臣谗言，再加李镇江‘性’情耿直，曾将一名来‘混’资历的高官公子打成了残废，所以在朝的声名日渐不堪。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;终有一日，北敌大举犯境，李镇江率军鏖战近七个月，将北敌击退，却接到圣旨，命他率军追击，要一举‘荡’平北地，肃清寰宇。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;七个月枕戈待旦的鏖战，不仅仅是人困马乏这么简单，十万‘精’兵折损过半，活着的也有近半数身带伤，‘精’疲力尽，此时追击，无异于自取灭亡！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;况且时近隆冬，北地的雪已经下过两场了，辎重补给也都捉襟见肘，所以李镇江奏请议，却换来一通申饬，责他畏敌怯战，贻误战机，并且夺了他的兵权，命他回京述职。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李镇江没有接旨，而是纵马到了江边，仰天狂笑之后，拔剑自刎，尸身便扑倒在江水之。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子喟叹道：“直如弦，死道边，曲如钩，反封侯。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义皱眉瞪着他，问道：“你骂谁呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子不客气地答道：“骂你呐，你不是侯爷吗？人家保家卫国，含冤自尽，你是玩儿‘女’人玩儿死的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“找打架是吧！”唐召义拍案而起。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子也轰然起身，嚷道：“出去打！今天我‘弄’死你！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两人互相怒视对方，霍晓荧伸手扯山伢子的手，说道：“老公消消气，等火行石拿回来，你再‘弄’死他行不？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓劝唐召义：“侯爷息怒，伢子这话也不是针对侯爷你，这两句话由来已久，闻李将军之冤，感事悲怀，聊发感慨而已。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义沉着脸坐下，山伢子也坐下，洪拓给打了圆场儿，他们也都没有再接着呛，毕竟两人心里也是互相忌惮。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沉默了一会儿，洪拓对山伢子说道：“伢子，过‘门’是客，侯爷头回来咱们饭店，咱们好歹尽一分地主之谊，你去做两个菜行吗？我到外面陪侯爷吃顿饭。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好。”山伢子站了起来，他明白洪拓的意思，其实让唐召义跟他聊，只能是越聊火儿越大，还不如跟洪拓聊，问道：“洪大哥想吃什么菜？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓想了一下，答道：“无心无‘色’，金‘玉’桥。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好。”山伢子答应一声，转身走了。
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>