<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第444章：检查身体</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第444章：检查身体
</div>
<div class="bookname">
	<h1>第444章：检查身体</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第444章：检查身体<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子摇头，说道：“不是你，我说的是素雪，如果素茗真是黑衣人，他也不是跟我较劲，而是跟祖师wwん”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧皱眉，说道：“调个个儿我相信，你们男人会这么千百年的，为了爱情较劲吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍说道：“男人怎么了？男人就没有情种？就不能恒古一心？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓附和道：“就是。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看着霍晓荧说道：“那不叫爱情，那叫欲念，可能是因为素雪，也可能是因为祖师毕生的功力。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“伢子说得这个靠谱儿。”韩慕灵看了古木苍一眼，说道：“我也赞同晓荧的说法儿，你们男人才不会为了一个女人，千百年的执着。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍皱眉，韩慕灵看向桃花儿问道：“你觉得呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”桃花儿点头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓皱眉说道：“我就等了你一百年啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿说道：“你是被你师父关在山上了，如果不是这样，你敢说你会等我吗？你不是说过，你根本没想到还能再遇见我吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“呵呵……”古芊芊一脸看热闹的表情。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿说她：“傻笑什么？你又不是一生一世一双人，你只是小老婆。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊一愣，霍晓荧嗔道：“踩你尾巴了？我们这叫续弦，什么小老婆。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“就是！”古芊芊唬着脸瞪桃花儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿翻了个白眼儿，哼了一声。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，女人真是麻烦，不管说多严肃的事儿都能跑偏，而且还能打起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“那个……我又做了个梦。”山伢子岔开话题，把自己梦到的情景详细说了一遍。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊问道：“这个盈袖是在素雪之前跟祖师好的吧？祖师也是因为这个盈袖才不跟素雪好的吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说她：“你关注的点就不对，这个梦说明祖师有可能在世间留有血脉！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊瞪着他争辩道：“那又怎么样？祖师又不是神仙，难道他的血脉还会有神力吗？再者说，你又没看到结局，怎么知道祖师的儿子不会跟着祖师上山修道？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子转向霍晓荧说道：“芊芊跟我想得一样。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“呸。”霍晓荧直接啐他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵问道：“祖师的儿子叫什么名字？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“不知道，刚看见他儿子，我就醒了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧盯着山伢子胸口说道：“火行石，你讲故事能不能完整点儿？别总是一骨节儿一骨节儿的行不行？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵说道：“这些都是虚幻之事，不必深究，你们眼下还是集中精神，把迫在眉睫的事情解决掉，免留后患。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子点头，眼中露出凶光，说道：“我现在就去找许三丈！我先弄死他！然后再让他把图黛玉的骨灰交出来！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓愕然看霍晓荧，霍晓荧赶紧说道：“忘了告诉你了，图黛玉让洪拓给撕了，那个素茗去找道清真人，可能就是因为这件事。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“撕了？”山伢子愕然看着洪拓。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓点头，说道：“对了，还有个事儿，你得研究一下，扎一些兵器放在饭店里，其实饭店也闹过几回事儿了，咱们应该有些准备。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“兵器？”山伢子眨眼，问道：“手枪啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“不是手枪，是冷兵器，刀、枪、棍子，就这三样就行。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧问道：“你们道家不是都用剑吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓反问道：“你知道为什么道家都喜欢用剑吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧想了一下，答道：“文艺呗。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所有人都笑，洪拓笑着说道：“别瞎闹，我告诉你，剑为君子，君子以德服人，修道者持剑，不视其为利器，也就是戒除杀戮之心，但是咱们是要打架砍人，剑不好使，而且剑练得慢。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“我听说枪练得才慢。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵说道：“但是枪为兵器之王，一旦练好之后，威力巨大，我觉得女孩子应该练枪。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊争辩道：“女孩子不是练剑好看吗？素雪用的就是剑。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“反正跟你也没关系，我是让伢子扎一些阴物。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍说道：“这些事儿回头再说，慕灵，你赶紧带他俩去医院照片子。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵带着山伢子和古芊芊去了医院，两人都照了脑部t，医生告诉韩慕灵，古芊芊的脑部图像正常，但根据主诉情况来分析，有可能是脑震荡，建议住院观察三到七天。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊直接拒绝。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;医生也没有坚持，指着山伢子的脑t图像说道：“这个脑部图像有点儿问题，但不是病理性的问题，而是先天性的问题。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“什么问题？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;医生斟酌了一下，说道：“有那么一点点……畸形。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哈哈哈哈……”霍晓荧笑得前仰后合，古芊芊咬着舌尖儿，极力地忍着，她不能像霍晓荧那样放肆的笑，因为她不是鬼，医生能看见她。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子抬手挠了挠头，医生适时问道：“你是这个地方总痒吗？从图像来看，就是这个地方有点儿畸形。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哈哈哈哈……”古芊芊实在是忍不住了，双手捂着脸放声大笑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子很尴尬，看韩慕灵，韩慕灵却面色如常，因为她不觉得好笑，或许正是因为山伢子的生理构造有问题，所以才能轻易冲灵，并且能够快速适应冲灵状态，甚至做到以气化形。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵说道：“给他做个全面检查。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好。”医生点头，说道：“全面检查需要两到三天的时间，需要住院吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵答道：“住吧，要单间。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;医生一愣，说道：“不用住单间吧？就是检查身体。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵说道：“要你们医院最贵的单间。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;医生又说道：“那个医保是不给报销的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵说道：“我知道。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;医生不再说话，反正又不花他的钱。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;住进了病房，霍晓荧先跑到病床上躺了一下，然后又蹿到沙发上，说道：“医院还有这种房间呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“妈，为啥要住单间儿啊？还要最贵的，咱有钱也不必花这冤枉钱吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵说道：“这种房间不会惹人注意，而且你是检查身体，到了晚上，护士也不会来管你，你们把门一插，一晚上不回来都没人知道。”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>