<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第118章：废弃工厂</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第118章：废弃工厂
</div>
<div class="bookname">
	<h1>第118章：废弃工厂</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第118章：废弃工厂<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉，说道：“那他死了怎么办？他才十八岁，身世已经那么可怜了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;妈妈说道：“他要是死了，就说明他不配做宿主，灵石会再找宿主的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嚷道：“是我建议让他自己去的！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;妈妈说道：“你没有错啊，他才是真正的宿主，总让那个小女鬼戴着火性灵石，算怎么回事儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊冲到茶几边，抄起醒酒器走向窗户，狠狠地将醒酒器摔向玻璃。可是不但玻璃没有碎，醒酒器掉在地上都没有碎，连盖子都没有松动。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊转回身惊愕地看着妈妈，妈妈微笑着说道：“我要是连你都制不住，咱们家早就败了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这是一个废弃的工厂，周围一片漆黑，车灯显得异常明亮，照着枯树残墙。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;出租车司机回头看着山伢子问道：“你确定是这里？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子举着纸条儿说道：“地址对就行，我没来过。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;出租车司机皱眉，说道：“地址倒是对，可你来这儿干嘛呀？这里都废弃好长时间了，周围几公里都没个人家。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“给我留纸条儿的人让我来这里。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;出租车司机不再问话，说道：“七十七。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子拿出一百块钱递给司机，司机翻了下包儿，找给山伢子二十五，说道：“我也没零钱，就收你七十五吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“谢谢。”山伢子接过钱下了车，刚关上车门，出租车嗖地就开跑了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;光线随着出租车远去，周围迅速地暗了下来，夜风拂过树梢，哗哗一阵轻响，远处的野狗吠了两声，又安静了下去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子莫名的打了个冷战，他还从来没有在六月份的天气里打过冷战。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子把灵石从衣服里抻出来，又从黄包儿里拿出铜钱剑甩直，然后深呼吸了两次，稳了稳神儿，拎着铜钱剑向阴森荒凉的废弃工厂走去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四经过深思熟虑，最终采纳了古芊芊的意见，张小莹虽然担心，但也知道徐四说得对，如果她非得跟着去，山伢子肯定会把灵石给她戴着，那样的话，遇到情况山伢子反倒更危险。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;临出门儿前，徐四把小黄包儿交给了山伢子，告诉他，里面有八卦镜、铜钱剑、引魂香，和一些常用的符咒，另外着重嘱咐山伢子，童子眉只对阴邪管用，对活物儿和法师是不起作用的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夜风渗骨的凉，山伢子知道，这不是风凉，而是阴气极重，以他的体质，就算是冬天刮北风下大雪的时候，也不可能觉得渗骨凉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;天空中响起隆隆声，山伢子抬头，看到两个忽闪忽闪的星星，慢慢悠悠地飞了过去，是飞机。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一道极凉的风突然向自己冲来，山伢子本能的一个后手翻，躲过了脖子上那股瘆凉，顺势半蹲半跪在地上，看到一团黑影再次向自己冲来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一个侧身翻，手中的铜钱剑挥了出去，一道红光划出完美的孤线，连山伢子自己都震惊了，他居然能用铜钱剑发出剑气？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;落地时才发现，原来是灵石伸出了一条红线，缠在了他的右手腕上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑影不见了，周围又恢复了死一样的宁静，远方若隐若现的办公大楼，像鬼屋一样，时不时的在某个窗口闪动一下绿光。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子真想破口大骂，但他忍住了，因为徐四一再叮嘱他，遇事要冷静，要做到不急不躁，以不变应万变。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子继续向办公大楼走，虽然没有理由，但山伢子心里有种感觉，舒静的命魂被困在那个大楼里。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“咣啷咣啷……”有节奏的声音从远处传来，山伢子站定了脚步，扭头看向声音的来处。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;远处有一团白亮的光，移动着靠近，突然一道光打在山伢子脸上，山伢子连忙抬手遮挡光线，一个声音问道：“你是干什么的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子想看清对方，但对方一直用手电照着他的脸，山伢子来了火气，骂道：“你他娘的有毛病啊？把手电拿开！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对方也骂道：“你个小兔崽子，还敢骂人，大半夜的跑来这没人的地方，是不是想偷东西？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看到脚边我处有一小块儿石头，便用脚尖一挑，对方哎呀一声，手电掉在了地上，骨碌出去挺远。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子使劲儿闭了下眼睛，然后睁开，看清对方正用手捂着脑门儿去捡手电。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子心里有气，蹿过去一脚把手电踢飞了出去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哎！”对方站直了身子，手还捂着脑门，比山伢子矮一头，脸上满是皱纹，背有些驼，头发乱蓬蓬，胡子半长不短，一说话还直颤：“你踢我手电干啥？你给我捡回来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子大声吼道：“你说我踢你手电干啥？你拿个破手电一直照着我，你有病啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子嚷完，突然想起来正事儿要紧，转头向办公大楼走去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老头儿却不依不饶地赶着来抓山伢子的胳膊，说道：“你别走，你给我把手电捡回来，你这小子怎么欺负老人？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子没工儿夫理他，加快脚步往前走，身后骤然一股凉风袭来，山伢子就地一滚，再次挥出一道红光。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“呵呵呵呵……”苍老的笑声在空中回荡，刚才那个老头已经不见了踪影。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子猝然心惊，居然是只老鬼，他刚才竟然没有看出来！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老鬼的声音飘忽不定：“家里的猪圈塌了……我来拉几块砖用用……鸡窝也该垒了……茅房也该修了……前年呐……墙根儿都长草了……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老鬼念叨着琐事，山伢子不明白它是什么意思，但心里逐渐开始起急，忍不住骂道：“滚你娘的！有种你出来！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老鬼还在自顾自地念叨：“村东头儿的邹家二小子跳井了……听说是媳妇儿跟别人睡了……真是想不开呀……村西头儿的老树枯死了……都说锯了当柴烧……可人太多了……没法儿分呐……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子要骂娘了，舒静的命魂还没有找到，居然在这儿听这个老东西胡咧咧，可不听又不行，不解决这只老鬼，他不敢冒然闯进大楼里去。
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>