<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第363章：错误</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第363章：错误
</div>
<div class="bookname">
	<h1>第363章：错误</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第363章：错误<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子倏然冲了过来，呼的一声，拳头带起急风，打向古木苍面门。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍双手相叠，向前推挡，他能躲开这一拳，但他要验证一下山伢子的法力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;嘭的一声，古木苍被打飞出去，他没有留手，而是运足了法力去推挡，但还是被打飞出去，并且被灼热的气息冲得魂体发虚。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“爸！”古芊芊的声音。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刚才古木苍的喊声惊动了韩慕灵和古芊芊，两人都站在窗边观望，虽然知道古木苍是在测试山伢子，但看到古木苍被打飞的时候，古芊芊还是第一时间喊出声来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵也吓了一跳，按境界来说，山伢子要比古木苍低两个境界，可是刚才那一拳的威力，却明显高于古木苍。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵不禁在想，山伢子真的是五行世家之外的人吗？这种骤然提升数倍的法力，真的仅仅是来源于火行石吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子回头看着窗边的古芊芊，身上的红光褪去，眼睛也恢复了本来颜色，这才开始心慌，转头看向古木苍。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍已经坐了起来，盘着双腿，闭目调息。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵在窗边说道：“伢子，回房间休息吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子刚要应声，韩慕灵已经从窗边消失了，再看古芊芊，古芊芊说道：“没事儿，上来吧，妈会照顾爸的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子没吭声儿，心里有些愧疚，回屋时迎面看到韩慕灵走过来，山伢子赶紧说道：“妈，我不是故意的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我知道。”韩慕灵说道：“不用愧疚，这是你爸自找的，他比你高两个镜界，而且还是克制你的属性，还没有肉身束缚，谁都想不到会是这种结果，去吧，赶紧上楼歇着吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵给古木苍打着一把黑伞，古木苍直到上午十点多才睁开眼睛，微笑着说道：“娘子辛苦了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵嗔笑道：“没事儿了？都有闲心贫嘴了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两人回到屋里，韩慕灵问他：“是不是觉得伢子年轻，所以大意了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍摇了摇头，郑重地说道：“我没有一丝留手。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵眼眸一滞，这怎么可能？相差两个境界，在没有一丝留手的情况下，山伢子竟然能仅凭一击就伤到古木苍？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍沉重地说道：“这些年……我们都错了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;有一种错误叫不求甚解，有一种畏惧叫望而却步，有一种失败叫自以为是。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至少在古木苍知道的传承中，冲灵是不好的，不但会使宿主疯魔，还会损耗宿主的命力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可是，从来没有人想过，造成疯魔的原因，可能只是因为命魂承受不了激增的法力，而所谓的损耗命力，其实是命力爆发。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一而再，再而三的冲灵，非但没见他有什么损耗，反倒是突飞猛进，无论是法力还是武功。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵皱眉，说道：“仅凭山伢子的个案，就推翻祖祖辈辈的传承，未免有些矫枉过正了吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍沉默，韩慕灵说得也对，或许这跟个人的体质有关系，也或许只有火行石才具有这样的能力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵又说道：“不管你的判断对错与否，芊芊不能尝试。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍说道：“那是当然，我也没有想过要让芊芊尝试，我只是自己想试一试。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵说道：“你最好也别试，你已经试不起了，万一出了问题，你就会灰飞烟灭了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍沉默了片刻，说道：“我就算不试，也得搞清楚。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵说道：“是要搞清楚，不过，要循序渐进，别太着急了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一惊醒过来，跳下床跑到古芊芊的房间门口，轻轻推开门，看到古芊芊睡着，而霍晓荧靠在床头上，手上拿着一本书。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;看到他，霍晓荧露出微笑，下了床走过来，推着他出来，把门带上，才说道：“我没事了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子抱住她，霍晓荧轻声说道：“去你房里说，别吵着芊芊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;回到自己房间，山伢子说道：“对不起，都怪我。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧笑，说道：“干嘛说对不起？你又没做对不起我和芊芊的事，你只是冲灵了嘛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉说道：“这样不是个事儿啊，我一次比一次厉害，而且我控制不住，早晚会害死你的！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“所以呀……”霍晓荧微笑着说道：“你要学会控制。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在山伢子睡觉的时候，古木苍和韩慕灵两人，针对山伢子冲灵以后，几乎导致霍晓荧灰飞烟灭的问题，跟霍晓荧研究了一个多小时。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵认为，应该想办法把木行石拿回来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个提议，古木苍和霍晓荧都反对，霍晓荧单纯的是不想再给夏歆雨造成麻烦，甚至是苦难。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而古木苍想得更多一些，毕竟霍晓荧没有肉身，如果拿回木行石，会不会像山伢子一样冲灵？如果造成魂变或是直接灰飞烟灭了呐？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;最终的研究结果，是一方面霍晓荧要提升法力，另一方面，也是最重要的，山伢子要学会控制。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍认为，山伢子的命魂已经开始适应冲灵的强度，至少他没有再出现昏迷的情况。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是，瞬间激增的能量也让山伢子迷失心性，其实频发这种情况，人往往会入魔才对，可山伢子一次次地挺过来了，而且可以接受外界的刺激，自行消除冲灵的状态。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;用一句比较酸的话来说，这就是爱的力量，因为山伢子心中有牵挂，所以他挺过来了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以古木苍认为，要想让山伢子学会控制，他做不到，要由霍晓荧和古芊芊来做，因为山伢子即使在冲灵的状态下，心里也记挂着她们，绝对不会对她们动手。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“那用什么方法控制？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“爸的意思是，那个黑衣人说得对，冲灵这个词是不对的，冲灵的意思是宿主冲撞了石灵，被石灵控制，但实际上，应该是魂灵相合，所以，第一步，你要先做到自主的魂灵相合，而不是通过情绪刺激。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子沉默，微微皱着眉头琢磨。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧歪着头看他，问道：“你怎么不问我怎么办？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子反问道：“你知道怎么办？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧摇头，答道：“不知道。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“那我问你干啥？”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>