<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第10章：媚姌</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第10章：媚姌
</div>
<div class="bookname">
	<h1>第10章：媚姌</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第10章：媚姌<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;到医院拍了片子，医生说骨头没什么问题，可能是肌肉拉伤了，建议留院观察几天。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说不用，既然骨头没事儿，何必花那冤枉钱。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四却说，钱花了可以再挣，人要是出了事儿，再多的钱也没地儿买后悔药儿去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;躺在病床上，山伢子心里不是个滋味儿，自己家出了事儿，四叔收留了他，结果他没干两天活儿，倒把四叔给连累得又是打架又是花钱的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“四叔，都怪我连累了你，要不我把这石头扔了吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四摇了摇头，说道：“就怕你扔不了，这东西要真是个灵物，你就是把它扔到大海里，它也能自己找回来。再者说，我也不怕你连累，就算没有你，该出的事儿也一样会出，好好儿歇着吧，别瞎琢磨，我回店里了，明天下午我再来看你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四走了，山伢子迷迷糊糊地睡着了，不知是什么时候儿，听到一个浑浊不清的声音在耳朵说着什么。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子睁开眼，看到张电工那张焦黑的脸，吓得立时头发根儿都竖了起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张电工凑得很近，脸对着脸，恶狠狠地说道：“把你脖子上的东西摘下来！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子稳了稳心神，瞪着他说道：“有本事自己拿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张电工倏然直起身来，伸手抄起病床旁边的凳子，阴森地说道：“我是拿不了，可我能砸死你！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子不说话，只是瞪着他，随时准备奋力一搏！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一个纤细柔弱的声音响起：“东西是好东西，可你拿来做什么用啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子和张电工同时一愣，都向声音来处转头，是那天晚上穿旗袍的女鬼，依然是那身打扮，婀婀娜娜，弱不禁风的样子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“你别管，这个鬼凶得很，你快跑，去找四叔！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;女鬼看了山伢子一眼，又将目光投向张电工，说道：“我问你呐，你拿来做什么用啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张电工却一改凶恶的神态，把凳子放下，也恢复了正常的样子，陪着笑脸儿说道：“是姌姐呀，这么巧，你也是来要这东西的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不是。”女鬼说道：“我听徐四说，你把他的店砸了，还把这孩子打伤了，你挺能啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张电工收了笑意，说道：“媚姌，别以为我怕你，我不过是……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚姌抬起手轻轻一挥，张电工直接飞了出去，撞在墙上又弹了回来，没有像跟徐四打架时那样穿墙消失。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚姌说话依然细声细气：“我没想让谁怕我，但凡事都要有个尺度和界线，你觉得你是鬼，就能胡作非为吗？徐四的店开了也不是一天两天了，多少人和鬼都是从他那儿走的，你跑去把他的店砸了，你以为你是谁呀？你让我们这些老人儿老鬼的脸往哪儿搁啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张电工双手撑着地想起来，媚姌手腕一翻，纤细的手掌做了个下压的动作，张电工闷哼一声又趴在了地上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚姌说道：“有话就趴着说，没话就爬出去吧，我做鬼做事向来留余地。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张电工说道：“我就是想看看这孩子脖子上是什么东西，徐四强出头，他……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你这话可不对。”媚姌截住他的话头：“这孩子是徐四的伙计，将来还有可能收做徒弟，不管怎么说，这孩子都是徐四手底下的人，徐四不罩着他，还有脸在街面儿上混吗？你找上门儿去打人家的脸，还不准人家还手儿？这是哪儿的规矩呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张电工不吭声儿，媚姌说道：“下不为例，你走吧，别再难为这孩子，以后也别去徐四店里了，当个没吃没喝的野鬼吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张电工抬起头，脸变得焦黑，恶狠狠地问道：“你凭什么不让我去店里吃东西？徐四开门儿做生意，我又不是不给钱。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚姌幽幽叹了口气，笑了一下才说道：“凭什么……很多鬼问过我这个问题，你真的想知道吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张电工扬着脸对着媚姌，片刻后趴着退到了墙边，消失了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看着媚姌，大张着眼睛有点儿发傻。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚姌露出温柔的笑意，走到床边看着山伢子说道：“徐四说你是个好孩子，我叫媚姌，你可以叫我姌姨，有个事儿我想问你，那天你为什么一直盯着我吃饭？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“我不知道你是鬼，四叔没放盐，我怕你不高兴，就在旁边等着挨你骂。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚姌哑然失笑，伸手抚了下他的脸，说道：“好好儿歇着吧，姓张的不敢再来惹你了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“谢谢姌姨。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不客气。”媚姌说完就消失了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子没了困意，而且不知道是因为止疼药的药劲儿过了，还是刚才太紧张牵动了哪块儿，这会儿后背疼得钻心，就算困也睡不着了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;硬忍着疼挺到天色发白，山伢子才迷迷糊糊的睡着了，梦见了爹，穿得破破烂烂，在寒风中瑟瑟发抖，脸冻得通红，嘴唇却是青白的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;爹跟他说：“伢子，爹不知道啊，这块儿石头你千万要留好，可不能像爹一样，总想着拿它换钱，要遭报应啊！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“爹！”山伢子大叫一声醒了过来，看到徐四手里捧着本儿书，一脸愕然地看着他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“我梦见我亲爹了，他说他遭了报应，让我把这块儿石头留好。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四没说话，放下书，打开保温筒，一股香气飘了出来，山伢子咽了咽口水。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“酸菜白肉炖血肠儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子两眼放光，感觉口水都要流出来了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四把病床摇起来，小饭桌儿支上，然后把保温筒放在桌儿上，说道：“吃吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“谢谢四叔。”山伢子慌着往嘴里送，后背都没那么疼了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四拿起书接着看，随口说道：“慢点儿吃，没人跟你抢。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吃完了饭，弄着山伢子上了趟厕所，徐四收拾了东西要回去，山伢子说道：“四叔，让我回家躺着吧，何苦糟蹋钱呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“回家不得我伺候你啊？在这儿好歹有护士和护工吧？你就踏踏实实的把伤养好，别总操心钱，能用钱算清楚的账就不叫事儿，你要是念我的好儿，等将来我老了，你给我养老送终就行了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子心头一热，说道：“四叔你放心，我就是你亲儿子。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四笑了一下，拿了东西走了。
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>