<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第27章：打上门儿</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第27章：打上门儿
</div>
<div class="bookname">
	<h1>第27章：打上门儿</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第27章：打上门儿<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;经过今天晚上的事儿，山伢子想明白了，有些事儿想躲是躲不了的，他都已经把灵石埋了，可刘老鬼还是要弄死他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;为什么？山伢子想不明白，但他知道，事儿已经这样儿了，只有多学本事才能保平安。四叔说得对，人不能怂，人要是怂，狗都欺负你。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四呵呵一笑，说道：“我徐家一向是血脉相传，也没有什么正经的拜师仪式，咱也不搞那套花活了，既然你给我磕了头，叫了我一声师父，从现在起你就是我徒弟，我把手艺传给你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吃完了饭准备睡觉，院儿外有人说话：“徐四，我是刘二梗。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四从屋里出来，也不去开门，直接说道：“进来吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘二梗穿门进来，站在徐四面前，山伢子怨毒地瞪着他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘二梗看都不看山伢子，对徐四说道：“大成子跟我说了，我想着你今天不找我，明天也得找我，所以我来找你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“你来找我应该有话说吧，别说废话了，有什么话快说吧，说完了好动手儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘二梗脸色发黑，指着山伢子说道：“这小子身上的东西，是个鬼就害怕，你收他做徒弟，还让不让我们安生了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四呲儿道：“屁话！阳间的法器多了，也不是就我徒弟有，也没见鬼都灭绝了呀，你们不是还好好儿的该干嘛干嘛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘二梗说道：“你们徐家向来是血脉相传，你现在……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我们家的事儿，跟你有什么关系？”徐四打断了他：“你可真是咸吃萝卜淡操心，话说完没有？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘二梗退了一步，盯着徐四问道：“你真要跟我动手儿？就为了一个不认不识的小子？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四刚要说话，山伢子抢着说道：“师父，他要我的命，我跟他算账。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘二梗皱眉道：“你叫他师父？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“你来之前刚拜的师，石庆山现在是我徐四名正言顺的徒弟。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子瞪着刘二梗问道：“你为啥非得要我死？我就算有这块儿石头，又碍着你什么事儿了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘二梗冷笑一声，答道：“我是鬼，你是人，而且是有可能成为厉害法师的人，你说你碍不碍我的事儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;转而又看着徐四说道：“你们徐家本来就不应该存在，你爹死得那么早就是报应！而你又没了后代，本来等你死了，靠山镇的规矩就没了，可你却找来这么个小子。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘二梗冷笑起来，退了两步接着说道：“徐四，每年的三十儿到十五这半个月，媚姌都不知道躲在什么地方，她帮不了你了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四脸色一变，对山伢子说道：“去把我床头的黄布包儿，还有那把伞拿来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子刚要转身，刘二梗倏然扑了上来，一把抱住山伢子，徐四刚要冲过来，山伢子的胸口陡然亮起红光，刘二梗惨叫一声被弹开两米多远，魂体都虚了一下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四愣住，这还是他头一回看到灵石的威力，眨了眨眼说道：“你先顶着，我去拿东西。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子瞪着刘二梗，两手攥成了拳头，有灵石就是好，不用把自己打出血就能制鬼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘二梗咬牙切齿，上回听王老鬼提到这块儿灵石，他就想要，只不过装得满不在乎，但没想到，他也扛不住这东西。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘二梗再次扑向山伢子，双手掐住了山伢子的脖子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;已经到了这个地步，再想缩回去是不可能了，徐四肯定跟他没完，与其到了儿落个‘没种’的臭名，还不如拼了，要是能捎带着把山伢子弄死，也算他刘二梗仗义了一把，为所有的鬼兄弟除了后患！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子立刻觉得气闷，胸口红光大盛，刘二梗先是咬着牙浑身哆嗦，片刻后放声惨叫，但手上的力气却是一点儿都不松，任凭山伢子是打是踢，刘二梗都不撒手。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四跑出来时，山伢子已经满脸通红，但因为胸口的红光极亮，也分不清是灵石照的，还是被掐着脖子憋的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四撑开黑伞，斜举着用伞柄朝向刘二梗，大喝一声：“收！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑伞里瞬间滑出五道金光，分别缠住刘二梗的两个手腕、两个脚腕，还有脖子，刘二梗立刻没了力气，松开了山伢子，被扯向黑伞中。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘二梗只能不甘心的诅咒道：“徐淇军！你不得好死啊！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子弯下腰狂咳了一阵，然后双手拄着膝盖大口的喘气，徐四问他：“伤着没有？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子摇头：“没有……师父，为啥我的灵石弹不开他？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四合上伞答道：“不管是人是鬼，只要抱了鱼死网破的心思，没有绝对的实力是对付不了的，人能拼命，鬼也一样，灵石虽然能保护你，但它的能量有限，你啥也不会，一点儿法力没有，碰上拼命的鬼，有灵石也没招儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子答应，问道：“师父，这事儿算完了吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四摇头：“还没有，走，去坟地。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两人开着摩托车到了坟地，徐四把黑伞抱在怀里，大声说道：“诸位乡邻，刘二梗找到我门儿要弄死我们师徒俩，我把他收了，困上七七四十九天，然后打落黄泉，我来知会诸位一声儿，从现在起，石庆山是我徐四的徒弟，我要把徐家祖传的武功、法术、厨艺，都传给他，要是还有哪位乡邻有意见，我徐四在家里恭候大驾！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王老鬼从坟里出来，说道：“徐四，这两天我也琢磨了，你说得对，你们徐家的事儿，是轮不到我们多嘴，不过，老刘也是看着你长大的，他这人一向脾气不好，他当年做鬼之前，还是你亲手给他做的大肉面，他是做事儿过分了，但你也不用这么狠吧？打落了黄泉，他得什么时候儿才能投胎呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四答道：“人不犯我，我不犯人，我招谁惹谁了？他跑到我家里跟我拼命，要是这样儿我还容着他，那我干脆卷铺盖离开靠山镇得了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;又有一只老鬼出来，劝道：“话也不是这么说，老刘的脾气是冲，可他真没坏心。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四冷笑一声，喊道：“大成子！出来说话！”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>