<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第792章：交换</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第792章：交换
</div>
<div class="bookname">
	<h1>第792章：交换</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第792章：交换 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴嫣然而笑，挽着山伢子的手又紧了些，说道：“不过有些话我要提前跟你说清楚，免得将来你说我算计你。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;昴布微一皱眉，说道：“你的意思是说，仙茗山山长水远，而且壁垒森严，一旦走漏了消息，其他族群就会找上我是吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴点头答道：“对呀，这世上没有不透风的墙，你不是也知道我在这里吗。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;昴布皱着眉头沉默了一会儿，问道：“你真的想跟我交换？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴笑着答道：“我刚才在远处观察了，你族的秘术应该是给人的身体提供保护层，以此来增加人的抗击能力，不过呐……” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴没有把话说完，只是笑意更浓。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;昴布点头，是啊，铁衣术根本抵挡不住惜音的鞭子，一样像纸人似的被抽成了两截，所以卿琴要不要铁衣术都无所谓，对于人家来说，铁衣术根本没有价值。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;见他脸色沉暗了下去，卿琴说道：“没关系，我夫君是地仙，他的近身侍卫当然不是一般二般的人，所以你族的秘术还是有用的，你愿意换吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;昴布精神一振，答道：“愿意。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但随即又说道：“你不会骗我吧？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴笑着说道：“你想多了，我完全可以将你们全都杀掉，再灭了魂，用不着这么费事。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;昴布点头，是啊，人家已经占了上风，是没有必要再给他假的秘术，其实卿琴的意图很明显，就是想让金剫族转嫁乌拉族的麻烦。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴说道：“不过要委屈昴布大祭司在我们饭店里住几天，我给你把秘术写下来，你的人可以先回去，如果不放心，就在镇上住几天，你可以带人保护你，但我们只提供一个房间，而且不能随意走动，房间里有卫生间，吃饭有人给你送。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;昴布点头答道：“多谢卿琴大祭司款待，一切全凭大祭司安排。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;昴布在饭店住了四天，没带护卫，临走时卿琴又送了他一瓶灵血。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;昴布握着瓷瓶咬牙，早知如此，何必当初，说道：“卿琴大祭司，我多嘴问一句，你族的电长老？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴答道：“其赫已经辞去了长老职位，我没有杀他，想必我的事他都跟你说了，我不愿再多伤人命，况且长老反叛，对我的名声也有影响，既然族人不知道这件事，那就不需要知道了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;昴布点头，拱手说道：“告辞了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;昴布走后，卿琴一脸兴奋地说道：“太好了，金剫族的秘术是铁衣术，这个太有用了！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子愕然问道：“有啥用？还不是让惜音给抽成两截了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊笑嗔道：“你真是一会儿明白，一会儿糊涂，昴布的法力能跟咱们比吗？有了铁衣术，与人交手时如同罩了一层无形的铠甲，既不增加重量，也不影响肢体活动，那不是占了大便宜吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦！”山伢子恍然应道：“你说得对。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;日子一天天过去，转眼就到了夏天，镇子上还是没有鬼，只有江溟时不时地来吃顿饭，但再也没问过服装厂厉鬼的事。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子和古芊芊回了趟莫林市，把那间扎纸店过户给了潘小龙，回来的时候，把邢宽和龚钰丹带回了饭店。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹拒绝当大堂经理，因为是夜班，反正卖房的钱也够用，她自己还有家里公司的股份，所以在青春年少的时节，直接退休了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢宽劝她修炼，她就怼邢宽：“干嘛？怕过几年我老得没法看呐？没关系，二百妖族美女呐，你随便挑，别让我知道就行。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其实龚钰丹早就问过古芊芊，自己能不能修炼成那种‘小姑娘’，古芊芊明确地告诉她不可能，因为她天资不够，顶多能驻颜二到三十年，而且肯定没有邢宽命长。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以龚钰丹直接放弃，在古芊芊说可以延寿时，她说：“费那事干嘛？老得跟苦瓜似的，给谁看呐？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;某天，安婧跟古芊芊说，素隐门中有些人想来无名观修炼，而有些人想继续在都市中生活。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说，愿意来的就来，不想来的就不来，今时不同往日，素隐门已经不需要再承担那么重的职责了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;于是有很多人陆续来到刘江镇，拜见观主，分派静室，折腾了两个多月，入秋了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而在素隐门折腾的这两个多月里，江溟一直没有来过饭店，山伢子甚至怀疑，江溟会不会被厉鬼吃了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;初秋的夜晚，宁静深邃，山伢子坐在窗边看着外面，心里有些异样，如果忽略掉这个奢华的饭店，这里很像靠山镇的夜晚，当年他也是这样坐在店里，看着外面浓重的夜色，和空荡荡的街道。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子最近几天有些迷茫，感觉自己一味地向着‘高大上’冲刺，好像他已经是无名真君了，他要做的和能做的，就是练练功，做做饭，或者是闲来无事，像这样呆坐着，思考一下自己漫长而无趣的人生。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;突然间有所感悟，虽然还搞不懂为什么当年盈袖死活就是不肯上山修炼，但却明白了他为什么会毅然决然地追随着盈袖重入轮回。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;或许是因为对于这样无聊的人生，他早已经厌倦了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;又想起那个种树的梦境，又想起那首相见时难别亦难的词句，心里莫名的感到一丝痛楚，不是因为相思，他现在有六个媳妇儿在身边，整天吵来嚷去的，他只是感叹当年自己的无聊与孤单。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊轻盈地坐到了他的对面，微笑着说道：“夫君，从明天开始，做活人生意吧。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一愣，眨了眨眼睛。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊略有些尴尬，说道：“我是不想让你分心，甚至不想让你开这个饭店，我苦熬了七百年，现在的情况跟我想要的不一样。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊顿住，沉默了一会儿又说道：“可是我想要的，恐怕不是你想要的，那天你突然问我，为什么当年盈袖不上山修炼，为什么你要重入轮回，我琢磨了两天……” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“盈袖或许是怕最终像我一样孤单凄苦，而你……应该是早就厌倦了这种无趣的生活。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;(本章完)
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>