<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第225章：我回来了</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第225章：我回来了
</div>
<div class="bookname">
	<h1>第225章：我回来了</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;&quot;第225章：我回来了<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四接到山伢子的电话，也有点儿蒙圈，琢磨了一会儿才说道：“你去吧，问清楚，我觉得应该是小莹的生辰出了差错，你也不用顾虑什么了，见着小莹爸妈，你就实话实说，不行就让小莹现身。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊也给韩慕灵打电话，把情况说了一下，还说想陪张小莹回家，意外的，韩慕灵同意了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊有些诧异，本来以为出来已经好多天了，妈妈会催着她回家，没想到居然同意了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;于是三人就去了张小莹家，路上张小莹还问古芊芊：“你不用报志愿吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“我都不想上学了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹笑，问她：“那你打算以后在饭店当领班儿啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嗤道：“我还用上班儿赚钱吗？我一年的压岁钱都比普通白领儿多。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“你都多大了？还能拿压岁钱呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊瞪他，山伢子说道：“你瞪我也没用，学还是要上的，你总不能跟家闲着吧？会闲出病来的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“我家有产业，我有得是事情可做！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“别打岔。”张小莹说山伢子，转而又问古芊芊：“你是不是得出国啊？像你们这种有钱人家的，不都是到国外拿个漂亮文凭，然后回来混上流社会吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊笑眯眯地问道：“嫌我碍事儿了？要我给你腾地儿啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹冷了脸，嗔道：“好好儿说话。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嘟嘴，答道：“我妈是想让我去，但我还在抗争，我不想出国。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“你应该去，我听评书里说，花有重开日，人无再少年，你现在不去，就错过好时候儿了，而且，出去开开眼界也好。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊看着他似笑非笑，问道：“你去吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一愣，古芊芊说道：“我吃不惯西餐，带个厨子放心。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹笑，山伢子却认真地问道：“那你得去几年呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“不清楚，我又没去过，估摸着得三四年吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子琢磨了一下，问道：“给工钱吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹跟古芊芊都愣愣地看着他，山伢子说道：“天心要上学，我爹也得过日子，我得挣钱呀。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊哑然失笑，难怪以前妈妈告诫她不要早恋时，总说‘门当户对’这四个字，她还以为山伢子学会一本正经地开玩笑了，结果他是当真的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹叹气，心里突然生出疑惑，古芊芊跟山伢子根本就不是一个世界的人，一个是满心的风花雪月、浪漫自由，一个却是满脑子的柴米油盐、家庭责任。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊喜欢山伢子很好解释，少女情怀，山伢子肯为她拼命，她当然会动心，可是干妈怎么也会喜欢山伢子呐？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;仅仅为了那一次的舍命相护，就把金枝玉叶配给土包子，有这个必要吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果不是因为舍命相护，那就只能从五行世家的角度去考虑，可水与火虽能既济，但从卦象上来解释，却是初顺而终乱。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;干妈那么精明的人，应该不会走险才对，难道还有别的什么隐情吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一次古芊芊来，先是让她试戴水行石，然后又极力促成她跟山伢子的冥婚，一开始张小莹觉得古芊芊是因为跟她好，虽然心里不痛快，但也舍不得她，但细一想，这很可能是干妈的意思，或许古芊芊只是干妈手中的一枚棋子而已。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹微微皱眉，难道她在这个局里真的是一个极其重要的角色吗？黑衣人不让她去投胎，现在干妈又这样，到底是为什么呐？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;自己的事儿自己不知道，别人却门儿清，也是够闹心的！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;到了育红镇，山伢子本来想让古芊芊待在快捷酒店，他跟张小莹去，但古芊芊害怕，怕算计她的人再出现，虽然张小莹分析说可能是她爸爸，但没有证据，谁又说得准？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以古芊芊只是把旅行箱放在了快捷酒店，跟着山伢子到了张小莹家。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹的母亲看起来很年轻，完全不像四十多岁的人，一米六几的个子，半长不短的头发，还烫了大波浪卷儿，眉目清爽，脸颊偏瘦，皮肤白皙，站在门口儿问山伢子：“你找谁呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“张阿姨，我叫石庆山，我是小莹的……嗯，应该叫未婚夫，我跟小莹结冥婚时出了点儿意外，想来给您确认一下小莹的生辰八字。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹的母亲也姓张，叫张悦欣，面无表情地说道：“小伙子，你长得也不错，干点儿正事儿，别净想着骗钱，尤其还是用死人骗钱，当心报应！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完要关门，山伢子连忙伸手推住门，说道：“阿姨，您误会了，我是法师，我有阴阳眼，我四年前从靠山镇去钰县时上错了车，上了一辆鬼车，在鬼车上认识的小莹。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张悦欣还是面无表情，说道：“接着编，反正做饭还早，我有得是时间。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹用纤细的声音说道：“妈，他真的是我未婚夫，你让他进屋儿跟您慢慢儿说。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张悦欣瞪大了眼睛，前后左右四下里看，山伢子低声说道：“阿姨，就是怕您不相信，所以小莹也来了，其实我也不想干啥，就是想确认一下小莹的生辰八字，我焚了婚书，结果招来了一个也叫张小莹的女鬼，跟小莹的生辰一样，我觉得这事儿太巧了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张悦欣上下打量山伢子，却说道：“行啊，现在行骗都是高科技了，用的是什么设备啊，整个女孩儿的声音糊弄我。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不等山伢子辩解，又看着古芊芊说道：“小姑娘，你跟他是一伙儿的？你长得这么好，应该找个好人嫁了呀，跟着他干这种事儿，白瞎了老天爷给你的优越条件。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“姐，你现身吧，阿姨不见着你是不会相信的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张悦欣愣住，又听到纤细的声音：“妈，我要现身了，你有点儿心理准备。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹缓缓显出形来，张悦欣瞪大了眼睛，怔怔地看着张小莹，眼泪从眼角溢出，顺着两腮滑落。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹扁了嘴，哽咽着说道：“妈……我回来了。”&quot;
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>