<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第522章：梦杀术</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第522章：梦杀术
</div>
<div class="bookname">
	<h1>第522章：梦杀术</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第522章：梦杀术<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“火特林……闸了？”山伢子已经不能正确发音了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嗔道：“你使那么大劲儿干嘛？你看你把他打得，像猪头一样！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧斥道：“叫唤个屁！你心疼啊？我不是为了救他命吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵斥道：“还有心情绊嘴？都给我起开，赶紧让我给他止血！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一会，血止住了，韩慕灵又让古芊芊把准备好的化瘀膏给山伢子涂在脸。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子暂时说话口齿不清，洪拓先说他对梦杀术的了解，他的了解来自于广明真人的笔录，笔录有这样一篇记载。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;XX年巧月……古芊芊小学生一样举手，洪拓说道：“是‘阴’历七月份。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”古芊芊放下手。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;长阳地，XX镖局总镖头X某，死于睡梦之，身刀伤二十余，然其妻称，未出寝卧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;人皆称鬼事，余往察之……<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子招手，含‘混’着说道：“星吾桶。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嗤道：“这都听不懂？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嗔道：“又不要他做学问，为啥要听得懂？你不是也不知道巧月吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵斥道：“你俩给我闭嘴！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“等一下啊。”洪拓先把原在心里过了一遍，然后开始讲。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;有个叫长阳的地方，那里有个镖局，总镖头睡了一觉，第二天早发现死在‘床’，身有二十多处刀伤，他媳‘妇’儿说他根本没出过屋儿，如果有人进来，也不可能砍二十多刀都没动静，而且他媳‘妇’儿那一晚睡得特别死。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;镖局里的人都说总镖局是被鬼害死的，刚巧广明真人云游到那里，‘门’去看情况，发现所有的伤口都很像刀伤，但与刀伤又有所不同。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;正常的刀伤，必然会有斩裂皮‘肉’的痕迹，但总镖头身的伤口，更像是自己裂开的。用今天的话来说，这是潜意识造成的自我伤害。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而且最重要的是，总镖头的魂没了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;广明真人调查了将近三个月，才从诸多的线索捋出一些头绪，总镖头在年前走过一趟镖，护送XX银号十车银元宝去苗疆，遇到了劫匪，杀了几个人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这是很正常的事儿，走镖碰劫镖的，杀人护镖天经地义，但不正常的是，总镖头还抓到一名‘女’劫匪，很漂亮，所以总镖头做了一件很无耻的事，整整折磨了‘女’劫匪十天。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;广明真人让镖局的人带着他去找那名‘女’劫匪的尸骨，挖出来之后，解开草席，看到‘女’劫匪面目如生，只是身满布伤痕，污秽不堪。广明真人不忍细看，脱下道袍给她盖，然后让镖局的人去买棺木。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;广明真人地设了灵堂法坛，作法招这‘女’子的魂，但意外的是，‘女’子的魂也不见了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;广明真人不明里，怕自己法力不足，更怕‘女’子怨气不消，为祸一方，于是诵经超度，之后火焚棺木尸骨。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一切都很顺利，但这条线索也断了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;回长阳之时，某夜在客栈休息，有一美‘艳’‘女’子入梦，告诉广明真人，死的那名‘女’子是她的妹妹，因为感念广明真人善行，所以才以入梦的方式来告知真相。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;苗疆有两种法术，寄魂术与梦杀术，总镖头抓了‘女’劫匪，既不杀也不送官，而是用尽手段折磨，所以那名‘女’子在临死之前，用寄魂术标记了总镖头，而入梦的‘女’子用梦杀术将总镖头杀死在梦。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵问道：“尊师可能解梦杀术？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓摇头，答道：“没有记载，这种秘术，那名‘女’子应该也不会轻易告诉我师父吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵皱眉，这话也对，看向山伢子问道：“你在梦里看见什么人了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子活动了一下腮帮子，虽然还有些口齿不清，但已经好得多了，把梦里的情形说了一遍。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵拿起手机拨号码，接通后说道：“立刻去查欧阳埁的家世背景！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊抬手掩嘴打哈欠，霍晓荧皱眉问洪拓：“他们能睡觉吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓皱眉想了一会儿，说道：“照伢子的说法，用梦杀术的人应该也需要恢复和休息，赶紧睡应该没事儿，而且是伢子杀的欧阳埁，跟芊芊没关系。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊站起来说道：“我去睡了，大不了跟他拼命，总困死强。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“在这儿睡，我看着你俩。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一觉睡到午后，古芊芊醒来时，山伢子还没醒，霍晓荧推了山伢子两下，山伢子没反应，霍晓荧赶紧骑到他身，一个大嘴巴‘抽’下去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊……”山伢子惨叫着睁开眼，瞪着霍晓荧怒斥道：“你干啥！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧扁嘴，哽咽着说道：“我害怕……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子赶紧拉她躺在另一边，搂着她哄道：“没事儿，他杀不了我，我倒希望他赶紧再来找我，我好把他解决掉，这么抻着更难受。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊坐在‘床’看着两人，突然萌生出一个念头，这俩人都变了模样，难道是为了躲开素雪？也是躲开她。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;想着眼神不善，霍晓荧感觉到她的气息变化，看向她，古芊芊赶紧别开头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧捅了山伢子一下，山伢子伸手拉住古芊芊的小臂，古芊芊下意识地甩开他，自己愣了一下，然后下了‘床’，说道：“我去洗漱。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子愕然问道：“咋了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊没说话，也没有去洗手间，而是开‘门’出去了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧皱着眉头琢磨了一会儿，起身下‘床’。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“你俩咋回事儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧往外走，头也不回地答道：“跟我想起的前世有关，你别管，还不到告诉你的时候。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，霍晓荧出去了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;等了一会儿也不见有人回来，山伢子闭了眼睛，他打了架受了伤，觉得又困又累，一忽间睡了过去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;劲风扑面而来，山伢子不及睁眼，地一滚避开了劲风，随即睁开眼，看到刀光又向自己拦腰扫来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子手脚同时在地一撑，横着推出一米多远，随即站了起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一个七八十岁的老头儿向他冲来，双手握着一柄明晃晃的钢刀，当头劈落。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子侧身避开刀锋，老头转腕，钢刀横扫，山伢子一拳打在老头握刀的手腕。
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>