<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第575章：乌拉族</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第575章：乌拉族
</div>
<div class="bookname">
	<h1>第575章：乌拉族</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第575章：乌拉族<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刚到‘门’口，山伢子手机响，掏出来看到是徐四的电话，便推‘门’进去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四挂了电话，说道：“来了，这位姑娘找你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧看着山伢子，随即看到古芊芊和霍晓荧走进来，安婧向着古芊芊单膝跪下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊吓一跳，惊问道：“你这是干什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧抢一步扶起安婧，说道：“时代不同了，不必拘礼，听伢子说你刚满十八，那我们都是你姐姐，我芊芊大。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧点头，‘露’出一抹微笑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“那个……你们去套房吧，我跟师父说说媾鬼像的事。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧用异样的目光看着山伢子，山伢子问她：“你也知道媾鬼像？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧点头，掏出手机打字，好一会儿才打完，举给山伢子看：“让我标记你，这样打字都够写一篇章了，而且我刚学会打字，打得慢。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，古芊芊斜眼看着山伢子说道：“是得标记，不是还要去找坐尸吗？总不能打架的时候也得用打字来‘交’流吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，霍晓荧帮腔儿道：“是，芊芊说得对，打架的时候必须得有‘交’流，打字肯定来不及。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧收回手机，看着山伢子，山伢子抬手挠了挠头，说道：“行吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧又用手机打字，然后举给山伢子看：“请坐下，入定。我要用魂才能标记。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子说道：“那去套房吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧突然问道：“安婧，你是什么行属？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“金。”安婧突然开口，所有人一愣。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子勤儿勤儿地解释道：“她能说单个字的词。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊白了山伢子一眼，说道：“快去套房标记吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;做了标记之后，安婧告诉山伢子，媾鬼像是漠北乌拉族的邪术产物，那是一个隐秘的种族，生活在乌拉山脉的深处。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;乌拉族的大祭司死后，会做一个七层宝塔样式的坐棺，然后将五脏挖出来捣碎，将五种颜‘色’的媾鬼像分别浸在对应的汁液里，浸泡七七四十九天，然后随尸首一起下葬。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过乌拉族所谓的下葬不是埋在土里，而是找一个山‘洞’，把宝塔棺放进去，然后将‘洞’口封死。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当大祭司的命魂修炼到一定程度，会有守护者替她寻找有缘人，将五个媾鬼像从棺取出，放到世间去吸取美‘女’的血液，以此来为媾鬼像积累‘活气’。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当活气积满之后，放回尸身里，大祭司可以转生。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“转生？”山伢子皱眉，转生跟投胎转世不是一个意思吗？那还费这么大劲干嘛？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧说，乌拉族的转生跟他们理解的转生不是一个概念，乌拉族的转生是带着前世的法力和记忆。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦！”山伢子恍然，要是这样，那可‘挺’牛X的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嗔道：“说话，同声传译懂不懂？别自己跟那儿聊了，我们都不知道是咋回事儿！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，安婧低下了头，霍晓荧赶紧打岔：“刚才你说转生，什么转生？不是投胎转世吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子把安婧的话复述了一遍，霍晓荧问安婧：“那烧了一个媾鬼像会怎么样？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧通过山伢子回答：“无法转生，肯定要报仇。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊看着安婧问道：“你才十八，怎么知道这么多事？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧回答：“不是我知道，是师祖你知道，家有师祖当年的游历笔记，记载了很多世间鲜为人知的人与物。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”古芊芊抿了下嘴‘唇’，她最怕别人伏低做小，当初霍晓荧是‘摸’准了她的脉，才把她跟山伢子撮合到一起，现在安婧对她毕恭毕敬，她心里那点儿不痛快瞬间消失了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊问道：“你想吃什么？让伢子给你做。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧‘露’出笑容，摇了摇头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“哪有过‘门’儿不吃饭的道理，伢子，你去做还乡台、清明结、金‘玉’桥，还有回魂汤，快点儿，等吃。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好。”山伢子笑着答应，站起来对徐四说道：“师父，我先去做菜。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四答道：“给我做一个‘花’开彼岸，我午也没好好儿吃。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“一块儿吃呗？干嘛还单做呀。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四站起来笑着说道：“我陪媳‘妇’儿，不跟你们年轻人瞎掺和。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“回去呀？还没说完呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四答道：“你们说吧，回头告诉我一声行了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子和徐四走了，安婧又得用手机打字，霍晓荧建了个群，三人用手机聊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是却没聊正事儿，霍晓荧和古芊芊轮着问安婧的个人情况，家住哪里啊……平时都怎么练功啊……为什么是灵语者啊……有没有喜欢的男生啊……穿多大号内衣啊……<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子做完菜回来，一进‘门’，脑海里响起安婧的声音：“师祖她们好八卦。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子笑了笑，说道：“吃饭吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧出去把洪拓和桃‘花’儿也叫了进来，六个人围一桌坐下开吃，安婧吃第一口，山伢子脑海猛然响起安婧尖锐的叫声：“太好吃了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哎呀……”山伢子抱住脑袋，闭紧了眼睛。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧连忙说道：“对不起，我不是有意的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所有人都看山伢子，霍晓荧问道：“怎么了？头疼啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧赶紧用手机打字：“这个菜太好吃了，我一时没控制住，意念太强了，对师祖造成了影响。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”所有人恍然，然后像没事发生一样接着吃饭。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“婧婧，你以后在我家住吧，反正你受命保护我，你还可以教我练功，每天监督我修炼。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧看着山伢子问道：“可以吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子闷头吃饭，用心念答道：“当然可以呀。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“咳！”古芊芊清咳了一声，瞪着山伢子，山伢子赶紧说道：“安婧问我可不可以，我说当然可以呀。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嗤了一声，对安婧说道：“你不用问他，千年前他是观主，现在我才是老大，什么事都是我说了算，记住了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”安婧点头答应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“对了，洪大哥……”山伢子刻意地岔开话题，把乌拉族的信息讲给洪拓听。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;的小说站！
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>