<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第754章：教训</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第754章：教训
</div>
<div class="bookname">
	<h1>第754章：教训</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第754章：教训<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子到大殿坐好，让惜音命人把外面的人带进来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一会儿工夫，殿外响起一个年轻人的叫骂声：“你们这帮妖孽！竟敢绑我，你们真是不知天高地厚，我要让你们死无全尸！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两名美女一左一右架着一个年轻人进来，年轻人二十多岁的样子，平头，穿一身牛仔服，脚上是马丁靴，个子不低，比两名美女高出一头，长得也不错，浓眉大眼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;惜音俯下身在山伢子耳边轻声说道：“观主，如果此人没有什么背景，请观主将他赐给妖族。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子愕然扭脸看她，惜音又轻声说道：“不是吃，且不会伤他性命。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子恍然点头，惜音又轻声说道：“属下只是为妖族姐妹着想，属下是处子之身。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子没接话，略有些尴尬。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;年轻人又嚷道：“你们这群妖孽！快放了我！否则让你们死无全尸！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“你叫什么名字？师承何门何派？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;年轻人骂道：“你这种妖孽也配问小爷的名字和门派？我呸！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子抬起手挠了挠脑门，扭脸看惜音，他想打人，不过惜音刚才又说了那些话，他现在有点儿矛盾了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;惜音走过去，扬着头看着年轻人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“呸！”年轻人突然朝惜音脸上吐口水。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;惜音一晃身闪开，说道：“跪下。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;年轻人嚷道：“放屁！让小爷……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两名美女同时抬腿踹在他两个膝弯上，直接将他踹跪在地上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊……”年轻人惨叫，两个膝盖像撞碎了一样疼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;惜音走回他面前，抬手扇了他一个大嘴巴，打得他瞬间口鼻流血。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;年轻人怒骂道：“我X……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;惜音又一个大嘴巴扇过去，年轻人的脸瞬间肿了起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊……”年轻人大声叫，异常悲愤的感觉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子微微皱眉，古芊芊说道：“你连人和妖都分不清，也不是个真有本事的人，我劝你好好儿说话，你吃了山精，就算你的师长来了，你们也没理可说。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;年轻人嚷道：“吃山精怎么了？山精就是吃的嘛！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“你吃的是我仙茗山的山精。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;年轻人嚷道：“那又怎么样？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，看古芊芊，古芊芊也微微皱眉，说道：“仙茗山一草一木皆为无名观所有……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;年轻人不等古芊芊说完就嚷道：“你说是你的，就是你的呀？你叫它，它答应吗？你们这帮妖孽！无法无天！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉，山伢子说道：“说出你的姓名和师长，我派人去找你的师长理论。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;年轻人大声说道：“我叫洪天乐，我是翠明山玉尊观的，我师父是天魁道长，你们去找吧，赶紧去！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊对山伢子说道：“翠明山在鹿泽境内，天魁道长我不认识，但我跟云机子是旧识，我去一趟吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪天乐脸色大变，问道：“你说什么？你跟我师祖是旧识？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊问道：“云机子健在否？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪天乐问道：“你是谁？你怎么认识我师祖？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊怒斥道：“云机子之下再无人了吗？你师父难道没教你礼数吗？混账东西！今天本座就代云机子管教你！惜音，掌嘴三十！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哎？”洪天乐瞪大了眼睛，刚发出一声惊呼，惜音就一嘴巴扇过去，这一下打得更狠，直接将他扇倒在地。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两名美女掐着他肩膀将他拎起来，惜音一巴掌接一巴掌地扇，而且只用右手扇左脸。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;惜音很生气，原本看他长得不错，想着替他求情，送到营地去让姐妹们乐一乐，然后就放他走，没成想竟然是这种货。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;没家教也就算了，还一口一个妖孽，妖就妖呗，哪儿来的孽？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪天乐一声接一声的惨叫，不等惜音打完就昏死了过去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;惜音说道：“去打水来，将他泼醒。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“算了，你这么个打法，换了是你家观主也受不了，绑到院子里，派人轮流看守，不准让他出声。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是。”惜音答应一声，挥了下手，两名美女拖着洪天乐出去了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊站起来说道：“我去一趟翠明山。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;惜音说道：“怎能让夫人亲自前往，属下去就是了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊问道：“你认识路吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;惜音答道：“不认识。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊笑，惜音说道：“往后的事只怕越来越多，难道每次都要夫人亲力亲为吗？属下去找就是了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊想了一下，说道：“你跟我走吧，我带你认路。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“我带你们去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“这次不用，我一路走一路给惜音指路，这一路过去，有很多隐修门派，等我们回来，你再把缩地成寸的法术教给惜音。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“你都练不成。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“她是妖啊，而且现在比我法力高。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“那你等会儿，我先把口诀告诉惜音，没准她一学就会，万一有事，她还能带你回来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好。”古芊芊点头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;惜音走到霍晓荧面前，垂手而立，霍晓荧说道：“坐吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“谢夫人。”惜音坐在霍晓荧旁边。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问古芊芊：“为啥你都练不成？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊微笑着答道：“法力不够嘛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉说道：“卿琴都是一学就会，还能带一堆人，她比你法力还高？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧说道：别问了，芊芊姐让我告诉你，她原本就会，只是装着不会，晓荧姐就这么点儿优势，卿琴是鬼，惜音是妖，而且她们都是外人，她们学会了，不会打击晓荧姐的自尊心。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子恍然，自己找辙着问道：“是因为肉身的缘故吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊微笑着点头：“对，没有法身，肉身太重了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子转了话题：“你得几天能回来？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊想了一下，说道：“五到七天吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子微一皱眉，问道：“那小子就这么绑着？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“给水给饭，死不了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子又问道：“上厕所咋办？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊哑然失笑，说道：“该咋办就咋办嘛，让人看着就行了，还怕他跑了？他哪跑得过你这班属下呀。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;(本章完)
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>