<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第486章：你对付不了</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第486章：你对付不了
</div>
<div class="bookname">
	<h1>第486章：你对付不了</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第486章：你对付不了<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙低下头，沉默了好一会儿，才幽幽开始述说，说得都是这些年他和山伢子较劲的事。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙说他一直活在山伢子的阴影里，长得没他高，法力没他大，武功没他好，样子没他帅，心没他暖。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子从一个没文化的土包子，迅猛无比地成长为女孩子心目中的高富帅，而且还是暖男型。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而他潘小龙，连女孩子退而求其次的资格都没有。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老话儿说，世上最可悲的有两件事，英雄末路，美人迟暮，可英雄毕竟还曾经当过英雄，而他却连英雄的边儿都沾不上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙看着对面尚亚坤的床，他觉得赵梓航坐在那里，说道：“你是第一个愿意跟我接近的女孩儿，也是第一个肯让我叫媳妇儿的女孩儿，说实话，我的确没想那么多，我只想着尽快把这件事解决，证明我也是有本事的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵梓航显出形来，走过来坐在他身边，将头靠在他肩膀上，轻柔地说道：“你比普通人强多了，普通人不是一样过日子吗？为什么非要跟你师兄比呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙咬着牙答道：“因为最开始的时候，我比他强！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵梓航幽幽叹了口气，说道：“我以前比同校的女生都强，可是树大招风，被人恶意中伤，最后死了……死了都不得安生，还被张铭囚禁着。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙皱眉，搂住她，用脸贴着她的额头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵梓航说道：“小龙，你听我的，还是让你师兄对付张铭吧，我真的担心你，我跟着张铭两年，她身上的那股气息很可怕！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙摇头，说道：“没事儿，我是活人，我会法术。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵梓航坐直了身子，满眼焦虑地看着他说道：“你这人怎么这么宁呐？张铭经常会无缘无故的发怒，她发怒的时候，眼睛都是红的！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“那又怎么样？”潘小龙不以为然地说道：“眼睛红就不是鬼了？是鬼我就能对付。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你真对付不了。”霍晓荧走了进来，身后跟着洪拓。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙愕然问道：“你们怎么来了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧答道：“我们一直在门外，本来想着暗中帮你，但是刚才听梓航说，张铭发怒的时候眼睛是红的，那就是煞气极重，你真对付不了，更何况你一点儿经验都没有，用煞气这么重的鬼练手儿，太危险了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙有些恼火，大声说道：“就你家山伢子本事大？没他地球还不转了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧皱眉，洪拓说道：“这样吧，我们跟着你，事情还是你来办，如果不需要我们帮忙，我们就在旁边看着，也算给你做个见证，证明你是凭自己的本事解决这件事的，行不行？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙皱眉，霍晓荧对赵梓航说道：“你跟我出来，我跟你说几句话。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙嚷道：“你干啥？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧怼道：“吃枪药了你啊？你说我干啥？我把她吃了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙嚷道：“你别说我坏话！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵梓航愕然看着潘小龙，潘小龙一瞬间有点儿慌神儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嗤笑一声，对赵梓航说道：“他这人其实挺好的，就是一个毛病，嘴贱。而且虽然脑子很聪明，但都是小聪明，正事儿呐，基本没办过。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“张小莹！”潘小龙咬牙切齿地吼道：“你当着我的面儿说我坏话！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵梓航站了起来，拉着霍晓荧说道：“小莹姐，你别理他，我跟你出去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧瞪了潘小龙一眼，呲儿道：“白痴！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;到了门外，霍晓荧看着赵梓航轻声说道：“你跟我说实话，害死尚亚坤，你到底有没有份儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵梓航摇头，说道：“救出尚亚坤你们可以问他，只要他说跟我有关系，我绝不争辩，任凭你们处置。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧点了点头，敢这么说话就好，说明真的不关她的事。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧上下打量了她一会儿，问道：“你一直是这样湿乎乎的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵梓航抿了下嘴，霍晓荧说道：“反正时间还早，我带你去鬼市买衣服吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵梓航用惊奇的眼神看着霍晓荧，霍晓荧笑着说道：“你的新生活才刚刚开始，需要了解的事情还多着呐，一样一样来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧进来跟潘小龙说了一声，然后让他拿着骨灰去找山伢子，让山伢子开车带他去江边。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙瞪霍晓荧，霍晓荧警告他：“人贵在有自知之明，再有本事的人也要留后手儿，你要真把自己作死了，就什么都没了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙虽然心里不忿，但也承认霍晓荧说得有道理，就拿着骨灰跟洪拓去了饭店。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在饭店吃了饭，待到下午四点，山伢子开车带着古芊芊和潘小龙去了江边，到江边的时候，太阳已经快要落到江面上了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子打开后备箱，把准备好的开坛用具一样一样拿出来，折叠桌、黄铺盖、蜡烛、香炉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙沉默着跟山伢子一起设法坛，心里很搓火，因为山伢子总是这样，这么多年，他一直跟山伢子较劲，可山伢子从来不跟他计较，反倒是什么事儿都替他想好、办好。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;为什么？山伢子是人好心善，但这只是一方面原因，而另一方面的原因，无非是山伢子不用跟他计较，他再怎么较劲也比不上山伢子，就像人与神的区别。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;天快黑的时候，霍晓荧带着赵梓航来了，赵梓航梳起了马尾辫，换了一件无袖白色恤，系在牛仔裤里面，脚上穿了一双红白相间的运动鞋，看着既清纯又阳光。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙两眼直勾勾地盯着赵梓航，在心里问自己：“她真能给我当媳妇儿？天上终于掉馅儿饼了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵梓航抿着嘴笑，羞怯地回避潘小龙的目光。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧问山伢子：“魂**带了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”山伢子点头，向古芊芊伸手。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊从包里拿出一只魂**递给山伢子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧对赵梓航说道：“张铭恐怕很厉害，万一打起来，我怕照顾不到你，先让我老公把你收到魂**里，芊芊会保护你的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”赵梓航点头答应，然后看着古芊芊说道：“谢谢。”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>