<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第608章：先放一放</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第608章：先放一放
</div>
<div class="bookname">
	<h1>第608章：先放一放</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第608章：先放一放<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓失笑，问道：“你跟芊芊为什么不能给他宽心？你俩还是他媳妇儿呐。 ”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧翻了个白眼儿，转身走了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;回到套房，霍晓荧把洪拓的想法告诉了山伢子，古芊芊说道：“我觉得洪拓的猜测接近真相。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子瞪她，古芊芊嘟嘴，想了想低下头，没说话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“伢子，我知道婧婧说的话你接受不了，但你有没有想过，可能咱爹是被素茗迷惑了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一愣，古芊芊轻声嗤道：“你会说话。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧详细解释，石好顺只是个普通人，或者更直白一点儿说，他只是山伢子转生的必要媒介，如果素茗想操控他，肯定是易如反掌。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;石好顺死后去找冯月晴，说是一只老鬼告诉他，山伢子是无名祖师转世，这种内部消息，一般的外人怎么可能知道？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;连冯月晴都只是以为石家是火行石选的继承者，为什么那只老鬼却能笃定地说山伢子是无名祖师转世？所以那只老鬼是素茗的可能性有九成。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧又说，或许冯月晴了解真相，只是没有跟安婧明说，因为解释是掩饰，莫不如只把发生的事情说出来，由山伢子自己评判。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧突然开口说道：“表姑……说……如果……祖师……报仇……她……死。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“真费劲，别急，打字说。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧赶紧用手机打字：我表姑说了，如果祖师要为父报仇，她愿意以死谢罪。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，霍晓荧又说道：“这很明显了，我认为冯月晴肯定知道是素茗在背后捣鬼，或许还会牵扯到更大的问题，所以冯月晴才把咱爹打入了无间界，牺牲一个人，拯救一群人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子斥道：“那牺牲我爹呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“牺牲的是她自己。她把咱爹打入无间界时应该想好了，如果将来你要报仇，她一力承担，她不是也说了嘛，愿意以死谢罪。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧突然跪下，霍晓荧一愣，伸手扶她，却被她推开。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧膝行到山伢子面前，扬着脸看着山伢子说道：祖师，冯月晴不仅是弟子的表姑，也是弟子的授业恩师，求祖师开恩，弟子愿替冯月晴领受罪责，祖师要报仇，请杀了弟子，放过冯月晴。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子瞪眼斥道：“放屁！在牙山你救了我们三个人的命，你现在让我杀你？你当我是畜牲啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧低着头无声流泪，山伢子却听不到她半点心声。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊看着山伢子说道：“要不这事儿先放一放，等你魂力觉醒以后，或许能把咱爹救出来呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧也说道：“我觉得芊芊说得对，你现在杀了谁都没用，况且牵扯到杀人的事要慎重，万一，我是说万一，万一杀错了人不好了，你刚才不是也说了嘛，婧婧在牙山救了咱们三个人的命，她救咱们的时候还不知道这件事呐，这事儿先放一放吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子蓦然眼圈泛红，因为突然想起来娘死的那天晚，后爹被娘身后，说他是克父克母的灾星。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;事实证明，这句话没说错。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子猛然站起身走了，安婧愕然回头看他，霍晓荧说道：“没事儿，他心里难受，不愿意当着咱们的面哭出来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“姐，你去看看伢子。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“你去，我还有话跟婧婧说。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉问道：“我又不像你那么会说话，我跟伢子说什么呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嗔道：“非得说话吗？你陪着他不行吗？你要是怕说错话别说，他要是说什么你听着呗。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”古芊芊答应一声，站起来出去了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说安婧：“起来吧，没事儿的时候一口一个伢子，叫得一点儿也不我们生分，有事儿了叫祖师，你这样有意思吗？你真当伢子是榆林脑袋啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧低着头，霍晓荧又说道：“过来坐呀，还要我扶你啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧起来，坐到霍晓荧身边，霍晓荧搂着她说道：“不用担心，伢子是讲道理的，我也相信你表姑不会无缘无故把伢子他爹打入无间界。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧点头，霍晓荧又问道：“你先前说，把五行石集齐，有助于伢子魂力觉醒，这是你突然想到的，还是有人教你说的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧用手机打字：是我突然想到的，我联想到乌拉族大祭司的媾鬼像。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧点了点头，说道：“有道理。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;琢磨了一下，霍晓荧又说道：“可是怎么跟他们说呐？咱们知道伢子是无名祖师转世，可是没有证据，人家外人不会相信呐，传承了几百年的宝贝，人家能随便给咱吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧打字：跟他们商量商量，先借用一下也不行吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“借多长时间？一天两天？还是一年两年？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧微微皱眉，是啊，魂力觉醒不是一天两天的事儿，要是借一年两年，甚至是十年八年，那跟‘要’也没什么分别了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊一路问着了楼顶，看到山伢子站在边缘处，眺望着远方，便走过去问道：“你没事儿吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子叹了口气，搂住她说道：“我娘死的那天……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这件事他从来没跟人说过，霍晓荧也不知道，古芊芊捧着他的脸说道：“你别太在意，娘是被迷惑了，所以才会那么说你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子苦笑了一下，说道：“没啥，娘没了，爹也被打入了无间界，后爹不跟着我是对的，免得也落个灰飞烟灭的下场。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉，所谓事实胜于雄辩，她不知道怎么才能宽慰山伢子，真应该让霍晓荧来，想了想说道：“我嘴笨，你别难过，这些事情都不怪你，而且这些事发生的时候，你也没有能力阻止。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子又叹了口气，怪不怪他又能怎么样？什么都改变不了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子搂着古芊芊转身，说道：“下去吧，天冷了，夜里风凉。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;回到套房，安婧目光闪烁地看山伢子，看一眼又赶紧将目光别开，山伢子在心里对她说：你别有什么心理负担，这事儿又不赖你。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;/bk更新最快的小说站！
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>