<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第513章：下黄泉1</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第513章：下黄泉1
</div>
<div class="bookname">
	<h1>第513章：下黄泉1</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第513章：下黄泉1<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳埁还是抬手，也想抓唐召义的拳头，但手刚抬到一半，脸了拳，退了一步，眼眸划过一抹诧异，随即周身亮起红光……<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧皱眉，这是外气？还是冲灵？当初火行石被素茗抢走以后，山伢子倒是说过一回，说他好像又冲灵了，但被霍晓荧怼了回去，说火行石都没了还冲屁呀，可是现在想来，没准儿那回山伢子还真是又冲灵了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义也皱眉，难道欧阳埁也有火行石？火行石不是天下独一份儿吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳埁将魂瓶装进了兜里，双手掐诀，念起了咒语。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧突然被一团红光罩住，惊叫道：“你干什么！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义冲去一拳打向欧阳埁，但是拳头打在红光，红光泛起了涟漪，欧阳埁却浑若不觉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧的魂体开始变淡，突然醒悟，叫道：“你不能送我去地府！我有婚书的！我老公不会放过你的！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;‘呼’的一声，唐召义祭出了霸王枪，一枪刺向欧阳埁‘胸’口，这一次红光没有完全挡住，枪尖刺破了欧阳埁的肌肤，欧阳埁念咒的声音一顿，但立刻又将最后一句咒语念完。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧消失了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义愣住，欧阳埁一把握住枪杆，往自己身后一扥，唐召义心思都在霍晓荧消失的状况，直接被他扥了过去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳埁手掐法诀拍向唐召义‘胸’口，唐召义猛然错身，险险避开，而后丢了霸王枪，穿墙而去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳埁微一皱眉，发现手的霸王枪并没有化成黑气，难道这是经高手扎制的‘阴’物？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳埁将霸王枪立在‘门’内墙角，然后俯下身将杨‘玉’蝶抱起来，送到卧室‘床’，再然后走出大‘门’外，给杨‘玉’蝶关了‘门’。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;回到潘东树家，潘东树的老婆已经醒了，赶紧问道：“法师，怎么样了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳埁坐下答道：“‘女’鬼已经打落黄泉，男鬼跑了，不过他的兵器落下了，我等他回来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“太好了！”潘东树老婆一脸兴奋地骂道：“这帮小犊子，让你跟老娘闹腾！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;骂完站起身要走，欧阳埁冷声问道：“你要去哪儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘东树老婆答道：“我楼去骂姓杨的那个小犊子。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳埁冷声说道：“我劝你做人留些余地，或许你觉得这样欺负人不算个什么大事儿，可能阳间的法律也不能拿你怎么样，但总有一天你会死的，你活着的时候不修德行，死后必遭恶报，而且还会遗害子孙。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘东树老婆瞪眼问道：“你说这话啥意思啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳埁冷声答道：“是让你差不多行了，人家一个单身小姑娘，无亲无故，你总这么去骂人家，你安的是什么心？如果将来有一天，某个人也像你这样，骂你家的子孙后代，你会怎么想？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘东树老婆嗤了一声，翻了个白眼儿，但是没敢说什么，坐下了。因为刚才欧阳埁说了，还有一个男鬼跑了，现在还不能得罪欧阳埁。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义跑回饭店，把情况告诉了山伢子，山伢子一听蹿儿了，吼道：“那个傻X在哪儿呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义说道：“先别管那个傻X了，先把晓荧‘弄’回来啊！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子醍醐灌顶，连忙跑楼找徐四，古芊芊听见他的吼声，也从套房出来，问道：“怎么了？出什么事了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子没空儿理她，直接进了办公室，唐召义说道：“晓荧被一个叫欧阳埁的人打落黄泉了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“什么！”古芊芊惊道：“你干什么吃的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义说道：“先救晓荧，回头我再跟你解释。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四听到这个消息也有点儿慌，但还是安慰山伢子：“不要急，你跟晓荧是有婚书的，让我先冷静一下……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;冷静了片刻，徐四拿过黄包，翻出一张符纸，说道：“招魂，应该能招回来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子赶紧拿出采血针，扎破了左手无名指，蘸着血写了霍晓荧的生辰八字，然后作法招魂。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;咒语念完，山伢子满脸惶恐地说道：“招不回来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四皱眉，自己又试了一次，说道：“被什么绊住了，这是不对的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义说道：“下去找吧，下去找快。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“你下去找，你法力最高。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义说道：“我不行！我下去回不来了，得让生魂去，地府不留生魂。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“我去！咋去？快说！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“即使地府不留生魂，可是黄泉无路，一旦‘迷’了路，除非被路过的鬼差看到，否则要永世在那里徘徊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊惊叫道：“你不能去！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子瞪着古芊芊，古芊芊哭了，她不知道该怎么办了，她不想让山伢子去，可是，放弃霍晓荧吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“我知道一个办法，用施过法的红线缠住生魂，如果‘迷’路的话，把生魂拉回来行了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“那至少要八百里长的红线才行，哪儿去‘弄’这么长的红线啊？现接也来不及呀。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊掏出手机打给姬淋洛，姬家没有。打给屈敬龙，屈家也没有。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊有些绝望，山伢子说道：“不找了，晓荧不能等。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完一把抱住古芊芊，看着古芊芊的眼睛说道：“宝贝儿，如果我回不来，下辈子我做牛做马还你的情。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊一把推开他，一个大嘴巴扇过去，斥道：“她是你媳‘妇’儿！我不是吗？要去是吧？我跟你一起去！回不来咱俩永世相伴，谁也不孤单！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子再次抱住她，劝道：“宝贝儿，我会回来的，你不能跟我去，万一有事，爸妈怎么办？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊气息粗重地说道：“他们好着呐，不用我管，再说了，生闺‘女’是给别人的，他们早应该有心理准备了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义说道：“你们别去了，我去吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊瞪着他斥道：“你不是说你去了回不来吗？怎么现在又能去了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子抱紧了古芊芊，看着唐召义说道：“你的好意我心领了，但是！芊芊是我媳‘妇’儿，晓荧也是我媳‘妇’儿，算要为了她们一去不回，那也得是我，不能是你。”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>