<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第47章：魂瓶</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第47章：魂瓶
</div>
<div class="bookname">
	<h1>第47章：魂瓶</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第47章：魂瓶<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦小凤缓和了一下语气，说道：“我答应你不去找图家，你别拘我行吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四答道：“我信不过你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦小凤猛然蹿了起来，徐四倏然后退，又举起了八卦镜。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦小凤并没有攻击徐四，只是愤怒地嚷道：“你仗势欺人！我是冤死的！你这么有本事，为什么不帮我说理？为什么一门儿心思帮他们家？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四答道：“很简单，你是鬼，他们是活人，鬼不应该闹腾活人，别问我为什么或者是凭什么，规矩不是我定的，我学法术的时候儿，我爸就是这么告诉我的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四顿了一下，把话题转回来：“我还是那句话，你是死于意外，虽然图家婶子是起因，但并没有直接害死你。再者说，人都是会死的，不论是王候将相，还是平头百姓，不管是家财万贯，还是穷困潦倒，总有一天是会死的，你何必急着去报仇呐？等她死了以后，也变成了鬼，到那个时候儿你爱怎么报仇就怎么报仇，我绝对不会插手。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦小凤瞪着他问道：“那你还说要给我念经化解怨气，我的怨气被化解了，等那个老太婆死了以后，我还会想找她报仇吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四叹了口气，说道：“你这辈子已经过完了，我觉得你才二十出头儿，应该没做过什么坏事、恶事吧？有句老话儿，不修今生修来世，你也希望你下辈子能过得舒心妥帖吧？我是为你好，你就把意外死亡当成是赎上辈子的罪孽吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦小凤沉默了，收回目光看着地面，身上的黑气慢慢地消散了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“师父！”山伢子疯跑了过来，到了近前呼哧带喘地看着徐四。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四问道：“你怎么累成这样儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;顿了一下，徐四又仔细看了看山伢子，问道：“你的目光怎么这么散？吓着了？看见什么了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“张……”山伢子一张嘴被气顶住，咽了下口水才答道：“张电工……他……他知道姌姨走了，就来……来找我……我喷了他一口血……血吐沫，他说有他没我，有我没他。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四的脸色冷了下来，说道：“先回家。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;转而又问秦小凤：“跟不跟我走？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦小凤看了徐四一眼，没说话，收回目光看着地面。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“走吧，去我哪儿还有一个好处，我是开饭馆儿的，还能给你做饭吃。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;往家走，秦小凤问徐四：“你打算怎么对待我？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四答道：“我把你收进魂瓶里，天天给你念经，等你的怨气化解了，我就放你走。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦小凤说道：“你把我圈在一个瓶子里算怎么回事儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四答道：“我不圈着你，你趁我不注意跑了怎么办？等我再找着你的时候儿，你要是已经害了人，那我就只能灭了你，你觉得哪样儿好啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦小凤皱眉，徐四说道：“放心吧，顶多一年，其实你的怨气也不算太重，至少你还明白小东是个孩子，就算没家教也不是他的责任。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;回到家，徐四把秦小凤带到平常不开门儿的屋里，山伢子一直以为这间屋是仓房儿，今天才知道，这间屋是放魂瓶用的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屋子没有窗户，正对着门的墙上钉着五排架子，上面零散地放着比成人拳头大一圈儿，葫芦状的陶瓷瓶，分三种颜色，黑红灰。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四指着一只红葫芦对秦小凤说道：“我把你放进这个里面，别看它小，其实对于鬼来说，里面的空间很大。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦小凤瞪着他问道：“你进去过？你咋知道里面空间很大？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子觉得这话问得没毛病，拳头大的瓶子，咋会空间大呐？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四答道：“我没进去过，不过我爷爷进去过，他能灵魂出窍。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦小凤轻哼了一声，问道：“你不是说还管饭吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四答道：“是管饭，但头一个月不管，过了一个月我再放你出来，到时候你想吃啥我给你做。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦小凤瞪徐四：“我想吃龙肝凤胆。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四笑了笑，做法把秦小凤装进了魂瓶，然后告诉山伢子，三种颜色代表着鬼的厉害程序，黑的最厉害，红的差一点儿，灰的再差一点儿，那个刘老鬼是装在黑瓶儿里。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子倒是对魂瓶里的空间很感兴趣，问道：“师父，里面啥样儿啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四答道：“不知道，我没进去过，我爷爷就说里面空间挺大的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子答应，心里有点儿痒痒，能灵魂出窍也挺好玩儿的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四话锋一转，问道：“张电工又来找你？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊。”山伢子愣愣地回答，脑子还没从灵魂出窍的憧憬中转回来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“走，咱找他去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子有些犹豫，他不想徐四再因为他惹上麻烦，迟疑着说道：“师父……我……我也不怕他，他要敢来找我，我就用血吐沫喷他。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“那不叫血吐沫，那叫真阳涎。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子不好意思地挠了挠头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四告诉山伢子，对于张电工这件事，徐四一直没想明白，一个鬼，为了一块儿自己没办法接近的灵石这么折腾，是不是有点儿吃饱了撑的？没道理呀。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;好多事儿都是这样，像隔着一层窗户纸，别人不点破，自己也想不到。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;听徐四一说，山伢子也觉得奇怪了，是啊，姌姨那么厉害，都没想着要这块儿灵石，这个张电工为啥死较劲呐？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;跟着徐四到了坟地，走到一个塌了的坟跟前儿，徐四说道：“你姌姨性子烈，最恨别人不给她面子，不过我一直不太赞同她掘人家的坟。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问徐四：“师父，张电工家没人了？这坟都塌了，咋不修呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;实际上山伢子担心的是人家修了，姌姨又给拆了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四告诉山伢子，虽然现代人不太相信鬼神了，但有些忌讳还是知道的，如果不是赶上地震或是下暴雨，那坟塌了就是有事儿，一般都要等三年再修，免得惹上麻烦。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子点头，心想镇子里的人比他们乡下人还讲究。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四冲着坟说道：“张有财，你出来。”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>