<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第327章：生得孤单，死得寂寞</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第327章：生得孤单，死得寂寞
</div>
<div class="bookname">
	<h1>第327章：生得孤单，死得寂寞</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第327章：生得孤单，死得寂寞<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵嗤笑一声，说道：“八万一两的茶，两千一斤的梅花雪水，给伢子喝……她不叫才奇怪。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;没一会儿，古芊芊端着茶具下来，放到茶几上，冷着脸说道：“妈你喝吧，我给他拿饮料去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“等一下。”韩慕灵叫住她，问道：“你们怎么说到品茶的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊冷着脸把他们的谈话内容说了一遍。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵微微点头，说道：“伢子很聪明，有些事你可以慢慢教他，要是你没这个耐心，干脆就别显摆，记住没有？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”古芊芊嘟嘴答应，说道：“那我上去了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵点头答道：“去吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;另一边，洪拓带着姜悦玲去了孤儿院，在职员布告板上看到了程东方的照片，是个看上去三十多岁的男人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜悦玲问洪拓：“咱们得去档案室找吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓摇头，说道：“不用那么麻烦，直接问他就行。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜悦玲眨了下眼睛，直接问？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是姜悦玲没说话，因为洪拓的本事已经得到了大家的认可，他说直接问，肯定就能直接问。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在一间办公室找到程东方，程东方正在用电脑统计表格，洪拓走到他身后，在他后脑上轻拍了一下，程东方的眼睛瞬间发白，人也变得表情呆滞。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓问道：“姜悦玲的遗体怎么处理的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;程东方答道：“就地火化。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓又问道：“骨灰呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;程东方答道：“交给海葬办公室了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜悦玲怔住，嘴唇发颤。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓又问道：“撒了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;程东方答道：“撒了，海办的人昨天打来电话，说已经把骨灰撒了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜悦玲眼圈泛红，洪拓又问道：“怎么是孤儿院去处理姜悦玲的遗体？你把详细情况说一下。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;程东方说，半个多月前，院里接到电话，对方说自己是靠山镇派出所，还说姜悦玲的遗体在靠山镇，联系了姜悦玲生前的朋友和同事，无人认领，通过姜悦玲的前男友了解到，姜悦玲是这个孤儿院的，问院方能否处理遗体。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;后来院长就派程东方去处理，说从这里出去的孩子，不能不管，不能让她生得孤单，死得寂寞，但是关于骨灰安置的问题，院里没有这笔支出，况且现在也提倡海葬，所以就选择海葬了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜悦玲哭了出来，想不到自己人缘儿这么差，虽然没有亲人，可也有同事朋友，居然没一个人愿意帮她办理后事的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓问姜悦玲：“四嫂，还有什么要问的吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜悦玲哭着摇头，洪拓又在程东方后脑上轻拍了一下，程东方陡然醒转，满脸愕然地眨着眼睛四下里看了看，然后皱了皱眉头，接着做表格。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓劝姜悦玲：“四嫂，别太伤心了，这种事儿……亲戚一般都不愿意搭扯，更不要说朋友和同事了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜悦玲摇了摇头，哽咽着说道：“没什么，活得这么没人缘儿，是我自己不好，我只是害怕，骨灰撒了，我很快就会变成孤魂野鬼了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦！”洪拓恍然，原来是担心这个问题，说道：“你不用担心。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓给她解释，所谓的孤魂野鬼，其实是民间的一种叫法，实际上鬼就是鬼，没有尸骨做为依托的鬼，大多会因为孤单而产生怨念，当怨念强到一定的程度，就会影响到活人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但这也只是小概率事件，无非是鬼对肉身和复生的执念使然，其实肉身只是一具皮囊，都已经死亡甚至腐朽了，有没有的又能怎么样呐？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜悦玲的眼神有些许疑惑，看着洪拓问道：“真的？可是小莹她说，她当初想回家，一个原因是不想纠缠伢子，另一个原因就是日渐感觉心慌。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓失笑，说道：“你跟她的情况不同，她是厉阴，而且以当时的情况来讲，她肯定是为了伢子左右彷徨，纠结难舍，所以她那种日渐心慌的感觉，并不完全是远离尸骨造成的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“就像我。”洪拓接着说道：“我的尸骨被人扔在老林山里，一百多年了，不知道被野兽啃咬了多少回，我从来也不曾回去找过，我不是一样好好儿的吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜悦玲沉默着点头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓又说道：“四嫂，你现在有一个大家庭，并不孤单，所以你不必担心你会产生什么负面情绪。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯！”姜悦玲重重地点头，说道：“谢谢，咱们回去吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两天后，韩慕灵收到一份传真，详细说明了秦中莫家的背景和当下的情况，虽然秦中莫家也是法术世家，但没有证据可以证明他们跟五行石有关系。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵拿起电话，打给莫家，对方接了电话，韩慕灵问道：“请问是秦中莫家吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对方答道：“是，您是哪位？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;冷淡地说道：“我是莫林市水行世家古木苍的遗霜，我叫韩慕灵，我找莫家掌门人说话。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对方问道：“您有什么事情吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵反问道：“你是掌门人吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对方答道：“我不是，但我得知道是什么事，才能跟掌门人说。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵说道：“你没有资格知道。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对方也不客气，说道：“您要是这么说话，我劝您先掂量一下自己的分量。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵说道：“转告你们掌门人，二十四小时之内给我回电话，否则后果自负。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对方问道：“你这是在威胁我吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵直接挂断了电话，然后又拨了个号码，接通后说道：“立刻把那两个人控制起来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两天后，中午，座机响了起来，梅姨接起电话，对方是个苍老的声音：“我是莫泓杰，你是韩慕灵吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;梅姨问道：“你是莫家掌门人吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫泓杰声调提高了一截，问道：“你是韩慕灵吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;梅姨淡漠地重复道：“你是莫家掌门人吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫泓杰说道：“我是，你是谁？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;梅姨说道：“我是韩小姐的贴身丫头，我……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“叫韩慕灵接电话！”莫泓杰厉声打断了梅姨。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;梅姨不紧不慢地接着说道：“我家小姐说……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫泓杰怒斥道：“我让你叫韩慕灵接电话，你听不懂吗？”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>