<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第404章：能看见鬼了</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第404章：能看见鬼了
</div>
<div class="bookname">
	<h1>第404章：能看见鬼了</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第404章：能看见鬼了<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧惊喜地问道：“那就是说，伢子还是宿主？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋说道：“宿主只是咱们给出的一个概念，实际上五行石只是能量巨大的能量源。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“五行石源出祖师飞升后尸解，如果庆山的梦境是真实的，那么祖师就有着生发万物的恐怖法力。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“即使祖师将毕生修为都传给了那位叫素雪的前辈，但五行石所蕴含的能量依然不是咱们能够想像的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈敬龙说道：“魂灵相合是一个新的概念，在五行世家的传承中，尤其到了近代，冲灵是被严格禁止的，但是庆山因为没有从小接受相应的训练，所以频繁冲灵。或许……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈敬龙斟酌了一下才又说道：“庆山梦见祖师对素雪说，人心似渊，贪欲如刀，五行世家最初以五人之力对抗数以千计的同门，或许凭借的就是魂灵相合。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛说道：“屈叔叔，是不是可以将您的意思引申为，黑衣人害怕伢子熟练掌握了魂灵相合的方法，然后教给我们这些宿主，那么五行世家将再一次不可战胜。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈敬龙点头，说道：“庆山一个人就可能把黑衣人打出肉身，试想一下，如果你们所有人都能做到，那会是一个什么境况。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵始终没有说话，他们说得这些，无论是分析还是臆想，都是舍本求末，实际上，真正的问题只有两个，第一，黑衣人到底是谁。第二，黑衣人到底想干什么。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然，本质的问题是最不容易搞清楚的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵说道：“明年开春儿，我们打算去找无名观。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋和屈敬龙同时一愣，姬淋洛说道：“灵姨，我跟歆雨也想去，能不能等到暑假再去？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵皱眉，看着夏歆雨问道：“你也想去？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨说道：“灵姨，我不会拖累大家的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵严肃地说道：“这不是拖不拖累的问题，这一次的行程吉凶难测，凭你的武功和法力，还是不去的好。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨尴尬地低下头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵又对姬淋洛说道：“你也不要去，好好儿陪着歆雨，现在是多事之秋，凡事都要上心。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”姬淋洛点头答应，握住了夏歆雨的手。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吃过了饭，大家散了，山伢子到一层去转悠，一边观察食客，一边在心里琢磨。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果姬淋洛的想法正确，那黑衣人拿走火行石也没用，或者，黑衣人先拿走火行石，然后再找机会杀他，这样才能确保火行石重新认主。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;八点刚过，秦润之带着秦瑶来了。小丫头一脸的不高兴，嘟着嘴满眼委屈地看着山伢子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子微笑着问道：“怎么了？谁欺负我们瑶瑶了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦瑶扁着嘴要哭，秦润之无奈地说道：“闹了两天脾气，还说再也不来吃饭，今天又说要来，没办法，让我给惯坏了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子微笑着问秦瑶：“为什么不来吃饭呐？你的身体还没好呐，是嫌我做的肉不好吃吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦瑶不说话，就是看着他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子又哄了两句，安排他们坐下，然后去厨房做菜。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说他不懂小女孩儿的心思，其实不管是不是小女孩儿，别人的心思哪就那么容易懂的？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只要自己问心无愧，定好界限就可以了，山伢子觉得有些事不必太过刻意，如果太过刻意了，反倒不好。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;做好了菜，看着秦瑶吃，最后让秦瑶开开心心的离开，约定了明天晚上再来，山伢子觉得这样才正常，难道他一个大老爷们儿，还要躲着一个小女孩儿吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;午夜临近，山伢子隔一会儿就看一眼手机，等着王星打来电话，虽然刚刚经历了失去火行石的巨变，但日子还得过，该好奇的事情还是会好奇。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;零点多一点儿，王星打来电话，语气慌乱地说道：“喂！我是王星，就是连着买了两天烧纸那个，我想跟你谈谈。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“如果你不买烧纸，就来对面的深夜鬼食堂。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好！”王星挂断了电话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不到一分钟，王星就推门进来，还刻意地躲了一只跟在他后面要进门的鬼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，能看见鬼了，这可不是好现象。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王星大步走到山伢子面前，眼神惶恐地说道：“我，我，我……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“冷静。”山伢子打断他，说道：“深呼吸。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;受到山伢子沉稳气息的感染，王星放松了很多，深深地吸了口气，缓缓吐出，稳当了片刻才低声说道：“我好像撞鬼了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子平淡地点头，不是好像，肯定是撞鬼了，说道：“跟我上楼去说吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;进了套房，看到古芊芊和霍晓荧，王星的眼睛有点儿不够使了，问道：“这两位是？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“我媳妇儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王星愕然问道：“都是您媳妇儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是啊。”山伢子点头，说道：“请坐吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王星用难以置信地眼神看着山伢子，指着龚钰丹问道：“那这位……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹抢着答道：“也是他媳妇儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊和霍晓荧一起笑出声儿来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”山伢子也懒得解释，反正跟王星也解释不着。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王星一脸怀疑人生的表情，走到沙发边坐下，山伢子给他倒了杯水，说道：“说说吧，你撞什么鬼了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;听到撞鬼，霍晓荧三人都收敛了笑意，齐刷刷地看着王星。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王星被看得不好意思了，低着头问道：“你们相信有鬼呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“我就是鬼。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王星一愣，愕然看向霍晓荧，霍晓荧缓缓化成黑气，又重新聚形。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊……啊……”王星缩在沙发上，闭着眼睛，像被踩了尾巴似的惨叫。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹嗤了一声，凑到古芊芊耳边轻声说道：“就这尿性的，还腆着脸泡我，现在的人真不要个X脸。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊瞪她，轻声嗔道：“跟哪儿学来的脏话？你也好意思说？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹笑眯眯地答道：“所以要小声儿说嘛，不能让咱老公听见。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“去！”古芊芊嗔道：“别蹬鼻子上脸啊，什么咱老公，那是我老公！”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>