<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第536章：觉醒</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第536章：觉醒
</div>
<div class="bookname">
	<h1>第536章：觉醒</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第536章：觉醒<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;干尸不紧不慢地走到山伢子近前，手锈剑陡然刺向山伢子咽喉。!山伢子右移一步，轻松避开，因为事先想到了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;干尸收回锈剑，再次刺向山伢子咽喉，山伢子左移一步，再次避开。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子想好了，这么一左一右地躲闪，绝不离开源点！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;干尸这样一下一下地刺了十几剑，山伢子跟打地鼠一样，一左一右地晃了十几次。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;干尸突然剑招一变，一剑刺向山伢子‘胸’口，山伢子连忙侧身，干尸手腕一转，锈剑横扫，山伢子旋身翻开，干尸再次转腕，锈剑斜向右撩起，山伢子急退。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;干尸如影随形，再次刺向山伢子‘胸’口，山伢子纵身而起，一个空翻从干尸头顶翻过，落回了源点。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;干尸回臂横剑，山伢子抬手封住了干尸的手腕，进步一拳打在干尸腰眼，将干尸打飞了出去，随即化作一团黑气消失了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子大声说道：“素茗！出来吧！我知道是你！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;没人回应，身后有力场震动，山伢子回身，看到两个干尸向他走来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，大声问道：“这样有意思吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;依然没人回应，两名干尸走近，同时‘挺’剑刺向山伢子。山伢子向一侧闪避，一名干尸蹿开，另一名干尸转腕斜刺山伢子，蹿开的干尸回身刺向山伢子后心。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子贴着锈剑欺身扣住干尸的手腕，锁住剑柄甩向身后的干尸，身后的干尸挥剑将飞来的剑打飞，山伢子一掌击在没剑的干尸头顶，将它打成了黑气，然后转身扣住另一名干尸的手腕，一拳捶在它脸，将它也打成了黑气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子再次问道：“有意思吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;没人回应，但也没有干尸再出现，山伢子估计素茗也在想对策，坐下来休息，不过他没有练功，而是回想跟真正的无名观干尸对阵时的情形。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其实当时他先慌了，因为一方面没见过这种东西，另一方面主观把干尸想得很厉害，经过刚才的打斗之后，山伢子突然觉得真正的干尸也不是那么厉害。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他冲灵以后，那个干尸不敢再主动攻击他，而被他喷了真阳涎之后，干尸叫出了另外两名干尸，这样说来，干尸是怕他的，只不过当时他不仅是慌了神儿，还不会任何剑法。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子摇头，主要还是因为慌神儿了，会不会剑法其实没多大关系，空手也能打，当时是因为干尸出现得太突然，所以他脑子‘蒙’了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;素茗从远处走来，背着左手，闲庭信步一般。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子站了起来，素茗问道：“你怎么知道不能离开源点？你们那群人里，有人懂梦杀术？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“没人懂，我猜的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;素茗若有所思地点头，沉默了一会儿才说道：“给你一个选择，老老实实的让我送你去地府，你还可以转世投胎。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“一个活尸也可以做火行石宿主吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;素茗微笑，说道：“苗疆人虽然首创梦杀术，但他们却不知变通，或许他们自己都不知道，梦杀术的基础，是换魂之法。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，素茗说道：“以你的智慧，我是跟你解释，你也不会明白，我劝你老老实实的听话，你还能有转世的机会，否则，我只好灭掉你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子嗤了一声，说道：“你觉得我在梦不能冲灵，所以认为有把握灭掉我？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;素茗笑得有些不屑，问道：“那你是想放手一搏，死而……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;素茗怔住，因为山伢子全身溢出红光，双眼也变得血红！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;素茗愕然说道：“这怎么可能！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子倏然近身，一掌拍向素茗‘胸’口，掌力喷薄而出，素茗急退，却依然感觉到掌力的重压。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子并未追击，双臂一展，红光骤然向四周漫‘射’，青青草原烧起熊熊烈焰，山伢子伫立于火焰之，仿佛地狱走出的恶魔一般！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;素茗下意识地向后退，眼神茫然地看着山伢子，喃喃地说道：“这怎么可能……这怎么可能……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子的声音变得空旷而厚重：“乾坤育法，万法从心，心之所念，法之所变，天地无名，‘阴’阳无‘性’，浑然造化，动静相生。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;素茗张大了眼睛，这是……这是师父当年说过的话，这……这怎么可能？算山伢子是无名真君转世，可他才二十岁，怎么会觉醒？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;况且师父当年死时，满头白发，肤如枯木，明显是将毕生修为传给了素雪，因为师父死前只见过素雪，而且素雪伏在师父遗体哭得肝肠寸断。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;犹记得当年大师兄素锦心不快，用几句俗世流传的打油诗暗讽素雪，没想到险些被素雪打得魂飞魄散！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;片刻慌‘乱’之后，素茗眼眸一凝，管他是不是觉醒了，他只有二十岁，又是在梦，还怕了他不成？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;素茗倏然近前，右手掐成剑指，刺向山伢子咽喉。山伢子浑若不觉，当剑指戳到咽喉，素茗的指尖骤然一痛，随即整只手着起火来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊！”素茗抻手急退，调运法力，半晌才将手的火熄灭，但整条右臂都变得虚了很多。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;素茗震惊地看着山伢子，山伢子却用诡异的声调说道：“十八新娘八十郎，苍苍白发对红妆，鸳鸯被里成双夜，一树梨‘花’压海棠……为师尸骨未寒，你们这班弟子便以此等污言羞辱为师与雪儿，枉废为师数百年教导。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;素茗后背发凉，想退出梦境，却陡然发现，梦境已经不受他掌控，心念电转，连忙屈膝跪下，说道：“师父，这话不是弟子说的，是大师兄说的，弟子当时不愤，还与大师兄争执，请师父明察！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“雪儿何在？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;素茗答道：“回师父的话，弟子见到一名少‘女’，年方桃李，姓古名芊芊，是水行石古家唯一传人，也是水行石宿主，与小师妹相貌一般无二，只是弟子法力低微，不知她是不是小师妹转世。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“转世！”山伢子的声音突然像雷鸣一样：“本尊将毕生功力与她，她竟转世？是何道理！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;的小说站！
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>