<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第425章：不想还</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第425章：不想还
</div>
<div class="bookname">
	<h1>第425章：不想还</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第425章：不想还<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“呵呵……”古芊芊笑得有点儿欠抽。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧皱眉，嗔道：“也不能光是以貌取人呐，你想啊，就伢子可以冲灵，他屁都不会就能冲灵，这还不说明问题吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嘟着嘴想了一会儿，说道：“你说得也有道理，可怎么验证呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“验证什么呀？为什么要验证啊？那如果伢子不是祖师，你还打算甩了伢子跟祖师过去啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉，说道：“当然不是，只不过……有点儿闹心。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧问道：“那要是某一天，有个长得跟祖师一模一样的人来找你，你会不会甩了伢子跟他走？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“当然不会！”古芊芊说得斩钉截铁，心里却在想，真要是那样，跟祖师走是绝对不可能的，因为古芊芊不相信这世上会有人比山伢子对她更好。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是，古芊芊觉得，如果有机会的话，估计自己会忍不住睡了祖师。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“姐，祖师传了我一套功法，咱们一起练吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧点头，问道：“还有没有什么别的要说的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊想了一下，摇了摇头，霍晓荧说道：“那我去叫伢子过来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;假期再长，也是转瞬即逝，深夜鬼食堂开始了新一年的营业。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当天晚上七点多，余秦岭那五个人又来了。五个人的脸色都好了很多，也比以前有礼貌得多。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子带他们去了包间儿，然后把徐四请了来，毕竟年前是徐四跟他们接洽的，所以还得找徐四，直接换手会让这五个人心生疑虑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;见着徐四，五个人都是连篇的感激之词，大体是说，打从那天从徐四这儿拿了灵符之后，吃也吃得香了，睡也睡得着了，感觉运气也变好了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四乐呵呵地说道：“你们的气色都好了很多，看来不是什么太严重的事，霉运应该也散掉了，来吧，把驱邪符都还给我。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;五人面面相觑，其他四人都用眼神示意余秦岭，余秦岭说道：“徐老板，这个灵符真的不能总戴着吗？我们可以出钱买。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;瓜子脸说道：“是啊徐老板，驱邪符嘛，就是驱邪嘛，驱邪是好事儿啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四笑了笑，问道：“那你们知道是用什么在驱邪吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这话问得五个人一愣，徐秦岭说道：“不就是灵符驱邪吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四笑着摇头，给五个人解释，人体是一部非常精密，而且奇怪的机器，从古至今，还没有人能彻底搞清楚人体是怎么回事儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;法术，是人体潜能的一种表现形式，单就驱邪符来讲，它的驱邪功能，并不是完全来自于符咒的本身。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;它分几个部分，一个部分是符咒本身，一个部分是天地灵气，一个部分是画符者的法力，还有一个部分，是使用者的阳气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四怕用阴阳术来说，把五个人说晕了，就用医药打比方，治病其实跟驱邪也有同样的道理。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然西医没有阴阳五行的说法，但很多西医也承认，在治疗患者时，一部分是药的功能，还有一部分是人体自身的修复能力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;简单来说，治病也是驱邪，驱得是风邪、寒邪、湿邪，而驱邪符驱的是阴邪，但不论是驱哪种邪，都要调运人体的防御机制和修复机制。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;总戴着驱邪符，就相当于总在刺激着人体的各种机制。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“机器是会磨损的，用得次数越多，用得时间越长，坏得就越快，明白了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;五个人都皱眉，虽然听明白了，但是五个人都舍不得。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四又说道：“人这一辈子，说长不长，可说短也不短，毕竟有几十年，如果提前把运势都用完了，到年老体弱的时候却没了好身体和好运气，那该多凄凉啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;五个人都看着徐四，徐四说道：“别琢磨了，把驱邪符都交出来吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;余秦岭说道：“徐老板，我那尾款还没要回来呐，这过完年都快一个月了，还是不给我。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“我说过，要钱的事儿得找警察，或者是上法院，跟驱邪没关系。行了，别舍不得了，不是啥好玩意儿，就好像药一样，没病的时候不能吃，吃了准坏菜！都拿出来吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;五个人很不情愿地把驱邪符都拿了出来，徐四当着他们的面儿，把五张符烧掉了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;余秦岭心疼地问道：“徐老板，为啥要烧掉啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四答道：“你们用过了，上面沾了晦气。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;送走了四个人，山伢子问徐四：“师父，你是不想管他们吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是。”徐四坦然点头，给山伢子解释。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这不是一个人或是一个家庭，这是五个人，本身人多就麻烦，因为一人一个想法儿，很难统一。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而且现在的人不像过去，现在的人普通对鬼神没有什么敬畏之心，他倒霉的时候会害怕，但一旦开始好转，害怕的心理减弱，他就会开始质疑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;就拿这个驱邪符来说，他们不想还的主要原因，是因为徐四没跟他们要钱，如果徐四给他们要了钱，可能就不是这种结果了，他们甚至会因为拉屎费劲，都得来找徐四说道说道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这样的事儿不能管，他们本来就不是指着这种事儿赚钱，做事要量力而行，而且这五个人德行不好，管了他们也不见得会落好儿，没准儿还会生出别的事儿来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子点头，说道：“师父，我们去看晓荧妈妈的时候，芊芊有过一次神游，见到了祖师，传了一套功法，您要练吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四愕然看着山伢子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“我也不知道咋回事儿，不过功法我练了，感觉挺好的，芊芊爸妈，还有晓荧妈妈，还有洪拓跟桃花儿，他们都练呐，您跟师娘要不要也练？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“练！”徐四点头，转而问道：“没告诉淋洛和歆雨吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子摇头，答道：“芊芊她妈不让告诉外人，说咱们自家人先练。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四点头，说道：“慕灵想是也对，告诉外人还容易引来猜忌和麻烦。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“师父，要不要告诉小龙哥？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;天才本站地址：。手机版阅读网址：
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>