<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第774章：解释</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第774章：解释
</div>
<div class="bookname">
	<h1>第774章：解释</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第774章：解释 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陆天承看起来很随和的样子，中等个头，圆脸，身材略有些发福，没有穿道袍，穿着一身便装， <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;看见山伢子，陆天承便拱手微笑着说道：“久仰石观主大名，果然是英雄出少年。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子勉强笑了一下，答道：“陆观主客气了，请吧。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;进了大殿，古芊芊先站了起来，安婧跟着站起来，花梦容就掉着脸坐着，让安婧拽了起来。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陆天承向三人拱手微笑，问山伢子：“石观主，这三位姑娘是？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“都是我媳妇儿，古芊芊，安婧，花梦容，也就是药娘。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陆天承的笑意更浓，说道：“见过三位夫人。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子见他还笑得出来，而且脸上没有半点尴尬的表情，心说果然是人老精、鬼老灵，看来这是有备而来。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“陆观主请坐吧。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陆天承应道：“谢座。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;分宾主落坐，有人给端了茶来，陆天承打量了一眼端茶的女孩儿，看着山伢子问道：“这位姑娘的服饰很特别，也不是妖修，莫非是无名观弟子？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子坦然答道：“观中杂物都由乌拉族负责，她是乌拉族人。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦？”陆天承看端茶的姑娘，端茶的姑娘低着头走了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陆天承笑着问道：“乌拉族？这个名字很特别，是塞外的民族吧？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“是，他们的大祭司，是我的冥妻。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陆天承呵呵一笑，说道：“石观主真是艳福不浅，羡煞旁人呐。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子懒得跟他扯闲篇儿，问道：“陆观主有何贵干？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陆天承稍稍侧转身，斜对着山伢子，说道：“来向石观主澄清一件事，欧阳垣在数月前到我天道观，说要与我结亲。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“当时我并不知道花夫人名花有主，而且当时我就跟欧阳垣说，我的两个儿子年龄都太大了，不合适。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“但是欧阳垣却说修道之人，不必考虑年龄的问题，还说花夫人是千年难得一遇的药娘。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陆天承顿了一下，笑了笑才接着说道：“想必这种心情，石观主也能够理解，谁不想得到药娘呐？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊冷声说道：“陆观主此言差矣，梦容与我夫君相恋之时，我们还不知道她是药娘。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陆天承又呵呵一笑，说道：“夫人误会了，我是说我当时的心情，并不是说石观主。不过夫人如此大度，竟然准许石观主一而再，再而三地迎娶新夫人，实在是令人敬佩。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“你不必煽风点火，我准梦容进门时就跟她说过，就是因为她是药娘，所以才让我夫君娶她，否则我是不会答应的。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容接口说道：“对呀，芊芊姐跟我谈过，如果我不是药娘，天下美女万千，凭什么娶我呀？陆观主刚才不是也说，原本觉得不合适，但一听说我是药娘，不就答应欧阳垣结亲了？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陆天承稍显尴尬，笑了笑，说道：“两位夫人快人快语，果然是巾帼不让须眉。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“你解释完了吧？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陆天承一愣，随即又露出微笑，说道：“石观主不必急躁，我不是来找事儿打架的，请让我把要说的话都说完。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子点头，端起茶碗说道：“喝茶，刚采的古仙茶，轻易喝不着。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陆天承笑了笑，端起茶喝了一口，说道：“观主当年所种之仙茶树，其味清香沁脾，回味甘甜，只可惜时过境迁，物是人非呀。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“物是死物，人是活人，原本我夫君也没想过要威压四海，名震寰宇，不过是昨日今朝，随缘流转，所以也就谈不上什么时过境迁，物是人非。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子微一皱眉，他刚才没觉得陆天承话里有话，结果让古芊芊这么一说，他才琢磨过味儿来，合着陆天承是说他现在不如当年厉害呀。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陆天承看着古芊芊微笑，说道：“夫人未免过于敏感了吧？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“常言道，说者无意，听者有心，我夫君转世之前，将毕生法力都给了我，那我自然要想，某些人是不是欺我夫君转世年少，便想打药娘，甚至是无名观的主意。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陆天承刚要说话，古芊芊又说道：“再者说，我是女人，不管是敏感还是心眼儿小，都是天生的，也无伤大雅吧？难道陆观主是嫌我多嘴多舌了？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陆天承说道：“夫人言重了，咱们还是说正事吧。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陆天承说，欧阳垣当时找他结亲，因为药娘的缘故，陆天承答应了，但没有想到花梦容和欧阳埥都不知情，而且陆天承即使是答应了，也没有逼迫的意思。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;十天前，欧阳垣又到天道观，说自己被废除了法力，还说无名观抢走了药娘和欧阳埥，想让陆天承给他主持公道。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陆天承就细问结亲的缘由，欧阳垣这才说了实话，实际上只是欧阳垣自己的意思，别说当事人，就连当事人的父母都不同意亲事。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;既然亲事黄了，欧阳垣又是无名观后羿，那陆天承肯定是不会帮他出头，但是欧阳垣说了一些不太厚道的话，所以陆天承才决定亲自来无名观，当面向山伢子解释清楚。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子点头，其实是不知道该说什么，安婧说道：让芊芊姐把灵血给……算了，跟着我说。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“难得陆观主如此看重无名观，鄙人承情了，实不相瞒，在我夫人魂力觉醒之前，我自己也不知道我是无名真君转世，所以与欧阳家结下了仇怨。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子顿住，因为安婧顿住了，山伢子刚想看安婧，安婧又开始说，山伢子就跟着说：“其实这都是我门中事务，本不应该让陆观主受累，实在是过意不去。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧又顿住，这回山伢子明白了，这是故意的停顿，因为是有身份的人，说话不能像开机关枪一样，得悠着点儿。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陆天承微笑着说道：“石观主客气了，你我同修，本就该多相往来，互为照应。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子微笑着点头，转头看着古芊芊说道：“把梦容的灵血给我。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;(本章完)
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>