<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第98章：叫什么名字</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第98章：叫什么名字
</div>
<div class="bookname">
	<h1>第98章：叫什么名字</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第98章：叫什么名字<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;楼下坐满了人，一个穿皮夹克的年轻人，手里拿着一个磕碎了的酒瓶子，对着另外一对年轻男女，把那对男女挤在墙角处。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁快走了两步下了楼梯，走到稍近一点儿的地方，对拿酒瓶子的年轻人说道：“哥们儿，我是这家店的老板，有事儿好商量。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;年轻人吼道：“他欠我钱！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁微一皱眉，原来是欠钱呐，还以为是抢女人呐，说道：“哥们儿，他欠你钱你可以上法院告他呀，你这样儿……不就变成你没理了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对方男的说道：“我根本就不认识他，他就是个神经病！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;拿酒瓶子的年轻人骂道：“陆小天儿，我X你祖宗！你他妈才神经病！把钱还我！要不然今天就干死你！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陆小天身边的女人吓得直哆嗦，眼泪在眼眶里打转儿，眼珠儿乱转，寻找着逃跑的时机和路线。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陆小天愤怒地瞪着对方，因为对方拿着磕碎的酒瓶子，又有精神病倾向，所以也不敢对骂，更不敢叫板，只能用眼神儿来表达心情。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁对年轻人说道：“哥们儿，我再说一遍，他欠你钱你可以去法院告他，你别这个样子，你把酒瓶子放下行吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;年轻人猛然转过头瞪着钟离愁吼道：“滚开！关你屁事！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁心里一哆嗦，开饭店这么多年，大小流氓都见过，见血的事儿也时有发生，但是能让他心里哆嗦的，极少。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一般碰上让他心里哆嗦的，钟离愁就会立刻置身事外，爱咋闹咋闹，闹大了报警就完了。因为能让钟离愁心里哆嗦，对方至少是撞邪了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过今天徐四来了，钟离愁退了两步，扭头看着徐四，挑了挑眉毛。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四走上来问年轻人：“小伙子，他欠你多少钱？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;年轻人看了徐四一眼，又立刻转回头盯着陆小天，用酒瓶子比划着大声说道：“五千！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;围观的人有几个笑出声儿来，又连忙捂住嘴别过头去，而徐四这一伙儿人却没有一个笑的，因为谁都明白，再穷也不会为了五千块钱玩儿命，尤其是欠债的说不认识要债的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看张小莹，张小莹从兜儿里掏出灵石，灵石并没有发光，张小莹冲山伢子摇了摇头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁突然问山伢子：“什么东西？我好像感觉到一股特殊的能量。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子轻声答道：“是我的灵石，给小莹拿着呐，可以帮她抵挡阳气。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁点了下头，没再说话，得先把眼前的事儿解决掉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四对年轻人说道：“五千块钱而已，就算是做杂工，也不过就是两个月的工资，至于吗？你手里这个破了的酒瓶子可是算凶器，万一要是划伤了人，五千块钱可解决不了麻烦。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;年轻人瞪着徐四吼道：“关你屁事儿！滚一边儿去！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹问道：“四叔，我帮你削他呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四没应声儿，又对陆小天说道：“五千块钱而已，就当破财免灾吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陆小天气得眼珠子发红，说道：“大哥，这不是钱的事儿，他就是个……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陆小天咬了咬牙，没敢说神经病三个字，又说道：“我都不认识他，我连他叫什么都不知道。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我叫王庆和！”年轻人嚷道：“我给你干了十几天的活儿，你敢说你不认识我？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“谁？”陆小天既惊诧又迷茫，问道：“你叫什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;年轻人嚷道：“王庆和！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陆小天突然暴怒，骂道：“滚你妈的！你把身份证儿拿出来，我看看你是不是叫王庆和！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;年轻人用左手掏出钱包儿，想了一下，递向徐四说道：“我身份证儿在钱包儿里，你拿出来给他看！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四接过钱包儿，举在大家都能看到的高度，打开钱包儿取出身份证，不出所料的，年轻人不叫王庆和，而是姓刘，叫刘金宝。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四先把身份证儿举给刘金宝看，刘金宝愣住，眼神变得茫然，徐四说道：“你不叫王庆和，你叫刘金宝。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘金宝举着酒瓶子的手缓缓放下，刚想开口说话，陆小天突然喊道：“他就是个神经病儿！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;喊完掏出手机拨了电话，片刻后说道：“我要报警！有人拿破酒瓶子威胁我……我在年华路食味小厨一层……我没有受伤……好，我等着。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘金宝却没有在意陆小天报警，而是拿着自己的身份证儿看了一会儿，然后举着身份证儿要往外走。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁拦住他说道：“哥们儿，那哥们儿报警了，你不能走，免得警察找我麻烦。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘金宝用茫然的眼神儿看着钟离愁，说道：“我不叫王庆和。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁说道：“你叫什么没关系，事儿是你干的，你得等警察来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘金宝好像听不懂话似的，自说自话地说道：“我不叫王庆和，我为什么觉得我叫王庆和呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陆小天大声说道：“因为你是神经病！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四看着陆小天说道：“小伙子，差不多行了，虽然他不是王庆和，但他认识你，还知道你欠了王庆和五千块钱，你就没觉得这事儿有什么不对劲儿的地方吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陆小天眼眸一滞，随即用不耐烦地语气说道：“关你什么事儿？该干嘛干嘛去！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“是不关我的事儿，但你们在我们的店里闹成这样儿，我说句话的资格还是有的吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陆小天身边的女人扯了下陆小天，轻声说道：“既然没事儿了，我先走了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陆小天轻声说道：“对不起啊，改天我再带你出来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“没事儿。”女人摇了摇头，绕开人往门口儿走。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;离着门口儿还有一米多远，大门推开，走进来一名孕妇，照着女人脸上就是一嘴巴，打得女人惊叫一声，捂着脸退了好几步。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陆小天连忙冲上去挡着挨打的女人，拦着孕妇，急着说道：“小欣，有话回家说，别在外面闹。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孕妇厉声斥道：“知道丢人了？我怀孕才四个月，你就在外面找人！找人也就算了，你找她？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孕妇瞪着挨打的女人喊道：“张俪丹！你勾引谁不行，偏偏勾引我老公，兔子还不吃窝边草呐，你还是人吗！”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>