<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第632章：换人</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第632章：换人
</div>
<div class="bookname">
	<h1>第632章：换人</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第632章：换人<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;上了楼，进了套房，欧阳埥快步走到花梦容身边坐下，一脸关切地问道：“姐，你没事儿吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容一脸厌恶地瞪了她一眼，然后翻着白眼儿将头别开。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳埥也不计较，转头看着山伢子说道：“放了我姐，你要怎么样都冲我来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“她谁呀？欧阳埥啊？抽什么疯呐？脑袋让门挤了吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳埥瞪着古芊芊斥道：“你谁呀？你脑袋才让门挤了呐！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊蹭地站起来，身上溢出一层白光。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳埥一惊，脱口说道：“水行石宿主，古芊芊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子赶紧上前抱住古芊芊，哄道：“宝贝儿别生气，这里面肯定有误会。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容也反应过来，看着欧阳埥问道：“什么冲你来？你知道我是怎么回事儿啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳埥愕然答道：“你不是被他们抓了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容嗤道：“什么呀，是他们救了我。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊翻着白眼儿嗤道：“脑有病！疯狗一样乱咬人，欧阳家的货都这个德行！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳埥瞪眼，山伢子抢着说道：“别招我媳妇儿，你承担不起后果！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳埥气愤地瞪着山伢子，花梦容问她：“谁告诉你我被他们抓了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳埥从头说，跟花梦容坦白以后，花梦容就通讯下线，手机关机，欧阳埥就买了飞机票赶过来，但是因为天气的原因，飞机没降下来，转到了邻近的城市，欧阳埥只能再包车往莫林赶。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容眼神嗔恼地责怪道：“你瞎折腾什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳埥搂住她，凑到她脸旁边，陪着笑脸说道：“那我联系不上你嘛，我担心你嘛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容嗤了一声，欧阳埥撒娇道：“人家都承认错误了，再说了，你自己说你喜欢他的，我只是帮你而已呀。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你闭嘴啊！”花梦容脸红到脖子，尴尬地看了山伢子和古芊芊一眼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊翻着白眼儿坐下，不屑地说道：“又不是什么新闻，矫情什么。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容咬着嘴唇低下头，欧阳埥斥道：“你这人怎么这么说话？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我怎么说话！”古芊芊瞪眼斥道：“你利用花梦容来害我老公，我没一见面就弄死你，已经是最大的慈悲了，你再叫唤一句试试！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容下意识地用手臂护住欧阳埥，看着古芊芊说道：“你别生气，她不是故意的，她被家里宠坏了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳埥恼道：“姐！你干嘛跟她低声下气的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容斥道：“你闭嘴呀！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳埥嚷道：“怕什么！反正他们杀人不眨眼，我既然敢来，就没想着能活着离开！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊身上再次溢出白光，山伢子赶紧抱住她，古芊芊怒斥道：“你干什么？连她你也看上了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，欧阳埥嚷道：“你少恶心我！谁稀罕这种破烂货！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容怒道：“欧阳埥！你到底来干嘛的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳埥咬牙，瞪着古芊芊，古芊芊用力捶山伢子肩膀，山伢子在心里对安婧说：快让晓荧回来，欧阳埥来了，要出人命了！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧答道：到门口了，这就上来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;片刻后，霍晓荧进来，欧阳埥的眼神瞬间划过一抹惊惧之色。她敢跟古芊芊叫板，是因为古芊芊是活人，总不至于在自己的饭店弄死她。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可是霍晓荧不一样，霍晓荧是鬼，完全有可能附在她身上操控她，把她弄到没人的地方再杀了她。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容抢着说道：“晓荧姐，小埥不懂事，惹芊芊不高兴了，她不是有意的，她被家里宠坏了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一次，欧阳埥没敢吭声儿，甚至低下了头，都不敢看霍晓荧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧问道：“吃饭了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所有人一愣，山伢子答道：“没呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧走过去坐在古芊芊身边，对山伢子说道：“做饭去，过门是客，要打架也得先填饱肚子。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子答应，松开古芊芊站了起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊踹了山伢子一脚，霍晓荧说道：“还打？打坏了你不心疼啊？跟别人生气，打自己老公，你这是什么逻辑？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嘟着嘴不说话，山伢子呲牙咧嘴地走了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧看着欧阳埥问道：“欧阳埥，你来干什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳埥答道：“有人告诉我，我姐被你们抓到饭店来了，我是来换我姐的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧平淡地说道：“还算有良心，也不枉梦容护着你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳埥沉默了片刻，说道：“我没想利用我姐杀石庆山，我姐喜欢他，我只想帮我姐把石庆山抢过来，让你们自己反目成仇。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”霍晓荧平淡地点头，说道：“那还可以原谅，至少你是为梦容考虑了，不想让他承受亲手杀害心上人的痛苦。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“姐！”古芊芊愤怒地瞪着霍晓荧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧伸手搂住了她，问道：“你真想弄死她吗？那梦容怎么办？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉，霍晓荧抬手给她揉额头，说道：“不看僧面看佛面，冤家宜解不宜结，女人吵架嘛，常有的事儿，不用非得整出人命这么夸张。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嘟嘴，霍晓荧又说道：“等你魂力觉醒，她也是你的徒孙，所有已经发生的事，都将会重新评定。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳埥愕然问道：“你说什么？什么意思？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧答道：“回去告诉你家大人，石庆山是无名祖师转世，古芊芊是无名祖师亲传弟子，素雪转世。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容跟欧阳埥一同愣住，半晌后，欧阳埥大声说道：“不可能！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“来日方长，可不可能，你终究会确认，先按我说的告诉你家大人，免得再做出什么不可挽回的事来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳埥怔怔地看着霍晓荧，古芊芊嗤道：“怕了吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧笑嗔道：“你是小孩儿啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嘟嘴，欧阳埥将目光转向安婧，问道：“她是谁？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧答道：“是我表妹，来莫林上学的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”欧阳埥答应一声，不再关注安婧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“现在告诉我，是谁告诉你，我们抓了你姐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳埥答道：“一个穿一身黑的人，戴着黑帽子和黑口罩，身上味儿特大。”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>