<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第3章：出殡</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第3章：出殡
</div>
<div class="bookname">
	<h1>第3章：出殡</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第3章：出殡<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子睁开眼，天已经黑透了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;坐起来发了会儿呆，回想着梦里娘说的话，山伢子想回家看看，后爹说，娘今天要下葬，他是长子，得给娘摔盆儿引路哭坟呐，虽然现在天晚了，娘可能已经下葬了，那他也得到娘的坟上去磕头烧纸钱呐。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子去找徐四说，徐四头不抬眼不睁，一边儿准备着食材一边儿问道：“睡觉前你不是说回去就没命了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子低着头把梦里娘说的话告诉了徐四，徐四停下手，扭过脸看着他问道：“那不过是个梦，你就那么相信你自己做的梦？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说不出道理来，但就是觉得梦是真的，使劲儿点头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四在围裙上擦了擦手，说道：“行，我送你回去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子有些意外，问道：“四叔，我还能给你当伙计吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四点头：“你要是愿意，你后爹也不反对，你就来，我说过的话不改。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子用力点头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四有辆摩托，个头不小，一发动起来轰轰的，山伢子从来没坐过摩托，既然兴奋又有点儿害怕，徐四告诉他：“搂紧我的腰。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;开出一段路，徐四又大声说道：“松点儿，你要把我勒死了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一个多小时，开到了山伢子家门口儿，大门还没修，一边儿关着，一边儿堵了个麻袋。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许是听到了摩托的声响，大门拉开，后爹先是一愣，随即迈出门槛，三步并做两步向山伢子走来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子有点儿慌，往后退，后爹连忙站住脚，看着他说道：“伢子，昨个儿的事儿你刘叔儿都跟我说了，爹是闹撞客了，他们四五个人都按不住我，到清早才好，伢子，你没事儿吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子摇头，后爹搓着手说道：“没事就好，没事就好……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;念叨了两句，突然想起来，问道：“伢子，这是谁呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不等山伢子说话，徐四先说道：“我姓徐，别人都管我叫徐四，我在镇里开了个小馆子，今天清早，你家孩子跑到我门口翻垃圾，我就让他在我那儿睡了一觉。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;后爹连忙上来握着徐四的手，感激地说道：“他徐叔，好人呐！快！快到屋里喝口水。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;娘的棺材还在院子里停着，因为后爹闹撞客，山伢子又跑没了影儿，所以就没有下葬。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四经过棺材时，低声说了句什么，山伢子没听清楚，而后爹慌着在前面领路，也没在意。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子从来都不是个爱打听事儿的性格，没听清就算了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;到屋里坐下，徐四跟后爹说：“大哥，我知道伢子姓石，但我不知道是不是随你的姓儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;后爹答道：“我姓李，伢子跟他娘过来时都十岁了，我没让他改姓儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“李大哥，我懂点门道儿，你要是愿意，把你家嫂子的生辰告诉我，我给她算算下葬的吉时。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;后爹感激地说道：“那好啊，谢谢他徐叔儿了，只是我家穷，不知道拿什么答谢。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四摆手：“我也是个半吊子，不指着这个挣钱，我看伢子这孩子挺踏实的，你要是愿意，就让伢子到我那个小饭馆儿帮工，我管吃管住，等他年满十八岁，我再给他补工钱。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;后爹憨厚地说道：“给啥工钱呐，孩子跟着你学手艺，将来能养活自己，你这是给他饭碗呐，将来他还得孝顺你呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四笑了笑：“一码是一码，工钱还是要给的，不能白使唤人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四算了时辰，定在明天申时二刻下葬，后爹连夜去找人，把人手儿和时间定下来，听说李家来了个‘半仙儿’，有几个人还跑到家里来跟徐四攀谈，山伢子一见人多，就躲回里屋去了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不知道什么时候歪着了，隐约听见有人在说话，又像是念经，山伢子一激灵醒过来，不知道是什么时辰，轻手轻脚的出来，到后爹那屋看了一眼，后爹和弟弟睡在炕上，但四叔不见了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子拉开门，看到徐四坐在棺材头里，脸冲着棺材，月光映着雪地，晃得徐四的脸有些诡异。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四没有转头，但山伢子听到他在念叨什么，就走近了些，听到他在念着古怪的话，既不像唱歌儿，也不像唱戏。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子不敢吭声儿，怕吵了徐四，就跪在棺材旁边，往火盆儿里撒银锞子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四念叨了得有半个钟头才停下，看着山伢子问道：“你怎么不问我在干什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子低着头答道：“不敢问，怕吵着四叔。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四的嘴边似乎露出一抹笑意，但浅得很难说那是在笑，说道：“好孩子，口静、心实、性子稳，好。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子没听明白是什么意思，但觉得四叔是在夸他，就低着头没吭声儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;第二天起早，刘家婶子给山伢子送来孝服，山伢子披麻戴孝，从早上一直跪到中午吃饭。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;中间后爹想让山伢子起来歇会儿，让小儿子替他跪会儿，但被徐四拦住了，说山伢子有孝心，自古以来，仁孝为先，这是好事儿，况且人这一辈子，生一回死一回，一辈子一次的大事儿，不差这点儿工儿夫。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;后爹听了就不言语了，一个是觉得徐四说得在理，另一个是觉得徐四透着股子仙气儿，不敢违逆他说的话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;抬棺的人午饭前到的，刘家婶子过来帮着做的饭，不求好，只管饱，白面饼子杂碎汤，撒上葱花儿就着姜。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;未时二刻，徐四站在棺材头里喊道：“孝子跪……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子赶紧跪到棺材头里，捧起瓦盆儿，八个汉子钻到杠子底下，蹲好了马步儿，肩头上吃上力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四喊道：“送……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子高举瓦盆儿，‘哗啦’一声摔得粉碎，徐四扬手撒一把纸钱儿，拖着长音儿喊道：“起……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;八个汉子同时腿上较劲，棺材抬了起来，随即忽悠了一下，棺头左首的汉子腿一软，险些就要跪在地上，虽然硬撑住了，但脸已经憋得通红。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四三步并做两步蹿过去，在棺材头上拍了一巴掌，继而似吟似唱：“尘归尘，土归土，亡魂莫把生人阻。留善念，积福报，来世穿金戴银俏。舍一世，得一世，不修今生修来世。子孙安，日子闲，金桥银桥任你攀，起……”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>