<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第583章：刺客</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第583章：刺客
</div>
<div class="bookname">
	<h1>第583章：刺客</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第583章：刺客<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子没有在医院陪古芊芊，因为这回古芊芊住的是两人间，跟安婧住一起，他在不方便。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;烧了红色的媾鬼像，山伢子去了饭店，把这一次的经历详细地告诉了徐四和洪拓。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“事儿完了好，以后可得小心点儿，谁想着挺普通的一件事，牵扯会这么大！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓却问道：“安婧怎么说？这件事彻底结束了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子愕然答道：“我没问，可是……她也没说啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;脑海里响起安婧的声音：什么事我没说？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：洪拓问这件事是不是彻底结束了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧说道：我也不能确定，理论，坐棺有虬褫和女鬼守护，棺主应该是乌拉族的大祭司。这是一个对乌拉族非常重要的人，灭掉了她，乌拉族肯定不会善罢甘休。不过咱们把所有的线索都掐断了，乌拉族想要找咱们也不太容易。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子下意识地点头，徐四问他：“你干嘛呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子答道：“我跟安婧说话呐，她说她也不确定，但是没有线索，乌拉族想找我们也不容易。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓笑着说道：“这可真方便，连电话费都省了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四却微微皱了皱眉头，但什么都没说。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;有人敲门，徐四答应道：“进。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;门推开，邢宽走了进来，招呼道：“四叔，洪哥。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“有事儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢宽答道：“来看看你，丹丹给芊芊打电话，说是住院了，又说你来了饭店。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“我没事儿，芊芊和安婧受伤了，她俩住一个病房，我在那儿也不方便，来饭店了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢宽问道：“你咋没叫我？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子站了起来，问徐四：“师父，没事儿了吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四答道：“没事了，你们去聊吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子领着邢宽进了套房，坐下后说道：“本来没想着会这么凶险……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子把整件事跟邢宽说了一遍，然后说道：“你想啊，是去找个尸首，哪想到会这么凶险，所以没叫你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢宽点头，说道：“下回不管有什么事儿，都记得叫我一声儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子笑，调侃道：“你媳妇儿能愿意？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢宽也笑，说道：“她闹腾归闹腾，但正事儿还是想得明白的，再说了，我也得修炼不是？跟着你出去办事，也是一种修炼嘛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子郑重点头，说道：“我记住了，以后只要有事儿叫你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;医院里，龚钰丹跟古芊芊挤在病床，用手机跟古芊芊说：亲爱的，这丫头长得这么漂亮，又肯舍命护着你们，你可得小心点儿，伢子本来是一人一鬼俩媳妇儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊斜眼瞪她，真是哪壶不开提哪壶，用手机回道：这么明显的事，还用你提醒我？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹又问：晓荧姐怎么说？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：看好你老公行了，少跟那儿瞎操心！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹笑眯眯地搂住她，在她嘴角亲了一下，古芊芊白了她一眼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;门推开，一名戴着口罩的护士，推着医疗车走进来，说道：“该打针了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊问道：“打什么针？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;护士拿起单子说道：“古芊芊打抗生素，安婧打抗血栓药。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“我是观察，我不用打针。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;护士拿着准备好的针筒走向古芊芊，古芊芊皱眉说道：“我不打针。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;护士像没听见一样，伸手去抓古芊芊的手腕，安婧抓起桔子皮摔向护士的脸，护士向后一仰头躲了过去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧一脚踢过来，护士连忙后退，古芊芊抄起床头柜的茶杯扔了过去，龚钰丹尖叫：“来人呐！有刺客！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;先进来的是洪拓，因为安婧叫了山伢子，山伢子让洪拓先赶过来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那名护士一闪身到了窗边，推开窗子跳了出去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;随后值班护士推门进来，问道：“怎么了？是你们喊有刺客吗？你们闹着玩儿小点儿声，别的病人要休息。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹斥道：“你当我们开玩笑呐？刚才有个护士进来要给她们俩打针，芊芊说不打，那个护士硬要打，你看看！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹指着对面地的碎瓷片说道：“如果我用这个杯子砸你，你能躲开吗？还有……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹指着窗户说道：“你敢从这里跳出去吗？刚才那个护士跳出去了，不信你去查监控！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;值班护士被呛得没话说，看了一眼医疗推车，伸手要抓推车把手，古芊芊斥道：“别碰！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;护士一哆嗦，龚钰丹斥道：“那个针筒里可能是毒药！你要是敢碰，你是刚才那个人的同伙儿！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧从窗户飘进来，说道：“跑了，我没敢追太远，那女的跑得很快，不是普通人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“姐，看住那个推车，我给妈打电话。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;值班护士转身要走，龚钰丹斥问道：“你哪儿去，给谁通风报信儿去？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;值班护士皱眉说道：“你们说得太夸张了，我去叫值班医生和保安来处理。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹不敢靠前，但气势很凶地说道：“你别动！在我们家人来之前，你不能离开！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;值班护士白了她一眼，扭头走，霍晓荧一闪身挡住她，推了她一把。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;值班护士被推得一趔趄，愕然扭头看龚钰丹，龚钰丹立刻摆了一个PSE，大声说道：“我有超能力，你再不听话，我代表月亮消灭你！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;值班护士有些茫然，虽然她觉得龚钰丹精神不正常，但刚才的确感觉被推了一把。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;值班护士尝试着又想走，龚钰丹手一挥，同时斥道：“退后！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧很配合地推了值班护士一把，值班护士‘啊’的一声尖叫，用惊恐的眼神看着龚钰丹，龚钰丹一脸得意地问道：“现在相信了吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;很快，韩慕灵和山伢子前后脚到了医院，院长和化验科的主任医师也相继赶来，韩慕灵亲手推着医疗推车去了化验室。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子先问古芊芊：“没事儿吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊摇头，看向安婧问道：“婧婧没闪着吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看安婧，安婧说道：你留在这儿吧，刚才太危险了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;/bk更新最快的小说站！
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>