<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第267章：意外</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第267章：意外
</div>
<div class="bookname">
	<h1>第267章：意外</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第267章：意外<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这件事一开始很正常，随着徐四和山伢子先后结了冥婚，钟离愁开始重新审视自己的生活。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他把火一样热烈的青春年华都用来赚钱了，到了现在，突然体会到那种‘在现实中迷失才发现自己脆弱’的感觉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以钟离愁打算去寻找那个在天边偷偷露出头的星光，看看是谁的眼神在远方为他守候。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;于是钟离愁到婚恋网站上去注册，开始了寻爱之旅。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁的自诉很直白，年龄偏大，不到四十，食味小厨的老板，年净收入过百万，诚求品貌端庄，年龄般配的单身女性共携连理。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;备注：十八岁以上，三十岁以下优先考虑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一经发布，访问量激增，留言刷屏，但没一个是想跟他谈恋爱的，都是问他店里的夜市，是不是真的有鬼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁很生气，守着电脑骂街，一边儿骂街一边儿看留言，希望能找到一条儿不是问深夜鬼食堂的留言。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;翻了几十页，就在钟离愁要放弃的时候，看到了一条儿留言，不是问深夜鬼食堂的，是骂他的，说他宣扬封建迷信，而且用鬼神做噱头招揽生意，咒他不得好死。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁把一肚子火儿都发在这人头上了，这通骂，跟写论文似的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;骂完了就把页面叉掉了，发誓再也不上婚恋网！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但就像是彩虹总在风雨后，幸福总是末班车一样，十几分钟后，互动软件收到了一条信息，一个女孩儿的头像在通知栏里闪动。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁点开，对方的申请留言是这样的：我看到了你的资料。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁通过了对方的好友申请，打了个‘你好’发过去，等了一会儿，对方发过来一个链接。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁有点儿犹豫，现在的钓鱼网站很多啊，点链接不安全吧？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁问，这是什么链接。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对方回答说，是她在婚恋网上的页面，如果不放心，可以直接上婚恋网，搜索‘爱与被爱都很奢侈’。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁上了婚恋网，搜索了名字以后，看到了页面，这是一个满脸书卷气的女孩儿，只有二十八岁，比他小十来岁，学历不低，xx大学硕士生。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她的简介透着一股子苍凉的味道：人在旅途中行走，不知道哪一天是终结，延途的风景转瞬即逝，因为无法驻足观赏，更不能回头寻找。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尝过风霜雪雨中的辛酸，向往大漠里遥远的孤烟，谁会陪我去看海的另一边，谁会是我翘首以盼的鸿雁。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;女孩儿的照片都是生活照，不是很漂亮，但很清秀，背景也大多是冷色调，不过反倒衬托得女孩儿很纯净。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;底下有很多人留言，有真诚求爱的，也有说恶心话占便宜的，反正哪儿都不缺这种心脏嘴贱的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁问她：“你为什么会选我？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;女孩儿答得坦率：“第一，我见过你，我去你的饭店吃过饭，所以真实性不用考察了。第二，我喜欢你的性格，有脾气有爱心，但也有些痞气。第三，你店里的东西好吃，你年收入过百万，还说三十岁以下优先考虑。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁有些诧异，见过他很正常，对他的性格也分析了，啥时候的事儿？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;女孩儿告诉他，是那回赵美蓉的父母到饭店闹场，给警察看录像的就是她。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁猛然忆起，感慨道：“缘分呐！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;于是两人约着见面，女孩儿有一个很好听的名字，上官荷。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;第一次见面，上官荷很腼腆，只是找了间咖啡屋，要了两杯咖啡，坐了一个多小时。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一次见面，钟离愁虽然没有对上官荷魂牵梦萦，但发觉自己真的喜欢上她了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;回家后钟离愁就开始闹心，上官荷要是不喜欢他咋办？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过好在事情是朝着钟离愁所希望的方向在发展，他连着约了上官荷几天，上官荷都是欣然应约，而且两人见面时，上官荷也逐渐放松下来，谈笑风声。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;上官荷很节俭，从不让钟离愁在大馆子吃饭，说钟离愁自己开着饭店，没必要去别的大饭店吃。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁几次想约上官荷来饭店吃饭，但上官荷都婉拒了，说还没有准备好见钟离愁的亲朋好友。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;十天前，上官荷终于答应第二天跟钟离愁见饭店的人了，却出了意外。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当天晚上十点多，钟离愁有点儿坐卧不宁的，原以为是因为上官荷答应见徐四他们，自己有点儿激动，却没有往不好的一面去想。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;凌晨一点多的时候，钟离愁准备睡觉，却响起了轻轻的敲门声。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁去厨房拿了砸牛排用的锤子，大半夜敲门这么轻，十有八成是小偷在投石问路。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但透过猫眼却看到了上官荷。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁很意外，连忙打开门把她让进屋里，问她：“这么晚了，你怎么来了？你想来怎么也不给我打个电话，我去接你呀，你一个姑娘家，大夜里的多不安全呐！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;上官荷哭，哭得很伤心，钟离愁不知道怎么回事儿，但感觉她身上有很重的阴气，就问道：“你是不是看见什么了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;上官荷还是低着头哭，前言不搭后语地说道：“我现在相信了，你的饭店里真的有鬼。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁以为她撞鬼了，伸手搂她，想安慰她，结果手却从她的身体上划了过去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁愣住了，下意识地退了两步。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;上官荷抬起头，满脸血污，说道：“对不起，我不是来吓你的，我是想跟你告别，我被车撞了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;晚上八点多的时候，上官荷突然想吃巧克力，想得不行，忍了一会儿没忍住，就换了衣服下楼去买。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;小区里有六家小超市，但奇怪的是，每家的巧克力都卖光了，一位女店主还跟上官荷报怨，说她自己也想吃，还特意留了两块儿，结果吃完了还是想吃。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;上官荷就嘟嘴，说你好歹还吃了两块儿呐。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;上官荷就想到马路对面的小区去买，因为现在的居民区都有小超市，只不过是多走一段儿路，来回二十分钟左右。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;上官荷急匆匆地走，怕对面小区的巧克力也卖光了，结果过马路时，被一辆闯红灯的车给撞了。
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>