<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第233章：邪阵</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第233章：邪阵
</div>
<div class="bookname">
	<h1>第233章：邪阵</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第233章：邪阵<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“真的？”山伢子很震惊，在家里放一颗真的骷髅头？有病吧？这人变态啊？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧又说了一句：“还很新鲜。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子回手按门口儿墙上的开关，这家儿有真的骷髅头，还是新鲜的，那他闯空门的罪过儿就可以忽略不计了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;‘啪’的一声，开关按了，但是灯没亮，也不知道是没电还是没灯泡儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，说道：“来，跟着我，咱们各处看看。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”霍晓荧答应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子移动手机，进门儿左边是个客厅，东墙是沙发，西墙是电视，南边应该是阳台，但是拉着窗帘儿，窗帘儿应该很厚，因为屋里很黑，一点儿光都透不进来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“照下顶棚，我刚才好像看到顶棚有东西。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“灯呗。”山伢子说着，将光线移到顶棚上，却看到一个以灯为中心的黑色圆形图案，很复杂，也很好看，有种黑暗式的美感，但山伢子不认识这个图案。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“照下来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子调出照相机拍了张照片，然后又将手电筒的光线移向屋内的过道儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这是一套两居室，两个卧室门儿对门儿，都挂着棉门帘子，两个卧室中间是厕所，门关着。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子伸手想去挑南边儿卧室的门帘儿，霍晓荧一把抓住他的手说道：“等会儿！你觉得许三丈来抓人时，屋里会是这个样子吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个问题山伢子早就想到了，答道：“肯定不是，但咱们不是来调查的吗？既然是调查，咱们就得看清楚啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“万一是陷阱呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一愣，霍晓荧又说道：“图黛玉被杀，许三丈肯定认为是咱们请的人，甚至可能认为就是你干的，你上回不是把他打得够呛吗？只不过他没有证据，如果是他设下陷阱，想为图黛玉报仇呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子迟疑了，小莹这话说得有道理，毕竟许三丈曾经是敌对的人，很有可能设下陷阱以后，再假装去向徐四救助。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧又说道：“咱走吧，回去让干爹把赵美蓉拘来问问。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”山伢子点头，拉着她转身，却看到还是两间卧室的门帘儿，还有关着的厕所门。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;火行石陡然亮起了红光，但却很微弱。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“刚才咱们没看地面，可能是踩到什么了，这应该是个邪阵。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子没说话，他其实本来不想走，如果这是一个陷阱，他们这次躲过去了，许三丈就会再想别的招儿，可能会更狠、更损，还不如直接跟他干，看看到底谁牛逼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是小莹要走，山伢子就只能答应，毕竟小莹比他聪明，现在好了，想走也走不成了，正合山伢子的意。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子伸手要挑南边儿卧室的门帘儿，又被霍晓荧拦住，说道：“先转回去，咱们刚才走进来时，是正方位，现在虽然不知道是什么方位，但肯定不是正的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子没说什么，既然不知道现在是什么方位，再转一下不是更不知道了吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过山伢子还是听话的转身，小莹比他聪明嘛，听小莹的没错。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是，霍晓荧却没有转身，而是问道：“看到什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子惊诧地答道：“屋子大门。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“你先走。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我不走！”山伢子要转身，霍晓荧连忙推住他，嗔道：“不听话以后自己睡！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子却说道：“你要出了事儿，我不是一样得自己睡？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧哑然失笑，嗔道：“少贫嘴，让你走就走，赶紧的！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子迟疑了一下，向大门走去，霍晓荧一直拉着他的手，即将分开时说道：“记住，千万别回头，走出大门再回头，不管能不能看见我，立刻给干爹打电话，让干爹把我拘回去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子这才明白她的用意，说道：“你真聪明。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嫣然一笑，松开了手，眼前骤然一变，景物开始扭曲，两个卧室的门向上方移动，厕所门横向移到了墙的正中间，然后缓缓打开，门缝儿里泛着绿光，一只惨白的手从门后伸了出来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧斥道：“脑有病啊？我也是鬼！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那只惨白的手顿了一下，随即整个厕所门忽地一下打开，赵美蓉一脸凶煞地出现在门口儿，而霍晓荧突然感觉到一股大力将自己拉得倒退，片刻后听到徐四的声音：“回来了，你也赶紧回来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子摔上房子大门，都没来得及挂断电话，飞奔下楼，以百米冲刺的速度跑出了小区。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子回到饭店时，霍晓荧已经把情况介绍完了，山伢子却问道：“师父，你咋拘的小莹啊？是用生辰八字吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四答道：“是。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧眼神一变，她把自己真正的生辰告诉了徐四，可山伢子要是接着问，徐四咋回答？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子还真就接着问：“那为啥我烧婚书却招来另一个张小莹呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四答道：“我不知道，我又不是神仙。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧噗嗤一笑，山伢子皱紧了眉头，说道：“那我回头再试试。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不行！”霍晓荧制止他，说道：“还试什么？别没事儿找事儿了，咱们喜事儿都办完了，有没有婚书也无所谓了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四却说道：“我觉得可能是因为山伢子的法力不够，要不我来烧一次吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧咬了下嘴唇儿，说道：“行。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其实霍晓荧还是想要婚书的，毕竟是个名分嘛。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问徐四：“师父，许三丈的事儿咋办？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四答道：“不咋办，咱等着，看他咋办。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子答应，说道：“师父，那你给我们写婚书吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四失笑，说道：“现在怎么写啊？这么晚了，上哪儿买烧纸去？明天吧，你去厨房吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗳！”山伢子答应，乐呵呵地开门出去了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧失笑，说道：“大傻子。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;转脸儿又问徐四：“干爹，烧婚书非得祭神吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”徐四郑重点头，说道：“你放心吧，反正现在伢子起得晚，明天我一起来就去买烧纸，然后来饭店把这事儿给你办了，你只要别给他看婚书就行了。”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>