<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第128章：鬼市</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第128章：鬼市
</div>
<div class="bookname">
	<h1>第128章：鬼市</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第128章：鬼市<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹看徐四，徐四迟疑了一下，说道：“还是让山伢子跟你回去拿吧，厨房那儿我顶两天。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好啊！”张小莹两眼放光，她当然想跟山伢子一起去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;史晋的眼神有点儿落寞，拿起筷子夹了一口菜放到餐碟儿里，吸了吸鼻子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四又对张小莹说道：“不过我没有什么器皿，要不你问问古芊芊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好！”张小莹转身出去了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四看着史晋问道：“待会儿吃完饭，你能带我去鬼市转转吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;史晋爽快地答道：“行啊，没问题。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四看了眼表，问道：“鬼市的营业时间是？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;史晋笑着答道：“二十四小时的，那里不受阳气影响。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”徐四恍然，看来是地府专门儿辟出一个地方，给鬼做生意用。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;史晋放下筷子，说道：“四叔，我吃饱了，要不咱们这就去吧，我那一帮兄弟都在下面坐着，太耽误您做生意了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四点头，说道：“行，咱走。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;鬼市，在一个极偏僻的地点，打车走了一个多小时，越走越黑，越走人烟越少，出租车司机吓得总看后视镜，就怕徐四掏出点儿什么来给他一家伙。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;好容易到了地方，看了一眼表，司机陪着笑脸儿说道：“大哥，一百五十八，凑个整儿，就一百五吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四笑了笑，看来让他等自己回程是没戏了，给了他一百五，道了声谢，然后下了车。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;鬼市的入口开在一个大空场上，徐四问史晋：“没有活人误闯鬼市吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;史晋答道：“还真没有，至少我没听说过。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四点头，迈步过门儿，却直接从门儿上穿了过去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;史晋愣住，说道：“原来活人进不了鬼市啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不。”徐四琢磨了一下，伸出手用法力感应了一下，然后又琢磨了好一会儿，才开始来回在门中穿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;史晋看着徐四，发现他并不是从门这边儿走到那边儿，而是先从东走向西，绕过门再从东走向西，这样走三遍之后，再从西往东四边，然后从东往西走，这回没有穿过去，而是消失了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;三角眼儿小声儿说道：“果然是法师啊，这都行？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;史晋白了他一眼，说道：“废话！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;鬼市很热闹，鬼山鬼海，放眼望去，各种店铺摊位琳琅满目，过道也宽敞，并排走两辆小轿车都行。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;凡是看到徐四的鬼，都用怪异的眼神打量，但看到史晋跟在后面，也没人过来搭茬儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;走了一段路，徐四说道：“龙哥，带我去饭店看看行吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;史晋怔了怔，说道：“四叔，你怎么这么叫我，这可不敢当。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“这是你的地头儿，所谓强龙不压地头蛇，更况且我一个活人进了鬼市，虽然我会点儿法术，可在这儿也得靠你罩着我。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;史晋有点儿尴尬，说道：“别这么说……那什么，咱们往这边儿走。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;转过一条街，看到道路两边全都是饭店，有的是现代式的小楼，有的却是古代的客栈，门口儿还挂着幌儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一路走一路看，猛然看到一个砖房，黑瓦红墙，门口竖着根旗杆子，旗杆子上面挂着一个条幅，上面写着四个大字，食味小厨。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;史晋似乎明白了什么，看着徐四问道：“四叔，你姓徐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊。”徐四木讷的答应，眼睛盯着那个条幅。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐家祖训，凡徐家子弟，在世活人不得招请祖上阴魂，所以徐四从来没想过会再碰到自己的父亲。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四问史晋：“这个饭馆儿多久了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;史晋答道：“有年头儿了，我听一些胎死腹中的老鬼说，他们小时候儿，这个饭馆儿就有。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四向前走，从饭馆儿里出来一个鬼，年岁很大了，戴着小帽，肩膀上搭着手巾，看着徐四说道：“徐家后人，别进来，啥时候儿死了，啥时候儿再来，走吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四鼻子发酸，说道：“我就想看看我爸妈。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老鬼说道：“甭看了，你就不应该来这儿，有团圆的那一天，走吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“我碰上难事儿了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老鬼呵呵一笑，说道：“活着本来就是难事儿，自己想办法吧，没人帮得了你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;史晋和他的兄弟都皱眉，摊上这么一家子也是够一说儿的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四长长地叹了口气，说道：“好，我走了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;第二天中午，张小莹给古芊芊打了电话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊先是很好奇，等问明白以后才说道：“你那堆东西值几个钱？让山伢子陪你去一趟，来回火车票都比那个贵几十倍了吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹嗔道：“那是我爸妈烧给我的，是心意！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好好好。”古芊芊笑，说道：“那我问问我妈，回头给你回话儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;挂了电话，徐四从房间里出来，说道：“小莹，有个事儿想拜托你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹眨眼，说道：“四叔，我可不出卖色相。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四愣了一下，斥道：“胡说八道什么？过来！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹笑嘻嘻地跟着徐四进了房间，徐四拿着一个相框说道：“这是我爸的遗相。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹看他，徐四接着说道：“昨天我去鬼市，看到一个食味小厨。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹咋呼道：“你家开的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四点头，答道：“应该是，但是不让我进去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹问道：“你想让我去？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四点头，张小莹又问道：“干啥去？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四答道：“就是看我爸在不在。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹说道：“行，我晚上去，有啥话让我带不？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四沉默了片刻，摇了摇头，说道：“看看就行。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;十几分钟后，古芊芊回了电话，告诉张小莹，她家没有能装那么多金元宝的器皿，但是黄爷爷有，不过想借来有条件。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;第一个条件是要跟张小莹见一面，第二个条件是百纳包儿只能交给古芊芊，不能给别人，也就是说，古芊芊必须跟张小莹去靠山镇。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹皱眉道：“这么麻烦，还得折腾你一趟，那算了，我不要了，我找人帮我搬吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“那可不行！”古芊芊音调儿提高：“黄爷爷脾气可大了，跟他说了的事儿，不能改，再说了，他还给你扎了个手机呐，你不应该去谢谢他吗？”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>