<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第252章：人多好办事</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第252章：人多好办事
</div>
<div class="bookname">
	<h1>第252章：人多好办事</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第252章：人多好办事<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四对李孝林说道：“李先生，你太紧张了，会影响脉象的，如果你害怕，那你还是回去吧，明天去找活人大夫看。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李孝林咽了口干沫儿，说道：“我都等这么半天了……我不紧张，看吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿问道：“我可以现身吗？让他看见我，可能会好一些。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四对李孝林说道：“帮你看病的大夫叫桃花儿，是一位非常漂亮的小姑娘，让她现身出来跟你见见面，你觉得行吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿微微皱眉，看霍晓荧，霍晓荧说道：“不这么说他怎么敢见你？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;果然，李孝林的情绪反倒缓和下来，说道：“行，那就见见吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧对桃花儿说道：“别光把脉，看看他的魂魄，把脉这种小事儿，是个大夫就行，何必非得等你？我觉得干爹是另有目的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿微笑着说道：“你心眼儿真多。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嘟了下嘴，说道：“没办法，山伢子傻，就得我多想，习惯成自然嘛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿在李孝林背后现身，然后缓慢地转到他身前。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李孝林张大了眼睛，盯着桃花儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿感觉有些别扭，低着头说道：“我给你诊下脉。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”李孝林一直盯着桃花儿，感觉到手腕上一凉，低头看到桃花儿纤细的手指抚在他的手腕上，李孝林脱口问道：“你真的是鬼吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是。”桃花儿答应一声，又说道：“别说话。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;诊完了脉，桃花儿微微皱眉，说道：“伸舌头。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李孝林伸出舌头，桃花儿仔细看了看，说道：“好了，我看看你的魂，你看着我的眼睛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李孝林盯着桃花儿，觉得她好美，美得让人无法形容。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿看完之后对徐四说道：“四叔，他的魂伤了，像被人施过法术。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四点头，这就对了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿又说道：“魂伤了恐怕吃药是不管用的，还得是您家的安魂汤管用。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四答道：“知道了，辛苦你了，让晓荧带你去转转吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好。”桃花儿微笑着答应，怕吓着李孝林，也没有隐身，直接向外走。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李孝林的目光追随着桃花儿，问道：“走啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿浅笑了一下，拉开门出去了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四皱眉，这小子刚才还吓得半死，这会儿见桃花儿长得漂亮，就动了歪心思，难怪他会被黑衣人利用，果然是苍蝇不叮无缝儿的蛋。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“行了，你回家吧，从明天开始，每天晚上来我饭店吃个饭，连续吃一个星期，吃什么没关系，记着让服务员给你备注加半勺儿安魂汤。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李孝林回头看房门，又转回头看着徐四问道：“我等了半宿，这么会儿就完了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“我不懂医，恰巧有桃花儿，我怕你伤着脏腑，所以才让她给你看看，既然你只是魂伤，那就不用桃花儿给你治了，你回家吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李孝林一脸失望，问道：“她真是鬼呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四问道：“你多大？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李孝林立刻露出尴尬的神色，犹豫了片刻才答道：“二十八。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四又问道：“你觉得桃花儿多大？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李孝林站了起来，说道：“不早了，我走了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四的意思很明白，桃花儿的样子最多不超过十八岁，一个奔三的人了这么惦记，合适吗？有这个资本吗？是个人就能老牛吃嫩草吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李孝林走了，徐四对姜悦玲说道：“媳妇儿，你去帮我把晓荧和桃花儿叫来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好。”姜悦玲答应一声出去，没一会儿就把两人带了回来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四对桃花儿说道：“桃花儿，我让你给他看看，主要是想借你的本事查查他的身体状况，你能看出什么吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿答道：“四叔，我虽然是百年以上的鬼，兴许能量有些大，但是我没有修炼过，我生前学的就是医术，跟普通的大夫没什么差别。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”徐四略有些失望，但也在预料之中，说道：“没事儿，回头让晓荧教你修炼。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我教？”霍晓荧说道：“那她要是学会法术去做恶，我不得受连累啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿满脸委屈地看着霍晓荧，说道：“我怎么会做恶呐？我不会做恶的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四笑，说道：“桃花儿，听她说话你得拐着弯儿听。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完又看着霍晓荧说道：“你别跟我耍心眼儿，我是不会认桃花儿当干闺女的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“没说当干闺女呀，可以收徒弟嘛，反正史晋不也是要拜师吗？一只羊是赶，两只羊也是放，一块儿呗。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四沉默，他明白霍晓荧的意思，他们现在跟五行世家扯上了关系，背后还有一个神出鬼没的黑衣人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是他们势单力孤，所以霍晓荧不遗余力地招兵买马，一面心急火燎地促成山伢子跟古芊芊的姻缘，一面死命地拉拢一切能拉拢的人和鬼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;理论上这是好事，所谓人多好办事，只不过，桃花儿可是刚刚才认识的，而且是百年以上的鬼，收徒弟教法术？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;万一出了问题，可不是他一个人的事儿，恐怕徐家几辈人的功德都会受影响！而且最重要的是，想清理门户可能都力不从心。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿低着头，有些幽怨地说道：“小莹……我不拜师，我也不学法术，我这样挺好的，你们……能让我待在这里就好，我想过一过热闹的日子，能跟人说说话，聊聊天儿就好了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四赶紧接口说道：“没问题，这里就是你的家，回头我给你做一个宅子，晓荧就有一个，你先进去看看，如果喜欢，我就照那个做，如果不喜欢，你自己设计也行。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧瞪着徐四，徐四装没看见。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜悦玲说道：“对了，我的宅子还被赵美蓉占着呐，她什么时候走啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“你又不用。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜悦玲说道：“我是不用，只要你不再娶个活人做媳妇儿，我永远也不用了，但是可以给桃花儿啊，干嘛让赵美蓉占着呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四叹气，说道：“我不是答应帮她养魂嘛，那魂瓶都被砸了，总不能让她在家里到处飘着吧？”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>