<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第154章：不待见</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第154章：不待见
</div>
<div class="bookname">
	<h1>第154章：不待见</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第154章：不待见<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊看着他，面如冰霜，心如潮涌，真想站起来一脚踹他脸上！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;本来看到山伢子紧抱着张小莹，古芊芊心里就有点儿不痛快，潘小龙还这么嘻皮笑脸的惹人烦，这人脑子有毛病吧？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过古芊芊能忍住不动手儿，并不是考虑谁的面子，而是怕自己打不过潘小龙。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;再怎么说，潘小龙也是四叔的徒弟，也跟着四叔修炼了三年多，总比她什么都不会要强吧？就算没修炼出什么来，潘小龙是男的，也比她力气大。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一次的事件，让古芊芊深刻的意识到，看似平静的生活其实都是假象，身为灵石的宿主，从出生的那一刻起，就已经注定不会平凡。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;再加上被潘小龙连续纠缠了两天，古芊芊下了狠心，就算脱层皮，也要跟妈妈把功夫学好！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊再次重复道：“潘先生，请问你到底有什么事需要我帮忙？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙彻底尴尬了，人有脸树有皮，没脸没皮那是畜牲！要不是古芊芊各项指标儿都比普通人优秀得多，潘小龙绝不会这么低三下四，可即使如此，也总有个底线。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙收了笑意，说道：“古小姐，我觉得你可能误会我了，其实我不是一个随便的人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“我不关心你是什么样的人，你是四叔的徒弟，石庆山的师弟，小莹姐的朋友，你既然有事情需要我帮忙，我不会直接拒绝，但也请你尽快说正题，我没有时间浪费在你身上。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙的脸色阴沉了下来，这话说得也太直白、太伤人了吧？好歹自己也是品学兼优，玉树临风，能文能武，能屈能伸……<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“起开！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙一哆嗦，扭脸儿看到张小莹站在旁边，忍不住吼道：“咋的？都瞅我不顺眼啊？我到底咋了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹说道：“你盯错人了，回学校泡你那些没见过世面的花痴小学妹去！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙嚷道：“说啥呐？我这儿跟芊芊说正事儿呐！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹也嚷道：“说啥正事儿啊？你磨磨叽叽半天了，哪句话跟正事儿有关系啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉，说道：“你们能不能小点儿声儿？山伢子刚醒过来，体力还很弱，需要安静的休养。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹看着潘小龙嗤笑一声，说道：“落花有意随流水，流水无心恋落花。这两句话啥意思来着？我忘了，你学习好，你给我解释一下呗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙瞪着张小莹，张小莹伸手拉古芊芊，说道：“我让山伢子接着睡会儿，来，我有话跟你说。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊什么都没问，站起来跟着张小莹就走，潘小龙问道：“你们不吃饭呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹头也不回的答道：“吃，但是不跟你一起吃。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹跟古芊芊去了自家饭店，进了包间儿，要了两个菜，张小莹对古芊芊说道：“我迟早是要去投胎的，如果不是那个人拦着，我这次就走了，再说我是鬼，你别把我当回事儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊心虚的说道：“你说什么呐？我听不懂。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹没再继续这个话题，转而说道：“潘小龙这人没什么坏心眼儿，就是嘴特贱，我觉得他非要找你帮忙儿，其实是想趁机泡你，你不用搭理他，更不用看我什么情面，我跟他就没面儿，打从他拜了师，就没少祸害伢子，我也没少拾掇他，这些年过来，我俩都养成习惯了，不吵不说话，不打不算完。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”古芊芊点头答应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹又补充道：“不过，如果你不怕耽误高考，想跟着我们一起出去走走，那我也不反对。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊想了一下，撅了撅嘴，说道：“我得问我妈。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子睡醒的时候儿，潘小龙在客厅里吃方便面，见山伢子出来，就问道：“吃吗？酸菜的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“你咋吃方便面？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙答道：“你大小老婆都不待见我，人俩出去吃了，还不带我，我不吃方便面咋整？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，走到他旁边坐下，说道：“你别胡咧咧，啥大小老婆，让小莹听见了，还得拾掇你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙捧着碗大声说道：“我就说了！牛逼就让那个死老娘们儿弄死我，我他妈也变成鬼，我跟她死磕！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，这是受什么刺激了？难不成他睡着的时候儿，潘小龙又让张小莹给打了？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子转移话题，说道：“你这趟来到底有啥事儿？磨叽一晚上了，还能不能说了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“等会儿。”潘小龙两口三口的把面吃完，放下碗抹了抹嘴，说道：“我寝室一哥们儿……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙的同学叫尚亚坤，家里开了个小超市，虽然生活水平算中等，但挣的是辛苦钱，尚亚坤每到周末，就帮着父母看店，摆货价。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两个星期前的周六早上，尚亚坤六点就起来了，想着早点儿到超市去理下货。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;超市离家不远，走路也就十几分钟，尚亚坤就跑着去，当作是晨练了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;跑着跑着，突然冒出来一个老头儿，两人直接就撞翻了。用尚亚坤自己的话说就是：“他就跟从地里长出来的一样，别说我是跑步，我就是走路都得撞上！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这老头儿就赖上尚亚坤了，也不说自己家住哪儿，也不去医院，就要在尚亚坤他们家住下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尚亚坤急了，这不讹人吗，哪有上别人家住的？于是就当街跟老头儿嚷起来了，还掏出手机打电话报警。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一看尚亚坤报警，老头儿恶狠狠地说道：“小子，你等着！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完竟然忽悠一下就不见了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;早上六点多，天儿还凉呐，尚亚坤觉得自己起了一身的鸡皮疙瘩，问旁边儿扫地的大妈：“大娘，你看见刚才那老头儿了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;大妈斜了他一眼，琢磨了一会儿才答道：“没人，就你一个人在那儿舞扯，赶紧走吧，往人多的地方去，别随便跟别人说话。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尚亚坤当时就觉得脑袋发蒙，两腿发软，但也没敢瘫在街上，而是强努着到了超市，开了门儿进去，就一屁股坐在了椅子上，直到太阳照进店里，心里的凉气儿才散干净。
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>