<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第364章：寻求帮助</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第364章：寻求帮助
</div>
<div class="bookname">
	<h1>第364章：寻求帮助</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;.&nbsp;&nbsp;&nbsp;&nbsp;，最快更新深夜鬼食堂最新章节！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;第364章：寻求帮助<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧笑着说道：“我只是有点儿不习惯，你以前一有事儿的时候，总是问我咋办，现在不问了，我还不太适应。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子笑了笑，伸手抚了抚她的后背，说道：“我一定能找到办法，否则会害死你的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;晚七点多，一个中年男人进了饭店，不理会服务员的招呼，直接走向山伢子，问道：“你是领班？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“是，有什么需要帮忙的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人说道：“我要见你们老板，懂阴阳法术的那位。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子打量他，男人四十多岁的样子，寸头，圆脸，五官端正，穿着休闲式的衣裤，身材略有些发福，个子不高，一米七左右。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“先生怎么称呼？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人答道：“我姓龙，龙顺天，我是阴阳风水师。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子眼眸一滞，龙顺天又低声说道：“许冰女士家的事我知道了，我是来向贵店寻求帮助的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“请跟我来吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;将龙顺天带到经理办公室，山伢子坐到了一边，龙顺天看了山伢子一眼，然后向徐四表明来意。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四问道：“许女士还特意跟您说了一下她家的事？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龙顺天尴尬地笑了笑，答道：“不是特意跟我说，是让我退费。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”徐四明白了，这也正常，许冰也是被这个姓龙的忽悠得不善。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四问道：“您有什么事需要我们帮忙？是要办喜事定桌儿吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龙顺天说道：“徐大师不要开玩笑，咱们明人不说暗话，我碰上难事儿了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龙顺天也算是名声在外的大师了，因为一般的大师都是风水师，而他是阴阳风水师。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;阴阳这两个字不是随便往上加的，虽然风水也讲阴阳，但在风水前面加阴阳两个字，有另一层含义，就是代表龙顺天能抓鬼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龙顺天敢顶这个名头，不仅仅因为他有鬼眼，更重要的是，一百件事当中，有九十九件都不是闹鬼，大多是冲煞之类的风水问题，其中还有一小部分是人的精神问题。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是这一次，龙顺天接了个狠活儿，是真闹鬼，还是厉鬼，差点儿把自己的命赔进去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;有一个富商，叫王永利，半年前，他儿子被人绑架了，跟他要五百万，王永利直接报警，但警察抓到绑匪时，他儿子已经死了两天了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四皱眉，龙顺天把这件事说得太简单了，都搞不清是怎么回事儿，但是徐四没有打断他，安静地听他往下说。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王永利的媳妇儿疯了，一个多月以后跳楼死了，半个月前王永利找到龙顺天，说他媳妇儿来找他算账，让龙顺天帮忙解决这件事。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龙顺天就接了这个活儿，本来以为是王永利先死了孩子，又死了媳妇儿，精神上受了刺激，可没想到是真闹鬼，而且非常凶戾，差点儿把龙顺天掐死。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“那你怎么没死呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龙顺天愕然看着山伢子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“不好意思，我说话太简单了，你说那只鬼差点儿把你掐死，那你是怎么脱险的呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”龙顺天点了下头，答道：“我咬破了舌尖，喷了真阳涎，才侥幸脱险。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四问道：“龙大师，你想让我们帮什么忙？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龙顺天答道：“我没有能力处理这件事，想请徐大师出面解决这件事。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四笑了笑，说道：“多谢抬爱，但我就是个厨师，我……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“徐大师。”龙顺天打断了徐四，盯着他说道：“好歹咱们是同道中人，你这样推诿是什么意思？咱们素未谋面，我龙顺天没有得罪过你们呀，难道有什么事是我自己不知道的？还请徐大师直言相告。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“你误会了，你没有得罪我们，就是你刚才说的，咱们素未谋面。既然是素未谋面，自然也就谈不上什么交情，你觉得棘手的事，我们也不一定能处理好，咱们是同道中人，但我们也得量力而行，你说对吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龙顺天皱眉，想了想说道：“这笔生意总价一百万，都给你们。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四哑然失笑，说道：“钱是不少，快赶上我们饭店一个季度的营业额了，不过……你刚才说得太笼统了，我对整个事件的来龙去脉不清楚，你能不能说得再详细点儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龙顺天皱眉，问道：“我说得不清楚吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四解释道：“咱们的理念可能有些差异，我们师徒处理阴阳之事，一向是先问对错，然后才决定帮谁。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“帮谁？”龙顺天愕然看着徐四，问道：“难道还能帮鬼吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四点头，说道：“鬼也是人变的，既然怨气大到能报复活人，可见事情不简单，不把事情的因果搞清楚，我不敢冒然插手。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龙顺天说道：“王永利的老婆疯了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四摇头，说道：“人疯，鬼不一定疯，疯病其实是心脉受损，以至于魂不守舍，但离开肉身之后，鬼魂不会再因为魂不守舍而影响情志。如果一只鬼到了疯的地步，那你喷真阳涎也不管用，你根本没机会来找我说这件事。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龙顺天沉默了一会儿，问道：“你想知道什么细节？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四答道：“王永利孩子被绑架的整个细节。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龙顺天叹了口气，沉默不语。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四看着他问道：“龙大师，你接活儿……不会连因果都没问吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龙顺天有些不高兴地说道：“我师父只教过我，鬼不能害人，凡是鬼害人，就必须收伏或是斩灭！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“那好。”徐四说道：“龙大师请回吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龙顺天看着徐四，徐四说道：“咱们理念不同，所谓酒逢知己千杯少，话不投机半句多，你还是自己想办法吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龙顺天掉着脸站了起来，冷声说道：“既然不肯帮忙，那就告辞了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完转身就走，徐四平淡地说道：“恕不远送。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龙顺天走了，山伢子站起来说道：“师父，我出去了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”徐四点头，说道：“如果他再回来，不用带来见我了，你自己处理就行了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子答应一声，开门走了。
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>