<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第576章：杀了一家人</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第576章：杀了一家人
</div>
<div class="bookname">
	<h1>第576章：杀了一家人</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第576章：杀了一家人<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;听完山伢子的叙述，洪拓皱眉说道：“乌拉山脉？那是境外的山脉，他们的大祭司怎么葬在咱们国家境内？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子扭头看安婧，安婧说道：“不知道，关于乌拉族的记载，时间是将近五百年前，在这么久的时间里，世间的变化肯定非常大。请看最全！的小说!”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“安婧也不知道，她说素雪的游记时间太久了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“那有什么怪的，因为天灾或是**，导致南迁了呗。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“梅姨也是漠北的，她姓乌孙，乌孙跟乌拉有没有什么关系？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧说道：“没关系，乌孙氏是在三百年多前，因原战‘乱’而避祸去的漠北，实际乌孙氏是原人，而乌拉族是漠北偏北的原住民。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子重复了一遍，霍晓荧惊叹道：“哇！你是百科全书啊？你知道我们家的事吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧摇头，说道：“素雪祖师遗训，凡素隐‘门’弟子，不得以任何形式接触或探知五行世家。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子恍然，之前他跟洪拓的疑虑可以解除了，原来是素雪不准素隐‘门’关注五行世家。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沉默了片刻，安婧问山伢子：“次跟你们在一起的那位侯爷，为什么不跟你们在一起了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“他走了，说要去地府销账，忘却今生，重头来过。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧说道：“不是呀，前天我还看到他，他还杀了一家人呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啥？”山伢子一脸震惊地看着安婧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧问道：“咋了？什么事？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“她说前天看见唐召义了，还说唐召义杀了一家人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧转了下眼珠，问道：“在哪儿杀的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧说了地址，山伢子重复一遍，然后问道：“那是什么地方？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嗔道：“是杨‘玉’蝶她家楼下！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子愕然问道：“那件事儿不是完了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“别打岔。”霍晓荧回了一句，看着安婧说道：“快说说是怎么回事。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;前天，也是安婧准备袭击山伢子他们那天，在袭击前，安婧要先探查一下，尤其是唐召义，因为唐召义是老鬼，能量巨大。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是在探查时，发现唐召义没跟山伢子等人在一起，安婧寻着唐召义的能量找了过去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“你还能寻着能量找鬼呐？咋找啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嗔道：“让你别打岔，听不懂啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧说道：“我回头告诉你，先说唐召义的事情。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义带着一个年轻的‘女’鬼，像是刚死的，被杀的那家一家三口，‘女’的很彪悍，唐召义和那个‘女’鬼显了形，那家的‘女’人也不害怕，还骂那个‘女’鬼，骂得很难听，还说‘女’鬼跳楼跟她没关系。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义当时极其愤怒，先把‘女’人的老公和儿子掐死了，然后‘女’人吓哭了，跪在儿子的尸体旁边又哭又骂，唐召义把那个‘女’人活活打死，然后抓着她的魂走了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧问道：“去哪儿了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧答道：“不知道，我看他没往你们饭店来，没管他。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧看洪拓，洪拓站起来说道：“咱俩去看看。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;到了杨‘玉’蝶家，看到一个年人正在指挥几个穿工服的人往外搬家具，霍晓荧直接扇了那人后脑勺，问道：“你是谁？你怎么在这儿？为什么往外搬家具？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;年人木讷地答道：“我叫郑大明，这家人都死了，房子归厂里，我带人把房子清理出来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;几个工人都看向他，有人问道：“郑工，你跟谁说话呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧厉声问道：“杨‘玉’蝶什么时候死的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郑大明答道：“三天前。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧怒道：“头七都不到，你们来清房子，人渣！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说着伸手扣向郑大明脑袋，却被洪拓一把攥住手腕。洪拓震惊地看着她问道：“你没事儿吧？吸了两次元阳变得这么暴戾？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧咬牙切齿地说道：“这种人不是好东西！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓皱眉说道：“人情是人情，规矩是规矩，他也是照规矩办事，甚至只是个经手办事的人，你不能这样，你要是这样，那你趁早别用吸元阳的功法，我肯定要跟伢子说。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧气呼呼地嘟着嘴，洪拓放开她，扇了郑大明后脑勺一下，郑大明猛一点头，随即左右看了看，问道：“我刚才是不是睡着了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;几个工人都用异样的目光看着他，有一个人先说道：“郑工，我胃疼，干不了了，我得去医院一趟。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他这一说，另外几个也各找借口。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郑大明瞪眼嚷道：“什么意思啊你们？我告诉你们啊，你们要是这样，今天的工分儿没了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;最先说话的工人说道：“工分儿不要了，我得去医院。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完往外走，另外几个工人也跟着往外走，郑大明干瞪眼没脾气，只能等人‘走’光了以后，悻悻地锁了‘门’离开。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“看吧，人还是有敬畏之心的，都知道杨‘玉’蝶刚死，所以郑大明稍一不正常，别人都走了，而且郑大明也没有坚持，更没有说什么难听话。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧拿白眼儿翻他，嗔道：“知道了知道了，磨叽！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓找了件裙子，然后作法招杨‘玉’蝶的魂，但是来的却是唐召义。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓一愣，问道：“老唐，你……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义说道：“我没走，我想了一下，芊芊说得对，我算要去销账，也得先弥补一番，否则恐怕再没有来世了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓问道：“那你现在跟哪儿待着呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义没回答，反问道：“你们怎么想起来到这儿来了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧抢着说道：“还不是你说你要走，我担心杨‘玉’蝶没人管了再受人欺负，来看看，结果来了看到有人往外搬东西，问了以后才知道她已经死了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“是啊，怎么回事？我招杨‘玉’蝶的魂，你怎么来了？你俩在一起呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义叹了口气，说道：“我也是放心不下‘玉’蝶，说回来看看，结果才知道她跳楼了，我把楼下那一家全杀了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓皱眉，霍晓荧大呼小叫地说道：“什么！你杀了一家子？你不是要弥补一番吗？怎么又杀人？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;的小说站！
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>