<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第340章：意外事故</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第340章：意外事故
</div>
<div class="bookname">
	<h1>第340章：意外事故</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第340章：意外事故<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫思哲嗤笑一声，说道：“你想鼓动我们杀人？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人说道：“你们也得杀得了才行。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;荆少华说道：“你不用激我们，我们是不会杀人的，杀人是重罪，我们是法术世家，不是黑帮恶势力！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人说道：“你们的想法太单一了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫思哲问道：“你为什么来找我们？你有什么目的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人答道：“敌人的敌人就是朋友。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫思哲跟荆少华对视一眼，然后问黑衣人：“您有什么办法？请指教。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这天夜里十一点，第一拨客人刚刚落座，突然一声巨响，饭店一层临街的玻璃全部震碎，靠窗的客人几乎无一幸免，有两个女孩儿还被碎玻璃划伤了脸。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四、钟离愁、山伢子等人都从楼上跑下来，场面极度混乱！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧问史晋：“怎么回事儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;史晋茫然摇头，答道：“不知道，但肯定不是炸弹，好像是能量波。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁指挥着开全照明，报警并检查伤者。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧和洪拓抢出店外，分别上了两侧的楼顶，既然是能量波，那肯定是有人作法。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果是作法的话，就肯定要在避着人的地方，这条街这么繁华，能避人的地方也只有楼顶了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是，在目力所及的范围内，霍晓荧跟洪拓都没有看到可疑的人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;警察勘验现场，救护伤者，疏散食客，折腾了三个多小时，初步认定不是饭店的责任，属于意外事故，但事故原因需要进一步调查。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;警察忙活的时候，霍晓荧也没闲着，跟洪拓一起询问进店的鬼，还有在周边游荡的鬼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;有鬼告诉霍晓荧，说能量波好像是从斜对面的楼顶上打过来的，霍晓荧回饭店找章嫦香，问她：“你的嗅觉好吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”章嫦香点头，说道：“方圆十里都能闻到。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧带着章嫦香上了楼顶，然后从这边的楼顶跳到那边的楼顶上，让章嫦香分辨气味。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;章嫦香却掩住了口鼻，皱眉说道：“小莹，这个人的气味好臭啊，闻了想吐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧搂住她笑眯眯地哄道：“忍一忍，回头让我老公给你作好吃的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”章嫦香答应，放下手又仔细闻了闻，然后问霍晓荧：“你跟着我？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“等会儿。”霍晓荧觉得至少要叫上山伢子，说道：“先回去，叫上我老公。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;跟着章嫦香走，山伢子问霍晓荧：“媳妇儿，你咋能确定是施法的人？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧答道：“我不能确定，我就是觉得施法是个体力活儿，身体的气味应该也会随着身体的活跃性更重地激发出来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;章嫦香皱眉说道：“小莹你别说了，你越说我越想吐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;寻着气味，来到一家快捷酒店门口儿，章嫦香说道：“气味在楼里面。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说着就要进去，被霍晓荧一把拉住，说道：“别进去，里面有摄像头，你们在外面等，我进去看看。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”章嫦香答应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子嘱咐霍晓荧：“小心点儿，别莽撞。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”霍晓荧答应一声，进了大门。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;章嫦香凑到山伢子颈边急促地吸着鼻子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子愕然看着她问道：“你干嘛？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;章嫦香答道：“你身上的气味好闻，还有芊芊的味道，我快被那个人的气味臭晕了，我得用你们的气味盖住他的气味。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子恍然，拉着她躲到背影里，说道：“有些事不能当着人做……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“怎么了？”章嫦香不解地看着他，说道：“我又没亲你，又没摸你，有什么不能当着人做的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子解释道：“因为你这个样子很怪异，异于常人的行为都是不好的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;章嫦香皱眉，又凑到他颈边吸了两下鼻子，然后背过身去不理山伢子了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子也不再说话，因为霍晓荧警告过他，不要对章嫦香表示出关心和热情，对章嫦香的态度，要像对尚亚坤一样，只是朋友的朋友，就是认识而已。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;过了一会儿，霍晓荧出来了，说道：“三零一三房间，登记的名字是莫思哲。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子的脸色沉了下来，霍晓荧说道：“我给咱妈打电话。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不用！”山伢子生气了，给脸不要脸的玩意儿，还他妈没完了！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“你去把楼里的监控关上。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧迟疑了一下，转身进去，过了一会儿出来，说道：“关上了，服务员和保安也放倒了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子沉着脸上台阶，章嫦香小心翼翼地问霍晓荧：“他要干嘛？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧答道：“干架。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;到了三零一三房门前，山伢子使劲儿捶了两下门，等了一会儿门才拉开，莫思哲在前，荆少华在后，都是穿着裤头儿光着膀子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子骂道：“傻x玩意儿，没完了是吧？你们是不是作死呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫思哲回骂道：“你才傻x玩意儿！你有毛病啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一脚踹过去，莫思哲惨叫一声撞倒了荆少华，荆少华喊道：“你他妈有病啊！大晚上的跑来打人，你脑子让开水烫了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子照他脸上踹了一脚，荆少华喷出一片血雾，双手捂着脸平躺在地上，半晌才嚎叫起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫思哲捂着肚子咬着牙，瞪着山伢子，山伢子上去又一脚踢在莫思哲肚子上，将他踢得飞出去，后背撞在了床角上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊……”莫思哲惨叫，骂道：“我x你妈呀……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子跟过去一通踢，直到莫思哲除了喘气儿之外，发不出任何声音为止，才喘着粗气说道：“我告诉你，再敢找事儿，我就弄死你！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;回家的路上，章嫦香躲在霍晓荧的另一边，山伢子打人时的气息吓着她了，本来她以为山伢子虽然法力高，但是个很温柔的人，可没有想到，山伢子还有暴虐的一面。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧也没有给章嫦香解释，害怕山伢子并不是坏事，这样反倒会促进章嫦香转移目标，不再对古芊芊抱有幻想。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;回到饭店，山伢子把情况跟徐四说了，徐四皱着眉头问道：“你们怎么能确定是他们干的？”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>