<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第401章：投鼠忌器</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第401章：投鼠忌器
</div>
<div class="bookname">
	<h1>第401章：投鼠忌器</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;&quot;第401章：投鼠忌器<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“找到了！”古木苍站起来，走进书房，在一排书柜上摸索。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“起开。”韩慕灵拉开他，一掌打向书柜。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;‘嘭’的一声，书柜和书柜上面的书四散纷飞，露出了隐藏的暗门。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵又一掌打在门上，门也应声而碎，秘室里响起空旷的回音。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵微一皱眉，古木苍说道：“地下室挺大的，而且很空，只有一个架子、一套沙发和一张茶几。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵问道：“郝清风呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍答道：“在沙发上躺着，不知道是睡了还是晕了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;下到地下室，看到架子上摆着四个魂**，韩慕灵问道：“这些**子是他的吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍答道：“不知道，没见他用过魂**。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵拿起一个，撕开**口的封符，等了片刻，问古木苍：“里面有鬼吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍拿过魂**，说道：“把所有**子的封印都拿掉。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;然后右手掐诀，一个一个的试。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;四个魂**，有一只鬼，是个中年男子，犹如惊弓之鸟，眼神闪烁着全身发抖。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍说道：“你别害怕，你为什么被抓？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;鬼答道：“我就是在路上走，然后就被抓了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵问道：“什么时候被抓的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;鬼想了一下，答道：“没一会儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵走到沙发边，甩手扇了郝清风一个大嘴巴。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;‘啪’的一声脆响，郝清风猛然醒过来，瞪着眼珠子看着韩慕灵，片刻后皱眉闭眼，抬手捂住了脸。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵厉声问道：“你为什么晕了？你抓鬼干什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郝清风睁开眼睛，看了古木苍一眼，然后冲着韩慕灵吼道：“你管得着吗！我又不是你老公！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵厉声说道：“晓荧半个小时前被人抓了，是不是你干的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郝清风愣住，但只是一瞬，立刻醒过神儿来，嚷道：“我没事儿抓她干什么？我也得抓得了她呀！你们家人都那么牛，我惹得起吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵抓过一个魂**，举到郝清风眼前问道：“这东西哪儿来的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郝清风眼神一滞，随即嚷道：“你管得着……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;‘啪’的一声，不等郝清风的话说完，韩慕灵又狠扇了他一个嘴巴，尖声嚷道：“我女儿丢了！我没心情跟你废话！问你什么说什么，惹急了我，弄死你！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郝清风被打得眼冒金星，耳朵发鸣，不等他缓过劲儿来，韩慕灵又尖声问道：“这东西哪儿来的？说！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郝清风低着头，捂着脸答道：“我家的，祖传的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵说道：“认识你这么多年，从来没见你用过魂**，你向来是能斩灭就斩灭，偶尔发善心也是打落黄泉，你哪儿来的魂**？说！是不是黑衣人给你的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郝清风抬起头，瞪着韩慕灵大声说道：“我家祖传的！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵眼中凶光毕露，抬起右掌，手臂曲回。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍赶紧拉住她，哄道：“宝贝儿，咱不生气，晓荧不在这儿，咱们赶紧找晓荧去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;‘啪’的一声，韩慕灵将手中的魂**摔得粉碎，瞪着郝清风斥道：“这事儿不算完！等我找着我女儿再跟你算账！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子把摩托车开到时速一百一十公里，不敢再快了，因为他怕没找到晓荧，自己先出车祸，那就什么都完了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;保持这个速度，五分多钟就到了洪拓说的那个路口，降低速度又开了一会儿，就看到了洪拓和黑衣人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子停车熄火儿，拔了钥匙摘下头盔，朝洪拓跑过去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人大声说道：“霍晓荧装在魂**里，不想她灰飞烟灭，你就乖乖听话！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子停在洪拓身边，问道：“你想干啥？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人说道：“把火行石给我。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“先把晓荧放了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人抬起左手，将魂**举在胸前，然后用右手食指把**口的封符往里按了一下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子惊叫道：“住手！我弄死你！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人厉声斥道：“把火行石给我！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子咬紧了牙关，抬起手握住了火行石。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓提醒他：“你要是把火行石给了他，他不放晓荧怎么办？到时候你连报仇的能力都没有了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人斥道：“少废话！是不是想让你媳妇儿灰飞烟灭？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子突然觉得哪儿不对，脑中灵光一现，问道：“你是谁？你说话的声音为什么不是沙哑的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人冷哼一声，说道：“你打坏了我的肉身，我只能换一副躯壳。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，原来是这样，想了想说道：“我给你之后呐？我只要不死，我就是宿主，你是想先拿走火行石，然后再让我自杀吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人嗤笑一声，说道：“你身边美女如云，不会为了一个霍晓荧就自杀的，你放心，用不着你死，我有办法解除火行石的寄宿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“你先放了晓荧，我肯定把火行石给你，我一向说话算数。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人说道：“我也一向说话算数，你先把火行石丢过来，我要施法封住火行石。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，黑衣人又将手指放在**口上，说道：“你没得选，我动动手指就能将霍晓荧挤成飞灰，你就算有火行石也杀不了我，你已经试过一次了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子深呼吸，他无路可退了，黑衣人不是莫思哲之流，不是一次突袭就能干掉的，而且黑衣人说得没错，他上次全面爆发之后，也只是把黑衣人从肉身里打飞出去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于后来有没有伤着黑衣人，山伢子不知道，就算伤着了，现在应该也恢复了，这都两个月了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而且最重要的是，那种全面爆发的状态，并不是山伢子想要就能达到的，那需要刺激，生死关头的强烈刺激！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看洪拓，洪拓咬着牙抿紧了嘴唇，所谓投鼠忌器，他也没有把握抢到魂**，况且绝不能为了想保住火行石，就拿霍晓荧的命去赌。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子摘下项链，黑衣人立刻说道：“别往我身上扔！如果你敢往我身上扔，我立刻灭掉霍晓荧！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子控制不住地嚷道：“那你说咋整！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人说道：“丢在脚下，你们俩后退二十步。”&quot;
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>