<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第462章：要手机</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第462章：要手机
</div>
<div class="bookname">
	<h1>第462章：要手机</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第462章：要手机<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;和娟问道：“爸，你是不是病了？什么病啊？爸……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;和娟开始哽咽，和勇不耐烦地说道：“我没病，我跟你实话说了吧，我入了个会，叫省亲会，一年多了，我每个月能见你妈一次，可你妈已经两个月没来了，我得请关道长招一次你妈的魂，要五万块钱。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“什么！”和娟简直不敢相信自己的耳朵！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在和娟的记忆中，爸爸是个坚定的无神论者，还记得小时候她怕黑、怕鬼，爸爸很严厉地训斥她，告诉她这个世界上没有鬼神！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可现在爸爸居然这么说，这比去赌去嫖更难以令她相信。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;和娟气愤地问道：“爸，你碰上骗子了吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一句话，父女俩吵了起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧皱着眉头站在一旁看着，她想现身告诉和娟，鬼是存在的，但又怕这样做的后果，是更加坚定和勇卖房的决心，所以霍晓荧纠结了好一会儿，最终选择沉默。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吵架的结果当然是和娟落败，还挨了一嘴巴，哭着跑出了家门，而和勇一脸悲伤地坐在沙发上，双手抱着头哭了一阵，然后抄起茶几上的玻璃杯，狠狠地砸向电视。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧心里越发的搓火，姓关的利用别人的情感来敛财，太他妈不是东西了！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧又等了半个小时，估计和娟是不会回来了，而和勇也似乎没有出门的意思，霍晓荧就返回了饭店，把情况跟山伢子说了一下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子叹了口气，问霍晓荧：“我刚想起来一件事儿，来买烧纸的一共有三十四个人，你去那个省亲会，看见眼熟的人了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧眨了眨眼睛，说道：“没有……还真没有！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子沉默，这也是件怪事儿，这些人是怎么撮成堆儿的呐？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“我去找洪拓，让他去喊他以前的兄弟，明天那些人都来拿烧纸，一人盯一个。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，说道：“麻烦别人合适吗？洪拓都跟那些鬼脱离开了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“咱给钱呐，咱挣那么多冥币不也没地儿使嘛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子点头，说道：“行。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;又一天，龚钰丹下午两点半就来了饭店，说不敢在店里待着了，并且告诉霍晓荧，她要的X8手机送来了，邢宽正在用冥器袋焐呐。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧兴奋地拉着山伢子去了扎纸店，等了半个小时，山伢子把手机烧给她，霍晓荧满脸期待地试了一下，然后丢在地上狠踩了一脚，瞪着山伢子嗔道：“照这个样子给我做一台，马上！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好。”山伢子笑着答应，或许制作的过程中，材料也会吸收制作人的法力，或者是制作人的精神。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢宽说道：“你拿一个成品拆开，然后把材料焐十分钟，再重新糊好试试。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧接口说道：“对，快点儿！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子拿过一个手机拆开，霍晓荧又说道：“对了，这里面都没写手机号儿，用个屁呀！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”山伢子点头，拿出采血针扎了下左手无名指。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧又说道：“别写那么麻烦，就写111就行了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“这么简单，你就不怕有人拨错号打串了线？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢宽说道：“还是用你原来的手机号呗，省得还得挨个通知一遍。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“那不行，那不跟我现在的手机一个号了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢宽笑着说道：“这个要是能用，你还要那个旧的干嘛？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧答道：“那个手机是黄老的遗物，我即使不用也得留着。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”邢宽收了笑意，说道：“我不知道，是得留着。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;保险起见，山伢子把拆了的手机放在冥器袋里焐了半个小时，然后取出来仔细地粘好，再次烧给霍晓荧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“能用了！哈！哈！”霍晓荧举着手机跑了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子笑，邢宽说道：“接着拆吧，她回去一显摆，所有人都得找你换手机。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“呵呵……”山伢子笑，到货架上把手机都拿过来，说道：“你上得还挺多。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢宽说道：“我就怕能用，一个人换了，别人不都得换呐？又不是多金贵的东西，再说了，这种东西也不愁卖。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子点头，坐在柜台前面开始拆，邢宽用手碰了他一下，说道：“看外面。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子扭头，看到洪拓带着一群鬼走到了门口儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一愣，洪拓说道：“这是晓荧安排的，等着跟那些买烧纸的人，那个……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓迟疑了一下，说道：“他们都看见晓荧的手机了，他们说不要钱，要手机。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉说道：“这可不行！我做的手机能打通阳间的电话，这么多人……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“法师。”一个鬼打断了山伢子，说道：“您放心，我们不干坏事儿了，而且我们保证只是互相之间联系，绝对不会骚扰活人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子还是皱眉，洪拓也不好说什么，两边都是兄弟，他也挺为难的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢宽轻声说道：“疑人不用，用人不疑，反正你要用他们，有个联系方式也挺好，总好过跑来跑去的，你定好规矩就行。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那个鬼赶紧说道：“这位法师说得对，石法师，您定规矩，我们都听您的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“对！都听您的！”所有的鬼都跟宣誓一样看着山伢子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子又想了想，说道：“我脑子慢，规矩得慢慢想，反正首先一条，不能骚扰活人，也不能给你们自己的亲人打电话。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那个鬼说道：“您放心吧，我们虽然没有手机，可到处都是电话，我们要想给活人打电话，也不一定非得有手机嘛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“倒也是。”山伢子点了点头，说道：“那行吧，我这里……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子数了一下，说道：“刨了我们家里人用的，还富余七个，今天就这么多，回头我再去上货，你们改天再来拿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;领头说话的鬼一脸兴奋地说道：“行！都听您的！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“你们先回饭店坐吧，想吃什么跟洪大哥说，账都算我的，等买烧纸的人来了，我再通知洪大哥叫你们过来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所有的鬼一起鞠躬，齐声说道：“谢谢大哥！”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>