<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第223章：名分</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第223章：名分
</div>
<div class="bookname">
	<h1>第223章：名分</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;&quot;第223章：名分<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;下半晌桃花儿回来以后，听说古芊芊奇穴被封，十分好奇，想给古芊芊诊下脉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这次山伢子没有拒绝。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿按上古芊芊的脉门，半晌后微微皱眉，喃喃说道：“原来这种脉象不是死绝之象，而是奇穴被封住了……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;没人问，都知道陈年老醋好，但陈年旧事……还是算了吧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿给古芊芊诊完了脉，就到院子里去坐着了，直到天擦黑儿，后爹从地里回来，桃花儿才又‘活’过来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是，桃花儿没有做饭，而是跟后爹说了一声儿，说是有事儿要办，然后就走了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊养了三天才好转，而桃花儿也走了三天，后爹虽然啥也不说，但每天从地里回来，就搬个小板凳儿坐在院子里抽烟，山伢子知道，后爹是在等桃花儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹偷偷摸摸地跟山伢子说：“你后爹不会是看上桃花儿了吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，桃花儿长得那么好看，看上了也正常，只不过岁数差得太多了，桃花儿虽然是百余年的鬼，可毕竟样子只有十六七岁，后爹应该不会有那个心思，只是担心桃花儿吧？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;又待了两天，桃花儿回来了，背着一箩筐草药，带着一贯的甜美微笑，进门儿就说道：“事儿办完了，耽误了几天，让你们担心了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;后爹笑得脸上的褶子都皱到了一起，说道：“回来就好，回来就好。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“爹，晚上我要跟小莹结冥婚。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹一愣，随即脸红，咋也没想到他抽冷子来了这么一句，还以为芊芊这一病，他都把结冥婚的事儿忘了呐。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;后爹也愣了一会儿，然后用惊愕的目光看古芊芊，古芊芊说道：“反正是冥婚。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;后爹立刻喜笑颜开地说道：“那好，那就好，结吧，结！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;然后又数落山伢子：“你说你这孩子，头两天儿芊芊病着，你咋不说给冲冲喜呐？非得等芊芊好了才提这事儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子没说话，后爹这个反应不大对头，上回张小莹走丢那次，山伢子因为着急，就把张小莹的事儿告诉了后爹，当时后爹吓得脸儿都白了，还问张小莹会不会吸山伢子的阳气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可这回山伢子说要跟张小莹结冥婚，后爹却这么高兴，或许张小莹的直觉是对的，后爹就是看上桃花儿了，没准儿也想结个冥婚啥的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿却一脸愕然地看着山伢子问道：“真娶呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子反问道：“咋了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿又看着古芊芊问道：“你是大户人家的小姐，当真愿意做小？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉，说道：“什么做小？我姐是鬼，算亡妻，反正是冥婚，又不上户口本儿，再说了，我跟他成不成还不一定呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子扭头看着古芊芊说道：“还不一定呐？我就差给你端屎端尿了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊咧嘴，斥道：“你给我把嘴闭上！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子嘿嘿一笑，抬手挠了挠头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿看着张小莹说道：“真羡慕你，死了还有人对你这么好。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹心里没底，怕勾起桃花儿的伤心事儿，百余年的鬼要是犯了病儿，那可是谁也挡不住，连忙说道：“没啥可羡慕的，他们俩是想让我给他们当一辈子老妈子。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿笑了笑，幽幽说道：“那也总算是嫁过了，有了个名分，不像我……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿没有把话说完，转身去收拾草药了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;后爹突然说道：“伢子，你不是有个师弟，叫小龙的，我还记得那年来时，他跟我聊天儿，说你跟小莹多好多好，他可羡慕了，当时我不知道小莹是谁，现在才知道，不行你给拉拉线儿，让小龙把桃花儿娶了呗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿愕然转身，说道：“李叔儿，你说啥呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;后爹说道：“桃花儿，虽然按岁数来说，我可能都得管你叫奶奶，可你毕竟是个十六七岁的大姑娘，我把你当闺女看待。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“要没有伢子跟小莹这事儿吧，我也就不提了，你自己也说，你孤苦伶仃的，没人疼没人爱，我是想给你找个归宿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿咬住了嘴唇儿，转过身去，抬手抹了下眼泪。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“潘小龙那人不靠谱儿，不能跟他。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;后爹看着古芊芊问道：“要不……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊张大了眼睛，赶紧抢着说道：“叔叔！我回头给桃花儿找合适的人，这事儿包在我身上！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”后爹脸上的笑意淡了下去，说道：“那行，那你就看着给找吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹也吓了一跳，很明显后爹是想让山伢子把桃花儿也娶了，还好古芊芊反应快，没让后爹把话说出来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿背着身没吭声儿，后爹又问山伢子：“咱要不要备酒席啊？你给小莹家下聘礼了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹说道：“不用了，临时决定的，焚了婚书就完事儿了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;后爹皱眉说道：“这孩子，那怎么成？一辈子的大事儿，哪能这么马虎。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子也不想亏着张小莹，说道：“那就备几桌儿席，请村儿里人来喝酒吧，聘礼就……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不行！”张小莹打断山伢子，说道：“芊芊也在，请来了人你咋跟人介绍芊芊？将来你娶芊芊又咋说？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊抿着嘴唇儿没说话，其实她也在想这个问题，只是她不好说这个话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子又挠头，后爹也皱着眉吧嗒吧嗒地抽烟，桃花儿背着身说道：“在村儿里就别请人了，先在家把婚结了，反正你们的朋友都在莫林市，等回了莫林市，让山伢子再办酒席，芊芊不参加就好了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“桃花儿你真聪明！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿回头笑了笑，又转回头接着收拾草药。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;后爹说道：“这行，那就这么着吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看张小莹，张小莹微笑着点头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;入夜，山伢子按东、南、西、北四个正方位摆了火盆儿，点着了烧纸分别投入四个火盆儿里，待火势渐旺，又把婚书跟张小莹的生辰投进正东的火盆儿里，随即大声说道：“拜启四值功曹、阴司神职，我，石庆山，今日愿娶亡魂张小莹为妻，结阴阳之缘，续未了之情……”&quot;
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>