<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第187章：探病</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第187章：探病
</div>
<div class="bookname">
	<h1>第187章：探病</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第187章：探病<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子这一回没有做梦，感觉就是睡了一觉，被嘈杂的说话声吵醒了，睁开眼睛，觉得浑身疼，仔细听了听，说话声在客厅，好像是潘小龙的声音。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子坐了起来，拿过手机看了看日期，又过了一天多了，猛然想起张小莹说要去投胎，立刻大声喊道：“小莹！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗳！”张小莹立刻答应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是等了一会儿，房门才推开，夏歆雨咬着嘴唇儿，一脸羞怯地被张小莹推着走进来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹笑着说道：“你醒了，歆雨来看你了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子愕然问道：“你自己来的？你养好了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨微笑着摇了下头，答道：“沐航和舒静陪我来的，我没事了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子要下地，张小莹抢着说道：“别下地，你坐着稳当会儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;然后又对夏歆雨说道：“帮我看着他，别让他下地，我那儿熬药呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哎？”夏歆雨有些手足无措，张小莹已经走出房间，关上了房门。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;关上房门以后，张小莹轻轻地叹了口气，本来以为夏歆雨不会再来了，毕竟也没什么太深的感情，父母不同意，年纪又小，隔上一段儿时间就淡忘了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可没想到，夏歆雨刚一出院，就以散心为借口，让沐航和舒静带她去了饭店，听说山伢子昏迷了，就直接来了家里。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然张小莹认准了古芊芊，可夏歆雨来都来了，总不能撵出去吧？而且一进门儿舒静就说，夏歆雨因为父母不让她跟山伢子联系，都得了轻度抑郁症儿了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这可真应了徐锦荣的话，缘分天注定，半点不由人，张小莹都不明白，山伢子也没干啥呀，当时所有的问题都是张小莹解决的，山伢子也没有像替古芊芊扛事儿那样做过什么，夏歆雨怎么就认定了山伢子呐？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;要不就是那一砖头，真把脑子给打坏了？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“张小莹，张小莹！”潘小龙冲着山伢子卧室门口儿喊，眼珠子乱转。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹显形出来，厉声斥问：“干啥？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙一脸官司地说道：“你来，我有话跟你说！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;进了厨房，潘小龙把门儿还关上了，瞪着张小莹小声儿怒斥道：“你想干啥？打算让我师兄三妻四妾啊？犯法你懂吗？只能娶一个！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹嗤了一声，说道：“跟你有啥关系？跟个苍蝇似的，见谁叮谁，癞蛤蟆想吃天鹅肉，你也不撒泡尿照照！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙怼道：“有镜子我撒尿干啥？你脑子是不是进水了？信不信我现在就给芊芊打电话？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你打呀！”张小莹嗤道：“你赶紧打，我谢谢你！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙拧着眉毛问道：“你啥意思啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹白了他一眼，说道：“情商低得跟二等残废一样，还拿自己当情圣呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙嚷道：“你给我说清楚！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“说啥清楚！”张小莹比他声音还大，但随即隐了形，用纤细的声音说道：“歆雨因为伢子得了抑郁症，芊芊还在生伢子的气，你是想让歆雨跳楼？还是想让芊芊一怒之下再也不理伢子了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙一愣，问道：“芊芊为啥生师兄的气？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹说道：“你管不着芊芊为啥生气，我告诉你，缘分天注定，不是你想要就能有的，你要是敢瞎掺和，我不介意为了伢子损阴德！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙一惊，下意识地捂住自己的脖子，问道：“咋的呀？你还真掐死我啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹阴冷地说道：“你可以试试！反正我是鬼，无论是灰飞烟灭，还是转世投胎，对于现在的我来说，都是没有未来，伢子就是我的命！滚出去！我还得熬药呐！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙皱着眉头说道：“那师兄也不能娶两个吧？法律也不允许啊？除非移民到法律允许一夫多妻的国家去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹说道：“这些事儿用不着你操心！你想找女朋友，还不如让舒静给你介绍一个，别总盯着伢子的女人转。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙撇着嘴嗤了一声，说道：“八字还都没一撇儿呐，还他的女人，跟哪个成事儿了？也就跟你成事儿了吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;‘啪’的一声脆响，潘小龙结结实实地挨了一个大嘴巴，刚一捂脸，肚子上又挨了一拳，刚一弯腰，后背上又挨了一肘，刚跪下，肩膀上又挨了一脚。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙倒在地上喊道：“停！不带这么盲打的，你太赖皮了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卧室里，夏歆雨坐在床边上，侧对着山伢子，低着头，嘴边带着羞涩的浅笑。因为舒静告诉她了，把她写的诗抄给了山伢子，所以她不敢看山伢子，却又不舍得离开。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子也是极其尴尬，不明白张小莹是啥意思，又是古芊芊又是夏歆雨，这是要弄啥呀？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;别说他心里只有张小莹，就算他想活分活分，也不能扒着这个占着那个啊，哪有这样儿的？对谁都不好不是？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尴尬了好一会儿，山伢子先咳了一声，夏歆雨连忙转身看着他，关切地问道：“怎么了？要喝水吗？我给你倒水。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说着站起来四处找杯子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“不是，你别忙活，我不渴，那个……你……你总戴着帽子，伤口不会捂着吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨咬着嘴唇儿坐下，低着头答道：“头发都被剃掉了，还包着纱布。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子答应一声，没话了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;又沉默了一会儿，夏歆雨低声说道：“你别生气，我爸妈是担心我，但是他们不能永远管着我。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，说道：“其实你爸妈是真的为你好，跟我这种人来往多了，真的很危险。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨抬起头看着山伢子，目光哀怨，表情凄楚，嘴唇儿有些发颤，眼中起了一层水气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子抬手挠头，尴尬地解释道：“那个……我不会说话，我就是实话实说，我没别的意思，我就是说，你看你莫名其妙地被开了……嗯，被砖砸伤了头，都是我连累的……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“有证据吗？”夏歆雨打断了他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子愣住，眨了眨眼睛问道：“啥证据？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夏歆雨答道：“你说是你连累了我，有什么证据可以证明？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;，更多精彩阅读，等你来发现哦。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;手机站:
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>