<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第805章：逃跑</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第805章：逃跑
</div>
<div class="bookname">
	<h1>第805章：逃跑</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第805章：逃跑(第1/1页) <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;第805章：逃跑 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴愕然问道：“你们是在说御剑飞行吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊没工夫理她，现在是无名真君魂力跳脱之时，问道：“晓荧姐想要转生，可有万全之策？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子微一皱眉，眼中的红光褪去，眨巴了两下问道：“你刚才说啥？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊叹了口气，微笑着答道：“没事儿。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;看来他的魂力不能思考，一思考就会减弱强度，然后就收回去了，算了，慢慢来吧。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴走过去伸手扒着山伢子的眼皮看，山伢子问她：“你干嘛？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴不答话，看了一会儿，然后突然扇了他后脑勺一下，打得山伢子猛一点头，斥道：“干嘛？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴嘟了下嘴，古芊芊笑着说道：“肯定不行，晓荧姐打过他多少回了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子捂着后脑说道：“我记得刚才的事儿，但是现在就搞不清楚应该怎么弄了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴对古芊芊说道：“你打他。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊摇头，说道：“没用的，他这种情况虽然是应激反应，但自己人打他没用，因为他很清楚，自己人不会打死他，连伤着他都不会，所以根本不会起作用。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴又嘟了嘟嘴，问道：“刚才他说不问因果，什么意思？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“不问因果就是不想把事态扩大，但那是他以前厉害的时候，现在不行，我会让素隐门把欧阳家的人都找出来，至少也得废了他们的法力。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴问道：“为什么不用妖族？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“妖族不熟悉都市，还是素隐门合适。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴说道：“两百多年了，还有多少人是真心效忠你的？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊沉默，卿琴又说道：“有些事不足为外人道，尤其现代社会有诸多掣肘的问题，还是用妖族好，慢慢找呗，总能找出来。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊点了点头，卿琴说得也对，她要做的事在现代社会中属于违法行为，一旦素隐门出了问题，他们就会陷入更麻烦的处境中。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“早知道当初就应该答应欧阳垣，让他们家的人来无名观。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“没用的，他是不会让所有人都来无名观的，跟现在没多大区别，多找一个少找一个，只是时间上的差别。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子回头看了一眼那堆白灰，拍出一掌，掌风将白灰吹得漫天飞扬。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳垣就在大同镇，这就是所谓的‘灯下黑’，离得越近，反倒越安全，而且这么一个偏僻的小镇，没有人认识他们。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳垣等了七天，钟岭秀的尸体发臭了，他才意识到钟岭秀可能已经死了！ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;因为钟岭秀用替身的时候，他的肉身处于假死状态，所以欧阳垣也没在意，更不会天天检查他的肉身。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;解开钟岭秀的衣服，看到尸癍的那一刻，欧阳垣慌了，但是短暂的慌乱之后，欧阳垣迅速镇定下来，钟岭秀死了肯定有几天了，如果钟岭秀说出了他藏身的地方，山伢子等人应该早就找来了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;入夜后，欧阳垣处理了钟岭秀的尸体，甚至都没有让家里其他人尝试招一下魂，就连夜离开了大同镇。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳垣心里很清楚，即使钟岭秀没有出卖他，古芊芊也会派人找他和他的家人，往轻了说，会把他们家人的法力都废掉，往重了说，他们会死得连魂都不剩！ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他现在只能是赶紧逃离，逃得越远越好，因为他手里没有任何筹码，根本就无法与无名观对抗。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;开车走了一个多小时，欧阳埆说道：“大哥，有辆车一直跟着咱们。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳垣回头看了一眼，他的车是最后一辆，后面的确有一辆车跟着。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳垣拿起对讲机说道：“小壛，靠边停车。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;头车是欧阳埆的儿子在开，听到对讲后减速靠边，而跟在后面的那辆车也靠边停下了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳垣开门要下车，欧阳埆也开门，欧阳垣说道：“你别动，我自己去就行了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳埆微一皱眉，说道：“大哥……” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳垣说道：“没事儿，虽然我没了法力，但还有武功，况且他跟着咱们，应该不是想杀咱们，否则早就下手了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;后面的车也下来一个人，看上去三十多岁，穿着一套单薄的西装，梳着偏分，瓜子脸，浓眉大眼，个子比欧阳垣高半头，身材偏廋。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳垣走到他近前，看着他问道：“兄弟跟着我们，有什么事儿吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那人微笑着答道：“给你一个选择的机会，是这样亡命天涯，还是重投师门，铲除无名观。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;时间过得很快，一转眼又入了夏，这几个月的时间里，妖族始终没有找到欧阳家的下落，好像欧阳家人间蒸发了一样，不过也没再出过什么事。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘江镇的鬼开始多了起来，本身这里就是汇阴地，江溟不再吃鬼以后，周围的孤魂野鬼都向这里聚集，深夜鬼食堂开始天天客满，正如之前预料的一样，从晚上十一点开始就要排队等位，有吃不着的还要拿号，第二天再来吃。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴问古芊芊：“赔多少？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“没算，爱赔多少赔多少。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴说道：“我都看了，有好几个鬼天天来吃，也不怕撑死！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊笑，说她：“好歹是一族的大祭司，瞧你那抠门儿样子。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“屁话。”卿琴嗔道：“凭什么白喂他们？有这么积功德的吗？那要这么说，还不如去救济穷人呐。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“跟你说不通，你别管了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴戳她脑门儿，斥道：“败家玩意儿！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉，说道：“那你跟他们要什么？还像四叔那样，要冥币？有意义吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴说道：“跟他们要钱呐，让他们去捡钱呐，这个世上丢钱的人那么多，让他们去捡不就行了？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊严肃地说道：“不行，那不但积不上功德，还会损阴德。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴愕然问道：“为什么？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“钱财属水，属阴，拿了你不该拿的钱财，就会阴气过重，还会招来怨气，你不会连这个都不懂吧？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴说道：“这个我当然懂，但那不是说盗抢之事吗？这是捡呐。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;阅读网址：m.
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>