<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第663章：煞气重</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第663章：煞气重
</div>
<div class="bookname">
	<h1>第663章：煞气重</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第663章：煞气重<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容一开口说话，山伢子就闻到一股浓重的香气，忍不住回头看古芊芊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊坐起来问道：“香气重吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“重。”山伢子点头答应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“那你还愣着干什么？香气越重越危险，快吸过来！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，转回身俯下身，嘴对上嘴。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容愕然张大了眼睛，感觉他在吸，而自己身体里有一股气息延着身体中线上升，胃疼的感觉立刻减轻了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧拿出手机打字：什么情况？你故意的？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊也拿出手机打字：药娘也可以当炼器用，夫君用法力烹制的食物，经过药娘的胃炼制，会转化为助修法力的能量。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧瞪圆了眼睛，打字：天呐！这么神奇？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊点头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子保持着嘴对嘴的姿势，花梦容开始不安分，用舌头找山伢子的舌头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子直起身，皱着眉头瞪她。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容梗着脖子用嘴型说：是你欺负我。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子回头看古芊芊，古芊芊说道：“看我干嘛？接着吸，直到她口中的香气消失。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧上了古芊芊的床，用手机打字：我能吸吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊打字：不行，除了夫君谁都不行，因为这也是一种阴阳调和的方式。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧打字：真的？没骗人？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉看她，安婧打字：我保留意见。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容回过味儿来，坐起来问道：“师母，为什么我吃撑了，嘴里会有这么重的香气？为什么要师父嘴对嘴地吸？为什么你们凑在一起用手机打字？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“首先，没人逼你，是你自己吃撑的。其次，你师父做的食物含有法力，你转化之后吸收不了，所以就变成了多余的能量。再者，只有你师父才能吸收你转化的这种能量。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容微微皱眉，目光转回山伢子脸上，突然不好意思起来，抿着嘴唇别开头，但胃里又开始疼，想忍又忍不住，不自觉地捂着肚子开始哼哼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子连忙捧住她的脸，嘴对上嘴，熟练地用舌头撬开她的牙齿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧打字：他是吸呐，还是亲呐？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧打字：有区别吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊打字：睡觉吧，梦容吃得太多，且吸不完呐。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧要下床，古芊芊拉住她，说道：“就在这儿睡吧，把帘子拉上。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容斜着眼睛看到床帘拉上，便搂住了山伢子的脖子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子推开她，轻声斥道：“我是你师父！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“去你妹的师父。”花梦容吻上山伢子的嘴唇，紧紧地贴在他怀里。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;第二天，贺兰图还说不急着看病，古芊芊严肃地说道：“贺兰族长，我还有极其重要的事要办，如果你不急，那我们可就要走了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰图这才让人抱来一个孩子，未到近前，古芊芊就感应到了极重的煞气，除了花梦容之外，所有人都凑了过来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孩子两岁半，右手握着小拳头搥在嘴边不停地啃着，长得特别可爱，但是一双眼眸却深邃阴冷。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊对安婧说道：入魂看看。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧皱眉答道：这么小，不会伤着吧？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊问道：你有没有感应到极重的煞气？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧答道：感应到了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：那你还犹豫什么？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧答道：不是啊，这个村子的人对你这么敬重，万一伤着这个孩子，对你的声名会有很大的影响。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊微微皱眉，伸手把孩子接了过来，安婧说得对，万一伤着孩子，即使村里的人不敢把他们怎么样，但心里肯定也会怨怼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;最简单的方法莫过于把孩子的右手打开，然后皆大欢喜地离开，至于以后这个村子是有天灾还是人祸，都跟他们没关系。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉说道：“这孩子身上……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你闭嘴！”霍晓荧连忙打断他，说道：“芊芊是这些村民心目中的神女，如果你说这孩子身上有煞气，是恶种，就会有两种可能，一种是他们不相信，这倒还好说，另一种是他们相信，把这个孩子扔掉甚至是杀掉，但不论是哪种可能，芊芊几百年的名声就毁了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧同时对山伢子和古芊芊说道：人都是喜欢听好话的，道家的沦落也不完全是神棍的错，世人都是趋吉避凶，那算命的自然都要捡好听的说，否则赚不到钱是小事，搞不好还会挨顿打，咱们虽有心渡世救人，奈何人心似渊，神仙难测。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰图盯着山伢子问道：“神仙老爷，这孩子身上有什么问题吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊……”山伢子迟疑了一下，说道：“我是说，这孩子身上好像有点儿发青，是不是冻着了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊想起当年，在她下山之前，无名曾特意叮嘱过这样的话：“世途险恶，人心诡诈，你此次下山要牢记一点，世人喜吉恶凶，你若遇上事，切不可凭一己意气用事，须得体察人心，顺从人意。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊还记得当时自己发问：“若如此，何分善恶？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;无名答道：“善恶本在人心，所谓天下本无事，庸人自扰之，你既然是入世修炼，就要顺从人心，顺从了人心，便是顺从了善恶。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说实话，辗转七百年，古芊芊还是想不通这个道理，但今天看到这个孩子，听了霍晓荧和安婧的话，古芊芊突然醍醐灌顶，原来这就是人心。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊面带微笑地逗弄了两下孩子，然后握住他的小拳头，一团紫气包裹住她的手。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;过了一会儿，古芊芊松开手，孩子的小手已经张开，古芊芊捏着她的小手翻过来，看到掌心上有一块黄豆大小，颜色深黑的记。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰图兴奋地说道：“好了好了！神女姐姐手到病除！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊将孩子交给抱她来的女人，对贺兰图说道：“这个孩子掌心有记，来日之事不可测，你要叮嘱家人悉心照顾，切记不可骄纵。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是是是。”贺兰图拱着手连声答应，脸上笑开了花。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;又留了一天，花梦容还是死吃，山伢子说她：“还吃？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容笑眯眯地轻声答道：“吃多了你才会亲我嘛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子单独问古芊芊：“梦容这么吃没事儿吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊微笑着答道：“放心吧，她是药娘。”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>