<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第269章：人为殍地</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第269章：人为殍地
</div>
<div class="bookname">
	<h1>第269章：人为殍地</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第269章：人为殍地<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓让山伢子先出来，山伢子给洪拓看了手机里的照片，洪拓说道：“这是降灵阵，召唤魔鬼的邪恶法阵，外国人把一切不好的灵都叫魔鬼，这种灵相当于咱们这儿通常说的恶鬼，本事不大，就是坏。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓琢磨了一会儿，又说道：“但是这种阵起不到聚阴的效果，我不是很理解为什么要用三个人，献祭的话，一个人就足够了，而且用这种降灵阵召唤恶鬼，会消耗很多自身的能量，根本不需要布三个阵，一方面是没有意义，另一方面，召唤者也受不了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“别上课，直接说正经的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓皱眉，他没上课啊，说得就是正经的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧问道：“现在咋办？这间房现在只看到一个骷髅头，没有图案，是不是还得回去查？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓点头答道：“那是肯定要回去查的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧掉着脸又问道：“你能想出什么需要特别注意的事情吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓明白了，他刚才说的都是有关上一个房子的事情，那个房子已经解决了，说那些没意义，而眼下这个房子，只在门口儿看了一眼，他就让霍晓荧把山伢子给叫了出来，而他又没说出什么有用的建议，所以霍晓荧发烦了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“就算你是木行，也不用这么急躁吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧皱眉，洪拓又说道：“对于未知的危险，只能从以往的经历来分析判断，就算没有意义，多了解一些，对于临场应变也是有帮助的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧翻白眼儿，说道：“我知道，事不关己的时候当然可以踏踏实实的分析，现在不是要救上官荷吗？对了，能不能把上官荷先拉出来，然后你再细致地分析？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓皱眉，这丫头说话怎么总带刺儿？答道：“不行，刚才我试过了，我切断了那只鬼跟聚阴池的联系，他就浑身抽搐，说明他自身的能量被聚阴池吸引着，强行断开会有损伤。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“我还是回去先看清楚，然后再说。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓皱眉犹豫，说道：“我建议你把徐先生叫来，好歹有个人搭把手儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“行。”山伢子答应，立刻给徐四打了电话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四打了个车，很快赶了过来，跟山伢子一起上了楼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一进门儿，徐四就哆嗦了一下，山伢子问他：“师父你咋了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四答道：“我觉得冷，这里的阴气太重，这是我平生头一次遇到这么重的阴气，确定是外国的玩意儿吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“会是咱们的东西吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四摇头，答道：“不好说，先看看吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;师徒俩拎着铜钱剑把整个房子检查了一遍，没有任何图案。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;别说山伢子，徐四都有点儿发傻，房子里啥都没有，怎么会成了聚阴池呐？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四的目光落到骷髅头上，难道仅仅是一个骷髅头就能形成聚阴池？这也太不靠谱儿了吧？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子有些后悔当初一时冲动灭掉了赵美蓉，如果按照原来的计划，将赵美蓉打落黄泉，那至少现在还能招魂问问情况。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;与人方便自己方便，这句话的含义，山伢子有了深切的体会，而且反省自己，做事太不谨慎，只破了一个邪阵，剩下的两个还没查，就把赵美蓉灭掉了，而灭掉之后也没有再查另外两个受害人的住处。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四琢磨了一会儿，说道：“窗户还没看。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”山伢子答应，所有的屋子都拉着帘子，他们也没敢动，所以没看到窗户，可要是窗户上有图案的话，在外面就应该能看到才对，况且那不就见光了吗？要是见光的话，还拉着窗帘儿干啥使啊？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子走向客厅的窗帘儿，刚走到近前，就感觉到一股热气，山伢子退了一步，说道：“师父，这边儿有热气。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四走了过来，伸手将窗帘卷过来一点儿，一道刺眼的光突然闪现，晃得师徒俩都是下意识地偏了下头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四赶紧松了手，光消失了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子反应过来，说道：“好像是手电筒的反光。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”徐四说道：“别用手机照着。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子把手机朝下，徐四又把窗帘儿翻过来，看到窗帘儿的背面贴着锡纸。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四恍然明白了其中的道理，这是人为造成的聚阴池，说道：“去看看两个卧室的窗帘儿，是不是都贴着锡纸。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗳。”山伢子答应一声，到两个卧室看了一眼，回来说道：“都贴着锡纸。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四告诉山伢子，这其实不是什么阵法，只是一个人为的‘殍地’。在窗帘儿背面贴上锡纸，把所有的光都反射出去，整个房间就会处在一个相对纯阴的环境下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而这个相对纯阴的环境里还放着一个骷髅头，就相当于是把尸骨葬在阴地一样，时间久了，自然就会形成聚阴的效果。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;解决办法也很简单，把窗帘儿都拉开，让月光和阳光晒进来，晒上三五天，阴气自然就散了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一边儿拉窗帘儿一边儿问道：“师父，赵美蓉弄个殍地干啥？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四答道：“不一定能她弄的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果说卢自强的房子是赵美蓉布置的，倒还说得过去，可能是她要召唤恶灵，但这个殍地，就完全说不通了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵美蓉毕竟也是鬼，做这样一个殍地，对她没有半点好处，况且她虽然是厉阴，但绝不可能厉害到能用殍地修炼的地步，连洪拓这种生前学过法术，入了鬼道的鬼都害怕殍地，更不要说赵美蓉那种只有大半年的阴魂。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以徐四要重新琢磨整件事，首先，赵美蓉到底是怎么死的？其次，被她害死的三个人到底是什么人？再有，不管是降灵阵，还是这个殍地，到底是谁布置的？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;下了楼，看到围着楼转的那些鬼都在原地打转儿，钟离愁在不远处对着一个女鬼说话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四跟山伢子走过去，钟离愁问道：“咋回事儿啊？整完没？她咋还不理我呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四把房子的情况给他讲了一遍，然后说道：“得缓两天。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁问道：“帮我把小荷带走行不？”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>