<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第686章：解决</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第686章：解决
</div>
<div class="bookname">
	<h1>第686章：解决</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第686章：解决<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;‘轰’的一声巨响，整个寨门被震成了碎片，山伢子也被巨大的气浪推了半空。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;以大魔王为心，直径近十米的地面陷成了一个圆坑，被震起的土块和寨门化作的木条，都凝结成半人粗的尖刺，骤然射向山伢子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊！”所有的女人同声尖叫，古芊芊纵身而起，飞扑向山伢子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;几十名弓箭手同时发箭，射向那些尖刺，但并不能破坏尖刺的形态。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子抱住了古芊芊，两人同时发放外气，紫气与五彩光芒相融合，所有的尖刺在触碰到两人身体周围的外气时，化为乌有。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗷……”大魔王吼叫着挥拳向两人打来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“眼睛。”山伢子低声说了一句，然后猛然将古芊芊推向空，而自己靠着反作用力坠回地面。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊在空翻了个身，靠着旋转的动力，俯冲向大魔王，秋霜剑亮着寒芒，刺向大魔王的左眼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;大魔王伸手迎着秋霜剑抓向古芊芊，他并不害怕手掌被刺穿，只要能抓到古芊芊，胜负定了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;然而他忽略了山伢子，因为他不知道山伢子还有一招绝技，是以气化形。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子落地后蹲下身，本来他大魔王矮两个人的高度，再一蹲下，更不显眼了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在古芊芊冲向大魔王时，山伢子手脚着地，用动物奔跑的方式蹿向大魔王脚下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一团亮白的光在山伢子的右手展开，化作一个圆片，斩向大魔王的右腿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊一剑刺大魔王的手掌，随即撒手，借力再次跃起，躲过大魔王的抓扑，举起右手喊道：“羽箭！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一名弓箭手拉弓放箭，射向古芊芊的手边，古芊芊一把握住，此时大魔王的右腿被山伢子斩断，狂吼着向右侧歪倒，古芊芊奋力将羽箭投向大魔王的左眼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;‘噗’的一声，羽箭贯入了大魔王的左眼，血光飞溅，大魔王摔倒在地，抬起左手握住了箭杆。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子出现在大魔王脑袋左侧，正是他的视线盲区，手化出砍刀，猛然劈落。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊！”大魔王看到刀锋时已经来不及躲闪了，脑袋齐着眉毛被斩开。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊俯冲下来，站在大魔王肚子，伸手将妖丹吸了出来，然后纵身回跃，大声喊道：“灵信！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;灵信倏然冲到古芊芊身侧，古芊芊将妖丹丢给它，灵信一口吞了下去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至此，大魔王的左手才松开，落回地，山伢子又举刀朝他脖子砍落，将整个脑袋切了下来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊挥手说道：“去，咬碎了吃掉！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;灵信冲来一口咬断了大魔王的腰，再一口咬断大魔王的胸，然后再把剩下的都吞进肚子里。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子手里的刀消失了，指了下大魔王那班手下，对灵信说道：“都是你的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;灵信倏然冲了过去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊……”直到此时，大魔王的手下才醒过味儿来，喊叫着逃蹿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不知道谁喊了一声大王，然后所有的女妖们齐声欢呼：“大王！大王！大王……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子脸有点儿发烧，卿琴扭着纤腰走过来，伸出手搭在山伢子肩头，媚眼如丝地说道：“啊哟~小哥哥，你可是一战成名，把我的风头都盖过去了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子推掉她的手，皱眉说道：“你庄重点儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴媚笑着问道：“我庄重点儿，你娶我啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子扭脸看着古芊芊问道：“你看着她调戏我？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊微笑着答道：“你是男人怕什么。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在女妖们的夹道簇拥下，一行人回到了卿琴的房子，坐下后山伢子问道：“大魔王解决了，咱们什么时候走？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴娇声说道：“急什么呀？在妖界一向是强者为尊，你如今一战成名，我寨数百名美女任你临幸，在此称王不好吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧等人愕然看着山伢子，山伢子皱眉说道：“还能说点儿正事儿吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊问卿琴：“姐姐，你做何打算？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴敛了笑意，收起玩闹的心思，幽幽一叹，说道：“我也不知道，我的法身被毁了……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴当年在寻找洞穴时，遇到了一个受重伤的男人，卿琴救了他，不为别的，只因为那个男人长得俊美非常。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;后来卿琴有了身孕，生下了古雅，这是卿琴转世八次，唯一生下的孩子，因为她太爱那个男人了，那个男人不仅相貌俊美，而且温柔体贴。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴不再花费时间去寻找洞穴，她觉得时间紧迫，她要待在那个男人身边，培养他们的孩子，享受做一个真正的女人的乐趣和幸福。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;千百年来，她坐在高高的神坛，掌控着乌拉族的秘术，从不知道，也没有人告诉她，做一个真正的女人，要付出什么样的代价。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她用剩下的十几年时间，为那个男人驻颜、延寿，悉心教导古雅。这是第一次，她没有藏私，也是唯一的一次。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在她坐进八角棺的时候，她握着那个男人的手，深情地对他说：“等我，我要与你生生世世在一起。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;十年之后，族长带着人来烧她的法身，她狂怒之下要将所有人杀死，可她却看到了那个男人和她女儿冰冷的目光。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古雅已经成了乌拉族的大祭司，加四大长老和五方祭司，卿琴败了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她不明白，她问那个男人，这是为什么？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人告诉她，这一切都是四大长老安排的，包括他们的女儿古雅，也是四大长老选定的人转生，为的是替换她这个大祭司，因为她当大祭司太久了，也太跋扈了，族人都已经对她积怨日深了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所有人都沉默地看着她，卿琴又露出魅惑众生的笑容，说道：“瞧你们那是什么眼神，我不用你们可怜我，这是我的劫数。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊问道：“那你的法身没有了，还能转生吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴嘟了嘟嘴，答道：“能是能，不知道会转成什么样子，万一转成个丑八怪，那还不如不转生。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧皱眉问道：“你的秘术不是可以容貌不改吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴看着她说道：“傻妹妹，容貌不改而已，你看看她。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴指了下古芊芊，说道：“胸小了，腰粗了，手也长难看了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;/bk
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>