<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第770章：回家</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第770章：回家
</div>
<div class="bookname">
	<h1>第770章：回家</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第770章：回家 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳埥满眼焦虑地看着古芊芊，问道：“我是不是办错事了？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊点了点头，告诉她，她妈妈的电话肯定被监听了，而她在电话里说出了自己的困惑，欧阳垣肯定会把她父母控制起来，逼着她回家去看情况。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是，只要欧阳埥回家，恐怕就再也出不来了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳埥问道：“我要不愿意，他们能把我怎么样？大不了我死给他们看。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说她：“你要是个普通人，你说这话我可以理解，你也不想想，梦容最开始被你催眠，后来又被她妈妈封了灵慧魄，你要是回去，欧阳垣有得是办法对付你，等你清醒过来，早就嫁作人妇，生米煮成熟饭了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳埥哭着说道：“那怎么办呀……” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“你先回房去吧，我跟伢子商量一下。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳埥张了张了嘴，但没有说话，站起来走了，直接去找花梦容，花梦容听完她的话，直接把卫星电话抢过来，给屈鉴铃打电话，所幸屈鉴铃没事。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容把欧阳埥的情况告诉了屈鉴铃，屈鉴铃沉默了一会儿，轻声说道：“你不要管，让伢子和芊芊拿主意，不管他们怎么决定，你都要站在他们那一边。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容一愣，说道：“可是……” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不要说话！”屈鉴铃低声打断她，说道：“我能听见哭声，是小埥吧？你不要说话，按我说的做就行了，我挂了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈鉴铃挂断了电话，花梦容皱紧了眉头，欧阳埥哭着问道：“姐，我怎么办呀？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容叹了口气，答道：“我也没主意，还是等伢子和芊芊姐商量完再说吧。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳埥突然反应过来，问道：“姐夫呐？你俩刚结婚，他怎么没跟你在一起？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容答道：“昨天晚上打麻将，婧婧赢了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳埥愣住，花梦容说道：“这是我们自己定的新规矩，你不要管了，他们商量好了就会通知你的，你现在着急也没用。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳埥又问道：“我是不是应该回去？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容又叹气，她这会儿已经琢磨明白了，妈妈不让她管，是因为这件事她管不了，得伢子和芊芊管。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而欧阳埥再怎么说都是欧阳家的人，管与不管，怎么管，都要听伢子和芊芊的，她自己就是个大麻烦，不能再给家里找别的麻烦。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容说道：“你让我怎么说？我说你应该回去，那你要是被人控制了，你将来肯定要恨我。我要说你不应该回去，万一姨和姨夫有什么闪失，你还是会恨我。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不是~”欧阳埥急得要爆炸了，使劲儿搓着双手说道：“我……我没主意了，我心里慌，慌得都哆嗦。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容说道：“我也慌啊，你说咱们能顶什么事儿？到头来不还是得让伢子和芊芊姐出面吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳埥又哭，边哭边说道：“你怎么那么好命啊……山上是个人就把你当宝贝，连那种会飞的小东西都极力奉承你，我怎么就这么倒霉呀……” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容搂着她沉默，这能比吗？她可是千年难得一遇的药娘啊。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊把欧阳埥的情况告诉了山伢子，问山伢子：“你说怎么办？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子眯着眼琢磨，欧阳垣挺会玩脑子，他可能早就意识到欧阳埥在无名观这么待着不是个事儿，所以一直隐忍，直到欧阳埥待不住了，想要有个说法，他才向欧阳埥的父母下手。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;现在的问题是他们没有名义替欧阳埥出头，他们倒是可以陪欧阳埥回家，看看她父母出了什么事儿，但欧阳垣有得是借口能说。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;比如说欧阳埥的父母出去办事了，或者干脆整个车祸，把欧阳埥的父母都弄成植物人，那欧阳埥咋办？留下还是不留下？ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不留下说不过去，留下的话，他们不可能一直陪着欧阳埥。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊问他：“想什么呐？说给我听听，咱俩商量。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子把自己的想法说了，古芊芊说道：“那就让她拜你为师。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子直接摇头，说道：“我教不了她个啥，而且我也不想收她做徒弟。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“那就拜我为师，我带着媚影和竹青陪她回去，如果她的父母出了意外，我就把她父母也接来无名观。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子沉默，古芊芊又说道：“你不能去，你去梦容就得跟着去，没准儿他们还设下埋伏想抢梦容呐。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“那怕啥？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“在京都，你敢跟他们打架？你当警察都是摆设啊？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“警察？”山伢子微微眯眼，说道：“你说他们会不会设个套儿，让警察干预进来，然后把你们跟欧阳埥分开？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“有这个可能，所以我才说你不能去，梦容必须留在无名观，而且惜音也得留下。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;顿了一下，古芊芊凑到他耳边轻声说道：“还得防着素茗。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，这内忧外患的，整得太他妈闹心了！ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“别琢磨了，就这么办吧，咱们既然答应了这件事，好歹得忙活忙活，不能干看着。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子点头说道：“行。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊去找欧阳埥，把商量的结果说了，欧阳埥急切地说道：“我愿意拜你为师，我想通了，从今往后，我跟欧阳家没关系！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊带着欧阳埥，用缩地成寸，一个小时就到了京都，先到了欧阳埥自己家，屋里没人，打电话还是关机，欧阳埥就领着古芊芊等人去找欧阳垣。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳垣很意外，仙茗山远在千里之外，除非是坐私人飞机，否则不可能回来得这么快！ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过欧阳垣表面上很镇定，说道：“我也不知道你父母去哪儿了，打从我有意向替你做媒，你妈妈就跟我翻脸了，我们有一个月没联系了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳埥怒斥道：“你就不怕遭报应吗！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳垣脸色一沉，训斥道：“你这孩子怎么说话呐？这是跟长辈说话的态度吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳埥尖叫道：“我知道是你干的？你把我爸妈还给我！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳垣冷声说道：“你要觉得是我干的，那你就去报警吧，我没闲工夫跟你掰扯！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;(本章完)
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>