<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第769章：得打主场</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第769章：得打主场
</div>
<div class="bookname">
	<h1>第769章：得打主场</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第769章：得打主场 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子冷声说道：“我没什么可问的，知道你是天道观的就足够了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;男人开始惨叫，山伢子这一次吸收的很慢，倒不是为了虐待对方，而是山伢子一直在琢磨这种功法，理论上这种功法就像吃饭一样，吃得太快太急，容易胃疼。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳埥吓傻了，她完全想不到山伢子会杀人，虽然山伢子杀了欧阳家两个人，但对于欧阳埥来说，没有亲眼见到，很难想像。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而且这一个来月的接触，欧阳埥真心觉得山伢子是好人，一个实诚又温和的人。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;然而就是这个人，在大年夜，当着她的面，用这种诡异的方式缓慢地杀了一个人。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吸收完，山伢子把男人的衣物和背包都拿到了大殿外，扔到了殿前三人粗、半人高的香炉里，加了一把火，将所有的东西都烧成了灰烬。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊走到他身边，轻声问道：“这就是妈嘱咐你的事？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子点头，答道：“斩草除根，永绝后患。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊迟疑了片刻，说道：“夫君，我不是说你这样做不对，但是我担心，待你魂力觉醒之后，你会觉得现在的做法有违修道的初衷。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子抱住她亲了一下，微笑着说道：“我知道你是替我着想，不过我想得很清楚，我是无名真君的时候，当然可以讲理讲面儿，因为我那时候牛X嘛，人家一听到我的名字就要敬我三分，就算不敬我三分，也得怕我三分。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“可我现在是什么？就是个山沟里走出来的土包子，我拿自己当根儿葱，谁他妈拿我蘸酱吃啊？所以我就得先下手为强，因为我输不起，更赔不起。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊哑然失笑，说道：“那你不应该杀他，应该让他回去报信儿才对。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子摇头，说道：“让他回去报信儿，天道观可能就不敢来了。你想啊，咱们有妖族和乌拉族，这么多人，天道观还敢来吗？他们不来，我就得成天惦记着，我累得慌，说真的，我都想带着妖族杀上浮云山，灭了天道观。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊笑，嗔道：“你这不还是得讲理讲面儿吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“那不一样，咱得打主场，只有打主场，咱们才能占着理，我灭得了一个天道观，可我惹不起全天下的道观，我不能上赶着把自己弄成众矢之的。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊笑出声儿来，问他：“这是你自己想的，还是妈教你的？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子笑着答道：“都有吧。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山精在大殿里叫唤：“这算不算我的功劳？能不能给我一滴灵血？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚影斥道：“闭嘴！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子拉着古芊芊走回来，媚影看着他，山伢子说道：“我之前说过了，报事与赏罚都归你管，你看着办就行了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚影眯眼一笑，山精又叫道：“美女大长老，给我一滴灵血吧。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚影说道：“十号山精就是因为与众不同才被吃掉，你就不怕你也被吃掉？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山精答道：“此一时彼一时，那时候没人知道观主神威，现在没人敢来仙茗山放肆了，给我一滴吧，我就想与众不同。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所有人都笑，除了欧阳埥。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚影从怀里掏出小瓷瓶，往山精身上滴了一滴灵血，山精满大殿乱飞乱叫了一通，变成了红的，然后飞到花梦容肩头叫道：“我可以亲近药娘了！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容笑，欧阳埥看着山精皱眉，问道：“姐，这是什么东西呀？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山精叫道：“你才是东西！会聊天儿吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳埥盯着它，花梦容笑着说道：“它叫灵魄，俗称山精，是山中灵气所化，会迷惑人。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”欧阳埥答应一声，收回目光，面无表情地坐着。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“练功吧。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容说道：“还练功啊？大过年的，休息两天吧。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊笑着问道：“那你想干什么？又没网络又没电视。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容说道：“闲聊天儿嘛。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧说她：“你怎么这么不爱修炼？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容说道：“太无聊了嘛，整天就是打坐，感觉像没活着一样。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“再忍忍吧，饭店已经盖好了，正在做装修，估计到三月份就能用了，我劝你还是趁着在无名观的时候勤修炼，毕竟这里的灵气要比山下充足得多。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容嘟嘴，不高兴地说道：“练吧练吧。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳埥站起身说道：“我回房了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳埥在来的第三天问过古芊芊，她能不能学无名观功法，古芊芊给出条件让她选择，要学无名观的功法，就要心向无名观，效忠观主，但是欧阳家现在明显是要另投山门。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳埥说考虑一下，但到今天她都没考虑好，说实话，她对欧阳家不仅是失望，甚至是觉得恶心，在这个自由的年代，居然想把她做为礼物去跟别人交换。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可是，她要为她的父母想。其实如果山伢子没有杀欧阳家的人，或许他们家就能因为这件事脱离欧阳家，成为真正的无名观弟子，可这种假设是没有用的。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;今天目睹了山伢子的行为，更增添了欧阳埥的恐惧，如果将来欧阳家跟无名观打起来，她的父母会站在哪一边？ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子肯定是不会手下留情的，如果是那样的话，那她现在待在无名观有什么意义？而且，待到什么时候是个头儿？她这样待在无名观，算个什么说法？ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳埥回到房里给妈妈打电话，把自己的困惑说了，妈妈沉默了一会儿，说道：“我去看看你吧。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;妈妈说完就把电话挂了，欧阳埥愣住，盯着电话琢磨了一会儿，猛然醒悟，难道妈妈的电话被监听了？ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一个来月，她天天给妈妈打电话，但每次都是问候，不牵扯别的问题，而今天她说了自己的困惑，妈妈只说了一句话，就把电话挂了，看来她还是把事情想简单了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;第二天中午，欧阳埥又给妈妈打电话，妈妈的手机关机了，又打爸爸的电话，也关机了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欧阳埥慌了，跑去找古芊芊，把打电话的事说了，古芊芊叹了口气，真是一点儿戒心都没有，怎么能在电话里说这些事呐？ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;(本章完)
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>