<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第21章：长桌宴</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第21章：长桌宴
</div>
<div class="bookname">
	<h1>第21章：长桌宴</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第21章：长桌宴<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子刷完了碗，赶紧又跑出来，但是张小莹已经走了，山伢子有点儿失望，沉默着收拾了桌子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“她还会再来的，日子长着呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一脸尴尬地端着空碗进后厨了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;转眼到了三十儿，睡醒之后，徐四就在后厨忙活，一道接一道的做菜。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子以为是谁定了年夜饭，但问题是，这么早做出来，那不都放凉了吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四直忙到天黑，一共做了四十九份儿菜，但统共也就六样菜，然后叫着伢子一起，把桌子都抬到饭馆儿外面，排成一长溜，把四十九份儿菜挨排儿摆在了连起来的桌子上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子这才明白，这菜不是给人吃的，而是给鬼吃的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四告诉山伢子，三十儿这一天，孤魂野鬼是最难熬的，因为这一天普天同庆，阖家欢聚，没人会惦记着他们，所以徐家祖训，每年三十儿这天晚上都要宴鬼，让孤魂野鬼也能过个好年。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;晚九点过后，陆续有街坊来，用一次性饭盒儿装着菜，打开后放在桌子上，没人来跟徐四说话，大家都很有默契，放下菜就走了，连头都不回。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不到十一点，六张饭桌拼成的长桌上，已经摆得满满当当。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;十二点过后，喧嚣逐渐落幕，零星的鞭炮声也离得很远，开始有鬼过来，站在桌边闻味儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子跟徐四坐在玻璃门儿里，盯着外面，山伢子想看到张小莹，可一直没有看到。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而徐四却在盯着看王老鬼来没来，打从那天翻了脸之后，王老鬼没再出现过，虽然徐四说了不让王老鬼来饭馆儿吃饭，但今天的长桌宴并不是徐四一个人摆的，而是周围的街坊一块儿摆的，所以王老鬼可以来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果王老鬼来了，那就是还有缓和的余地，如果王老鬼不来，这事儿恐怕还是没完。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;凌晨三点，来吃饭的鬼逐渐开始散去，山伢子皱眉问道：“姌姨怎么没来？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四答道：“她不过年，不过完十五，她是不会露面儿的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;天光见亮，爷俩儿想见到的鬼都没有来，徐四叹了口气，说道：“收拾吧，收拾完了睡觉，睡醒了你就回家过年，正月十六再回来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看他，徐四说道：“饭馆儿每年都是歇半个月。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“不是说好我陪你过年吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四笑了笑，答道：“这不是过完了吗？对了，你每天都要按照我教你的功法练一个小时，很快你就能分清人和鬼了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”山伢子郑重答应，拉开门儿出去收拾桌子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;第二天还没睡醒，山伢子就被砸门的声音吵醒，听到一个女人在喊：“徐四！徐四快开门！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子坐起来穿衣服，听到徐四的房门响，脚步声向门外去了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四打开院子的侧门，见是潘大河的老婆，心里不由得一沉，问道：“怎么了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘大河的老婆说道：“我家老潘醒不过来，怎么叫都不醒，那天我没给他做饭，他说上你这儿来吃，可回去后说没吃着饭，好像还撞了邪，你快去给看看。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四回屋拿了一个黄布小包儿，带着山伢子，跟着潘大河的老婆去了她家。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘大河躺在床上，像睡着了一样，徐四俯下身听了听，说道：“有呼吸，但是很微弱。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘大河的儿子十五岁，叫潘小龙，长得很秀气，个子比山伢子要矮一点儿，满脸的书卷气，戴着一副没有边框的近视镜，看着徐四说道：“四叔，你劝劝我妈，我说应该送我爸去医院，可她非得去找你，你又不是医生，把我爸耽误了怎么办？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘大河的老婆训斥道：“瞎吵吵啥？滚一边儿去！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙皱着眉头瞪着他妈，徐四劝道：“大过年的，别冲孩子撒气。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;转而又对潘小龙说道：“小龙你放心，我不会耽误你爸的，我先看看，要是我治不了，咱马上把你爸送医院。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙不放心地问道：“四叔，你又不是医生，你会看啥呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这熊孩子！”潘大河的老婆伸手拧了潘小龙一把，斥道：“我让你滚一边儿去！听不懂人话啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙急眼了，也可能是被拧疼了，大声嚷道：“你拧我干啥？我爸都这样儿了，你还不送医院，万一我爸要是过去了，就都是你害的，你就是搞封建迷信！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我给你惯的！”潘大河的老婆顺手抄起扫床笤帚，举起来就要打。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“你们娘俩儿要是再这么闹，那我就不看了，你们爱咋办咋办。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘大河的老婆连忙陪笑脸儿：“他四叔，你别跟孩子一般见识，他不懂事儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四语气不善地说道：“他是孩子，他不懂事儿，说两句话怕啥的？你跟着瞎起什么哄？这毛病还治不治？你叫我来就为看你们娘俩儿唱戏啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘大河的老婆一脸尴尬地笑了笑，没再吭声儿，潘小龙也不吭声儿了，因为觉得徐四好像生气了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四扒开潘大河的眼睛看了看，叫山伢子：“庆山，你过来看你潘叔儿的眼睛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子答应，走到床边看潘大河的眼睛，也不知道看啥，反正让看就看呗。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四问道：“你潘叔的眼睛有什么不一样？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子愕然抬头看着徐四，徐四说道：“看我的眼睛，再看你潘叔儿的眼睛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘大河的老婆说道：“徐四，老潘都这样儿了，你就别教徒弟了，赶紧给他整好喽。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四没理她，对山伢子说道：“仔细看。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子对照两个人的眼睛又看了一遍，说道：“潘叔儿的眼仁儿咋没了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“那不是眼仁儿，那是魂儿，你潘叔儿的魂儿让鬼给叫走了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙又插嘴说道：“四叔，这不科学，虽然现在科学家也在极力想证实灵魂的存在，但至少现在还没有定论，你这是封建迷信。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘大河的老婆用眼睛剜潘小龙，因为刚才让徐四给训了，所以她不敢再呵斥潘小龙。
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>