<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第494章：缘分轮转</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第494章：缘分轮转
</div>
<div class="bookname">
	<h1>第494章：缘分轮转</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第494章：缘分轮转<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓把唐召义请到外面，问他：“侯爷来找我们，恐怕不是为了替李将军讲和吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义点头，答道：“我是想请你们帮忙，除掉李将军……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓皱眉，说道：“侯爷仍以将军称之，应该不是有‘私’仇吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义叹息道：“李将军是忠臣良将，本侯敬他耿直忠贞，惜他刚烈决绝，怜他‘蒙’冤身死。但是，他怨煞之气太重，又炼有‘阴’兽，我不知世间可否有善之师能为其化解，但我却知，如今五灵齐聚，若放任他借此修炼，迟早要为祸一方！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓微微皱眉，这番话从唐召义嘴里说出来，让洪拓觉得有些不能接受，大家都是鬼，而且唐召义也是用邪法修炼，却在担心李镇江为祸一方。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对于这种在朝堂‘混’过的人，洪拓很自然地加一份小心，因为这些人都是人‘精’，生前是人‘精’，死后也会是鬼‘精’，而且他们都是几百年的老鬼，心思缜密到什么地步，洪拓不敢揣测。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义笑了笑，说道：“本侯知道，这番话从本侯口说出，实令洪先生费解，按说本侯也是鬼，且与李将军有故人之情，本不该有此念头，只是……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义压低了声音说道：“我是为芊芊姑娘担心，山伢子招惹了李将军，如果不趁着现在除掉他，待到他法力日增，肯定要闹事，到那时除非你们一走了之，否则很难应付。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓看着他，这个理由一个理由合情合理多了，但是洪拓还是心存疑虑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义说道：“实话说了吧，当年我曾见过一位姑娘，与芊芊姑娘生得是一模一样，弯眉罥烟，双眼含‘露’，肤如凝脂，气若幽兰……她随身带着一柄古‘色’古香的短剑，两尺多长，剑鞘之刻满了符咒……本侯对她一见倾心，只可惜惊鸿一瞥，再不见佳人香踪……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义絮絮叨叨地说，洪拓越听越觉得诧异，难道唐召义见过素雪？听他的描述，这位让他铭记于心五百年的‘女’子，应该是素雪。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子端着两个菜过来，唐召义瞬间从追忆佳人的状态苏醒，盯着两个菜问道：“这菜肴怎会有如此香气？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子翻了个白眼儿，一言不发地转身走了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓笑着递给唐召义一双筷子，说道：“侯爷请尝。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义愕然问道：“能吃？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“能吃，这是徐家鬼食。”洪拓说完，夹了一筷子放进嘴里。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义皱眉，若有所思地夹了一筷子放进嘴里，然后闭了眼睛，好一会儿才睁开眼睛说道：“我想起来了，那年我来北地，曾在一处小馆打尖，那家小馆叫食味小厨。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓微笑着点头，说道：“对，我们这家店也叫食味小厨，伢子是徐家鬼食的传人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义微微摇头，他要说的其实不是这个，而是想起了当年那位店主送了他一碗汤，并且对他说：“这位贵人，这碗汤是小店特意为贵人做的，贵人旅途劳顿，饮了此汤，以解困乏。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义吃了一口山伢子做的菜，猛然忆起了当年那碗汤的香气，竟与这鬼食相似！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;联想到他不久之后便死了，唐召义问洪拓：“徐家鬼食也能给人吃吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓见他沉思，已经猜到他在想什么了，说道：“给人吃的是平常的饭菜，但若是将死之人，会用安魂汤调味，以助送魂离体，徐家借此积攒功德。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义恍然明白，原来当年徐家祖已经看出他要死了，所以才送了他那碗汤喝。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义喟叹道：“当年我在食味小厨打尖，店家曾送了我一碗热汤，与这鬼食的香气极为相似，不想今日又在食味小厨吃到了鬼食，缘分轮转，果然如是。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓微笑着点头，举着筷子说道：“侯爷请，趁热才好吃。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义点头，吃了两口，突然失笑道：“冲着这鬼食，本侯也不能再与山伢子争竞了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓看着他问道：“侯爷为何要与山伢子争竞？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义幽幽一叹，说道：“想我贵为殷平侯，尚不可求佳人一顾，而他一个寒‘门’竖子，却能得佳人倾心相许，洪兄，若换作是你，当作何解？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓失笑，说道：“侯爷是觉得，芊芊是当年那位姑娘的转世？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义说道：“若非如此，世间岂能有如此相像之人？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓笑，转了话题：“侯爷，咱们还是说李将军吧，侯爷两番说词，都不能令在下信服，还请侯爷如实相告，究竟为何要除掉李将军。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义叹了口气，说道：“其实我是有‘私’心，早在百余年前，我便知道他豢养‘阴’兽，只不过当年的咆，只是个巴掌大的小鱼而已，但那时已经能吃鬼了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义曾亲眼见过李镇江抓水鬼喂鱼，还对他说，此鱼若能养成‘阴’兽，必是他一大助力，甚至可以与地府无常相抗衡！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;从李镇江这句话能听得出来，他是想鬼修化妖，甚至是聚煞成魔。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义只是担心，有朝一日，李镇江化妖成魔，那必将是覆巢之下，无有完卵。到那时，莫说是山伢子等人有‘性’命之忧，是他唐召义，恐怕都难逃厄运！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义说道：“方才我见了李将军，因为你们在岸说话时提到了我，所以与其让李将军来找我，不如我先去见他。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李镇江向唐召义询问山伢子等人的情况，唐召义如实相告，李镇江便邀他一同对付山伢子等人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓愕然，唐召义说道：“洪兄，李镇江是带兵的出身，他跟你们约定井水不犯河水，不过是缓兵之计，你不会真的以为一个养着‘阴’兽的老鬼，会永远跟你们相安无事吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓皱紧了眉头，他其实想过这个问题的严重‘性’，只不过冒然让山伢子去迎战一个能驱使‘阴’兽的老鬼，洪拓心里没底。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义见洪拓眉头紧蹙，会错了意，以为洪拓怕他设套儿，说道：“洪兄，方才我已经说过，一旦李镇江化妖甚至成魔，我也难逃毒手，你大可不必对我心存疑虑。”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>