<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第365章：撞邪</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第365章：撞邪
</div>
<div class="bookname">
	<h1>第365章：撞邪</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第365章：撞邪<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子离开后，姜悦玲问徐四：“你怎么了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四茫然答道：“没怎么呀，我怎么了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜悦玲轻声问道：“为什么要让伢子自己处理呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四失笑，答道：“这有什么呀，徒弟能扛事儿了，当然让他自己顶门立户啊，再说了……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四压低了声音说道：“伢子是倒插门儿，不得让他多挣点儿钱撑门面啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦……”姜悦玲恍然，微笑着说道：“还是老公想得周到。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四拉她坐到自己腿上，搂着她说道：“这一个饭店就够我操心的了，我都这个岁数儿了，能省点儿心就省点儿心吧，你没看我师弟都带着媳妇儿采菊东篱下去了吗。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜悦玲微笑着问道：“那咱们什么时候儿去悠然见南山啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“再过两年，等伢子能独当一面，咱们就去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜悦玲笑，说道：“我就那么一说，我才舍不得离开呐，这一大家子人多热闹啊，老钟他也就是去度个蜜月，你看着吧，用不了半年他就得回来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子站在一层大堂，靠在墙边儿上琢磨魂灵相合的事儿，徐四说得对，他不用在后厨做菜，反倒有充足的时间研究鬼食和法力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其实一味闷头做菜并不合适，无论是鬼食还是武学，更需要去悟，当法力提升遇到瓶颈时，做菜反倒会耽误领悟的时间。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“喂！”清爽甜美的女人声音。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子回过神来，看见龚钰丹站在自己身前，愕然说道：“你……你好。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹凑近了些，几乎要贴在山伢子身上，扬着脸看着山伢子问道：“回味什么呐？我都站在你面前了，你竟然都没看见。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子身后是墙，退无可退，皱眉说道：“芊芊在楼上，没有包间号牌的屋里。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹眉眼带笑地说道：“瞧你吓得，这么多人，我能把你怎么样啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完，龚钰丹嘟起嘴，朝山伢子脸上吹了口气，然后媚眼如丝地上楼去了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，这女的不咋地，回头得跟晓荧说一声，让晓荧劝芊芊跟这女的少来往。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;十几分钟后，霍晓荧下来了，说道：“有事，上楼。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子伸手拉住霍晓荧，轻声说道：“你有空儿跟芊芊说说，让她少跟那个什么丹来往，那人不咋地。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧似笑非笑地问道：“她干啥了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，轻声答道：“我觉得她在……勾引我。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧笑，问道：“那你上钩儿了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“当然没有！”山伢子一脸严肃地看着霍晓荧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧笑得高深莫测，说道：“走吧，上楼先说事儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，边走边说道：“你当回事儿，现在不都说，防火防盗防闺蜜嘛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧笑意更浓，说道：“你还知道这个呐？那你说是闺蜜的错，还是男人的错？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，霍晓荧又说道：“男人要是不上钩儿，闺蜜还能霸王硬上弓吗？你说是男人力气大，还是女人力气大？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉说道：“亲君子而远小人，这样的人不应该少来往吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧笑着说道：“女人之间的情感你不懂，管好你自己就不会有事儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;实际上龚钰丹一上楼，就跟古芊芊说了，说她刚才调戏山伢子来着，但是山伢子明显的排斥她，让她很没面子，甚至都觉得自己老了，没有魅力了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;还问古芊芊认不认识跟山伢子一样的人，给她介绍一个，让她也感受一下带出去有面儿，搁家里放心的感觉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两人嘻嘻哈哈地闹了几句，龚钰丹说道：“我今天来找你有正事儿，我爸好像撞邪了，嗯……其实也不是我爸撞邪，是我爸的情儿撞邪了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊用异样的目光看着她，龚钰丹嗤了一声，说道：“只要他不少给我钱，他在外面的事儿我不管，连我妈都不管，我操什么闲心呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹的父亲叫龚国伟，白手起家的商人，而且已经五十多了，倒不是二婚，而是因为年轻的时候穷，不敢要孩子，怕养不起，所以三十多岁才生了龚钰丹，惯得不像样儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚国伟在外面的那个女人叫王欣慧，是做珠宝玉石生意的，三十出头儿，也算是白手起家，但比龚国伟的起步儿高一些，不过挣了钱以后，被她老公坑了一道，弄了个盆干碗净，是龚国伟帮了她，所以两人就好上了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;上个月，发生了一件事。因为王欣慧的老公卷着钱和一批货跑了，所以王欣慧只能把房子卖了还货款，然后在一个老式居民楼租房住。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老式居民小区的通道都很窄，停车就成了问题，一般都是谁先回来谁停，回来晚的就只能停在过道儿上，第二天早起去挪车，给别人让地方。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那天凌晨三点多，有人砸她家门，把王欣慧惊醒了，这种事儿肯定搁谁都恼火，所以王欣慧说话就没好气儿，对方让她挪车，说家里老人病了，救护车进不来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王欣慧就问对方，说我车前面写着电话号码呐，你为什么不打电话，却跑上来砸我家门？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对方张嘴就骂王欣慧，说你一个租房的外地人，牛逼什么？赶紧挪车，要不然把你车砸了！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王欣慧到厨房就拿了菜刀，连吓唬带骂地赶对方走，还说你们家都是死人呐？救护车进不来，你们不会把人抬出去？我就不给你挪车，再敢来砸门就砍死你！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;结果，两天以后，满小区贴着告示，说是她停车堵路，把那家的老人给害死了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;因为这事儿还上了法院，但实际上，那家的老人当晚送到医院了，只不过是没有抢救过来，也不是当天晚上去世的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但因为王欣慧的车的确是堵了路，所以法院判王欣慧赔偿对方精神损失，金额虽然不大，但这事儿很闹心，所以那段时间，龚国伟几乎天天陪着王欣慧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是从一个星期前开始，王欣慧总做一个梦，梦见一个老头儿堵着门儿骂她，骂得特别难听，她还回不上嘴，有两回都把她骂得哭着醒过来。
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>