<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第253章：魇住了</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第253章：魇住了
</div>
<div class="bookname">
	<h1>第253章：魇住了</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第253章：魇住了<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜悦玲嘟嘴，说道：“好久了，也该养好了，现在桃花儿来了，家里地方小，让赵美蓉走吧，总不能让桃花儿跟伢子他们住一屋儿吧？那也不方便啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿看霍晓荧，眼神儿有点儿惶恐，她可不想因为她，闹得别人家吵架斗嘴，家宅不宁。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“干爹，既然魂**被砸了，那就不是咱们食言，我也觉得家里不应该有外人留宿，你还是让那个赵美蓉走吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完不等徐四答话，又转头看着桃花儿说道：“你别误会啊，你不是外人，从伢子那边儿论呐，天心叫你姐姐，你死的时候儿十六岁，伢子现在十八，你是我小姑子。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四哑然失笑，霍晓荧想拉拢人的时候，怎么着都能攀上亲，这也是本事。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜悦玲和桃花儿也笑，霍晓荧又说道：“还有啊，如果你跟史晋能成呐，史晋是我师弟，对吧干爹？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四笑着点头，说道：“行，我让赵美蓉离开。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;关张回家，一进门儿就看到潘小龙跟尚亚坤，戴着眼罩儿穿着裤头儿，四仰八叉地睡在地板上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿红着脸把目光别开，霍晓荧皱眉斥道：“又没买床打隔断！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四叹了口气，颇有些不悦地说道：“让伢子歇两天，你跟伢子盯着把这事儿办了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子答应，打了个哈欠，说道：“我回屋睡觉了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧一把揪住他嗔道：“刷牙洗脸烫脚！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不行。”山伢子打着哈欠摆手，说道：“今天特别累，我睡醒了再洗。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完推掉霍晓荧的手，向房间走去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧一怔，徐四说道：“他可能损耗过大了，今天做了两个菜，都是按徐家祖上的方法做的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧看着徐四，徐四笑了笑，回屋了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜悦玲对桃花儿说道：“今天你先住小莹他们那屋，明天再过来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好。”桃花儿答应道：“四婶早点儿休息。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜悦玲抿嘴一笑，说道：“你也早点儿休息。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧关了灯，拉着桃花儿进屋时，山伢子已经睡着了，而且打上了呼噜。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧指了下自己的宅子，对桃花儿说道：“你先进去，我待会儿来陪你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好。”桃花儿答应一声，进了宅子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧给山伢子脱了衣裤，盖上毛巾被，然后也进了宅子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四洗漱以后，把赵美蓉叫了出来，说道：“你也养得差不多了，可以走了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵美蓉愣住，半晌才反应过来，说道：“法师，我觉得我还没养好，让我再待几天行吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不行。”姜悦玲冷着脸拒绝。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她抢着说话，是因为心里很清楚，男人要面子，而且容易对女人心软，她是这个家的女主人，所以她必须表明立场和态度。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜悦玲说了话，徐四就不说话了，表现出默许的态度。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵美蓉一脸凄楚地说道：“我也不碍事儿，就让我再待几天呗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜悦玲说道：“你已经养好了，为什么还要赖在我家？你赶紧走，要不然我让我干闺女撵你走！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵美蓉可怜兮兮地看着徐四，徐四叹了口气，说道：“咱们非亲非故，因为你的事儿，连累得我让人把魂**都砸了，那可是我们家祖上传下来的东西，你现在已经好了，没必要再留在这里。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵美蓉沉默了片刻，说道：“能不能麻烦您跟我爸妈说一声儿，让他们多给我烧点儿钱？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四点头，答道：“可以，你把他们的电话告诉我，我睡醒了就打电话。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;快中午的时候，霍晓荧先从宅子里出来，看看山伢子醒没醒，免得让桃花儿撞见他**的样子，结果发现山伢子还睡着，而且火行石在一呼一吸地闪动着微弱的光芒。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧惊觉不对，回宅子里把桃花儿拉了出来，指着山伢子说道：“你快给他看看。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿皱眉说道：“我是学医的，不是学法术的，我哪知道他怎么回事儿啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你看看再说！”霍晓荧瞪眼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿坐在床边，试探着伸手，发现火行石并没有攻击她，就给山伢子把了脉，然后又扒开眼皮看了看，说道：“他好像是魇住了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧问道：“那推醒他？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿摇头，说道：“就算是普通人，被魇住后也应该让他自己醒，如果是被叫醒的，多多少少都会惊着魂儿，山伢子可不是普通人，而且他的灵石还在闪光儿，我可不敢说能不能叫醒他。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧皱眉，倏然出去，没一会儿把徐四叫了过来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四扒开山伢子的眼皮看了看，跟桃花儿的意见相同。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧问道：“那我是应该给我干妈打电话，还是给屈长寿打电话？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四想了一下，答道：“还是问屈老吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧拿出电话打给屈长寿，把情况说了一下，屈长寿沉默了好半天才说道：“我过去看看。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一个多小时，屈长寿来了，一进卧室就问道：“一直是这样？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧答道：“是，一直是这样。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈长寿看桃花儿，桃花儿慌着说道：“不是我，我是学医的，我不害人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“屈老，她是桃花儿，山伢子他爹埋了她的骸骨，她来报恩的，是我把她从家里接来的，昨天才来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈长寿说道：“你们不用紧张，桃花儿，你……得有百余年了吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是。”桃花儿点头，手足无措，目光闪烁。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈长寿走到床边，扒开山伢子的眼睛看了看，又诊了下脉，又摸了摸头顶，说道：“他的确是魇住了，而且魇得很深，恐怕自己醒不过来，但也不能用外力唤醒。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完，屈长寿又看桃花儿，桃花儿往霍晓荧身后挪步。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧皱眉，难道跟桃花儿有关系？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈长寿说道：“这种情况，最好是能进入他的梦境，在梦境中将他唤醒。但是活人肯定办不到，而鬼的能量如果不够大，进去之后不仅不能唤醒他，自己也会被困住。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈长寿顿了一下，看着桃花儿问道：“桃花儿，你是百余年的鬼，你愿意进入山伢子的梦境，将他从里面唤醒吗？”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>