<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第553章：被抢了</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第553章：被抢了
</div>
<div class="bookname">
	<h1>第553章：被抢了</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第553章：被抢了<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一愣，掏出手机打字给唐召义看：没有魂瓶，洪拓怎么出去？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义斥道：“你傻呀？你先出去，干尸没目标了，等我们过去，我出去叫你，你进来接他不完了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一脸尴尬地揣起手机，转身走了。,。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义大声说道：“洪拓，是不是美‘女’都喜欢傻子？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓斥道：“你才是傻子，我媳‘妇’儿也是美‘女’！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义答道：“对，呵呵……我忘了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“你当心点儿，别一走神儿再把干尸放出去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义答道：“放心吧，他们在里面被限制了法力，我在外面，我一个能顶他们三十个！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;几分钟后，远方响起山伢子的喊声：“我到了！我到了！我到了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗷……”三个干尸发出巨大的吼声。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;等干尸叫唤完，洪拓才说道：“老唐，放手后赶紧跑。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“知道。”唐召义瞬间有些紧张，说道：“等一下啊，我先思索一下逃跑路线。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;‘门’的压力陡增，唐召义说道：“我顺着悬崖跑，你也从哪儿走，听见没？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓答道：“听见了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我放手了！”唐召义放了手，倏然向悬崖的方向冲去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;‘嘭’的一声，两扇观‘门’猛然向外推开，三个干尸相继出了观‘门’，几乎同时拔地而起，向山伢子喊声传来的方向落去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓微皱着眉头看着观‘门’，观‘门’应该只能向内开才对，所谓开‘门’迎客，闭‘门’谢客，这无名观的观‘门’怎么还能向外开？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓试探着往前走了两步，观‘门’在缓缓的自行关闭，洪拓赶紧跑出‘门’去，他怕‘门’关以后自己出不去了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;到了外面，洪拓转回身再看，发现观‘门’已经关，‘门’槛是‘门’槛，‘门’框是‘门’框，那刚才是怎么开的？还有那个偷古剑的‘女’孩儿，她怎么知道要顶着‘门’呐？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义跑出一段路，发现干尸没有追他，但洪拓也没跟过来，又找了回来，见洪拓面对着观‘门’沉思，便问道：“怎么了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓答道：“有‘门’槛有‘门’框，观‘门’怎么可能往外开呐？这不科学。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义愕然看着他，说道：“逗闷子呐？咱俩科学吗？你说的，仙家道场，‘门’能向外开很怪吗？我还不了墙头儿呐，咱们进去后还没有法力了呐，赶紧走吧，扯这闲篇儿干嘛！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓皱着眉头跟着唐召义走，又说道：“那个姑娘怎么知道在外面顶着‘门’？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义心里一动，说道：“快走！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完倏然飘远，洪拓一愣，旋即明白，那个姑娘知道的事越多，山伢子越危险！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;到了结界边，唐召义直接出了结界，看到山伢子倒在地不省人事。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义连忙晃醒山伢子，问道：“怎么回事儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哎呀……”山伢子抬手捂后脑，龇牙咧嘴地说道：“我刚一出来，被人打了一棍子，这他妈谁呀。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义问道：“剑呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子瞪着他斥道：“你骂谁贱呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义大声说道：“我是问你！素雪的配剑呐？还有你的短剑呐？剑呐！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一惊，连忙四处找，嚷道：“我剑呐？剑哪儿去了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义皱眉叹气，说道：“行了！先进去把洪拓接出来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看到手枪还在，站起来说道：“咱们再去无名观看看，反正现在剑也没了，干尸也不会来了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义说道：“你先把洪拓接出来，咱们在外面商量一下，要不然你进去又不能说话。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子答应一声，进去把洪拓接了出来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;听说连山伢子那把杀生刃都抢走了，洪拓说道：“这种人可真不仗义，白长了一副好皮相。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“我想去无名观看看。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓答道：“去吧，要是干尸再出来，咱们把他们引到无名观里解决掉。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“对呀！”唐召义恍然说道：“那个丫头在无名观里面，自己能对付三个干尸，咱们三个肯定能解决掉他们。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉说道：“那个丫头把我都打倒了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义说道：“背后偷袭，不算本事，她要真有本事，会当面管你要。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“算是背后偷袭，也要有先决条件，她可能跟你一样，能看到结界里面的情况，否则她怎么知道伢子什么时候出来，又怎么会那么巧，正好躲在伢子的视野盲区里。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子跟唐召义一同点头，洪拓又说道：“走吧，先去无名观。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;三人平安无事地回到无名观，山伢子推开观‘门’走了进去，脚落地的那一刻，一股久违的情愫油然而生，火行石亮起了红光。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓看着山伢子问道：“你没事儿吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子摇头，鼻子发酸，眼睛发热，平静了一下才答道：“没事儿，是有种熟悉的感觉。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义一惊，连忙回头看，同时责怪道：“你怎么开口说话了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗷……”远方响起了干尸的吼声。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子立刻紧张起来，掏出手枪双手握紧，解释道：“我忘了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“别紧张，这是你的地盘儿，正好把它们解决掉。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义跑出观‘门’，大声说道：“我在外面躲躲，反正我也帮不忙，还影响你们！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓甩手想祭出单刀，但是不管用，说道：“你扛一下，我到外面把刀祭出来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;话音刚落，三个干尸出现在‘门’外，山伢子举枪打！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“呯！呯！呯！呯！”一连开了四枪，间的干尸像触电一样全身‘抽’搐，两旁的干尸抢进‘门’来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓只能后退，他可不敢在这时候向外冲，万一山伢子一慌，再一枪打他身，那他不灭也得半残。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“呯！呯！”山伢子冲着干尸开了两枪，没子弹了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子刚拿出一个弹匣，一柄长剑闪电般向咽喉刺来，山伢子向一侧扑倒，干尸追一步，‘挺’剑再次刺向山伢子咽喉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓从后面抄过干尸的右臂腋下，勒紧了干尸的脖子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗷……”干尸吼叫，疯狂地挣扎。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓大声喊道：“快换弹匣，打脑袋！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;的小说站！
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>