<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第165章：上火车</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第165章：上火车
</div>
<div class="bookname">
	<h1>第165章：上火车</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;赵美蓉用怨毒的目光瞪着杨瑞，咬牙切齿地问道：“请法师帮忙儿，花了不少钱吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杨瑞嗤了一声，说道：“你都已经成了鬼了，还这么爱钱，有啥用啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵美蓉倏然冲上来扇了杨瑞一个大嘴巴，打得杨瑞转了个圈儿，眼发花耳发鸣，隐约听见赵美蓉好像是在说：“别以为我打不着你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;实际上赵美蓉说的是：“你以为有法师帮你就行了？我就真拿你没办法了？把你惯的！还敢跟我叫板？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;凌晨三点已经过了，徐四做完单子上的最后一道菜，看了一眼表，对另外两名夜班儿厨师说道：“我去喝口水。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗳，您歇会儿吧。”两名厨师相继答应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;上了楼，进了经理办公室，姜悦玲给徐四倒了茶，然后轻声问道：“咱俩的事儿……怎么办呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四答道：“好办，我焚一张婚书，咱们自己家人再坐在一起吃顿饭……我是在等我二徒弟小龙，他眼看就要高考了，等他考完咱们就办，你别着急。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜悦玲脸上一红，低着头轻声答道：“没着急，就是想起来问问。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“咣咣！”敲门声。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“四哥！”杨瑞在门外喊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四一愣，还以为杨瑞在家睡死了呐，答道：“进来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;门推开，杨瑞鼻青脸肿地走进来，看着徐四说道：“四哥，她不来找你，她打我。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;从凌晨一点多一直到凌晨将近三点，赵美蓉打了杨瑞将近两个小时，虽然打得时间长，但基本没打要害部位，也就是脸伤得有点儿重。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杨瑞带着哭腔儿问道：“四哥，你给我的八卦图咋不管用呐？连手机都让她给砸了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四皱眉，问道：“她在卧室打你？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杨瑞答道：“不是啊，我满屋子躲，可躲到哪儿她都能打着我。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四叹了口气，又问道：“她打你之前，你动过手机吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杨瑞反问道：“手机不能动啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四又叹了口气，说道：“你再说详细点儿，尤其是关于手机的移动的朝向。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杨瑞问道：“还有朝向呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四再次叹了口气，基本明白了，问道：“你是拿着手机出了卧室吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杨瑞点头答道：“是啊，我还用手机照过她一回，把她打进墙里去了，然后她从墙里蹿出来就开始打我。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四问道：“她从墙里蹿出来的时候儿，你的手机屏幕没对着她吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杨瑞好像也明白了，摇头答道：“没呀。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四把自己的手机放在桌面儿上，说道：“让你把手机放在床头柜上，就是因为她动不了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完拿起手机，又说道：“你一旦拿起手机，不管你怎么拿，都会出现死角。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杨瑞明白了，点头说道：“我没想这么多，她在厨房砸东西，我就拿着手机过去了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四沉默，抿紧了嘴唇，这个赵美蓉还真挺难缠的，居然这么轻易就破了他的招儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杨瑞说道：“四哥，能不能在我家里到处都贴上八卦图？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四答道：“能是能，可问题是，治标不治本。你贴了八卦图，她进不了你家，万一她急眼了，在你上下班儿的路上害你怎么办？兔子急了还咬人呐，更何况是这么难缠的鬼。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杨瑞愁眉苦脸地问道：“那我咋整啊？四哥，你给想想办法呀。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四想了想，说道：“这样吧，你请两天假，明天我陪你去趟赵美蓉家，最好是能问出她葬在什么地方，咱找着她就好办了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“行！”杨瑞答应，停了一下问道：“四哥，你忙活完了得睡觉吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“对，你也先回家睡觉去，我给你打印一张八卦图，你拿着回家，放在床头柜上，这回可别动它了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;凌晨五点十分，山伢子把潘小龙叫醒，洗漱完出去吃了个早点，然后背着包儿去火车站。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹趴在山伢子背上，让山伢子背着她，因为打从被徐四救回来之后，张小莹就拒绝戴火行石，只让山伢子戴着。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;早晨的阳气极重，张小莹又不愿意进八卦伞，其实最主要的原因，是想这样黏着山伢子，连着被抓了两次，第二次还是因为想去投胎，所以张小莹突然感觉到时间宝贵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然不能嫁给山伢子，但可以先霸占着，就算这样会影响山伢子找对象儿，但毕竟山伢子才十八岁，再等两年儿也没啥。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;六点半检票进站，上了火车后，潘小龙靠着车窗闭上眼睛，说道：“我睡了啊，让小莹看着行李。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹狠狠地白了他一眼，对山伢子说道：“快睡吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“等会儿，等开了车，我想补张卧铺，睡得舒服，你也能躺会儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹嗤了一声，白了他一眼，嘴边却露出笑意。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙闭着眼睛说道：“早说啊，早说我直接订软卧多好呐，待会儿给我也补一张啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;火车开动以后，山伢子找乘务员补了两张卧铺，潘小龙抢了个下铺，往上一躺，笑呵呵地说道：“你上去睡吧，上面干净，还安静。对了，包儿都放上面吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹真想踹他，不过对面铺还坐着一位老人，张小莹决定等到了钰县再收拾潘小龙。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子躺下就睡着了，张小莹坐在铺上晃着脚，却发现对面下铺的老人好像一直在盯着她。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这位老人头发全白了，连眉毛也是白的，脸膛倒是挺红亮，一双眼睛也是炯炯有神，穿着一身儿月牙白的仿古衣裤，左手腕上戴着一串指头大小的珠子，颜色深暗，不知道是什么材质。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹盯着老人看了一会儿，总觉得他是在跟自己对视，就倏然挪到靠走道儿一边，老人的目光跟了过来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹的脸色沉了下来，盯着老人问道：“你能看见我？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老人露出一抹微笑，样子很慈祥，但张小莹却觉得高深莫测。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;等了片刻，老人没回答，张小莹心里有点儿害怕，倏然躲到铺里，握着山伢子的手躺下了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老人又露出一抹微笑，双手叠放在小肚子上，闭上了眼睛。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;，更多精彩阅读，等你来发现哦。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;手机站:
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>