<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第793章：注意到细节</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第793章：注意到细节
</div>
<div class="bookname">
	<h1>第793章：注意到细节</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第793章：注意到细节<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子尴尬地笑了笑，他不知道说什么，不过关于盈袖不想修炼的问题，山伢子被古芊芊一语点醒。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当年相识之时，他应该已经几百岁了，而盈袖却是个绿鬓红颜的少女，如果盈袖山修道，那势必他会先死，而盈袖却要孤单的活着，像素雪一样。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以盈袖选择做一个凡人，虽然时间短暂，却能尽享人生乐趣，心满意足。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊又说道：“我问我姐了，她告诉我，徐家鬼食的真谛是送魂消怨，而送魂也包括给将死之人送魂，这是善事，我不应该为了我的私心，阻止你做善事。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子握住她的手，笑着调侃道：“瞎说什么呐，你还有私心？你让我娶了这么多媳妇儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊轻笑了一声，低声说道：“哪一个不是我的私心？我姐，是我和我妈怕你对我不好。婧婧，她救了咱们三个的命，又是灵语者。梦容……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好了。”山伢子打断了她，说道：“不是开个饭店嘛，哪这么多事儿，反正咱也不缺钱，想做做，不想做不做，其实我是闲的，没个事儿干闹心。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊笑，拿起他的手贴在脸，嘟着嘴撒娇道：“打牌又是婧婧赢了，都连着五天了，我都想你了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子笑，说道：“你也是轴，应该让连赢两场的人空一天。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“对呀！”古芊芊丢下山伢子楼了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子失笑，古芊芊说自己不嫌修炼无聊，可实际她也是更喜欢玩儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夜更深了，起了风，落了雨，山伢子还坐在窗边，拿了张纸边想边写。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;既然要开始做活人生意，得提前琢磨一下，如说营业时间，饭菜的样式，或者还应该再雇个厨师。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而且得做做广告，徐四家在靠山镇是祖传的店，在世人还接受鬼神的时候开始做鬼食生意，所以乡邻都知道，不需要做广告。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可山伢子不一样，他得让人知道他做的是鬼食，还得让人知道鬼食是什么，还得让人相信，还得避免法律问题，否则万一有人来他店里吃了饭，转天死了，那也是大麻烦。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;正专注地想着这些问题，突然响起‘嘭嘭’的声音。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一惊扭头，看到江溟站在窗外看着他，带着一脸顽皮的笑容。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱着眉笑，招了招手，江溟小跑着从大门进来，坐到他对面，笑着问道：“吓你一跳吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“是啊，我正想事儿呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;江溟问道：“想什么事这么专注？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“没有鬼，只能改做活人生意，我在想营业时间，还要打广告。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”江溟嘟了嘟嘴，说道：“我在外面倒是经常能看到鬼，可是我不敢跟他们说，怕他们来吃饭，被那个女鬼盯。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看着她，她很久没来了，今天一来借着话题往厉鬼身扯，这是有心还是无意？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子微笑着说道：“今天想吃什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;江溟看着他问道：“我好久都没来了，你也不问问我原因？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子与她对视，很严肃地答道：“你是鬼，我是法师，按规矩，你不说，我不能问。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;江溟愣住，眨了眨眼睛，然后笑着问道：“你瞎说的吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“这是我师父教我的规矩，你为什么觉得我是瞎说？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;江溟有些尴尬地道歉：“对不起，我不知道这是你师父的规矩，我以为你在跟我开玩笑。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“没关系，我只是好，为什么你觉得我是瞎说呐？你见过别的法师？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”江溟点头，说道：“跟你很不一样。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子笑，说道：“不一样前面还要加个很字，我是不是应该理解为他不是好人呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”江溟再次点头，却没有说话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“他干什么了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;江溟看着他问道：“不是说不能问吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“我问得是那个法师，不是你，而且过去的事可以问，现在的事不能问，这里面有很大差别。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;江溟点头，轻声答道：“他想欺负我。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子想到这个答案了，但是他不相信，因为在接触，山伢子越发地发现江溟是在刻意地跟他套近乎，而江溟的目的，肯定不是想给他当媳妇儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子转了话题，问道：“今天不想吃东西呀？你都两个月没来了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;江溟嘟了嘟嘴，说道：“还是吃还乡台和花开彼岸吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好。”山伢子站起身说道：“我给你做去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;进了厨房，山伢子跟安婧说：告诉邢宽和惜音，江溟又来了，让他们准备好，待会儿跟着江溟。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子跟邢宽商量过，邢宽是跟踪江溟最合适的人选，因为邢宽是活人，身没有鬼气，轻功又好，能追鬼，而且相对来说，邢宽的法力较弱，不容易被察觉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以山伢子安排邢宽跟踪江溟，让惜音跟着邢宽，这样既解决了会被江溟察觉的问题，又保证了邢宽的安全。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;实际古芊芊之前提议跟踪江溟，说自己可以隐藏气息，但是山伢子觉得不稳妥。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;因为如果江溟是冲着他们来的，肯定事先要先观察他们，那肯定对他们的气息非常熟悉，即使古芊芊隐藏了气息，也容易被察觉到。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而邢宽是生人，但是当时邢宽还在莫林市，如果只是为了跟踪江溟，不值当特意把邢宽叫来，因为他们并不能确定江溟一定有问题，而且江溟不是天天来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;做好了菜端去，山伢子陪着江溟说话，看着她吃。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在这个过程，山伢子注意到一个细节，江溟总是有意无意地扫一眼挂在墙的钟表。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;做为一只鬼来讲，完全没有必要在意时间，尤其江溟说自己是被迫飘荡在外面，不能回尸骨所在地，那更不存在怕天亮的问题，而且鬼是可以感觉到阴阳二气的变化的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;江溟这么在意时间，应该是有什么事儿吧？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子回想了一下，她好像每次来饭店，都会注意那个钟表，难道是那个钟表有问题？不应该呀，是在超市随手拿的，而且走得还不准，隔三差五得调一次。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;(本章完)<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;/bk
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>