<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第613章：故意杀人</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第613章：故意杀人
</div>
<div class="bookname">
	<h1>第613章：故意杀人</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第613章：故意杀人<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两人又沉默了一分多钟，杜云华厉声斥道：“你开慢点儿！你是不是有病？你真要那么有种，咱们不会走到今天这一步了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李云华怒吼道：“他有什么好？他哪点我好？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杜云华尖叫道：“至少他不会像疯子一样开车！你想死去死！别连累我！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好！”李云华大吼一声，猛然向右打方向盘，撞向一辆大货车的尾部。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊……”杜云华尖叫。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一把抱住安婧，将她的头压在自己怀里，而安婧却看到，李云华的右手按下了杜云华安全带的锁扣。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;然而，山伢子并没有等来猛烈的撞击，而是眼前一‘花’，换了场景。山伢子摔坐在地，因为死抱着安婧，所以把安婧也摔在了地。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧轻轻推他，山伢子松开胳膊，问道：“咋回事儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧站起来，低着头轻声解释道：“这是梦境，他不会再撞一次的，他也害怕。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;顿了一下，安婧又说道：“刚才我看到，他在撞车前，按下了他老婆的安全带锁扣，他老婆是他故意害死的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子答应一声站了起来，游目四望，这是一片公墓，墓碑整齐地排列着，不远处有一个人，面对着一个墓碑站着，看身形很像李云华。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“那边。”山伢子招呼一声，小跑着向李云华奔去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“云华，你安息吧，我之所以这样做，是因为我不能失去你，不管怎么样，你都是我的妻子，你还记得吗？咱俩第一次遇见的时候……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李云华站在墓碑前絮叨了得有四十分钟，初时语气温婉，逐渐转为暴躁，但声音却一直很小，只有语调和表情的变化。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;从他的絮叨，山伢子知道了整个事件的原委。李云华和杜云华是因为一次偶遇而相识的。因为两人的名字都叫云华，所以相谈甚欢，迅速坠入爱河，相恋三个月结婚了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;婚后的生活也很美满，李云华不仅有着高学历，还有着一份很不错的工作，俗称‘铁饭碗’。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杜云华学历不高，又有些娇气，所以结婚后做了全职太太，在家打理家务。美不足的是，两人一直没有孩子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;时间过得很快，转眼间过了六年，两人开始出现摩擦，李云华对始终没有孩子很介意，而杜云华则是厌烦了全职太太的无聊与孤单。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两人去医院检查，都没有‘毛’病，李云华觉得自己不够努力，所以开始了夜夜奋斗的历程，但这样做的结果是引起了杜云华的反感和排斥，甚至提出了离婚。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李云华只能一边收敛，一边苦苦哀求，谁成想偶然的一次机会，李云华发现杜云华一直在服用避孕‘药’！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这让李云华极其恼火，拿着还剩半盒的避孕‘药’质问杜云华。而杜云华却理直气壮的说不想要孩子，一方面原因是生孩子会加速她的衰老，另一方面原因是她不想承受分娩的那种痛苦。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两人因此大吵一架，杜云华当晚离家出走，手机关机，整整消失了一个半月的时间。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李云华到处找，还报了警，人也因为焦虑而生了病，可杜云华回来时，却显得容光焕发，神采奕奕。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李云华不敢再跟杜云华吵架，忍气吞声地问杜云华去了哪里。杜云华说自己去旅游散心了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;因为怕失去杜云华，这件事只能不了了之，但是从那天开始，杜云华拒绝跟李云华同房，没有任何理由，也根本不屑于解释。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李云华心里明白，他已经失去杜云华了，只不过估计眼下时机还不成熟，但离婚肯定是迟早的事情。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李云华借口要出差学习，然后盯着杜云华，终于在盯了一个星期后，发现杜云华在外面有人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李云华抚着墓碑，用‘阴’冷的语气说道：“你知道吗？如果你不答应跟我去旅游，我会在你的水里下毒，谢谢你还念着咱们夫妻一场的情分，你放心吧，我会年年给你烧纸钱的，虽然我不相信还有另一个世界。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，李云华一开始是不相信有鬼的，那为什么又演变成寻找异世界呐？是什么原因造成的？难道是杜云华回来闹腾他了？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧说道：“他的梦快要醒了，我带你出去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子答应，问道：“咋出去？我跟着你？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧拉住他的手，向后退了一步，山伢子忽悠一下醒过来，缓了片刻后说道：“这货是个杀人犯。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧说道：他快要醒了，咱们活人得离开。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子复述了安婧的话，洪拓说道：“你们走吧，我盯着，看他干什么。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;回家的路，安婧开车，山伢子把李云华梦境的情况告诉了霍晓荧和古芊芊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊颇为愤慨地说道：“这个杜云华怎么这样！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“家务事，外人很难分对错，即使是梦境，也是倾向自己有利的方面去演示，咱们不管他的家事，看他想怎么折腾。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子转回身看着霍晓荧问道：“你的法力好像提升了不少，是不是？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是你妹！”古芊芊先急了，因为心虚。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一愣，不解地问道：“干嘛骂人呐？我是感觉她的法力提升了好多嘛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“我没有魂力可以觉醒，所以只能你们更勤奋才行。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧回头看了霍晓荧一眼，霍晓荧说她：“看什么看，专心开车。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧对山伢子说：晓荧姐是提升了很多法力，这不正常，提升得太快了，再怎么勤奋也达不到这种程度。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子转回身，看着前方，装作没事儿人一样，在心里答道：唐召义会一种功法，吸活人元阳炼化，以此来提升法力，我怀疑晓荧用了这种功法。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧皱眉，半晌后才说道：修炼这种功法不会造恶业吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：她是为了帮我，眼下危机四伏，她没有时间正常修炼，算造了恶业，我替她扛。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧忍不住看了山伢子一眼，说道：赏善罚恶是地府的事，是你想替谁扛，能替谁扛的吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子没有回答，目视着前方。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;的小说站！
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>