<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第133章：没找着</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第133章：没找着
</div>
<div class="bookname">
	<h1>第133章：没找着</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第133章：没找着<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“要我说，你脑袋里才缺根弦儿，鬼是能进去，可小莹不是应该被关在什么器皿里吗？器皿怎么进房间？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊眨了眨眼睛，嗔道：“你闭嘴！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;到了二楼，先去的右边，开了南面的房间，一进去就看到张小莹的手机放在电视机柜上，但没看到张小莹，也没有任何疑似囚魂的器皿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子瞬间觉得心里拔凉拔凉的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊咬了下嘴唇儿，安慰山伢子：“别着急，还有三个房间，咱们再看看。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”山伢子答应，声音已经有些哽咽。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;又把其他三个把边儿的房间都看了一遍，也是什么都没有。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;三人回到发现手机的房间，山伢子左手拿着张小莹的手机，右手攥着自己的灵石，带着哭腔儿说道：“小莹，你在哪儿啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉，心里也起了急，嗔道：“一个大男人，碰上点儿事儿就哭鼻子，瞧你那点儿出息，哭有什么用，哭就能把人找回来吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子嚷道：“我愿意！你管得着吗？不是你家人，你当然不着急！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我咋不着急？”古芊芊也蹿儿了，使劲儿搡了山伢子一把，红着眼睛嚷道：“从一认识你就跟我过不去，我招你惹你了？我不着急我干嘛大晚上不睡觉，陪着你东跑西颠儿的！我怎么那么贱？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;看着古芊芊瞪圆了眼睛，眼泪顺着脸颊流下来，山伢子吸了吸鼻子，说道：“对不起，你别跟我一般见识，我是村儿里出来的，不会说话。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈敬龙却不理两人，在房间里转悠着看，犄角旮旯都不放过。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊狠狠地白了山伢子一眼，抬手抹了下眼泪，问道：“屈叔叔，你找什么呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈敬龙答道：“屋里有鬼气，但是我确定不了方位。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊问道：“是小莹姐吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子张大了眼睛，满脸期待地看着屈敬龙。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈敬龙皱眉，说道：“芊芊呐，你什么都不懂就不要乱说话，怎么可能是小莹呐？肯定是把手机放在这间屋里的鬼嘛，你上楼之前不是分析得很好嘛，这会儿怎么糊涂了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子跟古芊芊一同失望地叹了口气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈敬龙对山伢子说道：“孩子，说句你可能不爱听的话，有迹可寻时要抽丝剥茧，无迹可寻时就只能静观其变。等等吧，总会有消息的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子咬牙，这要换了别的什么人什么鬼，这种话他也会说，可这是小莹啊！他能等，小莹能等吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可不能等又能怎么样，除了这个手机之外，什么线索都没有，好歹上回舒静被人拘了魂，还让小莹的爷爷给递了张纸条儿呐。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈敬龙坐在单人沙发上，翘起二郎腿，双手交叉放在腿面儿上，琢磨了一会儿，说道：“抓走小莹，又把手机放在这里，这是为什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看着屈敬龙，他现在脑子不转，反应不过来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“他知道黄爷爷能找到手机。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈敬龙点头说道：“对。黄老有神识，能找到自己扎的东西，如果这个人知道黄老，知道黄老有神识，那这个人很可能也是莫林市的，没准儿咱们还认识。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“我只知道我家，您家，还有姬叔叔家，除了咱们三家，还有谁？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈敬龙沉默，好半天才说道：“你说的是五行世家，除了五行世家之外，还是有很多人的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;停了一会儿，屈敬龙又说道：“不过话又说回来，敢跟五行石的宿主叫板，恐怕也不会是普通人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊指着山伢子问屈敬龙：“他也是五行世家？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈敬龙答道：“这个我真不知道，我只知道，火行世家在三百年前亡于战乱，不过火行石再次现世，也说不准石庆山真就是孙家的后人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉，说道：“可他姓石啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈敬龙说道：“这孩子，孙家就不能有女儿吗？女儿嫁人不得随夫姓儿吗？再说了，三十年河东，三十年河西，何况已经三百多年了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”古芊芊答应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈敬龙长长地吁了口气，说道：“其实他是不是孙家后人并不重要，他是火行石宿主就足够了，我担心的是拥有木行石的霍家。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“霍家不是失踪一百多年了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“对呀。”屈敬龙说道：“你也说是失踪，到现在也没人再见过木行石，可火行石一出现，就有人这么折腾……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈敬龙没有把话说完，山伢子估计是因为没有任何证据，不好这样信口开河。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊问道：“为什么？咱们五行世家不是应该守望相助吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈敬龙眼中划过一丝诧异，一闪即灭，点头说道：“话是这么说，但是……人心隔肚皮，谁敢保准儿啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“对不起，我没时间跟你们讨论什么世家，我要去找小莹。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完转身要走，古芊芊拉住他问道：“你上哪儿找啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子琢磨了一下，答道：“我再去求求黄老，既然他有神识，总比我满世界跑着找要好点儿吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉，山伢子说得对，可现在这么晚了，黄爷爷肯定已经睡了，这时候儿去吵他，不但办不了事儿，还得被骂一顿，不过古芊芊也知道，山伢子是个牛脾气，肯定不会听她劝。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;正犹豫间，屈敬龙替古芊芊把话说了：“庆山，太晚了，黄老年纪大了，早就睡下了，你再等等，明天一早再去找黄老。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“我能等，小莹等不了。救人如救火，我认打认骂，只要黄老肯帮忙儿找小莹，咋着都行。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊抿嘴叹气，既为他对张小莹的情义感动，又为他这种莽撞的性子生气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈敬龙却呵呵一笑，说道：“好啊，有道是拼将一死酬知己，我就喜欢你这样儿重情重义的人，我陪你去，黄老要骂就骂吧，等骂痛快了，瞧在我的面子上，总得给帮忙儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子给屈敬龙鞠躬，说道：“谢谢屈叔叔。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不客气。”屈敬龙微笑着站起来，说道：“我们家是土行世家，火生土，就算我谁的忙儿都不帮，也得帮你的忙儿。”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>