<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第13章：不想忍气吞声</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第13章：不想忍气吞声
</div>
<div class="bookname">
	<h1>第13章：不想忍气吞声</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第13章：不想忍气吞声<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四皱眉，怎么还没完了了？问道：“又是张电工？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚姌看了他一眼，语气中有点儿不高兴：“我办事不会留尾巴。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四没说话，山伢子说道：“跟上回叫我魂儿的那个声音一样。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚姌说道：“我知道，我看见他了，我去找他。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子突然问道：“姌姨，你见没见过我亲爹？他叫石好顺。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚姌摇头：“没见过，怎么了？你觉着是你爹来叫你的魂儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不是。”山伢子摇头，不敢直视媚姌，低着头答道：“我梦见我爹了，穿得破破烂烂，还说他遭了报应。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚姌看徐四，是山伢子没跟他说？还是徐四没管这事儿？把魂儿招来问问不就知道了吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四解释道：“山伢子跟我说了，主要是跟灵石有关系，他爹说一辈子都想着拿灵石去换钱，所以遭了报应，我觉得吧……这事儿不能沾，怕惹祸。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”媚姌恍然，转而说道：“我去找那只老鬼问问，还真是没完没了了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“姌姨！”山伢子拉住媚姌的手，说道：“你别为了我去跟鬼打架，我……我怕你伤着。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚姌微笑，问道：“那怎么办？就让他隔三差五的来叫你的魂儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子认真地说道：“我抗着，我不跟他走就是了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚姌哑然失笑，摇头说道：“那可不成。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚姌推掉他的手，说道：“行了，别为我操心，我心里有数儿，这点儿事儿我还管得了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚姌消失了，山伢子有点儿起急，看着徐四问道：“四叔，你咋也不劝劝姌姨？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四一边儿准备食材一边儿答道：“劝啥？她又不是给我出头，我劝算怎么回事儿？去洗洗，待会儿该上客了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚姌到了坟地，对着一座坟说道：“王老鬼，你出来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一缕黑气从坟里冒出来，化作一个老头，长脸，眉毛稀疏，眼睛不大，鼻子挺长，大嘴叉儿，没说话先笑：“媚姌姑娘，找我有事儿啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚姌冷口冷面地说道：“上回你说你不知情，这回你怎么解释？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王老鬼一脸不解地问道：“啥事儿啊？媚姌姑娘，我这好好儿的在窝儿里睡觉，这几天都没出过门儿，你说的是啥事儿啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚姌蹙眉，这个王老鬼居然耍无赖，说道：“王老鬼，你好大岁数儿了，我看见你了，你又去叫石庆山的魂儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“媚姌姑娘！”王老鬼颇有些义正言辞：“老话儿说得好，拿贼拿脏，捉奸捉双，你光凭一句你看见了，就把事儿搁我头上，这有点儿欺负人吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚姌生气了，一张俏脸变得黢黑，王老鬼连忙说道：“媚姌，咱得讲道理，你不能仗着你厉害就想干嘛干嘛！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚姌阴森森地说道：“我念着往日的交情，没有当场抓住你，你倒会抵赖，那好，你给我记住，没下回！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚姌说完转身，王老鬼说道：“媚姌姑娘，等一会儿，我有话说。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚姌转回身看着他，王老鬼问道：“那孩子是你亲戚？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚姌反问道：“你这叫什么话？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王老鬼说道：“我只是有点儿不明白，你为啥那么护着那个憨小子？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚姌答道：“徐四的父亲救了我，那孩子是徐四的徒弟。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王老鬼呵呵一笑，说道：“多少年前的事儿了，啥时候儿是个头儿啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚姌说道：“那你倒是说说，你为啥想要那块儿石头？就算给了你，你有啥用？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王老鬼说道：“我不要他的石头，不管那是不是灵物，都不是我的东西，我虽然没有你经的事儿多，可我也知道那东西我得不着，我就是不希望咱们这个地方再出一个法师。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚姌一愣，王老鬼接着说道：“徐四的父亲救了你，你要还他家的情儿，这个好说，但他们徐家，到徐四这一辈儿，眼看着就要断子绝孙了，却弄来个憨小子接班儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王老鬼叹了口气：“媚姌，你是鬼，不是活人，别总跟活人搭个，尤其是懂法术的活人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚姌说道：“法师怎么了？要没有徐法师，我早在几十年前就被打散了，再者说，徐法师在世时，也没亏待过你们呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王老鬼嗤笑了一声，说道：“什么叫没亏待？规矩都是他定的，守规矩的当然没事儿，可问题是，都做了鬼了，还要守活人的规矩，凭什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚姌的身上溢出黑气，王老鬼呵呵一笑，说道：“你别生气，这也不是我一个人的意思，不信你就问问大伙儿，听听大伙儿怎么说。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚姌阴冷地问道：“没有法师的话，你们想干什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王老鬼答道：“不干什么，谁也翻不了天，无非就是不用忍气吞声，像那些冲着我坟头儿撒尿的小崽子，我能给他两巴掌，让他病上十天半个月的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚姌转身要走，王老鬼问道：“你这是啥意思？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚姌头也不回地答道：“咱们的话说完了，我的意思刚才就告诉你了，再去叫那孩子的魂儿，你的下场就跟那个姓张的一样。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;看着媚姌飘忽着走远，王老鬼皱起了眉头，这娘们儿太厉害，反正自己肯定是惹不起，而那个憨小子的灵物也不能就这么放弃，这事儿得找帮手儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;从过了十二点开始，陆陆续续地就开始上客了，但来的都是鬼，因为他们都是闻饭，而不是吃饭。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子忙里忙外地端饭送菜，心里纳闷儿，因为他看到徐四放钱的匣子有两个格儿，一个格儿里放真钱，另一个格儿里放冥币。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子不明白，拿真钱买食材赚冥币，这生意不得亏得底儿掉啊？为什么四叔这么多年还开着这个饭馆儿呐？就算房子是自己家的，可煤气水电加食材，不都得花钱买吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;况且给鬼吃的饭，既不是纸做的，也不是土做的，那可都是真材实料的大米白面，新鲜蔬菜呀！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个账，山伢子怎么都算不过来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;门口儿进来一个人，山伢子一愣，是上回那个办山货的方友同，按说这都小年儿了，他早该回钰县了，他……是人是鬼啊？
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>