<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第43章：血债血偿</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第43章：血债血偿
</div>
<div class="bookname">
	<h1>第43章：血债血偿</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第43章：血债血偿<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子手脚麻利的给客人打了包，然后关灯锁门，跟着徐四去了图伟家。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;图小东躺在床上，烧得脸和身上都微微发红，许茹萍哭得两只眼睛像破了皮的桃子一样，看见徐四进来，连忙站起身说道：“徐师傅，你可来了，这病咋还治不好呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四一边儿看着图小东一边儿答道：“如果是病，肯定能治好，就怕不是病，只是像病的样子，那肯定治不好。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”许茹萍答应，但不是很明白徐四这话的意思。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四伸手要去扒图小东的眼皮，山伢子下意识地惊叫道：“师父小心！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子被图小东蹦起来咬过，心里记着呐，所以担心图小东突然张口咬徐四。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四的手哆嗦了一下，因为一点儿心理准备都没有，但也没生气，知道山伢子是担心他，说道：“没事儿，既然发烧了，就说明那东西已经离开了，人的身体本来是平衡的，那东西在的时候不显，可一旦离开之后，人的身体就不平衡了，所以就会闹毛病。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子低声答应，有点儿后悔自己冒冒失失的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四扒开图小东的眼皮看了看，叫山伢子：“伢子，过来看看。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗳。”山伢子答应，凑过去看图小东的眼睛，发现图小东的眼珠发浑，眼眸深处像粘了一层薄膜似的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子不等徐四问，自己先说：“眼珠儿是浑的，里面像粘了粥油。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“这就是魂儿惊着了，小东还是个孩子，没什么抵抗力，被外来的东西挤了魂儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许茹萍慌着问道：“那咋整啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“没事儿。”徐四回答得很从容，从兜儿里掏出一个小玻璃瓶，里面装着液体，看着像汤水，拧开瓶盖，再掐开图小东的嘴，往嘴里倒一点儿，然后捋着喉咙给他顺下去，顺下去之后再往嘴里倒一点儿，再顺下去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如此反复，直到一小瓶汤水都顺进图小东的肚子里，徐四才说道：“歇个三五天就好了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许茹萍看着徐四手里的小玻璃瓶儿问道：“这是啥？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四答道“这是我徐家秘制的汤水，能安神定魂。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子心里了然，他刚才就觉得是安魂汤，看来安魂汤的作用不止是给快死的人喝。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;图伟皱眉，说道：“四哥，这……就算完了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四答道：“当然不算完，我得找着闹腾小东的那东西才行，要不然它隔三差五儿的来闹一回，小东还不得让它折腾死。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;图伟的眉头舒展开，他也是这样想的，他刚才还担心徐四只是把小东的毛病治好，等着下回有事儿再要钱呐。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四问道：“婶子呐？婶子最疼小东，孩子都病成这样儿了，怎么也没见着人？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;图伟一愣，徐四要不说，他还不觉得，还真是，妈最疼小东，整天心肝儿宝贝儿的，怎么这回小东病成这样儿，妈反倒不露面儿呐？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;图伟答道：“两三天不出屋儿了，就吃饭上厕所出来一会儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四琢磨了一下，说道：“走，看看婶子去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;图伟领着徐四到图家婶子房门前敲门，喊道：“妈，四哥来了，你出来见见。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;图家婶子在屋儿里没好气儿地答道：“来就来呗，不就是来给小东看病的吗？我不见，又不是没给钱，我见啥？他就是咱家花钱雇的人，把小东的病治好就行了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;图伟看徐四，徐四隔着门儿说道：“婶子，小东这不是病，是让邪祟给闹腾的，从来都是你最疼小东，这回为啥不着急上火啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;图家婶子嚷道：“你凭啥说我不着急上火？你看见了？你一个外人，别跟那儿扒瞎！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“图伟跟我说的，打从小东发烧那天起，你就不出屋儿了，为啥呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;图家婶子沉默了片刻，突然骂道：“滚犊子！你管得着吗？赶紧给我大孙子治病去，少跟我这儿撩骚儿！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“婶子，别骂人呐，要我说，孩子没事儿了，那邪祟怕是跑你身上去了吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;图家婶子骂道：“放你娘的狗臭屁，滚！小王八犊子，给你脸了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四又说道：“这样儿吧，婶子，你出来露个脸儿，我就把钱还给你家。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;图家婶子骂道：“滚犊子！我家不差钱儿，你拿着买棺材去吧！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;图伟心里开始突突了，自己的妈自己知道，小东的事儿还好说，毕竟是病了，医院都治不好，老家儿也没招儿，可钱的事儿上，怎么会这样说？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;自己的妈就爱两样儿，一个是小东，一个是钱，徐四说露一面儿就把钱退回来，以自己妈的脾气，那都得破门而出才对。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;图伟用惊慌无措的眼神看着徐四，徐四说道：“看我干啥，撞门吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;图伟当机立断，卯足了劲，‘咣’的一声把门撞开。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屋里黑着灯，图家婶子背对着门坐在床上，阴冷地说道：“真是成人儿了，撞自己妈的门，你这个不孝的牲口！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;图伟揉着肩膀儿看徐四，徐四看着图家婶子的背影儿说道：“别装了，说说吧，既然知道惹上了我，为啥还要在图家闹腾？到底怎么得罪你了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;图家婶子身子没动，头扭了过来，吓得图伟靠在了撞开的门上，瞪大了眼珠子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子也吓着了，胸口亮起了红光，在黑着灯的屋里分外显眼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四抬手按电灯开关儿，按了几下没反应，抬头看房顶才发现，只有灯头，没有灯泡儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;图家婶子的声音变得很年轻，咬牙切齿地说道：“血债血偿！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这四个字说出来，不光是图伟，连徐四心里都咯噔一下。凡是牵扯到血债，那都是不能度化的厉鬼，图家干什么了？怎么会惹上血债？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;见徐四看自己，图伟慌着说道：“我们啥也没干，我跟我媳妇儿每天就是上班儿下班儿，我俩一个单位，离得也近，所以连车都没买。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四皱眉，既然不是图伟夫妇，那就是图家婶子了，因为厉鬼是不会找错门儿、认错人的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四将目光转回图家婶子身上，问道：“什么血债？”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>