<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第232章：先调查一下</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第232章：先调查一下
</div>
<div class="bookname">
	<h1>第232章：先调查一下</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;&quot;第232章：先调查一下<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四收回目光，他不是要征求霍晓荧的意见，只是在考虑这件事的危险程度，才会下意识地看向霍晓荧，因为他想让山伢子去解决这件事。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然眼下风平浪静，黑衣人没有再闹腾，但所有的事情都会有始有终，黑衣人不会就这样销声匿迹，迟早还是会闹出别的动静儿来，所以山伢子还是要加紧修炼，多积累经验。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦……”霍晓荧反应过来，说道：“我明白了，放心，我跟山伢子办这事儿，跟他要十万！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四面无表情地对许三丈说道：“十万。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许三丈连磕巴儿都没打，说道：“行，转账可以吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧皱眉，嘟囔道：“要少了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“不忙，价钱先谈好，才能谈细节，如果细节谈不好，还是不能办。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许三丈皱眉，问道：“什么细节？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“第一，赵美蓉既然知道那三个人的姓名和住址，为什么让你去抓？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许三丈抢着说道：“我哪儿知道？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四没搭理他，接着说：“第二，赵美蓉为什么要跟你结冥婚？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许三丈又抢着说道：“我哪儿知道？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四又说：“第三，既然你说赵美蓉缠着你，那你怎么能顺利地来找我？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这回许三丈倒是回答了：“我早就想来找您，可她一直跟着我，连上厕所都跟着，今天不知道咋回事儿，晚上八点多突然就不见了，所以我赶紧跑来找您。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四点了点头，三个问题回答了一个，倒也不算一问三不知，说道：“你帮她抓人，那三个人分别叫什么名字，住什么地方，家里有没有什么特殊的东西？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许三丈明白徐四的意思，好歹他自己也是学了几年阴阳术的，赵美蓉不敢自己找上门儿去报仇，必然是因为害怕什么。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可许三丈是活人，他去抓人本身就是违法的事儿，他没有闲工儿夫在别人家细找细看，所以他也不知道那三个人家里有没有特殊的东西。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过三人的姓名和住址他倒是记得很清楚，告诉了徐四。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧问道：“我先去查查？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四答道：“让山伢子跟你一块儿去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许三丈一愣，随即反应过来，徐四是在跟鬼说话，就问道：“徐大师，那我呐？需要我做什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四答道：“你赶紧回去，别让赵美蓉起疑心，她是厉阴，你随时会有生命危险。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许三丈惊愕地瞪大了眼睛，说道：“你还让我回去？那我都跑出来了，再回去，万一被她发现了，我不是死定了？你就不能让我跟着你，直到事情解决吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四又掰手指头：“第一，我还没答应帮你，我只是让我徒弟跟我干闺女去查看一下。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“第二，你以为你能挺到现在，是人家喜欢你吗？我估摸着，赵美蓉不仅是想利用你报仇，可能还想跟你学点儿啥，这也许就是她非要跟你结冥婚的原因之一。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“第三，你虽然没有鬼眼，可能也不能主动接触到鬼魂，但如果你死了，你的魂力会大增，赵美蓉可能都打不过你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“所以呐，你先回去，不管她发现没发现，你至少还有一个解释的机会，但你如果不回去，那赵美蓉肯定能想到你来找我了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我把话撂在这儿，如果弄到这一步，让赵美蓉找上门儿来，那这事儿我就不管了，你爱咋咋地。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许三丈站起身抱拳，说道：“受教了，告辞，只要事情解决，酬劳即刻奉上。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四点了下头，还是跟江湖人打交道痛快，说话也省事儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧叫着山伢子先去了第一个人的住处，xx小区，一个老式小区，这人姓卢，叫卢自强。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;因为是夏天，很多人在楼下乘凉聊天儿，下棋的、打牌的、侃大山的、跳舞的，非常热闹。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“你等我，我上去看看。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不行。”山伢子拉住她，说道：“赵美蓉都不敢来，我哪敢让你上去？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“我不是戴着火行石嘛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“那也不行。”山伢子态度很坚决，说道：“你给我打掩护，我上去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧伸手要摘火行石，山伢子又说道：“你戴着，我有童子眉。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你有个屁！”霍晓荧嗔道：“童子才有童子眉，你上哪儿弄童子眉去？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦……对。”山伢子嘿嘿一笑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧白了他一眼，山伢子说道：“还是你戴着，我阳气重，就算不是童子了，真阳涎也管用，待会儿你还得开门儿呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所谓打掩护，就是鬼蒙眼，霍晓荧去蒙住可能注意到山伢子的人的眼睛，让山伢子像幽灵一样进入了单元楼道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;到了房门前，霍晓荧伸手进去开了门，然后轻轻地将门拉开一道缝儿，屋里黑着灯。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子微一皱眉，家里没人？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“我没感觉到什么奇怪的气场，你先进去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完将门拉开了些，山伢子走了进去，霍晓荧跟着进来，然后轻轻地关上了房门。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屋里特别的黑，黑到山伢子什么都看不见，但又不敢开灯，也不敢拿出手机来照亮，只能用耳朵听。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;听了一会儿，没有任何声音，轻声问道：“小莹，你能看见吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧轻声答道：“看不见，你用手机照亮儿吧，反正要是有人的话，我帮你蒙他的眼，如果有鬼或是邪物，咱们干它就行了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”山伢子轻声答应，拿出手机，按亮了屏幕，调出手电筒打开，然后举起手机，骇然看到一颗骷髅头！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊！”霍晓荧惊叫一声，抱住了山伢子的脖子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子也吓得心头一颤，主要是因为没有思想准备，谁会想到普通人会在家里放一个骷髅头啊？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;稳当了一会儿，霍晓荧有点儿不好意思的说道：“我没心理准备。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子抚着她的后背说道：“我也吓一跳，谁能想到普通人会在家里放这种东西。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是啊。”霍晓荧放开山伢子，转回身走到放骷髅头的鞋柜前，吸了下鼻子，说道：“这不是工艺品，是真的！”&quot;
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>