<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第465章：出大血</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第465章：出大血
</div>
<div class="bookname">
	<h1>第465章：出大血</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第465章：出大血<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“没事儿，以他家为中心，看周围离得最近的医院在哪儿，咱们去急诊找就行了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧点头，说道：“那现在就去吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两人走了，半个多小时以后，洪拓的鬼兄弟陆续回来，告诉山伢子，那些人买了烧纸就直接回家了，这些人清一色都是独居，反正没看见家里有别人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这些人回到家后，无一例外的，都是把烧纸吃了，只是吃的方法不同，有的是直接嚼着吃了，有的是用水煮一下，煮成糊糊喝下去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子跟邢宽面面相觑，邢宽说道：“等洪大哥回来吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两人又等了半个小时，洪拓和霍晓荧回来了，说是找到了和勇，洪拓把和勇的生魂拘出来问了情况。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;和勇说，他之所以加入省亲会，是因为他老婆黄艳萍去世一年多以后，某天晚上他梦见了她。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黄艳萍在梦里告诉和勇，说有这么个省亲会，还说明天晚上七点以后，有位关道长会给和勇打电话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;本来和勇以为这只是个梦，也没当回事儿，结果第二天晚上七点半，果然有个自称是关道长的人给他打了电话，约他去会所见面。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;和勇很诧异，接完电话就去了，跟关道长聊了一个多小时，关道长说入会费要五千，这五千块是用来招魂的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;之后每月要交五百元的会费，而且每次与亲人见面之后，会所都会提供功德箱，但捐不捐功德全凭自愿，还说入会费可以见过亲人之后再交。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;抱着试一试的心理，和勇参加了当月十三号的省亲会，见到了他老婆黄艳萍。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;震惊之余，和勇怀疑自己被人下药了，所以第二天就去了医院做检查，特意强调要查自己是不是被人下了迷幻药。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是检查结果一切正常，和勇的世界观崩塌了……<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;于是和勇入了会，交了钱，每月十三号都去会所跟他老婆见面，但是因为他女儿和娟要上大学，而他的工资又不多，所以每次他都不捐功德。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这样过了一年多，最近两个月，他老婆没再来，后面的事就是霍晓荧知道的了，关道长说他老婆投胎去了，而且要再招魂的话，要五万块钱。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;和勇之所以选择自杀，是因为要为女儿着想，他纠结了两天，觉得不能卖房，房卖了就买不回来了，好歹得给女儿留个挡风遮雨的窝呀。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;和勇想着，他还有些积蓄，留给女儿，省着点儿花，上完大学是没问题的，而且有这套房，女儿上完学去工作，她可以住单位宿舍，把这套房租出去，每个月还能有一笔收入。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以和勇决定不拖累女儿了，也别花钱招魂了，直接去找黄艳萍吧，可是没想到，居然被人给救了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当时和勇用怀疑的目光看洪拓，说自己精心安排的事情被破坏了，不但没死成，还要花一笔医药费，这是雪上加霜！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓坦然说道：“我们不知道，我是扎纸店老板的朋友，他就是觉得你去买烧纸很奇怪，所以让我们来问问。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧却冷冰冰地怼道：“你还精心安排？生孩子随你高兴，想生就生了，死也随你高兴，想死就死了，你真心为你女儿想过吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你知道家是什么概念吗？你把你女儿孤零零地留在人世，她才上大一，以后不管是伤心难过，还是受了委屈，她连个说的人都没有，自私到你这个份儿上，活该你让人骗！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;和勇不明白霍晓荧说的让人骗是什么意思，他的确是见到他老婆了呀，而且还见了一年多。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓给他解释，霍晓荧说他被骗，指的是招魂要收五万块钱的事，实际上招魂这种小法术，收五百块都是多的，一般都是附带赠送的项目。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而且洪拓认为，正是因为和勇抠儿，从来不捐功德，所以那个关道长把他老婆给拘起来了，为得就是让和勇出回大血。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完了这些，洪拓对山伢子说道：“姓关的对我和晓荧肯定是起疑心了，因为按照和勇的说法，晓荧跟姓关的说想让自己的老公见着自己，那姓关的就应该跟晓荧好好儿谈一谈，还得了解活人的情况，但是姓关的什么表示都没有。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子点头，邢宽说道：“他要连这点儿警惕性都没有，也干不了这么大的事儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“黄艳萍的生日问出来了，骨灰存放的地点也问出来了，要她的骨灰吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子摇头，说道：“先用生辰八字招一下再说。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧拿出手机，突然笑了，晃了晃手机，说道：“这个可好用了，还有记事本儿呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;三人一同失笑，霍晓荧唬着脸嗔道：“笑什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子不说话，洪拓就说道：“笑你长不大。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嗤了一声，翻出记事簿，把黄艳萍的生辰念给山伢子听。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子找了张纸记下来，然后推算出生辰八字，念咒招了一下，没有招来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉想了一会儿，拿了张空符纸，用左手无名指的血把黄艳萍的名字和生辰八字写在上面。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢宽问道：“问地府啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”山伢子点头答应，说道：“我拿不准，还是问问踏实。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”邢宽点了下头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧用手背碰了洪拓一下，说道：“给我解释一下。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓给她解释，招不来魂，有可能是被拘了，也有可能真的是投胎了，所以山伢子想向地府问事，就是问问黄艳萍是不是投胎了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;问事的方法就是发签，山伢子写的那张符纸就是签，上面有黄艳萍的姓名和生辰八字，起坛作法，将签置于空碗中，如果签上的鬼去投胎了，姓名和生辰就会消失，如果没去投胎，就会无火自燃。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧愕然看着洪拓，诧异道：“这么神奇！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“也不一定，十回得有八回的结果是什么反应都没有。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧一愣，问道：“啥意思？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓看着她答道：“还能是啥意思，就是人家地府不搭理咱呗。”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>