<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第666章：准备下套儿</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第666章：准备下套儿
</div>
<div class="bookname">
	<h1>第666章：准备下套儿</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第666章：准备下套儿<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰青明皮笑肉不笑地嘿嘿了两声，答非所问地说道：“神仙老爷要休息呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是啊。”安婧随口答应，却伸手把山伢子咬了一口的苹果拿起来，放回到果盘里，咬掉的缺口对着贺兰青明。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰青明脸色一变，随即又换上笑脸，唯唯诺诺地说道：“要休息了……那就不打扰了，我先……我先回去了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧说道：“没关系，你有事就说呗。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“没事儿，没事儿。”贺兰青明一边说一边转身走，脚下一滑还差点儿摔了，猛忽闪了一下，头也不回地大步远去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧转回头，看到花梦容已经扎破了手尖，正掐着山伢子的嘴，挤着指尖把血一个劲儿往山伢子嘴里滴。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧说道：“行了，想把血滴干呐？灌口水把血送下去就行了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”花梦容答应，起身去倒了水，尝了水温，然后走回来端着杯子看看山伢子，然后又看安婧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧转到床的另一边，把山伢子掫起来靠在自己身上，说花梦容：“你说你能干啥？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容嗔道：“我能解毒。再说了，什么事儿都让我一个人干，还要你干啥？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;灌了两口水，不到一分钟，山伢子醒了过来，砸吧砸吧嘴，问道：“你们给我吃啥了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧答道：“还能吃啥，梦容的血呗。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看花梦容，花梦容眯眼笑，山伢子要起来，安婧伸手按住他，低声说道：“别动，装昏迷，看他们接下来干什么。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子低声问道：“那他们要是什么都不干呐？我就这么躺着呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧答道：“躺着，等芊芊姐回来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“那你把鞋给我脱了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧一愣，随即就手在他胸上拧了一把，嗔道：“你还想睡觉啊？万一他们来打架呐？你现穿鞋啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰青明三步并做两步地到了贺兰图家里，做贼似的轻声说道：“神女的男人吃了口苹果，放倒了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰图皱眉问道：“那两个丫头呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰青明答道：“那两个丫头没吃，我过去的时候，那个婧姑娘还特意把咬了一口的苹果冲着我放，好像是在暗示我什么。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰图沉着脸斥道：“废话，能给神女当男人，肯定也不是善岔儿，吃口苹果就晕了，人家能不怀疑吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰青明问道：“药下得太猛了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰图说道：“那是药娘，不下得猛点儿能行？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰青明又问道：“你老咋知道那个容姑娘是药娘？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰图答道：“神女带来的人，身上香得让人闻了心里直痒痒，不是药娘是啥？当年那个道士说过，只有药娘身上才会有沁人心脾的香味儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰青明的目光变得淫邪，感慨着说道：“那个小子真是艳福不浅呐！给神女当男人不算，还带着两个如花似玉的姑娘。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰图斜了他一眼，冷淡地说道：“你都这个岁数了，还有这闲心？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺青明嘿嘿笑了两声，说道：“老当益壮嘛……太叔公，你说神女能回来吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰图微微眯眼，好一会儿才摇了摇头，说道：“不好说，我本来是想让神女去收那条巨蟒，可没想到它吃了人之后居然引来了天雷。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺青明问道：“那它会不会跟神女告状？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰图阴笑着说道：“它是畜牲，咱们是人，你说神女会相信谁？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺青明皱眉说道：“可是咱们不是下药了嘛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺兰图说道：“咱们什么都不干，他们就是怀疑也没有证据，如果神女回不来……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺青明一脸兴奋地说道：“太叔公，要是神女回不来，抓住他们之后，那两个丫头先让我乐呵乐呵，行不？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧就在屋里站着，很想立刻将两人弄死，但还是忍住了，回到祠堂，把两人的对话一字不差地告诉了山伢子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子抄起杀生刃就要开干，被霍晓荧和安婧一前一后抱住，霍晓荧说道：“还不是时候，这事儿得合计一下。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧说道：“得勾着他们动手，才能知道谁该死，你总不能把整个村子都灭了吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧又说道：“还得问问清楚，当年那个道士是怎么回事，那条巨蟒又是怎么回事，你不能一碰上事儿就只想着杀人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧说道：“你先躺下，跟牛一样，怎么这么大劲儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李绣娘说道：“有人来了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧和霍晓荧一起把山伢子按到床上，霍晓荧斥道：“不许出声儿，不许动！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“容姑娘，婧姑娘。”贺青明站在窗边满脸堆笑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容用身子挡着山伢子，问道：“有事吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺青明答道：“族长让我来问问，神女出去好一会儿了，要不要带些人去看看，帮帮忙啥的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问安婧：你能制造幻象吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧反问道：你想干什么？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：带他们出去转一圈，让他们看到你跟芊芊都被巨蟒吞了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧点头，站起身看着贺青明说道：“是得去看看了，你叫两个人跟我走。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好，好。”贺青明连声答应，问道：“现在就走？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧答道：“现在就走。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贺青明叫人去了，花梦容问道：“为什么带人去找师母？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧答道：“我要用幻象让他们以为我和芊芊姐都被巨蟒吞了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容愕然问道：“那他们要是来抓我，我怎么办？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧答道：“随机应变嘛，有伢子和晓荧姐在呐，你怕啥？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;转头又对山伢子说道：“你继续装晕，等他们动手你再起来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子叮嘱道：你别真去找芊芊，她不用你帮忙，你走到那道山梁就行了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧浅笑着点头，答道：知道了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容嘟囔道：“你们又在说悄悄话呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧嗔道：“我还羡慕你能解毒呐，尺有所短，寸有所长，你事事都这么矫情，累不累啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容又嘟囔了一句谁也没听清的话，贺兰青明在外面喊道：“婧姑娘，人喊来了，咱们走吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“来了！”安婧答应，然后轻声对花梦容说道：“机灵点儿，最好能问出那个道士是怎么回事。”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>