<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第99章：出警</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第99章：出警
</div>
<div class="bookname">
	<h1>第99章：出警</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第99章：出警<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陆小天连搂带抱地弄着孕妇要出门儿，钟离愁抢一步拦在门口儿说道：“哥们儿，你报警了，你不能走。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陆小天急赤白脸地嚷道：“你看不见我这儿有事儿啊？就你这眼力见儿还开饭店呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁嗤了一声，说道：“小子，别跟我尥蹶子，跟我尥蹶子的人都没什么好下场。你要走可以，等警察来了，我就一五一十把你们的事儿跟警察说一遍，什么欠钱呐，什么王庆和啊，对了，我还知道你叫陆小天。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陆小天皱眉，一时松了神儿，孕妇一把搡开他，抄起邻桌一个啤酒瓶子，直接朝张俪丹摔了过去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;啤酒瓶子打在张俪丹脑门儿上，掉在地上摔碎了，张俪丹捂着脑门儿尖叫道：“南怡欣！你他妈有病啊？你问问陆小天儿，是我勾引他，还是他跪在地上求我跟他好！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陆小天回头骂道：“你他妈说啥呐！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四并不在意他们的吵闹，实际上吃饭的人也都不在意，防火防盗防闺蜜嘛，一听就是又一起闺蜜间的爱恨情仇，不新鲜了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唯独觉得有点儿担心的，是邻近吃饭的几桌人，刚才就差点儿让啤酒瓶子抡着，所以几乎都是赶忙吃两口，结账走人了，而等位的客人也不过来坐，说不介意再等会儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四关注的是刘金宝，从看到身份证儿那一刻开始，刘金宝就一直保持着一个姿势，左手举着身份证儿，右手拎着破酒瓶子，两眼儿发直，嘴里小声儿念叨。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个状态不是正常的迷茫状态，而是混乱状态，如果是迷茫，那他只需要缓和情绪，可混乱状态，就会有无数的可能性，所以徐四紧盯着刘金宝。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;实际上就眼下的情况来说，应该把刘金宝带走，带到一个安静的地方，不管是安慰还是引导，让他的神智恢复过来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可问题是陆小天报了警，刘金宝不能走，因为这种事没法跟警察解释，徐四也不能把刘金宝带去包间儿，以免产生有偏袒串供的嫌疑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹跟山伢子倒是在看热闹儿，毕竟年纪小，见过的事儿少，像这种三角恋的战斗场面，还是头一回见。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而姜悦玲却低垂着眼帘，静默地靠在楼梯边的墙角里，陆小天三人的这一幕，让她感触很深，或许当初她也应该像南怡欣这样大闹一场，即使没有道理，无法挽回，至少可以消解胸中的郁闷，减轻心里的伤痛。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;警车开了过来，两名警察走进来，看着骂成一团的三人听了一会儿，喝斥道：“都别吵了！这是公共场合儿，家庭矛盾回家去解决！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;南怡欣突然捂着肚子往下蹲，痛苦地喊叫。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陆小天着了慌，扶着南怡欣急切地问道：“怎么了？老婆你怎么了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一名警察掏出手机打电话，说道：“急救中心吗？年华路食味小厨餐厅，有一名孕妇需要急救。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;另一名警察看到刘金宝手里拎着酒瓶子，指着刘金宝说道：“同志，你怎么回事儿？把酒瓶子放下，这个东西很危险！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘金宝像没听见一样，还是两眼儿发直地盯着自己的身份证儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;警察慢慢靠近，同时示意徐四退开。徐四退开了，警察接近刘金宝，声音温和地说道：“小伙子，听我说，这个酒瓶子碎了，容易剌着手，你把它给我，行不？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘金宝不吭声儿，断电了似的，警察伸出手，缓慢地够向刘金宝的右手腕，直到将他手腕儿抓住，才松了口气，而刘金宝还是盯着身份证儿发呆。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;警察把酒瓶子从刘金宝手里拿下来，看了一下锋利的边缘，徐四说道：“没伤着人，酒瓶子给我吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;警察把酒瓶子递向徐四，说道：“小心点儿，别剌着手。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“知道。”徐四答应，把酒瓶子接过去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;警察问徐四：“怎么回事儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四把酒瓶子扔进垃圾筒里，指了下陆小天，说道：“他报的警。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四简单把情况介绍了一下，警察问刘金宝：“刘金宝，你没事儿吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘金宝抬起头看着警察说道：“我叫刘金宝？那为什么我觉得自己叫王庆和呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;另一名警察也走了过来，问道：“什么情况？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;头一名警察对刘金宝说道：“刘金宝，我们是警察，现在我们要带你去医院做检查，你明白吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;另一名警察看了一眼刘金宝手里的身份证儿，掏出手机打电话，说道：“查找一下，姓名刘金宝，XX年生人，家住……XX大街XX小区XX……想办法联系他的家属，让他的家属去XX医院，打我的手机联系。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;打完了电话，跟头一名警察一人一边搀着刘金宝说道：“刘金宝，别怕啊，我们是警察，我们带你去医院做个检查，检查一下你有没有受伤，听话啊，跟我们走。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子挪到徐四身边儿，轻声问道：“就这么让他走了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四没说话，警察都来了，他能有什么办法？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;警察带着刘金宝走了，没一会儿，救护车也来了，把南怡欣也拉走了，陆小天跟着救护车走了，而张俪丹也哭着离开了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;回到包间儿，坐下后，钟离愁说道：“瞧见了吧，我这个店就是这样，人多事儿也多，当然，这种事儿不是天天有，要是天天有就没法儿干了，不过要是开了夜市，恐怕这种事儿的概率要增加。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四点了点头，对于今天晚上的事儿，徐四有点儿拿不准，因为可以说是碰巧了，也可以说是想抢灵石的人给他们来了个下马威。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;毕竟他们是刚到莫林市，而刘金宝赶着赶着地追到了这里，最蹊跷的是南怡欣，挺着个大肚子，自己一个人找到这里来，如果这仅仅是一个巧合，那也未免太巧了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过呐，既来之则安之，徐四说道：“没关系，开门儿做生意嘛，什么事儿都能碰上，要是怕麻烦，也就挣不了这份儿钱了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁说道：“师兄，我没别的意思，我就是给你提个醒儿，不过今天这事儿也真是巧了，我都有一年多没碰上过这样的事儿了。”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>