<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第329章：灵物认主</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第329章：灵物认主
</div>
<div class="bookname">
	<h1>第329章：灵物认主</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第329章：灵物认主<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫泓杰跟莫震西同时一愣。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧也愣了一下，但随即明白，光说是干女儿的丈夫，分量不够，只有亲生女儿才有威慑力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵看着莫泓杰说道：“一人一鬼，双阴抱阳，你们莫家也是法术世家，不用我解释吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫泓杰的脸色变了两变，一星期前，有人给莫家打电话，说火行石宿主不是孙家传人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只有这一句话，莫泓杰听到这个消息后，便动了心思，既然不是孙家传人，那火行石就失去了世代相传的意义，他们莫家也是仙茗山嫡传弟子的后代，也有资格继承火行石。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫泓杰找人查了一下山伢子的情况，得到的信息让他很吃惊，因为山伢子什么背景都没有，就是个小山村里出来的土包子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以莫泓杰根本没拿山伢子当回事儿，就让莫思哲跟荆少华来了莫林市，只是没有想到，他只查了山伢子过去的背景，没有查现在的背景。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;因为任谁也想不到，刚出山沟不到一年的土包子，居然能登堂入室，做了古家的上门儿女婿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵又说道：“年轻人火气大，磕碰在所难免，可是……身藏凶器算怎么回事儿？是抢东西还是要人命？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫泓杰连忙说道：“韩掌门不要误会，那不过是防身之物，思哲那孩子并不是存心伤人，他跟我说了当时的情况，他不是石庆山的对手，被打急了，事后他也很后悔，况且他也受了很重的内伤。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”韩慕灵一脸恍然地说道：“你不提我倒真忘了，打伤莫思哲的不是我女婿，而是另有其人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫泓杰又愣住，用疑惑的目光看着韩慕灵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵说道：“是一只过百年，有道行的鬼，他叫洪拓，是道门弟子，我只知道他的师父是广明真人，何门何派不清楚……当时莫思哲伤了石庆山，洪拓赶上前救护，莫思哲用匕首上的血攻击洪拓，所以才被洪拓打伤。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫泓杰皱紧了眉头，转过身怒视着莫震西，莫思哲是他的私生子，还是跟有夫之妇生的，本来莫泓杰是不想认这个孙子的，但没想到莫思哲天分不错，所以才认下，可没想到，头一回出门办事，就弄成这个样子！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这种事最怕信息不对等，韩慕灵说的这个情况，莫泓杰根本就不知道！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫震西低声说道：“他跟我也没说实话，他就说是被石庆山打的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫泓杰咬着牙狠狠地瞪了莫震西一眼，他明白莫思哲为什么撒谎，因为说成是被石庆山打的，至少双方可以扯平。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可问题是，那个百年老鬼不会帮你圆谎，这种谎撒得有什么意义？有法术的天分，却没有一个正常人的脑子？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;或者根本就是太怂了，敢做不敢当。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫泓杰转回来，换上笑脸看着韩慕灵，说道：“韩掌门，错都在我们，您说一个法子，咱们把事情解决了，小孩子不懂事，您多包涵。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵唤道：“小梅，上茶。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗳！”梅姨大声答应，片刻后将泡好的茶端上来，给了韩慕灵一盏，给了莫泓杰一盏。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵端起茶抿了一口，放下后才说道：“我想知道，是谁让你们找石庆山的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫泓杰也没有隐瞒，把真实的情况告诉了韩慕灵，最后说道：“韩掌门，我没有必要隐瞒什么，我的理由是正当的，我们莫家是嫡传弟子的后代，火行，既然孙家已经灭门，火行石就应该由我们家来传承。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵看着他说道：“灵物认主的道理你懂吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫泓杰说道：“那要看怎么说了，或许也会认我们家呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好。”韩慕灵点头，对霍晓荧说道：“去把伢子跟芊芊叫下来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是。”霍晓荧起身上楼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;到了楼上，霍晓荧简短地把情况说了一下，然后把火行石抻出来托在掌心里，小声儿对火行石说道：“火行石，有人要把你抢走，一会儿你可要机灵点儿，千万别让坏人把你抢走了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊用怪异的目光看着霍晓荧，霍晓荧说道：“它能听懂，你的水行石也能听懂，你要把它当成自己的孩子一样，它才会高兴。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉，说道：“姐，你想当妈想疯了吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是啊。”霍晓荧很严肃地点头，说道：“我是想疯了，你啥时候生啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“讨厌！”古芊芊皱眉嗔笑，她挤兑霍晓荧，反倒把自己绕进去了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说她们俩：“你们女人啥时候都有闲心闹是吗？真是闲得蛋疼。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧接口嗔道：“就你有蛋，我们都没有！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哈！”古芊芊笑得声音有点儿大，赶紧捂住了嘴。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“别闹了，赶紧下去，灵姨还等着呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;三人下了楼，莫泓杰站了起来，面带微笑地说道：“小石啊，对不住啊，我没有管教好自家的孩子，让你受委屈了，可惜我没找着那个臭小子，不能让他来当面向你赔罪。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵看着山伢子，莫泓杰这话里有套儿，他无非是说莫思哲被抓了，只要山伢子答得不合适，他就能顺着话头儿把真正想说的话说出来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过韩慕灵没什么可担心的，就算当面承认，是她派人把莫思哲跟荆少华控制起来的，也没什么，就凭莫家，还不敢、也不能把她怎么样，韩慕灵只想看看山伢子这回能不能反应过来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“老爷子，我是个山沟里出来的土包子，也不会说个话，您老别挑理啊……我觉得吧，什么赔不赔罪的都挺虚的，不实惠，您干脆赔我点儿钱得了，你看我媳妇儿家这么阔，把我比得都抬不起头来，您老就当是给我帮回忙儿，嗯……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子假装琢磨了一下，说道：“这么着吧，啥都算上，什么医药费呀，误工费呀，精神损失费呀，对了，还有整形费，您说我这还没结婚呐，肚子上先落一个疤，我是不得去整整形啊？您就赔我一百万吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“一百万？”莫泓杰愕然看向韩慕灵，他绝不相信这些话是这个土包子自己想出来的，肯定是韩慕灵事先教的！
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>