<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第42章：走了</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第42章：走了
</div>
<div class="bookname">
	<h1>第42章：走了</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第42章：走了<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子觉得媚姌今天有点儿怪，跟着要进后厨，媚姌停步转身，说道：“伢子，我跟你师父有话说，你别进来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子答应，看着媚姌转身进了后厨。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子是个懂事的，既然不想让他听，那他就不听，又回到门口儿坐下，看着玻璃门外面。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;过了没一会儿，隐约听见徐四好像哭了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子愕然站起身，向后厨门口儿走了两步又停下，姌姨不让他进去，他还是别进去了，反正姌姨也不会欺负四叔，他们两个认识的时间比跟他可长太多了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;又过了一会儿，媚姌走了出来，山伢子站了起来，看着媚姌。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚姌走到山伢子身边停住，伸手抚了下山伢子的脸，露出一抹略带哀伤的笑容，温婉地说道：“伢子，姌姨走了，你要好好儿跟着你师父学本事。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子傻愣愣的答应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚姌收回手往外走，山伢子抢着拉开门，问道：“姌姨你不吃面了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚姌摇了下头，答道：“不吃了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚姌走了，山伢子心里突然很不舒服，听到徐四在身后说道：“把门儿关上，牌子翻过来，今儿晚上歇业了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子转身，看到徐四的眼睛通红，山伢子不敢问，把门关上，牌子翻过来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四长长地吁了口气，说道：“你等着，我去做一桌儿好菜，咱爷俩儿大吃一顿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子小心地问道：“为啥呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四答道：“你姌姨有喜事儿，咱们庆祝一下儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说完就回后厨了，山伢子有点儿发蒙，姌姨有喜事儿？那为啥四叔要哭呐？难道说姌姨要结冥婚嫁人了？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;回想刚才媚姌走时说话的样子，山伢子心里笃定的认为，姌姨兴许真的是要嫁人了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四忙活了一个多小时，做了几道硬菜，山蘑菇闷鸡、酥烧鱼、三丝烩虾仁儿、熏腔骨、糖醋小排，还有山伢子最爱吃的酸菜白肉炖血肠儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;看着一桌子硬菜，山伢子咽了咽口水，心想姌姨要嫁人了，四叔这是打算不过了，一共就俩人儿，整这一桌子硬菜，太糟蹋东西了！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四解了围裙，顺手放在柜台上，又到酒架子上拿了一瓶只剩下半瓶的酒，然后坐下说道：“来，坐下，咱爷俩儿喝一盅儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子坐下，说道：“师父，我不会喝酒。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四先给他倒了一盅儿，然后才说道：“我不是让你当酒鬼，酒这个东西，喝多了伤身误事，但偶尔喝一点儿，不仅能活血，还能提升自身的阳气。今天高兴，喝点儿，就一盅儿，反正也不营业了，吃完喝完就睡觉。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子心里愈发地不踏实，到底咋回事儿啊？可又不敢问，只能低着头坐着。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四倒完了酒，端起酒盅儿说道：“来，伢子，抿一口，祝你姌姨一路好走。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子答应，端起酒盅儿跟徐四碰了一下，然后抿了一口。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一股子酒精味儿直冲鼻端，山伢子咳了两声，咽下去之后，感觉从嗓子眼儿到胃里都火燎燎的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“你姌姨时辰到了，去投胎了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子猛然抬起头，愣愣地看着徐四，刚咽下去的酒，化成了眼泪涌出了眼眶。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果姌姨只是嫁人的话，那还有再见面的机会，可要是去投胎，那就再也见不着了，姌姨救过他三回命呐！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四眼圈儿也红了，但还是笑着说道：“这是喜事儿，来，开整！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这顿饭，山伢子吃得没滋拉味儿的，心里一直像堵了个东西，咽不下去也吐不出来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;四叔说得对，这是喜事儿，姌姨去投胎了，开始新的生活，也能好好儿的跟家人过年了，可这心里……<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;躺在床上，山伢子的眼泪止不住地流，虽然跟姌姨认识的时间不长，可却像娘一样亲，娘走了，姌姨也走了，蓦然冒出一个念头，将来有一天，后爹和四叔也会走的！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子蹭地坐了起来，心里疼得像刀绞一样，穿上衣服下了地，开门儿出来想透透气儿，却听到徐四在自己的房间里小声儿的哭。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子又轻手轻脚地回了屋儿，关好了房门，脱了衣服钻回被窝儿里。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不知道什么时候睡着的，第二天醒来的时候已经是下半晌儿了，洗漱之后进了后厨，看到徐四一如既往的在准备食材，山伢子站在一边闷声不响，心里还是难受。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“别掉着脸子，聚散随缘，日子还得过。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”山伢子沉闷的答应，停了一会儿问道：“师父，王大哥呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四答道：“走了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子沉默，也走了，都是过客，人这辈子，到底能留住啥呐？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;晚上九点多钟，图伟来了，提着点心匣子，进门儿陪着笑脸儿问山伢子：“你师父呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子喊徐四：“师父，图叔儿来了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四没应声儿，山伢子对图伟说道：“我师父忙着呐，叔儿你先坐会儿吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗳。”图伟笑得有点儿尴尬，找了个空桌儿坐了下来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;过了十几分钟，徐四挑帘儿出来，图伟连忙站了起来，徐四笑了笑，问道：“吃点儿什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;图伟说道：“四哥，我妈年纪大了，你别跟她计较，我们家小东发了两天高烧了，吊瓶也打了，药也吃了，就是不见好，四哥，还得请你去给看看。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“我有言在先，三万块钱，钱给我，二话没有，没钱，阎王老子来说情儿也没用。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;图伟打开夹包儿，拿出三沓子钱放在桌面儿上，说道：“我记得，带着呐，四哥，你消消气儿，毕竟咱们两家也是相识多年了，我妈她那脾气就那样儿，都这么大岁数儿了，改不了了，你多担待。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四点头，走到桌边拿了两万，说道：“行，你讲究，我也不能太操蛋，原先说的是两万，那一万是跟婶子较劲，既然你把话都说到这个份儿上了，那一万我就不能要了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完又对吃饭的人说道：“对不住啊，今天有事儿，东西给你打包行吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吃饭的答应道：“行，多少钱？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“事儿出在我这儿，这顿饭算我的，伢子，打包。”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>