<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第538章：腾房</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第538章：腾房
</div>
<div class="bookname">
	<h1>第538章：腾房</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第538章：腾房<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子走了，邢宽皱眉问道：“你干嘛呀？你都说那房子不好，那你还争它干什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹说道：“房子是伢子的，潘小龙占着，芊芊早不高兴了，可又不好说什么，毕竟是伢子的师弟，正好儿现在伢子让你‘弄’扎纸，借这个机会让潘小龙搬走。!”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢宽又说道：“潘小龙一个人在莫林学，也不容易。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“屁话！”龚钰丹嗔道：“我最烦听这种话，什么叫不容易？谁活着容易？你容易吗？伢子容易吗？凭什么潘小龙能拿着不容易说事儿占便宜？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢宽失笑，问道：“你们怎么都对潘小龙这么大意见？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹嗤道：“伢子有今天是拿命拼出来的，他潘小龙干什么了？屁都没干想赖着伢子得道升天？他是算‘鸡’呀？还是算犬呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;邢宽笑着摇头，说道：“行了别说了，越说越难听，反正伢子也答应让他腾房了，这样儿吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子回饭店后跟古芊芊和霍晓荧说房子的事儿，古芊芊抢着说道：“应该让邢宽去住，房子本来是黄爷爷的，既然你把黄爷爷的手艺转给了邢宽，房子也应该给人家，反正咱家不缼房子住。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子用异样的目光看她，古芊芊眼神闪烁地嗔道：“你这么看我干嘛？我说得不对吗？你要那破房子有什么用？将来爹和天心要想来莫林，给他们买新房子是了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子笑了笑，又看霍晓荧，霍晓荧不客气地说道：“赶紧让他腾房，我还是那句话，帮他可以，但要有个底线，他又不是你儿子。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好……”山伢子拖着长音答应，其实心里有点儿发怵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“你要是不好说，我去找梓航，我跟梓航说。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不用。”山伢子掏出手机，给潘小龙发了个信息。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;没几分钟，潘小龙打来电话，张口问道：“你啥意思？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“我把黄老的手艺传给邢宽了，那房子是黄老的……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你把手艺传给我呀！”潘小龙打断了山伢子，嚷道：“不是扎纸嘛，你早说给房呀，我接这手艺不完了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉叹气，说道：“小龙哥，你真的不行，你做的手机都……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“行了行了！”潘小龙再次打断山伢子，没好气儿地说道：“我给你腾房不完了嘛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完直接挂断了电话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子静默地坐着，这么多年，头一回觉得心寒了。古芊芊咬了下嘴‘唇’，伸手想去握山伢子的手，霍晓荧拉了她一下，古芊芊回头看她，霍晓荧摇了下头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧认为，这个时候什么都不要说，也不要打扰山伢子。有些事容易形成习惯，好像这么多年，潘小龙一直觉得自己山伢子强，一直在各种占山伢子的便宜，而山伢子也习以为常了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;很多事一旦成了习惯，再想扳回来难了，借着这次的机会，让山伢子自己想清楚，人都是要长大的，帮别人可以，先得把自己的气儿捋顺了，否则不是做好人，而是犯贱！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙挂了电话后，气哼哼地给赵梓航打电话，直接说道：“媳‘妇’儿，那房子不让咱住了，你马收拾东西，我这回去，咱搬走！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好。”赵梓航平淡地答应，什么都没有问，反正潘小龙要回来，回来再说吧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一个多小时，潘小龙怒气冲冲地回来了，赵梓航问他：“怎么回事？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙嚷道：“山伢子让咱们给邢宽和龚钰丹腾房子，说把黄老的手艺传给邢宽了，房子也应该给邢宽住，‘操’！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵梓航又问道：“为什么不传给你？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是说呀！”潘小龙气得脸都有点儿发红，嚷道：“不是扎纸吗？是个人能干，他早说给房呀，早说给房，黄老一死我跟他学了，现在说我不行，我咋不行？我练练不行了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵梓航沉默着收拾东西，潘小龙皱眉嚷道：“你咋不说话？你也觉得我不行是不是？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵梓航黑了脸，瞪着他斥道：“房子是人家的，借给你住是情分，不给你住是应该的，你有手有脚，懂法术会功夫，你不会自己去挣车挣房啊？整天盯着你师兄算怎么回事儿？他又不是你爹！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一番话怼得潘小龙低下了头，赵梓航嗔道：“怎么？怕自己本事不够啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙抿着嘴坐下，赵梓航又嗔道：“自己都没信心，怎么让别人信任你？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙皱眉瞪她，赵梓航斥道：“瞪什么瞪？我是鬼，我不要车不要房，吃不吃饭都两可，你行吗？你这辈子都指着你师兄养你啊？你不是还说要娶个活人媳‘妇’儿好传宗接待吗？也跟着你吃你师兄的，喝你师兄的，住你师兄的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙皱眉说道：“我也没说啥呀，你用得着说话这么难听吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵梓航坐下，看着他说道：“小龙，有些话我得跟你说，你要么好好儿学，将来找一份好工作，要么好好儿练功，从现在开始跟着你师兄办事儿挣钱。你别整天无所事事的闲晃，你虽然不是富二代，可你一般人要强得多，你有师父、有师兄，你接触的世界跟别人不一样，别自己把优势‘浪’费了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙低下了头，说道：“我师兄的事儿都太大，我帮不忙。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵梓航问道：“那扎纸店呐？你说的，扎纸店有你两成份子，你为什么连去都不去？整天是人家邢宽和龚钰丹在那儿看店，我让你去看看，你说怕影响人家谈情说爱。小龙，你换个角度想想，要是有人跟你这样儿，不干活儿白分你的钱，你愿不愿意？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙低下了头，赵梓航语重心长地说道：“老公，我知道，你跟你师兄这么多年，可能早习惯了，但现在不一样了，你师兄有家室了，店也不是你师兄一个人的，你不能觉得所有人都应该像你师兄一样对你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙眼一亮，问道：“你的意思是说，是有人撺掇伢子让咱们腾房？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵梓航一愣，片刻后站起来，隐身，穿墙走了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;的小说站！
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>