<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第199章：真死了</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第199章：真死了
</div>
<div class="bookname">
	<h1>第199章：真死了</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;&quot;第199章：真死了<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈长寿并没有急着给韩慕灵回话儿，图黛玉这么不给面儿，屈长寿心里有点儿搓火。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;随着时代的变迁，加上火行孙家和木行霍家的陨落，剩下的三家逐渐隐匿藏形，不敢再高调行事，所以时至今日，竟然会被图黛玉这种一**子不满，半**子晃荡的神棍轻视！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一开始张小莹给屈长寿打电话时，屈长寿的态度很晦涩，那是因为张小莹只是咨询，不是求他帮忙儿，况且，要‘求’也得是徐四开口才行，毕竟张小莹和山伢子还隔了一辈儿，屈长寿这么大岁数儿的人了，肯定不会主动伸这个头儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这回虽然徐四没有直接给他打电话，但毕竟是开口了，而且韩慕灵那儿也要有个妥善的交待，还是那句话，他这么大岁数儿的人了，要是连图黛玉都搞不定，是不是有点儿没多大活头儿了？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以屈长寿打算给图黛玉一个教训，让图黛玉明白，糖从哪头儿甜，醋打哪头儿酸！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;正琢磨着，电话响了，屈长寿接起来喂了一声，听到一个阴沉的声音说道：“图黛玉死了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈长寿一愣，问道：“你是谁？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;电话挂断了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈长寿赶紧按来电显示拨回去，响了两声，接电话的是一个女人，屈长寿问道：“刚才谁打得电话？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;女人很不客气的问道：“你谁呀？我这是公共电话！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈长寿厉声说道：“我派出所！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;女人立马态度转好，说道：“是个小伙子。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈长寿问道：“长什么样儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;女人答道：“戴着帽子和口罩儿，没看见脸，穿一身儿黑衣裤，手上还戴着黑手套儿，警察同志，这是坏人吧？要不怎么没脸见人呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈长寿皱眉，说道：“不要乱打听事儿，就这样儿吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;挂断了电话，屈长寿心里发紧，按女人的描述，打电话这个人，不就是抓张小莹那人吗？这是什么情况？他说图黛玉死了，这事儿准吗？按说应该是准的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可如果图黛玉死了，是怎么死的？九成儿是这个人杀的吧？可他为什么要杀图黛玉？就因为图黛玉跟徐四他们扛上了？可这个人不是一直在给徐四他们找事儿吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈长寿给屈敬龙打电话：“去xx会所看看，有人说图黛玉死了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;半个多小时以后，屈敬龙打来电话，说道：“会所外面停着警车，还有法医，我没敢靠前儿，但肯定是死人了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈长寿给韩慕灵打电话，把情况说了一下，韩慕灵又原话转告了徐四，让徐四关注这两天的新闻报道，以便确认信息的真伪。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四异常震惊，哪怕是屈长寿派人或是做法把图黛玉弄死，徐四都可以理解，黑衣人干的？为什么？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁敲着桌子说道：“师兄，别神游，说说咋回事儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四把情况告诉了钟离愁，钟离愁愣了半晌，说道：“精神病儿啊？他到底是哪头儿的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四没说话，黑衣人把图黛玉杀了，是为他们解决麻烦吗？还是要给他们制造更大的麻烦？因为他们不是普通人，不存在人死如灯灭，一了百了这种说法，往往死亡才是真正的开始。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;敲门声，钟离愁说道：“进！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;门推开，服务员说道：“前两天儿闹事儿那老俩口儿又来了，要见徐老板。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“带他们来吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四本来说的是让他们第二天晚上九点以后来，但两人吵架闹离婚，冷战了两天，所以今天才来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一进来，赵美蓉的父亲就拿出一千块钱放在桌面儿上，对钟离愁说道：“对不住啊，那天我老婆打了那个丫头，这就算是补偿吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“行。”钟离愁点头，对服务员说道：“把小张儿叫来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不一会儿，小张来了，钟离愁说道：“这是一千块钱，是这两位给你的精神损失费，那天我给了你二百，我扣了，给，这是八百，你数一下儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;小张接过钱嘟嘴道：“老板你真抠儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁瞪眼道：“废话，不抠儿怎么当老板，我要是整黄摊儿了，你们还上哪儿找我这么好的老板去？出去干活儿吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;小张离开后，徐四对赵美蓉的父亲说道：“咱们这就走吧，你女儿在我家，离着不远。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵美蓉的父亲说道：“不见了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老俩口儿这两天又打又吵，等冷静之后，彼此又互相检讨了一下，其实所有的事儿都怪不着别人，都是自己惹的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果不是嫌贫爱富，女儿就不会死，如果不是惦记着杨瑞的房子，女儿也不会死了都不安生。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以老俩口儿决定，不见了，既然已经阴阳两隔，那就来世再见吧，何必再节外生枝呐？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;况且，如果徐四真是一个懂法术的人，那谁又能保证让他们见到的，就一定是他们的女儿呐？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;倒还不如摆出一个相信徐四的姿态，如果女儿真在徐四手里，还能少遭罪，这就是所谓的投鼠忌器嘛。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四浅笑了一下，他心里明白这老俩口儿是怎么想的，说道：“不见也好，毕竟是阴阳两隔，见不见的也没什么意义了，好好儿过日子，你们岁数儿也不算太大，日子还长着呐，多积福报，为来世修个好因果。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵美蓉的父母走了以后，钟离愁打开电视各种换台，突然看到一条儿插播新闻：本市今晚九点二十分许，发生一起入室杀人恶性案件，死者是xx会所负责人图黛玉，及其雇员岳松山，现警方公开向社会征集线索……<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四和钟离愁都面无表情地盯着电视，新闻播报完好一会儿，钟离愁才扭头看着徐四说道：“真死了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四点头：“真死了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁又说道：“警方悬赏通缉的这人，就是抓小莹那人吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四答道：“应该是吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钟离愁感叹道：“这回警察又要辛苦了，这种人根本抓不到，我都觉得他压根儿就不是人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四没说话，警察能不能抓到人，他一点儿都不关心，而且那也不是他该关心的事儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四所担心的问题，是图黛玉这件事，到底是结束了，还是刚开了个头儿。&quot;<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;，更多精彩阅读，等你来发现哦。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;手机站:
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>