<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第175章：法力不够</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第175章：法力不够
</div>
<div class="bookname">
	<h1>第175章：法力不够</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;&quot;第175章：法力不够<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;讲完了灵的概念，屈长寿又说道：“但是法器的灵又与万物有灵中的灵不一样，法器分生灵和注灵两种。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;生灵，指的是法器用得时间久了，吸取了日月精华，人之血气，自身生出了灵性。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而注灵，则是在法器铸造之时，由铸造者通过滴入自身血肉，或是加持法力，强行将凡器转为法器。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;解释完之后，屈长寿问山伢子：“你师父的八卦镜属于哪一种？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子脑子有点儿发蒙，张小莹接口答道：“八卦镜是我干爹他们家祖传的，传到我干爹手里都不知道多少代了，估计我干爹也不清楚是哪一种。屈老，要不您把两种方法都教给我们行吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈长寿微笑着答道：“当然可以。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;生灵的话，就把法器当成一个魂看待，用招灵符招它，十有**能自己飞回来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;注灵的话，就相当于自己的血脉，用追灵符追它，确定它的位置。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹问道：“屈老，生灵比注灵要高级是吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈长寿微笑着点头，答道：“是。高级很多。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹眨了眨眼，又问道：“如果法器是从别人手里继承过来的呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈长寿答道：“也是追灵，除了生灵的法器之外，不管什么情况，都只能是追灵。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“招灵符和追灵符怎么画？您老能教教我吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹抬起手揉了揉印堂，以此来掩饰尴尬，虽然山伢子问得太直白了，但她也没想好怎么说这个问题。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四肯定是不知道招灵和追灵的，否则他们就不用来找屈长寿了，没办法，面子这种东西，跟自己的本事成正比。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈长寿对山伢子说道：“你年轻法力低，你师父应该还没敢教你关于灵的法术，这样吧，我今天就越俎代庖，替你师父给你上一课。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹浅笑了一下，果然姜是老的辣，屈长寿把话说得滴水不漏，给足了干爹面子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过张小莹有个疑问，徐四不会也就算了，徐家的列祖列宗也不会吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈长寿很耐心地把两个符咒的画法及用法教给了山伢子，从屈家出来的时候，已经快晚上十点了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹给徐四打电话，问徐四在哪儿呐。徐四说他在饭店准备夜市，八卦镜找不着就算了，不能再耽误了工作。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹带着山伢子回了家，山伢子虽然不明白为啥要回家，而不是去饭店找徐四，但也没有问，因为不想再被张小莹骂。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;到了家之后，张小莹对山伢子说道：“你用追灵符找八卦镜，我给你下包儿方便面去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子不得不问了：“为啥让我找啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹答道：“刚才打电话的时候，干爹连问都没问咱们在哪儿，他就不想知道这事儿。反正能找着就行呗，屈长寿又没说非得让干爹找，对了，这个给你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹把火行石摘下来，戴到山伢子脖子上，然后拍了拍山伢子的脸，说道：“乖乖地找啊，我去给你煮方便面。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹去了厨房，山伢子拿出采血针，在手指上扎了一下，用血在符纸上画了个追灵符。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈长寿说，童子眉不仅可以驱邪避祟，用来做画符的颜料，效果也是最好的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;画好符之后，再在自己的印堂上点上一滴血，然后打开窗户，把符放在窗台上，心里默想着八卦镜念咒。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;追灵符忽忽悠悠地飘了起来，在半空中停顿了一会儿，突然飞入了夜色中。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子连忙闭上了眼睛，脑海里瞬间闪现出一些纷乱的景象，但是闪得太快，根本不知道是什么，隐约像是街道和房屋。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;景象骤然停住，正中是一个二层楼，修得说圆不圆，说方不方的，半截围墙半截铁栏杆儿，大门是对开的栅栏门。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;突然一团火焰取代了景象，山伢子哎呀一声，捂着脑门子蹲在了地上，刚才那一下儿，感觉被人直接在脑子里捣了一拳，疼得心里直抽抽儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹倏然到了山伢子身边，抱住山伢子惊问道：“怎么了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“不知道，突然冒出一团火，脑子像被人捣了一拳似的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹二话不说，拿起电话就打给屈长寿，屈长寿听完之后，安慰张小莹：“没事儿，追灵符被对方发现了，小石看到的火，其实就是追灵符被烧了。他用自己的血画的符，又附了神识，符被攻击就相当于他被攻击，不过没关系，缓一会儿就好了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈长寿顿了一下，又说道：“小石还是法力偏低，而且太年轻，做事也不够谨慎，这样吧，我帮他找一下，你们有没有八卦镜的照片，给我传过来一张。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹答道：“没有。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈长寿说道：“那就不好办了，我得对八卦镜有个直观的印象，否则很难找。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹说道：“有只鬼告诉我们，有可能是图黛玉抢了八卦镜。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“老图？”屈长寿的声音有些意外，说道：“不会吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹问道：“您认识那位图法师？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈长寿答道：“同道中人嘛，总是有些交往的，要不要我给他打个电话问问？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹答道：“谢谢屈老，我们还是先确认一下吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈长寿说道：“也好，有需要就给我打电话。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹刚要道谢，屈长寿又说道：“对了，跟小石说，一个对时之内不要再用追灵符了，他的法力偏低，不能连续使用，要缓一缓。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹答道：“好，我知道了，谢谢屈老。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;挂断了电话，张小莹给山伢子糊拉后背，问道：“好点儿了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”山伢子答应，还抱着脑袋。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹搀他起来，说道：“走，回屋儿躺会儿去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子把眼睛睁开一道缝儿，往沙发那儿走，说道：“没事儿，我坐会儿就行了，缓过劲儿来，我再试试。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹说道：“屈老说了，一个对时之内不能再用追灵符，你法力不够。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子叹气，张小莹又说道：“叹啥气？你才多大，能这样儿就不错了，回屋儿！”&quot;<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;，更多精彩阅读，等你来发现哦。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;手机站:
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>