<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第408章：求证</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第408章：求证
</div>
<div class="bookname">
	<h1>第408章：求证</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第408章：求证<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊拿过霍晓荧手里的筷子，夹了一块放进嘴里，异香满盈，肉质松软，弹性十足，随着咀嚼，口中的津液犹如陈年的甘醇一样，顺着食道滑落，腹中温热，内息随之缓缓涌动。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓闪身出去，旋即回来，手里多了一把筷子，一人分一双，所有人都夹了一块。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿惊喜地说道：“哥，这是你做得最好吃的一次！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓看着徐四问道：“四哥，这是……成了吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四眼中含泪，面带笑容地点头答道：“成了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所有人都看着山伢子，不明白为什么在失去火行石之后，山伢子反倒做成了鬼食。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子把自己悟到的理论说了一遍，徐四叹了口气，他早就这样试过，可他没有做出来，看来还得是火行本质才能做到。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;或者，如果不是火行本质，就要付出数倍，甚至是十数倍的法力才能做到。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子又说道：“我以前太依赖火行石，总是琢磨着怎样提升法力，从来没想过别的，现在没有火行石了，我心里没底，就想得多了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四微笑着点头，说道：“这也算是塞翁失马，焉知非福吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两人说话的这会儿工夫，一盆肉被吃光了，古芊芊嘟嘴说道：“再去做一份，我就吃了一块儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹嗔道：“我一块儿都没吃着！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四看着她说道：“你不能吃，你是……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我是普通人！”龚钰丹嚷道：“我知道，不用说了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;嚷完拿起筷子夹自己那份还乡台，咬了一口说道：“明显没那么好吃了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王星却没在意东西好不好吃，只是觉得这个饭店的美女是真多，一个比一个漂亮，咋回事儿呐？为啥美女都撮堆儿呐？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;人都散了，山伢子又去给古芊芊做还乡台，龚钰丹斜了王星一眼，不耐烦地嗔怪道：“你吃完没有？磨叽什么呐？你不觉得你一个外人，还是个男的，跟我们这间屋待着不合适吗？就你这种眼力见儿，还当销售经理呐？你们是皮包公司吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王星放下碗筷，掏出一百块钱放在碗旁边，站起来说道：“不好意思，替我谢谢石大师，我先走了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王星离开后，古芊芊歪着头看着龚钰丹问道：“怎么了？生这么大气？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龚钰丹冷着脸说道：“人不给睡就算了，肉也不给吃。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊笑，说她：“你这不是吃着呐嘛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嗤道：“你就多余搭理她，你问问她，你俩要是掉个个儿，她给不给你睡。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊笑嗔道：“什么呀，伢子又不是床，什么给睡不给睡的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬家，姬北洋还没有休息，坐在院中的凉亭里出神。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人突然出现在视线内，姬北洋一惊回神，但没有动，凭他现在的法力，很难与黑衣人正面对抗，况且还不知道黑衣人来的目的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人走到一米左右的距离上停住，说道：“看见你还没有休息，就不请自来了，打扰了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋平淡地答道：“没关系，有话就直说吧，不用拐弯抹角。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人也不进来，就站在那里，说道：“火行石在我手里，但如果找不到合适的宿主，很快就会自行封印，再想打开，又要费一番工夫，我想请你替我保管一段时间，你儿媳妇是木行，可以维持火行石的活跃性。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋愣住，然后乐了，这也太可笑了吧？居然向他提这样的要求。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人说道：“你先别急着笑，我话还没说完。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋清了清嗓子，说道：“行，你说吧，我听着。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人说道：“你祖爷爷灭了孙家，抢了火行石，后来火行石自行封印了，你爷爷继承之后，一筹莫展，就把火行石又扔了，让它自己去找宿主。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋嗤了一声，也不争辩，因为扣帽子这种事儿，尤其是往祖辈头上扣帽子，根本就是扯淡。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人又说道：“你父亲灭了霍家，还杀了古木苍。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋说道：“这就太扯了吧？我爸在我小时候就死了。再说，我爸为什么要灭霍家？难道是为了抢木行石？我们家是金行，他要木行石干什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人说道：“你的这些问题应该去问你父亲，我给你三天时间查证和考虑，三天之后我再来找你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黑衣人转身，原路离去，姬北洋皱紧了眉头，父亲去世几十年了，他从来没有想过招父亲的魂回来，因为父亲从来没有回来看过他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们不是普通人家，父亲从不回来，想必是不愿再有牵绊，所以姬北洋也就不去打扰父亲。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可今天黑衣人说了这些话，姬北洋就不得不招父亲的魂了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;第二天，姬北洋早早起来，开着车去了墓地，因为父亲从不回来，所以家中已经没有父亲的遗物，骨灰也早已经入土为安，姬北洋也忘了父亲的生日是哪天。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;到了坟前，姬北洋焚香掐诀，片刻后，父亲出现，看着他问道：“这么多年了，怎么想起来见我了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋平淡地答道：“这么多年，你也没有回来看过我，我还每年都来扫墓祭奠，不算不敬吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬洪海笑了笑，说道：“我就是随口一问，何必这么大的怨气。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋依然平淡地说道：“我有没有怨气不重要，几十年了，我都快要入土了，我今天要见你，是因为有人找上我，告诉我一些事，我想求证一下。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬洪海点了点头，说道：“你说吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋问道：“我祖爷爷是不是灭了孙家，抢了火行石？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬洪海坦然答道：“是。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋张大了眼睛，半晌才又问道：“你灭了霍家，杀了古木苍？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是。”姬洪海连眼皮都没眨一下，仿佛早就料到姬北洋要问什么。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋一口气堵在胸口，憋得双眼发花，两耳尖鸣，好半天才缓过劲儿来，几乎嘶吼着问道：“为什么！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬北洋从来没有想过，这两桩跨越三百年的谜案，凶手竟然是他们家！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬洪海淡然一笑，依旧坦然地说道：“为了长生。”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>