<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第515章：情比金坚</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第515章：情比金坚
</div>
<div class="bookname">
	<h1>第515章：情比金坚</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第515章：情比金坚<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“我当然要来呀，一个是我老公，一个是我姐，我怎么能不来呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说着就伸手来拉霍晓荧的手，霍晓荧明显想往后躲，只是被山伢子抱着，没有躲开。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是古芊芊也感觉到了霍晓荧的排斥，手停在半路，愕然问道：“姐……你怎么了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧目光闪烁，慌乱地摇了摇头，说道：“没事儿……我……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧下意识地看向长生，长生说道：“他们是生魂，曼珠沙华的香气对他们不起作用。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧明显松了口气，露出了笑容，看着古芊芊说道：“没事儿，我就是吓着了，来，姐抱抱。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧轻轻推开山伢子，跟古芊芊抱在一起，轻抚着古芊芊的后背，柔声说道：“好宝贝，真是委屈你了，还要你跟着下一趟黄泉来找我。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉，贴着她的脸问道：“姐，你怎么怪怪的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“没有啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“有！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“咱们走吧，你俩回家再掰扯。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完一手拉一个，带着两人要转身，霍晓荧却拉住了山伢子，说道：“等一下。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;然后看着长生说道：“谢谢你，祝你早日等到她。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;长生的嘴边带着一抹忧伤的笑意，缓缓地点了下头，说道：“后会有期。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，长生又看着山伢子说道：“上穷碧落下黄泉，你做到了，情比金坚，鬼神难阻。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一愣，他这话里有话呀，说道：“告辞。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;长生拱手，看着山伢子说道：“有缘再会。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子又是一愣，想了想问道：“我们怎么出去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;长生抬手指向他身后，说道：“延着路走就能出去，八百里花海的尽头，就是黄泉的出口。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“多谢。”山伢子拉着两人转身，顺着路往回走。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧三步一回头，直到走出二里多地，霍晓荧还在回头，山伢子有点儿烦了，嗔道：“舍不得呀？总看什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧噗嗤一笑，说道：“好了……越来越会吃醋了，回家我跟你说。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊看了霍晓荧一眼，没说话，她现在反应过来了，长生说她跟山伢子是生魂，彼岸花的香气对他们不起作用，也就是说，对霍晓荧起作用。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊想起来了，她曾经在哪里看到过，说彼岸花的香气可以让鬼魂想起前世的事情。她前世对霍晓荧做过什么？霍晓荧为什么怕她？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;还有，长生对霍晓荧说得是后会有期，而对山伢子说得却是有缘再会，两个词虽然都有告别的意思，却有着本质上的不同。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;后会有期是一定还能再见面，但有缘再会却不一定还能再见着。如果不是长生口误的话，那就是山伢子跟霍晓荧的结局会不同。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;长生待在黄泉，可他是个男人，他总不会是孟婆吧？既然不是孟婆，却又待在黄泉，那他可能是地府的神职。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一趟下黄泉，让古芊芊顶心顶肺，难怪古人会说难得糊涂，有些事知道了，反倒不如不知道的好。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你们知道吗……”霍晓荧眺望着花海，幽幽说道：“这八百里花海，是长生亲手种的，他守候了千年，只为等花的主人归来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“八百里！”山伢子愕然看着她问道：“咱们要走八百里才能出去？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧哭笑不得地看着他，山伢子问道：“咋了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊失笑道：“傻就傻点儿吧，要不是这么傻，怎么会情比金坚呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧笑着答道：“说得对，傻点儿好。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子反应过来，不高兴地说道：“这有啥，我也能等你们一千年，就是不会种花儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两人一起笑，霍晓荧说道：“我相信。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊却说道：“人家等得是一个人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧笑意淡去，扭头看着花海。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;大路朝天，八百里连个转弯都没有，山伢子感叹：“这花儿种的……真够直的，他是咋量的呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧和古芊芊再次一同失笑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;醒来，古芊芊眨了眨眼睛，看着韩慕灵微笑着唤道：“妈。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;啪的一声，韩慕灵扇了古芊芊一个嘴巴，古木苍斥道：“干嘛呀你！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵吼道：“她是我生的！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊哇的一声哭了出来，霍晓荧赶紧抱住古芊芊，看着韩慕灵说道：“妈，都怪我，你别生芊芊的气，她还小，不懂父母的心情，等将来她自己生了孩子就会明白的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵一脸凶狠地说道：“走！去找欧阳埁那个王八羔子！我倒要看看他是哪个山头儿上的狍子，敢在太岁头上动土！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“妈，您别去了，我去找他，我弄死他！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵吼道：“我怎么不能去？一个是我干女儿，一个是我亲生的，他差点儿把你们都害死，我怎么不能去？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义说道：“人多像是欺负他。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你放屁！”韩慕灵斥道：“什么叫欺负？动了我的家人，他全家都别想活！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义皱眉，霍晓荧说道：“妈，情况很繁杂，您先别激动，我把事情的原委先说一下行吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵咬着牙粗重地喘息，徐四试探着说道：“慕灵……你先消消气儿，我给你泡杯花茶去去心火。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵依然怒视着古芊芊，徐四等了片刻，又轻声问道：“行吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“去呀！”韩慕灵转头瞪着徐四斥道：“磨叽什么！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四站起来出去了，古木苍不动声色地皱了下眉头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧把事情的经过详细说了一遍，所有人都皱起了眉头，霍晓荧又说道：“我觉得这个欧阳埁可能也跟火行石有关系，说不定跟素茗也有关系。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩慕灵咬牙切齿地说道：“一件小事都能弄成这样，这个素茗真是无孔不入！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子冷着脸说道：“要是这样倒好办了，不过又是一个莫家，就是比莫家强点儿，我去找他，看是他冲灵厉害，还是我冲灵厉害。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义说道：“我跟你去，他抢了我的霸王枪，我得要回来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所有人都看唐召义，他可是五百年的老鬼，霍晓荧刚才说的，是她被打落黄泉之前的事，唐召义被抢了霸王枪，她并不知道。
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>