<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第88章：谈心2</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第88章：谈心2
</div>
<div class="bookname">
	<h1>第88章：谈心2</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第88章：谈心2<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子愣住，有人盯上灵石这事儿他知道，在莫林市发生的一切，都已经证明了这件事的存在，只不过，山伢子没想到会这么严重。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“师父你知道是什么人吗？”山伢子很难相信，这件事会让师父这样一个，对于自己来说是神一样存在的人感到害怕，甚至开始考虑要抛家舍业，背景离乡地去避祸。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四摇头，答道：“我不知道。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子更蒙了，一脸茫然地看着徐四，连是谁都不知道就要逃走？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四叹了口气，说道：“我纠正一下，你脑子是挺笨的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;正因为不知道是谁，而对方却能不露痕迹地把他们师徒摸清楚，甚至是用本来不相干的人布下局！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那么无论是从智力还是能力上来讲，这都是一个可怕的对手，前所未有的对手，至少徐四没有碰到过这样的对手，甚至可以说是没有能力还击的对手。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，说道：“那他来抢不就完了吗？真干不过，我给他不就完了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四笑着摇头，这世上的事儿从来都不会这样简单，这不是一件传世的宝物，抢回去放在家里向亲戚朋友们显摆。这也不是一桩生意，干掉对手后自己接盘过来就能做。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这是一块儿灵石，不知出处，不知性能，不知危害的灵石。从张电工开始，一直到沐航他们的事，对手都是在测试，但不是测试他们师徒的本事，而是借由他们师徒，来测试这块儿灵石。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;否则的话，凭对手的实力，他们师徒可能早就死于非命了，或者，对方都不会让他们察觉到，某天醒来的时候，这块儿灵石就不易而飞了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱着眉头琢磨，半晌才问道：“那逃走就有用吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四嗤了一声，说道：“我啥时候说过‘逃’这个字？脑袋掉了碗大个疤，还能怎么样？我徐家不惹事儿，但从来不怕事儿！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四琢磨了一个月，把事情从头儿捋了一遍，张电工应该是第一次测试，而刘二梗却不好说，之后三年多的沉寂，应该是对方觉得山伢子太小，又什么都不会，不能完全激发灵石，所以对方才会在沉默中等待。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一次山伢子在送张小莹回家的时候碰上沐航，兴许是一次巧合，但徐四更倾向于是对方的布局。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;原因很简单，就凭王严那么一个芸芸众生之中无足轻重的小孩子，怎么可能请来灵鬼呐？而且还是一个无主游魂。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果对方的局能布得这么大，那这天下虽大，却已经没有了他们师徒的立锥之地！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;既然对方要测试，那就不如去个人多事儿多的地方，免得对方等得心急，再连累了镇上无辜的人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;从沐航的事件来看，对方是为达目的不择手段的，王严和骆小甜两个孩子，不但死了，还灰飞烟灭了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;靠山镇这么个小地方才几个人？一年到头儿又能有多少事儿？如果对方等得着急了，肯定会折腾事儿出来，那到最后倒霉的不就是这些老街坊吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以，徐四考虑要搬家，搬到大城市去，人多事儿多的地方去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其实，对方相要测试这块儿灵石，徐四又何尝不想？人活着就应该知道事儿，越是不容易知道的事儿越想知道，这叫好奇心，也叫催命符。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“伢子，这是你的命，你爹当年拿着这块儿灵石四处找人换钱，最后却落了个恶疾而亡，而这块儿灵石到了你身上之后，却保着你护着你，你就想想吧，如果当年它在你爹手上时能发一次光儿，那你爹可能早就把它换成钱了，你们家也早就过上好日子了，咱爷俩儿也就没这一出儿了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子沉默半晌，说道：“师父，我想招我爹的魂儿问问。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“我试过了，你爹的魂儿招不来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子愕然看着徐四，徐四笑了笑，有点儿苦涩，说道：“能试的我都试了，该考虑的我也考虑了，离开靠山镇是下下策，但凡还有一点儿别的选择，我是不会离开的，毕竟靠山镇是我们徐家祖祖辈辈生活的地方。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子咬着牙说道：“师父，我走。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四嗤了一声，说道：“没用的，实话告诉你，我很后悔当年收留你，如果知道有今天，我是不会管你的。但是，既然我已经沾上了，这辈子都甩不开，你要是自己走，第一个死的就会是我，因为我是知情者。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“师父，我……”山伢子眼圈儿泛红，他从来不想拖累别人，可却偏偏总在拖累师父。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四拍了拍山伢子的肩膀儿，说道：“行了，都长大成人了，还是动不动就哭鼻子，有啥可哭的？这是你的命，也是我的命，老天爷都给安排好了，要不咱爷俩儿也碰不上。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;顿了一下，又说道：“老话儿说，打虎亲兄弟，上阵父子兵，既然老天爷把咱爷俩儿绑在了一块儿，那咱爷俩儿就刀山一起上，火海一起闯，兴许阴差阳错的，还能把我徐家的法术发扬光大呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯！”山伢子重重地点头，吸了吸鼻子又说道：“师父，那小莹她……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你想干啥？”张小莹闪进屋里，她一直在外面听两人说话，徐四知道，山伢子却没注意。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“我……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你闭嘴！”张小莹直接斥断山伢子的话头，说道：“有道是拼将一死酬知己，更何况我本来就已经死了，无论是转世投胎，还是灰飞烟灰，反正都不会记得发生过的事情，你答应我要一辈子对我好的，你想赖账吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一把将张小莹抱在怀里，搂得紧紧的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹一愣，随即嗔道：“放手……放手呀！我给你脸了是吧？四叔！他占我便宜！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四笑着说道：“你知足吧，我要不跟这儿站着，估计都不是抱一抱这么简单了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹斜眼儿瞪徐四，嗔道：“老不正经的，伢子都是被你教坏了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;转而又斥道：“山伢子你给我放手！削你啊！”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>