<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第607章：不相信</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第607章：不相信
</div>
<div class="bookname">
	<h1>第607章：不相信</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第607章：不相信<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不到一个月，十万块钱造光了，石好顺又去找买火行石的那个人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;买火行石的人是个珠宝商贩，在钰县有个门面店，店面不大，但生意做得挺大。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;石好顺跑去吓唬人家，把冯月晴跟他说的话对那个珠宝商说了，中心意思就是说东西卖便宜了，让珠宝商再给他一笔钱。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;本来这么不靠谱儿的要求，不挨顿打都算是好的，可连冯月晴都没有想到，那个珠宝商居然又给了石好顺五万块钱。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子咬着牙问道：“十五万？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧咬了下嘴唇，答道：反正冯月晴是这么说的，她当时盯着你爹跟那个珠宝商，她的本意是想看看珠宝商收了火行石后会干什么，如果只是倒卖的话，她就要把火行石拿回来，等你长大了之后再还给你。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子咬了咬牙，十五万呐，这跟他记忆中的情形完全对不上！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧接着说，冯月晴觉得很诧异，就入了珠宝商的梦，问珠宝商为什么又给石好顺一笔钱？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;珠宝商回答说，干他们这一行的，碰到的奇怪事很多，本身收的这块石头就很特别，莫名的就会发热，再加上石好顺说得有鼻子有眼的，珠宝商心里很忐忑，反正也不差钱儿，求个心安呗。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;珠宝商还说，这个梦很真实，至少可以证明，石好顺在这件事上没有撒谎，果然是有仙女入梦。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;冯月晴又问珠宝商，打算怎么处理那块石头，珠宝商说现在看来，应该把石头还给石好顺，他不想惹麻烦，只想安心地做生意赚钱。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;冯月晴告诉珠宝商，石好顺已经把钱都花光了。珠宝商说没关系，就当是破财免灾了，只求仙女以后别来找他就行。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;没过几天，石好顺又来找珠宝商，这会倒不是吓唬，而是来借钱，说孩子生病了，急须一笔钱救命。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;珠宝商二话没说，直接把火行石还给他，还跟他说，钱不要了，石头拿回去，爱卖谁就卖谁去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;石好顺格外震惊，以为是火行石中有什么神灵在保佑他，就兴冲冲地拿去别家卖，可珠宝商早就通知了所有同行，再没人收他这块石头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;石好顺从贫到富，又迅速地回到赤贫的状态，心理上的落差太大，怄出了病，一病不起，死在了家里。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;冯月晴本以为这件事完了，火行石已经给了山伢子，只要静待它有朝一日解开封印就好了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是冯月晴没有想到，石好顺做了鬼之后也不消停，居然找到了冯月晴，说是一只老鬼告诉他，山伢子就是无名祖师转世，他是山伢子的爹，让冯月晴教他修炼，还要让冯月晴伺候他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱紧了眉头，安婧好多话都说得很委婉，自己的爹怎么会是这样的人？大声斥道：“我不相信！姓冯的胡说八道！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧低着头，霍晓荧皱眉，这么严重的事情，安婧完全没有必要说出来，坐壁上观就好了，反正伢子的爹被打入了无间界，也是招不回来的，为什么一定要说呐？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;必须要说的原因恐怕只有一个，那就是这件事瞒不住，可为什么瞒不住？是有人知道这件事，还是将来伢子魂力觉醒之后，能够找到他爹？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子大声说道：“我要见冯月晴！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧抿紧了嘴唇，但嘴唇还是轻微地颤动。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧问道：“婧婧，你跟冯月晴是什么关系？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧答道：“表姑。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，霍晓荧又问道：“你表姑为什么要告诉你这件事？她不是跟谁都没说过吗？完全可以不说的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧摇头，那天她回门派，冯月晴特意给她说了这件事，她当时就问冯月晴，既然没人知道，为什么要告诉她？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;冯月晴没有解释，只是跟她说，如果山伢子要为亲爹报仇，她愿意以死谢罪。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可这句话，安婧怎么都说不出口，至少在冯月晴陈述的事实中，石好顺该有此报。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可是，他再不好，毕竟是山伢子的亲爹。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉，怎么会这样，要是四叔还在就好了，现在谁能给山伢子宽宽心？难道真的为了一个不咋地的爹，就要跟安婧，甚至是整个素隐门在心里系疙瘩？值得吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子咬着牙皱着眉，他不相信他亲爹是这样的人，可是冯月晴又何必诬陷他爹？况且就算他爹是这样的人，打落黄泉也就算了，有必要非得打入无间界吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧站起来出去了，走到洪拓身边，把情况告诉洪拓。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓愕然说道：“这么严重？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“我有两个问题，第一，冯月晴为什么主动说出这件事？她完全可以不说。第二，为什么一定要打入无间界？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓沉思了一会儿，说道：“我只能猜测，主动说出来的原因，应该是这件事瞒不住，你想啊，最后石好顺去找冯月晴，不就是听一个老鬼说山伢子是无名祖师转世吗，那这个老鬼，十有八九就是素茗。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧点头，她刚才也想到这个可能性了，或许冯月晴害怕有朝一日，素茗用这件事离间山伢子跟素隐门，而这个‘有朝一日’，应该就是山伢子魂力觉醒之后。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓又说道：“关于你第二个问题的猜测，是基于第一个问题的准确性，如果真是素茗在搞鬼，那么只有打入无间界，才能彻底断绝石好顺跟素茗的联系。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦……”霍晓荧一脸恍然地点头，说道：“这回就说得通了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓笑了笑，说道：“这只是猜测。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“猜测也好啊，总是能说得通嘛，你去给伢子宽宽心。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓笑着说道：“你傻了？我是他妹夫，不是他师父，这种事你让我怎么开口？难道要我说，算了，反正你爹也不是正经人，别计较了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧瞪眼斥道：“谁让你这么说了？你这不是抬杠吗？你一个老鬼，连句宽心话都不会说？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓正色说道：“不是不会说，是不合适。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧不高兴地说道：“你就躲吧，屁忙都帮不上，要你有啥用！”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>