<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第11章：叫魂儿1</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第11章：叫魂儿1
</div>
<div class="bookname">
	<h1>第11章：叫魂儿1</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第11章：叫魂儿1<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;晚上十点多，媚姌到了食味小厨，因为外面有客人，所以直接进了后厨，徐四看了她一眼，没说话，接着炒菜。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚姌站在角落里，看着他问道：“你好像退步了，身体不舒服吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四答道：“活人总是会老的，等我做了鬼，也就不会再退步了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚姌沉默了片刻，说道：“我走了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“你还得去医院看看，我觉得张电工不会听你的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚姌叹了口气，消失了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夤夜时分，山伢子迷迷瞪瞪的听见有人叫他：“石庆山……石庆山……跟我走……跟我走……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子觉着自己睁开了眼睛，但眼前一片灰蒙蒙的，而且不管怎么用力，头都抬不起来，只看到自己的双腿，却看不到自己的脚，因为有一层浓雾浮在脚面上，像悬着空一样。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那个声音飘飘忽忽：“来……这边……跟我走……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子不自觉地跟着那个声音前行，走了一会儿，感觉好像到了一间房子前面，那个声音又说道：“进来……进来……进来……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看到一个黑乎乎的洞口，刚要迈步往里走，突然感觉被人拉了一把，忽悠一下就醒了过来，睁开眼睛，看到灰白的天花板。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;扭头，旁边本来空着的病床上，不知什么时候送进来一个人，身上插着各种管子，戴着氧气面罩儿，嗬呼嗬呼地喘着气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子心里慌得像揣了个兔子，眼皮子一个劲儿地猛跳，就算闭紧眼睛，再用手按着也阻止不了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;西边儿的坟地里，张电工指着媚姌骂道：“臭娘们儿，你管得也太宽了吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚姌没理他，看着他身边一只上了年纪的老鬼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老鬼慌着解释道：“媚姌姑娘，我不知道这里边儿还有你的事儿，这小子没跟我说那孩子跟你有关系。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张电工愕然看着老鬼问道：“你怕她什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老鬼答道：“如果我知道那孩子跟媚姌姑娘有关系，你就是多给我十倍的钱我也不会帮你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完又看着媚姌说道：“这事儿我不知道，就是图他那点儿钱，媚姌姑娘，我能走了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚姌叹了口气，点了点头，说道：“走吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚姌之所以叹气，是因为老鬼根本不知道是怎么回事儿，为了点儿钱就伤人害命，难怪他没人供养，估计生前也不是个什么好东西。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是媚姌不能连他一起收拾，罪魁祸首是张电工，没必要牵扯太多，否则自己能量再大，又能顶住几个鬼？无论是做人还是做鬼，总是朋友越多越好，敌人越少越好。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张电工扯住老鬼说道：“你别走啊！你怕她什么？她不就是个死得年头儿多的娘们儿吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老鬼神色一变，一声不吭地推开张电工，倏然回到了坟里。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张电工有点儿发蒙，他是真搞不懂媚姌有什么可怕，在他看来，媚姌只是个书本儿上写的那种美人，只是死得年头儿久了，大家都敬她是前辈，实际上张电工心里还一直对媚姌有些想法儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但有一点儿是肯定的，就是张电工知道自己打不过媚姌，因为昨天夜里在医院已经证实了，张电工搞不懂的是他找的这个老鬼也是死了好多年的，他怎么也会怕媚姌呐？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚姌看着张电工说道：“我昨天跟你说了，让你别再去为难那个孩子，是不是好好儿说话你听不懂啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张电工往后退，他退一步，媚姌就跟进一步。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张电工说道：“你也是鬼，为什么要帮活人？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚姌答道：“你吃的喝的从哪儿来？要是没有徐四这个小店儿，你也只能去垃圾筒捡别人扔掉的东西吃。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张电工被噎得没话儿，其实他心里明白，除了徐四之外，没人看得见鬼，更不可能收冥币给鬼做东西吃。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;鬼虽然无处不在，不受障碍物阻挡，但不经主人允许，或者称为供奉，鬼是吃不到东西的，偶尔活人忘了把食物盖上或是放进冰箱，那也不算是供奉，而且得跟好多鬼抢。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但大多数人家，还是每顿饭都吃得盘儿干碗儿净，连点儿汤都剩不下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张电工不再后退，反正退也没用，媚姌一直跟着他，说道：“我就是想要那小子脖子上的东西。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚姌又叹了口气，幽幽说道：“我是真不想这样做……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;第二天下午，徐四来的医院，山伢子把自己昨夜的事儿告诉了他，徐四说道：“你被‘叫魂儿’了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子不明白是什么意思，看着徐四，在他的认知中，叫魂儿是一种民间土法儿，就是有人不省人事的时候儿，家里人站在门口儿喊这个人的名字，把这个人的魂儿叫回来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“这有什么不明白的，鬼想害死你，把你的魂儿叫走，你家里人不想让你死，就站在门口儿叫你的名字，再把你的魂儿叫回来。没有鬼叫魂儿，哪儿来的人叫魂儿啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子恍然，他只想到了人叫魂儿，四叔说得对，人叫魂儿的原因，就是因为鬼把活人的魂儿叫走了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“四叔，是你把我的魂儿叫回来的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四摇头：“不是我，是你姌姨把你拉回来的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“姌姨连着救了我两回，我应该怎么感谢她？给她多烧纸钱行吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四答道：“你姌姨不缺钱，在我那儿好好学手艺就行了，将来手艺学成了，做饭给你姌姨吃。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗳！”山伢子郑重地答应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四问道：“能走不？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“能动。”山伢子说着就要起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四按住他说道：“你先躺着，我去给你办出院手续。我大意了，以为你那块儿石头能保护你，没想到它没我想得那么厉害，你还是被叫魂儿了，早知道会这样儿，我就不让你住院了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;回家又养了几天，山伢子基本恢复了，这几天里，张电工没再来过，而媚姌也没来过，山伢子还挺想媚姌的，想当面儿谢谢她。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这天是腊月二十三，睡醒了之后，徐四拿了一大包东西放在桌上，对山伢子说道：“从今天开始，一直到年三十儿都会很忙，你把这包吃的给你爹和你弟弟送回去，告诉他们你不能回家过年了，天黑前赶回来。”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>