<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第208章：缘分</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第208章：缘分
</div>
<div class="bookname">
	<h1>第208章：缘分</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第2o8章：缘分<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子用异样的目光看她，古芊芊轻声解释道：“我每年的压岁钱就有好几万，攒了十几年，拿出一半投资，还剩一半。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子转回头接着切肉，果然是有钱人家的大小姐，五十多万零花钱，还只是一半儿，他从小到大，连五毛钱零花钱都没有过。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊突然嗔道：“我家就是有钱，我家亲戚也都有钱，不行啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子愕然看着她，答道：“行啊，没说不行啊，咋了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哼！”古芊芊白了他一眼，掉着脸走开了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹风一样跑回来，说道：“你猜那老头儿是谁？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子眨了下眼睛，问道：“不会是县长吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嗔道：“猪脑子，是不是跟那个姓方的鬼有关系？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹点头，说道：“还是芊芊聪明，那老头儿是方友同他爹。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦……”山伢子接着切肉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹皱眉，搥了他一下，嗔道：“想什么呐？说！玩儿什么深沉。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“没有，我就是想起师父以前说的话，人也好鬼也罢，能遇见的都是有缘分、有牵绊的，人这一辈子，兜兜转转的，挺有意思。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊看着他，遇到事儿以后会举一反三，看来张小莹没说假话，山伢子就是太实诚了，其实人并不傻。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潘小龙嗤道：“说话老气横秋的，跟你经过多少事儿似的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹和古芊芊一起瞪潘小龙。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“唉……”潘小龙叹气，拿起手机低下头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹告诉山伢子，方老爷子在家做葱爆羊肉呐，她跟方友同说了，让他在方老爷子耳边吹吹风儿，让方老爷子再来一趟。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看她，问道：“你要干啥？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹答道：“给方友同媳妇儿治病啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子声调儿提高：“你咋治？你又不懂医。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹说道：“放心吧，我让方友同给我看了方子，我也给干妈打过电话了，干妈说可以吃羊肉，只是火力要软一些，还说让芊芊帮你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我？”古芊芊问道：“我怎么帮他？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹答道：“干妈说伢子的火行太旺，不够柔和，让你以水相克。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉，山伢子说道：“那我做个菜还得把她绑身边儿，还不够麻烦的呐，要这样儿，干脆别做了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊也嘟嘴，说道：“我也觉得麻烦，我得给我妈打电话问问。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹说道：“甭问了，我话还没说完了，干妈说了，方友同的媳妇儿是特殊情况，头掉成那样，虚不受补，所以才让你给伢子帮下忙，而且干妈说得是‘最好给帮下忙’，帮不上也行。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊含嗔带笑地瞪着张小莹，张小莹斥道：“再瞪我？死丫头，没大没小的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“我就说嘛，做个饭要是还这么麻烦，那干脆就别招这事儿了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹踢了山伢子屁股一脚，骂道：“傻子！跟你都闹死心了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;晚上十一点，山伢子把饭桌支到门外，摆上饭菜，孤魂野鬼6续来吃饭。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊拿个小板凳坐在门口儿看热闹儿，山伢子问她：“你不回招待所啊？待会儿人家再关门儿喽。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊扬着脸儿看他，问道：“你出门儿住过酒店吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“住过啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊不理他了，山伢子一脸不解地看着她。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹说道：“招待所二十四小时有人值班儿，住宿给他们钱，他们还敢管客人什么时候睡觉啊？又不是学校寝室。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子答应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹又说古芊芊：“你也是，明知道他脑子不转筋，你以后有话直说。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嗤道：“我懒得理他，没你那么好的耐心。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹接口说道：“是啊，我调教好了，你直接上岗接管，省了大心了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“讨厌！”古芊芊脸上红，站起来说道：“我困了，姐，陪我回招待所！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;回招待所的路上，古芊芊边走边抬头看着月亮，幽幽吟道：“万顷星河淼淼，千里婵娟独照……姐，抑郁症不好治吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹说道：“你家有懂医的，你问我？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊抿着嘴无声地叹了口气，阴影里突然走出来一个男的，挡在古芊芊面前，嬉皮笑脸地说道：“老妹儿，一个人走夜路不害怕吗？走，哥哥带你找地儿玩儿玩儿去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说着伸手来摸古芊芊的脸，离着还有一寸远，张小莹一脚踹在他肚子上，随即进步提膝撞头，再进步左腿横扫，再进步右腿旋踢。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那个男的在‘啊啊哦’之后，倒在五米外的马路上不省人事了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊张大了眼睛赞叹道：“姐，你功夫真好！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹嗤道：“这算什么，你还没见我跟伢子对练呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊挽住她说道：“姐，等我开始练习实战，你给我当陪练好不好？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹笑，说道：“好~我就是操心挨累的命。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“呵呵……”古芊芊笑，将头枕在她肩膀上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹推她头，说她：“好好儿走路，万一让人看见，再把人吓着。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊问道：“那人不管了？就那样躺在马路上，让车轧死了怎么办？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹嗤道：“这种人活着就是浪费资源，轧死了正合适！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“那开车的招谁惹谁了，平白受这种连累，不得恶心一辈子啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹皱眉，倒也是，走过去薅住那男的头，拧腰力，将那男的扔到路边儿人行道上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊愕然说道：“姐，你就不怕把他脖子扭断，那你可就算是害人了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹嗤了一声，害人？这种脏心烂肺的玩意儿也能算是人？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊看她的表情，知道张小莹心里不舒服了，毕竟她就是碰到这种事儿死的，连忙换话题，挽着张小莹撒娇道：“姐，夏歆雨的事儿怎么办呐？她这算不算赖上了啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹嗔道：“现在知道着急了？早干嘛去了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嘟嘴，张小莹说道：“放心吧，有姐呐，你别去伸头儿就行了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嗤道：“我伸什么头儿，我算老几啊？名不正言不顺的，我一伸头儿，人家还不得笑话死我。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹笑，抚了抚她的脸蛋儿，说道：“行了，瞧把你委屈的，姐知道了，回头我收拾伢子。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;天才本站地址：。手机版阅读网址：<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;，更多精彩阅读，等你来发现哦。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;手机站:
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>