<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第119章：冲灵</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第119章：冲灵
</div>
<div class="bookname">
	<h1>第119章：冲灵</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第119章：冲灵<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老鬼不停地絮叨，四面八方都是它的声音，山伢子心里越来越急躁，向四面八方挥舞着铜钱剑，红光四射着划破黑暗，消失在远方。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“呵呵……”老鬼笑得很开心，接着絮叨村儿里的琐事。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;灵石的红光渐渐扩展到山伢子整个胸膛，山伢子突然发出一声怒吼，以整个身体为中心，爆发出一个半圆形的红光屏障。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊……”老鬼被红光撞到，惨叫着从半空中摔落。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子风一样冲向老鬼，手里的铜钱剑亮着血一样鲜红的光芒。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老鬼想要跳起来，灵石突然射出无数的红线，将老鬼的四肢缠住，老鬼惊恐地喊道：“别杀我！我告诉你……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;‘噗’的一声，铜钱剑刺中了老鬼，老鬼瞬间化作散乱的黑气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子双眼血红，根本没有听到老鬼说的话，心里只有一个念头，就是杀！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;周围再次陷入了死一般的宁静，山伢子周身浮着一层肉眼可见的红光，两只眼睛也是血红的，浑然便似一个刚刚冲出地狱大门的恶鬼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;眼前的一切都是红色的，血一样红，那栋大楼也变成了红色，而且墙壁变成了透明的，山伢子可以清楚地看到大楼里面的情况。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;没有人，没有鬼，也没有家具，只有顶层右手第三个房间的地板正中央，放着一个像罐子又像酒缸的容器。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子走进大楼，骤然起了一阵阴风，无数的黑气从两侧涌来，将山伢子团团包裹住。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;然而在山伢子的眼里，只看到一个拖着黑尾巴的鬼，像蛇一样的身子上长着一颗人的脑袋。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一剑砍过去，那只鬼号叫着化作了散乱的黑气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;整栋大楼似乎都晃动了一下，山伢子走上了楼梯。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;眼前的景物依然是血红色的，墙壁依然是透明的，到了顶层，来到第三个房间门口，山伢子抬腿踹门。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嘭！”空旷的大楼里回荡着巨大的响声，房门四周的墙缝里，震落了好多灰尘和渣土，但是房门却没有被踹开。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嘭！”山伢子心里的火气几乎达到了极致，完全不去思考，一脚没踹开就再踹一脚。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嘭！嘭！嘭……”山伢子机械地踹着房门，身上的红光越发的明亮。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“喂！”一名少年出现在楼梯口儿，穿着藏蓝色中山装，留着半长不短的头发，面容俊俏，皮肤白皙，双手插在裤子口袋里，眼神冷漠地对山伢子说道：“你这样使蛮力不行。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子猛然转过身，少年下意识地往后仰了下头，说道：“你被冲灵了，你冷静一会儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子瞪着血红的眼睛，缓步向少年走去，少年把手从裤子口袋里抽了出来，退下楼梯说道：“冷静，想想你自己是谁，你来这里要做什么。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子站在楼梯口儿盯着少年，问道：“你是谁？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;少年答道：“我姓姬，叫姬淋洛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子微微皱眉，重复道：“鸡零落？你蒙我？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;少年皱眉，说道：“姬，周武王姬发的姬，不是鸡蛋的鸡。淋洛，淋漓尽致的淋，洛河的洛，不是零落。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“你刚才说什么？什么冲灵？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛答道：“就是你过度激发灵石的能量，被灵石影响了心智，你眼睛都是红的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子转头看着那间房门，说道：“我要进去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完转身向房门走去，姬淋洛走上来跟着山伢子，山伢子猛然转回身瞪着他问道：“跟着我干嘛？想偷袭我吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛退了一步，答道：“那个门你踹不开，可能有问题，我想帮你看看。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子举起铜剑钱对着姬淋洛问道：“你是什么人？为什么要帮我？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛坦然答道：“我爸受人之托，让我来这儿看看，看你需不需要帮忙儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不需要。”山伢子冰冷地回答，转过身走到房间门口，抬腿又踹门。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嘭！嘭！嘭……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛靠近了些，说道：“你没有发觉吗？你每踹一脚，你身上的红光就亮一分，你再这样踹下去，你很有可能彻底失去理智。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子扭脸看着他问道：“你想说什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛说道：“五行相生相克你懂吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子生硬地答道：“废话。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛说道：“你是火性灵石的宿主，这个门是木头做的，你踹不开，它可能是被施了水性或是木性的法术，增加了这个门的木属性，而你踹门的时候，门在抵御你攻击的同时，又在不断地提升你的火属性，虽然你的能量在提升，但你跟门之间是相生的关系，你虽然在踹门，但只是在汲取能量，并不是有效攻击，我这样说你能明白吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看着他不说话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛又说道：“我是金属性的，我帮你踹一脚，我要是也踹不开，那我就不管了，你爱怎么办就怎么办，行不行？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子退开一步，盯着他说道：“踹吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛站到门前，先活动了两下脖子，然后又活动了两下肩膀，然后又活动了两下脚踝，然后扭脸儿看着山伢子问道：“你不会趁着我踹门的时候儿偷袭我吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子不耐烦地说道：“你踹不踹？不踹就起开！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛突然飞起一脚，‘咔嚓’一声，整个房门被踹飞出去，一团黑气迎面向姬淋洛冲来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛似乎早就防备，双手掐诀，双臂交叉在胸前，用浑厚的声音喝道：“退！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一道亮白的光从姬淋洛双臂交叉处射出，黑气却突然转向，冲向了山伢子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子直接挥出铜钱剑，将黑气从中劈开，化作散乱的黑气，缓缓消散掉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛用诧异的眼神看着山伢子，说道：“你够狠呐！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子没说话，走进房间，直奔屋子中央的罐子，到了跟前，举起铜钱剑就要劈。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛倏然冲近，握住了山伢子的手腕，斥道：“你疯了？这里面要是困着生魂，你这一剑下去，生魂就被灭了！你是来救人的，还是来杀人的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子抬腿一脚将姬淋洛踹飞出去，两眼冒火地斥问道：“你怎么知道我是来救人的？这些事儿是不是你搞出来的？”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>