<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第650章：化了</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第650章：化了
</div>
<div class="bookname">
	<h1>第650章：化了</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第650章：化了<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈彦锋嚷道：“你说就算啊？你有什么证据？你不就是法力高吗，那还不是因为你跟石庆山睡了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊杏眼圆睁，屈敬龙一个大嘴巴扇得屈彦锋摔倒在地，口鼻流血。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈敬龙怒斥道：“屈家做了什么孽！居然生出你这样败家毁业的东西来！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈彦锋一脸不服气地嚷道：“我咋了？我还不是替你抱屈吗？你是她叔叔，为什么要向她下跪呀？她说她是祖师她就是啊？有证据吗？谁证明啊？法力高就是啊？法力高的人多了去了，都是祖师吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这话把屈敬龙给说愣了，其实仔细想想，屈彦锋说得有道理，有什么证据啊？谁能证明啊？光是法力高不行的，谁都知道山伢子法力出奇的高，古芊芊跟山伢子阴阳调和，必然会助修法力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过话又说回来，就算山伢子法力再高，古芊芊的气息也不可能是紫色的，那可是地仙级的气息。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊将自己的水行石摘下，然后双掌一合，手掌随即被一团紫气包裹住。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈彦锋跳起来嚷道：“你干什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“物归原主。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你还给我！”屈彦锋嚷着冲上来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不等山伢子阻拦，屈彦锋猛然倒飞出去，直接摔在了楼梯上，惨叫着扭动身体。屈敬龙赶紧跑过去摸他的脊柱，半晌才松了口气，但是看向古芊芊的眼神中多了些许怨怼之色。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊却只是专注于自己的手掌，静默了几分钟后，对山伢子说道：“夫君，你不要动，若有不适，稍忍一时。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”山伢子答应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊双掌分开，并列着按在山伢子胸前，火行石陡然亮起红光，山伢子的眼睛也变得血红。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊柔声说道：“意守膻中，万念皆休。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子闭上了眼睛，过了一会儿，再次睁开眼睛，盯着古芊芊说道：“雪儿？真的是你吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊抬起头迎上他的目光，微笑着点头，答道：“是我，师父，一别七百年，雪儿心里好苦。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子伸手将她揽入怀中，说道：“你到底还是来找我了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊柔声说道：“上穷碧落下黄泉，雪儿不悔初衷。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧皱眉，安婧瞪大了眼睛，屈敬龙和屈彦锋也是一脸愕然。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看向霍晓荧，仔细地看，霍晓荧皱眉问道：“干啥？不认识我了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子伸出左臂，说道：“娘子，过来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧皱眉嗔道：“不过去，人多挤得慌。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子露出一抹略显忧郁的微笑，然后两眼一翻，向后便倒，古芊芊抱住了他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧和安婧同时抢到跟前，同声问道：“怎么回事？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“吸收灵石只是助修命力，师父的法力都给了我，很难觉醒魂力，刚才不过是受火行石的刺激而产生的短暂回光而已。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧伸手扒开山伢子的上衣，又掰古芊芊的手，问道：“你把三块灵石都化了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”古芊芊点头，说道：“本就是夫君遗物，我将它们化作气息送回夫君体内了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧皱眉，五行世家传承了数百年的宝物，居然就这么随意地给化了，看来素雪的确是让无名惯得忒不像样儿了！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊……”屈彦锋撕心裂肺的惨叫，但也只是惨叫，不敢有半句怨言。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;能将五行石化掉，肯定不是凡人能做到的，屈彦锋不傻，其实看到古芊芊身上的紫气时，就知道古芊芊已经不是古芊芊了，只不过他心里不忿，甚至觉得如果没有山伢子，古芊芊就会是他媳妇儿，所以才会犯浑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;然而现在，土行石没了，他才只当了小半年的宿主，没有了五行石，那五行世家还算什么？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊看向屈彦锋，平淡地说道：“原本这世上就没有五行世家，你们都是沾了无名祖师的恩泽，数百年的殊荣也该知足了，若你们愿意，择日重回无名观门下，授汝等心法，以修长生，若无意，从此两不相干。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈彦锋愣住，屈敬龙说道：“弟子愿意重回无名观门下。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“甚好，待我择日再议，今日亥时之前，带花梦容到饭店见我。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈敬龙应道：“弟子遵法旨。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;回家的路上，安婧开车，古芊芊把昏迷的山伢子交给霍晓荧，自己坐在副驾上给姬淋洛打电话：“淋洛，带歆雨来一下饭店可以吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姬淋洛答道：“可以，等歆雨放学，我们就过去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“好，晚上请你们吃饭，拜。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;挂了电话，霍晓荧说她：“你也不说什么事儿，还刻意装成原来的样子，合适吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“兵不厌诈，我只是不想节外生枝。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧问道：“芊芊姐，你什么时候传授素隐门心法？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊扭着看着她说道：“在我创立之初，便将心法传授给了你们门主，怎么？她没有传下来吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧答道：“我也不知道，但是素隐门修不了长生。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊恍然失笑，说道：“修长生岂是人人可得的？既要看天分，又要看缘法，还要凭悟性，你的天分很高，也有缘法，只是不知悟性如何，待我了结卿琴之事后，着意调教你便是。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧难掩兴奋地说道：“谢谢芊芊姐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊微笑着说道：“既是姐妹，何须言谢。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧问道：“我怎么办？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊回头看着她问道：“妾不知主母何意？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嗔道：“你给我好好儿说话！你们都能修长生，我怎么办？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“我能想到的有两种选择，一者，你本就是鬼，无须修长生之术，有夫君和我在，谅那地府巡游使也不敢来抓你。二者，我授你秘法，你像我一样去抢胎，重入轮回。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧琢磨了一下，说道：“得了吧，就他长这样儿，我转世之后没了前世的记忆，真不见得会看上他。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“的确，你法力太低，又不能带法转生，这样吧，待我寻回卿琴，问问她便是。”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>