<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第694章：有心难渡无缘人</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第694章：有心难渡无缘人
</div>
<div class="bookname">
	<h1>第694章：有心难渡无缘人</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第694章：有心难渡无缘人<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧闭着眼睛嚷道：“我好不好关你什么事？我就是个废物！什么用都不顶！不用你管我！我不拖你后腿！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，突然明白了她的心思，抱紧了她说道：“说啥呐？咋就拖我后腿了？你忘了当初你把我打得吐血了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧的哭声小了下去，山伢子抱着她，贴着她的脸问道：“你当初为啥要打我三掌啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧恨声答道：“看你不顺眼，想打死你！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子笑，轻声问道：“你啥时候开始喜欢我的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“呸！”安婧啐他：“谁喜欢你？臭不要脸！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子笑着把她放倒，在她嘴唇上亲了一下，然后直起身说道：“乖乖躺着，我去给你做碗汤补补气。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧白了他一眼，然后把头别到一边，闭上了眼睛。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安婧恢复了三天，一行人踏上归程，到两界山取了车，古芊芊让灵信去仙茗山，反正妖族已经在仙茗山开始建造营地，他们迟早也是要回无名观的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;于是分了两拨，灵信驮着五名侍女去仙茗山，卿琴带着媚影和惜音，跟着山伢子他们回莫林市。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;途经庆喜市，古芊芊说道：“还去那个商务酒店。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦！”山伢子把那个商务酒店的事都忘了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;到了酒店，不是上次的接待员，山伢子说要六人间，接待员礼貌地微笑着说道：“对不起先生，没有六人间，您可以定一个双人间和一个四人间。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“不对呀，我前几天在这儿住的时候，住的就是六人间呐，那天晚上还来了警察。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;接待员脸色一变，愕然看着山伢子，山伢子低声问道：“那个六人间是出事儿了，还是你们把它封起来了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;接待员神色异样地答道：“对不起先生，我不明白您说的话，我们现在只有双人间和四人间，请问您需要订房吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子嗤笑了一声，有心难渡无缘人，既然是这样，何必自找麻烦，说道：“要两个四人间。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;接待员一愣，看着山伢子问道：“您要两个四人间？那不是有些浪费吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子掏出银行卡放在柜台上，平淡地重复道：“两个四人间，要顶层的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;拿了门卡上了楼，山伢子把一张门卡递给媚影，说道：“你们跟卿琴住一间。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴媚笑着说道：“媳妇儿多了也不好，住店连房间都安排不开，这一大家子人住个四人间，呵呵……幸亏有两个是鬼，不占床。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子斜眼瞪她，来的时候住六人间挺合适的，谁成想回来却住不上了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚影举着门卡问道：“大王，这个怎么用啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“在门锁上刷一下就行了，我跟你们住一间吧，反正我也不睡觉。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李绣娘跟着霍晓荧停步，说道：“我也不用睡觉。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴媚笑着说道：“难得媳妇儿多，还都这么懂事儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容说道：“你羡慕吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴嗤笑道：“臭丫头，敢调侃我，当心我把你炖了，反正我也没什么想头儿了，活不活着没什么打紧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花梦容嘟着嘴抱住山伢子的胳膊，山伢子刷卡开了门，说道：“甭搭理她，她神经病。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;进了房间，媚影和惜音转着圈儿看房间里的东西，霍晓荧问道：“你们从来没到过人间吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚影答道：“百余年前来过，但不是这个样子的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴坐到一张床上说道：“我打从上了绮梦山，就没下来过，如今的人间，真是不敢认了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;惜音问道：“仙姑，是不是以后都要穿这种衣服？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴答道：“入乡随俗，你化成人形之后，还不是先适应穿衣服？怎么？这身衣服是不舒服，还是不好看？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;惜音答道：“属下就是问问。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“你们俩洗澡睡觉吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚影问道：“在哪儿洗澡？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧走到洗手间门口，拉开门说道：“在这里面洗，过来我教你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚影先脱了个精光，然后才走过来，见霍晓荧瞪着眼睛看她，问道：“洗澡不得脱衣服吗？难道现在的人都是穿着衣服洗澡？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴咯咯的笑，霍晓荧说道：“先洗澡睡觉吧，明天开始给你们讲做人的规矩。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;午夜时分，卿琴坐了起来，问霍晓荧：“你们上回住得哪间房？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧反问道：“你想干嘛？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴媚笑着答道：“看看，兴许能有什么奇遇。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧下了地，李绣娘跟着起身，霍晓荧说道：“你别来了，歇着吧，这种事你又不懂，我还得照顾你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是。”李绣娘低头答应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;到了六人间门口，霍晓荧说道：“这间。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完转身就走，卿琴愕然问道：“你去哪儿啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧答道：“回去呀，我又不想有什么奇遇。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴嗔道：“死丫头，你给我回来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧停步转身，看着她说道：“我不想招事儿，婧婧刚恢复，我们又出来这么久了，反正酒店的人都不当回事儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴问道：“你信不过我？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧坦然点头，说道：“你比伢子和芊芊差远了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴说道：“我是比不了芊芊，可我比你家伢子厉害。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧面无表情地说道：“没觉得，你厉害你为啥不帮着打架，就会脱衣服。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴掐腰嗔道：“我是鬼，我没有肉身保护，你让我用魂力直接对抗法力呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧耸了下肩，说道：“你说了算。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴恼道：“走吧走吧，招人烦。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你也不招人喜欢。”霍晓荧转身走了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴白了她一眼，穿门而入。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;意外的，房间里亮着暗红的光线，照得到处都像蒙了一层血雾一样，但是找不到光源在哪里。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴静立在门口，目光逐寸地从右向左扫视房间，当目光与墙上那副画中的眼睛相遇时，响起一个小孩子的笑声。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卿琴媚笑着说道：“原来屋里有人呐，我还以为没人呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哈哈……”一个光着身子的小男孩儿出现在靠门边的床上，一蹦一蹦地问卿琴：“你是谁呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;(本章完)
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>