<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第675章：划地为界</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第675章：划地为界
</div>
<div class="bookname">
	<h1>第675章：划地为界</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第675章：划地为界<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉，灵魄这种东西真的是很烦人，完全就是碎嘴子，欠抽的货。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;灵魄又绕着圈儿问道：“小美人儿找漂亮女人干什么呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“叙旧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哈哈哈哈……”灵魄捏着小尖嗓儿放肆的笑，笑过之后问道：“你猜我相不相信你说的话呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊突然举起秋霜剑，灵魄猛地被吸到剑柄的顶端，尖叫道：“你干什么？你想干什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊垂下手臂，灵魄依然被吸在剑柄的顶端，叫唤了一会儿，突然又委屈地哀求道：“小美人儿，你要干什么呀？放开我好不好？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊平淡地问道：“叫唤够了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;灵魄连忙答道：“不叫了不叫了，小美人儿，求求你了，你长得这么漂亮，心地也一定很善良，放了我吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“我很好奇，你这样的小精怪，通常也就是迷惑凡人，你怎么敢来招惹我这种有法力的人？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;灵魄诧异地说道：“你是法师呀？我不知道啊，你的法力很高吧，我都没有感觉到。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“就算你感觉不到我的法力，难道你还看不见我站在一条巨蟒的背上吗？你见过凡人能站在巨蟒的背上吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊呀呀！”灵魄拿腔拿调地叫唤道：“我被你的美貌吸引，根本没有看到这条巨蟒，美丽的法师，你放了我吧，你有什么事情，我可以给你帮忙。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊不说话，灵信也是沉默着向前游动。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊呀呀！”灵魄又以夸张的腔调起头儿，说道：“我想起来了，你要找漂亮女人叙旧，我带你去找她吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊问道：“你说的那个漂亮女人叫什么名字？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;灵魄答道：“我也不知道呀，山里漂亮女人很多，我带你一个一个找，你先往东走，那边有一个特别漂亮的女人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊不理它，当年跟卿琴约定的地点是北翘峰，就算东边真有一个漂亮女人，也不应该是卿琴。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过话又说回来，三百年过去了，整座山都变了样，很难说卿琴能否还在北翘峰等她。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;灵魄有些急躁，说道：“往东走啊，这是往北，往东走啊！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“为什么非要往东走？你不是说山里有很多漂亮女人吗？难道都在东边吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;灵魄答道：“对呀，都在东边，你往东走啊！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊微一皱眉，如果要撒谎的话，也不应该这么没分寸的信口胡说，难道真的都在东边？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“灵信，等一下。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;灵信停住，古芊芊举起秋霜剑，看着灵魄说道：“你应该知道，欺骗我会有什么后果。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;灵魄连忙尖声叫道：“我知道！神魂俱灭嘛，我没有骗你，我也不敢骗你！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊问道：“为什么都在东边？难道这座山还分了区？女人都在东边，男人都在西边？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;灵魄答道：“不是。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一百多年前，来了一个妖怪，没人知道它的真身是什么，长得特别高大，得有古芊芊两个高，四个粗，自称是擎天撼地无上圣尊大魔王。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个大魔王来了以后，看上了北翘峰的无影洞，但当时无影洞中有一个特别漂亮，但脾气特别古怪的女人，大魔王没打过她。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;打输了以后，大魔王开始各种叫人，不到半个月的时间，叫来了几十个妖怪，然后组团打上北翘峰。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那个漂亮女人被打跑了，跑到了东叠峰翠竹洞。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是大魔王不甘心，要把漂亮女人收做夫人，以雪前耻，于是就带着妖怪们又去攻打东叠峰。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这次漂亮女人学精了，根本不跟他们动手，跑回了北翘峰无影洞。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;大魔王又带着妖怪们打回来，漂亮女人又跑去东叠峰。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;来回折腾了几遍，妖怪们烦了，大魔王也没了心思，就在北翘峰无影洞住下，开始了占山为王，招兵买马的日子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而那个漂亮女人就待在东叠峰，凡是被妖怪们欺负的人都去投靠她，经年累月，就形成了绮梦山两大势力……北魔王与东仙姑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两方势力约定，以龙脊岭为分界，西边七成的地盘归北魔王，东边三成归东仙姑，互不侵犯，凡新来的人，不论妖修魔修，自寻落脚之地，而叛逃者，任何一方都不能越界抓人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;女人都去了东边，因为不论是鬼是妖，女人都很漂亮，而且是稀罕物，在北魔王的地盘没法待。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊缓缓点头，这个故事很圆满，说道：“重复一遍。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊？”灵魄一愣。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“把你刚才说的话重复一遍。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;灵魄问道：“为什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊眼光一寒，冷声说道：“我让你重复一遍！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;灵魄重复了一遍，古芊芊又说道：“再重复一遍。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;重复了十遍，古芊芊才说道：“你说了十遍，没有一丁点儿的偏差，要么是你记性太好，要么就是你说得是实话。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;灵魄尖声嚷道：“原来你是怀疑我说谎啊？我都被你抓住了，怎么敢对你说谎呐？我还没活够呐，我可不想死在你手里，虽然你长得很美，跟东仙姑有一拼，可我也不想死在你手里。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“你废话太多了，我问你，你是哪头儿的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;灵魄答道：“我这样的小精怪没人关心，我哪头儿的都不是，我可以随便在山里晃悠。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊问道：“你为什么来跟我搭扯？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;灵魄答道：“你很美呀，我最喜欢美人了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊举起秋霜剑，右手屈指弹了它一下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊……”灵魄夸张的惨叫，尖声嚷道：“我说实话，你为何要打我？我还没有你的拳头大，你这样恃强凌弱，于心何忍呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊垂下手，说道：“灵信，往东去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;灵信开始游动，问道：“古姑娘，按照灵魄所说，咱们可是要深入绮梦山呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊问道：“你怕有危险？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;灵信答道：“我怕你进去了就出不来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊沉默了片刻，坚定地说道：“千金一诺，生死不悔，我一定要见到卿琴。”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>