<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第172章：善有善报</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第172章：善有善报
</div>
<div class="bookname">
	<h1>第172章：善有善报</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第172章：善有善报<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;把赵美蓉收进魂瓶里，念了一段儿经，然后放在高处供起来，徐四对张小莹说道：“走，咱们去一趟鬼市。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”张小莹答应，说道：“四叔，你应该抽时间去学开车，大城市不比小镇子，你不好意思麻烦别人，就要自己能干。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四嗤笑一声，说道：“就你明白事儿，还教训起我来了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹眯眼一笑，姜悦玲说道：“我也陪你们去吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四微一迟疑，张小莹抢着说道：“四婶儿，你别觉得自己没用，社会分工不同，操持家务我不行，但打架耍狠……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹摇了摇头，看着姜悦玲很认真地说道：“你再练三年也不行。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜悦玲露出笑意，徐四也笑着说道：“小莹说得对，各人有各人的专长，没啥可攀比的，你在家等着吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”姜悦玲点头答应，心里舒服了不少。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;去鬼市的路上，张小莹把火行石放进衣服里面，用手握着说道：“你要乖，不要给我们添麻烦，四叔的八卦镜被人抢了，现在不能再节外生枝了，知不知道？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四侧目看张小莹，说实在话，张小莹如果是宿主，肯定会比山伢子厉害得多得多。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;到了鬼市，徐四领着张小莹直奔食味小厨，将到门口儿，还是那个老头儿出来，一脸不高兴地看着徐四说道：“你咋回事儿？说话当耳旁风啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“我的八卦镜让人抢了，不知道咋找回来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老头儿一愣，目光转向张小莹，看了一会儿问道：“这孩子是你什么人？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四答道：“干闺女，姓张，叫张小莹。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老头儿说道：“叫祖爷爷。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹乖巧地唤道：“祖爷爷。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老头儿的脸上有了笑意，说道：“乖，跟祖爷爷进来，给你做好吃的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”张小莹都没看徐四，直接笑眯眯地答应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老头儿看向徐四，冷了脸，说道：“你在这儿等着。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是。”徐四答应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这间食味小厨，在外面看不大，但到了里面，却是一座两层楼的古代客栈，面积不小于钟离愁的饭店。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹刚一进来，坐在大堂左边靠里的位置，一个穿着不知哪个朝代官服的鬼站了起来，指着张小莹问道：“这丫头身上带着什么东西？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹下意识地抬手捂住火行石。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐家祖爷爷却笑了笑，说道：“大人，小孩子身上带点儿小玩意儿，这不是很正常的事儿吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那位大人冷声说道：“有些东西是不能进阴间的，这可不是耍笑！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐家祖爷爷说道：“大人息怒，下不为例，这是我家后嗣认的干闺女，坐坐就走，您老行个方便吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那位大人叹了口气，坐下说道：“好，下不为例，但你也要告诫子孙，阴阳有别，莫再搅扰。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐家祖爷爷答道：“是，原本是告诫的，只是事出有因，家传的八卦镜被外人抢了去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那位大人不再说话，自顾自的喝酒吃菜。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹轻声问道：“祖爷爷，这位大人是谁呀？哪个朝代的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐家祖爷爷笑了笑，没有回答，领着张小莹走向一道门帘儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;到了后院儿，徐家祖爷爷说道：“锦荣，干孙女来了，你照应着。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一间房门拉开，徐四的父亲走了出来，张小莹见过照片，赶紧招呼道：“爷爷好。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好。”徐锦荣笑着招手，说道：“来屋里坐吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐家祖爷爷也对张小莹说道：“去吧，待会儿给你拿好吃的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”张小莹笑眯眯地答应，向徐锦荣走去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屋里有一床炕，窗下有张桌子，配了一把木椅，桌面儿上摆着文房四宝，还有一套茶具。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐锦荣说道：“上炕坐吧，地方小，也没算着能来客人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好。”张小莹走到炕边儿要脱鞋，徐锦荣又说道：“不用脱鞋了，又不是活人，上哪儿踩灰去？上去坐吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”张小莹坐进炕里，笑眯眯地看着徐锦荣。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐锦荣盘腿坐好，说道：“想问什么就直说，百无禁忌。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“真的？”张小莹问道：“爷爷，你们为啥都不去投胎？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐锦荣答道：“为了修炼，没有肉身的限制，修炼起来事半功倍。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹问道：“我可以吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐锦荣摇头，说道：“攀的亲不算，你没有这么大的功德，也没人会给你这样的优待。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”张小莹略有些失望，但也能理解，徐家祖祖辈辈都在给鬼做饭吃，几百年的功德加在一起，一般人都没法儿比。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;想了想，张小莹问道：“爷爷，我干爹还能娶老婆生娃吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐锦荣哑然失笑，说道：“难怪小军会认你做干闺女，真是个懂事儿会说话的……其实你是想问，为什么徐家做了几百年的功德，却落了个绝嗣的命数吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”张小莹点头，不好意思地笑了笑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐锦荣微笑着问道：“你已经没有怨气了，为什么不去投胎？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹眨了眨眼睛，她是想去的，是那个‘黑手’不让她去，不过她明白徐锦荣问题的本质，答道：“我舍不得山伢子，心里有执念。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐锦荣微笑着点头，说道：“如果没有老婆孩子，也就无牵无挂，没有执念了，而没有了执念，修炼起来就会更专心。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐锦荣顿了一下，又说道：“绝嗣这种事，对于普通人来说是坏事，甚至还会有人说，是因为做了大恶事，才会断子绝孙，但我们徐家不是普通人，在普通人看来的坏事，恰恰是我们徐家善有善报的结果。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”张小莹鼓着嘴点头，目光游离。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐锦荣微笑着说道：“你还是个孩子，我不指望你能理解，咱不说这个了，小军带你来是因为什么事儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹答道：“八卦镜被人抢了，干爹也没说让我问什么。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐锦荣说道：“法器被抢了，当然是问找回来的办法。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”张小莹答道：“我觉得也是。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐锦荣哑然失笑，说道：“不要跟爷爷耍小聪明，你能待在这里的时间不多，别绕弯子。”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>