<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第28章：破规矩</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第28章：破规矩
</div>
<div class="bookname">
	<h1>第28章：破规矩</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第28章：破规矩<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;等了一会儿，刘大成才出来，一脸不情愿的说道：“四哥，不是说不牵扯我吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四嗤了一声，说道：“我头前儿放了你，你转脸儿就告诉了刘二梗，是我牵扯你，还是你自己往里边儿掺和？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘大成叹了口气，说道：“他毕竟是我叔公啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四冷笑，说道：“诸位乡邻，请你们都出来，咱们说道说道。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一会儿工夫，出来了好多鬼，得有四五十个，山伢子心里有点儿发慌，下意识地往徐四身边儿挪了一步。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“看见了吧？我徒弟还是个孩子，你们个数儿一多，他就害怕了。就是这么个还没成人的孩子，就因为他有一块儿会发光儿，能护身的灵石，就招来杀身之祸！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四从张电工讲起，把事情详细说了一遍，然后大声问道：“你们说，谋财害命是个什么罪过儿？我把刘二梗收了，有错儿吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;没人说话，徐四又说道：“我们徐家有这把八卦束魂伞，按说比石庆山的灵石厉害，为什么刘二梗不来抢我家的伞？欺负一个孩子，而且还是要他的命！这种心性还能简单地说是因为脾气不好吗？这孩子是遇见了我，要不然他都死八回了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;先前劝徐四的王老鬼和另一只鬼，一同低下了头，刘二梗做的这些事儿，除了刘大成之外，没人知道，让徐四这么一掰扯，谁都说不出话来了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四又说道：“我家祖上定的规矩，一直到我爹那一辈儿都是老样子，说实在话，如果你们还是活人，你们觉得这规矩定得好不好？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所有的鬼都跟身边的鬼互相看，徐家定的规矩，鬼不准闹腾活人，如果被冲撞了，跟徐家说，徐家去找冲撞的人，让冲撞的人到坟头烧纸赔罪。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;做为活人来讲，这规矩肯定是好，但做为鬼来讲，难免会心里堵得慌，就像王老鬼跟媚姌说的那样，不懂事儿的小屁孩儿跑到坟头撒尿，这种熊孩子就得教训一顿才能长记性，烧纸赔罪管什么用？坟头儿都尿湿了，好几天都散不了味儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;更何况现代人不太相信这些了，经常徐四去说，说完了就完了，很少有人真的来烧纸赔罪。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王老鬼说道：“徐四，别扯什么活人死人，夏天那会儿，李家那小子在我坟头儿撒尿，到今儿个也没来烧纸赔罪，你怎么说？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四答道：“我有法术能对付鬼，却不能用来对付活人，况且时代也不同了，我今天就是要说，我破了徐家非至亲血脉不传的家训，我也没本事立规矩守规矩，所以我要告诉诸位乡邻，我徐家祖上定的规矩，到我这儿算拉倒了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所有的鬼都愣住了，王老鬼问道：“那我可以找李家那小子算账了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李老鬼说道：“我孙子就是淘气，你至于吗？你都这么大岁数儿了，他才几岁？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王老鬼说道：“你说的这是屁话，要照你这么说，那我托梦给我孙子，让他天天上你坟头儿撒尿去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这两个老的开了场，好多鬼都互相指责起来，最后发展成一片谩骂声。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子愕然看着徐四，徐四把伞交给他，说道：“上车，咱回家。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四心里最清楚这样的结果，有这条规矩在，大家都有个说理的方式，可一旦没了这条规矩，没有了约束，肯定会乱套！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是徐四不想再守着这条规矩了，因为太难了，就像他自己说的，时代不同了，以前跟人说冲撞了鬼，基本都会吓得不行，立马就去坟头儿烧纸赔罪，可现在，大多是笑笑就算了，更有甚者，还会教训徐四宣扬封建迷信。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;太难了，何苦呐？等真有了事儿，自然会有人想起他徐家，想起他徐四，重新审视那些所谓的‘传说’，重拾敬畏之心。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四前脚儿到家，七八个老鬼后脚儿就跟来了。徐家管事儿的时候儿他们嫌烦，现在徐四不管事儿了，他们反倒慌了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所谓无规矩不成方圆，有这条儿规矩，大家都有个凭靠，也能理直气壮地找徐四说理，现在没了这条儿规矩，大家都不知道怎么办了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;况且徐四只是撤了规矩，没说不管事儿，真要是闹腾大发了，刘二梗就是个例子！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四平常是心软，可真要闹出了事儿，那可是一点儿都不含糊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;来的老鬼还是以王老鬼为首，进门儿后坐下，劝徐四：“小军呐，年轻人火气不要这么大，这样儿不好，其实你们徐家定的规矩挺好的，咱们还是照老规矩来，你看行吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“王大爷，我不是耍脾气，我是真的为难，现在的人不信鬼神了，你让我怎么办？就说你那事儿吧，夏天时候儿的事儿了，我跟李家说了三回，人家都不拿正眼儿夹我，你让我怎么办？合着我不能动手儿打人家吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;几只老鬼面面相觑，徐四说的也是实情。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四又说道：“时代不同了，有些规矩也得改改了，不就是在坟头儿上撒了泡尿嘛，谁家孩子还不淘气呐？风吹两天不就没味儿了吗？其实这都是家长里短的小事儿，何必争来斗去的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王老鬼扭脸儿对李老鬼说道：“你孙子干的事儿，你得负责，我今年一年的饭钱你掏。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李老鬼呵呵一笑，说道：“那没话儿说，问题是……徐四不是不让你来这儿吃饭了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“气头儿上的话不当真，事儿都过去了，咱们把话也说开，这个徒弟我是收定了，你们几位回去也替我传个话儿，谁要是再打我徒弟的主意，别怪我徐四翻脸不认人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王老鬼问道：“多少年的规矩，这就没了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四点头，王老鬼问道：“你不再立个新规矩？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四笑着摇头，答道“不立了，原本人鬼殊途就是规矩，不用再过我这一道手。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;几个老鬼再一次面面相觑，徐四说不立新规矩，但其实已经立了，人鬼殊途就是规矩，阳间是活人待的地方，鬼不能闹事儿。
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>