<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第557章：心灰意冷</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第557章：心灰意冷
</div>
<div class="bookname">
	<h1>第557章：心灰意冷</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;.&nbsp;&nbsp;&nbsp;&nbsp;，最快更新深夜鬼食堂最新章节！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;第557章：心灰意冷<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义笑了笑，幽幽一叹，说道：“是啊……可能真的只是半面之缘……可她是我的心气儿，我赖在阳间这么多年，就是为了能再见她一面，可她……唉……不说了，诸位……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义拱手环礼，说道：“就此别过，有缘再会。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“老唐！”洪拓拉住唐召义的臂弯，却不知道还能说什么，有什么可以替代五百年的真情？又有什么可以阻挡心气儿消散？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义笑了笑，拍了拍洪拓的手，然后轻轻推掉，向观门走去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊的目光追随着他，心中五味杂陈，在他将要走到门口时，古芊芊终于忍不住大声说道：“唐召义！不要意气用事，虽然世上只有一个素雪，但这世上可为之事多不胜数，你五百年都没做过善事，就这样去地府，只怕凶多吉少，至少你也应该先弥补一些恶业，再去地府销案不迟。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义驻足半晌，却没有回头，再动步时，依然没有回头，边走边说道：“多谢姑娘好意。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义心灰意冷，不仅仅是因为找到了素雪的遗体，还因为山伢子。很明显，山伢子是无名真君的转世，虽然不知道转了几世，但他既不是山伢子的对手，也比不了山伢子的身份。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;原以为，自己是皇亲国戚，可是跟仙家魂灵相比，皇亲国戚又算得了什么？真应了那句粪土当年万户侯。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过古芊芊说得也对，这五百年来，他没做过什么善事，反倒吸了不少孩童的元阳之精，如果就这样去地府投案，可真不好说还有没有来生。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是无论怎样，他不想跟山伢子混了，没心气儿，也没尊严，他还要当他的侯爷！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唐召义的离去让所有人心里都不太舒服，虽然接触不多，但唐召义是个情种，情种总是会让人心生好感的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子拿出手枪，分别打了两个干尸两枪，让它们抽上筋儿，然后给他们解开绳子，一行人踏上归程。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在古芊芊昏迷的两天里，他们已经把无名观找遍了，没有再找到任何其他的东西。韩慕灵怀疑是素雪把有些重要的东西藏起来了，但素雪的日记太多，想全部翻看一遍，就算大家分担，也得几天时间。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;况且机密的事情不太可能写在日记里，就算能找到什么蛛丝马迹，他们一无装备，二无工具，也不适合寻找甚至是挖掘，所以还是先回去，反正无名观也跑不了，现在干尸也不是威胁了，随时都能再来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;回家的路上，古芊芊终于有机会把玩她自己的剑，先是翻过来掉过去的看剑鞘上的符文，有得认识，但大多数不认识。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;看够了剑鞘，古芊芊把剑拔了出来，剑身在拔的过程中发出轻微的鸣响，霍晓荧用两手按了按耳朵，报怨道：“有一个火行石还不够，又多了一把破剑！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊眯眼笑，看到剑身上竖着刻有两个篆字：秋霜。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊举给霍晓荧看，问道：“什么霜？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧嗤道：“秋霜。还大学生呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嘟嘴嗔道：“认识个字儿了不起啊？我就多余问你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;转头又问古木苍：“爸，这字儿是秋吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古木苍答道：“是，你昏迷的时候，我们已经看过了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“噢！”古芊芊用胳膊肘搥霍晓荧，嗔道：“还以为你认识呐，合着你也是听爸爸说的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧笑，说她：“收起来，这把剑是开了刃的，别剌着手，回家再玩儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊收起剑，靠在霍晓荧肩头，轻轻地叹了口气，霍晓荧轻声问她：“为谁叹气？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊抿了下嘴，没有回答，她也不知道是为谁叹气，为自己近千年的孤单？为山伢子没有无名长得好看？为唐召义的离去？不知道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧拍了拍她的脸蛋儿，说道：“行了，不管是因为什么，都放下吧，咱们还有更重要的事情急需解决。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“什么？”古芊芊坐起来，歪着头看霍晓荧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“首先，素茗肯定知道素雪的事，那他这通折腾就有迹可寻了，咱们要搞清楚他到底想干什么。其次，那个抢了剑又还回来的丫头是谁，她看上去年龄不大，却比伢子还要厉害，伢子就够不正常的了，那个丫头是超人吗？或者她就不是人？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉，问道：“这两件事怎么解决啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧用手指戳她的额头，说道：“用脑子想。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不想。”古芊芊嘟嘴说道：“我自己想了七百三十年，累了，以后都你们想。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧笑，捏着她的脸蛋儿说道：“真矫情，好像你记得以前的事儿似的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊搂住她，趴在耳边轻声说道：“姐，我前世杀你的事一笔勾销了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧侧目看她，问道：“凭什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“你们轮转千年，生生世世耳鬓厮磨，而我却孤单寂寥，杀你一回也不为过吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧问道：“你有什么证据说我就是盈袖转世？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“你要不是她，我杀你干嘛？你觉得我像草菅人命的女魔头吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧笑，点了一下她的鼻头，说道：“好，一笔勾销。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“呵呵……”古芊芊搂着她笑，眼中却有了泪光。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧抱紧了她，幽幽一叹，说道：“早知今日，何必当初。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊微一皱眉，接口说道：“若无当初，何来今日？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子跟洪拓坐在前面，但却一直注意听她俩说话，听到这两句话，山伢子皱紧了眉头，轻声问洪拓：“她俩说啥呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓哑然失笑，曾经神一样的存在，现在变成了榆木疙瘩，真是造化弄人呐！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓轻声给他解释，霍晓荧的意思是说，当初应该跟着无名真君上山修道，也就不会有这近千年的辗转。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，问道：“那不就没素雪什么事儿了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓愕然看着他，觉得山伢子跟个精神病一样，一会儿明白一会儿糊涂，他想不明白霍晓荧跟古芊芊的对话，却在听了解释后立刻想到关键性问题。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧说道：“吃着碗里的，看着锅里的，千年如一日，真不是个东西！”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>