<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第260章：力所能及</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第260章：力所能及
</div>
<div class="bookname">
	<h1>第260章：力所能及</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第260章：力所能及<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;从这天开始，洪拓天天晚上来，天天要请桃花儿吃饭。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧挡了两天，突然觉得这样不合适，桃花儿又不是古芊芊，她这样在中间横着算怎么回事儿？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;难道还能让山伢子把桃花儿也娶了吗？就算桃花儿愿意，古芊芊还不得炸了窝呀？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;炸了窝都是好的，说不定古芊芊不要山伢子了，反正人家是金枝玉叶的大小姐，想找什么样儿的找不着啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以霍晓荧不再拦着了，而桃花儿心里多少对洪拓还是有些愧疚的，霍晓荧不拦着，她就没能直率地拒绝，洪拓终于如愿以偿地把桃花儿请到了座位上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧来点餐，洪拓问桃花儿：“有什么介绍？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿看霍晓荧，霍晓荧说道：“想吃什么就点什么，不用心疼伢子，他本来就是厨子，要是没人吃饭，他就得喝西北风儿了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿笑，说道：“我想吃奈何忘归。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“行。”霍晓荧答应，扭脸儿看着洪拓。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓愕然问道：“奈何忘归是什么？菜单儿上怎么没有？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧面无表情地答道：“菜单儿上没有，就说明不是谁都能吃的，只供应自家人，请问先生想吃点儿什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓无奈一笑，看着菜单儿说道：“清明结是什么，为什么卖这么贵？别的菜最贵的只要两块冥币，这个却要二十块冥币？是印错了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧答道：“奈何忘归一百块冥币。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓一愣，霍晓荧说道：“请不起啊？算我的，反正桃花儿是我小姑子，天天吃我都不心疼。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓放下菜单儿，看着霍晓荧问道：“你叫什么名字？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧答道：“我嫁人了，我老公就是做菜的主厨，别惦记了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“我要投诉你，总得知道你的名字吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧答道：“饭店老板是我干爹，你要投诉，我去叫他。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完转身就走，桃花儿伸手拉住她，哄道：“好了，别闹气，我还等着吃呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧回头瞪着洪拓，洪拓无奈摇头，说道：“我要清明结。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧走了，洪拓问桃花儿：“这孩子怎么这么仇视我？她跟史晋是什么关系？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿答道：“没什么关系，认识而已，她就这样儿，把外人和自己人分得特别清楚。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓叹了口气，说道：“早知道还能见到你，我说什么也不跟史晋抢地盘儿，我给他当小弟都行。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿低着头不说话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓招手唤道：“史晋，过来一下。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;史晋皱眉，但他现在是服务生，洪拓是客人，他只能走过来，问道：“先生有什么需要？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“老大的位置让给你，你回去主事儿，我给你做小弟，或者我离开鬼市都可以。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;史晋看着他，半晌才问道：“你没病吧？不是说好一笔勾销吗？你这么挤兑我有意思吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“我不是挤兑你，我说得是真心话，如果早知道能再见到桃花儿，我绝不会与你争抢，更不会跟这个饭店的人交恶。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;史晋愕然看桃花儿，桃花儿脸色发窘地低着头，说道：“我什么都没说，跟我没有关系。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“对，桃花儿什么都没说，是我自愿的，因为刚才那个孩子，我不知道她叫什么名字，她因为你对我极其仇视，我不想跟你们交恶，免得桃花儿夹在中间难做人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿皱着眉回头看，小莹怎么不回来了？她现在急需霍晓荧在场。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;史晋说道：“抢了就是抢了，我还是那个话，我不会回去，更不需要你让给我，我答应了师父，不再当混混了，过段儿时间我就要拜师了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;史晋说完，又看了桃花儿一眼，但是桃花扭着头在盼着霍晓荧赶紧回来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“好。是我抢了你的地盘儿，做过的事改变不了，我从现在起退出鬼市，不再回去，桃花儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊？”桃花儿愕然转回头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“你作见证人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“什么呀？”桃花儿一脸茫然，她光顾着盼霍晓荧回来，没注意听两人说话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“我抢了史晋的地盘儿，还打了他，做过的事无法改变，我从现在起退出鬼市。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓又看着史晋接着说道：“我打了你，你可以打还我，我绝不还手。另外，做为补偿，我替你做三件力所能及的事。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;史晋微微扬着脸说道：“好啊，那你去投胎吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿脸色一变，身后响起霍晓荧的声音：“什么情况？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓看着史晋说道：“很抱歉，我说的是力所能及的事，如果我能去投胎，就不会在这里了，我都已经死了一百多年了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;史晋转身走了，霍晓荧问桃花儿：“咋了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿答道：“你先去忙吧，回头我再跟你说，好不好？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧看了洪拓一眼，洪拓叹了口气，坐下，没有说话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧转身走到史晋身边，问道：“什么情况？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;史晋把事情说了一遍，霍晓荧微微皱眉，问道：“你吃醋了对吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;史晋皱眉看着她，霍晓荧又问道：“如果他不是因为桃花儿，而是因为我干爹才向你道歉，你还会这个样子吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;史晋低垂下眉眼，但还是皱着眉头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧看了桃花儿一眼，又说道：“桃花儿出生在上个世纪初期，在那个年代，大多数女人的性情都是温和、细腻、柔软，而且最重要的！是谦卑、宽容。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“还有两句话，你应该知道。”霍晓荧看着史晋，郑重地说道：“度尽劫波兄弟在，相逢一笑泯恩仇。你，好好儿想想吧，别整得跟潘小龙一样，人嫌狗不待见！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓和桃花儿两人静默了好一会儿，桃花儿先开口问道：“洪先生，您以前是做什么的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓答道：“学道的，也算是游方郎中。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桃花儿又问道：“你为什么会身受重伤？还被人封了奇穴。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓正襟危坐，答道：“为了一件不平之事，得罪了一个大财主，因为我是修道之人，所以对方请了高人，先封了我的奇穴，令我不能发力，后又将我打伤，却不打死，把我丢在山上饱受煎熬。”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>