<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第323章：不一样</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第323章：不一样
</div>
<div class="bookname">
	<h1>第323章：不一样</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;，精彩小说免费！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;第323章：不一样<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧赶到医院的时候，山伢子已经睡熟了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧问洪拓：“人呐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓答道：“跑了，但肯定还会再来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓把情况说了一下，霍晓荧咬牙切齿地看着徐四。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四说道：“等伢子醒过来吧，这个事儿肯定不能就这么算了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧扭头又问洪拓：“那个莫家是个什么玩意儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓答道：“我只知道有他们这一号，具体情况不是很了解。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧走到床边坐下，看着山伢子说道：“你们都回去吧，我守着他就行了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“四哥回去吧，我跟小莹留在这儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四站起来说道：“那行，那我就回去了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐四走了，霍晓荧看了一眼石有财，这老鬼从她一进病房就在，这会儿还盯着她看，问道：“你谁呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;石有财答道：“我是伢子的爷爷。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧愣住，扭头看洪拓，洪拓说道：“未经查证。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧皱眉，石有财问道：“小闺女，你是谁呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧恭敬地答道：“我是伢子的冥妻，我叫……您叫我晓荧就行了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓看了霍晓荧一眼，说个名字为什么要吞吞吐吐的？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;石有财皱眉，说道：“怎么娶冥妻呀？伢子可是我们老石家的独苗，你咋给我们家传宗接代呀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧皱眉，这话说的，还不知道是不是亲爷爷，倒先管上事儿了，不过霍晓荧不愿意顶撞他，万一真是伢子的爷爷呐，于是就平淡地答道：“伢子还有媳妇儿，没结婚呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;石有财一愣，说道：“还有媳妇儿？那叫她来呀，伢子都这样了，她得来伺候啊！哪有男人都趴窝了，当媳妇儿的还不露面儿的，这叫啥媳妇儿啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这回连洪拓都皱眉了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧看着他说道：“首先，还不确定您老是不是伢子的爷爷。其次……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;石有财抢着说道：“我咋不是？你这闺女咋这样说话呐？你还说你是我家媳妇儿，我看你是上赶着想倒贴我孙子吧？我孙子现在本事大，你瞧着有好处是不？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“老头儿。”洪拓说话了，反正他岁数儿大，别说是山伢子的爷爷，就算是祖爷爷，要跟他轮辈儿都差点儿意思。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“你一个死鬼，管那么多事儿干嘛？再说了，你说是就是啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;石有财不高兴的说道：“你这小伙子……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“什么小伙子？”洪拓打断了他，说道：“我死了一百多年了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;石有财一愣，神情变得有些异样，停了一会儿，赔着笑脸儿说道：“这是我们家的私事儿，您老就别管了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓说道：“我告诉你老头儿，就算你是伢子的爷爷，也没有你这么说话的，这个……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓一指霍晓荧，说道：“她跟着伢子出生入死，你别看她长得弱不经风，如果你不是顶着伢子爷爷这个名头，她早把你打跪下了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;石有财一愣，洪拓接着说道：“另一个，叫古芊芊，人家是大家闺秀，你们家祖坟冒了八丈清烟，人家才能看上伢子，你想怎么着啊？一个死鬼跑来充大辈儿？我告诉你！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓声调提高：“古芊芊家是法术世家，古芊芊的母亲是武林高手，你还敢跟人家掉脸子耍脾气，挑人家的理？人家要想打你个灰飞烟灭，你们家山伢子也是啥招儿都没有！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;石有财脸色尴尬地笑了两声，强辩道：“我这不也是心疼孙子嘛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;没人理他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪拓不能再往深里说了，因为他只是个外人，如果早知道会有这样的事儿，那天就直接让芊芊和小莹拜师了，那今天他以师父的身份，说什么都不为过。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而霍晓荧不说话，是因为心里很生气，这都什么年代了，还一说就是媳妇儿要怎么样怎么样，好像女人离了男人就活不了，嫁人就是为了给人生孩子当保姆一样。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;反正现在伢子没醒，这个老鬼的身份还不确定，不过霍晓荧心里也明白，说话敢这么肆无忌惮的，应该就是伢子的亲爷爷。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但霍晓荧不会惯着这种事儿，而且相信古芊芊也不可能惯着这么不懂事儿的老鬼，反正不管怎么样，等伢子睡醒了再说。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;石有财也挺委屈，他死了快二十年，一直被圈着，过着暗无天日的生活，他不知道现在已经变成什么样儿了，也根本不了解大城市人的想法。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是听洪拓说话的意思，还有霍晓荧发黑的脸色，石有财心里也明白，世道变了，或者大城市跟他们那个小山村不一样，女娃子也不是随便能让人说的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊是第二天醒了给霍晓荧打电话，才知道山伢子又受伤了，赶紧赶到医院，坐到床边就解山伢子的衣服，说道：“伤成什么样啊，我看看。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧笑了，想起昨天晚上打电话时古芊芊说话时的语气，加上现在的表现，说明伢子趁着她不在的时候，把生米煮成熟饭了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;石有财先自我介绍：“你是芊芊吧？我是伢子的爷爷。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊一愣，山伢子说道：“还不确定呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊看山伢子，又看霍晓荧，霍晓荧本来笑着的脸瞬间又黑了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;石有财对山伢子说道：“伢子，我真是你爷爷，要不你叫你爹来，你这么有本事，应该……”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我爹死了。”山伢子打断了他，说道：“我小时候我爹就死了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;石有财愣住，过了一会儿才说道：“那你会招魂吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“招过，招不来，不知道咋回事儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧冷淡地说道：“不管是真是假，您老如今得见天日了，应该赶紧去地府销账，等着投胎转世。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;石有财皱眉，说道：“闺女，我好不容易见着我孙子，才一个晚上，你就撵我走啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;霍晓荧也皱眉，但没有说话，而是看着山伢子，如果山伢子要把他爷爷留下，那就得说说昨天晚上的事儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“见也见了，也没人再拘着你了，你也是该去地府销账，我多给你烧些纸钱，对了，你叫什么名字？”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>