<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第217章：猜测</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第217章：猜测
</div>
<div class="bookname">
	<h1>第217章：猜测</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第217章：猜测<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊哭丧着脸轻声说道：“姐，你到底咋想的，你跟我说说呀，也许你说了，我就没这么害怕了，我也能帮你分析分析。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹想了一下，轻声说道：“我觉得……是你爸。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊一愣，随即嚷道：“不可能！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹斥道：“穷叫唤啥？你要这样儿，我不跟你说了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊掉着脸说道：“我爸是好人，不可能害伢子他娘。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹斥道：“你哪只耳朵听见我说你爸害伢子他娘了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉，眨了眨眼睛，说道：“你都把我说糊涂了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹说道：“我话都没说完，你就穷叫唤，你不糊涂才怪呐，把嘴给我闭上，听我说。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。”古芊芊嘟着嘴答应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹也是突然产生的念头，他们一直都认为，所有的事都是一个人干的，但这只是猜测，或许根本就不是一个人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;测试古芊芊的可能是古芊芊的父亲，但害山伢子和他娘的，或许另有其人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;从针对古芊芊这两次事件分析，第一次是试武，第二次是试胆，两次肯定是都不满意，所以又试了山伢子的本事。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至少山伢子是接住了对方打过来的石头子，这应该能证明，山伢子多少是有能力保护古芊芊的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而张电工又说让他来的人，就是当初让他对付山伢子的人，那就不可能是古芊芊的妈妈。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉，说道：“如果真的是我爸，为什么这么多年都不回来看我？就算不惦记我，也应该惦记我妈呀？他又为什么对付山伢子？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹摇头，这也是她想不通的问题，答道：“我也只是猜测，没有证据，就是直觉，你也不用当真，你问我是怎么想的，我就是这么想的，我一说，你一听，哪儿说哪儿了吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊沉默，张小莹看着她问道：“没觉得伢子是扫把星吧？你刚一沾上他就出事儿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊摇头，说道：“我上初中的时候，有一回被一群鬼给围了，虽然后来不知道为什么鬼自己散了，但我知道，早就有人盯上我了，不是伢子连累我，做为灵石宿主，我像个普通人一样生活，除了有鬼眼之外，什么本事都没有，能平安活到现在，除了应该感谢我妈之外，还要感谢老天爷庇佑。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;顿了一下，古芊芊又说道：“或许，我爸是有什么不得已的苦衷，所以不能回来找我们，但却一直在暗中保护我。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹握着她的手告诫道：“芊芊，关于对你爸的猜测，不要告诉干妈，没有什么凭据，别让干妈闹心。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我知道。”古芊芊点头答应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子端着一个小碗儿出来，放到古芊芊面前，是一碗浓稠的蘑菇汤，说道：“趁热喝了，我放了一勺儿安魂汤，你刚才吓着了，安安神，免得晚上做噩梦。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”古芊芊看着他微笑着答应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子莫名的有点儿不好意思，又叮嘱道：“小心烫，慢慢儿喝。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹嗤了一声，笑嗔道：“伺候月子呐？这么仔细的，做饭去！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一脸尴尬地转身走了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊拿起小勺儿喝了一口汤，一脸幸福地说道：“我知道了，虽然夏歆雨没有跟伢子一起经过什么事情，但吃过他做的饭，我要是普通人，就冲这碗汤，我也得想办法把他拴住。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹笑，说道：“所以呀，看紧点儿吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嗤笑，说道：“他这种老实头还用看着啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹说道：“再老实也是男人，他跟你还不熟，你等熟了的，他也坏着呐！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊看着张小莹，眼神异样。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹蓦然脸上发烧，嗔道：“看什么看，喝你的汤吧！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;晚上睡觉前，古芊芊对山伢子说道：“明天回家，你跟我姐把婚结了吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子蹭地坐起来，没看古芊芊，而是眼神热切地看着张小莹。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹目光游离地嗔道：“瞅啥？说了是明天，睡觉！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗳！”山伢子一脸兴奋地答应，又对古芊芊说道：“谢谢啊！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;然后倒下，闭上了眼睛。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊皱眉，虽然是她提议的，可山伢子的反应还是让她心里堵得慌，尤其这句‘谢谢啊’，这叫什么事儿？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹躺在古芊芊身边，轻轻地拍着她，用纤细的声音说道：“晚饭前我跟你说了，再老实也是男人，现在相信了吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯。”古芊芊掉着脸答应，翻了个身，背对着山伢子，不高兴地说道：“我睡了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张小莹俯下身，凑到她耳边用纤细的声音说道：“你要是心里难受，我就不跟他结婚了，就当是开了句玩笑，我肯定陪着你，等事情全都了结了我再走。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不行！”古芊芊一把搂住她，说道：“必须结！你哪儿都不许去！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊很清楚这件事的重要性，就像妈妈在电话里给她解释的一样，张小莹跟了山伢子四年，同过生死，共过患难，没人可以取代张小莹在山伢子心目中的位置。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果因为她，而令张小莹含恨离开，即使山伢子还是喜欢她，爱她，但绝对不会是百分之百。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所幸张小莹是鬼，这是因为他们都不是普通人，否则谁会去介意一个已经死了的人？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果论家世，论出身，论眼界，论心智，山伢子给古芊芊提鞋都不配。可要是论人品，论忠诚，论发展，论心性，山伢子却是万里挑一的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其实这些道理不用妈妈给她讲，古芊芊自己都想得明白，但心里不舒服也是必然的，正因为他们都不是普通人，天天眼见着耳听着，所以很难像普通人那样不去介意。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊突然坐起来，掀开被子下地，照着山伢子屁股上狠踹了一脚。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子一惊坐起来，古芊芊已经回到床上躺下，背对着他搂着张小莹。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，张小莹斥道：“瞅啥？赶紧睡觉！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子眨了眨眼睛，站起来给古芊芊把被子往上抻了抻，盖住胳膊，又把被角儿掖好，低声说道：“这里离山近，夜里凉，被子要盖好。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊没吭声儿，但心里一下子舒服了很多.<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;，更多精彩阅读，哦。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;手机站:
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>