<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第816章：魂力更重要</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=深夜鬼食堂+"最新章节列表">深夜鬼食堂</a> &gt;  第816章：魂力更重要
</div>
<div class="bookname">
	<h1>第816章：魂力更重要</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 舍得二仙</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;第816章：魂力更重要 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子微笑着答道：“我知道，我料他不敢报警，再者说，是他先骂我的，就算他报警，大不了就赔他点儿医药费嘛，我只是扇了他四个嘴巴，又不是打断了他的胳膊腿。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊问道：“那警察问你为什么打人，你怎么说？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“我就说找他算命，他说话不好听，吵起来了，我就动手了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊又问道：“那张铁嘴要是不认呐？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“我管他认不认，他又没伤没死，只是出了点儿血，警察能把我怎么样，警察更得按法律办事。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊笑着说道：“我还真不知道，你居然这么会耍无赖。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子笑，说道：“昔日你我是师徒，我自然要庄重，况且时过镜迁，人要学会因情就势嘛。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊笑眯眯地靠在他肩膀上，再一次说道：“你回来了真好。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子搂紧了她说道：“我答应你，永生永世，再不与你分离。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊娇嗔道：“你早干嘛去了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子笑而不语，拉住她的手转了方向，古芊芊问道：“去哪儿？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“去看电影。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊愕然问道：“看电影？你不抓紧时间修炼吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“劳逸结合嘛。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊失笑道：“那你以前教我的呐？天道酬勤，勤能补拙，只争朝夕，这些话都不作数了？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“作数，看电影也是修炼，修上法是修炼，晓世情也是修炼，便如阴阳交汇，无偏无重，无枉无纵。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嗤了一声，用另一只手搂紧了他的臂弯。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;晚上回到饭店，山伢子向江溟招手，江溟神态拘谨地走过来，唤道：“师丈。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“你为何躲着我？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;江溟咬着嘴唇，目光闪烁。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“山伢子厚道，无名真君开明，你说这两个人结合在一起，会怎么样？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;江溟答道：“弟子需要适应。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“我跟段神官商量了，对于你的功过，他很难界定，以防万一，他建议你再修持一段时间，同时多积功德。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;江溟愕然看着山伢子，山伢子微笑着说道：“你不能总是做鬼呀，做鬼是不会有法身的。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;江溟眼中见泪，山伢子笑着说道：“相识便是有缘，况且你舍身证道，其志可敬，其心可悯，其情可叹，我定会保你平安度劫，来世再入我无名观……当然，你也可以自选山门。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;江溟跪下，哭着说道：“师丈说什么，师丈对弟子恩同再造，弟子怎会自选山门，难道弟子是忘恩负义，过河拆桥之人吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“你过虑了，我不是这个意思，只是把话说清楚而已，起来吧。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;江溟抹着眼泪站起来，山伢子说道：“再有事时，你跟着我和你师父一同处置。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;江溟应道：“是，弟子遵命。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;入夜，古芊芊伏在山伢子胸口，看着他说道：“我把法力还给你吧。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“那你怎么办？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“我重头修炼呐，有你在，还用我操心吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子笑着摇头，说道：“你没我练得快。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嘟嘴嗔道：“你有什么法门没教我？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子抚着她的脸答道：“你是我最宠爱的弟子，我怎么会对你藏私？只是我没有跟你说过，修炼法力容易，修炼魂力难，我的魂力远在你之上，所以我修炼起来要比你快很多。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊愕然说道：“那卿琴说得是对的！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子问道：“她说什么？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊答道：“她说你遇强则强，是因为魂力在起作用，你虽然把法力给了我，但你的魂力是我不能想像的。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子微笑着点头，古芊芊嘟着嘴捶了他一下，嗔道：“你都不教我的。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子看着她，语气严肃地说道：“我怎么会不教你？最初的十年，我教你的就是修炼魂力，在你下山之前，我还特意嘱咐你要修心为上。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊眨眼，山伢子问道：“我教你时，你到底有没有仔细听？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊理直气壮地答道：“没有。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子皱眉，古芊芊咬着他的嘴唇呜哝道：“我只顾着想这事儿。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子含住她的嘴唇，抱紧了她，古芊芊突然松开嘴说道：“我刚想起来，你就这么让卿琴去投胎了，都没跟乌拉族说一声！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“有什么可说的？不过是十六年而已，弹指一挥间。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嗔道：“你说得轻巧，人家不找大祭司呀？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子笑着答道：“现在乌拉族实际上是风长老在管理，卿琴赐风长老转生，他定会忠心不二，况且他想练成法身，少说也要十数年的时间，如若期间有事来找，我自会应对。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊嘟嘴，问道：“那乌勒怎么办？你娶她做小啊？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子笑着说道：“怎么可能，待卿琴取回记忆再告诉她，届时去留随她自决，可拜入我无名观继续修炼，也可回乌拉族。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊看着他说道：“她可是杀了爹和天心的凶手。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子沉默了片刻，说道：“时势所使，不问因果。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊又问道：“那你亲爹呐？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子答道：“凭冯月晴的法力，不可能将鬼打入无间界，就是你也做不到，此事另有蹊跷，我现在法力低微，还不是查这事的时候。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊愕然问道：“我也做不到？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子说道：“无论是打入何处，都需要用法力开路通途，无间界路途深远，结界紧密，不似黄泉近在咫尺，容鬼通行，所以要想将鬼打入无间界，就要先用法力打开其结界，那岂是容易之事？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊坐了起来，皱眉思索，喃喃说道：“那为什么冯月晴会这么说？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子把她拉回怀里，说道：“一人做局，百人难解，以不变应万变才是上上之策，就像绣娘的事一样，总有拨云见日的一天，咱们只须静观其变就好了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古芊芊说道：“对了，冯月晴没来无名观。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山伢子笑了笑，说道：“无所谓。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;(本章完)
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>