<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第二百一十四章 遂昌县的金矿山（第二更，求订阅，求月票！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第二百一十四章 遂昌县的金矿山（第二更，求订阅，求月票！）
</div>
<div class="bookname">
	<h1>第二百一十四章 遂昌县的金矿山（第二更，求订阅，求月票！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;浙江承宣布政使司，处州府，遂昌县。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黄岩坑矿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;作为唐宋时就已经开采的大型坑矿，到了大明朝其仍然是黄金的主要开采地之一。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;临近年关，矿工们仍然没有休息，冒着严寒下矿开采金子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果问这世间做什么做赚钱，答案一定是挖矿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;挖什么矿最赚钱？当然是金矿！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;金子虽然在大明不能作为流通货币进行结算，但却是当之无愧的第一贵金属。寻常富贵人家的大妇都以拥有一套纯金头面为傲，更不用说那些达官显贵，公侯伯爵家连便溺器皿都用的是金器了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;金器多寡成了衡量财力的一大标准。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然，对这些开采金子的矿工来说，挖出的金子跟他们没有任何关系。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们只能得到微薄的收入，勉强够养家糊口而已。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所有采出的金子都必须统一送到何老员外派来的管事那里查验称量。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;也有人曾经起过小心思，想要把金子夹带在身上带出矿坑。可无一例外的他们都失败了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;为了防止矿工夹带金子，何员外制定了严格的搜查方法。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所有要离开的矿工接受搜查时都必须脱的一丝不挂，就连发髻也必须打散。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;曾经有一个矿工把金子藏在了粪门里想要蒙混过关，结果却被何家派来的打手发现，生生把金子从粪门里掏了出来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那个矿工的下场十分凄惨，被何家护卫活活乱棍打死，最后随便拿草席子一卷扔到荒郊喂狼，被野狼啃的连个骨头渣子都不剩。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;矿工的婆娘咽不下这口气去县城报官，却被遂昌县令直接下了大狱，最终不明不白的死在了狱中。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至此事后，再也没有矿工妄图把金子夹带出矿坑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这黄岩坑矿遍地都是何家的眼线耳目，他们是不可能混出去的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;事情败露不但他们自己难逃一死，连家人也得受到牵连。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;报官鸣冤？县尊大老爷凭什么为了他们这些平头百姓得罪何家？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;要知道那何家在遂昌县当地就是土皇帝一般的存在，跺一跺脚地面都得跟着晃三晃。县尊大老爷要想获得好的政绩，必须要得到何家的支持。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;别的不说，遂昌县一多半的土地都在何家名下，要是何家不交赋税，县尊大老爷收不到税，考评上肯定会落得个下等，别说升迁了怕是头上那顶乌纱帽都保不住。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;强龙不压地头蛇，何家在遂昌县就是说一不二的存在。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;何家是官宦世家，最早做官的是弘治年间的松江府知府何敢。其后正德、嘉靖、隆庆、万历年间何家都有出过官员，最高的做到过吏部侍郎。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;现任何家家主何荣的父亲何铨安便是在万历朝出仕，先授通山县县令，后调任济宁州知州，一路累迁户部员外郎、大理寺少卿，最终做到了通政使司通政使的高位。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可惜何荣并没有延续这一良好传统，虽然中过举人但难以更进一步进士登科。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;何荣又不愿意候补官缺，便索性一直留在家乡经营家业。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;何家家大业大，具体的事情都有下人们去做，何荣只需要坐着收钱就好。他闲着没事做便将热情都投在了和女人厮混上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;何荣一共娶了十个都是生的如花似玉，何荣却还不满足，金屋藏娇的美人不计其数。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;何荣除了和女人厮混最大的乐趣就是数自家地窖中的金银。金子、银子都被他铸成了锭子，摸上去那种感觉真是爽快的叫人窒息。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;何家不仅拥有遂昌一多半的土地，还掌控者遂昌乃至整个处州府的商业。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;青楼、茶馆、绸缎铺、粮铺、牙行<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;几乎所有的行业何家都有涉及。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;更不用说遂昌黄岩金矿了，那绝对是一座真真正正的金山啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;何荣虽然不做官，但和朝中官员多有联系，绝不是一介流官可以搬得倒的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;加之遂昌县令、处州知府每年都拿了何家送的银子，屁股上不干净，更是对何家多有袒护。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那些矿工们也只能认命，混一天是一天，只要何家给他们一口饭吃他们就这么混下去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“陈大哥，你过年想咋过？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王小川一边啃着菜馍馍一边问道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;从除夕到初十何家给矿工们放了十一天假。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对矿工来说一年到头也就有这几天时间休息。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王小川已经想好，趁着过年进到遂昌县城好好耍一耍。赏花灯看烟火自不必说，中意的糖人也得叫捏上几个，最关键的一定要置办一身新衣裳。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他说换新衣已经说了三年了，今年无论如何得换上一套。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“到时再说吧，老子那婆娘是个败家玩意，肯定又得叫老子给他扯布做新衣裳。老子一年到头累死累活赚不了三瓜俩枣，全被这败家婆娘给糟蹋了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈骆驼喝下一口菜汤，没好气的说道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“陈大哥，你别说这种话啊。我想讨个媳妇都讨不来呢。你真是身在福中不知福！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈骆驼狠狠夹了王小川一眼道：“你个愣头小子毛都没长齐呢懂个屁。媳妇要娶就得娶勤俭持家的。老子那婆娘，便是给他一座金山银山也得败完了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;听到金山银山二字，王小川一个激灵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“陈大哥，你可别说了。咱们不就守着一座金山呢嘛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;稍顿了一顿，他继续接道：“你就没有想过藏点金子带出去？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;听到这话陈骆驼猛然朝王小川扑来，捂住他的嘴压低声音道：“你小子胡说八道什么呢。这金子也是咱们能带出去的？从打我进矿起，想带金子出去的没一个活着出矿坑！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王小川呜呜了几声，闪开半个身位抱怨道：“我不也就是随便那么一说嘛。你说他何家凭什么把金子独占，这矿又不是他们家的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈骆驼差点背过气去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你胡说什么呢，这矿就是何家的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王小川却似是来了脾气，脖子一梗道：“才不是。我听老人讲，万历皇爷坐龙庭的时候，是有矿监派来遂昌的，这矿是朝廷派人来采的。后来不知怎么的朝廷不采矿了，才让何家占了便宜！”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>