<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第二百六十三章 朕要在山东挖战壕</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第二百六十三章 朕要在山东挖战壕
</div>
<div class="bookname">
	<h1>第二百六十三章 朕要在山东挖战壕</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;南京，成贤坊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;靠近里街的一家酒楼大门前站满了值守的护卫。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;二层靠窗的一间雅间里一个面容俊秀，举止文雅的年轻人正端着一杯香茗细细品着。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;坐在他对面的是一个身着员外服，头戴东坡巾的中年男人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“陛下，您此番微服出宫究竟是为何啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;原来这位举止文雅的年轻人就是大明帝国的现任皇帝朱慈烺，而坐在他对面的“员外”就是兵部尚书路振飞。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺呷了一口茶润了润嗓子，继而说道：“本兵觉得大明与东虏交战，何处是长何处是短？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;天子发问路振飞必须得作答。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他微微拱手道：“禀陛下，东虏所长在于骑射野战，大明官兵擅长据城防守。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺点了点头道：“说的不错。兵法之中强调扬长避短。只有发挥出优势才能克敌制胜。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;文安之直到现在都是一头雾水，不知道皇帝陛下葫芦里究竟卖的是什么药，只是恭敬的听着。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“朕在登基后便一直在想，怎么才能发挥官兵善于据守的优势，后来朕想到了一个点子，又找到了一个人，他帮助朕实现了设想。这个人或许本兵也见过，是皇明军校的一个生员，名叫宋应星。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺顿了一顿道：“这件事朕一直瞒着本兵，是因为之前还没有落实。现在却是可以让本兵瞧一瞧了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;路振飞已经被朱慈烺勾起了兴趣，和声道：“还请陛下让臣开开眼。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“本兵且随朕来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺一甩袍袖起身朝楼下走去。路振飞连忙跟上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺下楼后并没有离开酒楼而是朝酒楼后院走去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;从步入后院的那刻起路振飞便感到惊讶不已。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只见院子里被挖出许多壕沟，一排排整齐的排列着。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;走进一瞧却发现每道壕沟都很深，便是跳下一个人都不会冒头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;路振飞还没有反应过来朱慈烺便跳了下去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这可把路振飞吓了一跳。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺是大明天子，万一磕了碰了有个什么好歹，他岂不是就成了罪人了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“陛下小心！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;路振飞本能的呼喊道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“本兵莫慌，朕没事。这壕沟里很宽敞，本兵不妨也进来看看。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;天子把话说到这个份上了，路振飞当然不好拒绝。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他咬了咬牙纵身一跃跳进壕沟里。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;路振飞虽然是文官，但平日里也会练武打拳，故而身手并不比朱慈烺差。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他稳稳的站在壕沟之中，根本不用人扶。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;四下环视了一番，路振飞发现这个壕沟的内部空间真的像天子所说十分宽阔，一点也不显得促狭。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;别说是蹲下转身了，就是躺倒在里面睡觉也不会有任何问题。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“陛下，这究竟是怎么一回事啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;好端端的酒楼怎么会在后院挖这么多壕沟？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这酒楼连带着宅院都是朕叫宋应星买下来的，用来试验战壕的挖掘。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺解释道：“本来朕是想在军营校场试验的，但寻思着这件事还没有落实，应该控制一下知悉范围，这便叫宋应星想了这么一个办法。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;路振飞听罢直是有些哭笑不得。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;皇帝陛下平日看起来十分严肃，给人一种不怒自威的感觉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可这“不正经”起来，也是可以的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;很明显这座酒楼不是为了赚钱，而是为了完成皇帝陛下所说的试验。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只是路振飞还是不太明白，挖几个壕沟对于大明对抗东虏有何帮助。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“朕管这种壕沟叫做战壕。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺解释道：“别看它其貌不扬，但在阻击骑兵推进上却能发挥重要的作用。另外战壕也可以减弱火炮的威胁。满清的强大便强大在骑兵和火炮上，废了他这两点，此獠便不足惧也。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;路振飞将信将疑道：“陛下，这战壕虽说很宽很长，但毕竟不可能一直挖下去，东虏绕开不就行了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺笑道：“本兵说的不错，东虏看到战壕第一反应肯定是绕开，可朕的战壕也不是随便挖的啊，都是卡在东虏的必经之路上，他如果要绕开，那就不可能攻打重要的府县州城。另外战壕和棱堡也是配合在一起的，山东沿线大大小小的棱堡修筑了有几百座了吧？这战壕挖起来可比棱堡修筑快的多。朕想让将士们用战壕把棱堡之间的缝隙填上。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;挖战壕对于技术的要求并不高，只要给出一个样例便可以叫人参照着去挖。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;最重要的是人手一定要充足。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而这是大明眼下最不缺的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不管是丁壮还是士兵，都可以前去挖战壕。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺觉得最多一个月时间，就能完成他的要求。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“陛下是想逼着东虏攻打棱堡？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;路振飞虽然没有亲眼见过棱堡，却见过朱慈烺画的草图。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;从草图上就能看出棱堡比一般堡垒还要易守难攻。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果东虏选择强攻，势必会损失惨重。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可问题是棱堡之间是有无法覆盖到的区域的。如果东虏绕行，那棱堡群就没了作用。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;天子现在似乎想靠挖战壕在棱堡群之间编出一张网来，让东虏无路可绕。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不得不说这是一场赌博。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;因为在此之前从未有过类似的例子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果要是换做一般人，可能早就要上前劝谏了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可路振飞却是极为开明的一类人，十分愿意接受新鲜事物。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不错！东虏不去打棱堡就得越过战壕。而无论他们选择哪一种，都会死伤惨重。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺虽然从未在实战中感受过战壕带来的益处，但后世大量的战例足以给他信心。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;就比如普法战争，战壕就在其中发挥了重要作用。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;随着火枪、火炮的出现，战壕的作用只会越来越大。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而如果东虏在碰壁后选择强攻棱堡群，则更是朱慈烺愿意看到的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;坚固的棱堡可以最大限度的消耗满清的有生力量。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;损兵折将后满清将领肯定会恼羞成怒，妄图孤注一掷以求翻盘。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;等到他们深陷泥潭之中，明军便可以从两翼杀出形成包抄合围。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;以守代攻是明军当下最好的选择，而棱堡和战壕给这一战术提供了可能
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>