<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第二百一十九章 凌迟祖可法（第一更，求订阅，求月票！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第二百一十九章 凌迟祖可法（第一更，求订阅，求月票！）
</div>
<div class="bookname">
	<h1>第二百一十九章 凌迟祖可法（第一更，求订阅，求月票！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;如果问朱慈烺现在最想看到什么，那一定是高杰北伐的捷报。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰也没有辜负君父的信任，在过年之前将写好的捷报呈递至御前。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;除此之外高杰还给朱慈烺送上了一份大礼，那就是俘虏祖可法。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这厮本身在降清诸臣中地位并不算高，但因为是祖大寿的义子，还是被满清封了一个绿营伪总兵的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;为了祖可法专门搞一个献俘仪式有些夸张了，朱慈烺也不认为有这么兴师动众的必要。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他直接给刑部下旨，命其勘验正身完毕即押解人犯至西市处刑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;方式嘛自然是凌迟。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对祖可法这种大汉奸来说一刀砍了实在是太便宜他了，即便是千刀万剐也难解朱慈烺心头之恨。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;南京的天气相较于北方要暖和一些，但因为是处于小冰河时期，冬日的南京街头还是寒意瑟瑟的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;西市口已经挤满了人，从各坊市赶来的百姓翘首以盼，期待着这出大戏。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;斩首是皇明处决犯人的正式方式，他们都见怪不怪了。可凌迟却不是总能看到的。南京城百姓印象最深刻的便是欲行谋反的东林党魁钱谦益被行凌迟刑，足足割了三千多刀才咽气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;快半年过去了，他们终于等到又一次凌迟处刑，兴奋一些也是正常的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;很快，押解祖可法的囚车缓缓朝刑场行来，百姓纷纷向祖可法身上投掷烂菜叶，被堵住嘴的祖可法只能发出呜呜的声响。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;待囚车停稳，两个兵卒上前粗暴的将祖可法拽了下来，推搡着带到刑台上绑好。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;接下来就要交给行刑的刽子手了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;此刻的祖可法已经放弃了抵抗任由刽子手摆布。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刽子手先是将祖可法身上那件单薄的红色号衣扯去，随后将绑在祖可法嘴上的木枚取下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对这种大汉奸行刑，堵住他的嘴实在太便宜他了。就该让他惨呼出声，在生命的最后一刻都出乖卖丑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;寒风瑟瑟，吹在祖可法一丝不挂的身上，激的他一阵颤抖。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他知道求饶是没有用的，索性闭上了眼睛。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一切准备工作做好，刽子手将一张渔网罩在了祖可法的身上，这样他的肌肉便自然而然的突了出来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;行凌迟刑前一般会在犯人额头上先割一刀，这样垂下的肉皮可以遮住眼睛，使犯人看不到行刑时的惨状。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可今日刽子手不会割这一刀。因为祖可法不配。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;祖家累受皇恩，在辽东就是土皇帝一般的存在，竟然毫不犹豫的降清侍虏，一点骨气也没有。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这种为虎作伥的无耻小人，人人得而诛之。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;另一名刽子手强迫扒开祖可法的眼睛，那主刀的刽子手这才开始行刑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他这次要挑战自己的极限，看能否割超过五千刀。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;祖可法本下定决心一定不要喊出声，可当刽子手第一刀割在胸口的时候他还是忍不住喊出了声。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;太痛了，实在是太痛了！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一想到接下来他还要忍受几千次这种痛苦，祖可法便是一阵心悸。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“剐了他，剐了他，剐了这个狗汉奸！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“给鞑子当奴才的东西，一定不能让他死的痛快了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我要买他一块肉！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“把他的心挖出来，看看是不是黑的！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刑台之下，群情汹涌。鲜血的味道彻底刺激了这些平日里忙于生计的百姓，在这一刻他们的念头是一致的，那就是让祖可法在死前感受到最大程度的痛苦。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对于祖可法来说死并不可怕，可怕的是死前遭受的如此程度的痛苦以及承受的巨大压力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一开始他还能通过痛呼来分散这种压力，可喊了几十声后嗓子已经哑了，即便是喊也喊不出声。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;凌迟持续了两个多时辰，当刽子手将最后一刀割完，枭下祖可法的首级后激动的百姓纷纷涌向刑台争相购买从祖可法身上割下的肉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对他们中的大多数人来说，虽然不能亲自上阵杀二鞑子，但若是能生啖其肉也是很不错的<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;相较于在西市刑场观刑的南京百姓，紫禁城中的朱慈烺显然有更为重要的事情要做。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多铎率领大军返回北直隶。阿济格在九宫山绞杀李自成之后也退回了陕西。种种迹象表明满清并不想在这个寒冬和大明展开决战。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;道理嘛很简单，冬天打仗成本太高了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;便说阿济格统领的大军，十几万人一天人吃马嚼耗费甚巨，若是断了补给，是极为可怕的。从陕西运粮到湖广是不现实的，且不说以目前的情况整个陕西都凑不出这么多粮食，便是能勉强凑出，从陕西运到湖广，漫长的距离也会让粮食损耗严重。要知道陆路运粮比水路运粮损耗严重的多，偏偏从陕西往湖广运粮只能走陆路。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于抢粮就更不现实了。冬天可是没有太多地方抢掠粮食，大明只要坚持坚壁清野的策略，十几万清军就可能活活饿死。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于回师的多铎部清军，更多程度上是为了赶走高杰。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰在河南、北直隶搅得天翻地覆，满清在这两省的统治遭到了极大的威胁。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多尔衮是个极为保守的人，他肯定不会冒着老巢被端的风险任由多铎在外面劫掠。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;综合考量下来，朱慈烺认为满清肯定是想等过完这个年最好是开春后再做进一步的打算。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如今山西、陕西、河南、北直隶连成一片，随着统治地区的增加一个严峻的问题摆在了多尔衮的面前。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那就是如何养活这么多军队。要知道清军现在不光是八旗军，还有吴三桂、尚可喜、孔有德、耿仲明等部的藩兵，以及各地投降整块编制的绿营军。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;全部军队加在一起有几十万人，光靠存粮肯定支撑不了多久，即便是勒紧裤腰带并依靠晋商的关系筹买粮食也最多就能撑个半年。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这就意味着多尔衮必须要打下湖广或者山东其一，以解决几十万军队吃饭的问题。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;从这个角度分析，满清和大明之间必有一战，且很可能就在来年开春之后。等到开春运河解冻，至少满清在攻打山东时可以依靠运河运送军粮，以减少损耗。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺要做的就是未雨绸缪，提前布置好千里防务
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>