<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第一百三十章 大胜叛军（第一更，求订阅，求月票！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第一百三十章 大胜叛军（第一更，求订阅，求月票！）
</div>
<div class="bookname">
	<h1>第一百三十章 大胜叛军（第一更，求订阅，求月票！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;拱形阵被勇武营的将士生生撕开了一个口子，且有扩大的趋势。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘泽清、刘良佐二人面色铁青，简直不敢相信眼前发生的一切。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一千八百人可是他们的亲兵啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;亲兵是什么？那是冲在前面替将领挡刀子的，竟然被一只新军冲的七零八落！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“老哥哥，现在咱怎么办啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘泽清见形势不对萌生退意，可他又不好意思直说，便把难题抛给了刘良佐。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘良佐冷笑一声道：“还能怎么办，跑吧！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说罢在三两名家将的护卫下翻身上马。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘泽清见状亦不再装模作样，拍拍屁股便跳上马背。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;二人一前一后打马离去，逃跑之果决直是让人惊讶。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这边二刘亲兵正自和勇武营激战，见刘泽清、刘良佐跑了，斗志一落千丈，由死守转为稳步撤离。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘泽清、刘良佐的亲兵都有战马，互相掩护下纷纷跳上马背扬长而去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沈复也不命人追击，而是继续在二刘大营中冲杀，烧毁营帐。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;毕竟他们是步兵，怎么也不可能追上骑兵。与其把力气浪费在追击上，倒不如把残局收拾的干净一些。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对这些叛军士兵，沈复不会有任何的同情，一律格杀。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一来这些人本来就是兵痞，个人品行十分低劣，属于无罪也该杀的类型。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;二来勇武营的将士人数实在太少了，如果接收十数倍于自己的俘虏根本无法看管。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;为了防止这些叛军再次复叛，造成不可收拾的结果，自然是把他们杀干净的好。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对敌人的仁慈就是对自己的残忍，这种时候沈复绝对不会有妇人之仁<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;太原城终于拿下来了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;狗血对上阴门阵取得完胜，以阳克阴后，孔有德的红衣大炮威力大增，轻易的轰开了太原的城墙。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;十几门重炮在太原城墙上打开多个缺口，如狼似虎的清军立刻从这些缺口冲进去，将城中的顺军撕了一个粉碎。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;与顺军一同被撕碎的还有城中的百姓。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;因为顺军负隅顽抗一直死守，激怒了豫亲王多铎。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;城破之后多铎下令屠城，不论是男女老少一概杀光，鸡犬不留！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;要把城中百姓全部杀干净也不是件容易的事，清军一共杀了三天三夜。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;从七八十岁的老妪到只有一两个月大的婴儿都难幸免。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一些清军甚至喜欢把婴儿挑在刀尖上炫耀，看着孩子的母亲发出撕心裂肺的尖叫，以此为享受。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于城中的女人自然是下场最为凄惨的。因为等待她们的不仅是死亡，还有死亡之前的凌辱。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;妇人们成了清军发泄兽欲的工具，蹂躏过后再一刀砍死转向下一个人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;三日的时间太原城已经变成一座死城，街头巷尾空无一人，犹如鬼蜮。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多铎十分得意，下令将城中百姓以及顺军的首级割下筑成京观，以此警示世人对抗大清八旗军的下场。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;凡遇抵抗者，城破后一律屠城。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这是大清八旗军的铁律。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈顺才把这一切看在眼里，却也没有多说什么。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他只是觉得有些可惜。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;原本他还想着能够从太原城中抢一个女人回去做媳妇，现在城中的女人都成了女鬼，他总不能娶一个鬼吧？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过没关系，太原虽然没有活人了，但西安有啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;豫亲王可是说了，打下太原后下一步就是潼关。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潼关一旦被攻克，西安就是一块砧板上的肥肉，任人宰割。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李自成的主力已经折损了不少，怎么可能守得住关中。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只要顺军不要像守太原一样守西安，清军拿下西安之后就不会进行大规模的屠城。到了那时，陈顺才觉得他总能抢到一个女人吧？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;想到这里，陈顺才便迫不及待的想要打下潼关，打向西安。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;事实也确实没有让他失望。多铎在太原稍作休整后便下令全军向潼关进发。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;清军兵分两路谋取陕西的策略是多铎的兄长摄政王多尔衮早先就制定好的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;阿济格领兵经由蒙古攻打陕北榆林，多铎则从山西渡过黄河攻向潼关。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两路大军同时进攻使顺军首尾不得兼顾，最终崩溃。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;阿济格已经先行一步，多铎自然不能落在后面。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两路大军只有同时发动进攻，取得的效果才会最好。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多尔衮本人把李自成当做心腹大患，必欲处之而后快。为此不惜派出了清军全部的兵力，就连京畿地区的军队都被抽调一空。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对此，多铎是觉得有点小题大做了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杀鸡焉用牛刀。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李自成不过就是个流寇，能有多大的本事？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山海关之战，他不就是一战即溃吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;依他看这李自成也不过是徒有虚名。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;什么闯王，就是个鼠辈。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然，若是矮子里面拔将军，多铎还是觉的顺军比明军强一些的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;顺军就是再不堪至少敢打，可明军基本就是望风而降，连打的勇气都没有。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一旦解决了李自成，那大清的威胁就只剩下了四川的张献忠。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;此僚当年也是与李自成齐名的人物，只不过似乎少了点雄心壮志。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;以至于李自成都打到北京逼死了崇祯，而张献忠还守着四川那一亩三分地过着小日子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过对于大清来说，张献忠和李自成都是必须解决的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张献忠也许没有定鼎天下的雄心，但肯定会割据四川。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卧榻之侧岂容他人酣睡，对于志在一统中原的大清来说，任何一个武装割据政权都是不能容忍的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而解决了张献忠，剩下的残明小朝廷便可以任意揉捏。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多铎认为最多三个月，不，只用一个月就能尽收江南之地。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一想到把那些江南肥沃的土地全部圈起来供旗人跑马，多铎便觉得兴奋不已。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老实说，多铎没想到入关后清军的推进会这么顺利，这一切要得益于吴三桂、孔有德、尚可喜、耿仲明等汉人藩王的卖命。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;据说十四哥曾经暗示吴三桂、孔有德等人一旦大清平定天下，会分出一省之地作为他们的藩国，或许这就是他们如此给大清卖命的原因。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对此多铎觉得没啥可惜的。反正这些土地原本也不属于大清，若是能够打下来大清也不过是借花献佛罢了
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>