<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第七章 乡兵</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第七章 乡兵
</div>
<div class="bookname">
	<h1>第七章 乡兵</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;“都他娘的给老子站好了！一会抚台大人要检阅营兵和乡兵，咱老子不指望你们和营兵一样，但也别歪歪扭扭的跟个娘们一样。咱老子丢不起那个人！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦拱明快步从一排排乡勇前走过，厉声呵斥着。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;作为两淮团练总兵，秦拱明在这些乡兵中还是很有威望的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;被他呵斥一番，这些乡兵都跟霜打的茄子似的耷拉着脑袋，不敢瞧他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;见此景象秦拱明心中长叹一声。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他当然明白不能要求这些乡勇太多，毕竟这些人半年前不过是在田间挥舞着锄头的农夫，能够在短短时间内集结成军，懂得基本号令已经不错了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可如今大明内忧外患，闯逆围困神京，东虏觊觎山海关，再没有时间给他们慢慢训练了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若是逆贼东虏真的杀向淮安来，这些乡兵是要拿起手中的兵刃保护自己和家人的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“驴球子！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦拱明啐骂一声，又继续朝前走去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;偌大的新城内此刻站满了乡兵，好似一个大校场。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只是这军容着实不怎么好，乡兵们穿着各式各样的衣裳，手中拿着木棍、锄头，只有少数手中有刀。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“巡抚大人到！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦拱明听到通报声直是一愣，随即反应过来快步朝营门方向走去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他还未走到营门，巡抚路振飞便在一众亲兵的簇拥下来到秦拱明身前。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦拱明欲行跪礼叩拜，路振飞连忙把他虚扶了一把，笑道：“元一不必多礼，本官来是看看乡兵们训练的如何了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦拱明脸上立刻露出羞愧的神色，叹了一声道：“下官有愧抚台大人重托，这帮驴球子心思不在训练上，如今只勉强能摆个阵列出来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;路振飞咳了一声，摆了摆手道：“练军非一日之功，慢慢来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦拱明连忙把路振飞迎到一校台上训话，无意间瞥见路振飞身边还站着一个锦衣华服的少年。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这少年看着十分面生。秦拱明与路振飞也是老相识了，竟然从未见过。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他不禁大为疑惑，压低声音问道：“敢问抚台，这位公子是？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;路振飞面容一变，朝朱慈烺望去，朱慈烺轻点了点头，他这才轻声说道：“这位便是皇太子殿下。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他声音极低，故而除了一旁的秦拱明，几乎没有人能够听到。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦拱明神色一滞，随即便要跪倒行礼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;路振飞忙把他托住。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“殿下不想让太多人知道他在淮安。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦拱明点了点头，深吸了一口气努力使自己的心情平复下来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;皇太子殿下怎么会突然出现在淮安？如今神京不是已经被闯贼团团围住了吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一连串的疑问在秦拱明的脑中出现，但他也知道现在不是发问的时候，便恭敬的垂手侍立在一旁。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺站在校台之上微微眯着眼睛，观察着这两万名乡兵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在他看来这些乡兵虽然军容不整，但至少还可以算是兵，比明末的那些军户总归要好一些。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他还是有些失望的。原本他想接手这两万名乡兵，充作自己的近卫军。可现在看来，即便接手了这只乡兵，也必须对他们进行严格的训练。不然这样的军队上了战场，是会一触即溃的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;路巡抚又说了一番勉励的话，便和朱慈烺、秦拱明一起离开了乡兵大营，往新城总兵署去了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;淮安的大部分官署都在旧城，唯有这团练总兵的官署设在新城。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;路巡抚也索性大手一挥，把这两万名乡兵尽数安置在了新城。这淮安新城中，除了这两万名乡兵外，只有少数的几十户商贾，并无其他民户。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;是以淮安新城更像是一座戍堡关城，只是规模却要大上很多。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;团练总兵的官署是个三进的院子，并不算大。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一进的外院是秦拱明办公的地方，进到厅中朱慈烺自然走到上首坐定。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;见路振飞和秦拱明还站着，朱慈烺微微笑道：“路巡抚，秦总兵快快坐下，孤还有要事与你们商议。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;路振飞和秦拱明对视一眼，这才各自在下首坐了下来，但屁股只坐实了小半边，有大半都是悬空着的，用战战兢兢来形容丝毫不为过。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺端起茶杯微微呷了一口，用极其温润的声音说道：“皓月公和秦将军练出这样一只乡兵，乃是社稷之福。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦拱明立刻涨红了脸，羞愧道：“殿下谬赞了。这些驴球子如今只能勉强守城，叫他们上阵杀敌怕是不行的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺之前便听路振飞提起过这秦元一，见此人生的英朗，隐隐有大将之风，便多问了一句：“秦将军以为把他们练成什么样子才能上阵杀敌？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦拱明毫不犹豫的说道：“自然是练成川军一般。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;川军<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺心中一动。他是明史教授，自然知道川军二字的分量。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果把明末军队战斗力做个排行的话，川军和戚继光训练的浙兵可以排进前二，第三则是卢象升统领的天雄军。其余的军队除了秦兵稍有战力外，实在战斗力有限。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这秦元一也姓秦，难不成也是川军的一个将领？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“秦将军可知道秦夫人的练兵之法？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在明末提起秦夫人三字那说的自然是秦良玉了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只见秦拱明拍着胸脯道：“秦夫人正是臣的姑母。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺愣了一愣。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他知道秦良玉有两个兄长，一个弟弟。秦良玉的兄长秦邦屏、秦邦翰都在天启元年的浑河血战中战死。而秦良玉的弟弟秦民屏也在天启四年平定“奢安之乱”中战死，可谓一门忠烈。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于秦良玉的侄辈，朱慈烺知道的有秦翼明、秦拱明、秦佐明、秦祚明。秦翼明、秦拱明这二人都是秦邦屏的儿子。其中秦翼明官至总兵，封威远伯，在原本历史中在顺治十六年与马万年一起降清。而秦拱明也做到了总兵，在平定沙普之乱中战死。秦佐明、秦祚明都是秦民屏的儿子，也都做到了参将。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺却是并不记得秦良玉有一个侄儿叫秦元一啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;见朱慈烺有些疑惑，秦拱明解释道：“家父便是都司佥书秦邦屏。”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>