<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第一百九十二章 前有卢建斗，后有高英吾（第二更，求订阅，求月票！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第一百九十二章 前有卢建斗，后有高英吾（第二更，求订阅，求月票！）
</div>
<div class="bookname">
	<h1>第一百九十二章 前有卢建斗，后有高英吾（第二更，求订阅，求月票！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;拿下广平府后高杰并没有多做停留，而是继续北进。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;广平府的北面是顺德府，下领九县，距离京师一千里。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;弘治年间全府在编民户有两万一千六百一十四，口一十八万一千八百二十五。万历六年时在编民户有两万七千六百三十三，口二十八万一千九百五十七。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可到了崇祯十七年，顺德府全府在编民户只剩下了一万出头，口九万余人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;连年旱灾蝗灾当然是重要原因，但更重要的原因是兵乱人祸。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;崇祯年间东虏多次犯边破口，劫掠畿辅。属于北直隶下辖的顺德府也难幸免。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在崇祯十一年，这里曾经爆发了一场震惊朝野的大战，交战双方便是满洲八旗与卢象升统领的明军。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;崇祯十一年八月二十三，皇太极命睿亲王多尔衮为奉命大将军统领左翼军，封贝勒岳托为扬武大将军率右翼军，并贝勒杜度等大举征明。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;九月二十二，岳托从密云墙子岭破口入寇，杀明蓟辽总督吴阿衡。随后不久，多尔衮率领左翼军于九月二十八从青山关破墙而入。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两路大军最终在通州会师，直逼北京。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;崇祯帝大为震惊，下令京师戒严。同时崇祯帝赐予时任宣大总督的卢象升尚方宝剑，统领天下勤王兵马。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过说是统领天下兵马，但卢象升真正能够统率的只有他从宣大带来的两万多兵马以及监军太监高起潜统率的数万关宁军。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;明军兵马相较于多尔衮、岳托统领的八旗军并没有数量优势，但若是上下一心，在卢象升的带领下并非没有一战之力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可问题是这时的崇祯帝已经有了议和的心思，派兵部尚书陈新甲和清军私下接触，商量议和的细节。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;东阁大学士杨嗣昌与监军太监高起潜忖度上意，知道崇祯帝想要议和，便对主战派的卢象升一再打压。要粮草不给粮草，要甲胄不给甲胄。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高起潜还以替大明保存家底的理由向卢象升提出分兵的要求。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卢象升在一再力争无果后无奈之下只得答应高起潜，由高起潜统领关宁军，卢象升统领宣大军。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;明军就此分兵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这次分兵后卢象升手中的兵力大减，不过还是主动出击，出京师，过涿州，抵保定，最终在庆都和清军展开了一场遭遇战。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一仗卢象升胜了，而且胜得十分漂亮。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;偏偏当时的杨嗣昌和卢象升有私人恩怨，不想眼睁睁看着卢象升立功，便向崇祯帝请求将卢象升手下兵马的一部分交给陈新甲统领以达到制衡的目的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;崇祯帝同意了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;结果陈新甲从卢象升手中夺走了两万宣大精锐，只给这位宣大总督留下了不到五千人的老弱残兵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这是第二次分兵，此次分兵后卢象升便再不具备和清军一战的实力。如果强行出战，肯定难逃兵败身死。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但他深知以崇祯帝的性格，若是他不主动应战，肯定会被皇帝以消极怠战的罪名抓捕押回京师，很可能还要受那断头一刀。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这是卢象升绝不能接受的。是以他还是决定主动寻求与清军对决。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一点很像当年北伐前上奏出师表的诸葛亮，明知不可为而为之，只为无愧于天地，无愧于本心。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在行军路上，卢象升遇到了自发从大名府赶来的百姓。他们见到卢象升后都劝其移师大名府休整一番再做计较。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但卢象升拒绝了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他自知此战必败，不想再把兵祸引至大名府，使得大名府百姓白白牺牲。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一军孤胆向巨鹿！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;崇祯十一年十二月，卢象升领兵抵达巨鹿贾庄。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在距离贾庄不远的蒿水桥卢象升遭遇了清军主力。他曾派人突围向高起潜求援，而此时领着数万关宁铁骑的高起潜就驻扎在距离贾庄不到五十里的鸡泽。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;结果高起潜完全无视卢象升的求援，任凭清军把卢象升合围，一步步蚕食。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卢象升大喊杀虏报国，率领五千儿郎奋力拼杀，直到弹尽矢绝，全军覆没。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰率军抵达巨鹿贾庄时特地命军队驻扎，他只身匹马亲自前去蒿水桥旁凭吊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;六年过去了，如今的蒿水桥旁早已没了当年大战的痕迹，只剩下一个个小土丘以及一簇簇杂草，十分的荒凉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰翻身下马，拿出牛皮酒囊将酒水一撒而尽道：“卢督师，奸臣误国害死了你，高某知道你死不瞑目，你是想亲眼看到剿灭虏寇大明中兴的那一天。如今东虏入关连克京畿、河南、山西、陕西，天下危在旦夕。高某奉陛下之命率军北伐，誓要把大明失去的土地重新夺回来。还望卢督师保佑高某此次北伐大获全场！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;照理说高杰和卢象升的出身完全不同。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰是流寇出身，而卢象升是宣大总督是督抚大臣。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;即便是高杰降明之后也只是做到了总兵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一个文臣，一个武将二人没有太多的交集。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可高杰就是打心眼里钦佩卢象升，钦佩这种忠直之臣。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;崇祯朝的督抚无数，但真正能让高杰钦佩的只有卢象升、孙传庭二人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;二人都以身殉国，以至于李自成兵临京师时崇祯帝无人可用，这是何等的讽刺。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;崇祯帝自缢的消息传来后，高杰甚至一度以为大明近三百年国祚就要毁于一旦。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所幸崇祯帝的嫡长子，东宫太子朱慈烺登基后的一系列举动让高杰重新看到了希望。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;亲贤臣，远小人，整吏治，肃朝纲。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这绝对是英明圣君，中兴之主啊！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;最让高杰感到欣慰的是，当今天子是积极的主战派。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;即便是先帝崇祯，也曾经动过和东虏议和的念头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而今上早在践祚之初就曾对六部九卿说过，敢言与东虏议款者死。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这是最直接的表态，有了天子的表态，高杰这些武将也敢甩开膀子和清军干到底。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰没有读过什么书，不懂太多的大道理。但他知道这天下是汉人的天下，不是东虏的天下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;要是让东虏取了江山，那神州大地的百姓便不是亡国而是亡天下了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;家国天下危亡之时总得有人站出来。前有卢象升、孙传庭，现在轮到他高杰了！
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>