<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第一百五十九章 水师很烧钱（第三更，为盟主荷塘V听雨加更，加第二更！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第一百五十九章 水师很烧钱（第三更，为盟主荷塘V听雨加更，加第二更！）
</div>
<div class="bookname">
	<h1>第一百五十九章 水师很烧钱（第三更，为盟主荷塘V听雨加更，加第二更！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;打发走了高弘图，朱慈烺决定召见姜曰广、路振飞。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高弘图虽然执拗了一些，但他说的一句话是有道理的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;要复设登莱巡抚，复建登莱水师不是工部一个部‘门’的事情。朱慈烺必须协调多方才行。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;本来朱慈烺还想再把吏部拉进来一起论论。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可考虑到如今吏部尚书张慎言病重一直在家休养，朱慈烺叫个‘侍’郎来也不太合适，便索‘性’只召见了姜曰广、路振飞。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;反正议定之后，吏部那边知会一声行。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只要姜曰广这个管钱的，路振飞这个管兵的没有问题，那这事成了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;等待的工夫朱慈烺索‘性’对着地图分析起河南的战事来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如今高杰北伐已经打下了开封，继续往北可以打怀庆、卫辉二府直接威胁北直隶。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他也可以集兵力攻取洛阳。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洛阳是和开封一样的雄城，重要‘性’甚至开封还要高一些。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可以说高杰不管选择打哪里都很好。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺本人是倾向于拿下洛阳的。不过他不打算给高杰限定条件。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;战时从权，战场任何一个细小的变化都会导致决策随之发生变化。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尽可能的利用满清西征的空档期攫取利益，是朱慈烺现在需要做的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;便在朱慈烺凝神沉思之时，内‘侍’禀奏路振飞、姜曰广已经来到殿外等候。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺振了振袍服坐定下来，朗声道：“宣！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;君王必须正襟危坐，不怒自威，绝不能做有损形象的事。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺觉得自己在这方面做的还是不错的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜曰广、路振飞依次进殿后跪倒行礼，朱慈烺赐他们平身，各赐了一个锦墩休息。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“朕召见二位卿家来是为了商议一件要事，朕准备复设登莱巡抚，复建登莱水师。二位卿家以为如何？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;路振飞闻言‘精’神一振。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他坚定的支持北伐，反对一切形式的和谈。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在他看来只有强势一些把东虏打服了打怕了，他们才会乖乖的退出关去。而一旦示弱，东虏会像一只饿狼一样，毫不留情的扑来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“陛下英明！登莱位置极佳，在此设立水师既可以威胁津‘门’，也可以往旅顺用兵，实乃一举两得。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;自打路振飞出任兵部尚书以来，一直想在登莱复建水师。只是那时候朝廷手的海船一共还不到五艘，自然做不了这件事。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;好在圣天子天纵英明，对龙江船厂进行改革，利用奖赏‘激’励工匠造船的积极‘性’，用短短几个月的时间造出了几十艘福船、海船。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然这个数量和登莱水师鼎盛时期的海船数量没法，但也已经是个很不错的开始了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;路振飞相信，多则一年，少则半年，登莱水师能恢复至昔日规模。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;守江？守淮？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;通通不要！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;要真到了靠守江守淮的时候，那大明朝也快覆灭了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;即便要守，守的也是山东河南。守住了这两处，东虏便根本威胁不到南京。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;御敌于国‘门’之外才是策。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯，那路爱卿便估算一下登莱镇的兵额要多少，拿出个章程再报给朕。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“臣遵旨！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;路振飞欣然领命。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“姜爱卿，户部这边可有问题？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺又转向了姜曰广。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“启禀陛下，复设登莱镇是好事。不过钱粮之事恐怕有些难办。老臣不知道登莱镇准备定兵额几何，不过这一年下来本‘色’折‘色’银子加在一起最少也得一百万两吧？户部可拿不出这么多钱啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个老狐狸，一来哭穷！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺暗暗腹诽了一句，面却微微一笑：“哦？一百万两银子户部都拿不出来了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜曰广等的是朱慈烺的这句话，连忙拱手道：“启禀陛下，湖广每年军饷会耗掉一半的岁入，再加南直隶的十几万驻军日常开销，也刚刚够用。陛下要是让老臣挤出来十几万两兴许还可能，但要是一下子叫臣拿出一百万两，那臣确实做不到啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜曰广所说真真假假。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;真的是南明朝廷养军队‘花’费确实很大。说左良‘玉’的那“八十万”大军，都得朝廷出钱养着。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若是朱慈烺断了左良‘玉’的军饷，左良‘玉’绝对跳脚骂娘，扯旗造反都有可能。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以湖广这块的军饷暂时是不能断的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;再是南直隶诸军阀的军饷。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰、黄得功自不必说。连刘良佐、刘泽清在没有发动叛‘乱’之前，朝廷也没有短了他们的一两银子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这块的消耗确实巨大。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;好在现在刘泽清、刘良佐部尽数伏诛，省下了一大笔银子。左良‘玉’只要一死，朱慈烺便能利用金声桓、马进忠等人控制湖广。控制住湖广局势后，裁撤一部分军队是肯定的。这八十万人里水分太大，真正能打的怕是二十万都没有。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺可不打算养那么多的闲人，瘦身之后又能省一笔银子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜曰广即便不知道朱慈烺打算对左镇动刀子，总该知道刘良佐、刘泽清叛‘乱’已经被平定的事了吧？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;把本属于刘泽清、刘良佐的军饷转给即将复建的登莱镇，怎么不可以了？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;即便差一些缺额，也不会差一百万两，最多是几十万两银子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜曰广却一口咬定没钱，这不是明摆着想让朱慈烺自掏腰包，从内帑出这笔军饷吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺也不傻，不会主动认下这笔黑账。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他决定好好跟姜曰广讲讲道理。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“朕看未必吧？刘良佐、刘泽清已经被诛杀，叛军也近乎都被斩杀。姜爱卿何不把这部分银钱拨给登莱镇？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜曰广似是早有准备，一吹胡子道：“陛下有所不知，水师消耗步兵多很多。二刘逆贼虽然人数有五六万，可一年消耗的军饷也是五六十万两，可如果同样的人换成了水师，即便不算各式船舟的维护费用，光是士兵的军饷得翻倍。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个姜曰广倒是没有扯谎。养骑兵养步兵‘花’的钱多，而养水师又养骑兵‘花’的钱多。这么算下来登莱如果兵额定在五六万人，那一年确实需要消耗百万两。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺不是不明白这点，他是不满意姜曰广只会伸手要钱的态度<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;的小说站！
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>