<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第二百六十九章 天子巡边（第二更！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第二百六十九章 天子巡边（第二更！）
</div>
<div class="bookname">
	<h1>第二百六十九章 天子巡边（第二更！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;朱慈烺对山东防线很有信心，一些明军将领却未必是这么想。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但天子御驾亲征后，山东便成了必守之地。毕竟天子行在就在济南府，他们总不能坐视东虏在齐鲁大地肆意烧杀劫掠吧？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺要达到的就是这个效果。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只要有他这个皇帝坐镇，将士们就一定会效死力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过处理政务确实是一件麻烦的事情。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺刚刚十六岁还没有皇嗣，自然不可能让太子监国。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所有重要的奏疏都必须从南京送到济南，呈递给天子御览。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;好在南京距离济南并不算太远，一来一回不至于延误太长的时间。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;除了即将在山东爆发的大战，朱慈烺最关注的地方有两个，一个是湖广，一个是四川。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;令他稍感欣慰的是这两个地方暂时都没有爆发大战的趋势。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张献忠的话还能用坐山观虎斗来解释，阿济格真是理解不能。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;难道这厮和多尔衮之间起了什么矛盾摩擦？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;总而言之，这对驻守在山东的明军来说是一件好事。他们只需要应付眼下的大战，不需要为其他事情分心。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果从整个山东的地理位置来看，青州府是绝对意义上的地理中心，但济南府却是政治中心。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺选择在此地驻跸，也是考虑到距离北线诸城较近。必要的话，他可以随时移驾至临清、甚至是德州。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺不是那种只会躲在后方看将士们搏杀拼命的脓包皇帝，而是一个敢于来到前线鼓舞士气的圣明天子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在济南府驻跸了三日后，朱慈烺决定先去临清巡视一番。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;此地乃是高杰驻防，里里外外有数万精兵把守。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;作为大运河上重要的枢纽，临清的重要性不言而喻。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;正是朱慈烺下旨命人切断临清以北运河漕运，使得江南的米粮无法运输至北直隶。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;满清这么急着攻打山东，恐怕也是为了取得大运河的控制权从而运输粮食到北边。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰得知圣驾移至临清，提前做了悉心的布置。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;除了将临清城中最好的宅子腾出来给天子充作临时行宫，他还命人加强了临清城的安防。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;毕竟天子驻跸在此容不得一丝一毫的疏忽。万一有别有用心之人想要刺皇杀驾，他必须第一时间做出应对。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然，朱慈烺亲领的神策军十五营也一并伴驾前往。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽说高杰这一年来表现的忠心耿耿，但作为天子亲军，神策军也必须履行自己的职责，将所有的可能性都考虑到。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺在行宫休息了一夜后，翌日一早便前往临清城头视察。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然知道临清城外围有一道棱堡、战壕防线，但朱慈烺还是本能的希望临清城坚不可摧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;相较于几年前，高杰命人对临清的城墙进行了加固、修补。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如今的临清城虽说不是固若金汤，却也是一座雄城。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺来到城头俯瞰，只见茫茫原野顿时感慨道：“高卿，这一场仗必须要赢。你有几分信心？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰连忙拱手答道：“陛下，如今军队士气高昂，将士们皆愿意为陛下效死命。东虏若敢来犯，必叫他们有来无回！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺点了点头道：“届时朕亲自在城头为高卿、为将士们擂鼓助威。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰感动的热泪盈眶道：“陛下，臣何德何能得陛下如此器重”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“都说东虏可怖，朕看是以讹传讹。若是君臣一心，何愁不能克敌制胜？高卿说是也不是。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰连忙抱拳道：“陛下英明。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他心中却是有些犯嘀咕。陛下对他说这番话是什么意思，难道是怀疑他生有二心？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;联想起不久前李成栋劝他给自己留一条后路，高杰便觉得不寒而栗。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;听说天子复设内厂后设立了军情司。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;军情司的番子比之锦衣卫更为可怖，遍布两京十三省各地。恐怕高杰军中就有军情司的番子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;天子所说的每句话都不是随便说说的，一定藏有深意。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这该是在敲打他吧？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;自率军北伐大获成功以来，高杰确实有所膨胀。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;天子是在告诉他其一切举动都被天子看在眼中，叫他恪守为人臣子的本份呐。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰心道还好他没有做什么出格的事情，不然后果不堪设想。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陛下真是高深莫测，深不可测！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“贝勒爷，前面就是清河了。还请贝勒爷下令大军在清河稍作休整，补齐粮秣。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;石廷柱一手控着马缰，一手指着远处的一座城池朗声说道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;大军渡过泸水后，控制范围内最后一座大城便是清河了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他建议在此补齐粮秣，毕竟再往前走就是明军控制范围了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;明军一定会奉行坚壁清野的策略，不给清军打粮的机会，<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那么，清军必须得带够至少一个月的口粮。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;勒克德浑统领的这支大军其实是支杂牌军。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其中既有蒙古八旗、汉军八旗，也有大部绿营军。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这种多方混合起来的军队往往会存在号令不一的情况。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尤其是勒克德浑本身并没有太多领兵经验，缺乏威望，若是一路顺风顺水还好。一旦出现问题，将会非常棘手。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这也是石廷柱建议勒克德浑在清河稍作休整的另一个原因。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孔有德、耿仲明等两个汉人藩王统领的天佑军攻取目标是乐陵、海丰，由于随军带着红衣大炮的缘故，行军速度会拖得很慢。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而多铎统领的满洲八旗精锐却全部都是骑兵，又没有太多辎重携带，行军速度只会比勒克德浑的这支杂牌军快。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;石廷柱的意思是等多铎率领的精锐对德州发动攻势，勒克德浑再不紧不慢的率部攻打临清。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这样明军内部的驻防兵力肯定会向德州倾斜，勒克德浑打起临清来也会更为轻松一些。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在石廷柱看来清军拿下山东不过是早晚的事情。可利益分配就完全不好说了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;勒克德浑要想在山东战场分上一杯羹就必须耍一些小心眼，不能太实在了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;勒克德浑如何不明白石廷柱的意思，他微微颔首道：“那好便传令下去大军在清河稍作休整，待补齐粮草再向临清行军！”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>