<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第三百五十章 急召回川（第二更！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第三百五十章 急召回川（第二更！）
</div>
<div class="bookname">
	<h1>第三百五十章 急召回川（第二更！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;秦良玉把事情的经过与沐天波详细的说了一遍，沐天波直是惊得目瞪口呆。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;还有这种操作？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦老将军真是算无遗策，把西贼当傻子耍啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这真是应了那句老话，姜还是老的辣！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“只可惜让那张定国逃走了。此子非池中物，将来必定是个麻烦。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦良玉颇是有些遗憾的说道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沐天波安慰道：“秦老将军多虑了，区区一个张定国难道还能翻天不成？他要真的这么厉害，这一次又怎么会中计？大明青年俊杰辈出，像曾将军、沈将军这样的英杰足以对付张定国。再说了，这不是还有秦老将军坐镇呢吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沐天波的一番话直是把秦良玉逗乐了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她哈哈笑道：“想不到黔国公还是生的一副铁齿铜牙呢。老朽已经是大半截子入土的人了，怎么能和他们这些年轻人比。只希望将来他们这些年轻人可以挑得起这副担子吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;场面一度有些尴尬，沈复还好，他毕竟生擒了张文秀。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;曾英就要尴尬的多了，张定国就是从他手中逃走的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦良玉主动将话题挑开道：“来来来，我们先去赴宴吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“也好！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沐天波早就饿得前心贴后背了，此刻也顾不得矜持，连连点头应道<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张定国率部撤回楚雄府后算是可以暂时松一口气了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;明军并没有立刻追击，这给了张定国思考选择的时间。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;是继续固守此地，并向张献忠求援还是索性撤回建昌。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张文秀如今生死未卜，决策便全看张定国一人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在与明军交手后张定国对于双方实力的对比有了十分清楚的认识。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;明军并不像他想象中的那么弱，他们也不如自己认为的那么强。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这支明军不仅有勇还有谋，知道自己在什么时间该做些什么。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一点是极为可怕的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;便是张定国自己都做不到绝对的沉着冷静，有时会被情绪所左右。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;便在张定国犹豫不决时，突然有亲卫禀报，说建昌方向来了信使。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张定国连忙叫他把人带进来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;建昌在这个时候来了信使，那肯定是成都派来的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张定国稍稍整理了一番仪容，恢复了那个威严无比的大西将军形象。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;待那信使被带进屋子，张定国沉声问道：“可是父皇叫你来的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那信使连忙答道：“正是陛下的旨意，陛下请殿下速速率兵回川。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张定国心中咯噔一声，心道难道有什么意外发生？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不然以父皇的性子是不可能叫自己在这个时候回川的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张定国眉毛一挑沉然问道：“你说清楚，究竟发生了什么。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那信使叹了一声道：“是鞑子，鞑子突然从汉中发兵，看来志在夺取四川啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张定国只觉得脑子嗡的一炸，整个人都不好了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;最怕的事情还是发生了啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;父皇之所以支持他和张文秀搀和云南这摊事，就是因为觉得四川不是久留之地。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;东边有明军，北边有鞑子，实在是腹背受敌。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果能够挪挪窝，把云南当做老巢自然是再好不过的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;相较于明军，大西军显然更担心清军的突进。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;要不然张献忠也不会在这个时候急诏张定国回川。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张定国沉吟了片刻道：“本王知道了。本王会立即带兵回川。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;四川的突发情况打消了张定国最后一丝犹豫。如果连成都都守不住，他继续留在楚雄府又有什么意义呢？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“入你妈妈个毛，入你妈妈个毛！这一定是刘进忠这龟孙的主意！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张献忠在殿中来回踱步，污言秽语不绝于耳。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一众宫人纷纷跪倒在地，连大气都不敢出。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;大西天子发怒的时候可是会杀人的，谁也不想去触这个霉头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张献忠发泄了好一通，一屁股瘫倒在椅子上，单手揉着额头大口喘着粗气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;便在这时张可望匆匆赶到，快步进入殿中冲张献忠行礼道：“儿臣参见父皇。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张献忠抬头一瞧，见是张可望来了，心中的怒意消散了几分，冲他招招手道：“来，坐在咱老子身边。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张献忠喜怒无常，侍奉在身边的人都陪着十分小心。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;惟独张可望不怎么怕，因为他是张献忠眼中唯一的接班人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“儿臣遵旨。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张可望缓步走至红酸枣官帽椅前撩袍坐定，和声道：“父皇可是为了鞑子南下之事心忧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嘿！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张献忠愤恨的说道：“若不是刘进忠这个叛徒，鞑子怎敢如此贸然出兵。刘进忠这龟儿子把咱老子在四川的兵力部署摸得一清二楚，鞑子是捡了一个大便宜啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;也难怪张献忠如此生气。兵力部署关乎到战场格局，如今这些情况却被清军摸得门清，你还没出手敌人就知道你要往哪儿攻，这仗还怎么打？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张可望沉吟片刻道：“即便如此鞑子也未必可以占据优势，蜀道之难难于上青天。为今之计，父皇当提兵北上，拒敌于国门之外。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张可望的这番话正合张献忠的心意。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他也不想继续留在成都等死，若是等到鞑子兵临城下，到时大西军就真的没有什么胜算了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;利用蜀道天险把鞑子堵在外面，才是上策。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这也是为何当初张献忠选择四川为老巢。四川或许不是一个兴王图霸业的地方，但要想依靠地势险峻偏安还是不难的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“恩，咱老子也正有此意。事发突然，咱老子已经命人去召文秀和定国回川了。不过他们一时半会怕是难以赶到。你和能奇便随咱老子北上抗虏吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“儿臣遵命！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张可望双手抱拳沉然应道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然通常情况下他不会亲自领兵打仗。但现在情况紧急，不得不破一回例了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;再说张可望也不是完全不懂打仗。只不过是他处理内政的能力太过出色，掩盖了他统兵的能力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张可望统兵的才能或许不及张定国、张文秀，但在大西军诸将中绝对属于中上的水准。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“咱老子会留下口谕，等到定国和文秀回到成都便叫他们立刻北上。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张定国攥紧了拳头，眼神中闪过一丝狠厉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“此战事关存亡，只许胜不许败！”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>