<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第二百八十一章 吹出来的名将（第一更！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第二百八十一章 吹出来的名将（第一更！）
</div>
<div class="bookname">
	<h1>第二百八十一章 吹出来的名将（第一更！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;清军的鸣金收兵使得临清城中的明军可以稍稍松一口气了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽说清军并没有直接威胁到城头，但几次投石机抛出的石块还是把高杰等人惊出了一身冷汗。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尤其是其中一块石头差点砸到了天子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若是大明皇帝陛下真的被砸到丧命，高杰怕是万死难赎其罪了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;事后他越想越怕，便带着一帮将领哭谏，请求天子无论如何要移驾行宫。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺微微感到一些惊讶。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;要知道，哭谏一般是文官的路数。大小九卿、科道言官最是精通此道。想不到高杰这样的武将竟然也学会了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过细细想一想高杰等人的担忧不是没有道理的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;战场之上凶险万分，朱慈烺待在那里明军就必须分出人手来保护他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而且有些突发情况是让人猝不及防的。就比如那次清军投石机抛出的石块，若是再错位一些朱慈烺怕真要出事。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;人是不能一直相信运气的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;哪怕是皇帝。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺比任何人都清楚，什么天子受命于天都是唬人的鬼话。他与其他普通人一样受了伤会流血，自然也可能会死亡。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若是在战场上因为意外而死，那对于整个大明朝来说绝对是一场天崩地裂。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;好不容易趋于稳定的朝堂肯定又会变得风起云涌，各路势力站队支持藩王，内耗不止血流成河<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;光是想一想就让人头皮发麻。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺当然不希望这样的事情发生。前世的历史已经说明，要想对抗满清必须有一个绝对权威的天子，说一二二的朝廷。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺也在反思自己，他的一时头脑发热可能会带给大明灾难。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然，鼓舞士气的效果已经达到。接下来的时间朱慈烺大可以在行宫坐镇。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这样更为安全，也有利于明军的发挥，使得他们不必为了保护朱慈烺而分神。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其实只要朱慈烺在城中，明军就会爆发出超常的战斗力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;从士气上讲，明军更是压过清军许多。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在行宫中休息时朱慈烺倒是对这一路清军的统帅勒克德浑起了浓厚的兴趣。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在原本历史中，勒克德浑被描绘成了一个百胜将军的形象。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这位多尔衮的死党和多铎一道为满清鼎定天下立下了赫赫战功。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可问题是从目前几次高杰和勒克德浑的对决中朱慈烺发现勒克德浑的能力被严重夸大了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;抛开北直隶那场遭遇战不说，便说临清攻城战，勒克德浑在准备充分的情况下竟然打成了这个样子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果说绿营兵不堪用，汉八旗、蒙八旗的实力可不弱啊，怎么被勒克德浑用的如同无头苍蝇一般？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这不是一个名将的表现啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果用年龄解释就太牵强了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;勒克德浑虽然年轻，但在原本历史中他差不多也就是在这个年纪“叱咤风云”。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;还有爱新觉罗家的另一个后代博洛，也是被颂为绝世猛将。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;为何老虎突然变病猫？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺相信这绝非巧合。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唯一合理的解释是，这些所谓的绝世名将都是满清自己吹出来的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;努尔哈赤确实很能打，莽古尔泰、阿敏等人也确实是猛将。代善、皇太极早期也是擅长带兵的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可到了多尔衮、多铎这里就变了味。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不知是不是努尔哈赤晚年蝌蚪质量下滑严重，老十四和老十五并没有继承他悍勇的特质。相反，此二人倒是很怂。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;围锦州时，多尔衮竟然带着自己的牛录跑路，这点像极了有名将之称的吴三桂。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;怪不得后来吴三桂降清，多尔衮对他委以重任，交给他一支大军让他征讨西南。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;原来是气味相投啊！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多铎就更不用说了。他吹嘘最多的平定江南实际上根本就没打过什么硬仗，也就是围江阴时阎应元组织城中百姓奋勇抵抗，给清军造成了一定的麻烦。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;故而城破后多铎下令屠城，借以发泄心中的怒火与恨意。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;除了江阴之战，清军南下过程中基本没有遭到抵抗。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘良佐等人更是望风而降。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;就是这样一路顺风顺水的拿下江南，也被多铎吹成了盖世武功，此人的脸皮端是比城墙还厚。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于满清的下一辈就更不堪了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不管是博洛还是勒克德浑都是如此。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;拿下江南后不久多尔衮命勒克德浑接替多铎的职位，负责对残明势力进行攻剿，结果勒克德浑办的很不给力，甚至差点翻车。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;也就是靠着南明内耗才吃鸡成功。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于博洛也差不多。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;此人奉命领兵征讨隆武朝廷。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;结果在攻打之前就和首鼠两端的郑芝龙搭上了线。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郑芝龙早就想要降清，只是担心满清高层没有人替他说话，这便派人去见了博洛。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郑芝龙的意思很明白，你博洛要是能保我荣华富贵，我郑芝龙就把平定福建的功劳拱手送上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;博洛当然大喜。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不费一兵一卒拿下福建，这可是值得吹嘘十年的事情啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;二人一拍即合。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郑芝龙为了表达诚意，甚至撤走了驻扎在仙霞关的军队。博洛这才得以轻松拿下福建，并追上了隆武帝将其处死。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;再往后爱新觉罗家的子孙就更没有能看的了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但那时候明军已经是强弩之末，慢慢的被蚕食消耗。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若真像朱慈烺推断的那样，这次确是一个千载难逢的机会。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;勒克德浑既然是草包废物，明军自然要追着他痛打。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;每消耗一名清军士兵对大明来说都是重要的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然汉八旗、蒙八旗的实力不如满八旗，但也是入关前就跟着满清东征西讨的军队。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若是能够趁机把这支军队吃掉<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽说历史上满清打天下靠的是绿营军，但那是在八旗精锐皆在的情况下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;有八旗精锐压阵，绿营军自然不敢造次，只能乖乖卖命。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但如果满清八旗军的实力折损严重，绿营军恐怕就未必那么忠心效力了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;人都是自私的，那些绿营军将领投靠满清不就是认为满清实力强，夺得天下的可能性高吗？如果这个实力对比翻转过来，变成明朝强，满清弱，又会是怎样一个局面？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺有些激动，下旨传召高杰觐见
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>