<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第一百三十三章 地道战（第二更，求订阅，求月票！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第一百三十三章 地道战（第二更，求订阅，求月票！）
</div>
<div class="bookname">
	<h1>第一百三十三章 地道战（第二更，求订阅，求月票！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;“恩，既然如此，还是小心为上。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰冲李成栋吩咐道：“先把开封城围了，接着用陛下教的法子穴攻！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“末将遵命！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李成栋抱拳领命，踱步出了中军大帐。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;别看高杰在李成栋面前表现的胸有成竹，实际上他对这个改良版的‘穴攻’也没多少底。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但这毕竟是他离开南京前陛下亲自教授的法子，并嘱咐他攻城时一定要用。若是攻打开封这样的硬仗都不试上一试，那实在说不过去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;便是为了陛下的面子着想，高杰也必须尝试一次。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若是能够弄塌城墙自然最好，即便没啥效果陛下也怪罪不到他了吧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;却说这边高杰麾下五万人马将开封城团团围住，端是连一只老鼠都逃不出去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;金玉和也下定了决心，坚守城池不出，不管高杰部士兵如何挑衅就是不予回应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这也难怪。毕竟高杰部军队的实力肯定是在金玉和统领绿营兵之上的。若是出城野战，金玉和自觉没有任何胜算。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;背靠坚城还有一战之力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;此番金玉和率军增援开封实际上是憋了一肚子的气的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;河南巡抚罗绣锦对他下了严令，命他务必确保开封不失。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个命令看似挑不出毛病，实则阴狠无比。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如今河南驻扎的两股军队，其一是金玉和统领的怀庆府绿营军，其二便是祖可法统领的卫辉府绿营军。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;罗绣锦的手札中只说叫金玉和确保开封不失，却只字未提祖可法的责任，分明就是想让金玉和来顶缸。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对此，金玉和虽然心中有气却也只能忍气吞声。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;从罗绣锦的态度他可以看出祖可法是不会增援他了，开封能否守住全要靠他自己。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;既如此，金玉和便更要稳扎稳打，尽可能的拖下去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;开封城中存粮足够半年食用，等到八旗主力扫平了陕西的李自成班师回朝，开封之围便会迎刃而解。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这种时候切莫要逞一时之勇。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;仅靠三万绿营军想守住开封城四面城墙是不可能的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;是以金玉和下令在全城范围内征募丁壮协助守城。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说是征募实际就是抓壮丁，十六以上，五十以下的男子一概在列。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;开封虽然经历了几次浩劫，但毕竟底子还在，抓个四五万壮丁还是轻而易举的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如此一来每面城墙上的守军在两万左右，勉强够用了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;金玉和把府库之中所有的守城器械全部搬到了城头，恨不得把床也搬到城楼中。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;行事谨慎是他一贯的作风，这次开封保卫战容不得一丝一毫的失误。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一开始金玉和十分紧张，不过在他发现高杰部军队开始挖掘地道后，悬着的一颗心总算可以放下来了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;穴攻是攻城战术中的一种，却并不常用。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;归根到底，就是因为穴攻的付出和回报不成正比。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一般来说，挖出一条地道至少要一个月的时间，这么长的时间守军可以做很多事情来针对挖掘地道的攻城方。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一旦某个环节出现了问题，结果就是功亏一篑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个战术容错率太低。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;金玉和心道高杰想用穴攻看来是心疼麾下精锐，不想这些嫡系士兵白白死在攻城战中。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但打仗哪有不死人的。他越是这么想，最终付出的代价便会越大。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然，金玉和是乐意看到高杰做出这种选择的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过他还是准备针对穴攻提前准备，确保万无一失。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;穴攻的目的无非是两种。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其一是通过地道输送大量兵力进入城中。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这种情况下，一般地道是正对着城墙挖掘的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;因为要夺取城门，必须有足够的兵力投入，挖掘的地道往往不止一条。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而第二种目的就是挖塌城墙的城基。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这种情况下，地道往往是对着城角挖的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这么做有一个好处，那就是不需要挖很多条，一条足矣。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;等到士兵挖掘到城角下，只用继续朝深挖即可。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;把城基下的土全部刨去，再用坚硬的木桩子顶上。最后士兵全部从地道撤离，一把火烧掉地道中的木桩子。失去承重的豁口会迅速塌陷，城墙便会被挖塌。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以往往从攻城方挖掘地道的方向就能大致判断出他们是想挖塌城墙还是通过地道输送兵力进入城中。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;金玉和虽然没有在实战中遇到过穴攻，却也明白这些简易的判断方法。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可让他感到惊讶的是，明军不但在正对城墙角的地方堆起了土丘，还在正对城墙的位置开始挖掘地道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;金玉和粗略数了数，大约明军同时在挖掘十二条地道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个高杰究竟想搞些什么名堂？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;由于拿捏不清高杰究竟想干什么，金玉和命人沿着城墙埋下了几十口水缸，每口水缸都蒙上牛皮，派人专门监听。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一旦明军挖掘地道发出声音，就会被监听的士兵听到。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然只在明军十分靠近城墙时水缸中的士兵才能够把挖掘声音听得清楚，不过这已经足够了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;明军把地道挖到城墙下后还有很多工作要做，给金玉和留下了充足的时间。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他特地命人沿着城墙内侧挖掘了一条水渠，并在每处城墙下都蓄出一口大池塘。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不管高杰是想输送兵力进城内，还是挖塌城基都需要大量的时间。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他只需要掐准时机，把池塘中的蓄水灌入洞口，就可以淹死地道中的明军<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“再加把劲！就快要好了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;东门外挖掘地道的士兵们相互鼓励着，把一口盛满火药的棺材从狭窄的地道口运送了进去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这条地道挖掘的并不宽阔，仅仅能够容纳一口棺材的大小。或者说，地道内部的大小完全是比照棺材大小挖的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;由于有堆起土丘的掩护，士兵们不用担心开封城中的清军从城头射箭袭击。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对付穴攻的最好办法就是派兵出城来到土丘后封住**，把正在挖掘地道的攻城方士兵活活闷死。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但金玉和此先担心高杰会率军强攻城门，命人用巨石把四处城门全部封死了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这样一来，清军自然不可能再出城封堵土丘下的**。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于水淹坑道，他们也不必担心。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;因为大帅说过，将棺材填到城基下后就立刻撤出，只需要确保填放棺材的区域密闭，并保证火药引线不会出现问题。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这么短的时间，守城的士兵根本来不及引水灌淹地道
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>