<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第六十章 姜瓖</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第六十章 姜瓖
</div>
<div class="bookname">
	<h1>第六十章 姜瓖</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;（第二更送到，求推荐票啊，推荐票有点惨，大家给老坤点动力吧。）<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对朱慈烺来说，当下最重要的便是提升自身的实力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只有手中攥着一只绝对听命于朝廷、听命于天子的精锐之师，才可以左右天下大势。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;神策军虽然是按照精锐军队来训练的，但人数实在太少。八千人控制南京尚且有些捉襟见肘，要在将来与满清的对决中发挥决定性作用基本是不可能的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以扩军势在必行。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;京营能够容纳的人数在十万人，不过朱慈烺却不能把神策军一下子扩充到这个规模。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这倒不是担心发不起军饷。抄没那些贪污谋反的勋贵文臣后，朱慈烺内帑中堆积了上千万两银子，两三年内根本不用为军饷发愁。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺担心的是神策军人数暴增带来的不确定性。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;毕竟他要训练的是一只精锐之师，如果一下招募的人数太多，人员资质参差不齐，训练效果也难以保证。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺当然需要足够的人手拱卫皇明，但却不是以牺牲军队质量为代价。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;是以他准备先将神策军扩充到五万人，训练几个月后再招募一批新兵，达到京营鼎盛时的规模。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;有了最初招募新兵的经验，这一次做起来容易的多。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺决定把扩军的事情全权交给路振飞和赵信去做。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于原神策军四营中表现优异者则可以充当军官训练这次新招募的士兵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然，淘汰原则还是不会变的。这些新兵要想成为神策军正式一员，必须手刃一名死囚。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;死囚显然不够用了，朱慈烺决定让原神策军四营将士前去剿匪。一来可以让这些经过系统训练的士兵经历实战的检验，二来也可以抓捕足够多的土匪回来，给新兵练胆。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;另外朱慈烺决定把这次集训淘汰的士兵编为辅兵，单独成营。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个想法绝对是超越时代的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不论是大明朝的官军，还是李自成的顺军，张献忠的西军，亦或是满清的八旗军，几乎都是战兵编制。所谓的辅兵不过是临时抓来的夫子、壮丁。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这样做的好处很明显，那就是不用负担这些辅兵的口粮。临时抓来的壮丁死了就死了，反正也是消耗品，大不了再抓一批就是。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但坏处同样显而易见。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这些壮丁是被裹挟入营的，稍稍遇到风吹草动便会炸营，若是遇到夜袭甚至会引发营啸。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺要组建的辅兵营更类似于现代的工兵营，战前负责修建营寨、防御工事，战时负责给战兵提供有效的物资支持。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然，神策军的辅兵营也是领军饷的，朱慈烺准备把饷额定在战兵军饷的一半，即一两银子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;辅兵也不是不能升为战兵的，只要表现优异就可以累功升迁。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;亦或是战兵营损失惨重，出现严重缺额时，也会将部分辅兵补充进入战兵营。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这种模式可以确保战兵营的血液随时得到补充，而辅兵们因为长期和战兵一同训练、生活、战斗，也不存在适应性的问题，是最好的兵员补充。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然，唯一的问题就是这会增加一笔不小的开支。不过朱慈烺认为这是值得的，战争说到底打的是补给，有一只专业的辅兵队伍可以有效的提升战兵的战斗力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果按照原本历史发展，朱慈烺大概还有十个月的时间，只是不知道在这个时空，因他到来会不会引发一系列的蝴蝶效应，使得天下格局为之变动？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山西，大同，总兵府。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;原明廷大同总兵姜瓖召集了一干幕僚商议对策。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;自打他五月初十杀李自成委任的顺军制将军张天琳反正以来，一直在考虑下一步该怎么走。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;要说这天下形势还真是一天一个变化。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;年初的时候李自成以摧枯拉朽的态势拿下了太原，姜瓖毫不犹豫的率部投降。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那时候明眼人都能够看出来大明要完了，李自成拿下天下是十拿九稳的事情。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜瓖作为明廷降臣不可能像商洛十八骑那样获得从龙之功，但至少也能保住自己的官爵，保得子孙富贵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;是以姜瓖降顺没有任何的压力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;及至三月李自成毫无悬念拿下京师，进一步证明了姜瓖眼光的狠辣。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可谁知随后吴三桂引清兵入关，李自成一片石大败，转眼间清军就占据了畿辅。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李自成山海关大败后随即放弃畿辅，率领部众向山西撤退。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其派马重禧驻守固关，派张天琳驻守大同，派刘忠驻守长治，派陈永福驻守太原，派唐通驻守保德，派袁宗第驻守汾阳。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在外人看来李自成是想守住山西的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可姜瓖不这么认为。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若是李自成真的想要守住山西，为什么那么急着率部渡过黄河回关中？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若是李自成真的想要守住山西，为什么不从西安调集精锐来增援？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若是李自成真的想要守住山西，为什么不派刘宗敏坐镇太原居中调度？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;因为李自成根本就不想守住山西！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;从一开始李自成就没有定鼎天下的雄心，他只想做一个割据关中的山大王！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这样就能解释为什么他拿下京师后并没有及时安抚前明官员、缙绅，反而是大肆拷饷。这就能解释为什么他不能妥善的解决好吴三桂的安置问题，导致吴三桂降清。这就能解释为什么他没有从关中调集重兵把守山西，把其当做必守之地！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这样的人根本不配效忠！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;良禽择木而息，既然李自成没有面南而坐的志向，姜瓖也不会在他这一棵树上吊死。所以他毫不犹豫的率部反正，杀死了张天琳控制了大同。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只是姜瓖还没有想好是降清还是归附南明朝廷。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这些日子来他一直派人多方打探，得知清军攻占了河南大部，南明朝廷则收复了山东。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如此看来，这天下大部还是在明廷手中的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜瓖内心渐渐有些向明廷倾斜。以他的实力只要率部归降，南明朝廷肯定也不会追究他的降贼之罪。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;便在这时突然有亲兵来禀报军情。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜瓖挥了挥手示意让那亲兵进来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那亲兵一进到议事花厅便跪倒在地禀报道：“姜总戎，清廷派来了使者求见！”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>