<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第二百九十五章 洪承畴的心病（第一更！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第二百九十五章 洪承畴的心病（第一更！）
</div>
<div class="bookname">
	<h1>第二百九十五章 洪承畴的心病（第一更！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;孔有德心里苦啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;本以为乐陵是个软柿子，可以随意被他拿捏。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;谁曾想一打起来才发现完全不是这么回事。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他有红衣大炮，明军同样有炮，虽然看起来不如红衣大炮威武，但威力却着实不小。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;再加上从城头上放炮天然具有优势，一时间火炮对轰，孔有德所部天佑军竟然落于下风。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;奇耻大辱！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果说别的方面有所欠缺还情有可原，可火器尤其是火炮可是天佑军所长。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若是连这方面都被明军比了下去，孔有德这张老脸真是没地方放啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;何况在孔有德看来，临清和德州都不好打，乐陵已经算是比较容易打的了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果他连乐陵都拿不下来，豫亲王那里会怎么想？摄政王那里会怎么想？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孔有德还是很有自知之明的。他知道自己虽然名义上是个王爷，其实不过就是爱新觉罗家族的一个高级奴才罢了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;爱新觉罗家可以封他为王，自然可以剥夺这一封号。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孔有德必须每一步都走的小心翼翼，唯有如此才能保住这来之不易的富贵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他戎马半生图的是什么？不就是给子孙后代留下荣华富贵吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“放炮！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;念及此，孔有德毅然下令放炮。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他倒想看看，这乐陵城能够在红衣大炮的猛轰下撑多久<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多尔衮命人拟好令旨后，洪承畴便点齐了几十护卫火速离京赶往关中。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在他看来，早一刻到关中便能早一刻劝阿济格出兵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陕西、湖广的战局已经不仅仅关乎这一地得失，而是整个天下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若是清军能够拿下湖广，再顺江南下直取南京，或许整个形势都会完全不同。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;毕竟明军在南直隶的驻防人数不会太多，只要突破了湖广防线，南京就像一个只着薄纱的小姑娘，想上就上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但洪承畴还有一事放心不下，那就是老母的身体。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪承畴是福建泉州人，老母一直都在老家居住。清军入关后，洪承畴几次想要派人去接老母来北京但都因为南北交通阻隔作罢。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;要等清军打下江山还不知道何时，洪承畴却是等不及了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陆路不通，那就只能走海路了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪承畴在离开京师前命人专程奔赴天津卫大沽口乘船南下到福建泉州，想要把母亲接回北京来赡养。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;由于害怕明军发现端倪，洪承畴不敢派出清军的水师，而是准备委托小月岛的一股海寇。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这些海寇前不久毛遂自荐主动找上门来，希望充当清军的线人。摄政王多尔衮很感兴趣，当即允准。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪承畴此番想托这伙儿海寇为他从泉州老家接来老母，想必他们也不会拒绝。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然这种事情也不急于一日半日。洪承畴只吩咐家仆到了天津大沽口等着就好，什么时候小月岛的海寇前来送信，什么时候便上船前往泉州。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪承畴自问辜负了崇祯皇帝，辜负了大明，尽忠自然是不可能的了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;故而他现在心中所想就是能够尽孝。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老母也上了年纪，他只希望能够天天在身边侍奉成全孝道，报答老母养育之恩。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于是非功过他真的不在乎，便留由后人评说吧<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“三当家，前面就是大沽口了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这是吴二胡子第一次来天津卫，上一次来的人中有一个是他的心腹喽啰，便是方才呼喊的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他定睛一瞧这大沽口地形极为险要，依山而建了许多戍堡，还真是个易守难攻之地啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他此番之所以要亲自前来，就是为了和清廷方面更好的搭上关系。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;毕竟靠别人传话和亲自领会完全是两种感觉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;船缓缓靠岸的过程中，吴二胡子一遍遍的在心中过着腹稿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他也不知道自己能够接触到清军的哪一级，但不管怎样至少要把利害关系陈说明白了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;待船停稳后，吴二胡子第一个踏上板子跳下船去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;几个小喽啰依次跟了下去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;上一次来过的小喽啰在前面引路，一众海寇踩着崎岖的土路往上爬。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;待走到一处全部用石块砌成的戍堡后，那小喽啰停了下来，冲吴二胡子媚笑道：“三当家，咱到了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;戍堡中的守军早就发现了他们，派了一人前来开门。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;大门打开之后几名海寇相继走了进去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;小喽啰与清军士兵们打了番招呼，便把吴二胡子往里引去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“三当家，您有啥要说的直接和崔千总说，这里他说了算。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那崔千总显然住在戍堡中最好的一间单间里，就连吴二胡子都有些感到羡慕。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;小月岛上可没有这么好的屋子，这厮还真是懂得享受。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那崔千户是个十分精瘦的汉子，见小喽啰带了个生面孔来，十分警惕的问道：“此人是谁？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;小喽啰立刻陪着笑脸道：“崔总爷，小的给您介绍一番。这位是我们小月岛的三当家。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;然后他又转向吴二胡子，媚笑道：“三当家，这位是崔千总。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;二人各自抱了抱拳，皮笑肉不笑的道了句幸会。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;崔千总见屋内气氛有些尴尬便招呼手下去倒茶。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然这戍堡之中没有啥好茶，但解解渴去去乏还是可以做到的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;等待的工夫那崔千户清了清嗓子道：“你们三当家亲自来可是有要事奏报？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吴二胡子对这崔千户拿捏身段的态度很不满，但人在屋檐下不得不低头，他也不想一上来就把关系搞僵了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“崔千总，是这样的，我们探听到了一个重要的军情，驻防在登莱的明军尽数被调走，支援北边啦。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吴二胡子本以为这崔千户会大吃一惊，继而夸耀他几句，可谁曾想这厮竟然一点反应都没有。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吴二胡子甚至怀疑这厮是不是个聋子，要不要再把话重复一遍。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;过了良久，那崔千户才从鼻孔里喷出两股浊气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哼，这种事情你也以为很重要？罢了，我便替你报上去，不过我劝你最好死了心，朝廷从海路出兵的可能性不大。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;崔千总一盆凉水浇下来，吴二胡子心头的火焰便被浇灭。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他咽了口吐沫追问道：“敢问一句崔总爷，为啥朝廷不太可能从海路出兵？”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>