<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第一百零一章 军校众生相</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第一百零一章 军校众生相
</div>
<div class="bookname">
	<h1>第一百零一章 军校众生相</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;（感谢书友随便X的100币打赏。各位看官，求推荐票支持啊~）<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多尔衮的令旨一经颁布，便在各旗中引起了轩然大波。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两白旗自然是坚决支持拥护的，但两黄旗却是有着不同的意见。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们的观点是德州之战惨痛失利，应该马上派兵前去攻打，拿下德州屠城示威，向南面的残明小朝廷宣战。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多尔衮对这个观点嗤之以鼻。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山东当然重要，但对于京畿的威胁远不如山西大。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两黄旗完全是在意气用事，是为了反对而反对。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然从名义上讲两黄旗由皇帝直统。但现在顺治皇帝不过是个乳臭未干的小屁孩，两黄旗如今的领头人实际是豪格。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两黄旗突然发声反对，背后一定是豪格在作梗。对此多尔衮心知肚明。不过他却并不打算直接对豪格动手。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;路要一步一步走，饭要一口一口吃。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他已经剥夺了豪格的旗主之位，下一步便是彻底解除豪格的军权。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只要豪格手中没了兵，那就是一条砧板上的鱼，任人宰割。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多尔衮随便往豪格身上安上一个罪名都能置其于死地。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在他看来，豪格已经是秋后的蚂蚱蹦跶不了几天了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于代善那个老狐狸，这次照样是装聋作哑，两不相帮。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对此多尔衮早已料到。不过没关系，如今早已不是八王议政的时候了。作为摄政王，多尔衮大权独揽，又掌握着八旗中最精锐的军队，完全可以乾纲独断。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他已经想好，等到豪格一死就和阿济格、多铎瓜分了两黄旗的牛录。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;届时顺治便成了彻头彻尾的傀儡。多尔衮只要愿意随时都能废了他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;摄政王？他可不甘心于此，终有一日他要称帝，成为天下共主！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;摄政王糊涂啊！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;觉罗巴哈纳得知多尔衮要调兵遣将攻打山西后十分懊丧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;德州之战狠狠的扇了他一巴掌，亦狠狠扇了八旗军一巴掌。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;八旗铁骑战无不胜的神话就此终结，残明小朝廷的气势大涨。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这种情况下理当立刻调集大军把德州夷为平地，宣示大清鼎定天下的雄心，怎么可以反过头去打什么山西！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然觉罗巴哈纳承认他考虑自己更多一些。若是打山西，即便一路势如破竹也是旁人的功劳，不足以洗涮他的耻辱。而如果打的是山东，觉罗巴哈纳可以自请先锋，夷平德州，一雪前耻！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可惜他人微言轻，八旗旗主都劝不动摄政王，他一个小小满洲正蓝旗固山额真的话王爷怎么会听？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;觉罗巴哈纳只能盼着大军速取山西，再奏请摄政王发兵山东。虽然比直接攻打德州效果差一些，但也只能如此了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于侦骑带回的消息，觉罗巴哈纳并不是太过担心。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不就是修建堡垒吗？当年孙承宗老儿就是用的这个策略，结果呢？守军一见到八旗军立刻落荒而逃，一众堡垒全部留给了满洲勇士。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;八旗军把堡垒全部扒毁，石料运回盛京。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;结果孙承宗等到八旗军退了，再命人重新修建堡垒。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如此往复，觉罗巴哈纳都不记得有多少次了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;就凭南人这群鼠辈，只能缩在坚城之中顽抗，想靠低矮的堡垒阻挡八旗铁骑的步伐简直是痴心妄想！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“君不见黄河之水天上来，奔流到海不复回。君不见高堂明镜悲白发，朝如青丝暮成雪。人生得意须尽欢，莫使金樽空对月。天生我材必有用，千金散尽还复来！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;皇明军校甲字号舍内，陈子龙吟诗酌酒好不快哉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一旁的张煌言皱了皱眉，提醒道：“人中（陈子龙的字）兄，你不要再喝了，一会还要上课呢。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈子龙年长张煌言十二岁，是以张煌言一直把他当作兄长看待，对他十分尊敬。可今天张煌言实在是看不下去了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈子龙不耐的摆了摆手道：“暮气，玄著（张煌言的字）你好生暮气！你不喝我要喝！烹羊宰牛且为乐，会须一饮三百杯。岑夫子，丹丘生。将进酒，杯莫停。与君歌一曲，请君为我倾耳听。钟鼓馔玉不足贵，但愿长醉不复醒。古来圣贤皆寂寞，惟有饮者留其名。惟有饮者留其名”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张煌言大怒，拔步上前从陈子龙手中夺走酒杯吼道：“醒醒吧，人中兄，你再这样喝下去还怎么上课？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“上课？”陈子龙扭过头来醉醺醺道：“咱们在这儿整日除了上课还是上课，就没有别的事了。耽误个一日又有什么关系？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你！”张煌言愤恨的一甩衣袖：“简直不可理喻。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说罢拂袖而去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他离开甲字号舍，快步往讲武堂走去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;今日佛朗西斯科先生要讲的内容是泰西棱堡，他一定要好好听听。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张煌言进到讲武堂时，座位已经几乎坐满。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张煌言满是歉意的坐了下来，冲一旁的顾炎武拱了拱手道：“宁人（顾炎武的字）兄，佛朗西斯科先生还没到？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;顾炎武亦拱手还礼：“佛朗西斯科先生还得晚一些。对了玄著，人中兄怎么没有来？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张煌言和陈子龙同住甲字号舍，上课时都是一起来的。顾炎武此番没有见到陈子龙才会如此问道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“唉，人中兄不知怎的狂饮起酒来，我劝也劝不住。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;顾炎武有些尴尬道：“会不会是家里出了什么事情？我们既然在一起求学，便要多多照拂才是。这样吧，一会下了学我和玄著一起去看看。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“多谢宁人兄！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张煌言闻言直是大喜。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;顾炎武颇有口才，由他出面来劝，子龙多少会听进去一些吧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;便在这时，一名身材高大红发碧眼的男子走了进来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;讲武堂内众人皆是起身冲他拱手行礼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这位便是皇明军校聘请的外籍讲师－－佛朗西斯科了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;佛朗西斯科名字全称是本杰明·席尔瓦·迪·佛朗西斯科。不过皇明军校的学生都喜欢称呼他为佛朗西斯科先生。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;佛朗西斯科是佛郎机人，准确的说是葡萄牙人。这也是他在课堂上一再强调的，葡萄牙和西班牙是世仇，且刚刚从西班牙的奴役中解脱出来，绝不能忍受别人把葡萄牙和西班牙混为一谈统称什么佛郎机
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>