<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第三百四十一章 空城计（第二更！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第三百四十一章 空城计（第二更！）
</div>
<div class="bookname">
	<h1>第三百四十一章 空城计（第二更！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;大西军的军纪不算太严明，但战斗力一直很可观。这主要是因为统兵将领们允许士兵在得胜之后抢掠。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然这种做法有些野蛮，但不得不说很能激发士兵的斗志。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;士兵们觉得战斗不再是为了将领而是为了自己，便敢于拼命搏命。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然，人与牲口之间的区别就是人还是有礼义廉耻的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;大西军中有一条不成文的规定，那就是只准破城后劫掠三日。超过三日后仍然劫掠者斩首示众。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;正是因为有如此严苛的规定，士兵们还是很“守规矩”的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;因为这关乎自己的项上人头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;金银钱财固然重要，但性命更重要。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钱没有了可以再抢，命没有了可就全完了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在攻打昆明的战前动员时张文秀再次强调了这点，所有士兵皆拍着胸脯保证一定会遵守军纪。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一切准备妥当后张文秀下达了攻城的命令。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张定国倒是没有和他争，在他看来由谁担任统帅并不是最重要的，重要的是一定要一鼓作气拿下昆明。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果能拿下昆明，大西军便可以胜利者的姿态发号施令，控制全云南。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而如果战况陷入胶着，很可能会有意外发生。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夜长梦多说的就是这个道理。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;于是乎大西军将士在冲车的掩护下向昆明城墙下冲去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;冲车外侧包裹着一层厚厚的毡子，寻常的箭矢根本不可能对其造成伤害。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;躲在冲车里的士兵很安全，只要不不是火炮对着其猛轰，他们根本不会有性命之忧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可是当他们蓄足力气推着冲车来到城门下时，奇怪的一幕出现了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;冲车只撞了城门一下城门竟然开了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这是什么意思？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一般情况下守城方都会对城门进行加固的啊。即便不是在城门后堵满巨石也不可能一撞就开。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;大西军的士兵们愣在当场，直是不知该如何是好。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;还是军将反应的快，下令他们冲进城内。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他奶奶的，人家把一份大礼送到你手边了你还不收这不是天理不容吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;越来越多的大西军士兵顺着城门涌入城中。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张文秀和张定国却没有急着进城。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一切太过不同寻常了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;事出非常必有妖，他们要看看明军究竟在耍什么鬼把戏。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;很快进入城中的大西军就控制住了各处城门。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;让他们感到惊讶的是，所有被炸塌的城墙都没有得到修复，许多豁口甚至可以同时容纳十几人进出。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;更为诡异的是整座城中竟然都没有明军的踪迹。所有临街屋舍房门紧闭，大街上空无一人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这是一座空城！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在确认了这点后有专人前去禀报张文秀与张定国。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;二人也按捺不住心中的好奇，一前一后进了城。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;毫无疑问大西军已经控制了昆明城。但这有什么意义呢？整座城中连个活人都见不到，大西军便是想要抽税抓壮丁都做不到。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;难道说明军提前得到消息自己怂了？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可即便明军主动撤出昆明，城中的百姓也不该跟着消失啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;明军没有理由带上这些累赘，一个人就是一张嘴，他们有多少粮食够吃的？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张文秀令士兵全城范围内搜查，发现可疑人等立刻来报。他就不信这城中一个人都没有。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于沙定洲则是尴尬极了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他之前可是夸下海口城中有数万精兵，结果一来却看到一座空城。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沙定洲咽了口吐沫，讪讪一笑道：“一定是明贼惧怕两位将军的虎威，这才连夜仓皇而逃。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;殊不知他这马屁拍在了马腿上，张文秀冷哼一声道：“你连这么弱的明军都打不过，也太蠢了吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沙定洲面部立刻涨成了猪肝色。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;是啊，他越是把明军描述的羸弱，便越证明他的不堪。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他连这么弱的明军都打不过不是蠢货又是什么？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张定国倒是咳嗽一声道：“不管怎么说昆明是拿下了。我们还是应该先修补城墙才是。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张文秀点了点头：“定国说的不错。别管明军在耍什么阴谋诡计，我们先扎紧篱笆才是紧要的。这样不管明军从哪个方向来我们都不怕！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;哼，你不是想要唱空城计吗？那就让你唱，看看最后谁能笑到最后。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;修补城墙十分耗费时间，张文秀不敢耽搁当即布置下去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他本人和张定国、沙定洲则是进入了黔国公府暂且休息。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;城中粮仓中的米粮不出意外的已经被全部搬走。好在大西军随军携带的粮秣足够多，一个月内不会有任何问题。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而楚雄府距离昆明又不算远，哪怕运粮也完全来得及<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;从广船上俘获的海寇全部被押进了登州大牢。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;登莱巡抚张肯堂在知府袁惟泰的陪伴下亲自进入大牢提审犯人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如此举动可吓坏了牢头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;巡抚大人那可是绝对的封疆大吏啊，竟然屈尊降贵来到大牢审问犯人。他们自然赔了一万个小心，生怕哪处侍奉不周惹得贵人动怒。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;为了争抢着在巡抚大人面前表现，一众狱卒皆是使出了看家本领。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那些海寇被各种刑具折磨终于有人招架不住供认出了事实。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;原来他们不光是福建的海盗，还和郑家有着联系。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;便是郑芝龙委托他们将粮食运往天津卫交付给清军。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;得知这个消息后张肯堂直是大惊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他一个月前就隐约听到郑芝龙和东虏暗通款曲的消息。当时他还不以为意，后来这个消息越传越真，甚至有御史言官直接以此弹劾郑芝龙。虽然这些奏疏都被天子留中不发，可明眼人都能看出来陛下很生气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陛下曾经派钦使前往福建宣旨，命郑芝龙入京述职。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;结果钦使却在一场大火中离奇丧生。郑芝龙本人也托病，称不能入京。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当时举朝哗然。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;想不到这些真的不是空穴来风啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果郑芝龙真的暗通东虏，那可是一件极为可怕的事情。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;东虏最缺的是什么？自然是粮食。而郑芝龙可以提供给东虏粮食。哪怕朝廷对福建实行封锁，郑芝龙也完全可以派水师去南洋购买。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只不过过程更复杂曲折一些罢了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这真是晴天霹雳啊！
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>