<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第三十八章 大抄家（下）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第三十八章 大抄家（下）
</div>
<div class="bookname">
	<h1>第三十八章 大抄家（下）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;越往里走徐文爵越是震惊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;保国公朱国弼，隆平侯张拱日，怀宁侯孙维城，安远侯柳祚昌，永昌侯徐宏爵，定远侯邓文囿，项城伯常应俊，大兴伯邹存义，宁晋伯刘允极，南和伯方一元，东宁伯焦梦熊，安城伯张国才，洛中伯黄九鼎，成安伯郭祚永全在诏狱中<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐文爵又向前走了几步，在一单间牢房中看到了一个十分熟悉的面孔，不由得惊呼出声。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“钱先生，你怎么也在！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这人不是东林党魁钱谦益却是谁！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钱谦益先是一怔，随即惨然笑道：“事已至此，多说无益。魏国公请便吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说罢他转身面向狱墙盘腿坐下，口中喃喃念道：“千锤万凿出深山，烈火焚烧若等闲。粉身碎骨全不顾，要留清白在人间！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“呸！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一名锦衣卫校尉冲钱谦益啐了一口浓痰，斥骂道：“你这老贼密谋弑君，竟然还好意思念于少保的诗，真是脸都不要了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钱谦益猛然转身，歇斯底里的狂吼道：“厂卫鹰犬，你懂什么？孔曰成仁，孟曰取义。老夫以杀身成仁，为的是天下苍生！老夫虽然身死，但可让天下人看到这暴君的真面目，他们便会起来抗争！百年以后，老夫亦会青史留名！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“放你娘的罗圈屁！”那锦衣卫校尉却丝毫不给东林党魁面子，讥讽道：“你书都读到狗肚子里了吗？陛下乃先帝嫡长子，克承大统理所应当。陛下即位以后轻赋税，练新军，命官军收复山东，时刻准备着北伐东虏，恢复神京。这哪一点不是明君所为？而你们呢？陛下让你们捐出一些银两助饷，你们便一个个哭起穷来，仿佛都是家徒四壁的破落户。实际呢？你们哪个身家不是十几、几十万两？这些银钱若不是贪墨来的，难道是从天上掉下来的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;稍顿了顿，那锦衣卫校尉接道：“陛下仁德，并没有让你们把贪污的银两全部捐出，你们倒好反而生出弑君的想法。你们儒家不是最喜欢强调三纲五常吗？难道不知道君为臣纲的道理？还是你觉得刺杀了陛下，再立一个皇帝便是？你这等目无君父的逆臣贼子，人人得而诛之！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“老夫”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钱谦益还欲争辩，却被那锦衣卫校尉打断道：“是，我是厂卫鹰犬，但你口中的厂卫鹰犬也知道君子有所为有所不为。你这样的‘东林大儒’难道不明白？烈皇时钦办逆案，我只以为魏忠贤可恶，阉党一除就能四海靖平。现在我才明白我错了，比起魏忠贤，比起阉党，你们这些满口仁义道德的东林伪君子才是真的可恶！你方才有一句话说对了，你的名字肯定会在史书上大书特书，不过却不是名留青史，而是遗臭万年！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说罢之后那锦衣卫校尉又狠狠的朝钱谦益啐了一口，继而扬长而去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钱谦益一屁股坐倒在地，神情惘然的自语道：“燕雀安知鸿鹄之志，燕雀安知鸿鹄之志哉”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;乾清宫。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺静静听着东厂提督刘传宗和锦衣卫指挥使赵信的奏报。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“启奏陛下，臣已奉旨率神策军封锁、弹压京营，确保无一人出营。随后臣派人去接管新江口水师，并未遭到阻拦。臣还在新江口找到了失踪的那几名船工。他们供称，徐贼以借调他们去修缮船只的名义把他们骗去新江口，实则是为了在船上做些手脚，确保陛下检阅水师时御船会神不知鬼不觉的沉没。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺蹙眉道：“凿穿船底，他的人就不能做吗？为何又要从龙江船厂借调船工，平白惹人怀疑？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵信连忙道；“禀陛下，据那几名船工说，徐贼要求凿穿船底后船只不能立即沉没，而必须在驶入江中半个时辰后下沉，如此才会显得很自然，他们也容易洗脱罪名。若是单纯凿穿船底自然很容易，但要达到以上要求，对凿船之人的手艺要求极为严格，凿的重了狠了则船会快速沉没，凿的轻了缓了则船不易沉没。非造制船只多年的龙江船厂老船工不可。徐贼就是打算等陛下驾临新江口登船时再命扣留的船工动手。届时这些底舱中的船工跟着御船一起沉入江底，自然不会留下任何证据。徐贼真是打的好算盘！想必他也以为不会有人在意几个船工的失踪，却不料其中一名船工的族弟是个血性之人，竟然上应天府衙鸣冤。若非如此锦衣卫和东厂的人真不会注意到此獠的异动。索性苍天有眼，庇佑陛下，将此獠的恶行暴露。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺长长吐出一口气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵信的分析有理有据，又有那几名船工作证，看来徐文爵真的是想来一出御船沉江的戏码，只不过百密一疏，因为一个小破绽而满盘皆输。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“刘伴伴，你说说看，逆犯都缉拿的如何了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺又转向刘传宗质询道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“禀奏皇爷，涉及谋逆大案之人，除了左都御史王铎畏罪自缢外，已尽数投入诏狱，听候皇爷发落。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这次因为要由赵信统率神策军弹压京营，锦衣卫方面的势力也由刘传宗一并调动，这让刘太监畅快不已。此刻他自然急不可耐的向天子请功。在他看来办妥这件事后他在天子心目中的地位又会高上几分。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这件事你办的不错。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺微微颔首，赞许道：“涉案人的宅邸可都抄没了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“禀陛下，奴婢已命人将其尽数抄家，亲眷亦投入诏狱，听候陛下发落。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺微微颔首。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;谋逆在任何朝代都是十恶不赦的大罪。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如今东林、勋臣谋逆，朱慈烺虽然痛心疾首，但换个角度想想也是一件好事。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;把这些吃里扒外，狼心狗行的逆臣处决后，不但可以起到震慑朝野的作用，还可以借机安插心腹。毕竟朝廷之上一个萝卜一个坑，总不能直接剥夺这些老东西的官位。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;现在他们自己找死，那就怨不得朱慈烺了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“拟旨，谋反逆案首恶钱谦益、徐文爵凌迟处死，其余涉案文武一律满门抄斩，财产抄没入内帑，首级悬挂在南京城门示众！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;ps:感谢书友樱落丶空、写信告诉你的1000币打赏，感谢书友么么劫，老头683，star破晓，睺帝，九天炎羽的100币打赏~
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>