<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第一百七十章 接风宴（第一更，求订阅，求月票！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第一百七十章 接风宴（第一更，求订阅，求月票！）
</div>
<div class="bookname">
	<h1>第一百七十章 接风宴（第一更，求订阅，求月票！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;袁惟泰引着张肯堂进了巡抚衙门，绕过影壁一路穿庭过院。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他走的很慢，每走一步都要停下来向张肯堂介绍。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张肯堂也极有耐心，十分认真的听着。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“听说，袁知府是节寰公（袁可立的号）的族侄？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一直沉默的张肯堂突然发问。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;袁惟泰吃了一惊，稍稍定了定神道：“回禀抚台，确是如此。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“本抚来登州之前就听说了袁知府率领组织乡勇抵御刘良佐、刘泽清叛军的事情。一开始本抚还觉得有些惊讶，但得知袁知府就是节寰公的族侄便再不以为奇了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张肯堂稍顿了顿道：“节寰公为大明鞠躬尽瘁，袁知府亦是公忠体国，袁家真是一门忠贞之臣啊！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;突然被上官一番夸赞，袁惟泰连忙应道：“抚台大人谬赞了。下官只是做了自己该做的，虽不能亲自上阵诛寇灭虏，却也得对得起自己的脊梁。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他这番话倒是发自肺腑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那日登州城上袁惟泰亲自击鼓激励士气。哪怕叛军已经登上了城头，袁惟泰却是临危不惧，一副视死如归为大明死节的态度。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;好在天骑营如神兵天降一般突然杀出，将叛军尽数诛灭，不然袁惟泰恐怕真的要死在登州城头了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好，说的好！本抚能与袁知府一道共事，心中十分欣慰。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张肯堂最欣赏的就是有气节的人，袁惟泰在大敌当前能够表现的临危不惧，确实十分难得。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于能力嘛一定也不差。能够在短短时间内组织乡勇守城，岂会是等闲之辈？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;二人走至后院垂花门前，袁惟泰拱手道：“抚台且先稍作休整，下官就不打搅了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张肯堂微微颔首道：“袁知府有心了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;从巡抚衙门退出来后袁惟泰心中十分欣喜。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然与张肯堂只聊了寥寥数语，袁惟泰却觉得十分投机。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可以看出张肯堂和他一样都是有大抱负大志向的人。皇明的崛起中兴不光需要当今天子这样英明神武的雄主，也需要忠贞死节的能臣。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若是大明上下一心，何愁不能扫平流寇，击溃东虏！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一想到这里袁惟泰便觉得心潮澎湃了起来<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;日暮时分，蓬莱阁。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;今日整座酒楼都被包了下来，为巡抚张肯堂的接风宴做准备。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;袁惟泰为了让张肯堂满意，使出了浑身解数，得知张肯堂是松江府人，特地命人准备了松江鲈鱼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然，这鱼不可能是从松江捕捞的，但做法却是地地道道的松江做法。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;此时袁惟泰也通知了登州城内大小官员，一齐在蓬莱阁等候。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;巡抚张肯堂来的很准时，袁惟泰亲自替张肯堂压轿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张肯堂下轿之后袁惟泰等一众官员纷纷迎上前去，前呼后拥的把巡抚大人迎进酒楼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“下官包下了整个酒楼，不知抚台大人打算在哪层用宴？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;袁惟泰微微欠身，十分恭敬的问道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张肯堂小憩了一觉，精神状态很不错，淡淡道：“本抚初来乍到，便听袁知府的吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;袁惟泰稍稍思忖了一番道：“若论视野自然是五层最好，登高望远可将登州城景尽收眼里，还可远眺沧海。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;被袁惟泰这么一番勾勒，张肯堂也有些想看看这蓬莱阁五层究竟有多么奇妙了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦？那快引本抚登阁。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“下官遵命。抚台大人请！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一连登上五层可不轻松，何况张肯堂已经年方五十。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;爬到第四层时张肯堂已经气喘吁吁。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;袁惟泰想要去扶他，被张肯堂直接拒绝了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张肯堂歇歇停停，最终爬上了阁顶。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;袁惟泰也累的够呛，他虽然才四十多，但因为平常缺乏活动，筋骨都是疲着的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其他官员基本也都是双手叉腰大口喘着粗气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张肯堂将这一切看在眼里，心官强身健体开始抓起。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;文官虽然不用上阵杀敌，但也不能是一群病秧子啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不然如何能够处理好繁重的事务？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;中兴大明不是一日之功，必须得有个好身体才能看到那一天。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过张肯堂却不会在宴会上就提出来，他有更重要的事情要说。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张肯堂作为巡抚当仁不让的坐在了上首。袁惟泰作为知府坐在稍靠下首的位置。其余登州官员也都依照官职高低依次入席落座。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;宴席正式开始后，袁惟泰依照惯例代表登州城一众官员向巡抚张肯堂敬酒。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;之后张肯堂发表了一通讲话，大多是大明官场之上的套话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;袁惟泰还好，其他官员耳朵都听出茧子了，直是左耳朵入右耳朵出。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张肯堂讲完套话之后，话锋却是陡然一转，冲南面拱了拱手朗声道：“本抚深受皇恩，替天子巡抚登莱，自该鞠躬尽瘁。然本抚听说登莱水师名存实亡，一个月前水城之中几乎没有战船，这可不行。朝廷对本抚的要求是半年之内训练出一只精锐的水师。那么本抚就要对你们有所要求。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说完之后张肯堂扫了众人一眼，见无人有异议十分满意的继续说道：“袁知府，此先是你一直在主持登州府大小事宜。那么本抚且来问你，现在登州水城内有战船多少艘？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所有人的目光都落在了袁惟泰的身上，这让他多少有些紧张。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“回禀抚台，现在登州水城里一共有十六艘海船，其中八艘大号福船，八艘大号广船。按照兵部的说法，还会有四十余艘海船陆续抵达登州。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;袁惟泰暗自庆幸好在他刚刚去视察过水城，对具体情况比较了解。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不然刚刚张肯堂问起来他不是两眼一抹黑抓瞎了吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;看的出来，巡抚大人的行事风格属于雷厉风行的那一种，绝不拖泥带水。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;以后在他老人家手下办事要更勤快一些。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张肯堂点了点头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这与他在登州水城了解的情况差不多，看来袁惟泰果然是个事事亲为的好官。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“再等五日，五日后全部船只便应该都抵达登州了。届时本抚要亲自检阅水师操练。本抚把话说在前面，水师操练必须勤，至少要保证三日一操！”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>