<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第一百一十七章 诛杀许贼（第六更，求订阅，求月票！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第一百一十七章 诛杀许贼（第六更，求订阅，求月票！）
</div>
<div class="bookname">
	<h1>第一百一十七章 诛杀许贼（第六更，求订阅，求月票！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;八月十六，高杰率部陈兵睢州。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;河南总兵许定国率亲兵出城相迎。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽说高杰并没有直接与他兵戎相见，但看这架势颇有几分兴师问罪的意思。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;原因嘛许定国也能够猜到。无非是责问他为何迟迟没有作出响应配合北伐。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对此许定国早已准备好了一套说辞，无非是睢州受到北面祖可法部清军的压力极大，不敢贸然调动城中守军。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰似乎也相信了许定国的解释，有说有笑的和他一起进城。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至此许定国暗暗松了一口气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若是高杰不信他，他还真想不出什么好的办法。但只要高杰进到睢州城中，一切便可以按照计划行事。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;从清廷使者抵达睢州的那刻起，许定国便下定决心降清。这绝不是高杰陈兵就能改变的了的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果高杰以武相逼，许定国不介意杀掉此人再率部向清军投诚。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰如今在残明小朝廷颇受重用，许定国若是能够斩下他的人头也算是向清廷献上了一份大礼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然，若是高杰没有逼他太紧，许定国也不想撕破脸皮以死相搏。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一切都要看高杰怎么做。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许定国在故兵部尚书袁可立的府邸设宴，款待高杰、越其杰、袁枢、陈潜夫等人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;酒宴刚一开始，许定国便派歌妓起舞助兴，活跃气氛。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰等人喝的兴起，完全不提北伐之事。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许定国心中暗暗窃喜。只要高杰喝醉了，今日这关便算是挨过去了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;明日一早找个由头把他送出城，你走你的阳关道，我过我的独木桥。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;谁知在许定国出神之际，高杰猛然间把怀间的歌妓朝许定国扔来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许定国躲闪不及被生生砸中滚落地上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰拔刀出鞘，厉声道：“许定国暗通东虏，罪不可赦！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一瞬间高杰的亲兵纷纷抽刀出鞘，围上前来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许定国还没来得及站起来，便觉得脖颈一凉，高杰的佩刀已经搭在了他的脖子上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“高将军，你这是做什么！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许定国吓得面色惨白，声音都有些发颤。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“许贼，你暗通东虏，今日某便要斩下你的首级祭旗！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰冷笑一声，也不与许定国废话，将刀口往外一摆随后重重挥下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许定国连一声惨呼都没来得及发出，头颅便随之飞起。鲜血从脖颈喷涌而出，喷溅了高杰一脸。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;无头尸体倒地，发出一声闷响。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰抓起许定国的首级高呼道：“许贼已伏诛，投降者免死。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一切发生的太快，许定国埋伏在暗处的刀斧手还没来得及动手便被高杰的亲兵制住。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们见许定国已死，遂没了搏命的心思，纷纷扔掉手中兵刃跪倒在地。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰冲越其杰递了个眼色，后者立刻清了清嗓子道：“本官乃是河南巡抚，现接管睢州一应事务。城中现有存粮、兵马多少，速速报于本官。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一个副将模样的军官叩头如捣蒜道：“启禀抚台大人，睢州城中现有存粮三万石，步兵八千。末将还知道许贼的金银藏匿之处，愿为抚台大人赴汤蹈火，效犬马之劳。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;越其杰又转向高杰，见高杰点了点头这才说道：“好，你速速派人打开城门，将粮食移交给高总戎的部下。差事办的好了，本抚可饶你一命。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那副将闻言直是大喜，又是连着叩了十几个响头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在高杰的命令下，一众亲兵把许定国布置在周围的刀斧手全部绑了起来，驱赶到院子中集中看管。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那副将则被几名高杰的心腹压着前去下令打开城门。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;过了不到一炷香的工夫，睢州城门大开，高杰麾下士兵悉数进城接管了各处城防。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一切稳固妥当后，高杰下令把许定国麾下副将、参将、游击全部召集起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这些许定国的心腹只以为要换个对象效忠并没有太过顾虑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;顶天了就是高杰吞并许定国的势力，把睢州城中军队编制打散重新整编，难道还能把他们都杀了？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;谁知这些人被带到袁可立故宅后，高杰冷冷说道：“许定国身为河南总兵，不但不思报效皇恩，反与东虏暗通款曲，罪无可恕，现已伏诛。汝等身为许定国麾下将官，许贼意欲投虏时未行规劝之责，实乃助纣为虐，为虎作伥。来人呐，把他们全部斩了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰一声令下，亲兵们立刻上前把这些许定国的亲信将领拖翻在地，挥刀便砍。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一声声惨呼传来，十几人顷刻间身首异处。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰冷冷扫视了一眼，便继续下令道：“院中捆绑的许贼亲信全部格杀，一个不留！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对这些许定国的亲信心腹，高杰不会有一丝一毫的同情。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果他没有提前得到斥候报信，恐怕现在人头落地的就是他高杰和一众亲兵了吧？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;也许这些许定国的亲兵并不知晓主上投虏的事情，但他们与许定国一荣俱荣一损俱损。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰既然已经斩杀了许定国，就不能继续留着这些许定国的亲兵。这等于是在自己身边埋下隐患。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于那些副将、游击、参将，都是睢州高层将领，多半是知晓许定国投虏计划的，更是死有余辜。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而睢州城中的普通士兵，高杰准备把他们打散编入麾下各营。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;八千人说多不多，说少却也不少，对他实力的提升很有帮助。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如今这些士兵都在营中休息，根本不知道发生了什么。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰只需要把许定国的首级悬挂在辕门上，就可以让这些士兵乖乖的服从安排。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对普通士兵来说根本不在乎效忠于谁。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当兵吃粮，只要高杰能够养得起他们，他们就会心甘情愿的替高杰卖命。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;院子中传来阵阵惨呼，高杰的亲兵下手十分狠厉，不到一盏茶的工夫就把院子中的上百人全部斩杀。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰命人把这些许定国的亲兵首级全部斩下，与那些高级将官的首级一样插在竹竿子上示众。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于尸体则全部丢出城去，挖坑埋了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;现在适逢八月，天气十分闷热，若是尸首不及时掩埋引发瘟疫可是很可怕的事情
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>