<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第三百二十五章 增兵入滇（第二更！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第三百二十五章 增兵入滇（第二更！）
</div>
<div class="bookname">
	<h1>第三百二十五章 增兵入滇（第二更！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;黔国公沐天波带着刚刚招募的军队和原驻军前去楚雄府与云南府的边境叫阵，如今楚雄城中的兵力十分空虚。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张定国率领大军突袭而至，城中守军甚至还来不及做出反应城池便已告破。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;大西军进入城中后并没有烧杀劫掠，而是保持了相当的克制。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在这种情况下城中百姓倒是很配合。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在他们看来是明军控制还是大西军控制此地并没有太大的区别。一样的要纳粮，一样的要服徭役。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们过好自己的小日子便是了，别的事情不需要考虑太多。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张定国拿下楚雄后沐天波的处境极为尴尬。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他率军前去边境叫阵本就是为了给秦良玉拉扯空间，没有打算真打。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若是沙定洲的叛军前来追击他就会立刻率部逃回楚雄城中。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可现在楚雄被大西军攻克，他被断了退路，只能咬牙往滇北撤离。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那里毕竟还有一些支持他的土司，总比待在沙定洲的眼皮底下安全。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然沐天波很想配合秦良玉打一场漂亮的合围战，但考虑到实际情况还是作罢了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;除了兵备道杨畏知的一两千士兵，沐天波手头的基本都是刚刚招募的新兵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;想靠着这些新兵打胜仗无异于痴人说梦。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沐天波十分清楚这些士兵只要遭遇到一场失败就会瞬间崩溃，兵败如山倒。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沐天波可不打算拿自己的身家性命开玩笑，他虽然勇猛无比，但好汉架不住人多啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;大丈夫能屈能伸，忍一时才是王道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于张定国在占据了楚雄府后并没有进一步的动作。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他知道明军和沙定洲之间必有一场大战，故而十分乐意坐山观虎斗。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然他第一时间命人把夺取楚雄府的好消息送回了四川。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;信使取道建昌随后来到成都，将捷报奏禀大西皇帝张献忠。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;此时张献忠正在开怀畅饮，听到这个消息为之一愣。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;随即他放声大笑道：“咱老子果然没有看错人。定国真是咱老子的韩信呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;四个义子中要说处理内政的能力肯定是张可望最强。但要说最能打的，那非张定国莫属。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张文秀能文能武，介于张定国和张可望之间。张能奇就要各方面都差一些了，不过也是一个不可多得的将才。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张献忠能有今天很大程度上是因为有这四个义子拼死效命。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张献忠起身在殿内踱了数步，挥手吩咐道：“把三个皇子都叫来，咱老子有话要讲。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张献忠正在兴头上，又满满的灌下一杯酒，眼睛微微眯起仿佛看到了张定国打下昆明，将大西军的军旗插在了昆明城头的场景。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若是四川和云南连成一片，大西政权的战略纵深将大大增加。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不论是东虏南下还是明军西进，张献忠都不必害怕。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其实张献忠又何尝不想拿下云南呢？只是他一直觉得没有机会罢了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;大西军虽然号称有几十万大军，但真正能打的战兵实际也只有十几万。这十几万人看着多，但要同时防备东虏和明军偷袭只是勉强够用。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若是拨出大队人马去攻打云南，四川则随时有可能陷落。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可是张定国只提出带领几千人突袭。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个方案不会耗费太多大西军的兵力布置。张献忠最终同意了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在张献忠看来张定国能打下一两个州县最好，即便打不下来也没啥。反正还能顺势稳固大西军在建昌的统治。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;谁曾想张定国竟然一口气吃下了楚雄府，把沐天波这老儿赶去了滇北吃灰。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这真是爽煞人也，爽煞人也！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;便在这时内官奏报三位皇子到了，张献忠挥了挥手示意把几人带进殿来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张可望、张文秀、张能奇依次进殿行礼，之后恭敬的束手而立。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然三人平日里威风八面，但在张献忠面前永远都是恭顺有加。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哈哈，咱老子得到个好消息。你们猜怎么着，定国把楚雄府拿下了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张献忠十分兴奋，咽了口吐沫继续道：“咱老子叫你们几个来是想商议一番接下来咱要怎么做？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张可望思忖了片刻拱手道：“恭喜父皇。儿臣以为当增派军队顺势拿下昆明。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张献忠点了点头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张可望的想法和他的正好相吻合。昆明对于云南的重要性相当于成都之于四川。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沙定洲为何能突然之间获得那么多土司的拥戴？还不是因为他拿下了昆明，赶走了沐天波。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果大西军能够拿下昆明，这些墙头草的土司肯定也会宣誓效忠。如此一来至少大西军在短时间内不用担心在云南统治的问题。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“文秀呢，你怎么看？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张献忠又将目光落在了张文秀身上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张文秀不疾不徐的答道：“父皇，如今明军和沙定洲之间将不可避免的展开一场大战，儿臣觉得我们可以先按兵不动，等他们斗个两败俱伤再出来收拾残局。当然，先往云南派兵增援是可以的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个思路倒是求稳。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“能奇呢？你觉得咱老子该如何决断？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张能奇是张献忠四义子中存在感最低的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;原本他是不打算发声的，但张献忠既然点到了他的名字也只能硬着头皮说道：“两位兄长把儿臣要说的话都说完了。儿臣以为此事当父皇乾纲独断。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张献忠琢磨了片刻道：“你们谁愿意领兵去云南？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;三人心中同时一沉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;看的出来张献忠对于云南十分重视啊，竟然要派两名义子去云南争夺地盘。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张可望是不太想去的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一来云南条件艰苦，远不如在成都待着。二来他也不善于领兵作战。到了云南，恐怕兵权也得被张定国兼并了去，什么功劳都成了张定国的了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;故而他将头垂下默不作声。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;倒是张文秀抱拳道：“儿臣愿意请缨前往。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张献忠闻言大喜。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张文秀的领兵作战能力在他四个义子中仅次于张定国，是一位不可多得的悍将。有他领兵前往增援，大西军夺得昆明的可能性又会增加不少。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好，吾儿准备带多少人去？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张文秀抱拳道：“一万人足矣。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张献忠摇了摇头道：“咱老子给你一万五千人，和定国的五千人凑个整，要是打不下昆明你们就不要回来了！”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>