<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第八十九章 一夜恶名扬</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第八十九章 一夜恶名扬
</div>
<div class="bookname">
	<h1>第八十九章 一夜恶名扬</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;（万水千山总是情，多张推荐多份情！大家太给力了！继续求推荐票支持！老坤需要大家的支持，才能写出更精彩的章节！感谢书友雪洗天心，书友前天不是前天的100币打赏~）<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;侯方域难以置信的盯着李香君。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他的这位红粉知己怎么突然之间变得如此陌生。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“香君，话不要说得那么难听嘛。什么叫投敌变节。残明气数已尽，这天下迟早是满洲人的。我这时候投效过去，总比将来人家兵临城下再投诚来的好吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;侯方域稍顿了顿继续说道：“王朝更迭是再平常不过的事情。识时务者为俊杰，我又何必在残明一棵树上吊死呢？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李香君却是冷冷道：“王朝更迭自是平常，可这东虏却是异族。若代替大明的是李闯也罢了，可若代替大明的是东虏，那便是亡天下了。你若想投李闯我都不会这么气愤，偏偏你要去剃发易服投那东虏！罢了，罢了，我真是看错了人，还以为你是温润如玉的翩翩佳君子，却不曾想是个十足的伪君子！你滚，不要让我再看到你！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;侯方域气的咬牙切齿：“香君，你可想清楚了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李香君猛然转身端起盆架上的洗脚水朝侯方域泼去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“滚，不要脏了我的媚香楼！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;侯方域躲闪不及，被浇了个正着直是狼狈不堪。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他怒而一甩衣袖，叱骂道：“不过是个娼妇，竟敢如此猖狂。好，从即日起，我跟你一拍两散！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说罢转身离去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李香君已是哭成了泪人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她实在想不通侯方域怎么会是这么一个厚颜无耻之徒，而自己竟然被他骗了这么久。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;真是知人知面不知心。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所幸的是她最终看清了侯方域，没有一错到底<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“听说了吗？媚香楼的香君娘子大半夜的把侯公子赶了出去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊？侯公子不是香君娘子的帐中人吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“听说是侯公子想要给香君娘子赎身，她却不肯。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这是什么道理？风尘女子脱籍从良不是天大的好事吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这个嘛，嘿嘿”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦淮河万花楼中两个嫖客有滋有味的聊着。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这十里秦淮青楼楚馆无数，但真正有分量的却屈指可数。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;媚香楼绝对算一个。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李香君更是当红花魁，让无数嫖客垂涎不已。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只是自打侯方域替李香君梳拢之后，她便只接侯方域这一位客。虽然李香君并未赎身脱籍嫁给侯方域，但实际上二人已经有了夫妻之实。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一个是秦淮八艳之首，一个是复社领袖，江南四公子之一。怎么看都是郎才女貌，天作地和的一对。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;结果这样的一对鸳鸯竟然变成了分飞燕。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;真是太叫人惊讶了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“听说是侯公子想要回归德府老家，香君娘子不肯。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“归德府？如今河南不是在鞑子控制下吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“谁说不是呢。他想要做鞑子的官呗。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嘶，他侯家世受皇恩，乃祖父侯执蒲官至太常寺卿，乃父侯恂更是拜户部尚书，他怎么做的出这么不要脸的事。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这有什么奇怪的。某听过一句话，仗义每多屠狗辈，负心多是读书人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啧啧，似乎是这么个道理。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不过这香君娘子还真是个有气节的。比那什么狗屁江南四公子强多了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“某也是想不明白，给鞑子当狗有什么好的呢？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“总有人是贱骨头嘛。好好的士子不当，偏偏要千里迢迢赶去做奴才。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;同样的场景在秦淮河沿岸几十家青楼上演。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;消息当然是李香君放出去的。青楼本就是三教九流汇聚之地，消息传播的速度惊人。加之李香君在秦淮河的影响力非凡，稍稍打个招呼，几十家青楼便同时响应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一夜下来，侯方域想要回老家投靠东虏做鞑官的事情便整条秦淮河的嫖客都知晓了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如此劲爆的消息可比桃色花闻有吸引力的多，一传十十传百下，虽不说满城皆知却也是差不了多少。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;紫禁城中的朱慈烺自然也得到了这个消息。当然，他是通过东厂锦衣卫的渠道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;想不到这个历史上著名的大汉奸竟然这么快就生出了投清的心思。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺当即下旨命锦衣卫缉捕侯方域下诏狱审问。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他的忍耐自然是有限度的，对于汉奸绝不姑息。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;何况侯方域是复社领袖，影响力很大。若是他真的投清，造成的影响十分恶劣。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;将侯方域下狱，侯恂势必会反应强烈，朱慈烺原本的计划也得随之做出调整。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺本想先把侯恂晾一段时间，等时机差不多了，再放出这张王牌针对左良玉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但现在看来，这张牌可以提前打出了<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;锦衣卫诏狱。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;侯方域被几名锦衣卫校尉剥了个精光，一丝不挂的绑在铁床上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;总旗陈天笑手中把玩着一根铁刷子，笑声道：“侯公子你便老老实实招了吧。不然沸水泼上去，某家再用刷子这么一划拉，侯公子便得皮开肉绽了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;侯方域怒道：“你们这帮鹰犬，真是无法无天。你凭什么逮拿我？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哎呀，我们是遵旨行事啊。至于为啥逮拿你，侯公子心中没点数吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈天笑讥笑道：“意欲投虏，这个罪名够不够？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;侯方域闻听此言心中直是大惊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;投清的事情他只对李香君说过，锦衣卫的人怎么会知道？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽说锦衣卫的人手眼通天，可也不可能钻到他的脑袋里去啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;思前想后，侯方域觉得只有一种可能，那就是李香君出卖了他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个婊子！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;此刻侯方域恨不得将李香君生吞活剥了！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你血口喷人！我乃堂堂侯家公子，怎么可能前去投东虏。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这种罪名若是承认肯定难逃断头一刀，是以侯方域下定决心死扛到底。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不承认？现在整个南京城不知道侯公子想要投虏的怕是只有三岁小儿了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈天笑将沾了凉水的铁刷子在侯方域脊背上轻轻滑过，侯方域直是一个激灵，浑身肌肉都紧绷了起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“别紧张嘛，陈某还没有开始呢。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈天笑兴致盎然的打量着侯方域，不疾不徐的说道：“陈某再给侯公子一次机会，你招还是不招？”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>