<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第二百三十五章 SC巡抚（第一更，求订阅，求月票！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第二百三十五章 SC巡抚（第一更，求订阅，求月票！）
</div>
<div class="bookname">
	<h1>第二百三十五章 SC巡抚（第一更，求订阅，求月票！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;这确实是个难题。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;以朝廷现有的兵力还不足以同时对抗满清和张献忠。而如果不派兵增援，在张献忠的大举围攻下，恐怕重庆方面支持不了多久，迟早还会落入张献忠手中。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;由于发生了一系列的蝴蝶效应，朱慈烺不知道在这个时空清廷还会不会命豪格率军入川，也不知道这个时间点会不会提前。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以他不敢去赌。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那么便只剩下一条路了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“本兵觉得调云南兵入川如何？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺的这个想法大大出乎路振飞的意料，他听后吃了一惊道：“陛下是想让黔国公率军北上，围魏救赵？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺微微颔首：“也可以这么说。先解了燃眉之急，避免重庆方面一直处于被围攻的状态。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;重庆很重要，但相较于成都分量便轻了不少。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果张献忠得知沐天波率领滇军北上，威胁成都的安全，他肯定会毫不犹豫的选择回师救援。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沐天波这个人还是很忠于朝廷的。在原本历史中沐天波一直抗清，最终跟随永历帝进入了缅甸，战斗到了最后一刻。滇兵的战斗力也很强，只要不轻敌冒进，张献忠也占不到什么便宜。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“陛下圣明，不过臣建议还是派一名督抚级别的重臣前往重庆指挥作战。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;路振飞稍顿了顿道：“如今四川之所以是这个局面，和四川巡抚陈士奇有极大的关系。此人刚愎自用，且志大才疏，经常胡乱指挥一通。原本能打赢的仗在他的指挥下也打输了。若不换掉此人，将士们恐怕会寒心呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺也陷入了沉思。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;明末的文官一个比一个烂，真正有能力的没几个。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈世奇这种人烂的没有那么突出，但你要说他有多好也未必。就像路振飞所说的，刚愎自用、志大才疏可以很好的概括他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这样一个人镇守四川，也难怪四川乱作一团了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;换陈世奇没有问题，可换谁呢？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;人选是个问题。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“本兵觉得谁可继任四川巡抚？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“陛下，臣以为礼部左侍郎文安之十分合适。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;文安之<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺深吸了一口气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;以文安之的能力出任督抚自然没有问题，在原本历史中督师四川时文安之也表现的很出色。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可朱慈烺却有些舍不得。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺一直把文安之当做阁臣培养，这个时候放出去太可惜了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“还有别的人选吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;路振飞摇了摇头：“陛下，眼下四川局势只有文安之可以力挽狂澜。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所谓英雄相惜，在与文安之共事的半年时间里，路振飞对文安之的做事风格很欣赏。从一些小事琐事中就能看出文安之很实干，绝不是一个夸夸其谈的人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺仔细考虑了一番道：“本兵说的有理，这个时候确实需要一个强干之人坐镇重庆。便派文安之接替陈士奇出任四川巡抚吧。另调神策军一营暂且充作文爱卿的标营。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;文安之到任四川后需要整合各支军队，手里没有嫡系士兵可不行。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;与满清的大战在即，朱慈烺不能调给文安之太多兵，但拨出一营还是没有什么问题的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“陛下英明。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;路振飞深深一拜<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高桂英、田见秀率顺军残部来到长沙府时已经是精疲力尽。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;军队内部的分歧很大，刘芳亮主张应该夺下长沙府作为根基慢慢恢复元气。袁宗第、田见秀等人却表示应该尊重当时大家在九宫山一起做出的决定，钻到深山里蛰伏，等待时机。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;分歧渐渐变为争论，进而变作争执。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高桂英又不具备李自成那种绝对的权威，一时不知道该说些什么。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高桂英只得命令顺军就地扎营从长计议。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一扎营不要紧，可把城中的知府赵徽吓得不浅。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他刚刚搜刮尽整个长沙府的存粮“借给”郝摇旗，送走了这尊瘟神，谁曾想又来了一尊！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而且看对方打出的旗号似乎还是顺军。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;好嘛，这些人是存心和他过意不去吗，还一拨拨的来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;慌乱之际赵徽连忙找来幕僚陈阳商议，这个年算是彻底过不好了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈阳现在是春风得意，帮助东翁化解危机后他现在颇得器重，衙门里的人也都是对他巴结个不停。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;听闻东翁召唤，他连忙整了整衣衫拔步前去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;方一进到厅中，赵徽便急忙摆手道：“快来，快来，本府有话与你讲。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈阳走至近前笑声道：“东翁为何如此急切，难道郝摇旗又杀回来了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“郝摇旗是没杀回来，但又来了一尊瘟神，看样子还是顺贼。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“什么！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈阳大吃一惊道：“东翁说的可是真的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哎，都到了这个时候了，本官会乱说吗？本官这次叫你来就是商议此事的。如今该怎么办？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵徽两手一摊把难题抛给了陈阳。这倒也没啥问题，毕竟陈阳是赵徽的幕僚，拿人钱财替人分忧，理所应当。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这股顺军可派人将书子绑在羽箭上射入城内？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“还没有。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这便难办了。我们现在不知道他们想要什么，便是想再多也没用啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郝摇旗虽然贪婪，但至少明确的说出了需求。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这支顺军却好，不与官府方面进行任何沟通，难不成等着官府主动找他们去？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哎呀不好！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;突然之间陈阳惊呼出声。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵徽被吓了一跳，连忙问道：“怎么了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我看这些顺贼是想攻城啊！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈阳恨恨道：“一般来说只有下定决心攻城才不会和城中有任何沟通。这些顺贼怕是想打下长沙落脚。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“那可如何是好！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵徽这下彻底急了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郝摇旗虽然掏空了长沙府所有存粮，但至少主要城池还在，尚且有瞒天过海的希望。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可如果长沙府被顺军拿下了，赵徽失土之罪是跑不了的，肯定难逃一死。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“东翁莫急，且让我好好想想。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈阳闭上眼睛在脑中推演各种可能性。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这是他的一个习惯，思考问题时总是会冥神凝思。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵徽已经是欲哭无泪，只盼着陈阳能够想出一个解决的办法来，哪怕是要他出一笔银子“助饷”也行啊
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>