<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第二百七十四章 炸他娘的（第二更！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第二百七十四章 炸他娘的（第二更！）
</div>
<div class="bookname">
	<h1>第二百七十四章 炸他娘的（第二更！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;“呜呜呜，呜呜，呜呜呜”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;低沉的海螺号响了起来，八旗军士兵推着云梯往棱堡冲去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;由于棱堡四周都被壕沟封锁，他们必须得在正面冲破城墙。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;工匠赶制的冲车、云梯都是为了攻打德州城准备的，故而在攻打棱堡时显得有些笨重。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过八旗士兵的整体执行力还是很强的，军令一下纷纷头也不回的朝棱堡冲去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“他娘的，这帮鞑子还真是不要命啊！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;双兰堡中，把总陈英倒抽了一口凉气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;此先他经历过德州保卫战，亲手杀死过五六名鞑子，累功升迁至把总。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;相比较于一些在本地刚刚招募没多久的新兵，陈英对鞑子可以算是十分熟悉了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“把咱秦总兵发下来的万人敌准备好，炸他娘的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;此先朝廷将工部火器司赶制出的一大批万人敌、炸炮运送至山东，分发给了秦拱明、高杰、神策军诸营。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一开始秦拱明还对这玩意不太在意，直到炸炮和万人敌大发神威炸死了几十上百名进村打秋风的鞑子，秦拱明才意识到了它的威力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;每个棱堡里都存有大量的万人敌。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这玩意只需要往外一扔就能爆炸，威力十分可观。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尤其是居高临下往人堆里那么一扔，想不炸死人都难。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;双兰堡里只有一百名明军士兵，可他们彼此之间在一起生活了好几个月，同吃同住同说同笑，早就培养出了默契。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈英一声令下，所有士兵立刻行动起来，将成框的万人敌抬到了墙体内侧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“给咱老子扔，炸死这帮鞑子！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;方才鞑子的红衣大炮对着双兰堡猛轰，虽然并没有对棱堡堡体造成太大的伤害，可还是让陈英觉得憋气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;现在是时候还以颜色了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;万人敌的使用方法十分简单，明军士兵们经过培训后都能熟练的掌握。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这种土式手榴弹的有效攻击距离比之火绳枪要更远，故而可以对清军实施远距离打击。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“轰隆！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一枚万人敌落在冲击的清军队列中当即引爆，但听一声巨响十余名清军士兵当即被炸飞。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;断肢残臂飞落一地，到处都是鲜血和散落的肠子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一些清军士兵当即被炸死，但大多数人却并没有死透。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们在地上痛苦的翻滚着，发出一声声哀嚎。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哈哈，爽快，爽快啊！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈英放声大笑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;是谁说鞑子生的三头六臂，刀枪不入，百毒不侵的？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;被万人敌炸了，他们不一样缺胳膊少腿，肠子流了一地？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;都他娘的是血肉之躯，炸他个稀巴烂！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈英粗略扫了一眼，发现冲击攻打双兰堡的清军人数在五百人上下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这要是几十上百的扔过去，即便不能把这五百鞑子全部炸死，至少也能炸死一半啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“扔，继续扔，不要停！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈英只觉得自己浑身的汗毛都竖了起来，兴奋的无以复加。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗖！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗖！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗖！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一颗颗万人敌相继扔到清军阵中，随着一声声爆响，八旗甲兵被炸的四下翻飞，十分狼狈。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一名梅勒章京模样的将领见状连忙命突进的清军停下脚步。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他此先从未见过如此犀利的东西，明明扔过来的是一个个小小的泥巴糊的球壳，居然会立刻爆炸<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这种时候最好的办法是先停下来仔细观察。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他就不相信明贼手中的这种火器是无穷无尽的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈英却是大喜。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这帮鞑子真是愚蠢之极。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们若继续高速突进，万人敌还可能对他们造成不了太大的伤害。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但他们就这么愣愣的站在那里，简直就是活靶子啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这些鞑子尚在万人敌的攻击范围之内，陈英哪有理由不痛打落水狗。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在他的命令下，双兰堡的士兵一个个奋力挥臂高效的将万人敌朝鞑子阵中掷去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“轰！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一声声炸响相继传来，万人敌在鞑子阵中造成了可怖的杀伤。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一枚万人敌就将将落在梅勒章京几步外，他被一名甲兵扑倒才免于受到伤害。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“快撤，快撤退！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这是梅勒章京被扶起来后说的第一句话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他再也不敢大意。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若是继续待在这里，恐怕几百名八旗勇士都得被炸死。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一向悍不畏死的八旗士兵此刻也不敢继续突进了，得了撤退的命令纷纷扔下手中的攻城撞车、云梯朝后跑去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“呸！就知道抱头鼠窜，还好意思吹嘘自己天下无敌。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈英冲着落荒而逃的清军啐出一口痰来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其余棱堡面临的局势也大致相同。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;清军由于毫无防备，被万人敌炸的损失惨重。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多铎不得不选择退兵从长计议。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;回到中军大帐之中的多铎大发雷霆。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屈辱，实在是太屈辱了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;八旗军何时遇到过如此屈辱的事情？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;哪次八旗军兵临城下，城中守将不是开城投降？即便是负隅顽抗的，用不了多久城门也会被轰开。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于野战就更不必说了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;八旗铁骑只需要一轮冲锋就能够冲散明军的阵型，接下来要做的就是收割人头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;明军就像羊羔一样四散逃命，而八旗骑兵要做的就是追上这些逃跑的羊羔，挥动马刀把他们砍翻在地。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可是今天的攻城战实在是太失败了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;八旗勇士甚至都没有接近堡垒就被扔出来的泥球炸的断臂断腿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“叶臣，觉罗巴哈纳！你们两个奴才是哑巴了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多铎突然转过身来，冲跪倒在地的两名固山额真怒吼道：“这究竟是怎么回事？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;叶臣双手将一个已经爆炸过的泥球呈上道：“王爷，奴才在这里面发现了药子，和红衣大炮用的药子一模一样。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;是火药！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多铎心中咯噔一声。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;火药可以被引燃，这是人尽皆知的。可是红衣大炮的威力却是源自于铅弹。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这么小小的一个球壳中即便装满了药子也不可能爆发出这么大的威力啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这里面肯定不只有药子这么简单，查，给本王好好的查。本王一定要弄清楚这究竟是怎么回事！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多铎大手一挥吩咐道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“奴才奴才遵命！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;叶臣咬了咬牙还是应了下来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一旁的觉罗巴哈纳在心中冷笑，叫你献媚出头，现在搬起石头砸自己的脚了吧？
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>