<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第二百九十七章 大明必胜！（4000字二合一大章！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第二百九十七章 大明必胜！（4000字二合一大章！）
</div>
<div class="bookname">
	<h1>第二百九十七章 大明必胜！（4000字二合一大章！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;郑芝龙！那可是郑芝龙！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;是被明廷册封为南安侯，授予福建总兵官之职的郑芝龙！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吴二胡子想不出郑芝龙有什么理由降清。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“此话当真？咱真是要去劝降郑芝龙的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吴二胡子声音有些发颤，呼吸都变得急促了不少。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“当然是真的！我家老爷雄经伟略，早就把一切计划好了。吴三当家，这可是为大清建功立业的绝好机会啊。若是把这件事办妥了，荣华富贵还不是手到擒来！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一直沉默的王先生突然变得健谈起来，侃侃而谈吐沫星子四溅。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吴二胡子也被他描述的美好前景诱惑了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他咽了一口吐沫，舔了舔有些干裂的嘴唇，和声道：“我能做些什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;人性都是自私的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一开始吴二胡子之所以不愿意去福建是因为根本得不到什么切实的利益。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但现在情况完全不同了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果能够替清廷招降郑芝龙，那么功劳簿上他自然会被重重记上一笔。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“先把船开到福建吧，到时听某的差遣。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王先生一字一顿道<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“王爷，明军，是明军！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;叶臣十分惊讶的疾呼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多铎顺着他的声音望过去果然看到数千骑奔腾而来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;此时清军在全力攻城，中军十分空虚薄弱只有千人左右。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而看明军的骑兵至少也有几千上万，这么多骑兵冲阵怕是抵挡不住啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;八旗都是勇士，但勇士也不是钢铸铁打的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;遇到骑兵踏营，勇士一样会流血，一样会受伤，一样会死亡。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多铎生平第一次感受到了恐惧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“王爷，早做决断吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;叶臣在一旁恭声劝阻道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“撤撤军！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多铎十分艰难的从嘴中挤出这两个字。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“呜呜～呜呜呜～呜呜呜～”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;低沉的海螺号声再次响起，猛攻城头的清军为之一愣。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一短两长，这是要退兵吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们没有听错吧？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“呜呜～呜呜呜～呜呜呜～”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;号角声变得越来越急促，他们终于确信不是自己听错了，而是真的要退兵了！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;八旗兵的心态各不相同。有的长松了一口气，有的隐隐有着不甘，有的则是窃喜。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;八旗兵的执行力还是很强的。除了充作先锋的觉罗巴哈纳统领的正蓝旗，其余各旗受到的损伤都不算太严重。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们迅速撤离向中军靠近。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那里有帅旗在，往那里靠准没有错。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可是让他们感到惊讶的事情发生了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;帅旗动了！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;帅旗竟然动了！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而且这移动的速度还并不慢！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这是怎么回事？难道豫亲王跑了？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;八旗子弟们不愿意相信这个事实，他们敬仰无比英明神武的豫亲王怎么会逃跑呢？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但本能还是告诉他们要尽可能的往帅旗的方向靠。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;于是乎奇怪的一幕发生了，多铎的中军在跑，跟在后面的是八旗精锐，而在最后的是高杰统率的明军。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;八旗军竟然被明军追着跑！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其实这是因为战场上信息沟通不畅造成的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多铎看到明军冲击中军本阵第一反应肯定是跑，因为仅仅靠千八百人他不可能拦得住明军的冲锋。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而之后八旗兵的反应也没有错。因为他们听到了海螺号声，听到了退兵的命令。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果硬要指出有什么问题的话，那就是无法做到战场上的及时沟通。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多铎不可能停下来等八旗兵归位，必须先行一步。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这样就给人一种慌乱溃败的感觉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;事实上八旗主力并没有太过折损。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰也感到很惊讶。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他领奉皇命增援德州，本是做好了血战一场的准备，谁曾想多铎竟然像只兔子一样的跑了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰命人追击了一阵便不再追了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一来八旗军都是骑兵，且坐骑都是上等的蒙古马，单比脚力爆发力明军坐骑不是对手。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;二来八旗军损失不大，等他们重整旗鼓正面对决高杰所部占不到什么便宜。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;还不如趁着八旗军溃败的机会把红衣大炮、投石机等攻城器械全部缴获。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;要知道清军是不可能在短时间内重新赶制出投石机的。至于红衣大炮更是稀缺货，除非孔有德增援德州，否则多铎只能对着城墙干瞪眼<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多铎跑了良久终于感觉到了安全。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他停下来竖起帅旗重整旗鼓，清点兵员。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;让他感到欣慰的是清军的减员情况并不严重，至少还有**成的兵力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只是可惜那些被抛下的大炮、投石机了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过攻城器械再重要也不如人重要。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尤其是满八旗精锐，每一个都是十分珍贵的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只要人在希望就在，多铎认为自己的决定没有太大的问题。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只是这支明军是怎么突然冒出来的？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;清军虽然后来没有再围城，可也在严密监视着四面城墙的动向，并没有发现明军杀出啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而且明军是从中军本阵西边冲出来的，而西边应该是临清的方向啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;难道说这支明军是从临清赶来的明军？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多铎越想越觉得有道理，也是越想越怕。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果说临清的明军赶来增援岂不是说勒克德浑打了败仗。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;除了这种可能多铎实在想不出其他理由。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;联想起德州城头那尊铜像，多铎深吸了一口气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;难道勒克德浑真的被铸成了铜像？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;主将被擒，这已经不是简单的败仗了，而是惨败啊！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这真是一头猪啊！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多铎感到痛心疾首。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那些绿营军也就罢了，可汉八旗、蒙八旗可是清军的精锐。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;就这么折损了大半，对清军实力的影响是巨大的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽说还有天佑军，满八旗，但清军对明军至少在数量上已经没了绝对的优势。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;该何去何从？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;原本多铎是想休整一番再重新杀回去攻打德州的。但现在看来该是得从长计议了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“派人去叫孔有德、耿仲明，叫他们速速率部来见本王！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这种时候不能再分兵了。继续分兵下去多铎觉得清军会被各个击破。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“奴才遵命！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;叶臣应了一声，快步离去安排骑手前去乐陵、海丰了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;现在看来分兵从一开始就是个错误。只是这是多尔衮的布置，大家都深信不疑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过将在外军令有所不受，现在多铎必须按照自己的节奏来办了<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孔有德正打的兴起，却接到了多铎的调令，稀里糊涂的退兵往德州进发。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;耿仲明的情况也差不多，在接到调令后第一时间退兵往德州赶。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;二人虽然都是汉人藩王，但十分清楚他们不过就是两个高级奴才，主子有令他们怎敢不从？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;二人率部与多铎汇合后，多铎又整编了逃散的蒙八旗，这才算是恢复了元气，心里有了底。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;饶是如此他也没有立即下令猛攻德州。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在没有摸清明军的虚实前多铎不会再贸然进攻，天知道会不会又突然从哪里杀出一支骑兵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这也给了明军喘息之机。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们抓紧时间加固城门，填补城墙缺口，将大量石块顺着马道搬到城头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们判断这是一场拉锯战，短时间内很难分出胜负。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可过了没多久，让明军士兵感到惊讶无比的事情发生了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;鞑子竟然退兵了！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这次是真真切切的退兵，而不是什么计谋。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;清军拔营往北退去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;没有人说的清鞑子是怎么想的，但有一点可以肯定。这场仗他们打赢了，山东守住了！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;明军士兵们无不喜极而泣，有的相互抱在一起嚎啕大哭起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;原来鞑子也不过如此，只要他们上下一心，鞑子也没有什么可乘之机。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然这其中也有圣上御驾亲征鼓舞士气的原因。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若不是圣天子亲临山东，明军也难如此精诚团结。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺自然是感到欣慰的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在奏报中看到对战争的描述和亲身经历完全是两种感觉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;能够亲眼见证明军的大胜，使朱慈烺觉得十分幸福。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;大明还是有希望的啊！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多铎突然决定退兵撤回北直隶当然不是一时头脑发热，而是他得到消息阿济格并没有攻打湖广。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;没有阿济格在湖广牵制明军的精力，仅凭多铎这十万人是难以啃下山东的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;清军攻打山东其实就是三板斧。三板斧过后没有占据优势便很难了。明军可以调动湖广、南直隶的军队增援山东，源源不断生力军的涌入可以彻底改变战场的局势。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然多铎退兵还有一层考量那就是粮草不多了。勒克德浑所部粮草悉数被烧就不用说了，多铎麾下军队对粮草的消耗也是极大的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;再这么耗下去恐怕士兵们就得饿肚子了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽说退兵很可能引发多尔衮盛怒，但多铎不在乎。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他和多尔衮的考量不一样。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多尔衮志在天下，多铎却是觉得哪怕回辽东老家也没啥不好。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;即便最终被迫退出山海关，还京沈阳这日子不也是照样过吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如此看来拿不拿下山东便不那么重要了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;何况情况也没有坏到那个地步。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;大清还是拥有陕西、山西、河南、北直隶等关内诸省。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽说粮食是个问题，但紧吧紧吧也是能凑合过的嘛。实在不行还可以到草原打劫蒙古各部，以及去敲朝鲜一笔竹杠。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;总之车到山前必有路，多铎就不相信拿不下山东这日子就没发过了<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“阿嚏！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吴二胡子狠狠打了个喷嚏。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这鬼天气真是叫人捉摸不透，前一刻还晴空万里，后一刻就电闪雷鸣。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;绕过舟山群岛后吴二胡子所乘坐的海船遭到了不小的风暴，疾风骤雨下海船差点都倾覆。相较之下染了风寒也就不算啥了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吴二胡子走到甲板上朝远处望了望，除了汪洋还是汪洋，连陆地的影子都看不到。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;照这样下去至少还得有个七八日才能到福建。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;作为一个海盗，吴二胡子对郑芝龙自然是很敬畏的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个海盗头子的经历可谓传奇，每每在别人以为他要丢掉性命时总能神奇的化险为夷。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;之后郑芝龙更是神奇的洗白，接受朝廷招安成为一名大明将领，一路官运亨通做到了南安侯、福建总兵的高位。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这简直是所有海盗的梦想啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然，真要是和这样一个海寇打交道就完全是另一回事了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;好在接触郑芝龙并招降他的事情不用吴二胡子来做，他只需要负责把船开到福建即可。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在甲板上站的时间久了，海风吹得他有些头疼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;百无聊赖之下吴二胡子遂选择回舱睡觉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在海上睡觉是消磨时间的最好方法<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;七日后海船停靠在了泉州府。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;福建是郑芝龙的地盘，而泉州府则是郑芝龙的老巢。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;整个泉州外海被郑家水师封锁的密不透风，任何敌船靠近都会被集中猛攻。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吴二胡子自然是缴纳了大量银子才获准停靠在岸。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;好在这笔钱不由他来出，不然他还真要肉疼死。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王先生上岸之后第一站自然是前往洪家老宅。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪承畴的父亲虽然已经离世，但母亲还健在。他此行的目的之一便是帮洪承畴把老母接回北京。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪家老宅并不好找，王先生按照地址找了好几遍都没能找到，最后还是询问当地的百姓才找到具体的位置。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;显然这老宅已经有些年头了，湿润的海风吹得木门都有些朽烂。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王先生上前敲了敲门，过了良久才有一个老妪来开门。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这老妪显然不是洪母，因为看年岁也就是五六十岁，而洪母已经年过七十了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王先生陪着笑脸道：“某想求见洪老夫人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那老妪愣了一愣，用略带沙哑的嗓音说道：“你跟我来吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她把那王先生让进院子，一边在前面引路一边叹声道：“难得还有人记挂着老夫人，自打崇祯十五年这个家就败了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王先生的面色有些难看，却也没多说什么，跟着老妪走到一处屋子前。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“老夫人，有人来求见您。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;过了片刻，屋门吱呀一声被推开，一个满面皱纹的老太太拄着拐杖走了出来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是谁啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王先生大喜。他连忙向前一步到：“洪老夫人，我是您儿子的长随。洪大人此番特地派我来接您到北京享福呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪老夫人先是一愣，随即破口大骂道：“这个不孝的畜生啊！我七十多岁了，他教我到旗下去当老妈子？你叫他来，你叫他亲自来呐！我要亲手打死这个不孝的畜生，替天下人除害！”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>