<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第六十三章 郑芝龙动心</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第六十三章 郑芝龙动心
</div>
<div class="bookname">
	<h1>第六十三章 郑芝龙动心</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;（第一更，求推荐票支持！感谢书友柔之虎的500币打赏，感谢书友前天不是前天，书友Fatfish的100币打赏。）<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;泉州府，晋江县。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;作为泉州府治所在，晋江县可谓东南形胜。县东北有泉山，名清源。东南有宝盖山。南有灵源山。东南滨海，有盐场。海中有彭湖屿。南有晋江，自南安县流入，经城西石塔山下，又东南至岱屿入海。东北有洛阳江，南流入海。又东南有永宁卫，南有守御福泉千户所，俱为洪武二十一年二月置。东南有祥芝、又有乌浔、南有深扈、又有围头四巡检司。西南有嘉靖中期所筑安平城。东南有万历中期所筑石湖城。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过如今一提起晋江县，当地百姓立即会想到的便是奢华无比的郑府。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;自打崇祯元年被熊文灿招抚任海防游击后，郑芝龙便离开台湾，坐镇闽海。与他一同离开的还有三万部众以及千余艘船只。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;崇祯三年，郑芝龙在晋江县安平镇修建豪华宅邸。郑芝龙花费了三年时间修建这座宅邸，富可敌国的他毫不吝惜金银，整座府邸西抵西港，北达西垵头，南临安平桥头，直通五港口岸，占地一百三十八亩。府邸主构为歇山式五开间十三架，三通门双火巷五进院落。两旁翼堂、楼阁，亭榭互对，环列为屏障。东有“敦仁阁”，西有“泰运楼”，前厅为“天主堂”，中厅为“孝思堂”，规模宏耸。大厝背后辟有“致远园”，周以墙为护，疏以丘壑、亭台、精舍、池沼、小桥、曲径、佳木、奇花异草。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在当地百姓眼中，这座府邸堪比皇宫。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两月前当今天子擢升郑芝龙为福建总兵，前不久又加封南安伯，故而这座府邸不光是郑芝龙的私邸，更充任福建总兵府。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这位南安伯爷、总兵大人喜欢在自己的宅邸处理公务，自然没有人敢说什么。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;事实上，整个安平镇已经成为郑芝龙拥兵自重的军事据点和严密控制下的海贸港口。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郑芝龙把安平镇经营的滴水不漏，铁板一块。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;别管是海盗、商船还是荷兰人要想从金门航线行过，就要乖乖的交出买路钱。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;此刻致远园撷芳亭中，郑芝龙正背负双手缓缓踱着步子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他一身墨蓝色直裰，头戴懒收巾，脚蹬渡云靴，怎么看都不像是一个封疆大吏，而更像是一个书生。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然已经年逾四十，他却保养的十分得当，面颊光滑白皙，皮肤紧致的看不到一丝皱纹。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;常年奔波海上并没有在他身上留下岁月的痕迹，这位亦官亦寇、亦正亦邪的闽海霸主着实有些让人捉摸不透。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;便在郑芝龙心事重重的于亭中踱步时，花园小径上匆匆走来一人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“大哥，你找我？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这人一身短打，露出一身的腱子肉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;看他皮肤黝黑，身材健硕，与郑芝龙的柔美却是两个极端。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“四弟你来了？快进来坐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郑芝龙口中的四弟便是他的亲弟弟郑鸿逵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郑鸿逵原名郑芝凤，兄弟排行第四，是著名的十八芝之一。后来考武举时改名鸿逵，字圣仪。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郑鸿逵今年虽然只有三十一岁，却已是郑芝龙的左膀右臂，深得郑芝龙的信赖。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;此次郑芝龙唤他来致远园议事，便是为了答复朝廷一事。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一个月前，郑芝龙的长子郑森（郑成功）写了一封家书派人送来福建。这封家书可不仅仅是问安这么简单，郑森委婉的表示天子希望和郑家联合成立一个皇明贸易商会。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;皇明贸易商会直属于朝廷，由郑家负责具体运作。挂靠在皇明贸易商会名下的船只都可以用朝廷官船的名义走海经商，不需要再向朝廷缴纳海税。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;走海经商利润所得，朝廷和郑家平分。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郑森同时指出，郑家可以对外售卖入会权，别的海商想要加入皇明贸易商会可以直接向郑家付一笔钱，至于这笔钱是多少，朝廷不会过问。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然，朝廷也可以出售入会权，最终按照入股多少分红。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这无疑给了郑家极大的权力，郑芝龙甚至获得了垄断闽海商贸的特权。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过郑芝龙却没有立即答应下来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;毕竟现在他已经是福建的绝对实权者，海税收多收少全在他一句话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;收缴的海税当然要上缴一部分至朝廷，但上缴多少同样也是看他的心情。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他的心情好了，就给朝廷多一些银子。他的心情差了，就给朝廷少一些银子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;要是成立了皇明贸易商会，至少理论上要给朝廷让出一半的利润。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这是傻子才会做的事。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;好在天子是让郑森以家书的名义把这层意思隐晦的表露给郑芝龙，这样郑芝龙即使没有立即做出回应，天子面子上也不会太难看。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只是昨日长子郑森又派人送来一封家书，郑芝龙看过之后真的有些动心了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“大哥，可是那朝廷又许下什么允诺？我那好侄儿在信中怎么说？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郑鸿逵心情显然很不错，最近朝廷对大哥又是加官又是进爵的，可谓恩宠有加。这种时候郑森又派人送来家书，准保是好事。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郑芝龙将一份已经拆封的书信递给郑鸿逵，淡淡笑道：“你自己看吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郑鸿逵接过书信，将信纸展开来看，起初还神态自若可看了一半却是惊呼出声。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“朝廷要改漕运为海运？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;也难怪郑鸿逵如此惊讶，自京杭大运河开凿以来，便一直是贯通南北的重要纽带。大明立国后对大运河的倚重也是到了无以复加的地步。别管是江南的丝绸、粮食还是盐巴，都需要依靠大运河运输送往北京。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但到了万历年间，运河经常淤塞，朝廷得花费大量人力物力清淤。加之漕运的效率日渐低下，朝廷便起了兴海运替漕运的心思。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但这也只是想想而已，一直无法付诸实施。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;原因就在于千里大运河养活了几十万漕工，如果废除漕运改为海运，固然能够提升效率，精简开支，但随之几十万漕工都会没有饭吃，很可能会闹出大乱子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过当今天子旧事重提却是有了不同的意味。甲申国变天下板荡，北地近乎全部落入东虏、闯逆之手。即使圣天子英明不久前命官军收取山东，但不得不承认南北漕运还是阻断瘫痪了
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>