<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第三百五十二章 洪承畴督战（第二更！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第三百五十二章 洪承畴督战（第二更！）
</div>
<div class="bookname">
	<h1>第三百五十二章 洪承畴督战（第二更！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;“刘将军，这次张献忠亲自来到保宁督战，我们要想一举致胜恐怕很难啊。 小 说&nbsp;&nbsp;&nbsp;&nbsp;． ”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;佟养和轻捋着胡须，悠悠说道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这次清廷调兵遣将，目的很明确那就是一鼓作气拿下四川。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;福建那边和明廷闹得很僵，天知道哪天郑芝龙就运不来粮食了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若是郑芝龙的路子彻底被封死，那么清廷将会十分被动。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;常言道未雨绸缪，肯定不能等到事情临到跟前了再做决断。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果能够拿下四川，靠着四川的屯田至少能养活十几万军队。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张献忠都能做到的事情大清凭什么做不到？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;再说了拿下四川后便掌握了主动，只要想打完全可以顺着长江而下攻掠湖广。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;湖广可是天下粮仓啊！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只要拿下了湖广大清就再也不用担心士兵们会饿肚子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然这一切的前提都是清军能够一举击溃张献忠，把他赶出四川去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;清廷不仅调拨了五万兵马，还命陕西总督大学士洪承畴前来督战。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪承畴可算是资历极老的人物，在崇祯朝就是总督级别的大佬，降清后也一直被好吃好喝的供养着。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;到了摄政王多尔衮主政，洪承畴更是一飞冲天，获得了许多实权。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;自打洪承畴来到陕西后就连一向跋扈的阿济格都收敛了许多。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然洪承畴毕竟是个汉人，还是需要一位爱新觉罗家的子孙作为名义上的统帅的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多尔衮的选择是博洛。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他之所以选择博洛，有两方面的考虑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其一博洛较为年轻，可以利用这个机会好好历练一番。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其二，正是因为博洛资历浅，不会对洪承畴起到太大压制的效果。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果换成了阿济格或者多铎，肯定会对洪承畴的排兵布阵指手画脚，这是多尔衮不愿意看到的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多尔衮对洪承畴的能力很信任，也准备让他放手去干。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;佟养和朝刘进忠瞥了一眼道：“刘将军可有什么良策？不妨献出来让大伙儿讨论一下。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘进忠是从张献忠阵营叛逃降清的，对于大西军在四川尤其是在保宁的兵力布置十分清楚。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;佟养和这么问就是想让刘进忠在这方面多说道说道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘进忠也是一个聪明人，如何听不出佟养和的弦外之音。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他清了清嗓子道：“要想从汉中进入保宁大巴山是绕不过的。不过奴才知道一条小道，基本没有兵力驻守。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;佟养和不由得眼前一亮。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他等的就是刘进忠这句话！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦？说来听听。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“巡抚大人请。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘进忠微微欠身，把佟养和请到了舆图旁边。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他深吸了一口气，将一支小彩旗插在了大巴山脉中段。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这里有一条小道，只有奴才知道。主子若是派大军从此处行军，保准张献忠没有反应。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦？真是如此？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;佟养和微微眯着眼睛道：“真要是这样的话倒是可以一试。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘进忠拍着胸脯作保道：“巡抚大人放心好了。奴才愿意立下军令状，保证让大军安然无恙的翻过大巴山。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好！那本抚便等着为刘将军庆功了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;随后佟养和话锋一转道：“不过一切还得等总督大人到了汉中才能决定。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他口中的总督大人便是洪承畴了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;清廷正式任命洪承畴为陕西总督，全权负责陕西的用兵事宜。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在洪承畴抵达之前，佟养和这个汉中巡抚也不好做决断。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“奴才明白！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘进忠当然听说过洪承畴的名号。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这尊大佛不管是在哪朝都吃得开，足以见得能力非凡。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;能够在洪承畴指挥下作战，刘进忠还是感到很高兴的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“刘将军现在要做的便是尽可能的搜集敌情，为大军开拔做好准备！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;佟养和淡淡说道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“奴才遵命！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;春风得意马蹄疾，一日看尽长安花。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;此刻洪承畴的心情十分之好。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他派人去福建接回老母虽然没有成功，却策反了郑芝龙。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如今郑芝龙已经和明廷离心离德，虽然还没有最终撕破脸，但却是绝不可能再合作了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;有了郑芝龙这个渠道，短时间内清廷不用担心粮食的问题。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是从长远考虑还是应该拿下四川甚至是湖广。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这也是洪承畴亲自奔赴汉中督战的原因。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;要想打下成都就必须击溃张献忠的主力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在如今的天下形势中，张献忠不算最强的却也绝对不是最弱的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;要想轻松的击败大西军是不现实的，这其中需要使些手段。而洪承畴偏偏就是最擅长使用手段的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他接到摄政王的令旨，命他在三个月内拿下四川。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪承畴还是胸有成竹的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;以目前汉中方面的屯兵情况来看，即便是和张献忠正面对决也不会落于下风。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然不到万不得已洪承畴是不打算正面对决的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果能够抄到张献忠的背后来那么一刀自然是最好不过的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;从关中赶往汉中距离并不近。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪承畴和一众亲卫快马加鞭日夜兼行花了好些时日才赶到汉中城外。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;提前得到消息的佟养和率领城中文武官员出城迎接。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对于佟家人洪承畴自然是极为熟悉的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;从佟养性开始佟家在清廷之中便有着举足轻重的地位。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪承畴如今虽然风头正盛，但这完全是得益于摄政王多尔衮的信任。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若论根基深度他是完全无法和佟家人相比的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪承畴当然想和佟家人处好关系，故而对待他的下级，汉中巡抚佟养和也十分的客气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;却说一众人等簇拥着洪承畴进了汉中城，文武官员为陕西总督接风洗尘。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;席间大大小小的官员向洪承畴轮番敬酒。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪承畴虽然上了年纪却是来者不拒，很是开怀畅饮了一番。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他是官场老油条了，应付这种场合十分得心应手。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然席间官员的名字他大都叫不出，但并不妨碍他与众人谈笑风生。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“总督大人一路辛苦了，下官敬您一杯！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;等了许久终于等到佟养和发声了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪承畴稍稍坐直了身子，一边捋着胡须一边笑道：“佟巡抚客气了，本督也是心忧国事，不然也不会这么急着赶来。来，我们满饮此杯！”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>