<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第五十一章 阳谋</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第五十一章 阳谋
</div>
<div class="bookname">
	<h1>第五十一章 阳谋</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;（第一更，求推荐票，求支持，老坤要被挤下榜了）<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只要多尔衮的战略重心一日不向东南倾斜，朱慈烺便不必太过担心。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;从现在的情况来看，大局势和原本历史很相似，只不过南明已经在山东站稳了脚跟。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“粮秣军饷之事朕便全权交给本兵去办了，山东这仗不但要打，还要把东虏打痛！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺现在最需要的就是时间，为此他必须向清廷挥舞一番拳头，告诉多尔衮大明也不是好欺侮的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;历史上南明最大的问题就是太软了。政治软弱带来的直接后果就是对手的轻视。满清可以毫无顾忌的把全部兵力投入西线，拿下关中解除后顾之忧后再腾出手来灭掉南明。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺要做的就是在多尔衮心中钉下一根钉子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“陛下放心，臣一定竭尽所能，力保山东粮秣军饷供应。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陆振飞稍顿了顿道：“还有一事臣不知当不当讲。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“但说无妨。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“启禀陛下，徐州发来塘报，说萧县一代发现大股敌骑，有千骑之多。徐州方面判断这些人是马贼。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;路振飞面上满是忧色。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如今山东方面大战一触即发。这个时候后院起火绝不是什么好事。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺却是并不怎么惊讶，轻叩了叩手指道：“如今留守徐州的是高卿的外甥李本深吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;路振飞愣了一愣，旋即道：“陛下英明，如今守备徐州的正是李本深。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“此人虽然武略一般，但有个优点那就是十分谨慎。所以高总兵才会在尽遣主力北上的情况下放心把徐州交给他。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李本深这个名字对朱慈烺来说再熟悉不过。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在原本历史中此人在高杰被杀后与李成栋一起降了清，充当满清的急先锋一路残杀同胞，绝对当的起为虎作伥四个字。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只是在这个时空，高杰已经收取了山东，李本深似乎暂时没有降清的动机。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那么他突然上塘报给朝廷是什么意思？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“南直隶不产马，一时在萧县出现上千骑，本兵不觉得奇怪吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺颇为玩味的说道：“在朕看来，如果这个李本深没有夸大其词的话那么只有两种可能。其一这些人是清兵。其二，是二刘部众化妆成马贼劫掠。本兵以为是哪一种？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;天子突然把问题抛给路振飞，这让他有些无措。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他当然也怀疑过劫掠萧县骑兵的身份问题，但却并没有想出个所以然来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若是清军的话肯定是从河南方向来的。但现在清军在河南的主要兵力都囤积在豫西，和李自成对峙，怎么可能分出上千骑兵去劫掠萧县？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;再说与河南直接接壤的是凤阳府，此乃刘泽清和刘良佐的驻地。若是清军真的派出骑兵去徐州袭扰劫掠，肯定要通过凤阳府，二刘难道就没有对徐州方面发出任何的示警？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;倒是第二种可能性更大。只不过两镇总兵派部下化妆成马贼劫掠重镇，这也太耸人听闻了吧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“陛下，若真是二刘所为，恐怕此事有些难办了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;路振飞喟然一叹道：“昔日刘良佐是受凤阳总督马士英之邀进驻凤阳，沿途便烧杀劫掠。刘泽清从山东一路溃败逃入淮安时军纪也十分败坏。但那时他们都是丧家之犬，劫掠一番尚是为了吃饭活命。现在他们已经驻扎安定，再生劫掠之心也太无耻了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“所以他们才化妆成马贼去劫掠萧县的嘛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺冷笑一声：“他们也知道自己做的事情不要脸，便把脸遮住以为这样就没人知道了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;路振飞猛然一惊道：“若真是二刘所为，他们难道所谋徐州？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;也难怪路振飞会这么想。如今高杰主力尽在山东，徐州兵力空虚。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘泽清、刘良佐两只饿狼挤在凤阳府一处，难免会心生贪念。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“他们敢想却不敢做。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺摇了摇头道：“除非他们想和高杰彻底撕破脸皮。不过为了稳妥起见，还是调部分黄得功军队驻守滁州、和州吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若是手中有充足的军队，朱慈烺便会毫不犹豫的调亲军驻扎在滁州、和州。但现在神策军不过八千人，加上两千御马监的军队也就是一万人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一万人驻守南京尚且有些捉襟见肘，如何能够再往外调拨。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;看来扩军事宜刻不容缓了，若是手中有一只五六万的亲军，便是哪个军头也不敢把朝廷小看了去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;之前朱慈烺之所以没有招募太多的新兵是因为担心银子吃紧。毕竟当兵吃粮天经地义。一个人一张嘴，一万人便是一万张嘴，能生生把本就不充盈的内帑吃空了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但现在经过几轮查抄，内帑中堆放着上千万两银子，短时间内是不可能花光的，扩军也就没了顾忌。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;等到朱慈烺和郑家的海贸合作步入正轨，朝廷仅靠海贸一项一年便能有数百万两的收入，完全养得起一只数万人的军队了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而眼下调黄得功部到滁州、和州驻防无疑是最好的选择。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黄得功是勇卫营出身，对朝廷忠心耿耿，其部又是除了高杰部以外最强大的一只军队，调一部分监视二刘可以让他们投鼠忌器不敢轻举妄动。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺此举还有一个目的。那就是尽可能的把二刘逼去袭扰敌占区。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;河南如今在清廷手中，二刘不能去徐州、滁州、和州，那就只能去袭扰河南了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;别管他们是光明正大的去还是化妆成马贼流寇，都会让清廷在河南本就薄弱的统治动摇。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;也许朱慈烺现在还无法像收复山东那样收复河南，但他却不介意不断的打游击战骚扰清廷后方。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;哪怕是小规模的骚扰也好，只要能够不时给清廷放一放血，他们就会陷入深不见底的泥潭之中。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在如今小冰河的时代背景下，北方常年干旱，粮食歉收很严重。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;清廷接收了河南、京畿地区就要养这些地方的投降军队。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而如果当兵的吃不饱饭那可是会闹事的，哗变一旦发生便会像海啸一般席卷，清廷即便是弹压下来也会精疲力竭。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然二刘若是能够和清军大战一场就更好了，因为在某种程度上这也会消耗二刘的实力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;清军和二刘拼的两败俱伤，朱慈烺坐收渔翁之利绝对是最理想的结果<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;ps：感谢书友荷塘V听雨的1000币打赏~
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>