<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第三百章 川东明军的改变（第二更！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第三百章 川东明军的改变（第二更！）
</div>
<div class="bookname">
	<h1>第三百章 川东明军的改变（第二更！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;来到四川已经数月，文安之渐渐适应了这里的生活。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;除了稳固重庆防务以外，文安之派袁宗第、刘芳亮拿下了夔州府。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;此举在文安之看来意义重大，不但使得重庆府和夔州府连成一片，拥有更大的战略纵深，还使得整个长江上游相对安全。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;奉节也被他列为仅次于巴县的重要城池，派驻重兵把守。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陛下把川事托付于他，他自然是要竭尽所能的做好，每走一步如临深渊如履薄冰。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在文安之看来张献忠对于川东并不是势在必得的。这便给了他稳固防守的时间。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一方面文安之命令麾下士兵积极训练，另一方面他又让百姓开垦荒地积极恢复生产。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;四川这几年确实太乱了些。张献忠入川之后和明军几番争夺，百姓们不是被西军抓去做夫子，就是被官军抓去做辅兵，以至于青壮损失严重。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;川东这一代的百姓见到军队的第一反应就是逃跑。跑到大山里面藏起来，等到军队过境之后才出来重新生活。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;文安之率领军队刚刚抵达重庆府时就经历了如此尴尬的局面。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他花了很长时间才让当地百姓相信官军并不是要强行抓他们壮丁的。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;有了信任许多事情就好办的多了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;文安之有两种选择，一种是在川东推行军屯，也就是太祖皇帝在大明立国时推行的军户制度。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这种制度利于战时的集中分配，但缺点也很明显，那就是军户们没有太多的积极性。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;反正干多干少都是一个样，那还不如偷懒休息呢。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;另一种方式就是民屯。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;民屯也有两种，一种是把土地分给百姓去种，但土地的所有权还是官府，每年百姓要给官府缴纳相当一部分的粮食。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;还有一种是鼓励百姓去开垦荒地，开垦到的荒地自然全部属于百姓。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;文安之选择将两者结合起来推行。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其中开垦荒地所占的比重较大，这样有利于调动农户的积极性。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;即便是那些分配给农户租种的上等田亩，文安之也尽量的减租减息，使得百姓们能多落下一些口粮。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;得民心者得天下，这是陛下特地嘱咐他的，文安之时时刻刻记在心中。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然除了屯田之外，文安之还要负责处理好旧明军与刚刚归顺不久顺军的关系。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;有些矛盾是难以轻易化解的。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尤其是官军和顺军之间的偏见，没有个一年半载很难消弭。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;文安之采取的办法是把他们分配到不同的防区，尽量不让他们相见。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;譬如刘芳亮、袁宗第就被派去了夔州府驻防。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然最好的办法是通过并肩作战使得双方获得信任，这个只能等张献忠主动来攻了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;眼下川东明军还是应以固守为主，等到拥有足够的粮食储备再配合川南土司和云南的沐国公对张献忠进行夹击。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;文安之很重视水师的组建，他在重庆铜锣峡、夔州奉节都组建了一支水师。水师的规模并不大，但很有用，相较于原明军的水师更为灵活。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;除了这些文安之给川东明军带来最大的变化恐怕就是精神上的了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在文安之来之前，明军中大部分士兵的心态就是得过且过，能混一天是一天。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;反正是把脑袋别在裤腰带上，说不定哪天就见不到升起的太阳了，还不如及时行乐来的畅快。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可文安之来到四川后，给这些旧军士兵灌输了新军尤其是神策军的一套思想。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这套思想从严格意义上讲是天子亲自提出的，文安之因为是天子近臣这才能有所了解。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;配合这套思想的自然是崭新的奖惩机制。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;文安之改变了旧军队中那种将领动辄打骂士兵，压迫士兵喝兵血的情况。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;普通士兵们渐渐发觉在文安之的治下他们不再是军官的奴仆，而是一个活生生的人了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们若是训练、表现优异也会受到奖赏，军官给出奖励时丝毫不含糊。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们觉得生活有了奔头，便渐渐的改掉了以往那种惫懒的作风，整只军队的风气为之一振。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;更让他们感到欣喜的是，巡抚大人在军队中引入了文艺队。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;据说这文艺队是当今陛下钦点成立的，最先只在神策军中表演，后来其他一些军队也争相效仿成立。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可川东明军怎么也想不到自己也能等来这一天。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;文艺队的队员都是从川东当地招募的，经过巡抚大人从山东带来的文艺兵的培训，渐渐开始排演一些难度较低的戏。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然，他们排演的戏一般都是抗击东虏的。但巡抚大人为了适应四川局势的需要，亦命人开始排演一些张献忠暴戾凶残的戏。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;士兵们看的津津有味，同时对献贼的仇恨也在不知不觉中增添了几分。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;此前他们只是听说张献忠凶残，可现在亲眼看过几出戏后那种感觉却是完全不同的。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吃过晚饭后士兵们也会三三两两的聚在一起闲聊，生活变得有滋有味起来。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“听说那个张献忠是个天阉，所以虽然妻妾成群却是一直无子。估计啊是老天爷看他恶事做的多了，特地惩罚他呢。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“谁说不是啊，人们都说献贼能防小儿夜啼呢。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这献贼当初拿下成都后，把蜀王府屠了个干净。蜀王一脉尽数被屠尽，惨呐！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不过，我听说献贼的几个义子倒是颇有些才干。将来朝廷若是能够将其招安也是不错呢。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“难啊，献贼不死朝廷是不会招安他们的。你可别忘了大明天子的祖坟就是献贼扒的。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“那又怎样，闯贼不还把烈皇逼死了吗，当今圣上不还是招安了他们吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嘘，你这个嘴上没把门的，小点声！若是让人听到还不知道会怎么嚼舌头呢。你别忘了，咱重庆府就有不少你口中的闯贼！小心祸从口出！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;气氛一下变得沉默起来。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;过了良久其中一人才起身拍了拍屁股：“说这些作甚，我们看我们的戏，看完回去早些睡觉。明日一早还得操练呢。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“对，对早些回去休息。现在巡抚大人下令三日一操，休息不够还真是撑不住！”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>