<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第六十一章 两头下注</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第六十一章 两头下注
</div>
<div class="bookname">
	<h1>第六十一章 两头下注</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;（第一更，求推荐票，老坤急需推荐票支持！感谢书友飘空游的500币打赏，感谢书友大爱楚玉嫣的100币打赏。）<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜瓖犹豫再三，还是叫亲兵放那清廷使者进城，一路引着来到总兵府中。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那使者手持摄政王多尔衮的令旨，又有清廷兵部信牌为证，姜瓖命人查验后便亲自查看了多尔衮下达的令旨。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“大同总兵官姜瓖忠诚为国，擒杀伪将，平定大同、阳和等功，予甚嘉悦。但立枣强摄理国事，以延先祀等语，甚觉不宜，其枣强王可炤旧守其本等爵级”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多尔衮在令旨中肯定了姜瓖反正杀贼的功绩，但也指出其立明宗室枣强王摄理国事是不合适的，其中口吻俨然是以神州之主自居。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;原来姜瓖反正之后，为了赢得民心拥戴了明朝宗室枣强王朱鼎珊为盟主。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;照理说这位枣强王不过是个傀儡，根本没有什么权力。但多尔衮的反应却极为强烈，直接以令旨的形式对姜瓖发出了警告。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果说之前姜瓖还存在一丝幻想的话，现在他可以确定清廷确实有逐鹿中原之心。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那么他究竟该如何是好？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;此先他已经拥戴了明宗室为傀儡，表现出对归顺明廷的倾向性，在这时候清廷摄政王招降于他，该何去何从？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;好在那使者并没有逼姜瓖立刻表态的意思，只淡淡道：“姜总戎且考虑几日，摄政王的意思很明白，只要姜总戎能够归顺大清，高官厚禄朝廷绝不吝惜。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一番表态让姜瓖心里痒痒的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;千里做官，只为吃穿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;给谁卖命不是卖命？既然清廷能够允诺高官厚禄，那确实是个不错的选择。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只是现在清廷并没有展现出绝对一统天下的实力，这个时候归顺是不是太早了一些？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;想到这里，姜瓖又有些犹豫，咳嗽了一声道：“贵使一路车马劳顿，实在是辛苦了。来人呐，且带贵使下去好好休息。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;打发了清廷的使者，姜瓖长叹一口气道：“诸位以为某该如何是好？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“大帅，为今之计，还是降清为妙！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说话的是姜瓖麾下猛将孙应武。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他抱拳道：“属下听说恭顺侯吴惟英之弟吴惟华已经奉清廷摄政王之命前来招降山西，带来了几千人马。另外固山额真叶臣也已经集结人马准备进兵山西。摄政王这时候下令旨给大帅是先礼后兵。若是大帅不从，恐怕清军第一个要打的就是大同啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜瓖面色不由得变得凝重起来。孙应武一番话还是很有道理的，如今清廷在山西边境动作频频，明眼人都知道大战在所难免。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;大同不光是边关重镇，距离京师更是只有七百里，多尔衮若不拿下大同势必寝食难安。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果说吴惟华带的几千绿营兵马没有多少威慑力的话，叶臣统率的满洲镶红旗部可是让人闻风丧胆。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;真要打起来，姜瓖不认为自己能够守多久。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;何况现在他已经背顺，万一再得罪了清廷，等于被夹在中间两边挨打。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但姜瓖仍然不甘心就这么降清。毕竟清廷没有定鼎天下的绝对实力，万一最终失败了姜瓖可是要跟着陪葬的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高官厚禄虽然极具诱惑，可身家性命才是最重要的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吃饭的家伙什没了，要再多的钱有何用，还不是为他人做嫁衣裳。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“大帅，万万不可啊。清军八旗乃是虎狼之师，若是入主大同可还有大帅说话的份？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜瓖侧头看去，发声的正是他的首席幕僚荀宜。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“荀先生说的不错，只是若某不降清，难道还有别的路？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“大帅可以两头下注，清廷强则降清，明廷强则降明。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;荀宜一字一顿道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两头下注？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜瓖愣了一愣，旋即心中大喜。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;是啊，如今局势不明，他为何不两头下注？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多尔衮并没有急着派人接管大同，姜瓖还能继续拖下去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如今河南大部在清廷治下，但豫西尚在李自成手中，豫南处于权力真空之中。这种情况下清军不可能把全部兵力囤积到山西沿线。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若是派出十几信使化妆成顺军骑兵，经太原、汾州、平阳，由豫西、豫南辗转进入南直隶，向南明朝廷表个态，岂不是多给自己留条后路？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于化妆问题完全不必担心，姜瓖所部几个月前本就是改旗易帜成了顺军，现在不过是把顺军军服重新换上罢了。比起剃发留辫子这可容易多了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对于姜瓖来说，这是稳赚不赔的买卖。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他只要让明廷相信大同反正的军队是心向大明的，效果便达到了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;同样的话他也会通过那个清廷信使说给多尔衮听。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于他最终倒向谁就要看谁能够先取山西了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜瓖觉得清廷的可能性更大一些。不过即便清廷真的拿下了山西，也不意味着能够最终定鼎天下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜瓖觉得凭借南边数省的富庶，明廷迟早能够收复山西、河北，光复神京。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那时候姜瓖便可再次反正，声称自己之前只是在与清廷虚与委蛇，待时机成熟便反清拥明。所以提前派人去南京向天子表忠心便显得尤为重要。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;思定之后姜瓖便朗声吩咐道：“某意已决，便依荀先生说的办。这书信之事便请荀先生捉刀代笔吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;荀宜闻言大喜，连忙拱手道：“谨遵东翁之命。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;北京，紫禁城。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多尔衮听闻觉罗巴哈纳、石廷柱德州大败的消息后直是暴怒。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他怎么也想不明白，五千余旗兵怎么连一座德州城都拿不下来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;按照王鳌永、方大猷这两个奴才的说法，德州不是连五百士兵都凑不出来了吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“王爷请息怒，奴才觉得此事必有蹊跷，可待二人率部返京之后仔细质询。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;侍立一旁的范文程不疾不徐的说道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多尔衮抬眼一瞥，清了清嗓子道：“范先生觉得此中有诈？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“回禀王爷，奴才觉得多半是明廷向山东驻兵了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;嘶！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多尔衮闻听此言直是倒抽了一口凉气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这怎么可能？明廷还有多余的兵力增派山东？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多尔衮直是觉得不可思议。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“若真是如此，李自成领军攻向北京的时候这些人为何不率部勤王？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“此一时彼一时。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;范文程悠悠说道
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>