<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第二百八十四章 算无遗策（第二更！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第二百八十四章 算无遗策（第二更！）
</div>
<div class="bookname">
	<h1>第二百八十四章 算无遗策（第二更！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;“陛下，东虏已经拔营了！陛下真是英明神武，算无遗策！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一次高杰可不是在拍马屁了，而是真的佩服朱慈烺。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦？高卿可能看出东虏是往那个方向去的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺正襟危坐，微微颔首道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“禀陛下，东虏是往东边去的！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰只觉得十分激动，呼吸都变得有些急促。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“和陛下预料的一模一样！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;有意思！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺在心中暗暗道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其实他也不能完全预料到勒克德浑会拔营往东行军。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一切都是推测。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺命高杰派出精锐骑兵趁着夜色冲出清军大营纵火制造混乱，从而趁机烧掉清军的粮草。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;即便面临如此窘境，勒克德浑还是有其他选择的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺之所以推测勒克德浑会向德州方向行军乃是从心理角度分析。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;勒克德浑是一个根正苗红的满清贵族。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而满清所信奉的那一套是强者为尊，马背上挣军功。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;勒克德浑虽然是贝勒，却也不能不遵守这个规矩。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这种情况下勒克德浑肯定不会灰头土脸的选择撤军，这样他即便回到了北京也肯定会被多尔衮严厉斥责一番然后剥夺掉领兵权，成为一个彻头彻尾的闲散贵族。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这是勒克德浑无论如何不愿意看到的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以他不能撤退，只能戴罪立功。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但怎样戴罪立功呢？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;勒克德浑统领的这支大军囤积的粮草被烧了个精光，火头营手头的口粮恐怕只剩下一两日的，便是杀马也撑不了多久。继续留在临清是没有意义的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而三路清军中实力最强的多铎部却正在攻打德州。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个时候勒克德浑当然会想去投靠多铎。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然这样一来他的风头将被多铎彻底盖过，但总好过落得一个仓皇落败的罪名吧？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;换句话说跟在多铎屁股后面闻屁也比自己单干好。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是这样一来就有一个问题了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;清军的口粮并不多，即便省着吃也撑不了几日。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;勒克德浑肯定会下令全速急行军。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这本来是没有问题的，汉八旗和蒙八旗基本都是一人两马甚至三马，换着骑可以一直保持急速赶路。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但绿营兵就不行了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们大部分都是步兵，有马的很少，即便有也是单骑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而如果长时间骑行一匹坐骑赶路，马匹很可能会累死。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;更不用说那些用两条腿追汉八旗、蒙八旗的普通步兵了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以勒克德浑下令朝德州急行军的时候就意味着这支清军会断开。汉八旗、蒙八旗会冲在最前面，后面则是拖得稀稀拉拉的绿营军。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这种时候勒克德浑是没有精力去管绿营兵死活的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果朱慈烺能够趁机吞掉这部分的军队，对于整个战局将起到举足轻重的影响。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;看似绿营军的战斗力不强，但他们人数却是最多的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;绿营兵绝大多数时候是清军用来做消耗的，待绿营兵冲锋一轮，汉八旗、蒙八旗、满八旗才会冲锋。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而如果绿营军没了，清军八旗就得亲自上阵，没有别的选择。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰在河南、北直隶北伐的时候曾经消灭了一大部分绿营军。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;现在勒克德浑统领的这部分绿营兵其实是多铎从山西带回来的一部分。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若是明军把这部分绿营兵消灭，清军统治区的绿营军队就只剩下了陕西地区的了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺仔细思忖了一番后朗声道：“传旨，命骑兵出城追击东虏，斩首一级赏银五十两，绿营兵首级亦如此。另派人通知德州总兵秦拱明，勒克德浑已经向德州进军。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰闻言大喜。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;天子还真是舍得下本钱啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;斩首一级赏银五十两，这可是指的斩首真虏的赏赐。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而陛下现在竟然表示斩首绿营兵也视同斩首真虏，这肯定会激发将士们的战斗欲望。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“臣遵旨！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰双手抱拳沉然领命<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“贝勒爷，喝口水歇一歇再行军吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;石廷柱抹了抹额头上的汗水，无奈的说道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯，下令全军就地休息一下吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;勒克德浑不咸不淡的说道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;自打拔营向德州行军以来，勒克德浑就像一只惊慌失措的兔子，拼命的抽动鞭子驱赶坐骑生怕明贼突然从哪里冒出来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;石廷柱觉得这个担心是没有必要的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;明贼如今都缩在城里怎么敢出城追击？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们自己有几斤几两心里没有数吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;靠着坚城尚且能够一守，出城野战就是被屠戮的份。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但显然勒克德浑已经被吓破了胆，说什么也不听石廷柱的劝阻，一意孤行要让汉八旗、蒙八旗先走，绿营兵跟在后面。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一开始绿营兵还勉强跟的上，可时间越长距离拉开的越大。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这也是没有办法的事情。一个是步兵一个是骑兵，若是骑兵不等，步兵怎么可能跟得上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;等于勒克德浑统领的这支大军是被人为的分成了两段。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;罢了，既然事情已经这样了石廷柱也不想多说什么。等到大军和豫亲王汇合再做计较吧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;勒克德浑踢蹬下马，用汗巾擦了擦脸，从腰间取下牛皮水囊启开塞子便往嘴里灌。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他实在是太渴了，一连喝了整整一水囊才停了下来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“到德州还得多长时间？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;勒克德浑擦了擦嘴角随口问道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这个不好说，如果赶得急一些的话，两日是能到的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“两日！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;勒克德浑皱了皱眉道：“太慢了些，换马骑乘行军也是这样吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;石廷柱心中无语。这已经是换马骑乘的速度了，如果不换马跑三十里就要休息。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是的，这已经是最快的速度了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“罢了，两日便两日吧。传令下去歇上半个时辰便出发！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;勒克德浑不耐烦的摆了摆手。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;便在这时突然从远处打马而来一骑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“贝勒爷，明贼追过来了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那骑手飞驰至勒克德浑身边，一个骨碌翻下马背高呼道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“什么！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;勒克德浑下意识的向后退了一步，吃惊的说道：“他们是疯了吗？竟然敢出城追击。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那骑手显然是绿营军的装扮，哭泣道：“我们都是步兵跑不过明贼。如今明贼已经把我们团团围住，奴才拼死才杀出一条血路，还请贝勒爷率军回援啊！”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>