<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第十九章 新军训练（一）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第十九章 新军训练（一）
</div>
<div class="bookname">
	<h1>第十九章 新军训练（一）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;刘三水和其他通过初选的人一样在校场东边集合，由一名军官领着来到军营。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这还是刘三水第一次看到这么多人。放眼望去，周围全是跟他差不多大的年轻儿郎。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;进到军营之后，刘三水等人并没有被立即分配房间，而是被勒令前去混堂洗澡。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;据说这是皇帝陛下特地嘱咐的，为的是让参加集训的每个人保持个人清洁，避免传染疫病的发生。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;此次集训的人数有一万，被分到四个营房，每营两千五百人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘三水分到的这个叫玄武营，沿用的都是原来老京营的营房。现在京营名存实亡，这些营房却是可以派上用场，完全不必担心住不下的问题。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这是刘三水第一次在混堂洗澡，他有些羞涩的脱下破烂的衣裳，小心翼翼的叠整齐。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;试探着将脚踏进水池里，刘三水只觉得一股温热感袭来。氤氲的水汽熏得他睁不开眼睛，索性阖上双目用澡巾搓起背来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“都洗干净一些，绝不能留有虱子。半个时辰后集合，统一换上集训服，你们原先的衣裳会统一销毁！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;啊！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;听到这番话后刘三水下意识的喊出了声，不过既然有新衣裳穿，原先的破旧衣裳销毁就销毁了吧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘三水打散发髻开始仔细清理头发。他熟练的捉出藏在头发里的虱子，毫不犹豫的把它们捏死，然后再舀上一瓢水从头上浇灌而下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;真的好爽啊！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若是以后都能这么洗澡，那就太好了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘三水暗暗下定决心，一定要顺利的通过集训，成为神策军的一员。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;半个时辰很快就过去了。刘三水擦干身子换上了崭新的集训服，发髻也仔细挽好。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所有集训人员一溜小跑到校场中集合，因为是第一次集训，所有人都站的七扭八歪。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘三水也不例外，他被前面的人踩到了右脚，痛的龇牙咧嘴差点喊出了声。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“肃静！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;便在此时一声厉喝让所有人安静了下来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;锦衣卫指挥使赵信神情肃然的扫视着众人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你们都是经过初选参加集训的应征人员，从即日起你们会在京营之中接受一个月的集训。通过集训者，会正式成为神策军的一员。神策军是天子亲军，是拱卫皇明的精锐。望尔等刻苦训练，报效朝廷！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵信稍顿了顿，继续说道：“神策军的士兵每人每月可以领二两银子的军饷，一日三餐顿顿有肉吃。在集训期间除了没有月饷其余待遇与神策军正式士兵相同。但若是被淘汰，尔等必须立即离开军营。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一番话对众人的触动还是很大的。他们都是穷苦人家的孩子，应征参军就是为了混口饱饭吃。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵信把前景描述的如此美妙，他们自然不希望成为那个被淘汰的人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你们一定要记住你们不光是为了自己而训练，更是为了大明，为了圣上。有种的便给老子咬紧牙关，流血流汗不流泪。老子要说的就这么多，训练从明天开始，今天你们先好好休息吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵信训话结束后，刘三水等人在军官的带领下前去吃晚饭。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;由于皇明军校还没有培养出第一批军官，如今这些集训的军官暂时都由锦衣卫校尉兼任。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;看到这些身高体阔，仪表堂堂的大汉将军，应征的苦哈哈们都油然而生出一股敬畏感。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这些都是天子亲军啊，方才赵将军说了神策军也是天子亲军，那就是说他们将来也有机会成为这么威风的人物。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;京营伙房已经很久没有给这么多人准备伙食了，故而今天忙碌了整整一天。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;好在总算赶在太阳落山之前把晚饭准备妥当，让参加集训的准新兵们不至于饿肚子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;军营之中讲究食不言寝不语，故而用晚饭时整个厅堂鸦雀无声。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;面对一盆盆香喷喷的大米饭以及卤肉菜，准新兵们纷纷放开来吃。刘三水更是吃到腹胀。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;直到军官下令集合之时，刘三水仍恋恋不舍的盯着那盆剩菜。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一想到接下来的一个月，顿顿都能吃到这么好的伙食，眼泪便不争气的流了出来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;此时天色已经完全黑了下来，集训的准新兵们被军官各自带到营房休息。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;京营的营房每间能住五十人，都是大通铺。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘三水分到的这间是丁丑号。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;进到营房后，刘三水便细细打量起来。他发现营房内除了大通铺以外，还有一排柜子，供士兵们放一些私人物品。刘三水将自己仅有的包裹放下，与身旁的一个汉子主动攀谈起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“大哥，你怎么称呼？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那汉子微微一愣，挠了挠头道：“你叫我王富贵就好。嘿嘿，今后咱都是睡一张床的人了，彼此之间多照拂照拂。有啥困难，你就来找我好了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘三水估摸着这王富贵年岁在三十上下，又见他一身的腱子肉，便试探着问道；“王大哥你以前是做什么的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我？我是杀猪的啊。浑身有使不完的力气对了，小兄弟怎么称呼？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王富贵倒也是自来熟，上前拍了拍刘三水的肩膀笑道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我叫刘三水，以前在码头做力棒。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘三水怯怯的说道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“咦，看不出来啊。你小子这身板做力棒，真是难为你了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;稍顿了顿，王富贵接着说道；“不过既然你要投军，那就好好训练。你也看到了，这军营里的伙食好的很，你要是当了兵以后便再也不用为了吃饭犯愁了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“恩。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘三水忙不迭的点头。在他看来吃饭绝对是最重要的事情，既然当兵能吃饱饭，那么他便是拼死也要留下来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;营房中的人有一搭没一搭的聊着借以消磨时间，很快天便黑透了。大明的夜生活是属于达官显贵的，对于大头兵来说入了夜闷头睡觉才是正理。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;何况明日一早还要集训，若是睡眠不足影响了训练效果可是不美。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;故而一众准新兵们纷纷脱了靴子褪去集训服，摸上了大通铺准备休息。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可就在他们迷迷糊糊，准备梦交周公时，一声急促的号角声突然响起<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;ps：感谢书友夏娒、悲伤的羁鸟的100币打赏~
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>