<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第三百四十五章 杀戮与死亡（第二更！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第三百四十五章 杀戮与死亡（第二更！）
</div>
<div class="bookname">
	<h1>第三百四十五章 杀戮与死亡（第二更！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;人在生死存亡的时刻求生的本能会放大无数倍，许多潜质也会被激发出来。 小 说&nbsp;&nbsp;&nbsp;&nbsp;． <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张文秀和张定国这次带领的都是亲兵，本身战斗力就很可观，现在更是爆发出了惊人的能量。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;以骑兵冲击长枪阵最重要的就是一股气势。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;长枪阵克制骑兵，但那是针对一般的轻骑兵而言的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这支骑兵却是一支不折不扣的重骑兵！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;闯军阵中有三堵墙，张文秀和张定国率领的这支骑兵队伍就是西军中的三堵墙。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;骑兵们彼此之间贴合的十分紧密，几乎不留空间。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这种情况下想要靠单打独斗解决问题是不可能的，只有拧成一股绳彻底冲溃长枪阵才是生路。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张文秀和张定国冲在最前充当箭头的作用。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一众骑兵见两位大西皇子都身先士卒悍不畏死，也收起了最后一丝恐惧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;怕个叼，人死鸟朝天，不死万万年。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;何况就是要死也要拉上几个明军垫背。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杀一个算一个，杀两个算一双。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;五十步、三十步<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;冲阵前的瞬间，大西军骑兵们能够清楚的看到眼前白杆兵的容貌。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这些人和他们看起来并没有太大的区别，只是显得更为年轻一些。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可战场之上他们就是不死不休的敌人，必须杀死对方自己才有可能活命。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;铁骑入林，长枪和马刀接触发出声声刺耳的脆响。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这是矛与盾的较量，势弱的一方将会被剥夺生存的权力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;明军的防守很严密，但大西军骑兵还是破开了一道口子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张文秀和张定国就是这支矛最尖厉的矛头，所到之处便有惨呼传来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们轻易的收割着人命，仿佛在他们面前，这些白杆兵都是一些土鸡瓦狗。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在二人的带动下大西军骑兵一度占据了场面上的优势。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是随着时间的推移问题也随之而来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一开始的冲击过后大西军骑兵出现了后继乏力的情况。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;白杆军组成的长枪阵就如同一滩泥沼让大西军骑兵深陷其中。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而且他们越是冲的深入便陷入的越深，到最后已经冲不动了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而这正是明军希望看到的局面。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们利用阵型和人数优势拖缓了骑兵的冲击速度，再围剿之。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;失去了速度优势的骑兵并不比步兵犀利多少，反而像一条条被罩入鱼网的鱼，徒劳的挣扎着。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张文秀和张定国显然也意识到了这个问题，不过他们也没有更好的办法。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果不冲肯定没有生机，他们只能选择放手一搏。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过现在还没到认输的时候，即便是缠斗也要坚持到最后一刻。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;大西军从不主动认输。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张文秀和张定国左右砍杀希望可以杀出一条血路，可明军显然不会让他们的愿望得逞，拼命派士兵涌上消耗他们的体力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;大西军士兵虽然个个勇猛，但体力是个很大的问题。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;人数的劣势决定了他们禁不住车轮战。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;越拖下去对明军越有利，对大西军越不利。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;渐渐的一些大西军士兵出现力竭跌落下马的情况，张文秀心下一狠冲张定国说道：“我们分头杀出去！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这也许是眼下最好的办法了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果二人合兵一起突围，明军只要囤积重兵防守一个方向就可以了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这是很容易做到的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;毕竟明军数量上占据了绝对的优势，靠堆人数就行。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但要是张文秀和张定国决定分兵突围的话就要轻松不少。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;明军肯定会分散注意力，兵力的分配也会是一个大问题。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果明军对半分配兵力的话，张文秀和张定国都有可能突出重围。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不论是谁突出重围都可以前去收拢溃兵以及正在捡钱的士兵再折返回来救援。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张定国稍稍思忖了一番便点头答应了下来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他并没有感受到多少惊慌，相反他十分冷静，立刻拨转马头道：“跟我来！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一直在不远处观战的曾英见状隐隐觉得有些不妙。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张定国和张文秀是张献忠麾下两员大将，在重庆的时候曾英都和他们交过手。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;曾英自问不论是统兵才能还是个人武力他都是不及二人的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如此猛将分两个方向突围，明军的压力可想而知。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可是现在明军除了硬着头皮应战外也没有太好的办法。只能祈求张文秀和张定国的体力出现下降，露出破绽来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;很快白杆军的阵型便因为大西军骑兵的分兵而随之发生了变化。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;原本呈现椭圆形的包围圈越拉越长，隐隐有破裂的架势。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;曾英不敢再等，亲自提兵上前增援。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他手下的士兵都是重庆明军中的精锐，有和西贼长期作战的经验，故而从一开始就不会给西贼太多的空间。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们十分清楚篱笆扎的越稳，胜算便越高。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于另一边则由神策军前去封堵，统兵的将领是沈复。他虽然没有和西贼交过手，却也算是年少成名的大将，有足够的信心阻截这些贼子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而且神策军还有特殊的战术，那就是三段击。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;大明的火铳天下无敌，神策军的火铳更是个中极品，现在正是发挥威力的时刻。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在沈复的命令下神策军已经摆好阵型，只等西贼冒头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一旦西贼突破了白杆军的封锁冲了出来，神策军的火铳手们会毫不犹豫的射击。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对待敌人不能有一丝一毫的同情。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沈复十分镇静的站在那里，眼睛微微眯起。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他很确信这些西贼逃不出他的手掌心，今日便是他功成名就，扬名立万的时刻<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张文秀双目通红，已经杀人杀得丧失了理智，此刻处于极度癫狂的状态。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杀杀杀！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;明军个个都该杀！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这些跳梁小丑竟然想要围剿自己，简直是痴心妄想。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他张文秀是人中龙凤，岂会被区区一些毛头小子困住。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张文秀并没有累的感觉，相反他每杀一人都会觉得力气增长了几分。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他记得当初攻破成都，打进蜀王府时他也是这么杀的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那些平日里高高在上的龙子龙孙，天潢贵胄一个个跪倒在地朝他磕头求饶。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们叩头如捣蒜，个个磕的额头上满是鲜血，张文秀却没有任何怜悯，将手中屠刀高高举起，一次次的斩下人头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;真痛快啊！
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>