<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第二百七十六章 杀杀杀！（第一更！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第二百七十六章 杀杀杀！（第一更！）
</div>
<div class="bookname">
	<h1>第二百七十六章 杀杀杀！（第一更！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;勒克德浑在得知多铎大军已经开始攻打德州后亦下令对临清州开始进攻。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只是他同样遇到了棱堡群加战壕的问题。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;万人敌的使用使得清军损失惨重。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过与多铎统领的纯满洲八旗军相比，勒克德浑统领的这支杂牌军显然更死的起人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;旁的且不说，这些绿营军不就是用来填壕沟，做炮灰的吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;勒克德浑一声令下，绿营军就被逼到了最前列冲阵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在他们身后是汉军八旗组成的军法队。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若是有绿营士兵敢临阵脱逃，他们就会毫不犹豫挥刀斩下逃兵的首级。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不得不说这一战术起到了奇效。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然绿营士兵损失惨重，但清军得以消耗了明军大量的万人敌，且向前推进了不少距离。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;就在他们以为可以对棱堡发起正面攻势时，让人意想不到的事情发生了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;隐藏在两侧战壕之中的明军士兵突然跳出，举起火铳对清军进行了无情的齐射。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;清军在毫无准备的情况下被射倒一片，受伤的士兵痛苦的翻滚着。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在清军将领的指挥下他们尝试做出反击。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但明军在战壕前修筑的低矮胸墙起到了很好的掩护作用。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这些胸墙还没有一人高，但可以有效防止火铳的射击。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;明军士兵则可以把火铳架在胸墙垛口上，毫无压力的进行射击。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这是一场毫不对等的战争，清军士兵打不到明军士兵，明军士兵却可以从各个位置各个角度对清军士兵进行射击。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;清军好不容易兴起的攻势再一次被压了下去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;勒克德浑看在眼里急在心中。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这怎么丝毫不像石廷柱说的，明军会兵败如山倒呢？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他怎么反而觉得明军准备充足，等着他们发动冲击？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;还有多铎明明已经对德州发起猛攻，为何没有对临清的明军起到任何牵制？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;难道是说明军数量十分充足，完全可以同时应对多条战线？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;勒克德浑的脑子直是一团糟。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;见勒克德浑犹豫不决，石廷柱有些急了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他建议道：“贝勒爷，奴才建议我们尽全力冲开一个缺口，直取临清城。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;石廷柱毕竟是久经战阵之人，他看出明军的目的是通过堡垒群和壕沟阻拦或者说阻缓清军的推进，便提出集中兵力突破的应对之策。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;突破口自然是壕沟。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只要把一片壕沟填平就足够清军突破。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;相较于攻打堡垒，填平壕沟需要付出的代价显然小很多。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;勒克德浑本已是六神无主，听闻石廷柱献策立刻点头道：“好，便依你说的做。只是该选哪里突破呢？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;石廷柱冲正南方向点了点道：“就冲这里好了。不惜一切代价冲过去，走不了多远就能看到临清城了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好，好，好！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;勒克德浑连说了三声好，朗声道：“本贝勒亲自为将士们擂鼓助威。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说罢竟然真的从一名士兵手中夺过鼓槌擂起鼓来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;石廷柱见状也冲吹号之人使了个眼色，低沉的海螺号声再次响起。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“呜呜呜，呜呜，呜呜呜”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在旗语的指挥下，绿营军士兵朝正南的一段壕沟冲去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;由于这一次有了心理准备，故而绿营军士兵在冲击的同时将木盾高高举起。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;躲在胸墙后面射击的明军士兵丝毫没有慌乱，熟练的完成射击、装填、再射击的动作。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;普通的木盾防护效果十分一般，铅弹能够轻易的穿透木盾继而射入绿营兵的身体。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;铅子回旋着射入他们的肌肉，造成撕心裂肺的疼痛。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这些没有被射中要害的绿营士兵并不会立即死去，他们将忍受相当长一段时间的痛苦。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而从后面冲来的士兵对同伴的痛苦视若无睹。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们面无表情的向前冲去，甚至连回头都不敢。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;因为他们知道在身后是手持钢刀的汉军旗军法队，任何企图逃跑的人都会被除以极刑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;既然后退必死无疑，往前冲还有一线生机，他们当然会选择舍命一搏。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;战壕之中的明军士兵偶尔也会越过胸墙扔出一两枚万人敌，对清军造成杀伤。但显然战壕中万人敌的储备量并不充足，大部分时间明军士兵还是得依靠火铳射击。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然他们在相当一部分时间里可以完成火力压制，可是清军的数量实在太多了，一个倒下去，立刻会有另一个填补空缺。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这种近乎疯狂的搏命打法让战壕之中的明军也有些一时不知所措。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“冲过去，第一个冲过壕沟的赏银百两！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;见绿营兵士兵已经冲到了距离胸墙三十步的距离，一名牛录章京高声喊道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;重赏之下必有勇夫，一定会有人填平这段壕沟。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而在战壕之后明军把总于南已经意识到了清军的目的，可惜现在已经来不及向棱堡之中的袍泽求援了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他咬了咬牙，冲身边的士兵吩咐道：“桐油呢，全他娘的浇了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“于总爷，您这是”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那士兵十分不解的问道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“一会鞑子就要冲过来了，就凭我们这百十来号人不可能守得住。与其让鞑子冲过去，不如我们放一把火，烧他娘个干净。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;于南话音里满是悲凉，大有一副风萧萧兮易水寒，壮士一去兮不复还的架势。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那士兵显然也明白了于南的意思，咬了咬牙道：“总爷您说，咱啥时候放这把火？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;于南冷笑道：“不急，等到鞑子冲过胸墙再放也不迟，先把桐油泼了，到时就是引燃火折子一丢的事。在此之前咱得把每一发铅子打干净，绝不能留给鞑子一枪一弹！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说罢于南带头跳到胸墙后面，抄起火铳架在垛口上，装填弹药，引燃引子<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“杀鞑子啊，杀一个赚一个，杀两个赚一双！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“杀鞑，杀鞑！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;随着一声声砰响，清军士兵便像稻草人一般倒下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但更多的绿营军士兵还是冲到了胸墙前。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;胸墙并不高，只是作为一个掩体使用。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;越来越多发狂的清军士兵轻易的翻过胸墙，朝十步外的战壕冲去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“就是现在！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;于南怒吼一声，将引燃的火折子丢入战壕之中，其余士兵也都照做。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一时间战壕中燃起熊熊大火，仅有的几十枚万人敌也纷纷被引燃，发出震耳欲聋的炸裂声
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>