<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第三百二十四章 郑芝龙翻脸（第一更！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第三百二十四章 郑芝龙翻脸（第一更！）
</div>
<div class="bookname">
	<h1>第三百二十四章 郑芝龙翻脸（第一更！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;好在郑芝龙最终并没有翻脸，而是让人把钦使带去休息。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那小太监本来以为自己此行是九死一生，已经做好了壮烈殉国的准备。谁曾想郑芝龙并没有杀他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这就好，这就好啊！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过这小太监此时是一刻也不愿意在福建多待的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只是碍于郑芝龙的面子只能勉强应下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;被带去休息的路上，小太监跟着郑府下人一路穿庭过院，只见亭台楼阁应有尽有，雕梁画栋令人咋舌。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这里便是比起宫中也不予多让啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;除了没有在屋舍上雕画五爪龙，郑芝龙已经享受到了皇帝能够享受到的一切。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;小太监越看越惊，索性垂下头去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;等到了地方他才抬起头，这是一间极为奢华的厢房，小太监小心翼翼的跨过门槛将门合上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;之后他放下包裹，走到床边一屁股坐了下来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;哎当初要是不抢着来传旨就好了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;本来他以为陛下是要奖赏加封郑芝龙一番这才抢着来，想着可以借着机会大赚一笔。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;人逢喜事精神爽嘛，郑芝龙也不会吝啬一点银钱。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可谁曾想皇帝陛下竟然是要召郑芝龙入京述职！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这不摆明了是不信任郑芝龙吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那郑芝龙又不是傻子，如何会看不出来？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;罢了罢了，事已至此抱怨也没有用。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;小太监也不求金银奉送了，只希望能够全身而退。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;跑了这么些天他也有些乏了，索性躺倒在床睡了起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不管怎么说先补一觉才是要紧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不知过了多久，迷迷糊糊间小太监觉得眼皮底下红彤彤的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;睁开眼睛一看他却是吓了一跳。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只见齐人高的火舌窜至木门，烧的木头劈啪作响。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“走水了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;小太监惊呼一声，本能的弹坐而起，踩着鞋子便朝木门跑去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可等他跑到跟前想要推开木门时却发现门竟然被从外面锁死了！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;此刻小太监的心里是哇凉哇凉的。他明白了，这把火一定是郑芝龙叫人放的，目的就是烧死他！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;苍天啊，他这是造了什么孽啊！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;小太监真想痛哭一场，可求生的本能还是让他不断的尝试破门而出。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他用脚踢，用肩膀撞，使出了吃奶的劲可就是撞不开门。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;很显然，这门不仅被锁上了，外面还堵着东西。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;小太监耗尽了气力颓然的坐倒在地。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“郑芝龙，你不得好死！你杀得了咱家，你却骗不过陛下！陛下一定会将你擒拿绳之以法的！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他闭上了眼睛静静等着大火将他和这间屋子一起吞没<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“老爷，都按您的吩咐做了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;管家来到郑芝龙的书房恭恭敬敬的禀奏道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郑芝龙不紧不慢的呷了一口茶，淡淡道：“哦，那就好。准备笔墨，给朝廷写奏疏。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;管家连忙应了一声，唤人取来笔墨，亲自为郑芝龙研磨。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;奏疏是郑芝龙口述的，他豢养的清客捉刀代笔。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;奏疏的中心意思是请罪，朝廷派出的钦使不幸在一场大火中丧生，郑芝龙也被烧伤，需要静养。短时间内郑芝龙不能进京述职，特向天子请罪。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;奏疏写好之后清客拿给郑芝龙过目，郑芝龙看过一遍之后确认没有什么问题，便叫人将其封好火速送往南京。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郑芝龙十分清楚这封奏疏送到南京后会引起轩然大波。不过他不在乎。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他要的就是这个效果！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他就是要告诉小皇帝我郑芝龙不是任人拿捏的！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;你不是派钦使来宣旨吗？好，我郑芝龙也领旨了。不过天有不测风云，人有旦夕祸福，一场夺命的大火改变了一切。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这不能怪我郑芝龙了吧？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;皇帝又怎样，皇帝也得看他的脸色！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郑芝龙根本不会理会那道圣旨。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;入京述职？笑话！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;残明小朝廷有什么资格叫他入京述职？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他不扯旗造明廷的反就算够给面子的了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;此刻郑芝龙十分庆幸自己当初做出的和清廷合作的决定。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然他并没有彻底的倒向清廷，不过多少给自己留了一条退路。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果将来清军真的能够顺利拿下湖广、山东兵临南京，郑芝龙不介意举旗响应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;忠孝仁义？在郑芝龙眼中这就是个屁！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他的眼中只有利益，谁能给他带来更大的利益，郑芝龙就会倒向谁。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;明廷待他是不薄，授他福建总兵官，加封侯爵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可清廷允诺给他的更胜一筹。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那可是王爵啊！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郑芝龙知道明朝小皇帝是无论如何不会加封他为异姓王的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;因为此先并没有任何先例，小皇帝不可能为他破例。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而清廷方面就不一样了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;三顺王、平西王可都是实封的王爷，而且他们都是汉人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;有这样的先例在郑芝龙一点也不担心清廷方面会食言。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;原本郑芝龙还有些犹豫到底要不要偏向清廷。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但经此一事后他却是下定了决心。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;皇帝小儿你不仁就休怪老子我不义。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老子都是被你给逼得！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然郑芝龙现在还不会反。一是时机还不成熟，二是郑成功还在明廷手里。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对这个儿子郑芝龙还是很看中的，不到万不得已他不会轻易舍弃郑成功。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;哎当时要是不把郑成功送到南京求学就好了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可当时还是崇祯皇帝在位，谁也不会料到短短几个月后李自成就会攻破京师，紧接着八旗清军就会入关啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一切发生的太快，根本不在郑芝龙的计划之内。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;等到他反应过来，崇祯的太子已经在南京登基并把郑成功送到了什么皇明军校就读。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郑芝龙曾经写过几封信暗示儿子回福建。可郑成功就像吃了迷药一样说什么也不肯离开南京。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;后来据说郑成功还北上山东抗击清军。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这真是叫郑芝龙气不打一处来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这种时候坐山观虎斗就是了，强出什么风头？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这倒好，老子在和清廷拼命的攀扯，儿子却在拆老子的台！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;希望将来清廷可以念着他的功劳宽恕儿子的罪过吧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“另写一封信派人走海路送到天津，就说我同意运送造船工匠去天津！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;思量再三后郑芝龙终于下定了决心。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果说卖粮食给清廷只是初步合作的话，运送工匠到天津便是合作升级了
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>