<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第三十二章 最终考校</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第三十二章 最终考校
</div>
<div class="bookname">
	<h1>第三十二章 最终考校</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;朱帅钦反应如此强烈，实在出乎秦拱明的意料。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;诈降可是消灭东虏有生力量的好机会啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“庆王殿下请放心，末将有实足的把握守住德州。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦拱明信誓旦旦的说道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“东虏不太可能从京畿运输来红衣大炮，即便他们真的运输来红衣大炮，也不可能打穿德州的城墙。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;见秦拱明如此自信，朱帅钦讶然道：“秦将军何出此言？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“东虏虽然重视火器，但未得火器使用之精髓。昔日孔有德叛乱，登州陷落，城中不少火器都被他用海船运到了辽东。可孔有德却没有把登州城中的佛郎机雇佣兵一并带走。这些雇佣兵绝大部分都被他杀了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦拱明稍顿了顿继续说道：“所以孔有德的那只炮兵队伍根本就是半吊子，便是给他们红衣大炮也发挥不了五成威力。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“话虽如此，可小王还是有些担心。德州是山东重镇，若是有失，对朝廷和陛下的大计怕是有影响。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱帅钦眉头紧锁，十分忧心的说道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦拱明说了半天朱帅钦却丝毫没有听进去，这让他十分恼火。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可朱帅钦毕竟是亲王之尊，秦拱明也不好发作，只得叹声道：“那以庆王殿下之意该当如何？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱帅钦大手一挥道：“自然是写一篇讨贼檄文，然后绑在箭上射出去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦拱明听到这番话差点背过气去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;庆王这样不是等于告诉虏廷我准备好了，你快来打我吧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦拱明之所以想诈降，就是要借机消耗一部分东虏的有生力量。毕竟东虏是小族，男丁一共也只有几万人，根本经不起消耗。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而若是让东虏知道德州城内驻扎有大量明军，那就是另一回事了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“即便不诈降，也不能主动下战书，庆王殿下不回复即可。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦拱明认为，哪怕庆王不表态也好过写下檄文。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;默不作声会被理所当然的认为是心虚。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只要让东虏以为德州空虚，兵锋所至唾手可得那秦拱明的目的就能达到。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王鳌永和方大猷招抚不成，虏廷最终还是会派出一支军队来接管德州。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦拱明可以利用东虏的轻视之心，在其攻城时予以痛击。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然这样做的效果肯定不会比诈降来的好，若是诈降秦拱明有信心全歼来犯的清兵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“恩，秦将军说的有道理。小王便当做没有看到这封信。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱帅钦还是觉得这个方案最为合理，既不会沾上通敌的嫌疑，也不会让德州城陷入危机，可谓两全其美<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;南京京营。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;遴选神策军士兵的集训已经进行了二十九日，主动退出的人却寥寥无几。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;优渥的待遇让所有人都牟足了劲想要成为笑到最后的人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘三水也不例外。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他刚刚报名参训时面黄肌瘦，二十九天训练下来不但面色变得红润了，就连力气也涨了不少。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这当然得益于专业的训练，也和丰盛的伙食分不开。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;每顿有蛋有肉，香喷喷的白米饭管够，这在任何军中都是不可能的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;也就是天子养得起这么精贵的兵。据说采买食材的银子都是从内帑中拨出来的，可见圣天子练新军决心之大。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;自打进到京营训练后，刘三水只觉得自己前十几年白活了。说句没出息的话，便是为了每顿丰盛的伙食，他也要留下来，成为一名正式的神策军士兵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这些天从简单的队列训练到方阵训练，再到实战训练刘三水都咬紧牙关坚持着，甚至因为表现优异获得了嘉奖。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;今天是集训的最后一天，也是最终考核日。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只要能够通过考核，便可以留下来成为天子亲军中的一员。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这日天还将亮未亮，刘三水便早早醒来。他小心翼翼的翻下大通铺，蹑手蹑脚的穿上训练服走出营房。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;为了锻炼力量，他每日清晨都会在营房前提石锁。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;今日自然也不例外。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一连提了几十次，刘三水才将石锁放了下来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;与刚刚开始训练时相比如今他提起石锁来轻松了不少，就连呼吸都不会变的急促。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;此时军营中的号角声响起，集训兵们陆陆续续起床洗漱，之后才集合跑操用早饭。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这也是军官们一再要求的，皇帝陛下十分强调新军士兵的个人卫生，要求所有人吃早饭前必须洗漱。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘三水匆匆洗漱过后与同营房的袍泽一起小跑着来到校场开始跑操。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;按照规定跑了五圈后他们便被带着来到伙房用早饭。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嘿嘿，三水老弟，看你心事重重的样子，该不会是担心被淘汰吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王富贵主动凑到刘三水旁边坐下，小声打趣道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“才不是唔”刘三水一口咬下小半个煮鸡蛋差点噎着，连忙喝了口粥顺了顺。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嘿嘿，你就承认吧。你若是信心十足，干嘛每天早上都要加练举石锁。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王富贵眉毛一挑道：“不过你小子是挺有种，虽然身子骨弱了些，但这不服输的劲头叫咱老子佩服。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“王大哥，你说这最后的考校会是个啥？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘三水被王富贵说的心里直犯嘀咕，放下粥碗怯怯的问道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这可说不好，不过归根到底比的还是力气。你小子这些日子算是练着了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王富贵将白面馒头掰碎了扔到粥里，拿筷子搅了搅然后一股脑的灌进口中。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;喝完粥后他又用舌头沿着碗边舔了一遍。确保全部喝干净了，王富贵才满意的打了个饱嗝。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这日子真是做神仙也不换呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“呜呜呜，呜呜，呜呜呜”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;号角声突然响起，刘三水条件反射般的放下碗筷，身子蹭的一下直接弹了起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;伙房中的集训兵都以最快的速度冲将出去，多日的训练已经让他们养成了闻号角声而动的习惯。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所有集训兵在校场集合之后，锦衣卫指挥使赵信施施然在走上点将台，两旁的鼓手遂擂起鼓来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一通鼓响后赵信清了清嗓子道：“诸位都是应募神策军的参训者。这一个月来你们流过汗、流过血，本官都看在眼里。今日是集训的最后一天，本官为你们安排了一场考校，通过者便可留下正式成为神策军的一员！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;ps:感谢书友WG那那的500币打赏~
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>