<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第三百一十章 活着（第二更！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第三百一十章 活着（第二更！）
</div>
<div class="bookname">
	<h1>第三百一十章 活着（第二更！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;活着好累啊！还好他学会了捕猎，不然恐怕早就饿死了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孙二娃一边生火一边感慨道。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他是建昌卫一个普通的农户。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;原先明军控制四川行都司的时候虽然每年要纳的粮食一粒不少，但总归能够剩下一些，省着些吃勉强也够了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可自打大西军入川后所到之处皆是寸草不生，别说种地了便是撒下草籽都长不出来。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孙二娃害怕被拉去做夫子，便躲到了深山里。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;原本他不会捕猎，但为了生存他开始学习狩猎。他制作简易的兽夹和猎弓，若是运气好些能够捕到一些野兔，若是运气不好就得饿肚子。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;有时一连两三天捕不到猎物，孙二娃饿的肚子咕咕叫，只能靠摘野果子果腹。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但这玩意不但不顶饱反而越吃越饿，有时孙二娃甚至饿的在地上打滚。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;渐渐的他学会将捕到的猎物风干做成肉干，这样在缺少食物的时候不至于饿的发狂。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这日孙二娃的运气不错捕到了一只狐狸，他小心翼翼的把狐狸皮剥下，将狐狸肉串在树枝上架在火上烤。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一张上好的狐狸皮十分珍贵，能卖几两银子。但这得是狐狸皮完好无损的情况下才行，若是哪里破了个洞就不值钱了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这次孙二娃的兽夹正好夹住了狐狸的后腿，并不会影响整张皮子的美观。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孙二娃决定吃完这顿烤狐狸肉，便冒险进一次城把狐狸皮卖掉。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;狐狸皮若是真的卖掉，换来的钱能够买不少粮食了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孙二娃已经不记得自己多久没吃过米了。一想到米香，他便直流口水。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;火焰烧的劈啪作响，孙二娃将串好的狐狸肉来回转了转，使得其受热均匀。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;过了小一会儿，狐狸肉变得金黄透着油光蹭亮。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孙二娃吞了一口吐沫狠狠一口咬了上去。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嘶，真烫嘴啊！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他摸了摸下唇发现烫出了一个大血泡。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唑了一唑后他对着狐狸肉猛吹了好一阵，这才敢再次下嘴。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这次温度显然下降了不少，经过一番试探后孙二娃狠狠扯下了一块肉。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;狐狸肉有些酸，又没有盐巴调味，入口的感觉怪怪的。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过对于孙二娃来说这已经可以算是珍馐美味了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他狼吞虎咽的吃了一顿，打了个饱嗝仰躺在地上。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;望着蔚蓝色的天空和偶尔飘落的几片树叶，孙二娃十分享受的闭上了眼睛。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;小憩了一觉后他将狐狸皮卷好，布置了几个陷阱后就沿着小路下山。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如今他对这座大山已经十分的熟悉，一些小道只有他自己知晓。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孙二娃来到建昌城前时天色已经渐渐暗了下来，他犹豫了片刻还是迈开步子朝城门走去。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;几名守卫懒懒散散的靠在城门洞子边上，根本提不起一丝一毫的兴致。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孙二娃将头埋下，快步跟着人群往里走去。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他已经下定决心此行快去快回，把狐狸皮出手了买了粮食就离开，绝对不在城中多做停留。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一进城他就往东城去。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;收皮货的老张和他是老相识了，出价公道从不压价。一有上好的皮子孙二娃第一个想起的就是老张。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;穿过十字街往东北一拐，便来到了老张的皮货铺。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;离得远远的都能闻到一股硝皮子的味道。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孙二娃将包裹紧了紧毫不犹豫的进了铺子。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“老张，我又给你带好货了！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孙二娃一边往里走一边扯着嗓子喊道。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;过了没多久，一个身材瘦削微微驼背的中年男子便踱步走出。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;见是孙二娃他眼前一亮道：“什么好货？拿出来瞧瞧。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孙二娃嘿嘿一笑，将包裹解开把狐狸皮子取出铺在了柜上，十分得意的说道：“这可是上好的火狐皮子，整张皮子上连个眼都没有。除了你老张，我谁也不卖。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那张掌柜见到狐狸皮子两眼顿时冒出光来。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他做的就是皮子生意，什么好货没见过。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但他也不得不承认这张狐狸皮子绝对算是上等。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“说罢，你要卖多少钱？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“二十两！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孙二娃毫不犹豫的说道。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;嘶！ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张掌柜闻言直是倒抽了一口凉气，面上的笑容戛然而止。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;二十两，这也太多了吧？ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然他承认这张皮子很好，但也绝对卖不了二十两啊。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“十两，我最多给你十两。若是你觉得少，就去别家试试吧。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;火狐皮很稀有，但也绝不值二十两。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孙二娃漫天要价，张掌柜自然得就地还钱了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“成，十两就十两，谁叫我跟你老张熟呢。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孙二娃两眼微微眯起，毫不犹豫的就答应了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这时张掌柜才意识到自己上当了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;从一开始孙二娃就没想要卖到二十两。他之所以提出这个价格，就是让张掌柜砍得。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一开始把价格抬得很高，张掌柜哪怕是拦腰砍也能卖到十两。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过张掌柜却不准备计较这些。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一来是他和孙二娃的交情不浅，今后肯定还有合作，没必要把关系搞僵。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;二来是即便他用十两银子收了这张火狐皮子，也能赚上一笔。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你要碎银子还是整锭的银子？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张掌柜挑了挑眉。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“碎银子，方便用！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孙二娃毫不犹豫的说道。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好，你在这里等一等。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张掌柜转身进了里间，不一会的工夫就拿了一个包裹出来。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“碎银子都在里面了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孙二娃解开包裹，一瞬间眼睛都直了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这银子的成色虽然不算很足，但却绝对是真的银子啊。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孙二娃从来没有见过这么多的银子，恨不得一个个拿牙咬一番确定真伪。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;打猎完全是靠运气的。孙二娃当然不会认为自己的运气会一直这么好。那么，这次的十两银子他便要好好计划一番该怎么花。买粮食当然要花一部分，盐巴也得买一些，剩下的就攒起来。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;思定之后孙二娃把包裹重新系好，冲张掌柜笑道：“成了，我就不打扰老张你做生意了。下次有好货我再来找你。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说罢扭身就往外走。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;崔记米行离老张的皮铺子只隔了一条街，要去倒也方便。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可当他转过街角的一瞬间彻底僵住，因为一众大西军的士兵正朝他走来。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;请记住本书域名：。手机版阅读网址：
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>