<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第五章 去淮安</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第五章 去淮安
</div>
<div class="bookname">
	<h1>第五章 去淮安</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;“朱兄，某有一句话不知当讲不当讲。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦，刘兄但说无妨。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺收起宝剑，微微笑道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“朱兄应该是位将军吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘去病把声音压得很低，只有他和朱慈烺能够听到。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺微微一愣，旋即明白了对方的意思。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;是啊，如果自己不是个将军的话，无法解释为何会拥有这么多的火铳以及弓弩。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“此事你知我知，万万不可对旁人讲。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“某晓得。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;得知自己的判断是正确的，刘去病十分高兴。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“有朱将军这样的忠臣在，某相信朝廷终有一日会剿灭东虏，光复辽东的！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;离开刘家庄后朱慈烺一行还算顺利，两日后抵达淮安府城外。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;淮安府隶属于南直隶，下辖山阳、清河、盐城、安东、桃源、沐阳、赣榆、睢宁、宿迁九县，另辖海州、邳州。阖府共有户一十万九千二百五，口九十万六千三十三。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然，这是万历六年的统计数据，到了崇祯年间有所增减，大体还是作准的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其府治在山阳县，漕运总督驻地也在此县。淮安城位于神京与南京之间，是京杭大运河上的重要枢纽，故而明廷在此设立漕运总督，总理漕运事宜。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺知道如今的漕运总督便是路振飞，这时路振飞还兼着淮安巡抚的头衔，可谓这一地区当之无愧的一把手。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺对路振飞的评价很高，在原本历史中弘光朝廷覆灭后此人能够追随隆武帝朱聿键坚持抗清，也算是大明朝为数不多有风骨的文臣。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这也是朱慈烺选择径直来淮安的原因。此时四镇尚未形成，淮安又有路振飞这样的忠贞之士坐镇，大体形势还是好的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;要说这淮安府城地理位置极为重要，其北面是淮河，西南是永济河，东南有射阳湖，东北有马逻乡、庙湾镇、羊寨乡三巡检司，可谓要冲。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;与普通的四方城池不同，淮安为新城、旧城、联城三城并列的格局。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;旧城周长为十一里，城高三十尺，有城门四座。东门曰观风，南门曰迎远，西门曰望云，北门曰朝宗。城上有大楼四座，角楼三座，窝铺五十三座，雉堞二千九百六十垛。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;新城周长七里零二十丈、高二丈八尺，有城门五座。东门曰望洋，西门曰览远，南门曰迎薰，北门曰洪极。在大北门的西边开有一小北门，叫戴辰门，另有角楼四座，窝铺四十八座、雉堞一千二百垛。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;联城则在新旧二城之间，东长二百五十六丈三尺，西长二百二十五丈五尺，城高一丈四五尺不等，后加高六七尺，加厚四五尺，城楼大小四座，东南城门曰天衢门，东北城门曰阜成门，西南城门曰城成门，西北城门亦曰天衢门，雉堞六百二十垛。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;三城合在一起，周长为十七里，面积大约在四平方公里。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;旧城始建于唐，新城则是元末张士诚部史文炳在旧城以北修建的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于联城，则是嘉靖三十九年修建。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当时东南倭寇肆虐，数次侵扰淮安。为了防备倭患，漕运都御史章焕上奏朝廷，由原旧城东北隅接新城东南隅，修建了联城，联贯了新旧二城，也称为夹城。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至此，淮安城三城联立的基本格局便已形成。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺看到这等雄壮城池心中亦不免啧啧称奇。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;淮安府的各衙门官署多集中于旧城，朱慈烺一行从北面来，要想进入旧城，得先穿过新城、联城。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们由新城北门洪极门进入城中，一路穿过新城，联城，又经旧城北门朝宗门进入旧城，直奔巡抚公署而去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;巡抚公署位于淮安城旧城北，府衙稍南的位置。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;要说这淮安城中的衙门着实不少，既有山阳县衙、淮安府衙，还有巡抚衙门、漕运总督部院、以及常备察院。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如今路振飞兼任漕运总督以及淮安巡抚，据说却是住在巡抚衙门的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这倒可以理解，毕竟此时运河几经中断，需要花费在漕运上的精力甚少，路振飞的大部分精力肯定还是花在督办淮安军政上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺知道，在原历史时空中，南面就是淮安最先得到神京沦陷的消息的。四月初八，路振飞便根据塘报向治下官绅宣告了这一消息。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;稍晚一些时候，南京留都的官员们也得知了这一消息，便各自动起了歪脑筋，想要靠拥立藩王获得定策之功。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如今朱慈烺既然已经从京师突围，自然不可能任由这些政治投机客胡作非为，只要他这个正牌太子在，那就是道统，是帝位毫无疑问的继承者。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺对于路振飞的了解更多是来自于史书。这一世他也只是从邸报上读到过几次路振飞的名字，与他本人却是从未见过。当然，在崇祯十七年他穿越之前，东宫太子有没有见过路振飞，朱慈烺就不知道了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过见没见过却不重要，朱慈烺随身带着东宫宝玺，足以证明他的身份。那路振飞又是绝对的忠于帝室，有他的支持朱慈烺便可以安然无恙的抵达南京。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“小爷，前面就是巡抚衙门了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;内侍刘传宗小心翼翼的说道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;东宫侍卫长赵信也道：“公子，我们便陪您一起进去吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个称呼还是朱慈烺特意强调过的。起初赵信常常口称殿下，这实在太危险了，故而朱慈烺命他只准叫公子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺长长吐出一口气来，定下心神来道：“一会见机行事好了，那些门子护卫未必好对付。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘传宗与赵信齐齐点头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一行人走到巡抚公署前，果然有几个护卫凑上前来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们见朱慈烺衣着华贵，气质不俗，不敢贸然呵斥，小心翼翼道：“这位公子来巡抚公署有何贵干？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺微微笑道：“我乃抚台大人世侄，受家父之命前来拜会抚台大人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那两名兵卒听闻朱慈烺是路巡抚的世侄，态度变得愈发恭敬了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这位公子且稍等，我去通禀一声。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其中一名兵卒冲朱慈烺抱了抱拳，便转身进了巡抚衙门。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不多时的工夫一个身着藏青色云纹苏绸长衫的男人踱着步子朝朱慈烺走来。在他身后便是那前去通报的兵卒。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那男子不算太高，身材微胖，脸上倒是富态的很。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺正自琢磨着这人不会就是路巡抚吧，那人却率先开口道：“鄙人便是本府门子路安，敢问公子怎么称呼？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他态度十分恭敬，嘴角还带着笑意。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺愣了一愣，门官？这厮只是个门官？门官都穿绸衣，好大的派头啊！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他清了清嗓子道：“晚生姓朱，从京师来，劳烦老伯通禀一声。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那门官微微颔首，转身去了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺也不着急，静静的站在那里等着。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;约莫过了一盏茶的工夫，那门官气喘吁吁的跑了出来，脸上堆满笑意：“公子请进，快快请进。”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>