<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第二百八十三章 夜袭烧营（第一更！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第二百八十三章 夜袭烧营（第一更！）
</div>
<div class="bookname">
	<h1>第二百八十三章 夜袭烧营（第一更！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;长夜漫漫，陈顺才在做一个奇怪的梦。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在梦中，他和二丫坐在屋里望着窗外飘落的雪花傻傻的笑着。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屋里燃着一只火盆。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;火焰烧的木炭劈啪作响，熏得人暖暖的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;二丫的身子倚靠在陈顺才的肩膀上，一股清香萦绕在他的身旁。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈顺才深深吸了一口气，只觉得沁人心脾。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈顺才在二丫高高鼓起的肚子上抚摸了一阵和声问道：“这次你再猜猜，是男孩还是女孩？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;二丫却是默然不语。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我猜是个带把的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;依然没有得到回应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嘿嘿，你想吃点啥，我去给你弄。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;便在这时，二丫从腹腔深处发出一阵瘆人的笑声。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈顺才只觉得头皮发麻，咽了一口吐沫将二丫的身子扳了过来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一看却是把他吓了一跳。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;二丫清秀的面庞变成了一面骷髅，鼓起的肚子也开始向外渗血。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈顺才惊呼一声，下意识的站起身向后退去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他一个踉跄踢倒了火盆，火焰引燃了床边的帷幔，立时燃起熊熊大火，似是要把整间屋子吞噬干净。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这是梦，这是梦！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈顺才暗暗说道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;都不是真的，这些看到的都不是真的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈顺才拼命想要醒来，可也是见了鬼他就像被鬼压床似的，虽然神智介于清醒与混沌之间，但怎么也动不了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;最终还是刘良民把他拽了起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“着火了，快跑啊！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈顺才迷迷糊糊间环视了一周，发现营帐已经烧了大半，帐中尽是浓烟。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他也顾不得许多，迈开双腿就向外跑去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;好不容易跑出帐去，陈顺才一屁股坐倒在地大口喘着粗气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘良民就坐在他身旁，一样的狼狈不堪。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“陈大哥，夜袭，明贼出城袭营了”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;冷风一吹，陈顺才的神智便清醒了许多。他环顾四周发现大营中一片混乱，到处都是狂奔逃命的士兵，有些甚至连衣物都没有穿好。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好端端的明贼怎么会袭营？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈顺才皱起眉头道：“值守的戍卫难道睡着了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这个我哪知道啊。不过看样子营中戒备不足啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘良民哭丧着张脸，双手一摊道：“外面的绿营营帐被烧了个干净倒也罢了，连咱靠里的汉军旗营帐都被烧了，真是太憋屈了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈顺才陷入了沉默。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这支清军是按照梅花形状扎营。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;最外围的是绿营军，靠里的则是汉军旗和蒙军旗。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;结果靠里的汉蒙八旗营帐都被明贼一把火给烧了，这守卫简直是形同虚设啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“呀，糟了！陈大哥你看那边！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘良民猛然惊呼了一声，手指着北面发抖。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈顺才顺着方向望去，只见北面燃起了熊熊大火。而他很清楚那个方向是清军用来存放粮秣的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;明贼把清军存放粮秣的营帐给烧了！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这帮该死的明狗！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈顺才攥紧了拳头，胸中升起了熊熊怒火。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;原本清军带的军粮还算充足，即便是两三个月也够用。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可这一把火却是将粮草烧了个干净，清军将面临断粮的尴尬处境。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;明军在临清附近实行坚壁清野的策略，所有百姓一概迁入城中，自然也不会给清军留下粮食。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这样即便清军想要去打粮都不可能。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这是要把他们逼上绝路啊！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;军队断粮是一件极为可怕的事情，尤其是在战时。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当兵吃粮天经地义，皇帝还不差饿兵呢。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一旦士兵们发现没有饭吃，不满的情绪会急剧增长甚至会因此爆发哗变、营啸。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果处理不好，将引发全面崩盘。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“陈大哥，咋办啊咱，这下彻底完了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘良民欲哭无泪，声音中满是悲凉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“唉，走一步算一步吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈顺才无奈的摇了摇头<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;勒克德浑面色铁青，喉结上下耸动，双手紧攥成拳发出咯吱咯吱的声响。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;跪在帐中的各个将领皆是一语不发，没人敢抬头与勒克德浑对视。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“废物，一帮废物！本贝勒要你们有何用，本贝勒要把你们这帮狗奴才全杀了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;勒克德浑盛怒之下拔刀出鞘，竟然真的要挥刀朝近前一人砍去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“贝勒爷息怒，明贼这是要扰乱我军军心啊。贝勒爷万万不能中计！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;勒克德浑顺着声音望去，见说话的是石廷柱遂冷笑道：“军粮都被人一把火烧了，你还跟本贝勒说息怒？石廷柱，难道你能给本贝勒变出粮食来？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;勒克德浑只觉得恼怒不已，为啥他每一次领兵都不顺利。上次在北直隶中了高杰的诈败诱敌之计，这一次又被明军趁着夜色袭营，一把火烧了粮草<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老天爷这是存心跟他过不去吧！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“回贝勒爷的话，奴才给贝勒爷变不出粮食，不过奴才觉得现在的局面还没坏到不可收拾的地步。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;石廷柱一字一顿的说道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;勒克德浑气极反笑道：“还没坏到不可收拾的地步？那你倒是说说，本贝勒现在还能做什么！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;石廷柱朗声道：“贝勒爷有两个选择。一是继续命令士兵攻城，不惜一切代价拿下临清。如此一来粮食有了，功劳也有了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他说完这句刻意停下等着看勒克德浑的反应，果不其然勒克德浑冷笑道：“白天的情况你难道没看到吗？这临清城一时半会难以打下。现在军中都知道粮草被烧，正是人心惶惶，本贝勒拿什么攻城？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;石廷柱遂继续道：“贝勒爷还有另一个选择，那就是舍弃辎重，往德州方向急行军，争取和豫亲王汇合。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;勒克德浑挑了挑眉，显然有些动心。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果石廷柱建议他率军退回北直隶再做从长计议，他一定会毫不犹豫的拒绝。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;因为这么做就等于变相承认打了败仗，即便摄政王多尔衮不追究他的责任，勒克德浑也再难在满清贵族中抬起头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个人他丢不起！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但往德州方向靠近就不同了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在勒克德浑看来多铎统率的是大清实力最强的满八旗，阵中又有红衣大炮，恐怕此时已经拿下德州城了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;勒克德浑只要能够率部跟多铎大军汇合，粮草问题就迎刃而解了
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>