<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第三百一十二章 群臣逼婚（第二更！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第三百一十二章 群臣逼婚（第二更！）
</div>
<div class="bookname">
	<h1>第三百一十二章 群臣逼婚（第二更！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;朱慈烺这几日颇为心烦。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;也不知怎么的，一众朝臣纷纷上疏请求天子选立皇后以固社稷。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;天子大婚当然不是一般的小事，整个流程十分繁复。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一套流程走下来没个两三个月是不可能完成的。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在这件事上朱慈烺原本是想能拖就拖。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可现在看来继续拖下去是不太可能了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;光是御案上摆着的奏疏就有一百来份。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若是将这一百来份奏疏全部留中不发，朝野上下一定会炸开锅。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;况且这一次朝臣们是占据了大义。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;天家无小事，尤其是天子大婚册立皇后。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这关系到大明的国本，国本固则江山固。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其实从朱慈烺的角度看，这个年纪不结婚实在不算啥，但在朝臣眼中却是完全不同。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;十六七岁已经不算少年，理当承担起为皇明续嗣的责任。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;总之朱慈烺是辩不过朝臣们的。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;你跟他们摆事实讲道理，他们给你讲孝道讲德行。你跟他们讲人情，他们给你摆道理。你跟他们讲德行，他们干脆就耍流氓。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;何况这件事上朱慈烺本就理亏 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;罢了，不就是大婚册后吗，朕怕什么！ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺苦笑一声摇了摇头，此刻他真真切切体会到被群臣逼婚的尴尬无奈。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其实他之所以不想这么早大婚倒不是因为有什么隐疾，而是害怕成婚之后后宫方面牵扯他太多的精力。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但现在想想其实是他多虑了。首先朱慈烺是一个很自律的人，即便大婚也不会沉迷于女色。要不然，宫中这么多宫婢，朱慈烺还能保持处男之身？ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;毕竟从严格意义上讲宫中的女人都是属于皇帝的，差的只是一个名分罢了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只要保持严格的克制，即便有了皇后也不会太影响日常工作。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而且有了一个枕边人相伴还可以说两句藏在心底的话，不至于所有事情都憋在心里。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于皇嗣问题嘛确实是个比较令人头疼的事情。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;以这个时代的眼光来看，一个男人尤其是皇帝十六七岁是该有孩子了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不管朱慈烺如何抗争也改变不了这一局面，那倒不如顺势而为。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其实朱慈烺是有些小孩恐惧症的。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在前世的时候他就有着这一矛盾心理。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一方面他觉得有些乖宝宝很可爱，另一方面他又觉得熊孩子很可憎。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;天知道他生出来的是乖宝宝还是熊孩子。所以 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过在这一世当皇帝的好处就可以提现出来了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;皇帝可以生很多孩子，美其名曰为皇明开枝散叶。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他生的不可能都是熊孩子吧？ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;总之这种事情还是得走一步看一步，提前想太多也没有用。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;好在现在也算是个比较合适的时间点。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;明军刚刚在山东战胜清军，短时间内清军应该不会再入寇。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺的个人威望也因为御驾亲征达到了顶峰。这个时间大婚绝对是适合的。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;思定之后朱慈烺也不再纠结，下旨命礼部全权操办此事。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;皇帝大婚可不是民间百姓拜堂成亲，有一整套流程要走。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;从选秀到遴选淘汰，最后呈递几人名单供皇帝钦点，必须一步不差的完成。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;将这件事吩咐下去后朱慈烺便将精力集中到了水师的组建训练上。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;登莱水师组建已经有一段时间，可效果却不如预期。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;原本朱慈烺是想让登莱水师在山东之战中表现一番的，但因为各种原因最终只能作罢。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其中最主要的原因便是有水战经验的将领太少。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;大明水师将领自然不可能全是佛郎机雇佣兵，还是得是自己人。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;从郑家挖人肯定是不行的。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺决定水师去郑化，除了郑成功一个郑家的人也不用。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张煌言倒是不错，张名振也可以，但基层将领还是缺乏。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;要不要去广东挖些人来？ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两广总督沈犹龙是个能臣，据说训练了一只实力强悍的水师。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若是朱慈烺直接去要人会不会有挖墙脚的嫌疑？ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过仔细一想即便是挖墙脚，也是挖自家的墙角，似乎也没啥问题。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;思来想去朱慈烺觉得要想短期内提升登莱水师的实力只能靠这个办法，也就不再犹豫命司礼监拟旨，令两广总督沈犹龙调广东水师中精锐将领前去山东听堪。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺的性格很强势，既然已经做出了决定就不会轻易改变。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沈犹龙是领旨也得调人，不领旨也得调人。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过朱慈烺觉得沈犹龙多半还是会领旨谢恩的。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;大明历史上不乏一些为了邀名卖直而抗旨的文官。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们抗旨的理由一般是圣旨没有经过内阁、六科的程序，是伪命乱旨。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但沈犹龙应该不会。即便他心中的想法和君王不一致，也会领旨执行的。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;倒是云南的情形有些让朱慈烺忧心啊。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沙定洲之乱比原本历史早了半年发生，会不会引起一系列的连锁反应？ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在原本历史中沙定洲之乱持续了很长一段时间才被大西军平定。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但这其中肯定有当时南明朝廷名存实亡的原因。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如今的形式要好很多，却是不知道秦良玉能否提前平定沙定洲之乱。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其实西南三省之所以叛乱频出归根到底是因为土司问题。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;土司这种世袭制度导致了朝廷对地方无法统治，近乎于一种失控的状态。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;要想根治这个顽疾最好的办法就是改土归流。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过这也不是随便说说就行的。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;改土归流相当于削藩，甚至难度比削藩更大。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;毕竟拥有亲王爵的最多十几、几十人，而土司可是成百上千。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;真要是一刀切的改土归流，恐怕那些本来不想反的土司也得反了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;改土归流势在必行，但绝不是在现在。最好是等大明解决掉满清这个麻烦再推行。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过眼下倒是可以尝试着推行一些温和的政策，比如推恩令。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;推恩令起始于西汉，意思是把王国土地裂封给诸子嗣。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这样一来随着代代相传一个庞大的王国就会越分越小，从而丧失对朝廷的威胁。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;用在土司这里大概意思也是差不多的。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;土司肯定不止一个孩子吧？ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那就一起分家产好了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一代下去可能没有太显著的变化，但三五代后一个土司地盘可能也就只有一个村子大了。
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>