<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第三百八十九章 穷途末路（第二更！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第三百八十九章 穷途末路（第二更！）
</div>
<div class="bookname">
	<h1>第三百八十九章 穷途末路（第二更！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;张定国双眼眯作一条缝，心闪过一个凌厉的念头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他要不要趁此机会大干一场呢？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只是若他此时去打清军，不是等于帮了明军吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张定国一时有些纠结难以做出决定。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;便在这时突然雷声滚滚，天色昏暗了下来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;转眼间风云突变，便浇起瓢泼大雨来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;包括西军在内的众将士皆是狼狈不堪。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;便在张定国犹豫不决时只见清军突然朝西军的方向溃逃而来，犹如丧家之犬一般。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张定国见清军要逃，一双眼睛瞪得犹如牛铃。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;好嘛，这想逃了？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;有他张定国在，绝不准许鞑子逃走一人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;西军不会主动出击帮助明军，但若是鞑子想要逃跑是另一回事了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;相信每一个将士都不会抗拒他狙击的命令。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张定国命令下达之后，一众将士便列阵以待，准备狙击鞑子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;此刻的清军全然没有之前的威风，一个个犹如丧家之犬般狼奔冢突。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;冲在最前的是博洛，紧随其后的是洪承畴、佟养和。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们皆是神色慌张，恨不得插一双翅膀飞走。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;明军的实力实在是出乎他们的意料。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一开始双方打的难解难分，但随即明军便开始发力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一发力不要紧，清军便抵挡不住开始脆败。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;败势一显再想止住很难了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪承畴打过这么多仗当然明白这个道理。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他建议博洛立刻撤军。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;博洛也被吓破了胆，连连点头称是。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可是他们刚逃出没有多久发现西军余部横在他们面前阻住去路。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;博洛当即怒从来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;好嘛刚才被打的落花流水现在却神气了起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“冲过去，不要和他们纠缠！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;博洛怒吼一声命令道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;此刻多停留一分都是危险。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;博洛可不信张定国能够拦得住他们。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“冲啊！杀过去，胆敢阻挡者杀无赦！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;此刻清军士兵一个个双目通红，犹如厉鬼一般。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不准放过一个鞑子！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张定国却是攥紧拳头一字一顿的说道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当清军冲到西军面前后双方一时战的难解难分。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;西军气势占优，清军则是为了活命。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;双方谁也不愿意后退一步。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;狭路相逢勇者胜，西军显然更有一分勇气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;随着时间的推移，越是缠斗下去对清军越是不利。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;博洛见迟迟不能突围，已是急得焦头烂额。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;真是该死！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“取我的弓来！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;博洛怒吼一声，立时便有一名亲兵双手取来弓递到博洛手。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;博洛取来弓试着拉了一拉，冷笑道：“今日便取你狗命！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他弓拉如满月，但听嗖的一声箭矢飞射而出。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这箭直朝张定国而去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;博洛此刻再无一丝一毫劝降张定国的想法。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他只想把这个不知好歹的西贼当场射杀。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;博洛的箭法十分精湛，这一箭并没有偏多少。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但张定国的注意力十分集，身子向后一仰巧妙的避了过去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;博洛突施冷箭彻底惹怒了张定国。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他准备以牙还牙，以眼还眼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张定国取来自己的那张金胎强弓运力拉满，然后爆喝一声“咄”，便瞄着博洛射出一箭。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;博洛没想到张定国在这么短的时间内能完成这么一套操作，躲闪不及被射坠马。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;清军见主帅被射一时军心大乱。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪承畴心生出一股不详的预感。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;难道这是败兆吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“快把贝勒爷扶起来！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可是洪承畴又不能丢下博洛不管。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不然即便他逃了出去，那帮满清贵族也不会放过他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;即便多尔衮想要死保他也怕是保不住。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;看来不把这些西贼击退是走不了了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;没法子，硬着头皮打吧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;既然已经横下心来，清军便也没了顾忌。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;真正拿出来那股狠劲，气势便压了西军一头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但西军的韧性很强，即便场面落于下风仍然能够咬牙撑住。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;清军则是越来越急躁。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;眼瞅着明军要追来了，博洛便顾不了那么多，决定率领亲兵先突围。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他麾下都是精锐的精锐，听令之后便簇拥着博洛向外冲。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张定国见博洛想要跑，立即提兵追了过来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;博洛心痛骂，这厮真是一个狗皮膏药，怎么甩都甩不掉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过他已无心恋战现在逃出升天才是最重要的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们且战且逃，转眼间竟然真的打开一个口子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;博洛直是大喜。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只要能够保住一条性命便有东山再起的希望。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“驾！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他双脚一磕马腹当先朝外冲去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;便在这电光火石之时突然从远处飞来一箭，不偏不倚正巧射博洛的后心。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然他浑身披甲，但这一箭乃是破甲箭仍然射了进去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;博洛闷哼一声闷头倒了下去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;主帅再次坠马对军心的摧残是毁灭性的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;清军士兵一时大乱。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张定国趁机率领西军围了来，将本已经突围一半的清军精锐重新困住。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪承畴见大势已去心生出一股悲凉来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他提刀便要自刎，却被不知从哪里射出的一箭把刀打飞。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哪个蟊贼，敢站出来吗！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪承畴又惊又怒，这是要让他求生不得，求死不能吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“在下张定国，行不更名坐不改姓！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪承畴闻言心直是一沉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;又是这厮，难道这厮是他命注定的克星吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“洪某与张将军素来无怨，张将军何苦屡次相逼呢？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪承畴叹了一声道：“洪某敬张将军是个英豪，何苦为明廷做狗呢？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张定国闻言冷笑一声道：“洪总督真是生的一副伶牙俐齿呢。不过你却是想错了。张某人并不是要给明廷做狗，张某人只是要给义父报仇！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;听到这洪承畴心里登时咯噔一声，暗叫不妙。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;看的出来这个张定国对张献忠的感情十分深厚，不是那种惺惺作态。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而张献忠又确实是因为清军攻城而死。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张定国把这笔账记在清军头是没有任何问题的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“两军交战各为其主。洪某也是无可奈何。如今形式大为不同，还望张将军能够审时度势啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪承畴在做着最后的努力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在他看来张定国是一个聪明人。以他现在的实力不要倾向任何一方待价而沽才是最好的选择<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;/bk
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>