<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第三百九十五章 先礼后兵</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第三百九十五章 先礼后兵
</div>
<div class="bookname">
	<h1>第三百九十五章 先礼后兵</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;冯双礼不敢大意，点齐人手来到城头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;建昌城并不大，也没有瓮城，故而若是遭到强攻很可能失守。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;冯双礼又是个谨慎起见的人，他将兵力妥善分配到各处城头并一一视察下来这才放心。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过冯双礼浑身披甲绕着城头走上这么一圈，自然是捂了一身的臭汗。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他又不能将甲胄脱下，就这么捂着当真是难受不已。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他心中暗道这李定国怎么还不来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这么熬下去可是要熬煞人也。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李定国一直不来他就得一直这么在城头耗着，一丁点的意思都没有。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;就在冯双礼有些熬不住时，突然看到黑压压的人马从密林之中钻了出来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在这个距离虽然看不清统兵将领究竟是谁，但那面猩红色的西军大旗却是分外显眼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;冯双礼心中一沉心道该来的还是来了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他命令士兵们保持戒备，随时做好开战的准备。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;冯双礼不认为消息是从建昌散布出去的，他对自己的清洗很有信心。也许李定国是从其他渠道得到的消息，这才急匆匆的率部赶来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;冯双礼深吸了一口气，已是做好了兵戎相见的准备。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然李定国也是大西军的一员，但对孙可望是个极大的威胁。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孙可望要想坐稳大西国主之位，最好要将李定国除去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;有些事情孙可望不方便去做，冯双礼可以替他去做。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;即便因此背负了骂名冯双礼也不觉得有什么。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;各为其主，为主公分忧不是一个人臣的本份吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于李定国，要怪就怪他站在了孙可望的对立面上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;究竟谁才是大西国主难道他心里没点数吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不能乱，这个时候一定不能乱。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;任凭那李定国天花乱坠说出花来，他该怎么做还怎么做。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李定国部的行军速度并不算快，冯双礼等得有些不耐烦。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他微微眯着眼睛如同一只狸猫一样看着李定国部向前推进。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;终于李定国部来到了建昌城外一百步的位置。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个距离是个相对安全的距离。若是冯双礼命令弓箭手齐射基本上羽箭到了李定国部附近力气也泄了大半，不可能造成大的杀伤。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;同时在这个位置，李定国也能看清建昌城头的详情。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李定国右手上举示意全军停下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所有将士不论步骑全部遵照执行。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李定国单手勒着马缰，冲城头的冯双礼喊道：“这不是冯都督吗，某许久未和你一起叙话了。怎么，不打开城门让我进城一起吃酒吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他见守城的是冯双礼，已是把孙可望临死之前说的话信了七八分。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;冯双礼此人心机极深，又富有野心。不然当初他也不会离开艾能奇，投到孙可望麾下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李定国见建昌城头的士兵严阵以待，随时准备开战，心道看来他留在建昌城的心腹都被冯双礼清洗的差不多了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过他还是不准备直接开打，而是选择先礼后兵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一来他的身份在冯双礼之上，把事情的真相说开之后，冯双礼还是有一定可能归顺的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;毕竟都是大西军，不到万不得已，没必要兵戎相见。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;二来他现在手头的兵力有限，若是攻城肯定会有损伤。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然李定国有自信取胜拿下建昌，但若是因此损伤了太多兵力就有些不划算了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所谓上兵伐谋，若是能够劝冯双礼主动打开城门自然是再好不过了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;伸手不打笑脸人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;见李定国和颜悦色，没有丝毫要开战的意思，冯双礼也不好立刻撕破脸皮。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他清了清嗓子道：“安西将军怎么会突然之间来到建昌？陛下不是调你回援成都了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;清军突入四川攻城掠地的事情冯双礼多少也有耳闻。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;据他所知，刚刚登基称帝的孙可望想要借刀杀人，利用李定国抵抗清军的机会消耗他的实力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这样既可以击退清军又可以削弱李定国的力量，可谓一箭双雕。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李定国在这个时候不正应该在成都和清军激战吗？可他却率部来到了建昌，这实在是太可疑了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李定国见冯双礼主动问起，心中暗暗叫好，和声笑道：“怎么，冯都督还不知道吗？如今孙可望已经降清了啊，哪还有什么大西皇帝。某率部赶到成都的时候孙可望正舔鞑子的腚眼子呢。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;冯双礼见李定国话说的如此粗鄙不堪，不由得暴怒。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“安西将军请自重。你这么在私下编排陛下，难道就不怕我冯某人参你一本吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李定国双手一摊做出一副无所谓的样子：“我还没说完呢。我正准备率部攻城，谁料鞑子主动杀了出来。双方激战缠斗在一起杀的难解难分。你猜怎么着，这个时候明军从背后杀了出来。啧啧，这简直是比唱戏还精彩呢。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你胡说八道！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;冯双礼养气的工夫显然不够精湛，被李定国激了一番直接爆了粗口。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“还有什么你不能说的，还有什么你不敢说的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你想知道结果吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李定国眉毛一挑道：“我便告诉你，明军把鞑子打的落花流水。你口中的大西皇帝落到了我的手里，然后我用弓弦亲自勒死了他。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;听到这里冯双礼彻底气炸了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“够了，你不要再说了！你想扰乱我军军心，可你这做法也太低劣了。你认为我会相信吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;冯双礼怒斥道：“安西将军，为人臣者便要有为人臣者的本份。现在已经不是先帝在时了，就凭你方才说的那一番话，陛下完全可以治你的死罪！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李定国十分无奈的摇了摇头道：“我已经说过了，孙可望已经被我勒死了。这种投降鞑子的软骨头不配做大西皇帝。如今突入四川的鞑子尽数被灭，成都落入明军之手。我这才率部南下来到建昌。我给你一个选择的机会。要么你打开城门让我部大军进城休整。要么我率部亲自打进去。冯都督你考虑一下吧，我给你一炷香的时间。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;冯双礼的肺都要气炸了。他怒吼一声道：“不用了！收起你那先礼后兵的鬼把戏吧，要打就打，冯某人乐意奉陪！”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>