<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第五十三章 填壕</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第五十三章 填壕
</div>
<div class="bookname">
	<h1>第五十三章 填壕</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;（第一更，求推荐票啊，老坤需要大家的支持！）<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;六月二十一日，觉罗巴哈纳部、石廷柱部清军进抵德州。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;二十二日，觉罗巴哈纳命人写下劝降书绑在箭上射入城中，无果。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;二十三日，清军开始攻城。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;德州城周长5100米，城高12米，墙厚9米。护城河宽15米，深6米，共开有五个城门。其中东门为长乐门，南门为朝阳门，西门为聚秀门，北门为拱极门，西北为广川门，又称小西门。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;觉罗巴哈纳派人绕城一周仔细勘察，与石廷柱一番商议，最终决定从北门、西门实攻，至于东门、南门则只作佯攻。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这并非是觉罗巴哈纳不想合围，而是他们此次带的甲兵数量有限。德州又是大城，若是清军兵力分得太开，反而每一侧都占不到优势。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;由于此次出师太急，清军并没有来得及打造太多的攻城器械，就连撞城锤都是现砍树木制做的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过觉罗巴哈纳却对攻下德州信心满满。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在他看来此时德州城中一定十分空虚，最多就是由一些衙役、乡兵驻守。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只要满洲勇士发起一轮冲锋，就能轻易的拿下此城。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一想到德州城内的金银财宝，牲口女人觉罗巴哈纳便不自觉的吞了吞口水。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;哈哈，摄政王待他不薄啊，竟然把这么一桩美差交给了他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而一旁的石廷柱神情却有些严肃。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在他看来大战前夕的气氛有些奇怪。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;安静，太安静了。为何德州就像一座死城一般？难道城中的人都逃完了？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不论如何，城还是要攻的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;随着一声声海螺号响起，旗兵们开始驱赶抓来的壮丁，勒令他们扛着一包包沙袋朝护城河冲去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;德州城的护城河实在太宽，现在又是夏日，要想过河必须要用沙袋把护城河填满。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;旗兵们当然不会去做这个工作，填河的过程太过危险，自然要由这些抓来的壮丁顶在前面。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;从京师出发时清军抓来的汉人壮丁有两万人，这些人在路上死了一半，清军在德州附近又抓了五千人，是以现在能够被他们驱驰填河的壮丁约有一万五千人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;觉罗巴哈纳与石廷柱进行了粗略的任务分配。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;觉罗巴哈纳率领两千满洲正蓝旗甲兵攻北门，并派出五百甲兵佯攻东门。石廷柱率两千名汉军镶红旗甲兵攻西门，同时派五百名甲兵佯攻南门。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于充当炮灰的壮丁，大概也是按照这个比例分配。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈顺才的运气不错，被分到攻西门的队列中。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;西门是主攻方向，这意味着他可以第一时间进入城中抢掠。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;按照陈顺才以往的经验，破城后一定要冲在前面。冲的越快的人抢的越多。若是被分到佯攻那侧，多半得等到其他甲兵从城中打开城门才能进城，也就只能分些残羹冷炙了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;石主子说了，如今的德州城极为空虚，大伙儿只要一轮冲锋就能拿下城头进而控制整个德州城。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这种情况下陈顺才可不希望落到后面，让同伴把金银财宝都抢光了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“快，不要偷懒，把沙袋丢到护城河里！扔完之后立刻再去搬，动作迅速点！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对这些抓来的壮丁陈顺才可没有什么好脸色。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;也许他在行军途中对这些汉人动过恻隐之心，可现在是在攻城，他绝不会再生出一丝同情。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;战争是一定会死人的，只要死的不是自己又有什么好在意的呢？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;嗖啪！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一个汉人壮丁步子挪的稍慢了些，陈顺才兜头便甩下一鞭子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那壮丁脊背上顿时绽开一道血红色的鞭痕，一个趔趄险些跌倒。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“再偷懒，小心老子一刀剁了你！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈顺才恶狠狠的啐出一口痰来，扬言威胁道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;护城河越早填上他们便能越早攻城，不然几千旗兵只能在护城河对岸干瞪眼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“快，再快一些！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈顺才不停的挥舞着鞭子，心中有一种说不出的快感。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;原先做包衣奴才的时候他也没少挨鞭子，鞭子挨的多了便知道主子什么时候会生气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;渐渐的陈顺才便学会了忖度主子的心思，竭尽所能的讨好他们。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如此一来，陈顺才挨的鞭子越来越少，虽然偶尔也会挨上几鞭，那也是提醒他做奴才的本份不是？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不正是因为他做奴才做的兢兢业业，忠心耿耿，才被主子抬了旗，成了一名汉军旗人吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;再看看眼前这帮蠢材，一个个偷奸耍滑不肯老实干活，不是找抽吗！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那些被鞭子驱赶的壮丁扛着沙袋拼命朝护城河冲去，口中默念着菩萨保佑、佛祖庇护。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只是他们所求的佛祖菩萨似乎并没有显灵，在其进入弓箭射程后，城头上便射下漫天箭雨。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然壮丁们竭力用沙袋护住面颊，还是会有箭矢射中他们的周身要害。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这些壮丁的身上别说甲胄，就是一件完整的衣裳都没有，故而一般的雕翎箭都能对他们造成极大的杀伤。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不少壮丁还没冲到护城河边就被射中，像滩烂泥般的软倒下去。一些壮丁则侥幸的冲到了河边，一将手中沙袋扔到河里便拼命往回跑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只是他们中的多数还没跑出几步便被追身箭钉死。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那些逃回去的壮丁在旗兵的威逼下不得不又扛起一袋沙子重复之前的任务。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈顺才见状微微有些愕然。城头的守军似乎箭矢很充足，完全没有收着射的意思。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过这也正常，德州毕竟是大城，又是山东的西北大门，城中武备库肯定很充实。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但那又怎样？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们也就是倚仗着坚城才能负隅顽抗一会儿，等到壮丁们把护城河填上，旗兵们便可以轻易蚁附攻城拿下德州。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只是城头射下的箭雨没有停下的意思，壮丁死伤比例太高，不少都畏惧不前，一些甚至掉头跑了回来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈顺才见状不由得大惊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;要是让这些壮丁冲散了甲兵队列，那可不得了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他深吸了一口气抽出腰刀呵斥道：“不许逃跑，不许逃跑。后退者死！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其余汉军镶红旗甲兵也大多和陈顺才一样抽出刀来，若是这些壮丁再不止步便要挥刀屠杀
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>