<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第一百五十六章 诈降献关（第二更，求订阅，求月票！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第一百五十六章 诈降献关（第二更，求订阅，求月票！）
</div>
<div class="bookname">
	<h1>第一百五十六章 诈降献关（第二更，求订阅，求月票！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;李自成紧赶慢赶，终于率军赶在阿济格到达之前抵达西安。!<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;西安城有不少大顺朝的武官员、将士家属，绝对不能轻易舍弃。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他便是要撤退，也一定会带着这些亲眷一起走。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李自成决定从西安立即撤退，经蓝田、商洛向河南转移。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;由于时间太过匆忙，他来不及派人前去通知陕北的高一功、李过这一重要决定。不过李自成相信以李过、高一功的实力，是肯定可以成功带领军队转移的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李自成是流寇出身，对于携带家属行军很有经验。他的经验便是把家属单独编为一个老营，将士们不能轻易与老营相见。这样军队的战斗力不会受到影响。将士们反而会因为保护家眷而奋勇战斗，流干最后一滴血。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;为了适应行军转移的需要，将士们娶得都是大脚婆娘，走远路根本没有问题。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然建立大顺政权后一些将领有所腐化，娶了几房妾室，但也都是天足姑娘。再说这次大转移，李自成只许他们带发妻，至于妾室一概不许携带。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;让李自成感到欣慰的是，老八队的弟兄们并没有因此生出任何不满情绪，即便是刘宗敏这次也没有公然反对他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;面临困境，老兄弟们再次拧成了一股绳。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李自成面临过当今局势还要恶劣的情况，但也‘挺’过来了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当初潼关惨败给洪承畴、孙传庭，被打的老营失散，身边只有十几个人，所有人都认为他不行了，可他是憋着一股劲，在商洛深山潜伏了一段时间后东山而起。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他李自成从不信命。我命由我不由天！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如今的形势当初可是好太多了。虽然他放弃了陕西，但却是主动放弃，兵马大部都得到了保存。如今李自成手的军队有近十万，这还不算李过、高一功驻防在陕北的十来万兵马，以及白旺在湖广四府的八万大军。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;把这些兵马全算，李自成手还有近三十万人，将来完全有机会卷土重来，和清军堂堂正正的对决。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他现在要做的是尽可能的保留有生力量，进行战略转移。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陕西，咱老子还会再回来的！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;回望了一眼西安城，李自成暗暗发誓道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“将军，我们献关投降吧！这潼关是无论如何守不住了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;潼关城头，亲兵王桂川跪倒在地冲留守潼关的巫山伯马世耀叩头道：“陛下已经回师西安，肯定不会再回来了，我们仅仅凭借七千多人怎么可能抵挡鞑子大军啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;现在的形势两日前还要严峻，潼关城墙的垛口近乎被炸平，将士们不得不冒着如蝗的羽箭守城，伤亡数量越来越大。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然城墙暂时还没有被轰开，但也是迟早的事情。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;继续守下去，马世耀和这七千多顺军都得跟着潼关陪葬。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但要让他这么背叛李自成投降鞑子，他还真的有些难以接受。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;见马世耀开始犹豫，王桂川咬牙道：“实在不行，咱们可以先诈降，先活下来再说。到时候再找机会逃走是了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;马世耀闻言眼前一亮。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个法子好！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;正所谓兵不厌诈，诈降再复叛的情况历史多了去了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;远的不说，那八大王张献忠是个好手。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他屡次接受朝廷招安，可每一次没过多久会再次举起反旗，用拔吊无情来形容是再合适不过了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;既然八大王可以这么干，为何他马世耀不行？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;活下来，活下来才有报仇的机会。若是变成了一具尸体，还怎么报仇？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;马世耀吞了一口吐沫，终于下定了决心。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好，我们便诈降！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;马世耀既已决定便不再犹豫，立刻派王桂川经由马道下城，去通知守军打开城‘门’。这些顺军都是马世耀的嫡系，根本不作犹豫遵照执行。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说实在的他们早想投降了，要不是自家将军一直撑着，城‘门’早被打开了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过现在也不算晚。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多铎久攻潼关不下，心十分烦躁。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;便在这时他突然看到潼关的城‘门’大开，惊讶的长大了嘴巴。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“恭喜王爷，贺喜王爷，守军畏惧王爷虎威，献关投降了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孔有德见状立即抓住机会吹捧道：“这真是天大的喜事啊，大军不必再在攻城受到折损了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“恩。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多铎嗯了一声，心十分欢喜。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;满洲人口稀薄，八旗军的每一个人都很珍贵，死一个少一个。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;能够兵不血刃的拿下潼关自然是好事。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;耿仲明见孔有德拍起马屁也不甘示弱，媚笑着凑到多铎面前道：“奴才觉得是天在保佑王爷，不然为何王爷此次西征，一路所向披靡？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多铎哈哈大笑道：“怀顺王说的有点意思，来啊，随本王入城！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“王爷且慢！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孔有德急忙道：“虽说王爷洪福齐天，但奴才怕这其有诈，不妨令城守军全部出城受降！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孔有德的这个建议立刻得到了多铎的采纳。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;汉人诡计多端，诈降的情况很普遍。这次他们突然投降，确实不可不防。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“恩，依照恭顺王说的办吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只要城守军全部出城受降，绝对耍不了什么‘花’招。他们若是想要发难，多铎麾下的大军可以立即屠光他们。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多铎派人将受降条件告诉了马世耀，马世耀咬了咬牙最终还是同意了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;没办法，人在屋檐下，不得不低头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他现在要做的是让这七千多弟兄先保住‘性’命。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;留得青山在不愁没柴烧，迟早有逃走和闯王汇合的机会。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;为了表示投降的诚意，马世耀索‘性’命麾下士兵把兵器全部丢掉，赤手空拳出城受降。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;眼看着七千多顺军相继走出潼关城，多铎兴奋的无以复加。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好好好，本王立下不世大功，摄政王那里肯定会多加褒奖。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;此次他和阿济格分别领兵出征，其未必没有多尔衮考校的意思。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽说多铎和阿济格是亲兄弟，但也想争个高下出来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;拿下潼关，再顺势一鼓作气夺取西安，多铎便将在这次西征彻底压过阿济格，成为实至名归的大清第一名将！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;的小说站！
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>