<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第六十九章 分而治之</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第六十九章 分而治之
</div>
<div class="bookname">
	<h1>第六十九章 分而治之</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;（感谢书友雪洗天心的100币打赏，求推荐票支持！）<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然皇帝陛下的圣旨内容十分简短，却是给了堵胤锡一个努力的大方向。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;分而治之！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;左良玉麾下共有三十六营：马进忠、马士秀、王允成、惠登相、吴学礼、张应祥、杨国栋、徐懋德、毛显文、张光璧、金声桓、常登、徐勇、张应元、徐育贤、卢光祖、卢鼎、李国英、徐恩盛、高进库、胡友声、徐元仁、常国安、杜应金、印启贵、于自成、段凤翔、秦天禄<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其中实力最强的当属金声桓部。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;堵胤锡决定先从此人下手。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;金声桓是陕西榆林人，原是巨寇，匪号“一斗粟”，后来投降左良玉，部众并没有被打散而是完全保留建制依旧由金声桓统领。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;金声桓不是左良玉麾下嫡系，但却是左镇三十六营中最能打的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在对抗顺军白旺部时，左良玉最为倚重的便是金声桓。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;马进忠的实力排在左镇三十六营的第二位。此人是陕西延安人，别号“混十万”，早年间也是颇有名气的巨寇，后来于陕州战败，投降了左良玉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;巧合的是，金声桓和马进忠都是流贼出身，又都是陕西人，故而整个楚镇中陕西兵占据了很大一块比例，足有七八万之多。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若是能争取到这二人，堵胤锡有信心架空左良玉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只不过这二人都是一股流寇习气，堵胤锡还没有想好用什么方式拉拢。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;直接用银子贿赂？且不说堵胤锡拿不出大笔银子，便是他能够拿出来恐怕只能满足二将一时胃口，不是长久之计。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;许以高官厚禄？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;堵胤锡似乎没有这个权力。他虽然得了天子密旨，但没有权力代天子向金声桓、马进忠允诺。在手中没有王命旗牌的情况下，以堵胤锡本身的职位，不足以越过何腾蛟直接向左良玉要人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这差事有些难办啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;堵胤锡思忖良久，突然灵机一动心中狂喜。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;既然很难通过内部手段达到目的，便可以借助外力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;堵胤锡要借助的外力，便是白旺。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;作为李自成留在湖广的大将，白旺控制了荆州、襄阳、承天、德安四府，并对武昌虎视眈眈。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卧榻之侧岂容他人酣睡。对此，左良玉自然是极为忌惮的。虽然这几个月来，顺军和明军没有爆发大规模的冲突，但局部摩擦时有发生。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;堵胤锡决定利用这点做些文章。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“来人呐，备轿！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;湖广巡抚衙门。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;何腾蛟在书房之中聚精会神的临帖，左右各立着一个女子为他打扇。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;六月末的天气着实是热，连扇出来的风都带着浓浓的暑意。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;何腾蛟叹了口气将笔放在笔架上，冲身旁的一名女子吩咐道：“取些冰镇的饮子来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那名女子遵命照做，何腾蛟则一撩袍摆坐在了官帽椅上闭目养神。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;待那冰镇饮子取来，何腾蛟才睁开眼睛，细细嘬了一口，只觉得一股通透的寒意从嗓子眼通到了周身肺腑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;舒坦，真他娘的舒坦！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;便在这时，有门子来报，湖广按察司副使堵胤锡求见。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;何腾蛟皱了皱眉，心中暗道这堵胤锡就会添乱，大热天的不在按察司衙门好生待着，来巡抚衙门作甚。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然感到十分不满，何腾蛟还是得见堵胤锡。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他摆了摆手道：“把堵臬台请进来吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;何腾蛟养气的功夫着实一流，须臾的工夫便收起了愠意，面色平静如水。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“下官拜见抚台大人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;堵胤锡进到屋中冲何腾蛟深施一礼，之后双手束立，微微垂首。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“仲缄（堵胤锡的字）来找本官可是有要事？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;何腾蛟轻轻捋着胡须，不疾不徐的说道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“抚台大人可知朝廷为何只为宁南候晋爵，而不为抚台加官？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;堵胤锡却是没有直接回答何腾蛟的问题，反问一句。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;何腾蛟简直被堵胤锡问懵了。这厮不是拿自己开涮呢吧？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;湖广官场中有谁不知道他何腾蛟已经是实际意义上的总督。他和左良玉一文一武，配合的十分默契，地位稳如泰山。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但他毕竟名义上还是湖广巡抚，只要朝廷一日不任命他为总督，这层窗户纸便捅不破。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;该死的是堵胤锡竟然赤裸裸的在何腾蛟面前说了出来，难道是为了羞辱他？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“朝廷自有朝廷的用意，本抚只知道忠心王事，报效朝廷，旁的事情无暇去想。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;何腾蛟语调冰冷，就差端茶送客了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;堵胤锡却丝毫不急，和声道：“下官以为，朝廷之所以不给抚台加官，乃是因为荆州、襄阳、承天、德安四府迟迟没有收复。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;何腾蛟哼了一声道：“荆州、襄阳、承天、德安四府又不是在本官手上丢的，与本官何干？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;何腾蛟这么说，倒也不是全无道理。自崇祯朝起，大明对于文官守土有着十分苛刻的规定。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;文官失土则必定问责，多半难逃断头一刀，家人也会受到牵连。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;故而文官们在得知城池必破时往往都会自杀殉节，以此保全家人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可何腾蛟却是在李自成打下荆州、襄阳、承天、德安四府后才出任湖广巡抚的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这四府不是在何腾蛟手上丢的，何腾蛟当然不用为此负责。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“抚台此言差矣。荆州、襄阳、承天、德安四府虽然不是在抚台手上丢的，但不意味抚台没有义务收回失土。以下官看，朝廷对湖广局势十分关注。若抚台能够收复四府，则必定升任湖广总督。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;堵胤锡说罢紧紧盯着何腾蛟。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说的轻巧！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;何腾蛟直想翻白眼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;荆州、襄阳、承天、德安四府岂是那么容易收复的？白旺那厮是李自成麾下一员猛将，有他坐镇四府防御端是滴水不漏。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;仿佛看出何腾蛟心中所想，堵胤锡接道：“下官有一计，可保重挫白贼！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;闻听此言何腾蛟连忙催问道：“快快讲来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;堵胤锡将整个计划与何腾蛟说了一遍，不忘强调这件事必须由左良玉亲自出面。谁料何腾蛟紧皱眉头道：“宁南侯会同意吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这便要看抚台的了。”堵胤锡深吸了一口气道：“功成与否在此一举。”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>