<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第二百五十章 试探博弈（第一更，求订阅，求月票！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第二百五十章 试探博弈（第一更，求订阅，求月票！）
</div>
<div class="bookname">
	<h1>第二百五十章 试探博弈（第一更，求订阅，求月票！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;“这个老刘，脾气真是太暴了一些。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;田见秀皱着眉头说道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高桂英叹道：“这件事我是支持玉峰的。你放手去做吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高桂英在这支顺军残部之中还是颇有些威望的，她既然已经发话，其余人等自然不再多说什么。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“别管将来咱降不降明，都是一起拼杀并肩作战过的老弟兄，这一点不会改变。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;田见秀似乎有预感，这次会有相伴多年的老兄弟离开，故而颇是煽情的说道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“玉峰，你说这些作甚？大伙儿这么多年都一起走过来了。谁要是在这个时候拉杆子单干，还他妈的是个人吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;袁宗第倒是仗义，第一个站出来响应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘芳亮也帮腔道：“是啊玉峰，你放手去做，弟兄们绝对不会拖你后腿。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“沈督宪，顺贼是何时来到广东的？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;广州总督衙门内，文安之沉声问道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;照理说沈犹龙是两广总督，官位品级不在文安之之下，不必要对文安之态度太过谦卑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可如今他是有求于人，文安之领着黄得功的数万精兵，是得罪不得的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;再说，文安之毕竟是天子钦命的招抚顺贼钦差，沈犹龙便是不给文安之面子也得给当今天子面子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这叫不看僧面看佛面。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“钦差大人，据本官所知顺贼进入广东已经十余日，还好钦差大人领兵赶至，解了广东燃眉之急啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沈犹龙不着痕迹的送上一记马屁，文安之却是推了推手道：“这都是圣上英明。我们做臣子的更应该鞠躬尽瘁为圣上分忧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一番场面话说完接下来就该谈论正题了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;文安之沉吟了片刻道：“按照沈督宪的说法，这顺贼进入广东后并没有烧杀抢掠，也没有攻打城池的意思。看来他们是想和沈督宪修好啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沈犹龙连忙道：“顺贼心里是怎么想的，本官也不知啊。不过本官已经第一时间向朝廷上疏。吾皇圣明，这不就下旨命钦差大人来招抚了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沈犹龙是担心文安之怀疑他和顺军残部之间有什么秘而不宣的协议，毕竟顺军进入广东后秋毫无犯，完全不符合他们的流寇作风。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沈犹龙本人也很疑惑。为了撇清自己他第一时间向朝廷上疏。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;要是如此还被怀疑，那他可真是太冤了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“沈督宪，本官觉得顺贼现在肯定有分歧，正是我们招抚的好时机。本抚这便写一封招降书，叫黄将军派人送到顺军营中去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沈犹龙点了点头道：“钦差大人这招试探着实高明，咱们先探探这池水到底有多浑。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“玉峰，那文安之派人送招降书来了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;袁宗第来到中军大营之中，十分兴奋的说道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你果然是料事如神，那文安之先耐不住性子了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;原来田见秀的策略是以不变应万变，逼着文安之先出手。先出手的那一方会先露出破绽，也会进而变得被动。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“先不急，把招降书拿来，我们看看条件再说。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;袁宗第命人取来招降书，又叫来高桂英、刘芳亮、左光先等主要顺军将领，众人一起来看。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这封招降书并不长，内容也很简单，只说明了朝廷招抚顺军的意愿，至于待遇什么的只字未提。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这文安之葫芦里卖的是什么药？写这么一封空洞无物的招降书来逗我们玩吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘芳亮感到十分不满。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;招降若真的有诚意，就该把待遇写在书子里，大伙看过一目了然。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;像文安之这样云山雾罩，有哪个敢受降？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我看这文安之是在试探我们呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;田见秀淡淡道：“我们一直不主动派人去和谈，就是为了占据主动。现在文安之把一封语焉不详的招降书子送来，就是为了夺回主动。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“此话怎讲？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;袁宗第追问道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“老袁你想啊。文安之送来这么一份书子，我们肯定不满意。若是性子急一些的，恨不得立刻写下条件，叫人回送回去。如果文安之拿到了条件，不管我们提的是什么，就已经改不了了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;田见秀不疾不徐的说道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嘶！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;袁宗第闻言直是倒抽了一口凉气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“玉峰真有你的，你要是不说，我还真被姓文的给糊弄了过去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其实这其中的道理细细一想并不难理解。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;顺军如果主动提出条件，那条件就只能是这些。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而如果是文安之先提出条件，顺军大可以讨价还价。一次不行，那就两次，两次不行，那就三次。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;总之，顺军可以不停的磨，磨到文安之不耐烦答应他们的要求。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可现在他们却是完全的被动。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“那怎么办？他书子已经送来了，我们总该有所回应吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;现在顺军内部主降的占据大多数。除了刘体纯等个别将领，大部分人都认为归降明廷比割据一方恢复实力要更稳妥。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;眼下已经不是崇祯年间了，鞑子已经打下来大半个北方，眼看着就要鼎定天下，如果明廷覆灭了，覆巢之下难有完卵，顺军被鞑子剿灭也是迟早的事情。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一开始大伙儿看不太清，但现在却是都明白了。别管明廷之前与顺军的嫌隙有多深，现在都不是闹脾气的时候。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“回应，当然要回应！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;田见秀眉毛一挑道：“既然文安之逼着我们先表态，那我们就成全他。不过这一次我们要把条件定的高一些，让文安之难以接受。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“什么条件？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“封王！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;很快田见秀便写了一封回信，并叫送招降书的士兵带回去给文安之看。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;文安之在看到这份回信后放声大笑了好一阵才停下来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“沈督宪也来看看吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;文安之将回信随手递给了沈犹龙。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沈犹龙此刻心中十分好奇，是什么内容让一向沉稳有加的钦差大人失态大笑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他接过书信展开来看，越看面色越难看。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“荒唐，真是荒唐！这些顺贼竟然如此厚颜无耻。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沈犹龙慨然道：“大明自立国以来何时在臣子生前封过异姓王，这不是欺人太甚吗？钦差大人一定不能够答应！”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>