<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第三百零三章 天生的演员（第一更！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第三百零三章 天生的演员（第一更！）
</div>
<div class="bookname">
	<h1>第三百零三章 天生的演员（第一更！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;四蛋撇了撇嘴道：“不是我说啊陈老叔，你这年纪了就别掺和当兵的事了。赶快讨个媳妇生个娃续上香火才是正经事。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈老实被憋的涨红了脸，瞪了四蛋一眼道：“你这娃娃怎么说话呢？你以为我不想讨媳妇吗？可咱这一穷二白，家徒四壁的有哪个女子愿意嫁过来。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;四蛋冲陈老实挤了挤眼道：“没有钱可以赚嘛，陈老叔你又不是没看到咱的好日子来了。对了，听说县里在招收文艺队员，你要不要去试试？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“文艺队员？啥意思？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“就是，就是演戏的，只不过这戏目都是新编出来的，比如抗击鞑子。当然，咱川东这边抗击献贼的戏目多一些。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;四蛋咽了一口吐沫有滋有味的说道。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这样子啊。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈老实还真是被勾起了兴致，若有所思的琢磨了起来。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;过了良久他叹了一口气道：“这既然是演戏，肯定对年纪有要求。我这把岁数了能演个啥？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哎呀，陈老叔这你就说错了。这演戏呢自然是什么岁数的人都得有，不然咋演的真呢。我看呐现在文艺队里的都是一些二十来岁的队员，就缺你这种！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈老实还是觉得有些心里没底：“那，那你说我到底适合演个啥？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“献贼，陈老叔你太适合演献贼了！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;四蛋猛然一拍脑袋说出了一句让陈老实惊掉下巴的话。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啥？献贼？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“对啊！陈老叔你看啊，你和献贼年纪相仿，这就是天然的优势啊。那些二十来岁的队员演献贼，真是尴尬死了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈老实闷了一口气道：“不行，说什么也不行。我本本分分一个老实人，怎么能去演献贼呢。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哎呀，陈老叔，这就是你的不对了。演戏咋能和实际混为一谈呢？你看演抗击东虏的戏里，还有演多尔衮、多铎的呢。照你这么说这些队员还不得找块豆腐撞死了去？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我看差不多！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈老实没好气的说道。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“陈老叔，我可是听说咱这万县文艺队在招人呐，一个月二两银子，只需要演十场戏。除了演戏和排练的时间，其余时间都可以自己安排，不影响你种地！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;无奈之下四蛋只得使出了杀手锏。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一听这待遇陈老实一双眼睛立刻瞪得浑圆：“一个月二两银子，只需要演十场戏？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“对啊！三天一场戏，划算不？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;四蛋双手叉腰道：“要不是我要去当兵，还真想去文艺队试试呢。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈老实一拍大腿道：“嘿，别说了。我去，我去还不成吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“真的要去？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“去，傻子才不去！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈老实咧开嘴，笑的灿烂极了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;县衙西北方向的城隍庙前排起了长队。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;来的都是应募文艺队的百姓。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其中既有十来岁的娃娃，也有三四十岁的壮年。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈老实挤在一堆二十来岁年轻人中间还是有些紧张。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他不住的深呼吸，努力使自己的心情平复下来。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可以的，你一定可以的。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不就是演个戏吗？又不会掉块肉。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那可是一个月二两银子啊，乖乖，便是让他演鞑子他也认了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;等待的时间是漫长的。因为来应募的人不仅要报名登记，还得进入城隍庙试戏。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈老实紧紧盯着那扇大门，发现从中走出来的人表情不一而足。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;有的欣喜有的沮丧。有的兴奋有的失望。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;哎，真不知道轮到自己的时候会是什么样子。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过既然已经走到这一步了，便顺其自然好了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;得之我幸，失之我命。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;又过了半个时辰终于轮到了陈老实。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他走到登记的书吏前咽了口吐沫道：“我想应募文艺队员。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“姓名，年龄。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“陈老实，今年四十三了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那书吏飞快的记下了这些信息，点了点头道：“进去吧。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哎！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈老实连忙应道，垫着步子迈过门槛进庙去了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一进院子他就被眼前的景象惊呆了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只见整个院子都被应募的人占满，他们分为多组在试戏，旁边还有专门的书吏记录。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈老实看的兴起竟然忘了往里走。直到有人喊他的名字才如梦方醒，大踏步往里走。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“陈老实，你去换上戏服，先看一看这段戏，过一刻来演演看。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一个书吏将一张薄纸递给陈老实，不着痕迹的说道。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“那个我不识字。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦，没什么。那边有专门的人给你讲戏。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说罢往老槐树的方向点了一点。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈老实十分欣喜的猛点了点头。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“多谢，多谢！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他快步走到老槐树下，冲那三十来岁模样的书吏恭敬道：“还请差爷帮我念念。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那书吏点了点头，接过薄纸一边捋着山羊胡一边说道：“嗯，你这次演的是一出献贼的戏。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啥！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈老实直是惊呆了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;真的要演献贼啊，他就这么像吗？ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;还真让蛋娃说着了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那书吏皱眉道：“怎么，有什么不可以吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈老实连连摇头：“不，不，当然可以。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“那我该咋演？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你就演一出张献忠打了败仗暴跳如雷的戏，面目越狰狞越可怖越好。记住，一定不能有顾忌，演的越真实越好。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈老实似懂非懂的点了点头。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“还有啥要要注意的吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“没了，这试戏就是试个感觉，戏词并没有要求，全靠随即发挥。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈老实应了一声，却是感到有些为难。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他此前从未演过戏，不给他戏词该咋演？ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他绞尽脑汁，在脑中苦思冥想关于张献忠的一切，终于硬着头皮演了出来。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你个驴球子给老子滚，都给咱老子滚！再不滚老子割了你的吊下酒！龟儿子，一群龟儿子” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈老实演的很投入，且越演越兴奋，指着方才给他说戏的书吏就破口大骂。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那书吏铁青着一张脸，一句话都说不出。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈老实骂的兴起，完全没有停下来的意思。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;最后还是那书吏喊了停。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“咳咳，你演的还不错。只是面部表情不要那么夸张。另外肢体动作再到位一些，力气一定要运足，不要跟没吃饱饭一样。好了，去那边试戏吧！”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>