<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第四十二章 陈顺才的梦想</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第四十二章 陈顺才的梦想
</div>
<div class="bookname">
	<h1>第四十二章 陈顺才的梦想</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;陈顺才神情有些恍惚，仿佛回忆起多年前的时光。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;直到牛录章京（注1）的咆哮声传来，陈顺才方是一个激灵，快速的走出营房来到小校场上集合。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;身旁全是他熟悉的人，陈顺才和本牛录的几个熟人打了招呼，然后小心翼翼的走到队列最后。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;自打大伙儿跟着摄政王进驻北京，就真真切切的过上了好日子。那些有家室的每人都分到了一套宅子，至于这宅子之前的主人，自然被毫不留情的赶了出去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;反正他们都是低贱的汉人，有什么资格跟高贵的旗人争夺资源？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;据说摄政王还有意在北京内城建立满城，让旗人都住进去。这样一来最好的资源都可以让旗人优先享用，汉人只配吃旗人吃剩下的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只不过因为现在天下尚未平定，摄政王担心汉人反抗，故而暂时没有命人修筑满城。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈顺才从来不认为自己是个汉人，尤其是抬旗之后。他坚信摄政王不会亏待他们这些从老汗时就跟着大清打江山的奴才。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然汉八旗比不了满八旗和蒙八旗，但既然抬了旗总归也是旗人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈顺才相信过不了多久石主子就会分给他一套阔畅的大宅子，再分给他十几个包衣阿哈<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;哈喇子从陈顺才的嘴边流下，他都顾不得去擦，此刻他满脑子都是将来的好日子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;过了不知多久，汉军厢红旗固山额真石廷柱在一众奴才的簇拥下走到点将台上训话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;包括陈顺才在内，一众旗人都肃静下来，巴巴的望着石廷柱。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对于这位主子，陈顺才是十分敬重的。毕竟石主子可是纯粹的满人出自瓜尔佳氏，只不过早年间在明朝任职才用的汉姓。后来老汗起兵伐明，石主子毫不犹豫的投了诚。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;先汗叫石主子独领汉军厢红旗，足见荣宠。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;事实上，满人在汉军旗中任职并不是什么稀奇的事情，侍奉这些真满洲主子陈顺才反而觉得舒坦。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;毕竟他已经习惯了被真满洲主子使唤，到了军中也改不了了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;和其余汉军旗人一样，陈顺才用心听着石廷柱说的每一句话。直到弄明白石主子是要带着他们收取山东后，陈顺才方是长松了一口气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吹响海螺号无疑是要打仗，而眼下大清的心腹之患自然是西边的伪顺政权。虽说顺军打不过八旗勇士，但毕竟也算是个劲敌。跟这样的对手交战，死伤是难免的。陈顺才好不容易才抬旗混到了今天的地步，可不希望死在胜利前夕。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以若是石主子要他们去山西打顺军，那绝不算是个好消息。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但山东就完全不同了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;据说现在山东是被一群支持明朝的官绅控制，兵力十分空虚。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这时候石主子挥师南下，简直就是如入无人之境。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山东的富饶让陈顺才记忆深刻。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;早年间跟着大汗抢西边，就数在山东收获最为丰盛。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;比起畿辅来，山东的府县富得流油，尤其是运河沿线，粮食银子抢都抢不完。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈顺才还记得在临清时，跟着哈勒泰主子抢了一家豪商，光是银子就装了满满一麻袋，拖回口外的途中累死了三匹驮马。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然连年战乱，山东已不比几年前，却也肯定是比京畿地区富庶的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;摄政王既然派石主子率兵武力收取山东，肯定是对拥护明朝的官绅不满。按照满洲人的传统，势必会对这些府县实行屠城。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只要一屠城，城中的财富不都是他们的了吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;纵然有觉罗巴哈纳主子统领的满洲正蓝旗同行，财富也足够分。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;想到这里，陈顺才便吞下一口吐沫。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他已打定主意，这次前往山东不但要抢掠银子，还要抢个女人回来。现在他已经不是当年的包衣阿哈了，而是个高贵的旗人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;旗人怎么可以没有自己的女人？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;偏偏京师的女子都被满八旗的未婚旗人盯上了，即便剩下一些，也是留给蒙八旗的，陈顺才要想抢一个来绝不容易。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;故而他才退而求其次，决定从山东抢一个回来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;恩，要抢一个胸大屁股圆的，这样好生养。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;抢，抢他娘的！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈顺才双眼露出野兽般的贪婪目光，呼吸也变得急促起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;便在这时，石廷柱宣布此次出兵山东，汉军厢红旗兵丁抢掠的银钱只用上交一半，其余皆可自留。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一时间校场内众人皆振臂高呼：“大清万岁，大清万岁！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈顺才眼角有热泪划过，心中暖洋洋的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;石主子对我们可真好啊，有个这样的主子便是战死也值了！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;南京，乾清宫。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;东暖阁御案上摆着一份奏疏。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;奏疏是内阁首辅史可法上的，内容很简单乞骸骨。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;或许是朱慈烺肃清朝堂的动静搞得太大，史可法有些看不下去了？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺知道东林党人一直都是以忠正自诩的，虽然往往他们达不到自我标榜的高度。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对历史熟稔的朱慈烺当然知道史可法的个人气节毋庸置疑，但除此之外这位东林重臣似乎并没有太多值得称道之处。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;原本历史中，就是因为史可法的庸碌无为，导致弘光朝廷错失收复山东的大好机会，将齐鲁大地拱手让给满清。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其督师期间，基本就是给四镇和稀泥擦屁股，完全起不到文臣节制的作用。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这样一个臣子，在内阁当当吉祥物是可以的，却绝对不能委以重任。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这也是朱慈烺拜史可法为首辅却一直不予问策的原因。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若继续保持这样的关系史可法别扭，朱慈烺也别扭。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;何况此次谋逆大案牵扯到的东林党成员着实不少，作为东林党领袖的史可法压力可想而知。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在这个节骨眼上史可法上书请辞，其实就是在表明他并非贪恋权位，也没有替东林党争权夺利的意思。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺没有拒绝的理由。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若是他拒绝了，等于是把史可法架在火上烤。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一般来说重臣辞官，天子都会象征性的挽留。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;整套流程下来，就是三辞三留。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但朱慈烺没兴趣走完一整套流程，他决定一次性通过史可法的辞官奏请。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;作为上位者，有责任把合适的人放在合适的位置上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而显然史可法不适合再做这个大明首辅了<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;注1:天聪八年，皇太极改额真为章京，除了固山额真保留外，其余皆叫章京。所以此处应该是牛录章京。之前一章是回忆，所以用的牛录额真。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;ps:感谢书友轻风清韵的500币，书友20170822115832459的100币打赏~<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;推荐两本书，《乱世之巅峰召唤》，《大秦龙雀》。
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>