<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第四章 血战</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第四章 血战
</div>
<div class="bookname">
	<h1>第四章 血战</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;贼人要撞开寨门这个意图已经是显然易见了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;现在想用石块堵住寨门是不可能了，唯一的办法就是在土匪撞开寨门前尽可能的做好防御准备。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在朱慈烺的指挥下，刘家庄庄民和东宫侍卫合力搬运他们能够搬到的任何物件，大到磨盘、米缸，小到柴火、扁担。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;总之，要尽可能的给土匪们造成阻力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;寨墙上的庄民显然也发现了土匪的意图，拼命朝下扔着石块。不时有土匪毙命，但抱着撞木的土匪却已经开始撞击寨门。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“咚咚咚！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“咚咚咚！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这在刘家庄庄民听来如同催命的撞击声在射塌天听来却如同仙乐般美妙。哈哈，这帮不知天高地厚的龟孙，竟然以为区区一面寨墙就能够拦住老子，真是太天真了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“再加把劲，破了寨门，里面的小娘子任你们玩耍！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;射塌天放肆的狂笑着。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他这次倾巢而出，带了全部的五百土匪，虽然在攻寨中已经折损了几十人，但射塌天斯毫不心疼。这些都是刚刚归顺他的新匪，本来就是做消耗的，只要有了银子还愁没人来投奔吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;据射塌天所知，刘家庄极为富有，劫掠一番便是把麾下扩充到千人都没有任何的问题。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但听轰隆一声，刘家庄的寨门终于被撞开了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然肩头还隐隐作痛，但此刻射塌天已是狂喜不已。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“冲进去，把他们杀个片甲不留！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果说凭借寨墙这些庄户还有一守的实力，但现在他们就是一群待宰的羔羊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;原本准备蚁附攻寨的土匪纷纷撤下，全部汇聚在一起。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;射塌天指挥剩下的几百名新匪冲锋，自己则带着一百老匪压阵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如此一来他自觉万无一失，即便还会折损几十人，也不会损失他的精锐。何况射塌天认为庄户们已经丧失了抵抗的勇气，他根本不会有任何折损。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可惜事实让射塌天失望了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;冲在前排的土寇刚刚透过滚滚黄尘看清眼前的景象便纷纷身子一软倒了下去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;十几杆鸟铳齐射，瞬间便结果了十数名悍匪。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其余的悍匪也被这声音吓了一跳，纷纷呆立当场一动不动。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这给了朱慈烺东宫侍卫们继续装填火药的时间。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在皇太子殿下的命令下，东宫侍卫们将火药填入鸟铳，并将铁杆从铳口伸入将火药舂实，装入弹丸，之后他们给鸟铳装上火绳，并取出火折子将火绳引燃，等着火绳燃尽<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一切步骤他们都操作的十分熟练。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;等到第二阵枪响，土寇们才反应过来，一个个狂叫起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是雷公显灵了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是火神祝融施法！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“大家快跑啊！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;射塌天也从震惊中反应过来。他当然知道这不是什么雷公显灵，也不是祝融施法。这是鸟铳，这些庄户竟然有军队才有的火铳！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;看着新匪们成群朝自己跑来，射塌天冷笑一声，命令老贼们将胆敢逃跑的土匪斩杀以此震慑群小。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在心腹老贼斩杀十几名企图逃跑的新匪后，混乱总算平复了下来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;射塌天大声向土匪们解释，寨中庄户所用的不过是一种叫鸟铳的东西，和普通弓弩没有什么区别。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;后退无路的土匪们只得再折回来闷头向前冲去。这一次他们的动作迅速了不少，东宫侍卫们装填射击的间隙不少土匪已经逼近到了距离刘家庄众人五十步。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“弓箭手准备，射！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺再次下达了命令，只不过这一次执行命令的换成了刘家庄中的猎户。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一共三十余张猎弓一齐拉动，箭矢平射而出。在这个距离，平射弓箭的杀伤力丝毫不弱于火铳。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;何况射箭的这些都是猎户，准头狠劲皆是一流，顷刻间便有十多名土匪被射死。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;疯狂冲锋的土匪又是一滞，便是利用这段间隙，东宫侍卫们再次做好了鸟铳射击的准备工作，轻而易举的取了十几条土匪的性命。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;土匪毕竟是乌合之众，能够承受的死亡比例很低。一下死了几十人，群寇处于崩溃的边缘。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;射塌天对此当然心知肚明，若再不能拿下刘家庄则情况危矣。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他实在没想到刘家庄的庄户战斗力如此之高，竟然还配备了火铳！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;撤退是不可能撤退的，既然决定了劫掠刘家庄就必须打下来。不然他大当家的面子往哪里放？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这些庄户已经把弹药和箭矢浪费完了，他们已经是强弩之末，只要一个冲锋就能击垮他们！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;想通此道，射塌天准备带领精锐马匪冲锋，借以激励士气。这些新匪虽然濒临崩溃，但只要自己能够带领老贼冲杀进寨砍翻几十人，便能立刻把气势夺回来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“跟着咱老子冲开他们的阵型！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在他看来没有了寨墙的阻碍，骑兵可以随意冲杀。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可当射塌天领着百余马匪冲到刘家庄庄户面前时纷纷傻了眼，在他们面前的是一口口水缸。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“刺！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺一声令下，几十杆木矛刺出。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这是刘家庄庄户最精锐的武器，对付骑兵十分好用。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不少马匪当即被刺死，其余马贼想要拨转马头，但疾驰之下如何能够做到，反而因为急勒马缰摔得人仰马翻。身后摇旗呐喊的新匪见状直是目瞪口呆，反应快一些的掉头就跑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;难道是天要亡我？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;射塌天正自想着，他胯下坐骑便发出一声嘶鸣，紧接着软倒在地。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;射塌天连滚了几圈才停下来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他艰难的抬起头，迎面看到的是一张有些青涩稚嫩的脸。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这是他最后的记忆，因为随后那名少年便挥起手中宝剑将他的首级斩下<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;射塌天死后，战况变成了一边倒。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺高高举起匪首的脑袋，那些跌落马背的老贼也都没了战斗的欲望，纷纷投降。一众新匪见状作鸟兽散。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对这些手上沾有无数鲜血的老贼朱慈烺当然不会生出恻隐之心，在与刘去病商议一番后下令把这些土匪全部斩首。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺巧施妙计诱敌深入，取得了巨大成功。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;此战刘家庄庄户只阵亡十五人，六十余人轻伤，绝大部分都是被土匪的流矢射中。而射塌天带来的一百名老贼马匪尽数被诛杀，一同被杀的还有六十余名新匪。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如此战况引得众人一阵狂欢。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然有三百多新匪逃了回去，但老贼尽数被诛，匪首射塌天也毙命，短时间内这帮土匪是不会再来刘家庄兴风作浪了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过刘去病却没有像其余庄户那样庆祝，在他看来方才与他们并肩作战的朱平一行人，真实身份肯定不是商贾。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;大明不禁止百姓拥有刀剑，但绝对禁止私藏弓弩、甲胄。更不必说火铳这种东西了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果刘去病没有猜错的话，朱权的真实身份应该是一个军官。总兵、副将之类的不大可能，但至少也得是个千总、把总吧？
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>