<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第一百一十九章 二刘来犯（第八更，求订阅，求月票！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第一百一十九章 二刘来犯（第八更，求订阅，求月票！）
</div>
<div class="bookname">
	<h1>第一百一十九章 二刘来犯（第八更，求订阅，求月票！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;高杰不由得沉吟起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他虽不似文官那样善于忖度上意，却也不傻。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;与东宫嫡系出身的赵信相比，他肯定不是天子的首要选择。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;天子之所以叫他率军北伐，是因为他的军队是朝廷诸军中最能打的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但若是自己把功劳都抢了，天子的神策军怎么办？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以北伐计划中不能仅仅只有高杰部，还必须有神策军。至于秦拱明统率的德州军，则没有那么关键。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李成栋建议高杰在拿下河南后向朝廷上书报捷，高杰却有不同的看法。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他认为这样太晚了。最好是击溃祖可法所部绿营军后就上书朝廷。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这样神策军才能在最好的时机加入战局，收复河南的功劳也能分一份。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;拿定计划后高杰长叹一声。以前他总觉得当土匪难，现在却觉得做臣子要更难。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不仅要做好自己，还要忖度上意，不能让君父难做。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰这么卖力的替朝廷卖命不光是为了自己，还是为了儿子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他的儿子高元照如今在皇明军校中读书，显然是被天子当作心腹培养的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;既然他的出身决定了不可能成为天子真正的嫡系，那么就要努力使儿子成为天子的嫡系。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他挣下的这份基业终归是要交到儿子的手中啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;元照啊，希望你能明白为父的一番苦心呐<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;徐州，总兵府。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李本深半倚在床上，任由两个美婢给他捏脚。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那手法真是恰到好处。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李本深只觉得筋骨酥麻，魂都快被勾出来了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯，再用些力，往上一些。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李本深闭着眼睛尽情的享受着。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;现在看来留守徐州也不是什么坏事嘛。要是跟着舅父，现在肯定也得跟着去北伐，哪有美婢环侍来的舒坦。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“将军，大事不好了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;便在李本深思忖着一会该先办了哪个婢子时，高杰的心腹幕僚杜晦慌慌张张的冲了进来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李本深刚想破口大骂，待看清来人是杜晦后生生把已经冒到嘴边的污言秽语吞了下去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“杜先生，您怎么来了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李本深将给他捏脚的两个婢子踢开，就要起身相迎。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杜晦可是舅父的心腹幕僚之一，即便是舅父本人对他都很尊敬。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“将军大事不好了啊！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李本深满面狐疑，追问道：“到底发生什么事了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杜晦冲两名婢女瞥了一眼，李本深遂咳嗽了一声道：“你们下去吧，没有我的命令不许进来！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;待那二名婢子退下，杜晦才急切道：“二刘朝徐州城杀来了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“刘良佐和刘泽清？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李本深瞪圆了双眼，一脸的难以置信。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“他们两个这是要公然造反吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;之前二刘虽然也曾经派人来徐州附近劫掠过，但好歹也是化了妆的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如今他们却是趁高杰率部北伐时攻打徐州，与造反已经没有什么分别。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;见李本深又惊又怒，杜晦劝声道：“为今之计，当坚壁清野，不给二贼可乘之机。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李本深点了点头：“杜先生说的不错。徐州也是坚城，二刘想要打下绝非易事。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如今高杰远水解不了近渴，李本深只能靠自己了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他只希望朝廷可以早些发现二刘的动向，派兵来援徐州。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“千算万算，算不到二贼敢如此行事啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杜晦怅然一叹道：“所幸城中粮草充足，坚守一段时间应该是没问题的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李本深现在满脑子都是分配人手部署城防，没心情听杜晦发表感慨。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他随便罩了一件外袍就阔步朝外衙而去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李本深是高杰留下的徐州守备，在高杰不在的日子里可以全权决断。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他在总兵衙门召集一众军将后先是把情形做了一个简单的通报，随后便开始分配任务。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一通调配下来，李本深已是口干舌燥。好在布防事宜已经安排妥当，他自觉没有什么疏漏。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如今便是以逸待劳，等着二刘来犯了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过李本深显然没有心情继续待在总兵府了，他在一众亲卫的簇拥下登上城头，于城楼中坐镇。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;过了约莫半个时辰，便见黑压压的军队从南面而来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李本深定睛瞧去，这些人不是刘泽清、刘良佐部却是谁！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他心头腾地升起一团怒火，便要上前骂阵。但仔细一瞧，却觉得哪里有些不对劲。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘泽清、刘良佐部军队的人数也太多了吧？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果李本深没记错的话，二刘麾下都是两三万人，加在一起也不过是四五万，可看这样子怎么有十万人左右。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;难道二刘是想驱赶百姓去做攻城填壕的炮灰？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李本深觉得只有这个解释说的通。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过他对这些百姓不会有丝毫的同情。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只要这些百姓被二刘驱赶冲向徐州城，李本深就会毫不犹豫的下令守军弯弓搭箭对他们攒射。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可让李本深感到意外的是，他并没有看到攻城用的撞车、云梯。甚至连最简易的排梯都没有。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这种情况下，二刘想靠什么攻城？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;正当李本深百思不得其解的时候，他发现二刘大军稍稍调转了方向，从徐州城西边绕了过去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;嘶，这两个贼人想要围城！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李本深心中断定道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若是有十万人围城确实是个好选择。何况徐州城中兵力空虚，摊到四面城墙就更是薄弱了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李本深急忙命集中在南城的兵力分驻到其他几处去。忙活了好一阵却发现刘泽清、刘良佐部并没有合围徐州，而是一路向北而去！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;嘶，这两个贼人究竟打的什么主意。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们兴兵来犯，却过徐州城而不攻，难道仅仅是想劫掠徐州城附近的州县？这也太蠢了吧！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;便在这时杜晦高呼道：“二贼不是要打徐州，是要窜入山东啊！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他指着徐州城外黑压压的军队道：“将军请看，二贼抓来的百姓不是用作填壕攻城的，而是抓来做壮丁夫子的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;经由杜晦那么一点李本深才发现这些百姓身上都套着绳索，奋力的拉着车子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;车子上都是捆绑好的一袋袋粮秣。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若二刘是来打徐州的自然不可能带这么多粮秣。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只有一种解释，二刘要长距离行军。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而看他们的行军方向，确是奔着山东去的
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>