<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第三百一十五章 册立皇后（第一更！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第三百一十五章 册立皇后（第一更！）
</div>
<div class="bookname">
	<h1>第三百一十五章 册立皇后（第一更！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;沙定洲眉毛一挑道：“哼，真是一个不自量力之辈。他以为纠集了一批乌合之众就能扭转乾坤了吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;万氏却有些心忧道：“却也不能太过轻敌了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沙定洲立刻赔上笑脸道：“夫人说的是。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;转而冲那心腹吩咐道：“叫各处严密盯防，有何异动立即来报。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“黔国公，这样真的行吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;金沧兵备道杨畏知愁眉紧锁，望着校场上一众临时拼凑起来的士兵毫无底气的说道。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;理想和现实的差距还是很明显的。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;原本他以为给辅兵分发甲胄兵器，至少能撑出个门面来，但现在看来是他太乐观了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“恩，确实差了一些。不过可以教给他们一些基本的旗语嘛，只要不被沙定洲一眼识破就行。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沐天波对这些辅兵的素质也不是很满意。但这个法子，如今也只能捏着鼻子认了，不然难道狠狠的打自己的脸吗？ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;何况这是眼下能够想到的最好办法了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;滇北的那些土司只是在名义上表达了对他的支持，却是不拨一兵一卒，叫沐天波能怎么办？ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“恩，看来也只能这样了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杨畏知叹了口气道：“只希望秦夫人那里可以抓住时机啊。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;楚雄府的这支杂牌军队的作用就是为秦良玉的大军拉扯出空间。至于最终一锤定音的自然还得是秦良玉。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可惜战时他们不能与秦良玉所部明军取得联系，无法把这个意图告诉她，不然效果恐怕会更好。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“杨大人，本国公还有一事相求。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“黔国公请讲。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这仗呢多多少少还是得打一次。不然以那沙定洲狡猾的性子，怕是不会轻易上钩。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沐天波双目炯炯道：“不知杨大人愿否领一支军队前去叫阵？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杨畏知心中一沉。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他算是听明白了，黔国公这是想做戏做足啊。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“下官义不容辞。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杨畏知双拳紧抱道。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;楚雄府唯一能打的军队也就是他手下的这支了。他若不领兵前去叫阵，难道让这些“乌合之众”去吗？那不就露馅了吗。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好，好啊！待朝廷大军平定沙定洲叛乱，本国公一定亲自为你请功！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;收集情报一直是大西军擅长之事。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尤其是张定国，十分强调战前情报的搜集。所谓知己知彼，百战不殆。一个到位的信息往往可以减少三四成的损失。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一次自然也不例外。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;抵达松坪关后张定国并没有急着下令渡过金沙江，而是四散哨骑侦查敌情。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;从哨骑带回的消息来看情况比他想象的还要复杂。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沙定洲窃据昆明就不用说了，沐天波逃到楚雄府后竟然整训出一只大军，眼瞅着就要反攻昆明。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而据另一批哨骑的消息，明廷已经派秦良玉统率一只大军从叙州府方向赶来，看样子是想从东川府入滇来一出“神兵天降”。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;乱，云南的局势真是混乱啊！ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过越是乱，张定国越觉得兴奋。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他最擅长于在乱局中落子。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;水越是浑浊他越容易发挥。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;根据他统兵的经验此刻不急于出手，再等等或许会有更好的机会。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然张定国肯定会在秦良玉入滇之前进入云南。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;因为只有这样才能抢占先机。所以他派出大量哨骑沿着金沙江岸侦查，只要明军一踏入东川府，便是大西军入滇之时。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;经过礼部一轮轮的筛选，最终一份誊写有几十人名字的名单送至宫中，供天子御览。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;大明天子选秀有一整套完整的流程，便是皇帝本人也不能做过多的干预。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺对此倒是没有太多的意见。反正他对于男女事看的很淡，便由着礼部官员捣鼓了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只是在翻看这份礼部呈递的名录时朱慈烺多多少少心里有些波动。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;通常而言大明皇帝选立的皇后不会是重臣勋贵之女，这是为了防止外戚干政。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如此一来皇后一般都是小家碧玉的类型，家族势力基本可以无视。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺翻看了一遍名录，觉得有些索然无味，便冲刘传宗道：“可有画像在？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘传宗连忙点头道：“启禀皇爷，画像早就备下了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说罢吩咐一个小宦官将厚厚一摞画像送至御案前。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺倒也不着急，一张张的展开来看。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;讲道理的话，这些画中女子的姿色大多在中上之列。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;毕竟选的是皇后，容貌不可能太寒碜，不然有失皇明威仪。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但要说这些女子有多貌美却也未必。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;自古皇后便是选贤选德，以色侍人者未必能够长久。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺一连看了十几张都没有中意的，正准备叫刘传宗把画像都拿走，却突然瞥见一张令其怦然心动的。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;仅从画像上看此人面容姣好，五官标致，活脱脱一个美人坯子。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;最关键的是看起来给人一种如沐春风的感觉，没有丝毫雕琢矫揉的痕迹。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺便点着画像问道：“此人是何身份？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘传宗小心翼翼的答道：“启禀皇爷，此乃吏部文选司员外郎桐贯之女桐棠。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“桐棠” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺默念了几遍这名字，点了点头道：“好了，便是她了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘传宗闻言大喜。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;皇爷可算是拿定主意了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“奴才领旨，奴才这便吩咐下去，命礼部着手去办。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;选定了皇后人选只是第一步，接下来还有很多工作要做。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;民间成婚尚且有很多礼俗，何况天子乎？ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;天子大婚基本遵奉六礼。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这六礼分为纳采、问名、纳吉、纳征、告期、发册奉迎。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然，天子无亲迎之礼，这便省去了一道环节。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;纳彩、问名之前天子会祭告天地、宗庙，之后天子以冕服升座，接受百官行礼。礼官会把礼物放置在丹陛中道上，然后用抑扬顿挫的语气念道：“兹选某官某女为皇后，命卿等持节行纳采问名礼。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一套复杂的仪式后还有纳吉、纳征、告期、传制遣使等环节。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只不过奉迎改为遣使，不用天子亲自去奉迎皇后。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一切都是由礼部和内官监联合完成的。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;礼部、内官监奉迎皇后之后，会依次过大明门、承天门、端门、午门、奉天门。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;皇帝只需要着衮服在奉天门等着就是了。
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>