<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第二十五章 钱谦益</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第二十五章 钱谦益
</div>
<div class="bookname">
	<h1>第二十五章 钱谦益</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;南京钱府。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;花厅大门上挂着一副对联，“风声、雨声、读书声，声声入耳；家事、国事、天下事，事事关心。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这副著名的对联是东林党创始人顾宪成所作。当初他在无锡创立东林书院，抨击时政、褒贬大臣。可随着顾宪成的去世，东林党也渐渐演变成一个争权夺势的党派。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;到了本朝，东林党奉钱牧斋钱谦益为党魁，但其在与温体仁的争斗中落败从而去职，一直赋闲在家。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;甲申国难，太子继位。许多南京老臣都得以起复，惟独钱谦益没有。这使得他气愤难耐，夙夜难寐。多亏有继室柳如是在床笫间悉心侍奉，才使得他每夜精疲力竭后倒头大睡。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;今日钱谦益又是到了午后才醒来，在柳如是的服侍下正用着午饭，便有门子来报都察院左都御史王铎来访。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钱谦益大喜，顾不得吃完午饭连忙起身前往花厅相见。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;自打崇祯十年去职以来他一直过着赋闲在家，偶尔讲学的生活。这日子虽然清闲，但对于志在庙堂的钱谦益来说却是一种折磨。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如今新君即位，钱谦益本以为自己的机会来了，可天子似乎并没有起复自己的意思。这让钱谦益十分焦急。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钱谦益一度想去拜会内阁首辅、中极殿大学士史可法，想让这个同为东林党的同僚替自己说说话，让天子征召他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可是他一直没有下定决心。这是因为钱谦益放不下来面子。毕竟他是公认的东林党魁首，而史可法虽然师从左光斗，但出仕比他要晚的多。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钱谦益是万历三十八年的探花郎，而史可法是崇祯元年才进士及第的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;从资历看，钱谦益绝对是史可法的前辈。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;从年龄上看就更不用说了，钱谦益比史可法大了整整十九岁。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这天底下哪有前辈长辈主动屈尊纡贵去求一个后辈晚辈的道理。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;哪怕这个后辈晚辈现今是位极人臣，红的发紫的内阁首辅！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钱谦益多么希望史可法主动来找他，举荐他重新出仕，可新皇登基以来近一月，史可法却一点这个意思都没有。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这让钱谦益大为失望。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;好在天无绝人之路，钱谦益没有等来史可法却等来了王铎。从严格意义上来说，王铎不能算是东林党。在天启六年时魏忠贤命顾秉谦、黄立极、冯铨等主持编修《三朝要典》陷害东林党。王铎也曾一度参与修撰，不过后来其与黄锦、郑之玄主动辞修，与阉党划清界限。从这一点上看，王铎至少也不能算阉党。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其在政治立场上，更像是一个中间派。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;明哲保身，无可厚非。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;论私交，其与吕维祺、倪元璐、黄道周等人也甚笃。甲申之后，东林党势力已经大不如前，对于政治身份钱谦益也不能太苛求。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在他看来，只要对方不是纯粹的阉党就能够接受。东林党若想恢复至万历末年的荣光，像王铎这样的中间派，甚至稍稍偏向于东林的更要好好拉拢。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;何况钱谦益现在赋闲在家，一个东林党魁的名头也没甚用处。若是能够借王铎之手起复，自然是再好不过的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王铎虽然官位不如史可法，但好歹也是左都御史。由他出面举荐，天子总归要给个面子吧？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一想到自己很快又可以叱咤庙堂，钱谦益便觉得十分兴奋。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然身为“东林君子”他不能表露出分毫，一定要是一副视官爵为粪土的态度。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“十樵（王铎的号）今日怎么来了？你可是无事不登三宝殿啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钱谦益端起茶杯微微抿了一口，似笑非笑道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“牧斋这养性的功夫着实了得。”王铎苦笑一声，摇了摇头道：“只怕某们是没有几天好日子过了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“十樵何出此言？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钱谦益见王铎面有忧色，不似矫揉造作，遂关切的问道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王铎冲不远处的柳如是看了一眼，钱谦益遂清了清嗓子道：“河东君你先下去吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;柳如是遂冲钱谦益福了一福，躬身退下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;等到柳如是出了花厅，钱谦益这才说道：“十樵现在可以说了吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王铎微微颔首，复又一叹道：“本以为新君是个仁厚之主，可现在看某看走眼了啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钱谦益心中不由得一惊。虽然他对于天子也满腹怨言，却从不敢在人前表露。毕竟以臣议君是为大过。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王铎继续说道：“牧斋有所不知，今日朝堂之上陛下以助饷为由号召百官捐钱。忻城伯赵之龙认捐三千两，已是颇多。无奈他多说了句话，请求陛下为京营拨银二十万两，就引得陛下雷霆暴怒，当即命锦衣卫把忻城伯拿下，投入诏狱中。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钱谦益听得直皱眉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个忻城伯也太不会办事了吧。你哭穷捐个三千两没啥问题，可别赶在这个节骨眼上再管天子要钱啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;京营的钱都是内帑来出，等于是让天子剜肉。你前脚给天子捐了三千两，后脚就叫天子吐出二十万两来，莫不是把天子当猴耍呢？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这忻城伯做事也却是孟浪了些。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钱谦益不咸不淡的说了一句。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在他看来勋臣和文官是两个完全不同的阵营，永乐朝之前勋臣是压制文官的，永乐以后土木堡之前，文官和勋臣基本是分庭抗礼。待到土木堡之变后，有血性的勋臣死绝了，文官便彻底的压制勋臣。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;及到本朝，文官已经彻底不把勋臣放在眼里。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;故而一个勋臣下了诏狱，在钱谦益看来根本不算什么事情。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;莫说是一个勋臣，哪怕下狱的是文官，只要不是东林党，都和钱谦益没什么关系。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“牧斋有所不知啊。陛下针对的不仅仅是忻城伯一个人，而是整个朝堂啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王铎露出一副痛心疾首的表情：“徐州总兵高杰奉旨赴山东镇守，这军饷全靠文武官员捐助，一人出几百两怎么可能凑够，陛下是要让我们大出血啊。看陛下势在必得的样子，应该已经叫锦衣卫和东厂把我们的家底查了个遍，若是我们有意欺瞒，怕是会落得个跟忻城伯一样的下场。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;稍顿了顿，王铎又补充道：“牧斋你也得小心一些，陛下暂且是叫在职的文武官员捐助，可谁知道将来会不会在已经去职赋闲的前官员身上动心思？牧斋你家财不菲，可得当心啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;现在钱谦益明白王铎为何是一副如丧考妣的模样了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陛下这是要杀鸡儆猴，借忻城伯赵之龙敲打满朝文武啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;见王铎一副兔死狐悲的表情，钱谦益清了清嗓子安慰道：“十樵莫要焦急，事情也没有坏到不可收拾的地步。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦？牧斋可有办法了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;ps:感谢书友萧潇潇雨的2000币打赏，感谢书友弗格森的人的500币打赏~
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>