<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第二百零七章 断腕（第一更，求订阅，求月票！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第二百零七章 断腕（第一更，求订阅，求月票！）
</div>
<div class="bookname">
	<h1>第二百零七章 断腕（第一更，求订阅，求月票！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;扛不住了！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在吴三桂、尚可喜等部藩兵的轮番猛攻下，袁宗第、刘体纯感到力有不逮，终于下令撤退。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而在此之前，郝摇旗已经早早开溜，再一次的抛弃了袍泽，和他当年在商洛时的做法一模一样。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过现在袁宗第和刘体纯可没有什么闲心情咒骂郝摇旗，逃命要紧！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;袁宗第、刘体纯的手下都是三秦人，在陕西的山疙瘩里混的久了对如何藏身山中很有心得。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;袁宗第、刘体纯一下令他们就四散跑路。只要往山中的密林子里那么一钻，便是神仙也难找寻到。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;由于袁、刘二人麾下兵士逃得太分散，吴三桂、尚可喜手下的藩兵一时也有些不知该如何是好。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;追吧他们也得分头追，极容易被藏在暗处的顺军士兵伏击。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不追吧又有些不甘心。这他娘的打不过就跑算怎么回事？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们都等待着吴三桂、尚可喜下达命令，一时停步不前。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吴三桂、尚可喜也不敢决策。他们虽然名义上是藩王，但和满洲人养的狗也没有什么分别，本质上还是奴才，只不过是地位稍稍高出一些的高级奴才罢了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;主子不高兴了，一句话就能让他们家破人亡，失去拥有了一切。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;阿济格阴沉着一张脸驱骑上前。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“平西王、智顺王，这是怎么回事？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吴三桂、尚可喜连忙请罪道：“奴才办事不利，放跑了刘体纯、袁宗第二贼。还请主子责罚。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;阿济格冷哼一声道：“现在说这些有什么用，快想想办法，本王这次绝不能让李闯跑掉。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;阿济格一心想擒获李自成从而奠定自己大清第一勇士的地位。有好几次他都险些做到了。可李自成就像一只泥鳅一样，屡次三番从他们的掌心溜走，实在是气煞人也。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尚可喜眼珠子转了一转道：“王爷请放心，九宫山山势险要，李闯一定跑不快。奴才率大军去追，用不了多久就能追到顺贼主力。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;阿济格又转向吴三桂道：“平西王怎么说？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吴三桂微微欠了欠身道：“奴才以为可率一支军队抄后路以防万一。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吴三桂跑路的经验十分丰富，以己度人，他认为李自成不会只从大道下山。万一李自成耍个心眼从小路下山呢？那岂不是大清这十几万大军全都抓瞎了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;阿济格点了点头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吴三桂这番话算是说到点子上了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;从他屡次跟李自成交手的情况来看，此人战斗力并不算特别强，但很会用计。这种人你想打败他并不难，但想打死他却很难。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;正所谓野火烧不尽，春风吹又生。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这也是为何李自成在崇祯年间屡次被明军围剿，却能在身边只剩下几十、几百人时东山再起的原因。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;阿济格却不准备犯崇祯犯过的错误。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;打狗就一定要彻底打死，绝不能让他获得喘息的机会。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好，本王便命平西王率部堵截李自成退路！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“喳！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吴三桂连忙打了个千，恭敬应了下来<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“陛下，前面就是一线天了，恐怕大军难以通行啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;田见秀满面愁容，轻叹一声道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李自成也是眉头紧蹙，面色十分凝重。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沉默了良久，李自成沉声道：“玉峰，我们没有选择，必须得从这里钻过去。传令下去，命儿郎们卸下所有辎重依次通行。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李自成稍稍观察了一下，这一线天内虽然十分狭窄，但还是可以供单人单骑通行的。当然，马车这种负载大量辎重的肯定是过不去的。是以李自成才会下达舍弃辎重的命令。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;田见秀见李自成要舍弃粮秣辎重，连忙劝道：“陛下，万万不可啊。形势还坏到那个地步，万万不可舍弃粮秣辎重啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李自成苦笑一声道：“玉峰，你就不要骗自己了。什么叫形势还没坏到那个地步？究竟要怎么坏才算是坏？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;稍顿了顿，李自成接道：“自打从陕西撤离，我们可曾打赢过一场仗？我们跑到哪儿，鞑子就跟到哪儿。这一路逃来宗敏被俘杀，芳亮为了引开清军去了前山，生死未卜。宗第和体纯率部殿后也是凶多吉少。我们已经是穷途末路了啊！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;田见秀神色一黯道：“或许还有别的办法。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李自成连连摇头道：“没有别的办法了，粮秣辎重都是身外之物，若是连命都没了，这些东西也便都便宜了鞑子。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;田见秀见李自成已经下定了决心，便不再劝说，只犹豫道：“皇后那里”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李自成脸上难得浮出一丝笑意：“桂英你还不知道吗，她不会有意见的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李自成的皇后高桂英出身草莽，与李自成一路走来早已是相敬如宾。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;哪怕李自成在西安召选了许多女子入宫服侍，也没有忘记高桂英，总会抽出一些时间陪陪她。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高桂英曾经执掌过老营，别说骑马了便是领兵打仗也不在话下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;更难能可贵的是，高桂英会无条件的听从李自成的安排。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;田见秀点了点头道：“如此就好。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李自成一声令下，顺军士兵们纷纷舍弃了辎重粮秣，只留下了七日的口粮，驼在马背上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们排着队列依次从一线天通过，骑马的将领则纷纷翻身下马以节省战马的体力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;连李自成也不例外。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;让李自成稍感欣慰的是顺军还是基本保持着心气的。那些墙头草基本早都跑掉了，剩下的都是甘愿跟着李自成的老兵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只要有这些老兄弟在，李自成坚信一定会有东山再起的那一天。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“也不知道过儿、一功他们怎么样了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李自成忽然想到了李过、高一功，长长叹了一口气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;从陕西撤离时李自成根本没有时间通知坚守陕北榆林的李过、高一功。后来一路溃逃更是无法取得联系。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李过、高一功部有足足十几万兵马，若是能和李自成汇合对于如今已经是残部的顺军主力会是一个很好的补充。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;等撤离了九宫山稍稍安顿下来，便叫人试着去与过儿、一功取得联系。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李自成暗暗下定决心<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;u
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>