<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第一百三十六章 活铸铜像（第一更，求订阅，求月票！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第一百三十六章 活铸铜像（第一更，求订阅，求月票！）
</div>
<div class="bookname">
	<h1>第一百三十六章 活铸铜像（第一更，求订阅，求月票！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;得知城破的消息，开封知府黄似道如五雷轰顶。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如此一座坚城怎么说破就破了？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;几日前金玉和将军率三万绿营兵增援开封府，给黄似道吃下了一颗定心丸。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他心道有这三万大军驻守，开封府又固若金汤，明军断无破城的可能。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;谁知过了不到五日，明军就攻破了开封，控制了全部四座城门。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;知府衙门在开封城正中稍北的位置，一时半会明军还攻不过来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可衙门里的差役、仆人却早已跑光，只剩下黄似道的一房妾侍。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;此刻黄似道心中五味杂陈。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;按照清廷的律令，文官失土难逃一死。如果殉国则妻儿老小不会受到牵连，如果投降或者逃走则家眷都会被发给旗人为奴。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他的发妻老母如今都在大名府老家，若是他逃走，那么家眷必定会被划为包衣奴才。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这是黄似道不愿意看到的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;思忖再三他还是决定以死殉国，让家眷有个好下场。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过怎么个死法却是一个问题。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黄似道是个文官，从未亲手执刃过。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他起先想要拔剑自刎。可当他取下挂在墙壁上的装饰宝剑，拔剑出鞘后却发现怎么也下不去手。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;剑身太凉了，只往脖子上那么一贴黄似道便打了个激灵，浑身的肌肉都跟着颤抖起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不行，这个死法太疼了，而且极不体面。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;再怎么说黄似道也是个读书人，岂能做有辱斯文的事情。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;即便是死，他也要死得体体面面。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;自刎不行那就上吊好了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在侍妾的帮助下，黄似道将麻绳悬挂在屋梁上，系了个死结。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;狠狠拽了两下确认没有问题后，黄似道浑身颤抖的搬来一只圆凳，双脚踩了上去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;绳子有些紧，黄似道试了一下后猛地咽了几口吐沫。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我死以后，你便拿我的尸首向明军邀功吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黄似道低下头冲陪伴他到最后的侍妾吩咐后事道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你跟了我一场，我不能亏待你。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;原本黄似道还想再多说些什么，但听到屋外院子里已经传来喊杀声，知道明军已经冲进了府衙。若再耽搁片刻，怕是就死不成了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黄似道惨然一笑，毅然的把头塞进了绳套之中，右脚狠狠一踢踹翻了圆凳。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;绳子猛然收紧，黄似道只觉得脖子被死死卡住，呼吸变得困难起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可这种感觉只持续了一瞬就消失了，他只觉得有人抱住了他的双腿，拼命往上举。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他双眼向下一瞥，这人不是他的侍妾却是谁。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黄似道不禁勃然大怒，斥责道：“你这是在做什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那侍妾却对黄似道毫不理睬，只拼命的冲外面喊道：“来人啊，鞑子的知府就在里面，快来人啊！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黄似道怒不可遏道：“我待你不薄，你为何出卖我！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那侍妾冷笑道：“你给我爹爹丢下五十两银子，强行把我掳走做妾时可想过有今天？本来你死也就死了，可既然明军杀进来了，我把活人交给他们自然比交出一具尸体更能卖个好价钱。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黄似道恍然大悟，拼命的用脚踢向侍妾。可他悬在空中整个身子软的似根面条似的，根本用不上力气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;此刻黄似道内心十分绝望。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个贱人真是好狠毒啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;院子里的明军听到呼喊声纷纷调转方向，破门而入。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;见一个妇人抱着身着官袍的黄似道，立刻上前帮忙，七手八脚的把黄似道弄了下来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“此人便是鞑子任命的开封知府！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;侍妾毫不留情的指认道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哈哈，抓到条大鱼，老子也算是走了运了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一名千总模样的军官放声大笑了一阵，大手一挥道：“绑了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如狼似虎的士兵立刻一拥而上，用绳子把黄似道五花大绑，捆了个严严实实。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黄似道自知逃跑无望，也就闭上眼睛放弃了抵抗。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这狗东西看着人五人六的，竟然心甘情愿给鞑子做狗，带走让大帅发落！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;此刻高杰正率领亲兵在城隍庙附近巡视，见麾下千总压着一个身着官袍留着辫子的肥胖男子走来，皱眉问道：“这是怎么回事？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那千总连忙跪下回禀道：“禀大帅，这人是鞑子任命的伪开封知府，在府衙里想要上吊，被末将撞到绑了来，听候大帅发落！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰上下打量了一番黄似道，冷哼道：“这种狗贼还留着做什么，拖下去砍了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那千总刚要抱拳领命，叫人把黄似道押走行刑，高杰突然喊道：“慢着！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“大帅还有何吩咐？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰冷笑道：“这种败类一刀砍了实在是太便宜他了，本帅决定在开封城中铸一具铜像，这不是现成的模子吗。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那千总先是一愣，旋即喜声道：“大帅的意思是，活铸铜像？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一般来说铸造铜像都是把滚烫的铜水浇灌在事先准备好的模具上，一次成型。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰的意思显然是把铜水直接浇在黄似道的身上，也就是活铸铜像。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“本帅就是要让百姓看看，给鞑子做伪官是什么下场！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黄似道闻言紧闭的双眼猛然睁开，破口大骂道：“要杀就杀，你凭什么侮辱我！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“侮辱？你也配说侮辱这两个字？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰啐出一口痰来，直射到黄似道的脸上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“翻山鹞，你不得好死，你以为你这样给明朝小皇帝卖命就能落得好下场？哈哈，你的下场不会比我好到哪里去！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黄似道自知必死，索性逞一时口舌之快，尽情的放声咒骂。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰心中咯噔响了一声。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然他目前和天子之间的关系很好，但毕竟是做贼出身，难保天子不会对他有所提防。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;被点到痛处，高杰恼羞成怒道：“把他的舌头给我割了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黄似道丝毫不惧，又是破口大骂了数句，直到士兵扒开他的嘴巴，将舌头割了下来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“带走，铸成铜像！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰的好心情荡然无存，不耐的挥了挥手。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;士兵们立刻把黄似道拖走。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唉，希望是他想多了吧。天子既然把北伐这么重要的任务交给他，肯定是信任他的。这种时候一定不能出现君臣相忌的情况啊
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>