<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第一百零四章 牵一发而动全身</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第一百零四章 牵一发而动全身
</div>
<div class="bookname">
	<h1>第一百零四章 牵一发而动全身</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;（更新送到，求推荐票支持啊~感谢书友关山离歌的200币打赏、感谢书友书草我是豪哥的100币打赏~）<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姜瓖降清。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺得到这个消息后并没有太过惊讶。毕竟姜瓖已经跟李自成撕破脸，那么除了降明就是降清，没有其他的选择。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而大明如今在北方除了山东并没有任何地盘，给不了姜瓖有效的接应，姜瓖降清是迟早的事情。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但接下来的消息就让朱慈烺感到震惊了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多尔衮调多铎、孔有德、耿仲明驰援太原，打算一鼓作气拿下这座坚城！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;因为朱慈烺的决策产生的一系列蝴蝶效应终于开始显现，使得历史走向悄然发生了改变。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;首先朱慈烺命高杰、秦拱明收复了山东，这直接导致南下的觉罗巴哈纳部、石廷柱部在德州惨败。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;历史上二人收取山东后立即调转方向奔往太原驰援叶臣部，最终拿下了太原。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但在这个时空，觉罗巴哈纳和石廷柱损兵折将严重，显然不可能作为主力投入战场。即便要派他们去太原，也最多是辅力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;太原是一定要增兵的，多尔衮索性派出多铎、孔有德、耿仲明的豪华阵容。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多铎不必说了，手中攥着镶白旗，是八旗中实力最强的一只。剩下两个也不是善茬。尤其是孔有德，其部汉军有不少红衣大炮，是攻城拔寨的利器。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多尔衮令孔有德部跟随多铎一同前往太原，就是为了用红衣大炮直接轰开太原城墙。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;辽东三矿工中有两个都去攻打太原，可以预料太原失守只是时间问题。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那么，接下来的走向肯定是由阿济格、多铎领兵从两个方向对陕西发动猛攻。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;阿济格、吴三桂、尚可喜绕道蒙古，从陕北进攻榆林。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多铎、孔有德、耿仲明渡过黄河，猛攻潼关继而占据西安。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;乍然一看和原本历史惊人一致，但细节却完全不同。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;原本历史中，多尔衮是打算让阿济格独自进攻陕西，多铎南下灭掉南明的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;最终因为临汾的顺军发动突袭攻打清廷治下的河南怀庆，最终让多尔衮改变了主意。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多尔衮意识到如果阿济格在榆林战败，李自成便能够立刻调兵遣将从河南一路打过去直捣黄龙。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而京畿兵力空虚，根本就没有可供调遣的军队。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多尔衮当然不能让这种情况发生，是以他立即调遣多铎前去攻打潼关，和阿济格两路夹击，力求一口吃掉李自成。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而那已经是十月的事情了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可以说是怀庆战役打醒了多尔衮，让他做出了先灭顺再灭明的战略部署。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但在这个时空多尔衮从一开始就打算让多铎、阿济格兵分两路夹击陕西！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而现在不过只是八月！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然只差了两个月，但意义完全不同。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这意味着朱慈烺训练新军的时间又少了两个月！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;摆在朱慈烺面前的是一道难题。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如今京畿包括河南肯定兵力空虚，要不要派出一只军队攻打？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若是能够收复失地，威慑清廷逼清军做出调整，对整个战局都是有利的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李自成当然不能算大明的盟友，但在这个特殊的时刻却可以说是大明的利益共同体。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只要陕西的李自成不倒，朱慈烺便有时间继续厉兵秣马。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而一旦李自成像历史中的那样丢掉陕西，像只丧家之犬一样逃亡湖广，南面的大明势必成为满清的下一个目标。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;哪怕朱慈烺无法改变清军拿下陕西的结局，也一定要让这个过程变得艰难一些，耗时更长一些。唯有如此，才符合大明的利益。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以他必须利用这个时机做些什么。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺在暖阁之中来回踱步，分析着利弊得失，最终决定命高杰部北上攻打河南，威慑京畿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个决定可谓牵一发而动全身。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰部北上，驻防的山东各地必须有人填补空缺。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可供朱慈烺选择的人并不多。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黄得功部兵马最强，但要驻守江防，以防左良玉起不臣之心顺江而下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;是以朱慈烺只能调动神策军了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他准备把第一批征募的老兵以及一部分新兵调往山东，统共两万人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;剩下的三万神策军依然留在南京镇守。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个决定做的很仓促，但没有办法，若是不做出这一番调动，整个局势就会像原本历史那样发展，甚至更快！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过这对于神策军来说也算是件好事。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如今的山东已经算是前线，让他们尽早感受战争才能迅速成长。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然神策军老兵也才入伍三个月，但在乱世必须要有如此强的适应性才能生存下去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;统兵的任务朱慈烺决定交给赵信。他是神策军指挥使，率军驻防山东名正言顺。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山东、河南、山西、陕西<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;各个地方都在调兵，随时可能燃起战火。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这真是山雨欲来风满楼啊！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“王大哥，咱们这回真的要去山东了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘三水直到现在还有些不敢相信，山东不是有高杰部驻守吗，为何突然要调他们北上？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是啊，指挥使大人已经接到圣旨，传令各营三日后开拔。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嘶！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘三水倒抽了一口凉气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;三日，这也太快了吧！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你也准备准备，不过不用带太多东西。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王富贵隐隐有些兴奋。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽说山东不比南京舒服，可怎么也算是前线，随时可能和鞑子干仗，想想就觉得刺激。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这次去的就我们四个老营？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“听说还有六个新营，统共十个营，两万人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王富贵倒也是实在人，把知道的消息都告诉了刘三水。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“去这么多人！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘三水吓了一跳。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这已经不算是小规模的兵力调动了，难道北面有大事要发生？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他的心蹦蹦直跳，面色有些惨白。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“三水兄弟，怎么了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王富贵见刘三水面色不好，上前一步关切的问道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“没，没什么。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘三水强自挤出一抹笑容道：“当兵打仗天经地义嘛，我就是一时有些没回过味来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;自打被选入神策军，吃上皇粮刘三水的人生便彻底改变了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他不再是那个饥一顿饱一顿，在码头上扛麻袋卸货的力棒了，而是天子亲军的一员。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;养兵千日用兵一时。这话在理，既然吃了皇粮就该在朝廷需要的时候站出来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;想到这里刘三水的心情宽慰了几分
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>