<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第三百九十七章 声东击西</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第三百九十七章 声东击西
</div>
<div class="bookname">
	<h1>第三百九十七章 声东击西</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;冯双礼就是建昌西军的定海神针。收藏本站<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;有他出面绝大部分的西军士兵都镇静了下来，开始搬运滚木礌石，积极的进行防御战。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;相较于白日，夜间作战增加了许多不确定性。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;即便是举着火把也可能看不清楚人，因为这个时代的很多人都患有夜盲症。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过这对于建昌西军和李定国统率的西军来说都是一样的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;既然双方都是公平的也就没有什么可怕的了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而且在某种程度上来说，守军在黑夜更好发挥。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;因为他们只需要将滚木礌石闷头往下砸就是了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而攻城方因为要攀爬云梯不可能手持火把，根本看不清从城头上砸下的物事。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只要守城方的士兵不犯蠢自乱阵脚，就不会处于被动。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;最开始他们确实慌了，但现在他们已经镇静了下来，按部就班的开始防御。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桐油被倒在大锅里烧沸，成堆的滚木礌石砸了下去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;冲击城头的先锋军逐渐出现了伤亡，且一出现就是一片。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过李定国的态度很坚决，打，不论死多少人也要打。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;因为在西城他派遣的一支分兵正在从一处相对较矮的城墙进行猛攻。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那处城墙本来是坍圮的，后来李定国命人用粘土混合米浆糊好了，也只是勉强能用。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当时对城墙进行粗略修补只是权宜之计，反正当时建昌怎么看也不会爆发战争，不如把钱花在刀刃上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;谁曾想大西军内部竟然会打起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而且这一打竟然打到了建昌。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;因为那处城墙修补的位置很不起眼，李定国认为冯双礼不可能发现。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但若是他派重兵去攻打，自然会引起冯双礼的警觉，效果未必好。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以他才制定了主力猛攻东门，偏师拿下西城的策略。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;反正只要打开了一面城门，这建昌城就是他的囊中之物了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;为了把戏做像，李定国下令主力猛攻，不能有丝毫的保留。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;看样子冯双礼已经被唬住了，认为李定国把所有的宝压在了东城。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这对守军来说是最乐意看到的情形。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;因为集中兵力防守一处比分兵防守有效的多。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尤其是城中兵力不足时。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果兵力分得太散，很可能被各个击破。即便只有一处溃散，后果也是致命的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但若是集中兵力防守这种情况就不可能发生了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;除非是双方实力存在明显的差距，但显然如今的局势不是如此。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;冯双礼在城头来回走动督战，士兵们也是士气十足。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李定国统领的兵马一轮轮的对城头发动猛攻，但都被他们压了下去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;士气这个东西是很微妙的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一鼓作气再而衰三而竭。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;等到李定国这三板斧挥下去，若是再取不得成效，士气就该一泻千里了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“咬住，都给老子咬住！守住了建昌，你们每个人都有赏赐！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;冯双礼在危急关头也不吝啬财物。反正这建昌城中的东西本来也不是他的。借花献佛，他有什么好心疼的？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;要说心疼也该是孙可望心疼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过他认为孙可望不会在意这些细节。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;打仗嘛取胜才是唯一目的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;要是打都打不赢，银钱还是得拱手送给敌人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;冯双礼现在越发看清李定国的目的了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他肯定是在成都显露出了反心，想要谋朝篡位。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但他的丑陋嘴脸被孙可望发现，便派兵去剿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李定国负隅顽抗，双方兵戎相见大干了一场。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;战斗的结果是李定国大败，率领残部仓皇逃往建昌。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不然为什么他只有几万兵马？剩下的人呢？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于李定国对冯双礼所说的那番话，他一个字都不信！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;人永远都是愿意相信自己想要相信的事情，为此不惜进行一次次的脑补。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;冯双礼就是如此。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在他的脑补下，李定国已经成为了一个满嘴谎话虚伪无比的卑鄙小人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这样的人自己怎么能让他得逞？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;冯双礼已经打定主意不但要守住建昌，最好还要生擒李定国，好献给孙可望。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;国主虽然嘴上不说，但心里肯定是想永久解决这个大麻烦的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李定国这个人别的本事没有，蛊惑人心的本领却是一绝，有他在西军内部便永远存在不确定因素，随时可能发生分裂。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这是任何一个君王都不愿意看到的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果冯双礼能够帮助孙可望永久的解决这个麻烦，孙可望一定会对他高看一眼予以重用。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;远大的前程就在不远处朝冯双礼招手，他如何能不动心？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只要擒住李定国并杀了他，这一切就是手到擒来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;冯双礼不认为李定国有可能跑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他之所以会不惜一切代价猛攻建昌，证明他已经无路可逃了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不去建昌他还能去哪儿？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以只要冯双礼扎好篱笆，李定国便没有可乘之机。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;到目前为止，冯双礼对麾下将士的表现很满意。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;坚持下去，等到把李定国部众的耐心耗得差不多了，便是发动反攻的时候。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;正当冯双礼认为一切朝着他的计划发展时，突然从西边城墙跑来一名士兵，一边跑一边高喊道：“攻进来了，他们攻进来了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;冯双礼直是一怔，有些不敢相信自己的耳朵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这守得好端端的，连只苍蝇都飞不进来，李定国的部众怎么可能打进来了？难道他们会飞天遁地之术，还是说他们施展了妖法？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你说仔细点，什么攻进来了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那士兵跑至近前，高声道：“禀都督，也不知怎的西城出现了大量士兵，他们直接捣毁了一段城墙，然后翻了进来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;冯双礼只觉得头晕目眩，差点重心不稳一头栽倒。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;城墙被捣毁了？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这他娘的是在开玩笑吧？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他统兵十余年还从未听过如此骇人听闻之事。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;城墙不都是用三合土作黏剂贴合青石砖而成的吗，怎么可能被轻易捣毁？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你给老子说清楚了，城墙怎么可能被捣毁？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;冯双礼一把抓起那士兵，近乎咆哮道：“好端端的城墙怎么可能被捣毁？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那士兵被吓得不浅，哇的一声哭了出来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“属下也不知道，只见那城墙跟浆糊一样被敌军用撞木撞了几下就塌了了。”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>