<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第三百零五章 沙定洲叛乱（第一更！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第三百零五章 沙定洲叛乱（第一更！）
</div>
<div class="bookname">
	<h1>第三百零五章 沙定洲叛乱（第一更！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;弘业元年五月初五，武定府元谋土司吾必奎发动叛乱，率领军队连克大姚、定远、姚安等地。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;世镇云南的黔国公沐天波在得知这一消息后大为震惊，立刻调集人手参与平叛。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他调集的有石屏土司龙在田、嶍峨土司王扬祖、蒙自土司沙定洲、宁州土司禄永命、景东土司刁勋等。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这些各土司组成的联军大破吾必奎的军队，并将吾必奎活捉献给了沐天波。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沐天波自然大喜，在昆明城黔国公府设下宴席，犒赏参与平叛的有功土司。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;云南的情况很特殊，全滇遍布着大大小小数百个土司。虽然朝廷也在云南设府、设州但基本都是摆设，真正的实权都被这些土司牢牢控制在手中。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;相比较之下，西南三省中其他两省的情况要好得多。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贵州原本也是土司众多，但万历年间播州土司杨应龙发动叛乱，朝廷派大军围剿。最终朝廷攻下海龙囤，顺势改土归流，使得朝廷对贵州的掌控力大增。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于四川也差不多，虽然川南还在土司掌控之中，但至少成都府附近以及川东都是流官掌实权的。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;惟独这个云南，俨然是一众土司的自留地。朝廷根本没有机会进行渗透。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以朝廷只能册封黔国公，靠着沐家来镇守云南。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但沐家自己麾下军队也有限，出现叛乱还是要借助别家土司的军队来平叛。这就出现了一个问题，参与平叛的土司肯定会吞并叛乱土司的财产、军队。如此一来平衡就会被打破。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在一次宴会上，阿迷州、王弄土司沙定洲垂涎沐家财富，遂下定决心发动叛乱夺权。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;原来沙定洲最先是王弄土司沙源的儿子，后来阿迷州土司普名声去世，他的妻子万氏改嫁给了沙定洲。阿迷州也被当作万氏的嫁妆送到沙定洲手中。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两家土司合并，本就实力大增。加上沙定洲在平定吾必奎叛乱时吞并了大量财富、军队，实力可谓如日中天。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;人的野心和欲望是会不断膨胀的。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一开始沙定洲还是感到洋洋自得的，毕竟他的实力在全滇土司中都可以排在前列。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可在见识了沐家的财富后他的红眼病犯了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;凭什么你们沐家就可以世镇云南，享受荣华富贵，而我沙定洲就不能成为云南之主？ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;终于，经过一番精心的策划，沙定洲举兵叛乱。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一乱可不得了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;由于事发突然，沐天波根本来不及反应。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吾必奎发动叛乱是在武定府，看似离昆明很近，实际还是有一二百里的，沐天波完全有时间调兵遣将，前去迎敌。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可沙定洲却是在昆明城中发动的叛乱啊，沐天波便是想作部署也来不及了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;却说沙定洲亲自率领军队攻打沐国公府上门索命。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;仓皇之下沐天波只得在几名亲卫的护送下带着官印、铁券狼狈逃走，甚至连亲眷家人都来不及通知。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沐天波跑路的速度很快，最终在楚雄府安定了下来。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而此时沙定洲已经控制了整个昆明城，自称总府，俨然以云南最高统治者自居。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;消息传到南京，朱慈烺自然是大为震惊。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在他的印象中，沙定洲之乱应该是在十二月份左右发生的啊，怎么会提前这么多？ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而且朱慈烺曾经不止一次的警告过沐天波，要小心提防。可看来沐天波根本就没有放在心上。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺已经做了他所能做的一切，总不能直接对沐天波说朕是穿越者，沙定洲必反，卿可立斩之吧？ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;现在好了，沙定洲拿下了昆明，云南大乱。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;使得本来大好的局势一下子变得扑朔迷离起来。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;四川如今有张献忠，云南又有沙定洲作乱，整个西南真是不叫人省心啊。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺当即召兵部尚书路振飞觐见，一同商议对策。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这是黔国公沐天波上的急奏，路卿家也看一看吧。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺将一本奏疏交给了内侍，命他将急奏送到路振飞手中。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;路振飞接过急奏展开来看，每看一字都觉得心惊肉跳。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;待看完整份奏疏之后路振飞只觉得有些眩晕。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“陛下，按照黔国公的说法，如今昆明已经被叛贼沙定洲窃据了。形势十分不妙啊。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺点了点头。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;昆明是云南省城，更是绝对意义上的军政中心。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沙定洲控制了昆明，从理论上讲就可以号令全滇土司。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;好在沐天波在逃走时带走了官印和世袭的丹书铁券。要是这两样东西也落在了沙定洲手里，那后果真是不堪设想。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“如今黔国公暂避楚雄府，有金沧兵备道杨畏知在暂时还不会有什么问题。朕召路卿家来便是想问问朝廷该如何行事。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一直以来大明对云南各地都是羁縻统治，很少直接过问其内部纷争。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但现在朝廷不插手是不行了。如果继续任由沙定洲闹下去，恐怕整个云南乃至西南都会人心思变。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺记得原本历史上沙定洲之乱被平定是永历二年大西军入滇之后的事了，在此之前沙定洲一直是在云南作威作福。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺当然不会容忍这种情况，所以朝廷必须出兵讨伐。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只不过是派谁去的问题。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;路振飞思忖了片刻后拱手道：“启禀陛下，以臣愚见调川兵入滇平叛是为良策。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦？路卿家不妨说的明白一些，这川军指的是土司兵还是官兵？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺挑了挑眉追问道。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;要知道四川和云南接壤，从四川调兵平定沙定洲之乱肯定是最合适的。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但如今四川的局势也不算太好，张献忠一直盘踞在成都府，如果川军有了大动作难保张献忠不会趁机发难。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对朱慈烺来说，川军可以不主动向张献忠寻战以图光复成都，但重庆府是一定要守住的，这是底线。如果重庆失守张献忠便可以彻底控制长江上游，随时可以顺江而下攻打湖广。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;重庆就像是一堵石墙，死死卡在湖广与川中之间，让张献忠如鲠在喉十分难受。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而要是这堵墙倒了，该难受的就要换成朱慈烺和大明朝廷了。
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>