<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第一百零二章 联名上疏</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第一百零二章 联名上疏
</div>
<div class="bookname">
	<h1>第一百零二章 联名上疏</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;（感谢书友起1点荣誉会员的500币打赏，感谢书友墨香风韵、书友天下纵横有我的200币打赏，感谢书友书草我是豪哥，书友少年壮志也言愁，书友喜欢历史课的100币打赏。求推荐票支持！）<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;行家一出口，便知有没有。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;佛朗西斯科对于泰西式棱堡的讲解直是叫人如痴如醉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;天下竟然还能有结构、外观如此奇特的堡垒。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张煌言听得热血沸腾，不知不觉的攥起拳来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;更为难能可贵的是，佛朗西斯科不仅专业知识过关，汉话也说的极好，甚至听不出来什么口音。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这得益于他在大明生活了整整二十年。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;二十年的时间足以让他说出一口流利的汉话。二十年的时间足以让他仰慕大明文化。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;是以当大明天子聘请他为皇明军校的教授时他毫不犹豫的接受了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;通过佛朗西斯科的讲解，讲武堂内的众人都对泰西式棱堡有了一个大体的了解，都想知道这种棱堡的实战效果如何。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;佛朗西斯科结束授课之后，顾炎武便兴致勃勃的对张煌言道：“玄著，你想不想去山东前线看看？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊？”张煌言吃了一惊，疑声道：“这真的可以吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们现在毕竟还是皇明军校的学生，贸然前往山东怕是不合规矩。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“当然是要先向陛下奏请了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;顾炎武看出张煌言的顾虑，坦然道：“所谓学以致用，听了泰西棱堡这么多描述，总归该去亲眼瞧瞧。怎么样，玄著想不想和我联名上疏。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;皇明军校的学生虽然不算是朝廷官员，但也基本可以看成储备官员了。类似于在翰林院读书的庶吉士，只待散馆就可以立即授官。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;故而天子授予皇明军校所有学生一个特权，那就是可以陈写奏疏直达天听。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然，也不能一人一个想法。要是那样，天子光看皇明军校诸生的奏疏就得累死。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;像这种请求休沐以去山东观摩棱堡的奏疏，大可以联名上之。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张煌言有些犹豫道：“我当然是想，不过我有些放心不下人中兄。他最近意志消沉，常常借酒消愁，我怕一离开便没人照顾他了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;顾炎武还以为张煌言在担心什么，得知他是担心陈子龙没人照顾差点笑出声。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这两人同进同出，该不会是有断袖之癖龙阳之好吧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;抛开这一层，那就是真真切切的兄弟情谊了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其实顾炎武可以理解陈子龙的失态。毕竟陈子龙比他和张煌言都大，本以为进入皇明军校是鱼跃龙门的一步，谁曾想却是一直在南京窝着蹉跎时光。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;万一三年后才能授官，陈子龙岂不是又少了三年大展宏图的时间？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但这种事情是急不来的。毕竟皇明军校不似国子监，他们是第一批学生，此前并无先例。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;何时能够授官，还得皇帝陛下说了算。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这个好办。玄著若是担心人中兄，便叫他一并联名，咱们一起去山东！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这倒是个好办法。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张煌言眼前一亮，当即便要返回号舍告知陈子龙这个消息。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然山东之行能否成行最终还要看皇帝陛下的意思，但至少他们应该做出努力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张煌言走的急切没顾得上看路，与迎面来人撞了个满怀，痛呼一声跌倒在地。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他捂着胸口站起身来，见对方是南安伯郑芝龙的长子郑成功，连忙拱手赔礼道：“明俨，愚兄失礼了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他与郑成功并不算熟，总共只说过三次话。但既然大家是同窗便该以礼相待。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“玄著兄太客气了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郑成功连忙拱手还礼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然他父亲贵为朝廷特封的南安伯，他却不想以势压人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“玄著兄走的这么急，可是有什么紧要事？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郑成功淡淡一笑，态度极有亲和力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“额”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张煌言本不想与郑成功就这件事多作讨论，可对方既然问起了也只能如实相告。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是这样的，宁人兄想要去山东看看正在修建的泰西棱堡是什么样的，打算上疏给天子。我打算去劝人中兄联名上疏。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“联名上疏？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郑成功眉毛一挑哈哈笑道：“好事，这是好事啊。如此好事怎能少的了我，这份奏疏上郑某可否署名？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“当然可以。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张煌言没想到郑成功也对泰西棱堡感兴趣，心中十分欢喜。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“那我便先去找宁人兄了，玄著兄快快去与人中兄说明情况。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郑成功兴致冲冲的拔步离去，张煌言也朝甲字号舍赶去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他一进屋就闻到一股浓重的酒味，不由的皱起眉来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他再往里走了几步，见内室中陈子龙卧倒在地呼呼大睡连忙催步上前。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“人中兄，快醒醒。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张煌言连拖带拽的把陈子龙弄了起来坐好，又给他沏了一壶醒酒茶。这一切办妥，张煌言又用凉水浸湿面巾毫不犹豫的敷在陈子龙脸上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嘶！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈子龙一个机灵醒了过来，倒抽了一口凉气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“玄著？你怎么在这儿？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“佛朗西斯科先生已经讲完学了。我来是和人中兄商议一件事情。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张煌言端起醒酒茶吹了吹，递给陈子龙。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈子龙皱着眉头把醒酒茶灌下，静静的等着张煌言分说。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“今日佛朗西斯科先生讲的是泰西棱堡。我们都对它很感兴趣。宁人兄建议我们去山东德州看看，那里正在修建棱堡群。宁人兄打算联名上疏，人中兄想不想一起署名？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“等等，你们打算去山东？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈子龙不知道他酒醉的这段时间发生了这么多事情，直是惊的目瞪口呆。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“对啊，人中兄你不是一直抱怨窝在这南京城中蹉跎时光吗？这么好的机会你要不要一起去？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈子龙癫狂大笑几声道：“去，我当然要去。不过这份奏疏却是得我来写，你们来署名！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“额，这个应该不成问题，一会我去和宁人兄商议一下。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张煌言当然知道陈子龙这么做是想出风头，但他没有丝毫怪罪的意思。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;毕竟陈子龙最年长，就像他的老大哥一般。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;出风头的机会对陈子龙这种快四十岁的人错过一次少一次，而他和顾炎武有的是机会。至于郑成功就更不必说了，他才二十，又有一个做南安伯的父亲，前途不限量。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;天生我材必有用，天生我材必有用啊！天子看过我写的奏疏，一定会重用我的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈子龙如是想道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;···<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;···
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>