<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第三百零四章 收获土豆，收获希望（第二更！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第三百零四章 收获土豆，收获希望（第二更！）
</div>
<div class="bookname">
	<h1>第三百零四章 收获土豆，收获希望（第二更！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;陈老实的表演很完美，试戏很成功。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他当即被录用，成为了一名文艺队员。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;即将开始新生活的陈老实却觉得有些手足无措，直到现在他都感到难以置信。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这就被录用了？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;此前陈老实从没有任何的演戏经验，不过是个老实巴交的农民。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;整日里待在田上，面朝黄土背朝天，靠在土地里刨食吃生活。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他唯一的愿望便是拥有几亩属于自己的土地，不必再给别人做佃农。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如今这个愿望已经实现了。靠着开垦荒地陈老实有了属于自己的土地，唯一的问题是今年的收成可能不会太好。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但这也没有关系，过上个几年等土地的肥力上来了就会好起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;每天吃饱饭，家里有余粮，这就是陈老实的全部愿望。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他从来没想过自己有朝一日能够吃上皇粮，一个月拿二两银子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那可是二两银子啊！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果粮价不再暴涨，二两银子至少可以买一石米。现在虽说不比万历年间，但粮价总体还算平稳，并没有到让百姓活不下去的地步。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;何况，参加文艺队并不影响他继续种地！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一个月只需要演十场戏，即便算上排练的时间，也能剩下大把时间用来种地。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈老实不怕辛苦。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;相反他是一个闲不住的人。真要是让他待在那休息啥也不干他还觉得别扭呢！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;自己耕种就不需要买粮吃，别的花费一年加起来就算是四两银子，一年也能攒下二十两呢。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;二十两！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一想到这个数字，陈老实便觉得一阵眩晕。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他这辈子都没想过有朝一日能够拥有这么多钱，而现在竟然一年就能攒下这么多。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;真是赶上好日子了啊！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈老实下定决心在文艺队里一定要好好表现，努力演戏，无论如何要把这份饭碗保住！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;五月份第一批土豆成熟。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;御花园里一片忙碌。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺亲自下地收土豆，在天子的感召下一众宦官、侍卫也纷纷动起手来卖力干活。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个场面在以往是难以想象的。若是被御史言官们看到说不准得上疏直谏。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;大明的皇帝虽然也会翻地，但那是在祭祀大典的时候随便装装样子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而现在朱慈烺却是真的去下地收土豆，如同一个普通的农户。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然没有人能够理解此刻朱慈烺的心情。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;土豆如果大面积推广解决的可是千万百姓吃饭的问题。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;满清为什么可以养活几亿人？不就是因为靠着推广土豆这种高产农作物吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;土豆做主食是没有任何问题的，在欧洲就是如此。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;看看欧洲人的餐桌哪顿少的了土豆？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;薯条、炸土豆、土豆饼、土豆泥<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;比起稻米、小麦，土豆当然算是粗粮，但却有着这两样作物不具备的优点。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;土豆对土地的要求很低，随便哪块荒地都能种，其又极为耐旱耐寒，正好适合小冰河的气候。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;眼下朱慈烺虽然竭尽全力抑制粮价上涨，但粮价仍是万历年间的两倍。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一想到有不少百姓因为买不起粮食而饿死，朱慈烺便觉得痛心疾首。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但推广土豆后就不用再担心这种情况发生了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;土豆的亩产量很高，即便是气候条件恶劣也不会减产严重。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;穷困的百姓吃不起米面总归是吃的起土豆的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;眼下先得解决温饱问题，随后才是追求生活质量。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺在田间挥汗如雨，刘传宗看的心疼，要上前拿方巾替朱慈烺擦汗，却被朱慈烺拒绝了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“刘伴伴，你且退下待朕忙完了这一阵再说。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘传宗无奈道：“奴婢遵命。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺虽然十分注重日常锻炼，经常练习弓马，每天打一套五禽戏，可还是累的够呛。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;农户们真是太辛苦了啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺不过是在收土豆的时候下一回地，农户们却是需要每日都在田间地头劳作，体力的消耗是惊人的，怪不得每天需要吃大量的粮食。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个时代的普通人没有多少油水，主食自然就吃的多了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这更坚定了朱慈烺增加商税、海税的决心。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;相比于农户，商人尤其是海商这个群体真的是富得流油啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;崇祯最大的问题就是只对着农民薅羊毛，而对商人太放纵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郑芝龙可以靠收海税收到一年一千万两，朝廷为什么不行？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;商人本就攫取了大量的财富，理当多缴赋税，尽到自己的一份责任。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于矿税更是必须严格征收。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;自打朱慈烺宣布全国矿产归朝廷后，这才不到半年的时间就收到了两百万的银子，一年保守估计也有五百万两银子进项。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这都是大钱啊！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;下一步朱慈烺准备对盐业开刀。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;盐商是不亚于海商的巨富群体，一个个富可敌国。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;作为垄断资源，盐商的收入进项是可以得到保证的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;大明对盐业本来管理的很严，靠出售盐引来控制上游资源。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;盐引的数量是一定的，所以每个盐商能够分配到的盐量便是一定的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但到了明中后期，盐引制度废弛，私盐遍地都是。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尤其是沿海诸省，到处是晾晒私盐的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;官府基本也是睁一只眼闭一只眼，拿了孝敬你好我好大家好。可这却严重的损害了朝廷的利益。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;崇祯年间一年的盐税竟然只能收到几十万两，这是何等的可笑！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;即便保守估计，盐税也应该收到一年几百万两。这些盐商真是把朝廷当傻子呢！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺可不愿意做这个傻子！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;既然开中法已经废弛，那么便要想出一个新的办法来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺的初步设想是成立皇明贸易商会之类的机构，作为管理盐业的唯一责任部门。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这种机构既不是朝廷部门，也不是民间商会，而是介于两者之间的机构。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然，此机构是直接对朝廷、对天子负责的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这相当于在这个行业树立了一个准入门槛。以前这个门槛是盐引，现在便是会员身份。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而加入此机构必须缴纳一笔数额巨大的保证金，定期接受监管缴纳赋税。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然，盐商们依然可以我行我素贩卖私盐。但朝廷不会再妥协了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺决定命各地军队严查私盐贩售，一经发现立即逮拿处决，以正国法
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>