<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第三十五章 东窗事发</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第三十五章 东窗事发
</div>
<div class="bookname">
	<h1>第三十五章 东窗事发</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;这些时日来，龙江船厂渐渐步入正轨。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;自打朱慈烺御驾亲临，与一众船工许下一通允诺，原本消极懈怠的工匠们纷纷卯足干劲，投入到兵船造制中去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;龙江船厂是大明最大的船厂，船工的个人技术也都是顶级。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;理论上他们能够造制的战船包括：战座船、巡座船、哨船、开浪船、火轮神舟、鹰船、三板巡船、连环舟、子母舟、两头船、大福船、苍船、单撇船、白艚、唬船；能够造制的运输船包括：大小黄船、快船、江汉课船、八橹船、满篷梢、摆子船、三吴浪船、西安船、清流船、梢篷船、黑楼船、盐船、乌艚、红单船等等；一般的海船则有：蟹船、遮洋船、封舟。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但朱慈烺却不需要他们造制种类如此繁多的船只。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他下了圣旨，命龙江船厂全力造制福船、广船和鸟船，以及一小部分的开浪船。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;福船、广船自不必说，分别是福建、广东等地区使用最普遍的海船。至于鸟船，是一种小型海船，船身长直，在海上行驶极为灵活。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这三种船型被朱慈烺定为将来大明水师的主力船，至于沙船更适合作为内江的运输船，实在不宜在海中远航。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这也是为何朱慈烺在看到魏国公徐文爵上的奏疏后没有感到丝毫的欣喜。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;魏国公在奏疏中写到，位于新江口的大明水师基地中有四百艘战船等待接受皇帝陛下的检阅。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺却知道，这个水师基地里所谓的战船都是清一色的“沙船”。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沙船为平底，吃水浅不易搁浅，适合在内河内江中行驶。但要把其作为海船尤其是兵船就太勉强了，这种船遇到大的风浪很容易就倾覆，且不适合装配火炮，怎么看都不是战船的合适选择。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然，朱慈烺也没有立即朱批，而是把这份奏疏留中不发。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;眼下要让他操心的事情很多，他还没有工夫去新江口检阅这个所谓的水师。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;正当朱慈烺想要翻越一份山东来的加急塘报时，提督东厂太监刘传宗求见。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺只得放下了手中的塘报，召见了他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“奴婢叩见皇爷，皇爷万岁万岁万万岁。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘传宗跪俯在地行了大礼，朱慈烺便抬手唤道：“刘伴伴平身吧，你今日来觐见所谓何事？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“皇爷，奴婢有密奏！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说罢刘传宗将一个黑色的木匣子高高举过头顶。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“呈上来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺微微颔首，贴身内侍便走到刘传宗身边接过木匣子，又小心翼翼的走到朱慈烺面前。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺亲自启开木匣子，从中取出一叠厚厚的文册，从头开始细细看来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他花了整整半个时辰，才将这一叠文册看完，面色早已变得冰冷无比。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这帮狼心狗肺的东西！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;原来朱慈烺一直命锦衣卫和东厂的人盯着那些文官、勋臣，防止他们转移财产。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;毕竟狡兔三窟，朱慈烺不信他们会把所有财产存在南京的宅邸中。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不曾想东厂的番子们没发现这些蛀虫们转移财产，却发现赋闲在家的钱谦益突然前去魏国公府拜访。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这立刻引起了刘传宗的警惕，当即加派人手到魏国公府附近打探消息。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这不查不知道，一查却是吓了刘传宗一跳。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钱谦益离开后，包括保国公张国弼、隆平侯张拱日在内的一众勋臣都来到魏国公府，与魏国公徐文爵密议。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然东厂的番子不能探查到他们具体商议的内容是什么，但事出非常必有妖，这么多勋臣突然聚集在一起肯定有不可告人的目的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;偏偏在这个时候，一名龙江船厂的工匠到应天府报案，称他的族兄自打前几日被魏国公府的人带去新江口水师基地后就一直没有回来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这名船工忧心不已，遂报案请青天大老爷帮他讨个公道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;应天府尹却哪里敢得罪魏国公，当即命人把这名船工打了四十大板，叉了出去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一切被一名路过应天府的东厂番子看在眼里，并立即向东厂提督刘传宗汇报。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;凭借敏锐的嗅觉，刘传宗认定这两件事有着某种联系，便叫那东厂番子把被打的半死的船工带来质询。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一番询问后，刘传宗得知，原来五日前魏国公府的管事去到龙江船厂，以新江口水师基地的几艘沙船需要修补为由，从龙江船厂借调了几名船工，其中就有这名报案鸣冤船工的族兄。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;正常修补船只一两日足矣，可这些借调的船工一连五日都没有返回。龙江船厂提举司的官员不敢得罪魏国公，便把此事压了下来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可那族兄失踪的船工心有不甘，遂前去应天府报案，这才有了之后的事情。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这其中疑点多多。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;魏国公为何偏偏要从龙江船厂借调船工去新江口水师基地修缮沙船？难道偌大个水师基地中就没有一个人会修缮船只吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;即便新江口水师基地真的没人会修缮，那借调船工修缮完了也该放人回去吧？哪有把人扣下的道理。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;魏国公一定在有意掩盖什么！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘传宗彻底被勾起了兴趣，他派出东厂内所有档头、番子去调查此事，终于从隆平侯张拱日身上查到了蛛丝马迹。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;原来隆平侯张拱日有一房宠爱的妾室，平日里藏在乌衣巷的别院中。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这别院只有两进，是张拱日金屋藏娇的所在。院中除了几个老妈子，三两个丫鬟外再无旁人，比起戒备森严的侯爵府可太容易潜入了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这日夜里，张拱日像往常一样来到别院与宠妾欢好，因为喝的酩酊大醉，床底上竟然把他们和魏国公的计划都说给了宠妾听。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一切都被潜入隆平侯别院的东厂番子听到耳中，并第一时间上报给了刘传宗。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这帮文官勋臣竟然要弑君！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;得知这个消息后刘传宗亦是震惊不已，顺着这条线索又搜集了不少证据，这才匆匆赶来宫中向天子奏禀。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;直到他进宫前，东厂的番子也只是严密监视着涉事官员，并没有实行抓捕。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在他看来，在皇帝陛下知晓此事并作出决断前，一定不能打草惊蛇<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;ps:感谢书友庐山东林寺夜花的300币打赏，感谢书友阿承119的100币打赏~
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>