<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第二百八十八章 陈顺才的自救（第四更，白银盟主加更！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第二百八十八章 陈顺才的自救（第四更，白银盟主加更！）
</div>
<div class="bookname">
	<h1>第二百八十八章 陈顺才的自救（第四更，白银盟主加更！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;由于李成栋之前已经下了命令要生擒勒克德浑，故而一众亲兵下手很有分寸。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们合而围之，将那身披银甲之人身边的护卫全部斩杀，惟独留下了此人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在李成栋看来，这身着银甲之人一定就是勒克德浑了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这人被射翻下马，一众李成栋的亲兵便一拥而上把他五花大绑了起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那人口中骂骂咧咧个不停，很显然不是汉话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李成栋径直挥手示意将他押走。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;接下来明军要做的便是收拾残局了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;左右蒙古两翼骑兵见状不妙早已逃之夭夭，剩下的便是困在正中的汉军旗骑兵了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这些汉军旗兵原本还有些斗志，想要负隅顽抗到底。可看身披银甲的多罗贝勒勒克德浑都被明军擒获了，心中憋着的那一口气立时便泄了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们纷纷丢下手中兵刃向明军投降。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;明军士兵毫不犹豫的用绳索把他们捆了看押起来<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;明军此役大胜，斩首一万八千余级，俘虏三千人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如此多的俘虏看押是个颇为麻烦的事情。虽然这些人都是辽东的汉人，但如今已经被编入了八旗，是真真切切的二鞑子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;负责看管他们的明军士兵并没有给他们好脸色看，只盼着大帅赶快下令将这些人全部处死。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这其中便有陈顺才。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈顺才当时见势不妙便倒地装死。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一招在以往屡试不爽，陈顺才靠着装死每一次都能够化险为夷。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可这一次竟然不管用了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;明军士兵在清扫战场的时候对每一具尸体补刀。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈顺才见状连忙跳了起来，对明军投降。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;好死不如赖活着，能活一刻是一刻。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;等待是煎熬的，因为对这些汉军旗的俘虏来说他们不知道自己能否看到翌日太阳升起。那种发自心底的恐惧直是能够把人逼疯。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;直到明军驱赶着把他们带到城中一处校场后他们才明白要干什么。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一群军将模样的人簇拥着一个身着大红色团龙常服的人，看样子这人应该就是大明的皇帝了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;原来是为了献俘！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;大部分的俘虏并没有太过激动，大明皇帝一定对他们恨之入骨吧？指望大明皇帝赦免他们的罪行估计是不可能了，只希望能够给他们一个痛快。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而押在最前面的就是“勒克德浑”了。他的银甲早已被剥下，现在只穿了一件单衣。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺在一众军将的簇拥下来到他面前，冷冷质问道：“你便是勒克德浑？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那人却是冷哼一声，似乎不屑理睬朱慈烺。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如此傲慢的态度却是激怒了高杰，他上前一步狠狠冲“勒克德浑”掴打了一掌，斥责道：“圣上在问你话呢！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺举了举手示意高杰先不要动粗。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“高卿，可向俘虏核实过此人的身份？兹事重大，容不得丝毫疏忽啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这臣尚未核查。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰额头都渗出了豆大的汗珠。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这李成栋是怎么办事的，连最起码的核实身份都没有做好。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“臣立刻去办。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰此刻也顾不得和李成栋甩脸，只吩咐下去从俘虏中随即抽取几十人来到“勒克德浑”面前核实。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只可惜其中大部分人都没有近距离见过勒克德浑，只远远的瞥见过一眼，却是分辨不出。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;直到陈顺才被带到面前。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他看到“勒克德浑”的一瞬间便断定此人不是多罗贝勒，而是一个冒名顶替之人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这是因为陈顺才在逃回清军大营时曾与勒克德浑擦肩而过。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他十分清楚的记下了勒克德浑的样子，显然不是眼前这人！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈顺才意识到这对他来说是一个绝好的机会。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果他向明军检举，会不会赢得一线生机？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;哪怕只有一丝希望，他也要试一试！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“他不是勒克德浑，他是冒名顶替的！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈顺才高声道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那“勒克德浑”显然听不懂汉话，见陈顺才声调那么高颇是皱了皱眉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而包括高杰、李成栋在内的一众军将皆是倒抽了一口凉气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;什么，这个勒克德浑是假的？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这还了得！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这不等于是欺君了吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;天子就在身边，这下可该如何收场？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰的第一反应是杀了陈顺才，这样便死无对证了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他快速抽刀便要冲陈顺才砍去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可就在这时朱慈烺厉声呵斥道：“高卿在做什么！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰愣了一愣，握刀的手悬在了半空。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“陛下，此人明显在说谎”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺却是不咸不淡的说道：“他有没有在说谎朕自会判断，高卿先退下吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰双手抱拳无奈的说道：“臣遵旨。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺走到陈顺才面前，仔细打量这个皮肤黧黑的汉军旗人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你叫什么名字？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“俺，俺叫陈顺才。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈顺才抬眼瞅了朱慈烺一眼小心翼翼的说道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个皇帝长得真清秀啊，看起来也就是十六七的样子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你不必紧张，朕问你什么就答什么。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“唔”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈顺才的心情已经稍稍平复了下来，咽了一口吐沫等着朱慈烺发问。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你方才说此人不是勒克德浑，有何证据？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我亲眼见过勒克德浑，不是这个人”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈顺才拼命解释道：“这些俘虏里见过勒克德浑的人少，但一定有。不信的话你把他们一个个带过来辨认。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;听陈顺才这么说，朱慈烺心中已经有了七八分的计较。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈顺才没有理由撒谎。因为他撒谎了并不能改变什么，还可能被人指认是在说谎，下场会更惨。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;很可能这个勒克德浑真的是冒名顶替的，这种事情在历史上屡见不鲜。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;宁可信其有，不可信其无。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但若是把三千俘虏全部拉来辨认一遍那黄花菜都凉了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺遂提声吩咐道：“高卿，朕命你立刻派人去追，遇到任何逃窜的东虏立刻绑了带回临清。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“臣遵旨。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰连忙抱拳领命。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他没确认俘虏的身份就贸然把这厮当做勒克德浑献俘给天子，险些翻了欺君之罪。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;还好天子宽宏大量，不与他计较。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰心道必须要将功赎罪，把真的勒克德浑抓回来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;好在逃走的清军士兵并不多，且都是疲惫不已，多派些人去追一定能把他们全部抓回来
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>