<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第二百三十一章 郝摇旗“借粮”（第一更，求订阅，求月票！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第二百三十一章 郝摇旗“借粮”（第一更，求订阅，求月票！）
</div>
<div class="bookname">
	<h1>第二百三十一章 郝摇旗“借粮”（第一更，求订阅，求月票！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;花厅内的气氛一时有些沉寂。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;良久李过才压低声音道：“这件事你不用管了，老子会亲自去派人调查。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李来亨急道：“父帅，军营那边该怎么办？靠压是压不住的啊！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“老子叫你不要管了，你听不懂吗！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李过突然爆发，冲着李来亨一阵咆哮。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李来亨愣了一愣，随即跪倒在地冲李过叩首道：“都是孩儿不好，父帅不要生气了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“下去吧！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李过不耐的摆了摆手。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李来亨颤巍巍的站起身来，一咬牙转身离去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;待李来亨离开后，李过整个人就像一只泄了气的羊皮筏子瞬间软了下来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“国勋，这不会是真的吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高一功虽然也很震惊，但至少还保持着冷静。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;见李过情绪有些失控，他好言安慰道：“你先别急，把事情弄清楚了再说。兴许是小老虎弄错了呢？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但他心里也清楚这种事情不太可能是空穴来风。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如今荆门城中把李自成战死传的有鼻子有眼的，他们也得做好最坏的打算。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“国勋，你说说看，那堵巡抚是不是从一开始就知道了？怪不得谈判中他一点也不肯让步，仿佛吃定了我们似的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李过归降谈判时的最大资本就是李自成。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只要李自成没死，李过随时都可以前去投奔。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可若是李自成已经死了，局势就完全不同了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;除了投奔满清，李过只能归降明朝。在两大强敌之间，夹缝求生实现太艰难也太不现实了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这倒也未必，还是把事情弄清楚再说。不管怎样，你得振作起来！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高一功拍了拍李过的肩膀，语重心长的说道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李自成如果没死自然最好，他们可以按照原计划假意归降，寻找机会前去投奔。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;假如李自成真的死了，李过便得担起重担。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;别管将来要不要扯旗单干，顺军旧部都需要一个说一不二的领头人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高一功的资历足够，但他的性格不太适合做这个领头人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李过却十分合适，他的气势颇有几分李自成的真传。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“可怎么弄清楚？难道我亲自去问堵胤锡？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李过现在已经彻底乱了方寸，不知该如何是好。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“当然不用去问他。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高一功叹了声道：“直接去看坻报就好。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李过如梦方醒。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对啊，他现在已经是明军将领了，自然有权力翻看坻报。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;像如此重大的事情坻报上一定会有记载的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我这便命人把这几个月的坻报都翻出来！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李过攥紧拳头道<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;长沙府。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;知府赵徽急得在府衙内团团转。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;数万军队突然出现在长沙府简直要把人吓死。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵徽在幕僚的建议下第一时间向湖广巡抚堵胤锡报告。可他写的信函送到武昌后却如同泥牛入海般没了音信。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;此时赵徽有两个选择。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其一是继续等下去，等到堵胤锡给他下达命令。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其二是自己写一份奏疏，派人赶快送到南京供天子御览。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然这样做是有很大风险的，万一将来堵胤锡追究起来，责问他为何越级上报，赵徽将会十分被动。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但如果他不写这份奏疏，同样十分凶险。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;万一贼人真的攻城，以长沙府内这些兵卒想要守住是不可能的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一旦被贼人攻克府城，赵徽一个失土之罪是跑不了的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;届时即便赵徽侥幸逃脱，也会被锦衣卫逮拿回京，戮于西市。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;到了那时，堵胤锡可不会替他说一句话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在死道友还是死贫道这件事上赵徽当然会选择前者。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;即便因此得罪堵胤锡他也在所不惜。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不能再等下去了！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;最终赵徽咬牙下定了决心，他准备叫人准备笔墨，亲自来写这份奏疏。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;正在这时突然有人来报，那伙儿贼兵的首领派人向城内射来一箭，箭上绑有书信。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵徽连忙命他把书信呈上来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说是书信其实不过就是一个小纸条。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;内容也很简单，就是要求长沙官府借粮给他们。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵徽当然明白说是借粮，其实就是肉包子打狗有去无回。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;信的最后写有郝摇旗三个字。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过赵徽并没有太大的反应，他根本没有听过此人的名字，想必是哪个山头的草头贼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵徽一时无策，索性叫来幕僚一起商议。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那幕僚在看到郝摇旗三个字后却是大惊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“东翁，此人乃是李闯麾下悍将啊！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“什么！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵徽吃了一惊道：“那这支军队岂不是就是闯军了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;闯军的战斗力还是很强悍的，虽然被清军一路穷追猛打，但当年也没少让明军吃苦头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“本官该如何是好，如何是好啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郝摇旗亲自前来“借粮”，赵徽若是不借，郝摇旗一怒之下势必会下令攻城。城破之后赵徽肯定难逃一死。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可如果赵徽迫于压力借粮给郝摇旗，万一事情走漏了风声，此事被朝廷追究，一顶通敌的帽子扣下来赵徽同样是吃不了兜着走。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;无论从哪个角度看，他现在的处境都很艰难。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“东翁莫慌，便且先把粮食借给他吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;听幕僚这么说，赵徽眉毛一挑道：“那万一将来朝廷知道了呢？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“朝廷又没有证据，只凭一些闲言碎语就能治东翁的罪吗？至于库中粮食缺项，随便做做账目便是。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两害相权取其轻，对赵徽来说显然跟郝摇旗合作的风险更低。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“那该如何跟这郝摇旗交接呢？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郝摇旗要的是粮食，可那么多粮食不可能凭空变到郝摇旗面前。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵徽要想把粮食“借给”郝摇旗，就必须打开城门。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;天知道这个时候郝摇旗会不会趁机攻城。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“东翁不妨与郝摇旗约定一个时间地点，在那里交割。只要保证那个地点远离府城即可。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵徽眼前一亮。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这确实是个不错的法子。只要别在城下交割就好，便是郝摇旗反悔赵徽也有时间组织人手守城。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而且这样做还有一个好处，赵徽可以让运送粮食的衙役、府库兵扮作商人，组成一个临时的“商队”。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这样可以进一步的洗脱赵徽本人的罪名，即便将来朝廷追究起来也没有证据证明他私通郝摇旗
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>