<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第三百五十一章 屯兵保宁州（第一更！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第三百五十一章 屯兵保宁州（第一更！）
</div>
<div class="bookname">
	<h1>第三百五十一章 屯兵保宁州（第一更！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;张献忠做出决定后立即率军北上奔赴保宁府。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;由于之前刘进忠叛乱，张献忠加强了对保宁府的控制。如今负责镇守此地的大将就是他的义子张能奇。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;得知张献忠和张可望率大军赶至，张能奇率亲兵出城迎接。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张献忠对张能奇还是比较看重的，勉励了几句便在其陪伴下进驻了保宁府。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;事情紧急，张献忠不敢耽搁，喝了几杯水后就叫张能奇展开舆图与他分析敌情。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;保宁府的北面就是汉中。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;之前很长一段时间，汉中只有硕詹统领的两千满洲镶白旗甲兵以及佟养和统领的三千汉军镶蓝旗士兵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;即便是刘进忠降虏带去了一万左右的精锐后，满清在汉中也只是多了些绿营兵而已。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可形势在六月急转而下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;满清从关中调拨了大量军队，不到半个月的时间汉中的驻军从常备的一万五千人涨到了五万人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;明眼人都能看出满清是要搞事情了，张能奇又如何看不出？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一方面他命令手下士兵加强戒备，另一方面他命人速速前去成都将情况禀报给了张献忠。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;眼下保宁府仅靠他一个人是决计守不住的，必须动员一切可以动员的力量，最好让张献忠亲自前往保宁压阵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;好在张献忠也意识到了这个问题，此役关乎到大西军的生死存亡，故而他十分重视真真切切是当做最后一仗来打。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他已经调拨了所有能够调拨的人，如今保宁府内的驻军已经有七八万人之多。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;除了留守成都等地的几万人，所有大西军已经云集于此！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“驴球子，整个陕西穷的树皮都被啃完了，这帮鞑子怎么还有粮，真是见了鬼了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;也难怪张献忠抱怨，他是从陕西起家的，知道以陕西的能力不可能供养的起十数万大军。而现在光是汉中的清军就已经有超过五万人了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;毫无疑问，满清是在向陕西大量输送粮食。这么做的理由只可能有一个，那就是满清下定决心要拿下四川了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;汉中府地理位置极为重要，其西南有巴岭山，南连孤云、两角、米仓诸山，达四川之巴州。南滨汉水，源自嶓冢，经县界，下流至湖广汉阳府入大江。又有沮水，又西北有褒水，俱流入汉水。南有青石关巡检司。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于其下辖的宁羌州，东北有五丁山，亦曰金牛峡。北有嶓冢山，汉水出焉，亦曰漾水，下流至湖广汉阳县合大江。又东有嘉陵江，西有西汉水合焉。西南有白水，自洮州卫流经此，亦曰葭萌水，有白水关，其下流至四川昭化县合于嘉陵江。又东北有浕水，流入漾水，谓之浕口。又东有沮水。北有阳平关巡检司。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;总的来说汉中与保宁府之间有一道天然的屏障，那就是大巴山，也称巴岭山。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不论是从汉中攻向保宁还是从保宁攻向汉中，大巴山脉都是绝对不可能绕开的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;大巴山脉上有许多险要的关卡，诸如七盘关、朝天关。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这些关隘有的在大西军手中有的在清军手中，皆是易守难攻。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张献忠十分清楚要想阻击清军便要把这些关隘牢牢攥在手中。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“可望，能奇你们都来说说，鞑子会从哪处攻。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张献忠盯着舆图看了良久只觉得两眼酸痛不已，揉了揉眼睛问道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“回父皇的话，儿臣以为鞑子肯定会攻打七盘关。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张可望毫不犹豫的说道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;七盘关如今是在大西军手中的，但受限于地形，整座关隘里只能容纳几百人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果清军不惜一切代价攻打七盘关，大西军也很难守。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;拿下七盘关后清军便可沿着嘉陵江顺江而下直取保宁府府城。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然他们也可以选择攻打剑门关，进而向西南成都方向行进。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不论清军怎么选择，大西军都会十分难受。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“父皇，儿臣以为鞑子取道大坝的可能性反倒是要高一些。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张能奇犹豫了片刻还是说出了自己的想法。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在张可望面前他一直缺乏足够的自信。但此事事关大西军存亡，他也不得不硬着头皮说出自己的意见。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦？你为何会这么想？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其实张献忠的想法和张可望类似，他也认为清军集中力量攻打七盘关的可能性更大。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但毕竟张能奇是戍守保宁州的大将，他还是很想听一听张能奇的想法的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“父皇，拿下大坝之后鞑子就可以沿着巴江南下取巴州，进而夺取顺庆府，从潼川州攻打成都”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张能奇稍顿了一顿道：“不过还有一种可能，鞑子是想从保宁府突破，从而取万县，夺奉节攻打湖广。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张能奇说完这番话张献忠直是皱起眉头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若是清军真的想要攻取巴县，之后确实有张能奇说的两种可能。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只是如今万县和奉节在明军手中，如果清军去攻打这两处地方张献忠是乐得看到的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只是他不敢去赌。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;万一清军的目的不是川东而是成都呢？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他绝不能把清军放进四川。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“七盘关也好大坝也罢，咱老子就不信了，那鞑子能长了翅膀飞过去。传咱老子的旨意，囤积重兵于大巴山脉，一只苍蝇也不许放过来！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张献忠攥紧了拳头恶狠狠的说道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然这么看来他有可能是帮了明军的忙，但他只能这么做。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;满清就像是一只恶鬼，把它赶得越远越好，如果让恶鬼缠身，那麻烦可就大了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“儿臣遵命！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张可望与张能奇一齐应道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“恩，咱老子要一个人静一静，你们且先退下吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张献忠一手揉着额头，另一只手摆了摆手道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“儿臣告退。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张可望与张能奇十分恭敬的行礼，先后退了出去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一出屋子张能奇连忙向张可望赔罪道：“大兄，方才我不是有意的，只是觉得鞑子攻打大坝的可能性更高一些。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张能奇担心张可望误会，第一时间解释道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张可望哈哈笑道：“这种小事我怎么会放在心上，何况你也是为了军国大事着想嘛，不碍事的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张可望拍了拍张能奇的肩膀道：“兄弟齐心其利断金，咱们可得一条心啊。”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>