<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第一百二十四章 巾帼英雄秦良玉（第一更，求订阅，求月票！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第一百二十四章 巾帼英雄秦良玉（第一更，求订阅，求月票！）
</div>
<div class="bookname">
	<h1>第一百二十四章 巾帼英雄秦良玉（第一更，求订阅，求月票！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;学就西川八阵图，鸳鸯袖里握兵符。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;由来巾帼甘心受，何必将军是丈夫。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这是崇祯帝御制的一首诗作，褒奖的便是巾帼英雄秦良玉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦良玉也确实当得起如此夸赞，遍观她的大半生，为了大明朝廷四处奔走，募集子弟石柱兵剿贼战虏。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;遍观满朝公卿，能把国事当做家事认真对待的真没有几人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;是以朱慈烺才会一即位就封秦良玉为忠贞候，授以四川招讨使之职，命其以镇东将军头衔督兵平定献贼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;让朱慈烺感到惊讶的是，这位巾帼英雄竟然在两个月前辗转离川，并于昨日抵达南京。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;随行的都是一些秦家的后辈子侄，统共不过几十人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺前世就对秦良玉十分敬仰，虽然不能理解她突然离川的举动，但还是想早些见见这位传奇女将。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;考虑到秦良玉今年已经七十岁的高龄，朱慈烺特赐肩舆准许秦良玉乘坐入宫。他更是把陛见地点定在了文华殿，这样秦良玉也可以少受一些折腾。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一切准备妥当，朱慈烺换了一套大红色圆领团纹滚龙袍，端坐在文华殿正殿中。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在内侍的宣诵声中，秦良玉迈着沉稳的步子走入殿中，冲朱慈烺行了臣礼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺连忙让秦良玉平身，并赐下一方锦墩供其休息。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“忠贞候此番离川入京是为何事？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺急于问个究竟，便开门见山的问道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;照理说，武将未经旨意便擅自离开驻守地前往京师，是件很犯君王忌讳的事情，有谋反的嫌疑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过，秦良玉当然不在此列。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“启禀陛下，老臣离川入京是为了替朝廷再尽一些绵薄之力。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦良玉神情显得有些激动，颤声道：“如今献贼虽然窃据成都，但对于整个四川的控制力很薄弱。虽然他极力想要招降土司，但效果并不好。献贼的军纪败坏，民心尽失，不足为惧。老臣年事已高，即便坐镇四川也不可能亲自提枪上阵，倒不如把为国戍守的职责交给后辈，来南京出一份力。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦？忠贞候想怎么做？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺越来越感兴趣了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“听说陛下在南都设立了一座南明军校？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦良玉浑浊的双目中闪出了灼灼光彩。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“确有此事。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺微微颔首。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“老臣有个不情之请，还望陛下成全。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦良玉起身冲朱慈烺长揖礼道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺连忙道：“忠贞候快坐下说。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;从年龄看，秦良玉都可以算是朱慈烺的奶奶辈了，一生又为大明立下了赫赫战功，朱慈烺当然得对她以礼相待。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦良玉坐定之后才叹了一口气道：“老臣虽然已经提不动枪了，但还是想为大明做些什么。故请陛下准许老臣到皇明军校讲学。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺闻言直是大喜。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其实他一直觉得皇明军校的师资力量是个问题，虽然有不少从壕境聘请来的泰西佛郎机人作为讲师，但更多的是宣传西式战法，与大明本土的战阵如鸳鸯阵的结合并不到位。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;再就是皇明军校的讲师多是年轻人，稍大一些的也就是四十来岁，不太能压得住阵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若是秦良玉能够到皇明军校讲学，那绝对是一件轰动事件。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;首先秦良玉履历很好看，有数不尽的战功。其次，秦良玉就是忠贞的代名词。如今国事艰难，神州大陆有倾覆之危。这种时候更应该在年轻人中宣传忠君报国的理念，充分挖掘内部潜能，君臣一心共度难关。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦良玉只要去到皇明军校讲学，不但可以激发军校生的爱国热情，还可以让整个南都的有志之士欢欣鼓舞。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;打仗打的就是一口气，朱慈烺要想带领南明逆袭，就必须把快咽下的这口气重新吊起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不论是满清、李自成还是张献忠都是极为强大的敌人，要想战胜他们，光靠努力训练是不行的，还要在精神意志上多下些工夫。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦良玉主动请缨，朱慈烺当然不会拒绝。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“忠贞候公忠体国，为朝分忧，朕心甚慰。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他稍顿了顿，笑声道：“忠贞候的那些子侄也可以进到皇明军校学习嘛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这算是朱慈烺给秦良玉皇明军校讲学的一个回报。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦家中生代的一辈基本都在浑河血战中折损的差不多了，如今留下的都是初出茅庐的小辈。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这些小辈虽然热血方刚，但因为经验不足，一腔报国热情往往无处施放。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而皇明军校就是一个教导他们如何高效报国的地方。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦良玉愣了一愣，旋即恭敬道：“老臣谢陛下恩典。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其实她带这些后辈一同前来南京，主要是为了路上有个照应。毕竟现在天下不太平，到处都是流贼土寇。秦良玉虽然是名将，但上了年纪有些事情有心无力，有后辈子侄护卫同行才可以安心上路。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然，带这些后辈来南京见见世面也是秦良玉的一个目的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;远的不说，秦拱明不是已经做到德州总兵的高位了吗？若不是他当初执意离开四川前往淮安，在漕运总督、淮安巡抚路振飞帐下做事，累功出任团练总兵，又怎会遇到当时还是太子的当今圣上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;人这一辈子能够达到多高的成就真的是要靠自己争取的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对秦良玉来说，她只有两个愿望。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其一便是看到大明收复神京，击败东虏、闯贼、献贼的那一天。其二便是能让后辈子侄有个好前程。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这两个愿望在某种程度上是相关的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;换句话说，只有当今圣上坐稳了江山平定了天下，秦家子侄后辈才能跟着获得荣华富贵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而如果是东虏、李自成、张献忠坐了江山，秦家肯定会落得个万劫不复的境地。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦良玉把事情看得明白，便时常叮咛后辈子侄要多把国事放在心上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;因为有国才有家，大明若是亡了，秦家自然便无足轻重了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦良玉活了一辈子，看人的眼光十分毒辣。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;与当今天子交谈一番后，她已笃定这位年轻的天子是个有抱负、有担当、有手段的君王。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;有这样的雄主在，她一定能在生前看到大明中兴！
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>