<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第一百三十一章 开封戒严（第二更，求订阅，求月票！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第一百三十一章 开封戒严（第二更，求订阅，求月票！）
</div>
<div class="bookname">
	<h1>第一百三十一章 开封戒严（第二更，求订阅，求月票！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;天气转凉了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一进入九月，除了正午那个把时辰，从早到晚都很清爽。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一场大雨过后，更是去除了存留在空气中的最后一丝暑意。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过，开封城内的百姓却并没有因为凉爽而感到心情畅快。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;据说高杰有意领兵攻打开封，若真是如此，那刚刚过了没几天的好日子便又到头了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;乱世人命贱如狗，开封位于中原腹心，别管是谁来了都会想要攻打。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;明军、顺军、鞑子，你方唱罢我登场，城破一次就是一场浩劫，苦的还不是百姓？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;本以为鞑子能够在开封站稳脚跟，谁曾想高杰又打起了开封的主意。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这种朝不保夕的日子啥时候是个头啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郑奎抬头巴巴的望了一眼天，直想质问老天爷一句，可最终还是长叹一声背负双手走进了豆腐铺。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;铺子里面女儿郑秋彩正把卤水点好的豆腐切成块，见郑奎进来了，甜甜的喊了一声：“爹！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郑奎心中不由得一暖，笑声道：“怎么，豆腐都切好了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郑秋彩今年虽然只有十五岁，但从小跟着郑奎学做豆腐，掌握了制作豆腐的全部技术，人称豆腐西施。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;因为郑秋彩长得漂亮，来郑家提亲的媒人络绎不绝，都快把郑家的豆腐铺门槛踏烂了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可郑奎无一例外的把婚事都回绝了。不为别的，就是舍不得女儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他的妻子在生郑秋彩的时候难产死了，留下了郑奎、郑秋彩爷女俩。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郑奎又当爹又当娘，靠着一间豆腐铺把郑秋彩拉扯大，父女间的感情很好。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一想到自己一手养大的女儿要嫁到别人家去，被一个陌生男人占有，郑奎的心口便跟被人用小针扎了一样的痛。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然知道男大当婚女大当嫁，迟早会有那么一天，但郑奎还是希望这一天晚点到来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“爹，您喝杯茶！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郑秋彩倒了一杯热茶，双手捧着递送到郑奎面前。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郑奎接过茶杯大口灌了下去，只觉得喉头分外温润。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;真是个好女儿啊！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“秋彩，你也歇歇吧。铺子里不用盯着了，爹来！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郑奎满是茧子的大手轻轻抚过郑秋彩光嫩的面颊，替她拢了拢鬓角的发丝。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“爹，没事，我不累！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郑秋彩莞尔一笑，甜美的如同一朵出水芙蓉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只是这父慈女孝的场面没有持续多久，便被一声高喊打断。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“郑大叔不好了，翻山鹞真的要来打开封，府尊大人下了令，从即日起开封全城戒严！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郑奎转头望去，见来人是邻居何家的小子何椿，急忙上前几步追问道：“你从哪里得到的消息，可准？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哎呀，郑大叔，我表舅可是在衙门里当差的，这个消息准假不了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;何椿咽了一口吐沫，迈开步子就往铺子里走。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郑奎也跟着走了进去，唤郑秋彩给何椿倒一杯茶来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;何椿见着郑秋彩打了个招呼，毫不避讳。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他和郑秋彩打小一起长大，把郑家小妹当做亲妹妹看待，根本没有男女大防的顾忌。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郑秋彩倒了一杯茶递给何椿，何椿仰起脖子一饮而尽，还觉得有些不过瘾，笑嘻嘻的说道：“好妹妹，再来一杯吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郑秋彩白了他一眼道：“没个正行。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郑奎也咳嗽一声道：“看你小子火急火燎的样子，这件事应该假不了。只是那翻山鹞为何突然要来打开封呢？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;何椿面色一正道：“还不是因为鞑子的兵都调去西边了，河南兵力空虚啊。听说太原那边打的很惨烈啊，守军誓死不降，苦了城中的百姓了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郑奎面色也阴沉了下来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;何椿这小子说的还是有几分道理的。如今整个河南都见不到一个八旗兵，也就是祖可法等人领着绿营兵在驻守，战斗力十分有限。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这种时候若是高杰领兵攻打，确实能够占到些便宜。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“郑大叔，我这次来就是想告诉你，这些日子小心一些，生意呐就先别做了，把大门关好，任谁来也别开门。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郑奎当然明白何椿的意思。开封是大城，仅仅靠城中守军是肯定守不住的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若高杰真的领兵攻城，鞑子肯定会抓壮丁到城头协助守城。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说是抓壮丁，但鞑子真的抓起来可不管那许多，从十几岁的娃娃，到六十来岁的老翁一概都得跟着走。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这些壮丁估计连一件棉甲都分不到，冒着如蝗箭矢在城头奔走，运送守城器械，很可能稀里糊涂丢掉性命。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郑奎已经年近五十，腿脚不很利落，这要是被抓去做壮丁，恐怕凶多吉少。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只是一连数日不开门做生意，他父女俩吃啥喝啥？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;小户人家，小本买卖，根本存不下多少银子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;即便是想坐吃山空也做不到啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;见郑奎面露难色，何椿大概也明白了他心中所想，咬了咬牙道：“郑大叔，要不这样吧，我跟父亲说一说，先借给你们些粮食，等到翻山鹞退兵了，你们再慢慢还。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽说何家也不是什么高门大户，但比起郑家来家境还是要好一些的。两家又是老相识了，郑家遇到难处何家不能不帮。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郑奎闻言大喜，连忙点头道：“中！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“唔，那我便先不打搅了，郑大叔你也准备准备，多备些柴米油盐，这场仗还不定打多久呢。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;何椿说完便转身离去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郑奎犹豫了片刻，还是喊道：“何家小子，你也小心一点。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;何椿扭头笑道：“郑大叔你就放心吧，我娘找道士给我看过面相，我命硬着呢。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说罢他三两步出了铺子，转眼的工夫就消失在巷口。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这何家小子还真是不错。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郑奎走到郑秋彩的身边，拉着她的双手道：“你想嫁到何家去不？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郑秋彩吓了一跳，一把将手抽出，慌张道：“爹您说什么呢，我把何大哥是当做亲兄长看待呢。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郑奎心中长叹一声。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他何尝愿意这么早把女儿嫁出去。若是太平年景，他恨不得一直把女儿留在身边。可现在是乱世，他这副老骨头说不定哪天就交代了。若是女儿能嫁个好人家，他心里也踏实一些。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这何家小子是他看着长大的，为人忠厚老实，比那些纨绔公子可强太多了<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;ps:书友们，我是一袖乾坤，推荐一款免费小说app，支持小说下载、听书、零广告、多种阅读模式。请您关注微信公众号：书友们快关注起来吧！
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>