<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第一百二十一章 刘良佐的如意算盘（第十更，求订阅，求月票！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第一百二十一章 刘良佐的如意算盘（第十更，求订阅，求月票！）
</div>
<div class="bookname">
	<h1>第一百二十一章 刘良佐的如意算盘（第十更，求订阅，求月票！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;刘良佐分析了利弊得失，最终一拍脑袋决定降清。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他娘的，跟谁干不是干，何必在一棵树上吊死。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如今怎么看都是大清定鼎天下的机会大，继续做明朝的总兵有个鸟的意思，迟早还不得被拉着陪葬。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;满清八旗那可是不可战胜的存在，刘良佐可不认为自己能够抵挡的住轮冲锋。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于德州大捷，他是无论如何也不相信的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;大明将领写捷报的本事那可是一绝啊。想当年袁崇焕主辽事时，斩首二百级都能给朝廷报捷，称‘宁锦大捷’。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘良佐都对此人感到佩服。没别的，这脸皮真是比城墙还厚。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果按照宁锦大捷来比对，刘良佐认为德州大捷多半也是守将秦拱明自己编造出来糊弄朝廷的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;清军或许真的攻打德州了，但看到德州城池坚固后没准主动就退兵了，根本就没咋发力！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;毕竟八旗兵少，个顶个的精贵，哪能浪费在这种攻城战中。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;也许德州守军侥幸杀死了几十名清军，恩最多一两百人，结果却夸大了十倍报捷于朝廷。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在刘良佐看来，事实一定是这样。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于首级还不好弄？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杀良冒功不是大明将领们最擅长的事情吗？至少刘良佐非常擅长此事。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然他和清军交手的机会几乎没有，但剿贼的次数却是不少。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘良佐虽是堂堂总兵，麾下却没有多少精兵，面对李自成等强大的农民军只有抱头鼠窜的份。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但朝廷那边还得交代，刘良佐便命手下洗掠一两个村庄，把村中百姓全部屠杀，人头斩下送到京师邀功。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;贼寇的首级虽然不如东虏的值钱，但好歹也能换点银子。刘良佐既可以蒙混过关又可以获得朝廷的奖赏，何乐而不为？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于那北京城中的崇祯皇帝，还不是底下的人报啥信啥？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;皇帝算个屁啊！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;该骗你的时候就骗你，根本不商量。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;欺上瞒下，可是在官场混需要掌握的重要本领啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以这个秦拱明多半也是个同道中人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;捷报写的天花乱坠，把南京城中的小皇帝骗的团团转，还以为明军真的能够打赢清军。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;呸，自打萨尔浒之战后明军对清军打十仗有九仗九都输了，还是输的彻彻底底。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦家虽然在四川有些威望，但说到底也不过是个土司，能翻出多大的浪花来？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这小皇帝也是个愚笨至极的蠢物，竟然想着守什么山东。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山东有险可守吗？守得住吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若山东守的住，刘泽清那厮当初为何要仓皇从山东跑到南直隶？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;要知道那厮可是正印山东总兵！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老老实实守江淮还能多苟活几日，派兵去山东送死，是老寿星上吊活的不耐烦了吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘良佐虽然书读的少，但也知道卧榻之侧岂容他人酣睡的道理。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;东虏又不傻，看到明军占据了山东，肯定迟早会派大军来打的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;到时孔有德等重兵一至，红衣大炮往那儿一摆，德州城还有守住的可能？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;识时务者为俊杰，刘良佐自然不愿意给残明小朝廷陪葬。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;何况那小皇帝待他着实不怎么样，凭啥左良玉、郑芝龙、高杰、黄德功等人都封官进爵，就他和刘泽清没有？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;就冲这点老子反你就没商量！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;看看降清的那些前辈吧，孔有德、尚可喜、耿仲明，被分别封为恭顺王、智顺王、怀顺王。沈志祥那厮降清后也被封为续顺公。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;佟家、祖家哪个不是吃香喝辣？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;即便是刚刚降清的吴三桂，不也是被封为了平西王吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然，吴三桂献出山海关这个功劳确实是大。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这也给刘良佐提了个醒，降清的时候一定得送上一份见面礼。这份见面礼越大越好，因为获得的封赏多寡与之直接相关。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘良佐认为光是带去两三万士兵还不足以体现诚意，是以他准备拿下山东，作为给清廷摄政王的见面礼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如今高杰北伐，整个山东是神策军在驻守。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这是一支天子刚刚编练不久的军队，战斗力肯定十分有限。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘良佐认为只要他率军杀至，便能大破神策军，拿下山东诸城。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于秦拱明部，就放在最后收拾。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一旦拿下德州，山东的北大门就控制在手中。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘良佐便可以派人去北京请求清廷接管山东。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;想必清廷摄政王得知这个消息后一定会大为欣喜吧？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;为求稳妥起见，刘良佐决定和刘泽清一同出兵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;二人都受到了明朝小皇帝的冷落，自然是一拍即合。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘泽清原本就是山东总兵，神京沦陷后一路逃到了南直隶，对山东一带的地形十分熟悉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他建议绕过徐州直扑济宁州。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这也正合刘良佐之意。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;四五万大军浩浩荡荡杀向徐州，吓得李本深缩在城中不敢出门。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘良佐、刘泽清率军绕过沛县，沿着南阳湖一路北上，一路过湖陵城、谷亭镇、塌场口，直至济宁州城下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘泽清建议以增援山东的名义骗开城门，兵不血刃的拿下这座重镇。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘良佐欣然同意。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他派人前去叫门，无果后又写了书子绑在箭上射入城内。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;谁知那济宁州的守将却是个谨慎的，说什么也不肯打开城门，反而调兵遣将在城头布防。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘良佐见状大怒。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他可以不打徐州却不能不打济宁州。道理很简单，徐州虽然兵力空虚但李本深也算是个名将，强行攻城肯定会有损失。而手下士兵就是刘良佐降清的本钱，本钱少了封赏自然也就少了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;再说他的目的是取山东，济宁州又是运河沿线重镇，南控徐、沛，北接汶、泗，乃咽喉之地。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;打下了济宁州便可控制大运河山东段的最南端，将来利用运河运送粮秣辎重也更方便。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然江淮的物资无法输入了，但山东境内的物资却可以运转啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;等到清廷接管山东，肯定也希望看到一个完完整整的山东吧？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至少从临清州到济宁州的运河沿线必须得在手中。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;是以，刘良佐绝不会留下济宁州这个隐患。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杀向山东第一仗不但要打，还要打的漂漂亮亮！
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>