<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第一百六十九章 巡抚张肯堂（第二更，求订阅，求月票！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第一百六十九章 巡抚张肯堂（第二更，求订阅，求月票！）
</div>
<div class="bookname">
	<h1>第一百六十九章 巡抚张肯堂（第二更，求订阅，求月票！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;随着第一批福船、广船顺利抵达登州，整个登州水城都开始忙碌起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在知府袁惟泰的指挥下，水城闸门被打开，十几艘战船相继驶入水城停泊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;据他们说，接下来还有几十艘大型海船陆续驶来，加在一起的话如今的登州水师已经有了当年小一半的规模。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对此袁惟泰十分欣喜。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然他现在只是一个知府，却是盯着登莱巡抚这个位置想要往上爬的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;登莱巡抚的权力越大，对袁惟泰的吸引力便越大，他往上爬的拼劲便越足。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然，袁惟泰还是很有自知之明的。至少在新任巡抚在任的这些日子里，袁惟泰会表现的极为恭顺，尽到下属的本分。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如今巡抚衙门已经整饬一新，就连桌椅案几也都换了全新的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;袁惟泰甚至自掏腰包购置了一座假山，放在了巡抚衙门的小花园里以作装饰。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在他看来没有文人不好雅意，这么做是怎么也不会出错的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一切准备妥当后，袁惟泰长松了一口气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;就在袁惟泰好不容易返回知府衙门能够坐下来喝一杯茶的时候，突然管家来报说新任登莱巡抚已经到了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;袁惟泰一口将热茶喷了出来，呛得鼻涕眼泪齐流，高大伟岸的形象瞬间崩塌。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;管家连忙递来一张方巾，袁惟泰接过囫囵擦了擦，也顾不得抱怨，连忙问道：“什么时候的事情？怎么早不与本官说。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“老爷，巡抚大人也是刚刚到的，如今就在水城中。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;原来走的是水路，怪不得这么快！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;袁惟泰心中暗叹一声，连忙起身振了振袍服，催步朝外赶去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;走海路哪里都好，就是不能提前预料到巡抚大人的座船什么时候会抵达。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如今巡抚大人已经进到水城，袁惟泰却没有及时迎接，难保不会被巡抚大人记恨，认为他有意怠慢。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;袁惟泰心急如焚，恨不得插上一双翅膀现在就飞到水城去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;原本袁惟泰是想带着登州上下所有官员一起去的，但因为时间紧急，袁惟泰暂时顾不得这些下属了，只身前往水城。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;死道友不死贫道，这些下属就让他们慢行一步吧！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;袁惟泰匆匆赶至，张肯堂已经吃上茶了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;袁惟泰虽然此前从未见过张肯堂，但只见着那身大红官袍便不用多问，此人必定就是新任登莱巡抚了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;袁惟泰无暇多想，走至近前推金山倒玉柱纳头便拜。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“下官登州知府袁惟泰拜见抚台大人。不知抚台大人驾临有失远迎，还望大人恕罪。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;袁惟泰又是下跪又是磕头，把姿态放的很低，礼节已经做足。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;照理说大明朝廷并没有规定下官见到上峰一定要下跪参拜。但在官场中已经形成了一股风气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尤其是到了明末这股风气达到鼎盛。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;知县见到知府要下跪，知府见到巡抚要下跪，总兵见到总督要下跪。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然，你也可以选择不跪，做那海笔架。但要是因此被穿小鞋算计那就怨不得别人了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张肯堂放下手中茶盏，抬了抬手道：“袁知府太客气了。本抚来的突然，你不知情也无碍的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张肯堂是典型的儒官，虽然已经年近五十，但因为保养得当，看起来和四十出头也没有什么分别。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他体态修长，面如冠玉，下颌的山羊胡修剪的极为整齐。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;远远望去给人一种如沐春风的感觉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;袁惟泰战战兢兢的站了起来，恭敬道：“下官谢抚台大人体恤。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他此前从未与张肯堂打过交道，不知道这位上官的脾气秉性如何，自然不敢把张肯堂方才说过的话作真。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;万一张大人只是为了面子随便说说呢？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;袁惟泰自认为没有接待好张肯堂，急于弥补，便笑着问道：“巡抚大人一路舟船劳顿，下官想在蓬莱阁设宴为巡抚大人接风洗尘，还望大人能够赏脸赴宴。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;袁惟泰口中的蓬莱阁并不是建于宋嘉佑六年的蓬莱仙阁，而是登州城中的一座酒楼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过这座酒楼与蓬莱仙阁有一个共同的特点那就是高。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这座酒楼足足有五层高，是登州城中最高的建筑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;站在最高的一层远眺，不但可以将登州城尽收眼里，还可以看到浩瀚的大海。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;袁惟泰选择在这里为巡抚张肯堂接风洗尘也算是煞费苦心了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张肯堂闻言微微颔首道：“既然如此，本抚自然不能辜负袁知府的一番美意。这样吧，本抚先去往衙门安顿下来，待到日落之后再去蓬莱阁赴宴。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;袁惟泰闻言大喜，连忙道：“自该如此，自该如此。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他已经把巡抚衙门修葺一新，正是献功的好时候怎么会错过。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不如下官来引抚台大人去往衙门吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“也好。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张肯堂淡淡道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;袁惟泰这便半弓着身子做了个请的手势，张肯堂也不做作背负双手迈步走在了前面。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;袁惟泰站位的时候很讲究，就落在张肯堂半个身位后。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这样既不会显得颠倒了尊卑关系，也便于向巡抚大人引路。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于一干随从自然该清道的清道该殿后的殿后，前呼后拥好不壮哉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;二人在随从的簇拥下出水城一路向城中走去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;袁惟泰一边引路一边热情的向张肯堂介绍着登州的风土人情。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其实袁惟泰赴任的时间也不长，也就比张肯堂早来了几个月。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但他介绍起登州的历史风土直是滔滔不绝如数家珍一般。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张肯堂也是听的津津有味，不知不觉间对袁惟泰生出了几分好感。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;巡抚衙门在登州城正中稍稍偏北的位置，最好的地段。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只是因为此前一直闲置稍显得有些冷清。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;见大队人马走来，值守在巡抚衙门大门前的府库兵吓了一跳，连忙挺起胸脯直起腰来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;袁惟泰与张肯堂走至近前，那几名兵卒赶忙跪倒在地叩头道：“拜见知府大人。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;袁惟泰斥责道：“放肆，巡抚张大人在此，尔等为何不拜！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那几名兵卒心中委屈，心道我们也不认识巡抚大人啊。不过还是冲着张肯堂补行了礼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张肯堂显然心情不错，轻抬了抬手道：“不知者无罪，都起来吧。”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>