<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第九十八章 严惩不贷</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第九十八章 严惩不贷
</div>
<div class="bookname">
	<h1>第九十八章 严惩不贷</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;（第二更送到~求推荐票支持~感谢书友天意※如此的500币打赏，感谢书友20180513210905223的100币打赏~）<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;抓贼抓脏，眼前的米粮堆积如山，足以证明济盛昌囤货居奇，操纵米价。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈天笑二话不说，命令麾下锦衣卫把济盛昌粮铺查封，店内之人一概不许离开。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;同时他又命人将此间所获奏报给指挥使赵信，请他立即派人前去沈府拿人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;锦衣卫捷足先得不仅对陈天笑很重要，对指挥使赵信赵大人也很重要。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;立此大功，锦衣卫在短时间内便能压过东厂和内厂一头，成为皇帝陛下的首要选择。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;此事过后，陈天笑觉得自己至少能够升任一个百户。不！是千户。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一想到此，他便觉得热血沸腾。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;地窖中的每一袋米都是沈家父子操纵粮价的罪证，凭此将沈家抄家灭族都不为过。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱门酒肉臭，路有冻死骨。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;想发财不要紧，发国难财却是罪无可恕。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;便在这时沈忠匆匆赶回。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他一进铺子刚想坐下，几名如狼似虎的锦衣卫便上前叱骂道：“没看到锦衣卫办案呢吗，今日别来买粮了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;畏缩在一角的一名小伙计连忙喊道：“军爷，这个就是我们济盛昌的大掌柜！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沈忠心道不妙拔腿便要跑，一名浑身腱子肉的锦衣卫校尉纵身一扑将他压倒在地。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“他娘的，差点被这厮给骗了去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他从袍泽手中接过绳子把沈忠捆了个严严实实，呸了一口道：“无商不奸，某家今日算是信了。你们这帮奸商连粮价都敢操纵，还有一丝人性吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沈忠苦笑道：“我不过是听命行事罢了”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哼，少废话，有什么话跟我家总旗大人说去吧！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“时也命也，时也命也啊！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沈忠长叹一声，闭上了双眼<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“禀圣上，沈家一家老小已经全部下狱，济盛昌的伙计也都缉拿，听候圣上发落。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;锦衣卫指挥使赵信跪倒在地，恭敬的向朱慈烺禀奏。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这次锦衣卫抢在东厂、内厂之前破获哄抬粮价案，让他窃喜不已。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽说厂卫是一家，但谁没有点自己的私心？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;要想成为天子手中最锋利的刀，便要先取得天子的信任。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵信相信这件事后锦衣卫在天子心中的地位要比东厂和内厂高了几分。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺轻叩着手指，面容冷峻。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个案子锦衣卫办的干净利落，甚至有些出乎他的意料。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;看来竞争机制的引入有利于提高工作效率啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对于沈家父子，朱慈烺不会有任何的同情。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这种人毫无大是大非的观念，心里只有自己一家一姓的私利。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“拟旨。沈三贯、沈括、沈忠囤货居奇，哄抬粮价，着令刑部验明正身即刻处斩。沈府男丁一概流放崖州，女眷充入教坊司。沈家家产一概抄没，归入内库。济盛昌诸人虽非首恶，但为虎作伥助纣为虐，每人杖责四十，以儆效尤。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵信犹豫了片刻道：“那提供线索的伙计可也要杖责？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺淡淡道：“功是功，过是过。他为此案提供线索，赏银不会少他的。但他亦为虎作伥过，若不责罚于他，置国法于何地？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“圣上英明！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵信连忙拍了一记马屁。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这件事赵卿办的很好，朕心甚慰。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺对赵信称赞了几句，抬手道：“平身吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵信连忙站起身来恭敬道：“这一切都是陛下决策之功，臣不敢居功。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“随朕走走吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺背负双手，踱步朝殿外走去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“赵卿觉得朕是个怎样的皇帝？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺走到平台上，拍着一根汉白玉栏杆突然发问。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵信吓了一跳，这个问题叫他怎么回答？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“陛下自然是中兴大明的雄主。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;思忖再三，赵信只得给出一个最稳妥的答复。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“朕自然是想做中兴之主。但满朝文武几百人，与朕齐心匡扶大明的有几个？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺联想到前不久东林党和勋臣密谋叛乱，忽生感慨道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“匡扶大明不是朕一个人想做就能做到的，需要君臣同心啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵信额头已经渗出了汗水，心道陛下为何会突然有此之言。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“沈家操纵米价的事情绝不是这么简单。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺不疾不徐的说道：“朕认为他们在朝中有内应，故而才能将时机和火候拿捏的恰到好处。若不是朕在内帑提前备下了一批存粮应急，这次南京城中怕是真要饿死一大批百姓了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他稍顿了顿，继续道；“不过就此至少可以断定，这内应不是内廷而是外朝的。朕要赵卿帮朕查出此人究竟是谁！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;得朱慈烺如此信任赵信心情十分激动，双手抱拳道：“臣领旨！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山东，德州。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;半个月前传旨的小黄门抵达德州，在总兵府当众宣读圣旨，代天子褒奖了德州将士。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;与小黄门同行的还有几百名工匠。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这些工匠基本都是泥瓦匠、石匠，为的是在德州城外围建造一批棱堡。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对此，秦拱明自然不会有任何意见。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;早在孙承宗主政辽镇时，便有过修筑堡垒群抵御东虏的策略。虽然这个策略最后并没有把东虏压缩在辽东一隅，但也起到了一定的效果。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;德州外围若是能有堡垒群，势必会减缓东虏的推进速度，对秦拱明和德州明军是有利的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;最重要的是，这笔钱不用秦拱明自己筹措，而是由朝廷直接拨付。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;摊上如此好事，秦拱明怎会说一个不字。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他要做的只是派出一些辅兵和民壮配合南京来的工匠修筑堡垒。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但当半个月过去棱堡稍显端倪时，秦拱明却是惊了个目瞪口呆。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这，这棱堡形制怎么如此古怪！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;即便是四川土司的石寨，也不似棱堡外观怪异。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦拱明实在沉不下气了，带着亲兵气势汹汹的出城奔着正在修筑的棱堡群而去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;抵达现场之后秦拱明立刻挥着马鞭责问修筑棱堡的负责人，这究竟是怎么一回事。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;得知棱堡的外形结构完全是圣天子一手绘制的，秦拱明沉默了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他不是一个跋扈的军阀，而是一个忠明的臣子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;既然是圣天子要把堡垒修筑成这个样子，他自然不能反对。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可这样的堡垒群真的能够挡住东虏的骑兵吗？秦拱明忧心忡忡
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>