<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第一百七十五章 朱慈烺的布局（第二更，求订阅，求月票！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第一百七十五章 朱慈烺的布局（第二更，求订阅，求月票！）
</div>
<div class="bookname">
	<h1>第一百七十五章 朱慈烺的布局（第二更，求订阅，求月票！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;在阿济格的率领下、平西王吴三桂、智顺王尚可喜等大军对李自成穷追猛打，一路追到了湖广。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;让阿济格感到惊讶的是，他们所到之处都是一片狼藉，城池大门洞开，根本没有士兵驻守。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他立刻派出斥候四散侦查，得知李自成已经远遁武昌后，阿济格心中大喜。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;想不到李自成已经被他吓破了胆，除了逃跑就是逃跑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;既如此，阿济格有信心一举将其击溃。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一方面他留下部分汉军八旗驻守荆襄，另一方面他亲自提兵至武昌追击李自成。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李自成本已下定决心沿江而下攻打南京，但因为左良玉已经带走了武昌府内所有船只，李自成不得不命人赶制竹筏，以便顺江而下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;竹筏虽然赶制容易，却也需要时间。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不料竹筏刚刚造完，清军便已经追到武昌城外。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李自成无奈之下只得派出大将刘宗敏、田见秀领兵出战。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不出意外的，刘宗敏、田见秀再次落败。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;好在进抵武昌的只是清军先锋，兵力不足以围城。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李自成见状不妙，便领着二十万大军离开武昌，乘着竹筏沿江而下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;顺军行军速度本是很快的，这次走的又是水路，照理说可以轻而易举的把清军甩在身后。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可李自成这次带了大量家眷以及粮草辎重，需要顾及的方面太多，行军速度一直提不上来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而清军却是以轻骑追击。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;到阳新富池口时，清军再次追上了李自成。双方又打了一仗，李自成再次落败。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;经过这一连番的溃败，顺军军心以及彻底涣散，逃跑的士兵越来越多。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李自成以严酷军法处死了一些逃跑的士兵，依然不能阻止这股势头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在顺军行至距离九江四十余里处时，清军主力与顺军主力展开了决战。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;战斗从清晨打起，直是持续到了深夜。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;顺军损失惨重，李自成本人虽然无碍，但老营却被清军攻破。包括刘宗敏、赵侯、襄南侯在内的一众人等尽数被俘获。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李自成曾想把刘宗敏等人抢回来，但在袁宗第的劝说下，放弃了这一想法。眼下摆在李自成面前的有两条路，一是按照原计划攻取九江，沿江而下直奔南京。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;二是经由江西北部辗转进入湖南。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李自成考虑了整整一天，最终决定采取后者。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;因为九江方面有明廷总督袁继咸坐镇，一时半会难以打下。若是再被清军黏上，腹背受敌下很可能全军覆没。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而从江西北部辗转经过武昌府南部，经岳州至长沙却基本上不会遭到什么阻击。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如今李自成已经不考虑什么夺取天下了，他要做的首要事情是保存实力先活下去<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;南京紫禁城中，朱慈烺愁眉紧锁。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这几日来，湖广、江西方面发来的塘报堆积在御案上，犹如小山一般。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;与原本历史很相似，左良玉放弃武昌提兵沿江而下清君侧。李自成尾随之，而阿济格统领的清军紧追其后。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可以说这是一个连锁反应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺要做的就是改变眼前的局势。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他翻开堵胤锡的奏疏，提起朱笔亲自写道：堵卿当见机行事，诛何腾蛟、左良玉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不管怎么说何腾蛟都是一个隐患，要是能够早点除去绝对不能犹豫。至于左良玉，更是早该死了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺在湖广埋下的这颗暗棋也到了该动一动的时候了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他相信依靠马进忠、金声桓的实力配合江西的堵胤锡足以击败左良玉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;写完朱批之后朱慈烺又翻开袁继咸上的奏疏，提笔挥毫，告诫他坚守九江，配合堵胤锡做好平贼之事。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;乍一看来，眼前局势与原本历史很相像，但实际上细节有很多区别。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;譬如左良玉提兵南下的时间提前了几个月，那么他还会像原本历史中那样病死在军中吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;譬如金声桓、马进忠已经被堵胤锡收买，他们又将发挥怎样的作用？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;再譬如袁继咸已经提前得到了朱慈烺的警告，肯定也不会轻而易举的被左良玉诱骗至军中。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然仅仅做到这些还不够，朱慈烺决定调集黄德功前往江西，增援袁继咸。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;前不久黄德功登州之行无功而返，心里憋着一股气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺采取了冷处理的办法，很好的缓解了紧张的气氛，但他知道要想让黄德功真正放下此事，必须让他立下一项大功，朱慈烺再借此封赏一番。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;眼下便是一个最好的机会。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在原本历史中黄德功就曾经击败过左梦庚统领的大军，只不过不是在江西。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;眼下虽然左良玉还没病死，但内部却出现了裂痕，朱慈烺认为黄德功配合马进忠、金声桓等人的哗变，能够赢得更容易些。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于北伐的高杰，朱慈烺并不打算调回来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多铎的大军已经在回师的路上，高杰很难再在此之前打下北京，不过也要尽可能多的攻城略地，消耗清军有生力量。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺要做的就是尽可能的和清军拼消耗，依靠江南的富庶，大明人口的优势把满清拖死。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这其中还发生了一个小插曲。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰派人将一名清军使者押到了南京，交由朱慈烺御审。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺直接被这事交给赵信去办。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那信使自打进入诏狱起，尝遍了锦衣卫的一干刑罚，终于承认他奉命离间高杰和大明皇帝的君臣关系的事实。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺下令将这名清军信使的供词公之于众，发布在皇明早报上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如此一来等于朱慈烺公开表态，对高杰充分信任与支持。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰、黄德功是眼下南明阵中最能打的将领，朱慈烺绝不会在这个时候自毁长城。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如今南京城中还有五万神策军，朱慈烺认为足够用了。他不准备把驻防在山东的神策军调回，因为他觉得多铎若真是回援京师，高杰很可能会一路撤退，撤回河南南部以及山东固守。到了那时有神策军的策应高杰应该能过守得更稳当一些。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;山东是朱慈烺的底线，要想御敌于国门之外，山东是必守的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他也坚信山东一定能守住。朝廷不惜血本的在山东北部修建棱堡群，若是清军真的要南下，便让他们撞个头破血流好了
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>