<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第二百五十二章 登莱水师的缺陷（第三更，月票五百票加更！求订阅！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第二百五十二章 登莱水师的缺陷（第三更，月票五百票加更！求订阅！）
</div>
<div class="bookname">
	<h1>第二百五十二章 登莱水师的缺陷（第三更，月票五百票加更！求订阅！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;袁宗第一时被问的哑口无言。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;是啊受降之后他就是明军将领了，自然要尊明廷皇帝的旨意。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;小皇帝若是降下一道圣旨赐死高桂英，袁宗第是无论如何阻止不了的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;除非他再次举起叛旗，可如果是那样他受降又是为了什么呢。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我念在昔日兄弟情分上再最后劝你一次，你好自为之吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;袁宗第愣了一愣，颓然的走出营帐。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个问题他们确实没有考虑清楚，这对高桂英是不公平的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;袁宗第犹豫了片刻，还是向高桂英的营帐走去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;有些话必须开诚布公的当面说清楚<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;二月初三，皇明军校的第二批学员来到山东见习。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;第一批学员包括陈子龙、张煌言、郑成功、顾炎武。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们来到德州参观了棱堡群，之后选择了不同的路线。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张煌言、陈子龙、郑成功前往登莱继续参观登莱水师，顾炎武则前往济南府。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;有了第一批学员的经验，第二批学员基本上是照着来的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;先去德州参观，之后按照个人意愿选择是去济南还是登莱。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;阎应元便在之列。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只是他在参观了德州棱堡之后选择留下来，深度研究棱堡的构造。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对阎应元展现出的浓厚兴趣秦拱明自然很高兴。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这些学员大部分是对棱堡感到好奇，看过之后也就是放下了。这种浅尝辄止的方式自然不可能学到精髓。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;要知道棱堡的构造可是和一般大明戍堡完全不同。只有潜心修学，才能领悟其戍防要义。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦拱明看出阎应元是个踏实肯干的年轻人，便想着在守城方面多培养他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;文人领兵打仗很难打出名堂，但要守好城池还是可以的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦拱明知道皇帝陛下搞这个皇明军校就是为了培养高级将领，这也是模糊化文官武将的一个方式。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;毕竟读皇明军校的大部分是读书人出身，这些人从皇明军校出来后肯定是要派到各地军队予以重用的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦拱明提前培养阎应元，也算是忖度上意的结果。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;阎应元也表现的很配合，完全服从秦拱明的安排。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦拱明不由得感慨若是大明多出一些阎应元这样的年轻人，何至于沦落到如今这般境地。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过现在培养也不算晚，秦拱明相信皇明军校只要多培养几批学员，就能给已经腐败不堪的大明官场、边军注入新鲜的血液<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;却说陈子龙、张煌言、郑成功来到登州已经数月，来到山东后除了最初的一个月是在德州参观棱堡群，接下来的时间都是在登州度过的，甚至过年也是如此。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈子龙、张煌言此前没有见过水师海船，故而来到登州水城后纷纷惊呼壮哉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于郑成功早已是见怪不怪了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;且不说他本就是出生在日本，对于海贸十分熟悉，大型海船天天见，早就见怪不怪了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;即便被父亲郑芝龙接回福建后郑成功也是跟着叔叔们频繁视察郑家水师，甚至对于水师的日常管理都有一套自己的独到见解。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在他看来水师比普通军队更需要强调令行禁止。旗语也更为重要。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;毕竟大规模的水战尤其是海战，各艘战船之间的距离很远，靠呼喊是听不见的，而用旗语调度就可以解决这一难题。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然直接决定水师战斗力的只有两项，一是座船大小，二是配备火炮的数量与威力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;座船越大，火炮数量越多，威力越大，那水师的战斗力肯定越强。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然在实战之中统帅的临阵指挥同样也很重要。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过海战之中很少会出现以少胜多的情况。优势一方往往会获得碾压式的胜利。船坚炮利，神仙难敌。这不是优质统帅，强大执行力能够弥补的了的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在参观了登莱水师之后，郑成功曾经向巡抚张肯堂提出了自己的建议。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在他看来，登莱水师的战船都很高大，这在海战中是极有优势的。可登莱水师的问题也很明显，那就是战船的类型很单一，不具备长舟、快蟹等辅助船型。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这在一些特定的战斗中可能会被敌军针对，吃一番暗亏。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;还有就是登莱水师的战船绝对数量不够。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在郑成功看来，一支强大的水师至少要拥有几百艘大型座船。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然这个问题会慢慢得到解决。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;随着时间的推移，龙江船厂的产量逐渐提升，如果优先供应登莱镇，登莱水师的规模很快就能达到理想规模。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;水师战船上配备的火炮是没什么问题的。这些都是上等的佛郎机炮，精准性和威力都不是一般土炮可比的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;登莱水师最要命的问题不出在战船上，而是水师官兵的能力严重不足。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个问题可是致命的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;要知道郑家水师的士兵都是经过实战的，不说以一当十但至少可以独立的完成一些日常任务。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;就说放炮这个最普通的工作，有经验的老船员和一个新手操作起来是完全不同的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老船员可以熟练的完成一整套动作，丝毫不拖泥带水。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而新兵便是照着葫芦画瓢，也未必能够把火药引燃。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以水师特别强调传帮带。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;有经验的老船员将自己一些经验传授给新兵，必要的时候还要手把手的教。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唯有如此，新兵们才能以最快的速度成长。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;等到那一批老船员退了，新船员能够顶上来，不至于出现断档。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如此以老带新，能够使得水师官兵一直保持较高的水准。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郑家水师一直是贯彻这个原则，可登莱水师因为中断了很长一段时间已经出现了人才断档。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;现在登莱水师招募的官兵很多都是当地的渔民。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这些渔民当然熟悉水性，操船掌舵也没有什么问题。可涉及到一些水战的细节他们就未必在行了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;没有老船员带，他们只能自己摸索。这就容易走弯路，甚至走上一条死路。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;从壕境招募一批佛郎机雇佣兵自然是不错的选择。这些佛郎机船员海战经验丰富，可以把经验传授给登莱水师官兵。但招募来的佛郎机海员数量肯定严重不足，最多只能充当教官。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在郑成功看来，最便捷的办法是直接招募当地的海盗
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>