<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第三十一章 招降德州</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第三十一章 招降德州
</div>
<div class="bookname">
	<h1>第三十一章 招降德州</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;秦拱明率军进城后，迅速接管了德州城防。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱帅钦也渐渐从激动的心情中平复下来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一个月前在德州起事时他绝没有想到有朝一日能够继承庆藩王位。当时他满脑子都是拨乱反正，驱除伪顺官员暂时为朝廷接管齐鲁大地。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当初他也不知道先帝太子已经平安抵达南京，只盼着皇明宗室中能有一个人站出来，带领风雨飘摇中的大明中兴。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;之后太子登基，山东也被明军接管，事情正在向最好的方向发展，朱帅钦如何能不激动。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;现如今没有人比他更希望守住山东，守住德州。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;毕竟他的封地改到此地了啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;作为德州起事时众人共推的盟主，朱帅钦还是有一定影响力的。在他的安排下德州城内的一应事务进行的井井有条，这一点秦拱明也看在眼里。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;加之他毕竟是武将，对于治理府县并不擅长，所以索性沿用朱帅钦任命的官员。大不了事后再向天子呈递名单。天子曾嘱咐他事急从权，战时自然有战时的原则。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;既然天子已经让朱帅钦继承庆王位，肯定也不会拒绝其推荐的官员人选。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但朱帅钦不这么想。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;作为一名宗室子，他对皇权的敬畏远超秦拱明。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在他一再坚持下，秦拱明只得派出信使将朱帅钦推荐的人员名录送去南京。按照朱帅钦的说法，在天子认可之前，这些人都只是暂时代理相应职务。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;解决了这一问题后，秦拱明总算可以静下心来分析山东局势了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如今山东北面、西面都与东虏控制区接壤。南面是淮安府，东面是大海。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;也就是说明军的压力主要来自于西面和北面。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其中秦拱明驻守德州，要为大明扼守山东的北大门。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;德州以北是河间府，本身并没有太多兵力，东虏若想攻打德州，势必会从京畿地区调遣兵力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这便给了秦拱明时间。他命心腹下属去核查武库，将所有能分配的物资尽数分发了下去。德州是重镇，武库丰盈。五百白杆兵和一千抚标士兵自不必说，便是两万名团练乡兵如今也被武装到了牙齿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对于东虏的凶残，秦拱明十分清楚。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当年他的父亲便战死浑河，一同战死的还有无数川军白杆兵和戚金将军带领的浙兵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这些都是大明的精锐军队。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦拱明深知自己手下的这只军队无法和当年的川浙联军相比，那么要想抗击东虏就只能倚靠城池稳固防守。背靠坚城秦拱明有十足的信心重挫之。只要多尔衮不从京畿调来十几门红夷大炮，也绝不能对德州城造成威胁。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦拱明与东虏有血海深仇，他比任何人都想与东虏列阵厮杀。但他也清醒的知道自己麾下的将士不具备出城野战的条件。若是因为一己之恨葬送军队，丢掉德州，他如何对得起那些反正的山东义士，如何对得起皇帝陛下的信任？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;控制情绪，一定要控制住情绪。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;皇帝陛下答应过他，终有一日要驱逐鞑虏，恢复神州。那么，他就要相信陛下的战略部署，不能轻举妄动坏了陛下的大事。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦拱明也想听听朱帅钦的意见。不过他几次请朱帅钦来共商军事，都被朱帅钦拒绝了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;作为一名藩王，朱帅钦绝不愿意和领军大将走的太近。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这可是犯天子忌讳的事情，这种政治错误他绝不会犯。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦拱明也不再勉强，只叫自己的心腹谋士来为他赞画军务。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过五月二十五日，即秦拱明率军进城后的第三日，庆王朱帅钦匆匆来到秦拱明暂时办公的府邸，说有要事求见。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦拱明不敢怠慢，便叫人把庆王请到了偏厅。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;随后秦拱明在几位心腹的簇拥下来到偏厅，冲朱帅钦行礼道：“末将淮安总兵秦拱明拜见庆王殿下。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“秦将军快快请起。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱帅钦连忙上前一步把秦拱明扶了起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“小王来找秦将军实在是有要事相商。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦？庆王殿下所为何事？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱帅钦朝秦拱明的那几个心腹瞥了一眼，欲言又止。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦拱明遂挥了挥手道：“你们都下去吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“标下遵命！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一众心腹齐声应道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;待他们都退出偏厅，朱帅钦才叹声道：“方才有人来报，东虏招降的官员已经抵达德州城外，如今想派信使进城。小王不知该如何是好，只得叨扰秦将军了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦？来的这么快？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦拱明稍稍有些诧异，不过他很快便平复了心情道：“那招抚之人是谁？现在何处？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“听说是虏廷任命的伪监军副使方大猷，伪户部工部侍郎王鳌永。他们在城外五里驻扎，只派人将信件绑在箭上射入了城内。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“两个降臣，东虏还真会委派招抚官员啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦拱明轻蔑的说道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他最瞧不起的就是这种降臣。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不论是王鳌永还是方大猷都深受皇明之恩，如今变节投敌竟然还跟忠犬一样摇尾讨好主子，替虏廷招降山东，真是太无耻了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“秦将军？小王该怎么做？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱帅钦忧心忡忡的问道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;从对方的姿态来看显然还不知道秦拱明部明军已经进驻德州城中，还想着凭借三寸不烂之舌就拿下德州。这种时候如何决断就显得十分重要了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你不妨先命人放下竹篮把那信使接进来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦拱明略作思忖后说道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱帅钦惊呼道：“这怎么使得。这不是有通敌的嫌疑了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“庆王殿下莫急，且听末将说。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦拱明稍顿了顿道：“眼下虏廷肯定不知道我部已经进驻德州，不然也不可能只派出文官招抚了。我们何不将计就计呢？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“秦将军的意思是，诈降？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;庆王朱帅钦惊恐道：“不行，不行。万万使不得。东虏迟早会发现，到时万一恼羞成怒从京畿调来红夷大炮那可该如何是好？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;红夷大炮重几千斤，运输极为不便。但也不排除东虏不惜一切代价长途运输的可能性。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果现在逞一时之快耍了他们，东虏势必恼羞成怒，到了那时德州方面又该如何应对？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;ps:感谢书友睺帝的2000币打赏，书友希卡利1的600币打赏，书友八宝粥侦察兵、书友恢复旧神州、书友再见了过去丶的500币打赏~
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>