<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第一百二十七章 天子的决断（第二更，求订阅，求月票！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第一百二十七章 天子的决断（第二更，求订阅，求月票！）
</div>
<div class="bookname">
	<h1>第一百二十七章 天子的决断（第二更，求订阅，求月票！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;南京城中这几日气氛很不寻常。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;自打朱慈烺下旨命黄德功率部追剿刘泽清、刘良佐后，朝野上下一片哗然。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘泽清、刘良佐竟然反了！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;大明相较于满清和李自成本就没有什么优势，二刘的反叛更是让明廷的处境雪上加霜。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;最可怕的是，如果刘泽清、刘良佐率部在山东一番劫掠后投了东虏，山东门户洞开，东虏随时可顺势南下，直接威慑到南直隶！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若真是如此，那大明朝廷真到了生死存亡之际。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以一定不能让刘泽清、刘良佐从山东北上投虏，即便围追堵截也要把二人绞杀在山东辖境内。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;让满朝公卿有些忧心的是，黄德功部兵强马壮，此番北上追剿二刘犹如猛虎出山。若是黄德功也生出反心，那可该如何是好？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;毕竟人心隔肚皮，黄德功心中究竟是怎么想的谁也不知道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可圣天子却是用人不疑，疑人不用，十分信任黄德功，颇有几分引以为臂膀的意思。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;既然天子都这么表态了，作为臣子自然没啥好说的，只能期盼黄德功能和高杰成为本朝的岳武穆、韩世忠，而不是卖主求荣的奸佞小人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺把一切安排妥当后便稳坐紫禁城中等待着前线传回消息。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他不是没有想过御驾亲征，但现在的形势不准许。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若是他亲征山东，山东明军势必要分出一大部分来护驾，与刘泽清、刘良佐部作战的人数就会减少许多，这是朱慈烺不愿意看到的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;再说南京城中看似风平浪静，实则暗流汹涌。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不少居心叵测的宵小都蠢蠢欲动。朱慈烺若在南京还压得住他们。若是朱慈烺离开南京亲征山东，难保这些人不会图谋不轨。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若是后院起火，南都动乱，对朝廷将会是严重的打击。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;将来若是时机成熟，朱慈烺还是很想御驾亲征到前线激励士气的，但现在显然还不是时候。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唯一让朱慈烺感到欣慰的是，秦良玉的到来给满朝文武吃下了一颗定心丸。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;似乎老人家往那一站，就能起到安抚人心的作用。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;家有一老如有一宝，这句话还真是有道理。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;造船方面的进展也可喜可贺。自打第一艘小号福船下水以来，龙江船厂又相继造出了五艘海船。如今朝廷手中已经拥有整整六艘战船。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然这个数量距离组建水师的目标还很遥远，但却是个好兆头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺相信最多半年，水师便能成型，到了那时皇明对于郑芝龙的依赖便能减少许多。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩赞周在被朱慈烺严厉责斥了一番后痛定思痛，在内厂上下发动了大整改，军情司的情报汇集机制也做了相应的改变。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;作为一名宫中的老人，韩赞周明白天子不会有多少耐心。若是他不能够胜任内厂厂公的位置，有无数人争着抢着想要顶替。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;现在韩赞周之所以可以和刘传宗分庭抗礼，就是因为他兼着内厂提督太监的头衔。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若是仅仅靠御马监掌印太监的名头，是无论如何不能与司礼监秉笔兼东厂提督相提并论的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩赞周不比刘传宗，不是东宫系的老人，自然更需要小心翼翼。对他来说失去权柄就意味着万劫不复，只有牢牢抱住皇帝陛下的粗腿才能人前风光。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这次刘良佐、刘泽清叛变突然，内厂没有做出任何的示警，让天子大失所望。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩赞周也是怒不可遏。这帮兔崽子真是不像话，东虏的细作都潜入凤阳府了，竟然一点察觉也没有，难怪陛下如此震怒。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩赞周当即裁撤了负责凤阳府情报搜集的档头，另外任命了一人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过他也明白仅仅这样是不够的，内厂军情司的运行模式需要大改，只有这样才能提高效率。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他的初步构想是引入竞争机制，即同一地区的情报搜集工作交给两拨不同的人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这两拨人互不统属，互不联系，完全独立工作。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们定期把搜集到的情报通过内厂军情司特有的渠道输送回南京本部，交由其汇总分析，评判出胜出的一方。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;胜赏败罚，唯有如此才能刺激到这些在地方潜伏做事的军情司番子，才能让内厂军情司往更好的方向发展。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;韩赞周对自己的定位很明确，既然要做天子的鹰犬，就一定要做最凶恶的那只，一定要把东厂和锦衣卫死死的压在身下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;天子让他去咬谁他便去咬谁，不会有一丝一毫的犹豫。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;因为他明白所有他得来的一切都源自于天子的恩赏。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;天子可以赏赐他这些，自然能够轻而易举的剥夺。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对一个太监来说，忠君并不仅仅是一句口号，更是自保的最佳方式<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;济宁州的形势越来越不妙。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘泽清、刘良佐两个叛贼已经将成百上千具尸体丢入了通往水门的小河中。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;骁果营的营总陈复除了命麾下士兵向这些搬运尸体的叛军射箭也没有太好的办法。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;小河中的尸体越来越多，有的地方甚至已经堆积的齐人高。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;更可怕的是尸体已经开始腐烂，阵阵恶臭飘来直是让人作呕。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;从小河取水是肯定不用想了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈复命人严闭水门，无论如何都不能从这处水源取水。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;没了补给，城中的饮水便变得紧张。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈复一方面命人开凿深井，一方面命人用水缸搜集雨水，至于原本水窖中的存水更要省着些用。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可惜老天爷似乎有意跟骁果营的将士开玩笑，一连几日只下了一场小雨，开凿的深井更是只见黄泥汤子不见清水。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈复不得已削减限制了普通百姓每日的饮水量，牲口更是渴的奄奄一息。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;就连骁果营将士的饮水量也被削减，将士们不得不将尿液用碗接下二次饮用。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而这距离刘泽清、刘良佐向河中抛尸不过过去了五日。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈复初步估算了一下，城中存水最多还够用五日。五日后若再凿不出冒清水的深井，他也不知道会发生什么。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;干渴比饥饿更容易让人发狂，若是彻底断水，军队发生哗变乃至营啸都是有可能的。到了那时，局势就不是陈复能够控制的住的了
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>