<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第三百八十四章 来吧，战个痛快！（第一更！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第三百八十四章 来吧，战个痛快！（第一更！）
</div>
<div class="bookname">
	<h1>第三百八十四章 来吧，战个痛快！（第一更！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;清军太自信了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这种自信源自于骨子里，源自于历次战争的胜利。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;自信感是会累积的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;努尔哈赤当初写下七大恨起兵反明时满洲八旗可没有这么自信。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但一场场战斗下来，他们发现南人实在是不堪。不仅战斗中他们贪生怕死，就连排兵操练都是做做样子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这样的兵怎么可能打得了胜仗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们对明军一向是稳赢，简直不知道怎么输。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在他们眼中南人简直就和绵羊无异。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;西军虽然比明军强了不少，可到底也是南人，骨子里那种软弱是一模一样的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;或许他们的战斗力要强一些，可也只是让清军的进攻更有层次感一些。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;毕竟一战即胜摧枯拉朽实在是无趣。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;清军也需要一些稍有挑战的对手给后进之辈练级。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以当博洛下令主动出击时几乎所有的清军士兵都感到一阵狂喜，像野兽一样发出嗷嗷的叫声。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;随着城门的打开，清军依次鱼贯而出。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;先是绿营军，再是汉八旗，最后是精锐满洲八旗。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们的目标只有一个那就是消灭所有西军，让天下人看看清军的厉害，也让所有人意识到抵抗清军需要付出的代价。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于张定国则是气定神闲，神态自若。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他没有一丝一毫的慌张，相反他很期待这一仗。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;魏城一战他已经将清军的实力探了个七七八八。在他看来清军之中也就是满洲八旗的战斗力高出一筹，其他军队的实力明显不如西军。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他已经迫不及待的要手刃博洛替义父报仇了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;看到清军倾巢而出，张定国眼眶通红，怒吼道：“随我杀鞑子啊！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;清军多是骑兵，从城中冲出时气势十足。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;以他们的经验只要把气势冲起来了，没有人能够抵挡的住他们的冲击。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们接下来只需要收割性命即可。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“杀啊，杀南狗啊！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;博洛一马当先冲在最前。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;爱新觉罗家的子孙每战必身先士卒，这一个规矩自打太祖皇帝时便立下了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;太宗皇帝时也得到了很好的贯彻执行。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;到了今上登基，摄政王主政规矩自然也不能坏。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不论是英亲王阿济格还是豫亲王多铎都是作为统兵大将冲锋在前的。博洛相信多尔衮也是想要统兵征战的，只是因为他的身份十分特殊，是堂堂摄政王，不能以身犯险这才把机会留给了后辈们。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;博洛自然不会让这样的好机会从身边溜走，他要用南人的首级和鲜血来证明自己的实力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于博洛身边的人心情也都不一而足。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;硕詹信心十足，自己根本不用使出十足的力气就能将这些南人收拾了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于那个什么张定国，不过是个徒有虚名之辈罢了。他真不知道贝勒爷怎么会对这么一个人青睐有加。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;要论战斗当然是真满洲勇士最精通奥义。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他就要用实战向贝勒爷证明自己比张定国强千倍万倍。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪承畴的心情有些复杂。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一方面他很想清军和西军决战，毕其功于一役。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;另一方面他又为张定国觉得有些可惜。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;也许是惺惺相惜吧，洪承畴觉得张定国这样的名将不应该就这么从世间消失。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可他也明白有些事情不是他能左右的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;名将殒命于沙场或许也是一种不错的归宿吧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;消灭了这最后一支西军后清军便能彻底控制成都地区。接下来他们要做的就是稍作休整然后挥师东进拿下奉节。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;奉节是三峡的西大门，要想攻打湖广则必定要拿下奉节。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这是洪承畴全盘计划中最关键的一环，绝对不容有失。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;佟养和的心情和洪承畴大体差不多，不过他倒是不为张定国感到可惜。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;大清是天命所归，任何妄图阻碍天命的人都得死，张定国也不例外。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于孙可望恐怕是现在最想张定国授首身死的人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他急于向博洛证明自己的价值。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而证明价值的最好办法就是靠着自己的经验帮助清军很好的击败西军。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“贝勒爷，奴才知道西贼最擅长布半月阵，不如我们以长矛阵破之，使其首尾不能兼顾。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;半月阵是所有阵型中最擅长防御的，若是兵力分的太散很难突破之。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;最好的办法便是用长矛阵强攻。只要能够破开一个口子割裂开敌军便能够很好的压制乃至掌控局势。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过西军的整体配合很好，一般的军队对长矛阵掌握的又不够完美，很难直接破阵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是清军则不同了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;清军乃是当今最强大的军队。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;还没有他们办不到的事情。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;西军的强大是针对其他军队而言的，在清军面前他们就是完完全全的小字辈。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;清军教训他们就像老子教训儿子一样简单。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯，便依你说的吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;博洛微微颔首道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;即便孙可望不说他也想用这个战术。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“列阵！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;大战将至，张定国却是十分的镇静。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;就让这一切在今日了结吧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;清军是骑兵，西军是步兵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;清军是攻方，西军是守方。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;清军是矛，西军是盾。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这是矛与盾的较量。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一百步、五十步、三十步。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当万骑朝长枪阵冲锋时那种震撼是难以用言语形容的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不少西军只觉得脚下的大地都在跟着颤抖。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过却没有哪怕一个人退缩。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们亲眼看到了清军入川之后的暴行，他们绝不能对此坐视不理。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“杀啊！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;清军和西军阵中同时发出怒吼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;狭路相逢勇者胜，如今拼的就是一口气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;谁咬住这一口气谁就会是获胜的一方。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;终于清军骑兵冲进了西军阵中。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若是一般的骑兵是不可能冲击长枪阵的，因为战马本能的对长枪恐惧会停下来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但清军骑兵是重骑兵，本身骑手又经过十分严格的训练，使得他们可以毫不停歇的冲阵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;长枪刺在满是铠甲包裹的马匹身上，枪头竟然瞬间断裂。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;强大的冲击力使得清军骑兵一时所向披靡。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;加之他们彼此之间贴靠的很紧，成为了一个整体。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;西军的半月长枪阵就更难阻拦的住他们了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过张定国却没有表现出一丝一毫的慌张，仿佛一切尽在他的掌握之中
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>