<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第一百三十九章 袭杀登州（一）（第二更，求订阅，求月票！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第一百三十九章 袭杀登州（一）（第二更，求订阅，求月票！）
</div>
<div class="bookname">
	<h1>第一百三十九章 袭杀登州（一）（第二更，求订阅，求月票！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;吴老九是红螺湾资历最老的渔民之一，他祖上三代都依靠打渔为生，对于登州周遭海况十分了解。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在吴老九看来大海有时候就像一个长不大的小孩子，闹起脾气来你得顺着他哄着他，绝对不能跟他对着来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;渔民开海的时候都会海祭，就是为了让大海顺心。只有大海顺心了，他们才能有好收获。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吴老九今年四十整，有一个妻子三个女儿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一直没有儿子是吴老九的一个心结。在他看来女孩子毕竟不比男人，出海这等辛苦的活儿不一定能做的来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可渐渐的，随着女儿们的长大他的这一看法也随之改变。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;三个女儿都很能干，不光能帮着他修补渔网，分拣鱼虾，甚至能够和他一起出海打渔。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吴老九自然是十分欢喜，一身的手艺总算有了传人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他也想明白了，将来招上一两个上门女婿，即便没儿子日子照样过！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这年头吃不饱饭的灾民多的是，随便给口吃的让他做啥不行？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;上门女婿？哼，算便宜他了！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吴老九一边哼着调子一边收网。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;据他捕鱼多年的经验来看，这一网鱼虾很不少。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卖了鱼虾再给女儿婆娘扯上半匹步做几件新衣裳！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;待网全部收起后，果然没有让吴老九失望。渔网之中满是蹦跶的海鱼，间或夹杂着几只螃蟹。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;嘿嘿这种黑壳螃蟹老幺最喜欢吃。吴老九嘴角一扯，露出一排黄中带黑的牙齿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;将鱼虾全部装到木桶之中喂了水，吴老九便急着调头返航。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;从这里到红螺湾最少也得两个多时辰，他得赶在天黑之前回去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;看着波光粼粼的大海，吴老九心情大好，又哼起了渔歌调子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“一拉金嘞嗨唷！二拉银嘞嗨唷！三拉珠宝亮晶晶，大海不负抲鱼人。撑船哪能怕对头风，晒鲞哪管太阳红!要摸珍珠海底钻，要抲大鱼急起篷。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这渔歌号子是他父亲教给他的，他父亲则是他爷爷教的。祖祖辈辈的打渔人哼着一样的调调，扬帆起篷，抛网收网，日出而渔，日落而归，过着靠海吃海的日子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然平淡却也幸福。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吴老九很知足，比起河南陕西等地的灾民，红螺湾渔民的日子绝对算的上幸福了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;据说河南陕西赤地千里，粮食颗粒无收。灾民们没的吃，只能偷观音土果腹。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可观音土吃了虽然能充饥却不能排泄。但凡是吃了观音土的人最后都会腹胀而死。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若仅仅是天灾倒也罢了，偏偏还有人祸。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;官军，闯军，鞑子，都围着陕西、河南转，老百姓即便没有被饿死，也会被抓了壮丁填壕。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吴老九听说陕西、河南的百姓十不存一。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;即便是山东也没少遭兵祸。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;崇祯年间鞑子破口劫掠京畿，还不尽兴遂调转方向杀向山东。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;临清背靠运河，是多么繁华的一座大城啊，被鞑子劫掠屠戮一番，元气大伤，到现在都没有完全恢复。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;也就是远离内陆的登州，极少受到波及。除了孔有德那次登州之乱，再没有遭受过兵祸。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;即便是那次登州之乱，也就是城中的百姓遭了殃，红螺湾的渔民根本没有受到波及。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这么说来，红螺湾还真是老祖宗留下的福地呐。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;时间过的飞快，不知不觉间吴老九的渔船驶进了湾口。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可他却觉得哪里有些不对劲。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;整个渔村上方都冒起熊熊黑烟，隔着老远他都能闻到一股烧焦的气味。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吴老九登时起了几分警惕，将身子趴的极低，仔细观察着渔村的动静。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;过了片刻他发现几个兵丁出现在码头上，将一具无头尸体抛入海中。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;嘶！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吴老九倒吸了一口凉气，心道这好好的怎么会出现这么多兵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他急欲探个究竟，又不敢继续行船前往，索性身子一翻跳入海中。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;红螺湾的渔民个个都是水性极好的，吴老九自然也不例外。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个距离他甚至可以不换气直接游过去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;越靠近码头海水越浑浊，吴老九尽量将身子沉得低些避免引起码头上那些兵卒的注意。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;过了半盏茶的工夫，吴老九游到了码头边上，见那几名兵卒有说有笑的走远了这才敢浮出水面。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;脑袋浮出水面的那一刻吴老九大口喘吸着。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;方才那口气他憋的太久，差点就撑不住了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吴老九一边调整着呼吸一边双手扶着木板往前挪动。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他的动作不敢太大，故而速度很慢，两百步的栈板花了两盏茶的时间才挪到了头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;到了栈板尽头，吴老九可以更清晰的看到渔村里的景象。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只见狭小的渔村里挤满了兵卒，他们肆意的冲进屋舍中，将女人拖拽而出，就地奸淫。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吴老九只觉得怒火中烧，恨不得当即就跳上岸去和这些兵痞拼了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可他细细一想自己手中没有家伙，怕是伤不到这些兵痞。与其白白送死倒不如弄清楚这些人是什么来头再做计较。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;崇祯朝后期天下大乱，官兵不像官兵，土匪不像土匪。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;别看这些兵痞披着明军制式的大红胖袄，可却未必是什么正规军，没准是招降的哪个山大王的杂牌军。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;距离红螺湾最近的城池便是登州城。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这里发生了这么大的动静，登州城方面难道毫无察觉？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;思前想后吴老九还是觉得应该前去登州府送个信。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;仅仅靠他自己是不足以阻止这些兵痞恶行的，必须借助官府的力量。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吴老九要赌一次，他要赌登州城的官军和和这些兵痞不是一伙的<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“天干物燥，小心火烛。天干物燥，小心火烛。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;登州城清河坊内，衙役赵虎正在巡街，突然看到远处冒出了一处光亮。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;渐渐的他听到了马蹄声。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一人手持火把策马疾驰而来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他不由吃惊得张大了嘴巴。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;登州城是实行宵禁的啊，这深更半夜的怎么敢有人在城中跑马。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵虎刚想上前责斥，待看清来人是往衙门去的，立马往后缩去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;怪不得这人敢无视宵禁，原来是有官府背景啊，说不准还是大老爷的亲戚！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这种时候还是不要瞎出头的好！
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>