<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第四十三章 征召文安之</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第四十三章 征召文安之
</div>
<div class="bookname">
	<h1>第四十三章 征召文安之</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;史可法致仕，内阁首辅的位置便空了出来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;内阁不像司礼监，司礼监可以空着一个掌印太监的位置，内阁却不能一日没有首辅。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;遍数朝中诸公，较得朱慈烺青睐的是吏部尚书张慎言，礼部尚书刘宗周，兵部尚书路振飞。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可惜张慎言在前不久突然病重，朱慈烺虽然派太医前去诊治，但并没有太好的效果。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;原本历史中张慎言就是在崇祯十七年病逝的，照这个节奏看似乎命不久矣。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;剩下的两人，二选一的话朱慈烺倾向于选择刘宗周。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一来刘宗周是礼部尚书，且加了东阁大学士的头衔，接任首辅名正言顺。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;二来刘宗周比路振飞更有资历。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘宗周是万历二十九年的进士，经万历、天启、崇祯三朝，历任礼部主事、右通政、工部侍郎、左都御史，是名副其实的三朝元老。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;崇祯十七年的时候刘宗周已经六十六岁，资历足够。由刘宗周接任首辅，朝中诸臣不会有什么异议。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;路振飞就不同了，在任兵部尚书前他做到的最高官职是漕运总督兼淮安巡抚，虽也算是封疆大吏，但和刘宗周比起来却是小巫见大巫了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然，朱慈烺这么安排还有一层考量。那就是他需要路振飞这个鹰派执掌兵部，这样他就可以更好的贯彻自己的新军方略而不会被掣肘。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若是由路振飞入阁接任首辅，兵部尚书的位置势必会空出来。眼下王铎自杀，史可法致仕，张慎言病重，能够接替兵部尚书的人几乎没有。若朱慈烺强行进行内部调动，只能调礼部尚书刘宗周去兵部，可刘宗周是个坚决反对发展火器的人。他曾经向崇祯进言“臣闻用兵之道，太上汤武之仁义，其次桓文之节制，下此非所论矣。今日不待人而恃器，国威所以愈顿也。火器终无益于成败之数。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这和朱慈烺的战略构想实在相去甚远。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;再说若不发展火器，穿越者最大的优势岂不是浪费了？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以，朱慈烺绝不会让刘宗周染指兵部。如此看来，路振飞留任兵部，刘宗周接任首辅是个最好的选择。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;反正内阁首辅在朱慈烺的人事架构中只是个吉祥物，并不会对大政方针产生太大的影响。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但坐在这个位置上的人，必须是绝对忠于大明忠于皇室的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在这一点上，刘宗周和史可法倒是一致。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;与他的政治天赋相比，刘宗周的儒学天赋显然更强，他上承阳明心学，下开蕺山学派，是为一代大儒。大名鼎鼎的黄宗羲等人都是他的弟子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘宗周也的确是有风骨的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在原本历史中清兵南下一路势如破竹，当时已经乞骸骨在杭州寓居的刘宗周在城破后效法伯夷叔齐绝食而死。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如此之人，绝对是忠义之臣，作为内阁首辅表率天下再合适不过了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然，仅仅用好眼下这些臣子是不够的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;年轻一辈的可以放到皇明军校培训，老资历的臣子却是急缺。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;家有一老，如有一宝。如今的南明朝廷还是需要一些老臣撑场子的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而大部分有名气的官员在北京城破后或殉国，或降顺、降清。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;南京的官员就这么多，朱慈烺实在找不出合适的人选。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;既然南京城中没有，朱慈烺决定把范围扩大一些。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;细细考量一番，朱慈烺决定征召文安之。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;文安之这个名字很多人听来可能会觉得陌生，即便在南明的诸多英雄人物中，其也不如郑成功、李定国、张煌言等人出名。可在朱慈烺心目中，文安之绝对是个当之无愧的民族英雄。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;文安之是天启二年的进士，曾任南京国子监司业、祭酒，后被薛国观所构罢官回乡。他在夷陵老家一待就是十数年，直到甲申国变，神京陷落他仍然赋闲在家。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;弘光帝和隆武帝都先后诏起过他，但因为当时夷陵在敌占区，交通不便，文安之都没有应召。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过朱慈烺觉得这其中除了交通不便外还有一个重要的原因。那就是文安之对福王、唐王等人争相称帝的不满。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;文安之是天启二年的进士，是堂堂天子门生，自然不会因为争立藩王的一句话就应召为官。或许在文安之的心目中，对这些国难当头仍然争立火并的藩王十分不屑吧？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于后来文安之应召永历朝廷东阁大学士，肯定不会是认为永历天子比之弘光、隆武优秀，而是文安之清醒的认识到大明已经到了大厦将倾的时刻，故而他决定放弃对永历的成见前去广西。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“共持精进心，贾勇寻幽壑。起视桃李烟，春光未云薄。长松相与青，同志有余乐。下马理清言，不复问寥落。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;路过龙泉时，文安之留下了这首《龙泉晓发》，足以表达其光复天下的决心。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这位老臣在广西梧州陛见永历时已经是六十八岁高龄，却仍然满怀雄心。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可谓老骥伏枥，志在千里。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;为了抗清大业，文安之自请督师川中联合闯军余部。永历帝封文安之为太子太保兼吏兵二部尚书，总督川、湖诸处军务，并赐尚方宝剑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在文安之的努力斡旋下，原本与明廷不死不休的夔东十三家最终联明抗清。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这才有了后来永历十三年的袁宗第、李来亨水攻重庆。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过这个计划最终因为谭宏、谭诣投降清朝而失败，永历也在不久后逃到缅甸，最终南明覆灭，文安之郁郁而终。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;从文安之有效基集结夔东十三家联明抗清来看，他不仅是个史可法、刘宗周式的忠贞死节之臣，更是个极有能力的干臣。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如今国事艰难，朱慈烺需要更多文安之这样的干臣！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;是以朱慈烺决定以礼部左侍郎征召远在夷陵的文安之。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;与原本历史中的弘光帝不同，朱慈烺是以崇祯太子的身份继承皇明帝统，可谓名正言顺。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以文安之绝不会有原本历史上媚侍藩王这方面的顾虑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唯一的问题是此时夷陵仍然处于敌占区。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李自成当初控制湖广荆州、襄阳、承天、德安四府后留下大将白旺驻守，而夷陵正处于荆州府辖制内。朱慈烺要想联系到文安之就必须派人穿过敌占区
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>