<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第六十五章 神策军扩军</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第六十五章 神策军扩军
</div>
<div class="bookname">
	<h1>第六十五章 神策军扩军</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;（对老坤老说五月三号是个重要的日子，咳咳，不弄那么神秘了，今天是我生日，勤奋敬业的老坤向大家求一**荐票支持，有打赏的话最好不过了！感谢书友东京网友的2000币打赏，感谢书友遇见在似水年华、书友柔之虎的500币打赏，感谢书友20180413234516313的100币打赏。）<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对刘三水来说，近些日子无疑是这辈子最快活的时光。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;神策军扩军，新招募来的士兵需要老兵来带，他和大部分老兵一样被选为教官，负责一队新兵的训练。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然，从严格意义上来讲，这些新兵还不能算作神策军的一员。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只有等他们集训完成，通过了最终考校才行。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘三水自然清楚最终考校是什么，只有砍下一颗死囚的脑袋才能被编入营。只不过这帮新兵运气好，据说即使在最终考校中被淘汰也能编入辅兵营。虽然拿的军饷只有战兵的一半多，但好歹也算吃上了皇粮，有了稳定的收入进项。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在这乱世混口饭吃活下去不就是最好的事情了吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;由于要训练新兵，刘三水本身的日常训练可以先放一放。这就意味着至少一个月的时间他不用一早爬起来绕着校场跑上十几圈。不过刘三水还是决定每天自发的跑上三圈，只当是为了保持状态。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;今日一早他在伙房用过早饭便慢悠悠的来到校场。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;新兵们已经列好了队，一个个站的笔挺。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘三水见状十分满意，走到由他负责的那队新兵前清了清嗓子道：“你们进行队列训练已经五天了，来说说看都是个啥感觉？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然相处的时间不长，但大伙儿对刘三水都有些怕，谁也不敢做冒头的那个。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘三水见状不由得有些恼怒，可一时却也发作不得，便绕着队列走了两圈，学着自家队长的样子训斥道：“你们一定认为队列训练是枯燥的，心里肯定盼着早些结束。是不是？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;新兵们一个个眼观鼻鼻观心，大气都不敢出。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;见新兵蛋子们默不作声，刘三水直是又气又笑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不妨告诉你们，当初本教官也是这么想的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘三水清了清嗓子道：“本教官当时想，既然是来当兵的总得发些兵器才是。别管是刀枪剑戟斧钺钩叉，先来一样啊。有了兵器的兵才能称之为兵，不然赤手空拳和敌人战斗搏杀吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他这番话说的倒也是实在，一个新兵怯生生的问道：“最后发兵器了吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“当然。只不过是在队列训练考核通过后。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘三水一说起兴来便收不住，吐沫四溅，喷的新兵们一脸。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可怜那些新兵又不敢动手去擦，只盼着刘三水赶快说完。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“队列训练是什么？你以为只是让你们站站军姿那么简单？我告诉你们，队列训练的意义在于训练你们的组织性纪律性，培养你们的服从精神。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘三水回想起宣传员对他们说的那些话，揉吧揉吧又对这些新兵说了出来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“当兵吃粮天经地义。你们这帮娃娃十个有九个都是为了吃饱饭来当兵的吧？这没有错！不过我也要告诉你们，进了这军营就要以士兵的标准要求自己。何况神策军不是一般的军队，是天子亲军。你们的一举一动都代表了神策军的形象。故而从即日起你们必须给老子站的笔挺，走的方正！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘三水说完之后狠狠吞了一口吐沫，开始喊起口令。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“稍息，立正，向右看齐，向前看！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;新兵们连忙遵照指令执行，虽然动作有些笨拙，但都很用心。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对此刘三水还是很满意的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;分给他的这批新兵里没有偷奸耍滑之辈，都是老实巴交的孩子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这么看来，这次神策军虽然扩军，但招募标准并没有变低，依旧只招收身世清白的良家子，那些地痞混混一个也别想进来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这点很重要。军队是最讲究服从的地方，神策军尤甚。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;打进入军营开始，每一名士兵被灌输的都是遵从上级指挥，誓死报效圣上的思想。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果军营中有地痞混混这种刺头存在，势必会对风气造成很不好的影响。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对神策军来说，并不怕新兵是一张白纸。相反，一张白纸更容易塑造，更容易培养组织性纪律性。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“从现在开始站军姿半个时辰！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘三水厉声吩咐了一番，便拔步朝树荫处走去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;六月末的天气着实是热，才在太阳底下站了一小会他就热的满头大汗。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;做教官就是这点好，最热的时候可以名正言顺的躲在树荫底下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过刘三水的好日子也没有几天了。等到这帮新兵开始练习长枪突刺，他就要开始手把手的纠正动作，那时再想像现在这样休息是不可能了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;是以刘三水决定抓住这最后的休息时间好好放松一下，也不枉自告奋勇担任教官训练这帮新兵蛋子啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“三水兄弟，你这帮兵怎么样？可还让你省心？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王富贵不知何时凑了过来，冲刘三水挤眉弄眼的打趣道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“呀，王大哥啊，快来坐会，这毒日头真要把人烤焦了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;招呼王富贵坐下刘三水才有些得意的说道：“说起来我手下这些新兵还真不赖，学东西那叫一个快。教他们一个动作立马就能学会。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;见刘三水开始吹嘘，王富贵咳嗽一声道：“咋的，比你当初那会还学的快？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘三水面色有些尴尬道：“哈哈，看老哥哥说的，这不能比嘛。那会咱也是刚到军营，没见过世面。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王富贵心中暗暗腹诽，那这些新兵就不是第一次进军营了？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“说起来这时间过的还真是快。两个月前你我还都是新兵蛋子，现在却开始给新兵当教官了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王富贵由衷的感慨道：“也就是在这乱世才有这等机会，不然哪有你我兄弟熬出头的份儿啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这话可是说到刘三水的心坎里去了。在报名参军之前，刘三水不过是个码头上搬货卸货的力棒，王富贵也就是个杀猪的屠夫。若是没有什么意外二人一辈子也就是这样了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可自打他们报名参军，最终通过考核被选入神策军，每个月能拿二两银子的军饷，还顿顿有肉吃。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘三水舍不得花钱，把银子偷偷存了下来，打算攒上一年买上两亩地，再娶个媳妇。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;有了家整个人便不再是飘的了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘三水只想早些给老刘家留下个种，这样即便是将来战死沙场也不会有遗憾了
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>