<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第三百五十六章 张献忠之死（第二更！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第三百五十六章 张献忠之死（第二更！）
</div>
<div class="bookname">
	<h1>第三百五十六章 张献忠之死（第二更！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;双方对于这段坍圮缓坡争夺的十分激烈。 小 说&nbsp;&nbsp;&nbsp;&nbsp;． <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一方是为了活命，另一方则是急于立下投名状。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;绿营兵的数量优势在这个狭窄的区域无法体现出来，大西军将士则在张献忠的领导下拼命抵抗。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;事关生死他们每一个人都使出了浑身解数。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;射出箭矢的力道都比平时多出了几分。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“杀鞑，杀鞑子啊！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在大西军将士眼中，这些绿营兵和真虏没有任何的区别，一样剃头留了金钱鼠尾，一样对普通百姓挥动屠刀。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;国仇家恨交织在一起，让他们每一个人出离的愤怒。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不管是真鞑还是二鞑子都该死！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们的火力压制足够凶猛，绿营兵们一时难以更进一步。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过洪承畴的战术就是消耗，滚木、箭矢总归是有限的，等到绿营兵消耗的差不多了再派汉军旗兵压上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不论从战斗力还是执行力上看，汉军旗都比绿营高出了几个档次，好钢自然要用在刀刃上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这是一场鏖战，作战双方都拼尽全力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不时有人力竭从缓坡之上滚了下去，又有新的士兵填上空缺的位置。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张献忠见状亲自上前弯弓搭箭瞄准了百步外的清军帅旗。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;屏气凝神，但听嗖的一声破甲箭抽射而出回旋着朝清军帅旗而去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这箭力道十足，又精准无比径直从帅旗正中射了过去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那猩红色的帅旗被射出一个大窟窿来，劲风呼啸而过扯得飒飒作响。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪承畴老脸登时一红，愤怒的朝城头望去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张献忠！这个巨贼！真是该死！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“来人呐！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“末将在！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘进忠十分合时宜的站了出来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你来射一箭，就瞄着献贼射！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪承畴气的胡须发颤，沉声命令道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘进忠这下郁闷了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他本来想拍马屁谁知道洪总督正在气头上，他拍到马腿了<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“怎么，不可以吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪承畴狠狠瞪了刘进忠一眼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一瞪可把刘进忠吓坏了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他连连摆手道：“不是，当然不是。洪总督有命，末将自当遵命。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他心里那个苦啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这洪承畴老贼真是不要脸。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;从城墙上往下射和从城下往城墙上射是一个概念吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他就算运足力气射这一箭，可也未必能够射到张献忠附近，更不用说射中张献忠本人了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可他偏偏还得射。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果得罪了洪承畴，他在清廷的前程可就算是完了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一咬牙一跺脚刘进忠决定豁出去了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不就是射箭吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;谁怕谁啊！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘进忠臂力惊人，用的是开元强弓。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;平常时候开元强弓都没有太多使用的机会，偏偏这时派上了用场。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘进忠从亲兵手中接过弓、箭囊，抽出一支搭在弦上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;运力，曲臂，刘进忠瞄准了城头上鼓舞士气的张献忠。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;曾几何时，刘进忠是张献忠最为信任的心腹，他也一度认为自己会在大西阵营终老。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可是造化弄人，张献忠的一道“圣旨”彻底改变了这一切。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘进忠仅仅因为一次失误被张献忠骂的狗血喷头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果是在私下里也就罢了，偏偏那是在圣旨中。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;圣旨当众宣读后，刘进忠恨不得当即找一个地缝钻进去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;都是一起打天下的好兄弟，何苦把话说的那么难听？这叫他刘进忠以后在下属面前怎么自处？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;再说那张献忠满口污言秽语，也配做皇帝？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;从那刻起刘进忠便决定了，老子不跟你混了！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘进忠的选择并不多，要么投降明廷要么投降清廷。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;最终刘进忠选择了降清。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这不仅仅是因为他更看好清廷。更是因为自己曾经“大西军”的背景。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;要知道张献忠当初打到凤阳可是把老朱家的祖坟都给扒了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;有这么一层关系在即便刘进忠降明了日子也不会好过。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;万一到时候明朝小皇帝秋后算账，他肯定会被第一个拉出来砍脑袋。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以最终刘进忠选择了降清。他与清廷并无太多过节。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;即便是那次攻打汉中也可以解释为各为其主。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;之后只要刘进忠表现出色一样可以赢得清廷的信任。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以刘进忠在降清之后拼命表现自己，恨不得把许多一线工作都拉来自己做。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如今他有了证明自己的机会。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;仇恨是会积累的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;此刻在刘进忠的眼中张献忠就是一个十恶不赦的恶棍，是一个该杀千刀的人渣。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他运足了力气将弓弦崩满。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张献忠，张献忠！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;此箭是让你为侮辱我付出代价！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘进忠将这一箭倾力射出，一瞬间竟然有一种如释重负的感觉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;乱军混战之中这支冷箭直朝张献忠的面门而去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而张献忠竟然没有意识到。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果是一般的羽箭射到城头早已没了力气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可这是开元强弓射出的破甲箭。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;箭矢直接射进了张献忠的右眼，巨大的力道使得箭身直接从张献忠的脑后射出。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;噗！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张献忠闷哼一声便颓然倒地，浑身抽搐了一阵便没了动静。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张可望第一时间发现了这个意外，疾步跑向张献忠。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“父皇，父皇您怎么了！父皇您可别吓儿臣啊！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张可望拼命摇晃着张献忠的身体，可张献忠就是没有一丝一毫的动静。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;天呐！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;义父难道真的被射死了！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;此时张可望有一种天塌下来的感觉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不管张献忠再怎么暴虐，他也是大西政权唯一的权力中心。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如今张献忠竟然稀里糊涂的死了，那大西阵营中势必会就权力展开一轮争夺。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这很可能使本已经成了一定气候的大西军四分五裂。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然这是以后的事情，眼前的麻烦却更要命。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张献忠于军前暴毙对于士气的打击是致命的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;原本大西军的士气已经拉满，现在却是怕要一泻千里。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这可该如何是好？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张可望知道所有人的注意力都会转移到他身上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;作为张献忠一直培养的继承人，张可望必须在这个时候站出来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所有人都能慌，唯独他不能慌。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所有人都能乱，唯独他不能乱。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“传我将令，继续战斗，绝不能放一个鞑子进来！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张可望深吸了一口气高声命令道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对外他准备宣布张献忠受了轻伤，必须离开一线进行疗伤。反正离得那么远，绝大部分士兵不可能知道真相
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>