<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第三百零九章 这才是忠良（第一更！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第三百零九章 这才是忠良（第一更！）
</div>
<div class="bookname">
	<h1>第三百零九章 这才是忠良（第一更！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;张定国一直都不满于大西军偏安一隅，乐得自满的态度。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;细数一数，历史上偏安巴蜀的政权有哪个最终落得善终了？ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;蜀道再难也能被攻破，如果大西政权真的只盯着巴蜀这一亩三分地那就真的完了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对大西政权来说要想扩张无外乎三个方向。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;往北是陕西汉中，往东是湖广，往南是云贵。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;湖广自然是最为富庶的，可惜明军在此囤积重兵，大西军即便倾巢而出也不一定能够占到便宜。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;再说汉中。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;汉中是由巴蜀通往关中的必经之地，地理位置极为重要。如今汉中被清军占据，又有刘进忠这个投敌者的策应，要想拿下也非易事。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这么看来只有云贵可取了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;因重庆尚在明军手中，大西军要攻打贵州还得绕道十分不便。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而如果要去打云南就方便的多了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;从成都府南下，过嘉定州，取道大凉山便来到了建昌。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;渡过金沙江便进入了云南。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如今的云南乱作一团，正是大西军大展宏图的好时机。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所幸他的奏请得到了张献忠的准许，如今张定国已经迫不及待的要去建昌了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然，兵马未动粮草先行。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;出兵打仗粮秣是第一位的。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而这属于后勤的范畴，归张可望管。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张定国倒是不怎么在乎面子，大大咧咧的找上门去。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他对大哥一直很敬重，张可望也是除了义父之外最亲的人。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只不过大哥有时的一些做法他感到有些难以理解。不过这并不会影响兄弟二人之间的感情。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张可望得知了张定国的来意，沉吟了片刻便拍着胸脯道：“既然此事父皇已经降旨，本王自然会全力支持。不过定国，你真的觉得大西军有希望拿下云南吗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张定国一听打仗顿时来了劲头，侃侃而谈道：“大哥，你就放心好了。我已经看准了，云南势必大乱，我们趁此时机出兵准没有错。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张可望轻点了点头。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;正所谓趁你病要你命，云南越乱越有利于大西军的发挥。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“如此甚好。本王可以给你准备三个月的粮食，不知定国觉得够否？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“足矣！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张定国信心满满的保证道：“三个月我必拿下昆明。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好！那本王便等着你的好消息！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张可望顿了一顿继而接道：“对了，建昌那边你最好也推行军屯，这样多少还能收获一些粮食。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;建昌位于四川行都司，原本就是卫所军队驻扎地。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;此地有大量的军屯，虽然荒废了不少，但底子还在，张定国若是顺着这个模式发展下去，建昌将成为仅次于成都的第二大产粮地。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这样即便没能拿下云南，对于大西军来说也是多了一桩好事。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张定国对此事却是没有太大的兴趣，他只在意打仗，至于军屯这种事情他认为是文人该做的。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“大哥，咱不擅长这个啊。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张定国挠了挠头道：“要不，你派个人来建昌主持军屯？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哎，不擅长可以练嘛，有谁是天生就擅长的？便是本王也是经过几十次的锤炼，才练出来的嘛。再说，你领兵去建昌是父皇的旨意，我派人去恐怕不妥吧。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张可望轻捋着胡须道。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张定国听罢清了清嗓子道：“也好，不过我若做的不好，大哥可别笑话我。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张可望半开玩笑的说道：“你看看你，还没做呢就先给自己找退路了，这可不像那个天不怕地不怕，敢把皇帝老儿拉下马的张定国。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张定国挠了挠头道：“说正经的大哥，我走了之后军务就全靠文秀、能奇了。父皇若是有什么冲动的地方，大哥你也多劝着点。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;有些话不能明说，点到为止。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张可望也明白，微微颔首道：“你放心好了，成都有本王在，天塌不了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦良玉在神策军的护卫下经由湖广进入重庆。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;重新回到石柱宣抚司，秦良玉老泪纵横。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;她已经七十一岁了，本以为将会老死在南京，谁曾想还能再次踏上家乡的土地。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;有人说将领就该是死在马背上的。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所谓马革裹尸，这是武人的归宿。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦良玉觉得这一切都是冥冥之中注定好的，既然朝廷需要她，陛下需要她，她就会毫不犹豫的站出来。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;天下兴亡，并非君父一人之事，是千千万万人之事。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不管别人怎么做，但至少在秦良玉这里，在秦家、马家子侄这里会为朝廷流尽最后一滴血。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦良玉在石柱宣抚司乃至整个重庆府境内的号召力、威望都是惊人的。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;得知她来到重庆，大大小小的土司都前来拜会，还有不少土司带来了子弟兵。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;少的带几百人，多的带一千来人，凑在一起也有一万人了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦良玉感到很欣慰。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;看来大明还是得人心的啊。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所谓得民心者得天下，只要民心仍在，大明就有中兴的希望。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;为了做出表率，秦良玉亲自前往石柱宣抚司征募士兵。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;石柱宣抚司的子弟没有一个不敬仰秦良玉的，纷纷踊跃应募。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;最终秦良玉招募到了一万人，比预想的还要好。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;文安之又给秦良玉凑了八千人，由曾英统率，这样秦良玉麾下的军队便有了三万人。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;三万人可不是一个小数目了，在文安之看来，如此大军前去讨伐一个谋反叛乱的土司足够了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沙定洲再强能强过朝廷官军？ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们不过是占了一个突然袭击的优势罢了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若是摆开了阵仗对决，黔国公沐天波都不可能输。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;文安之又分出了一大笔粮食，充作秦良玉大军的军粮。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他要驻守重庆，严防张献忠偷袭，能够给秦良玉的支持只有这些了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过他会在内心深处默默的支持秦良玉，等着她得胜归来。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;文安之在巴县设下酒宴为秦良玉践行。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦良玉也是感慨万千，在酒宴之上赋诗一首以壮声势。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;文安之感动到无以复加，强忍着眼泪没有流下来。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;什么是忠良？忠良不是那种靠犯言直谏博取名声的腐儒，而是在朝廷有需要时毫不犹豫站出来的人。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦良玉确实当得起忠良二字。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;请记住本书域名：。手机版阅读网址：
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>