<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第二百二十八章 封侯（第一更，求订阅，求月票！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第二百二十八章 封侯（第一更，求订阅，求月票！）
</div>
<div class="bookname">
	<h1>第二百二十八章 封侯（第一更，求订阅，求月票！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;在这场谈判之中，堵胤锡毫无疑问是主动的一方。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;果不其然，在过了三日之后李过再次派人来和谈。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;派来的人还是李来亨。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;经过上次的谈判双方都有了个底，也没有任何可保留的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只不过李来亨上次提出的封王变成了封爵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然只是一字之差，但却是天壤之别。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;封王那可是大明立国以来的头一遭。而封爵就很稀疏平常了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;远的不说，就说近的，高杰、黄得功、郑芝龙不都封了爵吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;就连那反叛的左良玉，在兴兵作乱之前也被朝廷封了侯爵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个条件不算过分。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然，堵胤锡也不可能立即就答应李来亨，这种事情还是要奏请朝廷的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过他的态度相较上次平和了很多。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在他看来这不过是走个过场的事情。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;圣上没有理由拒绝一只虎封爵的要求。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一个爵位换得十几万大军，实在是太值了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在等待天子旨意的时间里，双方没有太多能做的事情。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;好在李过方面保持了相当的克制，并没有大规模骚扰百姓。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;等到圣旨传到湖广，堵胤锡摆出香案接旨。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;天子准许了李过的请求，封其为兴侯，并赐封高一功郢侯。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;侯爵是除王爵、国公之外最高等级的爵位，黄得功、郑芝龙、高杰目前都是侯爵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;天子赐封李过、高一功侯爵，明显是为了一碗水端平，好维系各武勋之间的平衡。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;俗话说的好，不患寡而患不均，如果在爵位这件事上不能找平，厚此薄彼是件很麻烦的事。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;堵胤锡第一时间把这个好消息告诉了李过。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李过方面也如之前保证的那样正式归降。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;堵胤锡解决了招抚的事情心情大好，在荆州城内摆下宴席，邀请李过、高一功、李来亨等人赴宴。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李过等人也很豪爽，只带了亲兵入城赴宴。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;酒过三巡菜过五味，宾主尽欢之时李过半开玩笑道：“不知堵军门打算把某安置在何处？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;保留顺军原有编制并由其直接统领是李过降明的前提条件。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过一口气安置十几万军队可不是件简单的事。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;就说当年张献忠归降之后被安置在谷城一地，还三天两头抱怨地盘太小呢。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李过这十几万军队显然比当年的张献忠更多，如果安置不好，李过难免会甩脸子给堵胤锡看，到时谁都难做。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;堵胤锡清了清嗓子道：“本抚想把荆门拨给兴侯驻扎，不知兴侯意下如何？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“荆门？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李过眉毛一挑，显得十分惊讶。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;荆门位于荆州的北边，是荆州的北大门，位置极为重要。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;堵胤锡把这么一个重要的地方交给自己把守，是为何？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不错。兴侯骁勇善战，如此重镇自该由兴侯把守。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;单纯从富饶程度来说，荆门并不差，李过没有理由拒绝。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可听堵胤锡的意思，是想让李过率部起到拱卫荆州的作用。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如今顺军已经归降明廷，那么明廷防着的只可能是清军。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;也就是说，堵胤锡让李过驻扎在荆门，是为了将来清军打过来时李过所部能够作为屏障抵挡清军的推进。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“唔！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李过并没有接招，而是酌了一口酒赞叹道：“好酒，好酒啊。堵军门这坛酒够烈，正对李某的胃口。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个老狐狸想让我给他当藩屏，想得美！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李过和阿济格率领的清军交过手。在他看来清军没有吹嘘的那么厉害，但实力绝对也是不俗的，至少比一般的明军要强。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;跟这样的强军交战对于军队实力的耗损是很严重的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李过既然下定决心只是借归降休整军队，自然不想为了明廷和清军拼命。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;将来顺军会和清军交战，会给死去的弟兄们报仇，但不是为了明廷。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哈哈，这女儿红本抚还有十几坛呢，兴侯若是喜欢拿几坛去便是。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;堵胤锡很是老谋深算，见李过岔开话题也不勉强，顺势那么一抹道：“这个年过完就该加紧练兵了。看东虏的架势很可能会进犯湖广啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;正自顾自吃菜的李来亨闻言放下筷子道：“怕什么，鞑子若是敢来我们便好好教训他，叫他们尝尝汉家儿郎的厉害！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“来亨！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李过扭过头去厉声喝道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哈哈，李小将军快人快语，少年豪气，无妨，无妨的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;堵胤锡一边捋着胡须一边说道：“高将军在河南、北直隶攻城拔寨，大破东虏，证明什么八旗不满万，满万不可敌都是他们自己吹嘘的鬼话。只要我们精诚一心，东虏不过是蚍蜉一般，丝毫不足为虑。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;堵胤锡这番话明显是说给李来亨听的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;偏偏李来亨少年心性，直接应道：“堵军门说的好。咱们汉人啊就是喜欢窝里斗，被鞑子抓住机会各个击破。若是我们拧成一股绳，鞑子是无机可乘的。这次鞑子要是再敢进犯，我第一个不答应。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高一功听的直皱眉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;堵胤锡一个激将法就把李来亨激的不知所谓了，再说几句岂不是就要把驻守荆门，替明廷看护荆州北大门的活儿揽下来了？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“咳咳，来亨你酒喝多了，出去醒醒酒。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高一功冲李来亨递了个眼色，他这才心有不甘的停下来冲堵胤锡拱了拱手道：“叫堵军门见笑了，容某出去透透风。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“李小将军请自便。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;堵胤锡微微眯着眼道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李来亨走后双方又说了些不痛不痒的话，基本没有什么实质性的进展。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;临到酒宴结束，李过的驻地还没有定下来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;待李过、高一功离开后吴翰不无担心的说道：“看这一只虎推三阻四的样子怕是有所保留啊。堵军门还是小心为妙。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;堵胤锡却是扬了扬手道：“本抚看倒未必。一只虎刚刚接受朝廷招降，心中有顾忌是难免的。要是方才他毫不犹豫的就答应率部去荆门驻防，那本抚反而会觉得有些奇怪。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;稍顿了顿，堵胤锡接道：“这件事急不得，就暂且让他们在荆州附近驻扎吧。等朝廷的赐服、官印到了，一只虎便是想推托也没有理由了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“堵军门英明，下官佩服！”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>