<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第六十二章 范文程献策</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第六十二章 范文程献策
</div>
<div class="bookname">
	<h1>第六十二章 范文程献策</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;（第二更！求推荐票，老坤急需推荐票，泣血求！感谢书友懒的杨杨的1000币打赏，感谢书友柔之虎的500币打赏，感谢书友飘空游的100币打赏。）<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多尔衮不由得眼前一亮，清了清嗓子道：“范先生不妨明说。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然他出任摄政王以来，在汉臣方面更加重用洪承畴，但并不是说他就忘记了范文程。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;恰恰相反，他对于范文程十分信任。这份信任也是有道理的。毕竟范文程万历四十六年时就主动投到太祖皇帝帐中效命，多年以来为爱新觉罗家出谋划策，立下汗马功劳。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若是没有范文程，天聪三年时皇太极怎会如此轻松的招抚潘家口、马栏峪、山屯营、马栏关、大安口五城。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若是没有范文程，天聪七年时孔有德、耿仲明等人又怎会毫无顾忌的前来归降。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若是没有范文程，顺治元年时他多尔衮又怎会毅然出兵伐明，最终谋得山海关，得以逐鹿中原。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;大清不能没有范文程，也绝不会忘记范文程多年来为大清立下的汗马功劳。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“王爷，这天下若是一方棋盘，那么王爷以为何处是必取之地？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;范文程双眼微微眯起，不疾不徐的说道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这个嘛本王也听说过金角银边草肚皮的说法。依本王看，若把如今天下看作是一方棋盘，四川、关中、北直隶、东南便是四角，为必取之地。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多尔衮也是颇为精通棋道，当即便高谈阔论起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“四川位于西南，有天险可守，号天府之国。若是取之则可放心发展，屯田练兵自给自足，无后顾之忧矣。不过此处已经被张献忠占据，恐怕一时难以取之。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;稍顿了顿，多尔衮继续道：“关中自古便是谋取天下必取之地，有得关中者得天下之说。如今关中在李自成的手中，要想打下来恐怕少不了一场硬仗。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;深吸了一口气，多尔衮起身踱起步来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“至于北直隶不用多说，为畿辅龙脉所在，如今在大清的掌控之中。剩下的便是东南了，尚在残明治下。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多尔衮一口气说完只觉得畅快不已。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“王爷说的不错。若是把天下看做一方棋盘，那么黄金四角确实是这四处。巧合的是，这四角恰恰被最有可能一统天下的四方占据。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;范文程的话得到了多尔衮的认同。大清、残明、李自成、张献忠都有实力逐鹿中原。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“王爷也说了，下棋讲究的是先占角，再夺边，最后发力扩张谋得全局。那么王爷何不把这四角连起来，看看银边在何处呢？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多尔衮恍然大悟，仔细分析道：“若连起四角，山西、山东、湖广、汉中则为四边。这么看来，河南位于天下腹心，反而是四战之地了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“山西位于北直隶、关中之间，不论是大清还是李自成，若想吞并对方皆必取之。汉中位于四川、关中之间，不论是张献忠和李自成，若想吞并对方皆必取之。湖广位于东南与四川之间，不论是张献忠和残明，若想吞并对方皆必取之。山东位于北直隶、东南之间，不论是大清亦或是残明，若想吞并对方皆必取之。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;范文程一口气说完，感慨道：“如今与大清接壤有直接冲突的便是关中的李自成，东南的残明。大清要想往西边扩张，则必取山西。大清若想往南边扩张则必取山东。同理残明要想往北扩张，山东亦必须攥在手中。至于四川的张献忠，暂时先不必考虑。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;嘶！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;经由范文程一番分析多尔衮直是心惊胆战。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;照这么说来，残明朝廷收取山东便十分好理解了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“若真是这般，本王该如何是好？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多尔衮有些惊慌失措，若是山东被残明收取，明军便随时可以北上，进窥河南、畿辅。山西那边又有李自成虎视眈眈，大清四周可谓虎狼环饲啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“王爷莫急，奴才有一计可破此僵局。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;听闻范文程要献策，多尔衮直是大喜，连忙挥手道：“范先生快快请讲。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“为今之计，当集中兵力先取一边。奴才以为当集中兵力猛攻山西。山西一取则关中唾手可得。至于残明，可先虚与委蛇。只要灭了李自成，王爷便可腾出手来对付残明。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多尔衮蹙眉道：“本王也知道应该先打一边，可残明朝廷会不会在本王对付李自成的时候从背后插上一刀？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多尔衮的担心不是没有道理的。如果清廷抽调主力对付李自成，畿辅一代的兵力势必十分空虚。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若是残明朝廷派兵从背后偷袭，确实十分麻烦。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“王爷不必担心，奴才有一计可保畿辅不失。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;范文程刻意卖了一个关子，用余光瞥了一眼一旁的洪承畴，神情十分得意。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多尔衮此刻已经被范文程彻底吊起了胃口，哪里还注意的到范文程和洪承畴之间的嫌隙，只催促道：“范先生快讲与本王听。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;范文程清了清嗓子道：“离间。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多尔衮对于离间自然不陌生，自太祖皇帝起兵伐明以来，他们便屡次离间明廷君臣关系。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一招屡试不爽，甚至几次把大清从悬崖边上拉了回来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尽管多尔衮很自傲，但也不得不承认，若是明廷君臣一心，恐怕辽东早已被收回。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是汉人骨子里便是互相不信任的。这点放到君臣之间尤甚。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;便说崇祯和袁崇焕，从最初的互相信任到貌合神离才用了几年？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“范先生是说，让本王离间残明小皇帝和山东守将的关系？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多尔衮越想越觉得有趣，面上隐隐浮现出一抹笑意。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不错。奴才听说如今残明的皇帝是崇祯的太子，不过十五岁耳。其以冲龄践祚，如何能压服诸镇军阀？主少国疑，大臣未附，百姓不信。正是离间的好时机。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;范文程幽幽说道：“不论山东的守将是谁，其统兵在外，小皇帝势必不会放心，这时候若是有传言四起，恐怕小皇帝自己就坐不住了。如此一来，残明后院起火，自然没有精力对大清用兵。只要大清收拾了李自成，腾出手来还解决不了一个残明小朝廷吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“妙哉，妙哉！范先生真是胸中自有百万兵，经你一番谋划，这天下岂不已是我大清囊中之物？”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>