<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第一百六十二章 皇明不偏安（第三更，为盟主荷塘V听雨加更，加第三更！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第一百六十二章 皇明不偏安（第三更，为盟主荷塘V听雨加更，加第三更！）
</div>
<div class="bookname">
	<h1>第一百六十二章 皇明不偏安（第三更，为盟主荷塘V听雨加更，加第三更！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;朱慈烺这几日听到的好消息着实不少。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在文安之的努力下，第一版皇明早报的样稿已经送至宫**朱慈烺御览。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺在看过样报之后很是满意。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;想不到文安之的领悟能力这么强，基本按照他的要求实现了报纸的用处。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺决定先在南直隶辖境内发行皇明早报，看看反响再说。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;毕竟大明的百姓此前从未接触过报纸，适应还有一个过程。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若是反响不错，再在全国推行也不迟。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对此文安之提出了一点担忧，那就是关于报纸刊印的问题。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若是单纯由官府负责刊印，显然不可能印出足够南直隶百姓阅览的报纸。但如果把这个任务交给民间来协办，会不会有损朝廷的威信？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺考虑了一番后觉得文安之的担忧不无道理。朝廷即便要找民间来协办刊印，也不能没有任何准入条件。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺的意思是在每一府县挑选一两家长期负责协办刊印，也提前把原则与他们讲清楚，这样不会出现许多不必要的问题。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;文安之对圣上交办的这件事还是十分上心负责的，从宫中回来后就立刻着手去办。因为提前已经做了很多准备工作，文安之稍作调整后报纸便可以刊印发行。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两日后，南京城的大街小巷上便多出许多兜售报纸的人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“吴大叔，这皇明早报是个什么东西？你看过吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;近秦淮河的一处小巷子里，秀才秦礼贯探出半个身子问道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;今天早上他总听到有人在兜售，心中十分好奇。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哎呀，秦相公，你都不知道的事情我老吴咋会知道呢。要不，你买一份看看？若是有趣，也给大伙儿读读。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦礼贯点了点头道：“也好。既如此，我便去买一份回来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;思定之后，秦礼贯单手负在身后，踱步走到巷口，冲卖报的小厮问道：“你这皇明早报怎么卖？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“公子要买报？我们这是第一次发行，原本是三文钱一份，算便宜些，公子给两文钱好了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦礼贯心中暗道这价格倒也不算贵，便先买一份瞧瞧好了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他从钱袋里摸出两块铜板，拍到卖报的小厮手中。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我买一份。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那小厮立刻欢喜的抽出一份报纸递给了秦礼贯。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦礼贯接过报纸摸了摸，报纸的页数并不多，一共也就是十来页，用的纸张也是最普通的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他不禁蹙起眉来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“公子且放心，我们的价格都是童叟无欺的。同样的一份报纸你在南京城里绝对买不到比我家便宜的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那小厮信誓旦旦的拍着胸脯保证：“若是你找到一家比我便宜的，我包退！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“罢了，我也就是随便瞧瞧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦礼贯面上一红，连忙转身朝巷子里走去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“秦相公，你买回来了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卖包子的吴有福见秦礼贯手中多了一份报纸，美滋滋的凑了过来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“咋样，里面讲的个啥？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“唔，我还没有看。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦礼贯清了清嗓子道：“要不要把大伙儿都叫来听听？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“那好，我去喊人！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吴有福一头窜进了院子里，扯着嗓子喊道：“大伙儿想不想听听那皇明早报里讲的个啥啊。秦相公亲自给我们讲哩。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不一会的工夫，十几个里邻就都跟着凑了过来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对此秦礼贯倒是觉得没有什么不可。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他父母早亡，是靠吃百家饭长大的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;要是没有这些热心肠的街坊邻居，他别说是考中秀才了，怕是早就饿死了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;街坊邻里大多是靠些手艺活谋生的，基本不识字。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们将秦礼贯围在正中，殷切的期盼着秦礼贯读报给他们听。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦礼贯也不扭捏，展开报纸便读到：“徐州总兵高杰率军收取开封，城中百姓无不欢欣鼓舞迎接王师。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;开封大捷的消息传回南京还没多久。不少百姓还不知情，他们听秦礼贯念完直是目瞪口呆。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;过了好一会，才有人问道：“这是真的假的，朝廷大军真的光复开封了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦礼贯点了点头道：“这件事我是听说了的，高总戎确实已经收复了开封。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好，好啊！想不到鞑子也有吃瘪的时候啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嘿嘿，都说鞑子不可战胜，现在看来也就是那么回事嘛，都是吹出来的！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“开封一拿下，鞑子怕是坐立不安了吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哼，要我说，就一股脑的打到京畿去，把鞑子赶出关去！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;听街坊邻居你一嘴我一嘴的说着，秦礼贯只觉得没来由的欣喜。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“大伙儿还想不想听其他的好消息？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“秦相公，哎呦，还有别的好消息呢？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“杜婶子，瞧您说的，当然有了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“那你快给大伙儿说道说道。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哎！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦礼贯应了一声，继续念道：“神策军大胜刘良佐、刘泽清叛军于登州城外。靖南伯黄德功率部策应堵截，一应叛军全部伏诛！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个消息秦礼贯此先也没听到过，读罢之后心中暗呼痛快。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这两个天杀的狗贼终于死了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是啊，朝廷和陛下待他们不薄，他们竟然忘恩负义发动叛乱，真是死有余辜。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“据说这两个狗贼是想率军去投鞑子，还好神策军与靖南伯勇武，把他们给收拾了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这神策军真这般厉害？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你以为，那可是天子亲军，有龙运护体，战无不胜！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“怪不得，怪不得”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦礼贯看在眼里，乐在心中。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;街坊邻居们已经有很久没有这么高兴过了，朝廷这次真是好样的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这里还有一道圣谕。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦礼贯发现两篇文章中间有一块专门开辟出的版块，其中有一句十分简短的话。他深吸了一口气朗声念道：“汉贼不两立，皇明不偏安！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;与其说这是一道诏令，倒不如说是当今天子对大明何去何从的表态。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;是像南宋朝廷那样偏安苟活百年，还是坚决北伐，光复神州？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;皇帝陛下在皇明早报之中给出了明确的答案。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;大明绝不会偏安于江南，迟早会打回神京，打回辽东！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;汉家天下，绝不会亡！大明国祚，必将绵延！
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>