<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第四十七章 火器司</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第四十七章 火器司
</div>
<div class="bookname">
	<h1>第四十七章 火器司</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;（ps：听说推荐票不求就很少，老坤也求一**荐票，南明文写起来不容易，希望能感受到大家的支持。感谢书友睺帝、书友家里窝囊家外雄的100币打赏。）<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;南京工部衙门。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;工部尚书高弘图正在内衙官署之中处理公务，突然有书吏来报天子驾到。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高弘图大惊，连忙起身迎驾。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他刚走出官署还未及拔步绕过影壁，就见天子在一众亲军侍卫的簇拥下朝他迎面走来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高弘图连忙跪倒在地叩拜行礼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“臣工部尚书高弘图拜见陛下，吾皇万岁万万岁。臣不知陛下驾到有失远迎，还请陛下恕罪。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;官署中的大小官吏听到这番动静，也都赶了出来叩拜行礼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺的心情还是不错的，见院内跪了一片，右手抬了抬道：“诸卿平身。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高弘图遂缓缓起身。见尚书大人站了起来，一众工部官吏也都纷纷起身束手而立。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只不过他们一个个眼观鼻鼻观心，都不敢抬头去瞧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺对此倒不在意，他阔步走入官署内，冲紧跟在后面的高弘图道：“大司空随朕到内衙来。”（注1）<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高弘图见天子要唤他进内衙，知道是有极重要的事商议，不敢有丝毫怠慢当即拔步跟去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;进到内衙后，一众锦衣卫分列两旁跨刀把守。如此这般，怕是连只蝇虫都飞不进来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺进到官署在上首坐定，冲恭敬侍立的高弘图道：“大司空不必如此拘束，朕这次来是与卿商议一桩要事的。坐吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“老臣谢陛下恩典。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高弘图战战兢兢的在下首坐定，心中琢磨着皇帝陛下究竟葫芦里卖的是什么药。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若是放在两个月前陛下刚刚登基时，高弘图自然不会如此绞尽脑汁的揣摩上意。可现在他却不得不这么做。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;因为陛下这两个月来的举动太惊人了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;短短两个月的时间，天子复设厂卫，练新军，建军校，查贪官，破逆案，甚至派军队收复了山东<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这哪里像是一个少年天子所为，高弘图自认为便是太祖、成祖在世也不会比今上做的更好了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然这对大明是好事情，雄主在位中兴大明指日可待。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但对高弘图这种重臣可就不完全算好事了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;雄主绝不会允许朝中重臣是庸碌无能之辈，高弘图虽自问无愧于社稷，但人非圣贤孰能无过。万一有一些小纰漏恰巧被天子看在眼中，一番责斥他这老臣的面子往哪里放？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;越是位高权重之辈，越是爱惜羽毛。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高弘图也不例外。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;工部虽然掌事繁杂，但归根到底也就是那么几项。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;紫禁城诸多宫殿不久前已经进行过修缮，天子肯定不是为此而来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于陵寝的修建就更不可能了。虽说历任天子都会在登基后即派人修建陵寝，可那也多是一年后。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;今上践祚不过二个月，不可能这么急着修建陵寝。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那么便只剩下一种可能，天子是为匠作之事而来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;能够劳烦天子亲自摆驾工部，这件事绝不会是一般的匠作，一定跟军务有关，高弘图猜一定涉及到军械造制。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然高弘图已经将天子的来意估摸了个八九不离十，却没有表露出分毫，而是恭敬的等待天子发问。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺却不知道高弘图心中已分析了这许多，嘴唇翕张道：“大司空以为大明的火器如何？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;火器？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高弘图愣了一愣，咳嗽一声道：“禀陛下，大明的火器自然天下无敌。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺摇了摇头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“若真是这样，为何士兵们畏铳如虎，宁肯用弓弩也不用火铳？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺一句话把高弘图问住了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;是啊，大明的火器若真的像他说的那样天下无敌，为何士兵们对使用火器那么抗拒呢？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;别的不说，工部造制的鸟铳，十杆里面有五杆打不响，剩下的五杆里也有三杆会炸膛。营兵士兵们常常戏称鸟铳为烧火棍，也就是近身肉搏的时候可以抡圆了砸。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;见高弘图默不作声，朱慈烺继续说道：“朕没有怪罪大司空的意思。朕也知道，冰冻三尺非一日之寒。永乐时成祖建神机营，那时的火器是何等犀利。为何两百年过去，反而造出的火器越来越低劣了呢？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺刻意顿了一顿，见高弘图面色通红，岿然一叹道：“朕思前想后，无外乎是两个原因。其一，朝廷拨给工部的银子有限，要求造制的火器数额却是定死的，工部要按期交付足额的火器就必须用低劣的料子，如此一来造出的火器却是没法用。其二，自太祖皇帝建立匠户制度，匠人的命运便从一出生就确定了。便说隶属于工部的这些匠人，他们只领着微薄的月钱，却要承担极为繁重的活计，难免会心生怨恨，体现在火器造制上便是出工不出力了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“老臣万死”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺将手向下压了压继续说道：“朕虽然对火器不甚精通，但也知道要打造一杆合格的火铳，最重要的便是铳管的打制，若是铳管的内壁太薄、不匀就极可能发生炸膛。换做是朕，也不敢使用这样的铳。朕以为工部现有的模式，很难造制出符合要求的火器，故而朕准备在工部单独下设火器司负责火器造制。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺一通说完高弘图才算是明白了天子的意思。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;要说在工部单独下设一火器司并没有什么难度，无非是再增加几个郎中、员外郎、主事罢了。可这真的能改变如今大明火器多粗制劣质的现状吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺仿佛看出高弘图心中所想，淡淡道：“仅仅成立火器司显然是不够的。银两若是不给足，说什么都是空的。从即日起朕会从内帑直拨银两给火器司用于火器造制。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这倒不是朱慈烺空画大饼。他从贪污、谋逆文官、勋臣那里抄来的银两全部入了内帑，如今足有上千万两。这么多的银子仅仅供养神策军十年八年也花不完，拨一些给火器司造制高质量火器确是个不错的选择。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“陛下英明。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高弘图长长松了一口气。只要有了足额的银子什么都好说，不然他巧妇难为无米之炊，陛下便是把这担子压在他的肩上他也挑不起来啊<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;注1：大司空为工部尚书的雅称。
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>