<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第一百八十三章 祖可法的歹毒用心（第二更，求订阅，求月票！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第一百八十三章 祖可法的歹毒用心（第二更，求订阅，求月票！）
</div>
<div class="bookname">
	<h1>第一百八十三章 祖可法的歹毒用心（第二更，求订阅，求月票！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;还是说，高杰另有诡计？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;祖可法的心里一时有些没底，也不知道该如何是好。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张勇抱拳道：“总兵大人，任他几路来，我只一路守。兵来将挡水来土掩，末将就不信了，那高杰还能上天遁地不成？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;祖可法听了这番话下意识的点了点头。他实在太过紧张了，紧张到有些神话高杰。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这厮虽然曾经诨号翻山鹞，可却不是真的会飞。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他怕甚么？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;祖可法又恢复了往日的威严，沉声命令道：“全军务必上下一心。等击退了明贼，本将亲自为你们请功。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其实他只盼着能够拖到豫亲王大军赶来，而对击退明军不抱什么幻想。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对付穴攻最重要的就是派兵出城袭扰。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;此刻祖可法十分庆幸自己的英明决策。若是他之前下令把城门堵死了，是万万不可能做到这点的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过现在四座城门都可进出，要派出一股轻骑出城还是很容易的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;祖可法扫视了一番众将，沉声道：“谁愿领兵出城袭扰土丘？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;众人皆是默然不语。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;祖可法见状怒气直是腾的窜了起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他娘的，将到用时方恨少。你们一个个做缩头乌龟，难道要让老子亲自提兵上阵吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“张勇，这个任务便交给你吧！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;见无人响应，祖可法索性直接指派。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张勇被直接点到姓名，惊讶道：“总兵大人，末将想要跟在总兵大人身边杀敌啊！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;祖可法冷笑一声道：“这城头上的人够多了也不差你一个。若是能够摧毁土丘，封住地道口入口，你便立下大功一件，本将会亲自为你向朝廷请功。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;祖可法把话说到这个份上了，张勇若是再多说就是违抗军令了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他只能咬牙抱拳道：“末将遵命！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张勇气冲冲的走下马道，点齐五百轻骑，又命骑手带上封堵地道入口必备的沙袋，这才十分不情愿的来到南城城门。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;看守城门的士兵们都朝张勇投去钦佩的目光。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张将军真是吾辈楷模啊，出城袭扰等于把后背亮给明军。这种事情张将军竟然抢着做，可敬可敬！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张勇却不知道这些兵卒心中所想，被看的有些发毛，扯开嗓子骂道：“看你娘的蛋，老子脸上又没有长花，有甚好看的。快他娘的打开城门！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张勇毕竟是副将，在军中积威良久，一番痛骂后士兵们皆是吓了一跳。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们连忙将城门打开，闪开身子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如今南门外立有简易的营寨，故而不用太担心明军借机冲击城门。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;等到张勇率领五百轻骑出了城门进到营寨中，城中士兵才把城门重新关上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张勇回望了一眼城墙，心中直是五味杂陈。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他娘的，老子还没活够呢，这次一定不能死，老子一定要活着回来！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“大帅，您快看！祖可法那厮派出几百骑兵出城，冲土丘的方向去了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李成栋眼尖，一眼就看到了南城城门外的异动。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这些骑兵的目的很明确，就是杀向土丘去的。他们肯定是想用沙袋封堵住地道的入口，把地道里的明军活活闷死。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个祖可法看来很会应对嘛。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“嗯，你派一些骑兵前去策应。绝对不能让他们靠近地道入口。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;有过一次穴攻成功的经验，高杰自然想要再次尝试。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在他看来既然开封那么坚固的城墙都能被火药炸塌城墙，区区卫辉城墙自然也不在话下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然，其中的关键便是要把黑火药放在一口密封好的棺材里，且保证在放置棺材的位置正好在城墙下方。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这样只要做出一根引子接到地道外，再让士兵们退出地道，便可以引燃引子等待震天轰鸣声了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个过程用不了太多的时间。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;因为不需要挖太深太长的地道，往往用个两三天足矣。只需要能够把一口棺材运送到地道中，再塞到城墙下的空隙即可。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;比起通常意义上动辄十天半个月的地道挖掘，这时间可是节省了太多了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然，今日天擦亮的时候明军才抵达卫辉城外，挖掘了也就是半天的时间。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这么短的时间是不可能挖出一条满足要求的地道的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰必须保证地道中的士兵不会受到清军的干扰。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不然若是真叫清军填上地道入口把地下士兵活活闷死，那以后怕是没有人愿意去挖掘地道了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李成栋也明白这个道理，他双手抱拳道：“大帅放心，只要我李成栋在就绝对不会让鞑子靠近土丘一步！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;相比较于清军，高杰部明军的战斗力更强，故而李成栋有这个信心一举将来犯的清军骑兵击溃。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;土丘距离高杰中军的位置颇有一段距离。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李成栋领兵翻身上马后便朝土丘方向赶去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;与此同时，张勇率领的清军绿营骑兵也朝土丘方向靠近。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们虽然也有马骑，却是最劣等的马匹，远远比不了八旗军的坐骑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;故而即便他们先行一步，可来到土丘附近时李成栋也已经提前落位了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;骑兵对决，速度是最关键的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在没有速度的情况下往往只能兜圈子，不痛不痒的射几箭。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张勇被李成栋拦腰堵住直是尴尬极了，进也不是退也不是。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他却也不能这么掉头就走，只能咬牙质问道：“来者何人，爷爷我不斩无名之辈！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李成栋放声大笑道：“狂妄之徒，你这么急着去投胎本将军便送你一程！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说罢一摆手，明军骑兵纷纷抽出骑弓，弯弓搭箭。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“射！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李成栋一声令下，顿时箭如雨下，直朝清军而去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张勇骇了一跳，连忙高声道：“举盾！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;清军绿营兵们纷纷举出盾牌护住周身要害。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;骑弓命中的准确性不如步弓，那是因为基本骑弓都是在马匹高速奔跑的时候使用的，准星自然有所下降。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但要是士兵就骑在一动不动的马匹上弯弓搭箭，射出的羽箭精准度并不会比步弓射出的差多少。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;包括张勇在内的绿营兵都被这突然起来的一阵箭雨射的有些狼狈，只有招架之功毫无还手之力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李成栋趁机命令明军骑兵对绿营兵发起冲击
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>