<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第五十四章 众志成城</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第五十四章 众志成城
</div>
<div class="bookname">
	<h1>第五十四章 众志成城</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;（第二更送到，求推荐票！感谢书友大号被封用小号的1300币打赏~）<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“秦总戎，看这架势东虏是要攻北城和西城啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;北城城楼上，一身明光甲，头戴凤翅抹额盔的庆王朱帅钦忧心忡忡的说道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然他在德州起事时能够镇定自若。但那时德州城内空虚，他们要对付的不过是几个闯贼封的伪官及其亲信罢了。现在德州城外却有数千名东虏甲兵，还有万余名壮丁供其驱驰填河，形势十分严峻。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦拱明摆了摆手道：“就凭这点人，东虏也想攻城？简直是痴心妄想。庆王殿下放心，末将一定确保德州城不失。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱帅钦这才松了一口气，感慨道：“有秦总戎这句话，孤便放心了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“过不了多久东虏便会攻城了，城上危险，庆王殿下千金之躯不宜立于险境。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱帅钦闻言却是面色一板道：“秦总戎此言差矣。孤虽然不懂用兵却也知道士气的重要性。孤是大明亲王，有孤在城头鼓舞士气，将士们也会更用命杀敌吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦拱明微微一愣，实是没想到朱帅钦如此想。大明朝的亲藩大王一般都是生性怯懦的，能够主动站在城头鼓舞士气的实是少数。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过他细细一想倒也觉得可以理解。毕竟朱帅钦是庆藩远支，若不是号召缙绅各杀伪官拿下德州乃至山东，这个庆王之位怎么也落不到他的头上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;富贵险中求，这个朱帅钦确实有几分胆色。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦拱明对朱帅钦不由得高看了几分，微微颔首道：“既然如此，就请庆王殿下坐镇城头，看将士们杀敌报国！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“秦总戎放心，只要德州城不倒，孤便不会离开城楼一步！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦拱明直是热血上涌，抽出腰间佩刀高呼道：“将士们，现在到了杀敌报国的时候了。城墙下都是穷凶极恶的鞑子，他们在辽东残杀汉人，入关后一路烧杀劫掠。如今他们要打德州，打山东，把我们都变成奴才。辽东的汉人，畿辅的百姓，河南的父老，但凡在鞑子治下的都要剃发易服。身体发肤受之父母，岂可轻侮！将士们，我们不要做奴才，不要留那丑陋的辫子，不要做亡国奴！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“杀杀杀！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦拱明部大部分都是他一手带出来的淮安团练乡兵，整日被秦拱明灌输鞑子的残暴，对于清兵自然极为仇视。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;尤其是秦拱明手中那五百川军白杆兵，更是和清军八旗有着血海深仇。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦拱明的一番话说的慷慨激昂，已经彻底把他们的情绪调动起来，吼声震天。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;德州城中现有兵力为两万名团练乡兵，另有一千名原淮安巡抚标营，五百川军白杆兵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;由于清军主攻方向是北城和西城，秦拱明也做了针对性的调配布置。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;北城、西城分派七千乡兵驻守，东城、南城各留三千乡兵协防。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;另外，他亲率五百川军白杆兵坐镇北城居中调度。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一千名巡抚标营老兵由副将何荣统领在西城压阵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;德州城虽然是坚城，却并没有配备红夷大炮。不过城中倒是有六门佛郎机炮。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦拱明命人把这六门炮皆搬上了城头，城北城西各留三门以壮声势。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;见越来越多的壮丁被清兵驱赶前去填河，秦拱明命人在城头大喊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“父老乡亲们，咱们都是汉人，你们不要再为鞑子卖命了。有种的汉子便跟鞑子拼了，便是死也要拉一个鞑子垫背！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那些扛着沙袋前冲的壮丁却似没有听见。他们实在是被鞑子杀怕了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;鞑子们绝不容许他们逃跑，任何企图逃跑的人都会被立即砍死。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;往前冲还有一线生机，往后退却是必死，他们没有选择。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于他们是在帮鞑子填河攻城，打自己的同胞又如何呢？乱世人贱如狗，命运不都大抵是这样吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不是被流寇裹挟驱驰，就是被鞑子抓来做壮丁填壕，这其中又有什么分别呢？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦拱明见喊话无果，遂闭上了眼睛下令道：“开炮吧！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;无论如何不能让鞑子轻易的填平护城河，秦拱明若是对这些汉人壮丁同情便是对城头两万乡兵、城中数万父老的不负责任。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;罢了，既然这骂名注定要有人来背，那就由他秦拱明来背好了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;御史们要弹劾便由他们弹劾，言官们要骂娘就让他们骂娘。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;总之秦拱明绝不会在面对鞑子时表现出一丝一毫的犹豫软弱，他和这五百名川军白杆兵一样，和鞑子有着不共戴天的血海深仇！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;浑河血战，派驻前线的白杆兵尽没，如今到了他这秦家小辈挑大梁的时候了！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“开炮！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这六门炮每门长九尺，重六百斤，皆有五个子铳，里面已经提前装填好了铅子和弹药。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦拱明一声令下，六门佛郎机炮同时被引燃。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;轰鸣阵阵，一处子铳中的弹药发射完了，另一处子铳中的弹药立刻装入母铳发射，完全不必像红夷大炮那样发射完后还需要灌水冷却。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这还是秦拱明第一次亲眼见到佛郎机炮放炮，立时被这种后装填火炮吸引。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然这种小炮的威力不如红夷大炮那么大，但装填速度很快，又可以连续作战，战场上的效率极高。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而且佛郎机炮的重量比红夷大炮轻得多，不但可以用作守城还可以在野战中配备。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;冲在前面的壮丁还没反应过来便被铅弹射中，铅弹旋转着穿入他们的身体，穿透他们的脏腑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;起先他们只是感受到一些刺痛，随后变成撕心裂肺的的绞痛，痛苦的倒地哀嚎，过了没多久便咽了气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一些运气好的则直接被铅弹砸穿了脑袋，免受痛苦折磨。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但明军的佛朗机炮数量毕竟有限，还是有相当一部分壮丁扛着沙袋来到护城河边。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如此近的距离，佛朗机炮无法命中目标，秦拱明只得下令弓箭手齐射。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;壮丁们纷纷举起沙袋护住脑袋。但他们周身要害如此之多，仅仅护住脑袋怎么够。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;明军的雕翎箭对无甲的壮丁杀伤极高，一片箭雨撒下便有几十上百壮丁倒下。一些壮丁的尸体甚至直接跌入护城河中，和沙袋一起成了填河的一部分。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;城头上金鼓齐鸣，杀声震天。没有人注意到负责德州守卫战的总兵秦拱明已是双拳紧攥，眼眶通红
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>