<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第五十九章 天下棋局</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第五十九章 天下棋局
</div>
<div class="bookname">
	<h1>第五十九章 天下棋局</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;（ps：感谢书友柔之虎的500币打赏，感谢书友大号被封用小号、书友飘空游的200币打赏，感谢书友喜欢历史课、书友dik117712的100币打赏。求推荐票！）<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;南京，乾清宫。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺一口气看完从山东德州送来的捷报，心中直是畅快不已。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦拱明果然没有让他失望，不但守住了德州，还斩杀满洲正蓝旗甲兵六百七十三人，汉军镶红旗甲兵八百三十一人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这些首级秦拱明已经命人全部用石灰处理好，由一只军队押送运往南京。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;让朱慈烺兴奋的不仅仅是秦拱明打了一场胜仗，更是就此破除了八旗军战无不胜的神话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;自打萨尔浒之战后，明军在与八旗军的战斗中便是败多胜少。往往明军一听说八旗军来了就会一哄而散，全无战斗的欲望。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这种情况下，一场大捷绝对可以起到鼓舞人心的作用。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然，朱慈烺也知道此次秦拱明能阵斩这么多人是因为清廷方面的大意。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多尔衮一定认为，山东各府县兵力空虚，可不费吹灰之力收取之。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这种情况下多尔衮派去收取山东的兵力肯定不会太多，大概认为八旗兵所到一处，城中官员便会打开城门跪迎。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可当八旗兵马进抵德州时却发现城门紧闭，统帅自然会勃然大怒。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这种情况下，正常的统兵将领都会选择攻城，毕竟在他们得到的信息中德州就是一座空城。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦拱明正是利用了这一点，在清军攻城的时候予以猛烈攻击，消耗了不少八旗有生力量。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赏，这些有功将士一概要赏！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只待从德州运来的清军首级由兵部核验无误，朱慈烺就会降旨对德州将士们进行封赏。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦拱明已经官至总兵，只能在勋爵上想办法。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;与原本历史不同，此刻南明封爵尚未泛滥。像原本历史中的四镇都没有封爵。左良玉也只有一个崇祯封的宁南伯爵位，并未晋封侯爵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但这样一来就有一个问题，秦拱明封爵后，四镇以及左良玉会不会心生不满？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;黄德功、高杰还好说。这二人毕竟还是对大明忠心的，即便心中不满也不太可能兵变。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘泽清、刘良佐这二人首鼠两端，可现在被夹在凤阳府，除非降清也没有别的出路。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;最让朱慈烺担心的便是率兵镇守湖广的左良玉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;此人在崇祯朝的时候就很跋扈，到了崇祯末年已经是听封不听调，就连崇祯都指挥不动他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;甲申国变，北京城破，朝廷的威望又降了不少，左良玉更是无所忌惮。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这年头手中有兵才硬气。偏偏左良玉手中有大军二十余万，占据了大半个湖广，俨然当年的辽镇祖家。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这样一个军阀占据的还是鱼米之乡的湖广，粮食完全可以自给自足，自然不会把朝廷放在眼里。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如今的左良玉，与其说是大明的湖广总兵，不如说是个土皇帝。和当年的辽镇祖大寿很类似，左良玉既不投清也不受明朝节制，这种模式对他是最有利的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然，左良玉至少在面上还是明臣，如果朱慈烺给秦拱明封爵的行为刺激到了他，很可能这厮会立刻翻脸。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;要知道历史上左良玉可是做出过疯狂举动的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当时李自成被满清赶出关中，如丧家之犬般的逃到了湖广。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;左良玉哪里敢跟李自成硬碰硬，闻讯之后下令麾下将士把武昌洗掠一番，即顺江而下攻向南京。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;左良玉打出的旗号是清君侧，其实就是想要占据南京，要不是在途中病死，说不准真要和弘光朝廷拼个你死我活。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然，现在的局势要比历史上的好。至少山西还没有尽数落到满清的手中，山东也在大明的掌控中。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这种时候朱慈烺要做的就是稳住左良玉，就像他对郑芝龙做的那样。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;没有人比朱慈烺更清楚，左良玉最多只有十个月的寿命了。朱慈烺完全等得起，到时候左良玉一命呜呼，便是朝廷收编其部众的大好时机。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然，朱慈烺要利用这一段时间提前布局，拉拢左良玉的部下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;左良玉麾下虽然有二十余万人，但大部分都是独立成营。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如金声桓部。这种有实力的小军阀就是朱慈烺要着力拉拢的对象，只要对其许以厚利，未必不能分化其与左良玉的关系。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;是以朱慈烺决定令下一道密旨，派人送到湖广交给堵胤锡。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;堵胤锡可以算南明少有的能臣。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若不是被何腾蛟这个猪队友一坑再坑，湖广的局势也不会烂到不可收拾的地步。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;现在堵胤锡以湖广按察司副使职掌武昌兵备道事，与湖广巡抚何腾蛟一起节制左良玉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺当然不会把分化左良玉部众如此重要的任务交给何腾蛟，遍数湖广文臣，能够胜任的也只有堵胤锡了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对于堵胤锡，朱慈烺是寄予厚望的，希望他能够和文安之、路振飞一起撑起大明的朝堂。当然，路要一步步走，饭要一口一口吃。朱慈烺这次给堵胤锡下密旨，便是重用他的第一步。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一番深思熟虑之后，朱慈烺还是决定在给秦拱明封爵的同时亦给左良玉晋爵，一同封爵的还有高杰、黄德功、郑芝龙。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其中秦拱明封临沂伯，左良玉晋宁南侯，高杰封兴平伯，黄德功封靖南伯，郑芝龙封南安伯。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于刘泽清和刘良佐，朱慈烺并不打算封爵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在这个时空二刘没有定策之功，手中兵力亦有限，困驻凤阳一府，绝翻不起什么大浪来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;原本历史中二人降清是因为手中不但有兵，还有大块辖地。清兵南下之时二人献城献地，满清便不需要再花力气打了，自然对二人有优待。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但现在情况完全不同，二人手中虽然有一只直属军队，却无法把凤阳府献出去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;毕竟清廷连北方都没有统一，根本没有精力去图谋南方。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这种时候凤阳府对于清廷来说就是一块飞地，即便拿下来也守不住，没有任何用处。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;二刘如果没有献城献地的筹码，单纯的率部降清，获得的待遇势必很差，还会被驱驰作先锋去攻城掠地。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;与之相比，二刘自然是继续站在明廷的旗帜下划算。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如今局势是牵一发而动全身，朱慈烺必须小心谨慎的走好每一步，一子得失都可能影响到整盘棋局
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>