<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第一百二十九章 杀个痛快（第二更，求订阅，求月票！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第一百二十九章 杀个痛快（第二更，求订阅，求月票！）
</div>
<div class="bookname">
	<h1>第一百二十九章 杀个痛快（第二更，求订阅，求月票！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;杀杀杀！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王富贵如同毒蛇吐信般将手中的长枪向外刺去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;每刺一枪便能轻取一条叛军士兵的性命。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这些叛军士兵虽然匆匆从营帐中跑出，但根本来不及穿戴甲胄。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王富贵的枪法在神策军中出了名的好，对这些无甲叛兵来说，这个凶神恶煞的莽汉简直就是噩梦。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;越来越多的叛军士兵慌慌张张的从营帐中跑出，在各级将领的呼喊声中勉强结阵准备迎敌。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;步兵营的推进速度确实不如骑兵营，若这次夜袭的是两千骑兵，二刘叛军恐怕都已经葬身火海了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不打不知道，一打吓一跳。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈复原本还对刘泽清、刘良佐部叛军有所忌惮，认为夜袭敌营是个十分凶险搏命的举动。但现在看来他实在高估了刘泽清、刘良佐部的实力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这只军队是一只彻头彻尾的乌合之众！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;早知叛军如此不堪，几日前就该发动夜袭。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈复心中隐隐有些后悔，不过更多的是临阵杀敌的兴奋。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;神策军自设立以来，第一次经历真正意义上的野战。而完成这第一次的不是最先设立组建的玄武、神武、骁果、天骑四营，而是刚刚组建不足两个月的勇武营！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;此战过后，勇武营在神策军中的地位必定会大大提升！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;此时火势已经越燃越大，还没来得及从营帐中逃出的叛兵都被活活烧死，那些侥幸逃出的也多是衣衫不整，狼狈不堪。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在陈复的命令下，勇武营的将士结成锥形阵向刘泽清、刘良佐叛军大营的腹心推进，呈势如破竹之势。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那些被叛军将领集结起来的士兵根本无力招架，勇武营的将士一杀到眼前就作鸟兽散。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈复的目的很明确，那就是趁乱直捣黄龙，杀向叛军中军大帐。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;射人先射马，擒贼先擒王。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;叛军虽说是一群乌合之众，但毕竟人数众多，若是等刘泽清、刘良佐反应过来，调兵遣将包围勇武营，形势还真不好说。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈复必须击溃刘泽清、刘良佐的中军，这样就可以让叛军一举溃散。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;大营之中发生了这么大的动静，刘泽清和刘良佐自然也有所察觉。二人罩上外衫，匆匆走出帐外观察情势。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘泽清定睛一瞧，只见一只黑甲军如蛟龙入海般朝中军杀来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哎呀，老哥哥，想不到那城中守将竟然敢出城野战。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘泽清虽然不算什么名将，但这么多年混下来也算是见了不少世面。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;像勇武营这种不要命的还真是少见。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“泽清老弟莫慌，我倒要看看，他们能嚣张到几时。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘良佐大手一挥，沉声命令道：“亲兵营，上！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一声令下，一千人左右的营兵立刻从中军帐前集结向勇武营冲杀而去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一千人是刘良佐的亲兵，也是他军队中最能打的部分。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘良佐把这一千人拿出来，意味着局势已经到了十分紧张的地步。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“泽清老弟，你也别藏着掖着了，打退了这些王八羔子，咱们一起喝酒庆祝！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘泽清闻言老脸一红，连连点头道：“老哥哥说的是。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘泽清的亲兵比刘良佐少，只有八百人，但也都是甲胄精良，训练有素。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在他的命令下，这八百亲兵也投入了战局。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一千八百人列成整齐的阵仗朝勇武营杀去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈复第一时间发现了这只突然出现的军队。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;从对方的兵器、甲胄配备上他也能猜出这些兵的实力不一般。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然神策军编制中没有亲兵的存在，但其他军阀手中或多或少都有亲兵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈复心道这些应该就是刘泽清、刘良佐的亲兵了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;今晚的夜袭虽然大获成功，但陈复知道真正的考验才刚刚开始。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;要想把这只叛军彻底击溃，就必须要灭掉实力最强劲的亲兵营。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两军相逢勇者胜，肉搏战从来拼的就是一口气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“破阵！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈复怒吼一声，原本就已经呈锥子形状的勇武营收的更紧了，这个阵型是专门对付拱形阵的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;见对方摆出拱形阵，陈复就知道叛军的目的是先延缓勇武营的推进速度，继而将勇武营切成一段段，使其首尾不得兼顾。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这种时候最好的办法就是加快推进速度，将“矛头”攒的更尖锐。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;合围需要时间，勇武营根本不会给叛军这个时间！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;包括勇武营在内的所有神策军步兵营，士兵们练习最多的就是阵法。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;故而士兵们可以根据将领的要求随时变换阵型，而不会出现阵型混乱的情况。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘泽清、刘良佐的亲兵们都看傻了眼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这帮愣头青简直什么都不懂啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;面对拱形阵不但不减速还主动提速，这是嫌死的不够快吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们一手提盾一手握刀，严阵以待。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;五十步、三十步、二十步<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;面对汹涌而来的勇武营，没有一名亲兵后退。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;从他们被提拔为亲兵的那一刻起，就已经把命卖给刘泽清、刘良佐了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘良佐、刘泽清是明朝的将军，他们就是明朝的兵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘良佐、刘泽清如果投降清廷，他们也会毫不犹豫地剃发归降。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;哪怕是刘良佐、刘泽清要随便找个山头落草为寇做起山大王，他们也会舍命追随。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一荣俱荣，一损俱损！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“杀贼啊！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王富贵冲在阵中最前，充当“矛头”的角色。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在短兵相接的那一刻，他发出一声歇斯底里的咆哮。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一刻浑身力气倾注汇聚在两处小臂上，手中的长枪猛地向前刺去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但听噗的一声闷响，木制盾牌被生生刺穿，枪头在穿透盾牌后并没有停下来，而是继续向前刺去，破开了棉甲。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一名刘良佐的亲兵难以置信的盯着王富贵，双手死死攥着枪杆想要把它拔出来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王富贵冷笑一声，一脚踹向那叛兵胸口把他踢飞，继续向前冲杀。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两翼的火铳手也开始发难。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;有长枪手保护，他们可以从容的完成射击动作。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在砰砰的声响中，越来越多的叛兵倒了下去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;铅弹可以轻松的穿透他们的棉甲，在他们肌肉中回旋搅动。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一些没有被击中要害的叛兵也因为剧痛倒在地上痛苦的哀嚎翻滚，丧失了战斗能力
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>