<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第二百九十四章 登莱明军的动向（第三更！为书友神の豆腐加更！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第二百九十四章 登莱明军的动向（第三更！为书友神の豆腐加更！）
</div>
<div class="bookname">
	<h1>第二百九十四章 登莱明军的动向（第三更！为书友神の豆腐加更！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;多铎有些进退两难。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;仗打到这个份上了，撤军显然是不现实的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可德州就像一块难啃的骨头，不论他派出多少人猛攻就是夺不下来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;自打入关以来多铎一路顺风顺水，何时遇到过如此窘境。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这支明军，似乎很有韧性啊<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;红衣大炮确实发挥了重要作用，一度把德州城头的垛口轰平，可就是难以再进一步。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多铎看在眼里，急在心中。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多铎曾经尝试过围城，但效果并不好。一来明军防守的很严密，并没有留下太明显的破绽。清军若是围城反而会把自己的兵力摊薄，有些得不偿失。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;再者，德州是大城，城中的粮草储备也很充足，一时半会不会闹粮荒。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;清军若是执着于围城很可能把自己给先饿死了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;越拖下去对清军越不利啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多铎思量再三还是下令集中力量对北城城门猛攻。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;现在双方都是差那一口气，就看谁先撑不住了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多铎命令觉罗巴哈纳为先锋，正蓝旗的甲兵在冲车的掩护下来到城下搭起云梯开始攻城。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但城头的明军准备充足，将大量的滚木礌石砸下，对清军造成了相当大的杀伤。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;觉罗巴哈纳虽然十分肉疼却不能下令撤退。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;豫亲王明显是不信任他呐。这种时候他若是再违拗军令下场可想而知。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;觉罗巴哈纳可不想稀里糊涂的被砍了脑袋，只得硬着头皮攻城。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;渐渐的有正蓝旗甲兵攀到了城头，但还没在城头站稳便被蜂拥而至的明军士兵砍翻下去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;清军士兵尝试了好几次都无法在城头站稳脚跟，一次又一次的被杀退士气十分萎靡。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;便在这时北城城头突然出现了一尊金灿灿的铜像，在烈日照耀下分外显眼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;便有明军士兵高呼道：“酋首勒克德浑在此！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;紧接着一众明军士兵纷纷高声齐呼，声音震天。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多铎自然也听到了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只是站在他这个位置最多只能看到一尊铜像，根本看不清楚细节。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;明狗是什么意思？这一定是有什么阴谋！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“勒克德浑被铸成了铜像，尔等若不速速放下兵器投降也是这等下场！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;又是一阵齐呼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多铎这下彻底被激怒了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;妖言惑众，这一定是妖言惑众！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;明狗想靠这种低劣的伎俩扰乱我军军心，真是太天真了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“全力攻城，待拿下德州本王定要把城中屠个片甲不留。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;小月岛。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一众海寇围坐一团，刘有亮急切的问道：“怎么样，老三，如今山东战况如何？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吴二胡子嘿嘿一笑道：“大当家，你算是问对人了。这天上地下还没有我吴二胡子弄不清楚的事情。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘有亮催促道：“那到底是个什么情况？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吴二胡子翘着二郎腿十分得瑟的抖了抖道：“嘿嘿，大当家你猜怎么着，登莱的军队都被尽数调走了，现如今登莱是兵力空虚啦。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘有亮眼前一亮。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“真是如此？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“千真万确呐，如今登州便是一个空壳子。若是大清派水师来攻，轻而易举就能将其拿下。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一直默不作声的郑保却是冷哼一声道：“愚蠢。现在大清和明军在山东激战，怎么可能再派出一支水师来登莱。再说，即便真的能拨出一支水师，你肯定就能打下登州水城？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;登州不同于一般城池，除了主城之外还在外围嵌有一水城。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个水城从外侧是很难攻破的，但从内城却是相对容易攻打。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以当年孔有德发动登州之乱时能够在夺取内城的情况下顺势拿下水城。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但若是由水师从外围攻打却是难如登天，只要守军把水门一闭，基本上是打不进去的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“二哥你这是什么意思。凡事不试试怎么知道行不行？再说了，你别忘了咱的身份，大清朝廷要咱们做的不就是监视明军的动向吗？有了发现咱要是瞒着不报，将来追究下来你能承担的起责任吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“吴二胡子，你怎么跟老子说话呢！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郑保早就看吴二胡子不顺眼，见他阴阳怪气一通乱呛，胸中憋着的一团火气登时就窜了出来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘有亮见二人就要掐起来，赶忙站出来和稀泥。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哎呀，老二，老三你们两个都少说两句。都是自家兄弟，那么大的火气作甚？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;作为老好人，刘有亮决定对郑保和吴二胡子各打五十大板。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我看呐，老二、老三说的都有道理。咱们既然上了清廷这艘大船，自然应该尽到自己的责任。有了情报如实禀报，至于清廷选择怎么做那是清廷的事情，与我们就不相干啦。不过呢，咱们也得留点心眼，不能把咱自己装进去了”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吴二胡子嘿嘿一笑道：“大当家，我倒是没啥，就怕二哥心里起疙瘩。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘有亮遂转向郑保道：“老二，你说句话。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郑保十分不情愿的说道：“我都听大哥的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘有亮微微眯着眼睛，嘿嘿笑道：“那这件事我就做主了。老三呐你便辛苦一趟，速速乘船去一趟大沽口把登莱守军尽数调走的消息报上去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吴二胡子对这件事十分上心，当即拍着胸脯应道：“大哥你就放心好了，咱做事就一个字，稳！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说罢他斜睨了郑保一眼，起身扬长而去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;吴二胡子离开之后，郑保再也忍不住了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他双手一摊冲刘有亮抱怨道：“大哥你瞧瞧，这老三眼里还有我这个二哥吗？这么无法无天目空一切，要不我这个二当家干脆让给他好了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘有亮打了个哈哈道：“老二啊，你又不是第一天跟老三相处了，他那个臭脾气你又不是不知道，就忍一忍吧。再说老三也是为了咱好啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“大哥，若他仅仅是针对我也就罢了。我看他不满足于此啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郑保顿了一顿道：“大哥你还是留一个心眼的好，别到时候咱兄弟都被这小子给算计了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘有亮沉吟了片刻道：“你说的我记下了，正所谓害人之心不可有，防人之心不可无嘛。不过面上你还是得过得去嘛，毕竟都是一家弟兄。”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>