<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第二百八十七章 好奴才啊！（第三更，月票六百票加更！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第二百八十七章 好奴才啊！（第三更，月票六百票加更！）
</div>
<div class="bookname">
	<h1>第二百八十七章 好奴才啊！（第三更，月票六百票加更！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;战局很焦灼，但总体来说是按照高杰的部署在发展。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;八旗汉军与左右蒙古两翼的联系被切断，使得他们各自为战。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但即便是八旗汉军战斗力也是很强悍的。明军在拼杀的过程中逐渐出现了伤亡，不过没有人抱怨，将士们皆是轻伤不下火线。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;勒克德浑渐渐察觉出了问题。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;好奇怪，怎么不见蒙八旗的人？ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;更让他感到惊怒的是身边的汉八旗士兵越来越少，而明军士兵越来越多。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;好在他身边还有不少忠心耿耿的护卫，他们将勒克德浑拱卫在正中，企图杀出重围。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但这谈何容易。周围全是明军，砍伤一人便有其他人顶上来，而勒克德浑的护卫一共只有百十来人，在搏斗的过程中渐渐力有不支。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“为了大清，杀明狗啊！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;勒克德浑知道此时已经到了生死攸关的时刻，高声疾呼鼓舞士气。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他拔刀出鞘，高高举过头顶企图靠激励士气挽回局面。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但这一举动立刻就遭到了回应。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一只箭矢飞射而至，直接将他的头盔射翻，露出了勒克德浑光秃秃的前额。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;勒克德浑还以为这一箭直接射穿了他的脑袋，却是惊呼出声。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;待过了片刻发现并无疼痛传来，他才明白原来只是头盔被射掉了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;勒克德浑欲哭无泪。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;石廷柱，都怪石廷柱。若不是这个奴才一再怂恿他，他怎么可能会命大军回援。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;明军明显是已经设下圈套，等着他自己往里跳啊！ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个狗奴才，现在人在哪里？ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;勒克德浑环顾四周，发现到处都是黑压压的人头，又去哪里寻石廷柱呢。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;难道天要亡我吗？ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;勒克德浑心中悲愤道。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;石廷柱此刻内心是绝望的。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;事情的进展和他的设想很不一样。八旗骑兵并没有体现出对明军步兵的碾压式优势，相反有一种陷入泥沼的感觉。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;明明浑身是劲但就是使不出来，那种憋屈的感觉别提有多难受了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;怎么会这样？ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然汉八旗并不是清军中实力最强的存在，但怎么也不是明军这些土鸡瓦狗可比的啊。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这究竟是怎么一回事？ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;更让石廷柱感到绝望的是，现在他根本看不到帅旗！ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果能够看到帅旗他还能拼死率领部下朝其靠拢突围，可现在他们就是两眼一抹黑的瞎子，根本不知道该往哪个方向冲。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这在战场上恐怕是最悲剧的事情了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;罢了罢了，既然如此那就奋力拼杀好了，即便是死也要多拉几个明狗垫背！ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“大帅，鞑子已经彻底被我们分割开了。现在他们各自为战，要不了多久就会被尽数消灭。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;远处的高岗上，李成栋兴奋的攥紧拳头说道。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰微微颔首十分满意道：“你这次做的不错，不过本帅还有一个要求，一定要生擒勒克德浑！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李成栋并不笨，他当即明白了高杰的用意。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;大帅这是想生擒勒克德浑，给陛下献功啊。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;大明朝的武将打了胜仗都会刻意将一些俘虏压去京师，献俘阙下。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如此一来可以彰显天子浩浩威严。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而现在天子就在临清，故而连献俘阙下都免了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰如果能够把勒克德浑俘虏献给天子，这绝对是成全了天子的面子啊。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰的功劳，明军的功劳就是天子的功劳。若是没有天子御驾亲征，亲临临清鼓舞士气，明军又怎会获此大胜，生擒勒克德浑呢？ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这都是天子，都是陛下的功劳啊！ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然李成栋觉得高杰这个马屁拍的有些太过露骨，有些厚脸皮，但若是自己坐在高杰那个位置也同样会这么做。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;做臣子的一定要学会忖度上意，为君分忧。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这是比杀敌打胜仗还重要的事情。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“末将得令！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李成栋紧抱双拳，毅然说道。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“贝勒爷，还请您脱下甲胄，换上奴才的这身衣裳。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一名满洲亲兵冲勒克德浑急声劝道。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;勒克德浑当然明白他的意思。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;现在局势对清军越来越不利，很可能整支军队就要被明军吞掉。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然勒克德浑很不情愿，但不得不承认这场仗他是败了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;现在最好的情况便是他突围成功，可穿着着一身银甲实在是太过显眼，必定会吸引明军围攻。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;好奴才啊！真会替主子分忧着想。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;勒克德浑感慨了一番，二话不说就把银甲脱了下来。随后他换上了满洲亲兵的锁子甲。这甲胄虽然不算鲜亮，但很干净，何况这种时候也没啥可挑剔的。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那奴才则把勒克德浑的银甲披在了身上，举刀高呼道：“大清的勇士们，随本贝勒杀明狗啊！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而勒克德浑趁着这个机会往相反的方向突围。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;李成栋见一身着银甲的人在一众鞑子的护卫下冲杀，心道这人便该是勒克德浑了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他心中大喜，点了五百亲兵便朝那个方向杀去。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只是在小岗之上看的清楚，到了平地里就有些晕头转向了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;要不是那身银甲太过显眼，他还真不一定能够分辨清楚。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“大帅有令生擒勒克德浑，抓住那个身着银甲的鞑子，赏银一千两！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一千两银子，这可是一千两银子啊！ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;即便现在银子已经不如万历初年时值钱了，可那也是银子啊。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;换个角度说，大明的军功是斩首一级真虏五十两银子，一千两银子便相当于斩首二十个真鞑的奖赏。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然生擒的难度也会相应大不少，因为对方不是木桩子稻草人，不会站在那里让你捆绑。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过重赏之下必有勇夫。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这些李成栋的亲兵平日里很少有捞钱的机会，自然不肯错过良机。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们双腿紧紧夹着马腹，一抽马鞭朝那银甲鞑子狂奔而去。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“生擒勒克德浑！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“生擒勒克德浑！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而那满洲奴才显然也注意到了这些朝他冲来的明军骑兵。太好了，他们一定是认为自己就是勒克德浑，这才会气势汹汹的杀将过来。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;看来他假扮勒克德浑的计策成功了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他如释重负的吐出一口气，心道贝勒爷，奴才为您做最后一件事。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“都随本贝勒来，将明狗杀个干净！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“杀，杀，杀！”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>