<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第三百一十七章 反抗（第一更！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第三百一十七章 反抗（第一更！）
</div>
<div class="bookname">
	<h1>第三百一十七章 反抗（第一更！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;一艘艘大型福船相继停靠在了天津卫的海港之中。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;早已准备好的脚夫、力棒一拥而上准备卸货。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;负责监督的绿营兵们纷纷把手按在刀柄上，显得十分紧张。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们早就得到消息会有大量海船运送粮食到天津，只是却没有想到会有这么多艘。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;几十艘大福船一字排开，将本就不大的月牙形港口占的满满当当。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;看这架势郑芝龙真是诚意满满啊，有这几十艘船的粮食，北直隶的清军便解了燃眉之急。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不然断了粮饿死人不说，军队随时可能哗变，那就一发不可收拾了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而且俗话说得好，有一有二便有三。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;既然郑芝龙已经和大清眉来眼去搭上了线，之后的合作便容易许多了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然郑芝龙也不是白白运送粮食来帮助清廷的，他以高于市价三倍的价格把粮食卖给清廷，虽不说赚的盆满钵满多少也能赚些。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;事实上郑芝龙更多的是想向清廷表达一个友善的信号。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这样将来清廷若真是夺了天下，郑芝龙也能捞得富贵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然，让郑芝龙直接叛明他是做不到的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;现在局势不明，大清和大明谁都可能夺得天下，不到最后一刻郑芝龙是不会明确表态的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;骑墙便是郑芝龙的生存之道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对此清廷方面虽然心知肚明，却也是无可奈何，谁叫郑家有一支无敌于天下的水师呢？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这种时候清廷只能对郑芝龙多加拉拢。即便郑芝龙提出许多不合理的要求也只能捏着鼻子认了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;清廷上下都对这次与郑芝龙的合作很重视，摄政王多尔衮更是命博洛到天津亲自负责粮食接收一事。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;博洛为了办好差事也是小心翼翼，不仅带来一些旗兵壮势，还将天津所有的绿营兵都集中到了港口负责监督搬运粮食的脚夫力棒。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这可是一批救命粮啊，绝对不容有失！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这些脚夫力棒都是最底层的贱民，看到如此多的粮食难免会动一些歪门心思。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;绿营兵就是用来监视他们的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若是有人敢偷粮抢粮甚至起哄闹事，绿营兵就会毫不犹豫的上前将他们斩杀。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而旗兵则是用来监视绿营兵的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这些绿营兵虽然投靠了清廷，但毕竟都是汉人，不可轻信。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;非我族类，其心必异。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这是汉人非常喜欢说的一句话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;细细想一想还是很有道理的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;摄政王多尔衮虽然在朝中重用了一些汉人臣子、将领，但并不是对汉人真正放心的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;博洛这次离京前，多尔衮就把他叫到身边语重心长的嘱咐他一定要小心地方绿营兵，防止他们聚众闹事。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;博洛对此深以为然。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;真满洲勇士自然不是低等下贱的汉民能够比拟的，汉人士兵只配被驱作马前卒填壕、做炮灰。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然一些具体的杂务还是得由绿营兵去做的，旗兵只要负责监督即可。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若是事事都要旗兵亲力亲为还不得累死了？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;却说力棒脚夫们扛起一包包几十斤重的麻袋，步履蹒跚的挪动着步子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们大多瘦骨嶙峋，长年挨饿使得他们的身材比例有些失调。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一名三十来岁的脚夫走的稍慢了一些，一个绿营兵便兜头甩下了一鞭子：“你他娘的磨蹭什么，没吃饭吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那脚夫痛呼一声，艰难的扭过头来辩解道：“军爷，我真的没吃饭。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那绿营兵先是一愣，随即恼怒道：“能干就干，不能干就滚蛋。别他娘的在这儿丢人现眼。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说罢又是抽了一鞭子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他运用的力道十足，那脚夫背上登时出现两道血口子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“军爷别抽，我走快些，我这便走快一些。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那脚夫拼命加快步子，想要逃离绿营兵的挥鞭范围，却不慎绊到一块大石头上，摔了个狗啃泥。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;装满粮食的麻袋自然也甩了出去，口袋被划破，白灿灿的大米倾泻而出撒了一地。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;附近的脚夫、力棒纷纷停下了脚步朝这边望来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;沉默，死一般的沉默。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们中的绝大部分人都不知道自己背的是什么。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但从肩上的质感来说也能猜出个七七八八。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可当真的亲眼证实这一切后，那种带给内心的冲击是难以平复的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“大米，是大米！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不知是谁先喊了一句，整群人跟着沸腾了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们是最底层的人群，平日里靠着出卖力气混口饭吃。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;有活的时候便有饭吃，没活的时候就只能饿着。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可不管有活儿还是没活儿的时候他们都没见过如此多的大米啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;人性中最原始的东西在此刻迸发了出来，一名力棒扛着粮袋率先朝绿营兵冲去，紧接着许多力棒、脚夫跟了上去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“弟兄们跟他们拼了，抢了粮食咱们自己吃！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;积压已久的愤懑在此刻彻底爆发，驯顺如绵羊的力棒、脚夫不顾一切的冲击着绿营兵的封锁。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“反了，反了，都他娘的反了！杀光他们，杀光他们！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;博洛简直不敢相信自己的眼睛。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这些狗才是要造反吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;弹压！必须狠狠的弹压！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;此例若是一开，以后大清朝廷的威望荡然无存！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;绿营兵们接到命令自然不敢违拗。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们纷纷拔刀出鞘，毫不留情的向朝他们冲来的力棒、脚夫砍去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;没错，这些人都是他们的同胞，都是汉人。但那又如何！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;要想在这乱世活下去，就得变得比别人更狠更无情！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;杀杀杀！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一刀刀劈砍而下，许多力棒脚夫惨呼一声便倒在地上，鲜血流了一地，把散落的大米染成了殷红色。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但是更多的力棒脚夫从他们的尸体旁冲过，带着一腔怒火抡起麻袋朝绿营兵们砸去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;此刻他们手中的粮袋已经不再是可供一家老小活命的救命稻草，而是他们奋起反抗的兵刃。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“狗日的二鞑子，就知道欺负自己人，老子跟你拼了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一名力棒将麻袋刚刚举起借着力道迅疾的朝近前一名绿营兵砸去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那绿营兵下意识的抬刀去挡，可一柄单刀如何能挡得住几十斤麻袋砸下的力道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;手中刀刃瞬间被砸飞，紧接着麻袋顺势砸在了那绿营兵的脸上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“别打脸啊！”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>