<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第一百八十二章 缩头乌龟祖可法（第一更，求订阅，求月票！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第一百八十二章 缩头乌龟祖可法（第一更，求订阅，求月票！）
</div>
<div class="bookname">
	<h1>第一百八十二章 缩头乌龟祖可法（第一更，求订阅，求月票！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;这几日祖可法见高杰方面明军没了动静以为他的离间计起到了效果，心中直是窃喜不已。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;拖，只要他继续拖下去，总能拖到豫亲王大军回援。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;到了那时便是十个高杰也不怕了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那厮已经是秋后的蚂蚱，蹦跶不了几天了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可谁知他高兴了没多久就得到消息，原本按兵不动的高杰突然向卫辉府方向急行军。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;按照这个速度，最快明日一早就能兵临城下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;祖可法顿时大惊，急的就似热锅上的蚂蚁，不停的在总兵衙门里打转。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一众将领也是人人自危。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“总兵大人，撤吧，趁高杰还没杀来，我们先走一步！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是啊总兵大人，这种时候您可千万不能犹豫啊！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;祖可法面色阴沉，不发一言。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;河南的这些绿营军军将也太没种了，遇到问题除了跑就不知道别的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若是在几日前他跑也就跑了，可现在眼瞅着豫亲王的大军就要回到河南了，在这个节骨眼上跑不是给自己找不痛快吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这些绿营将领的心思祖可法很清楚，无非是把责任都推到他身上。反正天塌下来有个高的顶着，怎么也不会砸到这些副将、参将、游击身上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“够了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;祖可法厉呵一声，冷冷扫视了一番众人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“收起你们的那点小心思，以为本总兵好哄骗吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;众人皆是默然，低垂下头，眼观鼻鼻观心。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哼，本总兵已经决定，卫辉府一定要守。最多十日，豫亲王的大军就能回到河南，难道你们连守住十日的信心都没有吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;祖可法说这话时十分自信，可实际上他心里也没有底。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只盼着豫亲王能够早点回到河南，这样他也可以少撑一两日。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;众人没想到祖可法竟然决定坚守城池，但命令既已下达他们也不好多说什么，只得纷纷抱拳领命。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;祖可法毕竟是祖大寿的义子，身份高人一等，故而卫辉府的绿营兵在兵器甲胄配备上也明显好出不少。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;祖可法又下令对士兵们奖赏一番，以激励他们为即将到来的大战做好准备。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;祖可法已经打定主意，别管高杰捣鼓出什么幺蛾子，他要做的就是做缩头乌龟。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只要不是脑子发热主动出击，怎么也不可能败的像金玉和那么快。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;直到现在祖可法也不认为明军是在绿营军固守开封的情况下破城的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卫辉府远不如开封大，这样一来有个好处，两三万的兵马摊到每处城墙上不会显得单薄，足够守城。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;祖可法不是什么绝世名将，但经历的大阵仗也着实不少。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;俗话说的好，没吃过猪肉还没见过猪跑吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;正常情况下有经验的守城将领不会把城门堵死，而是会在城门外背靠城门设下营寨，这样便可以攻守自如。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;祖可法也是这样做的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他命人提前到四处城门外设下营寨，不论明军从哪个方向袭来他都可以第一时间做出反应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;攻守之势是在随时变化的，单纯靠守是守不住的，必要的时候必须攻出去才能够缓解压力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于加固城门、扒除紧邻城墙民宅这样的简单的事情祖可法更不会忘记，在把一切处理妥当后祖可法稍稍心安了一些。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;大战前一定要休息好。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;夜深人静时，祖可法特地将一双侍妾叫到屋中侍寝。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;祖可法虽年岁渐涨，但在床底事上却仍是龙精虎猛，一夜御二女丝毫没有问题。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他折腾了大半夜，直到夜深人静的时候才泄了力气倒头呼呼大睡。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;翌日日上三竿时，祖可法迷迷糊糊的睁开眼睛。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;见身边两具白花花的身子，祖可法嘴角勾起一抹笑容。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;昨晚可真是带劲啊，这两个浪蹄子花样真是多，差点把他掏空了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;妙不可言，妙不可言！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只是他无法沉浸在这喜悦中太久，因为他必须赶到城头去视察。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;万一高贼已经兵临城下，他这个卫辉总兵却不在那可要出大乱子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;祖可法匆匆忙忙套上衣裤，穿戴整齐，蹬了靴子便往出走。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;总兵府的前衙和后院离得并不远，中间只是隔了一方假山，一面垂花门。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;祖可法迈着方步走到前衙，见衙门里一个人也没有，胸中不由得腾起一股怒火来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这帮蠢物都跑到哪里去了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;见祖可法发怒，管家连忙道：“老爷，诸位将军都去城头督战了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;祖可法双目圆瞪道：“你说什么，他们都去城头督战了？明贼已经来了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是啊老爷，听说天刚一亮明贼便到了城外，只不过一直没有攻城。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“怎么不早点叫醒我！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;祖可法就像一头发狂的狮子冲管家咆哮着。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;管家心道您睡得跟头死猪一样便是叫也叫不醒啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;面上却是连忙道：“都是小的不好，老爷息怒。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;祖可法一把将管家推开道：“闪开，要是贻误了军机，老子要你的脑袋！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说罢气冲冲的离开衙门，朝南城城墙而去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;祖可法急于登上城头，也顾不得什么威仪，一路小跑出了一身的臭汗。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;等到他来到南城城墙下时已经浑身湿透，就跟刚刚从水里捞出来一样。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;祖可法抹了一把额头的汗水，双手叉腰缓了一缓，这便又拔步朝马道走去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;卫辉城的马道很窄，现在又不时有民夫往上搬运守城器械，更显得空间局促。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;祖可法以最快的速度登上城头，在亲兵的簇拥下走到城楼处。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;见总兵大人来了，一众绿营将领纷纷前来行礼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;祖可法现在哪里还有这等闲心情，不耐烦的摆了摆手问道：“现在的情况怎么样了，明贼可已准备攻城？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“启禀总兵大人，明贼自卯时前后抵达城外后便开始挖掘地道，似乎是想要穴攻。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;副将张勇双手抱拳道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“穴攻？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;祖可法听得一愣。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这高杰也算是久经战阵的老将了，怎么会犯这种低级的错误。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;穴攻一共就有两种方式，不管是挖塌城基还是挖穿地道，没有个半个月以上是很难成功的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰现在不抢攻，难道是想等八旗大军来了再攻打卫辉城吗？
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>