<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第二十一章 军校开学</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第二十一章 军校开学
</div>
<div class="bookname">
	<h1>第二十一章 军校开学</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;五月初九，南京国子监。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;今日一早这座大明朝最高等学府前便香车宝马争驰于路，热闹非凡。但热闹却不是因为其本身，而是皇明军校的创立。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;作为皇帝陛下钦点的官办学校，皇明军校的定位很明确，那就是为大明培养军官。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;天子亲自交办的事情办事的人自然十分用心。不过这皇明军校的选址却是一件难事。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;工部尚书高弘图觉得重新修建一座官学耗费甚巨，建议天子在现有官学的基础上进行翻修。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺也觉得如今形势严峻，每一分钱都要省着花，便同意了高弘图的建议。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高尚书拟定的选址共有两处，一处是南京武学，一处是南京国子监。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这两处都是大明朝廷的官办学校，改造起来也容易一些。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;从类型上说南京武学更贴近于军校，但朱慈烺最终还是选择对南京国子监进行改造。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;因为南京武学的规模实在太小了，没有多余的屋舍用来改造。如果要重新征辟用地的话，就和新建一座官学没有两样了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;再者两处官学虽然都位于南京中城，具体位置却差的有些远。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;南京武学位于三元巷以南，跑马巷以东，距离应天府衙不远。而南京国子监的位置则更靠北一些，位于四牌楼以北，成贤街以西占地足有一坊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果要找个参照物进行定位的话，南京国子监距离玄武湖极近，就在著名的金陵四十八景之一的北湖烟柳正南。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;南京国子监实在是太大了，且大部分的号舍都空置未用，征辟改造起来十分轻松。朱慈烺之所以选择这里还有一个重要的原因，那就是国子监以东有府军右衙。如今五军都督府虽然废止，但其遗留下来的园区却可以加以利用，供皇明军校的学生列阵实操。最合适的地方便是府军右衙的小校场。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;唯一的问题是南京国子监的监生们对此反应强烈。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;文人和武人是天然敌视的两个群体，大明朝尤甚。在读书人眼中，武夫都是一群头脑发达四肢简单的丘八莽夫，而如今皇帝陛下竟然为了修建什么皇明军校，要征辟一部分国子监的号舍。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然这部分号舍都是空闲用不到的，可这些监生还是觉得十分不快。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在他们看来，自己用不上的荒在那里也无所谓，但要让给武人们建造军校，却是绝不能忍受的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;故而这个方案最终确定下来后，国子监监生们一度聚集到正阳门前请愿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这也是文人表达自己看法的杀手锏。不管是文官还是没有入仕的读书人用起来都是得心应手。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在他们看来，只要他们聚集个几百人，跪倒在地嚎哭一番，天子就得服软认怂。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可这次天子竟然无动于衷，任凭他们哭天喊地也不予理会，最终跪的膝盖酸痛，灰溜溜的自己返回国子监了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;国子监监生大规模请愿抗议不了了之后，工部正式派人对国子监进行改造，将其中一部分闲置不用的号舍划圈起来，在最短的时间内完成了天子交办的任务。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;今日是皇明军校创立的第一天，也是开学的第一天。为此天子甚至亲自驾临，在开学典礼上发表了一通讲话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这让国子监监生们嫉妒不已。要知道天子登基后还没有来国子监看望他们这些未来的国之栋梁过，现如今竟然为了一群丘八降尊纡贵<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们真想跪倒在皇明军校的大门前借以表达自己的愤怒情绪，可考虑到前不久刚刚在正阳门外跪过半日，现在还膝盖酸痛，这才把这个想法按了回去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺当然不会有闲心理会这些无事生非的监生，如今要他操心的事情实在太多，常常是一天忙碌下来仍然有许多奏疏没有批阅。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这便看出内阁的重要性了。若是没有内阁对通政司递送上来的奏疏进行票拟，全部由皇帝来决断，那真得累死不可。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;也就是太祖朱元璋这样的超级工作狂能够乐在其中了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;皇明军校创立之初生源并不充足，学生基本都是各总兵、副将的子侄。这当然不是朱慈烺的本意。在他的设想之中，皇明军校最主要的生源是新军中表现优异者，以给新军士兵们除了争立军功外又一个上升阶梯。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过现在新军也刚刚开始集训，等到从中挑选优秀者到皇明军校读书怎么也得三个月以后了。在此之前皇明军校却也不能闲着，故而挑选总兵、副将子侄作为第一批学员是最好的办法。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这样做还有一个好处，那就是朱慈烺可以借机笼络这些旧军阀。在他彻底掌握军权之前，还是要对这些人加以安抚的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然这些军将子侄在某种程度上也相当于人质，可以让这些军头们投鼠忌器。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;结束训话之后朱慈烺并没有立即回宫，而是叫内侍去国子监宣召一人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这人不是别人，就是大名鼎鼎的郑成功。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只不过此时郑成功还叫郑森，也只是个二十出头的国子监监生。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;听闻天子召见后郑森激动万分，也顾不得焚香沐浴了，直接跟着内侍来到皇明军校接受朱慈烺召见。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺前世对郑成功就很推崇，认为国姓爷和李定国是南明少有的有能力改变历史走势的人物。如果郑成功那次著名的南京之战可以获胜，或许整个历史都会随之改写。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;穿越后朱慈烺也十分希望和郑成功见一面，虽然此时郑成功还没有崭露头角，但好苗子早些收到手里总归是没错的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;头戴翼善冠，身着明黄色衮龙常服的朱慈烺端坐在皇明军校讲武堂上首的位置上。这个位置本来是该由讲官来坐，当然朱慈烺坐在这儿也没有任何问题，毕竟他是皇明军校的校长。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“宣国子监监生郑森陛见！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺细细打量着这个迈着方步走入讲武堂的年轻人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只见郑森穿了一身绛蓝色的直裰，头戴网巾脚蹬方头鞋，虽是儒生打扮身材却十分健朗。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;再定睛细瞧，郑监生顶高额阔鼻直口方，双目炯炯神情肃然，进入讲武堂后便推金山倒玉柱冲朱慈烺行了大礼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“国子监监生郑森拜见陛下，吾皇万岁万岁万万岁！”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>