<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第一百五十二章 墙式冲锋（第一更，求订阅，求月票！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第一百五十二章 墙式冲锋（第一更，求订阅，求月票！）
</div>
<div class="bookname">
	<h1>第一百五十二章 墙式冲锋（第一更，求订阅，求月票！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;骑兵冲锋讲究的是一股气势。气势起来了，杀伤力会很惊人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;此先天骑营也曾在训练中多次了练习过这种冲锋。不过在实战中使用还是第一次。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这种冲锋模式是皇帝陛下亲自教授给陈留的，听说叫做墙式冲锋。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈留一开始并不是很情愿练习这种冲锋模式，因为他觉得和闯贼的三堵墙很像。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们是官军，是天子亲军，怎么能学闯贼的战法！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过陈留却是不敢公然违背皇帝陛下的旨意的，只得按照天子的吩咐开始训练。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一开始陈留也不觉得这个战法有何出奇。但渐渐的，他发现墙式冲锋相比较于普通的冲锋更加锐利。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这种冲锋模式不能使用多次，往往是拿来一锤定音的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以在一开始对刘良佐、刘泽清叛军先锋营发起冲锋时，陈留并没有选择直接使用墙式冲锋。骑兵们彼此之间还是有着不少缓冲距离的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们轻而易举的冲溃了叛军的先锋军队，驱赶着这些溃军冲击刘良佐、刘泽清的中军本阵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘泽清、刘良佐显然不愿意引颈就戮，他们派出亲兵结成重步兵阵，想要抵挡住骑兵最犀利的一次冲锋。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;依靠溃兵冲散这些重步兵阵是不太可能了，天骑营必须亲自来做。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈留按照训练中的模式让骑兵们尽可能的贴靠在一起，马身与马身相连，有时甚至只差半个身位。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这种情况下天骑营的骑兵没有任何闪转腾挪的空间，等于把自己抛了出去，不是你死就是我亡！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然，陈留认为笑到最后的肯定是天骑营，二刘叛军根本不可能抵挡的住这雷霆一击，亲兵也不行！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;距离刘泽清、刘良佐的本阵只有不到一百步了，陈留屏住了呼吸。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;包括他在内的所有骑兵都毫无保留的信任袍泽放弃了运用个人骑术的机会。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们此刻是一个整体，是一堵墙！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而此时刘泽清、刘良佐已经控制住了溃军，将他们驱往两翼，露出中军，誓要硬刚这一波。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们相信自己喝兵血训练出来的精锐亲兵能够战胜这些不知天高地厚的骑兵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;骑兵的战术讲究灵活，利用速度优势不停的袭扰，哪有这样把自己抛出去硬碰硬的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果说方才骑兵冲阵是为了驱赶先锋营溃兵冲击刘良佐、刘泽清的本阵，那么他们的目的已经达到了。现在溃兵已经被稳住，他们却还是要继续冲锋，且马与马之间贴合的更紧凑了，真是愚蠢至极！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过这是重步兵最喜欢看到的场面。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在刘良佐、刘泽清看来，骑兵们放弃了机动性的优势就已经输了一大半。等着他们的便是一场惨败。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一百步，五十步，三十步。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;千骑奔驰呼啸而来，夹着一股浓烈的杀气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当“锥头”刺入刘良佐、刘泽清本阵的那一刻，一切都仿佛安静了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;短短的一瞬间，叛军结成的阵型便被撕开一个深深的口子。刘良佐、刘泽清寄予厚望的亲兵并没有发挥出理想的作用。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“怎么会这样，怎么会这样”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘泽清脸色煞白，口中喃喃自语。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不可能的啊，兵书上说重步兵克骑兵冲锋。而他和刘良佐的亲兵都是毫无疑问的重步兵啊。为什么他们严阵以待，却扛不住一波冲锋？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古人误我！兵书里都是骗人的！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘泽清现在真是欲哭无泪，除了眼睁睁的看着天骑营的骑兵将缺口越撕越深越撕越大外没有任何能做的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘良佐更是气的险些昏了过去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;按照这个速度要不了多久骑兵就能冲到他的将旗下。此时不跑更待何时。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘良佐几乎没有任何犹豫就拨转马头逃之夭夭。刘泽清见状也策骑跟上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;二人的亲兵们还在拼命的阻击骑兵的推进，但收效甚微。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而叛军的普通士兵见主将都跑了，更是一哄而散。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;兵败如山倒！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;见此情景陈留心中大喜。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘良佐、刘泽清所部叛军比他想象的还要脆弱，简直就是不堪一击。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;即便是这些亲兵也不过是寻常巡抚、总督标营兵的水准。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;乘胜追击！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他要直接冲阵夺旗，阵斩刘泽清、刘良佐二人。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陈留一声令下，天骑营继续朝叛军将旗方向冲去<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“老哥哥，等等我，等一等”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘泽清慌慌忙忙的策马追上刘良佐，挥手呼喊道：“真不容易总算逃出来了！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;回想起方才的场景，刘泽清现在还心有余悸。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;为了不引人注意，刘泽清索性脱掉了甲胄，头盔，只留下一身素衣。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这样就不会有人注意到他是一军主将。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;待他定睛一瞧着实吃了一惊，刘良佐又何尝不是如此，甚至脱得比他还要干净，光着膀子浑身上下就剩下一条亵裤了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“泽清老弟，你也逃出来了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘良佐扭头一看，见是刘泽清嘴角勾起一抹苦笑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“咱们两个这回算是真的完了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果说济宁州惨败是被夜袭还情有可原。这次却是彻头彻尾的完败。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而且他们虽然在济宁州受挫，逃跑时还是带了不少兵马的，一路上又收拢溃兵，实力还在。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可这次他们真的是连棺材本都赔进去了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;二人只身逃出，身边就连一个亲兵都没有。这种情况下再想收拢溃兵东山再起基本是不可能的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;何况刘良佐和刘泽清已经把甲胄脱下，普通士兵又怎么会认出他们就是一军之主？不眼红抢他们的马就算不错了！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“老哥哥，别说丧气话啊。老话说的好，留得青山在不怕没柴烧。那李闯当初被打的只剩下一十八骑，藏在商洛的山沟沟里那么久，最后不也东山再起打到北京去了吗？他李闯可以我们为啥不行？这风水总归是要轮流转的吧？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘良佐叹息一声道：“情况是不一样的，李闯若是遇到了这么犀利的骑兵恐怕也翻不起浪来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;天骑营的冲锋给刘良佐带来的震撼实在是太大了，他现在都心有余悸。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“如今便走一步算一步吧，某不求东山再起，只希望能够保住一条性命。”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>