<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第八十四章 民心可用</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第八十四章 民心可用
</div>
<div class="bookname">
	<h1>第八十四章 民心可用</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;（求推荐票！感谢书友狼崽少爷的1000币打赏。感谢书友雪洗天心、书友五千年文明，书友涟水连的100币打赏。）<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;历史上南明的内耗直接导致满清趁虚而入，不费吹灰之力席卷天下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;弘光、隆武、绍武、鲁监国、永历<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;南明的政权更迭频繁，你方唱罢我登场，却鲜有能与满清抗衡的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;眼瞅着满清就要坐稳江山，结果多尔衮出了一式昏招，便是剃发令。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;本来对普通百姓来说，是朱家皇帝坐江山还是满清皇帝坐江山没有什么分别，他们也都做好了做大清国顺民的准备。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可剃发令一下，神州大地仁人志士纷纷揭竿而起，自发组织抗清。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在他们看来，身体发肤受之父母，不可轻侮。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;要他们剃发易服，披发左衽，简直是奇耻大辱。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;起初他们只以为满清入关，亡的是朱明一家一姓。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;直到剃发令的发布，他们才恍然大悟，原来满清想要亡的不仅仅是大明，还有华夏文明，汉家衣冠。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;亡国可忍，亡天下绝不可忍！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一时间神州大地处处打起抗清旗帜，有星火燎原之势。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;就连李自成余部、张献忠余部也和南明朝廷精诚合作，共同抗清。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们虽然曾经想要推翻大明，但此一时彼一时。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;此时满清已经张开了獠牙，显露出其凶残的面目，若想不被亡国灭种，就必须团结一切可以团结的力量。若再醉心于内斗，则必定被满清各个击破。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;是以郑成功站了出来，张煌言站了出来，李定国站了出来，文安之站了出来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在抗清的这面旗帜下，不分大西军，不分大顺军，不分明军，不分义军。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们都有着一个共同的目的，那就是驱逐鞑虏，恢复神州！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;昔日的个人恩怨放了下来，各个阵营精诚合作，甚至一度转守为攻。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;抗清联盟势头最盛时便是全面反攻湖广，携李定国两撅名王之势，若能一鼓作气打下去，说不准就能一路打回神京，光复神州。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可惜因为各种猪队友拖后腿，最终功败垂成。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;眼下的形势远比原本历史要好。朱慈烺是崇祯嫡传血脉，是名正言顺的大明帝位继承人。只要朱慈烺在，南明就不会陷入帝位争夺的泥潭之中。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;满清提前颁布剃发令和圈地令，无疑是最大的昏招。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果朱慈烺没料错的话，逃人法和投充政策很快也会颁布。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他只要借助这股势头多加宣传，就能让满清治下河南、畿辅等地统治不稳。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个任务他准备交给内厂军情司来做。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如今内厂军情司在畿辅、河南的番子加在一起有五六百人，稍稍显得有些不足。朱慈烺准备命韩赞周再增派几百人潜伏，利用世人对满清剃发令的厌恶打一场轰轰烈烈的舆论战。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这也是内厂复建军情司设立以来第一次承担如此重要的任务，正好借此机会检验一番军情司的成色。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于东厂和锦衣卫还是对内监视为好。同类型情报部门同时执行一项任务很可能会出现相互掣肘的情况，这与朱慈烺的初衷完全相悖。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;再说南京城内的文武，南直隶的缙绅阶层只是这段时间稍稍安稳了一些，天知道他们心里打的什么鬼主意。若是没有专门的番子监视，朱慈烺可睡不好觉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然，军队的训练也不能落下。神策军现在已经增编到了五万人，如此多的人数操练起来也是一个大问题。最严峻的问题是军官人手紧缺。即便第一批神策军四营中的佼佼者全部充为军官，还是有很大的缺口。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺在犹豫要不要调集一批皇明军校的毕业生前往神策军中任职。如张煌言等人已经经过了初步的培训，对军事理论有了一定的了解。唯一的问题是他们还没有任何实战经历。这也是没有办法的事情，兵新将新，组建新军必须经受这一阵痛期。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;最好的办法是调集新军去前线作战，战斗可以使新兵迅速变为老兵，也会有更多优秀的人才涌现出来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可惜现在神策军中稍有战力的不过是最早组建的四营，区区八千人实在是杯水车薪。把这些人放到山东战场并不会有太大的作用。朱慈烺在等待机会，若满清真的孤注一掷猛攻山西、关中，便可以调集神策军与秦拱明部、高杰部等一道直取京师。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;是时候和股肱之臣们好好商议一番了，朱慈烺神色一正道：“宣兵部尚书路振飞、礼部左侍郎文安之觐见。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;旧时王谢堂前燕，飞入寻常百姓家。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这两句出自刘禹锡《乌衣巷》一诗，意在感慨东晋时期繁华无比的乌衣巷已经变得荒凉破败。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这其中当然有夸张的成分，事实上，直到本朝乌衣巷仍然是文人雅士聚集之地。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;乌衣巷位于秦淮河南岸，从文德桥往西南走不远便能看到。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;其与南京贡院仅仅隔着一条秦淮河，如此文风鼎盛之地，怎么可能少得了文人雅士。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在乌衣巷深里一间不起眼的小院中，便住着明末四公子之一的侯方域。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;侯方域是复社领袖，前户部尚书侯恂之子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这位风流倜傥的佳公子今年不过二十六岁，却早已没了五六年前的意气风发，如今常常眉头紧锁，尽显老态。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;神京陷落，其父侯恂被闯军从狱中救出。李自成本想任命其为官，但侯恂坚决不受，最终辗转来到南京。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;本想着新皇即位，父亲能够重新起复，谁曾想几个月过去了，天子完全没有想起这位崇祯朝的重臣，父亲仍然赋闲在家。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这让侯方域十分焦急，不停的奔走于父亲的门生故旧之间，希望能够找到机会让父亲起复。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可前不久朝廷刚刚平定了一场预谋叛乱，钱谦益等东林党人牵扯其中，被连根拔起。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;加之史可法致仕，如今东林党元气大伤，能够站出来的大佬少之又少。剩下的多是些虾兵蟹将，即便想要替侯恂运作，也是有心无力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;难道父亲真的没有机会起复了吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对侯方域来说，他与父亲是一荣俱荣，一损俱损的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;崇祯十一年南都乡试，他因为在策论中讥讽时政而落第。若是父亲起复他还有可能借势而起。若是父亲再无希望，他这辈子怕也就是这样了
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>