<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第一百五十七章 蒙难金盆口（第一更，求订阅，求月票！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第一百五十七章 蒙难金盆口（第一更，求订阅，求月票！）
</div>
<div class="bookname">
	<h1>第一百五十七章 蒙难金盆口（第一更，求订阅，求月票！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;多铎骑着枣红色的高头大马趾高气扬的率先进城，孔有德、耿仲明二人跟在稍稍靠后的位置。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;清军顺利进驻潼关，意味着关中的东大门被打开，西安已无险可守。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;从潼关到西安，急行军的话两三天足矣。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多铎却并没有立即率军奔往西安，而是决定在潼关城中休整一日。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;反正阿济格那边从陕北绕路去西安怎么也不会比他快。多铎只需要比阿济格先到西安，就可以获得夺城之功。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于马世耀还算识时务，并没有负隅顽抗到底。多铎决定留他一命，将其部编为绿营军，为大清冲锋陷阵<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你立刻离开潼关把这封信送去西安，请陛下率军杀回潼关。本将可在城中响应，配合陛下一举灭虏。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;马世耀将写好的亲笔信交给了王桂川，语重心长的嘱咐道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“切记路上一定要小心。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;马世耀是诈降，本来计划是找机会率部逃跑。但通过他的观察，发现八旗军并没有想象中的那样不可战胜。多铎对于军纪的约束很不重视，清军进驻潼关后肆意抢掠。这种情况下要把军队重新集结起来需要用不少时间。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若是李自成能够率大军杀回潼关，马世耀再于城中举兵响应，没准真的能把清军围杀在潼关中。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然这一切的前提是李自成必须率主力回攻，仅仅靠马世耀自己是断然无法做到这点的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“将军请放心，我一定把信带到西安！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王桂川双手抱拳毅然说道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“早去早回，本将等你的好消息。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“站住！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王桂川策马刚要出城，便被呵斥拦住。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一名天佑军士兵上前打量了王桂川一番道：“你为何要出城？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;天佑军是孔有德亲自统领的军队，基本上都是他当初浮海出逃时带去的老兵，可谓嫡系。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这名天佑军士兵见王桂川行迹匆匆，觉得十分可疑便上前盘问一番。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“某去替我家将军买些酒来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“买酒？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那天佑军士兵皱眉道：“潼关里没酒喝吗，为何要出城去买？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这位兄弟有所不知，潼关说白了就是一座大一点的戍堡，里面全他娘的是兵，铺子一共就那么十几家，掰着指头都数的过来。酒肆更是只有一家，就是十字街把东头的老孙记，那酒的味道都淡出鸟来了。我家将军喝不惯，最喜欢城外的那家杏花村。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王桂川故意咽了一口吐沫，嘿嘿笑道：“说的我都有些馋了。对了，我到时候也给几位弟兄们带些回来，大伙儿一起尝一尝！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那几名天佑军士兵的眼中立时露出了贪婪的目光。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好吧，快去快回。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;天佑军士兵正准备放行，却见得十几骑朝城门奔来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们定睛瞧去，不是自家王爷孔有德却是谁。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孔有德率十几亲兵打马而来，行到城门前瞥见王桂川，冷冷质问道：“这是怎么回事？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“回禀王爷，这厮说奉命出城买酒”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啪！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孔有德毫不留情的将鞭子甩起，直抽在了那天佑军士兵的脸上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那士兵发出一声惨呼后，却顾不着疼痛，连忙跪倒在地。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“王爷恕罪！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“本王是怎么与你说的，马世耀的人一个也不许出城！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孔有德声音一厉道：“还不把此人拿下！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他一声令下几名亲兵立刻一拥而上把王桂川拽下了马，死死按倒在地上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“搜，本王倒要看看马世耀在耍什么心眼。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;亲兵们立刻把王桂川的衣裳全部扒下，就连亵衣亵裤都不例外。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不一会王桂川便被扒的一丝不挂，赤条条的趴在地上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;亲兵们挨着搜查王桂川的衣物，费了不少时间却一无所获。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孔有德的目光落在了王桂川的发髻上，这七千顺军刚刚投降，还没来得及剃发。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“把他的发髻打散！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孔有德知道在科举乡试时，就会打散考生的发髻查看有没有夹带。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;要说起来这发髻还真是藏污纳垢的好地方，要是剃了头不就没这么多破事了吗。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;亲兵们立刻粗暴的将王桂川的发髻打散开始搜查，却依然一无所获。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孔有德眉头直是拧成了一团。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不对啊，他的直觉不会有错。这厮行迹如此可疑，一定其中有鬼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“掰开他的嘴！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孔有德知道有的密使会把极小的蜡丸藏在舌苔、牙根下以蒙混过关，他不会放过任何的可能。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但检查结果却是令孔有德十分失望，王桂川的牙根、舌苔下也没有他期待中的蜡丸。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;真是奇了怪了！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孔有德上下打量着王桂川的身体，最终目光落在了腚片子上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“扒开！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;亲兵们愣了一愣，但还是咬牙扒开了王桂川的两片臀瓣。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“往里探探，看看有没有什么异物！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;亲兵们面面相觑，自家王爷是不是想的太多了，这腚眼子里难道还能藏什么东西？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然心中极不情愿，但命令还是要执行的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一名亲兵深吸了一口气，将一根中指插了进去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一开始他的手指往里探的很顺利，可快到粪门的时候突然碰到了一处硬物。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;亲兵连忙把那硬物勾了出来，发现竟然是一个蜡丸。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哈哈，本王就知道这厮一定有鬼。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;亲兵掐开蜡丸，从中取出一张薄纸交给孔有德看。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孔有德看罢冷笑道：“马世耀是诈降。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孔有德将截获的书信送予多铎。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多铎看罢即勃然大怒，要下令抓捕所有投降顺军士兵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孔有德却建议不妨把马世耀等人诱骗出城，再一举拿下。不然若是马世耀负隅顽抗还颇有些麻烦。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多铎想了想便同意了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在孔有德建议下，多铎派人通知马世耀，在潼关西南十里外的金盆口打猎。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;马世耀虽然有心怀疑，但为了稳住多铎只能率军前往。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;等到马世耀率部快到了，多铎又派人谎称要举行宴会，不便携带兵刃，把马世耀部顺军的武装全部解除了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;等到手无寸铁的七千多顺军进入金盆口，埋伏好的清军突然从四面八方杀出。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;事发突然，马世耀虽然想要抵抗，但无奈清军人多势众，他们又手无寸铁。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;很快，七千多顺军士兵便全部被斩杀
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>