<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第二十章 新军训练（二）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第二十章 新军训练（二）
</div>
<div class="bookname">
	<h1>第二十章 新军训练（二）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;刘三水一个激灵翻身而起，冲身旁的王富贵道：“王大哥，这是咋了？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王富贵瞪了他一眼道：“还能咋了，这可是军营，不论何时听到号角声都要立刻前去校场集合。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说罢便把已经脱下的中衣穿上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘三水惊呼一声，连忙有样学样的穿上中衣、外裳。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;整个营房的人乱作一团，有的甚至一边提着裤袋一边冲了出去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;等到他们跌跌撞撞的来到校场，发现绝大部分的集训者也和他们一样慌慌张张，根本不知道该站在何处。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“肃静！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;锦衣卫指挥使赵信的声音一响起，人群立时安静了下来。他们本能的排起队列来，却是站的歪歪扭扭。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你们可知道本官为何会在这时吹响号角？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;见无人响应，赵信冷冷说道：“军队之中最重要的便是令行禁止。你们心中一定会抱怨，本官明明说了明日才开始正式训练，为何大半夜的要把你们折腾起来。不错，本官就是要做到出其不意。从你们踏进军营的那一刻起，就必须用天子亲军的标准要求自己。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵信这一番话让那些迷迷糊糊的人困意全无，羞愧的将头垂了下去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这还是在训练，若是两军对垒，敌军夜袭劫营趁机放上一把火你们还是这般拖沓，那我们都得葬身火海！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵信将攥紧的拳头松开复又攥紧道：“今日就这样吧，明日起开始正式训练。各营军官将集训者带回营房休息！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;直到此时刘三水才松了一口气。折腾了这么一通总算又可以躺在床上睡觉了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一夜无话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;翌日卯时，号角声再次响起。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘三水和同营房的其他弟兄一样以最快的速度起床梳洗，之后到校场集合跑操。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;按照集训期间的规矩，每天吃早饭前，集训者必须绕着校场跑五圈。用皇帝陛下的话说这也是为了培养组织性纪律性。虽然大伙儿不太明白这个词语的含义，但既然是皇帝陛下说的，那肯定是很有道理的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;跑操结束后，所有人到伙房用早饭。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;今天的早饭是大米粥配咸菜白馍馍，每人还有一个煮鸡蛋。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这对这些经常食不果腹的苦哈哈来说绝对是丰盛大餐。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;有些人甚至感动的哭了出来，口中念叨着要是顿顿早饭都能吃的这么好，就是叫他们立刻去打鞑子也不会皱一下眉头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然集训是会淘汰人的，一个月之后他们中的某些人注定要离开军营。这让他们纷纷以更为饱满的热情投入到训练之中，力争能笑到最后。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;第一天的训练全部是队列训练，这也是朱慈烺特意要求的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在他看来一只军队的战斗力直接体现在执行力上，而执行力的强弱则由日常的队列训练决定。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;看起来最简单的几个动作有时却代表一只军队的精神面貌，这也是朱慈烺十分看重的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他有心以戚家军的方法训练这只新军，但在此之前他准备先加入队列训练打磨这些新人的性情。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“稍息、立正，向右看齐！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;各营队的军官纷纷喊起了口号。他们事先都经过了锦衣卫指挥使赵信赵大人的培训，至于赵指挥使则是由天子亲自面授机宜。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘三水和王富贵分到了一排，他学着本队军官的样子将双手紧紧贴在裤腿上，然后出脚、收脚、摆头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;经过几番训练这些动作他都熟练的掌握了，心里只觉得美滋滋的。看来这队列训练也没有什么难度嘛。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可本队军官接下来的命令就叫刘三水感受到了站队列的辛苦。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;军官要求所有人保持立正姿势半个时辰，在此期间不能有任何的附加动作。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;开始的时候刘三水还觉得没什么，但随着时间的推移他只觉得浑身发痒，本能的想用手去挠痒。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;加之五月（农历）的天气溽热难耐，刘三水已经汗流浃背。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;额头的汗水流进眼睛里蛰的刘三水生疼，他再也忍不住用手揉了揉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;便是这么一个细微的动作被本队军官看在眼里，他快步走到刘三水面前，兜头便是一鞭子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘三水痛呼一声，定睛瞧去只见左臂上已经多了一条猩红色的鞭痕。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他这才意识到自己犯了错误，瑟瑟发抖的呜咽道：“将军，将军我”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“废话什么，给老子站好了。再给老子丢脸就自己去领二十军棍。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;得知自己不会被赶出军营，刘三水悬着的一颗心总算可以放下了。他立刻站的笔挺，心中暗道一定要争气，绝不能再在袍泽面前丢人现眼了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;接下来还要再站军姿一个时辰，众人虽然心中叫苦却不敢表露出分毫，生怕在这第一关就被淘汰。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;直到正午时分训练才结束，赵信宣布用午饭时众人紧绷的神经才得以稍稍放松。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;好在午饭是大白米饭配东坡肉，这让辛苦训练了半天的士兵们很是欢喜。他们个个狼吞虎咽将饭菜吃了个精光，仿佛不如此就对不起自己流下的汗水似的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;下午的训练和上午大同小异，但加入了旗语训练。这是士兵们在军中应该掌握的最基本语言。现在看来让他们全面掌握还需要一段时间，不少士兵都会记错旗帜的颜色从而做出错误的反应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;点将台上，身着便服的朱慈烺感慨道：“军心可用，但若想把他们练成一只所向披靡的强军任重道远啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“陛下仁厚，一定可以练出一只强军的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵信冲朱慈烺礼了一礼道：“半年，臣最多需要半年，一定把他们训练成一批不惧刀枪剑戟的猛士。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“好！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺顿时生出一股豪情：“只要爱卿按照戚少保的练兵法训练，朕相信儿郎们一定会大有所成的！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺知道他的敌人一定是满清，对付满清这样的八旗精锐一定要用精兵。像崇祯朝那样堆人数是没有任何用的。辽镇兵马几十万，可跟几万人的八旗军对决时仍然一哄而散。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;兵不在多而在精，训练一只完全听命于天子的精兵确是朱慈烺现在的当务之急
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>