<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第三百六十章 张可望遁走魏城（第二更！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第三百六十章 张可望遁走魏城（第二更！）
</div>
<div class="bookname">
	<h1>第三百六十章 张可望遁走魏城（第二更！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;洪承畴长松了一口气。 小 说&nbsp;&nbsp;&nbsp;&nbsp;． <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他其实也是倾向于先去攻打成都的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可博洛作为主帅意见不能不问。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果博洛和他的意见不同，将会很难处理。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;好在二人看法一致，那么就好办了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“贝勒爷英明。成都乃是四川中枢，取之则四川可定。待把保宁府的粮食搜集完毕，大军便可以向成都进军。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪承畴是不想拖的。越早拿下成都对清军越有利。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;四川有天府之国的美誉，但实际上真正高效产粮的地区也就是成都附近。其他地方加起来产粮量怕是都比不过一个成都府。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;再加上其极高的政治意义，总之打成都绝不会有错。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;硕詹虽然不是很赞同这个方案，但既然贝勒爷都这么说了他也不好再做坚持。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“军中一切事宜但凭洪先生决断，若有什么需要尽管跟本贝勒提。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;博洛指望靠着洪承畴这根大粗腿刷声望，自然对其极为客气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;倒是佟养和被晾在一边有些尴尬，清了清嗓子道：“去成都必过魏城，还是应该先派前哨去打探清楚了才是。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪承畴点了点头，冲硕詹道：“便有劳硕詹将军差人跑一趟了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;脏活累活洪承畴不敢麻烦满洲军旗的大爷，都让刘进忠去做了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这种捞军功又舒坦的轻松活计倒是可以让硕詹去安排。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;果不其然，硕詹听闻洪承畴要他派人去打探魏城的消息后，立刻喜笑颜开。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他拍着胸脯保证：“放心好了，本将保证把魏城的虚实摸个清楚。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“开门，快开城门！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张可望带着几百骑兵如同丧家之犬一般来到魏城城外。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;城头之上的守军见城外突然出现这么多人却是十分紧张，魏城中的守军一共也没有一千，而城外的人都快跟他们一般多了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们何尝见过这种阵仗，一个个吓得两股发抖。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“快去禀报总爷！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一个年纪较长的军官吩咐道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哎，哎。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一名士兵连忙应道，一溜小跑从马道下了城。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;魏城并不大，城中除了有近千士兵外另有五千余百姓。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;城中只有两条街，呈十字交叉形状。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;城中也不像普通县府设衙，只有一个千总府处理军政事务。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以与其说它是城池倒不如说是一座规模大些的戍堡。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如今在千总府中主事的是孙正安。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他是张可望的心腹，是以才被派来把守成都府的东大门。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个位置看起来不起眼，实则十分重要。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;外敌要想从东面进军攻打成都则必须要经过魏城。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若不是心腹之人又怎会被安排至此？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孙正安十分清楚自己只要在魏城混个一年半载就能调回成都，届时升官是肯定的，说不准还能捞个爵位。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过这魏城是真的无趣，连个戏班子都没有。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;平日里孙正安也只能玩玩女人发泄发泄。可是女人玩的久了也就没意思了，孙正安近来将兴趣又投到了**上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但凡是长得眉目清秀的少年男童，都会被他抓到府里狎玩一番。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孙正安尝过其中滋味后就像开辟了新天地一般一发不可收拾。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;今日他正和一名少年欢好，突然亲兵禀报说城外出现了数百骑兵。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孙正安一泄如柱，没好气的一脚踢开少年，随便套了件裤子道：“这他娘的好端端有数百骑兵出现？别是你们看瞎了眼吧。这一代的山贼哪个有这般实力？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;魏城附近有几处山寨，里面的土匪山贼大多人数不过百，别说是几百骑兵了就是几十骑兵他们都不一定能够凑得出来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“总爷，这真不是我扯瞎话啊。您要是不信，亲自去看看？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“呸！狗一样的东西。啥事情都要老子去过问，还要你们作甚？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孙正安狠狠瞪了那亲兵一眼，吓得他把头垂了下去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过孙正安虽然嘴上厉害，却还是套上了外衫穿了靴子往外走去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“若是让老子发现是你们谎报军情，老子扒了你的皮！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孙正安急匆匆的往外走，几名亲兵巴巴的跟在后面。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;出了千总府沿着街道走了百来步便到了内城城墙。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孙正安也不多说，沿着马道疾步而上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;待他爬上城头定睛一瞧，差点闪了老腰。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;嘶，这还真有几百骑兵啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过看样子这些骑兵很狼狈，有的甚至连盔甲都没有，头发散乱披在肩上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;首先孙正安可以肯定这些人是正规的军队，其次他可以肯定这些人刚刚打了一场败仗。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;难道是明军？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可明军只控制了川东，怎么可能突然出现在这里？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;正当孙正安百思不得其解的时候，城下的张可望暴怒道：“速速打开城门，放本王进城！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孙正安定睛瞧去却是被吓了个半死。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;妈呀，这不是王爷吗？他怎么会在这里？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然很疑惑，但是孙正安明白现在不是纠结这些的时候。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他吩咐下去，命令士兵迅速打开城门，放张可望进城。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于孙正安自己则是一路小跑来到城门处亲自迎接张可望。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;城门打开后，几百骑兵飞速踏入城中。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孙正安十分自觉地上前给张可望牵马。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“王爷不是跟着陛下去保宁了吗，怎么又折了回来？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孙正安满脸堆笑的说道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“别嗦，速速准备吃食。本王要饿死了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张可望率部从保宁城突围成功后端是一刻也不敢停歇。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们日夜兼程的赶路，生怕被清军的追兵追上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;直到到了魏城，他们才得以稍稍喘上一口气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孙正安连忙道：“是，末将这便去办。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张可望是孙正安背后的参天大树，也是他向上爬的唯一希望。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如今张可望亲自来到魏城，孙正安自然要悉心招待。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他把千总府让了出来，将张可望请了进去，随后又命人准备了精致的菜肴。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然，这些菜肴无法和成都的珍馐美味相比，却也是魏城厨子能够做出的极致了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孙正安相信张可望看到这些后一定会很满意。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;却说张可望等人饿了数天，早已是前胸贴后背。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;菜肴摆上后他们也顾不得仪态，便狼吞虎咽了起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;满满一桌菜不到一炷香的工夫就被吃完，直是让孙正安目瞪口呆
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>