<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第二百九十三章 只会添乱的阿济格（第二更！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第二百九十三章 只会添乱的阿济格（第二更！）
</div>
<div class="bookname">
	<h1>第二百九十三章 只会添乱的阿济格（第二更！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;多尔衮轻点了点头道：“洪先生有什么话但说无妨。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;正所谓一朝天子一朝臣，每一个新君登基总会简拔一批臣子以求绝对的效忠。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如今多尔衮虽然不是皇帝却胜似皇帝。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;作为摄政王的他自然也得简拔一批效忠于他的臣子，留下属于自己的印记。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;范文程忠于大清吗？当然！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可他毕竟是皇太极提拔过的人，更是在皇太极一朝发挥了举足轻重的作用。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多尔衮若是继续重用他，难免显得自己无能。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这种时候自然是提拔一个“新人”来的好一些。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但遍观满朝文武，完全没有受过皇太极恩惠的人很少。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这也正常，毕竟皇太极阴毒是阴毒了一些，可还是知人善用的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可能只有一人他没有委以重任，那就是洪承畴。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当年洪承畴降清，皇太极也很是欣喜，但不知出于什么考虑，皇太极并没有重用洪承畴。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;直到皇太极死洪承畴都没有得到任何实质性的职务。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这在多尔衮看来是难以理解的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以他上位之后做的第一件事就是提拔洪承畴，将之引以为左膀右臂。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪承畴自然也很感激多尔衮的提拔，处处维护多尔衮，以多尔衮的利益为重<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如今，眼瞅着多尔衮步入死胡同，他当然要提一提建议。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“王爷，奴才听说英亲王又去蒙古抢马了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;此话一出多尔衮的面色立时阴沉了下来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;为什么说是又呢？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;因为阿济格之前曾有过一次抢马的经历。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当时多尔衮命阿济格攻打陕北，配合攻打潼关的多铎给李自成施压。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可不知阿济格是不是得了失心疯，竟然跑到蒙古去抢马。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如此一来等于陕北的顺军并没有遭到太大的压力，完全是多铎一个人在打。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;好在最后多铎拿下了潼关，李自成主动撤退。要不然，天知道清军会不会在陕西载个大跟头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;事后多尔衮狠狠责斥了阿济格一通，丝毫不给这个同胞兄弟留面子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;阿济格却觉得十分的委屈。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不就是去抢马了吗，最终也没有影响战局啊。陕北还是被他拿了下来，凭啥还骂他？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多尔衮也知道阿济格心里是不服气的，故而事后做出补偿让他镇守陕西。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;谁曾想阿济格还是不痛快，在多尔衮下令大举伐明的时候又来了这么一出！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多尔衮知道洪承畴的性子十分老成稳重，绝不可能跑舌头说胡话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他说阿济格去蒙古抢马了，那这件事即便不是板上钉钉也是十有八九了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;哎，这个阿济格真是烂泥扶不上墙啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在多尔衮的计划中，之所以让多铎和阿济格分别领兵攻打山东、湖广，就是吃准了明军兵力不足，尤其是精锐不足。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;明军要么守山东，要么守湖广，而清军可以从两个方向同时发动猛攻，总会拿下来一个。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可现在阿济格没有率部发动攻势，明军便不需要在湖广布下太多兵力，山东方面就显得游刃有余了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多尔衮深知清军在入关之后并没有打几场硬仗，基本上靠的就是原先明军开城投降。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;用一句话说就是明军没有想象中的那么弱，清军也没有看起来那么强。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;真打起来，胜负怕是也就在毫厘之间。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;战场之上是容不得丝毫大意的，何况是关乎大清国运的关键战役。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;明军可以拖，清军却拖不起。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;越往后拖下去对大清越不利。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这么多张嘴要填，没有粮食怎么行。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而拿不下湖广，拿不下山东，光靠北边这么点地方怎么可能种的够粮食？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“本王，本王要亲自去一趟关中，看看阿济格究竟在干些什么！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多尔衮只觉得气火攻心，恨不得现在就叫人备马驰往关中。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪承畴连忙劝道：“王爷万万不可啊。京师不能没有王爷坐镇啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪承畴的谏言是为了引起多尔衮的重视，可不是为了让多尔衮亲自去一趟陕西。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;真要是这样，万一京师有个什么变故谁能压得住？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;豪格可是虎视眈眈呐，万一多尔衮离开京师豪格趁机发难，不就要变天了吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪承畴恐怕是最不希望豪格上位的人了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;因为他的强势崛起全部得益于多尔衮。他也被打上了浓厚的多尔衮派系烙印。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果豪格登位，第一个要清洗的恐怕就是洪承畴。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哼，本王不去，还有谁敢说他。吴三桂行吗？尚可喜行吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪承畴思忖一番道：“奴才愿意替王爷前往，不过还请王爷专门下一道令旨叫奴才带去。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“恩？洪先生要去关中？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多尔衮还真是有些没有想到。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过他细细一想这也不是没有道理。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;毕竟当初洪承畴可是以总督陕西军务的身份在关中剿匪的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;虽然最终没有把李自成剿灭，但表现也是可圈可点的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若说大清文武官员中对陕西熟悉的，洪承畴绝对可以排在前列。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“奴才愿意为摄政王分忧！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪承畴之所以这么说，当然不是脑子一热的结果。事实上他是经过一番处心积虑的考虑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;继续留在京师为多尔衮出谋划策当然也很好，但不容易出彩。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但如果去了陕西就完全不一样了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;阿济格是一个什么货色别人不清楚，多尔衮还不清楚吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这样一个有勇无谋的莽夫主持军务政务，不出乱子就不错了，指望他有什么亮眼的表现是不现实的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但如果洪承畴能够改变这一局面，使得清军夺取湖广，进窥四川将局面弄得风生水起，不就从侧面证明了自己的能力吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;到了那时，满朝文武还有谁敢质疑他洪承畴？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;作为崇祯朝的一位大佬，洪承畴十分清楚官场如战场。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;要想屹立不倒，光靠君王的宠幸支持是不够的，必须拿出绝对的实力来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而这是他留在京师所不可能做到的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以，前去关中辅佐阿济格是一个绝佳的机会。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多尔衮并不笨，他仔细一想大概也明白了洪承畴的用意。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只是他有些不舍得啊，洪承畴可是有宰辅之才的能臣，就这么放去陕西真是有些浪费了
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>