<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第二十六章 欲谋拥立</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第二十六章 欲谋拥立
</div>
<div class="bookname">
	<h1>第二十六章 欲谋拥立</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;王铎双眼不由得一亮。在他看来钱谦益是整个东林党中最有谋略的。这也是他为何下朝后第一时间来找钱谦益问策。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“陛下掌握文武官员的家产情况无非是通过锦衣卫、东厂这些鹰犬，十樵可以从这方面入手。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“牧斋的意思是，弹劾厂卫？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“正是！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钱谦益双拳紧攥道：“厂卫乃祸国殃民之兆，悊皇帝时重用魏忠贤，导致朝野上下乌烟瘴气。先帝裁撤厂卫，大明大有中兴之势。如今陛下又复设厂卫，是要将大明大好前景毁于一旦吗？十樵身为总宪，理当向陛下上书，请求天子裁撤厂卫！厂卫一旦裁撤，天子就没有了双眼双耳，又怎么可能追查官员的财产？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王铎嘴唇翕张，想要说些什么，可最终却是长叹一声。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钱谦益见他欲言又止，不由得大为疑惑。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“怎么？十樵可是觉得弹劾厂卫不妥？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在钱谦益看来，文官最犀利的武器便是死谏。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只要王铎登高一呼，便会有无数奏疏飞向内阁。小皇帝只要不想被吐沫淹死，就得乖乖服软。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;再说，东林党对付阉党可从来没手软过。天启年间，权阉魏忠贤何等嚣张，还不是被东林党斗趴下了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在高贵的东林党人看来，阉党完全就是戴罪出身，就连呼吸都是错。东厂和锦衣卫的官员毫无疑问可以打上阉党的印记，只要这个印记打上，东林党人士便可以站在道德制高点对这些祸国殃民的厂卫走狗口诛笔伐！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王铎蹙眉道：“今上虽以冲龄即位，但雄心魄力不输二祖。这点想必牧斋也是看在眼里。复设厂卫是陛下的意思，即便吾辈弹劾也不会有什么效果的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“十樵这说的是什么话！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钱谦益一吹胡子，狠狠瞪了王铎一眼。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“吾辈既为人臣，自该尽心竭力规劝君上。所谓致君尧舜上，再使风俗淳若是一味媚君奉承，那和阉党又有什么区别？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;见钱谦益一副风萧萧兮易水寒，壮士一去兮不复还的架势，王铎十分无奈。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“话虽那么说，可若是陛下将奏疏留中不发怎么办？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;作为崇祯朝的老臣，王铎对于天子与大臣周旋的伎俩可是一清二楚。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若是皇帝觉得那些奏疏棘手，便可以把它们都留中不发。那些气势汹汹的臣子们最终发现一拳打在了棉花上，别提有多郁闷了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钱谦益却不以为意的冷哼了一声。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“留中不发？陛下可以留中不发一份、十份奏疏，难道可以压下一百份，两百份？十樵可是总宪，都察院的御史有哪个敢不卖你面子？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王铎自问养气的工夫一流，可听到这里仍然一口老血涌上喉头，差点就喷了出来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;好嘛，你一个赋闲在家的‘白身’真是站着说话不腰疼啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老夫倒是可以发动一两百人同时弹劾厂卫，但这样一来傻子都看的出来是老夫在背后推波助澜。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;陛下可不是个好相与的，若是让陛下盯上<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王铎一想到奉天殿上被锦衣卫拿下投入诏狱的赵之龙，便觉得脊背一阵发凉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“十樵?十樵?”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钱谦益见王铎默不作声，直是有些急了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你倒是说句话啊！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不行，这绝对不行。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王铎连连摆手道：“牧斋可有别的办法？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钱谦益见王铎如此爱惜羽毛，直是愤怒不已。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;好嘛，都到了这个时候了，还想着万全之计。难道要等皇帝把我们的家财都抄走才想着反击？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钱谦益背负双手，恨恨的踱起步来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;过了须臾他猛然停住，眼神中闪过一丝狠厉。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“要不然，我们就一不做二不休”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王铎怔怔的看着不远处的钱谦益，良久才颤声道：“牧斋你说什么？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钱谦益冷冷道：“君之视臣如手足，则臣视君如腹心；君之视臣如犬马，则臣视君如国人；君之视臣如土芥，则臣视君如寇仇！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“牧斋你要弑君！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王铎吓得连连朝后退去，面色苍白如纸。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钱谦益摇了摇头道：“十樵还记得悊皇帝是怎么驾崩的吗？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不待王铎接话，钱谦益便继续说道：“悊皇帝在西苑泛舟，不幸大风刮翻了小舟”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“牧斋！陛下可是先帝血脉！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“天子当有德者任之！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钱谦益一句话就把王铎顶了回去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我看潞王便有仁君之相。”钱谦益抿了抿嘴唇，嘴角微微勾起：“十樵在崇祯朝可是礼部尚书。凭什么新君即位，只拜十樵为左都御史？归根到底，今上不把十樵当做自己人呐。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钱谦益越说越兴起道：“正因为今上是先帝的血脉，故而继统名正言顺，十樵没有立功的机会。但若是潞王则大为不同。若十樵拥潞藩继大位，则内阁首辅如探囊取物矣。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;疯狂，真是太疯狂了！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;对于钱谦益的这番话，王铎在心中暗暗评价道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;拥立之功可是那么好拿的？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;功莫大于拥立，罪亦莫大于拥立不成。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;看看于谦于少保的例子吧，土木堡之变连天子都被俘虏了，也先率瓦剌大军挥师神京城下。于谦奉命指挥京师保卫战，挽狂澜于既倒，扶大厦于将倾。可最终还是因为拥立代宗一事，被复辟的英宗皇帝问斩抄家，下场何其可悲。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;政治一事上根本没有对错可言。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这件事，十樵莫要操心，某自有定策。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钱谦益轻捋胡须，一副胸有成竹的样子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王铎还是觉得不踏实，劝阻道：“牧斋，一失足成千古恨啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这件事根本不用我们动手。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钱谦益却似是吃了秤砣铁了心，一字一顿道：“十樵觉得，除了文官最恨今上的还有谁？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“自然是勋臣了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不错！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钱谦益神色一振道：“赵之龙下诏狱，勋臣们自然会兔死狐悲。他们手中有兵也有船，若是在天子视察水师时这样神不知鬼不觉，不会有人怀疑到你我头上的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“可，可”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;王铎仍然有些犹豫：“牧斋敢肯定此事能成？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“当然！”钱谦益大手一挥道：“武庙老爷、熹庙老爷可都是落水染疾驾崩的，有一有二为何不能有三？”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>