<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第七十四章 国士无双</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第七十四章 国士无双
</div>
<div class="bookname">
	<h1>第七十四章 国士无双</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;（新的一天，求推荐票支持~感谢书友六月十九三四、书友雪洗天心，书友闯逆变神器终、书友林紫Linzzy的100币打赏。）<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;过正阳门，沿着千步廊一路向前行去，文安之只觉得心潮澎湃。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他的左手是通政司、锦衣衙、钦天监、太常寺。他的右手是宗人府、翰林院、吏、户、礼、兵、工部。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;千步廊走到尽头便是承天门。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;走至承天门前文安之停住了脚步，闭上眼睛感受着这一切。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;回来了，都回来了！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;记忆如同泉水般奔涌而出，提醒着他是大明的臣子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;二十二年前，他在北京承天门前和一众新科进士意气风发的畅想着今后的人生，在礼官的引导下迈着四方步过端门，至午门。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;午门是天子之门，通常情况下只能供天子出入。文官从午门左边偏门进出，武官从午门右边偏门进出。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但凡事总有例外。皇后入宫时是从午门进入的。新科进士初次进宫陛见是也是从午门进入！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;文安之永远也忘不了那一天，他浑身颤抖的穿过午门进入了紫禁城，成为了一名天子门生！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;是啊，他是悊皇帝亲自简拔的天子门生！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;北京紫禁城完全是以南京紫禁城为样本建造的，奉天、谨身、华盖、武英、文华<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;每一座大殿都和文安之记忆中的一模一样，甚至一块块青砖，一片片琉璃瓦都是那么相似。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;直到行至乾清宫前时，文安之才感慨的摇了摇头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;现在是崇祯十七年了！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当今天子以礼部左侍郎之职起复文安之，足以看出对文安之的重视。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;是以替文安之引路的内侍个个都赔上笑脸，卖力的讨好这位老先生。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;文安之却不发一言，似一株松柏一样立于丹陛下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他今年已经六十二岁了，早已看破了人世间的名利。若不是为了大明社稷，为了天下苍生，他怎么也不会以如此高龄重新踏入朝堂。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“宣礼部左侍郎文安之陛见！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“宣礼部左侍郎文安之陛见！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“宣礼部左侍郎文安之陛见！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;内侍的唱诵声一级级的传下来，文安之深吸了一口气挺直腰杆拾阶而上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;二十二载前他正壮年，春风得意致君尧舜上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;二十二载后他已花甲，老骥伏枥誓要挽天倾。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那个倔脾气的文安之又回来了！那个不服输的文安之又回来了！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;爬上最后一级台阶，文安之大口喘起了粗气。到底是上了年纪，身子大不如前了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;文安之苦笑了两声，振了振袍服，阔步走入殿中。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;无需多言，自有内监凑步上前引着文安之来到暖阁之中。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“臣文安之叩见陛下。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;文安之冲着朱慈烺行了三叩九拜的大礼，已是老泪横流。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“铁庵公快快请起！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺竟然屈尊走到文安之面前，将这位刚刚起复的老臣扶了起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;文安之愣痴当场，直是不知该说些什么。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;天子竟然以他的号相称，天子竟然称他铁庵公！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;通常情况下皇帝以官职称呼臣下，对于敬重的老臣最多称呼一句先生。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;像当今天子这样以雅号称呼臣下的，不说绝无仅有，也绝对十分罕见。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;好年轻啊！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这是文安之目睹天颜后的第一反应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而且，当今天子和悊皇帝颇有几分相似。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这也对嘛，毕竟当今天子是悊皇帝的亲侄儿，血缘如此之近，长得像些也很正常。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;天启二年，悊皇帝也差不多是当今天子这么年轻吧？只不过今上看起来比当年的悊皇帝更加坚毅，虽然以冲龄践祚却满满的雄主气象。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;文安之虽然远在夷陵，但对南京的人事也有所了解。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;正是因为看到当今天子如此雄才伟略，他才下定决心一定要好好辅佐于他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺今日并没有穿朝服，而是身着一件大红色圆领团龙袍。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他十分激动的攥住文安之的双手道：“朕等铁庵公等得头发都白了几根！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这当然是句玩笑话，不过文安之却眼眶一红，泣声道：“臣何德何能，让陛下如此看重。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺却笑了笑道：“铁庵公是朕的卧龙，朕当然看重了。说来朕还占便宜了，毕竟朕没有三顾草庐就把铁庵公请出山了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“陛下谬赞了。老臣，老臣”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;文安之直是有些哭笑不得。当今天子真是一点架子也没有。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺确实十分高兴。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他没想到自己下了一道圣旨，文安之就毫不犹豫应召前来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;南明不缺忠臣，但绝对缺能臣。遍观南明史，能像文安之这样独自扛起一片天的能臣绝无仅有。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;文安之是当之无愧的宰辅之才。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;得文安之相助，朱慈烺的信心又增添了几分。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“铁庵公随朕来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺引着文安之绕过屏风，指着悬挂在墙壁上的巨幅舆图道：“铁庵公觉得当今天下大势如何？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;文安之滞声道：“陛下就这么急着听一个闲居山野十余载的老者论道？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺神色一正道：“昔日汉文帝宣室召见贾宜论道，却不问苍生问鬼神。朕可不能犯这种错误。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;文安之喉结上下耸动，良久才点了点头。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“那臣便以愚见侮圣听了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“等等！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺一挥手道：“今日朕要和铁庵公坐而论道，遵古礼！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说罢当先跪坐在锦垫之上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;文安之明白了天子的意思，连忙跟着跪坐下来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;秦汉之时，以跪坐为尊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;便是天子上朝都是跪坐。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;今日天子以跪坐之古礼与文安之坐而论道，是真真切切的以国士待之。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;君以国士待我，我当以国士报之!<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;文安之深吸了一口气努力平复心情，目光投向悬挂在墙壁上的巨幅舆图。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“陛下，今神州板荡，天下三分。形势与当年三国之势十分相似。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;稍顿了顿，文安之继续道：“陛下以为，孰为魏，孰为蜀，孰为吴？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺略作思忖便答道：“以朕之见，东虏为魏，闯逆为吴，皇明为蜀。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;从军事实力来看，确实是东虏最强，李自成次之，大明最弱。朱慈烺完全是以三者的军事实力和魏蜀吴三国进行类比，而不是以地理位置
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>