<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第三百一十九章 敦伦之礼</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第三百一十九章 敦伦之礼
</div>
<div class="bookname">
	<h1>第三百一十九章 敦伦之礼</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;博洛在完成了一次血腥残酷的镇压后命令绿营军将郑芝龙海运转卖来的粮食第一时间送到京师，其本人也回京向多尔衮禀奏复命。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多尔衮在听闻博洛的奏报后自然是喜忧参半。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他喜的是郑芝龙果然没有食言，按时命船队把粮食运到了天津，解除了清军的燃眉之急。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他很难想象没有郑芝龙的援助，大清将面临怎样可怕的局势。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;万事开头难，有了这第一次的合作今后双方再合作起来就会少了许多顾忌得心应手许多了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郑家船队规模足够大，一次转运就能解决清军几个月的口粮问题。至于三倍于市场的价格，多尔衮认了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;福建本身并不是产粮大省，郑芝龙估计也是从湖广、两广采购的粮食。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如此一来郑芝龙本身买粮收粮的价格就要比市价高出不少，卖给清廷的价格也不是不能接受了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多尔衮也清楚以郑家的实力和渠道，完全可以做一些更赚钱的买卖，或者干脆靠收税过活，完全没有必要铤而走险，贩卖粮食给清军。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;郑芝龙之所以这么做，肯定不是贪图两倍的差价，而是想提前和清军打好关系，为今后可能出现的突发情况布局。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果最终明军战胜了清军，那么郑芝龙也没有任何的损失。仅靠一些捕风捉影的闲言碎语是无法给郑芝龙定罪的。明廷也不可能贸然对福建动手。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而如果最终大清取了天下，郑芝龙便可以摇身一变成为功臣。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这脚踩两条船的如意算盘打的好啊。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;归根到底，还是因为郑芝龙或者说郑家的实力太强。无论是明廷还是清廷都想尽力的争取。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于脚夫、力棒在天津发动的叛乱，却是让多尔衮气不打一处来。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这些最低等的贱民平日里驯顺的如同羔羊一般，眼下竟然为了抢夺米粮冲清军动手。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若不是博洛处变得体，及时命旗兵炮轰压住了这些贱民的气势，后果真是不堪设想。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;细细一想多尔衮还是觉得地方上对于这些贱民的管理太松了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果把这些人当作牲口一样管理，他们肯定再不敢闹出乱子。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;该动刀子的时候动刀子，该杀的时候就要杀，一定不能心慈手软。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于组建、训练水师一事嘛自然也得提上日程了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多尔衮不惜写一封亲笔信，命人送到福建交给郑芝龙。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多尔衮倒也不需要郑芝龙直接卖船，这样太过明显，只需要他提供一些造船的工匠即可。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这些人就算多尔衮向郑芝龙买的。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;博洛这次给多尔衮留下了极好的印象，比那个无用自大的勒克德浑要强多了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;多尔衮甚至感到有些后悔，如果当初是派博洛统兵攻打临清，结果会不会就不一样了？ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然现在再想这些没有任何的意义，多尔衮只能在今后的作战中多培养博洛这样的年轻人。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;毕竟多铎、阿济格这一辈后还需要爱新觉罗家有新人顶上啊。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺这几日可算是忙的焦头烂额。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他从未想过结婚也能把人耗的心神俱疲。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;光是一整套的仪式走下来整个人就像脱了一层皮似的。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;好在皇后也算知礼，所有场合都很配合，并没有出什么岔子。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于大婚后必行的敦伦之礼嘛倒也没有太多可说的。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;姿势、动作都被规定好了，一丝一毫都不能偏差。屋子里还有记录起居注的，怎么也兴致高不起来。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺更多的是完成一个帝王、丈夫的义务，为皇明开枝散叶。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;倒是皇后桐棠有些害羞。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;毕竟是女儿家的第一次，整个过程眼睛都是闭着的，任由朱慈烺播撒雨露。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不过第二日后情况就好了许多。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;皇后甚至主动为朱慈烺更衣。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺也没啥可奢求的。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;古代尤其是帝王的婚姻基本都是如此，实用性是第一位的。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;两个素未蒙面的人走到一起结为夫妻，便要牵着手走完下半辈子。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那种微服私访遍地拈花惹草留情留种的情况，恐怕只能在戏文小说狗血言情剧中出现。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺对皇后只有一个要求，那就是尽快怀上他的孩子。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;最近朝中官员上的奏疏中说的最多的就是天子无皇嗣，朱慈烺争了几次也懒得再争，索性赶紧完成任务堵住这些人的嘴。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他的第一个孩子一定得是中宫所出。这是因为按照大明祖制嫡长子会被立为太子。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在立嫡还是立长这个问题上明朝皇帝一直都很坚决，那就是有嫡立嫡无嫡立长。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;之所以这样是为了防止皇子之间为了争夺皇位自相残杀。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;从实际效果来看也很不错。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;除了个别几朝，基本上大明的皇权更迭都是很平稳的。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺当然也无意于改变这一点。他更相信能力是后天培养锻炼出来的，而不是取决于天资。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;将来皇太子的培养他是要亲自过问的，绝不能假借妇人、腐儒之手。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;今日早朝之后朱慈烺并没有返回内宫而是去了工部。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;工部尚书高弘图率领工部官员到官署之前迎驾。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺赐他们平身之后便把高弘图叫到身边问道：“高卿啊，朕命你做的那水车做的怎么样了？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高弘图连忙拱手答道：“启禀陛下，水车还有一些细节要处理，不过大体样子是做出来了。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;原来前几日朱慈烺将亲手绘制的水车图稿送到了工部，命高弘图全权负责造制事宜。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高弘图对这种情况早就习以为常，丝毫没有惊讶，当即组织人手开始造制。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;以往天子亲绘手稿，工部照着做出的东西都被证明大有用处。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这一次应该也不会有例外。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;稍有区别的是，以往工部造的都是为了军队所用，而这一次显然是要供农户灌溉所用了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;事实上水车灌溉在本朝之前就已经使用，只不过受限于技术条件一直没有大规模的推广。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;皇帝陛下绘制的手稿，显然对以往的水车结构做了不小的调整，高弘图十分期待水车实际造好后的使用效果。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哦？那快引朕去看看。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺也是来了兴致，背负双手淡淡笑道。
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>