<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第二十三章 治贪</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第二十三章 治贪
</div>
<div class="bookname">
	<h1>第二十三章 治贪</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;朱慈烺回宫后当即召锦衣卫指挥使赵信、东厂提督刘传宗觐见。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他之前命二人查脏查贪时已是下定决心。如今大明病入膏肓，其中最要命的便是官员贪腐。如果不肃整朝纲，遏制贪腐大明是不可能中兴的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;二人行礼叩见后朱慈烺便发问道：“事情查的怎么样了？朕的这些公忠体国的臣子们可都是家财万贯，富可敌国？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵信与刘传宗对视了一眼，沉声禀奏道：“启禀陛下，经微臣所查，勋臣之中以忻城伯赵之龙贪墨最甚，其家财逾一百三十万两。书画、珍宝不计其数。其余勋贵也大抵如此，魏国公徐文爵家财九十万两，保国公朱国弼家财七十万两，隆平侯张拱日家财六十万两。其余勋贵家财超过二十万两的还有临淮侯李祖述，怀宁侯孙维城，灵壁侯汤国祚，安远侯柳祚昌，永昌侯徐宏爵，定远侯邓文囿，项城伯常应俊，大兴伯邹存义，宁晋伯刘允极，南和伯方一元，东宁伯焦梦熊，安城伯张国才，洛中伯黄九鼎，成安伯郭祚永”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;赵信将一长串名字一口气说完，下意识的垂下头去。在他看来天子得知大明有这么多贪腐的勋贵一定会雷霆暴怒。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可他等了许久都没有等到朱慈烺的咆哮。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“大明立国之初，太祖、成祖大封勋臣，以奖赏他们对国家的贡献。谁知两百多年下来，这些勋臣之后并没有像他们祖辈那样尽忠国事，而是争着抢着挖大明的墙角。殊不知覆巢之下安有完卵，他们把大明挖倒了，还能享受到现在的荣宠？看来朕是该动一动刀子了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺又将目光投向刘传宗，淡淡道：“刘伴伴，该你说了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘传宗连忙答道；“禀奏皇爷，经奴婢所查，文官之中，贪墨最多者为左都御史王铎，据初步估算应有五十万两，其余贪墨官员还有侍郎朱之臣、梁云构、李绰等。另，另”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺冷笑一声道；“另什么？直说。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“奴婢遵命。”刘传宗深吸了一口气，进而说道：“经奴婢所查，许多已经致仕、去职的官员贪墨尤甚，其中以前礼部侍郎钱谦益为首，贪墨超过四十万两”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;钱谦益吗？这个名字还真是不陌生啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;作为前世的明史教授，朱慈烺对于钱谦益当然十分了解。这位留下‘水太凉’，‘头皮痒’的东林党魁和一干勋臣一起毫不犹豫的献出南京城，作为降清的投名状，名字赫然列在满清编写的《贰臣传》里，连他的满清主子都看不起他。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于其贪墨了超过四十万两银子，朱慈烺一点都不觉得奇怪。早在崇祯初年的时候，钱谦益主考浙江，考生钱千秋舞弊案震惊朝野。这厮将‘一招平步上青云’作为暗号写在了文章末尾作为暗号，却被人发现，最终直接责任人考场官员金保元、徐时敏被严惩，崇祯在文华殿亲自质询钱谦益，最终将其撤职。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;从另一个角度看，钱谦益也一定是家财不菲的。不然，他怎么可能给当时的名妓柳如是赎身，且在虞山盖了华丽无比的“绛云楼”和“红豆馆”？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在原本历史中，钱谦益在弘光朝被拜为礼部尚书，但在这个时空，朱慈烺却并没有起复他，故而钱谦益现在还是白身。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺之所以那么急着让郑成功离开国子监去读皇明军校，除了将其拉拢为嫡系外，最大的原因便是使其免受钱谦益的影响。毕竟钱谦益是东林党魁，名望甚厚，又是郑成功的老师，只要郑成功在国子监一天，就多少会受到钱谦益的影响。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“徐州总兵高杰即将领兵赴山东。朕明日朝会之上便会请诸位臣工捐银助饷。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺一字一顿的说道，面色冷若寒冰<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;翌日，奉天殿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺在朝堂之上宣布了命徐州总兵高杰率军前往山东驻防的决定。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;圣旨刚一下达，就引起了渲染大波。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;左都御史王铎手持笏板出班奏道：“陛下，此举万万不可啊。山东如今乃虎狼之地，高总兵区区四五万人马，怎么可能驻防的过来？若每处府治都要留兵驻防，则等于处处不设防啊。陛下请三思！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;兵部侍郎梁云构也出班奏道：“陛下，正所谓兵马未动，粮草先行。山东虽然距离徐州不远，可四五万人马一天人吃马嚼也耗费甚巨，国库可拨的出这么多军饷？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺嘴角微微扬起道：“国库存银已不足百万两，还要维持江淮守军的日常训练花费，不可轻动。故而朕已决定，高总兵增援山东之师的军饷，由诸位卿家募捐而得。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺此话一出，朝堂之上立时炸了锅。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一众平日里‘公忠体国’的臣子纷纷抱怨了起来，虽然理由千奇百怪，但归结为一句话那就是‘没钱’。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺冷眼旁观着这一切，并没有立即打断。等到他们闹得差不多了，清了清嗓子道：“朕会从内帑之中拿出十万两，诸位爱卿准备捐出多少？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;明代内帑和国库从来都是分开的，简单的说国库是国家的储备库，内帑是皇帝的小金库。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但也不是完全彻底的分开。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;譬如万历朝的时候，神宗皇帝就从内帑之中拿出大量银两奖赏有功的将士，崇祯朝的时候京营的军饷也是由内帑来出的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但这毕竟是皇帝的私房钱，如今天子明确表示会拿出十万两内帑银，若是他们这些国之栋梁再没有丝毫表示，也太说不过去了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;左都御史王铎身为都察院之首自然是避不过去的，他手持笏板冲朱慈烺一礼道；“老臣愿意捐银一千两，以助军饷。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺面色不改道：“总宪公忠体国，为君分忧，朕心甚慰。来人呐，记下来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;有了王铎的这第一步，其余文武官员也纷纷“慷慨”的认捐起来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“臣捐银五百两”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“臣捐银三百两”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“臣捐银六百两”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“臣捐银三千两！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;忻城伯赵之龙手持笏板出班一步，气势十足的说道
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>