<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第三百一十一章 贱如蝼蚁（第一更！）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第三百一十一章 贱如蝼蚁（第一更！）
</div>
<div class="bookname">
	<h1>第三百一十一章 贱如蝼蚁（第一更！）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;妈呀！ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孙二娃差点惊呼出声。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他的第一反应是跑，可两条腿也不知怎的就是不听使唤。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这些大西军士兵一个个凶神恶煞就像索命的恶鬼。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孙二娃心里是崩溃的，下意识的眼一闭认命了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;过了没多久，他的双手便被麻绳绑好，拽着往前走去。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孙二娃十分清楚他这是被抓去做夫子了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他睁开眼睛用余光一瞥，发现身边有很多同样被抓去的人。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只是突然之间怎么会有这么多大西军士兵出现在建昌？又为什么会抓这么多夫子？ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;难道说要打仗了？ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孙二娃下意识的打了个寒颤，整个人都不好了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果真的要打仗，那被抓去的夫子肯定是九死一生啊。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;壮丁、夫子说的好听些是辅兵，说的难听了就是可以被任意驱驰牺牲的牛马。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;最脏最累的活都要他们干，遇到敌军冲在最前填壕做炮灰的也是他们。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;战兵肯定是最珍贵的，至于辅兵死光了再抓一批就是。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;建昌城里的百姓显然也意识到了这点，纷纷跑回家去紧闭门窗。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;街道上顿时变得冷清起来，就连地痞流氓都不见了踪迹。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“他妈妈毛，咱老子是瘟神还是怎的，这一个个跟见了鬼似的。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一名大西军将领骂骂咧咧了几句，大手一挥道：“给老子搜，挨家挨户的搜。十五以上六十以下男丁一概带走！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;大西军抓壮丁的方式近乎残暴，别管是不是家中独子，是不是唯一的壮劳力只要符合条件就一定会被抓走。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孙二娃眼睁睁的看着一众如狼似虎的大西军士兵四散开来前去抓人。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他眼珠子一转冲那将领笑道：“这位军爷，敢问怎么称呼？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那将领扭过头来一看，见是一个被捆住双手的夫子发声直是一愣。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“问这么多作甚？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孙二娃咽了口吐沫道：“小的会做饭，能干杂活，愿意为军爷效命。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孙二娃的脑子还是很灵光的。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;既然肯定逃不走了那一定要争取一个相对好一些的职位。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果真的做最底层的辅兵，恐怕他活不过三个月。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你会做饭？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那军将挑了挑眉，傲声问道。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“是的，小的不但会做饭，还会烤些野味，军爷便收了我吧。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那军将确实有些心动。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;军营之中的饭实在是难吃。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;大锅饭讲究的是量足，至于味道嘛就不用说了，淡出个鸟来了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果能把此人收下开个小灶，啧啧。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“咱老子姓张，弓长张，单字一个安。是豹字营的参将。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“啊，原来是张参将。小人拜见张参将。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孙二娃立刻跪倒在地纳头便拜。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“小人被捆缚住双手不能施全礼，还请张参将恕罪。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“罢了。咱老子看你小子还算激灵，便留你在身边了。对了你叫个啥？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“小人贱名孙二娃，入不得张参将耳。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“什么入得入不得的，你以为是弄女人呢。以后你就跟着咱老子混了，伺候舒服了咱老子，保你吃香的喝辣的。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张安放肆的大笑了几声，继而给孙二娃松了绑。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他倒是不担心孙二娃逃跑。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如今建昌城里到处都是大西兵，他就是跑又能跑到哪儿去？ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若是被抓回来了轻则是一通鞭子，重则直接处死，此人又不傻何必冒这个险。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“张参将，小人斗胆问一句，咱这是要去哪儿打仗？” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“问那么多作甚，做好你自己的就行！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张安狠狠瞪了孙二娃一眼，厉声道：“既然你在我身边做事了便得懂规矩守规矩，要不然小心你的舌头。咱老子割了你的舌头你一样能做饭！” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孙二娃吓得一个激灵，连连道：“是小人多嘴，小人再也不敢了，小人一定改。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哼，这还他娘的差不多。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张安撇了撇嘴道：“做好自己的事，咱老子不会亏待你的。” <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;却说大西军的士兵进入各条小巷子中便挨家挨户的搜了起来。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那些锁上大门的也无济于事。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;大西军士兵粗暴的踹开了大门破门而入。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;看到妇孺抱在一起哭泣他们也不理睬，直接冲进屋子里搜查。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;反应快些的，已经叫男人翻墙跑了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;跑不掉的就躲在了床下面。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可这如何能够瞒得过去，很快这些人便被从床底拽了出来。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们被麻绳捆住双手粗暴的朝外赶去，妻子冲大西军的士兵拼命磕头请求放了自家男人。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但这些大西军士兵就好似木头人一般无动于衷，一点感情都没有。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;开玩笑，若是放了这些壮丁，谁给他们去做苦力，谁给他们拉车搬辎重，谁给他们做替死鬼？ <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;到了巷子口，这些壮丁被用麻绳串成一串驱赶着朝外走去，遇到不听话的便狠狠踹上一脚，总之是打服了打听话了为止。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;孙二娃见一串串被串成蚂蚱一样的壮丁低垂着头朝牌坊这边走来心里很不是滋味。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;都是命苦的人呐，咋就遇到大西军这帮土匪了呢。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;没办法，孙二娃不会多说什么。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在这乱世他能做的也只是尽可能的保全自己。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所谓死道友不死贫道，既然一定要有人做出牺牲，那还是让别人来吧。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张安见抓的壮丁差不多了，大手一挥示意回营。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;豹字营是由张安全权负责的，故而这些抓来的壮丁也肯定会分到豹字营中去。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;按照张安的经验，一开始这些壮丁中会有想要逃跑的，这个阶段必须严加看守，抓到逃跑的壮丁必须予以严惩。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;张安一般会在众人面前直接将逃跑的壮丁处死，脑袋砍下来挂在旗杆子上示众。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这便是告诫那些想跑的人，但凡被抓住就是这个下场。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这么来上个三五次，便不会再有人想跑了。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;留在军中还有活命的希望，逃跑肯定是一个死字。如何抉择他们心里有数。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然，有一些壮丁会过得不错。比如说张安留在身边的孙二娃。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这是张安当做私人使唤的，太重的脏活累活不太会让他干。但其他人就是当牛马用了，用到再也站不起来用到咽气为止。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;谁让他们天生命贱呢。 <br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在这乱世若想不被人杀就得去杀人，绝不能有一丝犹豫。
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>