<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第五十五章 德州血战（一）</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第五十五章 德州血战（一）
</div>
<div class="bookname">
	<h1>第五十五章 德州血战（一）</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;（感谢书友飘空游的300币打赏。求推荐票~）<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;越来越多的壮丁倒在了护城河前，觉罗巴哈纳却没有一丝一毫的触动。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这些抓来的壮丁最大的用处便是填壕。只要把护城河填平了，他们的任务便完成了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;此刻已经有部分河段被沙袋填平，觉罗巴哈纳却并不着急。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他要等石廷柱的汉军镶红旗先发动进攻。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;觉罗巴哈纳这么想，石廷柱又如何没有自己的小算盘？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不论是满八旗还是汉八旗，旗兵数量的多寡都直接决定了固山额真的地位。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若是这次石廷柱带来的两千多名汉军镶红旗士兵折损严重，那么他在八旗中的地位也会随之下降。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;强者为尊，这是所有旗人都必须遵循的原则，就连摄政王也不能例外。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说句大不敬的话，摄政王之所以可以代皇帝坐在紫禁城中发号施令，不就是因为他和多铎、阿济格三兄弟手中的旗兵最多、最强吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;石廷柱是有心保存实力的，可惜他统率的是汉军旗，重要性与根正苗红的满军旗无法相比。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;既然填壕的壮丁死的差不多了，自然该汉军旗先发动冲锋，这样满洲旗人的损失便可以降到最低。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然，觉罗巴哈纳也不会等到石廷柱部完全攻到城头才派兵攻城，只要汉军镶红旗的士兵牵制了城西守军的注意力，他便会命满洲正蓝旗的勇士们对北门发起猛攻。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;低沉的海螺号声响起，汉军镶红旗的旗兵扛着简易排梯踩着沙袋冲过护城河，向城墙下靠去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在这个过程中，他们遭到城头明军的猛烈射击。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如蝗的羽箭一轮轮的射下，汉军镶红旗的旗兵纷纷举盾去挡。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;大部分的箭矢经过格挡泄了力道滑落至地面，但仍有一些流矢射中旗兵的臂膀、大腿。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;汉军旗的甲胄配备不如满军旗，但比无甲的壮丁肯定是要好太多了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这些流矢并没有对清军士兵造成致命伤，一些悍勇的旗兵甚至直接将箭矢拔出。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;西城城头上的副将何荣见此景象大吼道：“还愣着干什么，快准备好滚木、礌石。金汁烧的如何了？把铁锅都挪到垛口，鞑子一爬上来便给老子浇下去！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;作为原淮安巡抚标营的统帅，何荣还是有一定统兵能力的。但他此前从未组织过一次城池守卫战，哪怕只负责一侧城墙，是以此刻他稍显慌乱。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在巡抚标营士兵的敦促下，乡兵们纷纷将滚木、礌石挪到垛口边上，只待主将一声令下，就砸将下去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;德州城中的武备库还是很充盈的，故而每一名乡兵都分到了一套棉甲，一柄腰刀，一杆长枪，一副双插。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这些兵器装备或许在边军中并不显眼，但对于使用木矛的淮安乡兵来说，绝对算是尖货了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们此刻心情既兴奋又紧张，不时从垛口探出脑袋，想要亲眼看看在秦将军口中凶神恶煞的鞑子究竟长得什么模样。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;城头下汉军镶红旗的旗兵们已经在西城城墙上搭好了十几面简易的排梯开始蚁附攻城。与此同时十几名身强体壮的清兵抱着一根刚刚砍伐下来的撞木快速朝西城城门冲去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“还愣着干什么，快扔滚木礌石！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;见这些乡兵还在发呆，何荣便觉得气不打一处来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;要是让清兵攻上了城头，可是极为棘手的。乡兵虽然人多，但都是新兵蛋子。清兵只要在城头杀掉几十人，便可以引起极大的恐慌。到了那时便是他率领巡抚标营老兵弹压恐怕也控制不了局势。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;是以何荣要做的就是不让一个鞑子登上城头！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;乡兵们虽然缺乏战斗经验，但胜在服从指挥。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他们两两一组将堆积在垛口旁的滚木、礌石抬起，狠狠朝沿着排梯攀爬上来的清军士兵砸去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;噗！<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一名汉军镶红旗旗兵正在闷头攀爬，一块磨盘大小的礌石从天而降，生生砸在了他的胸口上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那名旗兵可以清晰听到自己肋骨断裂的声音，一口鲜血喷出老高，随即身子一软从排梯上跌了下去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;相较于礌石，滚木显然更为好用。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一根滚木从城头砸下，将三处排梯上的清兵一齐扫中，这些清兵就像散落的绿豆一样哀嚎着跌落下去。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“哈哈，砸他娘的，砸死这帮鞑子。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;滚木礌石的作用是显而易见的，汉军镶红旗第一轮凶猛的攻势被压了下去。但何荣却没有一丝一毫的兴奋，他知道清军绝不会如此脆弱，还会有更猛烈的攻势等着他们。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;果然，在稍作休整后，清军又发起了一轮攻势。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而此时城头预备的滚木礌石已经消耗的差不多了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;何荣一方面命乡兵火速去城下搬运，另一方面令麾下将士把烧好金汁连锅浇下。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所谓金汁并不是指的融化状态的金子，而是粪汁。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;把粪汁烧沸之后从城头浇下，凡是被浇到的人一定会皮开肉绽浑身起泡。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;由于粪汁中有许多细菌，即便被浇到的敌军士兵没有立即毙命，也一定会感染而死。这就是金汁比沸油厉害的地方。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;此刻明军把一锅锅烧的滚沸的金汁浇灌而下，无疑给了蚁附攻城的清兵极大打击。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不少清兵被烫的哇哇大叫，黄白之物糊了一脸，直是十分狼狈。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;但金汁数量有限，浇完之后明军只得改为浇沸油。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一锅锅滚烫的沸油浇了下去，顷刻间便听到刺啦啦的声响，接着便传来烧焦人肉的味道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一大片本已快攀到城头的清兵被浇中径直跌了下去摔成肉泥。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在不远处小土丘上督战的石廷柱见状面色铁青。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;大清从来都不擅长攻城战，在辽东时也多以围城为主。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;相较于武力攻城，用间是个更好的选择。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;只要提前在城中安插内应，让他们在清军攻城时散播谣言制造恐慌，就可以极大的动摇守城军队的军心，若是能够趁乱打开一扇城门，那城池也就不攻自破了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这招屡试不爽，石廷柱自然不可能不知道。但此次他们出征山东太过仓促，来不及安插内应进德州城。而且看德州城城门紧闭的样子，城中守军似乎很早就做好了准备。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这仗有些难打啊
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>