<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第十八章 神策军</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第十八章 神策军
</div>
<div class="bookname">
	<h1>第十八章 神策军</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;高杰虽然有些震惊，但还是努力使自己的心情平复下来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“此事陛下当乾纲独断，臣岂敢妄言？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺微微颔首道：“朕想让高卿率军前往山东。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;不待高杰回应，朱慈烺继续说道：“山东地理位置极为重要，进可攻退可守，乃兵家必争之地。朕思前想后，觉得唯有高卿有能力统帅大军驻守此地。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰连忙谢恩道：“臣多谢陛下信任，一定收复山东，不辜负陛下重托。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺又给高杰允诺，表示只要他能守住山东，朝廷便会给他赐爵，封伯甚至封侯都不是问题。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺之所以选择高杰出师山东，也是经过深思熟虑的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;首先，高杰这个人还是颇有骨气的，历史上就是因为北伐死在了睢州许定国手上。后者杀掉高杰后立即投了满清。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以，朱慈烺完全不必担心高杰会投靠满清。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;至于高杰投靠李自成，就更不可能了。高杰拐走了李自成的小妾邢夫人，给李自成带了一顶大大的绿帽子，这一点只要是个男人就不能忍吧？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;现在天下呈三足鼎立之势，排除了其他两种可能，高杰也就只能依附明朝。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然，用高杰接管山东也只是权宜之计。等到朱慈烺训练好新军，肯定是会慢慢替换这些旧式军阀的。但在此之前，他也只能倚靠这些军阀。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;说到底，还是苦于手中无兵啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;作为君王朱慈烺不可能对高杰完全信任，选择一人对其制衡是必不可少的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺心中已经有了人选。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“朕决议调淮安团练总兵秦拱明与高卿同行，这样高卿在山东布防起来也游刃有余一些。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如果说这天下还有谁绝对忠于明室的话，那么非秦家莫属。秦拱明手下的老川军白杆兵虽然只剩下五百人，但却是绝对的精锐。至于路振飞巡抚标营的一千人，朱慈烺也准备让秦拱明一并统领。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;剩下的那两万名乡兵，虽然战斗力肯定不如营兵，但朱慈烺还是准备叫他们开赴山东。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这些乡兵野战能力不足，但守城足矣。此时山东全省都被济王收复，朱慈烺要做的只是叫人接收城池罢了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;当然，如果历史还按照原本发展的话，多尔衮很可能会派一支偏师南下山东。但这只偏师的人数不会太多，正好让这些乡兵见见血，历练一番。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“臣遵旨。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰当然明白朱慈烺这么安排是为了制衡他，但身为人臣他能做的只有遵命。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“朕如果没有记错的话，元照今年应该年满十五了吧？朕想让元照到皇明军校读书，不知高卿意下如何？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺话锋陡然一转，又说到高杰儿子高元照的身上。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰没想到朱慈烺还知道自家儿子的名字，直是感动不已。他连忙跪倒在地叩头道：“臣替犬子谢陛下隆恩。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这个皇明军校之前他也有所耳闻，据说是皇帝陛下钦点成立的官学，类似于培养文官的国子监，是用来培养高级军官的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;而且这皇明军校的校长就是皇帝陛下本人，若是能够进到皇明军校读书，那就是名副其实的天子门生了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在这个时空，高杰并没有像原本历史那样被封为兴平伯，故而高元照也不是什么兴平伯世子，不过是个普通的总兵之子罢了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在这种情况下高杰当然要费些心思为儿子铺路，只是不曾想这么一个好机会主动送上门来了。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰也明白天子叫他的儿子留在南京读皇明军校，其实也有做人质的意思。但历朝历代，武将之子不都是留在京师做质子吗？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;既然他没有反心，又何必顾忌这些呢？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;再说陛下已经允诺，只要他替朝廷守住山东，便会给他赐爵。一想到自己有机会封侯，高杰便兴奋不已。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺上前虚扶起高杰道：“高卿何必如此多礼，虎父无犬子。朕相信元照将来一定能像高卿一样为大明立下赫赫战功的。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;闻听此言高杰心中最后一丝疑虑也一扫而空，泣声道：“吾皇圣明，臣阖家上下愿为陛下效死命！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;南京京营。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;路振飞眉头紧蹙，望着校场上集结起来的这五千来士兵，长长叹了一口气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他料到京营将领会吃空饷，喝兵血，却不曾想会严重缺额到这个地步。即便是剩下来的这五千多士兵也都十分一般。京营本该是大明最精锐的军队，如今却是这般景象，怎能不叫人痛心？<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;好在陛下高瞻远瞩，叫他主持编练新军一事。不然仅靠这些京营士兵肯定是一场硬仗也打不了的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在校场的另一边，排起长队的应征新兵一个个的接受登记。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;按照皇帝陛下的要求，并非所有报名者都会被录用，路振飞他们要做的就是甄别挑选合适的苗子。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;天子有严令，所募新兵必须是身世清白吃苦耐劳的良家子弟。那些地痞无赖，街头混混是绝不能进入新军的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这些新兵登记后并不会立即获得正式编制，而是会进行一轮集训。只有通过集训的才能留下来成为神策军的一员。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你叫什么名字，是哪里人？为什么要应征营兵？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;征募士兵的小吏熟练的问起问题。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我叫刘三水，应天府人。爹和娘都饿死了，便想投军混口饭吃。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;桌案后面，一个十五六岁，面黄肌瘦的少年怯怯的说道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他衣衫褴褛，头发污垢不堪，但眼神却十分有神，让这征募士兵的小吏眼前一亮。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“你可知这次征募编练的新军名为神策军，是要由天子亲领的。若是有士兵表现不佳，定会受到严惩。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“我不怕吃苦，我愿意报效朝廷。一切为了大明，为了圣上。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘三水鼓起勇气把准备好的话一股脑儿的抛了出来，用恳切的眼神望着这小吏道：“求求您，就让我报名参军吧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那小吏点了点头，把刘三水的名字登记在了名册上，沉声说道：“你通过初选了，领一套训练服，去校场东边集合，会有人安排你的住处。现在你还不是神策军的一员，只有通过了一个月的集训，你才能留下来。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘三水咬了咬嘴唇，点头道：“谢谢大人提醒。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;那小吏心头一暖，嘴角勾起一抹微笑：“下一个，继续！”
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>