<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第九章 高杰</title>
	<LINK href="C:/Users/Administrator/Desktop/zerojogo.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="C:/Users/Administrator/Desktop/zerojogo.js"></script>
</head>
<body>
<div id="wrapper">
<div class="header">
<div class="header_logo"><a href="www.baidu.com" width="250px">logo</a></div>
<script>list_panel();</script>
<div class="header_search">
	<form name=form" action="http://zhannei.baidu.com/cse/search" id="sform" target="_blank">
		<input type="hidden" name="s" >
		<input type="text" name="q" class="search" id="wd" baidusug="2">
		<button id="sss" type="submit">搜索</button>
	</form>

</div>
</div>
<div class="nav">
<ul>
<li><a href="http://www.ouoou.com/">首　页</a></li>
<li><a href="http://www.ouoou.com/xuanhuanxiaoshuo/">玄幻小说</a></li>
<li><a href="http://www.ouoou.com/xiuzhenxiaoshuo/">修真小说</a></li>
<li><a href="http://www.ouoou.com/dushixiaoshuo/">都市小说</a></li>
<li><a href="http://www.ouoou.com/chuanyuexiaoshuo/">穿越小说</a></li>
<li><a href="http://www.ouoou.com/kongbuxiaoshuo/">恐怖小说</a></li>
<li><a href="http://www.ouoou.com/wangyouxiaoshuo/">网游小说</a></li>
<li><a href="http://www.ouoou.com/kehuanxiaoshuo/">科幻小说</a></li>
<li><a href="http://www.ouoou.com/qitaxiaoshuo/">其它类型</a></li>
<li><a href="http://www.ouoou.com/lastupdate/">全部小说</a></li>
<li><a href="http://m.ouoou.com/ou_31534/24430324.html" target="_blank">手机阅读</a></li>
</ul>
</div>
<div class="box_con">
<div class="con_top">
<script>textselect();</script>
当前位置：<a href="http://www.ouoou.com">zerojogo</a> &gt; <a href="/chuanyuexiaoshuo/">玄幻小说</a>  &gt; <a href="/ou_31534/" title=振南明+"最新章节列表">振南明</a> &gt;  第九章 高杰
</div>
<div class="bookname">
	<h1>第九章 高杰</h1>
	<div class="bottem1">类型：<a href="/chuanyuexiaoshuo/">玄幻小说</a> <a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a> 作者： 一袖乾坤</div></div>
<div class="ad"><script>read1();</script></div>
	
<div id="content" name="content">
	
  &nbsp;&nbsp;&nbsp;&nbsp;路振飞听到“高杰”二字不由得皱起眉来。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;一旁的朱慈烺却是神态自若，仿佛什么都没有发生。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“殿下，这高杰一路溃败至淮安，臣无论如何不会让他进城。前几日山东总兵刘泽清也溃逃至淮安，想要进城，被臣一番责斥，灰溜溜的绕道去扬州府了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;路振飞稍作思忖便冲朱慈烺拱手道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺微微颔首，笑道：“这淮安府的事宜自然该由皓月公决断。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;路振飞立时明白了，太子殿下是不想掺这池浑水啊。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“臣明白，这就打发他们走。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;路振飞喜声道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“且慢！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺摆了摆手。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;路振飞微微一愣，愕然道：“殿下？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“皓月公打算让高总兵去哪处府县驻扎？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“这只要不是在淮安府辖境内，他去哪处都可以。凤阳府、庐州府、扬州府”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;路振飞的底气显然不是很足，说到后面声音已经微若蚊呐。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺心中一叹，感慨道：“高总兵所领皆是溃兵，不论去往何处总归是难以维持军纪的。世人言‘贼过如梳，兵过如篦’，孤实在不愿意看到这种事情发生。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“殿下仁厚，臣惭愧。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;路振飞立时涨红了脸。和太子殿下比起来他确实太小家子气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;听朱慈烺说了这一番话路振飞算是明白了，原来太子殿下之前说的让他全权决断不过是个场面话，实际上心中已经有了计较。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;路振飞不敢再忖度东宫心意，索性打开天窗说亮话。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“不知殿下可有万全之计？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺微微笑道：“万全之计不敢说，不过可以保淮安一府百姓安居。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他稍顿了顿，嘴唇翕动道：“就让高总兵部驻扎在淮安城外，军饷就遵从客军之例好了。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“殿下！”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;听到这路振飞面露忧色道：“高杰部是溃军，怎可遵从客军之例？”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;他心道若真是遵从客军之例，高杰这几万人马的军粮都得淮安府出，人吃马嚼一天耗费甚巨，时间短了还好说，若是时间长了，他也受不了啊。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺挥手向下压了压，示意路振飞不要激动。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“孤敢向皓月公保证，少则十日，最多半月，高总兵部便可调离淮安府。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;路振飞喉结微微耸动，犹豫了良久才叹声道：“臣遵殿下令旨。”<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺也终于长松了一口气。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若是路振飞抵死不从，他这个皇太子也是没有任何办法的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;事实上，他让路振飞把高杰部约束在淮安府，并不单纯是害怕高杰部祸害抢掠百姓。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;历史上南明江北四镇中，高杰和刘泽清都是望风而逃的溃将，黄德功原本就驻守在庐州，刘良佐本驻扎在河南正阳，受马士英之邀才进驻南直隶。四镇中高杰和刘泽清属于丧家之犬的类型。若不是他们见风使舵拥立福王朱由崧，是根本不可能封伯的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;刘泽清已经去了扬州，高杰还没有地方驻扎，这个时候朱慈烺若能略施恩惠让他待在淮安，高杰多少会存些感激。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺倒不怕高杰借拥立之功变成割据军阀。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;毕竟他是正宫太子，是继承帝位的不二人选。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;四镇之所以可以借拥立弘光飞黄腾达，是因为朱由崧对其余藩王并没有绝对的优势，潞王、桂王都有机会。而朱慈烺只要坐镇南京，就一定可以继承帝位。谁若是敢提出异议，那才真的是谋反。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;所以高杰支持朱慈烺继承帝统只是锦上添花，朱慈烺完全不必要担心他会像历史上那样独成一镇。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;老实说朱慈烺确实看上了高杰这支军队。这支部队虽然是溃军，但因为经常和流贼战斗，还是有一定战斗力的。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;加之高杰本人是一员猛将，若能收服确是不小的助力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;若早早把高杰攥在手里，也是绝了其他藩王的心思。毕竟淮安府内暂住的藩王就有好几位，其中就有福王朱由崧。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺不仅占据道统，还要拥有实力，在乱世实力才是王道。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;高杰本人的经历颇有传奇色彩。他是陕西米脂县人，和李自成是老乡。李自成追随高迎祥造反之后他也跟着响应。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;因为作战勇猛，高杰颇得李自成的信任，一度做到了先锋将的位置。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;可高杰也不是一盏省油的灯。当时李自成的小妾邢氏负责老营的物资分发，涉及军粮、兵器种种。高杰定期会去找邢氏领用物资，时间一长高杰和邢氏看对了眼就私通了。他们担心事情败露遭到李自成的清算，便索性一不做二不休投了官军。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;洪承畴大手一挥把高杰部划到贺人龙麾下，高杰也充分体现出了光棍精神，跟着贺人龙绞杀流贼，很快就累功升迁。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;因为给李自成带了绿帽子的缘故，他是无论如何不可能再复降李自成的。至于降清，自然也没有多少可能。高杰这个人虽然暴虐了一些，但基本的民族气节还是有的。豪格曾经诱惑他投降，声称‘大者王、小者候、世世王者。”高杰根本不予理会。可以说高杰是牢牢和大明这艘大船绑在了一起。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;在原本历史中高杰甚至引兵北征，若不是他被许定国诱杀于睢州，南明北伐毁于一旦，整个南明局势或许会不同。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;四镇之中兵力最强的是黄德功、高杰部，巧合的是他们对明朝也是最忠心的。高杰死于睢州之变，黄德功更是在清军大举南下之时战斗到最后一刻，被部将所杀。至于刘良佐、刘泽清之流，不但暴虐成性，还不忠不义，清兵南下之后立即望风而降，甚至连抵抗一番做做样子都不肯。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;如今四镇尚未成立，朱慈烺自然要早早布局。在他看来，路振飞、秦拱明这样的忠直之臣自然要倚重，黄德功、高杰这样的也要巧用。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;这些猛将若是能用对地方，于大明也是一大助力。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;朱慈烺绝不愿意看到原本历史中清军南下，大肆屠城的场面，故而他要利用好能够利用的每一分力量<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;ps：高杰这个人虽然一身流寇作风，但民族大义还是有的，至少他敢于北上伐清，在四镇中和黄德功可以归为一档，比刘泽清、刘良佐要好多了。
</div>
<div class="bottem2"><a href="/ou_31534/">上一章</a>&larr; <a href="/ou_31534/" title="超神特种兵王最新章节列表">章节列表</a> &rarr; <a href="24430324.html">下一章</a></div>
</div>
</div>
</div>
</body>
</html>